{{#if isVisible}}
    <div class="czn-notification-item">
        {{#if item.inError}}
            <div class="czn-notification-message">{{t "lblSoftProofingProcessingError"}}</div>
            <div class="czn-notification-warning"><i class="fa fa-warning"></i></div>
        {{else}}
            <div class="czn-notification-message">{{item.msg}}</div>
            <div class="loading-icon"></div>
        {{/if}}
    </div>
{{/if}}
