﻿@using GMGColor.HtmlHelpers
@using GMGColor.Resources
@using GMGColorDAL
@using GMGColorDAL.Common
@model GMGColorDAL.CustomModels.ApprovalWorkflows.PhaseViewModel

@{
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
    Bundles.Reference("widget");
    Bundles.Reference("approvalPhase");
    Bundles.Reference("datetimepicker");
    GMGColorBusinessLogic.DbContextBL context = HttpContext.Current.Items[GMGColorDAL.DALUtils.DatabaseContext] as GMGColorBusinessLogic.DbContextBL;
}

<p class="breadcrumb">
    <a href="@Url.Action("ApprovalWorkflows", "ApprovalWorkflow")">@Resources.lblApprovalWorkflowsTitle</a>
</p>
<div class="widget-header">
    <h3>@(Model.IsCopyPhase ? Resources.lblCopyExistingApprovalPhase : (Model.ID > 0 ? Resources.lblEditPhase : Resources.lblAddNewPhase))</h3>
</div>

<!-- /widget-header -->
<div class="widget-content">
    <div class="row-fluid">
        @using (Html.BeginForm("AddEditApprovalPhase", "ApprovalWorkflow", FormMethod.Post, new { @class = "form-horizontal", @id = "phaseForm" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.HiddenFor(m => m.ID, new { @data_val = false })
            @Html.HiddenFor(m => m.ApprovalWorkflow, new { @data_val = false })
            @Html.HiddenFor(m => m.Position, new { @data_val = false })
            @Html.HiddenFor(m => m.IsCopyPhase, new { @data_val = false })

            if(Model.ID > 0){
                <div id="phaseDetailsPropagationMsg" class="alert alert-warning" role="alert">
                        @Resources.msgPhaseDetailsPropagation
                </div>
            }
            if (Model.IsCopyPhase)
            {
                <div id="approvalWorkflow" class="control-group">
                    <label class="control-label required">@Resources.lblExistingWorkflow</label>
                    <div class="controls">
                        @Html.DropDownListFor(m => m.SelectedApprovalWorkflow, new SelectList(Model.ApprovalWorkflows, "ID", "Name"), Resources.lblSelectOne)
                        @Html.ValidationMessageFor(m => m.SelectedApprovalWorkflow)
                    </div>
                </div> 
            }
            <div class="widget">
                @Html.Partial("_AddEditPhaseDetails", Model)
            </div>
            
            <div class="form-actions">
                <button id="savePhase" type="submit" class="btn btn-primary pull-right" data-text="@Resources.btnUploadSettingsSaveChanges" data-loading-text="@Resources.btnSaving">@Resources.btnUploadSettingsSaveChanges</button>
                    @Html.Image("imgSavingLoader", "~/Content/img/loading-icon.gif", @Resources.lblLoading, new { @class = "hide pull-right" }, 30, 30)
            </div>
        }
    <!-- /row-fluid -->
    </div>
    <!-- /widget-content -->
</div>
<!-- /widget -->