﻿@using GMGColor.Resources
@using GMGColorDAL.CustomModels
@model GMGColorDAL.CustomModels.ApprovalWorkflows.ApprovalWorkflowDashboardModel

@{
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
    Bundles.Reference("approvalWorkflow");
}

<div class="widget">
    <div class="widget-header">
            <ul class="widget-links">
                <li><a class="btn btn-primary" href="javascript:void(0)" onclick="$('#modalNewApprovalWorkflow').modal({ backdrop: 'static', keyboard: false });">@Resources.lblNewApprovalWorkflow</a></li>
            </ul>
        <h3>@ViewBag.Header @*<small>@ViewBag.HeaderSmall</small>*@</h3>
    </div>
    <!-- /widget-header -->
    <div class="widget-content">
        <div class="row-fluid">
            <div class="span3">
                @{Html.RenderAction("SecondaryNavigation", "Navigation");}
            </div>
            <div class="span9">
                @using (Html.BeginForm("ApprovalWorkflows", "ApprovalWorkflow", FormMethod.Post, new { @class = "form-horizontal dirtyignore", id = "formMain" }))
                {
                    @Html.AntiForgeryToken()
                    <div id="dvColorProofInstanaces" class="tab-pane">
                        @if (Model.ApprovalWorkflows.Count > 0 || !string.IsNullOrEmpty(Model.SearchText))
                        {
                            <legend>@Resources.lblApprovalWorkflowsTitle</legend>
                            <div class="well form-search clearboth">
                                <div class="input-append">
                                    @Html.Hidden("SearchText", "0", new { id = "hdnSearchText" })
                                    @Html.TextBoxFor(model => model.SearchText, new { id = "txtSearch", @class = "input-medium search-query" })
                                    <button id="btnSearchText" type="submit" class="btn cancel" name="action" value="SearchApprovalWorkflows" onclick="$('#hdnSearchText')[0].value = $('#txtSearch').val();">
                                        @Resources.btnSearch</button>
                                </div>
                            </div>
                            <div class="display-field">
                                @if (Model.ApprovalWorkflows.Count > 0)
                                {
                                    <div>
                                        <div id="errOccured" style="display: none;" class="validation-summary-errors">
                                            <ul>
                                                <li>@Resources.errServerError</li>
                                            </ul>
                                        </div>
                                        <table class="table table-striped table-bordered table-responsive resizable" id="workflowPhases">
                                            @foreach (var item in Model.ApprovalWorkflows)
                                            {
                                                <tr>
                                                    @if (item.HasPhases)
                                                    {
                                                        <td class="span10 accordion-toggle" id="@string.Format("trigger{0}", item.ID)" onclick="@string.Format("rowToogleWorkflow({0}, '{1}');", item.ID, @Url.Action("GetApprovalWorkflowPhases", new {workflowId = item.ID}))">
                                                            <i class="icon-caret-right icon"></i>
                                                            @item.Name
                                                        </td>
                                                    }
                                                    else
                                                    {
                                                        <td class="span10">
                                                            @item.Name
                                                        </td>
                                                    }
                                                    <td>
                                                        <div id="dvAction@((int)item.ID)" class="btn-group pull-right">
                                                            <a href="javascript:void(0);" data-toggle="dropdown" class="btn btn-mini dropdown-toggle ellipsisButtonList">
                                                                <i class="icon-ellipsis-horizontal"></i></a>
                                                            <ul class="dropdown-menu pull-right">
                                                                <li><a href="javascript:void(0);" onclick="renameApprovalWorkflow('@(item.Name)', @(item.ID), @(item.RerunWorkflow.ToString().ToLower()))" title="@Resources.btnEdit">
                                                                        <i class="icon-pencil"></i>&nbsp;@Resources.btnEdit</a> </li>
                                                                <li><a href="javascript:void(0);" onclick="$('#hdnApprovalWorflow')[0].value = @(item.ID);$('#modelDialogDeleteConfirmation_1').modal({ backdrop: 'static', keyboard: false });" rel="nofollow" data-method="delete">
                                                                        <i class="icon-trash"></i>&nbsp;@Resources.lblDelete</a> </li>
                                                                <li><a href="@Url.Action("AddEditApprovalPhase", new { selectedApprovalWorkflow = item.ID })" title="@Resources.lblAddNewPhase"><i class="icon-list-ol"></i>&nbsp;@Resources.lblAddNewPhase</a> </li>
                                                            </ul>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="hide" colspan="2" id="@string.Format("workflow{0}", item.ID)">
                                                        <img alt="Loading ..." height="30" id="@string.Format("imgWorkflowLoading{0}", item.ID)" src="@Url.Content("~/Content/img/loading-icon.gif")" width="30" />
                                                    </td>
                                                </tr>
                                            }
                                        </table>
                                    </div>
                                }
                            </div>
                            @Html.Hidden("selectedApprovalWorflowId", 0, new { id = "hdnApprovalWorflow" })
                            DeleteConfirmation deleteAccountConfirmation = new DeleteConfirmation(1, "DeleteApprovalWorkflow");
                            @Html.Partial("DeleteConfirmationDialog", deleteAccountConfirmation)
                        }
                        else
                        { 
                            <div class="row-fluid blank-state" visible="false">
                                <div class="span4 blank-state-icon">
                                    <i class="icon-th"></i>
                                </div>
                                <div class="span7">
                                    <h3>@Resources.lblAddYourFirstApprovalWorkflow</h3>
                                    <p>@Resources.lblYoyCanAddAsManyApprovalWorkflowsAsYouLike</p>
                                    <p>
                                        <a class="btn btn-primary" title="@Resources.lblAddYourFirstApprovalWorkflow" onclick=" $('#modalNewApprovalWorkflow').modal({ backdrop: 'static', keyboard: false });">@Resources.lblNewApprovalWorkflow</a>
                                    </p>
                                </div>
                            </div>
                        }
                    </div>
                }
                        
            </div>
        </div>
        <!-- /row-fluid -->
    </div>
    <!-- /widget-content -->
</div>
<!-- /widget -->


<div id="modalNewApprovalWorkflow" class="modal hide">
    @using (Html.BeginForm("AddEditApprovalWorkflow", "ApprovalWorkflow", FormMethod.Post, new { id = "formNewApprovalWorkflow", @class = "form-horizontal dirtyignore" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(mdl => mdl.ApprovalWorkflow.ID, new { @data_val = false, id = "hdnApprovalWorkflowId" })
        <div class="modal-header">
            <a href="javascript:void(0);" class="close" data-dismiss="modal" title="@Resources.btnClose" onclick="ResetModel();">&times;</a>
            <h3 class="create">@Resources.lblNewApprovalWorkflow</h3>
            <h3 class="rename hide">@Resources.lblEditApprovalWorkflow</h3>
        </div>
        @Html.ValidationSummary(true)
        <div class="modal-body">
            <div class="control-group">
                <label class="control-label">@Resources.lblName</label>
                <div class="controls">
                    @Html.TextBoxFor(mdl => mdl.ApprovalWorkflow.Name, new { @Value = Model.ApprovalWorkflow.Name })
                    @Html.ValidationMessageFor(mdl => mdl.ApprovalWorkflow.Name)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label rerun-workflow-label">@Resources.lblRerunWorklfow</label>
                <span class="pull-left rerun-info-message" style="font-size: large;" data-original-title="@Resources.lblRerunWorklfowInfoMessage" rel="tooltip">
                    <i class="icon-exclamation-sign"></i>

                </span>
                @Html.CheckBoxFor(mdl => mdl.ApprovalWorkflow.RerunWorkflow, new { @class = "workflow-checkbox" })


            </div>
        </div>
       <div class="modal-footer">
           <button class="create btn btn-primary" data-loading-text="@Resources.btnSaving" type="submit" >@Resources.btnCreateFolder</button>
           <button class="rename hide btn btn-primary" data-loading-text="@Resources.btnSaving" type="submit">@Resources.btnSave</button>
       </div>
    }
</div>