// --------------------------------------------------
// Core variables and mixins
// --------------------------------------------------
@import "../bootstrap/variables.less";
@import "../gmg-variables.less";
@import "../bootstrap/mixins.less";
@import "../ThemeVariables.less";

// --------------------------------------------------
// Theme base colors
// --------------------------------------------------

@sideMenuBarText: #049cdb;
@defaultMainMenuTextColor: #FFF;

// --------------------------------------------------
//Main Menu
// --------------------------------------------------

/*.navbar-inner a { color: @linksColor; }*/

/*.navbar-inner {
    border-bottom:0;
    #gradient > .vertical(@headerTopColor, @headerBottomColor);
      .box-shadow(0 1px 4px rgba(0,0,0,.20));
}*/

.navbar {
    color: @greenThemeNavbarText;

    .brand {
        color: @greenThemeNavbarBrandColor;
    }

    .navbar-link {
        color: @greenThemeNavbarLinkColor;

        &:hover {
            color: @greenThemeNavbarLinkColorHover;
        }
    }
}

.navbar-search {
    .search-query {
        color: @white;
        background-color: @greenThemeNavbarSearchBackground;
        border: 1px solid @greenThemeNavbarSearchBorder;
        .placeholder(@greenThemeNavbarSearchPlaceholderColor);

        &:focus,
        &.focused {
            color: @grayDark;
            background-color: @greenThemeNavbarSearchBackgroundFocus;
        }
    }
}

/*.navbar .nav > li > a {
  color: darken(@greenThemeNavbarLinkColor, 15%);  
}*/

/*.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  background-color: @greenThemeNavbarLinkBackgroundHover;
  color: @greenThemeNavbarLinkColorHover;
  text-decoration: none;
}*/

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
    /*color: @greenThemeNavbarLinkColorActive ~'!important';
  border-bottom:3px solid @greenThemeNavbarLinkBackgroundActive;*/
    color: @buttonTopColor ~'!important';
    border-bottom: 3px solid @buttonTopColor;
}

/*.navbar .nav li.dropdown > a:hover .caret {
  border-top-color: #FFF!Important;
  border-bottom-color: #FFF!Important;
}*/

.navbar .divider-vertical {
    background-color: @greenThemeNavbarBackground;
    border-right: 1px solid @greenThemeNavbarBackgroundHighlight;
}

/*.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: @greenThemeNavbarLinkBackgroundActive;
  color: @greenThemeNavbarLinkColorActive;
}*/
/*.navbar .nav li.dropdown > .dropdown-toggle .caret {
  border-top-color: darken(@greenThemeNavbarLinkColor, 15%); 
  border-bottom-color: darken(@greenThemeNavbarLinkColor, 15%); 
}
.navbar .nav li.dropdown.open > .dropdown-toggle .caret,
.navbar .nav li.dropdown.active > .dropdown-toggle .caret,
.navbar .nav li.dropdown.open.active > .dropdown-toggle .caret {
  border-top-color: @greenThemeNavbarLinkColorActive;
  border-bottom-color: @greenThemeNavbarLinkColorActive;
}
*/
// --------------------------------------------------
//Secondary Menu
// --------------------------------------------------

/*.nav-tabs > li.active > a {color: #555555!Important;}*/


.subnav .nav li.active > a, .accoutnSettingdNav ul li.active > a {
    color: #fff !important;
    background-color: @buttonTopColor ~'!important';
}


// --------------------------------------------------
//SideBar Menu
// --------------------------------------------------

#sliderMenu ul li.active > a,
#sliderMenu ul li.active > a:hover,
/*.nav-pills .dropdown.open a.dropdown-toggle,*/
.nav-pills .dropdown .dropdown-menu > li > a:hover {
    color: @white ~'!important';
    background-color: @buttonTopColor;
}

/*#sliderMenu ul li > a,
#sliderMenu .nav-pills li a:hover,
.nav-pills .dropdown .dropdown-menu > li > a,
.thumbnail .btn-group > a > i,
.dropdown-menu > li > a
{
    color:#333!Important;
}*/

/*#sliderMenu ul li.active > a
{
    background-color:#049cdb!Important;
    color: #fff!Important;
}*/

// --------------------------------------------------
//Body
// --------------------------------------------------

body {
    margin: 0;
    font-family: @greenThemeBaseFontFamily;
}

// --------------------------------------------------
// Links
// -----

/*.widget-header .widget-links li a:hover {
  color: #036690!Important;
}

.widget-header .widget-links li a {
    color: #555!Important;
    font-weight: bold!Important;
}*/

/*#content a,
#footer a 
{
  color: #049cdb;
}*/

/*.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
    color: #FFFFFF!Important;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    color: #FFFFFF!Important;
}*/

// WIZARD
// -------------------------

.wizard-steps {
    .active-step a {
        background: @greenThemelinkColor;
    }

    .active-step a:before {
        border-top: 19px solid @greenThemelinkColor;
        border-bottom: 19px solid @greenThemelinkColor;
    }

    .active-step a:after {
        border-left: 19px solid @greenThemelinkColor;
    }
}

// CHOSEN
// ---------------

.chzn-container .chzn-results .highlighted {
    background-color: @buttonTopColor ~'!important';
    /*#gradient > .vertical(@greenThemeDropdownLinkBackgroundHover, darken(@greenThemeDropdownLinkBackgroundHover, 5%));
    color: #fff;*/
}

.chzn-container-active .chzn-choices {
    border: 1px solid @buttonTopColor ~'!important';
}


// NAV LIST
// --------
.nav-list > .active > a,
.nav-list > .active > a:hover {
    color: @white;
    background-color: @greenThemelinkColor;
}

// PILLS
// -----
// Active state

.nav-pills > .active > a,
.nav-pills > .active > a:hover {
    /*color: @white;
    background-color: @greenThemelinkColor;*/
    color: @buttonTopColor ~'!important';
    border-bottom: 3px solid @buttonTopColor;
}


// DROPDOWNS
// ---------

// Hover state
// -----------
/*.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
  text-decoration: none;
  color: @greenThemeDropdownLinkColorHover;
  background-color: @greenThemeDropdownLinkBackgroundHover;
  #gradient > .vertical(@greenThemeDropdownLinkBackgroundHover, darken(@greenThemeDropdownLinkBackgroundHover, 5%));
}*/

.btn-group.open {
    // Keep the hover's background when dropdown is open
    .btn-primary.dropdown-toggle {
        background-color: @greenThemeBtnPrimaryBackgroundHighlight;
    }
}

// Default dropdown links
// -------------------------
// Make carets use linkColor to start
.nav-tabs .dropdown-toggle .caret,
.nav-pills .dropdown-toggle .caret {
    border-top-color: @greenThemelinkColor;
    border-bottom-color: @greenThemelinkColor;
}

.nav-tabs .dropdown-toggle:hover .caret,
.nav-pills .dropdown-toggle:hover .caret {
    border-top-color: @greenThemelinkColorHover;
    border-bottom-color: @greenThemelinkColorHover;
}

// Navbar button for toggling navbar items in responsive layouts
.navbar .btn-navbar {
    .buttonBackground(@greenThemeNavbarBackgroundHighlight, @greenThemeNavbarBackground);
}

// THUMBNAILS
// ----------
a.thumbnail:hover {
    border-color: @greenThemelinkColor;
}

.thumbnail-view {
    .approval-grid {
        li.block {
            .thumbnail {
                .approval {
                    .cell {
                        a {
                            .img-frame {
                                // Add a hover state for linked versions only
                                &:hover {
                                    border-color: @greenThemelinkColor;
                                }
                            }
                            // img-frame
                        }
                        //a
                    }
                    //cell
                }
                //approval
            }
            //thumbnail
        }
        //block
    }
    //approval-grid
}
//thumbnail-view



// Alternate buttons
// --------------------------------------------------

// Set text color
// -------------------------
.btn-primary,
.btn-primary:hover, {
    color: @white;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
}

.btn-primary.active {
    color: rgba(255,255,255,.75);
}
// Set the backgrounds
// -------------------------

.btn-primary {
    //.buttonBackground(@buttonTopColor, @buttonBottomColor)!important;
    .buttonBackground(@buttonTopColor,@buttonTopColor)!important;
}

// WIDGET HEADER
// ---------------

/*.widget-header {
	.widget-links {	
    	li a:hover {
		    color:@greenThemeWidgetHeaderLinkColorHover;
    	}
    }
}*/



// RESPONSIVE
// --------------------------------------------------

@media (max-width: 979px) {
    .nav-collapse .nav .nav-header {
        color: @greenThemeNavbarText;
    }

    .nav-collapse .nav > li > a,
    .nav-collapse .dropdown-menu a {
        color: @greenThemeNavbarLinkColor;
    }

    .nav-collapse .nav > li > a:hover,
    .nav-collapse .dropdown-menu a:hover {
        background-color: @greenThemeNavbarBackground;
    }

    .nav-collapse .navbar-form,
    .nav-collapse .navbar-search {
        border-top: 1px solid @greenThemeNavbarBackground;
        border-bottom: 1px solid @greenThemeNavbarBackground;
    }
}

/*#footer {background : @footerColor}*/

#login-form input.input-xlarge {
    height: 30px !Important;
    width: 285px !Important;
}

.nav-list > .active > a,
.nav-list > .active > a:hover,
.nav-list > .active > a:focus {
    background-color: #666 !Important;
    color: #fff !Important;
}

/*.nav-pills > .active > a,
.nav-pills > .active > a:hover,
.nav-pills > .active > a:focus {
  background-color: #049cdb!Important;
  color:#fff!Important;
}*/

.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a,
.czn-add-approvals-right li:hover {
    text-decoration: none;
    color: #ffffff;
    background-color: @buttonTopColor ~'!important';
    background-image: none !important;
    /*background-color: #0495d1;
  background-image: -moz-linear-gradient(top, #049cdb, #048ac2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#049cdb), to(#048ac2));
  background-image: -webkit-linear-gradient(top, #049cdb, #048ac2);
  background-image: -o-linear-gradient(top, #049cdb, #048ac2);
  background-image: linear-gradient(to bottom, #049cdb, #048ac2);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff049cdb', endColorstr='#ff048ac2', GradientType=0);*/
}

.nav .dropdown-toggle .caret {
    border-top-color: #049cdb;
    border-bottom-color: #049cdb;
}

.nav .dropdown-toggle:hover .caret,
.nav .dropdown-toggle:focus .caret {
    border-top-color: #049cdb;
    border-bottom-color: #049cdb;
}

/*.nav-pills li > a:hover
{
    color:#036690!Important;
}*/

/*.navbar .nav li.dropdown > .dropdown-toggle .caret
{
    border-top-color: @linksColor;
    border-bottom-color: @linksColor;
}*/

/*.navbar .nav li.dropdown > .dropdown-toggle .caret:hover 
{ 
    color: #fff!Important; 
}*/
.navbar .nav > li > a {
    text-shadow: none !Important;
}

/*.navbar-inner ul li a:hover,
{color:White!Important;}*/

/*.navbar .nav li.dropdown > .dropdown-toggle .caret
{
    border-top-color: @linksColor;
    border-bottom-color: @linksColor;
}*/

/*#statusView table td div a i.icon-cog,
.btn-group>.btn:first-child  { color: #333!Important; }*/

#approvalsFoldersSideBar ul li .title a {
    color: #333333;
}

#approvalsFoldersSideBar ul li .dropdown-menu li a:hover,
.czn-approval-item.czn-profile.active {
    color: #fff !Important;
}

/*.btn.btn-primary.btn-save {
  .buttonBackground(#df1350, #df1350)!important;
}*/

.czn-approval-item.czn-profile.active {
    background-color: @buttonTopColor ~'!important';
}

.pagination ul > .active > a {
    color: #999 !Important;
}

.czn-profile.active .czn-profile-item .fa.fa-dot-circle-o,
.czn-profile.active .czn-profile-item .selectable,
.czn-profile .czn-profile-item:hover .fa.fa-circle-o,
.czn-profile .czn-profile-item:hover .selectable {
    color: #FFF !Important;
    background-color: @buttonTopColor ~'!important';
}

.modal-header .close {
    color: rgb(0, 0, 0) !important;
}

.form-horizontal .modal-footer a {
    color: #333 !important;
}

.dropdown-menu.dropdown-menu-arrow.dropdown-menu-arrow-left .czn-version a:focus {
    background-color: #FFF;
}

/*.thumbnails.report_items a i,
.thumbnails.report_items a,
.form-switch .input-append a.btn.cancel
{
    color: #333!important;
}*/

.czn-version :focus span.czn-version-title .versionstyle,
.czn-version :focus span.czn-version-title .versiontitlestyle {
    color: #FFFFFF;
}
