// THEMES
// --------------------------------------------------

@import "../bootstrap/variables.less";
@import "../gmg-variables.less";
@import "../bootstrap/mixins.less";
@import "../ThemeVariables.less";

// Body reset
// ----------

@sideMenuBarText: #049cdb;

body {
    margin: 0;
    font-family: @blueThemeBaseFontFamily;
}

// Links
// -----


/*.widget-header .widget-links li a:hover {
  color: #036690!Important;
}

.widget-header .widget-links li a {
    color: #555!Important;
    font-weight: bold!Important;
}*/

/*.navbar-inner a { color: @linksColor; }*/

/*.subnav .nav li > a { color: @sideMenuBarText; }*/

/*#content a,
#footer a 
{
  color: #1368a4;
}*/

/*.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
    color: #FFFFFF !Important;
}*/

/*.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    color: #FFFFFF !Important;
}*/

#sliderMenu ul li.active > a,
#sliderMenu ul li.active > a:hover,
/*.nav-pills .dropdown.open a.dropdown-toggle,*/
.nav-pills .dropdown .dropdown-menu > li > a:hover {
    color: #FFFFFF !Important;
    background-color: @buttonTopColor;
}

/*#sliderMenu ul li > a,
#sliderMenu .nav-pills li a:hover,
.nav-pills .dropdown .dropdown-menu > li > a,
.thumbnail .btn-group > a > i,
.dropdown-menu > li > a {
    color: #333 !Important;
}*/

/*#sliderMenu ul li.active > a {
    background-color: #1368a4 !Important;
    color: #fff !Important;
}*/

// WIZARD
// -------------------------

.wizard-steps {
    .active-step a {
        background: @blueThemelinkColor;
    }

    .active-step a:before {
        border-top: 19px solid @blueThemelinkColor;
        border-bottom: 19px solid @blueThemelinkColor;
    }

    .active-step a:after {
        border-left: 19px solid @blueThemelinkColor;
    }
}


// NAVBAR
// -------------------------

/*.navbar-inner {
  #gradient > .vertical(@headerTopColor, @headerBottomColor);
}*/

// Brand, links, text, and buttons
.navbar {
    color: @blueThemeNavbarText;

    .brand {
        color: @blueThemeNavbarBrandColor;
    }

    .navbar-link {
        color: @blueThemeNavbarLinkColor;

        &:hover {
            color: @blueThemeNavbarLinkColorHover;
        }
    }
}
// Navbar search
.navbar-search {
    .search-query {
        color: @white;
        background-color: @blueThemeNavbarSearchBackground;
        border: 1px solid @blueThemeNavbarSearchBorder;
        .placeholder(@blueThemeNavbarSearchPlaceholderColor);

        &:focus,
        &.focused {
            color: @grayDark;
            background-color: @blueThemeNavbarSearchBackgroundFocus;
        }
    }
}

// Links
/*.navbar .nav > li > a {
  color: darken(@blueThemeNavbarLinkColor, 20%);  
}*/

// Hover
/*.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  background-color: @blueThemeNavbarLinkBackgroundHover; // "transparent" is default to differentiate :hover from .active
  color: @blueThemeNavbarLinkColorHover;
  text-decoration: none;
}*/

// Active nav items
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
    /*color: @blueThemeNavbarLinkColorActive ~'!important';
    border-bottom: 3px solid @blueThemeNavbarLinkBackgroundActive;*/
    color: @buttonTopColor ~'!important';
    border-bottom: 3px solid @buttonTopColor;
}


/*.navbar .nav li.dropdown > a:hover .caret {
  border-top-color: #fff!Important;
  border-bottom-color: #fff!Important;
}*/

.navbar .divider-vertical {
    background-color: @blueThemeNavbarBackground;
    border-right: 1px solid @blueThemeNavbarBackgroundHighlight;
}

/*.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: @blueThemeNavbarLinkBackgroundActive;
  color: @blueThemeNavbarLinkColorActive;
}
.navbar .nav li.dropdown > .dropdown-toggle .caret {
  border-top-color: darken(@blueThemeNavbarLinkColor, 20%); 
  border-bottom-color: darken(@blueThemeNavbarLinkColor, 20%); 
}
.navbar .nav li.dropdown.open > .dropdown-toggle .caret,
.navbar .nav li.dropdown.active > .dropdown-toggle .caret,
.navbar .nav li.dropdown.open.active > .dropdown-toggle .caret {
  border-top-color: @blueThemeNavbarLinkColorActive;
  border-bottom-color: @blueThemeNavbarLinkColorActive;
}
*/


// NAV LIST
// --------
.nav-list > .active > a,
.nav-list > .active > a:hover {
    color: @white;
    background-color: @blueThemelinkColor;
}

// PILLS
// -----
// Active state

.nav-pills > .active > a,
.nav-pills > .active > a:hover {
    /*color: @white;*/
    //background-color: @blueThemelinkColor;
    color: @buttonTopColor ~'!important';
    border-bottom: 3px solid @buttonTopColor;
}


// DROPDOWNS
// ---------

// Hover state
// -----------
/*.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
    text-decoration: none;
    color: @blueThemeDropdownLinkColorHover;
    background-color: @blueThemeDropdownLinkBackgroundHover;
    #gradient > .vertical(@blueThemeDropdownLinkBackgroundHover, darken(@blueThemeDropdownLinkBackgroundHover, 5%));
}*/



// Default dropdown links
// -------------------------
// Make carets use linkColor to start
.nav-tabs .dropdown-toggle .caret,
.nav-pills .dropdown-toggle .caret {
    border-top-color: @blueThemelinkColor;
    border-bottom-color: @blueThemelinkColor;
}

.nav-tabs .dropdown-toggle:hover .caret,
.nav-pills .dropdown-toggle:hover .caret {
    border-top-color: @blueThemelinkColorHover;
    border-bottom-color: @blueThemelinkColorHover;
}

// Navbar button for toggling navbar items in responsive layouts
.navbar .btn-navbar {
    .buttonBackground(@blueThemeNavbarBackgroundHighlight, @blueThemeNavbarBackground);
}

// WIDGET HEADER
// ---------------

/*.widget-header {
	.widget-links {	
    	li a:hover {
		    color:@blueThemeWidgetHeaderLinkColorHover;
    	}
    }
}*/


// THUMBNAILS
// ----------
a.thumbnail:hover,
a.thumbnail:focus {
    border-color: #1368a4 !Important;
    box-shadow: 0 1px 4px rgba(0,105,214,0.25);
}

.thumbnail-view {
    .approval-grid {
        li.block {
            .thumbnail {
                .approval {
                    .cell {
                        a {
                            .img-frame {
                                // Add a hover state for linked versions only
                                &:hover {
                                    /*border-color: @blueThemelinkColor;*/
                                }
                            }
                            // img-frame
                        }
                        //a
                    }
                    //cell
                }
                //approval
            }
            //thumbnail
        }
        //block
    }
    //approval-grid
}
//thumbnail-view




// Alternate buttons
// --------------------------------------------------

// Set text color
// -------------------------
.btn-primary,
.btn-primary:hover, {
    color: @white;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
}

.btn-primary.active {
    color: rgba(255,255,255,.75);
}
// Set the backgrounds
// -------------------------

.btn-primary {
    .buttonBackground(@buttonTopColor, @buttonBottomColor)!important;
}


.chzn-container .chzn-results .highlighted {
    background-color: @buttonTopColor ~'!important';
    /*#gradient > .vertical(@blueThemeNavbarBackgroundHighlight, @blueThemeNavbarBackground);*/
}

.chzn-container-active .chzn-choices {
    border: 1px solid @buttonTopColor ~'!important';
}


// RESPONSIVE
// --------------------------------------------------

@media (max-width: 979px) {
    .nav-collapse .nav .nav-header {
        color: @blueThemeNavbarText;
    }

    .nav-collapse .nav > li > a,
    .nav-collapse .dropdown-menu a {
        color: @blueThemeNavbarLinkColor;
    }

    .nav-collapse .nav > li > a:hover,
    .nav-collapse .dropdown-menu a:hover {
        background-color: @blueThemeNavbarBackground;
    }

    .nav-collapse .navbar-form,
    .nav-collapse .navbar-search {
        border-top: 1px solid @blueThemeNavbarBackground;
        border-bottom: 1px solid @blueThemeNavbarBackground;
    }
}

/*#footer {background : @footerColor}*/

#login-form input.input-xlarge {
    height: 30px !Important;
    width: 285px !Important;
}

.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a,
.czn-add-approvals-right li:hover {
    text-decoration: none;
    color: #ffffff;
    background-color: @buttonTopColor ~'!important';
    background-image: none !important;
    /*background-color: #0495d1;
    background-image: -moz-linear-gradient(top, #049cdb, #048ac2);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#049cdb), to(#048ac2));
    background-image: -webkit-linear-gradient(top, #049cdb, #048ac2);
    background-image: -o-linear-gradient(top, #049cdb, #048ac2);
    background-image: linear-gradient(to bottom, #1368a4,#105a8d);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff049cdb', endColorstr='#ff048ac2', GradientType=0);*/
}

.navbar .nav > li > a {
    text-shadow: none !Important;
}

/*.navbar .nav > li > a:hover {
    color: #FFF !Important;
}*/

/*.navbar .nav li.dropdown > .dropdown-toggle .caret
{
    border-top-color: @linksColor;
    border-bottom-color: @linksColor;
}*/

/*#statusView table td div a i.icon-cog,
.btn-group>.btn:first-child { color: #333!Important; }*/

#approvalsFoldersSideBar ul li .title a {
    color: #333333;
}

#approvalsFoldersSideBar ul li .dropdown-menu li a:hover {
    color: #fff !Important;
}

.btn.btn-primary.btn-save {
    .buttonBackground(#df1350, #df1350)!important;
}

.czn-approval-item.czn-profile.active {
    background-color: @buttonTopColor ~'!important';
}

.pagination ul > .active > a,
.input-append a:first-child {
    color: #999 !Important;
}

.input-append a:nth-child(2) {
    color: #333 !Important;
}

.subnav .nav li.active > a, .accoutnSettingdNav ul li.active > a {
    color: #fff !important;
    background-color: @buttonTopColor ~'!important';
}

.czn-profile.active .czn-profile-item .fa.fa-dot-circle-o,
.czn-profile.active .czn-profile-item .selectable,
.czn-profile .czn-profile-item:hover .fa.fa-circle-o,
.czn-profile .czn-profile-item:hover .selectable {
    color: #FFF !Important;
    background-color: @buttonTopColor ~'!important';
}

.modal-header .close {
    color: rgb(0, 0, 0) !important;
}

/*.form-horizontal .modal-footer a {
    color: #333 !important;
}*/

/*.collaboratoraccess-base .nav.nav-pills .active a,
.collaboratorgroup-filters .nav.nav-pills.pull-left .active a {
    color: #FFFFFF !important;
    background-color: #1368a4;
}*/
/*.thumbnails.report_items a i,
.thumbnails.report_items a,
.form-switch .input-append a.btn.cancel
{
    color: #333!important;
}*/

.czn-version :focus span.czn-version-title .versionstyle,
.czn-version :focus span.czn-version-title .versiontitlestyle {
    color: #FFFFFF;
}
