﻿@model  GMGColorDAL.CustomModels.WelcomeModel
@using GMGColor.Resources;
@{    
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
}
<div class="widget">
    <div class="widget-header">
        <h3>@Resources.lblHello, @Model.objLoggedUser.GivenName </h3>
    </div>
    <!-- /widget-header -->
    <div class="widget-content">
    </div>
    <!-- /widget-content -->
</div>
<!-- /widget -->
