<span class="czn-navbar-divider"></span>
<section {{bind-attr class=":btn-group"}}>
    <label {{action "selectAndMoveDraw"}} {{bind-attr title="lblMoveDraw" class=":navbar-btn :btn :btn-default isMoveShapeSelected:active"}}>
        <span class="fa fa-arrows"></span>
    </label>

    <label {{action "selectDrawPencil"}} {{bind-attr title="lblDrawPencil" class=":navbar-btn :btn :btn-default isDrawLineSelected:active"}}>
        <span class="fa fa-pencil"></span>
    </label>

    <label {{action "selectDrawRectangle"}} {{bind-attr title="lblRectangularMarquee" class=":navbar-btn :btn :btn-default isDrawRectangleSelected:active"}}>
        <span class="fa fa-pencil-square-o"></span>
    </label>

    <label {{action "selectDrawShape"}} {{bind-attr title="lblDrawShape" class=":navbar-btn :btn :btn-default isDrawShapeSelected:active"}}>
        <span class="fa fa-circle-o"></span>
    </label>
</section>
