<span class="czn-navbar-divider"></span>
<section {{bind-attr class=":czn-draw-group"}} {{bind-attr title="lblLineWidth"}}>
    <div class="input-group czn-spinner-wrapper spinner">
        {{numeric-input value=penWidth id="lineWidthSelector" class="form-control" maxlength="2" valueChanged="updateLineWithAndColorAction"}}
        <div class="input-group-btn-vertical">
            <button class="btn btn-default" {{action "increaseLineWidth"}}><i class="fa fa-caret-up"></i></button>
            <button class="btn btn-default" {{action "decreaseLineWidth"}}><i class="fa fa-caret-down"></i></button>
        </div>
    </div>
</section>
