<span class="czn-navbar-divider"></span>
<section {{bind-attr class=":czn-shape-group :btn-group"}} {{bind-attr title="lblSelectShape"}}>
    <button type="button" class="btn btn-default btn-xs">
       {{remove-badchars selectedShape.SVG}}
    </button>
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu czn-shape-picker" role="menu">
        {{#each shape in shapes itemController="navigation/shape"}}
            <li {{action 'selectShape' shape}} ><a href="#">
                {{remove-badchars shape.SVG}}
            </a></li>
        {{/each}}
    </ul>
</section>

