<section class="czn-annotation-type btn-group" data-toggle="buttons">
    <span {{bind-attr class="markerStyleClass :btn-3d"}} {{action "selectMarkerAnnotation"}}>
        <input type="radio" name="annotation-type" value="marker"/>
        <span class="fa fa-comment-o"></span>
        <span>{{t "lblMarker"}}</span>
    </span>
    {{#if textAvailable}}
        <span {{bind-attr class="textStyleClass :btn-3d :hidden-xs :hidden-sm :hidden-md"}} {{action "selectTextHighlighting"}} >
            <input type="radio" name="annotation-type" value="text" />
            <span class="fa fa-text-height"></span>
            <span>{{t "lblText"}}</span>
        </span>
    {{/if}}
    {{#if isZip}}
    <span {{bind-attr class="drawStyleClass :btnDraw :btn-3d"}} {{action "selectAnnotationDraw"}}>
        <input type="radio" name="annotation-type" value="draw" />
        <span class="fa fa-pencil"></span>
        <span>{{t "lblDraw"}}</span>
    </span>
    {{/if}}
</section>
