{{#each user in source}}
    {{partial 'sidebar/nonselectable-user'}}
    {{#each annotation in user.annotations itemController="sidebar/annotation"}}
        {{partial 'sidebar/annotation'}}
    {{/each}}
{{/each}}
