﻿@using GMGColor.Resources;
@{    
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
    Bundles.Reference("chosen");
    
}
<div class="widget">
    <div class="widget-header">
        <h3>@Resources.lblServices</h3>
    </div>
    <!-- /widget-header -->
    <div class="widget-content">
        <div class="row-fluid">
            <div class="span12">
                <ul class="thumbnails report_items">
                    <li><a href="@(Url.Action("MediaServices"))"><i class="icon-cogs"></i>
                        <h4>@Resources.lblMediaServices</h4>
                    </a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /widget-content -->
</div>
