﻿@model GMGColorDAL.CustomModels.MediaServiceDetails
@using GMGColor.Resources;
@using GMGColorDAL
@using GMGColorDAL.CustomModels
@{    
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
    Bundles.Reference("chosen");
    GMGColorBusinessLogic.DbContextBL context = HttpContext.Current.Items[GMGColorDAL.DALUtils.DatabaseContext] as GMGColorBusinessLogic.DbContextBL;

    GMGColorDAL.MediaService objSelectedService = DALUtils.GetObject<GMGColorDAL.MediaService>(Model.SelectedMediaService, context);
}
<div class="widget">
    <div class="widget-header">
        <ul class="widget-links">
            <li><a class="btn btn-primary" data-toggle="modal" data-target="#modalDialogNewSettings" href="#">@Resources.lblAddNewMediaSetting</a></li>
        </ul>
        <h3>@Resources.lblMediaServices</h3>
    </div>
    <!-- /widget-header -->
    <div class="widget-content">
        <div class="row-fluid">
            <div class="span3">
                <div class="subnav">
                    <ul class="nav nav-tabs nav-stacked">
                        @foreach (GMGColorDAL.MediaService obj in DALUtils.SearchObjects<GMGColorDAL.MediaService>(o => o.ID > 0, context))
                        {
                            string liClass = (obj.ID == Model.SelectedMediaService) ? "class=active" : "";
                            
                            <li @liClass><a href=@(Url.Action("MediaServices", new { @id = obj.ID }))>@obj.Name</a></li>
                        }
                    </ul>
                </div>
            </div>
            <div class="span9">
                @using (Html.BeginForm("", "Services", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.SelectedMediaService)
                    string isDisabled = (objSelectedService.BillingPlanTypes.Count > 0) ? "disabled=disabled" : string.Empty;
                    <div class="page-header">
                        <button value="Delete" name="action" type="submit" onclick="$('#modelDialogDeleteConfirmation_1').modal({ backdrop: 'static', keyboard: false }); return false;" class="btn btn-danger pull-right" @isDisabled>
                            <i class="icon-trash"></i>&nbsp;@Resources.btnDelete</button>
                        <h2>
                            @objSelectedService.Name</h2>
                    </div>
                    <fieldset>
                        <h3>
                            @Resources.lblSaveasimage</h3>
                        <p>
                            @Resources.lblCallasDescription</p>
                        <h6>
                            @Resources.lblParameters</h6>
                        <div class="control-group">
                            <label class="control-label">
                                @Resources.lblSmoothing</label>
                            <div class="controls">
                                @{
                                    @Html.DropDownListFor(model => model.Smoothing, new SelectList(DALUtils.SearchObjects<GMGColorDAL.Smoothing>(o => o.ID > 0, context), "ID", "Name"))
                                    @Html.ValidationMessageFor(model => model.Smoothing)
                                }
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">
                                @Resources.lblResolution</label>
                            <div class="controls">
                                @Html.TextBoxFor(model => model.Resolution, new { @class = "input-small" })
                                @Html.ValidationMessageFor(model => model.Resolution)
                                <span class="help-inline">ppi</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">
                                @Resources.lblColorspace</label>
                            <div class="controls">
                                @{
                                    @Html.DropDownListFor(model => model.ColorSpace, new SelectList(DALUtils.SearchObjects<Colorspace>(o => o.ID > 0, context), "ID", "Name"), new { @class = "input-small" })
                                    @Html.ValidationMessageFor(model => model.ColorSpace)
                                }
                            </div>
                        </div>
                        <div class="form-inline">
                            <div class="control-group">
                                <label class="control-label">
                                    @Resources.lblImageFormat</label>
                                <div class="controls">
                                    @{
                                        @Html.DropDownListFor(model => model.ImageFormatParent, new SelectList(DALUtils.SearchObjects<GMGColorDAL.ImageFormat>(m => m.Parent == null, context).ToList(), "ID", "Name"), new {@class = "input-small", onchange = "javascript:$('#btnGetImageFormat').click();"})
                                        @Html.ValidationMessageFor(model => model.ImageFormatParent)

                                        List<GMGColorDAL.ImageFormat> lstImageFormats = DALUtils.SearchObjects<GMGColorDAL.ImageFormat>(m => m.Parent == Model.ImageFormatParent, context).ToList();
                                        if (lstImageFormats.Count > 0)
                                        {
                                            @Html.DropDownListFor(model => model.ImageFormat, new SelectList(lstImageFormats, "ID", "Name"), new {@class = "input-medium"})
                                            @Html.ValidationMessageFor(model => model.ImageFormat)
                                        }
                                    }
                                    <button type="submit" id="btnGetImageFormat" name="action" value="GetImageFormat"
                                        style="display: none">
                                        GetImageFormat</button>
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">
                                @Resources.lblPageBox</label>
                            <div class="controls">
                                @{
                                    @Html.DropDownListFor(model => model.PageBox, new SelectList(DALUtils.SearchObjects<GMGColorDAL.PageBox>(o => o.ID > 0, context), "ID", "Name"), new { @class = "input-medium" })
                                    @Html.ValidationMessageFor(model => model.PageBox)
                                }
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>MagickTiler <small>0.9</small></legend>
                        <p>
                            @Resources.lblMagickTilerDescription</p>
                        <h6>
                            @Resources.lblParameters</h6>
                        <div class="control-group">
                            <label class="control-label">
                                @Resources.lblTileImageFormat</label>
                            <div class="controls">
                                @{
                                    @Html.DropDownListFor(model => model.TileImageFormat, new SelectList(DALUtils.SearchObjects<TileImageFormat>(o => o.ID > 0, context), "ID", "Name"), new { @class = "input-small" })
                                    @Html.ValidationMessageFor(model => model.TileImageFormat)
                                }
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">
                                @Resources.lblJPEGCompression</label>
                            <div class="controls">
                                @Html.TextBoxFor(model => model.JpegCompression, new { @class = "input-small" })
                                @Html.ValidationMessageFor(model => model.JpegCompression)
                                <span class="help-block">@Resources.lblQuality0to100</span>
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-actions">
                        <button value="SaveChanges" name="action" type="submit" data-loading-text="@Resources.btnSaving" class="btn btn-primary">
                            @Resources.btnSaveChanges</button>
                    </div>
                    
                    DeleteConfirmation deleteJobConfirmation = new DeleteConfirmation(1, "Delete");
                     @Html.Partial("DeleteConfirmationDialog", deleteJobConfirmation);
                }
            </div>
        </div>
    </div>
    <!-- /widget-content -->
</div>
<div class="modal hide" id="modalDialogNewSettings">
    @using (Html.BeginForm("", "Services", FormMethod.Post, new { @class = "form-horizontal dirtyignore" }))
    {
        @Html.AntiForgeryToken()
        <div class="modal-header">
            <a data-dismiss="modal" class="close" href="javascript:void(0);">×</a>
            <h3>
                @Resources.lblNewMediaServiceType</h3>
        </div>
        <div class="modal-body">
            <div class="control-group">
                <label for="objBillingPlanType_Name" class="control-label">
                    @Resources.lblName</label>
                <div class="controls">
                    @Html.TextBoxFor(model => model.NewService)
                    @Html.ValidationMessageFor(model => model.NewService)
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button value="AddService" name="action" class="btn btn-primary" data-loading-text="@Resources.btnSaving" type="submit">
                @Resources.btnSave</button>
        </div>
    }
</div>
