<div class="dropdown czn-decision-list">
    <button class="btn btn-success dropdown-toggle" id="decision-list" data-toggle="dropdown" {{bind-attr title="lblDecision"}}>
        <span class="hidden-md hidden-sm hidden-xs">
          {{#if selectedDecision.Name}}
              {{selectedDecision.Name}}
          {{else}}
              {{t "lblDecision"}}
          {{/if}}
        </span>
        <span class="visible-md visible-sm visible-xs" {{bind-attr title="lblDecision"}}><i class="fa
        fa-check"></i></span>
        <span class="caret hidden-md hidden-sm hidden-xs"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-arrow dropdown-menu-arrow-left" role="menu" aria-labelledby="decision-list">
        {{#each decision in decisions}}
            {{partial "navigation/main/decision"}}
        {{/each}}
    </ul>
</div>
