<li {{action "showSelectedHtmlPage" htmlpage}}>
     <a><label class="czn-html-item czn-multiplehtmlpages-menu selectable">
          <span {{bind-attr title="htmlpage.FileName" }} class="czn-html-title">{{htmlpage.FileName}} </span>
        </label>
    </a>
</li>