<a class="dropdown czn-version-list dropdown-toggle btn hidden-xs hidden-sm hidden-md" id="versions-list" data-toggle="dropdown" {{action "dropdownToggle" target="view"}}>
  <span class="czn-versions-header" {{bind-attr title="approval.Title"}} >{{approval.Title}}</span>
  <span class="caret" style="margin-top: 1px;"></span>
</a>

<ul class="dropdown-menu dropdown-menu-arrow dropdown-menu-arrow-left" role="menu" aria-labelledby="czn-version-list" style="overflow: auto; max-height: 670px;">
  {{#each version in versions itemController="navigation/version"}}
    {{partial "navigation/main/version"}}
  {{/each}}

    <li class="czn-version-controls">
        <section class="pull-right">
            <button class="btn btn-default" {{action "dropdownToggle" target="view"}}>{{t "btnCancel"}}</button>

          {{#if isVideo}}
            {{#unless viewButtonHidden}}
                <span {{action "dropdownToggle" target="view"}}>
                  <button {{bind-attr class=":btn :btn-success" disabled="viewButtonDisabled"}} {{action "viewVersion"}}>{{t "lblView"}}</button>
                </span>

            {{/unless}}
          {{else}}
            {{#unless viewButtonHidden}}
                <span {{action "dropdownToggle" target="view"}}>
                  <button {{bind-attr class=":btn :btn-success" disabled="viewButtonDisabled"}} {{action "viewVersion"}}>{{t "lblView"}}</button>
                  <button {{bind-attr class=":btn :btn-success" disabled="viewButtonDisabled"}} {{action "cloneSelectedVersion"}}>
                      <span class="fa fa-clone fa-lg" {{bind-attr title="lblCompareWithClone"}}></span>
                  </button>
                </span>

            {{/unless}}
            {{#if compareButtonEnabled}}
                <span {{action "dropdownToggle" target="view"}}>
                  <button {{bind-attr class=":btn :btn-primary"}} {{action "compareVersion"}}>{{t "lblCompare"}}</button>
                </span>
            {{/if}}
          {{/if}}

        </section>
    </li>

</ul>

