<li role="presentation" class="czn-version-list" {{action "selectVersion" version bubbles="false"}}>
    <a role="menuitem" href="javascript:void(0);" {{bind-attr class="version.versionIsNotAccesible:disabled"}}>
        <span {{bind-attr class=":czn-checkbox-icon :fa version.selected:fa-check-square-o:fa-square-o"}}></span>
        <label class="czn-version-item czn-subversions-menu selectable">
          <img {{bind-attr src="version.VersionThumbnail"}} class="czn-version-thumbnail" />
          <span {{bind-attr title="version.versionTitle" }} class="czn-version-title">{{{version.PageVersionLabel}}} </span>
        </label>
    </a>
</li>
