<a class="dropdown-toggle" id="profiles-list" href="javascript:void(0)" data-toggle="dropdown" {{bind-attr title="lblPreviewProfiles"}} {{action "dropdownToggle" target="view"}}>
    <span class="fa fa-newspaper-o fa-lg"></span>
</a>

<ul class="dropdown-menu dropdown-menu-arrow dropdown-menu-arrow-right hidden-xs" role="menu" aria-labelledby="czn-profiles-list" id="profiles-list-dropdown">
    <li>
        <section class="czn-simulation-profiles-container">
            <ul class="nav nav-tabs nav-justified simulation-profile-tabs">
                <li class="active"><a data-toggle="tab" href="#profile">{{lblProfile}}</a></li>
                {{#if showSubstrateFromICCProfile}}
                <li><a data-toggle="tab" href="#papertint">{{lblPaperTint}}</a></li>
                {{/if}}
            </ul>

            <div class="tab-content">
                <div id="profile" class="tab-pane fade in active">
                    <section class="czn-profiles-container">
                        <ul class="nav czn-profiles-menu" role="menuitem">
                          {{#each profile in profiles}}
                            {{render "navigation/custom-profiles/profile-item" profile}}
                          {{/each}}
                        </ul>
                    </section>
                </div>
                <div id="papertint" class="tab-pane fade">
                    <section class="czn-paper-tint-container">
                        <ul class="nav czn-profiles-menu">
                          {{#each papertint in papertints}}
                            {{render "navigation/custom-profiles/papertint-item" papertint}}
                          {{/each}}
                        </ul>
                    </section>
                </div>
            </div>
        </section>
    </li>
    <li class="czn-profiles-controls">
        <section class="pull-left">
          <span {{bind-attr class=":pull-left :czn-profiles-controls-warning OnChangeSelected.isWarningOnSelected:show:hidden :tooltipCustom"}}>
            <i class="fa fa-exclamation-triangle fa-lg"></i>
            <span class="tooltiptext">
                <ul class="missmatch">{{{OnChangeSelected.warning}}}</ul>
            </span>
          </span>
            <span {{bind-attr class=":pull-right :czn-profiles-controls-de OnChangeSelected.isDeltaE:show:hidden"}}>CIE Δ<sup>2000</sup>: <b>{{OnChangeSelected.deltaE}}</b></span>
        </section>
        <section class="pull-right">
            <button class="btn btn-default" {{action "dropdownToggle" target="view"}}>{{t "btnCancel"}}</button>
          <span {{action "dropdownToggle" target="view"}}>
              <button class="btn btn-success" {{action "changeProfile"}}>{{t "btnOk"}}</button>
          </span>
        </section>
    </li>
</ul>
