<li role="presentation" {{bind-attr class=":czn-profile isSelected:active"}} {{action "selectPapertint" papertint bubbles="false"}} {{bind-attr title="title"}}>
    <a role="menuitem" href="javascript:void(0);">
	    <label {{bind-attr class=":czn-profile-item isCategoryChanged:czn-profile-item-newcategory"}}>
	        <!--<span bind-attr class=":czn-checkbox-icon :fa profile.selected:fa-dot-circle-o:fa-circle-o"></span>-->
          <span {{bind-attr class=":fa isSelected:fa-dot-circle-o:fa-circle-o"}}></span>
		      <span class="selectable">
            {{title}}
          </span>
        </label>
    </a>
</li>
