<li role="presentation" {{bind-attr class=":czn-profile isSelected:active"}} {{action "selectProfile" profile bubbles="false"}} {{bind-attr title="title"}}>
    <a role="menuitem" href="javascript:void(0);">
	    <label class="czn-profile-item">
            <span {{bind-attr class=":fa isSelected:fa-dot-circle-o:fa-circle-o"}}></span>
            <span class="selectable">
              {{title}}
            </span>
        </label>
    </a>
</li>
