﻿@model GMGColorDAL.CustomModels.AccountSettings.CMSItems
@using System.Reflection.Emit
@using GMGColor.Resources
@using GMGColorDAL.CustomModels
@using GMGColor.HtmlHelpers;
@{
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
    Bundles.Reference("fileupload");
    Bundles.Reference("SettingsNewCMSItem");
}
<div class="widget">
    <div class="widget-header">
        <h3>@ViewBag.Header @*<small>@ViewBag.HeaderSmall</small>*@</h3>
    </div>
    <!-- /widget-header -->
    <div class="widget-content">
        <div class="row-fluid">
            <div class="span3">
                    @if (Model.isSysAdmin)
	                {
                        Html.RenderAction("SecondaryNavigation", "Navigation", new { secondaryNavType = SecondaryNavigationTypeEnum.AdminSettings });
	                }
                    else
	                {
                         Html.RenderAction("SecondaryNavigation", "Navigation", new { secondaryNavType = SecondaryNavigationTypeEnum.AccountSettings });
	                }
            </div>
            <div class="span9">
                <div class="clearboth"></div>
                <div>
                    @Html.ValidationSummary(true)
                    @{
                        string action = Model.Type == Enums.CMSItemsType.Manuals ? "Manuals" : "Downloads";
                        string fileType = Model.Type == Enums.CMSItemsType.Manuals ? "pdf" : "";
                        
                    }
                    @using (Ajax.BeginForm(action, "CMS", new AjaxOptions { HttpMethod = "POST", OnComplete = "saveCompleted", LoadingElementId = "imgSavingLoader" }, new { @class = "form-horizontal", id = "formMain" }))
                    {
                        @Html.AntiForgeryToken()
                        <div>
                            <table id="CMSItemTable" class="table table-striped table-bordered span12">
                                <thead>
                                    <tr>
                                        <th class="span5" scope="col">@(Model.Type == Enums.CMSItemsType.Manuals ? @Resources.lblManual : @Resources.lblDownload)
                                        </th>
                                        <th class="span1" scope="col">@Resources.lblCMSItemName
                                        </th>
                                        <th class="span5" scope="col">@Resources.lblCMSItemDescription
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int row = 0; row < Model.Items.Count; row++)
                                    {
                                        CMSItemModel manualModel = Model.Items[row];
                                        @Html.HiddenFor(model => model.Items[row].FileGuid, new { @data_val = "false" })
                                        @Html.HiddenFor(model => model.Items[row].FileName, new { @data_val = "false" })
                                        <tr id="CMSItemRow-@(row)">
                                            <td class="span5 accordion-toggle">
                                                <input data-val='false' id='hdnFileIsDeleted_@(row)' name='Items[@(row)].IsDeleted' type='hidden' value='false' class='pull-left'>
                                                @manualModel.FileName
                                            </td>
                                            <td class="span1">
                                                @Html.TextBoxFor(model => model.Items[row].Name)
                                                @Html.ValidationMessageFor(model => model.Items[row].Name)
                                            </td>
                                            <td class="span5">
                                                @Html.TextBoxFor(model => model.Items[row].Description)
                                                @Html.ValidationMessageFor(model => model.Items[row].Description)
                                            </td>
                                            <td class="span2">
                                                <button class="btn btn-danger" id="delete-CMSItem-@(row)" onclick="deleteRow(@(row)); return false;" >
                                                    <i class="icon-white icon-trash"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="pull-right">
                            <button id="btnNewCMSItem" class="btn" onclick="AddNewCMSItem('firstFileUploader', GenerateNewCMSItemKey(), '@Resources.errTooManyCharactors', '@Resources.reqCMSItemName','@fileType'); return false;">
                                <i class="icon-plus"></i>@Resources.lblAdd</button>
                            <button id="btnCMSItemSaveChanges" class="btn btn-primary" type="submit" name="action" value="SaveCMSItems" data-text="@Resources.btnSaveChanges" data-loading-text="@Resources.btnSaving">
                                @Resources.btnSaveChanges</button>
                            @Html.Image("imgSavingLoader", "~/Content/img/loading-icon.gif", @Resources.lblLoading, new { @class = "hide" }, 30, 30)
                        </div>
                        @Html.HiddenFor(m => m.Region)
                        @Html.HiddenFor(m => m.UserPathToTempFolder)
                        @Html.HiddenFor(m => m.Type)

                        <!-- Section needed for FileUpload control -->
                        <div class="hide">
                            <!-- Account Region -->
                            <input id="accountRegion" name="accountRegion" type="hidden" value="@Model.Region">
                            <!-- The temporary folder path to upload files -->
                            <input id="pathToTempFolder" name="pathToTempFolder" type="hidden" value="@Model.UserPathToTempFolder">
                            <!-- Localization -->
                        </div>
                    }
                </div>
            </div>
        </div>
        <!-- /row-fluid -->
    </div>
    <!-- /widget-content -->
</div>
<!-- /widget -->
