﻿@model GMGColorDAL.CustomModels.AccountSettings.CMSHomeVideos
@using GMGColor.Resources;
@using GMGColorDAL.CustomModels
@{
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
}

<div class="widget">
    <div class="widget-header">
        <ul class="widget-links">
        </ul>
        <h3>@ViewBag.Header @*<small>@ViewBag.HeaderSmall</small>*@</h3>
    </div>
    <!-- /widget-header -->
    <div class="widget-content">
        <div class="row-fluid">
            <div class="span3">
                    @if (Model.isSysAdmin)
	                {
                        Html.RenderAction("SecondaryNavigation", "Navigation", new { secondaryNavType = SecondaryNavigationTypeEnum.AdminSettings });
	                }
                    else
	                {
                         Html.RenderAction("SecondaryNavigation", "Navigation", new { secondaryNavType = SecondaryNavigationTypeEnum.AccountSettings });
	                }
                 
            </div>
            <div class="span9">
                <div class="row-fluid">
                    @{ Html.RenderPartial("CMSVideo", Model.TrainingVideos);}
                    @{ Html.RenderPartial("CMSVideo", Model.FeatureVideos);}
                </div>
                
                @using (Html.BeginForm("SaveVideo", "CMS", FormMethod.Post, new { @class = "form-vertical", id = "formMain" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="control-group">
                        <label class="control-label">@Resources.lblAddNewVideoUrl</label>
                        <div class="controls">
                            <div class="input-prepend">
                                <span class="add-on">http://</span>
                                @if (Model.TrainingVideos.Videos.Count == AccountSettings.CMSHomeVideos.VideoMaxCount && Model.FeatureVideos.Videos.Count == AccountSettings.CMSHomeVideos.VideoMaxCount)
                                {
                                    @Html.TextBoxFor(m => Model.NewVideo.Url, new { @disabled = "disabled" })
                                }
                                else
                                {
                                    @Html.TextBoxFor(m => Model.NewVideo.Url)
                                }
                            </div>
                            @Html.ValidationMessageFor(m => Model.NewVideo.Url)
                            
                            <div class="controls">
                                @if (Model.TrainingVideos.Videos.Count < AccountSettings.CMSHomeVideos.VideoMaxCount)
                                {
                                    <label class="radio inline">
                                        @Html.RadioButtonFor(m => Model.NewVideo.IsVideoTraining, "true")
                                        <label>@Resources.lblVideoTraining</label>
                                    </label>
                                }
                                @if (Model.FeatureVideos.Videos.Count < AccountSettings.CMSHomeVideos.VideoMaxCount)
                                {
                                    <label class="radio inline">
                                        @Html.RadioButtonFor(m => Model.NewVideo.IsVideoTraining, "false")
                                        <label>@Resources.lblVideoFeature</label>
                                    </label>
                                }
                            </div>
                        </div>
                    </div>
                     <div class="control-group">
                        <label class="control-label">@Resources.lblAddNewVideoTitle</label>
                        <div class="controls">
                            @if (Model.TrainingVideos.Videos.Count == AccountSettings.CMSHomeVideos.VideoMaxCount && Model.FeatureVideos.Videos.Count == AccountSettings.CMSHomeVideos.VideoMaxCount)
                            {
                                    @Html.TextBoxFor(m => Model.NewVideo.Title, new { @disabled = "disabled" })
                            }
                            else
                            {
                                @Html.TextBoxFor(m => Model.NewVideo.Title)
                            }
                            @Html.ValidationMessageFor(m => Model.NewVideo.Title)
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">@Resources.lblAddNewVideoDescription</label>
                        <div class="controls">
                            @if (Model.TrainingVideos.Videos.Count == AccountSettings.CMSHomeVideos.VideoMaxCount && Model.FeatureVideos.Videos.Count == AccountSettings.CMSHomeVideos.VideoMaxCount)
                            {
                                    @Html.TextBoxFor(m => Model.NewVideo.Description, new { @disabled = "disabled" })
                            }
                            else
                            {
                                @Html.TextBoxFor(m => Model.NewVideo.Description)
                            }
                            @Html.ValidationMessageFor(m => Model.NewVideo.Description)
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <div class="message">@string.Format(Resources.lblMax6Videos, AccountSettings.CMSHomeVideos.VideoMaxCount)</div>
                            @if (Model.TrainingVideos.Videos.Count < AccountSettings.CMSHomeVideos.VideoMaxCount || Model.FeatureVideos.Videos.Count < AccountSettings.CMSHomeVideos.VideoMaxCount)
                            {
                                <button class="btn btn-primary" name="action" type="submit" value="SaveVideo">@Resources.lblAdd</button>
                            }
                            else
                            {
                                <button class="btn btn-primary" disabled="disabled">@Resources.lblAdd</button>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
        <!-- /row-fluid -->
    </div>
    <!-- /widget-content -->
</div>
<!-- /widget -->
<script type="text/javascript">
    $(document).ready(function () {
        // select the first visible checkbox
        $("input[name='NewVideo.IsVideoTraining']:first").click();
    });
</script>
