<div class="czn-versions" onclick="if (typeof myPixelComparePopup!='undefined') myPixelComparePopup.style.display = 'none';">
    <ul class="czn-versions-ul">
      {{#each version in versions}}
        {{render "image/viewer/compare-item" version}}
      {{/each}}
    </ul>

    <div class="czn-overlay-view-opacity" style="pointer-events: none;">

        <style>
            .map_sizes {
                position: absolute;
                top: 0px;
                left: 50%;
                height: 100%;
                width: 50%;
            }
            #map3 {
                display: none;
                left:0px;
            }
            #mybg {
                display: none;
                background-color: #eeeeee;opacity:0;
            }
        </style>

        <div id="mybg" class="map_sizes" style="pointer-events: none"></div>
        <div id="map3" class="map3 map_sizes" style="top:2px;pointer-events: none;">
            <canvas width="400" height="400" id="myCanvas" style="pointer-events: none"></canvas>
        </div>
        <div id="map4" class="map3 map_sizes" style="pointer-events: none;">
            <canvas width="400" height="400" id="myCanvas4" style="pointer-events: none;display:none"></canvas>
        </div>
    </div>

</div>
