
    <div {{bind-attr class="isTabletVersion:czn-top-navigation-tablet:czn-top-navigation"}}>
        <span class="badge czn-page-version">{{{model.PageVersionLabel}}}</span>
        {{#if showIsLockedIcon}}
            <section class="czn-align-center czn-version-lock hidden-xs">
                <button {{bind-attr class=":btn :czn-fa-lock :btn-sm :czn-font :czn-lock-button unlockButtonClass"}} {{action 'toggleVersionLock' model}} {{bind-attr title="lblApprovalLock"}}>
                       {{#if model.isApprovalReviewer}}
                           {{#if versionLocked}}
                               <span class="fa fa-lock"></span>
                           {{else}}
                               <span class="fa fa-unlock"></span>
                           {{/if}}
                       {{else}}
                           {{#if versionLocked}}
                               <span class="fa fa-lock disabled"></span>
                           {{else}}
                               <span class="fa fa-lock disabled"></span>
                           {{/if}}
                       {{/if}}
                </button>
            </section>
        {{/if}}
    </div>

{{render "image/viewer/open-layers" this}}

{{#unless isOverlayMode}}
    <section {{bind-attr class="pagerClass"}}>
        <div class="czn-pager-position">{{render "image/controls/pager" model}}</div>
    </section>
{{/unless}}

{{#unless isOverlayMode}}
    {{#if model.paginationVisible}}
        <section {{bind-attr class=":demo-stage isCompareMode:compare-mode"}}>
            <div class="czn-separator-horizontal"></div>
            <ul {{bind-attr class="pageClass"}}>
              {{render "image/controls/page-viewer" this}}
            </ul>
        </section>
    {{/if}}
{{/unless}}
