<div class='image-text-highlighting'>
</div>
<div class='options-text-highlighting'>
    <ul>
        <li class='selected' id='optionNormal' highlighttype='1'></li>
        <li id='optionReplaceWith' highlighttype='2'></li>
        <li id='optionInsert' highlighttype='3'></li>
        <li id='optionDelete' highlighttype='4'></li>
    </ul>
</div>