{{render "image/viewer/annotations/image-annotation-layer" this}}
{{render "image/viewer/annotations/image-canvas-view" this}}
{{#unless isCompareMode}}
  {{render "viewer/balloons-view" this}}
{{/unless}}
{{view "image/viewer/image-text-highlighting"}}
{{render "viewer/notifications" this}}
<div id="spCnt" style="display: none;">
<div class="colorDensitometer czn-colorDensitometer-pane czn-canvas-panel-selectable"></div>
</div>
