{{#each version in versions itemController='image/viewer/overlay-item'}}
    <div onclick="if (typeof myPixelComparePopup!='undefined') myPixelComparePopup.style.display = 'none';" {{bind-attr class="version.isFirstVersion:czn-overlay-view:czn-overlay-view-opacity"}}> {{render "image/viewer/image" version}} </div>
{{/each}}

<div class="czn-overlay-view-opacity" style="pointer-events: none;">

    <style>
        .map_sizes {
            position: absolute;
            top: 0px;
            left: 0;
            height: 100%;
            width: 100%;
        }
        #map3 {
            display: none;
            left:0px;
        }
        #mybg {
            display: none;
            background-color: #eeeeee;opacity:0;
        }
    </style>

    <div id="mybg" class="map_sizes" style="pointer-events: none"></div>
    <div id="map3" class="map3 map_sizes" style="top:0px;pointer-events: none;">
        <canvas width="400" height="400" id="myCanvas" style="pointer-events: none"></canvas>
    </div>
    <div id="map4" class="map3 map_sizes" style="pointer-events: none;">
        <canvas width="400" height="400" id="myCanvas4" style="pointer-events: none;display:none"></canvas>
    </div>
</div>

{{#if paginationVisible}}
    <section class="demo-stage overlay-mode">
        <div class="czn-separator-horizontal"></div>
        {{#each version in versions itemController='image/viewer/overlay-item'}}
            <ul class="czn-page-viewer list-inline list-unstyled unselectable pull-left">
              {{render "image/controls/page-viewer" version}}
            </ul>
        {{/each}}
    </section>
{{/if}}
