﻿<!-- New Annotation repeater -->
<table border="0" cellpadding="0" cellspacing="0" width="580" style="mso-table-lspace: 0pt;
    mso-table-rspace: 0pt;">
    <tr>
        <td width="30" valign="top">
            <img src="{0}" alt="default-avatar" width="30" height="30" style="outline: none; margin-right:10px; text-decoration: none; -ms-interpolation-mode: bicubic; display: block;" />
        </td>
        <td width="10" bgcolor="#EEEEEE">
        </td>
        <td width="530" colspan="2" bgcolor="#EEEEEE">
            <table border="0" cellpadding="0" cellspacing="0" width="530" style="mso-table-lspace: 0pt;
                mso-table-rspace: 0pt;">
                <tr>
                    <td colspan="2" height="6" width="580">
                    </td>
                </tr>
                <tr>
                    <td width="400" bgcolor="#EEEEEE" align="left" valign="middle" style="font-size: 13px;
                        line-height: 15px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">
                        <$notificationHeader$>
                    </td>
                    <td width="130" bgcolor="#EEEEEE" align="right">
                        <small class="date" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
                            font-size: 11px; color: #999999;"><$timestamp$></small>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" height="6" width="580">
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="4" height="10" width="580">
        </td>
    </tr>
    <tr>
        <td width="5">
        </td>
        <td width="5">
        </td>
		<td width="220" valign="top" align="left">
                        <img src="<$approval_thumbnail$>" alt="approval_thumbnail" class="thumbnail" style="-moz-border-radius: 4px;
                            -webkit-border-radius: 4px; border-radius: 4px; display: block; line-height: 1;
                            outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; padding-top: 4px;
                            padding-right: 4px; padding-bottom: 4px; padding-left: 4px; border-top-color: #dddddd;
                            border-right-color: #dddddd; border-bottom-color: #dddddd; border-left-color: #dddddd;
                            border-top-style: solid; border-right-style: solid; border-bottom-style: solid;
                            border-left-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px;
                            border-left-width: 1px; background-color: #ffffff;" />
                    </td>
        <td width="460" valign="top" style="display: <$is_visible_body$>">
     
                <blockquote style="border-left: 5px solid #CCC; margin: 0 0 25px; text-align:left; padding: 0 0 0 15px;">
					<p style="font-size: 13px; line-height: 18px; text-align:left; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; color: #000; margin-top: 1em; margin-right: 0; margin-bottom: 1em; margin-left: 0;"><$body$></p>
				</blockquote>
        </td>
        <td width="10">
        </td>
    </tr>
    <tr>
        <td colspan="4" height="10" width="580">
        </td>
    </tr>
</table>
<!-- /New Annotation repeater -->
