<table border="0" cellpadding="0" cellspacing="0" width="580" style="mso-table-lspace: 0pt;
    mso-table-rspace: 0pt;">
    <tr>
        <td width="30" valign="top">
            <img src="{0}" alt="default-avatar" width="30" height="30" style="outline: none; margin-right:10px; text-decoration: none; -ms-interpolation-mode: bicubic; display: block;" />
        </td>
        <td width="10" bgcolor="#EEEEEE">
        </td>
        <td width="530" colspan="2" bgcolor="#EEEEEE">
            <table border="0" cellpadding="0" cellspacing="0" width="530" style="mso-table-lspace: 0pt;
                mso-table-rspace: 0pt;">
                <tr>
                    <td colspan="2" height="6" width="580">
                    </td>
                </tr>
                <tr>
                    <td width="400" bgcolor="#EEEEEE" align="left" valign="middle" style="font-size: 13px;
                        line-height: 15px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">
                        <$notificationHeader$>
                    </td>
                    <td width="130" bgcolor="#EEEEEE" align="right">
                        <small class="date" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
                            font-size: 11px; color: #999999;"><$timestamp$></small>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" height="6" width="580">
                    </td>
                </tr>
                <!-- message -->
                <tr style="display: <$is_visible_message$>">
                    <td width="400" bgcolor="#EEEEEE" align="left" valign="middle" style="font-size: 13px;
                        line-height: 15px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">
                        <blockquote style="border-left: 5px solid #cccccc; margin: 0 0 25px; padding: 0 0 0 15px;">
                            <p style="font-size: 13px; line-height: 18px; text-align: left; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
                                color: #000; margin-top: 1em; margin-right: 0; margin-bottom: 1em; margin-left: 0;">
                                <$message$></p>
                        </blockquote>
                    </td>
                    <td width="130" bgcolor="#EEEEEE" align="right">
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="4" height="10" width="580">
        </td>
    </tr>
    <tr style="display: <$is_visible_content$>">
        <td width="5">
        </td>
        <td width="5">
        </td>
        <td width="540" valign="top">
            <table border="0" cellpadding="0" cellspacing="0" width="510" style="mso-table-lspace: 0pt;
                mso-table-rspace: 0pt; table-layout:fixed">
                <tr>
                    <td width="220" valign="top" align="left" style="display: <$is_visible_thumbnail$>">
                        <img src="<$approval_thumbnail$>" alt="approval_thumbnail" class="thumbnail" style="-moz-border-radius: 4px;
                            -webkit-border-radius: 4px; border-radius: 4px; display: block; line-height: 1;
                            outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; padding-top: 4px;
                            padding-right: 4px; padding-bottom: 4px; padding-left: 4px; border-top-color: #dddddd;
                            border-right-color: #dddddd; border-bottom-color: #dddddd; border-left-color: #dddddd;
                            border-top-style: solid; border-right-style: solid; border-bottom-style: solid;
                            border-left-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px;
                            border-left-width: 1px; background-color: #ffffff;" />
                    </td>
                    <td width="20">
                    </td>
                    <td width="350" align="left" valign="middle" style="vertical-align: middle; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">
                        <p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; line-height: 18px;
                            font-size: 16px; font-weight: bold; margin-top: 0; margin-right: 0; margin-bottom: 3px;
                            margin-left: 0;word-break: break-all;">
                            <$filename$></p>
                        <p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; line-height: 18px;
                            font-size: 12px; margin-top: 0; margin-right: 0; margin-bottom: 4px; margin-left: 0;">
                            <b><$lblDue$></b> <$dueDate$></p>
                        <p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; line-height: 18px;
                            font-size: 12px; margin-top: 0; margin-right: 0; margin-bottom: 18px; margin-left: 0;">
                            <b><$lblPhaseDeadline$></b> <$PhasedueDate$>
                        </p>
                        <table border="0" cellpadding="0" cellspacing="0" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
                            <tr>
                                <td style="display: <$is_visible_view_button$>">
                                    <table border="0" cellpadding="0" cellspacing="0" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
                                        <tr>
                                            <td align="center" width="80" bgcolor="<$bgColorOnViewButton$>" class="btn blue" style="font-family: Helvetica, Arial, sans-serif;
                                                -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; color: #ffffff;
                                                font-weight: bold; text-decoration: none; display: block; font-size: 13px; background-color: <$bgColorOnViewButton$>;">
                                                <a style="color: #ffffff; text-decoration: none; padding-top: 6px;
                                                padding-right: 10px; padding-bottom: 6px; padding-left: 10px; display: block" href="<$approvalViewURL$>"><$lblView$></a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td width="40">
                                </td>
                                <td align="left" style="display: <$is_visible_download_button$> font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;">
                                    <table border="0" cellpadding="0" cellspacing="0" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
                                        <tr>
                                            <td align="center" width="80" bgcolor="<$bgColorOnDownloadButton$>" class="btn" style="font-family: Helvetica, Arial, sans-serif;
                                                -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; color: #ffffff;
                                                font-weight: bold; text-decoration: none; display: block; font-size: 13px; background-color: <$bgColorOnDownloadButton$>;">
                                                <a style="color: #ffffff; text-decoration: none; padding-top: 6px;
                                                padding-right: 10px; padding-bottom: 6px; padding-left: 10px; display: block" href="<$approvalDownloadURL$>"><$lblDownload$></a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <p style="font-size: 13px; line-height: 18px; text-align: left; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
                color: #000; margin-top: 1em; margin-right: 0; margin-bottom: 1em; margin-left: 0;">
                <$pharagraphBody1$></p>
            <p style="font-size: 13px; line-height: 18px; text-align: left; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
                color: #000; margin-top: 1em; margin-right: 0; margin-bottom: 1em; margin-left: 0;">
                <$pharagraphBody2$></p>
        </td>
        <td width="30">
        </td>
    </tr>
    <tr>
        <td colspan="4" height="10" width="580">
        </td>
    </tr>
</table>
