﻿<table border="0" cellpadding="0" cellspacing="0" width="578" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
    <tr>
        <td width="30" valign="top">
            <img src="{0}" alt="default-avatar" width="30" height="30" style="outline: none; margin-right:10px; text-decoration: none; -ms-interpolation-mode: bicubic; display: block;" />
        </td>
        <td width="10">&nbsp;</td>
        <td width="508" colspan="2" bgcolor="#EEEEEE">
            <table border="0" cellpadding="0" cellspacing="0" width="508" style="mso-table-lspace: 0pt;
                                                                                                                                                                                                                                            mso-table-rspace: 0pt;">
                <tr>
                    <td colspan="2" height="6" width="508">
                    </td>
                </tr>
                <tr>
                    <td width="328" bgcolor="#EEEEEE" align="left" valign="middle" style="font-size: 13px;
                                                                                                                                                                                             line-height: 15px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">
                        <$notificationHeader$>
                    </td>
                    <td width="180" bgcolor="#EEEEEE" align="right">
                        <small class="date" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
                                                                                                                                                                                                     font-size: 11px; color: #999999;"><$timestamp$></small>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" height="6" width="508" style="display: <$is_visible_body$>">
                    </td>
                </tr>
                <!-- message -->
                <tr style="display: <$is_visible_message$>">
                    <td width="400" bgcolor="#EEEEEE" align="left" valign="middle" style="font-size: 13px;
                                                                                                                                                                                                                                                                                                                                                                  line-height: 15px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">
                        <blockquote style="border-left: 5px solid #cccccc; margin: 0 0 25px; padding: 0 0 0 15px;">
                            <p style="font-size: 13px; line-height: 18px; text-align: left; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            color: #000; margin-top: 1em; margin-right: 0; margin-bottom: 1em; margin-left: 0;">
                                <$message$></p>
                        </blockquote>
                    </td>
                    <td width="130" bgcolor="#EEEEEE" align="right">
                    </td>
                </tr>
            </table>
        </td>
        <td width="30">&nbsp;</td>
    </tr>
    <tr style="display: <$is_visible_thumbnail$>">
        <td colspan="4" height="10" width="578">
        </td>
    </tr>
    <tr style="display: <$is_visible_thumbnail$>">
        <td width="5">
        </td>
        <td width="5">
        </td>
         <td width="220" valign="top" align="left">
            <img width="220" src="<$thumbnailUrl$>" alt="thumbnail" class="thumbnail" style="-moz-border-radius: 4px;
                -webkit-border-radius: 4px; border-radius: 4px; display: block; line-height: 1;
                outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; padding-top: 4px;
                padding-right: 4px; padding-bottom: 4px; padding-left: 4px; border-top-color: #dddddd;
                border-right-color: #dddddd; border-bottom-color: #dddddd; border-left-color: #dddddd;
                border-top-style: solid; border-right-style: solid; border-bottom-style: solid;
                border-left-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px;
                border-left-width: 1px; background-color: #ffffff;" />
        </td>
        <td width="10">
        </td>
    </tr>
    <tr>
        <td colspan="4" height="10" width="578">&nbsp;</td>
    </tr>
</table>
<!-- /New Approval repeater -->
