﻿<table border="0" cellpadding="0" cellspacing="0" width="578" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt;">
    <tr>
        <td width="30" valign="top">
            <img src="{0}" alt="default-avatar" width="30" height="30" style="outline: none; margin-right:10px; text-decoration: none; -ms-interpolation-mode: bicubic; display: block;" />
        </td>
        <td width="10">&nbsp;</td>
        <td width="508" colspan="2" bgcolor="#EEEEEE">
            <table border="0" cellpadding="0" cellspacing="0" width="508" style="mso-table-lspace: 0pt;
                mso-table-rspace: 0pt;">
                <tr>
                    <td colspan="2" height="6" width="508">
                    </td>
                </tr>
                <tr>
                    <td width="328" bgcolor="#EEEEEE" align="left" valign="middle" style="font-size: 13px;
                        line-height: 15px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">
                        <$notificationHeader$>
                    </td>
                    <td width="180" bgcolor="#EEEEEE" align="right">
                        <small class="date" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
                            font-size: 11px; color: #999999;"><$timestamp$></small>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" height="6" width="508" style="display: <$is_visible_body$>">
                    </td>
                </tr>
            </table>
        </td>
        <td width="30">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="4" height="10" width="578">&nbsp;</td>
    </tr>
</table>
<!-- /New Approval repeater -->
