﻿<table border="0" cellpadding="0" cellspacing="0" width="580" style="mso-table-lspace: 0pt;
    mso-table-rspace: 0pt;">
    <tr>
        <td width="30" valign="top">
            <img src="{0}" alt="default-avatar" width="30" height="30" style="outline: none; margin-right:10px; text-decoration: none; -ms-interpolation-mode: bicubic; display: block;" />
        </td>
        <td width="10" bgcolor="#EEEEEE">
        </td>
        <td width="530" colspan="2" bgcolor="#EEEEEE">
            <table border="0" cellpadding="0" cellspacing="0" width="530" style="mso-table-lspace: 0pt;
                mso-table-rspace: 0pt;">
                <tr>
                    <td colspan="2" height="6" width="580">
                    </td>
                </tr>
                <tr>
                    <td width="400" bgcolor="#EEEEEE" align="left" valign="middle" style="font-size: 13px;
                        line-height: 15px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">
                        <$notificationHeader$>
                    </td>
                    <td width="130" bgcolor="#EEEEEE" align="right">
                        <small class="date" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
                            font-size: 11px; color: #999999;"><$timestamp$></small>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" height="6" width="580">
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="4" height="10" width="580">
        </td>
    </tr>
    <tr>
        <td width="30">
        </td>
        <td width="10">
        </td>
        <td width="510" valign="top" style="display: <$is_visible_body$>">
            <span class="plantype" style="font-size: 18px; line-height: 22px; font-weight: bold;">
                {5}</span><br />
            <span class="message">{6}</span>
        </td>
        <td width="30">
        </td>
    </tr>
    <tr>
        <td colspan="4" height="10" width="580" style="display: <$is_visible_body$>">
        </td>
    </tr>
</table>
