<div {{bind-attr class="annotation.canChangeStatus:dropdown :pull-right :czn-annotation-status" }} {{bind-attr title="lblAnnotationStatus"}}>
    <span {{bind-attr class="annotation.canChangeStatus:btn annotation.canChangeStatus:dropdown-toggle"}} data-toggle="dropdown">
        <span {{bind-attr class=":czn-img-icon :pull-left annotation.Status.icon"}}></span>
        {{#if annotation.canChangeStatus}}
            <span class="caret"></span>
        {{/if}}
    </span>
    {{#if annotation.canChangeStatus}}
        <ul class="dropdown-menu" role="menu">
            {{#each status in availableStatuses}}
                {{partial 'sidebar/annotation-status'}}
            {{/each}}
        </ul>
    {{/if}}
</div>
