{{#if showOnlyPrivateAnnotations}}
{{#if annotation.IsPrivateAnnotation}}
<li {{bind-attr class=":czn-list-annotation :selectable annotation.selected:selected"}}>
    <div class="czn-verticalLine-private" {{action "selectMultipleAnnotations" annotation}} title="Private">
        {{#if annotation.annotationSelectedToPublic}}
        <span class="czn-inner-verticalLine"></span>
        {{/if}}
      </div>
    {{partial 'sidebar/annotation-statuses'}}
    <section {{action "selectAnnotation" annotation}} class="czn-list-annotation-section">
        <figure class="czn-annotation-icon pull-left">
            <div {{bind-attr class=":czn-glyph-icon :fa annotation.annotationTypeClass"}}></div>
        </figure>
        <div class="czn-list-annotation-info">
            <div class="czn-list-annotation-text" {{bind-attr title="annotation.Comment"}}></div>
            <div class="czn-list-annotation-page-date">
                {{#if annotation.hasAttachments}}
                <span class="fa fa-paperclip pull-left"></span>
                {{/if}}
                <span class="czn-list-annotation-page pull-left">{{t "lblPage"}} {{annotation.PageNumber}}</span>
                <span class="czn-list-annotation-date pull-right">{{ annotation.annotationDateFormated }} <br> {{annotation.PhaseName}}</span>
            </div>
        </div>
      <div {{bind-attr class=":clear-both :pull-left annotation.annotationRepliesCount:czn-annotation-div"}}>
        {{#if annotation.annotationRepliesCount}}
                <div {{bind-attr class=":czn-annotation-badge annotation.annotationSoftProofingClass"}}>{{annotation.AnnotationNumber}}</div>
          {{else}}
                <div {{bind-attr class=":czn-annotation-badge annotation.annotationSoftProofingClass :czn-annotation-badge-margin"}}>{{annotation.AnnotationNumber}}</div>
        {{/if}}

        {{#if annotation.annotationRepliesCount}}
            <div class="czn-annotation-replies">
                <div class="fa fa-reply-all czn-annotation-replies-icon"></div>
                <div class="czn-annotation-replies-text">
                  {{annotation.annotationRepliesCount}}
                </div>
            </div>
        {{/if}}
      </div>
      {{#if currentVersionHasSoftProofing}}
        {{#if annotation.isDifferentViewCondition}}
          {{partial 'sidebar/annotation-statuses-sppwarning'}}
        {{/if}}
      {{/if}}
      <div class="clearfix"></div>
    </section>
</li>
{{/if}}
{{else}}
<li {{bind-attr class=":czn-list-annotation :selectable annotation.selected:selected"}}>
   {{#if isUserPDM}}
    {{#if annotation.IsPrivateAnnotation}}
      <div class="czn-verticalLine-private" {{action "selectMultipleAnnotations" annotation}} title="Private">
        {{#if annotation.annotationSelectedToPublic}}
        <span class="czn-inner-verticalLine"></span>
        {{/if}}
      </div>
    {{else}}
      <div class="czn-verticalLine-public" {{action "selectMultipleAnnotations" annotation}} title="Public">
        {{#if annotation.annotationSelectedToPublic}}
       <span class="czn-inner-verticalLine"></span>
       {{/if}}
       </div>
     {{/if}}
    {{/if}}
    {{partial 'sidebar/annotation-statuses'}} 
    <section {{action "selectAnnotation" annotation}} {{bind-attr class=":czn-dummy :selectable isUserPDM:czn-list-annotation-section"}}>
        <figure class="czn-annotation-icon pull-left">
            <div {{bind-attr class=":czn-glyph-icon :fa annotation.annotationTypeClass"}}></div>

        </figure>
        <div class="czn-list-annotation-info">
            <div class="czn-list-annotation-text" {{bind-attr title="annotation.Comment"}}></div>
            <div class="czn-list-annotation-page-date">
                {{#if annotation.hasAttachments}}
                <span class="fa fa-paperclip pull-left"></span>
                {{/if}}
                <span class="czn-list-annotation-page pull-left">{{t "lblPage"}} {{annotation.PageNumber}}</span>
                <span class="czn-list-annotation-date pull-right">{{ annotation.annotationDateFormated }} <br> {{annotation.PhaseName}}</span>
            </div>

        </div>
      <div {{bind-attr class=":clear-both :pull-left annotation.annotationRepliesCount:czn-annotation-div"}}>
        {{#if annotation.annotationRepliesCount}}
                <div {{bind-attr class=":czn-annotation-badge annotation.annotationSoftProofingClass"}}>{{annotation.AnnotationNumber}}</div>
          {{else}}
                <div {{bind-attr class=":czn-annotation-badge annotation.annotationSoftProofingClass :czn-annotation-badge-margin"}}>{{annotation.AnnotationNumber}}</div>
        {{/if}}

        {{#if annotation.annotationRepliesCount}}
            <div class="czn-annotation-replies">
                <div class="fa fa-reply-all czn-annotation-replies-icon"></div>
                <div class="czn-annotation-replies-text">
                  {{annotation.annotationRepliesCount}}
                </div>
            </div>
        {{/if}}
      </div>
      {{#if currentVersionHasSoftProofing}}
        {{#if annotation.isDifferentViewCondition}}
          {{partial 'sidebar/annotation-statuses-sppwarning'}}
        {{/if}}
      {{/if}}
      <div class="clearfix"></div>
    </section>
</li>
{{/if}}
