<span class="czn-annotation-statuses-warning tooltipCustom pull-right">
  <i class="fa fa-exclamation-triangle fa-lg"></i>
  <span class="tooltiptext">
    {{{annotation.DifferentViewConditionText}}}
  </span>
</span>

