<section id="comment" class="czn-comments">
    <header class="h4">New Comment</header>
    <textarea class="form-control" id="comment-text"></textarea>
</section>
<section class="czn-comment-action">
    <button type="button" class="btn btn-danger">Cancel</button>
    <button type="button" class="btn btn-success">Accept</button>
</section>