<section id="decisions" class="czn-decisions" data-toggle="buttons">
    <header class="h4">
        {{t "lblApprovalDecisions" }}
    </header>
    {{#each decision in decisions}}
        {{partial 'sidebar/decision'}}
    {{/each}}
</section>
<section class="czn-decision-action">
    <button type="button" class="btn btn-danger" {{action unloadDecision}}>
        {{t "btnCancel" }}
    </button>
    <button type="button" class="btn btn-success" {{action saveDecision}}>
        {{t "btnSave" }}
    </button>
</section>
