{{partial 'sidebar/users'}}
{{partial 'sidebar/phases'}}
<section id="annotations" class="czn-annotations">
  <header class="h4 unselectable">
      <div style="display: flex;">
      <div {{action "collapseAnnotations"}}>{{t "lblAnnotations" }}</div>
        {{#if areAnnotationsSelected}} 
        <span class="fa fa-users fa-lg" {{action "makeAnnotationsPublic"}} style="position: inherit; padding-left: 14px;" title="Make public/private"></span>
       {{/if}} 
      </div>
      {{partial 'sidebar/sorter'}}
  </header>
  {{#if annotationsLoadingInProgress }}
      <span class="czn-annotations-loading">
          <div class="loading-icon"></div>
      </span>
  {{else}}
      <ul {{bind-attr class=":list-unstyled :czn-list isAnnotationsPanelOpen:not-hidden:hidden"}}>
          {{partial template}}
      </ul>
  {{/if}}
</section>
