<section id="phases" {{bind-attr class=":czn-phases isAllPhases:not-hidden:hidden"}}>
    <header class="h4 unselectable" {{action "collapsePhases"}}>
        {{t "lblPhases"}}
    </header>
    <ul {{bind-attr class=":list-unstyled :czn-list :czn-all-phases isPhasesPanelOpen:not-hidden:hidden"}}>
        {{#each phase in phases}}
            <li {{bind-attr class=":czn-list-user :selectable phase.selected"}} {{action "togglePhase" phase}}>
                <span>{{phase.phaseName}}</span>
            </li>
        {{/each}}
    </ul>
</section>
