<div class="dropdown pull-right">
    <span class="btn btn-xs btn-default dropdown-toggle" id="annotations-filter" data-toggle="dropdown">
        {{t "lblSort" }}
        <span class="caret"></span>
    </span>
    <ul class="dropdown-menu" role="menu" aria-labelledby="annotations-filter">
        <li role="presentation" {{bind-attr class="isSortByName:active"}}>
            <a role="menuitem" {{action 'changeSorting' 'name'}} href="javascript:void(0);">
                {{t "lblName" }}
            </a>
        </li>
        <li role="presentation" {{bind-attr class="isSortByStatus:active"}}>
            <a role="menuitem" {{action 'changeSorting' 'status'}} href="javascript:void(0);">
              {{t "lblStatus" }}
            </a>
        </li>
        <li role="presentation" {{bind-attr class="isSortByPage:active"}}>
            <a role="menuitem" {{action 'changeSorting' 'page'}} href="javascript:void(0);">
              {{t "lblPage" }}
            </a>
        </li>
    </ul>
</div>
