<li class="czn-list-status">
    <span {{bind-attr class=":pull-left :czn-img-icon-header user.iconHeader"}}></span>
    <figcaption class="pull-left czn-sidebar-header">{{user.Name}}</figcaption>
</li>
