<section id="users" class="czn-users">
    <header class="h4 unselectable">
        <i {{bind-attr class=":fa :fa-caret-down :pull-left :unselectable :czn-group-icon"}} {{action "collapseUsers" }}></i>&nbsp; 
        {{#if IsSelectedAllUsers}}
        <span  {{bind-attr title="lblDeselectAll"}} {{action 'deselectAllUsers' users}}> {{t "lblUsers" }} &emsp;&emsp;&emsp; </span>
        {{else}}
        <span {{bind-attr title="lblSelectAll"}} {{action 'selectAllUsers' users}}> {{t "lblUsers"}} &emsp;&emsp;&emsp; </span> 
        {{/if}} 
    </header>
    {{#if hasUsersOrGroups}}
    <div {{bind-attr class=":czn-all-groups isUsersPanelOpen:not-hidden:hidden" }}>
    {{#each group in groups}}
        <div class="czn-avatar czn-group" {{bind-attr group-id="group.id"}}>
            <div class="czn-group-name pull-left" {{bind-attr title="group.name"}}>
                <i {{bind-attr class=":fa :fa-caret-down :pull-left :unselectable :czn-group-icon"}} {{action "collapseGroup" group}}></i>
                {{#if group.IsGroupSelected}}
                <span {{bind-attr title="lblDeselectAll"}} {{action 'deselectGroupUsers' group}}> {{group.name}}  &emsp;&emsp; </span>
               {{else}}
               <span {{bind-attr title="lblSelectAll"}} {{action 'selectGroupUsers' group}}> {{group.name}}  &emsp;&emsp; </span> 
               {{/if}} 
            </div>               
            <i {{bind-attr class=":czn-group-decision-icon group.decisionIcon" title="group.decisionTitle"}}></i>
        </div>
        <ul class="list-unstyled czn-list czn-group-list" {{bind-attr group-id="group.id"}}>
          {{#each user in group.users}}
            {{partial 'sidebar/selectable-user-without-image'}}
          {{/each}}
        </ul>
    {{/each}}
    </div>
    <ul {{bind-attr class=":list-unstyled :czn-list :czn-all-users isUsersPanelOpen:not-hidden:hidden"}}>
        {{#each user in usersWithoutGroups}}
          {{partial 'sidebar/selectable-user-without-image'}}
        {{/each}}
    </ul>
    {{else}}
        <span class="czn-users-loading">
        </span>
    {{/if}}
</section>
