<figure class="czn-avatar">
    <div class="czn-user-color pull-left" {{bind-attr style="user.bgColor"}}></div>
    {{#if user.UserStatus}}
            <figcaption class="pull-left czn-username-without-image" {{bind-attr title="user.title"}}>{{user.GivenName}} {{user.FamilyName}} (Inactive)</figcaption>
     {{else}}
    <figcaption class="pull-left czn-username-without-image" {{bind-attr title="user.title"}}>{{user.GivenName}} {{user.FamilyName}}{{user.SubstituteUserName}}</figcaption>
    {{/if}}
    <i {{bind-attr class=":czn-decision-icon :pull-right user.decisionIcon" title="user.decisionTitle"}}></i>
</figure>
