<figure class="czn-avatar">
    <img {{bind-attr src=user.CollaboratorAvatar alt=user.GivenName class=":pull-left"}}>
    {{#if user.UserStatus}}
        <figcaption class="pull-left czn-username-with-image" {{bind-attr title="user.title"}}>{{user.GivenName}} {{user.FamilyName}}{{user.SubstituteUserName}} (Inactive)</figcaption>
    {{else}}
        <figcaption class="pull-left czn-username-with-image" {{bind-attr title="user.title"}}>{{user.GivenName}} {{user.FamilyName}}{{user.SubstituteUserName}}</figcaption>
    {{/if}}
    <div class="czn-user-color pull-right" {{bind-attr style="user.bgColor"}}></div>
</figure>
