﻿@model GMGColorDAL.CustomModels.ViewAccounts
@using GMGColor.Resources
@if (ViewBag.ControlName == "Location")
{
    <div class="span3">
        <label>
            @Resources.lblAccountType</label>
        <select name="SelectedAccountTypes" multiple="multiple" id="selAccType" data-placeholder="@Resources.lblAllTypes" class="chzn-select" onchange="javascript:$('#mainForm').attr('data-ajax-update','#dvControls'); $('#btnAccTypeChange').click();">
            @foreach (KeyValuePair<int, string> type in Model.AccountTypes)
            {
                string selected = (Model.SelectedAccountTypes != null && Model.SelectedAccountTypes.Contains(type.Key.ToString())) ? "selected=\"selected\"" : "";
                <option value="@type.Key" @selected>@type.Value</option>
            }
        </select>
    </div>
    <div class="span3" id="dvLocations">
        <label>
            @Resources.lblLocation</label>
        <select name="SelectedLocations" multiple="multiple" id="selLocations" data-placeholder="@Resources.lblAllLocations" class="chzn-select" onchange="javascript:$('#mainForm').attr('data-ajax-update','#dvAccounts'); $('#btnLocationChange').click();">
            @foreach (KeyValuePair<int, string> location in Model.Locations)
            {
                string selected = (Model.SelectedLocations != null && Model.SelectedLocations.Contains(location.Key.ToString())) ? "selected=\"selected\"" : "";
                <option value="@location.Key" @selected>@location.Value</option>
            }
        </select>
    </div>
    <div class="span3" id="dvAccounts">
        <label>
            @Resources.lblAccounts</label>
        <select name="SelectedAccounts" multiple="multiple" id="selAccs" data-placeholder="@Resources.lblAllAccounts" class="chzn-select" onchange="javascript:$('#mainForm').attr('data-ajax-update','#dvStatues'); $('#btnAccTypeChange').click();">
            @foreach (KeyValuePair<int, string> acc in Model.Accounts)
            {
                string selected = (Model.SelectedAccounts != null && Model.SelectedAccounts.Contains(acc.Key.ToString())) ? "selected=\"selected\"" : "";
                <option value="@acc.Key" @selected>@acc.Value</option>
            }
        </select>
    </div>
    <div class="span3" id="dvStatues">
        <label>
            @Resources.lblStatus</label>
        <select name="SelectedAccountStatues" multiple="multiple" id="selStatuses" data-placeholder="@Resources.lblAnyStatus" class="chzn-select">
            @foreach (KeyValuePair<int, string> status in Model.AccountStatuses)
            {
                string selected = (Model.SelectedAccountStatues != null && Model.SelectedAccountStatues.Contains(status.Key.ToString())) ? "selected=\"selected\"" : "";
                <option value="@status.Key" @selected>@status.Value</option>
            }
        </select>
    </div>
}
else if (ViewBag.ControlName == "Accounts")
{
    <label>
        @Resources.lblAccounts</label>
    <select name="SelectedAccounts" multiple="multiple" id="selAccs" data-placeholder="@Resources.lblAllAccounts" class="chzn-select" onchange="javascript:$('#mainForm').attr('data-ajax-update','#dvStatues'); $('#btnAccountChange').click();">
        @foreach (KeyValuePair<int, string> acc in Model.Accounts)
        {
            string selected = (Model.SelectedAccounts != null && Model.SelectedAccounts.Contains(acc.Key.ToString())) ? "selected=\"selected\"" : "";
            <option value="@acc.Key" @selected>@acc.Value</option>
        }
    </select>
}
else if (ViewBag.ControlName == "Status")
{
    <label>
        @Resources.lblStatus</label>
    <select name="SelectedAccountStatues" multiple="multiple" id="selStatuses" data-placeholder="@Resources.lblAnyStatus" class="chzn-select">
        @foreach (KeyValuePair<int, string> status in Model.AccountStatuses)
        {
            string selected = (Model.SelectedAccountStatues != null && Model.SelectedAccountStatues.Contains(status.Key.ToString())) ? "selected=\"selected\"" : "";
            <option value="@status.Key" @selected>@status.Value</option>
        }
    </select>
}
<script type="text/javascript">
    $(document).ready(function () {
        $(".chzn-select").chosen();
        $(".chzn-select-deselect").chosen({ allow_single_deselect: true });
    });
</script>