﻿@model GMGColorDAL.CustomModels.EditAccount.Summary
@using GMGColor.Resources
@using GMGColorDAL
@using GMGColorDAL.CustomModels
@using GMGColor.Common
@{
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
    GMGColorBusinessLogic.DbContextBL context = HttpContext.Current.Items[GMGColorDAL.DALUtils.DatabaseContext] as GMGColorBusinessLogic.DbContextBL;
}
<ul class="breadcrumb">
    <li><a href="@Url.Action("Index", new { page = Session[GMGColorConstants.AccountPagination] })">@Resources.lblAccount</a> <span class="divider">/</span></li>
    <li class="active">@Model.objAccount.Name</li>
</ul>
<div class="widget">
    <!--widget-header -->
    <div class="widget-header">
        <h3>@Model.objAccount.Name@*&nbsp;<small>@ViewBag.HeaderSmall</small>*@</h3>
    </div>
    <!-- / -->
    <!-- widget-content -->
    <div class="widget-content">
        <div class="row-fluid">
            <div class="span3">
                @{Html.RenderAction("SecondaryNavigation", "Navigation", new { secondaryNavType = SecondaryNavigationTypeEnum.EditAccountSettings });}
            </div>
            <div class="span9">
                @if (Model.objAccount.NeedSubscriptionPlan)
                {
                    GMGColorDAL.AccountStatu.Status accountStatus = GMGColorDAL.AccountStatu.GetAccountStatus(Model.objAccount.ID, context);
                    ViewBag.DateFormat = Model.objAccount.DateFormat1.Pattern;
                    
                    <!-- Start Collaborate -->
                    
                    AccountSubscriptionDetails accountSubscription = Model.accSubscriptionDetails;
                    AccountBillingPlansInUse accountBillingPlans = Model.accBillingPlans;
                    <!-- Start Collaborate -->
                    AccountSubscriptionPlan collaborateSubscriptionPlan = accountSubscription.CollaborateSubscriptionPlan;
                    SubscriberPlanInfo collaborateSubscriberPlan = accountSubscription.CollaborateSubscriberPlan;
                    bool isAccountInCollaborateFreePlan = accountBillingPlans != null && accountBillingPlans.CollaborateBillingPlan != null && accountBillingPlans.CollaborateBillingPlan.Price == 0;
                    
                    if (collaborateSubscriptionPlan != null)
                    {
                        AccountSettings.AccountSummary collaborateModel = new AccountSettings.AccountSummary
                        {
                            appModule = GMG.CoZone.Common.AppModule.Collaborate,
                            objAccountSubscriptionPlan = collaborateSubscriptionPlan,
                            objBillingPlan = accountBillingPlans.CollaborateBillingPlan,
                            objSoftProofingWorkStations = Model.objSoftProofingWorkStations,
                            objProofs = Model.objCollaborateProofs,
                            IsAccountInFreePlan = isAccountInCollaborateFreePlan,
                            AccountStatus = accountStatus,
                            ModuleAnualTotal = Model.objInformation.CollaborateAnualTotal,
                            ModuleAnualTotalMessage = Model.objInformation.CollaborateAnualTotalMessage,
                            GPP = Model.objInformation.GPP,
                            ModuleName = Resources.lblCollaboratePlan,
                            ModuleCurrentPlan = Model.objInformation.CollaborateCurrentPlan,
                            objAccountStorage = Model.objStorage,
                            objAccountUserCount = Model.objAccountUserCount,
                        };

                        Html.RenderPartial("AccountSummary", collaborateModel);
                    }
                    else if (collaborateSubscriberPlan != null)
                    {
                        AccountSettings.AccountSummary collaborateModel = new AccountSettings.AccountSummary
                        {
                            appModule = GMG.CoZone.Common.AppModule.Collaborate,
                            objAccountSubscriberPlan = collaborateSubscriberPlan,
                            objBillingPlan = accountBillingPlans.CollaborateBillingPlan,
                            objSoftProofingWorkStations = Model.objSoftProofingWorkStations,
                            objProofs = Model.objCollaborateProofs,
                            IsAccountInFreePlan = isAccountInCollaborateFreePlan,
                            AccountStatus = accountStatus,
                            ModuleAnualTotal = Model.objInformation.CollaborateAnualTotal,
                            ModuleAnualTotalMessage = Model.objInformation.CollaborateAnualTotalMessage,
                            GPP = Model.objInformation.GPP,
                            ModuleName = Resources.lblCollaboratePlan,
                            ModuleCurrentPlan = Model.objInformation.CollaborateCurrentPlan
                        };

                        Html.RenderPartial("AccountSummary", collaborateModel);
                    }
                    <!-- End Collaborate -->
                   
                    <!-- Start Deliver -->
                    AccountSubscriptionPlan deliverSubscriptionPlan = accountSubscription.DeliverSubscriptionPlan;
                    SubscriberPlanInfo deliverSubscriberPlan = accountSubscription.DeliverSubscriberPlan;
                    bool isAccountInDeliverFreePlan = accountBillingPlans != null && accountBillingPlans.DeliverBillingPlan != null && accountBillingPlans.DeliverBillingPlan.Price == 0;
                    
                    if (deliverSubscriptionPlan != null)
                    {
                        AccountSettings.AccountSummary deliverModel = new AccountSettings.AccountSummary
                        {
                            appModule = GMG.CoZone.Common.AppModule.Deliver,
                            objAccountSubscriptionPlan = deliverSubscriptionPlan,
                            objBillingPlan = accountBillingPlans.DeliverBillingPlan,
                            objProofs = Model.objDeliverProofs,
                            objColorProofConnections = Model.objColorProofConnections,
                            IsAccountInFreePlan = isAccountInDeliverFreePlan,
                            AccountStatus = accountStatus,
                            ModuleAnualTotal = Model.objInformation.DeliverAnualTotal,
                            ModuleAnualTotalMessage = Model.objInformation.DeliverAnualTotalMessage,
                            GPP = Model.objInformation.GPP,
                            ModuleName = Resources.lblDeliverPlan,
                            ModuleCurrentPlan = Model.objInformation.DeliverCurrentPlan
                        };

                        Html.RenderPartial("AccountSummary", deliverModel);
                    }
                    else if (deliverSubscriberPlan != null)
                    {
                        AccountSettings.AccountSummary deliverModel = new AccountSettings.AccountSummary
                        {
                            appModule = GMG.CoZone.Common.AppModule.Deliver,
                            objAccountSubscriberPlan = deliverSubscriberPlan,
                            objBillingPlan = accountBillingPlans.DeliverBillingPlan,
                            objProofs = Model.objDeliverProofs,
                            objColorProofConnections = Model.objColorProofConnections,
                            IsAccountInFreePlan = isAccountInDeliverFreePlan,
                            AccountStatus = accountStatus,
                            ModuleAnualTotal = Model.objInformation.DeliverAnualTotal,
                            ModuleAnualTotalMessage = Model.objInformation.DeliverAnualTotalMessage,
                            GPP = Model.objInformation.GPP,
                            ModuleName = Resources.lblDeliverPlan,
                            ModuleCurrentPlan = Model.objInformation.DeliverCurrentPlan
                        };

                        Html.RenderPartial("AccountSummary", deliverModel);
                    }
                    <!-- End Deliver -->                   
                }
            </div>
        </div>
    </div>
    <!-- / -->
</div>
