﻿@model GMGColorDAL.CustomModels.EditAccount.Customise
@using GMGColor.Resources
@using GMGColor.FileUpload
@using GMGColorDAL
@using GMGColorDAL.CustomModels
@using GMGColor.Common
@{
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
    Bundles.Reference("fileupload");
    Bundles.Reference("colorpicker");
}
<ul class="breadcrumb">
    <li><a href="@Url.Action("Index", new { page = Session[GMGColorConstants.AccountPagination] })">@Resources.lblAccount</a> <span class="divider">/</span></li>
    <li class="active">@Model.objAccount.Name</li>
</ul>
<div class="widget">
    <div class="widget-header">
        <h3>@Model.objAccount.Name@*&nbsp;<small>@ViewBag.HeaderSmall</small>*@</h3>
    </div>
    <!-- /widget-header -->
    <div class="widget-content">
        <div class="row-fluid">
            <div class="span3">
                @{Html.RenderAction("SecondaryNavigation", "Navigation", new { secondaryNavType = SecondaryNavigationTypeEnum.EditAccountSettings });}
            </div>
            <div class="span9">
                @using (Html.BeginForm("", "Account", FormMethod.Post, new { @class = "form-horizontal", id = "formMain" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.objAccount.ID)
                    @Html.HiddenFor(m => m.objCompany.ID)
                    <fieldset>
                        <legend>@Resources.lblAppearance</legend>
                        <!--SiteName-->
                        <div class="control-group">
                            <label class="control-label">@Resources.lblSiteName</label>
                            <div class="controls">
                                @Html.TextBoxFor((m => m.objAccount.SiteName), new { placeholder = Resources.lblEnterYourOrganisationNameHere })
                                @Html.ValidationMessageFor(m => m.objAccount.SiteName)
                                <p class="help-block">
                                    @Resources.pharagraphSettingsCustomise1
                                </p>
                            </div>
                        </div>
                      <div class="form-group">
                            <label class="control-label">@Resources.lblColorScheme</label>
                            <div class="controls">
                                <div id="themeChooser">
                                    <ul class="colorscheme  @(Model.ShowSelectedTheme ? "styleswitch" : string.Empty)">
                                        @for (int i = 0; i < Model.objColorSchema.Count; i++)
                                        {
                                            Html.RenderPartial("_ColorPickerList", 
                                                                Model.objColorSchema[i], 
                                                                new ViewDataDictionary { TemplateInfo = new TemplateInfo { HtmlFieldPrefix = "objColorSchema[" + i + "]",}});
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>@Resources.lblBranding</legend>
                        <p>@Resources.lblBrandingInfo</p>
                        <h6>@Resources.lblApplication</h6>
                        <div class="control-group">
                            <label class="control-label">@Resources.lblHeaderLogo</label>
                            @{FileUploadModel fupHeaderLogo = new FileUploadModel(Model.objAccount.Region);
                              fupHeaderLogo.Key = 1;
                              fupHeaderLogo.DefaultImagePath = GMGColorDAL.Account.GetLogoPath(Model.objAccount, GMGColorDAL.Account.LogoType.HeaderLogo, false, false);
                              fupHeaderLogo.HelpBlockHtml = Resources.lblDownloadOur + "&nbsp;<a href=\"../../Content/templates/ps-header-template.psd\">" + Resources.lblPhotoshop + "</a>&nbsp;" + Resources.lblFileToGetStarted;
                              fupHeaderLogo.HelpInlineHtml = Resources.lblMaxHeight + ":&nbsp;<strong>33</strong>&nbsp;" + Resources.lblPixels + "</span>";
                            }
                            @Html.Partial("FileUpload", fupHeaderLogo)
                        </div>
                        <div class="control-group">
                        </div>
                        <h6>@Resources.lblLogin</h6>
                        <div class="control-group">
                            <label class="control-label">@Resources.lblLoginLogo</label>
                            @{ FileUploadModel fupLoginLogo = new FileUploadModel(Model.objAccount.Region);
                               fupLoginLogo.Key = 2;
                               fupLoginLogo.DefaultImagePath = GMGColorDAL.Account.GetLogoPath(Model.objAccount, GMGColorDAL.Account.LogoType.LoginLogo, false, false);
                               fupLoginLogo.HelpBlockHtml = Resources.lblDownloadOur + "&nbsp;<a href=\"../../Content/templates/ps-login-template.psd\">" + Resources.lblPhotoshop + "</a>&nbsp;" + Resources.lblFileToGetStarted;
                               fupLoginLogo.HelpInlineHtml = Resources.lblMaxHeight + ":&nbsp;<strong>200</strong>&nbsp;" + Resources.lblPixels + "</span>";
                            }
                            @Html.Partial("FileUpload", fupLoginLogo)
                        </div>
                        <h6>@Resources.lblEmail</h6>
                        <div class="control-group">
                            <label class="control-label">@Resources.lblEmailLogo</label>
                            @{FileUploadModel fupEmailLogo = new FileUploadModel(Model.objAccount.Region);
                                fupEmailLogo.Key = 3;
                                fupEmailLogo.DefaultImagePath = GMGColorDAL.Account.GetLogoPath(Model.objAccount, GMGColorDAL.Account.LogoType.EmailLogo, false, false);
                                fupEmailLogo.HelpBlockHtml = Resources.lblDownloadOur + "&nbsp;<a href=\"../../Content/templates/ps-email-template.psd\">" + Resources.lblPhotoshop + "</a>&nbsp;" + Resources.lblFileToGetStarted;
                                fupEmailLogo.HelpInlineHtml = Resources.lblMaxHeight + ":&nbsp;<strong>160 x 60</strong>&nbsp;" + Resources.lblPixels + "</span>";
                            }
                            @Html.Partial("FileUpload", fupEmailLogo)
                        </div>
                        <h6>@Resources.lblFavIcon</h6>
                        <div class="control-group">
                            <label class="control-label">@Resources.lblFavIcon</label>
                            @{var fupFavIconLogo = new FileUploadModel(Model.objAccount.Region)
                              {
                                  Key = 4, 
                                  DefaultImagePath = GMGColorDAL.Account.GetLogoPath(Model.objAccount,
                                  GMGColorDAL.Account.LogoType.FavIconLogo, false, false), 
                                  HelpBlockHtml = Resources.lblDownloadOur + " <a href=\"../../Content/templates/favicon-template.psd\">" + Resources.lblPhotoshop + "</a> " + Resources.lblFileToGetStarted,
                                  HelpInlineHtml = Resources.lblMaxDimensions + ": <strong>32 x 32</strong>&nbsp;" + Resources.lblPixels + "</span>",
                                  AcceptFileTypes = "/(jpe?g|png|ico)$/i"
                              };
                             }
                            @Html.Partial("FileUpload", fupFavIconLogo)
                        </div>
                    </fieldset>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary" name="action" value="EditCustomize" data-loading-text="@Resources.btnUpdating">@Resources.btnUpdateAccount</button>
                    </div>
                    @Html.Partial("FileUploadTemplates", FileUploadModel.FileUploadTemplates(Model.objCustomiseAccount.PathToTempFolder, Model.objAccount.Region))
                }
            </div>
        </div>
    </div>
    <!-- /widget-content -->
</div>
