﻿@model GMGColorDAL.CustomModels.EditAccount.Profile
@using GMGColor.Resources
@using GMGColorDAL
@using GMGColorDAL.CustomModels
@using GMGColor.Common
@{
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
    GMGColorBusinessLogic.DbContextBL context = HttpContext.Current.Items[GMGColorDAL.DALUtils.DatabaseContext] as GMGColorBusinessLogic.DbContextBL;
}
<ul class="breadcrumb">
    <li><a href="@Url.Action("Index", new { page = Session[GMGColorConstants.AccountPagination] })">@Resources.lblAccount</a>
        <span class="divider">/</span></li>
    <li class="active">@Model.objAccount.Name</li>
</ul>
<div class="widget">
    <div class="widget-header">
        <h3>@Model.objAccount.Name@*&nbsp;<small>@ViewBag.HeaderSmall</small>*@</h3>
    </div>
    <!-- /widget-header -->
    <div class="widget-content">
        <div class="row-fluid">
            <div class="span3">
                @{Html.RenderAction("SecondaryNavigation", "Navigation", new { secondaryNavType = SecondaryNavigationTypeEnum.EditAccountSettings });}
            </div>
            <div class="span9">
                @using (Html.BeginForm("", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    <!-- Account Information -->
                    <fieldset>
                        <legend>@Resources.lblAccountInformation</legend>
                        <!-- Account Type -->
                        <div class="control-group">
                            <label class="control-label">@Resources.lblAccountType</label>
                            <div class="controls">
                                @{AccountStatu.Status accountStatus = GMGColorDAL.AccountStatu.GetAccountStatus(Model.objAccount.ID, context);
                                  AccountType.Type currentAccountType = AccountType.GetAccountType(Model.objAccount.ID, context);
                                  if (currentAccountType != GMGColorDAL.AccountType.Type.Subscriber && currentAccountType != GMGColorDAL.AccountType.Type.Client &&
                                      (accountStatus == GMGColorDAL.AccountStatu.Status.Draft || accountStatus == GMGColorDAL.AccountStatu.Status.Inactive))
                                  {
                                      List<GMGColorDAL.AccountType> lstAccountTypes = new List<GMGColorDAL.AccountType>();
                                      foreach (GMGColorDAL.AccountType accountType in Model.ListLoggedAccountAccountTypes(currentAccountType, context))
                                      {
                                          accountType.Name = GMGColorDAL.AccountType.GetLocalizedAccountTypeName(accountType);
                                          lstAccountTypes.Add(accountType);
                                      }
                                    @Html.DropDownListFor(model => model.objAccount.AccountType, new SelectList(lstAccountTypes, "ID", "Name"), Resources.lblSelectAccountType, new { @class = "" })
                                    @Html.ValidationMessageFor(model => model.objAccount.AccountType)
                                  }
                                  else
                                  {
                                    <select id="objAccount_AccountType" class="" name="objAccount.AccountType" disabled="disabled">
                                        <option value="@Model.objAccount.AccountType">@GMGColorDAL.AccountType.GetLocalizedAccountTypeName(Model.objAccount.AccountType, context)</option>
                                    </select>
                                  }
                                }
                            </div>
                        </div>
                        <!-- / -->
                        <!-- Account Name -->
                        <div class="control-group">
                            <label class="control-label">@Resources.lblAccountName</label>
                            <div class="controls">
                                @Html.TextBoxFor(m => m.objAccount.Name, new { @class = "" })
                                @Html.ValidationMessageFor(m => m.objAccount.Name)
                                <p class="help-block">
                                    @Resources.lblAccountNameUsedThroughoutTheAdmin</p>
                            </div>
                        </div>
                        <!-- / -->
                        <!-- Company Name -->
                        <div class="control-group">
                            <label class="control-label">@Resources.lblCompanyName</label>
                            <div class="controls">
                                @Html.TextBoxFor(m => m.objCompany.Name, new { @class = "" })
                                @Html.ValidationMessageFor(m => m.objCompany.Name)
                            </div>
                        </div>
                        <!-- / -->
                        <!--Dealer Number -->
                        <div class="control-group">
                            <label class="control-label">@Resources.lblDealerNumber</label>
                            <div class="controls">
                                @Html.TextBoxFor(model => model.objAccount.DealerNumber, new { @class = "idouble" })
                                @Html.ValidationMessageFor(model => model.objAccount.DealerNumber)
                            </div>
                        </div>
                        <!-- / -->
                        <!--Customer Number -->
                        <div class="control-group">
                            <label class="control-label">@Resources.lblCustomerNumber</label>
                            <div class="controls">
                                @Html.TextBoxFor(model => model.objAccount.CustomerNumber, new { @class = "idouble" })
                                @Html.ValidationMessageFor(m => m.objAccount.CustomerNumber)
                            </div>
                        </div>
                        <!-- / -->
                        <!--VAT Number -->
                        <div class="control-group">
                            <label class="control-label">@Resources.lblVATNumber</label>
                            <div class="controls">
                                @Html.TextBoxFor(model => model.objAccount.VATNumber, new { @class = "idouble" })
                                @Html.ValidationMessageFor(model => model.objAccount.VATNumber)
                            </div>
                        </div>
                    </fieldset>                    
                    <!-- / -->
                    <!-- Account Owner -->
                    <fieldset>
                        @{
                                  List<GMGColorDAL.User> lstAccoountOwners = Model.objAccount.Users.Where(o => o.UserStatu.Key == "A" &&
                                          o.UserRoles.Select(r => GMGColorDAL.Role.GetRole(r.Role1.Key)).All(r =>
                                              r == GMGColorDAL.Role.RoleName.AccountAdministrator || r == GMGColorDAL.Role.RoleName.GMGAdministrator)).ToList();

                                  if (lstAccoountOwners.Count == 0)
                                  {
                                      lstAccoountOwners.Add(Model.objAccount.OwnerUser);
                                  }
                        }
                        <legend>@Resources.lblAccountOwner</legend>
                        <!-- Account Owner -->
                        <div class="control-group">
                            <label class="control-label">
                                <img class ="userAvatar" src="@(GMGColorDAL.User.GetImagePath(Model.objAccount.Owner.Value, context))" alt="avatar_placeholder" width="54" height="54" />
                                @*   @Resources.lblAccountOwner*@</label>
                            <div class="controls">
                                <address>
                                    <strong>@Model.objAccount.OwnerUser.GivenName @Model.objAccount.OwnerUser.FamilyName</strong><br />
                                    @Model.objAccount.OwnerUser.EmailAddress
                                    <br />
                                    @if (Model.objLoggedUser.Account1.Owner == Model.objLoggedUser.ID)
                                    {
                                        <a style="cursor: pointer" data-toggle="collapse" data-target="#dvchangeAccountOwner">
                                            @Resources.lblChangeAccOwner</a>
                                    }
                                    else
                                    {
                                        @Html.HiddenFor(m => m.objAccount.Owner)
                                    }
                                </address>
                            </div>
                        </div>
                        <!-- / -->
                        <div id="dvchangeAccountOwner" class="collapse">
                            <div class="control-group">
                                <label for="lblAdminstrators" class="control-label">
                                    @Resources.lblNewAccountOwner</label>
                                <div class="controls">
                                    @Html.DropDownListFor((m => m.objAccount.Owner), new SelectList(lstAccoountOwners, "ID", "GivenName", Resources.lblSelectUser), new { @class = "" })
                                    <p class="help-block">
                                        @Resources.pharagraphSettingsGeneral1</p>
                                </div>
                            </div>
                        </div>
                        @if (accountStatus != GMGColorDAL.AccountStatu.Status.Draft && accountStatus != GMGColorDAL.AccountStatu.Status.Inactive)
                        {
                            <!-- Reset Password -->
                            <div class="control-group">
                                <label class="control-label">@Resources.lblPassword</label>
                                <div class="controls">
                                    <button class="btn cancel" type="submit" name="action" value="ResetPasswordOwner">
                                        @Resources.lblResetPassword</button>
                                </div>
                            </div>
                        }
                        <!-- / -->
                    </fieldset>
                    <!-- / -->
                    <!-- Billing Address -->
                    <fieldset>
                        <legend>@Resources.lblBillingInfo</legend>
                        <!--Address 1-->
                        <div class="control-group">
                            <label class="control-label">@Resources.lblAddress1</label>
                            <div class="controls">
                                @Html.TextBoxFor(m => m.objCompany.Address1, new { @class = "" })
                                @Html.ValidationMessageFor(m => m.objCompany.Address1)
                            </div>
                        </div>
                        <!-- / -->
                        <!--Address 2-->
                        <div class="control-group">
                            <label class="control-label">@Resources.lblAddress2</label>
                            <div class="controls">
                                @Html.TextBoxFor(m => m.objCompany.Address2, new { @class = "" })
                                @Html.ValidationMessageFor(m => m.objCompany.Address2)
                            </div>
                        </div>
                        <!-- / -->
                        <!--City-->
                        <div class="control-group">
                            <label class="control-label">@Resources.lblCity</label>
                            <div class="controls">
                                @Html.TextBoxFor(m => m.objCompany.City, new { @class = "" })
                                @Html.ValidationMessageFor(m => m.objCompany.City)
                            </div>
                        </div>
                        <!-- / -->
                        <!--State-->
                        <div class="control-group">
                            <label class="control-label">@Resources.lblState</label>
                            <div class="controls">
                                @Html.TextBoxFor(m => m.objCompany.State, new { @class = "" })
                                @Html.ValidationMessageFor(m => m.objCompany.State)
                            </div>
                        </div>
                        <!-- / -->
                        <!--PostCode/ ZipCode-->
                        <div class="control-group">
                            <label class="control-label">@Resources.lblPostCode</label>
                            <div class="controls">
                                @Html.TextBoxFor(m => m.objCompany.Postcode, new { @class = "" })
                                @Html.ValidationMessageFor(m => m.objCompany.Postcode)
                            </div>
                        </div>
                        <!--Country-->
                        <div class="control-group">
                            <label class="control-label">@Resources.lblCountry</label>
                            <div class="controls">
                                @Html.DropDownListFor(model => model.objCompany.Country, new SelectList(DALUtils.SearchObjects<GMGColorDAL.Country>(o => o.ID > 0, context).OrderBy(o => o.ShortName).AsEnumerable(), "ID", "ShortName"), Resources.lblSelectCountry, new { @class = "" })
                                @Html.ValidationMessageFor(model => model.objCompany.Country)
                            </div>
                        </div>
                    </fieldset>
                    <div class="well">
                        @Resources.lblAccountWasCreatedBy <strong>@Model.AccountCreator </strong> 
                        @Resources.lblAccountCreatedOn
                        @Model.AccountCreatedDate                       
                    </div>
                    <!-- / -->
                    <div class="form-actions">
                        @Html.HiddenFor(m => m.objCompany.ID)
                        @Html.HiddenFor(m => m.objAccount.ID)
                        <button type="submit" class="btn btn-primary" name="action" value="Profile" data-loading-text="@Resources.btnUpdating">
                            @Resources.btnUpdateAccount</button>
                    </div>
                    <script type="text/javascript">
                        var prod = ('@(GMGColorConfiguration.AppConfiguration.Environment == "prod")' == 'True');
                    </script>
                    
                }
            </div>
        </div>
    </div>
    <!-- /widget-content -->
</div>
