﻿@model GMGColorDAL.CustomModels.EditAccount.BillingInfo
@using GMGColor.Resources
@using GMGColorDAL
@using GMGColorDAL.CustomModels
@using GMGColor.Common;
@{
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
    Bundles.Reference("accountingscripts");
    GMGColorBusinessLogic.DbContextBL context = HttpContext.Current.Items[GMGColorDAL.DALUtils.DatabaseContext] as GMGColorBusinessLogic.DbContextBL;
    AccountType.Type accountType = GMGColorDAL.AccountType.GetAccountType(Model.objAccount.AccountType1.Key);
}
<ul class="breadcrumb">
    @if(Model.IsEditAccountPlansFromReport)
    {
        <li><a href="@Url.Action("AccountReport", "Reports")">@Resources.lblAccountsReport</a> <span class="divider">/</span></li>
    } else {
        <li><a href="@Url.Action("Index", new { page = Session[GMGColorConstants.AccountPagination] })">@Resources.lblAccount</a> <span class="divider">/</span></li>   
    } 
   
    <li class="active">@Model.objAccount.Name</li>
</ul>
<div class="widget">
    <div class="widget-header">
        <h3>@Model.objAccount.Name@*&nbsp;<small>@ViewBag.HeaderSmall</small>*@</h3>
    </div>
    <!-- /widget-header -->
    <div class="widget-content">
        <div class="row-fluid">
            <div class="span3">
                 @{Html.RenderAction("SecondaryNavigation", "Navigation", new { secondaryNavType = Model.IsEditAccountPlansFromReport ? SecondaryNavigationTypeEnum.EditAccountReports : SecondaryNavigationTypeEnum.EditAccountSettings });}
            </div>
            <div class="span9">
                @using (Html.BeginForm("BillingInfo", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                <fieldset>
                    @{DateTime? contractExpDate = GMGColorDAL.ContractPeriod.GetContractPeriodExpirationDate(Model.objAccount.ID, context);
                        bool isPlanExpired = false;
                        if (contractExpDate != null)
                        {
                            isPlanExpired = (Model.objAccount.CreatedDate.CompareTo((DateTime)contractExpDate.Value) > 0);
                        }

                        string activeInactiveText = (Model.objAccount.NeedSubscriptionPlan && !isPlanExpired) ? Resources.lblActive : Resources.lblInactive;
                    }
                    <legend>
                        @Resources.lblSubscription <span id="spnIsPlanActive" class="@((!Model.objAccount.NeedSubscriptionPlan && isPlanExpired) ? "label label-important" : "label label-success")">@activeInactiveText</span>
                    </legend>

                    <!-- Current Plan -->
                    <div class="control-group">
                        <div class="controls">
                            <label class="checkbox">
                                @if (accountType == GMGColorDAL.AccountType.Type.Subscriber)
                                {
                                    @Html.CheckBoxFor(model => model.NeedSubscriptionPlan, new { id = "chkAccNeedSubsPlan", @checked = "checked", @disabled = "disabled" })
                                }
                                else
                                {
                                    @Html.CheckBoxFor(model => model.NeedSubscriptionPlan, new { id = "chkAccNeedSubsPlan", onchange = "javascript:PopulateAccSubPlan()" })
                                }
                                <strong>@Resources.lblAccNeedSubsPlan</strong>
                            </label>
                            <p class="help-block">@Resources.pharagraphNewAccount1</p>
                        </div>
                    </div>

                    <legend>File Transfer</legend>
                    <div class="control-group">
                        <label class="control-label">@Resources.lblAccess</label>
                        <div class="controls">
                            <label class="checkbox">
                                @Html.CheckBoxFor(model => model.objAccount.IsFileTransferEnabled)
                            </label>

                        </div>

                    </div>

                    <script type="text/javascript">
                            $(document).ready(function () {
                                PopulateAccSubPlan();
                                if(typeof (updateFieldForClientSideValidation) != "undefined")
                                    updateFieldForClientSideValidation();
                            });

                            function PopulateAccSubPlan() {
                                if ($('#chkAccNeedSubsPlan')[0].checked) {
                                    $('#dvAccNeedSubsPlan').show();
                                    $('#dvAccNotNeedSubsPlan').hide();
                                    $('#spnIsPlanActive').text('@Resources.lblActive');
                                    $('#spnIsPlanActive').addClass('label-success');
                                    $('#spnIsPlanActive').removeClass('label-important');
                                }
                                else {
                                    $('#dvAccNeedSubsPlan').hide();
                                    $('#dvAccNotNeedSubsPlan').show();
                                    $('#spnIsPlanActive').text('@Resources.lblInactive');
                                    $('#spnIsPlanActive').addClass('label-important');
                                    $('#spnIsPlanActive').removeClass('label-success');
                                    $('#ddlBillingPlans').children('option').next().attr('selected', 'selected');
                                }
                            }

                            $("#chkAccNeedSubsPlan").change(function () {
                                if (typeof (updateFieldForClientSideValidation) != "undefined")
                                    updateFieldForClientSideValidation();
                            });
                    </script>
                    <div id="dvAccNeedSubsPlan">
                        @if (accountType == GMGColorDAL.AccountType.Type.Subscriber)
                        {
                            @Html.EditorFor(m => m.SubscriberPlans, new { isAccountActive = true })
                        }
                        else
                        {
                            @Html.EditorFor(m => m.PlanPerModule, new { isAccountActive = true })
                        }

                    </div>
                </fieldset>
                    <!-- / -->
                    <div class="form-actions">
                        @Html.HiddenFor(model => model.objAccount.ID)
                        <button id="btnUpdate" type="submit" class="btn btn-primary" name="action" value="BillingInfo" data-loading-text="@Resources.btnUpdating">
                            @Resources.btnUpdateAccount</button>
                    </div>
                }
            </div>
        </div>
    </div>
    <!-- /widget-content -->
</div>
