﻿@model GMGColorDAL.CustomModels.EditAccount.SuspendAccount
@using GMGColor.Resources
@using GMGColorDAL.CustomModels
@using GMGColor.Common
@{
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";    
}
<ul class="breadcrumb">
    <li><a href="@Url.Action("Index", new { page = Session[GMGColorConstants.AccountPagination] })">@Resources.lblAccount</a> <span class="divider">/</span></li>
    <li class="active">@Model.objAccount.Name</li>
</ul>
<div class="widget">
    <div class="widget-header">
        <h3>@Model.objAccount.Name@*&nbsp;<small>@ViewBag.HeaderSmall</small>*@</h3>
    </div>
    <!-- /widget-header -->
    <div class="widget-content">
        <div class="row-fluid">
            <div class="span3">
                @{Html.RenderAction("SecondaryNavigation", "Navigation", new { secondaryNavType = SecondaryNavigationTypeEnum.EditAccountSettings });}
            </div>
            <div class="span9">
                @using (Html.BeginForm("SuspendAccount", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    <fieldset>
                        <!-- Suspend Account -->
                        <legend>
                            @Resources.lblSuspendAccount</legend>
                        <p>
                            @Resources.pharagraphEditAccountSuspend1</p>
                        <ul>
                            <li>@Resources.lblSuspendAccountInfo1</li>
                            <li>@Resources.lblSuspendAccountInfo2</li>
                            <li>@Resources.lblSuspendAccountInfo3</li>
                            <li>@Resources.lblSuspendAccountInfo4</li>
                        </ul>
                        <div class="control-group">
                            <label class="control-label">@Resources.lblReasonForSuspension</label>
                            <div class="controls">
                                @Html.TextAreaFor(model => model.Reason, new { @class = "input-xlarge" })
                                @Html.ValidationMessageFor(model => model.Reason)
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-actions">
                        @Html.HiddenFor(m => m.objAccount.ID)
                        <button type="submit" class="btn btn-primary" name="action" value="Suspend" data-loading-text="@Resources.btnSuspending">
                            @Resources.btnSuspendAccount</button>
                    </div>
                }
            </div>
        </div>
    </div>
    <!-- /widget-content -->
</div>
