﻿@model GMGColorDAL.CustomModels.EditAccount.WhiteLabelSettings
@using GMGColor.Resources
@using GMGColorDAL.CustomModels
@using GMGColor.Common
@{
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";    
}
<ul class="breadcrumb">
    <li><a href="@Url.Action("Index", new { page = Session[GMGColorConstants.AccountPagination] })">@Resources.lblAccount</a> <span class="divider">/</span></li>
    <li class="active">@Model.AccountName</li>
</ul>
<div class="widget">
    <div class="widget-header">
        <h3>@Model.AccountName @*<small>@ViewBag.HeaderSmall</small>*@</h3>
    </div>
    <!-- /widget-header -->
    <div class="widget-content">
        <div class="row-fluid">
            <div class="span3">
                @{Html.RenderAction("SecondaryNavigation", "Navigation", new { secondaryNavType = SecondaryNavigationTypeEnum.EditAccountSettings });}
            </div>
            <div class="span9">
                @using (Html.BeginForm("WhiteLabelSettings", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    <fieldset>
                        <legend>@Resources.lblWhiteLabelSettings</legend>
                        <div class="control-group">
                            <label class="control-label">@Resources.lblAllReferenceToTheGMGCoZoneBrand</label>
                            <div class="controls">
                                <label class="checkbox">
                                    @Html.CheckBoxFor(m => m.IsRemoveAllGMGCollaborateBranding) 
                                </label>
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-actions">
                        @Html.HiddenFor(m => m.AccountID)
                        <button type="submit" class="btn btn-primary" name="action" value="WhiteLabelSettings" data-loading-text="@Resources.btnUpdating">
                            @Resources.btnUpdateAccount</button>
                    </div>
                }
            </div>
        </div>
    </div>
    <!-- /widget-content -->
</div>
