﻿@model GMGColorDAL.CustomModels.EditAccount.SiteSettings
@using GMGColor.Resources
@using GMGColor.Common;
@using GMGColorDAL
@using GMGColorDAL.CustomModels
@{
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
    GMGColorBusinessLogic.DbContextBL context = HttpContext.Current.Items[GMGColorDAL.DALUtils.DatabaseContext] as GMGColorBusinessLogic.DbContextBL;
}
<ul class="breadcrumb">
    <li><a href="@Url.Action("Index", new { page = Session[GMGColorConstants.AccountPagination] })">@Resources.lblAccount</a> <span class="divider">/</span></li>
    <li class="active">@Model.objAccount.Name</li>
</ul>
<div class="widget">
    <div class="widget-header">
        <h3>@Model.objAccount.Name@*&nbsp;<small>@ViewBag.HeaderSmall</small>*@</h3>
    </div>
    <!-- /widget-header -->
    <div class="widget-content">
        <div class="row-fluid">
            <div class="span3">
                @{Html.RenderAction("SecondaryNavigation", "Navigation", new { secondaryNavType = SecondaryNavigationTypeEnum.EditAccountSettings });}
            </div>
            <div class="span9">
                @using (Html.BeginForm("SiteSettings", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    <!-- Regional Settings -->
                    <fieldset>
                    <legend>@Resources.lblRegionalSettings</legend>
                        @if ((Model.LoggedAccountType == GMGColorDAL.AccountType.GetAccountType(GMGColorDAL.AccountType.Type.GMGColor, context).ID) && ((Model.objAccount.Status == GMGColorDAL.AccountStatu.GetAccountStatus(GMGColorDAL.AccountStatu.Status.Inactive, context).ID) || (Model.objAccount.Status == GMGColorDAL.AccountStatu.GetAccountStatus(GMGColorDAL.AccountStatu.Status.Draft, context).ID)))
                        {
                            <div class="control-group">
                                <label class="control-label required">@Resources.lblDataStorageLocation</label>
                                <div class="controls">
                                    @{Dictionary<string, string> amazonRegions = new Dictionary<string, string>();
                                      foreach (var region in ViewBag.Regions)
                                      {
                                          amazonRegions.Add(region.SystemName, region.DisplayName);
                                      }
                                    }
                                    @Html.DropDownListFor(mdl => mdl.objAccount.Region, new SelectList(amazonRegions, "key", "value")/*, Resources.lblSelectStorageLocation*/)
                                    @Html.ValidationMessageFor(mdl => mdl.objAccount.Region)
                                </div>
                            </div>
                        }
                        <!-- Default Language -->
                        <div class="control-group">
                            <label class="control-label">@Resources.lblDefaultLanguage</label>
                            <div class="controls">
                                @Html.DropDownListFor(model => model.objAccount.Locale, new SelectList(GMGColorDAL.Locale.GetLocalizeLocaleNames(context), "Key", "Value"), Resources.lblSelectDefaultLanguage, new { @class = "" })
                                @Html.ValidationMessageFor(model => model.objAccount.Locale)
                            </div>
                            <label class="checkbox controls">
                                 @Html.CheckBoxFor(m => m.ApplyLanguageToAllUsers)
                                 @Resources.lblApplyLanguageToAllUsers
                             </label>
                        </div>
                        <!-- / -->
                        <!-- Default Currency -->
                        <div class="control-group">
                            <label class="control-label">@Resources.lblDefaultCurrency</label>
                            <div class="controls">
                                @{List<string> currencyTypeName = new List<string> { GMGColorDAL.Currency.GetLocalizedCurrencyNames(context).Single(o => o.Key == Model.objAccount.CurrencyFormat).Value };}
                                @Html.HiddenFor(model => model.objAccount.CurrencyFormat, new { @Value = Model.objAccount.CurrencyFormat })
                                @Html.DropDownList("currencyType", new SelectList(currencyTypeName), new { disabled = "disabled", @class = "" })
                            </div>
                        </div>
                        <!-- / -->
                        <!-- Date Format -->
                        <div class="control-group">
                            <label class="control-label">@Resources.lblDateFormat</label>
                            <div class="controls">
                                @Html.DropDownListFor(model => model.objAccount.DateFormat, new SelectList(GMGColorDAL.DALUtils.SearchObjects<GMGColorDAL.DateFormat>(o => o.ID > 0, context).AsEnumerable(), "ID", "Result"), Resources.lblSelectDateFormat, new { @id = "ddDateFormat", @class = "" })
                                @Html.ValidationMessageFor(model => model.objAccount.DateFormat)
                            </div>
                        </div>
                        <!-- / -->
                        <!-- TimeZone -->
                        <div class="control-group">
                            <label class="control-label">@Resources.lblTimeZone</label>
                            <div class="controls">
                                @Html.DropDownListFor((m => m.objAccount.TimeZone), new SelectList(BaseController.TimeZones.AsEnumerable(), "ID", "Name", Model.objAccount.TimeZone), Resources.lblSelectTimeZone)
                                @Html.ValidationMessageFor(m => m.objAccount.TimeZone)
                            </div>
                        </div>
                        <!-- / -->
                        <!-- Time Format -->
                        <div class="control-group">
                            <label class="control-label">@Resources.lblTimeFormat</label>
                            <div class="controls">
                                @foreach (GMGColorDAL.TimeFormat item in GMGColorDAL.DALUtils.SearchObjects<GMGColorDAL.TimeFormat>(o => o.ID > 0, context))
                                {
                                    <label class="radio">
                                        @Html.RadioButtonFor(m => m.objAccount.TimeFormat, item.ID)
                                        @GMGColorDAL.TimeFormat.GetLocalizedTimeFormat(item.ID, context) (@string.Format(Resources.lblEg, item.Result))
                                    </label>
                                }
                            </div>
                        </div>
                        <!-- / -->
                    </fieldset>
                    <div class="form-actions">
                        @Html.HiddenFor(model => model.objAccount.ID)
                        <button type="submit" class="btn btn-primary" name="action" value="SiteSettings" data-loading-text="@Resources.btnUpdating">
                            @Resources.btnUpdateAccount</button>
                    </div>
                }
            </div>
        </div>
    </div>
    <!-- /widget-content -->
</div>
