﻿@model GMGColorDAL.CustomModels.EditAccount.DNSAndCustomDomain
@using GMGColor.Resources;
@using GMGColorDAL.CustomModels
@{
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
}
<div class="widget">
    <div class="widget-header">
        <h3>@Model.objAccount.Name @*<small>@ViewBag.HeaderSmall</small>*@</h3>
    </div>
    <!-- /widget-header -->
    <div class="widget-content">
        <div class="row-fluid">
            <div class="span3">
                @{Html.RenderAction("SecondaryNavigation", "Navigation", new { secondaryNavType = SecondaryNavigationTypeEnum.EditAccountSettings });}
            </div>
            <div class="span9">
                @using (Html.BeginForm("DNSAndCustomDomain", "Account", FormMethod.Post, new { @class = "form-horizontal", id = "formMain" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(mdl => mdl.objAccount.ID)
                    <fieldset>
                        <legend>@Resources.lblSiteAddress <small>@Resources.txtDNSTheseAreTheDomains</small></legend>
                        <div class="display-field">
                            @{var grid = new WebGrid(Model.AccountDomains, rowsPerPage: 10);}
                            @grid.GetHtml(
                                    tableStyle: "table",
                                    columns: grid.Columns(
                                        grid.Column(columnName: "DomainName", header: Resources.lblDomain),
                                        grid.Column(columnName: "IsAvilable", header: Resources.lblDNS, format: @<text>@Html.Raw(item.IsAvilable ? "<span class=\"dns-check badge badge-success\">" + Resources.btnOk + "</span>" : "<span class=\"dns-check badge badge-important\">" + Resources.lblFailed + "</span>")</text>),
                                        grid.Column(columnName: "IsPrimary", header: string.Empty, format: @<text>@Html.Raw(item.IsPrimary ? "<strong>" + Resources.lblPrimaryDomain + "</strong>" : (item.IsAvilable ? "<button class=\"btn btn-primary\" name=\"action\" type=\"submit\" value=\"ChangeDomain\">" + Resources.lblMakeThisPrimary + "</button>" : string.Empty))</text>)
                                    )
                                )
                        </div>
                    </fieldset>
                }
            </div>
        </div>
        <!-- /row-fluid -->
    </div>
    <!-- /widget-content -->
</div>
<!-- /widget -->
