﻿@model GMGColorDAL.CustomModels.EditAccount.Users
@using GMGColor.Resources
@using GMGColorBusinessLogic
@using GMGColorDAL
@using GMGColorDAL.Common
@using GMGColorDAL.CustomModels
@using GMGColor.Common
@{
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
    GMGColorBusinessLogic.DbContextBL context = HttpContext.Current.Items[GMGColorDAL.DALUtils.DatabaseContext] as GMGColorBusinessLogic.DbContextBL;
}
<ul class="breadcrumb">
    <li><a href="@Url.Action("Index", new { page = Session[GMGColorConstants.AccountPagination] })">@Resources.lblAccount</a> <span class="divider">/</span></li>
    <li class="active">@Model.objAccount.Name</li>
</ul>
<div class="widget">
    <div class="widget-header">
        @if (AccountStatu.GetAccountStatus(Model.objAccount.ID, context) == AccountStatu.Status.Active)
        {
            <ul class="widget-links">
                <li><a class="btn btn-primary" data-toggle="modal" data-backdrop="static" data-keyboard="false" href="@Url.Action("AddEditUser", "Account")">@Resources.btnAddNewUser</a></li>
            </ul>
        }
        <h3>@Model.objAccount.Name @*<small>@ViewBag.HeaderSmall</small>*@</h3>
    </div>
    <!-- /widget-header -->
    <div class="widget-content">
        <div class="row-fluid">
            <div class="span3">
                @{Html.RenderAction("SecondaryNavigation", "Navigation", new { secondaryNavType = SecondaryNavigationTypeEnum.EditAccountSettings });}
            </div>
            <div class="span9">
                @using (Html.BeginForm("", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="well form-search">
                        <div class="input-append">
                            @Html.Hidden("SearchText", "0", new { id = "hdnSearchText" })
                            @Html.TextBoxFor(model => model.SearchText, new { id = "txtSearch", @class = "input-medium search-query" })
                            <button type="submit" class="btn cancel" name="action" value="Search" onclick="$('#hdnSearchText')[0].value = $('#txtSearch').val();">@Resources.btnSearch</button>
                        </div>
                    </div>
                    <div class="display-field">
                        @{var accountUsers = new WebGrid(Model.ListUsers, rowsPerPage: 10);}
                        @if (GMGColorDAL.AccountType.GetAccountType(Model.objAccount, context) == GMGColorDAL.AccountType.Type.GMGColor)
                        {
                            @accountUsers.GetHtml(
                                tableStyle: "table table-striped",
                                htmlAttributes: new { id = "users-table" },
                                columns:
                                    accountUsers.Columns(
                                        accountUsers.Column(columnName: "GivenName", header: Resources.lblName,
                                            format: @<text><a href="javascript:void(0);" onclick="$('#hdnSelectedUser')[0].value = @item.ID;$('#btnEdit').click();">
                                                        @item.GivenName
                                            @item.FamilyName
                                        </a></text>),
                                 accountUsers.Column(columnName: "Username", header: Resources.lblUserName),
                                 accountUsers.Column(columnName: "EmailAddress", header: Resources.lblEmail),
                                 accountUsers.Column(columnName: "DateLastLogin", header: Resources.lblLastLogin, format: @<text>@GetLastLoginDate(item.DateLastLogin)</text>),
                         accountUsers.Column(columnName: "SysAdminRole", header: Resources.lblSysAdminRole, format: @<text>@item.SysAdminRole</text>),
                 accountUsers.Column(columnName: string.Empty, header: string.Empty,
                     format: @<text>@Html.Raw(this.GetActionButtons(item.ID, item.Account, item.UserStatus, context))</text>)
         ))
                        }
                        else
                        {
                            @accountUsers.GetHtml(
                                tableStyle: "table table-striped table-bordered table-responsive",
                                htmlAttributes: new { id = "users-table" },
                                columns:
                                    accountUsers.Columns(
                                        accountUsers.Column(columnName: "GivenName", header: Resources.lblName,
                                            format: @<text><a href="javascript:void(0);" onclick="$('#hdnSelectedUser')[0].value = @item.ID;$('#btnEdit').click();">
                                                        @item.GivenName
                                            @item.FamilyName
                                        </a></text>, style: "span2"),
                                 accountUsers.Column(columnName: "Username", header: Resources.lblUserName, style: "span2"),
                                 accountUsers.Column(columnName: "EmailAddress", header: Resources.lblEmail, style: "span2"),
                                 accountUsers.Column(columnName: "DateLastLogin", header: Resources.lblLastLogin, format: @<text>@GetLastLoginDate(item.DateLastLogin)</text>),
                         accountUsers.Column(columnName: "CollaborateRole", header: Resources.lblCollaborateRole, format: @<text>@item.CollaborateRole</text>),
                 accountUsers.Column(columnName: "DeliverRole", header: Resources.lblDeliverRole, format: @<text>@item.DeliverRole</text>),
             accountUsers.Column(columnName: "AdminRole", header: Resources.lblAdminRole, format: @<text>@item.AdminRole</text>),
             accountUsers.Column(columnName: "AdminRole", header: Resources.lblFileTransferRole, format: @<text>@item.FileTransferRole</text>),
             accountUsers.Column(columnName: "UserStatus", header: Resources.lblUserStatus, format: (item) =>
             {
                 if (item.UserStatus == "I")
                 {
                     return Html.Raw(string.Format("<text>TRUE</text>"));
                 }
                 else
                 {
                     return Html.Raw(string.Format("<text>-</text>"));
                 }
             }),
             accountUsers.Column(columnName: "IsUserLoginLocked", header: "LOC", format: (@item) =>
            {
                if (item.IsUserLoginLocked == true)
                {
                    //return Html.Raw(string.Format("<a href=\"javascript:void(0);\" onclick=\"$('#hdnSelectedUser')[0].value = " + item.id + ";$('#btnLock').click();\"><i class=\"icon-lock\"></i></a>"));
                    return Html.Raw(string.Format("<i class=\"icon-lock\"></i>"));

                }
                else
                {
                    return Html.Raw(string.Format("-"));
                }
            }
            ),
             accountUsers.Column(columnName: string.Empty, header: string.Empty,
                 format: @<text>@Html.Raw(this.GetActionButtons(item.ID, item.Account, item.UserStatus, context))</text>)
         ))
                        }
                    </div>
                    @Html.HiddenFor(m => m.objAccount.ID)
                    @Html.Hidden("SelectedUser", "0", new { id = "hdnSelectedUser" });
                    <button id="btnEdit" class="cancel" type="submit" name="action" value="EditUser"
                            hidden="hidden">
                        @Resources.lblEditUser
                    </button>
                    <button id="btnInvite" class="cancel" type="submit" name="action" value="SendInvite"
                            hidden="hidden">
                        @Resources.btnSendInvite
                    </button>                    
                    <script type="text/javascript">
                        this.modelDialog = '@ViewBag.ModelDialog';
                    </script>
                                                                                     DeleteConfirmation deleteUserConfirmation = new DeleteConfirmation(1, "DeleteUser");
                    @Html.Partial("DeleteConfirmationDialog", deleteUserConfirmation)
                }
            </div>
        </div>
        @Html.Partial("DuplicateUser", (DuplicateUser)ViewBag.DuplicateUserModel)
    </div>
    <!-- /widget-content -->
</div>
@functions{

    private string GetActionButtons(int id, int accountId, string userStatusKey, DbContextBL context)
    {
        GMGColorDAL.AccountStatu.Status accountStatus = GMGColorDAL.AccountStatu.GetAccountStatus(accountId, context);

        GMGColorDAL.UserStatu.Status status = GMGColorDAL.UserStatu.GetUserStatus(userStatusKey);

        System.Text.StringBuilder html = new System.Text.StringBuilder();

        html.Append("<div class=\"btn-group pull-right\">");
        html.Append("   <a href=\"javascript:void(0);\" data-toggle=\"dropdown\" class=\"btn btn-mini dropdown-toggle ellipsisButtonList\"><i class=\"icon-ellipsis-horizontal\"></i></a>");
        html.Append("   <ul class=\"dropdown-menu pull-right\">");
        html.Append("      <li><a href=\"javascript:void(0);\" onclick=\"$('#hdnSelectedUser')[0].value = " + id + ";$('#btnEdit').click();\"><i class=\"icon-pencil\"></i>" + Resources.btnEdit + "</a></li>");
        if (Model.objAccount.AccountStatu.Key == "A")
        {
            html.Append("      <li><a href=\"javascript:void(0);\" onclick=\"$('#DuplicatedUser')[0].value = " + id + ";$('#modalDuplicateUser').modal({ backdrop: 'static', keyboard: false });\"><i class=\"icon-user\"></i>" + Resources.lblDuplicateUser + "</a></li>");
        }
        if (status == GMGColorDAL.UserStatu.Status.Invited && accountStatus == GMGColorDAL.AccountStatu.Status.Active)
            html.Append("  <li><a href=\"javascript:void(0);\" onclick=\"$('#hdnSelectedUser')[0].value = " + id + ";$('#btnInvite').click();\"><i class=\"icon-envelope-alt\"></i>" + Resources.btnResendInvite + "</a></li>");
        if (status == GMGColorDAL.UserStatu.Status.Invited && accountStatus == GMGColorDAL.AccountStatu.Status.Draft)
            html.Append("  <li><a href=\"javascript:void(0);\" onclick=\"$('#hdnSelectedUser')[0].value = " + id + ";$('#btnInvite').click();\"><i class=\"icon-envelope-alt\"></i>" + Resources.btnSendInvite + "</a></li>");
        if (Model.objAccount.Owner != id)
            html.Append("  <li><a href=\"javascript:void(0);\" onclick=\"$('#hdnSelectedUser')[0].value = " + id + ";$('#modelDialogDeleteConfirmation_1').modal({ backdrop: 'static', keyboard: false });\" rel=\"nofollow\" data-method=\"delete\" data-disable-with=\"Deleting...\" ><i class=\"icon-trash\"></i>" + Resources.btnDelete + "</a></li>");
        html.Append("   </ul>");
        html.Append("</div>");

        return html.ToString();
    }

    private string GetLastLoginDate(DateTime? dateLastLogin)
    {
        string lastDate = string.Empty;

        if (dateLastLogin != null)
        {
            DateTime utcDate = GMGColorFormatData.GetUserTimeFromUTC(dateLastLogin.Value, Model.objLoggedAccount.TimeZone);
            lastDate = GMGColorFormatData.GetFormattedDate(utcDate, Model.objLoggedAccount.DateFormat1.Pattern) + " " + GMGColorFormatData.GetFormattedTime(utcDate, Model.objLoggedAccount);
        }
        return lastDate;
    }
}

@section PageScript
{
    <script type="text/javascript">
        this.modelDialog = '@ViewBag.ModelDialog';
        @*$(document).ready(function() {
            if ($("#users-table tr:first th").length == 11) {
                $("#users-table tr:first").before('<tr class=\'header-row-roles\'><th colspan=\'5\'></th><th class=\'header-cell-role\' colspan=\'5\'><a href=\'#\'>@Resources.lblRoles</a></th><th></th></tr>');
            }
        });*@
    </script>
}