﻿@model GMGColorDAL.CustomModels.EditAccount.Plans
@using GMGColor.HtmlHelpers
@using GMGColor.Resources
@using GMGColorDAL
@using GMGColorDAL.Common
@using GMGColorDAL.CustomModels
@using GMGColor.Common
@{
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
    Bundles.Reference("accountingscripts");
    GMGColorBusinessLogic.DbContextBL context = HttpContext.Current.Items[GMGColorDAL.DALUtils.DatabaseContext] as GMGColorBusinessLogic.DbContextBL;
}
@{
    GMGColorDAL.Account objAccount = GMGColorDAL.DALUtils.GetObject<GMGColorDAL.Account>(Model.Account, context);
}
<ul class="breadcrumb">
    @if(Model.IsEditAccountPlansFromReport)
    {
       <li><a href="@Url.Action("AccountReport", "Reports")">@Resources.lblAccountsReport</a> <span class="divider">/</span></li>
    }
    else
    {
        <li><a href="@Url.Action("Index", new { page = Session[GMGColorConstants.AccountPagination] })">@Resources.lblAccount</a> <span class="divider">/</span></li>   
    } 
   
    <li class="active">@objAccount.Name</li>
</ul>
<div class="widget">
    <div class="widget-header">
        <h3>@objAccount.Name@*&nbsp;<small>@ViewBag.HeaderSmall</small>*@</h3>
    </div>
    <!-- /widget-header -->
    <div class="widget-content">
        <div class="row-fluid">
            <div class="span3">
                @{Html.RenderAction("SecondaryNavigation", "Navigation", new { secondaryNavType = Model.IsEditAccountPlansFromReport ? SecondaryNavigationTypeEnum.EditAccountReports : SecondaryNavigationTypeEnum.EditAccountSettings });}
            </div>
            <div class="span9">
                @using (Html.BeginForm("", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    <fieldset>
                        <legend>@Resources.lblGlobalPricePlans</legend>
                        <!-- GPP Discount -->
                        <div class="control-group">
                            <label class="control-label">@Resources.lblGloblePricePlanDiscount</label>
                            <div class="controls">
                                <div class="input-append">
                                    @Html.TextBoxFor(model => model.GPPDiscount, new { id = "txtGpp", @class = "input-small idouble" })<span
                                        class="add-on">%</span>
                                </div>
                            </div>
                            @Html.ValidationMessageFor(model => model.GPPDiscount)
                        </div>
                        <!-- / -->
                        <div class="control-group">
                            @Html.ValidationMessage("AttachedBillingPlans")
                        </div>
                        <!-- Plans Grid -->
                        @if (GMGColorDAL.AccountType.GetAccountType(objAccount, context) != GMGColorDAL.AccountType.Type.Subscriber)
                        {
                            List<GMGColorDAL.BillingPlan> lstBillingPlans = GMGColorDAL.DALUtils.SearchObjects<GMGColorDAL.BillingPlan>(o => o.ID > 0, context).ToList();
                            List<GMGColorDAL.BillingPlanType> lstBillingPlanTypes = GMGColorDAL.DALUtils.SearchObjects<GMGColorDAL.BillingPlanType>(o => o.ID > 0, context).ToList();

                            if (lstBillingPlanTypes.Count > 0)
                            {
                                if (lstBillingPlans.Count > 0)
                                {
                                    List<GMGColorDAL.AppModule> lstAppModule = GMGColorDAL.DALUtils.SearchObjects<GMGColorDAL.AppModule>(item => item.Key != (int)GMG.CoZone.Common.AppModule.Admin &&
                                                                                                                    item.Key != (int)GMG.CoZone.Common.AppModule.SysAdmin, context).ToList();
                                   foreach (GMGColorDAL.AppModule appModule in lstAppModule)
                                   {
                                       if (appModule.BillingPlanTypes.Where(o => o.BillingPlans.Count > 0).ToList().Count == 0)
                                         {
                                           continue;
                                         }
                                       
                                       <fieldset> 
                                       	    <legend>@appModule.Name</legend> 
                                       </fieldset>

                                       List<GMGColorDAL.BillingPlanType> lstAppModuleBillingPlanTypes = lstBillingPlanTypes.Where(item => item.AppModule == appModule.ID).ToList();
                                       foreach (GMGColorDAL.BillingPlanType planType in lstAppModuleBillingPlanTypes)
                                       {
                                           lstBillingPlans = GMGColorDAL.DALUtils.SearchObjects<GMGColorDAL.BillingPlan>(o => o.Type == planType.ID, context).ToList();
                                           if (lstBillingPlans.Count > 0)
                                           {
                                               string label = null;
                                               if (planType.AppModule1.Key == (int)GMG.CoZone.Common.AppModule.Collaborate)
                                               {
                                                   label = Resources.lblProofs;
                                               }
                                               else if (planType.AppModule1.Key == (int)GMG.CoZone.Common.AppModule.Deliver)
                                               {
                                                   label = Resources.lblDeliverProofs;
                                               }                                              
                                               
                                               foreach (var planCollection in Model.objAccountBillingPrice.BillingPlans.Where(o => o.BillingPlanTypeID == planType.ID))
                                               {
                                                    <div class="plan-header plan-type">
                                                        <h3>@planCollection.BillingPlanTypeName</h3>
                                                    </div>
                                                    <div>
                                                        @{var gridBillingPlans = new WebGrid(planCollection.BillingPlans, fieldNamePrefix: planCollection.BillingPlanTypeID.ToString());}
                                                        @gridBillingPlans.WebGridHelperSelectAll(
                                                            tableStyle: "table table-bordered table-striped",
                                                            headerStyle: "plan-header-checkbox",
                                                            dataGrdPrefix: planCollection.BillingPlanTypeID.ToString(),
                                                            checkBoxID: "AttachedBillingPlans",
                                                            checkBoxValue: "ID",
                                                            checkBoxName: "AttachedBillingPlans",
                                                            isChecked: "SelectAttachedPlans",
                                                            isDisabled: "HasChildren",
                                                            columns: gridBillingPlans.Columns(
                                                                                     gridBillingPlans.Column(columnName: "Name", header: Resources.lblPlan, canSort: false,
                                                                                    format: @<text>@item.Name</text>),
                                                                                            gridBillingPlans.Column(columnName: "Price", header: Resources.lblPricePerMonth, canSort: false,
                                                                                    format: @<text>@GMGColorFormatData.GetFormattedCurrency(item.Price, objAccount.Parent.GetValueOrDefault(), context)</text>),
                                                                                            gridBillingPlans.Column(columnName: "Discount", header: Resources.lblDiscount + " (" + objAccount.GPPDiscount + "%)", style: "applygpp-price", canSort: false,
                                                                                    format: @<text><label style="display: none" distprice="@objAccount.ParentAccount.Currency.Symbol-@item.Price"></label><label>@GMGColorFormatData.GetFormattedCurrency(item.Price, objAccount.Parent.GetValueOrDefault(), context)</label></text>),
                                                                                            gridBillingPlans.Column(columnName: "Proofs", header: label, canSort: false,
                                                                                    format: @<text>@String.Format("{0}", GMGColorDAL.BillingPlan.GetProofCount(item.Proofs, item.IsFixed))</text>),
                                                                                             gridBillingPlans.Column(columnName: string.Empty, header: Resources.lblPricePerYear, style: "applygpp-price", canSort: false,
                                                                                    format: @<text><label style="display: none" distprice="@objAccount.ParentAccount.Currency.Symbol-@item.PricePerYear"></label><label>@GMGColorFormatData.GetFormattedCurrency(item.PricePerYear, objAccount.Parent.GetValueOrDefault(), context)</label></text>),
                                                                                            gridBillingPlans.Column(columnName: string.Empty, header: Resources.lblCostPerProof, style:"applygpp-proofprice", canSort: false,
                                                                                    format: @<text><label style="display: none" distprice="@GMGColorDAL.BillingPlan.GetFormatedCostPerProof(item.ID, objAccount, context)"></label><label>@GMGColorDAL.BillingPlan.GetFormatedCostPerProof(item.ID, objAccount, context)</label></text>)
                                                                                    ))
                                                    </div>
                                               }
                                           }
                                       }
                                   }
                                }
                            }
                        }
                        <!-- / -->
                    </fieldset>
                    <div class="form-actions">
                        @Html.HiddenFor(model => model.Account, new { @Value = objAccount.ID })
                        @Html.HiddenFor(model => model.AlreadyAttachedBillingPlans)

                        <button type="submit" class="btn btn-primary" name="action" value="EditPlans" data-loading-text="@Resources.btnUpdating">
                            @Resources.btnUpdateAccount</button>
                    </div>
                    <script type="text/javascript">
                        $(document).ready(function () {                           

                            applyGpp(false);
                            $('#txtGpp').keyup(function (event) {
                                applyGpp(false);
                            });

                            $('[class^="singleCheckBox_"], [class*=" singleCheckBox_"]').each(function () {
                                var classname = this.className;
                                var classsparts = classname.split('singleCheckBox_');
                                var result = classsparts[1];
                                if($('.singleCheckBox_' + result + ':checked').length == $('.singleCheckBox_' + result).length)
                                    $('#allCheckBox_' + result).attr('checked', true);
                            });
                            
                        });
                    </script>
                }
            </div>
        </div>
    </div>
    <!-- /widget-content -->
</div>
