﻿@model GMGColorDAL.CustomModels.EditAccount.AddEditUser
@using GMGColor.Resources;
@using GMGColor.Common
@{    
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
}

<ul class="breadcrumb">
    <li><a href="@Url.Action("Index", new { page = Session[GMGColorConstants.AccountPagination] })">@Resources.lblAccount</a> <span class="divider">/</span></li>
    <li><a href="Users">@Resources.lblUsers</a> <span class="divider">/</span></li>
    <li class="active">@(Model.objEditUser != null ? Resources.lblEditUser : Resources.lblNewUser)</li>
</ul>
<div class="widget">
    <div class="widget-header">
        <h3>@ViewBag.Header</h3>
    </div>
    <div class="widget-content">
         @Html.ValidationSummary(true)
        @if (Model.objEditUser != null)
        {
            Model.objEditUser.UploaderKey = 1;
            @Html.EditorFor(model => model.objEditUser, new { model = Model.objEditUser })
        }
        else if (Model.objNewUser != null)
        {
            Model.objNewUser.UploaderKey = 1;
            @Html.EditorFor(mdl => mdl.objNewUser, new { model = Model.objNewUser })
        }
        @Html.ValidationMessage("ValidPermissionsRequired")
    </div>
</div>

@section PageScript
{
<script type="text/javascript">
        $('.userGroupUser').on('click', function () {
            var groupId = $(this).nextAll('.group-id').val();
            var primaryRadio = $("input[name='SelectedPrimaryGroup'][value='" + groupId + "']");
            if ($(this).is(':checked')) {
                $(primaryRadio).removeAttr('disabled');
            } else {
                $(primaryRadio).attr('disabled', 'disabled');
                $(primaryRadio).removeAttr('checked');
            }
        });
</script>
}

@Html.Hidden("userApplicationPermissionsWarning", Resources.lblUserApplicationPermissionWarning)
@{Bundles.Reference("accountSettings-addEditUser");}
