﻿@model ViewAccounts
@using GMGColor.Resources;
@using GMGColorBusinessLogic
@using GMGColorDAL
@using GMGColorDAL.Common
@using GMGColorDAL.CustomModels
@using GMGColor.Common
@{    
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
    Bundles.Reference("chosen");
    Bundles.Reference("accountStyles");
    GMGColorBusinessLogic.DbContextBL context = HttpContext.Current.Items[GMGColorDAL.DALUtils.DatabaseContext] as GMGColorBusinessLogic.DbContextBL;
}

<div class="widget-header">
    @if ((Model.objLoggedAccountType != GMGColorDAL.AccountType.Type.Subscriber) && (Model.ListAccountsView.Count > 0 || ViewBag.SearchResults == "True"))
    {
        <ul class="widget-links">
            <li><a class="add btn btn-primary" href="NewAccount">@Resources.lblNewAccount</a> </li>
        </ul>
    }
    <h3>@ViewBag.Header</h3>
</div>
<!-- /widget-header -->
<div class="widget-content">
    <div class="row-fluid">
        @if (Model.ListAccountsView.Count > 0 || ViewBag.SearchResults == "True")
        {
            using (Html.BeginForm(string.Empty, "Account", FormMethod.Post, new { @id = "mainForm", @class = "dirtyignore" }))
            {
                @Html.AntiForgeryToken()
            <div class="well">
                <div class="row-fluid" id="dvControls">
                    <div class="span3">
                        <label>
                            @Resources.lblAccountType</label>
                        <select name="SelectedAccountTypes" multiple="multiple" id="selAccType" data-placeholder="@Resources.lblAllTypes" class="chzn-select">
                            @foreach (KeyValuePair<int, string> type in Model.AccountTypes)
                            {
                                string selected = (Model.SelectedAccountTypes != null && Model.SelectedAccountTypes.Contains(type.Key.ToString())) ? "selected=\"selected\"" : "";
                                <option value="@type.Key" @selected>@GMGColorDAL.AccountType.GetLocalizedAccountTypeName(type.Key, context)</option>
                            }
                        </select>
                    </div>
                    <div class="span3" id="dvLocations">
                        <label>
                            @Resources.lblLocation</label>
                        <select name="SelectedLocations" multiple="multiple" id="selLocations" data-placeholder="@Resources.lblAllLocations" class="chzn-select">
                            @foreach (KeyValuePair<int, string> location in Model.Locations)
                            {
                                string selected = (Model.SelectedLocations != null && Model.SelectedLocations.Contains(location.Key.ToString())) ? "selected=\"selected\"" : "";
                                <option value="@location.Key" @selected>@location.Value</option>
                            }
                        </select>
                    </div>
                    <div class="span3" id="dvAccounts">
                        <label>
                            @Resources.lblAccounts</label>
                        <select name="SelectedAccounts" multiple="multiple" id="selAccs" data-placeholder="@Resources.lblAllAccounts" class="chzn-select">
                            @foreach (KeyValuePair<int, string> acc in Model.Accounts)
                            {
                                string selected = (Model.SelectedAccounts != null && Model.SelectedAccounts.Contains(acc.Key.ToString())) ? "selected=\"selected\"" : "";
                                <option value="@acc.Key" @selected>@acc.Value</option>
                            }
                        </select>
                    </div>
                    <div class="span3" id="dvStatues">
                        <label>
                            @Resources.lblStatus</label>
                        <select name="SelectedAccountStatues" multiple="multiple" id="selStatuses" data-placeholder="@Resources.lblAnyStatus" class="chzn-select">
                            @foreach (KeyValuePair<int, string> status in Model.AccountStatuses)
                            {
                                string selected = (Model.SelectedAccountStatues != null && Model.SelectedAccountStatues.Contains(status.Key.ToString())) ? "selected=\"selected\"" : "";
                                <option value="@status.Key" @selected>@GMGColorDAL.AccountStatu.GetLocalizedAccountStatus(status.Key, context)</option>
                            }
                        </select>
                    </div>
                    <div hidden="hidden">
                        <button type="submit" id="btnAccTypeChange" hidden="hidden" name="action" value="GetLocations">
                            GetLocations
                        </button>
                        <button type="submit" id="btnLocationChange" hidden="hidden" name="action" value="GetAccounts">
                            GetAccounts
                        </button>
                        <button type="submit" id="btnAccountChange" hidden="hidden" name="action" value="GetStatues">
                            GetStatues
                        </button>
                    </div>
                </div>
                <div class="form-actions small">
                    <button type="submit" data-loading-text="@Resources.btnSearching" class="btn btn-primary cancel" name="action" value="SearchAccounts"
                        onclick="javascript:$('#mainForm').attr('data-ajax', 'false');">
                        <i class="icon-search"></i>&nbsp;@Resources.btnSearch</button>
                </div>
            </div>
            if (Model.ListAccountsView.Count > 0)
            {
            <div class="display-field">
                @Html.HiddenFor(model => model.ListAccountsView)
                @Html.Hidden("selectedAccountId", null, new { id = "hdnSelectedAccount" })
                @Html.Hidden("selectedUserId", null, new { id = "hdnSelectedUserId" })
                @{var grid = new WebGrid(Model.ListAccountsView, rowsPerPage: 10);}
                @grid.GetHtml(
                    tableStyle: "table table-bordered table-striped table-hover",
                    footerStyle: "pagination",
                    columns: grid.Columns(
                        grid.Column(columnName: "Name", header: Resources.lblName, format: @<text> @if(IsAccountNameSelectable(item.ID, context))
                                                                                                   {<text><a href="javascript:void();" onclick="$('#hdnSelectedAccount')[0].value = @item.ID;$('#btnEdit').click();">@item.Name</a></text>}
                                                                                                    else { @item.Name }</text>),                                                         
                        grid.Column(columnName: "AccountTypeName", header: Resources.lblType),
                        grid.Column(columnName: "GivenName", header: Resources.lblOwner, format: @<text>@string.Format("{0} {1}", item.GivenName, item.FamilyName)</text>),
                        grid.Column(columnName: "CreatedDate", header: Resources.lblCreated, format: @<text>@GMGColorFormatData.GetFormattedDate(item.CreatedDate, @Model.objLoggedAccount, context)</text>),
                        grid.Column(columnName: "Status", header: Resources.lblStatus, format: @<text>@Html.Raw(this.GetStatusString(item.ID, context))</text>),
                        grid.Column(string.Empty, string.Empty, format: @<text>@Html.Raw(this.GetActionButtons(item.ID, context))</text>)
                   ))
            </div>
            <button id="btnEdit" type="submit" name="action" value="EditAccount" hidden="hidden"
                onclick="javascript:$('#mainForm').attr('data-ajax', 'false');">
                Edit Account</button>
            <button id="btnInvite" type="submit" name="action" value="SendInviteToOwner" hidden="hidden"
                onclick="javascript:$('#mainForm').attr('data-ajax', 'false');">
                Send Invite</button>
            <button id="btnRestore" type="submit" name="action" value="RestoreAccount" hidden="hidden"
                onclick="javascript:$('#mainForm').attr('data-ajax', 'false');">
                Restore</button>
                  DeleteConfirmation deleteAccountConfirmation = new DeleteConfirmation(1, "DeleteAccount");
            @Html.Partial("DeleteConfirmationDialog", deleteAccountConfirmation)
            @Html.HiddenFor(m => m.page)
            }
            else
            {
            <div id="report-results">
                <h6 class="text-center">
                    @Resources.lblNoResultReport</h6>
            </div>
                            }
            }
        }
        else
        {
            <div id="dvEmptyContent" class="row-fluid blank-state" visible="false">
                <div class="span4 blank-state-icon">
                    <i class="icon-briefcase"></i>
                </div>
                <div class="span7">
                    <h3>@Resources.lblAddYourFirstAccount</h3>
                    @if (GMGColorDAL.DALUtils.SearchObjects<GMGColorDAL.BillingPlan>(o => o.ID > 0, context).Any())
                    {
                        <p>@Resources.lblYouCanAddAsManyAccountsAsYouLike</p>
                        <p>
                            <a class="btn btn-primary" href="NewAccount">@Resources.lblGetStarted &rarr;</a></p>
                    }
                    else
                    {
                        <p>@Resources.lblIfNoPlansAdded</p>
                    }
                </div>
            </div>
        }
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".chzn-select").chosen({ width: "100%" });
            $(".chzn-select-deselect").chosen({ allow_single_deselect: true });
            var cookievalue = '@(Session[GMGColorConstants.AccountPagination].ToString())';
            if ($('tr.pagination td').html() != undefined) {
                $('tr.pagination td').html($('tr.pagination td').html().replace(cookievalue, '<span>' + cookievalue + '</span>'));
            }
        });

        $('.delete-yes').click(function () {
            $('#mainForm').attr('data-ajax', 'false');
        });
    </script>
    <!-- /row-fluid -->
</div>
<!-- /widget-content -->
@functions{
    private string GetActionButtons(int id, DbContextBL context)
    {
        GMGColorDAL.AccountStatu.Status accountStatus = GMGColorDAL.AccountStatu.GetAccountStatus(id, context);
        System.Text.StringBuilder html = new System.Text.StringBuilder();

        html.Append("<div class=\"btn-group pull-right\">");
        html.Append("<a href=\"javascript:void(0);\" data-toggle=\"dropdown\" class=\"btn btn-mini dropdown-toggle ellipsisButtonList\"><i class=\"icon-ellipsis-horizontal\"></i></a>");
        html.Append("<ul class=\"dropdown-menu pull-right\">");

        if (accountStatus == GMGColorDAL.AccountStatu.Status.Inactive || accountStatus != GMGColorDAL.AccountStatu.Status.Deleted && accountStatus != GMGColorDAL.AccountStatu.Status.Suspended)
            html.Append("<li><a href=\"javascript:void(0);\" onclick=\"$('#hdnSelectedAccount')[0].value = " + id + ";$('#btnEdit').click();\"><i class=\"icon-pencil\"></i> " + Resources.btnEdit + "</a></li>");
        if (accountStatus == GMGColorDAL.AccountStatu.Status.Inactive)
            html.Append("<li><a href=\"javascript:void(0);\" onclick=\"$('#hdnSelectedAccount')[0].value = " + id + ";$('#btnInvite').click();\"><i class=\"icon-envelope-alt\"></i> " + Resources.btnResendInvite + "</a></li>");
        if (accountStatus == GMGColorDAL.AccountStatu.Status.Draft)
            html.Append("<li><a href=\"javascript:void(0);\" onclick=\"$('#hdnSelectedAccount')[0].value = " + id + ";$('#btnInvite').click();\"><i class=\"icon-envelope-alt\"></i> " + Resources.btnSendInvite + "</a></li>");
        if (accountStatus == GMGColorDAL.AccountStatu.Status.Inactive || (accountStatus == GMGColorDAL.AccountStatu.Status.Suspended /*&& IsCanDelete(id)*/) || accountStatus == GMGColorDAL.AccountStatu.Status.Draft)
            html.Append("<li><a href=\"javascript:void(0);\" onclick=\"$('#hdnSelectedAccount')[0].value = " + id + ";$('#modelDialogDeleteConfirmation_1').modal({ backdrop: 'static', keyboard: false });\" rel=\"nofollow\" data-method=\"delete\" data-disable-with=\"Deleting...\" ><i class=\"icon-trash\"></i> " + Resources.btnDelete + "</a></li>");
        if (accountStatus == GMGColorDAL.AccountStatu.Status.Suspended)
            html.Append("<li><a href=\"javascript:void(0);\" onclick=\"$('#hdnSelectedAccount')[0].value = " + id + ";$('#btnRestore').click();\"><i class=\"icon-refresh\"></i> " + Resources.btnRestore + "</a></li>");

        html.Append("</ul>");
        html.Append("</div>");

        return html.ToString();
    }
    
    private bool IsAccountNameSelectable(int id, DbContextBL context)
    {
        GMGColorDAL.AccountStatu.Status accountStatus = GMGColorDAL.AccountStatu.GetAccountStatus(id, context);
        
        if(accountStatus != GMGColorDAL.AccountStatu.Status.Deleted && accountStatus != GMGColorDAL.AccountStatu.Status.Suspended)
            return true;
        else
            return false;
    }

    private string GetStatusString(int id, DbContextBL context)
    {
        string statusHtml = string.Empty;

        GMGColorDAL.AccountStatu.Status accountStatus = GMGColorDAL.AccountStatu.GetAccountStatus(id, context);
        string statusName = GMGColorDAL.AccountStatu.GetLocalizedAccountStatus(accountStatus);

        if (accountStatus == GMGColorDAL.AccountStatu.Status.Suspended)
        {
            if (!IsCanDelete(id, context))
            {
                GMGColorDAL.Account objAccount = GMGColorDAL.DALUtils.GetObject<GMGColorDAL.Account>(id, context);

                objAccount.CreatedDate = GMGColorFormatData.GetUserTimeFromUTC(objAccount.CreatedDate, Model.objLoggedAccount.TimeZone);
                objAccount.ModifiedDate = GMGColorFormatData.GetUserTimeFromUTC(objAccount.ModifiedDate, Model.objLoggedAccount.TimeZone);
                DateTime curUserTime = DateTime.UtcNow;

                AccountSubscriptionPlan collaborateSubscriptionPlan = objAccount.CollaborateSubscriptionPlan(context);                
                AccountSubscriptionPlan deliverSubscriptionPlan = objAccount.DeliverSubscriptionPlan(context);
                
                if (objAccount.NeedSubscriptionPlan && collaborateSubscriptionPlan != null)
                {
                    int dateDiffernce = 0;
                    
                    if (collaborateSubscriptionPlan.IsMonthlyBillingFrequency && (curUserTime - objAccount.ModifiedDate).TotalDays < 31)
                    {
                        DateTime nextBillingDate = GMGColorCommon.GetAvalilableDate(
                            curUserTime.Year,
                            (objAccount.ModifiedDate.Month == curUserTime.Month) ? curUserTime.Month + 1 : curUserTime.Month,
                            collaborateSubscriptionPlan.ContractStartDate.GetValueOrDefault().Day);
                        dateDiffernce = (nextBillingDate - curUserTime).Days;
                    }
                    else if (!collaborateSubscriptionPlan.IsMonthlyBillingFrequency && (curUserTime - objAccount.ModifiedDate).TotalDays < 365)
                    {
                        DateTime nextBillingDate = GMGColorCommon.GetAvalilableDate(curUserTime.Year, collaborateSubscriptionPlan.ContractStartDate.GetValueOrDefault().Month, collaborateSubscriptionPlan.ContractStartDate.GetValueOrDefault().Day);
                        dateDiffernce = (nextBillingDate - curUserTime).Days;
                    }
                    
                    if (dateDiffernce > 0)
                    {
                        statusHtml += "<i class=\"icon-time\" rel=\"tooltip\" data-original-title=\"" + dateDiffernce + " " + string.Format(Resources.lblDaysUntilCycleEnds, Resources.lblCollaborateModuleName) + " \"></i>";
                    }
                }
               
                if (objAccount.NeedSubscriptionPlan && deliverSubscriptionPlan != null)
                {
                    int dateDiffernce = 0;

                    if (deliverSubscriptionPlan.IsMonthlyBillingFrequency && (curUserTime - objAccount.ModifiedDate).TotalDays < 31)
                    {
                        DateTime nextBillingDate = GMGColorCommon.GetAvalilableDate(
                            curUserTime.Year,
                            (objAccount.ModifiedDate.Month == curUserTime.Month) ? curUserTime.Month + 1 : curUserTime.Month,
                            deliverSubscriptionPlan.ContractStartDate.GetValueOrDefault().Day);
                        dateDiffernce = (nextBillingDate - curUserTime).Days;
                    }
                    else if (!deliverSubscriptionPlan.IsMonthlyBillingFrequency && (curUserTime - objAccount.ModifiedDate).TotalDays < 365)
                    {
                        DateTime nextBillingDate = GMGColorCommon.GetAvalilableDate(curUserTime.Year, deliverSubscriptionPlan.ContractStartDate.GetValueOrDefault().Month, deliverSubscriptionPlan.ContractStartDate.GetValueOrDefault().Day);
                        dateDiffernce = (nextBillingDate - curUserTime).Days;
                    }

                    if (dateDiffernce > 0)
                    {
                        statusHtml += "<i class=\"icon-time\" rel=\"tooltip\" data-original-title=\"" + dateDiffernce + " " + string.Format(Resources.lblDaysUntilCycleEnds, Resources.lblDeliverModuleName) + " \"></i>";
                    }
                }

                
            }
            statusHtml += " <span class=\"label label-important\">" + statusName + "</span>";
        }
        else
        {
            statusHtml += " <span class=\"\">" + statusName + "</span>";
        }

        return statusHtml;
    }

    private bool IsCanDelete(int id, DbContextBL context)
    {
        bool canDelete = true;

        GMGColorDAL.Account objAccount = GMGColorDAL.DALUtils.GetObject<GMGColorDAL.Account>(id, context);

        objAccount.CreatedDate = GMGColorFormatData.GetUserTimeFromUTC(objAccount.CreatedDate, Model.objLoggedAccount.TimeZone);
        objAccount.ModifiedDate = GMGColorFormatData.GetUserTimeFromUTC(objAccount.ModifiedDate, Model.objLoggedAccount.TimeZone);
        DateTime curUserTime = DateTime.UtcNow;

        AccountSubscriptionPlan collaborateSubscriptionPlan = objAccount.CollaborateSubscriptionPlan(context);       
        AccountSubscriptionPlan deliverSubscriptionPlan = objAccount.DeliverSubscriptionPlan(context);
        
        if (objAccount.NeedSubscriptionPlan && collaborateSubscriptionPlan != null && collaborateSubscriptionPlan.ContractStartDate.HasValue)
        {
            if (collaborateSubscriptionPlan.IsMonthlyBillingFrequency && (curUserTime - objAccount.ModifiedDate).TotalDays < 31)
            {
                canDelete = false;
            }
            else if (!collaborateSubscriptionPlan.IsMonthlyBillingFrequency && (curUserTime - objAccount.ModifiedDate).TotalDays < 365)
            {
                canDelete = false;
            }
        }
        
        if (objAccount.NeedSubscriptionPlan && deliverSubscriptionPlan != null && deliverSubscriptionPlan.ContractStartDate.HasValue)
        {
            if (deliverSubscriptionPlan.IsMonthlyBillingFrequency && (curUserTime - objAccount.ModifiedDate).TotalDays < 31)
            {
                canDelete = false;
            }
            else if (!deliverSubscriptionPlan.IsMonthlyBillingFrequency && (curUserTime - objAccount.ModifiedDate).TotalDays < 365)
            {
                canDelete = false;
            }
        }

        return canDelete;
    }
}
