﻿@model GMGColorDAL.CustomModels.AccountCustomise
@using GMGColor.Resources
@using GMGColor.FileUpload
@using GMGColorDAL
@{
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
    Bundles.Reference("fileupload");
    Bundles.Reference("colorpicker");
    GMGColorBusinessLogic.DbContextBL context = HttpContext.Current.Items[GMGColorDAL.DALUtils.DatabaseContext] as GMGColorBusinessLogic.DbContextBL;
}
<div class="widget">
    <div class="widget-header">
        <h3>@ViewBag.Header@*&nbsp;<small>@ViewBag.HeaderSmall</small>*@</h3>
    </div>
    <!-- /widget-header -->
    <div class="widget-content">
        <div class="row-fluid">
            <ol class="wizard-steps">
                <li class="completed-step first-step"><a href="AccountInfo?id=@Model.Account">1. <span>@Resources.navAccountWizardStep1</span></a></li>
                <li class="completed-step"><a href="AccountPlans?id=@Model.Account">2. <span>@Resources.navAccountWizardStep2</span></a></li>
                <li class="active-step @GMGColorDAL.Account.GetStyle(Session["IsThirdCompleted"])"><a href="@GMGColorDAL.Account.GetAction(3, Session["IsThirdCompleted"], Model.Account)">
                    3. <span>@Resources.navAccountWizardStep3</span></a></li>
                <li class="last-step @GMGColorDAL.Account.GetStyle(Session["IsThirdCompleted"])"><a href="@GMGColorDAL.Account.GetAction(4, Session["IsThirdCompleted"], Model.Account)">
                    4. <span>@Resources.navAccountWizardStep4</span></a></li>
            </ol>
            <div id="dvCustomise">
                @using (Html.BeginForm("", "Account", FormMethod.Post, new { @class = "form-horizontal", id = "formMain" }))
                {
                    @Html.AntiForgeryToken()
                    GMGColorDAL.Account objAccount = GMGColorDAL.DALUtils.GetObject<GMGColorDAL.Account>(Model.Account, context);

                    @Html.HiddenFor(m => m.Account)
                    <!--Appearance -->                
                    <fieldset>
                        <legend>@Resources.lblAppearance <small>@Resources.lblChangeTheWayYourSiteLookAndFeels</small></legend>
                        <!--SiteName-->
                        <div class="control-group">
                            <label class="control-label">@Resources.lblSiteName</label>
                            <div class="controls">
                                @Html.TextBoxFor((m => m.SiteName), new { placeholder = Resources.lblEnterYourOrganisationNameHere })
                                @Html.ValidationMessageFor(m => m.SiteName)
                                <p class="help-block">
                                    @Resources.pharagraphNewAccountCustomise1
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">@Resources.lblColorScheme</label>
                            <div class="controls">
                                <div id="themeChooser">
                                    <ul class="colorscheme styleswitch">
                                        @{
                                            for (int i = 0; i < Model.AccountThemes.Count; i++)
                                            {
                                                Html.RenderPartial("_ColorPickerList",
                                                                    Model.AccountThemes[i],
                                                                    new ViewDataDictionary { TemplateInfo = new TemplateInfo { HtmlFieldPrefix = "AccountThemes[" + i + "]", } });   
                                            }
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>@Resources.lblBranding</legend>
                        <p>@Resources.lblBrandingInfo</p>
                        <h6>@Resources.lblApplication</h6>
                        <div class="control-group">
                            <label class="control-label">@Resources.lblHeaderLogo</label>
                            @{FileUploadModel fupHeaderLogo = new FileUploadModel(objAccount.Region);
                              fupHeaderLogo.Key = 1;
                              fupHeaderLogo.DefaultImagePath = GMGColorDAL.Account.GetLogoPath(objAccount, GMGColorDAL.Account.LogoType.HeaderLogo, false, false).Replace(GMGColorConfiguration.AppConfiguration.ServerProtocol + "://" + objAccount.Domain, string.Empty);
                              fupHeaderLogo.HelpBlockHtml = Resources.lblDownloadOur + "&nbsp;<a href=\"../../Content/templates/ps-header-template.psd\">" + Resources.lblPhotoshop + "</a>&nbsp;" + Resources.lblFileToGetStarted;
                              fupHeaderLogo.HelpInlineHtml = Resources.lblMaxHeight + ":&nbsp;<strong>33</strong>&nbsp;" + Resources.lblPixels + "</span>";                              
                            }
                            @Html.Partial("FileUpload", fupHeaderLogo)
                        </div>
                        <div class="control-group">
                        </div>
                        <h6>@Resources.lblLogin</h6>
                        <div class="control-group">
                            <label class="control-label">@Resources.lblLoginLogo</label>
                            @{FileUploadModel fupLoginLogo = new FileUploadModel(objAccount.Region);
                              fupLoginLogo.Key = 2;
                              fupLoginLogo.DefaultImagePath = GMGColorDAL.Account.GetLogoPath(objAccount, GMGColorDAL.Account.LogoType.LoginLogo, false, false).Replace(GMGColorConfiguration.AppConfiguration.ServerProtocol + "://" + objAccount.Domain, string.Empty);
                              fupLoginLogo.HelpBlockHtml = Resources.lblDownloadOur + "&nbsp;<a href=\"../../Content/templates/ps-login-template.psd\">" + Resources.lblPhotoshop + "</a>&nbsp;" + Resources.lblFileToGetStarted;
                              fupLoginLogo.HelpInlineHtml = Resources.lblMaxHeight + ":&nbsp;<strong>200</strong>&nbsp;" + Resources.lblPixels + "</span>";                              
                            }
                            @Html.Partial("FileUpload", fupLoginLogo)
                        </div>
                        <h6>@Resources.lblEmail</h6>
                        <div class="control-group">
                            <label class="control-label">@Resources.lblEmailLogo</label>
                            @{FileUploadModel fupEmailLogo = new FileUploadModel(objAccount.Region);
                                fupEmailLogo.Key = 3;
                                fupEmailLogo.DefaultImagePath = GMGColorDAL.Account.GetLogoPath(objAccount, GMGColorDAL.Account.LogoType.EmailLogo, false, false).Replace(GMGColorConfiguration.AppConfiguration.ServerProtocol + "://" + objAccount.Domain, string.Empty);
                                fupEmailLogo.HelpBlockHtml = Resources.lblDownloadOur + "&nbsp;<a href=\"../../Content/templates/ps-email-template.psd\">" + Resources.lblPhotoshop + "</a>&nbsp;" + Resources.lblFileToGetStarted;
                                fupEmailLogo.HelpInlineHtml = Resources.lblMaxHeight + ":&nbsp;<strong>160 x 60</strong>&nbsp;" + Resources.lblPixels + "</span>";                              
                            }
                            @Html.Partial("FileUpload", fupEmailLogo)
                        </div>
                        <h6>@Resources.lblFavIcon</h6>
                        <div class="control-group">
                            <label class="control-label">@Resources.lblFavIcon</label>
                            @{var fupFavIconLogo = new FileUploadModel(objAccount.Region)
                              {
                                  Key = 4, 
                                  DefaultImagePath = GMGColorDAL.Account.GetLogoPath(objAccount,
                                  GMGColorDAL.Account.LogoType.FavIconLogo, false, false), 
                                  HelpBlockHtml = Resources.lblDownloadOur + " <a href=\"../../Content/templates/favicon-template.psd\">" + Resources.lblPhotoshop + "</a> " + Resources.lblFileToGetStarted,
                                  HelpInlineHtml = Resources.lblMaxDimensions + ": <strong>32 x 32</strong>&nbsp;" + Resources.lblPixels + "</span>",
                                  AcceptFileTypes = "/(jpe?g|png|ico)$/i"
                              };
                             }
                            @Html.Partial("FileUpload", fupFavIconLogo)
                        </div>
                    </fieldset>
                    <div class="form-actions">
                        <button class="btn cancel" type="submit" name="action" value="Back">
                            &larr;&nbsp;@Resources.btnBack</button>
                        <button class="btn btn-primary" type="submit" name="action" value="Customize" data-loading-text="@Resources.btnSaving">@Resources.btnSaveAndContinue</button>
                    </div>
                    @Html.Partial("FileUploadTemplates", FileUploadModel.FileUploadTemplates(Model.objCustomiseAccount.PathToTempFolder, objAccount.Region))
                }
            </div>
        </div>
    </div>
</div>
