﻿@model int
@using GMGColor.Resources
@using GMGColorDAL
@using GMGColorDAL.CustomModels
@{
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
    GMGColorBusinessLogic.DbContextBL context = HttpContext.Current.Items[GMGColorDAL.DALUtils.DatabaseContext] as GMGColorBusinessLogic.DbContextBL;
}
<div class="widget">
    <div class="widget-header">
        <h3>@ViewBag.Header @*<small>@ViewBag.HeaderSmall</small>*@</h3>
    </div>
    <!-- /widget-header -->
    <div class="widget-content">
        <div class="row-fluid">
            <ol class="wizard-steps">
                <li class="completed-step first-step"><a href="AccountInfo?id=@Model">1. <span>@Resources.navAccountWizardStep1</span></a></li>
                <li class="completed-step"><a href="AccountPlans?id=@Model">2. <span>@Resources.navAccountWizardStep2</span></a></li>
                <li class="completed-step"><a href="AccountCustomize?id=@Model">3. <span>@Resources.navAccountWizardStep3</span></a></li>
                <li class="active-step last-step"><a href="javascript:void(0);">4. <span>@Resources.navAccountWizardStep4</span></a></li>
            </ol>
            <div id="dvConfirm">
                @using (Html.BeginForm("", "Account", FormMethod.Post, new { @class = "form-horizontal dirty" }))
                {
                    @Html.AntiForgeryToken()
                    GMGColorDAL.Account objAccount = DALUtils.GetObject<GMGColorDAL.Account>(Model, context);

                    string owner = objAccount.OwnerUser.GivenName + " " + objAccount.OwnerUser.FamilyName;
                    bool isDomainExist = (DALUtils.SearchObjects<GMGColorDAL.Account>(o => !o.IsTemporary && o.Domain.Replace(GMGColorConfiguration.AppConfiguration.HostAddress, string.Empty) == objAccount.Domain, context).ToList().Count > 0);
                    string buttonDissable = ((isDomainExist) ? ("disabled=\"disabled\"") : "");

                    @Html.Hidden("Account", Model)
                    <div class="account-confirmation">
                        <fieldset>
                            <legend>@Resources.lblGeneralAccountDetails</legend>
                            <div class="control-group">
                                <label class="control-label">
                                    @Resources.lblAccountType
                                </label>
                                <div class="controls">
                                    @objAccount.AccountType1.Name
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">
                                    @Resources.lblAccountName
                                </label>
                                <div class="controls">
                                    @objAccount.Name
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">
                                    @Resources.lblCompanyName
                                </label>
                                <div class="controls">
                                    @objAccount.Companies.FirstOrDefault().Name
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">
                                    @Resources.lblAccountUrl
                                </label>
                                <div class="controls">
                                    @objAccount.Domain
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">
                                    @Resources.lblAccountOwner
                                </label>
                                <div class="controls">
                                    <strong>@owner</strong><br />
                                    @objAccount.OwnerUser.EmailAddress
                                </div>
                            </div>
                        </fieldset>
                        @if (objAccount.NeedSubscriptionPlan)
                        {
                            var collaborateBillingPlan = objAccount.CollaborateBillingPlan(context);                           
                            var deliverBillingPlan = objAccount.DeliverBillingPlan(context);                           

                            AccountBillingPlansInUse accountBillingPlans = new AccountBillingPlansInUse
                            {
                                CollaborateBillingPlan = collaborateBillingPlan,                              
                                DeliverBillingPlan = deliverBillingPlan,
                            };

                            string collaborateCPP = (collaborateBillingPlan != null) ? GMGColorDAL.BillingPlan.GetFormatedCostPerProof(collaborateBillingPlan.ID, objAccount, context) : string.Empty;                           
                            string deliverCPP = (deliverBillingPlan != null) ? GMGColorDAL.BillingPlan.GetFormatedCostPerProof(deliverBillingPlan.ID, objAccount, context) : string.Empty;                            

                            <fieldset>
                                <legend>@Resources.lblBillingDetails</legend>
                                <div class="control-group">
                                    <label class="control-label">
                                        @Resources.lblBillingAddress
                                    </label>
                                    <div class="controls">
                                        @objAccount.Companies.FirstOrDefault().Address1<br />
                                        @if (!string.IsNullOrEmpty(objAccount.Companies.FirstOrDefault().Address2))
                                        {                                            
                                            @objAccount.Companies.FirstOrDefault().Address2
                                            <br />
                                        }
                                        @objAccount.Companies.FirstOrDefault().City @objAccount.Companies.FirstOrDefault().State
                                        @objAccount.Companies.FirstOrDefault().Postcode<br />
                                        @objAccount.Companies.FirstOrDefault().Country1.ShortName
                                    </div>
                                </div>
                                @{
                                        AccountSubscriptionPlan collaborateSubscriptionPlan = objAccount.CollaborateSubscriptionPlan(context);                                      
                                        AccountSubscriptionPlan deliverSubscriptionPlan = objAccount.DeliverSubscriptionPlan(context);

                                        SubscriberPlanInfo collaborateSubscriberPlan = objAccount.CollaborateSubscriberPlan(context);                                       
                                        SubscriberPlanInfo deliverSubscriberPlan = objAccount.DeliverSubscriberPlan(context);

                                        AccountSubscriptionDetails accountSubscription = new AccountSubscriptionDetails()
                                        {
                                            CollaborateSubscriberPlan = collaborateSubscriberPlan,
                                            CollaborateSubscriptionPlan = collaborateSubscriptionPlan,                                           
                                            DeliverSubscriberPlan = deliverSubscriberPlan,
                                            DeliverSubscriptionPlan = deliverSubscriptionPlan
                                        };

                                        EditAccount.Summary.Information objInformation = new EditAccount.Summary.Information(objAccount, accountBillingPlans, context, accountSubscription);
                                }
                                @if (collaborateSubscriptionPlan != null)
                                {
                                    <div class="control-group">
                                        <label class="control-label">
                                            @Resources.lblCollaborateInvoicePeriod
                                        </label>
                                        <div class="controls">
                                            @(collaborateSubscriptionPlan.IsMonthlyBillingFrequency ? Resources.lblMonthly : Resources.lblYearly)
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">
                                            @string.Format("{0} - {1}", Resources.lblCollaborateModuleName, Resources.lblContractStartDate)
                                        </label>
                                        <div class="controls">
                                            @if (collaborateSubscriptionPlan.ContractStartDate == null)
                                            {
                                                <literal>@Resources.lblWhenAccountIsActivated</literal>
                                            }
                                            else
                                            {
                                                <literal>@BillingAnniversary.AddOrdinal(((DateTime)collaborateSubscriptionPlan.ContractStartDate.GetValueOrDefault()).Day) @Resources.lblOf  @BillingAnniversary.GetMonth(((DateTime)collaborateSubscriptionPlan.ContractStartDate.GetValueOrDefault()).Month)</literal>
                                            }
                                        </div>
                                    </div>
                                }                                
                                
                                @if (deliverSubscriptionPlan != null)
                                {
                                    <div class="control-group">
                                        <label class="control-label">
                                            @Resources.lblDeliverInvoicePeriod
                                        </label>
                                        <div class="controls">
                                            @(deliverSubscriptionPlan.IsMonthlyBillingFrequency ? Resources.lblMonthly : Resources.lblYearly)
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">
                                            @string.Format("{0} - {1}", Resources.lblDeliverModuleName, Resources.lblContractStartDate)
                                        </label>
                                        <div class="controls">
                                            @if (deliverSubscriptionPlan.ContractStartDate == null)
                                            {
                                                <literal>@Resources.lblWhenAccountIsActivated</literal>
                                            }
                                            else
                                            {
                                                <literal>@BillingAnniversary.AddOrdinal(((DateTime)deliverSubscriptionPlan.ContractStartDate.GetValueOrDefault()).Day) @Resources.lblOf  @BillingAnniversary.GetMonth(((DateTime)deliverSubscriptionPlan.ContractStartDate.GetValueOrDefault()).Month)</literal>
                                            }
                                        </div>
                                    </div>
                                }                                
                               
                            </fieldset>
                            <fieldset>
                                <legend>@Resources.lblSubscription</legend>
                                @if (collaborateSubscriptionPlan != null)
                                {
                                    <div class="control-group">
                                        <label class="control-label" style="padding-top: 18px;">
                                            @Resources.lblCollaboratePlan
                                        </label>
                                        <div class="controls">
                                            <h2>@collaborateBillingPlan.Name</h2>
                                            @if (collaborateSubscriptionPlan.ChargeCostPerProofIfExceeded)
                                            {
                                                <p class="help-block">@Html.Raw(string.Format(Resources.lblBillingMsg1, collaborateCPP))</p>
                                            }
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" style="padding-top: 18px;">
                                            @if ((bool)collaborateSubscriptionPlan.IsMonthlyBillingFrequency)
                                            {
                                                @Resources.lblMonthlyTotal
                                            }
                                            else
                                            {
                                                @Resources.lblAnualTotal
                                            }
                                        </label>
                                        <div class="controls">
                                            <h2>
                                                <strong>
                                                    @objInformation.CollaborateAnualTotal</strong>
                                            </h2>
                                            <p class="help-block">
                                                <span class="badge badge-warning">VCD @objInformation.GPP</span><br />
                                                @objInformation.CollaborateAnualTotalMessage
                                            </p>
                                        </div>
                                    </div>
                                }
                                else if (collaborateSubscriberPlan != null)
                                {
                                     <div class="control-group">
                                        <label class="control-label" style="padding-top: 18px;">
                                            @Resources.lblCollaboratePlan
                                        </label>
                                        <div class="controls">
                                            <h2>@collaborateBillingPlan.Name</h2>
                                            @if (collaborateSubscriberPlan.ChargeCostPerProofIfExceeded)
                                            {
                                                <p class="help-block">@Html.Raw(string.Format(Resources.lblBillingMsg1, collaborateCPP))</p>
                                            }
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" style="padding-top: 18px;">
                                                @Resources.lblMonthlyTotal
                                        </label>
                                        <div class="controls">
                                            <h2>
                                                <strong>
                                                    @objInformation.CollaborateAnualTotal</strong>
                                            </h2>
                                            <p class="help-block">
                                                <span class="badge badge-warning">VCD @objInformation.GPP</span><br />
                                                @objInformation.CollaborateAnualTotalMessage
                                            </p>
                                        </div>
                                    </div>
                                }                             

                                @if (deliverSubscriptionPlan != null)
                                {
                                    <div class="control-group">
                                        <label class="control-label" style="padding-top: 18px;">
                                            @Resources.lblDeliverPlan
                                        </label>
                                        <div class="controls">
                                            <h2>@deliverBillingPlan.Name</h2>
                                            @if (deliverSubscriptionPlan.ChargeCostPerProofIfExceeded)
                                            {
                                                <p class="help-block">@Html.Raw(string.Format(Resources.lblBillingMsg1, deliverCPP))</p>
                                            }
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" style="padding-top: 18px;">
                                            @if ((bool)deliverSubscriptionPlan.IsMonthlyBillingFrequency)
                                            {
                                                @Resources.lblMonthlyTotal
                                            }
                                            else
                                            {
                                                @Resources.lblAnualTotal
                                            }
                                        </label>
                                        <div class="controls">
                                            <h2>
                                                <strong>
                                                    @objInformation.DeliverAnualTotal</strong>
                                            </h2>
                                            <p class="help-block">
                                                <span class="badge badge-warning">VCD @objInformation.GPP</span><br />
                                                @objInformation.DeliverAnualTotalMessage
                                            </p>
                                        </div>
                                    </div>
                                }
                                else if (deliverSubscriberPlan != null)
                                {
                                    <div class="control-group">
                                        <label class="control-label" style="padding-top: 18px;">
                                            @Resources.lblDeliverPlan
                                        </label>
                                        <div class="controls">
                                            <h2>@deliverBillingPlan.Name</h2>
                                            @if (deliverSubscriberPlan.ChargeCostPerProofIfExceeded)
                                            {
                                                <p class="help-block">@Html.Raw(string.Format(Resources.lblBillingMsg1, deliverCPP))</p>
                                            }
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" style="padding-top: 18px;">
                                                @Resources.lblMonthlyTotal
                                        </label>
                                        <div class="controls">
                                            <h2>
                                                <strong>
                                                    @objInformation.DeliverAnualTotal</strong>
                                            </h2>
                                            <p class="help-block">
                                                <span class="badge badge-warning">VCD @objInformation.GPP</span><br />
                                                @objInformation.DeliverAnualTotalMessage
                                            </p>
                                        </div>
                                    </div>
                                }
                              
                            </fieldset>
                        }
                    </div>
                    <div class="alert alert-block">
                        @Html.Raw(string.Format(Resources.lblAccontConfirmationMsg1, owner))
                    </div>
                        if (isDomainExist)
                        {
                    <div class="alert alert-block alert-error">
                        @Html.Raw(string.Format(Resources.errDomainExist, objAccount.Domain))
                    </div>
                        }
                    <div class="form-actions">
                        <button class="btn cancel" type="submit" name="action" value="Back">
                            &larr;&nbsp;@Resources.btnBack</button>
                        <button class="btn" @buttonDissable type="submit" name="action" value="SaveAsDraft" data-loading-text="@Resources.btnSaving">@Resources.btnSaveAsDraft</button>
                        <button class="btn btn-primary" @buttonDissable type="submit" name="action" value="SaveAndSendInvite" data-loading-text="@Resources.btnSending">@Resources.btnSaveAndSendInvite</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
