﻿@model GMGColorDAL.CustomModels.AccountInfo
@using Amazon.Internal
@using GMGColor.Resources
@using GMGColor.Common
@using GMGColorDAL
@{
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
    GMGColorBusinessLogic.DbContextBL context = HttpContext.Current.Items[GMGColorDAL.DALUtils.DatabaseContext] as GMGColorBusinessLogic.DbContextBL;
}
<div class="widget">
    <div class="widget-header">
        <h3>@ViewBag.Header@*&nbsp;<small>@ViewBag.HeaderSmall</small>*@</h3>
    </div>
    <!-- /widget-header -->
    <div class="widget-content">
        <div class="row-fluid">
            <ol class="wizard-steps">
                <li class="active-step first-step"><a href="javascript:void(0);">1. <span>@Resources.navAccountWizardStep1</span></a></li>
                <li class="@GMGColorDAL.Account.GetStyle(Session["IsSecondCompleted"])"><a href="@GMGColorDAL.Account.GetAction(2, Session["IsSecondCompleted"], Model.ID)">
                    2. <span>@Resources.navAccountWizardStep2</span></a></li>
                <li class="@GMGColorDAL.Account.GetStyle(Session["IsThirdCompleted"])"><a href="@GMGColorDAL.Account.GetAction(3, Session["IsThirdCompleted"], Model.ID)">
                    3. <span>@Resources.navAccountWizardStep3</span></a></li>
                <li class="last-step @GMGColorDAL.Account.GetStyle(Session["IsThirdCompleted"])"><a href="@GMGColorDAL.Account.GetAction(4, Session["IsThirdCompleted"], Model.ID)">
                    4. <span>@Resources.navAccountWizardStep4</span></a></li>
            </ol>
            <div id="dvGeneral">
                @using (Html.BeginForm("", "Account", FormMethod.Post, new {@id="frmNewAccountInfo", @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.LoggedAccount, new { @Value = Model.LoggedAccount })
                    @Html.HiddenFor(model => model.ID, new { @Value = Model.ID })
                    @Html.HiddenFor(model => model.ObjCompany.ID, new { @Value = Model.ObjCompany.ID })
                    @Html.HiddenFor(model => model.ObjOwner.ID, new { @Value = Model.ObjOwner.ID })
                    <!--Account Details-->
                    <fieldset>
                        <legend>@Resources.lblAccountDetails</legend>
                        <!--Account Type-->
                        <div class="control-group">
                            <label class="control-label required">@Resources.lblAccountType</label>
                            <div class="controls">
                                @{List<GMGColorDAL.AccountType> lstAccountTypes = new List<GMGColorDAL.AccountType>();
                                  foreach (GMGColorDAL.AccountType accountType in GMGColorDAL.Account.GetAccountAccessibleAccountTypes(Model.LoggedAccount, context))
                                  {
                                      accountType.Name = GMGColorDAL.AccountType.GetLocalizedAccountTypeName(accountType);
                                      lstAccountTypes.Add(accountType);
                                  }
                                }
                                @Html.DropDownListFor(model => model.Type, new SelectList(lstAccountTypes, "ID", "Name"), Resources.lblSelectAccountType, new { @id = "ddAccountType" })
                                @Html.ValidationMessageFor(model => model.Type)
                            </div>
                        </div>
                        <!--Account Name-->
                        <div class="control-group">
                            <label class="control-label required">@Resources.lblAccountName</label>
                            <div class="controls">
                                @Html.TextBoxFor(model => model.Name)
                                @Html.ValidationMessageFor(model => model.Name)
                                <p class="help-block">
                                    @Resources.lblAccountNameUsedThroughoutTheAdmin
                                </p>
                            </div>
                        </div>
                        <!--Organisation Name-->
                        <div class="control-group">
                            <label class="control-label required">@Resources.lblCompanyName</label>
                            <div class="controls">
                                @Html.TextBoxFor(model => model.ObjCompany.Name)
                                @Html.ValidationMessageFor(model => model.ObjCompany.Name)
                            </div>
                        </div>
                        <!--Dealer Number -->
                        <div class="control-group">
                            <label class="control-label">@Resources.lblDealerNumber</label>
                            <div class="controls">
                                @Html.TextBoxFor(model => model.DealerNumber, new { @class = "idouble" })
                                @Html.ValidationMessageFor(model => model.DealerNumber)
                            </div>
                        </div>
                        <!--Customer Number -->
                        <div class="control-group">
                            <label class="control-label">@Resources.lblCustomerNumber</label>
                            <div class="controls">
                                @Html.TextBoxFor(model => model.CustomerNumber, new { @class = "idouble" })
                                @Html.ValidationMessageFor(model => model.CustomerNumber)
                            </div>
                        </div>
                        <!--VAT Number -->
                        <div class="control-group">
                            <label class="control-label">@Resources.lblVATNumber</label>
                            <div class="controls">
                                @Html.TextBoxFor(model => model.VATNumber, new { @class = "idouble" })
                                @Html.ValidationMessageFor(model => model.VATNumber)
                            </div>
                        </div>
                        <!--Domain-->
                        <div class="control-group">
                            <label class="control-label required">@Resources.lblAccountUrl</label>
                            <div class="controls">
                                <div class="input-append">
                                    @Html.TextBoxFor(model => model.Domain, new { @id = "domain-prefix", @account = Model.ID })
                                    @if (GMGColorConfiguration.AppConfiguration.Environment == "prod")
                                    {
                                        GMGColorDAL.Account loggedAccount = DALUtils.GetObject<GMGColorDAL.Account>(Model.LoggedAccount, context);

                                        string hostAddress = GMGColorConfiguration.AppConfiguration.HostAddress;                                        
                                        <span id="domain-suffix" class="add-on">@hostAddress</span>
                                    }
                                </div>
                                <span id="domainInvalied" class="help-inline field-validation-error" style="display: none;">@Resources.reqInvalidDomain</span>
                                <span id="domainExists" class="help-inline field-validation-error" style="display: none;">@Resources.lblDomainAlreadyRegistered</span>
                                <span id="domainReserved" class="help-inline field-validation-error" style="display: none;">@Resources.lblThisSubDomainIsReserved</span>
                                <span id="domainFailed" class="help-inline field-validation-error" style="display: none;">@Resources.errTooManyCharactors</span>
                                <span id="domainRequired" class="help-inline field-validation-error" style="display: none;">@Resources.reqDomain</span>
                                <span id="domainSuccess" class="help-inline" style="display: none;">@Resources.lblDomainNameSuccess</span>
                                @Html.ValidationMessageFor(model => model.Domain)
                                @Html.Hidden("isDomanSucess", "0", new { @id = "hdnIsDomainSucess" })
                            </div>
                        </div>
                         <div class="control-group">
                            <label class="control-label">@Resources.lblCustomDomain</label>
                             <div class="controls">
                                 @Html.TextBoxFor(model => model.CustomDomain)
                                 <span id="customDomainInvalid" class="help-inline field-validation-error" style="display: none;">@Resources.reqInvalidDomain</span>
                                 <span id="customDomainSuccess" class="help-inline" style="display: none;">@Resources.lblDomainNameSuccess</span>
                                @Html.ValidationMessageFor(model => model.CustomDomain)
                             </div>
                             <div class="controls">
                                   <label class="checkbox">@Resources.lblUseCustomDomain
                                 @Html.CheckBoxFor(model => model.IsCustomDomainActive)
                                 </label>
                             </div>
                        </div>
                        <!-- / -->
                    </fieldset>
                    <!--Account Owner-->
                    <fieldset class="required">
                        <legend>@Resources.lblAccountOwner</legend>
                        <!--First Name-->
                        <div class="control-group">
                            <label class="control-label">@Resources.lblFirstName</label>
                            <div class="controls">
                                @Html.EditorFor(model => model.ContactFirstName)
                                @Html.ValidationMessageFor(model => model.ContactFirstName)
                            </div>
                        </div>
                        <!--Last Name-->
                        <div class="control-group">
                            <label class="control-label">@Resources.lblLastName</label>
                            <div class="controls">
                                @Html.EditorFor(model => model.ContactLastName)
                                @Html.ValidationMessageFor(model => model.ContactLastName)
                            </div>
                        </div>
                        <!--Phone-->
                        <div class="control-group">
                            <label class="control-label">@Resources.lblPhone</label>
                            <div class="controls">
                                @Html.EditorFor(model => model.ContactPhone)
                                @Html.ValidationMessageFor(model => model.ContactPhone)
                            </div>
                        </div>
                        <!--Mobile JOEL
                        <div class="control-group">
                            <label class="control-label">@Resources.lblMobile</label>
                            <div class="controls">
                                @Html.EditorFor(model => model.ObjCompany.Mobile)
                            </div>
                        </div>-->
                        <!--Username-->
                        <div class="control-group">
                            <label class="control-label">@Resources.lblUserName</label>
                            <div class="controls">
                                @Html.TextBoxFor(model => model.ObjOwner.Username)
                                @Html.ValidationMessageFor(model => model.ObjOwner.Username)
                            </div>
                        </div>
                        <!--Email-->
                        <div class="control-group">
                            <label class="control-label">@Resources.lblEmail</label>
                            <div class="controls">
                                @Html.TextBoxFor(model => model.ContactEmailAddress)
                                @Html.ValidationMessageFor(model => model.ContactEmailAddress)
                            </div>
                        </div>
                    </fieldset>
                    <!--Account Address-->
                    <fieldset>
                        <legend>@Resources.lblAccountAddress</legend>
                        <!--Address 1-->
                        <div class="control-group">
                            <label class="control-label required">@Resources.lblAddress1</label>
                            <div class="controls">
                                @Html.TextBoxFor(model => model.ObjCompany.Address1)
                                @Html.ValidationMessageFor(model => model.ObjCompany.Address1)
                            </div>
                        </div>
                        <!--Address 2-->
                        <div class="control-group">
                            <label class="control-label">@Resources.lblAddress2</label>
                            <div class="controls">
                                @Html.TextBoxFor(model => model.ObjCompany.Address2)
                                @Html.ValidationMessageFor(model => model.ObjCompany.Address2)
                            </div>
                        </div>
                        <!--City-->
                        <div class="control-group">
                            <label class="control-label required">@Resources.lblCity</label>
                            <div class="controls">
                                @Html.TextBoxFor(model => model.ObjCompany.City)
                                @Html.ValidationMessageFor(model => model.ObjCompany.City)
                            </div>
                        </div>
                        <!--State-->
                        <div class="control-group">
                            <label class="control-label">@Resources.lblState</label>
                            <div class="controls">
                                @Html.TextBoxFor(model => model.ObjCompany.State)
                                @Html.ValidationMessageFor(model => model.ObjCompany.State)
                            </div>
                        </div>
                        <!--PostCode/ ZipCode-->
                        <div class="control-group">
                            <label class="control-label">@Resources.lblPostCode</label>
                            <div class="controls">
                                @Html.TextBoxFor(model => model.ObjCompany.PostCode)
                                @Html.ValidationMessageFor(model => model.ObjCompany.PostCode)
                            </div>
                        </div>
                        <!--Country-->
                        <div class="control-group">
                            <label class="control-label required">@Resources.lblCountry</label>
                            <div class="controls">
                                @Html.DropDownListFor((m => m.ObjCompany.Country), new SelectList(DALUtils.SearchObjects<GMGColorDAL.Country>(o => o.ID > 0, context).OrderBy(o => o.ShortName).AsEnumerable(), "ID", "ShortName"), Resources.lblSelectCountry)
                                @Html.ValidationMessageFor(m => m.ObjCompany.Country)
                            </div>
                        </div>
                    </fieldset>
                    <!--Regional Settings-->
                    <fieldset>
                        <legend>@Resources.lblRegionalSettings</legend>
                        @if (Model.LoggedAccount == GMGColorDAL.AccountType.GetAccountType(GMGColorDAL.AccountType.Type.GMGColor, context).ID)
                        {
                            <div class="control-group">
                                <label class="control-label required">@Resources.lblDataStorageLocation</label>
                                <div class="controls">
                                    @{Dictionary<string, string> amazonRegions = new Dictionary<string, string>();
                                      foreach (var region in ViewBag.Regions)
                                      {
                                          amazonRegions.Add(region.SystemName, region.DisplayName);
                                      }
                                    }
                                    @Html.DropDownListFor((m => m.DataStorageLocation), new SelectList(amazonRegions, "key", "value")/*, Resources.lblSelectStorageLocation*/)
                                    @Html.ValidationMessageFor(m => m.DataStorageLocation)
                                </div>
                            </div>
                        }
                        <!--Default Language-->
                        <div class="control-group">
                            <label class="control-label required">@Resources.lblDefLanguage</label>
                            <div class="controls">
                                @Html.DropDownListFor(model => model.DefaultLanguage, new SelectList(GMGColorDAL.Locale.GetLocalizeLocaleNames(context), "Key", "Value"), Resources.lblSelectDefaultLanguage)
                                @Html.ValidationMessageFor(model => model.DefaultLanguage)
                            </div>
                        </div>
                        <!--Default Currency Name-->
                        <div class="control-group">
                            <label class="control-label required">@Resources.lblDefaultCurrency</label>
                            <div class="controls">
                                @if (Model.LoggedAccount == GMGColorDAL.AccountType.GetAccountType(GMGColorDAL.AccountType.Type.GMGColor, context).ID)
                                {                                    
                                    @Html.DropDownListFor(model => model.CurrencyFormat, new SelectList(GMGColorDAL.Currency.GetLocalizedCurrencyNames(context), "Key", "Value"), Resources.lblSelectCurrency, new { @id = "ddCurrencyType" })
                                }
                                else
                                {
                                    List<string> currencyTypeName = new List<string> { GMGColorDAL.Currency.GetLocalizedCurrencyNames(context).Single(o => o.Key == Model.CurrencyFormat).Value };
                                    @Html.HiddenFor(model => model.CurrencyFormat, new { @Value = Model.CurrencyFormat })
                                    @Html.DropDownList("currencyType", new SelectList(currencyTypeName), new { disabled = "disabled" })
                                }
                                @Html.ValidationMessageFor(model => model.CurrencyFormat)
                            </div>
                        </div>
                        <!--Date Format -->
                        <div class="control-group">
                            <label class="control-label required">@Resources.lblDateFormat</label>
                            <div class="controls">
                                @Html.DropDownListFor(model => model.DateFormat, new SelectList(DALUtils.SearchObjects<GMGColorDAL.DateFormat>(o => o.ID > 0, context).AsEnumerable(), "ID", "Result"), Resources.lblSelectDateFormat, new { @id = "ddDateFormat" })
                                @Html.ValidationMessageFor(model => model.DateFormat)
                            </div>
                        </div>
                        <!--Time Format -->
                        <div class="control-group">
                            <label class="control-label required">@Resources.lblTimeFormat</label>
                            <div class="controls">
                                @foreach (GMGColorDAL.TimeFormat item in DALUtils.SearchObjects<GMGColorDAL.TimeFormat>(o => o.ID > 0, context))
                                {
                                    <label class="radio">
                                        @Html.RadioButtonFor(model => model.TimeFormat, item.ID, (item.ID == 1) ? new { @checked = "checked" } : null)
                                        @GMGColorDAL.TimeFormat.GetLocalizedTimeFormat(item.ID, context) (e.g. @item.Result )
                                    </label>
                                }
                            </div>
                        </div>
                        <!--TimeZone-->
                        <div class="control-group">
                            <label class="control-label required">@Resources.lblTimeZone</label>
                            <div class="controls">
                                @Html.DropDownListFor((model => model.TimeZone), new SelectList(BaseController.TimeZones.AsEnumerable(), "ID", "Name"), Resources.lblSelectTimeZone)
                                @Html.ValidationMessageFor(model => model.TimeZone)
                            </div>
                        </div>
                    </fieldset>
                    <!-- Billing Details -->
                    <fieldset>
                    </fieldset>
                    <div class="form-actions">
                        <button class="btn btn-primary" data-loading-text="@Resources.btnSaving" name="action" type="submit" value="AccountInfo">@Resources.btnSaveAndContinue</button>
                    </div>
                    <script type="text/javascript">
                        var prod = ('@(GMGColorConfiguration.AppConfiguration.Environment == "prod")' == 'True');
                    </script>
                    <script type="text/javascript">
                        var retval = -1;
                        var status = 4;
                        var sysInterval = undefined;
                        var validatedomain = false;

                        $(document).ready(function () {
                            ValidateDomain();
                            ValidateCustomDomain();

                            $('#domain-prefix').blur(function () {
                                window.setTimeout('ValidateDomain()', 10);
                                validatedomain = false;
                            });

                            $('#CustomDomain').blur(function () {
                                window.setTimeout('ValidateCustomDomain()', 10);
                                validatedomain = false;
                            });

                            $('.form-actions button[value=AccountInfo]').click(function (e) {
                                ValidateCustomDomain();

                                if (!validatedomain && ($('#domain-prefix').val().trim() != '')) {
                                    ValidateDomain();
                                    sysInterval = window.setInterval('callBack()', 20);
                                    return false;
                                }
                            });
                        });

                        function callBack() {
                            if (status == 4) {
                                validatedomain = true;
                                window.clearInterval(sysInterval);
                                if ($('#domain-prefix').parents('.control-group').hasClass('error')) {
                                    $('#domain-prefix').focus();
                                }
                                else {
                                    $('.form-actions button[value=AccountInfo]').click();
                                }
                            }
                        }

                        function ValidateCustomDomain() {
                            $('#CustomDomain').parents('.control-group').removeClass('error success');
                            $('#customDomainSuccess').hide();
                            $('#customDomainInvalid').hide();

                            var domain = $('#CustomDomain').val().trim();
                            var regexDomain = /^[a-zA-Z0-9][a-zA-Z0-9-]{1,61}[a-zA-Z0-9](?:\.[a-zA-Z]{2,})+$/;

                            if (domain.length > 0 && !regexDomain.test(domain)) {
                                $('#CustomDomain').parents('.control-group').addClass('error');
                                $('#customDomainInvalid').show();
                                validatedomain = false;
                            } else {
                                $('#customDomainInvalid').hide();
                                validatedomain = true;

                                if (domain.length > 0) {
                                    $('#CustomDomain').parents('.control-group').addClass('success');
                                    $('#customDomainSuccess').show();
                                }
                            }

                            var color = $('.help-block').parent().css('color')
                            $('#IsCustomDomainActive').parent().css('color', color);
                        }

                        function ValidateDomain() {
                            var id = $('#domain-prefix').attr('account');
                            var domainName = $('#domain-prefix').val().trim();
                            var message = '';
                            if ($('#domain-prefix').val().trim() != '') {
                                status = 1;
                                if ($('#domain-suffix') != undefined) {
                                    domainName += $('#domain-suffix').text().trim();
                                }
                                $.ajax({
                                    type: 'POST',
                                    url: '/Base/ValidateDomain',
                                    data: JSON.parse("{ \"ID\" : \"" + id + "\",\"domainName\" : \"" + domainName + "\", \"__RequestVerificationToken\" : \"" + $("#frmNewAccountInfo input").val() + "\"}"),
                                    success: function (data) {
                                        message = data;
                                        status = 3;
                                    },
                                    complete: function (data) {
                                        $('#domain-prefix').parents('.control-group').removeClass('error success');
                                        $('#domain-prefix').removeClass('valid input-validation-error');
                                        $('#domainInvalied, #domainExists, #domainReserved, #domainFailed, #domainSuccess, #domainRequired').hide();
                                        $('#hdnIsDomainSucess').val('0');
                                        switch (message) {
                                            case 'invalied':
                                                {
                                                    $('#domain-prefix').parents('.control-group').addClass('error');
                                                    $('#domain-prefix').addClass('input-validation-error');
                                                    $('#domainInvalied').show();
                                                    break;
                                                }
                                            case 'exists':
                                                {
                                                    $('#domain-prefix').parents('.control-group').addClass('error');
                                                    $('#domain-prefix').addClass('input-validation-error');
                                                    $('#domainExists').show();
                                                    break;
                                                }
                                            case 'reserved':
                                                {
                                                    $('#domain-prefix').parents('.control-group').addClass('error');
                                                    $('#domain-prefix').addClass('input-validation-error');
                                                    $('#domainReserved').show();
                                                    break;
                                                }
                                            case 'failed':
                                                {
                                                    $('#domain-prefix').parents('.control-group').addClass('error');
                                                    $('#domain-prefix').addClass('input-validation-error');
                                                    $('#domainFailed').show();
                                                    break;
                                                }
                                            default: // success
                                                {
                                                    $('#domain-prefix').parents('.control-group').addClass('success');
                                                    $('#domain-prefix').addClass('valid');
                                                    $('#domainSuccess').show();
                                                    $('#hdnIsDomainSucess').val('1');
                                                    break;
                                                }
                                        }
                                        status = 4;
                                    }
                                });
                            }
                            else {
                                if ($('.help-inline').is(":visible")) {
                                    $('#domain-prefix').parents('.control-group').removeClass('error success');
                                    $('#domain-prefix').removeClass('valid input-validation-error');
                                    $('#domainInvalied, #domainExists, #domainReserved, #domainFailed, #domainSuccess, #domainRequired').hide();
                                    $('#hdnIsDomainSucess').val('0');
                                    status = 2;
                                    $('#domain-prefix').parents('.control-group').addClass('error');
                                    $('#domain-prefix').addClass('input-validation-error');
                                    $('#domainRequired').show();
                                }
                            }
                        }
                    </script>
                }
            </div>
        </div>
        <!-- / row-fluid -->
    </div>
    <!-- / widget-content -->
</div>
