﻿@model GMGColorDAL.CustomModels.AccountPlans
@using GMGColor.HtmlHelpers
@using GMGColor.Resources
@using GMGColorDAL
@using GMGColorDAL.Common
@{
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
    Bundles.Reference("accountingscripts");
    GMGColorBusinessLogic.DbContextBL context = HttpContext.Current.Items[GMGColorDAL.DALUtils.DatabaseContext] as GMGColorBusinessLogic.DbContextBL;
    GMGColorDAL.Account objAccount = GMGColorDAL.DALUtils.GetObject<GMGColorDAL.Account>(Model.Account, context);
    var accountType = GMGColorDAL.AccountType.GetAccountType(Model.Account, context);
    var parentCurrency = GMGColorFormatData.GetCurrencySymbol(objAccount.Parent.GetValueOrDefault(), context);
}
<div class="widget">
    <div class="widget-header">
        <h3>@ViewBag.Header @*<small>@ViewBag.HeaderSmall</small>*@</h3>
    </div>
    <!-- /widget-header -->
    <div class="widget-content">
        <div class="row-fluid">
            <ol class="wizard-steps">
                <li class="completed-step first-step"><a href="AccountInfo?id=@Model.Account">1. <span>@Resources.navAccountWizardStep1</span></a></li>
                <li class="active-step @GMGColorDAL.Account.GetStyle(Session["IsSecondCompleted"])"><a href="@GMGColorDAL.Account.GetAction(2, Session["IsSecondCompleted"], Model.Account)">
                    2. <span>@Resources.navAccountWizardStep2</span></a></li>
                <li class="@GMGColorDAL.Account.GetStyle(Session["IsThirdCompleted"])"><a href="@GMGColorDAL.Account.GetAction(3, Session["IsThirdCompleted"], Model.Account)">
                    3. <span>@Resources.navAccountWizardStep3</span></a></li>
                <li class="last-step @GMGColorDAL.Account.GetStyle(Session["IsThirdCompleted"])"><a href="@GMGColorDAL.Account.GetAction(4, Session["IsThirdCompleted"], Model.Account)">
                    4. <span>@Resources.navAccountWizardStep4</span></a></li>
            </ol>
            <div id="dvSubscription">
                @using (Html.BeginForm("", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.Account, new { @Value = Model.Account })
                    <fieldset class="form-horizontal">
                        <legend>@Resources.lblGlobalPricePlans</legend>
                        <div class="control-group">
                            <label class="control-label">@Resources.lblGloblePricePlanDiscount</label>
                            <div class="controls">
                                <div class="input-append">
                                    @Html.TextBoxFor(model => model.GPPDiscount, new { @class = "input-small", id = "txtGpp" })<span
                                        class="add-on">%</span>
                                </div>
                            </div>
                            @Html.ValidationMessageFor(model => model.GPPDiscount)
                        </div>
                    </fieldset>
                    if (accountType != GMGColorDAL.AccountType.Type.Subscriber)
                    {
                    <fieldset class="form-horizontal">
                        <div class="control-group">
                            @Html.ValidationMessage("AttachedBillingPlans")
                        </div>
                        @{List<GMGColorDAL.BillingPlanType> lstBillingPlanTypes = GMGColorDAL.DALUtils.SearchObjects<GMGColorDAL.BillingPlanType>(o => o.ID > 0, context);

                          if (lstBillingPlanTypes.Count > 0)
                          {
                              if (Model.objAccountBillingPlans.BillingPlans.Count > 0)
                              {
                                  List<GMGColorDAL.AppModule> lstAppModule = GMGColorDAL.DALUtils.SearchObjects<GMGColorDAL.AppModule>(item => item.Key != (int)GMG.CoZone.Common.AppModule.Admin &&
                                                                                                                    item.Key != (int)GMG.CoZone.Common.AppModule.SysAdmin, context).ToList();
                                  foreach (GMGColorDAL.AppModule appModule in lstAppModule)
                                  {
                                       <fieldset> 
                                            <legend>@appModule.Name</legend> 
                                       </fieldset>
                            
                                      if (appModule.BillingPlanTypes.Count == 0 || Model.objAccountBillingPlans.BillingPlans.All(t => t.BillingPlanTypeAppModuleKey != appModule.Key))
                                      {
                                          <p class="well plan-type">
                                           @Resources.emptyHeaderBillingPlanType</p>
                                          continue;
                                      }
                                      
                                      List<GMGColorDAL.BillingPlanType> lstAppModuleBillingPlanTypes = lstBillingPlanTypes.Where(item => item.AppModule == appModule.ID).ToList();
                                      foreach (GMGColorDAL.BillingPlanType planType in lstAppModuleBillingPlanTypes)
                                      {
                                          var lstBillingPlans = Model.objAccountBillingPlans.BillingPlans.Where(o => o.BillingPlanTypeID == planType.ID).ToList();
                                          if (lstBillingPlans.Count > 0)
                                          {
                                              string label = null;
                                              if (planType.AppModule1.Key == (int)GMG.CoZone.Common.AppModule.Collaborate)
                                              {
                                                  label = Resources.lblProofs;
                                              }
                                              else if (planType.AppModule1.Key == (int)GMG.CoZone.Common.AppModule.Deliver)
                                              {
                                                  label = Resources.lblDeliverProofs;
                                              }                                              
 
                                              foreach (var planCollection in lstBillingPlans)
                                              {
                                                    <div>
                                                        <div class="plan-header plan-type">
                                                            <h3>@planCollection.BillingPlanTypeName</h3>
                                                        </div>
                                                        @{var gridBillingPlans = new WebGrid(planCollection.BillingPlans, fieldNamePrefix: planCollection.BillingPlanTypeID.ToString(), canPage: false);}
                                                        @gridBillingPlans.WebGridHelperSelectAll(
                                                            tableStyle: "table table-bordered table-striped table-hover",
                                                            dataGrdPrefix: planCollection.BillingPlanTypeID.ToString(),
                                                            checkBoxID: "AttachedBillingPlans",
                                                            checkBoxValue: "ID",
                                                            checkBoxName: "AttachedBillingPlans",
                                                            isChecked: "SelectAttachedPlans",
                                                            isDisabled: "HasChildren",
                                                            headerStyle: "plan-header-checkbox",
                                                            columns: gridBillingPlans.Columns(
                                                                    gridBillingPlans.Column(columnName: "Name", header: Resources.lblPlan, canSort: false,
                                                                    format: @<text>@item.Name</text>),
                                                                                gridBillingPlans.Column(columnName: "Price", header: Resources.lblBasePricePerMonth, canSort: false,
                                                                    format: @<text>@GMGColorFormatData.GetFormattedCurrency(item.Price, parentCurrency)</text>),
                                                                                gridBillingPlans.Column(columnName: "Discount", header: Resources.lblDiscount + " (" + Model.GPPDiscount + "%)", style: "applygpp-price", canSort: false,
                                                                    format: @<text><label style="display: none" distprice="@objAccount.ParentAccount.Currency.Symbol-@item.Price"></label><label>@GMGColorFormatData.GetFormattedCurrency(item.Price, parentCurrency)</label></text>),
                                                                                gridBillingPlans.Column(columnName: "Proofs", header: label, canSort: false,
                                                                    format: @<text>@String.Format("{0}", GMGColorDAL.BillingPlan.GetProofCount(item.Proofs, item.IsFixed))</text>),
                                                                                gridBillingPlans.Column(string.Empty, header: Resources.lblBasePricePerYear, style: "applygpp-price", canSort: false,
                                                                    format: @<text><label style="display: none" distprice="@objAccount.ParentAccount.Currency.Symbol-@item.PricePerYear"></label><label>@GMGColorFormatData.GetFormattedCurrency(item.PricePerYear, parentCurrency)</label></text>),
                                                                                gridBillingPlans.Column(columnName: string.Empty, header: Resources.lblBaseCostPerProof, canSort: false, style:"applygpp-proofprice",
                                                                    format: @<text><label style="display: none" distprice="@GMGColorDAL.BillingPlan.GetFormatedCostPerProof(item.ID, objAccount, context)"></label><label>@GMGColorDAL.BillingPlan.GetFormatedCostPerProof(item.ID, objAccount, parentCurrency, item.IsFixed, context)</label></text>))
                                                                        )
                                                    </div>
                                              }
                                          }
                                      }
                                  }


                                        <legend>File Transfer</legend>
                                        <div class="control-group">
                                            <label class="control-label">@Resources.lblAccess</label>
                                                <div class="controls">
                                                    <label class="checkbox">
                                                        @Html.CheckBoxFor(model => model.HasFileTransferAccess)
                                                    </label>

                                                    </div>

                                        </div>


                              }
                          }
                          else
                          { 
                            <h2>
                                <a class="inew iplantype" data-id="0" data-toggle="modal" data-backdrop="static"
                                    data-keyboard="false" href="#modalDialogAddEditBillingPlanType">
                                    @Resources.emptyHeaderBillingPlanType</a>
                            </h2> 
                            <p class="well plan-type">
                                @Resources.emptyBodyBillingPlanType
                            </p> 
                          }
                        }
                    </fieldset>
                    }
                    <fieldset class="form-horizontal">
                        <legend>@Resources.lblSubscriptionPlan</legend>
                       
                        <legend>File Transfer</legend>
                        <div class="control-group">


                            <label class="control-label">Access</label>
                            <div class="controls">
                                <label class="checkbox">
                                    @Html.CheckBoxFor(model => model.HasFileTransferAccess)
                                </label>

                            </div>

                        </div>

                                @if (accountType != GMGColorDAL.AccountType.Type.Subscriber)
                                {
                                    <div class="control-group">
                                        <div class="controls">
                                            <label class="checkbox">
                                                @Html.CheckBoxFor(model => model.NeedSubscriptionPlan, new { id = "chkAccNeedSubsPlan", onchange = "javascript:PopulateAccSubPlan()" })
                                                <strong>@Resources.lblAccNeedSubsPlan</strong>
                                            </label>
                                            <p class="help-block">@Resources.pharagraphNewAccount1</p>
                                        </div>
                                    </div>
                                    <script type="text/javascript">
                                        $(document).ready(function () {
                                            PopulateAccSubPlan();
                                        });

                                        function PopulateAccSubPlan() {
                                            if ($('#chkAccNeedSubsPlan').is(":checked")) {
                                                $('#dvAccNeedSubsPlan').show();
                                                $('#dvAccNotNeedSubsPlan').hide();
                                                $("#PlanPerModule_SelectedPlans").val("");
                                            }
                                            else {
                                                $('#ddlBillingPlans').val('1');
                                                $('#dvAccNeedSubsPlan').hide();
                                                $('#dvAccNotNeedSubsPlan').show();
                                                $("#PlanPerModule_CollaborateBillingPlanId").val("");
                                                $("#PlanPerModule_DeliverBillingPlanId").val("");
                                                $("#PlanPerModule_SelectedPlans").val("no required");
                                            }
                                        }
                                    </script>
                                }

                                <div id="dvAccNeedSubsPlan">
                                    @if (accountType == GMGColorDAL.AccountType.Type.Subscriber)
                                    {
                                        @Html.EditorFor(m => m.SubscriberPlans)
                                    }
                                    else
                                    {
                                        @Html.EditorFor(m => m.PlanPerModule)
                                    }
                                </div>
                    </fieldset>
                    <div class="form-actions">
                        <button class="btn cancel" type="submit" name="action" value="Back">
                            &larr;&nbsp;@Resources.btnBack</button>
                        <button class="btn btn-primary" type="submit" name="action" value="Plans" data-loading-text="@Resources.btnSaving">
                            @Resources.btnSaveAndContinue</button>
                    </div>
                    <script type="text/javascript">
                        $(document).ready(function () {
                            if (typeof (updateFieldForClientSideValidation) != "undefined")
                                updateFieldForClientSideValidation();
                            applyGpp(true);
                            $('#txtGpp').keyup(function () {
                                applyGpp(true);
                            });

                            if ($("#ddlBillingPlans").val() != "") {
                                var newValue = "@Resources.lblCreditsLeft";
                                newValue = newValue.replace("{0}", $("#ddlBillingPlans").find("option[value='" + $("#ddlBillingPlans").val() + "']").attr("credits"));
                                $('#CreditsLeft').text(newValue);
                                $('#CreditsLeft').show();
                            }
                            else {
                                $('#CreditsLeft').hide();
                            }
                        });

                        function rdoChanged(rdo) {
                            if (rdo.id == 'valuefalse') {
                                $('#NrOfCredits').attr('disabled', 'disabled');
                                $('#NrOfCredits').val('');
                            }
                            else if (rdo.id == 'valuetrue') {
                                $('#NrOfCredits').removeAttr("disabled");
                            }
                        }
                    </script>
                }
            </div>
            <!-- / -->
        </div>
        <!-- /row-fluid -->
    </div>
    <!-- /widget-content -->
</div>
<!-- /widget -->
