{{#if userCanAnnotate}}
{{#if isCopiedCommentEmpty}}
  <div id="commentArea" class="czn-add-comment form-control" style="height: 80px; padding: 0px;" {{action "commenthandle" on="keyUp"}}></div>
  {{else}} 
  <div id="commentArea" class="czn-add-comment form-control" style="height: 80px; padding: 0px;" {{action "commenthandle" on="keyUp"}}></div>
  {{/if}}
{{#if canShowApprovalUsers}}
  <div class="selectable czn-user-modal modal-sm" id="comments-modal" tabindex="-1" role="dialog" data-backdrop="false" aria-labelledby="myModalLabel" aria-hidden="true">
  {{#each user in approvalUsers}}
       <figure class="czn-avatar" style="height:30px;">
       <div class="czn-user-color pull-left" {{bind-attr style="user.bgColor"}}></div>
       <figcaption class="czn-approval-user pull-left" {{bind-attr title="user.Name"}} {{action "selectUser" user}}>&nbsp;&nbsp;&nbsp;&nbsp;{{user.Name}}</figcaption>
      </figure>
    {{/each}}
  </div>
  {{/if}}
 {{else}}
  {{textarea id="commentArea" class="czn-add-comment form-control" valueBinding="newComment" readonly=true}}
{{/if}}
<div class="hidden-xs hidden-sm hidden-md">{{render "multiple-upload" this}}</div>
{{#if isCheckList}}
 <div class="czn-checklist-name"><span style="padding: 15px; vertical-align: middle">{{ checklistName }} - {{t "lblChecklist"}}</span></div>

<ul class="czn-checklist">
    {{#each member in approvalChecklistItems}}
        {{ partial "comments/checklist" member}}
    {{/each}}
</ul>

{{/if}}
<div class="czn-comment-modal-footer">
    {{#if isSideAnnotation}}
    {{#if canShowChecklistHistory}}
      <div {{bind-attr class=":clear-both :pull-left :czn-checklist-div"}} {{action "getChecklistItems" this}}>
            <div class="czn-annotation-replies">
                <div class="fa fa-pencil" style="float: left;padding-left: 5px;padding-top: 3px;padding-right: 5px;"></div>
                <div class="czn-checklist-history-count" style="font-size:medium; font-weight:normal;">
               {{checklistHistoryCount}}
                </div>
            </div>
      </div>
    {{/if}}   
    {{/if}}
<button type="button" class="btn btn-default" data-dismiss="modal" {{action "hideCommentPopupAfter" this}}>{{t "btnCancel"}}</button>
{{#if isCopiedCommentEmpty}}
    <button type="button" class="btn btn-primary btn-save" {{action "addAnnotation" comment}}>{{t "btnSave"}}</button>
 {{else}}
    {{#if isSaveEnabled}}
        <button type="button" class="btn btn-primary btn-save disabled">{{t "btnSave"}}</button>
{{else}}
    {{#if attachmentUploading}}
        <button type="button" class="btn btn-primary btn-save disabled">{{t "btnSave"}}</button>
    {{else}}
        <button type="button" class="btn btn-primary btn-save" {{action "addAnnotation"}}>{{t "btnSave"}}</button>
    {{/if}}
{{/if}}
{{/if}}
</div>