<li class ="czn-checklistForli model.IsItemChecked:active">
    <span class="czn-checklistItemtitle" {{bind-attr title="member.Item"}}>
    <i{{bind-attr class=":fa member.IsItemChecked:fa-check-square-o:fa-square-o"}}></i>
    {{member.Item}}</span>
        <span class="czn-checklistItemvalue">
        {{textarea class="czn-add-checklist" valueBinding=member.ItemValue }}</span>
        {{#if member.ShowNoOfChanges}}
     <span class="czn-checklist-badge czn-checklist-none">{{member.TotalChanges}}</span>
     {{/if}}
</li>