<div class="selectable czn-comment-modal modal-sm" id="comments-modal" tabindex="-1" role="dialog" data-backdrop="false" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-content">
        <div class="modal-header czn-pager">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" {{bind-attr title="lblClose"}} {{action "hideCommentPopupFromClose"}}>&times;</button>
            {{#if model}}
                {{ partial "comments/navigation" }}
            {{else}}
                <span>{{t "lblAddAnnotation"}}</span>
                {{#if canShowPaste}}
                <span class="fa fa-paste" {{action "pasteAnnotation" }} {{bind-attr title="lblPaste"}} style="margin-left: 135px"></span>
                {{/if}}
            {{/if}}
        </div>
        {{#if model}}
            <div class="modal-body">
                <ul class="czn-comments-list list-unstyled">
                    {{#each comment in controller itemController="comments/item"}}
                        {{ partial "comments/comment/index" }}
                    {{/each}}
                </ul>
            </div>
        {{/if}}
        <div class="modal-footer">
          {{#if isApproved}}
            <span class="czn-img-icon czn-icon-status-approved"></span>
          {{/if}}
            {{ partial "comments/add"}}
        </div>
    </div>
</div>
<div id="czn-marker-line"></div>
