<span {{bind-attr class=":czn-pager-btn :fa :fa-lg :fa-chevron-circle-left prevDisabled:disabled"}} {{action "prevAnnotation"}}></span>
<span>{{t "lblAnnotationsPager" currentPageBinding="currentAnnotation" totalPagesBinding="totalAnnotations"}}</span>
<span {{bind-attr class=":czn-pager-btn :fa :fa-lg :fa-chevron-circle-right nextDisabled:disabled"}} {{action "nextAnnotation"}}></span>