<div class="czn-slider-track">
    <div class="czn-slider-selection"></div>
    {{#each marker in view.annotationMarkers}}
        <div class="czn-marker-handle" {{bind-attr style="marker.left" timeFrame="marker.timeFrame"}} {{action "markerSelect" marker.timeFrame}}>
            <span class="markerClass" {{action "markerSelect" marker.timeFrame}} {{bind-attr timeFrame="marker.timeFrame"}}>{{marker.nr}}</span>
        </div>
    {{/each}}
    <div class="czn-slider-handle"></div>
</div>
