<div class="czn-slider-track hidden-sm hidden-xs" style="width:100px;float:left;">

    <div class="czn-slider-selection"></div>
    <div class="czn-slider-handle"></div>
</div>

<div  id="thresholdSliderValue" style="position:absolute;margin-top: 7px;margin-left: 110px">13</div>
