﻿@model List<GMGColorDAL.CustomModels.ApprovalAnnotationStatusChangeLog>
@using GMGColor.HtmlHelpers
@using GMGColor.Resources
@using GMGColorDAL
@using GMGColorDAL.Common
@using GMGColorDAL.CustomModels

<script src="../../Content/js/approval-details.js" type="text/javascript"></script>

@if (Model != null)
{
    <div id="toDosPartial" class="row-fluid">
        <div class="span12">
            <table id="toDosTable" class="table table-striped table-bordered table-user-activity">
                <thead>
                    <tr class="adjust-widths">
                        <th>
                            @Resources.lblAnnotations<br />
                            <small>@Resources.lblComment</small>
                        </th>
                        <th>
                            @Resources.lblCollaborator<br />
                            <small>@Resources.lblName</small>
                        </th>
                        <th>
                            @Resources.lblDate<br />
                            <small>@Resources.lblTime</small>
                        </th>
                        <th>
                            @Resources.lblDecisionMade<br />
                            <small>@Resources.lblStatus</small>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (GMGColorDAL.CustomModels.ApprovalAnnotationStatusChangeLog objLog in Model)
                    {
                        <tr>
                            <td style="word-wrap: break-word; max-width: 100px;">
                                <strong>@objLog.AnnotationComment </strong>
                            </td>
                            <td>
                                @if (objLog.UserStatus == 3)
                                {
                                    <span>@objLog.CollaboratorName (@Resources.lblInactive)</span>
                                }
                                else
                                {
                                    @objLog.CollaboratorName
                                }
                            </td>
                            <td>
                                @objLog.ModifiedDate
                                <br />
                                <small>
                                    @objLog.ModifiedDateHour
                                </small>
                            </td>
                            <td>
                                @objLog.Status
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}