﻿@model ApprovalDetailsModel.VersionDetailsModel

@using GMGColor.HtmlHelpers
@using GMGColor.Resources;
@using GMGColorDAL
@using GMGColorDAL.Common
@using GMGColorDAL.CustomModels
@{
    GMGColorBusinessLogic.DbContextBL context = HttpContext.Current.Items[DALUtils.DatabaseContext] as GMGColorBusinessLogic.DbContextBL;

    Model.objApprovalVersion.CreatedDate = GMGColorFormatData.GetUserTimeFromUTC(Model.objApprovalVersion.CreatedDate, Model.objLoggedAccount.TimeZone);
    Model.objApprovalVersion.ModifiedDate = GMGColorFormatData.GetUserTimeFromUTC(Model.objApprovalVersion.ModifiedDate, Model.objLoggedAccount.TimeZone);

    List<int> collaboratorGroups = Model.ApprovalVersionCollaboratorInfo.Groups;
    List<string> collaboratorsWithRole = Model.ApprovalVersionCollaboratorInfo.CollaboratorsWithRole;
    List<string> externalsWithRole = Model.ApprovalVersionCollaboratorInfo.ExternalCollaboratorsWithRole;
    List<int> extCollaboratorDecisions = Model.ApprovalVersionCollaboratorInfo.ExternalCollaboratorsWithDecision;
    int approvalFileType = Approval.GetApprovalFileTypeKey((int)Model.ID, context);
    string approvalImagePath = approvalFileType == (int)Approval.ApprovalTypeEnum.Movie ? Approval.GetVideoImagePath(Model.objApprovalVersion.ID,
        Model.objLoggedAccount.IsCustomDomainActive ? Model.objLoggedAccount.CustomDomain : Model.objLoggedAccount.Domain, context)
        : ((approvalFileType == (int)Approval.ApprovalTypeEnum.Zip) ? Approval.GetZipPath(Model.objLoggedAccount.IsCustomDomainActive ?
        Model.objLoggedAccount.CustomDomain : Model.objLoggedAccount.Domain)
        : Approval.GetProcessedImagePath(Model.ID, context));

    var serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
    string cssClass = Model.objApprovalVersion.IsLocked ? "btn btn-danger active" : "btn btn-primary";
    string divID = "Version" + Model.Version;

    string isLockDisabled = (Model.PhaseId != null && (Model.IsPhaseCompleted || !Model.IsLastVersion || (Model.IsLastVersion && Model.JobOwner != Model.LoggedUserID))) || (Model.PhaseId == null && !ViewBag.IsLoggedUserVersionOwner) ? "disabled=disabled" : string.Empty;
    int annotationsCount = Model.ExternalColloaboratorActivities.Sum(t => t.TotalApprovalAnnotations) + Model.ColloaboratorActivities.Select(t => t.TotalApprovalAnnotations).FirstOrDefault();
    int showAnnotationReportBtn = Model.ExternalColloaboratorActivities.Sum(t => t.TotalApprovalAnnotations) + Model.ColloaboratorActivities.Select(t => t.TotalAnnotations).FirstOrDefault();
    int showVideoAnnotationReport = Model.ExternalColloaboratorActivities.Sum(t => t.TotalVideoAnnotationsReport) + Model.ColloaboratorActivities.Select(t => t.TotalVideoAnnotationsReport).FirstOrDefault();
    Bundles.Reference("datetimepicker");
    Bundles.Reference("dirtyForms");
}
<script src="../../Content/js/approval-details.js" type="text/javascript"></script>
<script src="../../Content/js/jquery.dirtyforms.1.2.2.js" type="text/javascript"></script>

<div id="@divID" class="row-fluid tab-pane active dirtyignore">
    <button class="@cssClass pull-right" type="submit" @isLockDisabled data-loading-text="@(!Model.objApprovalVersion.IsLocked ? Resources.btnLocking : Resources.btnUnLocking)" onclick="$('#hdnSelectedApproval').val(@Model.objApprovalVersion.ID);" data-toggle="button" name="action" value="LockApproval">
        @(Model.objApprovalVersion.IsLocked ? Resources.lblLocked : Resources.lblUnLocked)
    </button>
    <h3>@Resources.navApprovalsDetails <small>@Resources.lblPreviewDetailsTools</small></h3>
    <div class="well">
        @if (Model.LoggedUserRole != Role.RoleName.AccountViewer)
        {
            string isDisabled = (showAnnotationReportBtn > 0 && showVideoAnnotationReport > 0) ? string.Empty : "disabled=disabled";
            <div class="tools-bar">
                <div class="btn-toolbar">
                    @if (Model.objApprovalVersion.AllowDownloadOriginal)
                    {
                        <button class="btn btn-border" type="button" onclick="sendRequest(@Model.objApprovalVersion.ID);">
                            <i class="icon-download-alt"></i>&nbsp;<span>@Resources.btnDownload</span>
                        </button>
                    }
                    @if (Model.JobStatus != JobStatu.Status.Completed)
                    {
                        if (Model.LoggedUserRole != Role.RoleName.AccountRetoucher)
                        {
                            if (((Model.objApprovalVersion.AllowOtherUsersToBeAdded && Model.JobOwner == Model.LoggedUserID && Model.objApprovalVersion.CurrentPhase > 0) || (Model.LoggedUserRole == Role.RoleName.AccountAdministrator && Model.ShowAllFilter && Model.objApprovalVersion.CurrentPhase > 0)
                                || ((Model.objApprovalVersion.Owner == Model.LoggedUserID) || (Model.LoggedUserRole == Role.RoleName.AccountAdministrator && Model.ShowAllFilter) || (Model.LoggedUserRole == Role.RoleName.AccountManager && Model.ShowAllFilter))
                               && Model.objApprovalVersion.CurrentPhase == null) && !Model.objApprovalVersion.PrivateAnnotations)
                            {
                                <button onclick="@string.Format("ApprovalSendAndShare('{0}', this", Url.Action("ApprovalShare", "Widget", new { @showPanel = false }))); " class="btn btn-border" type="button" title="@Resources.lblShare" widget-task="all" widget-toggle="collaboratorshare" widget-type="approval" widget-id="@Model.ID" widget-external="@serializer.Serialize(externalsWithRole)" , widget-phase="@Model.PhaseId">
                                    <i class="icon-share-alt"></i>&nbsp;@Resources.lblShare
                                </button>
                            }

                            if ((Model.objApprovalVersion.AllowOtherUsersToBeAdded && Model.JobOwner == Model.LoggedUserID && Model.objApprovalVersion.CurrentPhase > 0 && Model.LoggedUserRole != Role.RoleName.AccountContributor && Model.LoggedUserRole != Role.RoleName.AccountViewer) || (Model.LoggedUserRole == Role.RoleName.AccountAdministrator && Model.ShowAllFilter && Model.objApprovalVersion.CurrentPhase > 0)
                               || ((Model.objApprovalVersion.Owner == Model.LoggedUserID && Model.LoggedUserRole != Role.RoleName.AccountContributor && Model.LoggedUserRole != Role.RoleName.AccountViewer) || (Model.LoggedUserRole == Role.RoleName.AccountAdministrator && Model.ShowAllFilter) || (Model.LoggedUserRole == Role.RoleName.AccountManager && Model.ShowAllFilter))
                              && Model.objApprovalVersion.CurrentPhase == null)
                            {
                                <button onclick="@string.Format("LoadPermissionsPopup('{0}', this", Url.Action("ApprovalPermissions", "Widget", new { @refresh = true, @showPanel = false, @approvalid = (int)Model.objApprovalVersion.ID }))); "
                                        class="btn btn-border" type="button" title="@Resources.lblAccess"
                                        widget-toggle="collaboratoraccess"
                                        widget-type="approval"
                                        widget-id="@Model.ID"
                                        widget-creator="@Model.objApprovalVersion.Creator"
                                        widget-decision="@Model.objApprovalVersion.PrimaryDecisionMaker"
                                        widget-external-pdm="@Json.Encode(Model.objApprovalVersion.ExternalPrimaryDecisionMaker)"
                                        widget-external="@serializer.Serialize(externalsWithRole)"
                                        widget-owner="@(Model.objApprovalVersion.CurrentPhase > 0 ? Model.JobOwner : Model.objApprovalVersion.Owner)"
                                        widget-exdisabled="@serializer.Serialize(extCollaboratorDecisions)"
                                        widget-users="@serializer.Serialize(collaboratorsWithRole)"
                                        widget-groups="@serializer.Serialize(collaboratorGroups)"
                                        widget-phase="@Model.PhaseId"
                                        widget-is-external="@Json.Encode(Model.IsExternalPrimaryDecisionMaker)">
                                    <i class="icon-lock"></i>&nbsp;@Resources.lblAccess
                                </button>
                            }
                        }
                    }


                    @if (approvalFileType != (int)Approval.ApprovalTypeEnum.Zip)
                    {
                        <button class="btn pull-right btn-border" onclick="openReportFilterPopupfromProjectFolder(this, false);" approval="@Model.ID" type="button" @isDisabled>
                            <i class="icon-print"></i><span>&nbsp;@Resources.lblAnnotations</span>
                        </button>
                    }

                    <!--<button class="btn" type="button"><i class="icon-print"></i>&nbsp;<span>@Resources.btnPrintComments</span></button>-->
                    @if ((((Model.VersionCanBeDeleted && Model.PhaseId.GetValueOrDefault() > 0) || Model.PhaseId.GetValueOrDefault() == 0) && ((Model.LoggedUserRole == Role.RoleName.AccountAdministrator && Model.ShowAllFilter) || Model.objApprovalVersion.Owner == Model.LoggedUserID)))
                    {
                        <button class="btn btn-danger" onclick="$('#hdnSelectedApproval')[0].value = @Model.objApprovalVersion.ID;$('#modelDialogDeleteConfirmation_1').modal({ backdrop: 'static', keyboard: false });" type="button">
                            <i class="icon-trash"></i><span>&nbsp;@Resources.btnDelete</span>
                        </button>
                    }
                </div>
            </div>
            <div style="display: none">
                @Html.Hidden("SelectedApproval", "", new { id = "hdnSelectedApproval", @data_val = false })
                <button id="btnDownload" class="cancel" type="submit" name="action" value="DownloadApproval">@Resources.lblDownload</button>
                <button id="btnAnnotations" class="cancel" type="submit" name="action" value="Annotations">@Resources.lblAnnotations</button>
            </div>
        }
        <div id="test" class="row-fluid">
            <div class="span3">
                <a href="javascript:void(0);" class="goto-studio thumbnail img-approval" approval="@Model.objApprovalVersion.ID">
                    @if (approvalFileType == (int)Approval.ApprovalTypeEnum.Zip)
                    {
                        <img src="@approvalImagePath" style="max-width:35%;" />
                    }
                    else
                    {
                        <img src="@approvalImagePath" />
                    }
                </a>
            </div>
            <div class="span9">
                <table cellspacing="0" class="table-approval-details-simple">
                    <tbody>
                        <tr>
                            <th>
                                <span>@Resources.lblName</span>
                            </th>
                            <td>
                                @Model.Title
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <span>@Resources.lblUploaded</span>
                            </th>
                            <td>
                                @GMGColorFormatData.GetFormattedDate(Model.objApprovalVersion.CreatedDate, Model.objLoggedAccount, context)
                                @Resources.lblBy @Model.objApprovalVersion.CreatorUser.GivenName @Model.objApprovalVersion.CreatorUser.FamilyName
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <span>@Resources.lblOwner</span>
                            </th>
                            <td>
                                @Model.objApprovalVersion.OwnerUser.GivenName @Model.objApprovalVersion.OwnerUser.FamilyName
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <span>@Resources.lblFormat</span>
                            </th>
                            <td>
                                @Model.objApprovalVersion.FileType1.Extention.ToUpper()
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <span>@Resources.lblFileSize</span>
                            </th>
                            <td>
                                @GMGColorFormatData.GetFileSizeString(Model.objApprovalVersion.Size)
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <span>@Resources.lblPages</span>
                            </th>
                            @if (Model.objApprovalVersion.ApprovalPages != null)
                            {
                                <td>
                                    @Model.objApprovalVersion.ApprovalPages.Count
                                </td>
                            }
                            else
                            {
                                <td>
                                    1
                                </td>
                            }
                        </tr>
                        <tr>
                            <th>
                                <span>@Resources.lblAnnotations</span>
                            </th>
                            <td>
                                @annotationsCount
                            </td>
                        </tr>
                        @if (Model.objApprovalVersion.Checklist > 0)
                        {
                            <tr>
                                <th>
                                    <span>@Resources.lblChecklist</span>
                                </th>
                                <td>
                                    @Model.Checklist
                                </td>
                            </tr>
                        }
                        <tr>
                            <th>
                                <span>@Resources.lblDeadlineTime</span>
                            </th>
                            <td>
                                @if (Model.objApprovalVersion.Deadline > default(DateTime))
                                {
                                    Model.objApprovalVersion.Deadline = GMGColorFormatData.GetUserTimeFromUTC(Model.objApprovalVersion.Deadline.Value, Model.objLoggedAccount.TimeZone);
                                    <div class="existingDeadLine@(Model.objApprovalVersion.ID) deadLinePos">
                                        @GMGColorFormatData.GetFormattedDate(Model.objApprovalVersion.Deadline, Model.objLoggedAccount, context),
                                        @GMGColorFormatData.GetFormattedTime(Model.objApprovalVersion.Deadline.Value, Model.objLoggedAccount)
                                    </div>
                                }
                                else
                                {
                                    Model.objApprovalVersion.Deadline = DateTime.Now;
                                    <div class="existingDeadLine@(Model.objApprovalVersion.ID) deadLinePos"> - </div>
                                }
                                <div id="newDeadLine@(Model.objApprovalVersion.ID)">
                                    @{
                                        string dateFormat = Model.objLoggedAccount.DateFormat1.Pattern;
                                    }
                                    @Html.HiddenFor(m => m.objLoggedAccount.DateFormat1.Pattern, new { id = "dateFormat" + Model.objApprovalVersion.ID })
                                    @Html.HiddenFor(m => m.objLoggedAccount.TimeFormat, new { id = "timeFormat" + Model.objApprovalVersion.ID })
                                    <div class="input-append date-picker@(Model.objApprovalVersion.ID) date" data-date="@String.Format("{0:" + dateFormat + "}", GMGColorFormatData.GetFormattedDate(Model.objApprovalVersion.Deadline, Model.objLoggedAccount, context))" data-date-format="@dateFormat.ToLower()">
                                        @Html.TextBoxFor(e => e.objApprovalVersion.Deadline, new { @class = "input-small pointerCursor input-deadline", @Value = GMGColorFormatData.GetFormattedDate(Model.objApprovalVersion.Deadline, Model.objLoggedAccount, context), @size = "16", @readonly = "" })
                                        <span class="add-on"><i class="icon-calendar"></i></span>
                                    </div>
                                    <select name="DeadlineTime" id="DeadlineTime@(Model.objApprovalVersion.ID)" class="input-deadline@(Model.objApprovalVersion.ID) input-small">
                                        @{
                                            string deadLineTime = new string(GMGColorFormatData.GetFormattedTime(Model.objApprovalVersion.Deadline.Value, Model.objLoggedAccount).TakeWhile(c => c != ' ').ToArray());
                                            string amPm = GMGColorFormatData.GetFormattedTime(Model.objApprovalVersion.Deadline.Value, Model.objLoggedAccount).Split(' ').Last();
                                        }
                                        <option value="@deadLineTime" selected="selected">@deadLineTime</option>
                                        @if (Model.objLoggedAccount.TimeFormat == 1)
                                        {
                                            for (int i = 1; i < 13; i++)
                                            {
                                                <option value="@i:00">@i:00</option>
                                                <option value="@i:30">@i:30</option>
                                            }
                                        }
                                        else
                                        {
                                            for (int i = 0; i < 24; i++)
                                            {
                                                <option value="@i:00">@i:00</option>
                                                <option value="@i:30">@i:30</option>
                                            }
                                        }
                                    </select>
                                    @if (Model.objLoggedAccount.TimeFormat == 1)
                                    {
                                        <select name="DeadlineTimeMeridiem" id="DeadlineTimeMeridiem@(Model.objApprovalVersion.ID)" class="input-deadline@(Model.objApprovalVersion.ID) input-mini">
                                            @if (amPm == "AM")
                                            {
                                                <option value="AM" selected="selected">AM</option>
                                                <option value="PM">PM</option>
                                            }
                                            else
                                            {
                                                <option value="AM">AM</option>
                                                <option value="PM" selected="selected">PM</option>
                                            }

                                        </select>
                                    }
                                </div>
                                @{

                                    if (((Model.objApprovalVersion.CurrentPhase != null && Model.objApprovalVersion.IsLocked == false && (Model.JobOwner == Model.LoggedUserID || (Model.LoggedUserRole == Role.RoleName.AccountAdministrator) || Model.LoggedUserRole == Role.RoleName.AccountManager)) || (Model.objApprovalVersion.CurrentPhase == null && (Model.objApprovalVersion.Owner == Model.LoggedUserID || (Model.LoggedUserRole == Role.RoleName.AccountAdministrator) || Model.LoggedUserRole == Role.RoleName.AccountManager))))
                                    {
                                        string isDueDateDisabled = Model.IsDueDateEditDisabled ? "disabled" : string.Empty;

                                        <div id="editDeadLine@(Model.objApprovalVersion.ID)">
                                            <button approval="@(Model.objApprovalVersion.ID)" class="btn editBtn" rel="tooltip" type="button" data-original-title="@Resources.lblEdit" @isDueDateDisabled>
                                                <i class="icon-pencil"></i>
                                            </button>
                                        </div>
                                        <div id="saveNewDeadLine@(Model.objApprovalVersion.ID)">
                                            <button id="saveBtn" class="btn" rel="tooltip" type="button" data-original-title="@Resources.btnSave" onclick="updateWorkflowDetailsDeadLine(@Model.objApprovalVersion.ID)">
                                                <i class="icon-save"></i>
                                            </button>
                                        </div>
                                    }
                                }
                            </td>
                        </tr>
                        @{
                            if (!String.IsNullOrEmpty(Model.ApprovalWorkflowName) && !String.IsNullOrEmpty(Model.ApprovalPhaseName))
                            {
                                <tr>
                                    <th>
                                        <span>@Resources.lblApprovalWorkflowName</span>
                                    </th>
                                    <td>
                                        @Model.ApprovalWorkflowName
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <span>@Resources.lblApprovalPhaseName</span>
                                    </th>
                                    <td>
                                        @Model.ApprovalPhaseName
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <legend><h3>@Resources.lblApprovalActivityStatus</h3></legend>
    <!-- /well -->
    <div class="row-fluid">
        <div class="tabs-container">
            <ul id="activityStatus@(Model.ID)" class="nav nav-tabs">
                @{
                    <li class="nav-tabs-btn tab @(Model.PhaseId == null ?"active" : string.Empty)" data-item="@(Model.ID)" id="userActivityTab"><a href="javascript:void(0);">@Resources.lblApprovalUsers</a></li>
                    if (Model.PhaseId != null)
                    {
                        <li class="nav-tabs-btn tab active" data-item="@(Model.ID)" id="workflowTab@(Model.ID)">
                            <a href="javascript:void(0);" onclick=" changeToWorkflow(@Model.ID) ">@Resources.lblWorkflowTab</a></li>
                        if (annotationsCount > 0)
                        {
                            <li class="nav-tabs-btn tab" data-item="@(Model.ID)" id="annotationsTab"><a href="javascript:void(0);" onclick=" changeToAnnotation(@Model.ID) ">@Resources.lblAnnotationTab</a>
                        </li>
                        }
                    }
                }
            </ul>
        </div>
        <div>
            <div class="hide" id="loadingDetailsGrid@(Model.ID)" style="text-align:center">
                <label>@Resources.lblLoading</label>
                @Html.Image("versionsDetailsLoader", "~/Content/img/loading-icon.gif", @Resources.lblLoading, new { @style = "margin:auto;" }, 50, 50)
            </div>

            <div class="box" data-item="box_0_@(Model.ID)" id="userActivity@(Model.ID)">
                @{
                    Html.RenderPartial("ProjectFolderUserActivity", Model);
                }
            </div>
            <div class="box" data-item="box_1_@(Model.ID)" id="approvalWorkflow@(Model.ID)"></div>
            <div class="box" data-item="box_2_@(Model.ID)" id="approvalAnnotationsTodos@(Model.ID)"></div>
        </div>
    </div>
</div>