﻿@model ApprovalDetailsModel
@using GMGColor.Resources;
@using GMGColor.HtmlHelpers;
@using GMGColorDAL.CustomModels
@{
    Layout = "~/Views/Shared/_LayoutTablet.cshtml";
    Bundles.Reference("responsivetables");
    Bundles.Reference("datetimepicker");
    Bundles.Reference("widget");
    Bundles.Reference("html5Player");
    Bundles.Reference("html5PlayerCSS");
}
<script type="text/javascript" charset="utf-8">
    // Easy access to test Flash over HTML5. Add ?flash to URL
    if (window.location.href.indexOf("?flash") !== -1) {
        _V_.options.techOrder = ["flash"];
        _V_.options.flash.swf = "~/Content/js/tech/flash/video-js.swf";
    }
</script>
<p class="breadcrumb hide">
    <a href="@Url.Action("Index", "ProjectFolders")" action="Back">@Resources.lblApprovalJobs</a>
</p>
<div class="widget">
    <div class="widget-header">
        <div class="row-fluid">
            <div class="span7">
                <h3>@Model.Title.ToUpper()</h3>
            </div>
        </div>
    </div>
    <div class="widget-content">
        @using (Html.BeginForm("Index", "ProjectFolders", FormMethod.Post, new { @class = "form-horizontal", id = "formMain" }))
        {
            @Html.AntiForgeryToken()
            @Html.Hidden("SelectedApproval", "0", new { id = "hdnSelectedApproval" })
            @Html.Hidden("SelectedUser", "0", new { id = "hdnSelectedUser" })
            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    @foreach (ApprovalDetailsModel.VersionInfoModel objItem in Model.Versions)
                    {
                        string appHeader = "v" + @objItem.Version;
                        <li class="@((Model.ID == objItem.ID) ? "active" : string.Empty)" approval="@(objItem.ID)"><a onclick="changeVersion(@objItem.ID, @objItem.Version)" href="#Version@(objItem.Version)" data-toggle="@(objItem.IsLoggedUserCollaborator ? "tab" : "")">@appHeader</a></li>
                    }
                </ul>
            </div>
            <div class="tab-content">
                <div id="loadingGrid" style="text-align:center;">

                    <label>@Resources.lblLoading</label>
                    @Html.Image("versionsDetailsLoader", "~/Content/img/loading-icon.gif", @Resources.lblLoading, new { @style = "margin:auto;" }, 50, 50)
                </div>

                @*Filled by asynchronous call*@
            </div>
            @Html.HiddenFor(m => m.HiddenSelectedApprovals, new { id = "hdnSelectedApprovals", @Value = Model.HiddenSelectedApprovals })

            DeleteConfirmation deleteMultiApprovalConfirmation = new DeleteConfirmation(1, "DeleteVersion", "DeleteVersionPermanent");
            deleteMultiApprovalConfirmation.DeleteSecondMessage = Resources.lblDeleteMessage_VersionSecondMessage;
            deleteMultiApprovalConfirmation.SecondActionLabel = Resources.lblRecycleBin;
            deleteMultiApprovalConfirmation.DeleteMessage = Resources.lblDeleteMessage_Version;
            deleteMultiApprovalConfirmation.DeleteMessagePleaseNote = string.Empty;
            @Html.Partial("DeleteConfirmationDialog", deleteMultiApprovalConfirmation)

            <script type="text/javascript">
               $(document).ready(function () {
                    // Go to Studio Html
                    $(document).on('click','.goto-studio', function () {
                        var id = $(this).attr('approval') || 0;
                        if (id > 0) {
                            $.ajax({
                                type: "POST",
                                url: '/Approvals/Studio?Ids=' + id + '&url=' + window.location + '&isHtml=true',
                                data: { __RequestVerificationToken: $("#formMain input").val() },
                                success: function (ulr) {
                                    window.location = ulr;
                                }
                            });
                        }
                    });

                    getVersionDetails(@Model.ID);
                });

                function getVersionDetails(versionId, item) {
                    if (typeof(item) != "undefined") {
                                    $('.row-fluid.tab-pane').removeClass('active');
                                }
                    $.ajax({
                        type: "GET",
                        url: '@Url.Action("GetApprovalVersionDetails", "ProjectFolders")' + "?versionId=" + versionId + '&jobStatus=' + '@Model.JobStatus' + '&loggedUserRole=' + '@ViewBag.LoggedUserRole',
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (versionDetails) {
                            $('#loadingGrid').hide();
                            $('div.tab-content').append(versionDetails.Content);
                            if (typeof (item) != "undefined") {
                                $('#' + item).addClass('active');
                            }
                            $("[rel='tooltip']").tooltip();
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            if (jqXHR.readyState == 0 || jqXHR.status == 0) {
                                return;
                            }
                            else {
                                $('#loadingGrid').replaceWith('<label>Error Loading Approvals Grid ' + textStatus + ' ' + errorThrown + '</label>');
                            }
                        }
                    });
                }

                function changeVersion(versionId, versionNr) {
                    var versionDivId = 'Version' + versionNr;
                    if ($('div.tab-content').find($('#' + versionDivId)).length == 0) {
                        $('#loadingGrid').show();
                        getVersionDetails(versionId, versionDivId);
                    }
                }

                function sendRequest(approval) {
                    var requesturl = '/Base/DownloadFile?aIDs=' + approval;
                    $.ajax({
                        url: requesturl,
                        type: "POST",
                        data: { __RequestVerificationToken: $("#formMain input").val() },
                        success: function (content) {
                            addDownloadNode(content);
                        }
                    });
                }
            </script>
        }
    </div>
    <!-- /widget-content -->
</div>
<!-- /widget -->
@using (Html.BeginForm("RenameApproval", "ProjectFolders", FormMethod.Post, new { @class = "form-vertical", id = "formRenameApproval" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(mdl => mdl.ID)
    <div id="dvRenameApproval" class="modal hide">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
                ×
            </button>
            <h3>
                @Resources.lblEditApproval
            </h3>
        </div>
        <div class="modal-body">
            <div class="control-group">
                <label class="control-label">
                    @Resources.lblName
                </label>
                <div class="controls">
                    @Html.TextBoxFor(mdl => mdl.Title, new { @class = "approval-title", @Value = Model.Title })
                    @Html.ValidationMessageFor(mdl => mdl.Title)
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" data-loading-text="@Resources.btnSaving" name="action" type="submit" value="RenameApproval">
                @Resources.btnSave
            </button>
        </div>
    </div>
}
