﻿@using GMGColor.Resources;
@{
    Bundles.Reference("projectFolder");
    bool editIsPDM = false;
    int editRoleId = 0;
}
@using (Html.BeginForm("", "ProjectFolders", FormMethod.Post, new { @class = "form-horizontal dirtyignore", id = "EditProjectFolderMember", style = "display: inline-block; margin-left: 5px;" }))
{
    @Html.AntiForgeryToken()
<div id="modalEditProjectFolderMember" class="modal hide projectFolderEditMemberModal">
    <div class="modal-header">
        <a href="javascript:void(0);" id="closePopup" class="close hide" data-dismiss="modal">&times;</a>
        <a href="javascript:void(0);" class="close" title="@Resources.btnClose" onclick="closeNewProjectFolderpopup();">&times;</a>
        <h3>@Resources.lblEditMember</h3>
    </div>
    <div class="foldertree-base modal-body projectFolderModalBody">
        <div class="row-fluid">
            <div class="span12">
                <label class="projectFolderTeamMembers">@Resources.lblTeamMembers</label>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6">
                <div class="size no-Wrap collaboratorsInputbox" id="wrap-Projectfolder-collaborators-inputBox">
                    <select id="teamForEditProjectFolder" name="teamForEditProjectFolder"></select>
                </div>
            </div>
            <div class="span3">
                <div>
                    @Html.DropDownListFor(m => editRoleId, new SelectList(Model.projectCollaboratorRole, "ID", "Name"), Resources.lblSelectProjectCollaboratorRole, new { @data_val = "false", @id = "selectedEditCollaboratorRole", @Style = "width: 170px; height: 28px;" })
                </div>
            </div>
            <div class="span3">
                <div class="projectFolderPDM">
                    <label class="projectFolderPDMLabel">
                        @Resources.lblPDM
                        @Html.CheckBoxFor(mdl => editIsPDM, new { @Style = "width: 24px; margin-left: 10px; height: 24px; margin-right: 20px; margin-top: 0px;" })
                    </label>
                    <span class="btn-primary btn cancel" onclick="EditMemberselectedCollaborator();">
                        @Resources.lblAdd
                    </span>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <ul class="block-grid external two-up projectFoldersTeamSelection" id="editProjectColloborators"></ul>
        </div>
    </div>
    <div class="foldertree-events modal-footer clearboth">
        <div class="pull-right projectFolderDisplayFlex">
            <a class="btn" href="javascript:void(0);" class="close" onclick="closeNewProjectFolderpopup();" title="@Resources.btnCancel" style="margin-right: 10px;">@Resources.btnCancel</a>
            <div class="form-search clearboth">
                <div class="input-append">
                    @Html.Hidden("SelectedCollaborators", null, new { id = "hdnSelectedCollaborators", @data_val = false })
                    @Html.Hidden("SelectedProjectID", null, new { id = "hdnselectedProjectFolderID", @data_val = false })
                    <button id="btnEditMemberProjectFolder" class="btn-primary btn cancel" type="submit" name="action" value="EditMemberProjectFolder" style="border-radius: 3px;" onclick="appendingEditedCollaborators();">
                        @Resources.lblSaveProjectFolderCollaborators
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
}
<script type="text/javascript">

    function LoadProjectFolderCollaboratorsToEditMemberPopup(data) {
        var coll = $('#editProjectColloborators');
        $.each(data.ProjectCollaborators, function (index, item) {
            if (item.IsCollaboratorCreator) {
                coll.append("<li class=\"EditProjectSelectedCollaborators span6 " + item.CollaboratorID + "\">" +
                     "<a class=\"close closeSelectedCollaborator hide\" title=\"@Resources.btnClose\" onclick=\"RemoveSelectedCollaborator(" + item.CollaboratorID + ");\">&times;</a>" +
                        "<div class=\"user-selector\" collID=" + item.CollaboratorID + " isPDM=" + item.CollaboratorIsPDM + " collRoleId=" + item.CollaboratorRole + ">" +
                         "<div class=\"a-avatar span2 projectFolderAvatar\">" +
                         "<img src=\"@GMGColorDAL.User.GetDefaultImagePath(ViewBag.LoggedAccount.Domain)\" alt=\"default-avatar-user\" width=30 height=30  style=\" width: 30px; height: 30px; vertical-align: text-top;\"/></div>" +
                        "<div class=\"span10\" style=\"display: grid;\">" +
                        "<span class=\"block-name textOverflow\" style=\"font-weight: 600; \">" + item.CollaboratorName + "</span>" +
                        "<span class=\"textOverflow\">" + item.CollaboratorEmailAddress + "</span>" +
                        "<span class=\"block-role a-meta\">" + item.CollaboratorRoleName + "</span>" +
                         "</div></div></li>");
            } else {
                coll.append("<li class=\"EditProjectSelectedCollaborators span6 " + item.CollaboratorID + "\">" +
                        "<a class=\"close closeSelectedCollaborator\" title=\"@Resources.btnClose\" onclick=\"RemoveSelectedCollaborator(" + item.CollaboratorID + ");\">&times;</a>" +
                        "<div class=\"user-selector\" collID=" + item.CollaboratorID + " isPDM=" + item.CollaboratorIsPDM + " collRoleId=" + item.CollaboratorRole + ">" +
                         "<div class=\"a-avatar span2 projectFolderAvatar\">" +
                         "<img src=\"@GMGColorDAL.User.GetDefaultImagePath(ViewBag.LoggedAccount.Domain)\" alt=\"default-avatar-user\" width=30 height=30  style=\" width: 30px; height: 30px; vertical-align: text-top;\"/></div>" +
                        "<div class=\"span10\" style=\"display: grid;\">" +
                        "<span class=\"block-name textOverflow\" style=\"font-weight: 600; \">" + item.CollaboratorName + "</span>" +
                        "<span class=\"textOverflow\">" + item.CollaboratorEmailAddress + "</span>" +
                        "<span class=\"block-role a-meta\">" + item.CollaboratorRoleName + "</span>" +
                         "</div></div></li>");
            }
        });
    }

    function EditMemberselectedCollaborator() {
        var coll = $('#editProjectColloborators');
        var collName = $('#select2-teamForEditProjectFolder-container')[0].textContent;
        var collDetails = $('#teamForEditProjectFolder')[0].value;
        var collRoleId = $('#selectedEditCollaboratorRole')[0].value;
        if (collDetails != "" && collRoleId != "" && collDetails.split(',').length > 1) {
            var collID = collDetails.split(',')[0];
            var collEmailID = collDetails.split(',')[1];
            var collRole = "";
            if (collRoleId == 1) {
                collRole = "Owner";
            }
            if (collRoleId == 2) {
                collRole = "Editor";
            }
            if (collRoleId == 3) {
                collRole = "Internal Contributor";
            }
            if (collRoleId == 4) {
                collRole = "External Contributor";
            }
            var collPDM = $('#editIsPDM')[0].checked;
            coll.append("<li class=\"EditProjectSelectedCollaborators span6 " + collID + "\">" +
                        "<a class=\"close closeSelectedCollaborator\" title=\"@Resources.btnClose\" onclick=\"RemoveSelectedCollaborator(" + collID + ");\">&times;</a>" +
                        "<div class=\"user-selector\" collID=" + collID + " isPDM=" + collPDM + " collRoleId=" + collRoleId + ">" +
                         "<div class=\"a-avatar span2 projectFolderAvatar\">" +
                         "<img src=\"@GMGColorDAL.User.GetDefaultImagePath(ViewBag.LoggedAccount.Domain)\" alt=\"default-avatar-user\" width=30 height=30  style=\" width: 30px; height: 30px; vertical-align: text-top;\"/></div>" +
                        "<div class=\"span10\" style=\"display: grid;\">" +
                        "<span class=\"block-name textOverflow\" style=\"font-weight: 600; \">" + collName + "</span>" +
                        "<span class=\"textOverflow\">" + collEmailID + "</span>" +
                        "<span class=\"block-role a-meta\">" + collRole + "</span>" +
                         "</div></div></li>");
            $('#selectedEditCollaboratorRole')[0].value = "";
            $('#select2-teamForEditProjectFolder-container')[0].textContent = "";
            $('#select2-teamForEditProjectFolder-container')[0].title = "";
            var con = $('#select2-teamForEditProjectFolder-container');
            con.append("<span class=\"select2-selection__placeholder\">Enter name or email</span>");
            $('#teamForEditProjectFolder')[0][0].remove();
            $('#teamForEditProjectFolder')[0][0].remove();
            $('#editIsPDM')[0].checked = false;
        } else {
            if(collDetails.split(',').length == 1)
            {
                $('#selectedEditCollaboratorRole')[0].value = "";
                $('#select2-teamForEditProjectFolder-container')[0].textContent = "";
                $('#select2-teamForEditProjectFolder-container')[0].title = "";
                var con = $('#select2-teamForEditProjectFolder-container');
                con.append("<span class=\"select2-selection__placeholder\">Enter name or email</span>");
                $('#teamForEditProjectFolder')[0][0].remove();
                $('#editIsPDM')[0].checked = false;
            }
        }
    }
</script>