﻿@using GMGColor.HtmlHelpers;
@using GMG.CoZone.Collaborate.UI
@using GMGColorBusinessLogic
@using GMGColor.Resources;
@using GMGColorDAL
@using GMGColorDAL.CustomModels
@*@using MigraDoc.DocumentObjectModel.Tables*@
@using GMGColorDAL.Common
@using GMGColor.Controllers
@using GMGColorDAL.CustomModels
@model GMGColorDAL.CustomModels.ProjectFolderModel.ProjectFoldersModel

<script src="https://kit.fontawesome.com/yourcode.js"></script>
<link href="@Url.Content("~/Content/css/columnwidths-default.css")" rel="stylesheet" media="screen" />
<script type="text/javascript" src="@Url.Content("~/Content/js/jquery/colResizable-1.3.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/js/resizable-columns.js")"></script>

@{
    Layout = "~/Views/Shared/_LayoutTablet.cshtml";
    Bundles.Reference("filedownload");
    Bundles.Reference("widget");
    //Bundles.Reference("newProjectFolderApproval");
    //Bundles.Reference("approvals-dashboard");
    bool disableTagwordsInDashbord = ViewBag.DisableTagwordsInDashbord == null ? false : ViewBag.DisableTagwordsInDashbord;
}

@{
    bool showEmptySearchContent = !string.IsNullOrEmpty(ViewBag.PF_SearchText) && Model.ListProjectFolders.Count == 0;
}

<div class="widget">
    <div class="widget-header">
        <ul class="widget-links">
            @*<li>
                    <a href="@Url.Action("ProjectFoderApprovalsIndex", new { SelectedProjectFolderID = 8,  sort = "", sortDir = "" })" title="@Resources.lblViewDetails">
                        View File
                    </a>
                </li>*@
            <li>
                <a href="#" id="newProjectFolder" class="dropdown-toggle btn btn-primary" onclick="openNewProjectFolderPopup();" data-original-title="@Resources.lblNewProject" rel="tooltip">
                    @Resources.lblNewProject
                </a>
            </li>

        </ul>
        <h3>@ViewBag.Header </h3>
    </div>


    @using (Html.BeginForm("Index", "ProjectFolders", FormMethod.Post, new { @class = "form-horizontal dirtyignore", id = "formMain" }))
    {
        @Html.AntiForgeryToken()
        DeleteConfirmation deleteMultiApprovalConfirmation = new DeleteConfirmation(11, "DeleteProjectFolder");
        deleteMultiApprovalConfirmation.DeleteMessage = Resources.lblDeleteMessage_ProjectFolder;
        deleteMultiApprovalConfirmation.DeleteMessagePleaseNote = string.Empty;
        @Html.Partial("DeleteConfirmationDialog", deleteMultiApprovalConfirmation)

        <div class="widget-content minSApprovalGridize">
            <div class="text-right tool-bar well clearboth" @*style="margin-bottom:20px;"*@>
                <div class="form-search pull-left">
                    <div class="input-append">
                        @Html.HiddenFor(m => m.SearchText, new { @data_val = false })
                        @Html.HiddenFor(m => m.ProjrctFolderID, new { @data_val = 0 })
                        @Html.TextBoxFor(model => model.SearchText, new { id = "txtSearch", @class = "input-medium search-query", @placeholder = string.Empty })
                        <button id="btnSearchText" type="submit" class="btn cancel" name="action" value="SearchProjectFolders" onclick="$('#SearchText')[0].value = $('#txtSearch').val();">
                            @Resources.btnSearch
                        </button>
                        @Html.HiddenFor(m => m.RowsPerPage)
                    </div>
                </div>
                <button id="btnMultiDelete" class="btn" data-method="delete" data-disable-with="Deleting..."
                        disabled="disabled" onclick="$('#modelDialogDeleteConfirmation_11').modal({ backdrop: 'static', keyboard: false });"
                        type="button" value="DeleteProjectFolder" data-original-title="@Resources.btnTitleDelete" rel="tooltip">
                    <i class="icon-trash"></i>
                </button>
                @Html.Hidden("ProjectFolderIds", string.Empty, new { id = "hdnProjectFolderIds", @data_val = false })
                <button id="btnMultiDownload" class="btn" data-loading-text="@Resources.btnDownloading" disabled="disabled" type="button" value="MultiDownload" class="pull-right">
                    <i class="icon-download-alt"></i>
                </button>
                <div style="margin-left:4px" class="btn-group pull-right">
                    <a href="javascript:void(0);" data-toggle="dropdown" class="btn dropdown-toggle ellipsisButton">
                        <i class="icon-ellipsis-horizontal"></i>
                    </a>
                    <ul class="dropdown-menu pull-right">
                        <li id="liMultiArchiveID">
                            <a id="btnMultipleArchive" disabled="disabled" class="btn" type="button" href="javascript:void(0);" onclick="$('#btnArchiveFolder').click();" rel="nofollow">
                                <i class="icon-briefcase"></i>&nbsp;@Resources.lblArchive_PresentTense
                            </a>
                        </li>
                        <li id="liMultiUnarchiveID" class="hide">
                            <a id="btnMultipleRestore" disabled="disabled" class="btn" type="button" href="javascript:void(0);" onclick="$('#btnUnarchiveFolder').click();" rel="nofollow">
                                <i class="icon-refresh"></i>&nbsp;@Resources.btnUnarchive
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="filter-bar" style="margin-bottom: 20px;">
                <ul data-toggle="buttons-radio" class="nav nav-pills pull-left" id="ProjectFolderLeftNav">

                    <li class=""><a href="javascript:void(0);" onclick="$('#hdnSelectedStatus')[0].value ='All'; $('#btnStatus').click();"> @Resources.lblAll</a></li>

                    <li class=""><a href="javascript:void(0);" onclick="$('#hdnSelectedStatus')[0].value = 'NotAssigned'; $('#btnStatus').click();"> @Resources.lblNotAssigned</a></li>

                    <li class=""><a href="javascript:void(0);" onclick="$('#hdnSelectedStatus')[0].value = 'Ongoing'; $('#btnStatus').click();"> @Resources.lblOngoing</a></li>

                    <li class=""> <a href="javascript:void(0);" onclick="$('#hdnSelectedStatus')[0].value = 'Completed'; $('#btnStatus').click();"> @Resources.lblCompleted</a></li>

                    <li class=""><a href="javascript:void(0);" onclick="$('#hdnSelectedStatus')[0].value = 'Archived'; $('#btnStatus').click();"> @Resources.lblArchive_PastTense</a></li>

                </ul>

                <p class="pull-left alignCentre" id="fileCount">Total files | <span style="color: #049cdb">@ViewBag.LastProjectCurrentPage </span>  / @Model.ListProjectFolders.Count</p>
                <ul class="nav nav-pills pull-right" id="ProjectFolderRightBtn">
                    @if (disableTagwordsInDashbord)
                    {
                        <li>
                            <a href="#" class="dropdown-toggle lightGrey" onclick="openProjectFilterPopup();" data-original-title="@Resources.lblFilter" rel="tooltip">
                                <i class="icon-filter"></i><span>&nbsp;@Resources.lblFilter</span>
                            </a>
                        </li>
                    }
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle lightGrey">
                            @Html.Raw(GetOderFilterSelected(Model.OrderField))
                            <i class="icon-angle-down icon-large"> </i>
                        </a>

                        <ul class="dropdown-menu pull-right">
                            <li>
                                <a href="javascript:void(0);" onclick="$('#hdnSelectedFilter')[0].value = 'DateCreated'; $('#btnFilter').click();">
                                    @if (Model.OrderField == 1)
                                    {<i class="icon-ok"></i>} @Resources.lblDateCreated
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" onclick="$('#hdnSelectedFilter')[0].value = 'DateModified'; $('#btnFilter').click();">
                                    @if (Model.OrderField == 2)
                                    {<i class="icon-ok"></i>} @Resources.lblLastModified
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" onclick="$('#hdnSelectedFilter')[0].value = 'DueDate';$('#btnFilter').click();">
                                    @if (Model.OrderField == 3)
                                    {<i class="icon-ok"></i>} @Resources.lblDuebytime
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" onclick="$('#hdnSelectedFilter')[0].value = 'Status';$('#btnFilter').click();">
                                    @if (Model.OrderField == 4)
                                    {<i class="icon-ok"></i>} @Resources.lblStatus
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" onclick="$('#hdnSelectedFilter')[0].value = 'ProjectName';$('#btnFilter').click();">
                                    @if (Model.OrderField == 5)
                                    {<i class="icon-ok"></i>} @Resources.lblName
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="javascript:void(0);" onclick="$('#hdnSortingOrder')[0].value = 'asc';$('#btnSortingOrder').click();">
                                    @if (!Model.OrderDesc)
                                    {<i class="icon-ok"></i>} @Resources.lblAscending
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" onclick="$('#hdnSortingOrder')[0].value = 'desc';$('#btnSortingOrder').click();">
                                    @if (Model.OrderDesc)
                                    {<i class="icon-ok"></i>} @Resources.lblDescending
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                @Html.Hidden("SelectedStatus", String.Empty, new { id = "hdnSelectedStatus", @data_val = false })
                @Html.Hidden("SelectedFilter", "0", new { id = "hdnSelectedFilter", @data_val = false })
                @Html.Hidden("SortingOrder", "0", new { id = "hdnSortingOrder", @data_val = false })
                <button id="btnStatus" class="cancel" type="submit" name="action" value="SelectedStatus" hidden="hidden">Selected Status </button>
                <button id="btnFilter" class="cancel" type="submit" name="action" value="SelectedFilter" hidden="hidden">Selected Filter </button>
                <button id="btnSortingOrder" class="cancel" type="submit" name="action" value="SelectedSortingOrder" hidden="hidden">Selected Filter </button>
            </div>

            <div id="dvColorProofInstanaces" class="tab-pane">
                @if (Model.ListProjectFolders.Count > 0 || !string.IsNullOrEmpty(Model.SearchText))
                {
                    <div id="dvprojectFolder" class="tab-pane">
                        @{
                            var projectFolders = new WebGrid(Model.ListProjectFolders, rowsPerPage: @Model.RowsPerPage);
                            var gridColumns = new List<WebGridColumn>();

                            gridColumns.Add(projectFolders.Column(
                                header: "{CheckBoxHeading}",
                                format:
                                @<text>@Html.Raw(GetCheckBox(item.ID, item.IsArchived == null ? false : item.IsArchived))</text> ));

                            gridColumns.Add(projectFolders.Column(columnName: ProjectFoldersController.ProjectFolderNameColumn, header: ProjectFoldersController.ProjectFolderNameColumn, format: @<text><a href="@Url.Action("ProjectFolderApprovalsIndex", new { SelectedProjectFolderID = @item.ID,  sort = "", sortDir = "" })" title="@Resources.lblViewDetails"> @item.Name </a></text>));
                            gridColumns.Add(projectFolders.Column(columnName: ProjectFoldersController.CreatedDate, header: ProjectFoldersController.CreatedDate, format: @<p class="cell-align">
                            @GMGColorFormatData.GetFormattedDate(GMGColorFormatData.GetUserTimeFromUTC(item.CreatedDate, Model.LoggedAccountTimeZone), Model.objLoggedAccount.DateFormat1.Pattern)
                        </p>));

                            gridColumns.Add(projectFolders.Column(columnName: ProjectFoldersController.ProjectOwner, header: ProjectFoldersController.ProjectOwner, format: @<text>@item.ProjectOwner</text>));
                            gridColumns.Add(projectFolders.Column(columnName: ProjectFoldersController.TeamSize, header: ProjectFoldersController.TeamSize, format: @<text>@item.TeamSize</text>));
                            gridColumns.Add(projectFolders.Column(columnName: ProjectFoldersController.TotalJobs, header: ProjectFoldersController.TotalJobs, format: @<text>@item.TotalJobs</text>));
                            gridColumns.Add(projectFolders.Column(columnName: ProjectFoldersController.DueDate, header: ProjectFoldersController.DueDate, format: @<p class="cell-align">
                            @GMGColorFormatData.GetFormattedDate(item.Deadline, Model.objLoggedAccount.DateFormat1.Pattern)
                        </p>));

                            gridColumns.Add(projectFolders.Column(columnName: ProjectFoldersController.JobOverView, header: ProjectFoldersController.JobOverView, style: "jobOverViewCol", format: @<text>
                            <div class="displayFlex">
                                <span class="label taskUnAssigned" style="background-color:#88898e; min-width:10px; text-align:center;border-radius: 0px;" title="UnAssigned">  @item.UnAssignedCount </span>
                                <span class="label taskInProgress" style="background-color:#467ef1; min-width:10px; text-align:center;border-radius: 0px;" title="InProgress"> @item.InProgressCount</span>
                                <span class="label taskOverDueCount" style="background-color:#d45767; min-width:10px; text-align:center;border-radius: 0px;" title="OverDue"> @item.OverDueCount</span>
                                <span class="label taskApproved" style="background-color:#58a2b6; min-width:10px; text-align:center;border-radius: 0px;" title="Approved">@item.ApprovedCount</span>
                                <span class="label taskCompleted" style="background-color:#68b485; min-width:10px; text-align:center;border-radius: 0px;" title="Completed"> @item.CompletedCount</span>
                            </div>

                            </text>));

                            gridColumns.Add(projectFolders.Column(columnName: ProjectFoldersController.Status_, header: ProjectFoldersController.Status_, format: @<text>@Html.Raw(GetProjectStatus(item.Status, item.ID, item.IsArchived == null ? false : item.IsArchived))</text>));
                            gridColumns.Add(projectFolders.Column(columnName: "", header: "", format: @<text>@Html.Raw(GetActionButtons(item.ID, item.IsArchived == null ? false : item.IsArchived))</text>));

                        }

                        @MvcHtmlString.Create(projectFolders.GetHtml(
                        tableStyle: "table table-striped table-bordered table-responsive resizable approvals-table CRZ",

                        mode: WebGridPagerModes.All,
                        firstText: "<< ",
                        lastText: " >>",
                        htmlAttributes: new { id = "users-table" },
                        columns: projectFolders.Columns(gridColumns.ToArray())
                        ).ToString().Replace("{CheckBoxHeading}", "<input type='checkbox' class='ProjectFoldersAllCheckbox FileTransferCheckbox'/>"))

                    </div>
                    <script type="text/javascript">
                        this.modelDialog = '@ViewBag.ModelDialog';
                    </script>
                            }
                            else
                            {
                                <div class="row-fluid blank-state" visible="false">
                                    @if (showEmptySearchContent)
                                    {
                                        <div class="span4 blank-state-icon">
                                            <i class="icon-search"></i>
                                        </div>
                                        <div class="span7">
                                            <h3>@Resources.lblNoResultProjectFolder</h3>
                                            <p> @Resources.pharagraphEmptySearchResult</p>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="span4 blank-state-icon">
                                            <i class="icon-folder-open"></i>
                                        </div>
                                        <div class="span7">
                                            <h3>@string.Format("{0}", Resources.lblYouDntHaveAnyProjectFoldersInYourLibrary)</h3>
                                            <p>@string.Format("{0}", Resources.pharagraphEmpyProjectFolders)</p>
                                            <p><a class="btn btn-primary" onclick="openNewProjectFolderPopup();">@Resources.lblGetStarted</a></p>
                                        </div>
                                    }
                                </div>
                            }
            </div>
        </div>
        @Html.Hidden("SelectedProjectFolderID", "0", new { id = "hdnProjectFolderID", @data_val = false })

                            <button id="btnViewFiles" class="cancel" type="submit" name="action" value="ViewFiles" hidden="hidden">View  Files </button>
                            <a id="btnEditProject" class="cancel" onclick="openEditProjectFolderPopup();" hidden="hidden">Edit Project Folder</a>
                            <a id="btnEditMember" class="cancel" onclick="openProjectFolderEditMember();" hidden="hidden">Edit Member</a>
                            <button id="btnUploadFiles" class="cancel" type="submit" name="action" value="UploadFiles" hidden="hidden">Upload </button>
                            <button id="btnArchiveFolder" class="cancel" type="submit" name="action" value="ArchiveProjectFolder" hidden="hidden">Archive Project  Folder </button>
                            <button id="btnUnarchiveFolder" class="cancel" type="submit" name="action" value="UnarchiveProjectFolder" hidden="hidden">Multi Unarchive Project  Folder </button>
                            <button id="btnRestoreProjectFolder" class="cancel" type="submit" name="action" value="RestoreProjectFolder" hidden="hidden">Restore Project Folder </button>

                            @functions {

                                private string GetCheckBox(int Id, bool IsArchived)
                                {
                                    string archived_Project = (IsArchived ? "archived-ProjectFolder" : "unarchived-ProjectFolder");
                                    System.Text.StringBuilder html = new System.Text.StringBuilder();
                                    html.Append("<input class=\"ProjectFolderCheckbox " + archived_Project + "\" projectFolder=\"" + Id + "\"  type =\"checkbox\" />");
                                    return html.ToString();
                                }

                                private string GetActionButtons(int Id, bool IsArchived)
                                {
                                    System.Text.StringBuilder html = new System.Text.StringBuilder();
                                    html.Append("<div class=\"btn-group pull-right\">");
                                    html.Append("<a href=\"javascript:void(0);\" data-toggle=\"dropdown\" class=\"btn btn-mini dropdown-toggle ellipsisButtonList\"><i class=\"icon-ellipsis-horizontal\"></i></a>");
                                    html.Append("<ul class=\"dropdown-menu pull-right\">");
                                    html.Append("<li><a href=\"" + Url.Action("ProjectFolderApprovalsIndex", new { SelectedProjectFolderID = Id, sort = "", sortDir = "" }) + "\">" +
                                                  "<i class=\"icon-eye-open\"></i>&nbsp;" + Resources.btnViewFiles + "</a></li>");
                                    html.Append("      <li><a href=\"javascript:void(0);\" onclick=\"$('#hdnProjectFolderID')[0].value = " + Id + ";$('#btnEditProject').click();\"><i class=\"icon-pencil\"></i>" + Resources.btnEdit + "</a></li>");
                                    html.Append("      <li><a href=\"javascript:void(0);\" onclick=\"$('#hdnProjectFolderID')[0].value = " + Id + ";$('#btnEditMember').click();\"><i class=\"icon-user\"></i>" + Resources.btnEditMember + "</a></li>");
                                    //if(IsArchived)
                                    //{
                                    //    html.Append("      <li><a href=\"javascript:void(0);\" onclick=\"$('#hdnProjectFolderID')[0].value = " + Id + ";$('#btnRestoreProjectFolder').click();\"><i class=\"icon-user\"></i>" + Resources.btnUnarchive + "</a></li>");
                                    //}
                                    //html.Append("      <li><a href=\"javascript:void(0);\" onclick=\"$('#hdnProjectFolderID')[0].value = " + Id + ";$('#btnUploadFiles').click();\"><i class=\"icon-upload-alt\"></i>" + Resources.lblUpload + "</a></li>");
                                    html.Append("   </ul>");
                                    html.Append("</div>");
                                    return html.ToString();
                                }

                                private string GetProjectStatus(int id, int projectID, bool IsArchived)
                                {
                                    System.Text.StringBuilder html = new System.Text.StringBuilder();
                                    switch (id)
                                    {
                                        case 1:
                                            html.Append("<div class=\"decisions\"><span class=\"label label-changesrequired  approval-decision projecfldrtstatuslabel\" rel=\"tooltip\" data-toggle=\"tooltip\" data-trigger=\"hover\" data-placement=\"bottom\" data-html=\"true\" data-original-title=\"\" title=\"\">Not Assigned</span>");
                                            if (IsArchived)
                                            {

                                                html.Append("<span title=\"Archived\" class=\"customArchive\"> <a href=\"javascript:void(0);\" onclick=\"$('#hdnProjectFolderID')[0].value = " + projectID + ";$('#btnRestoreProjectFolder').click();\"><i /*class=\"icon-briefcase\"*/></i></a> </span>");
                                            }
                                            html.Append("</div>");
                                            break;
                                        case 2:
                                            html.Append("<div class=\"decisions\"><span class=\"label label-Status-Ongoing approval-decision projecfldrtstatuslabel\" rel=\"tooltip\" data-toggle=\"tooltip\" data-trigger=\"hover\" data-placement=\"bottom\" data-html=\"true\" data-original-title=\"\" title=\"\">Ongoing</span>");
                                            if (IsArchived)
                                            {
                                                html.Append("<span title=\"Archived\" class=\"customArchive\"> <a href=\"javascript:void(0);\" onclick=\"$('#hdnProjectFolderID')[0].value = " + projectID + ";$('#btnRestoreProjectFolder').click();\"><i /*class=\"icon-briefcase\"*/></i></a> </span>");
                                            }
                                            html.Append("</div>");

                                            break;
                                        case 3:
                                            html.Append("<div class=\"decisions\"><span class=\"label label-approved approval-decision projecfldrtstatuslabel\" style=\"background-color:#68b485\" rel=\"tooltip\" data-toggle=\"tooltip\" data-trigger=\"hover\" data-placement=\"bottom\" data-html=\"true\" data-original-title=\"\" title=\"\">Completed</span>");
                                            if (IsArchived)
                                            {
                                                html.Append("<span title=\"Archived\" class=\"customArchive\"> <a href=\"javascript:void(0);\" onclick=\"$('#hdnProjectFolderID')[0].value = " + projectID + ";$('#btnRestoreProjectFolder').click();\"><i /*class=\"icon-briefcase\"*/></i></a> </span>");
                                            }
                                            html.Append("</div>");

                                            break;
                                        case 4:
                                            html.Append("<div class=\"decisions\"><span class=\"label label-approved approval-decision projecfldrtstatuslabel\" rel=\"tooltip\" data-toggle=\"tooltip\" data-trigger=\"hover\" data-placement=\"bottom\" data-html=\"true\" data-original-title=\"\" title=\"\">Archived</span>");
                                            if (IsArchived)
                                            {
                                                html.Append("<span title=\"Archived\" class=\"customArchive\"> <a href=\"javascript:void(0);\" onclick=\"$('#hdnProjectFolderID')[0].value = " + projectID + ";$('#btnRestoreProjectFolder').click();\"><i /*class=\"icon-briefcase\"*/></i></a> </span>");
                                            }
                                            html.Append("</div>");

                                            break;
                                        default:
                                            html.Append("");
                                            break;
                                    }
                                    return html.ToString();
                                }

                                private string GetOderFilterSelected(int id)
                                {
                                    System.Text.StringBuilder html = new System.Text.StringBuilder();
                                    switch (id)
                                    {
                                        case 1:
                                            html.Append("Date Created");
                                            break;
                                        case 2:
                                            html.Append("Last Modified");
                                            break;
                                        case 3:
                                            html.Append("Due Date");
                                            break;
                                        case 4:
                                            html.Append("Status");
                                            break;
                                        case 5:
                                            html.Append("Name");
                                            break;
                                        default:
                                            html.Append("Date Created");
                                            break;
                                    }
                                    return html.ToString();
                                }

                            }
                            }

    <script type="text/javascript">

        $('.ProjectFolderCheckbox').click(function () {
            selectedProjectIds();

            if ($('.ProjectFolderCheckbox').length == $('.ProjectFolderCheckbox:checked').length) {
                $('.ProjectFoldersAllCheckbox').attr('checked', 'checked');
            } else {
                $('.ProjectFoldersAllCheckbox').removeAttr('checked');
            }

            if ($('.unarchived-ProjectFolder:checked').length > 0 && $('.archived-ProjectFolder:checked').length == 0) {
                $('#liMultiArchiveID').show();
                $('#btnMultipleArchive').removeAttr('disabled');
                $('#liMultiUnarchiveID').hide();
            } else if ($('.archived-ProjectFolder:checked').length > 0 && $('.unarchived-ProjectFolder:checked').length == 0) {
                $('#liMultiUnarchiveID').show();
                $('#btnMultipleRestore').removeAttr('disabled');
                $('#liMultiArchiveID').hide();
            } else {
                $('#liMultiArchiveID').show();
                $('#btnMultipleArchive').attr('disabled', 'disabled');
                $('#btnMultipleRestore').attr('disabled', 'disabled');
                $('#liMultiUnarchiveID').hide();
            }

            setTimeout(function () {
                enableDisableMultiDeleteBtn();
            }, 200);
            ;
        });


        $('.ProjectFoldersAllCheckbox').click(function () {
            if ($(this).is(':checked')) {
                $('#btnMultiDownload').removeAttr('disabled');
                $('.ProjectFolderCheckbox').attr('checked', 'checked');
                selectedProjectIds();
            } else {
                $('.ProjectFolderCheckbox').removeAttr('checked');
                selectedProjectIds();
            }
            //the Timeout is needed in order disable/enable 'Multiple Delete' button only after '$('#allCheckBox_DeliverJobs')' click event from WebGridHelper.cs is executed
            //beacuse the jobs checkboxes are checked/unchecked by this event
            setTimeout(function () {
                enableDisableMultiDeleteBtn();
            }, 200);
        });


        function enableDisableMultiDeleteBtn() {
            if ($('.ProjectFolderCheckbox:checked').length > 0) {
                $('#btnMultiDelete').removeAttr('disabled');
                $('#btnMultiDownload').removeAttr('disabled');
            } else {
                $('#btnMultiDownload').attr('disabled', 'disabled');
                $('#btnMultiDelete').attr('disabled', 'disabled');
            }
        }

        function selectedProjectIds() {
        var selectedProject = $('.ProjectFolderCheckbox:checked[projectFolder]').map(function () { return $(this).attr('projectFolder'); }).get().join(',');
        var uniqueValues = JSON.parse("[" + selectedProject + "]").filter(function (item, i, ar) { return ar.indexOf(item) === i; }); //removes duplicated values
        $('#hdnProjectFolderIds').val(uniqueValues);
        }

        $('#btnMultiDownload').click(function () {
            var selectedProject = $('.ProjectFolderCheckbox:checked[projectFolder]').map(function () { return $(this).attr('projectFolder'); }).get().join(',');
            var uniqueValues = JSON.parse("[" + selectedProject + "]").filter(function (item, i, ar) { return ar.indexOf(item) === i; }); //removes duplicated values
            downloadProjectFolders(uniqueValues);
        });

        var jobStausTimeout = 3000; // in miliseconds
        function downloadProjectFolders(files) {

            $('#btnMultiDownload').html('<i class="icon-download-alt"></i>&nbsp; ' + 'Downloading');
            var dataObject = {
                __RequestVerificationToken: $("#formMain input").val(),
                fileIDs: files
            };
            $.ajax({
                type: "POST",
                url: '@Url.Action("DownloadSelectedProjects", "ProjectFolders")',
                data: dataObject,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (result) {

                    downloadSuccessPF(result)

                },
                done: function (result) {
                    downloadCompletePF(result)

                },
                error: function (error) {
                    $('#btnMultiDownload').html('<i class="icon-download-alt"></i>&nbsp; ' + 'Download'),
                    downloadFailedPF(error)
                }
            });

        }


        function jobOverviewwidth(obj) {
            var JobOverFullWidth = 200; //$(".jobOverViewCol").width();

            $(".jobOverViewCol").each(function (i, obj) {
                var JobTaskCount = parseInt($(this).find('.taskUnAssigned').text()) + parseInt($(this).find('.taskInProgress').text()) + parseInt($(this).find('.taskOverDueCount').text()) + parseInt($(this).find('.taskApproved').text()) + parseInt($(this).find('.taskCompleted').text());
                if (JobTaskCount > 0) {
                    var eachTaskWidth = (JobOverFullWidth - 50) / JobTaskCount;
                    $(this).find(".taskUnAssigned").css({ width: 10 + (eachTaskWidth * parseInt($(this).find('.taskUnAssigned').text())) + "px" });
                    $(this).find(".taskInProgress").css({ width: 10 + (eachTaskWidth * parseInt($(this).find('.taskInProgress').text())) + "px" });
                    $(this).find(".taskOverDueCount").css({ width: 10 + (eachTaskWidth * parseInt($(this).find('.taskOverDueCount').text())) + "px" });
                    $(this).find(".taskApproved").css({ width: 10 + (eachTaskWidth * parseInt($(this).find('.taskApproved').text())) + "px" });
                    $(this).find(".taskCompleted").css({ width: 10 + (eachTaskWidth * parseInt($(this).find('.taskCompleted').text())) + "px" });
                }
                else
                {
                    $(this).find('.displayFlex').html('');
                }
            });
        }

        $(document).ready(function () {
            jobOverviewwidth(this);
        });

        $(window).on("load resize",function(event){
            var projectFileCountWidth = ($(".filter-bar").width() - ($("#ProjectFolderLeftNav").width() + $("#ProjectFolderRightBtn").width()));
            $("#fileCount").css("width", (projectFileCountWidth - 23));
            jobOverviewwidth(this);
        });

        $(window).resize(function () {
            var projectSeperatorLineHeight = $("#users-table thead tr").height();
            $(".CRC .CRG .resizable-menu-separator").css("height", projectSeperatorLineHeight);
        });

    </script>
</div>
@Html.Partial("NewProjectFolder", Model)
@Html.Partial("FilterApprovals", Model.ApprovalsFilter)
@Html.Partial("EditProjectFolderMember")
