﻿
@model ApprovalsModel
@using GMGColor.Common
@using GMGColor.HtmlHelpers;
@using GMGColor.Resources;
@using GMGColorDAL
@using GMGColorDAL.CustomModels
@{
    int tab = int.Parse(TempData["SelectedTab"].ToString());
    Role.RoleName loggedUserRole = ViewBag.LoggedUserRole;
    bool hasAccessToAddJob = loggedUserRole != Role.RoleName.AccountViewer &&
                             loggedUserRole != Role.RoleName.AccountContributor &&
                             loggedUserRole != Role.RoleName.AccountRetoucher;
    int loggedUserId = ViewBag.LoggedUserId;
}
<div class="box-inner">
    <section id="collaborateSidebar">
        <div class="approvals-left-navigation">
            <div class="collaborateSidebarTop">
                <ul class="nav nav-pills nav-stacked nav-colored">
                    <li class="@((tab == (int)Utils.ApprovalTab.AllApprovals) ? "active" : string.Empty)">
                        <a href="@(Url.Action("Populate","ProjectFolders", new { @topLinkID = (int)Utils.ApprovalTab.AllApprovals,@isProjectPage = true }))">
                            <i class="icon-picture"></i>@Resources.lblAllApprovels
                            @if (ViewBag.AllAppCount > 0)
                            {
                                <span class="badge @((tab == (int)Utils.ApprovalTab.AllApprovals) ? "badge-inverse" : string.Empty) pull-right">@ViewBag.AllAppCount</span>
                            }
                        </a>
                    </li>
                    <li class="@((tab == (int)Utils.ApprovalTab.MyOpenApprovals) ? "active" : string.Empty)">
                        <a href="@(Url.Action("Populate","ProjectFolders", new { @topLinkID = (int)Utils.ApprovalTab.MyOpenApprovals,@isProjectPage = true }))">
                            <i class="icon-picture"></i>@Resources.lblMyOpenApprovals
                            @if (ViewBag.MyOpenApprovalsCount > 0)
                            {
                                <span class="badge @((tab == (int)Utils.ApprovalTab.MyOpenApprovals) ? "badge-inverse" : string.Empty) pull-right">@ViewBag.MyOpenApprovalsCount</span>
                            }
                        </a>
                    </li>
                    <li class="@((tab == (int)Utils.ApprovalTab.OwnedByMe) ? "active" : string.Empty)">
                        <a href="@(Url.Action("Populate","ProjectFolders", new { @topLinkID = (int)Utils.ApprovalTab.OwnedByMe,@isProjectPage = true }))">
                            <i class="icon-user"></i>@Resources.lblOwnedByMe
                            @if (ViewBag.MyAppCount > 0)
                            {
                                <span class="badge @((tab == (int)Utils.ApprovalTab.OwnedByMe) ? "badge-inverse" : string.Empty) pull-right">@ViewBag.MyAppCount</span>
                            }
                        </a>
                    </li>
                    <li class="@((tab == (int)Utils.ApprovalTab.SharedWithMe) ? "active" : string.Empty)">
                        <a href="@(Url.Action("Populate","ProjectFolders", new { @topLinkID = (int)Utils.ApprovalTab.SharedWithMe,@isProjectPage = true }))">
                            <i class="icon-retweet"></i>@Resources.lblSharedWithMe
                            @if (ViewBag.SharedAppCount > 0)
                            {
                                <span class="badge @((tab == (int)Utils.ApprovalTab.SharedWithMe) ? "badge-inverse" : string.Empty) pull-right">@ViewBag.SharedAppCount</span>
                            }
                        </a>
                    </li>
                    <li class="@((tab == (int)Utils.ApprovalTab.RecentlyViewed) ? "active" : string.Empty)">
                        <a href="@(Url.Action("Populate","ProjectFolders", new { @topLinkID = (int)Utils.ApprovalTab.RecentlyViewed,@isProjectPage = true }))">
                            <i class="icon-eye-open"></i>@Resources.lblRecentlyViewed
                            @if (ViewBag.RecentlyViewedCount > 0)
                            {
                                <span class="badge @((tab == (int)Utils.ApprovalTab.RecentlyViewed) ? "badge-inverse" : string.Empty) pull-right">@ViewBag.RecentlyViewedCount</span>
                            }
                        </a>
                    </li>
                    @if (loggedUserRole != Role.RoleName.AccountRetoucher)
                    {
                        <li class="@((tab == (int)Utils.ApprovalTab.Archive_PastTense) ? "active" : string.Empty) recentlyArchived">
                            <a href="@(Url.Action("Populate","ProjectFolders", new { @topLinkID = (int)Utils.ApprovalTab.Archive_PastTense,@isProjectPage = true }))">
                                <i class="icon-briefcase"></i>@Resources.lblRecentlyArchived
                                @if (ViewBag.RecentlyArchivedCount > 0)
                                {
                                    <span class="badge @((tab == (int)Utils.ApprovalTab.Archive_PastTense) ? "badge-inverse" : string.Empty) pull-right">@ViewBag.RecentlyArchivedCount</span>
                                }
                            </a>
                        </li>
                    }
                    <li class="@((tab == (int)Utils.ApprovalTab.SubstitutedApprovals) ? "active" : string.Empty)">
                        <a href="@(Url.Action("Populate","ProjectFolders", new { @topLinkID = (int)Utils.ApprovalTab.SubstitutedApprovals,@isProjectPage = true }))">
                            <i class="icon-exchange"></i>@Resources.lblOutOfOfficeApprovals
                            @if (ViewBag.SubstitutedApprovalsCount > 0)
                            {
                                <span class="badge @((tab == (int)Utils.ApprovalTab.SubstitutedApprovals) ? "badge-inverse" : string.Empty) pull-right">@ViewBag.SubstitutedApprovalsCount</span>
                            }
                        </a>
                    </li>
                </ul>

                <ul id="customSearch" class="nav nav-pills nav-stacked nav-colored"></ul>

                <ul class="nav nav-pills nav-stacked nav-colored">
                    @if (loggedUserRole != GMGColorDAL.Role.RoleName.AccountViewer && loggedUserRole != Role.RoleName.AccountRetoucher)
                    {
                        <li class="@((tab == (int)Utils.ApprovalTab.RecycleBin) ? "active" : string.Empty)">
                            <a href="@(Url.Action("Populate","ProjectFolders", new { @topLinkID = (int)Utils.ApprovalTab.RecycleBin,@isProjectPage = true }))">
                                <i class="icon-trash"></i>@Resources.lblRecycleBin
                                @if (ViewBag.RecycleBinCount > 0)
                                {
                                    <span class="badge @((tab == (int)Utils.ApprovalTab.RecycleBin) ? "badge-inverse" : string.Empty) pull-right">@ViewBag.RecycleBinCount</span>
                                }
                            </a>
                        </li>
                    }
                </ul>
            </div>
            <div id="sidebarPin" class="pin-alignment" user="@(loggedUserId)">
                <i class="icon-pushpin pull-right" style="cursor: pointer" onclick="changePinState();"></i>
            </div>
        </div>
    </section>
</div>
