﻿@model GMGColorDAL.CustomModels.IndicatorBarHorizontalViewModel

@if (@Model.Approval > 0)
{
    <table style="width: 100%">
        <tr style="width: 100%">
            <td style="width: 20px; background-color: transparent;">
                <div class="indicatorBar-@Model.Approval horizontalIndicatorBar">
                    <div class="usersBarIndicatorHoriz @(Model.DisableSOAD ? "left-div-no-top-padding" :"left-div"  )">
                    </div>
                </div>
            </td>
            <td style="width: 100%; background-color: transparent;">
                @if (!Model.DisableSOAD)
                {
                    @Html.Partial("ProjectFolderApprovalsSOADIndicator", (int)@Model.Approval)
                }
                <div class="indicatorBar-@Model.Approval horizontalIndicatorBar clearboth">
                    <div class="right-div">
                        <div class="whiteBarIndicator indicatorBar" rel="tooltip" data-html="true" data-placement="top">
                        </div>
                        <div class="greyBarIndicator indicatorBar" rel="tooltip" data-html="true" data-placement="top">
                        </div>
                        <div class="greenBarIndicator indicatorBar" rel="tooltip" data-html="true" data-placement="top">
                        </div>
                        <div class="redBarIndicator indicatorBar" rel="tooltip" data-html="true" data-placement="top">
                        </div>
                        <div class="orangeBarIndicator indicatorBar" rel="tooltip" data-html="true" data-placement="top">
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </table>
}
else
{
    <div>-</div>
}
