﻿@model NewApprovalModel
@using GMGColor.FileUpload;
@using GMGColor.HtmlHelpers;
@using GMGColor.Resources;
@using GMGColorDAL
@using GMGColorDAL.Common
@using GMGColorDAL.CustomModels
@using AppModule = GMG.CoZone.Common.AppModule
@{
    <script type="text/javascript" src="@Url.Content("~/Content/js/blueimp/loadprojectfolder.fileupload.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/newprojectfolderapproval.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/addAdHocWorkflow.js")"></script>
    GMGColorBusinessLogic.DbContextBL context = HttpContext.Current.Items[GMGColorDAL.DALUtils.DatabaseContext] as GMGColorBusinessLogic.DbContextBL; 
}
<div class="widget">
    <!-- /widget-header -->
    <div class="widget-content">
        <div class="row-fluid">
            @using (Html.BeginForm("", "ProjectFolders", FormMethod.Post, new { @class = "form-horizontal dirtyignore", id = "formAddNewApproval" }))
            {
                @Html.AntiForgeryToken()
                bool IsEnableMediaTools = Account.IsEnableMediaTools(Model.objLoggedAccount.ID, AppModule.Collaborate, context);
                <!-- Upload -->
                <fieldset>
                    <!-- if multimedia is turn on disply this div class="tool-bar" -->
                    @{
                        string uploadDisplayStyle = "block";
                    }
                    <div id="dvUploader" style="display: @uploadDisplayStyle;" class="control-group">
                        @Html.HiddenFor(m => m.FileTitleValidator)
                        @Html.ValidationMessageFor(m => m.FileTitleValidator)
                        @{
                            FileUploadModel fupModel = new FileUploadModel(Model.objLoggedAccount.Region);
                            fupModel.IsMultiple = (Model.Job == 0);
                            fupModel.Key = 1;
                            fupModel.CssClass = "icon-upload-alt";
                            fupModel.UseDropZone = true;
                            fupModel.IsRequired = true;
                            fupModel.AcceptFileTypes = Model.AcceptedFiles;
                            fupModel.PathToTempFolder = Model.PathToTempFolder;
                            fupModel.MaxFileSize = GMGColorConfiguration.AppConfiguration.ApprovalMaxFileSize;
                            fupModel.MaxNumberOfFiles = GMGColorConfiguration.AppConfiguration.ApprovalsMaxNrOfFiles;
                        }
                        @Html.Partial("FileUpload", fupModel)
                    </div>
                    @{
                        FileUploadModel fileUploadModel = FileUploadModel.FileUploadTemplates(Model.PathToTempFolder, Model.objLoggedAccount.Region);
                        fileUploadModel.UseLabelForFileName = (Model.Job > 0);
                        fileUploadModel.ApprovalFolderId = Model.Folder;
                        fileUploadModel.IsNewVersionRequest = (Model.Job > 0);
                        fileUploadModel.IsDisableTagwordsInDashbord = ViewBag.IsDisableTagwordsInDashbord;
                        fileUploadModel.Uploader = ViewBag.LoggedUser;
                        fileUploadModel.DispalyName = "<span class=\"label\">v" + Model.Version.ToString() + "</span>";
                    }
                    @Html.Partial("FileUploadTemplates", fileUploadModel)
                    @Html.CheckBoxFor(mdl => mdl.IsUploadApproval, new { @style = "display : none ;", @id = "chkUpload" })
                    <div id="settingsOverrideMsg" class="alert alert-info" style="display: none" role="alert">
                        @Resources.lblOverrideSettingsFromPrvVers
                    </div>
                    <div class="control-group jobNamecheckbox" style="display: none" id="updateFileName">
                        <div class="controls">
                            <label class="checkbox">
                                @Html.CheckBoxFor(mdl => mdl.KeepOriginalFileName) @Resources.lblKeepOriginalFileName
                            </label>
                        </div>
                    </div>
                    <div class="control-group jobNamecheckbox" style="display: none" id="executeWorkflow">
                        <div class="controls">
                            <label class="checkbox">
                                @Html.CheckBoxFor(mdl => mdl.ExecuteWorkflow, new { id = "executeWorkflowcheckbox" }) @Resources.lblExecuteWorkflow
                            </label>
                        </div>
                    </div>
                </fieldset>

                <div id="executeProjectWorkflow" style="display:none">
                    <!-- Permissions & Share-->
                    <fieldset>
                        <legend>@Resources.lblAccess <small>@Resources.lblChooseWhoWillBeAbleToViewedAndEditTheApproval</small></legend>
                        <div id="decisionType" class="control-group">
                            <label class="control-label">@Resources.lblTemplate</label>
                            <div class="controls">
                                @Html.DropDownListFor(m => m.ApprovalWorkflowId, new SelectList(Model.ApprovalWorkflows, "ID", "Name"), Resources.lblWorkflowNotRequired, new { @data_val = "false", @id = "selectedApprovalWorkflow" })
                                @Html.Hidden("adHocWorkflowUrl", @Url.Action("AddEditAdHocWorkflowPhase", "ApprovalWorkflow"))
                                <a class="customanchorText" id="addAdHocWorkflow" value="insert">@Resources.lblAddWorkflow</a>
                            </div>
                        </div>
                        @Html.HiddenFor(mdl => mdl.ApprovalWorkflowId)
                        <div id="ChecklistId" class="control-group">
                            <label class="control-label"> @Resources.lblChecklist </label>
                            <div class="controls">
                                @Html.DropDownListFor(m => m.ChecklistId, new SelectList(Model.Checklists, "ID", "Name"), Resources.lblNotRequired, new { @data_val = "false", @id = "selectedChecklist" })
                            </div>
                        </div>
                        @Html.HiddenFor(mdl => mdl.ChecklistId)
                        <div class="control-group">
                            <div class="controls">
                                <label class="checkbox">
                                    @Html.CheckBoxFor(mdl => mdl.AllowOtherUsersToBeAdded, new { @id = "allowOtherUsersToBeAdded" })
                                    @Resources.lblAllowOtherUsersToBeAdded
                                </label>
                            </div>
                        </div>
                        <div id="adHocWorkflowContainer">
                            <div class="controls" id="LoadingImage">
                                <img src="../../Content/img/loading-icon.gif" />
                            </div>
                        </div>

                        <div id="templateWorkflowAccess">
                            @if ((Model.ApprovalWorkflowId > 0 && Model.AllowOtherUsersToBeAdded) || Model.Job == 0 || (Model.Job > 0 && Model.ApprovalWorkflowId == 0))
                        {
                        <div class="controls">
                            @Html.ValidationMessage("collaboratorsAccess", new { @class = "errAccess" })
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                @{
                                        var serializer = new System.Web.Script.Serialization.JavaScriptSerializer();

                                        if (Model.Job > 0)
                                        {
                                            if (Model.ApprovalWorkflowId > 0)
                                            {
                                    <a class="btn btn-primary" id="pfApprovalTrigger" style="font-weight: bold;" href="javascript:void(0);" title="@Resources.lblModifyAccessForThisApproval" widget-toggle="pfcollaboratoraccess" widget-type="approval" widget-id="0" widget-decision="0" widget-users="" widget-groups="" widget-external="" widget-creator="@(Model.Creator)" widget-owner="@(Model.Owner)" widget-workflow-phases="@(Model.PhasesCollaborators)" widget-phases="@serializer.Serialize(Model.WorkflowPhases)" widget-phase="" widget-decision-type="0">
                                        @Resources.lblAddExistingUserstoThisApproval
                                    </a>
                                            }
                                            else
                                            {
                                    <a class="btn btn-primary" id="pfApprovalTrigger" style="font-weight: bold;" href="javascript:void(0);" title="@Resources.lblModifyAccessForThisApproval" widget-toggle="pfcollaboratoraccess" widget-type="approval" widget-id="0" widget-creator="@Model.Creator" widget-decision="0" widget-owner="@(Model.Owner)" widget-users="@serializer.Serialize(Model.ApprovalVersionCollaboratorInfo.CollaboratorsWithRole)" widget-external="@serializer.Serialize(Model.ApprovalVersionCollaboratorInfo.ExternalCollaboratorsWithRole)" widget-groups="@serializer.Serialize(Model.ApprovalVersionCollaboratorInfo.Groups)" widget-workflow-phases="" widget-phases="" widget-phase="" widget-decision-type="0">
                                        @Resources.lblAddExistingUserstoThisApproval
                                    </a>
                                            }
                                        }
                                        else
                                        {
                                            if (Model.ApprovalWorkflowId > 0 && !ViewData.ModelState.IsValid)
                                            {
                                    <a class="btn btn-primary" id="pfApprovalTrigger" style="font-weight: bold;" href="javascript:void(0);" title="@Resources.lblModifyAccessForThisApproval" widget-toggle="pfcollaboratoraccess" widget-type="approval" widget-id="0" widget-creator="0" widget-owner="0" widget-users="" widget-groups="" widget-decision="0" widget-external="" widget-workflow-phases="@(Model.PhasesCollaborators)" widget-phases="@serializer.Serialize(Model.WorkflowPhases)" widget-phase="" widget-decision-type="0">
                                        @Resources.lblAddExistingUserstoThisApproval
                                    </a>
                                            }
                                            else
                                            {
                                    <a class="btn btn-primary" id="pfApprovalTrigger" style="font-weight: bold;" href="javascript:void(0);" title="@Resources.lblModifyAccessForThisApproval" widget-toggle="pfcollaboratoraccess" widget-type="approval" widget-id="0" widget-creator="@(Model.Creator)" widget-owner="@(Model.Owner)" widget-decision="0" widget-workflow-phases="" widget-phases="" widget-phase="" widget-decision-type="0">
                                        @Resources.lblAddExistingUserstoThisApproval
                                    </a>
                                            }
                                        }
                                }
                            </div>
                        </div>
                        <div id="ProjectApprovalPermissions">
                            @{ Html.RenderAction("ProjectApprovalPermissions", "Widget", new { @refresh = false, @showPanel = true, @isFromNewApprovalScreen = true, @isPhaseScreen = false, @approvalFolderId = Model.Folder }); }
                        </div>
                    <!-- / Permissions -->
                        <div>
                            @{ Html.RenderAction("ProjectApprovalShare", "Widget", new { @showPanel = true }); }
                        </div>
                    <!-- / Sahre -->
                        <div class="collaboratorshare-fields control-group row-fluid">
                            <div class="controls">
                                <h6>@Resources.lblMessageUploadNotification</h6>
                                <div style="width:60%">
                                    <div id="editorcontainer_newApproval" style="height:10em; min-height:70%; ">
                                        <div id="newApprovaleditor"></div>
                                    </div>
                                </div>
                                @Html.TextAreaFor((mdl => mdl.OptionalMessage), new { @class = "hide message span12 message-option-input", @cols = "20", @rows = "4", @tabindex = "7" })
                                @Html.ValidationMessageFor(m => m.OptionalMessage)
                            </div>
                        </div>
                                            }
                                            else
                                            {
                        @Html.HiddenFor(mdl => mdl.PhasesCollaborators)
                        @Html.HiddenFor(mdl => mdl.Owner)
                                            }
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>@Resources.lblDetails </legend>
                        <div class="control-group">
                            <div class="controls">
                                <label class="checkbox">
                                    @{
                                    var checkboxHtmlAttributes = new Dictionary<string, object> { { "id", "dueDate" } };

                                    if (!Model.IsDueDateSelected)
                                    {
                                        checkboxHtmlAttributes.Add("disabled", "disabled");
                                    }

                                @Html.CheckBoxFor(m => m.IsDueDateSelected, checkboxHtmlAttributes)
                                @Resources.lblSetDeadline
                                    }
                                </label>
                            </div>
                            @{
                            string displayDeadlineDate = Model.IsDueDateSelected ? "block" : "none";
                            }
                            <div class="controls" id="approvalDeadlineDate" style="display: @displayDeadlineDate">
                                @{
                                string dateFormat = Model.objLoggedAccount.DateFormat1.Pattern;
                                }
                                <div class="input-append date-picker date" data-date="@String.Format("{0:" + dateFormat + "}", DateTime.Now)" data-date-format="@dateFormat.ToLower()">
                                    @Html.TextBoxFor(mdl => mdl.ApprovalDeadlineDate, new { @class = "input-small pointerCursor", @Value = GMGColorFormatData.GetFormattedDate(DateTime.Now, Model.objLoggedAccount, context), @size = "16", @readonly = "" })
                                    <span class="add-on"><i class="icon-calendar"></i></span>@*@Html.ValidationMessageFor(mdl => mdl.DeadlineDate)*@
                                </div>
                                <select name="DeadlineTime" id="DeadlineTime" class="input-small">
                                    <option value="hh:mm" selected="selected">hh:mm</option>
                                    @if (Model.objLoggedAccount.TimeFormat == 1)
                                {
                                    for (int i = 1; i < 13; i++)
                                    {
                                <option value="@i:00">@i:00</option>
                                <option value="@i:30">@i:30</option>
                                    }
                                }
                                else
                                {
                                    for (int i = 0; i < 24; i++)
                                    {
                                <option value="@i:00">@i:00</option>
                                <option value="@i:30">@i:30</option>
                                    }
                                }
                                </select>
                                @if (Model.objLoggedAccount.TimeFormat == 1)
                            {
                            <select name="DeadlineTimeMeridiem" id="DeadlineTimeMeridiem" class="input-mini">
                                <option value="AM" selected="selected">AM</option>
                                <option value="PM">PM</option>
                            </select>
                            }
                            </div>
                        </div>
                    </fieldset>
                    <div id="overrideSettings">
                        <!-- / -->
                        @if (Model.HasRenderingOptions)
                        {
                            <fieldset id="render-settings">
                                <legend>@Resources.lblRenderSettings <small>@Resources.lblApplyPrePressFunctions</small></legend>
                                <div class="control-group">
                                    <div class="controls">
                                        <label class="radio inline">
                                            @Html.RadioButtonFor(m => m.RenderOption, NewApprovalModel.RenderOptions.EmbeddedProfile, new { @checked = "checked" })
                                            @Resources.lblUseEmbProfile
                                        </label>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                        <label class="radio inline">
                                            @Html.RadioButtonFor(m => m.RenderOption, NewApprovalModel.RenderOptions.CustomProfile)
                                            @Resources.lblUseCustProfile
                                        </label>
                                        <div class="version-number-location">
                                            @Html.DropDownListFor(m => m.SelectedCustomProfile, new SelectList(Model.CustomProfiles, "Key", "Value"))
                                        </div>
                                    </div>
                                </div>
                                <div class="alert alert-warning" role="alert">
                                    @Resources.lblSoftProofingDisabled
                                </div>
                            </fieldset>
                        }
                        <!-- / -->
                        <!-- Settings -->
                        <fieldset>
                            <legend>@Resources.lblSettings <small>@Resources.lblWhatCanWeDoWithThisFile</small></legend>
                            <div class="control-group">
                                <div class="controls">
                                    <label class="checkbox">
                                        @Html.CheckBoxFor(m => m.RestrictedZoom)
                                        @Resources.lblRestrictedZoom
                                    </label>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="controls">
                                    <label class="checkbox">
                                        @Html.CheckBoxFor(m => m.LockProofWhenFirstDecisionsMade)
                                        @Resources.lblLockProofsAfterFirstDec
                                    </label>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="controls">
                                    <label class="checkbox">
                                        @Html.CheckBoxFor(m => m.LockProofWhenAllDecisionsMade, new { @id = "chkLockProof" })
                                        @Resources.lblLockTheProofs
                                    </label>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="controls">
                                    <label class="checkbox">
                                        @Html.CheckBoxFor(m => m.OnlyOneDecisionRequired, new { @id = "chkOnlyOneDecision", @onchange = "showDecisionMaker();" })
                                        @Resources.lblOnlyOneDecisionRequired
                                    </label>
                                    <p id="dvPrimaryDecisionMaker" class="help-block hide">
                                        @Html.DropDownList("Key", new SelectList(Model.ListDecisionMakers, "Key", "Value"), null, new { @class = "hide", @id = "dummyPrimaryDecisionMaker" })
                                        @Resources.lblPrimaryDecisionMaker @Html.DropDownListFor(m => m.PrimaryDecisionMaker, new SelectList(Model.ListDecisionMakers, "Key", "Value"))
                                        @Html.HiddenFor(m => m.PrimaryDecisionMakerHiddenField)
                                        @Html.ValidationMessageFor(m => m.PrimaryDecisionMakerHiddenField)
                                        <label style="padding-left:100px; display:flex;">
                                            @Html.CheckBoxFor(m => m.PrivateAnnotations, new { @id = "chkPrivateAnnotations", @onchange = "removeSelectedExternalUsers();" })
                                            <label style="padding-left:15px;">@Resources.lblPrivatePublicComments</label>
                                        </label>
                                    </p>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="controls">
                                    <label class="checkbox">
                                        @Html.CheckBoxFor(mdl => mdl.AllowUsersToDownload) @Resources.lblAllowUsersToDownload
                                    </label>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    @Html.HiddenFor(m => m.ApprovalAdHocWorkflowName)
                    @Html.HiddenFor(m => m.SelectedTagwords)
                    @Html.HiddenFor(m => m.ProjectFolder)

                    <!-- / -->
                </div>
                @Html.Hidden("UsePreviousSettings", (bool)ViewBag.UseSettingsFromPreviousVerion, new { @data_val = false })
                @Html.Hidden("ApplyBatchUploadSettings", (bool)ViewBag.AppyApprovalBatchSettings, new { @data_val = false })
                @Html.Hidden("ModelVersion", Model.Version, new { @data_val = false })

                <div class="form-actions" id="addProjectApproval" style="display:none">
                    <button id="btnAddApproval" class="btn btn-primary" onclick="handleSubmit()" data-loading-image="imgSavingLoader" data-loading-text="@Resources.btnSaving" disabled="disabled" name="action" type="submit" value="NewProjectFolderApproval">
                        @Resources.btnAddNewApproval
                    </button>
                    @Html.Image("imgSavingLoader", "~/Content/img/loading-icon.gif", @Resources.lblLoading, new { @class = "hide" }, 30, 30)
                </div>

            }
        </div>
        <!-- /row-fluid -->
    </div>
    <!-- /widget-content -->
</div>

<script type="text/javascript">
    var approvalCollaboratorRoleId = '@(ApprovalCollaboratorRole.GetRole(ApprovalCollaboratorRole.ApprovalRoleName.ApproverAndReviewer, context).ID)';
</script>
<script>
    var toolbarOptions = [
        ['bold', 'italic', 'underline']
    ]
    let jdQuill_newApproval = new Quill('#newApprovaleditor', {
        theme: 'snow',
        modules: {
            toolbar: toolbarOptions
        },
        scrollingContainer: "#editorcontainer_newApproval"
    });
    function handleSubmit() {
        document.getElementById('OptionalMessage').value = jdQuill_newApproval.root.innerHTML;
    };
</script>






