﻿@model ApprovalsModel
@using GMGColor.HtmlHelpers;
@using GMGColor.Resources;
@using GMGColorDAL
@using GMGColorDAL.CustomModels
@{
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
    Bundles.Reference("widget");
    Bundles.Reference("chosen");
    Bundles.Reference("datetimepicker");
    Bundles.Reference("filedownload");

    Bundles.Reference("newProjectFolderApproval");
    Bundles.Reference("fileupload");
    Bundles.Reference("addAdHocWorkflowStyles");
    Bundles.Reference("quill");
    Bundles.Reference("quillStyles");

    int tab = int.Parse(TempData["SelectedTab"].ToString());

    Role.RoleName loggedUserRole = ViewBag.LoggedUserRole;
    bool hasAccessToAddJob = loggedUserRole != Role.RoleName.AccountViewer &&
                             loggedUserRole != Role.RoleName.AccountContributor &&
                             loggedUserRole != Role.RoleName.AccountRetoucher;
}


@Html.Hidden("hdnShowAllFilesAndFolder", ViewBag.ViewAll != null ? (bool)ViewBag.ViewAll : false)
<div class="widget">
    <div class="widget-header">
        @if (hasAccessToAddJob && tab != -8)
        {
            <ul class="widget-links">
                <li>
                    <a href="javascript:void(0);" title="@Resources.lblNewApproval" class="btn btn-primary font12" onclick="$('#dropzone_1').click();">
                    @Resources.lblNewApproval</a>
                </li>
            </ul>
        }
        <h3>@ViewBag.Header @*<small>@ViewBag.HeaderSmall</small>*@</h3>
    </div>
    <!-- /widget-header -->
    <div class="widget-content minSApprovalGridize">
        <div class="row-fluid">
            <div class="span12" id="approvals">
                <div id="sliderButton" class="slide-toggle noselect" style="display: none;">
                    <div id="icon"><i class="icon-chevron-right"></i></div>
                </div>
                <div id="sliderMenu" style="display: none;">
                    <div class="box-container">
                        @{ Html.RenderPartial("IndexSideBar", Model); }
                    </div>
                </div>
                <div id="loadingGrid" style="text-align:center;">
                    <label>@Resources.lblLoading</label>
                    @Html.Image("approvalsGridLoader", "~/Content/img/loading-icon.gif", @Resources.lblLoading, new { @style = "margin:auto;" }, 50, 50)
                </div>
            </div>
        </div>
        <!-- /row-fluid -->
    </div>
    <!-- /widget-content -->
</div>
<!-- /widget -->

@using (Html.BeginForm("", "ProjectFolders", FormMethod.Post, new { @class = "form-horizontal", id = "formEvents" }))
{
    @Html.AntiForgeryToken()
    DeleteConfirmation archiveFolderConfirmation = new DeleteConfirmation(3, "ArchiveFolder");
    archiveFolderConfirmation.DeleteMessage = string.Empty;
    archiveFolderConfirmation.DeleteMessagePleaseNote = string.Empty;
    @Html.Partial("DeleteConfirmationDialog", archiveFolderConfirmation)

    DeleteConfirmation deleteFolderConfirmation = new DeleteConfirmation(4, "DeleteFolder");
    deleteFolderConfirmation.DeleteMessage = Resources.lblDeleteMessage_Folder;
    deleteFolderConfirmation.DeleteMessagePleaseNote = string.Empty;
    @Html.Partial("DeleteConfirmationDialog", deleteFolderConfirmation)

    DeleteConfirmation deleteFolderPermanent = new DeleteConfirmation(6, "DeleteFolderPermanent");
    @Html.Partial("DeleteConfirmationDialog", deleteFolderPermanent)

    DeleteConfirmation deleteSearchFilterConfirmation = new DeleteConfirmation(11, "AdvancedSearchDelete");
    deleteSearchFilterConfirmation.DeleteMessage = Resources.lblDeleteMessage;
    deleteSearchFilterConfirmation.DeleteMessagePleaseNote = string.Empty;
    @Html.Partial("DeleteConfirmationDialog", deleteSearchFilterConfirmation)

    <input type="hidden" id="n" value="@Session["LoggedUserId"]" />

    <button id="btnRestoreFolder" class="hide" name="action" type="submit" value="RestoreFolder"></button>

    <button id="btnTransferFolder" class="hide" name="action" type="submit" value="TransferFolder"></button>

    @Html.Hidden("TopLinkID", 0, new { id = "hdnSelectedTopLinkID" });
}

@if (loggedUserRole != Role.RoleName.AccountViewer && loggedUserRole != Role.RoleName.AccountRetoucher)
{
    if (loggedUserRole != Role.RoleName.AccountContributor)
    {
        using (Html.BeginForm("ModifyPermissions", "Widget", FormMethod.Post, new { @class = "form-vertical dirtyignore", id = "formPermissions" }))
        {
            @Html.AntiForgeryToken()
            //Filled by asynchronous call
        }
    }
    using (Html.BeginForm("SendAndShare", "Widget", FormMethod.Post, new { @class = "form-vertical dirtyignore", id = "formShare" }))
    {
        @Html.AntiForgeryToken()
        //Filled by asynchronous call
    }
}


@if (ViewBag.ShowCanntDelete)
{
    <script type="text/javascript">
        this.modelDialog = 'cannotDelete';
    </script>
}
<div id="cannotDelete" class="modal hide">
    <div class="modal-header">
        <h3 class="widget-title">@Resources.headerCanntDeleteApproval</h3>
    </div>
    <div class="globaldelete-base modal-body">
        <p>
            <strong>@Html.Raw(Resources.paragraphCanntDeleteApproval1)</strong>
        </p>
        <p>@Html.Raw(Resources.paragraphCanntDeleteApproval2)</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" type="button">@Resources.btnOk</button>
    </div>
</div>


<div id="modalCreateLinkForRetoucher" class="modal hide">
    <div class="modal-header">
        <h3 class="widget-title">
            @Resources.lblLinkForRetoucher
        </h3>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" type="reset">@Resources.btnCancel</button>
    </div>
</div>

<div id="modalCreateLink" class="modal hide">
    <div class="modal-header">
        <h3 class="widget-title">
            @Resources.btnCreateLink
        </h3>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" type="reset">@Resources.btnCancel</button>
    </div>
</div>

<script type="text/javascript">
    var approvalDecisionsUrl = '@Html.Raw(@Url.Action("GetApprovalsDecisions", "ProjectFolders"))';
    var propulateApprovalsGridUrl = '@Html.Raw(@Url.Action("PopulateApprovalsGrid", "ProjectFolders", new { topLinkID = @ViewBag.TopLinkID, page = @ViewBag.Page, folderID = 0, loggedUserRole = @ViewBag.LoggedUserRole, hasAccessToFtp = false, archivedCount = @ViewBag.RecentlyArchivedCount, recycleBinCount = @ViewBag.RecycleBinCount, currentTabCount = @ViewBag.CurrentTabCount, sort = @ViewBag.Sort, sortdir = @ViewBag.SortDir }))';

    var collaboratorDecisionsUrl = '@Url.Action("GetAllCollDecisionSetting")';
    var getApprovalRetouchersUrl = '@Html.Raw(@Url.Action("GetApprovalsRetouchers", "ProjectFolders"))';
    var getApprovalAnnotationsNotViewedUrl = '@Html.Raw(@Url.Action("GetApprovalsNotViewedAnnotations", "ProjectFolders"))';
    var getVisualIndicatorData = '@Html.Raw(@Url.Action("GetApprovalsVisualBarData", "AppService"))';
    var getSOADIndicatorData = '@Html.Raw(@Url.Action("GetApprovalsSoadData", "AppService"))';
    var getApprovalPhaseDeadlineUrl = '@Html.Raw(@Url.Action("GetApprovalsPhaseDeadline", "ProjectFolders"))';
    var getUserSOADIndicatorData = '@Html.Raw(@Url.Action("GetUserSoadData", "AppService"))';

</script>


@{
    Bundles.Reference("approvals-dashboard");
}

<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.signalR-2.2.1.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/signalr/hubs")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/hub.js?v=3")"></script>
