﻿@using GMGColor.Resources
@using GMGColorBusinessLogic
@using GMGColorDAL
@using GMGColorDAL.Common
@model GMGColorDAL.CustomModels.ProjectFolderApprovalsGrid
@{
    DbContextBL context = HttpContext.Current.Items[DALUtils.DatabaseContext] as DbContextBL;
    int tab = ViewBag.Tab;

    DateTime userCurTime = GMGColorDAL.Common.GMGColorFormatData.GetUserTimeFromUTC(DateTime.UtcNow, Model.objLoggedAccount.TimeZone);
    string accountDomain = Model.LoggedAccount.IsCustomDomainActive ? Model.LoggedAccount.CustomDomain : Model.LoggedAccount.Domain;
    var lstCustomDecisions = (List<GMGColorDAL.CustomModels.AccountSettings.ApprovalCustomDecision>)(ViewBag.CustomDecisions);

}
<div class="thumbnail-view">
    <ul class="approval-grid">
        @foreach (var item in Model.ProjectFolderApprovalsPageView)
        {
            if (item.Approval > 0)
            {
                GMGColorDAL.Approval.ProcessingStatus appStatus = GMGColorDAL.Approval.GetApprovalStatusByProgress((int)item.Progress);
                bool inProgress = (ViewBag.Tab != -6) && (appStatus != GMGColorDAL.Approval.ProcessingStatus.Success);
                string cssQueued = ((appStatus != GMGColorDAL.Approval.ProcessingStatus.Error) && inProgress && (appStatus != GMGColorDAL.Approval.ProcessingStatus.Queued)) ? " hide" : string.Empty;
                string progressClass = (inProgress && (appStatus != GMGColorDAL.Approval.ProcessingStatus.Error)) ? " render" : string.Empty;
                string canSelect = (inProgress ? string.Empty : "choose_item");
                string cssClass = (inProgress ? " hide" : string.Empty);
                bool isVideoFile = item.ApprovalType == (int)Approval.ApprovalTypeEnum.Movie;
                GMGColorDAL.JobStatu.Status jobStatus = GMGColorDAL.JobStatu.GetJobStatus(item.Status);
                string canAccess = ((item.AllowOtherUsersToBeAdded.GetValueOrDefault() && ((item.JobOwner == Model.LoggedUser.ID && Model.LoggedUserRole != Role.RoleName.AccountContributor && Model.LoggedUserRole != Role.RoleName.AccountViewer) || (Model.LoggedUserRole == Role.RoleName.AccountAdministrator && ViewBag.ShowAllFilter)) && item.CurrentPhase > 0)
                                    || ((item.Owner == Model.LoggedUser.ID && Model.LoggedUserRole != Role.RoleName.AccountContributor && Model.LoggedUserRole != Role.RoleName.AccountViewer) || (Model.LoggedUserRole == Role.RoleName.AccountAdministrator && ViewBag.ShowAllFilter) || (Model.LoggedUserRole == Role.RoleName.AccountManager && ViewBag.ShowAllFilter))
                                    && item.CurrentPhase == 0) ? string.Empty : "no-access";

                <li class="block@(progressClass) @(canAccess) @((Model.LoggedUserRole == Role.RoleName.AccountAdministrator && ViewBag.ShowAllFilter) || item.Owner == Model.LoggedUser.ID ? string.Empty : "no-delete")">
                    <div class="thumbnail">
                        <label id="lblApproval@((int)item.Approval)" class="lblApp lblApproval@((int)item.Approval)" onclick="">
                            @if (Model.LoggedUserRole != GMGColorDAL.Role.RoleName.AccountViewer)
                            {
                                string task = (bool)item.AllowDownloadOriginal ? "all" : "share";

                                <div id="dvThumb@((int)item.Approval)" class="btn-group">
                                    <!--PBD: On client request 2013/07/22 class="btn-group@(cssQueued)-->
                                    <a href="javascript:void(0);" data-toggle="dropdown" class="ellipsisButtonList ellipsisButton">
                                        <i class="icon-ellipsis-horizontal"></i>
                                        @*<span class="caret"></span>*@
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        @if (jobStatus != JobStatu.Status.Archived && !(bool)item.IsDeleted)
                                        {
                                            <li>
                                                <a href="@Url.Action("ApprovalDetails", new { selectedApproval = item.Approval, topLinkID = tab })" class="@cssClass" action="ViewApproval" title="@Resources.lblViewDetails" approval="@((int)item.Approval)">
                                                    <i class="icon-picture"></i>&nbsp;@Resources.lblViewDetails
                                                </a>
                                            </li>
                                            if ((bool)item.AllowDownloadOriginal)
                                            {
                                                <li>
                                                    <a href="javascript:void(0);" title="@Resources.lblDownload" class="approval-action@(cssClass)" action="DownloadApproval" approval="@((int)item.Approval)">
                                                        <i class="icon-download-alt"></i>&nbsp;@Resources.lblDownload
                                                    </a>
                                                </li>
                                            }
                                            if (jobStatus != JobStatu.Status.Completed || (jobStatus == JobStatu.Status.Completed && item.Decision == "CHR"))
                                            {
                                                if (Model.LoggedUserRole != Role.RoleName.AccountRetoucher)
                                                {
                                                    if (item.MaxVersion == item.Version && Model.LoggedUserRole != Role.RoleName.AccountContributor && (tab != (int)GMGColor.Common.Utils.ApprovalTab.AllApprovals || item.IsCollaborator.GetValueOrDefault()))
                                                    {
                                                        <li>
                                                            <a href="javascript:void(0);" title="@Resources.lblAddNewVersion" class="approval-action@(cssClass)" action="VersionApproval" approval="@(item.Job)">
                                                                <i class="icon-magic"></i>&nbsp;@Resources.lblAddNewVersion
                                                            </a>
                                                        </li>
                                                    }
                                                }
                                            }
                                            if (jobStatus != GMGColorDAL.JobStatu.Status.Completed)
                                            {
                                                if (Model.LoggedUserRole != Role.RoleName.AccountRetoucher)
                                                {
                                                    if (((item.Owner == Model.LoggedUser.ID && item.CurrentPhase == 0) || (item.JobOwner == Model.LoggedUser.ID) || ViewBag.ShowAllFilter) && (!item.PrivateAnnotations))
                                                    {
                                                        <li>
                                                            <a href="javascript:void(0);" onclick="@string.Format("ApprovalExternalPermissions('{0}', '{1}', this", Url.Action("ApprovalShare", "Widget", new {@showPanel = false}), Url.Action("GetExternalCollaborators", "ProjectFolders", new {@id = item.Approval}))) " title="@Resources.lblShare" class="@(cssClass)" widget-task="all" widget-toggle="collaboratorshare" widget-type="approval" widget-id="@((int) item.Approval)" widget-external="">
                                                                <i class="icon-share-alt"></i>&nbsp;@Resources.lblShare
                                                            </a>
                                                        </li>
                                                    }
                                                }
                                                if ((item.AllowOtherUsersToBeAdded.GetValueOrDefault() && (item.JobOwner == Model.LoggedUser.ID || Model.LoggedUserRole == Role.RoleName.AccountAdministrator))
                                                    || (item.AllowOtherUsersToBeAdded.GetValueOrDefault() == false && (item.Owner == Model.LoggedUser.ID || Model.LoggedUserRole == Role.RoleName.AccountAdministrator || Model.LoggedUserRole == Role.RoleName.AccountManager))
                                                    && ((item.JobOwner == Model.LoggedUser.ID || ViewBag.ShowAllFilter) || (item.Owner == Model.LoggedUser.ID && item.CurrentPhase == 0)))
                                                {
                                                    <li>
                                                        <a href="javascript:void(0);"
                                                           onclick="@string.Format("LoadPermissions(event, '{0}', '{1}', this", Url.Action("ApprovalPermissions", "Widget", new {@refresh = false, @showPanel = false, @approvalid = (int)item.Approval}), Url.Action("GetApprovalCollaborators", "ProjectFolders", new {@id = item.Approval}))) "
                                                           title="@Resources.lblAccess" class="@(cssClass)" widget-toggle="collaboratoraccess" widget-type="approval" widget-id="@((int) item.Approval)" widget-creator="@((int) item.Creator)" widget-decision="@((int) item.PrimaryDecisionMaker)"
                                                           widget-owner="@((int) item.Owner)" widget-disabled="" widget-exdisabled="" widget-external="" widget-users="" widget-groups="">
                                                            <i class="icon-lock"></i>&nbsp;@Resources.lblAccess
                                                        </a>
                                                    </li>
                                                }
                                            }
                                            else
                                            {
                                                <li class="divider@(cssClass)"></li>
                                                <li>
                                                    <a href="javascript:void(0);" title="@Resources.lblArchive_PastTense" class="approval-action@(cssClass)" action="ArchiveApproval" approval="@((int)item.Approval)">
                                                        <i class="icon-briefcase"></i>&nbsp;@Resources.lblArchive_PresentTense
                                                    </a>
                                                </li>
                                            }
                                        }

                                        @if ((jobStatus != GMGColorDAL.JobStatu.Status.Archived && jobStatus != GMGColorDAL.JobStatu.Status.Completed && (bool)item.IsDeleted))
                                        {
                                            <li>
                                                <a href="javascript:void(0);" title="@Resources.btnRestore" class="approval-action" action="RestoreApproval" approval="@((int)item.Approval)">
                                                    <i class="icon-refresh"></i>&nbsp;@Resources.btnRestore
                                                </a>
                                            </li>
                                        }
                                        @if (((jobStatus == GMGColorDAL.JobStatu.Status.Archived) || (bool)item.IsDeleted))
                                        {
                                            <li>
                                                <a href="javascript:void(0);" title="@Resources.lblDelete" class="approval-action" action="DeleteApprovalPermanent" approval="@((int)item.Approval)">
                                                    <i class="icon-trash"></i>&nbsp;@Resources.lblDelete
                                                </a>
                                            </li>
                                        }

                                        @if ((ViewBag.LoggedUserFileTransferRole == Role.RoleName.AccountAdministrator || ViewBag.LoggedUserFileTransferRole == Role.RoleName.AccountManager))
                                        {
                                            <li>
                                                <a href="javascript:void(0);" title="@Resources.lblRestore" class="approval-action" action="FileTransferApproval" approval="@item.Approval">
                                                    <i class="icon-refresh"></i>&nbsp;@Resources.lblTransferApproval
                                                </a>
                                            </li>
                                        }
                                        @if ((((int)item.Owner == Model.LoggedUser.ID) && (jobStatus != GMGColorDAL.JobStatu.Status.Archived) && !(bool)item.IsDeleted))
                                        {
                                            bool hasMultipleApprovals = false;
                                            if (jobStatus != GMGColorDAL.JobStatu.Status.Completed)
                                            {
                                                <li class="divider@(cssClass)"></li>
                                            }
                                            if (item.Version > 1)
                                            {
                                                hasMultipleApprovals = (item.ApprovalsCount > 1); // (objJob.Approvals.Where(o => !o.IsDeleted).Count() > 1);

                                                if (hasMultipleApprovals)
                                                {
                                                    <li>
                                                        <a href="javascript:void(0);" title="@Resources.btnDeleteVersion" class="approval-action" action="DeleteVersion" approval="@((int)item.Approval)">
                                                            <i class="icon-trash"></i>&nbsp;@Resources.btnDeleteVersion
                                                        </a>
                                                    </li>
                                                }
                                            }
                                            if ((item.JobOwner == Model.LoggedUser.ID || item.Owner == Model.LoggedUser.ID) || (Model.LoggedUserRole == Role.RoleName.AccountAdministrator && ViewBag.ShowAllFilter))
                                            {
                                                <li>
                                                    <a href="javascript:void(0);" title="@Resources.lblDelete" class="approval-action" action=@(hasMultipleApprovals ? "DeleteApproval" : "DeleteVersion") approval="@((int)item.Approval)">
                                                        <i class="icon-trash"></i>&nbsp;@Resources.lblDelete
                                                    </a>
                                                </li>
                                            }
                                            if (ViewBag.LoggedUserFileTransferRole == Role.RoleName.AccountAdministrator || ViewBag.LoggedUserFileTransferRole == Role.RoleName.AccountManager)
                                            {
                                                <li>
                                                    <a href="javascript:void(0);" title="@Resources.lblRestore" class="approval-action" action="FileTransferApproval" approval="@item.Approval">
                                                        <i class="icon-refresh"></i>&nbsp;@Resources.lblTransferApproval
                                                    </a>
                                                </li>
                                            }
                                        }
                                        <li>
                                            <a href="javascript:void(0);" title="@Resources.lblOpenInHtml5" class="approval-action@(cssClass)" action="Html" approval="@((int)item.Approval)">
                                                <i class="icon-leaf"></i>&nbsp;@Resources.lblOpenInHtml5
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            }
                            @{
                                string leftPos = (!item.IsCollaborator.GetValueOrDefault() || item.CurrentPhase > 0) ? "approval" : "approval";
                            }
                            <div class="@(leftPos)">
                                <div id="thumnailViewIcons">
                                    <div class="thumnailViewIconsRow">
                                        <span class="assetType assetTypeVideo">V</span>
                                        @if (ViewBag.RetoucherWrflwEnabled && jobStatus == JobStatu.Status.ChangesComplete)
                                        {
                                            <span class="SVG-fa-Icon">
                                                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="thumbs-up" class="fa-thumbs-up" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="#4BB680" d="M104 224H24c-13.255 0-24 10.745-24 24v240c0 13.255 10.745 24 24 24h80c13.255 0 24-10.745 24-24V248c0-13.255-10.745-24-24-24zM64 472c-13.255 0-24-10.745-24-24s10.745-24 24-24 24 10.745 24 24-10.745 24-24 24zM384 81.452c0 42.416-25.97 66.208-33.277 94.548h101.723c33.397 0 59.397 27.746 59.553 58.098.084 17.938-7.546 37.249-19.439 49.197l-.11.11c9.836 23.337 8.237 56.037-9.308 79.469 8.681 25.895-.069 57.704-16.382 74.757 4.298 17.598 2.244 32.575-6.148 44.632C440.202 511.587 389.616 512 346.839 512l-2.845-.001c-48.287-.017-87.806-17.598-119.56-31.725-15.957-7.099-36.821-15.887-52.651-16.178-6.54-.12-11.783-5.457-11.783-11.998v-213.77c0-3.2 1.282-6.271 3.558-8.521 39.614-39.144 56.648-80.587 89.117-113.111 14.804-14.832 20.188-37.236 25.393-58.902C282.515 39.293 291.817 0 312 0c24 0 72 8 72 81.452z"></path></svg>
                                            </span>
                                        }
                                        else
                                        {
                                            int n;
                                            if (!Int32.TryParse(item.Decision, out n))
                                            {
                                                ApprovalDecision.Decision decision = ApprovalDecision.GetApprovalDecision(item.Decision);

                                                string approvalDecisionText = lstCustomDecisions.Any(d => d.Key == item.Decision && !string.IsNullOrEmpty(d.Name))
                                                    ? lstCustomDecisions.FirstOrDefault(d => d.Key == item.Decision).Name
                                                    : ApprovalDecision.GetLocalizedApprovalDecision(decision);

                                                bool showDecisionText = (decision != ApprovalDecision.Decision.Pending);

                                                if (!String.IsNullOrEmpty(item.Decision))
                                                {
                                                    if (showDecisionText)
                                                    {
                                                        if (decision == ApprovalDecision.Decision.Approved)
                                                        {
                                                            <span class="SVG-fa-Icon">
                                                                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="thumbs-up" class="fa-thumbs-up" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="#4BB680" d="M104 224H24c-13.255 0-24 10.745-24 24v240c0 13.255 10.745 24 24 24h80c13.255 0 24-10.745 24-24V248c0-13.255-10.745-24-24-24zM64 472c-13.255 0-24-10.745-24-24s10.745-24 24-24 24 10.745 24 24-10.745 24-24 24zM384 81.452c0 42.416-25.97 66.208-33.277 94.548h101.723c33.397 0 59.397 27.746 59.553 58.098.084 17.938-7.546 37.249-19.439 49.197l-.11.11c9.836 23.337 8.237 56.037-9.308 79.469 8.681 25.895-.069 57.704-16.382 74.757 4.298 17.598 2.244 32.575-6.148 44.632C440.202 511.587 389.616 512 346.839 512l-2.845-.001c-48.287-.017-87.806-17.598-119.56-31.725-15.957-7.099-36.821-15.887-52.651-16.178-6.54-.12-11.783-5.457-11.783-11.998v-213.77c0-3.2 1.282-6.271 3.558-8.521 39.614-39.144 56.648-80.587 89.117-113.111 14.804-14.832 20.188-37.236 25.393-58.902C282.515 39.293 291.817 0 312 0c24 0 72 8 72 81.452z"></path></svg>
                                                            </span>
                                                        }
                                                        if (decision == ApprovalDecision.Decision.ApprovedwithChanges)
                                                        {
                                                            <span class="SVG-fa-Icon">
                                                                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="thumbs-up" class="fa-thumbs-up" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="#4BB680" d="M104 224H24c-13.255 0-24 10.745-24 24v240c0 13.255 10.745 24 24 24h80c13.255 0 24-10.745 24-24V248c0-13.255-10.745-24-24-24zM64 472c-13.255 0-24-10.745-24-24s10.745-24 24-24 24 10.745 24 24-10.745 24-24 24zM384 81.452c0 42.416-25.97 66.208-33.277 94.548h101.723c33.397 0 59.397 27.746 59.553 58.098.084 17.938-7.546 37.249-19.439 49.197l-.11.11c9.836 23.337 8.237 56.037-9.308 79.469 8.681 25.895-.069 57.704-16.382 74.757 4.298 17.598 2.244 32.575-6.148 44.632C440.202 511.587 389.616 512 346.839 512l-2.845-.001c-48.287-.017-87.806-17.598-119.56-31.725-15.957-7.099-36.821-15.887-52.651-16.178-6.54-.12-11.783-5.457-11.783-11.998v-213.77c0-3.2 1.282-6.271 3.558-8.521 39.614-39.144 56.648-80.587 89.117-113.111 14.804-14.832 20.188-37.236 25.393-58.902C282.515 39.293 291.817 0 312 0c24 0 72 8 72 81.452z"></path></svg>
                                                            </span>
                                                        }
                                                        if (decision == ApprovalDecision.Decision.ChangesRequired)
                                                        {
                                                            <span class="SVG-fa-Icon">
                                                                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="thumbs-down" class="fa-thumbs-down" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="#E50A0A" d="M0 56v240c0 13.255 10.745 24 24 24h80c13.255 0 24-10.745 24-24V56c0-13.255-10.745-24-24-24H24C10.745 32 0 42.745 0 56zm40 200c0-13.255 10.745-24 24-24s24 10.745 24 24-10.745 24-24 24-24-10.745-24-24zm272 256c-20.183 0-29.485-39.293-33.931-57.795-5.206-21.666-10.589-44.07-25.393-58.902-32.469-32.524-49.503-73.967-89.117-113.111a11.98 11.98 0 0 1-3.558-8.521V59.901c0-6.541 5.243-11.878 11.783-11.998 15.831-.29 36.694-9.079 52.651-16.178C256.189 17.598 295.709.017 343.995 0h2.844c42.777 0 93.363.413 113.774 29.737 8.392 12.057 10.446 27.034 6.148 44.632 16.312 17.053 25.063 48.863 16.382 74.757 17.544 23.432 19.143 56.132 9.308 79.469l.11.11c11.893 11.949 19.523 31.259 19.439 49.197-.156 30.352-26.157 58.098-59.553 58.098H350.723C358.03 364.34 384 388.132 384 430.548 384 504 336 512 312 512z"></path></svg>
                                                            </span>
                                                        }
                                                        if (decision == ApprovalDecision.Decision.NotApplicable)
                                                        {
                                                            <span class="SVG-fa-Icon">
                                                                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="thumbs-down" class="fa-thumbs-down" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="#FF7F00" d="M0 56v240c0 13.255 10.745 24 24 24h80c13.255 0 24-10.745 24-24V56c0-13.255-10.745-24-24-24H24C10.745 32 0 42.745 0 56zm40 200c0-13.255 10.745-24 24-24s24 10.745 24 24-10.745 24-24 24-24-10.745-24-24zm272 256c-20.183 0-29.485-39.293-33.931-57.795-5.206-21.666-10.589-44.07-25.393-58.902-32.469-32.524-49.503-73.967-89.117-113.111a11.98 11.98 0 0 1-3.558-8.521V59.901c0-6.541 5.243-11.878 11.783-11.998 15.831-.29 36.694-9.079 52.651-16.178C256.189 17.598 295.709.017 343.995 0h2.844c42.777 0 93.363.413 113.774 29.737 8.392 12.057 10.446 27.034 6.148 44.632 16.312 17.053 25.063 48.863 16.382 74.757 17.544 23.432 19.143 56.132 9.308 79.469l.11.11c11.893 11.949 19.523 31.259 19.439 49.197-.156 30.352-26.157 58.098-59.553 58.098H350.723C358.03 364.34 384 388.132 384 430.548 384 504 336 512 312 512z"></path></svg>
                                                            </span>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <span class="SVG-fa-Icon label-hidden">
                                                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="thumbs-up" class="fa-thumbs-up" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="#4BB680" d="M104 224H24c-13.255 0-24 10.745-24 24v240c0 13.255 10.745 24 24 24h80c13.255 0 24-10.745 24-24V248c0-13.255-10.745-24-24-24zM64 472c-13.255 0-24-10.745-24-24s10.745-24 24-24 24 10.745 24 24-10.745 24-24 24zM384 81.452c0 42.416-25.97 66.208-33.277 94.548h101.723c33.397 0 59.397 27.746 59.553 58.098.084 17.938-7.546 37.249-19.439 49.197l-.11.11c9.836 23.337 8.237 56.037-9.308 79.469 8.681 25.895-.069 57.704-16.382 74.757 4.298 17.598 2.244 32.575-6.148 44.632C440.202 511.587 389.616 512 346.839 512l-2.845-.001c-48.287-.017-87.806-17.598-119.56-31.725-15.957-7.099-36.821-15.887-52.651-16.178-6.54-.12-11.783-5.457-11.783-11.998v-213.77c0-3.2 1.282-6.271 3.558-8.521 39.614-39.144 56.648-80.587 89.117-113.111 14.804-14.832 20.188-37.236 25.393-58.902C282.515 39.293 291.817 0 312 0c24 0 72 8 72 81.452z"></path></svg>
                                                        </span>
                                                    }
                                                }
                                            }
                                        }
                                        @if (item.CurrentPhase > 0 && !string.IsNullOrEmpty(item.WorkflowName))
                                        {
                                            <span style="padding: 5px; margin-right: 10px;">
                                                <i rel="tooltip" data-placement="right" data-original-title="@GetWorklfowDetails(item.WorkflowName, item.PhaseName, item.IsLocked.GetValueOrDefault(), item.Approval, item.IsLocked, context)">
                                                    <img src="/Content/img/green-workflow.png" class="approval-icon" />
                                                </i>
                                            </span>
                                        }
                                    </div>
                                </div>
                                <div class="cell">
                                    <a id="aThumb@((int)item.Approval)" href="javascript:void(0);" title="@Resources.lblStudio" class="approval-action@((inProgress || (bool)item.IsDeleted) ? " locked" : string.Empty)" action="Studio" approval="@((int)item.Approval)"></a>
                                    <div class="img-frame">
                                        @switch (appStatus)
                                        {
                                            case GMGColorDAL.Approval.ProcessingStatus.Queued:
                                            case GMGColorDAL.Approval.ProcessingStatus.Processing:
                                                {
                                                    <img id="imgThumb@((int)item.Approval)" alt="@Resources.lblApproval" src="/Content/img/noimage-240px-135px.png" />
                                                    break;
                                                }
                                            default:
                                            case GMGColorDAL.Approval.ProcessingStatus.Success:
                                                {
                                                    <img id="imgThumb@((int)item.Approval)" class="backup_picture" alt="@Resources.lblApproval" src="@(isVideoFile ? GMGColorDAL.Approval.GetVideoImagePath(item.Guid, Model.LoggedAccount.Region, accountDomain) : GMGColorDAL.Approval.GetApprovalImage(accountDomain, Model.LoggedAccount.Region, item.Guid, item.FileName, Approval.ImageType.Thumbnail))" />
                                                    break;
                                                }
                                            case GMGColorDAL.Approval.ProcessingStatus.Error:
                                                {
                                                    <img width="128" height="128" alt="@Resources.lblApproval" src="/Content/img/noimagError-128.png" />
                                                    break;
                                                }
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="caption">
                                <h3 class="title">
                                    <span>@item.Title</span>
                                </h3>
                                <div style="height: 26px;">
                                    @if (appStatus == GMGColorDAL.Approval.ProcessingStatus.Error)
                                    {
                                        <span class="label label-important error">
                                            @Resources.lblError
                                        </span>
                                    }
                                    else
                                    {
                                        if (jobStatus != JobStatu.Status.Completed)
                                        {
                                            //ApprovalDecision.Decision decision = ApprovalDecision.GetApprovalDecision(item.Decision);

                                            //string approvalDecisionText = lstCustomDecisions.Any(d => d.Key == item.Decision && !string.IsNullOrEmpty(d.Name))
                                            //                                  ? lstCustomDecisions.FirstOrDefault(d => d.Key == item.Decision).Name
                                            //                                  : ApprovalDecision.GetLocalizedApprovalDecision(decision);
                                            //bool showDecisionText = (decision != GMGColorDAL.ApprovalDecision.Decision.NotApplicable && decision != GMGColorDAL.ApprovalDecision.Decision.Pending);

                                            //if (!String.IsNullOrEmpty(item.Decision))
                                            //{
                                            <div class="decisions">
                                                @if (item.Version > 1)
                                                {
                                                    <span class="label alignCentre">@("v" + item.Version)</span>
                                                }
                                                @if (item.PhaseName != "")
                                                {
                                                    <span class="label alignCentre">@item.PhaseName</span>
                                                }
                                                @*<span class="label label-@decision.ToString().ToLower()">@approvalDecisionText</span>*@
                                            </div>
                                            <span id="spDue@((int)item.Approval)" style="margin-right: 5px; line-height: 26px; float: right;" class="meta@(cssClass)">@Html.Raw(GetDeadLineDuration((DateTime)item.ModifiedDate, (bool)item.IsDeleted, item.Deadline))</span>

                                        }
                                        @*}*@
                                        @*else
                                            {
                                                <div class="decisions">
                                                    <span class="label label-approved">@Resources.lblCompleted</span>
                                                </div>
                                            }*@
                                    if ((!(bool)item.IsDeleted) && ((appStatus == GMGColorDAL.Approval.ProcessingStatus.Queued) || (appStatus == GMGColorDAL.Approval.ProcessingStatus.Processing)))
                                    {
                                        Model.InProgressApprovalsIds += item.Approval + ",";
                                        <span id="h3Processing@((int)item.Approval)" class="processing">
                                            <div class="progress progress-striped active">
                                                <div id="dvProgress@((int)item.Approval)" class="bar" style="width: 100%;">
                                                </div>
                                            </div>
                                        </span>
                                        }
                                    }
                                </div>
                            </div>
                        </label>
                    </div>
                </li>
                                }
                                else if (item.Folder > 0)
                                {

                                    string folderLink = ((bool)item.IsDeleted) ? "javascript:void(0)" : Url.Action("Populate", "ProjectFolders", new { topLinkID = @item.Folder });

                                    <li class="block">
                                        <div class="thumbnail">
                                            <label id="lblFolder@((int)item.Folder)" class="lblApp" onclick="">
                                                <div class="btn-group">
                                                    @if ((Model.LoggedUserRole != GMGColorDAL.Role.RoleName.AccountContributor && Model.LoggedUserRole != GMGColorDAL.Role.RoleName.AccountViewer))
                                                    {
                                                        <a href="javascript:void(0);" class="btn btn-mini dropdown-toggle ellipsisButtonList" data-toggle="dropdown">
                                                            <i class="icon-ellipsis-horizontal"></i>
                                                        </a>
                                                        <ul class="dropdown-menu pull-right">
                                                            @if ((bool)item.IsDeleted)
                                                            {
                                                                <li>
                                                                    <a href="javascript:void(0);" title="@Resources.btnRestore" class="folder-action" action="RestoreFolder" folder="@((int) item.Folder)">
                                                                        <i class="icon-refresh"></i>&nbsp;@Resources.btnRestore
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="javascript:void(0);" title="@Resources.lblDelete" class="folder-action" action="DeleteFolderPermanent" folder="@((int) item.Folder)">
                                                                        <i class="icon-trash"></i>&nbsp;@Resources.lblDelete
                                                                    </a>
                                                                </li>
                                                            }
                                                            else
                                                            {
                                                                <li>
                                                                    <a href="javascript:void(0);" title="@Resources.lblNewFolder" class="folder-action" action="CreateFolder" folder="@((int) item.Folder)" private="false">
                                                                        <i class="icon-folder-close"></i>&nbsp;@Resources.lblNewFolder
                                                                    </a>
                                                                </li>
                                                                if (item.Creator == Model.LoggedUser.ID)
                                                                {
                                                                    <li>
                                                                        <a href="javascript:void(0);" title="@Resources.lblRename" class="folder-action" action="RenameFolder" folder="@((int) item.Folder)">
                                                                            <i class="icon-pencil"></i>&nbsp;@Resources.lblRename
                                                                        </a>
                                                                    </li>

                                                                    <li>
                                                                        <a href="javascript:void(0);" title="@Resources.lblDownload" class="folder-action" action="DownloadFolder" folder="@((int) item.Folder)">
                                                                            <i class="icon-download-alt"></i>&nbsp;@Resources.lblDownload
                                                                        </a>
                                                                    </li>
                                                                }

                                                                if ((item.AllowOtherUsersToBeAdded.GetValueOrDefault() && (item.JobOwner == Model.LoggedUser.ID || Model.LoggedUserRole == Role.RoleName.AccountAdministrator))
                                                                || (item.AllowOtherUsersToBeAdded.GetValueOrDefault() == false && (item.Owner == Model.LoggedUser.ID || Model.LoggedUserRole == Role.RoleName.AccountAdministrator || Model.LoggedUserRole == Role.RoleName.AccountManager)))
                                                                {
                                                                    <li>
                                                                        <a href="javascript:void(0);" onclick="@string.Format("LoadFolderPermissions(event, " + item.Folder + ",'{0}', '{1}', this", Url.Action("ApprovalPermissions", "Widget", new {@refresh = false, @showPanel = false,@approvalid = (int)item.Approval}), Url.Action("GetFolderCollaborators", "ProjectFolders", new {@id = item.Folder}))); " title="@Resources.lblAccess" widget-toggle="collaboratoraccess" widget-type="approval" widget-id="@((int) item.Folder)" widget-creator="@((int) item.Creator)" widget-users="" widget-groups="">
                                                                            <i class="icon-lock"></i>&nbsp;@Resources.lblAccess
                                                                        </a>
                                                                    </li>
                                                                }
                                                                if (item.Creator == Model.LoggedUser.ID)
                                                                {
                                                                    <li class="divider"></li>
                                                                    <li>
                                                                        <a href="javascript:void(0);" title="@Resources.lblArchive_PastTense" class="folder-action" action="ArchiveFolder" folder="@((int) item.Folder)">
                                                                            <i class="icon-briefcase"></i>&nbsp;@Resources.lblArchive_PastTense
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="javascript:void(0);" title="@Resources.lblDelete" class="folder-action" action="@(GMGColorDAL.Folder.IsFolderHasApprovals((int) item.Folder, context) ? "DeleteFolder" : "DeleteFolderPermanent")" folder="@((int) item.Folder)">
                                                                            <i class="icon-trash"></i>&nbsp;@Resources.lblDelete
                                                                        </a>
                                                                    </li>
                                                                }
                                                            }
                                                        </ul>
                                                    }
                                                </div>
                                                <input id="chkFolder@((int)item.Folder)" class="choose_item" folder="@((int)item.Folder)" autocomplete="off" type="checkbox" />
                                                <div class="approval">
                                                    <div class="cell">
                                                        <a class="action" href="@folderLink">
                                                            <img width="128" height="98" alt="folder" src="/Content/img/folder_128.png" />
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="block-content caption">
                                                    @if ((bool)item.IsDeleted)
                                                    {
                                                        <h3 class="title">@(item.Title)</h3>
                                                    }
                                                    else
                                                    {
                                                        <h3 class="title">
                                                            <a class="action" href="@folderLink">@(item.Title)</a> <small class="items">(@(item.SubFoldersCount))</small>
                                                        </h3>
                                                    }
                                                    <div class="meta">
                                                        <span class="deadline">@(item.ApprovalsCount)&nbsp;@Resources.lblFiles</span>
                                                    </div>
                                                </div>
                                            </label>
                                        </div>
                                    </li>
                                    }
                                }
    </ul>
</div>

@functions {
    private string GetWorklfowDetails(string workflowName, string phaseName, bool isPhaseComplete, int approvalId, bool? isLocked, DbContextBL context)
    {
        return Resources.lblWorkflow + ": " + workflowName + Environment.NewLine + Resources.lblPhase + ": " + phaseName +
            Environment.NewLine + Resources.lblStatus + ": " + (isPhaseComplete ? Resources.lblPhaseStatusCompleted : isLocked != null && isLocked.Value && ApprovalBL.IsApprovalRejected(approvalId, context)
                                                                                ? Resources.lblPhaseStatusRejected : Resources.lblStatusInProgress);
    }

    private string GetDeadLineDuration(DateTime ModifiedDate, bool IsDeleted, DateTime? Deadline)
    {
        System.Text.StringBuilder html = new System.Text.StringBuilder();

        ModifiedDate = GMGColorFormatData.GetUserTimeFromUTC(ModifiedDate, Model.LoggedAccount.TimeZone);
        DateTime userCurTime = GMGColorFormatData.GetUserTimeFromUTC(DateTime.UtcNow, Model.LoggedAccount.TimeZone);

        if (IsDeleted)
        {
            html.Append("<span class=\"deadline\">" +
                            "<strong>" + Resources.lblDeleted + ":</strong> " + GMGColorFormatData.GetFormattedDate(ModifiedDate, ViewBag.AccountDateFormat) + " " + Resources.lblAt + " " + ModifiedDate.ToString("h:mm tt") +
                        "</span>");
        }
        else if (Deadline != null && Deadline > default(DateTime))
        {
            Deadline = GMGColorFormatData.GetUserTimeFromUTC(Deadline.Value, Model.LoggedAccount.TimeZone);

            int days = (Deadline.Value - userCurTime).Days;
            int hours = Math.Abs((Deadline.Value.Hour - userCurTime.Hour));
            bool isOverDue = Deadline < userCurTime;

            html.Append("<span class=\"deadline " + (isOverDue ? "overdue" : "") + "\">" +
                            "<strong>" + (isOverDue ? Resources.lblOverDue : Resources.lblDue) + ":</strong>" +
                            "<i rel=\"tooltip\" class=\"icon-time\" data-original-title=\"" + Deadline.Value.ToString("h:mm tt") + " (" + Math.Abs(days) + " " + Resources.lblDays + ", " + hours + " " + Resources.lblHours + ")" + "\"></i>" +
                            GMGColorFormatData.GetFormattedDate(Deadline.Value, ViewBag.AccountDateFormat) +
                        "</span>");
        }
        else
        {
            if (Deadline == null)
            {
                int days = (ModifiedDate.AddDays(30) - userCurTime).Days;
                int hours = Math.Abs((ModifiedDate.AddDays(30).Hour - userCurTime.Hour));

                html.Append("<span class=\"meta\">" +
                                "<span class=\"deadline\">" +
                                    "<i data-original-title=\"" + ModifiedDate.ToString("h:mm tt") + " (" + Math.Abs(days) + " " + Resources.lblDays + ", " + hours + " " + Resources.lblHours + ")\" class=\"icon-time\" rel=\"tooltip\"></i>" +
                                    GMGColorFormatData.GetFormattedDate(ModifiedDate, ViewBag.AccountDateFormat) +
                                "</span>" +
                            "</span>");
            }
        }

        return html.ToString();
    }
}

