﻿@model ApprovalDetailsModel.VersionDetailsModel
@using GMGColor.Resources
@using GMGColorDAL
@using GMGColorDAL.Common
@using GMGColorDAL.CustomModels

@{
    var context = HttpContext.Current.Items[GMGColorDAL.DALUtils.DatabaseContext] as GMGColorBusinessLogic.DbContextBL;
}
@Html.Hidden("disableSoadIndicatorBar", Model.DisableSOADIndicator.ToString().ToLower())
<div class="subscription userPhaseContainer">
    <div class="row-fluid" id="userPartial">
        <div class="span12">
            <table id="userActivityTable" class="table table-striped table-bordered table-user-activity">
                <thead>
                    <h3>@Resources.lblUserActivity <small>@Resources.lblDatesTimesAndDecisionsMade</small></h3>
                    <tr>
                        <th>
                            @Resources.lblName<br />
                            <small>@Resources.lblRole</small>
                        </th>
                        <th>
                        </th>
                        <th>
                            @Resources.lblSent<br />
                            <small>@Resources.lblTime</small>
                        </th>
                        <th>
                            @Resources.lblOpened<br />
                            <small>@Resources.lblTime</small>
                        </th>
                        <th>
                            @Resources.lblAnnotations<br />
                            <small>@Resources.lblReplies</small>
                        </th>
                        <th>
                            @Resources.lblDecisionMade<br />
                            <small>@Resources.lblCompleted</small>
                            <small>@Resources.lblCompleted</small>
                        </th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (ApprovalDetailsCollaboratorActivity objActivity in Model.ColloaboratorActivities)
                    {
                        DateTime dtSent = GMGColorFormatData.GetUserTimeFromUTC(objActivity.Sent, Model.objLoggedAccount.TimeZone);
                        ApprovalCollaboratorRole.ApprovalRoleName objActivityRole = GMGColorDAL.ApprovalCollaboratorRole.GetRole(objActivity.CollaboratorRoleKey);
                        <tr>
                            <td class="span3">
                                <strong>@objActivity.Name </strong>
                                @if (objActivity.IsPrimaryDecisionMaker)
                                {
                                    <span rel="tooltip" class="label label-warning" data-original-title="@Resources.lblPrimaryDecisionMaker">PDM</span>
                                }
                                @if (objActivity.userStatus == 3)
                                {
                                    <span rel="tooltip" class="label label-warning" data-original-title="@Resources.lblInactive">INACTIVE</span>
                                }
                                <br />
                                <small>@objActivity.Role</small>
                            </td>
                            <td class="@(Model.DisableSOADIndicator ? "span1" : "span2")">
                                @if (!Model.DisableSOADIndicator)
                                {
                                    @Html.Partial("ProjectFolderUserSOADIndicator", new PhaseSOADIndicator { ApprovalId = Model.objApprovalVersion.ID, PhaseId = objActivity.PhaseId, UserId = objActivity.UserID })
                                }
                            </td>
                            <td class="@(Model.DisableSOADIndicator ? "span2" : "span1")">
                                @GMGColorFormatData.GetFormattedDate(dtSent, Model.objLoggedAccount, context)
                                <br />
                                <small>@GMGColorFormatData.GetFormattedTime(dtSent, Model.objLoggedAccount)</small>
                            </td>
                            <td class="span2">
                                @Html.Raw(objActivity.Opened)
                            </td>
                            <td class="span1">
                                <span class="badge badgePink">@objActivity.Annotations</span>
                                @if (@objActivity.AnnotationsPhaseRerun > 0)
                                {
                                    <span class="badge" style="background-color: #d98787;">@objActivity.AnnotationsPhaseRerun</span>
                                }
                                <br />
                                <small>@objActivity.Replies</small>
                            </td>
                            <td class="span2">
                                @objActivity.DecisionMade
                            <br />
                            @Html.Raw(objActivity.Completed)
                        </td>
                        <td class="span1">
                            @if (!objActivity.IsAccessRevoked && objActivityRole != ApprovalCollaboratorRole.ApprovalRoleName.ReadOnly && Model.JobStatus != JobStatu.Status.Completed && Model.JobStatus != JobStatu.Status.Archived)
                            {
                                Model.PhaseId = objActivity.PhaseId > 0 ? objActivity.PhaseId : null;
                                var hasPermissionsForSimpleJob = (Model.PhaseId == null && (Model.objApprovalVersion.Owner == Model.LoggedUserID || Model.LoggedUserRole == GMGColorDAL.Role.RoleName.AccountAdministrator || Model.LoggedUserRole == GMGColorDAL.Role.RoleName.AccountManager));
                                bool isPhasePdm = (Model.PhaseId != null && (Model.objApprovalVersion.PrimaryDecisionMaker != null || Model.objApprovalVersion.ExternalPrimaryDecisionMaker != null) && (Model.JobOwner != null && Model.JobOwner == Model.LoggedUserID || Model.LoggedUserRole == Role.RoleName.AccountAdministrator));
                                bool isPdmFromAPhasedGroup = Model.PhaseId != null && Model.objApprovalVersion.PrimaryDecisionMaker == null && Model.objApprovalVersion.ExternalPrimaryDecisionMaker == null && (Model.JobOwner != null && Model.JobOwner == Model.LoggedUserID || Model.LoggedUserRole == Role.RoleName.AccountAdministrator) && objActivityRole == ApprovalCollaboratorRole.ApprovalRoleName.ApproverAndReviewer;
                                bool canSendReminder = (objActivity.DecisionMade == Resources.lblNone && !Model.objApprovalVersion.IsLocked && (isPhasePdm || isPdmFromAPhasedGroup || (Model.PhaseId == null && objActivityRole != ApprovalCollaboratorRole.ApprovalRoleName.ReadOnly)));
                                bool canMakePDM = (!objActivity.IsAccessRevoked && (Model.PhaseId != null ? !isPdmFromAPhasedGroup : true) && objActivityRole == ApprovalCollaboratorRole.ApprovalRoleName.ApproverAndReviewer || objActivityRole == ApprovalCollaboratorRole.ApprovalRoleName.Reviewer);
                                bool makePDMOnPhase = (Model.LoggedUserRole != GMGColorDAL.Role.RoleName.AccountViewer && objActivity.UserID != Model.objApprovalVersion.PrimaryDecisionMaker && objActivityRole == ApprovalCollaboratorRole.ApprovalRoleName.ApproverAndReviewer);
                                bool makePDMOnSimpleJob = (objActivity.IsPrimaryDecisionMaker && Model.PhaseId == null);
                                bool IsWorkflowUserActivity = Model.Title == null;
                                bool ShowcanSendReminder = IsWorkflowUserActivity ? canSendReminder && Model.objApprovalVersion.CurrentPhase >= objActivity.PhaseId : canSendReminder;
                                int CurrentPhaseID = Model.PhaseId != null ? Model.PhaseId.Value : 0;

                                if (!Model.DisableActions && (canSendReminder || hasPermissionsForSimpleJob || (canMakePDM && (makePDMOnPhase || makePDMOnSimpleJob))))
                                {
                                    if (ShowcanSendReminder || (canMakePDM && ( makePDMOnSimpleJob || makePDMOnPhase)))
                                    {
                                    <div class="btn-group pull-right groupBtn">
                                        <a class="btn btn-mini dropdown-toggle ellipsisButton" data-toggle="dropdown" href="#">
                                            <i class="icon-ellipsis-horizontal"></i>
                                        </a>    
                                        <ul style="margin-right: -10px;" class="dropdown-menu pull-right action-menu">
                                            @if (canSendReminder &&  !IsWorkflowUserActivity)
                                            {
                                                <li>
                                                    <a data-form-method="post" href="@Url.Action("SendApprovalReminder", new {collaboratorID = objActivity.UserID, isExternalCollaborator = false, approval = Model.ID})">
                                                        <i class="icon-envelope-alt"></i> @Resources.lblSendApprovalReminder &nbsp;
                                                        <span id=Col-@CurrentPhaseID-@objActivity.UserID></span> &nbsp;
                                                        <i id=EmailSentToUser-@CurrentPhaseID-@objActivity.UserID class="hide fa fa-check-circle" style="font-size:16px; color:green"></i>
                                                        <i id=EmailNotSentToUser-@CurrentPhaseID-@objActivity.UserID class="hide fa fa-times-circle" style="font-size:16px;color:red"></i>
                                                    </a>
                                                </li>
                                            }
                                            else if (canSendReminder && Model.objApprovalVersion.CurrentPhase == objActivity.PhaseId)
                                            {
                                                <li style="margin-right: 0px;">
                                                    <a data-form-method="post" href="@Url.Action(" SendApprovalReminder", new {collaboratorID=objActivity.UserID, isExternalCollaborator=false, approval = Model.ID})">
                                                        <i class="icon-envelope-alt"></i> @Resources.lblSendApprovalReminder &nbsp;
                                                        <span id=PhaseCol-@objActivity.PhaseId-@objActivity.UserID></span> &nbsp;
                                                        <i id=EmailSentToPhasedUser-@objActivity.PhaseId-@objActivity.UserID class="hide fa fa-check-circle" style="font-size:16px; color:green"></i>
                                                        <i id=EmailNotSentToPhasedUser-@objActivity.PhaseId-@objActivity.UserID class="hide fa fa-times-circle" style="font-size:16px;color:red"></i>
                                                    </a>
                                                </li>
                                            }
                                            else if (canSendReminder && Model.objApprovalVersion.CurrentPhase > objActivity.PhaseId)
                                            {
                                                <li style="margin-right: 0px;">
                                                    <a>
                                                        <i class="icon-envelope-alt"></i> @Resources.lblSendApprovalReminder &nbsp;
                                                        <span id=PhaseCol-@objActivity.PhaseId-@objActivity.UserID></span> &nbsp;
                                                        <i id=EmailSentToPhasedUser-@objActivity.PhaseId-@objActivity.UserID class="hide fa fa-check-circle" style="font-size:16px; color:green"></i>
                                                        <i id=EmailNotSentToPhasedUser-@objActivity.PhaseId-@objActivity.UserID class="hide fa fa-times-circle" style="font-size:16px;color:red"></i>
                                                    </a>
                                                </li>
                                            }
                                            @if (canMakePDM)
                                            {
                                                if (makePDMOnSimpleJob)
                                                {
                                                    <li>
                                                        <a href="javascript:void(0);" onclick=" $('#hdnSelectedApproval').val(@Model.objApprovalVersion.ID);$('#hdnSelectedUser').val(@objActivity.UserID);$('#btnRemoveDecisionMaker').click(); "
                                                           title="@Resources.lblRemoveprimarydecisionmaker"><i class="icon-ok-sign"></i>&nbsp;@Resources.lblRemoveprimarydecisionmaker</a>
                                                    </li>
                                                    if (Model.ExternalColloaboratorActivities.Count == 0 || Model.ExternalColloaboratorActivities == null)
                                                    {

                                                        if (objActivity.selectedForPublicAnnotations)
                                                        {
                                                            <li>
                                                                <a href="javascript:void(0);" onclick=" $('#hdnSelectedApproval').val(@Model.objApprovalVersion.ID);$('#hdnSelectedUser').val(@objActivity.UserID);$('#btnRemovePrivateAnnotations').click(); "
                                                                   title="@Resources.lblMakePrivateAnnotationsOff">
                                                                    <i class="icon-ok"></i>
                                                                    @Resources.lblMakePrivateAnnotationsOff
                                                                </a>
                                                            </li>
                                                        }
                                                        else
                                                        {
                                                            <li>
                                                                <a href="javascript:void(0);" onclick=" $('#hdnSelectedApproval').val(@Model.objApprovalVersion.ID);$('#hdnSelectedUser').val(@objActivity.UserID);$('#btnPrivateAnnotations').click(); "
                                                                   title="@Resources.lblMakePrivateAnnotationsOn">
                                                                    <i class="icon-remove"></i>
                                                                    @Resources.lblMakePrivateAnnotationsOn
                                                                </a>
                                                            </li>
                                                        }
                                                    }
                                                }
                                                else if (makePDMOnPhase)
                                                {
                                                    <li>
                                                        <a href="javascript:void(0);" onclick=" $('#hdnSelectedApproval').val(@Model.objApprovalVersion.ID);$('#hdnSelectedUser').val(@objActivity.UserID);$('#btnDecisionMaker').click(); "
                                                           title="@Resources.lblMakeprimarydecisionmaker"><i class="icon-ok-sign"></i>&nbsp;@Resources.lblMakeprimarydecisionmaker</a>
                                                    </li>
                                                    <button style="display: none" id="btnDecisionMaker" type="submit" data-toggle="button" name="action" value="PrimaryDecisionMaker" />
                                                    <button style="display: none" id="btnRemovePrivateAnnotations" type="submit" data-toggle="button" name="action" value="RemovePrivateAnnotationsOnApproval" />
                                                    <button style="display: none" id="btnPrivateAnnotations" type="submit" data-toggle="button" name="action" value="AddPrivateAnnotationsOnApproval" />
                                                }
                                            }
                                        </ul>
                                        
                                    </div>
                                     }
                                  }
                            }
                        </td>
                    </tr>
                    }
                </tbody>

                <tbody>
                    @foreach (ApprovalDetailsCollaboratorActivity objActivity in Model.DeletedColloaboratorActivitiesWhoAnnotated)
                    {
                        DateTime dtSent = GMGColorFormatData.GetUserTimeFromUTC(objActivity.Sent, Model.objLoggedAccount.TimeZone);
                        ApprovalCollaboratorRole.ApprovalRoleName objActivityRole = GMGColorDAL.ApprovalCollaboratorRole.GetRole(objActivity.CollaboratorRoleKey);
                        <tr>
                            <td class="span3">
                                <strong>@objActivity.Name </strong>
                                <span rel="tooltip" class="label label-warning" data-original-title="@Resources.lblDeleted">DELETED</span>
                                <br />
                                <small>@objActivity.Role</small>
                            </td>
                            <td class="@(Model.DisableSOADIndicator ? "span1" : "span2")">
                                @if (!Model.DisableSOADIndicator)
                                {
                                    @Html.Partial("ProjectFolderUserSOADIndicator", new PhaseSOADIndicator { ApprovalId = Model.objApprovalVersion.ID, PhaseId = objActivity.PhaseId, UserId = objActivity.UserID })
                                }
                            </td>
                            <td class="@(Model.DisableSOADIndicator ? "span2" : "span1")">
                                @GMGColorFormatData.GetFormattedDate(dtSent, Model.objLoggedAccount, context)
                                <br />
                                <small>@GMGColorFormatData.GetFormattedTime(dtSent, Model.objLoggedAccount)</small>
                            </td>
                            <td class="span2">
                                @Html.Raw(objActivity.Opened)
                            </td>
                            <td class="span1">
                                <span class="badge">@objActivity.Annotations</span>
                                <br />
                                <small>@objActivity.Replies</small>
                            </td>
                            <td class="span2">
                                @objActivity.DecisionMade
                                <br />
                                @Html.Raw(objActivity.Completed)
                            </td>
                            <td class="span1"></td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>

    @if ((Model.ExternalColloaboratorActivities != null && Model.ExternalColloaboratorActivities.Count > 0) || (Model.DeletedExternalColloaboratorActivitiesWhoAnnotated != null && Model.DeletedExternalColloaboratorActivitiesWhoAnnotated.Count > 0))
    {
        <div class="row-fluid">
            <div class="span12">
                <h3>@Resources.lblExternalUserActivity <small>@Resources.lblDatesTimesAndDecisionsMade</small></h3>
                <table class="table table-striped table-bordered table-user-activity externalActivityTable">
                    <thead>
                        <tr class="adjust-widths">
                            <th>
                                @Resources.lblName<br />
                                <small>@Resources.lblRole</small>
                            </th>
                            <th>
                            </th>
                            <th>
                                @Resources.lblSent<br />
                                <small>@Resources.lblTime</small>
                            </th>
                            <th>
                                @Resources.lblOpened<br />
                                <small>@Resources.lblTime</small>
                            </th>
                            <th>
                                @Resources.lblAnnotations<br />
                                <small>@Resources.lblReplies</small>
                            </th>
                            <th>
                                @Resources.lblDecisionMade<br />
                                <small>@Resources.lblCompleted</small>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (ApprovalDetailsCollaboratorActivity objActivity in Model.ExternalColloaboratorActivities)
                        {
                            ApprovalCollaboratorRole.ApprovalRoleName objActivityRole = GMGColorDAL.ApprovalCollaboratorRole.GetRole(objActivity.CollaboratorRoleKey);
                            DateTime dtSent = GMGColorFormatData.GetUserTimeFromUTC(@objActivity.Sent, Model.objLoggedAccount.TimeZone);
                            <tr>
                                <td class="span3">
                                    <strong>@objActivity.Name </strong>
                                    @if (objActivity.IsPrimaryDecisionMaker)
                                    {
                                        <span rel="tooltip" class="label label-warning" data-original-title="@Resources.lblPrimaryDecisionMaker">PDM</span>
                                    }
                                    <br />
                                    <small>@objActivity.Role</small>
                                </td>
                                <td class="@(Model.DisableSOADIndicator ? "span1" : "span2")">
                                    @if (!Model.DisableSOADIndicator)
                                    {
                                        @Html.Partial("ProjectFolderUserSOADIndicator", new PhaseSOADIndicator { ApprovalId = Model.objApprovalVersion.ID, PhaseId = objActivity.PhaseId, UserId = objActivity.UserID })
                                    }
                                </td>
                                <td class="@(Model.DisableSOADIndicator ? "span2" : "span1")">
                                    @GMGColorFormatData.GetFormattedDate(dtSent, Model.objLoggedAccount, context)
                                    <br />
                                    <small>@GMGColorFormatData.GetFormattedTime(dtSent, Model.objLoggedAccount)</small>
                                </td>
                                <td class="span2">
                                    @Html.Raw(objActivity.Opened)
                                </td>
                                <td class="span1">
                                    <span class="badge">@objActivity.Annotations</span>
                                    @if (@objActivity.AnnotationsPhaseRerun > 0)
                                    {
                                        <span class="badge" style="background-color: #d98787;">@objActivity.AnnotationsPhaseRerun</span>
                                    }
                                    <br />
                                    <small>@objActivity.Replies</small>

                                </td>
                                <td class="span2">
                                    @objActivity.DecisionMade
                                    <br />
                                    @Html.Raw(objActivity.Completed)
                                </td>
                                <td class="span1">
                                    @if (!objActivity.IsAccessRevoked && !Model.DisableActions)
                                    {
                                        Model.PhaseId = objActivity.PhaseId > 0 ? objActivity.PhaseId : null;
                                        var hasPermissionsForSimpleJob = (Model.PhaseId == null && (Model.objApprovalVersion.Owner == Model.LoggedUserID || Model.LoggedUserRole == GMGColorDAL.Role.RoleName.AccountAdministrator || Model.LoggedUserRole == GMGColorDAL.Role.RoleName.AccountManager));
                                        var isPhasePdm = (Model.PhaseId != null && (Model.objApprovalVersion.PrimaryDecisionMaker != null || Model.objApprovalVersion.ExternalPrimaryDecisionMaker != null) && (Model.JobOwner != null && Model.JobOwner == Model.LoggedUserID || Model.LoggedUserRole == GMGColorDAL.Role.RoleName.AccountAdministrator));
                                        bool IsWorkflowUserActivity = Model.Title == null;
                                        bool isPdmFromAPhasedGroup = Model.objApprovalVersion.PrimaryDecisionMaker == null && Model.objApprovalVersion.ExternalPrimaryDecisionMaker == null && (Model.JobOwner != null && Model.JobOwner == Model.LoggedUserID || Model.LoggedUserRole == Role.RoleName.AccountAdministrator) && objActivityRole == ApprovalCollaboratorRole.ApprovalRoleName.ApproverAndReviewer;
                                        bool canMakePDM = (!objActivity.IsAccessRevoked && (Model.PhaseId != null ? !isPdmFromAPhasedGroup : true) && objActivityRole == ApprovalCollaboratorRole.ApprovalRoleName.ApproverAndReviewer || objActivityRole == ApprovalCollaboratorRole.ApprovalRoleName.Reviewer);
                                        bool makePDMOnPhase = (Model.LoggedUserRole != GMGColorDAL.Role.RoleName.AccountViewer && objActivity.UserID != Model.objApprovalVersion.PrimaryDecisionMaker && objActivityRole == ApprovalCollaboratorRole.ApprovalRoleName.ApproverAndReviewer);
                                        bool makePDMOnSimpleJob = (objActivity.IsPrimaryDecisionMaker && Model.PhaseId == null);

                                        int CurrentPhaseID = Model.PhaseId != null ? Model.PhaseId.Value : 0;

                                        <div id="userActivityButtons" class="btn-group pull-right">
                                            <a class="btn btn-mini dropdown-toggle ellipsisButtonList" data-toggle="dropdown" href="#"><i class="icon-ellipsis-horizontal"></i></a>
                                            <ul class="dropdown-menu pull-right">
                                                <li>
                                                    <a href="javascript:void(0);" onclick=" $('#hdnSelectedApproval').val(@Model.objApprovalVersion.ID);$('#hdnSelectedUser').val(@objActivity.UserID);$('#btnRevokeAccess_' + @objActivity.UserID ).click(); ">
                                                        <i class="icon-pencil"></i> @(objActivity.IsAccessRevoked ? Resources.lblGrantAccess : Resources.btnRevokeAccess)
                                                    </a>
                                                </li>


                                                @if (hasPermissionsForSimpleJob || isPdmFromAPhasedGroup || isPhasePdm)
                                                {
                                                    var canSendReminder = Model.LoggedUserRole == Role.RoleName.AccountAdministrator && objActivity.DecisionMade == Resources.lblNone && !Model.objApprovalVersion.IsLocked && Model.JobStatus != JobStatu.Status.Completed && Model.JobStatus != JobStatu.Status.Archived && (isPdmFromAPhasedGroup || isPhasePdm || (Model.PhaseId == null && hasPermissionsForSimpleJob));
                                                    if (canSendReminder && !IsWorkflowUserActivity)
                                                    {
                                                        <li>
                                                            <a data-form-method="post" href="@Url.Action("SendApprovalReminder", new { collaboratorID = objActivity.UserID, isExternalCollaborator = true, approval = Model.ID })">
                                                                <i class="icon-envelope-alt"></i> @Resources.lblSendApprovalReminder &nbsp;
                                                                <span id=ExternalCol-@CurrentPhaseID-@objActivity.UserID></span> &nbsp;
                                                                <i id=EmailSentToExternalUser-@CurrentPhaseID-@objActivity.UserID class="hide fa fa-check-circle" style="font-size:16px; color:green"></i>
                                                                <i id=EmailNotSentToExternalUser-@CurrentPhaseID-@objActivity.UserID class="hide fa fa-times-circle" style="font-size:16px;color:red"></i>
                                                            </a>
                                                        </li>
                                                    }
                                                    else if (canSendReminder && Model.objApprovalVersion.CurrentPhase == objActivity.PhaseId)
                                                    {
                                                        <li>
                                                            <a data-form-method="post" href="@Url.Action(" SendApprovalReminder", new { collaboratorID=objActivity.UserID, isExternalCollaborator=true, approval=Model.ID })">
                                                                <i class="icon-envelope-alt"></i> @Resources.lblSendApprovalReminder &nbsp;
                                                                <span id=PhaseExternalCol-@objActivity.PhaseId-@objActivity.UserID></span> &nbsp;
                                                                <i id=EmailSentToPhasedExternalUser-@objActivity.PhaseId-@objActivity.UserID class="hide fa fa-check-circle" style="font-size:16px; color:green"></i>
                                                                <i id=EmailNotSentToPhasedExternalUser-@objActivity.PhaseId-@objActivity.UserID class="hide fa fa-times-circle" style="font-size:16px;color:red"></i>
                                                            </a>
                                                        </li>
                                                    }
                                                    else if (canSendReminder && Model.objApprovalVersion.CurrentPhase >= objActivity.PhaseId)
                                                    {
                                                        <li>
                                                            <a>
                                                                <i class="icon-envelope-alt"></i> @Resources.lblSendApprovalReminder &nbsp;
                                                                <span id=PhaseExternalCol-@objActivity.PhaseId-@objActivity.UserID></span> &nbsp;
                                                                <i id=EmailSentToPhasedExternalUser-@objActivity.PhaseId-@objActivity.UserID class="hide fa fa-check-circle" style="font-size:16px; color:green"></i>
                                                                <i id=EmailNotSentToPhasedExternalUser-@objActivity.PhaseId-@objActivity.UserID class="hide fa fa-times-circle" style="font-size:16px;color:red"></i>
                                                            </a>
                                                        </li>
                                                    }
                                                    if (canMakePDM)
                                                    {
                                                        if (Model.JobStatus != GMGColorDAL.JobStatu.Status.Completed && (makePDMOnPhase || makePDMOnSimpleJob))
                                                        {
                                                            if (objActivity.IsPrimaryDecisionMaker)
                                                            {
                                                                <li>
                                                                    <a href="javascript:void(0);" onclick=" $('#hdnSelectedApproval').val(@Model.objApprovalVersion.ID);$('#hdnSelectedUser').val(@objActivity.UserID);$('#btnRemoveDecisionMaker').click(); "
                                                                       title="@Resources.lblRemoveprimarydecisionmaker"><i class="icon-ok-sign"></i>&nbsp;@Resources.lblRemoveprimarydecisionmaker</a>
                                                                </li>
                                                            }
                                                            else if (Model.LoggedUserRole != GMGColorDAL.Role.RoleName.AccountViewer)
                                                            {
                                                                <li>
                                                                    <a href="javascript:void(0);" onclick=" $('#hdnSelectedApproval').val(@Model.objApprovalVersion.ID);$('#hdnSelectedUser').val(@objActivity.UserID);$('#btnExternalDecisionMaker').click(); "
                                                                       title="@Resources.lblMakeprimarydecisionmaker"><i class="icon-ok-sign"></i>&nbsp;@Resources.lblMakeprimarydecisionmaker</a>
                                                                </li>
                                                                <button style="display: none" id="btnExternalDecisionMaker" type="submit" data-toggle="button"
                                                                        name="action" value="ExternalPrimaryDecisionMaker" />
                                                                <button style="display: none" id="@string.Format("btnRevokeAccess_{0}", @objActivity.UserID)" type="submit" data-toggle="button"
                                                                        name="action" value="RevokeAccess"></button>
                                                                        <button style="display: none" id="@string.Format("btnRevokeAccess_{0}", @objActivity.UserID)" type="submit" data-toggle="button"
                                                                                name="action" value="GrantAccess"></button>
                                                            }
                                                        }
                                                    }
                                                }
                                            </ul>
                                        </div>
                                    }
                                </td>
                            </tr>
                                                    }
                    </tbody>

                    <tbody>
                        @foreach (ApprovalDetailsCollaboratorActivity objActivity in Model.DeletedExternalColloaboratorActivitiesWhoAnnotated)
                        {
                            ApprovalCollaboratorRole.ApprovalRoleName objActivityRole = GMGColorDAL.ApprovalCollaboratorRole.GetRole(objActivity.CollaboratorRoleKey);
                            DateTime dtSent = GMGColorFormatData.GetUserTimeFromUTC(@objActivity.Sent, Model.objLoggedAccount.TimeZone);
                            <tr>
                                <td class="span3">
                                    <strong>@objActivity.Name </strong>
                                    <span rel="tooltip" class="label label-warning" data-original-title="@Resources.lblDeleted">DELETED</span>
                                    <br />
                                    <small>@objActivity.Role</small>
                                </td>
                                <td class="@(Model.DisableSOADIndicator ? "span1" : "span2")">
                                    @if (!Model.DisableSOADIndicator)
                                    {
                                        @Html.Partial("ProjectFolderUserSOADIndicator", new PhaseSOADIndicator { ApprovalId = Model.objApprovalVersion.ID, PhaseId = objActivity.PhaseId, UserId = objActivity.UserID })
                                    }
                                </td>
                                <td class="@(Model.DisableSOADIndicator ? "span2" : "span1")">
                                    @GMGColorFormatData.GetFormattedDate(dtSent, Model.objLoggedAccount, context)
                                    <br />
                                    <small>@GMGColorFormatData.GetFormattedTime(dtSent, Model.objLoggedAccount)</small>
                                </td>
                                <td class="span2">
                                    @Html.Raw(objActivity.Opened)
                                </td>
                                <td class="span1">
                                    <span class="badge">@objActivity.Annotations</span>
                                    <br />
                                    <small>@objActivity.Replies</small>
                                </td>
                                <td class="span2">
                                    @objActivity.DecisionMade
                                    <br />
                                    @Html.Raw(objActivity.Completed)
                                </td>
                                <td class="span1"></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
                                                    }
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var time = 0;
        function updateReminderEmailDetails() {
            time += 10000;
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetApprovalReminderSentDetails", "Approvals")'  + "?versionId=" + @Model.ID,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                cache: false,
                success: function (approvalsSOAD) {
                    approvalsSOAD.Content.Data.forEach(function (item, index, array) {

                        if(!item.IsExternalUser)
                        {
                            //// internal user
                            if(document.getElementById("Col-0-"+ item.Collaborator) != null){
                                document.getElementById("Col-0-"+ item.Collaborator).innerHTML = item.MailSentDate;
                            }
                            if(document.getElementById("Col-"+ item.PhaseId+"-" + item.Collaborator) != null){
                                document.getElementById("Col-"+ item.PhaseId + "-" + item.Collaborator).innerHTML = item.MailSentDate;
                            }
                            if(document.getElementById("PhaseCol-"+ item.PhaseId +"-"+ item.Collaborator) != null){
                                var PhaseCol_Date = "PhaseCol-"+ item.PhaseId + "-" + item.Collaborator;
                                var elements = document.querySelectorAll("[id="+ PhaseCol_Date);
                            
                                for(var i = 0; i < elements.length; i++) {
                                    elements[i].innerHTML = item.MailSentDate;
                                }
                            }
                            if(item.IsReminderMailSent != null)
                            {
                                if(item.IsReminderMailSent){          
                                    $('#EmailSentToUser-0-'+ item.Collaborator).removeClass('hide');
                                    $('#EmailNotSentToUser-0-'+ item.Collaborator).addClass('hide');
                                }else{
                                    $('#EmailNotSentToUser-0-'+ item.Collaborator).removeClass('hide');
                                    $('#EmailSentToUser-0-'+ item.Collaborator).addClass('hide');

                                }
                                if(document.getElementById("EmailSentToPhasedUser-"+ item.PhaseId +"-" + item.Collaborator)){
                                    var sentID = "EmailSentToPhasedUser-"+ item.PhaseId +"-" + item.Collaborator;
                                    var NonSentID = "EmailNotSentToPhasedUser-"+ item.PhaseId +"-" + item.Collaborator;
                                    if(item.IsReminderMailSent){
                                        $('[id='+sentID).removeClass('hide');
                                        $('[id='+NonSentID).addClass('hide');
                                    }else{
                                        $('[id='+NonSentID).removeClass('hide');
                                        $('[id='+sentID).addClass('hide');
                                    }
                                }
                            }
                        }
                        else
                        {
                            //// External user
                            if(document.getElementById("ExternalCol-0-"+ item.Collaborator) != null){
                                document.getElementById("ExternalCol-0-"+ item.Collaborator).innerHTML = item.MailSentDate;
                            }

                            if(document.getElementById("ExternalCol-" + item.PhaseId+"-"+  item.Collaborator) != null){
                                document.getElementById("ExternalCol-"+ item.PhaseId+"-" + item.Collaborator).innerHTML = item.MailSentDate;
                            }

                            if(document.getElementById("PhaseExternalCol-"+ item.PhaseId +"-"+ item.Collaborator) != null){
                                var PhaseCol_Date = "PhaseExternalCol-"+ item.PhaseId +"-"+ item.Collaborator;
                                var elements = document.querySelectorAll("[id="+ PhaseCol_Date);
                            
                                for(var i = 0; i < elements.length; i++) {
                                    elements[i].innerHTML = item.MailSentDate;
                                }
                            }
                            if(item.IsReminderMailSent != null)
                            {
                                if(item.IsReminderMailSent){          
                                    $('#EmailSentToExternalUser-0-'+ item.Collaborator).removeClass('hide');
                                    $('#EmailNotSentToExternalUser-0-'+ item.Collaborator).addClass('hide');
                                }else{
                                    $('#EmailNotSentToExternalUser-0-'+ item.Collaborator).removeClass('hide');
                                    $('#EmailSentToExternalUser-0-'+ item.Collaborator).addClass('hide');
                                }
                                if(document.getElementById("EmailSentToPhasedExternalUser-"+ item.PhaseId +"-"+ item.Collaborator)){
                                    var sentID = "EmailSentToPhasedExternalUser-"+ item.PhaseId +"-"+ item.Collaborator;
                                    var NonSentID = "EmailNotSentToPhasedExternalUser-"+ item.PhaseId +"-"+ item.Collaborator;
                                    if(item.IsReminderMailSent){
                                        $('[id='+sentID).removeClass('hide');
                                        $('[id='+NonSentID).addClass('hide');
                                    }else{
                                        $('[id='+NonSentID).removeClass('hide');
                                        $('[id='+sentID).addClass('hide');
                                    }
                                }
                            }
                        }

                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    if (jqXHR.readyState == 0 || jqXHR.status == 0) {
                        return;
                    } else {
                        return;
                    }
                }
            });
            //alert('Hi');
            if (time < 60000) {
                setTimeout(updateReminderEmailDetails, 10000);
            }
        }
        updateReminderEmailDetails();
    });
</script>
