﻿@using GMGColor.Resources
@using GMGColorDAL
@using GMGColorBusinessLogic
@using GMGColorDAL.Common
@model GMGColorDAL.CustomModels.ProjectFolderApprovalsGrid

@{
    <link href="@Url.Content("~/Content/css/columnwidths-default.css")" rel="stylesheet" media="screen" />

    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery/colResizable-1.3.min.js")"></script>
    <script type="text/javascript" defer="defer" async="async" src="@Url.Content("~/Content/js/resizable-columns.js")"></script>

    int tab = ViewBag.Tab;
    bool disableSOADIndicator = ViewBag.DisableSOADIndicator;
    bool disableTagwordsInDashbord = ViewBag.DisableTagwordsInDashbord;
    bool showBadges = ViewBag.ShowBadges;
    bool disableVisualIndicator = ViewBag.DisableVisualIndicator;
    string accountDomain = Model.LoggedAccount.IsCustomDomainActive ? Model.LoggedAccount.CustomDomain : Model.LoggedAccount.Domain;

    DateTime userCurTime = GMGColorFormatData.GetUserTimeFromUTC(DateTime.UtcNow, Model.objLoggedAccount.TimeZone);

    var approvals = Model.ProjectFolderApprovalsPageView.Where(a => a.Approval > 0 || a.ApprovalsCount > 0);
    var approvalJobs = new WebGrid(approvals, canPage: false);

    var gridColumns = new List<WebGridColumn>();
    gridColumns.Add(approvalJobs.Column(format: @<text>@Html.Raw(GetApprovalImage(item, Model.LoggedAccount.Region, tab, accountDomain))</text>, style: "approval-thumbnail-cell"));
    gridColumns.Add(approvalJobs.Column(columnName: GMGColorCommon.ApprovalGrigdSortColumn.Title.ToString(), header: "{Job_Name}", format: @<text>@Html.Raw(GetApprovalTagwords(item, disableTagwordsInDashbord))</text>, canSort: true));
    @*gridColumns.Add(approvalJobs.Column(columnName: GMGColorCommon.ApprovalGrigdSortColumn.Title.ToString(), header: "Project", format: @<text><p class="cell-align">Project_2</p></text>, canSort: true));*@
gridColumns.Add(approvalJobs.Column(columnName: GMGColorCommon.ApprovalGrigdSortColumn.Version.ToString(), header: "{Version_Number}", format: @<text><p class="cell-align"><p class="cell-align alignCentre">@Html.Raw(GetVersionLabel(item))</p><small class="meta" style="padding-left: 10px;">@Html.Raw(GetDeadLineDuration((DateTime)item.ModifiedDate, userCurTime, (bool)item.IsDeleted, item.Deadline))</small></p></text>, canSort: true));
if (showBadges)
{
    gridColumns.Add(approvalJobs.Column(header: Resources.lblNewAnnotations, format: (item) => Html.Partial("NewAnnotationsNo", (int)item.Approval)));
}
if (!disableSOADIndicator || !disableVisualIndicator)
{
    gridColumns.Add(approvalJobs.Column(header: Resources.lblStatusIndicator, format: (item) => Html.Partial("IndicatorBarHorizontal", new GMGColorDAL.CustomModels.IndicatorBarHorizontalViewModel { Approval = (int)item.Approval, DisableSOAD = disableSOADIndicator })));
}
gridColumns.Add(approvalJobs.Column(columnName: GMGColorCommon.ApprovalGrigdSortColumn.PrimaryDecisionMaker.ToString(), header: Resources.lblPDM, format: @<text><p class="cell-align pdm-col-@(item.Approval)">@(item.DecisionType > 0 && item.DecisionType == (int)ApprovalPhase.ApprovalDecisionType.ApprovalGroup ? "-" : item.PrimaryDecisionMaker > 0 ? item.PrimaryDecisionMakerName : "-")</p></text>, canSort: true));
    gridColumns.Add(approvalJobs.Column(columnName: GMGColorCommon.ApprovalGrigdSortColumn.PhaseName.ToString(), header: "{Current_Phase}", format: @<text><p class="cell-align phase-col-@(item.Approval)"><label>@(!string.IsNullOrEmpty(item.PhaseName) ? item.PhaseName : Resources.lblDefault)</label><small class="medium-gray-color">@(!string.IsNullOrEmpty(item.WorkflowName) ? item.WorkflowName : "-")</small></p></text>));
    gridColumns.Add(approvalJobs.Column(columnName: GMGColorCommon.ApprovalGrigdSortColumn.Deadline.ToString(), header: Resources.lblPhaseDeadline, format: @<text><p class="cell-align phasedeadline-col-@(item.Approval)"><span>-</span></p></text>));
    gridColumns.Add(approvalJobs.Column(columnName: GMGColorCommon.ApprovalGrigdSortColumn.NextPhase.ToString(), header: Resources.lblNextPhase, format: @<text><p class="cell-align nextphase-col-@(item.Approval)">@(!string.IsNullOrEmpty(item.NextPhase) ? item.NextPhase : "-")</p></text>));
    gridColumns.Add(approvalJobs.Column(columnName: GMGColorCommon.ApprovalGrigdSortColumn.DecisionMakers.ToString(), header: "{Decision_Status}", format: @<text>@Html.Raw(GetDecisionStatus(item))</text>));
    gridColumns.Add(approvalJobs.Column(format: @<text>@Html.Raw(GetApprovalMenuItem(item, tab))</text>));

    @MvcHtmlString.Create(approvalJobs.GetHtml(
            tableStyle: "table table-striped table-bordered table-responsive resizable approvals-table projecttablebrdtbl",
    mode: WebGridPagerModes.All,
    firstText: "<< ",
    lastText: " >>",
    htmlAttributes: new { id = "approvals-index" },
    columns: approvalJobs.Columns(gridColumns.ToArray())
                          ).ToString().Replace("{Job_Name}", "<span>" + Resources.lblDeliverJobName + " <br/> <small style=\"color:grey;\">" + Resources.lblOwner + "</small></span>")
                                      .Replace("{Version_Number}", "<span>" + Resources.lblVersion + "<br/> <small style=\"color:grey;\">" + Resources.lblDueDate + "</small></span>")
                                       .Replace("{Current_Phase}", "<span>" + Resources.lblCurrentPhase + " <br/> <small style=\"color:grey;\">" + Resources.lblWorkflow + "</small></span>")
                                       .Replace("{Decision_Status}", "<span>" + Resources.lblStatus + " <br/> <small style=\"color:grey;\">" + Resources.lblWhoAreWaitingFor + "</small></span>"))


    @Html.Hidden("loadActivityUrl", @Url.Action("LoadUserActivity", "ProjectFolders"))
}

<script id="detailsRowTemplate" type="text/x-custom-template">
    <tr class="userActivityDetails">
        <td>
            <img alt="Loading ..." height="30" src="/Content/img/loading-icon.gif" width="30" />
        </td>
        <td colspan="10"></td>
    </tr>
</script>
<script>
    $(document).ready(function () {
        setTimeout(function () {
            $(".lblApprovalTitleLinebreak").css('line-height', '16px')
            $(".listviewownerincolumn").css('line-height', '13px')
        }, 300);

    });
</script>

@functions {

    private string GetApprovalTagwords(dynamic item, bool disableTagwordsInDashbord)
    {
        System.Text.StringBuilder html = new System.Text.StringBuilder();

        html.Append("<p class=\"cell-align\">" +
                    "<p class=\"lblApprovalTitleLinebreak lblApprovalTitle" + (int)(item.Approval) + "\">" + HttpUtility.HtmlEncode(item.Title) + "</p>" +
                    "<small class=\"listviewownerincolumn medium-gray-color owner-col-" + ((int)item.Approval) + "\">" + item.OwnerName + "</small> </p>");

        html.Append("<div class=\"decisions\"><span class=\"label labelVideo\" style=\"background-color:" + item.StyleColor + "\" > " + item.ApprovalTypeColour + "</span></div>");

        if (item.Tagwords != "" && item.Tagwords != null && disableTagwordsInDashbord)
        {
            var tagwords = item.Tagwords.Split(',');
            html.Append("<div id=\'jobnameTagwords\'><div class=\'jobnameTagwordsRow\'> <ul>");
            foreach (var tagword in tagwords)
            {
                html.Append("<li>" + tagword + "</li>");
            }
            html.Append("</ul></div></div>");
        }

        return html.ToString();
    }

    private string GetApprovalImage(dynamic item, string region, int tab, string accountDomain)
    {
        Approval.ProcessingStatus appStatus = Approval.GetApprovalStatusByProgress((int)item.Progress);
        bool inProgress = (ViewBag.Tab != -6) && (appStatus != Approval.ProcessingStatus.Success) && (appStatus != Approval.ProcessingStatus.Error);
        string IsInProgress = (inProgress ? "inProgress" : string.Empty);
        string cssClass = (inProgress ? " hide" : string.Empty);
        string NotExecutedWorkflow = item.IsNotExecutedWorkflow ? "NotExecutedWorkflow" : "ExecutedWorkflow";
        bool isVideoFile = item.ApprovalType == (int)Approval.ApprovalTypeEnum.Movie;
        bool isZipFile = item.ApprovalType == (int)Approval.ApprovalTypeEnum.Zip;

        System.Text.StringBuilder html = new System.Text.StringBuilder();

        html.Append("<div class=\"table-thumbnail\">" +
                    "<label class=\"lblApp lblApproval" + (int)item.Approval + "\" approval=\"" + ((int)item.Approval) + "\">" +
                    "<div class=\"clearboth\">" +
                    "<div class=\"chkApproval" + (int)item.Approval + "\">");
        if (!((item.Owner != Model.LoggedUser.ID) && (bool)item.IsDeleted) && tab != -6)
        {
            html.Append("<input class=\"choose_item " + IsInProgress + " " + cssClass + " chkThumb" + ((int)item.Approval) + " pull-left " + ((bool)item.AllowDownloadOriginal ? string.Empty : "no-download ") +
                    ((Model.LoggedUserRole == Role.RoleName.AccountAdministrator && ViewBag.ShowAllFilter) || item.Owner == Model.LoggedUser.ID ? string.Empty : "no-delete ") +
                    (((Model.LoggedUserRole == Role.RoleName.AccountAdministrator || Model.LoggedUserRole == Role.RoleName.AccountManager) && (bool)item.IsCollaborator) || (item.Owner == Model.LoggedUser.ID && (Model.LoggedUserRole == Role.RoleName.AccountContributor || Model.LoggedUserRole == Role.RoleName.AccountModerator)) ? string.Empty : "no-moveToFolder ") +
                    ((bool)item.HasAnnotations ? string.Empty : "no-report") + (isVideoFile ? "video" : "other-type") + " " + NotExecutedWorkflow + "\" approval=\"" + ((int)item.Approval) + "\" autocomplete=\"off\" type=\"checkbox\" />");
        }
        html.Append("</div>" +
                    "<div class=\"approval pull-right\">" +
                    "<div class=\"approval-status-view\">" +
                    "<a id=\"aThumb" + (int)item.Approval + "\" href=\"javascript:void(0);\" title=\"" + Resources.lblStudio + "\" class=\"aThumb" + ((int)item.Approval) + " approval-action \"" + ((inProgress || (bool)item.IsDeleted) ? " locked" : string.Empty) + " action=\"StudioHtml\" approval=\"" + ((int)item.Approval) + "\">" +
                    "<div class=\"img-frame\">");
        if (item.ApprovalsCount > 0 && item.Approval == 0)
        {
            html.Append("<img width=\"128\" height=\"98\" alt=\"folder\" src=\"/Content/img/folder_128.png\" />");
        }
        else
        {
            switch (appStatus)
            {
                case GMGColorDAL.Approval.ProcessingStatus.Queued:
                case GMGColorDAL.Approval.ProcessingStatus.Processing:
                    {
                        html.Append("<img id=\"imgThumb" + ((int)item.Approval) + "\" class=\"imgThumb" + ((int)item.Approval) + "\" alt=\"" + Resources.lblApproval + "\" src=\"/Content/img/noimage-240px-135px.png\" />");
                        break;
                    }
                default:
                case GMGColorDAL.Approval.ProcessingStatus.Success:
                    {
                        if (!isZipFile)
                        {
                            html.Append("<img id=\"imgThumb" + (int)item.Approval + "\" class=\"backup_picture imgThumb" + ((int)item.Approval) + "\" rel=\"tooltip\" data-html=\"true\" alt=\"" + Resources.lblApproval + "\" src=\"" + (isVideoFile ? GMGColorDAL.Approval.GetVideoImagePath(item.Guid, region, accountDomain) : GMGColorDAL.Approval.GetApprovalImage(accountDomain, region, item.Guid, item.FileName, Approval.ImageType.Thumbnail)) + "\"/>");

                        }
                        else
                        {
                            html.Append("<img width=\"128\" height=\"128\" id=\"imgThumb" + (int)item.Approval + "\" class=\"backup_picture imgThumb" + ((int)item.Approval) + "\" rel=\"tooltip\" data-html=\"true\" alt=\"" + Resources.lblApproval + "\" src=\"" + "/Content/img/html.gif" + "\"/>");
                        }
                        break;
                    }
                case GMGColorDAL.Approval.ProcessingStatus.Error:
                    {
                        html.Append("<img width=\"128\" height=\"128\" alt=\"" + Resources.lblApproval + "\" src=\"/Content/img/noimagError-128.png\" />");
                        break;
                    }
            }
        }
        html.Append("</div>" +
                "</a>" +
                "</div>");
        if ((!(bool)item.IsDeleted) && ((appStatus == GMGColorDAL.Approval.ProcessingStatus.Queued) || (appStatus == GMGColorDAL.Approval.ProcessingStatus.Processing)))
        {
            html.Append("<span id=\"h3Processing" + (item.Approval) + "\" class=\"processing h3Processing" + item.Approval + "\">" +
                        "<div class=\"progress progress-striped active status-view-progress\">" +
                        "<div id=\"dvProgress" + item.Approval + "\" class=\"bar dvProgress" + item.Approval + "\" style=\"width: 0%;\">" +
                        "</div>" +
                        "</div>" +
                        "</span>");
        }
        html.Append("</div>" +
                    "</div>" +
                    "</label>" +
                    "</div>");

        return html.ToString();
    }

    private string GetDecisionStatus(dynamic item)
    {
        System.Text.StringBuilder html = new System.Text.StringBuilder();
        JobStatu.Status jobStatus = JobStatu.GetJobStatus(item.Status);
        bool IsJobCompleted = jobStatus == JobStatu.Status.Completed;

        string status = "<span class=\"status-col-" + item.Approval + "\"><span class=\"await-pdm-col-" + item.Approval + "\">" + (item.DecisionType > 0 ? item.IsLocked ? "<span class=\"redColor\">" + Resources.lblCompleted + "</span>" : (item.DecisionType == (int)ApprovalPhase.ApprovalDecisionType.PrimaryDecisionMaker ? Resources.lblAwaitingPDMDecision : Resources.lblAwaitingGroupApproval) :
        (string.IsNullOrEmpty(item.DecisionMakers) ? IsJobCompleted ? "<span style=\"color:red\">" + Resources.lblCompleted + "</span>" : "-" : ((!string.IsNullOrEmpty(item.Decision) && item.Decision != "0" && ApprovalDecision.GetApprovalDecision(item.Decision) != ApprovalDecision.Decision.Pending) ? "<span style=\"color:red\">" + Resources.lblCompleted + "</span>" : Resources.lblAwaitingPDM))) + "</span> <br />" +
                        "<small class=\"medium-gray-color pdm-col-" + item.Approval + "\">" + item.DecisionMakers + "</small></span>";

        html.Append(status);

        html.Append("<div class=\"decisions\" id=\"" + item.Approval + "\">");

        if (ViewBag.RetoucherWrflwEnabled && jobStatus == JobStatu.Status.ChangesComplete)
        {
            html.Append("<span style=\"background-color: #21AB03\" class=\"label approval-decision\" rel=\"tooltip\" data-toggle=\"tooltip\" data-trigger=\"hover\" data-placement=\"bottom\" data-html=\"true\">" + Resources.lblChangesComplete + "</span>");
        }
        else
        {
            int n;
            if (!Int32.TryParse(item.Decision, out n))
            {
                ApprovalDecision.Decision decision = ApprovalDecision.GetApprovalDecision(item.Decision);
                var lstCustomDecisions = (List<GMGColorDAL.CustomModels.AccountSettings.ApprovalCustomDecision>)(ViewBag.CustomDecisions);

                string approvalDecisionText = lstCustomDecisions.Any(d => d.Key == item.Decision && !string.IsNullOrEmpty(d.Name))
                                                ? lstCustomDecisions.FirstOrDefault(d => d.Key == item.Decision).Name
                                                : ApprovalDecision.GetLocalizedApprovalDecision(decision);

                bool showDecisionText = (decision != GMGColorDAL.ApprovalDecision.Decision.Pending);

                if (!String.IsNullOrEmpty(item.Decision) && showDecisionText)
                {
                    html.Append("<span class=\"label label-" + decision.ToString().ToLower() + " approval-decision\" rel=\"tooltip\" data-toggle=\"tooltip\" data-trigger=\"hover\" data-placement=\"bottom\" data-html=\"true\">" + approvalDecisionText + "</span>");
                }
            }
        }
        html.Append("</div>");

        return html.ToString();
    }

    private string GetApprovalMenuItem(dynamic item, int tab)
    {
        System.Text.StringBuilder html = new System.Text.StringBuilder();

        JobStatu.Status jobStatus = JobStatu.GetJobStatus(item.Status);
        Approval.ProcessingStatus appStatus = Approval.GetApprovalStatusByProgress((int)item.Progress);
        bool inProgress = (ViewBag.Tab != -6) && (appStatus != Approval.ProcessingStatus.Success);
        string cssClass = (inProgress ? "hide" : string.Empty);
        bool isVideoFile = item.ApprovalType == (int)Approval.ApprovalTypeEnum.Movie;
        bool isZipFile = item.ApprovalType == (int)Approval.ApprovalTypeEnum.Zip;

        if (item.Approval > 0 || item.ApprovalsCount > 0)
        {
            if (Model.LoggedUserRole != GMGColorDAL.Role.RoleName.AccountViewer)
            {
                if (!(((int)item.Owner != Model.LoggedUser.ID && Model.LoggedUserRole != Role.RoleName.AccountAdministrator) && (bool)item.IsDeleted))
                {
                    html.Append("<div id=\"approvalMenuItem" + ((int)item.Approval) + "\">" +
                                "<div id=\"dvThumb" + ((int)item.Approval) + "\" class=\"btn-group\">" +

                                "<a href=\"javascript:void(0);\" data-toggle=\"dropdown\" class=\"dropdown-toggle\">" +
                                "<i class=\"icon-ellipsis-horizontal\"></i></a>" +
                                "<ul class=\"dropdown-menu pull-right\">");
                    if (jobStatus != JobStatu.Status.Archived && !(bool)item.IsDeleted)
                    {
                        html.Append("<li><a href=\"" + Url.Action("ApprovalDetails", new { selectedApproval = item.Approval, topLinkID = tab }) + "\" class=\"" + cssClass + "\" title=\"" + Resources.lblViewDetails + "\" approval=\"" + ((int)item.Approval) + "\">" +
                              "<i class=\"icon-picture\"></i>&nbsp;" + Resources.lblViewDetails + "</a></li>");
                        if ((bool)item.AllowDownloadOriginal)
                        {
                            html.Append("<li><a href=\"javascript:void(0);\" title=\"" + Resources.lblDownload + "\" class=\"approval-action " + cssClass + "\" action=\"DownloadApproval\" approval=\"" + ((int)item.Approval) + "\">" +
                                   "<i class=\"icon-download-alt\"></i>&nbsp;" + Resources.lblDownload + "</a> </li>");
                        }

                        if (jobStatus != JobStatu.Status.Completed || (jobStatus == JobStatu.Status.Completed && item.Decision == "CHR"))
                        {
                            if (Model.LoggedUserRole != Role.RoleName.AccountRetoucher)
                            {
                                if (item.MaxVersion == item.Version && Model.LoggedUserRole != Role.RoleName.AccountContributor && (item.CurrentPhase == 0 || (item.CurrentPhase > 0 && item.IsLocked == false)) && (tab != (int)GMGColor.Common.Utils.ApprovalTab.AllApprovals || (item.IsCollaborator || item.Owner == Model.LoggedUser.ID) && item.SubFoldersCount > 0))
                                {
                                    html.Append("<li><a href=\"javascript:void(0);\" title=\"" + Resources.lblAddNewVersion + "\" class=\"approval-action " + (cssClass) + "\" action=\"VersionProjectFolderApproval\" approval=\"" + item.Job + "\">" +
                                             "<i class=\"icon-magic\"></i>&nbsp;" + Resources.lblAddNewVersion + "</a> </li>");
                                }
                            }
                        }
                        if (jobStatus != JobStatu.Status.Completed)
                        {
                            if (Model.LoggedUserRole != Role.RoleName.AccountRetoucher)
                            {
                                if (((item.AllowOtherUsersToBeAdded && item.JobOwner == Model.LoggedUser.ID && item.CurrentPhase > 0) || (Model.LoggedUserRole == Role.RoleName.AccountAdministrator && ViewBag.ShowAllFilter && item.CurrentPhase > 0)
                                    || ((item.Owner == Model.LoggedUser.ID) || (Model.LoggedUserRole == Role.RoleName.AccountAdministrator && ViewBag.ShowAllFilter) || (Model.LoggedUserRole == Role.RoleName.AccountManager && ViewBag.ShowAllFilter))
                                    ) && (!item.PrivateAnnotations) && (item.SubFoldersCount > 0))
                                {
                                    html.Append("<li><a href=\"javascript:void(0);\" onclick=\"" + string.Format("ApprovalExternalPermissions('{0}', '{1}', this", Url.Action("ApprovalShare", "Widget", new { @ShowPanel = false }), Url.Action("GetExternalCollaborators", "ProjectFolders", new { @id = item.Approval })) + ")\" title=\"" + Resources.lblShare + "\" class=\"" + (cssClass) + "\" widget-task=\"all\" widget-toggle=\"collaboratorshare\" widget-type=\"approval\" widget-id=\"" + (int)item.Approval + "\" widget-external=\"\" widget-phase=\"" + item.CurrentPhase + "\">" +
                                            "<i class=\"icon-share-alt\"></i>&nbsp;" + Resources.lblShare + "</a> </li>");
                                }
                            }
                            if ((item.AllowOtherUsersToBeAdded && item.JobOwner == Model.LoggedUser.ID && item.CurrentPhase > 0 && Model.LoggedUserRole != Role.RoleName.AccountContributor && Model.LoggedUserRole != Role.RoleName.AccountViewer) || (Model.LoggedUserRole == Role.RoleName.AccountAdministrator && ViewBag.ShowAllFilter && item.CurrentPhase > 0)
                                || ((item.Owner == Model.LoggedUser.ID && Model.LoggedUserRole != Role.RoleName.AccountContributor && Model.LoggedUserRole != Role.RoleName.AccountViewer) || (Model.LoggedUserRole == Role.RoleName.AccountAdministrator && ViewBag.ShowAllFilter) || (Model.LoggedUserRole == Role.RoleName.AccountManager && ViewBag.ShowAllFilter))
                                )
                            {
                                html.Append("<li><a href=\"javascript:void(0);\"" +
                                        "onclick=\"" + string.Format("LoadProjectFolderGridPermissions(event , '{0}', '{1}', '{2}', this", Url.Action("ProjectFolderGridApprovalPermissions", "Widget", new { @refresh = false, @showPanel = false, @approvalid = (int)item.Approval }), Url.Action("GetApprovalCollaborators", "ProjectFolders", new { @id = item.Approval }), (int)item.Approval) + ")\"" +
                                        "title=\"" + Resources.lblAccess + "\" class=\"ProjectFolderApprovalDefaultAceess-" + ((int)item.Approval) + " " + cssClass + "\" widget-toggle=\"collaboratoraccess\" widget-type=\"approval\" widget-id=\"" + ((int)item.Approval) + "\" widget-creator=\"" + (item.SubFoldersCount == 0 ? -1 : (int)item.Creator) + "\" widget-decision=\"" + ((int)item.PrimaryDecisionMaker) + "\" widget-is-external=\"" + (bool)item.IsExternalPrimaryDecisionMaker + "\"" +
                                        "widget-owner=\"" + (item.SubFoldersCount == 0 ? Model.LoggedUser.ID : (item.CurrentPhase > 0 ? item.JobOwner : item.Owner)) + "\" widget-exdisabled=\"\" widget-external=\"\" widget-users=\"\" widget-groups=\"\" widget-phase=\"" + (item.CurrentPhase) + "\" widget-decision-type=\"" + (item.DecisionType) + "\">" +
                                        "<i class=\"icon-lock\"></i>&nbsp;" + Resources.lblAccess + "</a> </li>");
                            }
                        }

                        if (item.HasAnnotations && (!isVideoFile || item.IsVideoReportEnabled > 0) && (!isZipFile))
                        {
                            html.Append("<li><a id=\"contact-support\" title=\"" + Resources.lblAnnotationsReport + "\" href=\"javascript:void(0)\" onclick=\"openReportFilterPopupfromProjectFolder(this, false) \" approval=\"" + ((int)item.Approval) + "\">" +
                                    "<i class=\"icon-list-alt\"></i>&nbsp;" + Resources.lblAnnotationsReport + "</a> </li>");
                        }

                        if (((item.JobOwner == Model.LoggedUser.ID || ((Model.LoggedUserRole == Role.RoleName.AccountAdministrator || Model.LoggedUserRole == Role.RoleName.AccountManager)  && ViewBag.ShowAllFilter)) && item.CurrentPhase > 0 && item.IsLocked == false)
                            )
                        {
                            html.Append("<li><a title=\"" + Resources.lblPhaseComplete + "\" href=\"javascript:void(0)\" class=\"approval-action\" action=\"MarkPhaseAsCompleted\" phase=\"" + item.CurrentPhase + "\" approval=\"" + ((int)item.Approval) + "\">" +
                                    "<i class=\"icon-check\"></i>&nbsp;" + Resources.lblPhaseComplete + "</a></li>");
                        }

                        if (jobStatus == JobStatu.Status.Completed)
                        {
                            html.Append("<li class=\"divider" + (cssClass) + "\"></li>" +
                            "<li><a href=\"javascript:void(0);\" title=\"" + Resources.lblArchive_PastTense + "\" class=\"approval-action " + (cssClass) + "\" action=\"ArchiveApproval\" approval=\"" + ((int)item.Approval) + "\">" +
                                    "<i class=\"icon-briefcase\"></i>&nbsp;" + Resources.lblArchive_PresentTense + "</a> </li>");
                        }

                    }
                    if ((jobStatus != GMGColorDAL.JobStatu.Status.Completed && jobStatus != GMGColorDAL.JobStatu.Status.Archived && (bool)item.IsDeleted) && item.Approval > 0)
                    {
                        html.Append("<li><a href=\"javascript:void(0);\" title=\"" + Resources.btnRestore + "\" class=\"approval-action\" action=\"RestoreApproval\" approval=\"" + ((int)item.Approval) + "\">" +
                               "<i class=\"icon-refresh\"></i>&nbsp;" + Resources.btnRestore + "</a> </li>");
                    }
                    if (item.ApprovalsCount > 0 && item.Approval == 0)
                    {
                        html.Append("<li><a href=\"javascript:void(0);\" title=\"" + Resources.btnRestore + "\" class=\"folder-action\" action=\"RestoreFolder\" folder=\"" + ((int)item.folder) + "\">" +
                               "<i class=\"icon-refresh\"></i>&nbsp;" + Resources.btnRestore + "</a> </li>");
                        html.Append("<li><a href=\"javascript:void(0);\" title=\"" + Resources.btnDelete + "\" class=\"folder-action\" action=\"DeleteFolderPermanent\" folder=\"" + ((int)item.folder) + "\">" +
                               "<i class=\"icon-trash\"></i>&nbsp;" + Resources.btnDelete + "</a> </li>");
                    }
                    if ((jobStatus == GMGColorDAL.JobStatu.Status.Archived && ((Model.LoggedUserRole == Role.RoleName.AccountAdministrator && ViewBag.ShowAllFilter) || item.Owner == Model.LoggedUser.ID) || (bool)item.IsDeleted) && item.Approval > 0)
                    {
                        html.Append("<li><a href=\"javascript:void(0);\" title=\"" + Resources.lblDelete + "\" class=\"approval-action\" action=\"DeleteApprovalPermanent\" approval=\"" + ((int)item.Approval) + "\">" +
                               "<i class=\"icon-trash\"></i>&nbsp;" + Resources.lblDelete + "</a> </li>");
                    }
                    if (jobStatus == GMGColorDAL.JobStatu.Status.Archived && !(bool)item.IsDeleted)
                    {
                        html.Append("<li><a href=\"javascript:void(0);\" title=\"" + Resources.lblRestore + "\" class=\"approval-action\" action=\"RestoreArchivedApproval\" approval=\"" + ((int)item.Approval) + "\">" +
                           "<i class=\"icon-refresh\"></i>&nbsp;" + Resources.lblRestore + "</a> </li>");
                    }

                    if ((((Model.LoggedUserRole == Role.RoleName.AccountAdministrator && (Model.LoggedUserRole == Role.RoleName.AccountAdministrator && ViewBag.ShowAllFilter)) || item.Owner == Model.LoggedUser.ID || item.JobOwner == Model.LoggedUser.ID) && (jobStatus != GMGColorDAL.JobStatu.Status.Archived) && !(bool)item.IsDeleted))
                    {
                        bool hasMultipleApprovals = false;
                        if (jobStatus != GMGColorDAL.JobStatu.Status.Completed)
                        {
                            html.Append("<li class=\"divider " + (cssClass) + "\"></li>");
                        }
                        if (item.Version > 1)
                        {
                            hasMultipleApprovals = (item.ApprovalsCount > 1);

                            if (!item.IsLocked && hasMultipleApprovals || (Model.LoggedUserRole == Role.RoleName.AccountAdministrator && ViewBag.ShowAllFilter))
                            {
                                html.Append("<li><a href=\"javascript:void(0);\" title=\"" + Resources.btnDeleteVersion + "\" class=\"approval-action\" action=\"DeleteVersion\" approval=\"" + ((int)item.Approval) + "\">" +
                                        "<i class=\"icon-trash\"></i>&nbsp;" + Resources.btnDeleteVersion + "</a> </li>");
                            }
                        }
                        html.Append("<li><a href=\"javascript:void(0);\" title=\"" + Resources.lblDelete + "\" class=\"approval-action\" action=\"" + (hasMultipleApprovals || (Model.LoggedUserRole == Role.RoleName.AccountAdministrator && ViewBag.ShowAllFilter) ? "DeleteApproval" : "DeleteVersion") + "\" approval=\"" + ((int)item.Approval) + "\">" +
                                "<i class=\"icon-trash\"></i>&nbsp;" + Resources.lblDelete + "</a> </li>");
                        if ((ViewBag.LoggedUserFileTransferRole == Role.RoleName.AccountAdministrator || ViewBag.LoggedUserFileTransferRole == Role.RoleName.AccountManager) && item.Approval > 0)
                        {
                            html.Append("<li><a href=\"javascript:void(0);\" title=\"" + Resources.lblRestore + "\" class=\"approval-action\" action=\"FileTransferApproval\" approval=\"" + ((int)item.Approval) + "\">" +
                                   "<i class=\"icon-refresh\"></i>&nbsp;" + Resources.lblTransferApproval + "</a> </li>");

                        }

                    }
                    if (item.Approval > 0)
                    {
                        html.Append(" </ul></div>");
                        html.Append("<span class=\"pull-right expandableItem\" data-item-show-status=\"" + ViewBag.DisableSOADIndicator + "\" data-item=\"" + item.Approval + "\"><i class=\"icon-angle-down icon-large\"></i></span>");
                        html.Append("</div>");
                    }
                }
            }
        }
        return html.ToString();
    }

    private string GetVersionLabel(dynamic item)
    {
        var html = new System.Text.StringBuilder();

        if (item.Version == 0)
        {
            return html.ToString();
        }
        else
        {

            html.Append("<span class=\"label btn-primary\">" + "v" + item.Version + "</span>");

            return html.ToString();
        }
    }

    private string GetDeadLineDuration(DateTime ModifiedDate, DateTime userCurTime, bool IsDeleted, DateTime? Deadline)
    {
        System.Text.StringBuilder html = new System.Text.StringBuilder();

        ModifiedDate = GMGColorFormatData.GetUserTimeFromUTC(ModifiedDate, Model.LoggedAccount.TimeZone);

        if (IsDeleted)
        {
            html.Append("<span class=\"deadline\">" +
                        "<strong>" + Resources.lblDeleted + ":</strong> " + GMGColorFormatData.GetFormattedDate(ModifiedDate, ViewBag.AccountDateFormat) + " " + Resources.lblAt + " " + ModifiedDate.ToString("h:mm tt") +
                        "</span>");
        }
        else if (Deadline != null && Deadline > default(DateTime))
        {
            Deadline = GMGColorFormatData.GetUserTimeFromUTC(Deadline.Value, Model.LoggedAccount.TimeZone);

            int days = (Deadline.Value - userCurTime).Days;
            int hours = Math.Abs((Deadline.Value.Hour - userCurTime.Hour));
            bool isOverDue = Deadline < userCurTime;

            html.Append("<span class=\"deadline " + (isOverDue ? "overdue" : "") + "\">" +
                        "<strong style=\"color: " + (isOverDue ? "#D91212;" : "#777777;") + "\" >" + (isOverDue ? Resources.lblOverDue : Resources.lblDue) + ":</strong>" + " " +
                "<i rel=\"tooltip\" class=\"icon-time\" data-original-title=\"" + Deadline.Value.ToString("h:mm tt") + " (" + Math.Abs(days) + " " + Resources.lblDays + ", " + hours + " " + Resources.lblHours + ")" + "\"></i><br />" + " " +
                GMGColorFormatData.GetFormattedDate(Deadline.Value, ViewBag.AccountDateFormat) +
                "</span>");
        }
        else
        {
            if (Deadline == null)
            {
                int days = (ModifiedDate.AddDays(30) - userCurTime).Days;
                int hours = Math.Abs((ModifiedDate.AddDays(30).Hour - userCurTime.Hour));

                html.Append("<span class=\"meta\">" +
                                "<span class=\"deadline\">" +
                                "<i data-original-title=\"" + ModifiedDate.ToString("h:mm tt") + " (" + Math.Abs(days) + " " + Resources.lblDays + ", " + hours + " " + Resources.lblHours + ")\" class=\"icon-time\" rel=\"tooltip\"></i>" +
                                GMGColorFormatData.GetFormattedDate(ModifiedDate, ViewBag.AccountDateFormat) +
                                "</span>" +
                                "</span>");
            }
        }

        return html.ToString();
    }
}
