﻿@model GMGColorDAL.CustomModels.PhaseSOADIndicator
@using GMGColor.Resources

<div class="soadContainer">
    <div id="soadIndicatorBar_@(Model.ApprovalId)_@(Model.PhaseId)" class="no-state">
        <div class="sent approval-state" rel="tooltip" data-placement="top" data-original-title="@Resources.lblSent">S</div>
        <div class="opened approval-state" rel="tooltip" data-placement="top" data-original-title="@Resources.lblOpened">O</div>
        <div class="annotation approval-state" rel="tooltip" data-placement="top" data-original-title="@Resources.lblAnnotationMade">A</div>
        <div class="decision approval-state" rel="tooltip" data-placement="top" data-original-title="@Resources.lblDecisionMade">D</div>
    </div>
</div>