﻿@model GMGColorDAL.CustomModels.ApprovalAnnotationsReportModelPDF
@using Amazon.SimpleEmail.Model
@using GMGColor.HtmlHelpers
@using GMGColor.Resources;
@using GMGColorDAL.Common;
@using GMGColorBusinessLogic
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.SiteName</title>
    @{
        Bundles.Reference("bootstrapCss");
        Bundles.Reference("bootstrapResponsiveCss");
        Bundles.Reference("annotationStyles");
        Bundles.Reference("responsiveStyles");
        Bundles.Reference("printStyles");
        Bundles.Reference("modernizr");
        Bundles.Reference("fabric");
        Bundles.Reference("annotationReportForPDF");
        Bundles.Reference("bootstrap-button");

        GMGColorDAL.Account objAcc = ViewBag.LoggedAccount;

        string dateFormat = objAcc.DateFormat1.Pattern;
    }
    @Bundles.RenderStylesheets("head")
    <link rel="shortcut icon" href="@UserBL.GetUserFavIconPath(ViewBag.LoggedAccount, ViewBag.LoggedUserFavIcon)" />
    <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
    <script src="@Url.Content("//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")" type="text/javascript"></script>

    <script type="text/javascript">
        if (typeof jQuery === 'undefined') {
            document.write(unescape('%3Cscript%20src%3D%22/Scripts/jquery-1.8.3.min.js%22%3E%3C/script%3E'));
        }
    </script>

    @Bundles.RenderScripts("head")
</head>
<body>
    <div class="container">
        <div class="row-fluid">
            <div class="span12 report-container">
                <div id="print">
                    <p class="breadcrumb breadcrumb-top" style="@(ViewBag.IsFromAPICall == null ? "display:block" : "display:none")" />
                    <a href="@Url.Action("ApprovalDetails", "ProjectFolders")">@Resources.navApprovalsDetails</a>
                    <div class="page">
                        @{ bool isFirstApproval = true; }
                        @foreach (var approval in Model.ApprovalAnnotationsModelPDF)
                        {
                            <div class="page-header">
                                @if (isFirstApproval)
                                {
                                    isFirstApproval = false;
                                    <div>
                                        <button id="printBtnpdf" title="Print" class="btn btn-primary pull-right print" disabled="disabled" data-loading-image="imgSavingLoader" data-loading-text="@Resources.btnPrinting">
                                            <i class="icon-print"></i>&nbsp;@Resources.lblPrint
                                        </button>
                                        @Html.Image("imgSavingLoader", "~/Content/img/loading-icon.gif", @Resources.lblLoading, new { @class = "hide", @style = "float: right; margin-right: 5px;" }, 30, 30)
                                    </div>
                                }
                                @if (approval.PageAnnotations.Count > 0)
                                {
                                    <h2>
                                        <span style="font-weight:bolder">@('V' + approval.Version.ToString())</span> @approval.JobTitle<small> @approval.CreatedDate</small>
                                    </h2>
                                }
                            </div>

                            <div class="approval-comments-section">
                                <label style="display: none;" class="validation-summary-errors" id="errLoad">@Resources.errLoadingAnnotations</label>
                                <label style="display: none;" class="validation-summary-errors" id="errGeneratePdf">@Resources.errGeneratePdf</label>
                                @foreach (var annotationPage in @approval.PageAnnotations)
                                {
                                    int currentPageIndex = approval.PageAnnotations.IndexOf(annotationPage);
                                    <div class="approval-page-section-container">
                                        <div class="approval-page-section" style="padding-top: 10px;">
                                            <div class="row-fluid">
                                                <div class="row-fluid print-table d-flex">
                                                    <div class="approval-details-section" id='@String.Format("approval_{0}", @approval.ApprovalID)' approval="@approval.ApprovalID" job-name="@(String.Format("{0}_{1}_{2}.pdf", approval.JobTitle.Trim(), DateTime.Today.ToString().Remove(10), Resources.lblReport))"
                                                         style="float:right; padding-bottom:10px; width:100%;">
                                                        @if (ViewBag.ShowSummaryPage && approval.PageAnnotations.Count > 0)
                                                        {
                                                            DateTime userCurTime = GMGColorFormatData.GetUserTimeFromUTC(DateTime.UtcNow, objAcc.TimeZone);
                                                            DateTime createdUserTime = GMGColorFormatData.GetUserTimeFromUTC(userCurTime, objAcc.TimeZone);
                                                            <table cellspacing="0" class="table-approval-details table-annotations-report">
                                                                <tbody>
                                                                    <tr>
                                                                        <th>
                                                                            <span>@Resources.lblApprovalNamepdf</span>
                                                                        </th>
                                                                        <td>
                                                                            @approval.JobTitle
                                                                        </td>
                                                                        <th>
                                                                            <span>@Resources.lblFileNamepdf</span>
                                                                        </th>
                                                                        <td>
                                                                            @approval.JobTitle
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>
                                                                            <span>@Resources.lblUploadDate</span>
                                                                        </th>
                                                                        <td>
                                                                            @approval.CreatedDate
                                                                        </td>
                                                                        <th>
                                                                            <span>@Resources.lblReportGenerationDate</span>
                                                                        </th>
                                                                        <td>
                                                                            @GMGColorFormatData.GetFormattedDate(userCurTime, dateFormat) @createdUserTime.ToString("h:mm tt")
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>
                                                                            <span>@Resources.lblVersion</span>
                                                                        </th>
                                                                        <td>
                                                                            @approval.Version
                                                                        </td>
                                                                        <th>
                                                                            <span>@Resources.lblApprovalOwner</span>
                                                                        </th>
                                                                        <td>
                                                                            @approval.Creator
                                                                        </td>
                                                                    </tr>
                                                                    @if (annotationPage.TimeFrame > 0)
                                                                    {
                                                                        var longtime = Math.Round((double)annotationPage.TimeFrame / 1000000);
                                                                        var mins = longtime >= 60 ? Math.Round(longtime / 60) : 0;

                                                                        <tr>
                                                                            <th>
                                                                                <span>@Resources.lblTimeFrame</span>
                                                                            </th>
                                                                            <td>
                                                                                @string.Format("{0:00}", mins):@string.Format("{0:00}", Math.Round(longtime) % 60)
                                                                            </td>
                                                                        </tr>
                                                                    }
                                                                </tbody>
                                                            </table>
                                                        }
                                                    </div>
                                                </div>

                                                <div class="row-fluid print-table d-flex">
                                                    <div class="span7 image-col" id='@(String.Format("canvas_placeholder_{0}_{1}", currentPageIndex, approval.ApprovalID))'>
                                                        <div class="canvas-preview" style="display: inline-block; width:100%;">
                                                            @if (approval.IsApprovalTypeVideo)
                                                            {
                                                                <canvas id='@(String.Format("canvas_{0}_{1}", currentPageIndex, approval.ApprovalID))' approval='@approval.ApprovalID' data-preview='@Url.Action("GetApprovalThumbnailPath", new { appGuid = annotationPage.ApprovalGuid, pageNumber = annotationPage.PageNumber, pageID = annotationPage.ApprovalPageID, timeFrame = annotationPage.TimeFrame })' data-previewidth="" data-previewheight="" data-page="@annotationPage.PageNumber" data-annotations='@annotationPage.AnnotationsIDs' data-pageID="@annotationPage.ApprovalPageID"></canvas>
                                                            }
                                                            else
                                                            {
                                                                <canvas id='@(String.Format("canvas_{0}_{1}", currentPageIndex, approval.ApprovalID))' approval='@approval.ApprovalID' data-preview='@Url.Action("GetApprovalThumbnailPath", new { appGuid = annotationPage.ApprovalGuid, pageNumber = annotationPage.PageNumber, pageID = annotationPage.ApprovalPageID, timeFrame = annotationPage.TimeFrame })' data-previewidth="" data-previewheight="" data-page="@annotationPage.PageNumber" data-annotations='@annotationPage.AnnotationsIDs' data-pageID="@annotationPage.ApprovalPageID"></canvas>
                                                            }
                                                        </div>
                                                        <img class="img-polaroid" id='@(String.Format("img_{0}_{1}", currentPageIndex, approval.ApprovalID))' approval='@approval.ApprovalID' alt="Image Not Ready"></img>
                                                    </div>

                                                    <div class="span5" style="overflow: hidden; position: relative;">
                                                        @foreach (var annotationInfo in annotationPage.AnnotationInfo)
                                                        {
                                                            <div style="max-width: 400px; padding: 10px 0 10px 0; float: right;">
                                                                <table cellspacing="0" class="table-approval-details table-annotations-report" style="width: 400px;">
                                                                    <tbody>
                                                                        <tr style="background-color:gainsboro;font-weight:bold;">
                                                                            <td>
                                                                                <span>
                                                                                    <span style="width:20px; max-width:20px; float:left"> @annotationInfo.AnnotationOrderNumber </span>
                                                                                    @if (annotationInfo.UserStatus == 3)
                                                                                    {
                                                                                        <span>@annotationInfo.AnnotationOwner (INACTIVE)</span><br />
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <span>@annotationInfo.AnnotationOwner</span><br />
                                                                                    }
                                                                                    @if (annotationInfo.AnnotationPhaseName != null)
                                                                                    {
                                                                                        <span style="padding-left:20px;">@annotationInfo.AnnotationPhaseName  - @GMGColorFormatData.GetFormattedDate(annotationInfo.AnnotatedDate, dateFormat) @GMGColorFormatData.GetUserTimeFromUTC(annotationInfo.AnnotatedDate, objAcc.TimeZone).ToString("h:mm tt")</span>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <span style="padding-left:20px;">@GMGColorFormatData.GetFormattedDate(annotationInfo.AnnotatedDate, dateFormat) @GMGColorFormatData.GetUserTimeFromUTC(annotationInfo.AnnotatedDate, objAcc.TimeZone).ToString("h:mm tt")</span>
                                                                                    }
                                                                                </span>
                                                                            </td>
                                                                        </tr>

                                                                        <tr>
                                                                            <td style="padding-left:20px; word-break:break-all;">
                                                                                <span>@annotationInfo.AnnotationComment.Replace("&lt;", "<").Replace("&gt;", ">").Replace("&amp;", "&").Replace("<p>", "").Replace("</p>", "").Replace("<strong>", "").Replace("</strong>", "").Replace("<em>", "").Replace("</em>", "").Replace("<u>", "").Replace("</u>", "")</span><br />
                                                                                @if (annotationInfo.AnnotationAttachments.Count > 0)
                                                                                {
                                                                                    <span style="font-weight:bold;">@Resources.lblAttachments.ToUpper():</span><br />
                                                                                    foreach (var attachment in annotationInfo.AnnotationAttachments)
                                                                                    {
                                                                                        <span>@attachment</span><br />
                                                                                    }
                                                                                }
                                                                                @if (annotationInfo.AnnotationChecklist != null)
                                                                                {
                                                                                    <span style="font-weight:bold;">@Resources.lblChecklist.ToUpper(): @annotationInfo.AnnotationChecklist</span><br />
                                                                                    foreach (var checklistItem in annotationInfo.AnnotationChecklistItems)
                                                                                    {
                                                                                        <span style="font-weight:bold;">@checklistItem.ChecklistItemName:</span>
                                                                                        <span>@checklistItem.ChecklistItemValue</span><br />
                                                                                    }
                                                                                }
                                                                            </td>
                                                                        </tr>

                                                                        @foreach (var reply in annotationInfo.AnnotationReplies)
                                                                        {
                                                                            <tr>
                                                                                <td style="padding-left:20px;">
                                                                                    <span style="font-weight:bold;">
                                                                                        @if (reply.UserStatus == 3)
                                                                                        {
                                                                                            <span>@reply.AnnotationOwner (INACTIVE)</span><br />
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            <span>@reply.AnnotationOwner</span><br />
                                                                                        }
                                                                                        @if (reply.AnnotationPhaseName != null)
                                                                                        {
                                                                                            <span>@reply.AnnotationPhaseName - @GMGColorFormatData.GetFormattedDate(reply.AnnotatedDate, dateFormat) @GMGColorFormatData.GetUserTimeFromUTC(reply.AnnotatedDate, objAcc.TimeZone).ToString("h:mm tt")</span><br />
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            <span>@GMGColorFormatData.GetFormattedDate(reply.AnnotatedDate, dateFormat) @GMGColorFormatData.GetUserTimeFromUTC(reply.AnnotatedDate, objAcc.TimeZone).ToString("h:mm tt")</span><br />
                                                                                        }
                                                                                    </span>
                                                                                    <span style="word-break:break-all;">@reply.AnnotationComment.Replace("&lt;", "<").Replace("&gt;", ">").Replace("&amp;", "&").Replace("<p>", "").Replace("</p>", "").Replace("<strong>", "").Replace("</strong>", "").Replace("<em>", "").Replace("</em>", "").Replace("<u>", "").Replace("</u>", "")</span>
                                                                                </td>
                                                                            </tr>
                                                                        }
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                                <div class="print-header print-page-header">
                                                    <h3 style="padding-left: 450px;">@Resources.lblPage @annotationPage.PageNumber</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                            <!-- /approval-comments-section -->
                        }
                    </div>
                    <!-- /page -->
                </div>
                <!-- /print -->
                <div class="form-actions" style="@(ViewBag.IsFromAPICall == null ? "display:block" : "display:none")">
                    <a class="btn btn-primary upper pull-right" href="@(ViewBag.IsFromDashboard ? Url.Action("ProjectFolderApprovalsIndex", "ProjectFolders") : Url.Action("ApprovalDetails", "ProjectFolders"))">@Resources.btnOk</a>
                </div>
                @Html.Hidden("default-file-name", Resources.lblAnnotationsReport.Trim() + ".pdf")
                @Html.Hidden("summary-page-check", (bool)ViewBag.ShowSummaryPage)
                @Html.Hidden("report-type", (string)ViewBag.ReportType)
                @Html.Hidden("data-annotations-url", @Url.Action("PageGroupedAnnotations", "ProjectFolders"))
            </div>
        </div>
    </div>
    <script type="text/javascript" src="@Url.Content("~/Content/js/downloadjs/download.min.js")"></script>
</body>
</html>
