/*!
 * Plans / Index
 */
 
.plan-header {
	  	//padding-bottom: @baseLineHeight /2;
	    //border-bottom: 1px solid #e5e5e5;
	    //margin: @baseLineHeight /2 0;
	    .btn-group {
		  margin: 4px 8px 0 0;  
	    }
}

.negative {
	color: @red;
	font-weight: @headingsFontWeight;
}



