<li {{bind-attr class=":czn-list-user comment.isEditing:czn-editing" }}>
    <div id="editCommentArea" class="czn-edit-comment form-control" style="padding: 0px; height:50px;" {{action "editcommenthandle" on="keyUp"}}></div>
    <button type="button" class="btn btn-default btn-xs" data-dismiss="modal" {{action "cancelEdit"}}>{{t "btnCancel"}}</button>
    <button type="button" class="btn btn-primary btn-xs" {{action "updateAnnotation" comment}}>{{t "btnSave"}}</button>
</li>