<li {{bind-attr class=":czn-list-user" commentid="comment.id"}}>
    <div class="czn-comment-actions pull-right">
        {{#if userCanAnnotate}}
            {{#if comment.userCanDeleteAnnotation}}
                <span class="fa fa-times" {{action "deleteAnnotation" comment}} {{bind-attr title="lblDelete"}}></span>
            {{/if}}
            {{#if comment.userCanEditAnnotation}}
                <span class="fa fa-pencil" {{action "editAnnotation" comment}} {{bind-attr title="lblEdit"}}></span>
            {{/if}}
            <span class="fa fa-copy" {{action "copyAnnotationComment" comment}} {{bind-attr title="lblCopy"}}></span>
        {{/if}}
    </div>
    <figure class="czn-avatar">
        <img class="pull-left" {{bind-attr src="comment.collaborator.CollaboratorAvatar" alt="comment.userName"}}>
        <figcaption class="czn-comment-text" {{bind-attr id="comment.Comment"}}></figcaption>
        <figcaption class="czn-comment-date">{{comment.userName}} - {{ comment.commentDateFormated }} - {{ comment.PhaseName }}</figcaption>
    </figure>
</li>
