<div class="modal-overlay">
</div>
<div id="alertDialog" class="unselectable confirmModal modal-sm" tabindex="-1" role="dialog" data-backdrop="false" aria-hidden="true">
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Close" {{action "cancel"}}><span aria-hidden="true">&times;</span></button>
          <h4 class="widget-title">{{messageTitle}}</h4>
      </div>
      <div class="modal-body">
          <p> <strong>{{ messageHeading }}</strong> </p>
          <p> {{messageBody}} </p>
          <p> <em> {{messageNote}} </em> </p>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn" data-dismiss="modal" {{action "cancel"}}>{{okButton}}</button>
      </div>
    </div>
</div>
