@bootstrap-path: "/vendor/bootstrap/less/";
// IMPORTING BOOTSTRAP

// Core variables and mixins
@import "/bower_components/bootstrap/less/variables.less";
@import "/bower_components/bootstrap/less/mixins.less";

// Reset
@import "/bower_components/bootstrap/less/normalize.less";
@import "/bower_components/bootstrap/less/print.less";

// Core CSS
@import "/bower_components/bootstrap/less/scaffolding.less";
@import "/bower_components/bootstrap/less/type.less";
@import "/bower_components/bootstrap/less/code.less";
@import "/bower_components/bootstrap/less/grid.less";
@import "/bower_components/bootstrap/less/tables.less";
@import "/bower_components/bootstrap/less/forms.less";
@import "/bower_components/bootstrap/less/buttons.less";

// Components
@import "/bower_components/bootstrap/less/component-animations.less";
@import "/bower_components/bootstrap/less/dropdowns.less";
@import "/bower_components/bootstrap/less/button-groups.less";
@import "/bower_components/bootstrap/less/input-groups.less";
@import "/bower_components/bootstrap/less/navs.less";
@import "/bower_components/bootstrap/less/navbar.less";
@import "/bower_components/bootstrap/less/breadcrumbs.less";
@import "/bower_components/bootstrap/less/pagination.less";
@import "/bower_components/bootstrap/less/pager.less";
@import "/bower_components/bootstrap/less/labels.less";
@import "/bower_components/bootstrap/less/badges.less";
@import "/bower_components/bootstrap/less/jumbotron.less";
@import "/bower_components/bootstrap/less/thumbnails.less";
@import "/bower_components/bootstrap/less/alerts.less";
@import "/bower_components/bootstrap/less/progress-bars.less";
@import "/bower_components/bootstrap/less/media.less";
@import "/bower_components/bootstrap/less/list-group.less";
@import "/bower_components/bootstrap/less/panels.less";
@import "/bower_components/bootstrap/less/wells.less";
@import "/bower_components/bootstrap/less/close.less";

// Components w/ JavaScript
@import "/bower_components/bootstrap/less/modals.less";
@import "/bower_components/bootstrap/less/tooltip.less";
@import "/bower_components/bootstrap/less/popovers.less";
@import "/bower_components/bootstrap/less/carousel.less";

// Utility classes
@import "/bower_components/bootstrap/less/utilities.less";
@import "/bower_components/bootstrap/less/responsive-utilities.less";

// IMPORTING Font-awesome
@fontawesome-path: "/bower_components/font-awesome/less/";
//
@import "/bower_components/font-awesome/less/variables";
@import "/bower_components/font-awesome/less/mixins";
@import "/bower_components/font-awesome/less/path";
@import "/bower_components/font-awesome/less/core";
@import "/bower_components/font-awesome/less/larger";
@import "/bower_components/font-awesome/less/fixed-width";
@import "/bower_components/font-awesome/less/list";
@import "/bower_components/font-awesome/less/bordered-pulled";
//@import "/bower_components/font-awesome/less/spinning";
@import "/bower_components/font-awesome/less/rotated-flipped";
@import "/bower_components/font-awesome/less/stacked";
@import "/bower_components/font-awesome/less/icons";

@import "mixins.less";
@import "variables.less";
@import "theme.less";
@import "zoom-percentages.less";
@import "czn-fonts.less";
@import (less) "tree.css";
@import (less) "theme.css";

html, body, .czn-application {
  height: 100%;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
body {
  margin: 0;
  padding: @navbar-height 0 0 0;
}
.selectable {
  cursor: pointer;
}
.czn-navbar {
//  background-color: #5e5e5e;
  margin-bottom: 0;
}
.czn-navbar .czn-btn {
  background:  0 0;
//  color: #fff;
//  border: .2em solid transparent;
  outline:  0;
//  font-size: 24px;
  margin-bottom: 0;
  padding: 6px 12px;
}
.czn-navbar a.czn-btn {
  color: auto;
}

.czn-navbar .czn-btn:active,
.czn-navbar .czn-btn:focus,
.czn-navbar .czn-btn:hover {
  color: inherit;
  box-shadow: none;
  outline: none;
//  background-color: #707070;
}
.czn-logo {
  background: url('@{images-path}nologo-122px-33px.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 150px;
  margin-left: 5px;
//  height: 60px;
}
.czn-main,
.czn-sidebar,
.video-view{
  height: 100%;
}
.czn-sidebar {
  padding: 0;
  overflow: auto;
  z-index: 3;
  background-color: #ffffff;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
}
.czn-main {
  background: @gray-lighter;
  padding: 0;
  z-index: 1;
  overflow: hidden;
}
.czn-users header,
.czn-projects header,
.czn-phases header,
.czn-annotations header,
.czn-decisions header,
.czn-comments header,
.czn-controls-toolbar,
.czn-compare-toolbar {
  // #gradient.vertical(#fff; #f2f2f2; 0%; 100%);
  // border-bottom: 1px solid #d4d4d4;
  // border-top: 1px solid #d4d4d4;
  // background-clip: padding-box;
  // box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.6);
  margin: 0;
  color: #fff;
  // color: @gray;
  padding: 1em .6em;
  font-size: 12px;
  background-color: #45566D;
}
.czn-users ul,
.czn-projects ul,
.czn-phases ul,
.czn-annotations ul.czn-list {
  padding: .5em;
}
li.czn-list-user,
li.czn-list-annotation,
li.czn-list-page,
li.czn-list-status {
  .clearfix();
  padding: .6em 0 .6em .6em;
  border: 1px solid transparent;
  border-bottom-color: @gray-lighter;
}
.czn-inner-verticalLine {
  height: 26px;
    border: 1px solid #777;
    position: absolute;
    left: -6px;
    top: 18px;
}
li .czn-verticalLine-public {
  border-left: 10px solid #b4d488;
  position: absolute;
  height: 65px;
  border-radius: 5px;
}
li .czn-verticalLine-private {
  border-left: 10px solid #f1ca98;
  position: absolute;
  height: 65px;
  border-radius: 5px;
}

.czn-list-annotation-section {
   padding-left: 20px;
 }

li.czn-list-user {
  margin-top: 5px;
}
.czn-comment-modal li.czn-list-user{
  background-color: #FFFCD7;
  border-top-color: #E4B338;
  border-bottom-color: transparent;
}
.czn-list-user figcaption,
.czn-annotation-icon figcaption,
.czn-list-status figcaption,
.czn-list-page figcaption {
  margin-left: 1em;
  font-size: .9em;
  padding-top: .4em;
  -moz-user-select: text !important;
  -ms-user-select: text !important;
}
.czn-list li.selected {
  background-color: #fff;
  border: 1px solid #D5D5D6;
}

li.czn-list-annotation.selected {
  background-color: #fdfbd6;
  border: 1px solid #dfba3e;
}

.czn-annotation-icon div.czn-glyph-icon {
  font-size: 1.1em;
  text-align: center;
  padding-top: 8px;
  .square(28px);
}
.czn-list-annotation-text {
  font-size: .9em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 400;
}
.czn-list-annotation-page-date {
  font-size: .75em;
}
.czn-list-annotation-info {
  margin: 0 34px 0 28px;
}

@icon-status-size: 24px;
.czn-img-icon {
  .square(@icon-status-size);
  display: block;
}
.czn-img-icon-header {
  .square(28px);
  display: block;
}
.czn-img-icon-large {
  .square(32px);
  display: block;
}
#czn-icon(@icon-name, @icon-size, @icon-path, @icon-hdpi-path, @class-name) {
  .@{class-name}-@{icon-name} {
    .img-retina(
      "@{icons-path}@{icon-name}.png",
      "@{icons-hdpi-path}@{icon-name}.png",
      @icon-size, @icon-size);
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
}
#czn-status-icons-header() {
  @icon-status-class: czn-icon-status-header;
  @icon-status-size: 32px;

  #czn-icon(approved, @icon-status-size, @icons-path, @icons-hdpi-path, @icon-status-class);
  #czn-icon(declined, @icon-status-size, @icons-path, @icons-hdpi-path, @icon-status-class);
  #czn-icon(neutral, @icon-status-size, @icons-path, @icons-hdpi-path, @icon-status-class);
}
#czn-status-icons-header();
#czn-status-icons-small() {
  @icon-status-class: czn-icon-status;
  @icon-status-size: 24px;

  #czn-icon(approved, @icon-status-size, @icons-path, @icons-hdpi-path, @icon-status-class);
  #czn-icon(declined, @icon-status-size, @icons-path, @icons-hdpi-path, @icon-status-class);
  #czn-icon(neutral, @icon-status-size, @icons-path, @icons-hdpi-path, @icon-status-class);
}
#czn-status-icons-small();

.czn-glyphicon-header {
  font-size: 1.7em;
  text-align: center;
  vertical-align: middle;
  margin-right: 0 !important;
  padding-top: .12em;
  // color: @gray-dark;
  color: #333;
}
.czn-sidebar-header,
figcaption.czn-sidebar-header,
.czn-nonselectable-user figcaption {
  font-weight: 700;
  font-size: 12px;
  padding-top: 6px;
  // color: @gray-dark;
  color: #333;
}
.czn-annotation-status ul {
  min-width: 0;
  padding: 5px;
}
.czn-annotation-status .dropdown-toggle {
  padding-left: 2px;
  padding-right: 2px;
}
.divider-vertical {
  height: 30px;
  margin: 0 9px;
  border-left: 2px solid #797979;
  border-right: 2px solid #606060;
  display: inline-block;
  vertical-align: middle;
}
.czn-decisions header {
  text-align: center;
  font-size: 1em;
  font-weight: 700;
}
.btn-decision {
  .btn-default;
  #gradient.vertical(#fff; #f2f2f2; 0%; 100%);
  width: 100%;
  border-radius: 0;
  border-top: none;
  border-left: none;
  border-right: none;
}
.btn-decision.active {
  .btn-primary;
}
.czn-comments textarea {
  min-height: 200px;
}
.czn-decision-action,
.czn-comment-action{
  margin-top: 15px;
  width: 100%;
  text-align: center;
}
.czn-image-viewer {
  width: 100%;
  height: 100%;
  //background: @gray-lighter;
  background: transparent;
}

.czn-image-view-container {
  width: 100%;
  height: 100%;
  background: transparent;
}

.czn-image-viewer .leaflet-control-minimap{
  border: 1px solid #d4d4d4;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.6);
  padding: 10px;
  background-image: -webkit-linear-gradient(top, #FFF 0%, #F2F2F2 100%);
  background-image: linear-gradient(to bottom, #FFF 0%, #F2F2F2 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
  bottom: 29px;
  right: 4px;
  -webkit-box-shadow: -3px -1px 9px 1px #d4d4d4;
  -moz-box-shadow:    -3px -1px 9px 1px #d4d4d4;
  box-shadow:         -3px -1px 9px 1px #d4d4d4;
}
.czn-image-viewer, .czn-pager {
  .user-select(none);
}

.czn-image-viewer div.ember-view:first-child {
  height: 0;
}

.czn-pager-text {
  display: inline-block;
  vertical-align: top;
  padding-top: 3px;
  margin-top: 4px;
  background: #555;
}
.czn-pager .czn-pager-btn {
  background-color: #45566D;
  color: #fff;
  border-radius: 20px;
  padding: 1px;
}
.czn-pager .czn-pager-btn.disabled {
  background-color: #45566D;
  color: #fff;
  cursor: default;
  border-radius: 20px;
  padding: 1px;
}
.czn-avatar img {
  width: 28px;
}

[data-ember-action] {
  cursor: pointer;
}
body.loading div.czn-loading-screen {
  display: block;
}

.czn-loading-screen {
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
}

.modal-dialog{
  position: absolute;
  left: 50%;
  //now you must set a margin left under zero - value is a half width your window
  margin-left: -1 * (@modal-sm / 2);
  // this same situation is with height - example
  top: 50%;
  margin-top: -69px;
}
.czn-title-version .dropdown-toggle {
  font-size: 1.1em;
  border: 0 none;
  cursor: pointer;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media screen and (min-width: 1200px) and (max-width: 1250px) {
  .czn-title-version .dropdown-toggle {
    max-width: 180px;
  }
}

@media screen and (min-width: 750px) and (max-width: 990px) {
  .czn-title-version .dropdown-toggle {
    max-width: 180px;
  }
}

@media screen and (min-width: 1250px) and (max-width: 1350px) {
  .czn-title-version .dropdown-toggle {
    max-width: 200px;
  }
}


.czn-version-thumbnail {
  max-width: 50px;
  max-height: 50px;
}
.czn-sidebar-handle {
  position: relative;
  height: 100%;
  width: 11px;
  margin-left: -11px;
  float: left;
  z-index: 2;
  cursor: pointer;
  #gradient.horizontal(#fff; #f2f2f2; 0%; 100%);
  border-left: 1px solid #d4d4d4;
  border-right: 1px solid #d4d4d4;
  background-clip: padding-box;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.6);
  color: @gray;
  line-height: 100%;
  text-align: center;
  font-size: 12px;
}
.czn-sidebar-handle:hover {
  #gradient.horizontal(darken(#fff, 5%); darken(#f2f2f2,5%); 0%; 100%);
}
.czn-sidebar-handle.closed:before {
  content: "◀";
  #vertical-align-middle();
}
.czn-sidebar-handle.open:before {
  content: "▶";
  #vertical-align-middle();
}
.czn-navbar-main-controls {
  max-width: 550px;
  margin: 0 auto;
  text-align: center;
}
.czn-navbar-main-controls-tablet{
  max-width: 150px;
  margin: 0 auto;
  text-align: center;

  .btn{
    display: inline-block !important;
  }
}
.czn-navbar-main-controls-phone {
  max-width: 100%;
  margin: 0 4px 0 auto;
  text-align: center;
  padding: 0;
  .btn{
    display: inline-block !important;
    margin-top: 6px;
  }
  a.btn{
    display: inline-block !important;
    float:right;
    margin-top: 6px;
    color: #555555;
  }
}
.czn-navbar-main-controls-phone .czn-decision-list {
  float: left;;
  margin-left: 15px;
}
.czn-version-controls {
  padding: 3px 20px;
}
.czn-add-version {
  border: 0;
}

.czn-version-item, .czn-html-item {
  margin: 10px;
}

.czn-version-item .label, .czn-html-item .label {
  margin-bottom: 0px;
}

.czn-project-approvals {
  width: 93%;
  background-color: #eee;
  text-align: center;
  border: 2px solid #e2e2e2;
}

.czn-version-item * {
  margin: 0px 2px;
}
.czn-decision-list {
  display: inline-block;
}

.dropdown-menu-arrow:before {
  position: absolute;
  top: -7px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.dropdown-menu-arrow:after {
  position: absolute;
  top: -6px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  border-left: 6px solid transparent;
  content: '';
}
.dropdown-menu-arrow-left:before {
  left: 9px;
}
.dropdown-menu-arrow-left:after {
  left: 10px;
}
.dropdown-menu-arrow-right:before {
  right: 9px;
}
.dropdown-menu-arrow-right:after {
  right: 10px;
}
.czn-decision {
  text-align: left;
}
.czn-navbar-divider {
  display: inline-block;
  width: 1px;
  background: #fff;
  height: 41px;
  vertical-align: middle;
  border-right: 1px solid #ddd;
}
.distanced {
  margin-left: 15px;
  margin-right: 15px;
}
.spinner {
  width: 100px;
}
.spinner input {
  text-align: right;
}
.czn-draw-group, .czn-shape-group {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  height: 34px;
}
.czn-spinner-wrapper {
  width: 60px;
  display: inline-table;
}
.input-group-btn-vertical {
  position: relative;
  white-space: nowrap;
  width: 1%;
  vertical-align: middle;
  display: table-cell;
}
.input-group-btn-vertical > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  padding: 8px;
  margin-left: -1px;
  position: relative;
  border-radius: 0;
}
.input-group-btn-vertical > .btn:first-child {
  border-top-right-radius: 4px;
}
.input-group-btn-vertical > .btn:last-child {
  margin-top: -2px;
  border-bottom-right-radius: 4px;
}
.input-group-btn-vertical i{
  position: absolute;
  top: 0;
  left: 4px;
}
.czn-colorpicker {
  margin-top: -26px;
  padding: 0;
}
.czn-colorpicker input {
  padding: 0;
  margin: 0;
  border: none;
  height: 40px;
  width: 37px;
  vertical-align: middle;
  background: 0;
}
.czn-shape-group .dropdown-menu {
  padding-left: 5px;
  padding-right: 5px;
}
.czn-shape-group .dropdown-menu > li {
  float: left;
}
.czn-shape-group .dropdown-menu > li > a  {
  clear: none;
  padding: 2px;
}
.czn-shape-group .czn-colorpicker {
  margin-top: -3px;
}
.czn-bottom-bar {
  position: absolute;
  z-index: 6;
  width: 100%;
  bottom: 0;
  padding-right: 10px;
  /*text-align: center;*/
}
.czn-controls-toolbar,
.czn-compare-toolbar {
  padding: 3px 4px;
}
.czn-page-viewer {
  height: 130px;
  background: #fff;
  overflow: auto;
  overflow-y: hidden;
  margin: 0;
  padding: 0px 10px;
  width: 100%;
  white-space: nowrap;
  z-index: 3;
}

.czn-controls-toolbar section.pull-left{
  height: 30px;
  //display: inline-table;
}

.toolbar-fixed-size {
  max-width: 600px;
}

.btnShowPagination {
  margin-right: 3px;
}

.czn-horizontal-page-viewer{
  bottom: 40px;
}

.czn-page-navigation-up{
  position: absolute;
  bottom: 175px;
  width: 200px;
  margin-left:-80px;
  background-color: transparent;
  height: 45px;
  border-bottom-color: #BFBFBE;
  z-index: 4;
  left:50%;
}
.czn-horizontal-page-navigation-up{
  bottom: 130px;
}
.czn-page-navigation-down{
  position: absolute;
  bottom: 35px;
  width: 200px;
  margin-left:-80px;
  background-color: transparent;
  height: 45px;
  z-index: 4;
  left:50%;
}
.czn-horizontal-page-navigation-down{
  bottom: 36px;
}
.czn-pager-position{
  text-align: center;
  margin-top: 10px;
  z-index:10;
}
.czn-page-viewer li {
  padding: 2px;
  border: 2px solid transparent;
  height: 126px;
  width:100px;
  position: relative;
}
.czn-page-viewer li img {
  max-height: 80px;
  max-width: 90px;
  margin: 2px auto;
  display: block;
  box-shadow: 3px 3px 2px #c7c7c7;
}

.czn-page-viewer li.active img {
  /*border: 1px solid red;*/
}
.czn-page-viewer li:hover,
.czn-page-viewer li.active {
  border: 1px solid red;
  background-color: #e2e2e2;
  height:auto;
}

input.czn-slider {
  display: inline-block;
  width: 100px;
  vertical-align: middle;
}
.btn-sm {
  font-size: 11px;
}
.czn-separations {
  position: absolute;
  z-index: 2;
  right: 20px;
  top: 10px;
  background: @gray;
  color: #fff;
  border: 2px solid #000000;
  border-radius: 5px;
  width: 200px;
  padding: 2px 8px 8px;
  box-shadow: 4px 5px 6px #777777;
}
.czn-separations header {
  border-bottom: 1px solid #fff;
  font-size: .9em;
  cursor: move;
}
.czn-separations .close{
  color: #fff;
  position: relative;
  top: -1em;
  background: #555555;
  opacity: 1;
  line-height: 18px;
}
.czn-separations ul {
  margin-bottom: 10px;
}
.czn-separation-color {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  border:2px solid #808080;
  width: 20px;
  height: 20px;
  color: #000000;
  background-color: #ffffff;
}
.czn-separation-color i.fa{
  font-size: 12px;
  padding: 2px;
}
.czn-separations a {
  color: #fff;
  display: block;
  font-size: .8em;
  margin-top: 5px;
}
.czn-separations a:hover {
  text-decoration: none;
}
.czn-color(~"white");
.czn-color(~"cyan");
.czn-color(~"magenta");
.czn-color(~"yellow");
.czn-color(~"black");
.czn-color(~"green");
.czn-color(~"orange");

.czn-user-modal {
  display: grid;
  background-color: #eff5f4;
  position: absolute;
  margin-top: -10px;
  //top: 110px;
  //right: 18px;
  z-index: 2;
  min-height: 0px;
  width: 265px;
  max-height: 165px;
  overflow: auto;
  text-align: center;
  padding: 10px 5px 10px 15px;
}
.czn-approval-user {
width: inherit;
max-height: 100px;
//text-align: initial;
}

.czn-comment-modal {
  position: absolute;
  top: 5px;
  right: 30px;
  z-index: 2;
  width: 330px;
}

.czn-comment-modal .modal-body {
  padding: 0;
  height: auto;
  overflow: auto;
  max-height: 170px;
}
.czn-comment-modal .modal-footer form {
  margin-bottom: 20px;
}
.czn-comment-modal .modal-footer {
  margin-top: 0;
  padding-bottom: 5px;
}

.czn-comment-modal-footer {
  padding-top: 5px;
}

.unselectable {
  .user-select(none);
  outline: none;
}
.czn-comments-list figcaption {
  margin-left: 30px;
  font-size: .8em;
  word-wrap: break-word;
  padding: 0 25px;
  min-height: 20px;
  .user-select(initial)
}
.czn-comments-list .czn-comment-actions {
  width: 20px;
  display: none;
}
.czn-approval-user:hover{
  background-color: #ccf2f5;
}
.czn-comments-list li:hover .czn-comment-actions {
  display: block;
}
ul.nav > li > .czn-navbar-divider {
  margin-top: 5px;
}
.czn-navbar-right-controls > ul > li > a {
  padding-bottom: 10px;
}
.czn-page-number{
  display: block;
  text-align: center;
}
.czn-checklist-name {
margin-left: -15px;
text-align: left;
height:22px;
width:328px;
background-color:rgb(121, 129, 105);
color: rgb(236, 234, 234);
vertical-align: middle;
}
.czn-checklist {
  list-style: none;
  padding: 5px 0px 5px 5px;
  vertical-align: middle;
  margin: 5px -15px 0px -15px;
  overflow: hidden;
  overflow-y: auto;
  max-height: 120px;
  cursor: default;
}

.czn-checklistForli {
  display: contents;
  height: 2em;
  text-align: left;
  margin-left: -22px;
}

.czn-checklist-none {
margin-left: 5px;
}

.czn-checklistItemtitle {
  vertical-align: middle;
  width: 140px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  float: left;
  padding-left: 10px;
  position: relative;
  top: 3px;
}

.czn-checklistItemtitle [data-ember-action] {
  cursor: default;
}

.czn-checklistItemtitle .fa {
  width: 15px;
}

.czn-checklistItemvalue {
  float: left;
  vertical-align: middle;
  width: 162px;
}

.czn-add-checklist {
resize: vertical;
height: 26px;
min-height: 26px;
width: inherit;
}
.czn-add-comment,
.czn-edit-comment {
  resize: vertical;
  margin-bottom: 5px;
}
.czn-checkbox-icon {
  width: 13px;
}
#comments-modal .modal-header{
  cursor: move;
}
#comments-modal{
  z-index: 4;
}
.czn-list-user.czn-editing{
  padding-right: 10px;
}
.czn-slider{
  position: relative;
  height: 28px;
  vertical-align: bottom;

  & .czn-slider-track{
    background:#CACACA !important;
    height:3px !important;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    border-top:1px solid #6F6F6F;
    margin-top: 15px;
  }
  & .czn-slider-selection{
    background-color: #CACACA !important;
    background-image: none;
  }
  & .czn-slider-handle {
    border: 1px solid #6F6F6F;
    background-color: #E9E9E9;
    height: 16px;
    width: 8px;
    position: absolute;
    cursor: pointer;
    top: 7px;
    -webkit-box-shadow: 0px 1px 2px 0px #575757;
    -moz-box-shadow: 0px 1px 2px 0px #575757;
    box-shadow: 0px 1px 2px 0px #575757;
  }
}
.czn-marker-handle {
  border: 1px solid #ffff00;
  border-radius: 5px 5px 25px 25px;
  background-color: #ffff00;
  height: 16px;
  min-width: 9px;
  font-size:10px;
  font-weight: bold;
  position: absolute;
  cursor: pointer;
  top: 7px;
  -webkit-box-shadow: 0px 1px 2px 0px #575757;
  -moz-box-shadow: 0px 1px 2px 0px #575757;
  box-shadow: 0px 1px 2px 0px #575757;
}

.czn-slider-image .czn-slider-handle .czn-marker-handle{
  height:12px;
  width:12px;
  top: 10px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-image: none !important;
}
.czn-slider-image.czn-slider, .czn-slider-video.czn-slider{
  display: inline-block;
}
.czn-slider-video .czn-slider-handle .czn-marker-handle{
  top: 7px;
}
.czn-slider-image .czn-slider-track{
  width: 100px;
}
.czn-slider-video .czn-slider-track, .czn-slider-video{
  width: 600px;
}
@media (max-width: 980px)
{
  .czn-slider-video .czn-slider-track, .czn-slider-video{
    width: 100%;
  }
  .czn-slider-video{
    padding: 0px 15px 0px 15px;
  }
}
.czn-slider-video{
  margin: 0px auto;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: none;
}
a:not([href]) {
  cursor: default !important;
}
video {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  padding: 70px;
  max-height: 100%;
  #vertical-align-middle()
}
.czn-align-center {
  text-align: center;
}
.czn-seekbar-time{
  display: inline-block;
  position: relative;
  top: -2px;
  margin-left: 10px;
}
.czn-page-version{
  z-index: 1;
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #E3E2E2;
  vertical-align: text-top;
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 7px 12px;
  border-radius: 3px;
  color: #333;
}

.versionstyle {
  font-size:140%;
  font-weight: 700;
  padding-right: 5px;
}
.versiontitlestyle {
  top: -1px;
  position: relative;
}

.czn-verion-container .versionstyle {
  font-size:100%;
  min-width: 10px;
  display: inline-block;
  vertical-align: middle;
}

.czn-verion-container .versiontitlestyle {
  top: 0px;
  width: 65%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  vertical-align: middle;
}

.czn-page-version-overlay {
  z-index: 1;
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #555;
  width:250px;
}

.czn-verion-container{
  background-color: #555;
  width:17%;
}

.czn-verion-container .clonedlabel .versiontitlestyle {
  display:none;
}

.leaflet-control-minimap-pagination{
  bottom: 160px !important;
}
.czn-seekbar-container{
  text-align: center;
}

//#versions-list-dropdown{
//  max-height: 500px;
//  overflow-y: auto;
//  overflow-x: hidden;
//}
.czn-subversions-menu span, .czn-multiplehtmlpages-menu{
  clear: both;
  font-weight: 400;
  color: #333;
  white-space: nowrap;
}
.czn-versions-container, .czn-versions-container ul {
  width: 410px;
  height: auto;
  max-height: 500px;
  overflow: auto;
}
.czn-html-title{
  max-width: 350px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position:relative;
  top:10px;
}
.czn-version-title{
  max-width: 245px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position:relative;
  top:10px;
}

.czn-version > a:hover * {
  color: #fff !important;
}

.czn-version-titleNr{
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  width: 35px;
}
.czn-slider-video .czn-slider-track{
  background:#D9D8DA !important;
  height:19px !important;
  margin-top: 6px;
  border: 1px solid #C9C5C5;
}

.czn-slider-video .czn-slider-handle{
  border: 1px solid #93060d;
  background-color: #e91613;
  border-radius: 5px 5px 25px 25px;
}

.czn-slider-video .czn-slider-selection{
  height: 17px;
  width: 0px;
  background: #e6e5e9 !important;
}
.czn-controls-divider {
  display: inline-block;
  width: 1px;
  background: #fff;
  height: 25px;
  vertical-align: middle;
  border-right: 1px solid #ddd;
}
.czn-compare-group{
  position: relative;
  display: inline-block;
  vertical-align: middle;
  height: 27px;
}
.czn-font, .czn-bold{
  font-size: .9em;
}
.czn-bold{
  font-weight: 700;
  padding-right: 4px;
}
.czn-version-toolbar-controls .czn-colorpicker {
  margin-top: -6px;
  padding-bottom: 9px;
}
.czn-version-toolbar-controls input {
  padding: 1px;
  margin-top: -4px;
  border: none;
  height: 30px;
  width: 27px;
  vertical-align: middle;
  background: 0;
}
.czn-version-slider{
  position: relative;
  height: 31px;
  vertical-align: bottom;
  padding: 0px 4px 0px 4px;
}
.czn-minimap{
  display: block;
  position: absolute;
  z-index: 3;
  right: 15px;
  bottom: 60px;
  background: #555;
  color: #FFF;
  border: 2px solid #000;
  border-radius: 5px;
  width: 225px;
  height: 255px;
  padding: 8px;
  overflow: hidden;
}
.czn-minimap .close {
  color: #FFF;
  position: relative;
  top: -0.9em;
}
.czn-minimap .czn-minimap-container img {
  display: block;
  margin: 0 auto;
  max-height: 239px !important;
  max-width: 209px !important;
}
.czn-minimap .czn-minimap-container {
  #vertical-align-middle();
}
.czn-minimap .czn-minimap-selection {
  border:2px solid red;
  min-width: 6px;
  min-height: 6px;
//  max-width: 209px;
//  max-height: 239px;
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
}
.czn-versions {
  width:100%;
  overflow:hidden;
}
.czn-versions-ul {
  display: inline;
  list-style-type: none;
  position: relative;
  float: left;
  padding-left: 0px;
}
li.czn-versions-li {
  width: 100%;
  height: 100%;
  float: left;
  position: relative;
  border:2px solid transparent;
}

li.czn-versions-li.active {
  border: 2px solid #d2322d;
}
.czn-minimap-hidden {
 visibility: hidden;
}
.czn-minimap-top {
  bottom: 170px;
}
.czn-version-lock {
  margin-top: 0px;
  z-index: 1;
  position: absolute;
  top: 10px;
  left: 50%;
  margin-left: -14px;
  // color: #ffffff;
}
.czn-lock-button {
  background-color:#DB1914;
  opacity: 0.8;
  color: #ffffff;
}
.czn-unlock-button {
  background-color:#1ABA29;
  opacity: 0.8;
  color: #ffffff;
}
.czn-version-lock,
.czn-lock-button:hover,
.czn-lock-button:focus,
.czn-unlock-button:hover,
.czn-fa-lock {
  color: #ffffff;
}
.czn-fa-disabled {
  opacity: 0.6;
  cursor: auto;
}
.czn-leaflet-canvas {
  // position: absolute;
  top: 0px;
  left: 0px;
  // width: 500px;
  // height: 500px;
}
.leaflet-div-icon {
  background: #000;
  border: 2px solid #fff;
  min-width: 20px;
  min-height: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 1px #000;
  padding: 1px 3px 1px 3px;
  cursor: pointer;
  position: absolute;
}
.leaflet-marker-icon .number {
  font-size: 11px;
  color: #fff;
  font-weight: 700;
  text-align: center;
  font-family: monospace;
}
.leaflet-marker-icon .fa-plus-square-o {
  font-size: 14px;
}
.pinsvideo-layer, .canvasvideo-layer {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
}
.czn-overlay-view-opacity,
.czn-overlay-view {
  width:100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top:0px;
  z-index: 2;
}
.czn-overlay-view-opacity {
  z-index: 3;
}
.czn-top-navigation {
   position: absolute;
   width: 100%;
   z-index: 1;
 }
.czn-plus-icon {
  display: inline;
  position: absolute;
  color: #fff;
}
.badge-background-color {
  background-color: #fff;
  color: #45566D;
}
//For colorpicker
input{
  padding: 8px;
  border-radius: 4px;
}
.color-swatch {
  height: 25px;
  width: 25px;
  border: 1px solid #fff;
  display: none;
}
.rgb-input,
.hex-input {
  padding-top: 12px;
  padding-bottom: 12px;
}

.hex {
  width: 100px;
  padding: 8px;
  border-radius: 4px;
}

.rgb {
  width: 40px;
  margin-left: 4px;
  margin-right: 4px;
  padding: 8px;
  border-radius: 4px;
}
.czn-marker-cursor {
  cursor: crosshair !important;
}
.czn-shapes-layer, .canvas-container{
  width: auto !important;
  height: auto !important;
}

#czn-marker-line {
    margin:auto;
    border-top:1px solid #eeeeee;
    border-bottom:1px solid #000000;
    height:2px;
    position: absolute;
    transform-origin: 0px 0px;
    -webkit-transform-origin: 0px 0px;
    -ms-transform-origin: 0px 0px;
    z-index:3;
}
.czn-annotation-markers {
  position: absolute;
  top: 30%;
  left: 40%;
  color: #fff;
  font-size: 11px;
  text-align: center;
  font-weight: bold;
}
.czn-leaflet-canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.image-text-highlighting {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
  display: none;
  //pointer-events: none;
  //border:1px solid red;
}
.box-text-highlighting {
  display: block;
  position: absolute;
  color: transparent;
  overflow: hidden;
  cursor: text;
  pointer-events: auto;
//  background-color: red;
//  opacity: 0.4;
}
.box-text-highlighting.selected {
  color: #80E6FF;
  background: #80E6FF;
  opacity: 0.5
}
.czn-comment-modal .modal-content {
  background-color: #FFFAB1;
}
.czn-comment-modal .modal-header,
.czn-comment-modal .modal-footer {
  border-top: none;
  border-bottom: none;
}
.czn-comment-modal .modal-footer{
  padding-top: 0px;
}
.czn-comment-modal .modal-header {
  padding-bottom: 5px;
}
.czn-comment-modal #commentArea {
  background-color: #FFFCD8;
  border:1px solid #E2DFBB;
  border-radius: 0px;
}
.options-text-highlighting{
  position: absolute;
  height: 30px;
  border:1px solid #BBBABA;
  border-radius: 4px;
  padding: 0px 0px 0px 0px;
  //#gradient.vertical(#fff; #f2f2f2; 0%; 100%);
  background: #F5F5F5 url('@{images-path}icons/text-icons.png') no-repeat 50% 50%;
  z-index: 3;
  display: none;
  box-shadow: 2px 2px 0px rgba(200, 200, 200, 0.5);
}
.options-text-highlighting ul{
  list-style: none;
  padding: 0px;
  margin: 0px;
  font-size: 0px;
  line-height: 0px;
}
.options-text-highlighting ul>li{
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 0px;
  padding: 0px;
  border-right: 1px solid #BBBABA;
}
.options-text-highlighting ul>li:last-of-type{
  border-right: none;
}

.options-text-highlighting ul>li:nth-of-type(1):hover, .options-text-highlighting ul>li:nth-of-type(1).selected{
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.options-text-highlighting ul>li:nth-of-type(4):hover, .options-text-highlighting ul>li:nth-of-type(4).selected{
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.options-text-highlighting ul>li:hover, .options-text-highlighting ul>li.selected{
  #gradient.radial(transparent;#cecece);
}
.box-text-highlighting.selected.strike{
  background: transparent url('@{images-path}icons/text-icon-strike.png') repeat-x 0% 65%;
}
div.softproofing-data{
  height: 41px;
  vertical-align: middle;
  display: inline-block;
  margin: 10px 10px 0px 0px;
}
.softproofing-monitor-name{
  display: inline-block;
  position: relative;
  top: -5px;
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.softproofing-calibrated{
  background: transparent url('@{images-path}icons/softproofing/1.png') no-repeat;
  width: 40px;
  height: 30px;
  display: inline-block;
}
.softproofing-not-calibrated{
  background: transparent url('@{images-path}icons/softproofing/2.png') no-repeat;
  width: 40px;
  height: 30px;
  display: inline-block;
}
.softproofing-expired{
  background: transparent url('@{images-path}icons/softproofing/3.png') no-repeat;
  width: 31px;
  height: 30px;
  display: inline-block;
}
.czn-annotation-controls span.btn-3d{
  background-color: #d3d3d3;
  background-image: -webkit-linear-gradient(top, color-stop(#ffffff 0%), color-stop(#d3d3d3 100%));
  background-image: linear-gradient(to bottom, #ffffff 0%, #d3d3d3 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffd3d3d3', GradientType=1);
}
.czn-annotation-controls span.btn-3d.active{
  background-color: #f2f2f2;
  background-image: -webkit-linear-gradient(top, color-stop(#ffffff 0%), color-stop(#f2f2f2 100%));
  background-image: linear-gradient(to bottom, #ffffff 0%, #f2f2f2 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=1);
}
.btn-info.btn-3d{
  background-color: #ff5bc0de;
  background-image: -webkit-linear-gradient(top, color-stop(#5bc0de 0%), color-stop(#105689 100%));
  background-image: linear-gradient(to bottom, #5bc0de 0%, #105689 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff105689', GradientType=1);
}
.czn-comment-modal .close {
  opacity: 1;
}
.czn-separations-icon{
  background: transparent url('@{images-path}icons/separations16.png') no-repeat 0px 0px;
  height: 16px;
  width: 16px;
  display: block;
}
.czn-fit-icon{
  background: transparent url('@{images-path}icons/fit-button-icon.png') no-repeat 50% 50%;
  height: 16px;
  width: 16px;
  display: block;
}
.czn-compare-icon{
  background: transparent url('@{images-path}icons/side-by-side-compare-icon.png') no-repeat 50% 50%;
  height: 16px;
  width: 24px;
  display: block;
}
.czn-compare-overlay-icon{
  background: transparent url('@{images-path}icons/overlay-compare-icon.png') no-repeat 50% 50%;
  height: 16px;
  width: 16px;
  display: block;
}
.czn-compare-pixel-icon{
  background: transparent url('@{images-path}icons/pixel-compare-icon.png') no-repeat 50% 50%;
  height: 16px;
  width: 16px;
  display: block;
}

.czn-compare-pixel-color{
  padding:0px;
  margin:0 auto;
  position:relative;
  top:0px;
  left:0px;
  background-color: red;
  width:16px;
  height: 16px;
  display: block;
}

.czn-split-button-icon{
  background: transparent url('@{images-path}icons/sync-button-icon.png') no-repeat 50% 50%;
  height: 16px;
  width: 16px;
  display: block;
}
.czn-overlay-flip-icon{
  background: transparent url('@{images-path}icons/overlay-flip-icon.png') no-repeat 50% 50%;
  height: 16px;
  width: 16px;
  display: block;
}
.color-picker .sp-replacer{
  background: none;
  border: none;
  margin-top: 10px;
}

.color-picker .sp-dd{
  display: none;
}
.leaflet-control-zoomslider.leaflet-bar{
 display: none;
}
.czn-version-label {
  position: absolute;
  z-index: 2;
  width: 100px;
  top: 100%;
  margin-top: -75px;
  left: 100%;
  margin-left: -80px;
  height: 30px;
  line-height: 20px;
  font-size: 12px;
  font-weight: bold;
  color: #333;
}
.czn-comments-list .czn-list-user .czn-avatar img.pull-left{
  max-width: 50px;
  max-height: 50px;
  width: auto;
}
.czn-balloons-view{
  //background-color: darkblue;
  //opacity: 0.4;
  position: absolute;
  top: 0px;
  left: 0px;
  //width: 100%;
  //height: 100%;
  z-index: 3;
  display: none;
  // TODO: disable events on balloons layer
  //pointer-events: none;
}


/*.czn-balloons-view canvas{
  background-color: green;
  opacity: 0.45;
}*/

/*.ol-viewport{
  position:relative;
  z-index:3;
}*/

#czn-balloon-canvas{
  background-color: green;
  opacity: 0.45;
  z-index: 4;
  position: absolute;
  //pointer-events:all;
}

/*.ol-overlaycontainer div{
  position:relative;
  z-index: 100 !important;
}*/

.czn-balloon-annotation{
  background-color: #FDFAA8;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  width: 185px;
  min-height: 30px;
  position: absolute;
  -webkit-box-shadow: -1px 2px 10px 1px rgba(0,0,0,1);
  -moz-box-shadow: -1px 2px 10px 1px rgba(0,0,0,1);
  box-shadow: -1px 2px 10px 1px rgba(0,0,0,1);
  padding: 5px;
  z-index: 4;
  overflow: hidden;
  //pointer-events: auto;
}
.czn-balloon-annotation-icon2{
  float: left;
  width: 40px;
  height: 46px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-right: 5px;
}
.czn-balloon-annotation-icon2 .czn-icon2{
  margin-top: 11px;
  margin-left: 9px;
}
.czn-balloon-annotation-comment{
  margin-left: 5px;
}
.czn-balloon-annotation-comment-child{
  border-top: 1px solid #E4B338;
  padding: 5px;
}
.czn-balloon-annotation-line{
  position: absolute;
  background-color: black;
  width: 300px;
  height: 2px;
  border-top: 1px solid white;
  left: 0px;
  top: 26px;
  transform-origin: 0 100%;
  -webkit-transform-origin: 0 100%;
  z-index: 5;
}
.showAllTicketsBtn{
  position: absolute;
  left: 5px;
}
.czn-balloon-annotation .expand, .czn-balloon-annotation .collapse{
  display: none;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  float: right;
}
.czn-balloon-annotation.czn-color-white .czn-balloon-annotation-icon{
  border:1px solid black;
}
.czn-balloon-annotation.czn-color-white .czn-balloon-annotation-icon .fa{
  color: black;
}
.czn-balloon-annotation.czn-color-black .czn-balloon-annotation-icon{
  border:1px solid white;
}
.czn-balloon-annotation.czn-color-black .czn-balloon-annotation-icon .fa{
  color: white;
}
.czn-user-color{
  width: 25px;
  height: 25px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border:1px solid #000000;
}
//ul.czn-group-list li.czn-list-user:nth-child(1){
//  padding: 0em;
//}
.czn-users ul.czn-group-list{
  padding: 0em 0.5em 0em 1.5em;
}
.czn-projects ul.czn-group-list{
  padding: 0em 0.5em 0em 1.5em;
}
.czn-phases ul.czn-group-list{
  padding: 0em 0.5em 0em 1.5em;
}

.czn-group{
  display: block;
  height: 40px;
  position: relative;
  /*
  width: 306px;
  background-color: #daf1fe;
  border: 1px solid #80b1c9;
  */
  margin-left: 0.5em;
}
.czn-group-name{
  padding: 7px 40px 7px 7px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
}
.czn-group-name i{
  padding: 5px;
  cursor: pointer;
}
.czn-decision-icon{
  margin-right: 10px;
  margin-top: 3px;
  font-size: 20px;
  cursor: default;
}
.czn-decision-not-applicable{
  color: orange;
}
.czn-decision-changes-required{
  color: red;
}
.czn-decision-pending{
  color: darkgray;
}
.czn-decision-approved{
  color: #008000;
}
.czn-decision-approved-with-changes{
  color: #008000;
}
.czn-group-decision-icon{
  margin-right: 18px;
  margin-top: 7px;
  font-size: 20px;
  position: absolute;
  right: 0px;
}
.czn-group-icon-rotated{
  transform: rotate(-90deg);
}
.czn-username-without-image, .czn-username-with-image{
  display: block;
  white-space: nowrap;
  width: 100%;
  padding-right: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  position: absolute;
  left: 35px;
  z-index:1;
}
li.czn-list-user{
  position: relative;
}
.czn-users, .czn-phases, .czn-annotations, .czn-projects{
  overflow-x: hidden;
}
.czn-annotations{
  padding-bottom: 100px;
}
i.czn-decision-icon{
  z-index: 2;
  position: absolute;
  right: 0px;
}
.czn-print-popup{
  & .modal-dialog{
    width: 370px;
    margin-left: -180px;
    margin-top: -180px;
  }
  &.form-horizontal .control-group {
    margin-bottom: 20px;
    *zoom: 1;
  }
  &.form-horizontal .control-group:before,
  .form-horizontal .control-group:after {
    display: table;
    content: "";
    line-height: 0;
  }
  &.form-horizontal .control-group:after {
    clear: both;
  }
  &.form-horizontal .control-label {
    float: left;
    width: 90px;
    padding-top: 5px;
    text-align: right;
  }
  &.form-horizontal .controls {
    *display: inline-block;
    *padding-left: 20px;
    margin-left: 180px;
    *margin-left: 0;
    margin-left: 20px;
    margin-right: 30px;
  }
  &.form-horizontal .controls:first-child {
    *padding-left: 180px;
  }
  &.form-horizontal .help-block {
    margin-bottom: 0;
  }
  &.form-horizontal input + .help-block,
  &.form-horizontal select + .help-block,
  &.form-horizontal textarea + .help-block,
  &.form-horizontal .uneditable-input + .help-block,
  &.form-horizontal .input-prepend + .help-block,
  &.form-horizontal .input-append + .help-block {
    margin-top: 10px;
  }
  &.form-horizontal .form-actions {
    padding-left: 180px;
  }
  & .modal-body {
    position: relative;
    max-height: 400px;
    padding: 15px;
    overflow-y: auto;
  }
}
section#annotations header div.dropdown{
    float: none !important;
    position: absolute;
    top: 7px;
    right: 7px;
}
section#annotations header{
  position: relative;
}
.czn-page-navigation-left-top{
  position: absolute;
  top: 35px;
  left: 10px;
  background-color: transparent;
  height: 45px;
  border-bottom-color: #BFBFBE;
}
.czn-page-navigation-left-top .czn-pager .czn-pager-btn{
    font-size: 30px;
}
.czn-upload-file{
  height: 30px;
}
.czn-upload-filename{
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
}
.czn-uploader{
  display: none;
}
.czn-multiple-upload-selectFiles-label{
  display: block;
  text-align: left;
  margin-bottom: 5px;
}
.czn-multiple-upload-selectFiles-label *{
  line-height: 25px;
}
#comments-modal .ui-resizable-se {
  bottom: 17px;
}
#comments-modal .ui-icon, .ui-widget-content .ui-icon
{
  background-image : none;
}
#comments-modal .ui-wrapper{
  position: relative !important;
}
#comments-modal .ui-resizable-handle{
  position: absolute;
  bottom: 14px;
  right: 4px;
  //transform: rotate(90deg);
  cursor: s-resize;
}
#comments-modal .ui-wrapper, #commentArea{
  min-width: 296px;
  max-width: 300px;
}
#comments-modal .ui-wrapper{
  min-height: 75px;
  max-height: 75px;
  padding-top: 5px;
}
#commentArea{
  min-height: 65px;
}
.czn-error-message{
  color: red;
  font-weight: bold;
  text-align: left;
  position: relative;
  border: 1px dotted red;
  padding: 3px 3px 15px 3px;
  margin-bottom: 10px;

}
.czn-error-message-close{
  position: absolute;
  top: 50%;
  right: 5px;
  margin-top: -7px;
}
.czn-annotations-loading, .czn-users-loading{
  position: relative;
  left: 50%;
  margin-left: -15px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
}
.czn-annotations-loading i, .czn-users-loading i{
  font-size: 25px;
}
.czn-canvas-panel{
  position: absolute;
  background-color: #e3e3e3;
  width: 200px;
  min-height: 80px;
  height: auto;
  display: none;
  border:2px solid black;
  padding: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  z-index: 3;
  opacity: 0.75;
  pointer-events:  auto;
  cursor: default;
}

.czn-colorDensitometer-panel{
  background-color: #e3e3e3;
  width: 150px;
  min-height: 60px;
  height: auto;
  border:2px solid black;
  padding: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  z-index: 3;
  opacity: 0.75;
  pointer-events:  auto;
  cursor: default;
}

.czn-canvas-panel table{
    width: 100%;
    text-align: center;
}
.czn-canvas-panel table td{
  text-align: center;
}
.czn-canvas-panel table tr{
  border-bottom: 1px solid #a0a0a0;
}
.czn-canvas-panel table tr:last-child{
  border-bottom: none;
}
.czn-canvas-panel-selectable{
  cursor: pointer;
}
.czn-canvas-panel:hover,.czn-colorDensitometer-panel:hover{
  opacity: 0.90;
}

.czn-softproofing-calibrated{
  background-color: #4F8F00 !important;
}
.czn-softproofing-expired{
  background-color: #FF9300 !important;
}
.czn-softproofing-notcalibrated{
  background-color: #FF2600 !important;
}
.czn-softproofing-none{
  background-color: #777777 !important;
}
.czn-canvas-color-picker, .czn-canvas-color-picker canvas{
    cursor:crosshair !important;
}
.czn-notifications {
  position: absolute;
  z-index: 3;
  top: 5px;
  left: 3px;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  pointer-events: none;
}
.czn-notification-item{
  max-width: 250px;
  margin:  10px auto 0;
  position: relative;
  padding: 2px 60px 2px 10px;
  min-height: 70px;
}
.czn-notification-message{
  font-size: 18px;
  color: #555;
}
.czn-notification-progress i, .czn-notification-warning i{
  font-size: 50px;
}
.czn-notification-warning i{
  color: #ffff00;
}
.czn-notification-progress, .czn-notification-warning{
  position: absolute;
  top: 10px;
  right: 10px;
}
.czn-custom-profiles .modal-dialog{
  width: 500px;
  height: 400px;
  margin-left: -250px;
  margin-top: -200px;
}
.czn-custom-profiles-item{
  margin-bottom: 20px;
}
.czn-custom-profiles-item:last-child{
  margin-bottom: 0px;
}
.czn-custom-profiles-current-profile{
  font-style: italic;
  margin-top: 5px;
}
.czn-custom-profiles-selector select{
  padding: 5px;
  border-radius: 3px;
}
.czn-custom-profiles-scroll{
    max-height: 220px;
    overflow: auto;
    padding-right: 10px;
}
.czn-custom-profiles-simulate-paper-tint{
    margin-top: 5px;
}
.czn-balloons-color-black{
  background-color: #000000;
  color: #ffffff;
  border: 1px solid #ffffff;
}
.czn-balloons-color-white {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #000000;
}
#soft-proofing-menu-list{
  min-width: 54px;
}
#soft-proofing-menu-list > li > a{
  padding: 3px 15px;
}
.demo-stage{
  position: absolute;
  bottom: 38px;
  width: 100%;
  z-index: 4;
}
.demo-stage.compare-mode{
  bottom: 0px;
  z-index: 4;
}
.demo-stage.overlay-mode{
  bottom: 39px;
  z-index: 4;
}
.czn-separator-horizontal{
  width: 100%;
  height: 12px;
  #gradient.vertical(#fff; #f2f2f2; 0%; 100%);
  border-top: 1px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
  background-clip: padding-box;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.6);
}
.czn-separator-vertical{
  height: 100%;
  width: 11px;
  #gradient.horizontal(#fff; #f2f2f2; 0%; 100%);
  border-right: 1px solid #d4d4d4;
  border-left: 1px solid #d4d4d4;
  background-clip: padding-box;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.6);
}
.demo-stage.overlay-mode ul.czn-page-viewer{
  width: 50%;
}
.demo-stage.overlay-mode ul.czn-page-viewer:first-of-type{
  border-right: 1px solid #d4d4d4;
}

.clear-both {
  clear: both;
}

.czn-annotation-div {
  clear: both;
  color: #777;
  border: 1px solid;
  border-radius: 20px;
  width: 63px;
  margin-left: 3px;
}

.czn-checklist-div {
  clear: both;
  color: #777;
  border: 1px solid;
  border-radius: 20px;
  margin-left: 3px;
}

.czn-annotation-badge-margin {
  margin-left: 3px;
}

.czn-checklist-badge {
  float: left;
  color: #fff;
  border-radius: 20px;
  background-color: #777;
  min-width: 10px;
  height: 20px;
  line-height: 15px;
  font-size: 10px;
  font-weight: bold;
  padding: 3px 4px;
  text-align: center;
  display: inline;
}

.czn-annotation-badge {
  float: left;
  color: #fff;
  border-radius: 20px;
  background-color: #777;
  min-width: 20px;
  height: 20px;
  line-height: 15px;
  font-size: 10px;
  font-weight: bold;
  padding: 3px 4px;
  text-align: center;
  display: inline;
}

.czn-annotation-replies {
  color: #777;
  border-radius: 20px;
  min-width: 20px;
  height: 20px;
  line-height: 15px;
  font-weight: bold;
  padding: 3px 4px;
  text-align: center;
  margin-left: 1px;
  display: inline;
}

.czn-annotation-replies-icon {
  float: left;
  padding-top: 4px;
  padding-left: 3px;
  padding-right: 3px;
}

.czn-checklist-history-count{
float: left;
padding-top: 3px;
height: 20px;
line-height: 15px;
font-size: medium;
font-weight: normal;
text-align:center;
color:black;
}

.czn-annotation-replies-text {
  float: left;
  padding-top: 3px;
  height: 20px;
  line-height: 15px;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
}

.czn-annotation-icon{
  margin-right: 5px;
}
.czn-annotation-icon div{
  display: block;
}
.czn-profiles-container, .czn-paper-tint-container {
  width: 300px;
  height: auto;
  max-height: 280px;
  overflow: auto;
}

.czn-simulation-profiles-container {
  width: 300px;
  height: auto;
  max-height: 360px;
}

.czn-profile-item{
    display: inline-block;
    width: 250px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: -4px;
    padding-left: 1px;
}
.czn-profile-item-newcategory
{
  border-top: 2px dotted red;
}
li.czn-profile a{
  padding: 0px;
}
.czn-profiles-controls section{
  margin-top: 5px;
  margin-right: 5px;
}
.czn-profiles-controls-warning {
  color:rgb(170,170,0);
  margin-top: 8px;
  margin-left: 14px;
}
.czn-profiles-controls-warning ul.missmatch
{
  list-style-type: circle;
  padding-left: 25px;
}
.czn-profiles-controls-warning ul.missmatch li
{
  margin-left: 0px;
  text-align: left;
}

.czn-profiles-controls-warning ul.missmatch ul
{
  list-style-type: square;
}
.czn-profiles-controls-warning ul.missmatch li ul li
{
  padding-left: 2px;
  margin-left: 0px;
}

.czn-profiles-controls-de {
  color:black;
  margin-top: 8px;
  margin-left: 14px;
}
.czn-profiles-header{
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  white-space: nowrap;
  text-align: right;
}
.czn-profiles-menu span, .czn-paper-tint-menu span {
  clear: both;
  font-weight: normal;
  color: #333;
  white-space: nowrap;
}

.simulation-profile-tabs
{
  width:280px;
}
.simulation-profile-tabs li.active a
{
  color:black !important;
}
//http://www.w3schools.com/css/css_tooltip.asp
.tooltipCustom {
  position: relative;
  display: inline-block;
}

.tooltipCustom .tooltiptext {
  border-radius: 5px 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1); -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
  background: #FFFFAA; border: 1px solid #FFAD33;
  color:black;
  visibility: hidden;
  width: 320px;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -160px;
  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 0.5s;
}

.tooltipCustom .tooltiptextRefreshTree {
  margin-left: 0px !important;
  width: 180px !important;
}
.tooltipCustom .tooltiptextRefreshAllApprovals {
  margin-left: 0px !important;
  width: 180px !important;
}

.tooltipCustom:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.navbar .nav.czn-profiles-menu > li > a,
.navbar .nav.czn-paper-tint-menu > li> a{
  padding: 3px 15px;
  font-weight: normal;
  text-shadow: none !important;
}
.navbar .nav.czn-profiles-menu > li.active > a,
.navbar .nav.czn-profiles-menu > li.active > a label.czn-profile-item,
.navbar .nav.czn-profiles-menu > li.active > a label.czn-profile-item span,
.navbar .nav.czn-paper-tint-menu > li.active> a,
.navbar .nav.czn-paper-tint-menu > li.active> a label.czn-profile-item,
.navbar .nav.czn-paper-tint-menu > li.active> a label.czn-profile-item span{
  //color: #000000;
  font-weight: bold;
}
.czn-settings-icon{
  font-size: 20px;
}
.czn-ruler-icon{
  font-size: 3px;
}
#soft-proofing-menu-list > li > a.czn-selectline{
  padding-bottom: 6px !important;
  padding-top: 0px !important;
}
div.czn-instant-notifications{
    position: absolute;
    display: block;
    top: 60px;
    right: 20px;
    opacity: 0.90;
    z-index: 3;
    width: 325px;
    max-height: 90%;
    overflow: hidden;

    @media screen and (min-height: 1050px){
      &{
        max-height: 1050px;
      }
    }
    @media screen and (min-height: 769px) and (max-height: 1049px){
      &{
        max-height: 820px;
      }
    }
    @media screen and (min-height: 481px) and (max-height: 768px){
      &{
        max-height: 600px;
      }
    }
    @media screen and (max-height: 480px){
      &{
        display: none;
      }
    }
    @media screen and (max-width: 992px){
      &{
        width: 250px;
      }
    }
    .czn-instant-notification{
        background-color: #4C4C4C;
        color: #FFFFFF;
        padding: 10px 0px;
        border-radius: 10px;
        border:1px solid #E5E5E5;
        box-shadow: 3px 2px #E5E5E5;
        margin-bottom: 3px;
        position: relative;

        .close{
            opacity: 1;
            float: none;
            position: absolute;
            top: 5px;
            right: 5px;
            font-size: 14px;
            i{
                color: #FFFFFF;
            }
        }
        .czn-instant-notification-media{
            width: 65px;
            margin-left: 10px;
        }
        .czn-instant-notification-body{
            width: 220px;
            margin-right: 10px;

            @media screen and (max-width: 990px){
                &{
                    margin-left: 10px;
                }
            }
        }
    }
  /*base code*/
  .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  .animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }
  .animated.hinge {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
  }
  /*the animation definition*/
  @-webkit-keyframes zoomIn {
    0% {
      opacity: 0;
      -webkit-transform: scale3d(.3, .3, .3);
      transform: scale3d(.3, .3, .3)
    }
    50% {
      opacity: 1;
    }
  }
  @keyframes zoomIn {
    0% {
      opacity: 0;
      -webkit-transform: scale3d(.3, .3, .3);
      -ms-transform: scale3d(.3, .3, .3);
      transform: scale3d(.3, .3, .3)
    }
    50% {
      opacity: 1;
    }
  }
  .zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn
  }
  @-webkit-keyframes zoomOut {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
      -webkit-transform: scale3d(.3, .3, .3);
      transform: scale3d(.3, .3, .3)
    }
    100% {
      opacity: 0;
      display: none;
    }
  }
  @keyframes zoomOut {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
      -webkit-transform: scale3d(.3, .3, .3);
      -ms-transform: scale3d(.3, .3, .3);
      transform: scale3d(.3, .3, .3)
    }
    100% {
      opacity: 0;
      display: none;
    }
  }
  .zoomOut {
    -webkit-animation-name: zoomOut;
    animation-name: zoomOut
  }

}
.dropdown-backdrop{
  position: static;
}
.czn-un-processed-page{
  height: 80px;
  width: 90px;
  margin: 2px auto;
  display: block;
}
.czn-un-processed-page>i{
  font-size: 80px;
  position: relative;
  margin: 2px auto;
  text-align: center;
  display: block;
  color: #c0c0c0;
}
.czn-un-processed-page>i>i {
  left: 50%;
  top: 50%;
  margin-left: -11px;
  margin-top: -10px;
  position: absolute;
  color: #c0c0c0;
  font-size: 26px;
}
.czn-rgb-icon{
  background: transparent url('@{images-path}icons/icon_rgb.png') no-repeat;
  width: 24px;
  height: 24px;
  display: inline-block;
  background-size: cover;
}
.czn-lock-button-red{
  background-color: #d2322d;
}
.czn-lock-button-green{
  background-color: #1ABA29;
}
.czn-lock-button-gray{
  background-color: #9C9594;
}
.ol-custom-overviewmap .ol-overviewmap-box {
  border: 2px solid red;
  cursor: pointer;
}

.ol-custom-overviewmap .ol-overviewmap-map {
  display: block;
  margin: 0 auto;
  border:none;
  width: 225px;
  height: 255px;
}

.confirmModal {
  display: inline-block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 480px;
  height:270px;
  background-color: transparent;
  padding: 1em;
  z-index:5;
  margin: auto;
}


.modal-overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index:4;
}
.czn-tagwordstitle {
  margin: 15px 15px 0 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ddd;
}
.approvalType-name {
  display: grid; 
  min-height: 135px; 
  padding-bottom: 10px;
}
.czn-projectFolder-tagwords {
  margin: 0 15px;
}
.czn-filteredtagwordsdiv {
  margin-top: 15px;
  max-height: 215px;
}
.modal-overlay-add-approvals, .modal-overlay-filter-approvals {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index:2000;
}

.flush--top {
  margin-top: 0;
}

.czn-annotation-statuses-warning
{
  color:rgb(170,170,0);
  width:32px;
  margin-top:0px;
  margin-left:10px;
  //border:1px solid red;
}
.czn-annotation-statuses-warning .tooltiptext
{
  width: 180px;
  margin-left:-160px;
}
.czn-annotation-statuses-warning .spp-annotation-warning-profile, .czn-annotation-statuses-warning .spp-annotation-warning-papertint {
  display: inline-block;
  width: 160px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.czn-annotation-statuses-warning .spp-annotation-warning-profile
{
  margin-top: 5px;
  margin-bottom: 0px;
}
.czn-annotation-statuses-warning .spp-annotation-warning-papertint
{
  padding-top: 0px;
  margin-top: -2px;
}
@media (max-width: 767px) {
  #czn-loading-screen .modal-dialog {
    width: 200px;
    margin-left: -100px;
  }
}
.filterApprovalsModal {
  display: inline-block;
  position: fixed;
  top: 20%;
  bottom: 0;
  left: 0;
  right: 0;
  width: 600px;
  height: 500px;
  background-color: rgba(255,255,255,0);
  padding: 1em;
  z-index:5;
  margin-left: auto;
  margin-right: auto;
}

.czn-approvaltype-name{
font-size: 13px;
font-weight: 600;  
padding: 20px;
}

// .czn-approvalType-image, .czn-approvalType-video, .czn-approvalType-document, .czn-approvalType-html {
//   padding: 20px;
// }

.czn-approvalTypeImage-results, .czn-approvalTypeDocument-results, .czn-approvalTypeVideo-results, .czn-approvalTypeHTML-results {
  float: right;
}
.addApprovalsModal {
  display: inline-block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 800px;
  height: 300px;
  background-color: rgba(255,255,255,0);
  padding: 1em;
  z-index:5;
  // margin-top:10%;
  margin-left: auto;
  margin-right: auto;
}

.czn-approval-item {
  display: inline-block;
  width: 280px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-left: 1px;
  height: 70px;
}

.czn-approvals-notintree {
  border: 0;
}

.czn-add-approvals-left {
  width: 320px;
  //overflow: auto;
  padding-left: 0px;
  margin-left: 0px;
  height: 450px;
}
.czn-add-approvals-left-tree {
  width:320px;
  overflow:auto;
  height: 407px;
}
.czn-add-approvals-left-tree ul{
  padding-left: 21px;
  margin-left: 0;
}

.czn-add-approvals-right-centered {
  //width:49%;

  text-align:center;
}
.czn-add-approvals-left-centered :extend(.czn-add-approvals-left) {
  padding-top: 5px;
  text-align:center;
}

.czn-tree-refresh-icon{
  display: inline-block;
  width: 100%;
  padding-left: 2px;
  vertical-align: top;
  padding-top:6px;
  padding-bottom: 6px;
  //margin-bottom: 12px;
}

.czn-approvals-refresh-icon{
  display: inline-block;
  width: 100%;
  padding-left: 2px;
  vertical-align: top;
}
.czn-approvals-refresh-icon i:hover {
  cursor: pointer;
}

.czn-add-approvals-left i:hover{
  cursor: pointer;
}

.czn-select-approvals{
  width: 56%;
  height: 450px;
}

.czn-approvals-list{
  width:100%;
  display: inline-block;
}

.czn-add-approvals-right {
  margin-top: 5px;
  overflow-y: auto;
  height: 405px;
}
.czn-add-approvals-right li{
  width: 100%;
}
// .czn-add-approvals-right li:hover :extend(.dropdown-submenu:hover > a){
//   color:black;
// }

.czn-approval-item {
  padding-left: 10px;
}
.czn-approval-item.czn-profile.active :extend(.nav-pills > .active > a){
  font-weight: bold;
  color:black;
  .czn-approval-owner{
    color: whitesmoke;
  }
}

.czn-icon-container{
  display: inline-block;
  vertical-align: top;
  padding-bottom: 5px;
}
.czn-vertical-line{
  border-right: 1px solid #e5e5e5;
  height: 450px;
}

#addApprovalsDialog , #filterApprovalsDialog{
  z-index: 3000;
}
#addApprovalsDialog .modal-body, #filterApprovalsDialog .modal-body{
  padding-top:0;
}
.czn-add-approvals-left.pull-left, .czn-select-approvals.pull-right{
  padding-top: 5px;
}

.czn-approval-in-tree-thumbnail{
  width: 50px;
}
.czn-approval-checkbox-container {
  width: 12px;
  display: inline-block;
  padding-bottom: 25px;
  padding-top: 25px;
}

.czn-approval-thumbnail-container{
  display: inline-block;
}

.czn-approval-details-container{
  display: inline-block;
  vertical-align: middle;
  width: 80%;
}
.czn-approval-owner{
  color: #333;
}

.czn-approval-owner:hover {
  color: #fff;
}

.czn-approval-name{
  width: 100%;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.czn-refresh{
  color: #2494e5;
}

.czn-button-more-approvals {
  text-align: center;
  padding: 10px;
}

#searchApprovalsInTree{
  text-align: center;
  margin-bottom: 0;
  padding:0px 0px 0px 10px;
  width:270px;
}
#searchApprovalsInTree #searchInput {
  width: 100%;
  border-bottom-left-radius: 14px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
}

.tooltipCustom.czn-refresh.pull-left, .czn-approvals-refresh-icon .pull-left{
  padding-top: 6px;
  padding-bottom: 6px;
}

.showLoadingApprovals {
  width:20px;
}
.noOfApprovals {
  min-width:36px;
}

.czn-swipe {
  font-weight: bold;
  color:black;
}
.czn-not-swipe {
  font-weight: normal;
  color:gray;
}
.czn-version-on-top {

}
.czn-approvalfilter-name {
  font-weight: 600px;
}
.czn-col-resize {
  cursor:col-resize !important;
}
.czn-projectApproval-list {
  padding-top: 3px;
}
.czn-version-list ,.czn-html-list {
  padding-top: 3px;
}
.czn-filter-icon {
  float: right;
  margin-left: 10px;
  font-size: large;
}

.czn-filter-approvals-body{
  min-height: 400px;
}
.czn-selectedtagword {
  background-color: #8dc2e6;
  padding: 5px;
  border-radius: 15px;
  margin-right: 5px;
  margin-bottom: 5px;
  display: inline-block;
}
.czn-unselectedtagword {
    background-color: #e5e5e5;
    padding: 5px;
    border-radius: 15px;
    margin-right: 5px;
    margin-bottom: 5px;
    display: inline-block;
    float: left;
}
.czn-tagwordText {
  padding: 5px;
}
.czn-tagwordCount {
    padding: 5px 10px;
    background-color: #ccc;
    border-radius: 17px;
}
.czn-version-list button.dropdown-toggle ,.czn-html-list button.dropdown-toggle {
  background-color: transparent;
}
.html-dropdown-resize {
  position: relative;
  top: 6px;
  left: 10px;
}
.czn-htmls-header {
  max-width: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  white-space: nowrap;
  font-size: 14px;
  padding-top: 1px;
}

.czn-versions-header{
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  white-space: nowrap;

  padding-top: 1px;
}

@media screen and (min-width: 1200px) and (max-width: 1350px) {
  .czn-versions-header, .czn-htmls-header {
    max-width: 200px;
  }
}
.html-height-input , .html-width-input {
  width: 75px;
  border: 1px solid #ddd;
}
.czn-version-list .caret ,.czn-html-list .caret{
  height: 15px;
}

.czn-version-list .czn-version label:not(:hover), .czn-version-list .czn-version span:not(:hover) {
  color: black;
}
.czn-html-list .czn-html label:not(:hover), .czn-html-list .czn-html span:not(:hover){
  color: black;
}
.czn-profiles-list button.dropdown-toggle {
  border: none;
  outline:none;
  cursor: pointer;
  background-color: transparent;
  color:#555555;
  padding-top: 15px;
  padding-right: 12px;
}

#dropdown-for-spp {
  cursor: pointer !important;
}

#dropdown-for-spp a {
  cursor: pointer !important;
}

#dropdown-for-spp a:hover {
  text-decoration: none;
}

.zoomPercentagesClass {
  display: inline-block;
  border-radius: 5px;
  padding: 4px;
  width: 70px;
  text-align: center;
}

.zoomTileSize {
  background-color: rgba(0, 100, 0, .2);
}
.zoomNotTileSize {
  background-color: rgba(100, 100, 100, .2);
}

.loading-icon {
  background: transparent url('@{images-path}loading-icon.gif') no-repeat 50% 50%;
  width: 71px;
  height: 71px;
}

.loading-small-size {
  width: 25px;
  height: 25px;
  background-size: 25px;
}
.diffColorPickerSelected {
  border:solid #FFAD33 3px;
}

.diffColorPicker{
  position:absolute;
  width:20px;
  height:20px;
  border-radius:4px;
}

.checklistHistoryModal {
  display: inline-block;
  position: fixed;
  top: 100px;
  bottom: 0;
  left: 480px;
  right: 0;
  width: 600px;
  height:0px;
  background-color: transparent;
  z-index:5;
}

.checklistHistoryModal-body{
  position: relative;
  padding: 15px;
  max-height:500px;
  overflow: auto;
  max-width: 600px;
	width: 95%;
	margin: 0 0 15px auto;

  }

.timeline-item {
  padding: 0.7em 1.5em;
  position: relative;
  color: rgba(0, 0, 0, 0.7);
  border-left: 2px solid rgba(0, 0, 0, 0.3);
}

.timeline-item h3 {
  margin: 10px 0;
  font-size: 20px;
}


.timeline-item::after {
  width: 10px;
  height: 10px;
  display: block;
  top: 1em;
  position: absolute;
  left: -7px;
  border-radius: 10px;
  content: '';
  border: 2px solid rgba(0, 0, 0, 0.3);
  background: white;
}

.dropdown-menu {
	>.active {
		>a {
			color: #333;
			background-color: #fff;
			&:focus {
				color: #333;
				background-color: #fff;
			}
			&:hover {
				color: #333;
				background-color: #fff;
			}
		}
	}
}