#vertical-align-middle() {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
};
.czn-color(@bg) {
  .czn-color-@{bg} {
    background-color: @bg;
    background: -webkit-linear-gradient(@bg, #ffffff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(@bg, #ffffff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(@bg, #ffffff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(@bg, #ffffff); /* Standard syntax */
  }
}
