.czn-comment-modal,
.czn-custom-profiles{
    .modal-footer button.btn + button.btn {
        margin-left: 5px;
        margin-bottom: 0;
    }

    .modal-footer .btn-group button.btn + button.btn {
        margin-left: -1px;
    }

    .modal-footer .btn-block + .btn-block {
        margin-left: 0;
    }

    button.btn {
        display: inline-block;
        // *display: inline;
        // /* IE7 inline-block hack */

        // *zoom: 1;
        padding: 4px 12px;
        margin-bottom: 0;
        font-size: 13px;
        line-height: 20px;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        color: #333333;
        text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
        background-color: #f5f5f5;
        // background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
        // background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
        // background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
        // background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
        // background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
        // background-repeat: repeat-x;
        // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
        // border-color: #e6e6e6 #e6e6e6 #bfbfbf;
        // border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
        // *background-color: #e6e6e6;
        // /* Darken IE7 buttons by default so they stand out more given they won't have borders */

        // filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
        border: 1px solid #cccccc;
        // *border: 0;
        // border-bottom-color: #b3b3b3;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        // *margin-left: .3em;
        -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
        -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
    }

    button.btn:hover,
    button.btn:focus,
    button.btn:active,
    button.btn.active,
    button.btn.disabled,
    button.btn[disabled] {
        color: #333333;
        background-color: #e6e6e6;
        *background-color: #d9d9d9;
    }

    button.btn:active,
    button.btn.active {
        background-color: #cccccc \9;
    }

    button.btn:first-child {
        *margin-left: 0;
    }

    button.btn:hover,
    button.btn:focus {
        color: #333333;
        text-decoration: none;
        background-position: 0 -15px;
        -webkit-transition: background-position 0.1s linear;
        -moz-transition: background-position 0.1s linear;
        -o-transition: background-position 0.1s linear;
        transition: background-position 0.1s linear;
    }

    button.btn:focus {
        outline: thin dotted #333;
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
    }

    button.btn.active,
    button.btn:active {
        background-image: none;
        outline: 0;
        -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .05);
        -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .05);
        box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .05);
    }

    button.btn.disabled,
    button.btn[disabled] {
        cursor: default;
        background-image: none;
        opacity: 0.65;
        filter: alpha(opacity=65);
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    button.btn-primary.active,
    button.btn-warning.active,
    button.btn-danger.active,
    button.btn-success.active,
    button.btn-info.active,
    button.btn-inverse.active {
        color: rgba(255, 255, 255, 0.75);
    }

    button.btn-primary {
        color: #ffffff;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        background-color: #049cdb;
        // background-image: -moz-linear-gradient(top, #ed1556, #ca1048);
        // background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ed1556), to(#ca1048));
        // background-image: -webkit-linear-gradient(top, #ed1556, #ca1048);
        // background-image: -o-linear-gradient(top, #ed1556, #ca1048);
        // background-image: linear-gradient(to bottom, #ed1556, #ca1048);
        // background-repeat: repeat-x;
        // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffed1556', endColorstr='#ffca1048', GradientType=0);
        // border-color: #ca1048 #ca1048 #830a2e;
        // border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
        // *background-color: #ca1048;
        // /* Darken IE7 buttons by default so they stand out more given they won't have borders */

        // filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    }

    button.btn-primary:hover,
    button.btn-primary:focus,
    button.btn-primary:active,
    button.btn-primary.active,
    button.btn-primary.disabled,
    button.btn-primary[disabled] {
        color: #ffffff;
        background-color: #049cdb;
    }

    button.btn-primary:active,
    button.btn-primary.active {
        background-color: #049cdb;
    }

    button.btn-danger {
        color: #ffffff;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        background-color: #DB1914;
        // background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
        // background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
        // background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
        // background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
        // background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
        // background-repeat: repeat-x;
        // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
        // border-color: #bd362f #bd362f #802420;
        // border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
        // *background-color: #bd362f;
        /* Darken IE7 buttons by default so they stand out more given they won't have borders */

        // filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    }

    button.btn-danger:hover,
    button.btn-danger:focus,
    button.btn-danger:active,
    button.btn-danger.active,
    button.btn-danger.disabled,
    button.btn-danger[disabled] {
        color: #ffffff;
        background-color: #DB1914;
    }

    button.btn-danger:active,
    button.btn-danger.active {
        background-color: #DB1914;
    }
}