//@icon-font-path: "fonts";
//@fa-font-path: @icon-font-path;
//@icons-path: "images/icons/";
//@icons-hdpi-path: "images/icons/hdpi/";
//@images-path: "images/";

@icon-font-path: "../assets/fonts/";
@fa-font-path: @icon-font-path;
@icons-path: "../assets/images/icons/";
@icons-hdpi-path: "../assets/images/icons/hdpi/";
@images-path: "../assets/images/";