.percentages {
  position: relative;
  display: inline-block;
  padding: 0;
}
.percentages .percentages-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 110px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 5px 5px;
  z-index: 21 !important;
  bottom: 18px;
  border-radius: 5px;
  color: #333;
}

.percentages .percentagesValues:hover .percentages-dropdown-content {
  display: block;
}

.percentages .percentages-dropdown-content li {
  list-style-type:none;
  border-radius: 1px;
  text-align: left;
  padding-right:5px;
  padding-left:30px;
  padding-top:3px;
  padding-bottom: 3px;
}

// .percentages .percentages-dropdown-content li.fractionalOrNonFractionalZoom {
//   background-color: #f5f5f5;
// }

.percentages .percentages-dropdown-content li:hover {
  background-color: #e6e6e6;
}

.percentages .checkedZoom {
  padding-left: 8px !important;
}

.percentages input[type=text] {
  width: 45px;
  padding: 5px 5px 5px 8px;
  margin: 0px 2px 0px 0px;
  box-sizing: border-box;
  border: 0px solid grey;
  border-radius: 4px;
  height: 26px;
  text-align: right;
}

.percentages .TileSizeZoom, .percentages .NotTileSizeZoom {
  height:28px;
  display: inline-block;
  border-radius: 4px;
  padding-right: 5px;
}


.percentages .TileSizeZoom, .percentages .TileSizeZoom input[type=text] {
  background-color : #333;
}

.percentages .NotTileSizeZoom, .percentages .NotTileSizeZoom input[type=text] {
  background-color : #333;
}
