
    <section class="czn-annotation-secondary navbar-right distanced">
        <button class="navbar-btn btn btn-info btn-3d btnDoneAnnotating" {{action "doneAnnotating"}}>{{t "lblDone"}}</button>
    </section>
      <section class="czn-annotation-controls">
      {{partial "navigation/annotation/main"}}
      {{#if isDrawSelected}}
          {{partial "navigation/annotation/draw-main"}}
      {{/if}}
      {{#if isDrawWidthNeeded}}
          {{partial "navigation/annotation/draw-line"}}
      {{/if}}
      {{#if isDrawShapeSelected}}
          {{partial "navigation/annotation/draw-shape"}}
      {{/if}}
      {{#if isDrawSelected}}
            <span class="btn btn-xs">
              {{annotations-colorpicker changeDrawingColor="changeDrawingColor" color=drawColor}}
            </span>
      {{/if}}
    </section>


