<nav class="navbar czn-navbar navbar-inner navbar-fixed-top unselectable" role="navigation">
    <div class="navbar-brand czn-logo navbar-left" {{bind-attr style="brandingImageHeader"}}></div>
    {{outlet "navigation"}}
</nav>
