<ul class="czn-title-version nav navbar-nav btn-toolbar hidden-xs">
    {{#if displayVersionsList}}
    {{#view "utils/dropdown" tagName="li"}}
	    {{partial "navigation/main/versions"}}
    {{/view}}
    {{else}}
        <li class="unselectable">
            <a class="dropdown-toggle">
                <span class {{bind-attr title="approval.Title"}}>{{approval.Title}}</span>
            </a>
        </li>
    {{/if}}
 
   {{#if isZip}}
   <span style="position: relative;">
   <b class="dropdown czn-html-list dropdown-toggle btn hidden-xs hidden-sm hidden-md" id="htmls-list" data-toggle="dropdown" {{action "dropdownToggle" target="view"}} style="top: 10px;">
    <span class="czn-htmls-header" {{bind-attr title="showAllHtmlFiles"}} >{{showAllHtmlFiles}}</span>
    <span class="caret" style="margin-top: 1px;"></span>
   </b>
   <ul class="dropdown-menu dropdown-menu-arrow dropdown-menu-arrow-left" role="menu" aria-labelledby="czn-html-list" style="overflow: auto; max-height: 670px;top: 35px;">
     {{#each htmlpage in htmlPages}}
       {{partial "navigation/main/htmlpages"}}
     {{/each}}
   </ul>
   </span>
   {{#if isSinglePage}}
   <b class="html-dropdown-resize"><span>H:</span>
    <span {{action "heightOfHtmlPage"}}>
    <input class="html-height-input" type="number" name="height" {{bind-attr value="newHeight"}} min="1" max="10000"  {{action "heightOfHtmlPage" on="keyUp"}} />
    </span>
    <span>W:</span>
    <span {{action "widthOfHtmlPage"}}>
    <input class="html-width-input" type="number" name="width" {{bind-attr value="newWidth"}} min="1" max="2000" {{action "widthOfHtmlPage" on="keyUp"}} />
    </span>
    <span style="padding-left: 5px;">
    <button type="button" id="updatedHtmlSize" class="btn btn-primary btn-save" {{bind-attr disabled="isdisabled"}} {{action "saveUpdatedHtmlHeightAndWidth"}} >Save</button>
    </span>
   </b>
   {{/if}}
   {{/if}}

    {{#unless isVideo}}
        <li>
          <a class="btn hidden-xs hidden-sm hidden-md" {{action "cloneCurrentVersion"}}>
              <span class="fa fa-clone fa-lg" {{bind-attr title="lblCompareWithClone"}}></span>
          </a>
        </li>
        {{#if hasCompareAccessPopUp}}
          <li>
              <a class="btn hidden-xs hidden-sm hidden-md" {{action "addVersions"}}>
                  <span class="fa fa-plus fa-lg" {{bind-attr title="lblChooseFileToCompare"}}></span>
              </a>
          </li>
        {{/if}}
    {{/unless}}
    {{#if isNewVersionButtonVisible}}
        <li>
            <a class="czn-add-version btn hidden-xs hidden-sm hidden-md" {{action "newVersion"}}>
                <span class="fa fa-lg fa-plus-circle" {{bind-attr title="lblAddNewVersion"}}></span>
            </a>
        </li>
    {{/if}}
</ul>

<section class="navbar-right czn-navbar-right-controls hidden-xs">
    <ul class="nav navbar-nav btn-toolbar">
      {{#if calibrationEnabled }}
          <li class="softproofing-data hidden-xs">
              <div class="softproofing-data">
                  <!--<div class="softproofing-monitor-name">monitorName</div>-->
                  <div {{bind-attr class="calibratedCssClass" title="monitorName"}}></div>
              </div>
          </li>
      {{/if}}
      {{#if isEnableSoftProofing}}
          {{#unless isOverlayMode}}
            {{#if hasProfilePreviewTool }}
              {{#view "utils/dropdown-profiles" tagName="li" id="dropdown-for-spp"}}
                    {{render "navigation/custom-profiles/index"}}
              {{/view}}
            {{/if}}
          {{/unless}}

        {{#if hasPrePressTools }}
            <li class="dropdown hidden-xs">
                <a class="dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown" id="soft-proofing-menu">
                    <span class="czn-icon czn-settings-icon active" {{bind-attr title="lblAnalysisTools"}}></span>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="soft-proofing-menu" id="soft-proofing-menu-list">
                    <li {{action "selectColorPicker"}} {{bind-attr title="lblColorPicker"}}><a><span class="fa fa-eyedropper"></span></a></li>
                    <li {{action "selectLine"}} {{bind-attr title="lblLineMeasurement" }}><a><span class="fa fa-arrows-h"></span></a></li>
                    {{#unless isRGBColorSpace}}
                    <li {{action "showSeparations"}} {{bind-attr title="lblShowSeparations"}}><a><span class="czn-icon czn-separations-icon"></span></a></li>
                    {{/unless}}
                </ul>
            </li>
        {{/if}}
      {{/if}}
      {{#if isPrintButtonVisible}}
      <li>
          <a class="btn hidden-xs hidden-sm hidden-md" {{action "printVersion"}}>
              <span class="fa fa-print fa-lg" {{bind-attr title="lblPrint"}}></span>
          </a>
      </li>
      {{/if}}

      {{#if isDownloadButtonVisible}}
          <li>
              <a class="btn hidden-xs hidden-sm hidden-md" {{action "downloadVersion"}}>
                  <span class="fa fa-download fa-lg" {{bind-attr title="lblDownload"}}></span>
              </a>
          </li>
      {{/if}}

      {{#if hasDeliverAccess}}
        <li>
            <a class="btn hidden-xs hidden-sm hidden-md" {{action "sendToDeliver"}}>
                <span class="fa fa-external-link fa-lg" {{bind-attr title="lblSendToDeliver"}}></span>
            </a>
        </li>
      {{/if}}

        <li class="dropdown hidden-xs hidden-sm hidden-md">
          <a class="dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown" id="panelSettings">
              <span class="fa fa-gear fa-lg active" {{bind-attr title="lblPanelSettings"}}></span>
          </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="panelSettings" id="panelSettings-list">
              <li><a {{action "allowMultiplePanelsOpen"}}><i {{bind-attr class=":fa isAllowMultiplePanelsOpen:fa-check-square-o:fa-square-o"}}></i>&nbsp;{{t "lblAllowMultiplePanelsOpen"}}</a></li>
              <li><a {{action "showPins"}}><i {{bind-attr class=":fa isShowPins:fa-check-square-o:fa-square-o"}}></i>&nbsp;{{t "lblShowPins"}}</a></li>

            {{#if isPhase}}
              <li><a {{action "showAnnotationsAllPhases"}}><i {{bind-attr class=":fa isShowAnnotationsAllPhases:fa-check-square-o:fa-square-o"}}></i>&nbsp;{{t "lblShowAnnotationsAllPhases"}}</a></li>
            {{/if}}

             {{#if isPDM}}
              <li><a {{action "showPrivateAnnotations"}}><i {{bind-attr class=":fa isShowPrivateAnnotation:fa-check-square-o:fa-square-o"}}></i>&nbsp;{{t "lblShowPrivateAnnotations"}}</a></li>
            {{/if}}

              {{#unless isVideo}}
                  <li><a {{action "switchToInch"}}><i {{bind-attr class=":fa isSwitchToInch:fa-check-square-o:fa-square-o"}}></i>&nbsp;{{t "lblSwitchToInch"}}</a></li>
              {{/unless}}
          </ul>
        </li>

      <li class="color-picker hidden-sm hidden-xs" {{bind-attr title="lblBackgroundColor"}}>
          {{background-colorpicker changeBackgroundColorPicker="changeBackgroundColorPicker" saveBackgroundColor="saveBackgroundColor"}}
      </li>
      <li>
          <span class="czn-navbar-divider"></span>
      </li>
      <li {{bind-attr title="lblClose"}}>
          <a class="btn" href="javascript:void(0)" {{action "homeUrl"}}>
              <span class="fa fa-times fa-lg"></span>
          </a>
      </li>
  </ul>
</section>


    {{#unless showAllTickets}}
        <section class="czn-navbar-main-controls hidden-md hidden-sm hidden-xs">
           {{#if userPermissions}}
                {{#if userCanAnnotate}}
                    <button {{bind-attr title="lblAnnotate" class=":navbar-btn :btn :btn-danger :btnAnnotate :hidden-md :hidden-sm :hidden-xs"}} {{action "annotate"}}>{{t "lblAnnotate"}}</button>
                {{/if}}
                {{#if userCanApprove}}
                    {{partial "navigation/main/decisions"}}
                {{/if}}
           {{/if}}
        </section>
        <section class="czn-navbar-main-controls-tablet visible-md visible-sm">
            {{#if userPermissions}}
                {{#if userCanAnnotate}}
                    <button {{action "annotate"}} {{bind-attr title="lblAnnotate" class=":navbar-btn :btn :btn-danger :btnAnnotate :visible-md :visible-sm"}}><i class="fa fa-pencil"></i></button>
                {{/if}}
                {{#if userCanApprove}}
                    {{partial "navigation/main/decisions"}}
                {{/if}}
            {{/if}}
        </section>
        <section class="czn-navbar-main-controls-phone visible-xs">
          {{#if userPermissions}}
            {{#if userCanApprove}}
              {{partial "navigation/main/decisions"}}
            {{/if}}
          {{/if}}
            <a class="btn" href="javascript:void(0)" {{action "homeUrl"}}>
                <span class="fa fa-times fa-lg" style="display: inline-block"></span>
            </a>
        </section>
    {{/unless}}


