<div class="czn-seekbar-container">
    {{view 'utils/seekbar' viewer=model}}
    <div class="czn-seekbar-time">{{digital-clock model.currentTime}}/{{digital-clock model.duration}}</div>
</div>
<section class="czn-controls-toolbar btn-toolbar">
    <section class="czn-align-center">
        <button class="btn btn-default btn-sm btnGoToStart" title='{{unbound t "lblGoToStart"}}' {{action "goToStart"}}>
             <span class="fa fa-step-backward"></span>
        </button>
        <button class="btn btn-default btn-sm btnGoBackward" title='{{unbound t "lblGoBackward"}}' {{action "backward"}}>
            <span class="fa fa-backward"></span>
        </button>
        <button {{bind-attr class=":btn :btn-default :btnPause :btn-sm playing::active"}} title='{{unbound t "lblPause"}}' {{action "pause"}}>
            <span class="fa fa-pause"></span>
        </button>
        <button {{bind-attr class=":btn :btn-default :btnPlay :btn-sm playing:active"}} title='{{unbound t "lblPlay"}}' {{action "play"}}>
            <span class="fa fa-play"></span>
        </button>
        <button class="btn btn-default btn-sm btnForward" title='{{unbound t "lblForward"}}' {{action "forward"}}>
            <span class="fa fa-forward"></span>
        </button>
        <button {{bind-attr class=":btn :btn-default :btn-sm :btnGoToEnd playing:inactive"}} title='{{unbound t "lblGoToEnd"}}' {{action "goToEnd"}}>
            <span class="fa fa-step-forward"></span>
        </button>
     </section>
</section>
