{{#if refreshView}}
<li class="media czn-instant-notification" {{bind-attr notificationid="this.ID"}}>
	<span class="close" {{action "close" this target=view bubbles=false}}><i class="fa fa-close "></i></span>
      <div class="pull-left media-left hidden-sm hidden-xs czn-instant-notification-media">
          <img class="media-object" {{bind-attr src="userDisplayAvatar" alt="userDisplayName"}}>
      </div>
      <div class="pull-left media-left media-body czn-instant-notification-body">
          <h5 class="media-heading">{{message}}</h5>
        <h6 class="unselectable"><button class="btn btn-primary btn-xs" {{action "reloadPageOrSpecificZone"}}>{{t "lblReloadViewMsg"}}</button></h6>
      </div>
</li>
{{/if}}
