// Forms.less
// Base styles for various input types, form layouts, and states
// -------------------------------------------------------------

// Remove all space below them
form {
	margin: 0 0 0;
}

.form-panel {
  height: @baseLineHeight;
  margin-bottom: 0px;
  margin-left: 0px;
  font-size: @baseFontSize;
  line-height: @baseLineHeight;
  color: @gray;
  background-color: @inputBackground;
  border: 1px solid @inputBorder;
  .border-radius(@inputBorderRadius);
  padding:5px; 
  overflow:auto; 
  height:170px;
 .box-sizing (border-box);
  
}

textarea {
	resize: vertical;
	min-height: @baseLineHeight;
}

select option {
    cursor: pointer;
}
select option[disabled=disabled] {
    background-color: #CCC;
    cursor: wait;
}

//  CHECKBOXES
// --------------------------

.field switch{
	clear: both;
}
  	.cb-enable, .cb-disable, .cb-enable span, .cb-disable span { background: url(../img/switch.gif) repeat-x; display: block; float: left; }
    .cb-enable span, .cb-disable span { line-height: 30px; display: block; background-repeat: no-repeat; font-weight: bold; }
    .cb-enable span { background-position: left -90px; padding: 0 10px; }
    .cb-disable span { background-position: right -180px;padding: 0 10px; }
    .cb-disable.selected { background-position: 0 -30px; }
    .cb-disable.selected span { background-position: right -210px; color: #fff; }
    .cb-enable.selected { background-position: 0 -60px; }
    .cb-enable.selected span { background-position: left -150px; color: #fff; }
    .switch label { cursor: pointer; }
    .switch input { display: none; }
    

// FORM FIELD FEEDBACK STATES
// --------------------------


// MVC VALIDATION
.field-validation-error {
    color: @errorText;
    display: inline-block;
  .ie7-inline-block();
  vertical-align: middle;
  padding-left: 5px;
}
.field-validation-valid {
    display: none;
}
.input-validation-error {
    border: 1px solid @errorText;
    background-color: @errorBackground;
}
.validation-summary-errors {
    font-weight: bold;
    color: @errorText;
}
.validation-summary-valid {
    display: none;
}

// REQUIRED FIELDS
// ------------

fieldset.required .control-label:after,
.control-label.required:after {
    color: @gmgPink;
    content: '*';
    display:inline;
    font-weight: bold;
}


// FORM ACTIONS
// ------------


.well {
	.form-actions {
		padding: 0 0px @baseLineHeight/2;
		margin-top: @baseLineHeight/2;
		margin-bottom: 0;
		background-color: transparent;
		border-top: 0px;
	  }
}


// Horizontal-specific styles
// --------------------------

/*
.form-horizontal {

  .control-group {
    margin-bottom: @baseLineHeight;
    .clearfix();

  }

  .control-label {
    float: left;
    width: 140px;
    padding-top: 5px;
    text-align: right;

     width: 32%;
     margin-right: 1%;
  }

  .controls {

    *display: inline-block;
    *padding-left: 20px;

    *margin-left: 0;

	margin: 0 0 0 33%;
    &:first-child {
      *padding-left: 160px;
    }
  }

  .help-block {
    margin-top: @baseLineHeight / 2;
    margin-bottom: 0;
  }
   .help-inline {

  }

  .form-actions {
    padding-left: 33%;
  }
}
*/
