//
// Responsive: Tablet to desktop
// --------------------------------------------------


@media (min-width: 768px) and (max-width: 979px) {

	.a-user-selector {	
		&.compact {
			&.newApproval {
				margin-right:180px;		
				.block-grid {
					&.one-up,
					&.two-up,
					&.three-up { margin: 0; margin: 0 -8px; }
					&.one-up > li,
					&.two-up > li,
					&.three-up > li { width: 100%; padding: 0 0 15px; padding: 0 8px 8px; }
				}
			}
		}
	}
	
	.nav-colored  > li > a {
   		padding-right: 0px;
    }
	.nav-colored {
		.badge {
			display:none;
		  }
	}

/*End (min-width: 768px) and (max-width: 979px) */	
}
