// NAVBAR (FIXED AND STATIC)
// -------------------------

.navbar-inner {
  .border-radius(0px);
   padding-right: 10px;
   border-top: 0;
   border-left:0;
   border-right:0;
}

.navbar {
	.brand {
	  float: left;
	  display: block;
	  // Vertically center the text given @navbarHeight
	  @elementHeight: 33px;
	  padding: ((@navbarHeight - @elementHeight) / 2) 20px ((@navbarHeight - @elementHeight) / 2);
	  margin-left: -20px; // negative indent to left-align the text down the page
	  font-size: 20px;
	  font-weight: 200;
	  color: @navbarBrandColor;
	  text-shadow: 0 1px 0 @navbarBackgroundHighlight;
		  &:hover {
		    text-decoration: none;
		  }
	  }
}



// FIXED NAVBAR
// ------------

.navbar-fixed-top .navbar-inner,
.navbar-fixed-bottom .navbar-inner {
  padding-left:  20px;
  padding-right: 20px;
}


// Links
.navbar .nav > li > a {
  // Vertically center the text given @navbarHeight
  padding: ((@navbarHeight - @baseLineHeight) / 2) 15px ((@navbarHeight - @baseLineHeight) / 2);
  font-size: 14px;
  //margin-bottom:-1px;
}

