//
// Pagination (multiple pages)
// --------------------------------------------------


.pagination {
  margin: 0 0 0;
  padding: @baseLineHeight/2 0;
  border-top: 1px solid #e5e5e5;
 }
.pagination ul {
  .box-shadow(none);
}
/*

.pagination ul > li > a,
.pagination ul > li > span {
  float: left;
  padding: 0 9px;
  line-height: 30px;
  text-decoration: none;
  background-color: @paginationBackground;
  border: 0px solid @paginationBorder;
  border-left-width: 0;
  .border-radius(3px);
}
.pagination ul > li > a:hover,
.pagination ul > .active > a,
.pagination ul > .active > span {
  background-color: #f5f5f5;
}
.pagination ul > .active > a,
.pagination ul > .active > span {
  color: @grayLight;
  cursor: default;
}
.pagination ul > .disabled > span,
.pagination ul > .disabled > a,
.pagination ul > .disabled > a:hover {
  color: @grayLight;
  background-color: transparent;
  cursor: default;
}
.pagination ul > li:first-child > a,
.pagination ul > li:first-child > span {
  border-left-width: 0px;
  .border-radius(3px);
}
.pagination ul > li:last-child > a,
.pagination ul > li:last-child > span {
  .border-radius(3px);
}
*/

