// Variables.less
// Variables to customize the look and feel of Bootstrap
// -----------------------------------------------------


// Custom colors
// -------------------------
@gmgPink:               #007acc;
@gmgBrown:              #541800;


// Links
// -------------------------
@linkColor:             @gmgPink;
@linkColorHover:        darken(@linkColor, 15%);

@gmgPinkBackground:                darken(@gmgPinkBackgroundHighlight, 5%);
@gmgPinkBackgroundHighlight:       #007acc;

// Typography
// -------------------------

@baseFontSize:          13px;
@baseFontFamily:        @sansFontFamily;
@baseLineHeight:        20px;
@altFontFamily:         @serifFontFamily;

// Buttons
// -------------------------
@btnBorder:                       #ccc;
@btnPrimaryBackgroundHighlight:   darken(@btnPrimaryBackground, 8%);


// Z-index master list
// -------------------------
// Used for a bird's eye view of components dependent on the z-axis
// Try to avoid customizing these :)
@zindexDropdown:          1000;
@zindexPopover:           1060;
@zindexTooltip:           1030;
@zindexFixedNavbar:       1030;
@zindexModalBackdrop:     1040;
@zindexModal:             1050;
@zindextypeahead:         1060;




// Navbar
// -------------------------
@navbarHeight:                    53px;

@navbarBackground:                darken(@navbarBackgroundHighlight, 5%);
@navbarBackgroundHighlight:       #ffffff;
@navbarBorder:                    darken(@navbarBackground, 12%);

@navbarText:                      @gray;
@navbarLinkColor:                 @gray;
@navbarLinkColorHover:            @grayDark;
@navbarLinkColorActive:           @gray;
@navbarLinkBackgroundHover:       transparent;
@navbarLinkBackgroundActive:      darken(@navbarBackground, 5%);

@navbarBrandColor:                @navbarLinkColor;

// Widget
// -------------------------
@widgetHeight:                    50px;
@widgetBackground:                darken(@widgetBackgroundHighlight, 5%);
@widgetBackgroundHighlight:       #ffffff;
@widgetBorder:                    darken(@widgetBackground, 12%);

@widgetHeaderText:                @grayDark;
@widgetHeaderLinkColor:           @gray;
@widgetHeaderLinkColorHover:      @linkColorHover;
@widgetHeaderLinkColorActive:     @widgetHeaderLinkColorHover;
@widgetHeaderBackgroundHover:     transparent;
@widgetHeaderLinkBackgroundActive: @widgetBackground;


// Footer
// -------------------------
@footerHeight:                    50px;
@footerBackground:                #333;

// Download Bar
// -------------------------
@downloadHeight:                    46px;
@downloadBackground:                #ddd;


// THEMES
// --------------------------------------------------

// Blue
// -------------------------

@blue:                                     #1368A4;
@blueThemeSansFontFamily:        		  "Helvetica Neue", Helvetica, Arial, sans-serif;
@blueThemeBaseFontFamily:                  @blueThemeSansFontFamily;

@blueThemelinkColor:                       @blue;
@blueThemelinkColorHover:        		   darken(@blueThemelinkColor, 15%);



@blueThemeNavbarBackground:                darken(@blueThemeNavbarBackgroundHighlight, 5%);
@blueThemeNavbarBackgroundHighlight:       #115C92;
@blueThemeNavbarBorder:                    darken(@blueThemeNavbarBackground, 5%);


@blueThemeNavbarText:                      @white;
@blueThemeNavbarLinkColor:                 @white;
@blueThemeNavbarLinkColorHover:            @white;
@blueThemeNavbarLinkColorActive:           @blueThemeNavbarLinkColorHover;
@blueThemeNavbarLinkBackgroundHover:       transparent;
@blueThemeNavbarLinkBackgroundActive:      darken(@blueThemeNavbarBackground, 5%);
     

@blueThemeNavbarSearchBackground:          lighten(@blueThemeNavbarBackground, 25%);
@blueThemeNavbarSearchBackgroundFocus:     @white;
@blueThemeNavbarSearchBorder:              darken(@blueThemeNavbarSearchBackground, 30%);
@blueThemeNavbarSearchPlaceholderColor:    #ccc;
@blueThemeNavbarBrandColor:                @blueThemeNavbarLinkColor;


@blueThemeBtnPrimaryBackground:            @blueThemelinkColor;
@blueThemeBtnPrimaryBackgroundHighlight:   darken(@blueThemeBtnPrimaryBackground, 10%);

@blueThemeDropdownLinkBackgroundHover:     @blueThemelinkColor;
@blueThemeDropdownLinkColorHover:          @white;

@blueThemeWidgetHeaderLinkColorHover:      @blueThemelinkColorHover;

// Green
// -------------------------

@green:                                    	#049cdb;
@greenThemeSansFontFamily:        		   	"Helvetica Neue", Helvetica, Arial, sans-serif;
@greenThemeBaseFontFamily:                  @greenThemeSansFontFamily;

@greenThemelinkColor:                       @green;
@greenThemelinkColorHover:        		   	darken(@greenThemelinkColor, 15%);


@greenThemeNavbarBackground:                darken(@greenThemeNavbarBackgroundHighlight, 5%);
@greenThemeNavbarBackgroundHighlight:       #78A352;
@greenThemeNavbarBorder:                    darken(@greenThemeNavbarBackground, 5%);

@greenThemeNavbarText:                      @white;
@greenThemeNavbarLinkColor:                 @white;
@greenThemeNavbarLinkColorHover:            @white;
@greenThemeNavbarLinkColorActive:           @greenThemeNavbarLinkColorHover;
@greenThemeNavbarLinkBackgroundHover:       transparent;
@greenThemeNavbarLinkBackgroundActive:      darken(@greenThemeNavbarBackground, 5%);

@greenThemeNavbarBrandColor:                @greenThemeNavbarLinkColor;


@greenThemeNavbarSearchBackground:          lighten(@greenThemeNavbarBackground, 25%);
@greenThemeNavbarSearchBackgroundFocus:     @white;
@greenThemeNavbarSearchBorder:              darken(@greenThemeNavbarSearchBackground, 30%);
@greenThemeNavbarSearchPlaceholderColor:    #ccc;


@greenThemeBtnPrimaryBackground:            #f58220;
@greenThemeBtnPrimaryBackgroundHighlight:   darken(@greenThemeBtnPrimaryBackground, 10%);

@greenThemeDropdownLinkBackgroundHover:     @greenThemelinkColor;
@greenThemeDropdownLinkColorHover:          @white;


@greenThemeWidgetHeaderLinkColorHover:      @greenThemelinkColorHover;

// Nuetral
// -------------------------

@pink:                                     #666;
@pinkThemeSansFontFamily:        		   "Helvetica Neue", Helvetica, Arial, sans-serif;
@pinkThemeBaseFontFamily:                  @pinkThemeSansFontFamily;

@pinkThemelinkColor:                       @pink;
@pinkThemelinkColorHover:        		   darken(@pinkThemelinkColor, 15%);

@pinkThemeNavbarBackground:                lighten(@pinkThemeNavbarBackgroundHighlight, 2%);
@pinkThemeNavbarBackgroundHighlight:       #ffffff;
@pinkThemeNavbarBorder:                    darken(@pinkThemeNavbarBackground, 12%);
  
@pinkThemeNavbarText:                      @gray;
@pinkThemeNavbarLinkColor:                 @gray;
@pinkThemeNavbarLinkColorHover:            @grayDark;
@pinkThemeNavbarLinkColorActive:           @gray;
@pinkThemeNavbarLinkBackgroundHover:       transparent;
@pinkThemeNavbarLinkBackgroundActive:      darken(@pinkThemeNavbarBackground, 5%);


@pinkThemeNavbarSearchBackground:          lighten(@pinkThemeNavbarBackground, 25%);
@pinkThemeNavbarSearchBackgroundFocus:     @white;
@pinkThemeNavbarSearchBorder:              darken(@pinkThemeNavbarSearchBackground, 30%);
@pinkThemeNavbarSearchPlaceholderColor:    #ccc;

@pinkThemeNavbarBrandColor:                @pinkThemeNavbarLinkColor;

@pinkThemeBtnPrimaryBackground:            #555;
@pinkThemeBtnPrimaryBackgroundHighlight:   darken(@pinkThemeBtnPrimaryBackground, 10%);

//@pinkThemeBtnPrimaryBackground:            @pinkThemelinkColor;
//@pinkThemeBtnPrimaryBackgroundHighlight:   darken(@pinkThemeBtnPrimaryBackground, 10%);

@pinkThemeDropdownLinkBackgroundHover:     @pinkThemelinkColor;
@pinkThemeDropdownLinkColorHover:          @white;

@pinkThemeWidgetHeaderLinkColorHover:      @pinkThemelinkColorHover;

// Pink
// -------------------------
//@pink:                                     #ED1556;
//@pinkThemeSansFontFamily:        		   "Helvetica Neue", Helvetica, Arial, sans-serif;
//@pinkThemeBaseFontFamily:                  @pinkThemeSansFontFamily;
//
//@pinkThemelinkColor:                       @pink;
//@pinkThemelinkColorHover:        		   darken(@pinkThemelinkColor, 15%);
//
//@pinkThemeNavbarBackground:                darken(@pinkThemeNavbarBackgroundHighlight, 5%);
//@pinkThemeNavbarBackgroundHighlight:       #ED1556;
//@pinkThemeNavbarBorder:                    darken(@pinkThemeNavbarBackground, 5%);
//
//
//@pinkThemeNavbarText:                      #FFFFFF;
//@pinkThemeNavbarLinkColor:                 #FFFFFF;
//@pinkThemeNavbarLinkColorHover:            @white;
//@pinkThemeNavbarLinkColorActive:           @pinkThemeNavbarLinkColorHover;
//@pinkThemeNavbarLinkBackgroundHover:       transparent;
//@pinkThemeNavbarLinkBackgroundActive:      darken(@pinkThemeNavbarBackground, 5%);
//    
//
//@pinkThemeNavbarSearchBackground:          lighten(@pinkThemeNavbarBackground, 25%);
//@pinkThemeNavbarSearchBackgroundFocus:     @white;
//@pinkThemeNavbarSearchBorder:              darken(@pinkThemeNavbarSearchBackground, 30%);
//@pinkThemeNavbarSearchPlaceholderColor:    #ccc;
//@pinkThemeNavbarBrandColor:                @pinkThemeNavbarLinkColor;
//
//
//@pinkThemeBtnPrimaryBackground:            @pinkThemelinkColor;
//@pinkThemeBtnPrimaryBackgroundHighlight:   darken(@pinkThemeBtnPrimaryBackground, 10%);
//
//@pinkThemeDropdownLinkBackgroundHover:     @pinkThemelinkColor;
//@pinkThemeDropdownLinkColorHover:          @white;
//
//@pinkThemeWidgetHeaderLinkColorHover:      @pinkThemelinkColorHover;

// White
// -------------------------


@clear:                                    	@gmgPink;
@clearThemeSansFontFamily:        		    "Helvetica Neue", Helvetica, Arial, sans-serif;
@clearThemeBaseFontFamily:                  @clearThemeSansFontFamily;

@clearThemelinkColor:                       @clear;
@clearThemelinkColorHover:        		   	darken(@clearThemelinkColor, 15%);


@clearThemeNavbarBackground:                #111111;
@clearThemeNavbarBackgroundHighlight:       #333333;
@clearThemeNavbarBorder:                    #222222;

@clearThemeNavbarText:                      @grayLight;
@clearThemeNavbarLinkColor:                 @grayLight;
@clearThemeNavbarLinkColorHover:            @white;
@clearThemeNavbarLinkColorActive:           @clearThemeNavbarLinkColorHover;
@clearThemeNavbarLinkBackgroundHover:       transparent;
@clearThemeNavbarLinkBackgroundActive:      @clearThemeNavbarBackground;

@clearThemeNavbarBrandColor:                @clearThemeNavbarLinkColor;


@clearThemeNavbarSearchBackground:          lighten(@navbarInverseBackground, 25%);
@clearThemeNavbarSearchBackgroundFocus:     @white;
@clearThemeNavbarSearchBorder:              @clearThemeNavbarBackground;
@clearThemeNavbarSearchPlaceholderColor:    #ccc;


@clearThemeBtnPrimaryBackground:            @clearThemelinkColor;
@clearThemeBtnPrimaryBackgroundHighlight:   darken(@clearThemeBtnPrimaryBackground, 10%);

@clearThemeDropdownLinkBackgroundHover:     @clearThemelinkColor;
@clearThemeDropdownLinkColorHover:          @white;


@clearThemeWidgetHeaderLinkColorHover:      @clearThemelinkColorHover;

