@charset 'UTF-8';
/*
 * jQuery File Upload UI Plugin CSS 6.3
 * https://github.com/blueimp/jQuery-File-Upload
 *
 * Copyright 2010, Sebastian Tschan
 * https://blueimp.net
 *
 * Licensed under the MIT license:
 * http://www.opensource.org/licenses/MIT
 */

.fileinput-button {
  position: relative;
  overflow: hidden;
  float: left;
  margin-right: 4px;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  border: solid transparent;
  border-width: 0 0 100px 200px;
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-transform: translate(-300px, 0) scale(4);
  direction: ltr;
  cursor: pointer;
}
.fileupload-buttonbar .btn,
.fileupload-buttonbar .toggle {
  margin-bottom: 5px;
  margin-left: 30px;
}
.files .progress {
  width: 200px;
}

.progress-animated .bar {
  background: url(../img/progressbar.gif) !important;
  filter: none;
}

// Outer container

.progress {
	margin-top: @baseLineHeight;
}

.fileupload-loading {
  position: absolute;
  left: 50%;
  width: 128px;
  height: 128px;
  background: url(../img/loading.gif) center no-repeat;
  display: none;
}
.fileupload-processing .fileupload-loading {
  display: block;
}


/* Fix for IE 6: */
*html .fileinput-button {
  line-height: 22px;
  margin: 1px -3px 0 0;
}

/* Fix for IE 7: */
*+html .fileinput-button {
  margin: 1px 0 0 0;
}



@media (max-width: 480px) {
  .files .btn span {
    display: none;
  }
  .files .preview * {
    width: 40px;
  }
  .files .name * {
    width: 80px;
    display: inline-block;
    word-wrap: break-word;
  }
  .files .progress {
    width: 20px;
    height: auto;
  }
  .files .delete {
    width: 60px;
  }
}

.preview img 
{
    max-width: 80px;
    max-height: 80px;
}


// DROPZONE
// -------------------

.dropzone {
    padding:20px;
    /*
	height: 50px;
    line-height: 50px;
    */
    text-align: center;
    font-weight: bold;
    background: none;
    border: 4px dashed #DDDDDD;
    .border-radius(8px);
    color: #BBBBBB;
    cursor: pointer;
    direction: ltr;
    height: 60px;
    line-height: 60px;
    margin-left: 0;
    margin-right: 180px;
    position: relative;
    .text-overflow();
}
.dropzone.in {
    padding:50px 20px;
    /*
	height: 200px;
    line-height: 200px;
    */
    background: none;
    border: 4px dashed #78c0a0;
    width: auto;
}
.dropzone.hover {
    background: #cfe9dd;
}
.dropzone.fade {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 1;
}
