/*!
 *
 * GMG CoZone Reponisve Additions
 *
 */
 
//
// Responsive: Landscape phone to desktop/tablet
// --------------------------------------------------


@media (max-width: 767px) {

   // Padding to set content in a bit
  body {
    padding-left: 0px;
    padding-right: 0px;
  }
  #content {
    padding-left: 20px;
    padding-right: 20px;
  }
  #footer {
    padding-left: 20px;
    padding-right: 20px;
    
 /*
   ul.pull-right {
		float:none;  
	}
*/
	/*
.copyright {
	  display: none;
	}
*/
  }
  
	// Negative indent the now static "fixed" navbar
	.navbar-fixed-top,
	.navbar-fixed-bottom {
		margin-left: 0px;
		margin-right: 0px;
	}
	// Remove padding on container given explicit padding set on body
	.container-fluid {
		padding: 0;
	}
	
	// Wizard
	.wizard-steps span {
	  display:none;
	}
   

  // LOGIN
  // -----------------
  
	#centered-column {
		width: auto;
	}
	#login-banner {
		padding-right: 0;
	}
	#login-form {
		border-left: 0;
		padding-left: 0;
	}

	
	/*
	.btn-toolbar {
			.btn-group {
				span {
					display: none;
				}
			}
		}
	*/
		

	
// WIDGET HEADER
// ---------------

.widget-header {
		
	.widget-links {
	    float: right;
	    font-size: 11px;
	    line-height:  @widgetHeight;
	    margin: 0;
	    list-style: none;
	    padding: 0;
	    text-shadow: 1px 1px 0 rgba(255,255,255,.75);
	    text-transform: uppercase;
			li {
			    display: inline;
			    padding: 3px 20px 3px;
			}
			li a {
			    color: @widgetHeaderLinkColor;
			    font-weight: bold;
	    	}
	    	li a:hover {
			    color:@widgetHeaderLinkColorHover;
	    	}

	    }
	}
	
	
	.dropzone {  	
    	margin-right: 0%;
    }

	
	.a-user-selector {	
		&.compact {
			&.newApproval {
				margin-right:0;
			}
		}
		
		.block-grid {
			&.one-up,
			&.two-up,
			&.three-up { margin: 0; margin: 0 -8px; }
			
			&.one-up > li,
			&.two-up > li,
			&.three-up > li { width: 100%; padding: 0 0 15px; padding: 0 8px 8px; }
		}

	}
	
	.blank-state {
		.blank-state-icon {
			text-align: center;
		}
	    h3 {
	    	text-align: center;
	    	margin: -@baseLineHeight/2 0 @baseLineHeight/4;
	    }
	    p {
	    	text-align: center;
	    }
	    .btn {
		  text-align: center;
	    }   
	}

	
	// Responsive Tables http://foundation.zurb.com
	// ----------------------------------------


	table.responsive { margin-bottom: 0; }
	
	.pinned { position: absolute; left: 0; top: 0; background: #fff; width: 35%; overflow: hidden; overflow-x: scroll; border-right: 1px solid #ddd; border-left: 0px solid #ddd; }
	.pinned table { border-right: none; border-left: none; width: 100%; }
	.pinned table th, .pinned table td { white-space: nowrap; }
	.pinned td:last-child { border-bottom: 0; }
	
	div.table-wrapper { position: relative; margin-bottom: 20px; overflow: hidden; border-right: 1px solid #ddd; }
	div.table-wrapper div.scrollable table { margin-left: 35%; }
	div.table-wrapper div.scrollable { overflow: scroll; overflow-y: hidden; }	
	
	table.responsive td, table.responsive th { position: relative; white-space: nowrap; overflow:visible; }
	table.responsive th:first-child, table.responsive td:first-child, table.responsive td:first-child, table.responsive.pinned td { display: none; }

}


// UP TO LANDSCAPE PHONE
// ---------------------

@media (max-width: 480px) {

  	 #centered-column {
	    width: auto;
	}

	
	.a-user-selector li {
    	margin: 0 0% 1% 0;
    	width: 100%;
    }
    .dropzone {  	
    	margin-right: 0%;
    }
  
}
