// APPROVAL PILLS
// Overwrite base pill styles by adding nav-colored
// ----------

// PILLS
// -----
.nav-colored  > li > a {
  color: @grayDark;
  background-color: @grayLighter;
    .text-overflow();
    padding-right: 40px;
    position: relative;
}
.nav-colored  > li > a:hover {
  text-decoration: none;
  background-color: #D9D9D9;
  background: rgba(0, 0, 0, 0.15);
}
// Active state
.nav-colored > .active > a,
.nav-colored > .active > a:hover {
  color: @white;
  background-color: #494949;
}

.nav-colored {
	// Base classes
	 margin-bottom: 10px;
	.badge {
	  text-shadow: 0 -1px 0 rgba(0,0,0,.5);
	  background-color: #999;
	  top:50%;
	  margin-top: -9px;
	  right:10px;
	  position: absolute;
	  
	}
	.badge {
	   &-inverse           { background-color: #000; }
	   &-inverse[href]     { background-color: darken(@grayDark, 10%); }
	}
	
	[class^="icon-"],
	[class*=" icon-"] {
		 font-size: 14px;
		 margin-right: 8px;
	}
	
}

.tab-content {
  overflow:visible;
}