// PRINT
// -------------------------------------------


	@page {
		size: portrait;
		margin: 0cm; 
	}
	@page rotated { size : landscape }
	
	* {
	    background: none !important;
	    color: black !important;
	    text-shadow: none !important;
	    filter: none !important;
	    -ms-filter: none !important;
	}
	html, body {
		height: auto !important;
	}
	body {
		font-size: 10pt;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		margin: 0;
		padding: 0;
		margin-left: 0mm;
		margin-right: 0mm; 

	}
	/* Opera Fix*/
	body:before { 
		display: none;
	}
	.container {
	    width:100%;
	}
	.row-fluid [class*="span"] {
	    -moz-box-sizing: none;
	    display: block;
	    float: none;
	    margin-left: 0;
	    min-height: auto;
	    width: 100%;
	}
	#print {
		margin: 0;
		.page {
		    .box-shadow(none);
		 	padding: 0 !important;
	    }
	}
	.page-header {
	    border-bottom: 1pt solid #EEEEEE;
	    margin: 0 0 20px;
	    padding-bottom: 0;
	}
	.widget {
		width: 90% !important;
	}
	.widget-header {
		background: none;
		border: 1px solid @widgetBorder;
		.border-radius(4px 4px 0 0);
		.background-clip(none);
		.box-shadow(none);
			h3 {
				color: rgb(0,0,0);
			    font-size: 14pt;
			    text-shadow: none;	
			}	
			.widget-links {
				display:none;
			    }
			.btn-group {
				display: none;
			}
	}
	
	.widget-content {
	   background: none;
	}
	
	
	
	.grand-total {
		border-top: 1px solid #EEEEEE;
	    margin: 20px 0 0px;
	    padding-top: 0;
	}
	
	a,
	a:visited {
	    text-decoration: underline
	}
	/* a[href]:after {
	    content: " (" attr(href) ")"
	}*/
	abbr[title]:after {
	    content: " (" attr(title) ")"
	}
	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
	    content: ""
	}
	pre,
	blockquote {
	    border: 1px solid #999;
	    page-break-inside: avoid;
	}
	img {
	    page-break-inside: avoid;
	     max-width: 100%;
	}
	table { page-break-after:auto }
	tr    { page-break-inside:avoid; page-break-after:auto }
	td    { page-break-inside:avoid; page-break-after:auto }
	thead {	display: table-header-group }
	tfoot { display:table-footer-group }

	.btn, .meta-count, header, footer, .page-sort {
		display: none;
	}
	
	.approval-details-section {
			page-break-after: always;
			page-break-inside: avoid;
	}
	
	.approval-page-section {
			page-break-inside: avoid;
			page-break-after: always;
			border-bottom:0px dashed @tableBorder;
	
		.print-table{
			display: table;
			.image-col {
				width:50%;
				display: table-cell;
				vertical-align: top;
				img{
					width:100%;	
				}
			}
			.comment-col {
				width:50%;
				display: table-cell;
				vertical-align: top;
				padding: 0 0 0 5%;
			}
		}
	
	}
	.img-polaroid {
	  -webkit-box-shadow: none;
	     -moz-box-shadow: none;
	          box-shadow: none;
          }

	.comment-list { 
		li.comment { 
			border-bottom: 1px solid #DDDDDD;
		    dl {
			  	dt {
				    font-size: 8pt;
			  	} 
			  	dd {
			  	 font-size: 8pt;
			  	 line-height: 10pt; 
			  	 	p { 
			  	 	margin: 0 0 4pt;
			  	 	}
			  	
				}
			  	dd.timestamp {
			        font-size: 5pt;
			  	} 
		    }
		}	
	}	
	
