// Admin
// Basic and global styles for the administration site
// -------------------------------------------------------------------------------------------

html, body {
    height: 100%;
}

body {
  background: #f0f0f0 url("../img/base-noise.jpeg") repeat /* url("../img/100-70-5-monochrome.png") repeat */;
}
	
/* Opera Fix*/
body:before { 
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;
}

#wrapper {
    clear: both;
    height: auto !important;
    margin-bottom: -@footerHeight;
    min-height: 100%;
	    #footer-pusher {
	    	height: @footerHeight;
	    }
}

body.download-bar #wrapper {
    margin-bottom: -@footerHeight + -@downloadHeight;
	    #footer-pusher {
	    	height: @footerHeight + @downloadHeight;
	    }	 
}

.nav-gravatar {	
	vertical-align: middle;
	.size(30px, 30px);
	max-width: 30px;
	margin-right: 8px;
	margin-top: -7px;
	float:left;
	padding: 0px;
	border: 2px solid @widgetBorder;
	display: inline-block;
	.ie7-inline-block();
}

#site_message_box {
    background: #B90809;
    color: @white;
    font-style: italic;
    margin:0px 0 0 0px;
    padding: 3px 20px;
    text-align: center;
}

#content {
    min-height: 400px;
}


#download-bar { 

  	height: @downloadHeight;
  	background: @downloadBackground;
  	
/*
	.download-info {
		display: inline-block;
		.ie7-inline-block();
		padding:0 12px;
		margin-top: 3px;
		margin-bottom: 0; // For input.btn
		height: 38px;
		text-align: left;
		vertical-align: middle;
		cursor: pointer;
		.buttonBackground(@btnBackground, @btnBackgroundHighlight, @grayDark, 0 1px 1px rgba(255,255,255,.75));
		border: 1px solid @btnBorder;
		*border: 0; // Remove the border to prevent IE7's black border on input:focus
		border-bottom-color: darken(@btnBorder, 10%);
		.border-radius(0);
		.ie7-restore-left-whitespace(); // Give IE7 some love
		.box-shadow(~"inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05)");
		
		.download-details {
			list-style: none;
			margin: 0 0 0 0px;
			padding: 0;

			li {
		
				padding: 0;
		
				.progress {
				    margin-top: 10px;
				    height: 3px;
				    margin-bottom: 0px;
				     .border-radius(0);
				}	
			}
	
	
	li.zip-icon {
				display: block;
				font-size:@baseFontSize;
				height: 34px;
				width:34px;
				margin: 0 0 0 -0px;
			}

			li.title {
				font-size: 12px;
				color:#333;	
				
			}
			li.message {
				font-size: 9px;
				color:#999;	
					font-size: 12px;
				color:#333;	
				
			}
		}
	
	}
	
	.btn-group > .download-info + .btn {
	  margin-left: -1px;
	}
	.btn-group > .download-info:first-child {
	  margin-left: 0;
	  .border-top-left-radius(@baseBorderRadius);
	  .border-bottom-left-radius(@baseBorderRadius);
	}

	.btn-group > .download-info + .dropdown-toggle {
	  padding-left: 8px;
	  margin-top: 3px;
	  padding-right: 8px;
	  .box-shadow(~"inset 1px 0 0 rgba(255,255,255,.125), inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05)");
	  height: 40px;
	}
*/

	
}


.download-widget {
		display: inline-block;
		.ie7-inline-block();
		padding:0 12px 0 12px;
		margin-bottom: 0; // For input.btn
		height: 38px;
		text-align: left;
		vertical-align: middle;
		cursor: pointer;
		.buttonBackground(@btnBackground, @btnBackgroundHighlight, @grayDark, 0 1px 1px rgba(255,255,255,.75));
		border: 1px solid @btnBorder;
		*border: 0; // Remove the border to prevent IE7's black border on input:focus
		border-bottom-color: darken(@btnBorder, 10%);
		.border-radius(4px);
		.ie7-restore-left-whitespace(); // Give IE7 some love
		.box-shadow(~"inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05)");
		
		
		.progress {
				    height: 4px;
				    margin-bottom: 0px;
				     .border-radius(0);
				}	
				.message {
					font-size: 12px;
				color:#333;	
				white-space: nowrap;
				
			}

	}



/*  Pasads code */

/*
	.download-widget {
		display: inline-block;
		float: left;
		.ie7-inline-block();
		margin-bottom: 0; // For input.btn
		text-align: left;
		vertical-align: middle;
		cursor: pointer;
		.buttonBackground(@btnBackground, @btnBackgroundHighlight, @grayDark, 0 1px 1px rgba(255,255,255,.75));
		border: 1px solid @btnBorder;
		*border: 0; // Remove the border to prevent IE7's black border on input:focus
		border-bottom-color: darken(@btnBorder, 10%);
		.border-radius(4px);
		.ie7-restore-left-whitespace(); // Give IE7 some love
		.box-shadow(~"inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05)");

	}
*/


	.download-file {
        border: #FFFFFF solid 1px;
        border-radius: 4px 4px 4px 4px;
        display: inline-block;
        margin-right: 3px;
	        img {
		        height: 24px;
		        margin: 3px 0;
	        }
    }
  
    .download-file .progress-text {
        color: #FFFFFF !important;
        display: inline-block;
        font-size: 12px !important;
        font-weight: normal !important;
        margin: 5px 0;
    }
    .download-file .download-remove {
        position: relative;
        right: -6px;
    }
    .download-file-template {
        display: none;
        visibility: hidden;
    }
                            
                            
                            		
#footer {
    background: @footerBackground;
    //background: @grayDarker url("../img/linen.png") repeat;
    color: @grayLight;
    line-height: @footerHeight;
/*
    background-color: rgba(0, 0, 0, 0.03);
    border-top: 1px solid rgba(0, 0, 0, 0.03);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.02) inset, 0 -1px 0 rgba(255, 255, 255, 0.25);
*/
  
    h4, p {
	    color: @grayLight;
	    }
	a {
	    color: @white;
	    }
	a:hover {
    	color: @white;
    	text-decoration: underline;
    	}
	ul {
	    border: 0 none;
	    margin: 0;
	    padding: 0;
		    &.contact-support{
			    float:left;
			    border: 1px solid red;
			    margin-right: 20px;
		    }
	    }
	
	ul.copyright {
		font-size:11px;
	    }
	ul:before, 
	ul:after {
	    content: "";
	    display: table;
	    }
	ul:after {
	    clear: both;
	    }
	ul li {
	    -moz-box-orient: vertical;
	    display: inline-block;
	    list-style-image: none;
	    list-style-type: none;
	    margin-left: 0;
	    padding-left: 5px;
	    padding-right: 5px;
	    vertical-align: middle;
	    white-space: nowrap;
	}
	 [class^="icon-"],
	 [class*="icon-"] {
		 text-decoration: none;
		 margin-right: 5px;
	}
}

// SHOW LOADER
// ---------------
	
.loading {
    cursor: wait;
  	.size(90px, 90px);
    text-align: center;
    background:@white;
    .border-radius(4px);
    @shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
	.box-shadow(@shadow);
    
    img {
    	margin-top: 10px
    }

}

// POPOVER
// ---------------
	
.icon-popover {
    cursor:pointer;
    font-size: 18px;
    line-height: @baseLineHeight;
}


// IN DEVELOPMENT
// ---------------

#box {
  	/*
  	background: #FFF;
    border: 1px solid #CDCDCD; */
    width: 70%;
    text-align: center;
    margin: 4em auto 2em;
    padding: 3em;
    text-shadow: 0 1px 0 #fff;
    h1 {
	    font-size: 37px;
	    line-height: 110%;
	    margin: 0 0 .5em;
    }
    p {
	    color: #888;
	    font-size: 19px;
	    margin: 0 1em 10px;
	    small {
		    color: #999;
		    font-size: 13px;
		}
    }
}

// BLANK STATE
// --------------- 

.blank-state {
    margin: @baseLineHeight 0;	
	.blank-state-icon {
		text-align: right;
	}
    h3 {
	   line-height:  @baseLineHeight;
	    margin: @baseLineHeight 0 @baseLineHeight/4;
    }
    p {
	   margin-bottom: @baseLineHeight/2;  
	   color: @gray;
    }
    .btn {
	    margin: 0 0 @baseLineHeight/2;
    }   
    [class^="icon-"], [class*=" icon-"] {
	    display: inline-block;
	    font-size: 100px;
	    line-height: 120px;
	    padding: 0 @baseLineHeight/2 0 0;
	    vertical-align: top;
	    text-align: center;
	    color: #bfbfbf;
    }
}






