// WIDGET COLLABORATOR
// -------------------

.collaboratorgroup-filters {
    border-top: 1px solid #ddd;
    height: 34px;
    padding: 6px 0;
    div {
    	padding: 3px 0;
    }
}

.collaboratorgroup-blocks {
    clear: both;
    display: block;
    width: 100%;
}

.collaboratoraccess-options {
	margin:0; 
	text-align: center;
}

.collaboratorshare-options {
	&.radio {
		margin-left: 18px !important;
		&:hover {
			cursor: pointer;
		}	
	}
}

.collaboratorshare-control.modal-clear .modal-header, 
.collaboratorshare-control.modal-clear .collaboratorshare-message, 
.collaboratorshare-control.modal-clear .collaboratorshare-filters, 
.collaboratorshare-control.modal-clear .collaboratorshare-fields, 
.collaboratorshare-control.modal-clear .collaboratorshare-events, 
.collaboratorshare-blocks .block.remove, 
.collaboratorshare-blocks .block-template, 
.collaboratorshare-data {
        display: none;
 }
/* .a-user-selector.compact.newApproval : This class shoud be like below */
.collaboratorshare-control.modal-clear .a-user-selector.compact {
        margin-right: 180px;
}
.collaboratorshare-blocks .block.active {
	  display: block;
}


.collaboratoraccess-control.modal-clear .modal-header, 
.collaboratoraccess-control.modal-clear .collaboratoraccess-filters, 
.collaboratoraccess-control.modal-clear .collaboratoraccess-blocks .block, 
.collaboratoraccess-control.modal-clear .collaboratoraccess-blocks .block-header.group, 
.collaboratoraccess-control.modal-clear .collaboratoraccess-blocks .block-grid.group, 
.collaboratoraccess-control.modal-clear .collaboratoraccess-blocks .block-header.user, 
.collaboratoraccess-control.modal-clear .collaboratoraccess-blocks .block-header.external, 
.collaboratoraccess-control.modal-clear .collaboratoraccess-blocks .block-grid.external, 
.collaboratoraccess-control.modal-clear .collaboratoraccess-events, 
.collaboratoraccess-control.modal-clear .collaboratoraccess-blocks .block.disabled .role-selector .actions, 
.collaboratoraccess-control .collaboratoraccess-blocks .block .role-selector .actions, 
/*2013-01-15 BUG 403 ?? .collaboratoraccess-blocks.freeze .block.disabled .role-selector .role,*/ 
.collaboratoraccess-data {
        display: none;
}
/* .a-user-selector.compact.newApproval : This class shoud be like below */
.collaboratoraccess-control.modal-clear .a-user-selector.compact {
    margin-right: 180px;
}
.collaboratoraccess-control.modal-clear {
    display: block !important;
}
.collaboratoraccess-control.modal-clear .collaboratoraccess-blocks .block.active, .collaboratoraccess-control.modal-clear .collaboratoraccess-blocks .block .role-selector .actions {
    display: block;
}
.collaboratoraccess-control.modal-clear .block.disabled dl {
    border-color: #E3E3E3;
}
    

// USER MODAL
// ----------

.user-selector-header {
	border: 0;
	margin: 0;
	padding: 0 0 0;
	.box-sizing (border-box);
	.nav {
		margin:0 0 0 0px;
	}
	input {
		margin:0px 0px 0 0;	
	}
	.well {
    	margin-bottom: 0px;
    }
			
}

.user-selector-container {
	position: relative;
	margin-bottom: @baseLineHeight /2;
	margin-top: @baseLineHeight /2;
	margin-left: 0px;
	font-size: @baseFontSize;
	line-height: @baseLineHeight;
	color: @gray;
	.box-sizing (border-box);
	&.big {
		margin-bottom: 5px;
		margin-top: 0;
	}
	// SEARCH & ACTIVE TOGGLES	
	&.a-active-only .a-user-selector .block-grid > li {
    	display: none;
	}
	&.a-active-only .a-user-selector .block-grid > li.active {
	    display: block;
	}
	&.a-search-only .a-user-selector .block-grid > li {
	    display: none;
	}
	&.a-search-only .a-user-selector .block-grid > li.active-search {
	    display: block;
	}
	&.a-active-only.a-search-only .a-user-selector .block-grid > li {
	    display: none;
	}
	&.a-active-only.a-search-only .a-user-selector .block-grid > li.active.active-search {
	    display: block;
	}
	
}


// USER SELECTOR
// ----------

.a-user-selector {
    position: relative;
    
	.block-grid {
		padding: 0 !important;
		list-style:none;
		margin:0;
		display: block;
		.clearfix();
		> li  {
			display: block; 
			height: auto;
	    	float: left;
		    .box-sizing (border-box);
		    //*behavior: url(../../boxsizing.htc); 
		}
		
		&.one-up { margin: 0; margin: 0 -8px; }
		&.one-up > li { width: 100%; padding: 0 0 15px; padding: 0 8px 8px; }
		
		&.two-up { margin: 0 -15px; margin: 0 -8px; }
		&.two-up > li { width: 50%; padding: 0 15px 15px; padding: 0 8px 8px; }
		&.two-up > li:nth-child(2n+1) { clear: both; }
		
		&.three-up { margin: 0 -12px; margin: 0 -8px; }
		&.three-up > li { width: 33.33333%; padding: 0 12px 12px; padding: 0 8px 8px; }
		&.three-up > li:nth-child(3n+1) { clear: both; }

	}
	 h6 {
		margin: 0 0  @baseLineHeight/2 0;
		padding: @baseLineHeight/2 0 5px;
		line-height: @baseLineHeight; 
		border-bottom: 1px solid #e5e5e5; 
    }
    .search-results {
		margin: @baseLineHeight 0 0 0;
	    padding: 0;   
	}
	
	// NORMAL User Layout	
	dl {
		background-color: #F5F5F5;
		border: 1px solid #E3E3E3;
		.border-radius(@inputBorderRadius);
		cursor: pointer;
		padding: 10px 10px 7px 70px;
		margin: 0 0 0 0;
		position: relative;
		.clearfix();
		&:hover  {
		    background-color: darken(@white, 7%);
		    border: 1px solid darken(@white, 15%);
		    .transition(all .2s ease-in-out);
	    }
	    dt {
			font-weight: bold;
			overflow: hidden;
			white-space: nowrap;
			margin: 0 30px 0 0;
			padding:0;
			color: @textColor;
			.text-overflow();
			.label {
				padding: 0px 4px 0px;
				font-size: 9px;
				line-height: 12px;
				text-transform: uppercase;
				.border-radius(2px);
			}
		}
		dd {
		    font-size: 12px;
		    margin:0;
		    padding:0;
		    .text-overflow();
		    color:#666;
			&.groupNo {
				position: absolute;
				right:5px;
				top:-10px;
			}
			&.a-meta {
			    white-space: nowrap;
			}
			&.a-avatar {
			    float: left;
			    margin: -44px 0 0 -63px; 
			    .square(54px);
			    //border: 1px solid darken(@white, 15%);
			}
			// ROLE SELECTOR
			&.role-selector {
				 overflow: visible !important;
				 float:right;
				 margin: -14px -3px 0 0 !important;
				 &.dropdown-menu {
				    margin: 2px 0 0;
				    li {
					    float: none;
					    margin: 2px 0;
					    width: auto;
					}
				}
			}


		}

	}
	
    // ROLE SELECTOR
	.role-selector {
		 overflow: visible !important;
		 float:right;
		 //margin: -14px -3px 0 0 !important;
		  margin: -34px 10px 0 0 !important;
		 &.dropdown-menu {
		    margin: 2px 0 0;
		    li {
			    float: none;
			    margin: 2px 0;
			    width: auto;
			}
		}
	}
			
	// COMPACT User Layout 
	&.compact {
	
		&.newApproval {
			margin-right:180px;
		}
		
		dl {
		    padding: 5px 10px 7px 40px;
		    .clearfix();
		    dt {
			    font-weight: normal;
			    &.group {
				    font-weight: bold;
				    line-height: 28px;
				}
			}
			dd {
			    font-size: 10px;
			    line-height: 12px;
			    &.a-avatar {
				    margin: -27px 0 0 -32px;
				    .square(24px);
				}

			}
		}
	}
		
	li {
		&.vCard dl {
			background-color: none;
			border-color: none;
			padding: 0;
			width:auto; 
			max-width:100%; 
			margin:0; 
			float: none;
		}
		&.active dl {
		    background-color: #dff4ff;
		    border-color: darken(#dff4ff, 15%);
	    }
		&.active dl:hover {
		    background-color: darken(#dff4ff, 2%);
		    border: 1px solid darken(#dff4ff, 25%);
		    .transition(all .2s ease-in-out);
	    }
	    
	    &.active.disabled dl {
		      background-color: #dff4ff;
		      border-color: darken(#dff4ff, 15%);
		    cursor: not-allowed;
		}
	    &.disabled dl {
		  	 background-color: #dff4ff;
		      border-color: darken(#dff4ff, 15%);
		    cursor: not-allowed;
		}
		
		
	}

}

.add-user-control {
		margin: @baseLineHeight/2 0  @baseLineHeight 0;
}

.avatar-100 {
   .square(100px);
	max-width: 100px;
}




    