//
// Tables.less
// ----------------------------------------





h4 small {
    font-size: 10px;
}


.notifications .on {
    //background-color: lighten(@gmgPink, 45%);
    background-color: #f5f5f5;
}

.notifications .on, 
.notifications .off {
    width: 15%;
    text-align: center;
}


.notifications th {
    border-bottom: 1px solid #ccc;
	 
	 [class^="icon-"],
	 [class*="icon-"] {
		 margin-right: 5px;
		 font-size: 1.2em;
		 float: left;
	}
}
.notifications th.activity-name {
    text-align: left;
    //text-transform:uppercase;
}



// PERMISSIONS TABLE
// ---------------

.table-permissions {
  width: 100%;
  //margin-top: @baseLineHeight;
  margin-bottom: @baseLineHeight;
  clear:both;
  // Cells
  td {
    padding: 0px 7px 0px 0px;
    line-height: @baseLineHeight;
    text-align: left;
    vertical-align: top;
    border: 0px solid @tableBorder;
     label.large {
	 	font-size: 16px;
	 	cursor: pointer;
     }
  }
  td.lblHelp {
  	padding-bottom: @baseLineHeight;  
  }
  td.send-email {
		padding-bottom: @baseLineHeight /2;    
  }
}



// UPLOAD TABLE
// ---------------

.table-upload {
  	width: auto;
   margin-top: @baseLineHeight;
   margin-bottom: @baseLineHeight;
	clear:both;
  // Cells
  th,
  td {
    padding: 8px 8px 8px 0;
    line-height: @baseLineHeight;
    text-align: left;
    vertical-align: middle;
    //border: 1px solid @tableBorder; 
  }
   td.size {
   	color:#999;
  }
  th {
    font-weight: bold;
  }
 
}

// PRINT DETAILS TABLE
// ---------------


.table-approval-details {
    border: 1px solid @tableBorder;
    max-width: 100%;
    width: 100%;
    background-color: @tableBackground;
    border-spacing: 0;
    border-collapse: separate; // Done so we can round those corners!
    *border-collapse: collapse; // IE7 can't round corners anyway
    .border-radius(4px);
    th,
	td {
	    border-bottom: 1px dotted @tableBorder;
	    line-height: @baseLineHeight;
	    padding: 7px;
	}
	// Prevent a double border
	tbody:last-child tr:last-child th,
	tbody:last-child tr:last-child td {
	border-bottom: 0;
	}
	th {

	    text-align: left;
	    width: 23%;
	     color: #999999;
    font-size: 11px;
    line-height: 20px;
    text-transform: uppercase;
/* background-color: darken(#f5f5f5, 4%);  */
	   
/*
span {
		  	background-color: darken(#f5f5f5, 4%); 
		    display: block;
		    padding: 5px;

		     
		}
*/


    }
 

	
}

.table-approval-details-simple {
    max-width: 100%;
    width: 100%;

      border-top: 0px solid @tableBorder;
    background-color: @tableBackground;
    border-spacing: 0;
    border-collapse: separate; // Done so we can round those corners!
    *border-collapse: collapse; // IE7 can't round corners anyway
    .border-radius(4px);
    th,
	td {
	    line-height: @baseLineHeight;
	        padding: 7px 0;
	        	    border-bottom: 1px dotted @tableBorder;
	}
	// Prevent a double border
	tbody:last-child tr:last-child th,
	tbody:last-child tr:last-child td {
	border-bottom: 0;
	}
	th {

	    text-align: left;
	
	    width: 160px;

	    	     color: #999999;
    font-size: 11px;
    line-height: 20px;
    text-transform: uppercase;
    }
	
}


// USER ACTIVITY TABLE
// ---------------

.table-user-activity {
/*
   tr.adjust-widths { 
		th:nth-child(1) { 
			width: 4%; 
		}
		th:nth-child(2) { 
			width: 20%; 
		}
		th:nth-child(3) { 
			width: 12%; 
		}
		th:nth-child(4) { 
			width: 18%; 
		}	
		th:nth-child(5) { 
			width: 18%; 
		}
		th:nth-child(6) { 
			width: 10%; 
		}
		th:nth-child(7) { 
			width: 4%; 
		}	
	}
*/
  th,
  td {
    padding: 8px;
    line-height: 18px;
	    small {
	    font-size: 11px;
	    font-weight: normal;
	    line-height: 10px;
	    color: @grayLight;
		}
  }
  th {
    font-weight: bold;
  }
  // Bottom align for column headings
  thead th {
    vertical-align: bottom;
      line-height: 13px;
  }

	
}


// BORDERED VERSION
// ----------------

.table-bordered { 
  border: 1px solid @tableBorder;
  th,
  td {
    border-left: 0px solid @tableBorder;
  }

}


// TBALE COLUMN WIDTHS
// ---------------

.table {
  	// Plan Table
	tr.plan-header { 
		th:nth-child(1) { 
			width: 24%; 
		}
		th:nth-child(2) { 
			width: 20%; 
		}
		th:nth-child(3) { 
			width: 12%; 
		}
		th:nth-child(4) { 
			width: 18%; 
		}	
		th:nth-child(5) { 
			width: 18%; 
		}
		th:nth-child(6) { 
			width: 10%; 
		}	
	}
	// Plan Table with edit Columns
	tr.plan-header-edit { 
		th:nth-child(1) { 
			width: 12.5%; 
		}
		th:nth-child(2) { 
			width: 12.5%; 
		}
		th:nth-child(3) { 
			width: 12.5%; 
		}
		th:nth-child(4) { 
			width: 12.5%; 
		}	
		th:nth-child(5) { 
			width: 12.5%; 
		}
		th:nth-child(6) { 
			width: 12.5%; 
		}
		th:nth-child(7) { 
			width: 12.5%; 
		}
		th:nth-child(8) { 
			width: 12.5%; 
		}	
	}
	// Plan Table with Checkbox Columns
	tr.plan-header-checkbox { 
		th:nth-child(1) { 
			width: 5%; 
		}
		th:nth-child(2) { 
			width: 15%; 
		}
		th:nth-child(3) { 
			width: 15%; 
		}
		th:nth-child(4) { 
			width: 15%; 
		}	
		th:nth-child(5) { 
			width: 15%; 
		}
		th:nth-child(6) { 
			width: 15%; 
		}
		th:nth-child(7) { 
			width: 15%; 
		}
	}
}



