// BUTTON STYLES
// -------------


// Base styles
// --------------------------------------------------

// Core
.a-btn {
  display: inline-block;
  .ie7-inline-block();
  padding: 4px 10px 4px;
  margin-bottom: 0; // For input.btn
  font-size: @baseFontSize;
  line-height: @baseLineHeight;
  *line-height: 20px;
  color: #ccc;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255,255,255,.75);
  vertical-align: middle;
  cursor: pointer;
  background: transparent;
  border: 1px solid transparent;
  *border: 0; // Remove the border to prevent IE7's black border on input:focus
  .border-radius(4px);
  .ie7-restore-left-whitespace(); // Give IE7 some love
}

// Hover state
.a-btn:hover {
  text-decoration: none;
  background-color: darken(@white, 10%);
  *background-color: darken(@white, 15%); /* Buttons in IE7 don't get borders, so darken on hover */
  background-position: 0 -15px;
  // transition is only when going to hover, otherwise the background
  // behind the gradient (there for IE<=9 fallback) gets mismatched
  .transition(background-position .1s linear);
    color: @grayDark;
}

// Focus state for keyboard and accessibility
.a-btn:focus {
  .tab-focus();
}

// Active state
.a-btn.active,
.a-btn:active {
  background-color: darken(@white, 10%);
  background-color: darken(@white, 15%) e("\9");
  background-image: none;
  outline: 0;
}

// Disabled state
.a-btn.disabled,
.a-btn[disabled] {
  cursor: default;
  background-color: darken(@white, 10%);
  background-image: none;
  .opacity(65);
}


