// UTILITY CLASSES
// ---------------


// Alignment
.text-left {
	text-align: left;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}

// SPECIAL GRID STYLES
// ---------------

.show-grid [class*="span"] {
  background-color:  lighten(yellow, 40%);
}
