/*!
* Colorpicker for Bootstrap
*
* Copyright 2012 Stefan Petre
* Licensed under the Apache License v2.0
* http://www.apache.org/licenses/LICENSE-2.0
*
*/
.colorpicker-saturation {
width: 100px;
height: 100px;
background-image: url(../img/saturation.png);
cursor: crosshair;
float: left;
}
.colorpicker-saturation i {
display: block;
height: 5px;
width: 5px;
border: 1px solid #000;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
position: absolute;
top: 0;
left: 0;
margin: -4px 0 0 -4px;
}
.colorpicker-saturation i b {
display: block;
height: 5px;
width: 5px;
border: 1px solid #fff;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}
.colorpicker-hue, .colorpicker-alpha {
width: 15px;
height: 100px;
float: left;
cursor: row-resize;
margin-left: 4px;
margin-bottom: 4px;
}
.colorpicker-hue i, .colorpicker-alpha i {
display: block;
height: 1px;
background: #000;
border-top: 1px solid #fff;
position: absolute;
top: 0;
left: 0;
width: 100%;
margin-top: -1px;
}
.colorpicker-hue {
background-image: url(../img/hue.png);
}
.colorpicker-alpha {
background-image: url(../img/alpha.png);
display: none;
}
.colorpicker {
*zoom: 1;
top: 0;
left: 0;
padding: 4px;
min-width: 120px;
margin-top: 1px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}
.colorpicker:before, .colorpicker:after {
display: table;
content: "";
}
.colorpicker:after {
clear: both;
}
.colorpicker:before {
content: '';
display: inline-block;
border-left: 7px solid transparent;
border-right: 7px solid transparent;
border-bottom: 7px solid #ccc;
border-bottom-color: rgba(0, 0, 0, 0.2);
position: absolute;
top: -7px;
left: 6px;
}
.colorpicker:after {
content: '';
display: inline-block;
border-left: 6px solid transparent;
border-right: 6px solid transparent;
border-bottom: 6px solid #ffffff;
position: absolute;
top: -6px;
left: 7px;
}
.colorpicker div {
position: relative;
}
.colorpicker.alpha {
min-width: 140px;
}
.colorpicker.alpha .colorpicker-alpha {
display: block;
}
.colorpicker-color {
height: 10px;
margin-top: 5px;
clear: both;
background-image: url(../img/alpha.png);
background-position: 0 100%;
}
.colorpicker-color div {
height: 10px;
}
.input-append.color .add-on i, .input-prepend.color .add-on i {
display: block;
cursor: pointer;
width: 16px;
height: 16px;
} 

 /*CUSTOM*/
.color-scheme {
    display: table;
    list-style: none;
    margin: 0;
    padding: 0;
}
.color-scheme li {
    display: inline;
    float: left;
    line-height: 46px;
    width: 56px;
}
.color-scheme span.add-on
{
    border-radius: 3px;
    height: 32px;
    width: 32px;
}
.color-scheme span.add-on i.color-code
{
    height: 30px;
    width: 32px;
}
.colorpicker input
{
    width: 64px;
}
.colorpicker span.add-on
{
    border-radius: 3px;
    height: 32px;
    margin-top: -7px;
    width: 64px;
}
.colorpicker span.add-on i.color-code
{
    height: 30px;
    width: 64px;
}
ol.color-scheme input[type=radio], .colorpicker input[type=radio]
{
    display: block;
    margin-left: 15px;
}
div.color-scheme input[type=radio]
{
    margin-left: 30px;
}


#themeChooser {
    width: 220px;
}
#themeChooser ul{
    padding: 0 0 0;
    margin: 0;
}
#themeChooser ul li {
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
    display: block;
    padding: 0 0 0 4px;
}
#themeChooser ul li.active {
    background-color: #FFFFFF;
    border-bottom: 1px solid #C6C6C6;
    border-left: 1px solid #C6C6C6;
    border-right: 1px solid #C6C6C6;
    border-radius: 4px 4px;
    border-top: 1px solid #C6C6C6;
}
#themeChooser ul li label {
    cursor: pointer;
    display: block;
    font-size: 12px;
    font-weight: normal;
    line-height: 26px;
    margin: 0;
}
#themeChooser ul li.active label {
    font-weight: bold;
}
#themeChooser ul li dl {
    float: left;
    margin-right: 8px;
    margin-top: 4px;
    margin-bottom: 0;
    position: relative;
}
#themeChooser ul li dl:before {
    background: -moz-linear-gradient(center top , rgba(255, 255, 255, 0.1) 0%, rgba(103, 103, 103, 0.1) 50%, rgba(0, 0, 0, 0.1) 50%, rgba(204, 204, 204, 0.1) 100%) repeat scroll 0 0 transparent;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1) inset, 0 0 0 1px rgba(0, 0, 0, 0.1) inset;
    content: "";
    height: 18px;
    left: 0;
    position: absolute;
    top: 0;
    width: 40px;
    z-index: 2;
}
#themeChooser ul li dl dd {
    display: block;
    float: left;
    height: 18px;
    vertical-align: top;
    width: 10px;
    z-index: 1;

    margin: 0;
}
#themeChooser ul li dl dd:first-child {
    border-radius: 2px 0 0 2px;
}
#themeChooser ul li dl dd:last-child {
    border-radius: 0 2px 2px 0;
}