//Permissions selector


.permissions-selector {
  position: relative;
  margin-bottom: @baseLineHeight /2;
  margin-top: @baseLineHeight /2;
  margin-left: 0px;
  font-size: @baseFontSize;
  line-height: @baseLineHeight;
  color: @gray;
  background-color: @inputBackground;
  border: 1px solid @inputBorder;
  overflow:auto; 
  height:170px;
 .box-sizing (border-box);
} 
.permissions-selector ul {
    display: block;
    padding: 0 !important;
    list-style:none;
    margin:0;
}
.permissions-selector ul:before,
.permissions-selector ul:after {
    content: " ";
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
}
.permissions-selector ul:after {
    clear: both;
}
.permissions-selector li {
   width: auto;
   border-bottom: 1px solid @inputBorder;
   display: block;
   padding: 4px;
   line-height: 29px;
   height: 29px;
   color: @gray;
}
.permissions-selector li:hover {
   background: @tableBackgroundHover;
}
.permissions-selector li .icon-frame {
  	.size(24px, 24px);
   padding: 1px;
   border: 1px solid #eee;
   line-height: 24px;
   background: @white;
   margin-right: 5px;
   text-align: center;
   color: @gray;
   display: inline-block;
}
.permissions-selector li .group-name {
 font-weight: bold;
}


.permissions-selector li .actions {
	float:right;
	margin-top: -1px;
}

