// WIDGET
// ---------------
		
.widget {
	position: relative;
	clear: both;
	width: auto;
	margin-bottom: @baseLineHeight;	
}


// WIDGET HEADER
// ---------------

.widget-header {
	position: relative;
	background: @widgetBackground;
	#gradient > .vertical(@widgetBackgroundHighlight, @widgetBackground); 
	border: 1px solid @widgetBorder;
	.border-radius(4px 4px 0 0);
	.background-clip(padding-box);
	@shadow: inset 0 1px 0 rgba(255,255,255,.6);
	.box-shadow(@shadow);
		h3 {
			color: @widgetHeaderText;
		    margin: 0 20px 0 20px;
		    font-size: 18px;
		    line-height: @widgetHeight;
		    text-shadow: 1px 1px 0 rgba(255,255,255,.75);	
		    text-transform: uppercase;
		    font-weight: bold;
		    .text-overflow();	
		}	
		.widget-links {
		    float: right;
		    font-size: 11px;
		    line-height:  @widgetHeight;
		    margin: 0;
		    list-style: none;
		    padding: 0;
		    text-shadow: 1px 1px 0 rgba(255,255,255,.75);
		    text-transform: uppercase;
				li {
				    display: inline;
				    padding: 3px 20px 3px;
				}
				li a {
				    color: @widgetHeaderLinkColor;
				    font-weight: bold;
		    	}
		    	li a:hover {
				    color:@widgetHeaderLinkColorHover;
		    	}

		    }
	  	
		.btn-toolbar {
			margin:10px 20px 9px 0;
		}
}

// WIDGET CONTENT
// ---------------

.widget-content {
	padding: 20px;
	background: @white;
	border: 1px solid @widgetBorder;
  	.border-radius(5px);
  	//.box-shadow(0 1px 4px rgba(0,0,0,.065));
}

.widget-header+.widget-content {
	border-top: none;
	.border-radius(0 0 4px 4px);
}


// WIDGET CONTENT WITH SIDEBAR
// ---------------

.with-sidebar {
	.widget-content {
	    background: url("../img/bg_sidebar.gif") repeat-y @white;
	    padding: 0 20px 0 210px;
	    position: relative;
	    .sidebar {
			float: left;
			margin: 0 20px 18px -210px;
			width: 190px;
			ul.sidemenu {
			    list-style: none;
			    margin: 0 0 10px;
			    padding: 0;
			    li {
				    background: transparent;
				    border-bottom: 1px solid #CCCCCC;
				    margin: 0;
				    padding: 0;
				    a {
					    display: block;
					    font-weight: bold;
					    text-decoration: none;
					    padding: 10px 13px 10px 20px;
					    
					    .badge {
						    float: right;
						    font-size: 9px;
						    margin-right: 1px;
						    padding: 1px 9px;
						}//badge
						
					}//a
					a, a:hover {
					    background: #FDFDFD;
					    border-right: 1px solid #CCCCCC;
					}
					a:hover .badge {
				    	margin-right: 0;
				    }
				}//li
				li.active a, 
				li.active a:hover {
				    background: @white;
				    border: none;
					.badge {
					    margin-right: 1px;
					}
				}
			}//ul.sidemenu
		}//sidebar
		.sidebar-content {
		    float: left;
		    padding: 20px 0;
		    width: 100%;
		}
    }//widget-content
}//with-sidebar




/* Widget No padding */

.widget-nopad .widget-content {
	padding: 0;
	height: 100%;
}

/* Widget Content Clearfix */	
.widget-content:before,
.widget-content:after {
    content:"";
    display:table;
}
.widget-content:after {
    clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
.widget-content {
    zoom:1;
}

// WIDGET WITH TABLE
// ---------------

.widget-table .widget-content {
	padding: 0;
}

.widget-table .table {
	margin-bottom: 0;
	border: none;
	tr td:first-child {
		border-left: none;
		}
	tr th:first-child {
		border-left: none;
	}
}

// WIDGET PLAIN
// ---------------

.widget-plain {	
	background: transparent;
	border: none;
		.widget-content {
			padding: 0;	
			background: transparent;
			border: none;
		}
	}

/* Widget Box */

.widget-box {
	.widget-content {	
		background: @grayLighter;	
	}		
}



