// WELCOME DASHBOARD
// ---------------		
	

.welcome-content {
	margin: @baseLineHeight 0;
	h3 {
	   margin-bottom: @baseLineHeight /2; 
    }
}

.questions {
    
    h4 {
	   margin-bottom: @baseLineHeight; 
    }
    ul {
	  
	    li {
		     margin-bottom: @baseLineHeight /2;
	  		a {
			    display: block;
			    font-weight: bold;
		    }
	    }
    }

}





.start-links {
    list-style: none;
    margin: 0 0 30px;
    padding: 0;
}
.start-links li {
    margin-bottom: 6px;
    padding: 15px 0 15px 65px;
    position: relative;

}
.start-links li a {
    display: block;
    font-size: 16px;
    font-weight: 700;
}
.start-links li span {
    background: url("../img/welcome_tasks.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 45px;
    left: 0;
    position: absolute;
    top: 10px;
    width: 60px;
}
.start-links li span.add-accounts-done {
    background-position: -60px 0;
}
.start-links li span.setup-suppliers {
    background-position: 0 -45px;
}
.start-links li span.setup-suppliers-done {
    background-position: -60px -45px;
}
.start-links li span.start-invite {
    background-position: 0 -90px;
}
.start-links li span.start-invite-done {
    background-position: -60px -90px;
}
.start-links li span.create-campaign {
    background-position: 0 -135px;
}
.start-links li span.create-campaign-done {
    background-position: -60px -135px;
}
.start-links li span.data-template {
    background-position: 0 -180px;
}
.start-links li span.data-template-done {
    background-position: -60px -185px;
}
.start-links li span.add-activity {
    background-position: 0 -225px;
}
.start-links li span.add-activity-done {
    background-position: -60px -225px;
}

/*Reader */
.start-links li span.view-campaigns {
    background-position: 0 -270px;
}
.start-links li span.view-campaigns-done {
    background-position: -60px -270px;
}
.start-links li span.personal-details {
    background-position: 0 -315px;
}
.start-links li span.personal-details-done {
    background-position: -60px -315px;
}
.start-links li span.change-password {
    background-position: 0 -360px;
}
.start-links li span.change-password-done {
    background-position: -60px -360px;
}
.start-links li span.profile-picture {
    background-position: 0 -405px;
}
.start-links li span.profile-picture-done {
    background-position: -60px -405px;
}
.start-links li span.request-access {
    background-position: 0 -450px;
}
.start-links li span.request-access-done {
    background-position: -60px -450px;
}


