// THUMBNAILS
// ----------

.thumbnail-view {
    width: 100%;
    
   .approval-grid {
	    padding: 0;
	    margin: 0;
	    list-style: none;
	    
	    li.block {
		    float: left;
		    width: 227px;
		    margin: 0 0 10px;
		    display: inline;  
	  
		   .thumbnail {
				display: block;
				line-height: 1;
				position: relative;
				margin-right: 10px;
				display: block;
				padding: 0px;
				line-height: @baseLineHeight;
				border: 0px solid #ddd;
				.border-radius(4px);
				.box-shadow(none);
				.transition(all .2s ease-in-out);
				  
						
				label {
					.border-radius(5px);
					padding: 12px 10px;
					display: block;
					position: relative;
					cursor:pointer;
					margin: 0;
					min-height:215px;
					height:215px;
					line-height: normal;
					 border: 1px solid transparent;
						&:hover {
					    	 background-color: @wellBackground;
						}
						&.selected {
						      background-color: @wellBackground;
							  border: 1px solid darken(@wellBackground, 7%);
							  .box-shadow(inset 0 1px 1px rgba(0,0,0,.05));
						}
						input {
						    left: 10px;
						    position: absolute;
						    top: 5px;
						    visibility: hidden;
						}
						.btn-group  {
						    position: absolute;
						    right: 5px;
						    top: 5px;
						    visibility: hidden;
						}
						
						&:hover input, 
						&.selected input,
						&:hover .btn-group {
						    visibility: visible;
						}
						
						// img and captions
						> img {
						  display: block;
						  max-width: 100%;
						  margin-left: auto;
						  margin-right: auto;
						  outline: none;
						}
						.caption {
						  padding: 0;
						  margin-top:5px;
						  text-align: center;
						    .title {
							    font-size: @baseFontSize;
							    line-height: @baseLineHeight;
							     margin:0 5px 3px 5px;
							     .text-overflow();
							     color: #333;
							     small {
								     font-size: 12px;
						    	}
						    }

							// Decisions Label
							.decisions {
								margin:9px 0;
								//height:@baseLineHeight;
								.label {
									display: inline-block;
									padding: 2px 5px;
									font-size: @baseFontSize * .846;
									font-weight: bold;
									line-height: 14px; // ensure proper line-height if floated
									color: @white;
									vertical-align: baseline;
									white-space: nowrap;
									//display:none;
									text-shadow: 0 -1px 0 rgba(0,0,0,.25);
									background-color: @grayLight;
								}
								.label {
									.border-radius(2px);
								}
								// Colors
								// Only give background-color difference to links (and to simplify, we don't qualifty with `a` but [href] attribute)
								.label {
								  // Pending (orange)
								  &-pending				{ background-color: @orange; }
								  // Changes Required (red)
								  &-changesrequired     { background-color: @errorText; }
								  // Approved (green)
								  &-approved           { background-color: @successText; }
								  // Approved with changes (green)
								  &-approvedwithchanges  { background-color: @successText; }
								  // Not Applicable (grey)
								  &-notapplicable        { background-color: @grayLight; }
								}

						    }




						    .deadline, .processing {
						    	color: #777777;
						    	font-size: 11px;
						    	font-weight: normal;
						    	 .text-overflow();	
						    }
						    .processing {
						    	color: #999;
						    }
						    .deadline.overdue {
							    color: #BA1319;
						    	font-weight: bold;
						    }
							.progress {
							  .border-radius(@baseBorderRadius);
							  width:128px;
							  height:5px; 
							  margin:15px auto 0;
							}

						}
					
				
					}

					
				} // label
						

					
				.approval {
				    display: table;
				    margin: 0 auto;
				    .cell {
					    display: table-cell;
					    height: 140px;
					    vertical-align: middle;
					    								    
						// IMAGE STYLES
						// ---------------	
						a {
							.img-frame {
								.background-clip(border-box);
								display: block;
								background: @white;
								border: 1px solid rgba(0, 0, 0, 0.2);
								.border-radius(0px);
								.box-shadow(0 1px 3px rgba(0, 0, 0, 0.1));
								position: relative;
								outline: none;	
								float: left; 
								position: relative; 
								z-index: 10;
								background-color: #FFFFFF;
								padding: 4px;
								.transition(all .2s ease-in-out);
							
									 	// Add a hover state for linked versions only
								 &:hover {
								   border-color: @linkColor;
								  .box-shadow(0 1px 4px rgba(0,105,214,.25));
								}
								&.naked {
									 .box-shadow(none);
									 border: 0px;
									 background: transparent;
								 }
								&.naked:hover {
									 .box-shadow(none);
								}
								
								.templateZoom {
								    background:url(../img/previewTemplate-noshad.png) no-repeat;
								    display: block;
								    height: 51px;
								    position: absolute;
								    right: 0;
								    text-indent: -9999px;
								    top: 0;
								    width: 50px;
								    visibility: hidden;
								}
								&:hover .templateZoom  {
								    visibility: visible;
								}
								
							}// img-frame	
						}//a		
				
				    } //cell 
				} //approval 
		
						    
	    
				&.render {
				   .thumbnail {  		
						label {
							cursor:default;
							&:hover {
						    	background:none;
							}
							.btn-group {
							   visibility: visible;
							}
						} 
						.approval {
						    .cell {		    
								a {
								cursor:default;
									.img-frame {
										background: @white;
										border: 0px dashed rgba(0, 0, 0, 0.2);
										.border-radius(0px);
										.box-shadow(0 0px 0px rgba(0, 0, 0, 0));						
											// Add a hover state for linked versions only
											&:hover {
											   border-color: none;
											  .box-shadow(0 0px 0px rgba(0,105,214,0));
											}
									}// img-frame	
								} //a		
						    } //cell 
						} //approval 			    
					}  //thumbnail
				} //render

	    
	    } //block 
	    
  } //approval-grid  

} //thumbnail-view	



.list-view {
    width: 100%;
    display: none;
}
.list-view > ul > li {
    padding: 10px 0 9px;
    background: yellow;
}
.list-view > ul > li.selected {
    background: #F2F2F2;
}
.list-view .icon {
    margin: 1px 10px;
}
.list-view h3 {
    padding-right: 20px;
}
.list-view .meta {
    clear: left;
}

    


	
	

	
