// Typography.less
// Headings, body text, lists, code, and more for a versatile and durable typography system
// ----------------------------------------------------------------------------------------



// Form header
.form-header {
  	padding-top: @baseLineHeight/2;
    border-top: 1px solid #e5e5e5;
    margin:  @baseLineHeight/2 0;
}


h1 { font-size: 30px; line-height: 34px; }
h2 { font-size: 24px; line-height: 38px; }
h3 { font-size: 20px; line-height: @baseLineHeight * 1.5; }
h4 { font-size: 16px; line-height: 20px; }
h5 { font-size: 14px; line-height: 20px; }
h6 { 
  font-size: 11px;
  color: @grayLight;
  text-transform: uppercase;
  line-height: 20px; 
  }

h1 small { font-size: 18px; }
h2 small { font-size: 14px; }
h3 small { font-size: 13px; }
h4 small { font-size: 11px; }


