// Import Core variables and mixins from bootstrap
@import "bootstrap/reset.less";
@import "bootstrap/variables.less";
@import "bootstrap/mixins.less"; 
@import "bootstrap/grid.less";
@import "bootstrap/type.less";
@import "bootstrap/wells.less";
@import "bootstrap/modals.less";
@import "bootstrap/alerts.less";
@import "bootstrap/thumbnails.less";
@import "bootstrap/forms.less";
@import "bootstrap/buttons.less";
@import "bootstrap/close.less";

// Import GMG Bootstrap Overrides & Custom CSS
@import "gmg-variables.less";

@import "page/personalsettings/password.less";



// SCAFFOLDING
// ---------------
html, body { height:100%;}
	body {
	  margin: 0;
	  padding: 0;
	  font-family: @baseFontFamily;
	  font-size: @baseFontSize;
	  line-height: @baseLineHeight;
	  color: @textColor;
	   background: #f0f0f0;
	}
	
	// Links
	// -----
	a {
	  color: @linkColor;
	  text-decoration: none;
	}
	a:hover {
	  color: @linkColorHover;
	  text-decoration: underline;
	}
	
	h2 { font-size:24px; line-height:26px; margin: 0 0 @baseLineHeight; }
	h3 { font-size:21px; line-height:24px; margin: 0 0; }

h4 { 
	margin: 0 0 @baseLineHeight;
  }

// Images
// -------------------------

	.img-polaroid {
	  padding: 4px;
	  background-color: #fff;
	  border: 1px solid #ccc;
	  border: 1px solid rgba(0,0,0,.2);
	  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.1);
	     -moz-box-shadow: 0 1px 3px rgba(0,0,0,.1);
	          box-shadow: 0 1px 3px rgba(0,0,0,.1);
	}

// LOGIN
// ---------------

	.chromeframe { margin:20px;}

	#centered-column {
	    margin: 0 auto;
	    position: relative;
	    width: 748px;
	    display:table; 
	    height:100%;
	    .valignCol { 
	    	display:table-cell; 
	    	padding:20px 0; 
	    	vertical-align:middle;
	    	
	    }
	}
	

	.login-container {
	    background: @white;
	    border-color: #FFFFFF #CCCCCC #CCCCCC #FFFFFF;
	    border-style: solid ;
	    border-width: 1px;
	    .box-shadow(0 1px 4px rgba(0,0,0,.065));
	 	padding: 3em;
		background: @white;
		border: 1px solid @btnBorder;
	  	.border-radius(6px);
	  	margin: 0 0 0;
	    position: relative;
	}
	
	h2 {
	  margin-bottom: @baseLineHeight;
	}

	.logo {
		padding: 0 0;
		margin: @baseLineHeight/2 0 @baseLineHeight;
		font-size: 30px;
		font-weight: 300;
		img{
			max-width: 100%;
			//margin-top: -0.5em;
		}
		
	}
	
	// MVC VALIDATION
	.field-validation-error {
	    color: @errorText;
	    display: inline-block;
	  .ie7-inline-block();
	  vertical-align: middle;
	  padding-left: 5px;
	}
	.field-validation-valid {
	    display: none;
	}
	.input-validation-error {
	    border: 1px solid @errorText;
	    background-color: @errorBackground;
	}
	.validation-summary-errors {
	    font-weight: bold;
	    color: @errorText;
	}
	.validation-summary-valid {
	    display: none;
	}
	
	
	.advert{
			margin-bottom: @baseLineHeight;
	}
	#login-banner {
		 padding-right: 1.7em;
	}
	
	#login-form {
		  border-left: 1px solid #E5E4E2;
		  padding-left: 3em;
	}
	
	#gmg-tab {
	    position: absolute;
	    right: 20px;
	    #translucent > .background(#ddd, .45)
	}
	#gmg-tab a {
	    background: url(../img/gmg_tab.png) no-repeat;
	    display: block;
	    height: 60px;
	    width: 190px;
	}

	.form-actions {  
		padding: 17px 0 0; 
		margin-top: 0px;  
		margin-bottom: 0;  
		background-color: transparent;  
		border-top: 0;    
	}
	
	
	
// Import Core variables and mixins from bootstrap
@import "bootstrap/utilities.less"; // Has to be last to override when necessary

// Import GMG Bootstrap Overrides & Custom CSS
@import "gmg-utilities.less"; // Has to be last to override when necessary
	

