﻿@import "ThemeVariables.less";

.navBarTheme { background-image: linear-gradient(to bottom, @headerTopColor, @headerBottomColor) !important; }

/*#footer { background: @footerColor !important; }*/

a { color: @linksColor !important; }

/*.btn.btn-primary { background-image: linear-gradient(to bottom, @buttonTopColor, @buttonBottomColor) !important; }*/
