{{outlet "navigation"}}
{{#if IsfromProjectFolder }}
<section id="projectfolder" {{bind-attr class=":col-xs-4 :col-sm-4 :col-md-3 :col-lg-2 :czn-sidebar sidebarShown::hidden"}}>
  {{outlet "projectfolder"}}
</section>
<div {{bind-attr class=":czn-sidebar-handle sidebarShown:open:closed"}} {{action "toggleSidebar"}}></div>

<section id="main" {{bind-attr class="sidebarShown:col-md-9 sidebarShown:col-lg-8 sidebarShown:col-xs-8 sidebarShown:col-sm-8 sidebarShown::col-md-12 sidebarShown::col-lg-12 sidebarShown::col-xs-12 sidebarShown::col-sm-12 :czn-main"}}
style="overflow-y: auto;">
  {{outlet}}
  {{outlet "comments"}}
  {{outlet "separations"}}
  {{outlet "miniMap"}}
  <div class="czn-version-label">{{version}}</div>
</section>
{{else}}
<section id="main" {{bind-attr class="sidebarShown:col-md-9 sidebarShown:col-lg-10 sidebarShown:col-xs-8 sidebarShown:col-sm-8 sidebarShown::col-md-12 sidebarShown::col-lg-12 sidebarShown::col-xs-12 sidebarShown::col-sm-12 :czn-main"}}
style="overflow-y: auto;">
  {{outlet}}
  {{outlet "comments"}}
  {{outlet "separations"}}
  {{outlet "miniMap"}}
  <div class="czn-version-label">{{version}}</div>
</section>
{{/if}}

<div {{bind-attr class=":czn-sidebar-handle sidebarShown:open:closed"}} {{action "toggleSidebar"}}></div>

<section id="sidebar" {{bind-attr class=":col-xs-4 :col-sm-4 :col-md-3 :col-lg-2 :czn-sidebar sidebarShown::hidden"}}>
  {{outlet "sidebar"}}
</section>

{{outlet "modals"}}
{{dialogs/modal-dialogs}}
{{outlet "custom-profiles"}}
{{outlet "message"}}
{{render "instant-notifications/index"}}
