<div class="modal-overlay">
</div>
<div id="confirmationDialog" class=" checklistHistoryModal modal-sm" tabindex="-1" role="dialog" data-backdrop="false" aria-hidden="true">
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Close" {{action "cancel"}}><span aria-hidden="true">&times;</span></button>
          <h3 class="widget-title">{{title}}</h3>
      </div>
      <div class="checklistHistoryModal-body">
          {{#each a in totalChecklistItems}}

            <div class="timeline-item">
                <div style="background-color:#f0f0f0;">
                <span class="name">{{a.Creator}} {{a.CreatedDate}}</span>
                <h3>{{a.ChecklistItemName}}</h3>
                <span>
                    {{a.ChecklistItemValue}}
                </span>
                </div>
            </div>

          {{/each}}
      </div>
    </div>
</div>