<div class="modal-overlay">
</div>
<div id="confirmationDialog" class="unselectable confirmModal modal-sm" tabindex="-1" role="dialog" data-backdrop="false" aria-hidden="true">
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Close" {{action "cancel"}}><span aria-hidden="true">&times;</span></button>
          <h4 class="widget-title">{{title}}</h4>
      </div>
      <div class="modal-body">
          <p> <strong>{{ headingMessage }}</strong> </p>
          <p> {{message}} </p>
          <p> {{viewedByAllMessage}} <em> {{noteMessage}} </em> </p>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-default btn-primary" data-dismiss="modal" {{action "confirm"}}>{{yes}}</button>
          <button type="button" class="btn" data-dismiss="modal" {{action "cancel"}}>{{no}}</button>
      </div>
    </div>
</div>
