<div class="modal czn-error" id="czn-error-screen" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Error</h4>
            </div>
            <div class="modal-body">
                <p>
                    There has been an error processing your request.<br />
                    The server reported:
                    <code>{{reason}}</code>
                    Please reload the application and try again.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" {{action "closeError"}}>Close</button>
                <button type="button" class="btn btn-primary" {{action "reloadPage"}}>Reload</button>
            </div>
        </div>
    </div>
</div>
