<div class="modal czn-loading-screen" id="czn-loading-screen" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="loading-icon" style="align-self: center;"></div>
</div>
