{{file-upload fileUploadInit="fileUploadInit" fileUploadChanged="fileUploadChanged" fileUploadCompleted="fileUploadCompleted"}}
{{#if model.canAddAttachments}}
    <div class="czn-multiple-upload-selectFiles-label" {{action "selectFiles"}}>
        <span class="fa fa-paperclip pull-left"></span>
        <span class="czn-multiple-upload-selectFiles-label" {{bind-attr title="lblSelectAttachmentsTitle"}}>{{t "lblSelectAttachments"}}</span>
    </div>
{{else}}
    <!-- You have the maximum of 5 files or you are not allowed to add or delete annotations -->
{{/if}}
{{#each file in files}}
   {{#if file.inProgress}}
      {{partial "multiple-upload-row"}}
   {{/if}}
    {{#if file.id}}
        {{partial "multiple-upload-row"}}
    {{/if}}
{{else}}
{{#if isAttachmentsCopied}}
  {{#each file in newFiles}}
    {{partial "multiple-upload-row"}}
  {{/each}}
  {{else}}
  {{#each file in newFiles}}
    {{partial "multiple-upload-row"}}
  {{/each}}
  {{/if}}
{{/each}}
{{#if errorFileSizeTooLong}}
    <!--max 50 MB-->
    <div class="czn-error-message">{{t "lblErrorFileSizeTooLong"}}<i class="fa fa-remove czn-error-message-close" title="Close warning" {{action "closeErrFileSizeTooLong"}}></i></div>
{{/if}}
{{#if errorFilesCountTooLong}}
    <!--max 5 files-->
    <div class="czn-error-message">{{t "lblErrorFilesCountTooLong"}}<i class="fa fa-remove czn-error-message-close" title="Close warning" {{action "closeErrorFilesCountTooLong"}}></i></div>
{{/if}}
