<div class="czn-upload-file" {{bind-attr guid="file.Guid"}}>
  {{#if file.id}}
    {{#if file.inProgress}}
        <div class="loading-icon"></div>
    {{else}}
        <span class="fa fa-file-o pull-left czn-attachment-icon" {{bind-attr title="file.Name"}}></span>
    {{/if}}
        <div class="czn-upload-filename pull-left" {{bind-attr title="file.Name"}} {{action "downloadFile" file}}>{{file.Name}}</div>
  {{else}}
  {{#if file.inProgress}}
    <div class="czn-upload-filename pull-left" {{bind-attr title="file.Name"}} {{action "downloadFile" file}}>{{file.Name}}</div>
        <div class="progress">
    <div class="progress-bar" {{bind-attr id="file.Name"}} role="progressbar" style="width: 0px">
    </div>
  </div>
    {{else}}
        <span class="fa fa-file-o pull-left czn-attachment-icon" {{bind-attr title="file.Name"}}></span>
        <div class="czn-upload-filename pull-left" {{bind-attr title="file.Name"}} {{action "downloadFile" file}}>{{file.Name}}</div>
    {{/if}}
  {{/if}}
    {{!-- <div class="czn-upload-filename pull-left" {{bind-attr title="file.Name"}} {{action "downloadFile" file}}>{{file.Name}}</div> --}}

    {{#if file.inProgress}}
        <!--<span class="fa fa-ban czn-upload-cancel-icon pull-right" action "cancelFile" file translateAttr title="btnCancel"></span>-->
    {{else}}
      {{#if canDeleteAttachments}}
          <span class="fa fa-remove czn-upload-remove-icon pull-right" {{action "removeFile" file}} {{bind-attr title="btnDelete"}}></span>
      {{/if}}
    {{/if}}
</div>
