<span {{bind-attr class=":czn-pager-btn :fa :fa-chevron-left prevDisabled::selectable prevDisabled:disabled"}} {{action "prevPage"}}></span>
<span class="badge czn-pager-text">
    {{t "lblProofStudioPager" currentPageBinding="currentPageNumber" totalPagesBinding="totalPages" }}
</span>
<span {{bind-attr class=":czn-pager-btn :fa :fa-chevron-right nextDisabled::selectable nextDisabled:disabled"}} {{action "nextPage"}}></span>