<div class="modal-overlay">
</div>
<div id="confirmationDialog" class="unselectable confirmModal modal-sm" tabindex="-1" role="dialog" data-backdrop="false" aria-hidden="true">
    <div class="modal-content">
      <div class="modal-header">
          <h4 class="widget-title">{{title}}</h4>
      </div>
      <div class="modal-body">  
          <p> <strong>{{ headingMessage }}</strong> </p>
          <p> {{message}} </p>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-default btn-primary" data-dismiss="modal" {{action "reloadPage"}}>{{yes}}</button>
      </div>
    </div>
</div>