<div class="modal czn-print-popup form-horizontal" id="czn-print-popup" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">{{t "lblAnnotationsReport"}}</h3>
            </div>
            <div class="modal-body">
                <div class="control-group pull-left">
                    <label class="control-label modal-label label-font-size">{{t "lblReportType"}}</label>
                    <div class="controls pull-left modal-radio">
                        <div class="controls">
                            <label class="radio label-font-size">
                                <input type="radio" name="reportType" value="Composite" checked="checked" />{{t "lblComposite"}}
                            </label>
                        </div>
                        <div class="controls">
                            <label class="radio label-font-size">
                                <input type="radio" name="reportType" value="Individual" />{{t "lblIndividual"}}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="control-group pull-left">
                    <label class="control-label modal-label label-font-size">{{t "lblGroupBy"}}</label>
                    <div class="controls pull-left modal-radio">
                        <div class="controls">
                            <label class="radio inline label-font-size">
                                <input type="radio" name="groupBy" value="User" checked="checked"/>{{t "lblUser"}}
                            </label>
                        </div>
                        <div class="controls">
                            <label class="radio inline label-font-size">
                                <input type="radio" name="groupBy" value="Group"/>{{t "lblGroup"}}
                            </label>
                        </div>
                        <div class="controls">
                            <label class="radio inline label-font-size">
                                <input type="radio" name="groupBy" value="Ungrouped"/>{{t "lblUngrouped"}}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-danger" href="javascript:void(0);" data-dismiss="modal">{{t "btnCancel"}}</a>
                <a class="btn btn-primary" href="javascript:void(0);" {{action "openPopup" currentVersionId}}>{{t "btnOk"}}</a>
            </div>
        </div>
    </div>
</div>
