{{#if isSingleHtmlPageSelected}}
<div style="text-align: center; position: relative; top: 5px;">
    <button class="btn btn-primary" {{action "reloadHtmlPage"}}>
        <i class="fa fa-repeat" aria-hidden="true">
        </i></button>
</div>
{{/if}}
{{#each htmlpage in htmlPages}}
<div class="zip" {{bind-attr style="htmlpage.Height"}}>
<iframe  {{bind-attr  id=htmlpage.Annotation src=htmlpage.HtmlFilePath type='text/html'}} 
style="height: 100%; width: 100%; border:0px;" ></iframe>
</div>
{{/each}}
