<div class="czn-top-navigation">
    <span class="badge czn-page-version">{{model.VersionSufix}}</span>
    {{#if model.IsLocked}}
    {{#if IsAllFilesLoaded}}
        <section class="czn-align-center czn-version-lock">
            <button {{bind-attr class=":btn :czn-fa-lock :btn-sm :czn-font :czn-lock-button unlockButtonClass"}} {{action 'toggleVersionLock' model}} {{bind-attr title="lblApprovalLock"}}>
                {{#if model.isApprovalReviewer}}
                    {{#if versionLocked}}
                        <span class="fa fa-lock"></span>
                    {{else}}
                        <span class="fa fa-unlock"></span>
                    {{/if}}
                {{else}}
                    {{#if versionLocked}}
                        <span class="fa fa-lock disabled"></span>
                    {{else}}
                        <span class="fa fa-lock disabled"></span>
                    {{/if}}
                {{/if}}
            </button>
        </section>
        {{/if}}
    {{/if}}
</div>

{{render "zip/viewer/zip-player" this}}
{{render "viewer/balloons-view" this}}
