﻿ @using GMGColor.HtmlHelpers
 @using GMGColor.Resources
 @using GMGColorDAL.CustomModels
 @model GMGColorDAL.CustomModels.ApprovalWorkflows.PhaseViewModel
 

@Html.Hidden("selectedPhase", 0, new { id = "hdnSelectedPhase", @data_val = false })
@{ DeleteConfirmation deleteUserConfirmation = new DeleteConfirmation(1, "DeleteApprovalPhase"); }
@Html.Partial("DeleteConfirmationDialog", deleteUserConfirmation)

<div id="adHocWorkflow">
    @Html.Hidden("saveAdHocWorkflowUrl", @Url.Action("SaveAdHocWorkflowPhase", "ApprovalWorkflow"))
    @Html.Hidden("deleteAdHocPhaseUrl", @Url.Action("DeleteAdHocWorkflowPhase", "ApprovalWorkflow"))
    @Html.Hidden("changeAdHocPhasePositionUrl", @Url.Action("ChangePhasePosition", "ApprovalWorkflow"))
    @Html.Hidden("phaseDetailsLegend", @Resources.lblPhaseDetails)
    @Html.Hidden("AppprovalHasAdHocWorkflow", true)
    @if (Model.isAdHocWorkflow)
    {
        <div class="control-group">
            <label class="control-label required">@Resources.lblAddWorkflowName</label>
            @Html.Hidden("AdHocWorkflowId", 0, "hdnAdHocWorkflowId")
            <div class="controls">
                @Html.TextBoxFor(m => m.AdHocWorkflowName)
                @Html.ValidationMessageFor(m => m.AdHocWorkflowName)
            </div>          
        </div>
        <div class="control-group">
            <label class="control-label rerun-workflow-label">@Resources.lblRerunWorklfow</label>
            <span class="pull-left rerun-info-message" style="font-size: large;" data-original-title="@Resources.lblRerunWorklfowInfoMessage" rel="tooltip">
                <i class="icon-exclamation-sign"></i>
            </span>
            <div class="controls">
                @Html.CheckBoxFor(m => m.RerunWorkflow)
            </div>
        </div>
    }
    
    <legend>@Resources.lblWorkflowPhases</legend>

    <nav class="adhoc-nav" role="navigation">
        <ul id="adHocPhases" class="nav__list">
            <li class="adHoc-phase current" phase="0">
                 <label class="adHocPhaseLabel"><i class="icon-plus" style="padding-right:12px"></i> @Resources.lblAddNewPhase</label>
         
		         <div class="panel" id="adhocPhaseContainer">
                    <div id="adhocPhaseDetailsContainer">
                        @Html.Partial("_AddEditPhaseDetails", Model)
                    </div>
                    <div id="adHocErrors"></div>

                    <div class="form-actions">
                        <button id="saveAdHocPhase" type="button" class="btn btn-success" data-text="@Resources.btnSave" data-loading-text="@Resources.btnSaving">@Resources.btnSave</button>
                        <button id="saveAndNewAdHocPhase" type="button" class="btn btn-success" data-text="@Resources.btnSaveAndAddNewPhase" data-loading-text="@Resources.btnSaving">@Resources.btnSaveAndAddNewPhase</button>
                        @Html.Image("imgSavingLoader", "~/Content/img/loading-icon.gif", @Resources.lblLoading, new {@class = "hide pull-right"}, 30, 30)
                    </div>
                </div>
            </li>
        </ul>
    </nav>
</div>
@if (Request.IsAjaxRequest())
{
    <script src="@Url.Content("~/Content/js/approval-phase.js")"></script>
}  

<div id="phaseTemplate" class="btn-group pull-right adhoc-phaseActions">
    <a href="javascript:void(0);" data-toggle="dropdown" class="btn btn-mini dropdown-toggle ellipsisButtonList">
        <i class="icon-ellipsis-horizontal"></i>
    </a>
    <ul class="dropdown-menu pull-right">
        <li>
            <a class="ignoredirty btnDeletePhase" href="javascript:void(0);"; onclick="$('#modelDialogDeleteConfirmation_1').modal({ backdrop: 'static', keyboard: false });" rel="nofollow" data-method="delete">
                <i class="icon-trash"></i>&nbsp;@Resources.lblDelete
            </a> 
        </li>
    </ul>
</div>