﻿@model GMGColorDAL.CustomModels.ApprovalAnnotationsReportModel
@using Amazon.SimpleEmail.Model
@using GMGColor.HtmlHelpers
@using GMGColor.Resources;
@using GMGColorBusinessLogic
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.SiteName</title>
    @{
        Bundles.Reference("bootstrapCss");
        Bundles.Reference("bootstrapResponsiveCss");
        Bundles.Reference("annotationStyles");
        Bundles.Reference("responsiveStyles");
        Bundles.Reference("printStyles");
        Bundles.Reference("modernizr");
        Bundles.Reference("fabric");
        Bundles.Reference("annotationReport");
        Bundles.Reference("bootstrap-button");
    }
    @Bundles.RenderStylesheets("head")
    <link rel="shortcut icon" href="@UserBL.GetUserFavIconPath(ViewBag.LoggedAccount, ViewBag.LoggedUserFavIcon)" />
    <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
    <script src="@Url.Content("//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")" type="text/javascript"></script>

    <script type="text/javascript">
        if (typeof jQuery === 'undefined') {
            document.write(unescape('%3Cscript%20src%3D%22/Scripts/jquery-1.8.3.min.js%22%3E%3C/script%3E'));
        }
    </script>

    @Bundles.RenderScripts("head")
</head>
<body>
    <div class="container">
        <div class="row-fluid">
            <div class="span12 report-container">
                <div id="print">
                    <p class="breadcrumb breadcrumb-top" style="@(ViewBag.IsFromAPICall == null ? "display:block" : "display:none")" />
                    <a href="@Url.Action("Details", "Approvals")">@Resources.navApprovalsDetails</a>
                    <div class="page">
                        @{ bool isFirstApproval = true; }
                        @foreach (var approval in Model.ApprovalAnnotationsModel)
                        {
                            <div class="page-header">
                                @if (isFirstApproval)
                                {
                                    isFirstApproval = false;
                                    <div>
                                        <button id="printBtn" title="Print" class="btn btn-primary pull-right print" disabled="disabled" data-loading-image="imgSavingLoader" data-loading-text="@Resources.btnPrinting">
                                            <i class="icon-print"></i>&nbsp;@Resources.lblPrint
                                        </button>
                                        <button id="saveAsJPG" title="@Resources.btnSaveAsJPG" class="btn btn-primary pull-right" disabled="disabled" data-loading-image="imgSavingLoader" data-loading-text="@Resources.btnSaving">
                                            <i class="icon-save"></i>&nbsp;@Resources.btnSaveAsJPG
                                        </button>
                                        @Html.Image("imgSavingLoader", "~/Content/img/loading-icon.gif", @Resources.lblLoading, new { @class = "hide", @style = "float: right; margin-right: 5px;" }, 30, 30)
                                    </div>
                                }
                                @if (approval.PageAnnotations.Count > 0)
                                {
                                    <h2>
                                        <span style="font-weight:bolder">@('V' + approval.Version.ToString())</span> @approval.JobTitle<small> @approval.CreatedDate</small>
                                    </h2>
                                }
                            </div>
                          
                            <div class="approval-details-section" id='@String.Format("approval_{0}", @approval.ApprovalID)' approval="@approval.ApprovalID" job-name="@(String.Format("{0}_{1}.pdf", approval.JobTitle.Trim(), Resources.lblReport))">
                                @if (ViewBag.ShowSummaryPage && approval.PageAnnotations.Count > 0)
                                {
                                    <h3>
                                        @Resources.navApprovalsDetails</h3>
                                    <table cellspacing="0" class="table-approval-details table-annotations-report">
                                        <tbody>
                                            <tr>
                                                <th>
                                                    <span>@Resources.lblName</span>
                                                </th>
                                                <td>
                                                    @approval.JobTitle
                                                </td>
                                                <th>
                                                    <span>@Resources.lblPages</span>
                                                </th>
                                                <td>
                                                    @approval.NrOfPages
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <span>@Resources.lblUploaded</span>
                                                </th>
                                                <td>
                                                    @approval.CreatedDate
                                                    @Resources.lblBy @approval.Creator
                                                </td>
                                                <th>
                                                    <span>@Resources.lblComments</span>
                                                </th>
                                                <td>
                                                    @approval.Comments
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <span>@Resources.lblVersion</span>
                                                </th>
                                                <td>@approval.Version
                                                </td>
                                                <th>
                                                    <span>@Resources.lblStatus</span>
                                                </th>
                                                <td>
                                                    @approval.JobStatus
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <span>@Resources.lblOwner</span>
                                                </th>
                                                <td>
                                                    @approval.Creator
                                                </td>
                                                <th>
                                                </th>
                                                <td>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                }
                            </div>
                            <div class="approval-comments-section">
                                <label style="display: none;" class="validation-summary-errors" id="errLoad">@Resources.errLoadingAnnotations</label>
                                <label style="display: none;" class="validation-summary-errors" id="errGeneratePdf">@Resources.errGeneratePdf</label>
                                @foreach (var annotationPage in @approval.PageAnnotations)
                                {
                                    int currentPageIndex = approval.PageAnnotations.IndexOf(annotationPage);
                                    <div class="approval-page-section-container">
                                        <div class="approval-page-section">
                                            <div class="row-fluid">
                                                <div class="@(currentPageIndex >= 1 ? "print-header print-page-header" : "print-page-header")">
                                                    <h3 class="pull-right">@Resources.lblPage @annotationPage.PageNumber</h3>
                                                </div>
                                                <div class="span12" style="margin-left: 0">
                                                    <div class="row-fluid print-table">
                                                        <div class="span7 image-col" id='@(String.Format("canvas_placeholder_{0}_{1}", currentPageIndex, approval.ApprovalID))'>
                                                            <div class="canvas-preview">
                                                               @if (approval.IsApprovalTypeVideo)
                                                                {
                                                                 <canvas id='@(String.Format("canvas_{0}_{1}", currentPageIndex, approval.ApprovalID))' approval='@approval.ApprovalID' data-preview='@Url.Action("GetApprovalThumbnailPath", new { appGuid = annotationPage.ApprovalGuid, pageNumber = annotationPage.PageNumber, pageID = annotationPage.PageId, timeFrame = annotationPage.TimeFrame, annotationId = annotationPage.AnnotationsIDs , approvalName = approval.ApprovalName  })' data-previewidth="" data-previewheight="" data-page="@annotationPage.PageNumber" data-annotations='@annotationPage.AnnotationsIDs'></canvas>                                                                }
                                                                else
                                                                {
                                                                 <canvas id='@(String.Format("canvas_{0}_{1}", currentPageIndex, approval.ApprovalID))' approval='@approval.ApprovalID' data-preview='@Url.Action("GetApprovalThumbnailPath", new { appGuid = annotationPage.ApprovalGuid, pageNumber = annotationPage.PageNumber, pageID = annotationPage.PageId, timeFrame = annotationPage.TimeFrame , annotationId = annotationPage.AnnotationsIDs , approvalName = approval.ApprovalName })' data-previewidth="" data-previewheight="" data-page="@annotationPage.PageNumber" data-annotations='@annotationPage.AnnotationsIDs'></canvas>
                                                                }
                                                            </div>
                                                            <img class="img-polaroid" id='@(String.Format("img_{0}_{1}", currentPageIndex, approval.ApprovalID))' approval='@approval.ApprovalID' approvalname ='@approval.JobTitle' alt="Image Not Ready"></img>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                            <!-- /approval-comments-section -->
                        }
                    </div>
                    <!-- /page -->
                </div>
                <!-- /print -->
                <div class="form-actions" style="@(ViewBag.IsFromAPICall == null ? "display:block" : "display:none")">
                    <a class="btn btn-primary upper pull-right" href="@(ViewBag.IsFromDashboard ? Url.Action("Index", "Approvals") : Url.Action("Details", "Approvals"))">@Resources.btnOk</a>
                </div>
                @Html.Hidden("default-file-name", Resources.lblAnnotationsReport.Trim() + ".pdf")
                @Html.Hidden("summary-page-check", (bool)ViewBag.ShowSummaryPage)
                @Html.Hidden("report-type", (string)ViewBag.ReportType)
            @using (Html.BeginForm("", "Approvals", FormMethod.Post, new { id = "formAnnotations" }))
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("data-annotations-url", @Url.Action("PageGroupedAnnotations", "Approvals"))
            }
            </div>
        </div>
    </div>
    <script type="text/javascript" src="@Url.Content("~/Content/js/downloadjs/download.min.js")"></script>
</body>
</html>
