﻿@using GMG.CoZone.Common
@using GMGColor.Resources
@using GMGColorDAL.CustomModels
@model AnnotationsReportFilters
<div id="modalAnnotationsReportFilter" class="modal hide">
    @using (Html.BeginForm("Annotations", "Approvals", FormMethod.Post, new { @id = "annotationFilters", @class = "form-horizontal dirtyignore" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.HiddenFor(m => m.SelectedApprovals, new { @id="annotationsReportSelectedApprovals", @data_val = false })
        @Html.HiddenFor(m => m.IsFromDashboard, new { @data_val = false })
        <div class="modal-header">
            <a href="javascript:void(0);" class="close" data-dismiss="modal" title="@Resources.btnClose">
                &times;</a>
            <h3>@Resources.lblAnnotationsReport</h3>
        </div>
        <div class="modal-body">
            <span class="errormsg" style="display: none"></span>
            <div class="control-group">
                <div class="controls">
                    <label class="radio inline">
                        <input  name="ReportFormatType" type="radio" value="1" />
                        @Resources.lblUploadSettingsPDFFileType
                    </label>
                    <label class="radio inline">
                        <input name="ReportFormatType" type="radio" value="2" checked="checked" />
                        @Resources.lblDetailView
                    </label>
                    <label class="radio inline">
                        <input  name="ReportFormatType" type="radio" value="3" />
                        @Resources.lblListView
                    </label>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label large-label">@Resources.lblNumberOfCommentsPerPage</label>
                <div id="annotationsPerPage" class="controls spinner-group dropdown-filter-margin spinner">
                    @Html.TextBoxFor(model => model.AnnotationsPerPage, new { @class = "czn-spinner" })
                    <div class="input-group-btn-vertical">
                        <button class="btn btn-default">
                            <i class="icon-caret-up"></i>
                        </button>
                        <button class="btn btn-default">
                            <i class="icon-caret-down"></i>
                        </button>
                    </div>
                </div>
                @Html.ValidationMessageFor(m => m.AnnotationsPerPage)
            </div>
            <div class="control-group">
                <label class="control-label large-label">@Resources.lblSortBy</label>
                <div id="sortBy" class="controls">
                    @Html.DropDownListFor((m => m.ReportGroupingID), AnnotationsReportFilters.ListOf<AnnotationReportGrouping>(), new { @class = "dropdown-filter-margin" })
                </div>
            </div>
            <div class="control-group">
                <label class="control-label large-label">@Resources.lblDisplayOptions</label>
                <div id="reportType" class="controls">
                    @Html.DropDownListFor((m => m.ReportTypeID), AnnotationsReportFilters.ListOf<AnnotationReportType>(), new { @class = "dropdown-filter-margin" })
                </div>
            </div>
            <div class="control-group">
                <label class="control-label large-label">@Resources.lblFilterBy</label>
                <div id="filterby" class="controls">
                    @Html.DropDownListFor((m => m.ReportFilteringID), AnnotationsReportFilters.ListOf<AnnotationReportFiltering>(), new { @id = "filterBy", @class = "dropdown-filter-margin" })
                </div>
            </div>
            <div id="dinamycLists">
                <div id="InternalUser" class="control-group">
                    <label class="control-label large-label">@Resources.lblInternalUsers<br /> @Resources.lblAll &ensp;  @Html.CheckBoxFor(model => model.IncludeAllInternalUsers, new { @id = "includeAllInternalUsers", @style = "margin-top:0px" })</label>
                    <div id="listBoxes_InternalUser_style" class="controls" style="margin-left:215px;"><div id="listBoxes_InternalUser"></div></div>
                </div>
                <div id="ExternalUser" class="control-group">
                    <label class="control-label large-label">@Resources.lblExternalUsers <br /> @Resources.lblAll &ensp;  @Html.CheckBoxFor(model => model.IncludeAllExternalUsers, new { @id = "includeAllExternalUsers", @style = "margin-top:0px" })</label>
                    <div id="listBoxes_ExternalUser_style" class="controls" style="margin-left:215px;"><div id="listBoxes_ExternalUser"></div></div>
                </div>
                <div id="Group" class="control-group">
                    <label class="control-label large-label">@Resources.lblGroup <br /> @Resources.lblAll &ensp;  @Html.CheckBoxFor(model => model.IncludeAllGroups, new { @id = "includeAllGroups", @style = "margin-top:0px" })</label>
                    <div id="listBoxes_Group_style" class="controls" style="margin-left:215px;"><div id="listBoxes_Group"></div></div>
                </div>
                <div id="Phase" class="control-group">
                    <label class="control-label large-label">@Resources.lblPhase <br /> @Resources.lblAll &ensp;  @Html.CheckBoxFor(model => model.IncludeAllPhases, new { @id = "includeAllPhases", @style = "margin-top:0px" })</label>
                    <div id="listBoxes_Phase_style" class="controls" style="margin-left:215px;"><div id="listBoxes_Phase"></div></div>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label large-label">@Resources.lblVersion</label>
                <div class="controls"><lable id="selectedVersiondiv"></lable><lable>&ensp; @Html.CheckBoxFor(model => model.IncludeAllVersions, new { @id = "includeAllVersions", @style = "margin-top:0px", @checked = true }) &ensp; @Resources.lblIncludeAllVersions</lable></div>
            </div>

            <div class="control-group">
                <label class="control-label large-label">@Resources.lblSummaryPage</label>
                <div class="controls ">
                    @Html.CheckBoxFor(model => model.ShowSummaryPage, new { @id = "summaryCheck", @class = "dropdown-filter-margin" })
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a class="btn" href="javascript:void(0);" data-dismiss="modal" class="close" title="@Resources.btnCancel">@Resources.btnCancel</a>
            <button class="btn btn-primary" type="submit" id="exportFile">@Resources.btnOk</button>
        </div>
    }
    @Html.Hidden("usersErrLabel", Resources.errChooseUser)
    @Html.Hidden("groupsErrLabel", Resources.errChooseGroup)
    @Html.Hidden("phaseErrLabel", Resources.errChoosePhase)
</div>
<script type="text/javascript">
    var cnt = 0;
    var filterByOption = "";
    var isSingleApproval = 0;

    $('#filterBy').on('change', function () {
        filterByOption = $("option:selected", this).text();

        if (filterByOption === '@Resources.lblGroups') {
            if ($("#listBoxes_Group").html().length) {
                $('#Group').show();
            }
            $('#InternalUser').hide();
            $('#ExternalUser').hide();
        } else {
            if($("#listBoxes_InternalUser").html().length){
                $('#InternalUser').show();
                }
            if($("#listBoxes_ExternalUser").html().length){
                $('#ExternalUser').show();
                }
            $('#Group').hide();
        }

    });

    $("input[name='ReportFormatType']").change(function () {
        if ($(this).val().toLowerCase() == '1') {
            $("#summaryCheck").attr('disabled', 'disabled');
            $("#ReportTypeID").attr('disabled', 'disabled');
            $("#AnnotationsPerPage").attr('disabled', 'disabled');
        } else if ($(this).val().toLowerCase() == '2') {
            $("#summaryCheck").removeAttr('disabled');
            $("#ReportTypeID").removeAttr('disabled');
            $("#AnnotationsPerPage").removeAttr('disabled');
        } else {
            $("#summaryCheck").attr('disabled', 'disabled');
            $("#ReportTypeID").attr('disabled', 'disabled');
            $("#AnnotationsPerPage").attr('disabled', 'disabled');
        }
    });

    function LoadUsersAndGroupsListBox(data) {
        $('#filterBy option:first').attr("selected", "selected");
        filterByOption = $("#filterBy option:selected").text();

        $("#includeAllInternalUsers").attr('checked', true);
        $("#includeAllExternalUsers").attr('checked', true);
        $("#includeAllGroups").attr('checked', true);
        $("#includeAllPhases").attr('checked', true);

        //Remove the error message
        $('.errormsg').empty();

        if (data.InfoMessage !== 'undefined' && data.InfoMessage != "") {
            $('.errormsg').addClass('validation-summary-errors').css('display', 'block').text(data.InfoMessage);
        }

        cnt = -1;
        $("#listBoxes_InternalUser").empty();
        $("#listBoxes_ExternalUser").empty();
        $("#listBoxes_Group").empty();
        $("#listBoxes_Phase").empty();
        $("#selectedVersiondiv").empty();
        $('#annotationsReportSelectedApprovals').val(data.SelectedApprovals);

        if (data.Users !== 'undefined' && data.Users.length > 0) {
            $("#InternalUser").show();
            createInternalUsersListBox("InternalUser", '@Resources.lblInternalUsers', data.Users);
        } else {
            $("#InternalUser").hide();
        }

        if (data.ExternalUsers !== 'undefined' && data.ExternalUsers.length > 0) {
            $("#ExternalUser").show();
            createExternalUsersListBox("ExternalUser", '@Resources.lblExternalUsers', data.ExternalUsers);
        } else {
            $("#ExternalUser").hide();
        }

        if (data.Groups !== 'undefined' && data.Groups.length > 0) {
            createGroupsListBox(data.Groups);
            $('#Group').hide();
        } else {
            $("#filterBy option[value=1]").remove();
        }

        if (data.Phases != null && data.Phases.length > 0) {
            $("#Phase").show();
            createPhasesListBox(data.Phases);
        } else {
            $("#Phase").hide();
        }

        $("#filterBy option[value=0]").prop('selected', 'selected');
        $('#summaryCheck').prop('checked', true);

        createSelectedVersionBox();
        if (data.LastVersion != null && data.LastVersion > 0   ) {
            $("#select_Version").removeAttr('disabled');
            $("#select_Version").val(data.SelectedApprovalVersion);
            if (data.SelectedApprovals.length === 1) { isSingleApproval = 1 }
        } else {
            $("#select_Version").attr('disabled', 'disabled');
        }

        (function ($) {
            $('input').blur();

            $('#SelectedVersion .btn:first-of-type').on('click', function () {
                $(this).blur();
                if (parseInt($('#SelectedVersion input').val(), 10) < parseInt(data.LastVersion)) {
                    $('#SelectedVersion input').val(parseInt($('#SelectedVersion input').val(), 10) + 1);
                }
                return false;
            });
            $('#SelectedVersion .btn:last-of-type').on('click', function () {
                $(this).blur();
                if (parseInt($('#SelectedVersion input').val(), 10) > 1) {
                    $('#SelectedVersion input').val(parseInt($('#SelectedVersion input').val(), 10) - 1);
                }
                return false;
            });
        })(jQuery);
    }

    function createInternalUsersListBox(userType, listName, data) {
        $('#listBoxes_' + userType).append('<div class="form-panel listbox" id="selectListBox_' + userType + '"></div>');

        $('#listBoxes_InternalUser_style').addClass('InternalUser_style').css('margin-left', '215px');
        // Iterates through a collection
        $.each(data, function (index, item) {
            cnt++;
            $('#selectListBox_' + userType).append('<label class="checkbox inline"><input id="item_' + cnt + '" onclick="UnselectIncludeInternalUsersAll(this);" checked ="checked" value="true" name="AnnotationsReportUsers[' + cnt + '].IsSelected" type="checkbox" /><input type="hidden" name="AnnotationsReportUsers[' + cnt + '].ID" value="' + item.ID + '"/> <label>' + item.Name + '</label></label> <br/>');
            if (item.IsExternal) {
                $('#selectListBox_' + userType).append('<input type="hidden"  name="AnnotationsReportUsers[' + cnt + '].IsExternal" value="true"/>');
            }
        });
    }

    function createExternalUsersListBox(userType, listName, data) {
        $('#listBoxes_' + userType).append('<div class="form-panel listbox" id="selectListBox_' + userType + '"></div>');

        $('#listBoxes_ExternalUser_style').addClass('ExternalUser_style').css('margin-left', '215px');
        // Iterates through a collection
        $.each(data, function (index, item) {
            cnt++;
            $('#selectListBox_' + userType).append('<label class="checkbox inline"><input id="item_' + cnt + '" onclick="UnselectIncludeExternalUsersAll(this);" checked ="checked" value="true" name="AnnotationsReportUsers[' + cnt + '].IsSelected" type="checkbox" /><input type="hidden" name="AnnotationsReportUsers[' + cnt + '].ID" value="' + item.ID + '"/> <label>' + item.Name + '</label></label> <br/>');
            if (item.IsExternal) {
                $('#selectListBox_' + userType).append('<input type="hidden" name="AnnotationsReportUsers[' + cnt + '].IsExternal" value="true"/>');
            }
        });
    }

    function createGroupsListBox(data) {
        $('#listBoxes_Group').append('<div class="form-panel listbox" id="selectListBox_Group"></div>');

        $('#listBoxes_Group_style').addClass('Group_style').css('margin-left', '215px');
        // Iterates through a collection
        $.each(data, function (index, item) {
            $('#selectListBox_Group').append('<label class="checkbox inline"><input id="item_' + index + '" onclick="UnselectIncludeGroupsAll(this);" checked ="checked" value="true" name="AnnotationsReportGroups[' + index + '].IsSelected" type="checkbox" /><input type="hidden" name="AnnotationsReportGroups[' + index + '].ID" value="' + item.ID + '"/> <label>' + item.Name + '</label></label> <br/>');
        });
    }

    function createPhasesListBox(data) {
        $('#listBoxes_Phase').append('<div class="form-panel listbox" id="selectListBox_Phase"></div>');

        $('#listBoxes_Phase_style').addClass('Phase_style').css('margin-left', '215px');
        // Iterates through a collection
        $.each(data, function (index, item) {
            $('#selectListBox_Phase').append('<label class="checkbox inline"><input id="phase_' + index + '" onclick="UnselectIncludePhasesAll(this);" checked ="checked" value="true" name="AnnotationsReportPhases[' + index + '].IsSelected" type="checkbox" /><input type="hidden" name="AnnotationsReportPhases[' + index + '].ID" value="' + item.ID + '"/> <label>' + item.Name + '</label></label> <br/>');
        });
    }

    function createSelectedVersionBox() {
        $("#selectedVersiondiv").append('<div id="SelectedVersion" class="controls spinner-group dropdown-filter-margin spinner">@Html.TextBoxFor(model => model.SelectedVersion, new { @class = "czn-spinner" , @id="select_Version"  }) @Html.ValidationMessageFor(model => model.SelectedVersion)<div class="input-group-btn-vertical"><button class="btn btn-default"><i class="icon-caret-up"></i></button><button class="btn btn-default"><i class="icon-caret-down"></i></button></div></div>');
    }

    (function ($) {
        $('input').blur();

        $('#annotationsPerPage .btn:first-of-type').on('click', function () {
            $(this).blur();
            if (parseInt($('#annotationsPerPage input').val(), 10) < 40) {
                $('#annotationsPerPage input').val(parseInt($('#annotationsPerPage input').val(), 10) + 1);
            }
            return false;
        });
        $('#annotationsPerPage .btn:last-of-type').on('click', function () {
            $(this).blur();
            if (parseInt($('#annotationsPerPage input').val(), 10) > 1) {
                $('#annotationsPerPage input').val(parseInt($('#annotationsPerPage input').val(), 10) - 1);
            }
            return false;
        });
    })(jQuery);

    $(document).ready(function () {
        $.validator.unobtrusive.parse(document);
        var form = $('#annotationFilters');
        // Re add validation with changes
        $(form).validate($(form).data("unobtrusiveValidation").options);
    });

    // Auto Deselect
    function UnselectIncludeInternalUsersAll(e) {
        if (!e.checked) {
            $("#includeAllInternalUsers").attr('checked', false);
        }
    }

    function UnselectIncludeExternalUsersAll(e) {
        if (!e.checked) {
            $("#includeAllExternalUsers").attr('checked', false);
        }
    }

    function UnselectIncludeGroupsAll(e) {
        if (!e.checked) {
            $("#includeAllGroups").attr('checked', false);
        }
    }

    function UnselectIncludePhasesAll(e) {
        if (!e.checked) {
            $("#includeAllPhases").attr('checked', false);
        }
    }

    $("#includeAllVersions").change(function () {
        if (this.checked) {
            $('#selectListBox_InternalUser').find('[type="checkbox"]').attr('checked', true);
            $('#selectListBox_InternalUser').find('[type="checkbox"]').attr('disabled', true);
            $('#selectListBox_ExternalUser').find('[type="checkbox"]').attr('checked', true);
            $('#selectListBox_ExternalUser').find('[type="checkbox"]').attr('disabled', true);
            $('#selectListBox_Group').find('[type="checkbox"]').attr('checked', true);
            $('#selectListBox_Group').find('[type="checkbox"]').attr('disabled', true);
            $('#selectListBox_Phase').find('[type="checkbox"]').attr('checked', true);
            $('#selectListBox_Phase').find('[type="checkbox"]').attr('disabled', true);

            $("#includeAllInternalUsers").attr('checked', true);
            $("#includeAllInternalUsers").attr('disabled', 'disabled');
            $("#includeAllExternalUsers").attr('checked', true);
            $("#includeAllExternalUsers").attr('disabled', 'disabled');
            $("#includeAllGroups").attr('checked', true);
            $("#includeAllGroups").attr('disabled', 'disabled');
            $("#includeAllPhases").attr('checked', true);
            $("#includeAllPhases").attr('disabled', 'disabled');

            $("#select_Version").attr('disabled', 'disabled');
        } else {

            $('#selectListBox_InternalUser').find('[type="checkbox"]').attr('checked', false);
            $('#selectListBox_InternalUser').find('[type="checkbox"]').removeAttr('disabled');
            $('#selectListBox_ExternalUser').find('[type="checkbox"]').attr('checked', false);
            $('#selectListBox_ExternalUser').find('[type="checkbox"]').removeAttr('disabled');
            $('#selectListBox_Group').find('[type="checkbox"]').attr('checked', false);
            $('#selectListBox_Group').find('[type="checkbox"]').removeAttr('disabled');
            $('#selectListBox_Phase').find('[type="checkbox"]').attr('checked', false);
            $('#selectListBox_Phase').find('[type="checkbox"]').removeAttr('disabled');

            $("#includeAllInternalUsers").attr('checked', false);
            $("#includeAllInternalUsers").removeAttr('disabled');
            $("#includeAllExternalUsers").attr('checked', false);
            $("#includeAllExternalUsers").removeAttr('disabled');
            $("#includeAllGroups").attr('checked', false);
            $("#includeAllGroups").removeAttr('disabled');
            $("#includeAllPhases").attr('checked', false);
            $("#includeAllPhases").removeAttr('disabled');

            if (isSingleApproval === 1) {
                $("#select_Version").removeAttr('disabled');
            }
        }
    });

    $("#includeAllInternalUsers").change(function () {
        if (this.checked) {
            $('#selectListBox_InternalUser').find('[type="checkbox"]').attr('checked', true);
        } else {
            $('#selectListBox_InternalUser').find('[type="checkbox"]').attr('checked', false);
        }
    });

    $("#includeAllExternalUsers").change(function () {
        if (this.checked) {
            $('#selectListBox_ExternalUser').find('[type="checkbox"]').attr('checked', true);
        } else {
            $('#selectListBox_ExternalUser').find('[type="checkbox"]').attr('checked', false);
        }
    });

    $("#includeAllGroups").change(function () {
        if (this.checked) {
            $('#selectListBox_Group').find('[type="checkbox"]').attr('checked', true);
        } else {
            $('#selectListBox_Group').find('[type="checkbox"]').attr('checked', false);
            $("#includeAllGroups").attr('checked', false);
        }
    });

    $("#includeAllPhases").change(function () {
        if (this.checked) {
            $('#selectListBox_Phase').find('[type="checkbox"]').attr('checked', true);
            //$('#selectListBox_Phase').find('[type="checkbox"]').attr('disabled', true);
        } else {
            $('#selectListBox_Phase').find('[type="checkbox"]').attr('checked', false);
            //$('#selectListBox_Phase').find('[type="checkbox"]').removeAttr('disabled');
            $("#includeAllPhases").attr('checked', false);
        }
    });

    $('#annotationFilters').on('submit', function () {
        if (filterByOption === '@Resources.lblUsers') {
            var users = $('#selectListBox_InternalUser').find('[type="checkbox"]:checked').length;
            var externalUsers = $('#selectListBox_ExternalUser').find('[type="checkbox"]:checked').length;

            if (users === 0 && externalUsers === 0) {
                //Display the error message for user
                $('.errormsg').addClass('validation-summary-errors').css('display', 'block').text($('#usersErrLabel').val());
                return false;
            }
            $('#selectListBox_Group').find('input:checkbox').removeAttr('checked');
        }


        if (filterByOption === '@Resources.lblGroups') {
            var groups = $('#selectListBox_Group').find('[type="checkbox"]:checked').length;

            if (groups === 0) {
                //Display the error message for group
                $('.errormsg').addClass('validation-summary-errors').css('display', 'block').text($('#groupsErrLabel').val());
                return false;
            }
            $('#selectListBox_InternalUser').find('input:checkbox').removeAttr('checked');
            $('#selectListBox_ExternalUser').find('input:checkbox').removeAttr('checked');
        }

        var includeAllVersions = $('#includeAllVersions').is(':checked');

        if (includeAllVersions) {
            $('#selectListBox_Phase').find('[type="checkbox"]:checked').attr('checked', false);
        }

        if ($('#selectListBox_Phase').length > 0 && !includeAllVersions) {
            var selectedPhases = $('#selectListBox_Phase').find('[type="checkbox"]:checked').length;
            if (selectedPhases === 0) {
                //Display the error message for user
                $('.errormsg').addClass('validation-summary-errors').css('display', 'block').text($('#phaseErrLabel').val());
                return false;
            }
        }

        $('#modalAnnotationsReportFilter').modal("hide");
    });

    $('#dinamycLists').on('change', function () {
        //Remove the error message
        $('.errormsg').empty();
    });
</script>
