﻿@using GMGColor.Resources
@using GMGColorBusinessLogic
@using GMGColorDAL
@using GMGColorDAL.Common
@using GMGColor.HtmlHelpers
@using GMG.CoZone.Common
@using GMGColorDAL.CustomModels
@model GMGColorDAL.CustomModels.ApprovalsGrid
@{
    GMGColorBusinessLogic.DbContextBL context = HttpContext.Current.Items[GMGColorDAL.DALUtils.DatabaseContext] as GMGColorBusinessLogic.DbContextBL;
    string inProgressApprovalIDs = String.Empty;

    int tab = ViewBag.Tab;
    int currentTabApprovalCount = ViewBag.CurrentTabApprovalCount;
    int pageSize = ViewBag.PageSize;
    bool showEmptySearchContent = !string.IsNullOrEmpty(ViewBag.SearchText) && Session["RecordCount"] != null && int.Parse(Session["RecordCount"].ToString()) == 0;
}
 @using (Html.BeginForm("Index", "Approvals", FormMethod.Post, new { @class = "form-horizontal", id = "formMain" }))
 {
    @Html.AntiForgeryToken()
    <ul class="nav nav-pills pull-right">
        @if (tab == -8 && Model.OutOfOfficeUsers.List_OutOfOfficeUsers.Count() > 0)
                {
            <li class="dropdown">
                @if (ViewBag.OutofOfficeUserID == 0)
                {<a href="#" data-toggle="dropdown" class="dropdown-toggle">@Resources.lblSelectOutOfOfficeUser<b class="caret"></b></a> }
                else
                {
                    foreach (var i in Model.OutOfOfficeUsers.List_OutOfOfficeUsers)
                    {
                        if (@i.ID == ViewBag.OutofOfficeUserID)
                        { <a href="#" data-toggle="dropdown" class="dropdown-toggle">@i.Name <b class="caret"></b></a>}
                    }
                }
                <ul class="dropdown-menu pull-right">
                    @foreach (var item in Model.OutOfOfficeUsers.List_OutOfOfficeUsers)
                    {
                        <li>
                            <a href="javascript:void(0);" onclick="$('#hdnOoouser')[0].value = @item.ID ;$('#btnOutOfOfficeUser').click();">
                                @if (@item.ID == ViewBag.OutofOfficeUserID)
                                {<i class="icon-ok"></i>}  @item.Name
                            </a>
                        </li>
                    }
                </ul>
            </li>
        }
    </ul>

     if (Model.ApprovalsPageView.Count > 0)
     {
         int page = int.Parse(ViewBag.CurrentPage.ToString());
        <div id="statusView" data-view-type="@Model.DashboardViewTypes.ElementAt(1).Key" style="display:none">
            @{ Html.RenderPartial("CollaborateStatusView.Tablet", Model); }
        </div>
        <div id="summaryView" data-view-type="@Model.DashboardViewTypes.ElementAt(0).Key">
            @{ Html.RenderPartial("CollaborateSummaryView.Tablet", Model); }
        </div>
        <div class="clearfix">
        </div>
        <div class="pagination pagination-centered pagination-tablet pagination-lg">
            @if ((decimal.Parse(currentTabApprovalCount.ToString()) / decimal.Parse(pageSize.ToString())) > 1)
            {
                @Html.Pager(page, currentTabApprovalCount, new { @action = "Populate", @id = tab }, pageSize)
            }
        </div>
    }
    else
    {
        <div class="row-fluid blank-state" visible="false">
            @if (showEmptySearchContent)
            {
                <div class="span4 blank-state-icon">
                    <i class="icon-search"></i>
                </div>
                <div class="span7">
                    <h3>
                        @Resources.lblNoResultReport</h3>
                    <p>
                        @Resources.pharagraphEmptySearchResult
                    </p>
                </div>
            }
            else
            {
                switch (tab)
                {
                    case -6: // Recycle
                        {   
                <div class="span4 blank-state-icon">
                    <i class="icon-trash"></i>
                </div>
                <div class="span7">
                    <h3>
                        @Resources.lblEmptyRecycleBinMsg</h3>
                    <p>
                        @Resources.pharagraphEmptyRecycleBinMsg
                    </p>
                </div>
                            break;
                        }
                    case -5: // Archive
                        {
                <div class="span4 blank-state-icon">
                    <i class="icon-briefcase"></i>
                </div>
                <div class="span7">
                    <h3>
                        @Resources.lblEmptyArchiveApprovalMsg</h3>
                    <p>
                        @Resources.pharagraphEmptyArchiveApprovalMsg
                    </p>
                </div>
                            break;
                        }
                    case -8: // Substituted
                        {
                            <div class="span4 blank-state-icon">
                                <i class="icon-exchange"></i>
                            </div>
                            <div class="span7">
                                <h3>
                                    @Resources.lblEmptySubstitutedApprovalMsg
                                </h3>
                                <p>
                                    @Resources.pharagraphEmptySubstitutedApprovalMsg
                                </p>
                            </div>
                            break;
                        }
                    case -4: // Recently Viewed
                        {
                <div class="span4 blank-state-icon">
                    <i class="icon-eye-open"></i>
                </div>
                <div class="span7">
                    <h3>
                        @Resources.lblEmptyRecentlyViewedApprovalMsg</h3>
                    <p>
                        @Resources.pharagraphEmptyRecentlyViewedApprovalMsg
                    </p>
                </div>
                            break;
                        }
                    case -3: // Shared with me
                        {
                            int status = (int)Session[Constants.ApprovalStatus];
                                        
                            <div class="span4 blank-state-icon">
                                <i class="icon-retweet"></i>
                            </div>
                            <div class="span7">
                                <h3>
                                    @string.Format("{0}", status > 0 ? Resources.lblNoApprovalsForYourFilter : Resources.lblEmptySharedApprovalsMsg)</h3>
                                <p>
                                    @string.Format("{0}", status > 0 ? Resources.lblRemoveStatusFilter : Resources.pharagraphEmptySharedApprovalsMsg)
                                </p>
                            </div>
                            break;
                        }
                    case -2: // Own by me
                        {
                            int status = (int)Session[Constants.ApprovalStatus];
                                        
                            <div class="span4 blank-state-icon">
                                <i class="icon-user"></i>
                            </div>
                            <div class="span7">
                                <h3>
                                    @string.Format("{0}", status > 0 ? Resources.lblNoApprovalsForYourFilter : Resources.lblEmptyOwnedByYouApprovalsMsg)</h3>
                                <p>
                                    @string.Format("{0}", status > 0 ? Resources.lblRemoveStatusFilter : Resources.pharagraphEmptyOwnedByYouApprovalsMsg)
                                </p>
                            </div>
                            break;
                        }
                    case -1: // Search Results
                        {
                            int status = (int)Session[Constants.ApprovalStatus];
                            <div class="span4 blank-state-icon">
                                <i class="icon-picture"></i>
                            </div>
                            <div class="span7">
                                <h3>@string.Format("{0}", status > 0 ? Resources.lblNoApprovalsForYourFilter : Resources.lblYouDntHaveAnyProofsInYourLibrary)</h3>
                            </div>
                            break;
                        }
                    default: // All Folders
                        {
                <div class="span4 blank-state-icon">
                    <i class="icon-folder-open"></i>
                </div>
                <div class="span7">
                    <h3>@Resources.lblEmptyFolderMsg</h3>
                </div>
                            break;
                        }
                }
            }
        </div>
    }
                    
    <div class="hide">
        @Html.Hidden("SelectedPageSize", 0, new { id = "hdnSelectedPageSize", data_val = "false" })
        @Html.Hidden("SelectedPage", tab, new { id = "hdnSelectedPage", data_val = "false" })
        @Html.Hidden("OutOfOfficeUser", 0, new { id = "hdnOoouser", data_val = "false" })
        <button id="dynamicAction" class="hide" name="action" type="submit" value="">
        </button>
        <button id="btnPageSize" class="cancel" name="action" type="submit" value="SetPageSize">
            PageSize
        </button>
        <button id="btnOutOfOfficeUser" class="cancel" name="action" type="submit" value="SetOutOfOfficeUser">
            OutOfOfficeUser
        </button>
    </div>
                                        
    @Html.Hidden("SelectedApproval", 0, new { id = "hdnSelectedApproval" })

    DeleteConfirmation archiveApprovalConfirmation = new DeleteConfirmation(1, "ArchiveApproval");
    archiveApprovalConfirmation.DeleteMessageTitle = Resources.lblArchive_PresentTense;
    archiveApprovalConfirmation.DeleteMessageHeading = Resources.lblArchiveMessageHeading;
    archiveApprovalConfirmation.DeleteMessage = String.Format(Resources.lblArchiveMessage_Approval, GMGColorDAL.GlobalSetting.GetGlobalSetting(GMGColorDAL.GlobalSetting.Setting.StoreArchivedFor, context).Value);
    archiveApprovalConfirmation.DeleteMessagePleaseNote = string.Empty;
                @Html.Partial("DeleteConfirmationDialog", archiveApprovalConfirmation)

    DeleteConfirmation deleteVersionConfirmation = new DeleteConfirmation(2, "DeleteVersion", "DeleteVersionPermanent");
    deleteVersionConfirmation.DeleteMessage = Resources.lblDeleteMessage_Version;
    deleteVersionConfirmation.DeleteMessagePleaseNote = string.Empty;
    deleteVersionConfirmation.DeleteSecondMessage = Resources.lblDeleteMessage_VersionSecondMessage;
    deleteVersionConfirmation.SecondActionLabel = Resources.lblRecycleBin;
    @Html.Partial("DeleteConfirmationDialog", deleteVersionConfirmation)

    DeleteConfirmation deleteApprovalConfirmation = new DeleteConfirmation(9, "DeleteApproval");
    deleteApprovalConfirmation.DeleteMessage = Resources.lblDeleteMessage_Approval;
    deleteApprovalConfirmation.DeleteMessagePleaseNote = string.Empty;
                @Html.Partial("DeleteConfirmationDialog", deleteApprovalConfirmation)

    DeleteConfirmation deleteApprovalPermanent = new DeleteConfirmation(5, "DeleteApprovalPermanent");
                @Html.Partial("DeleteConfirmationDialog", deleteApprovalPermanent)

    if (tab == -6)
    {
        DeleteConfirmation emptyRecycleBin = new DeleteConfirmation(7, "EmptyRecycleBin");
                @Html.Partial("DeleteConfirmationDialog", emptyRecycleBin)
    }

    inProgressApprovalIDs = !string.IsNullOrEmpty(Model.InProgressApprovalsIds) ? Model.InProgressApprovalsIds : string.Empty;
    if (inProgressApprovalIDs.Length > 0)
    {
        inProgressApprovalIDs = inProgressApprovalIDs.Substring(0, inProgressApprovalIDs.Length - 1);
    }
 }
 <script type="text/javascript">
      inProgressApprovalIDs = '@inProgressApprovalIDs';
</script>
@if (Request.IsAjaxRequest())
{
<script src="@Url.Content("~/Content/js/scripts-tablet.js")"></script>
}




