﻿@using GMG.CoZone.Collaborate.UI
@using GMGColor.Resources
@using GMGColorBusinessLogic
@using GMGColorDAL
@using GMGColor.HtmlHelpers
@using GMG.CoZone.Common
@using GMGColorDAL.CustomModels
@model ApprovalsGrid
@{
    DbContextBL context = HttpContext.Current.Items[DALUtils.DatabaseContext] as DbContextBL;
    var inProgressApprovalIDs = String.Empty;

    int tab = ViewBag.Tab;
    int currentTabApprovalCount = ViewBag.CurrentTabApprovalCount;
    int pageSize = ViewBag.PageSize;
    string sort = ViewBag.Sort;
    string sortDir = ViewBag.SortDir;

    GMGColorDAL.User objUser = Model.LoggedUser;

    Role.RoleName deliverRole = ViewBag.DeliverRole;

    bool hasDeliverSubscriptionPlan = ViewBag.HasDeliverSubscriptionPlan;
    bool hasCollaborators = objUser.ApprovalCollaborators.Any();
    bool hasFolderCollaborators = objUser.FolderCollaborators.Any();

    bool showActions = hasCollaborators || hasFolderCollaborators;
    bool showFilter = hasCollaborators;
    bool showEmptySearchContent = !string.IsNullOrEmpty(ViewBag.SearchText) && ViewBag.CurrentTabApprovalCount == 0;
    JobStatu.Status status = (JobStatu.Status)ViewBag.FilterStatus;
    bool disableTagwordsInDashbord = ViewBag.DisableTagwordsInDashbord;

    bool isManagerRole = Model.LoggedUserRole == Role.RoleName.AccountAdministrator || Model.LoggedUserRole == Role.RoleName.AccountManager;
}   

@if (tab == -6 && hasCollaborators)
{                  
    <div class="tool-bar">
        <button class="btn btn-small btn-danger" type="button" onclick="$('#modelDialogDeleteConfirmation_7').modal({ backdrop: 'static', keyboard: false });">
            <i class="icon-trash"></i>&nbsp;@Resources.lblEmptyRecycleBin
        </button>
    </div>
}
else if (showActions)
{
    using (Html.BeginForm("", "Approvals", FormMethod.Post, new { @class = "form-horizontal", id = "formEvents" }))
    {       
<div class="text-right tool-bar well clearboth rightToolBar">
    <div id="headerLeftSection" class="pull-left">
        <div class="pull-left">
            @using (Html.BeginForm("", "Approvals", FormMethod.Post, new { @class = "form-horizontal dirtyignore", id = "formSearch" }))
            {
                @Html.AntiForgeryToken()
                string searchText = ViewBag.SearchText;
                <div class="form-search clearboth">
                    <div class="input-append">
                        <input name="txtSearch" id="txtSearch" type="text" placeholder="@Resources.btnSearch" class="search-query span9"
                               onkeydown="if (event.keyCode == 13) document.getElementById('btnSearch').click();"
                               value="@searchText" />
                        <i onclick="$('#txtSearch').val('');" class="icon-remove-circle searchClearIcon"></i>

                        @Html.Hidden("SelectedPage", tab, new { id = "hdnSelectedPage", @data_val = false })

                        <button id="btnSearch" class="btn cancel" type="submit" name="action" value="Search">
                            @Resources.btnSearch
                        </button>
                    </div>
                </div>
            }
        </div>
        <button id="btnAdvancedSearch" class="btn pull-left" type="button" onclick="populateAdvancedSearch();"
                data-original-title="@Resources.btnAdvancedSearch" rel="tooltip">
            <i class="icon-search"></i>
        </button>
    </div>
    @{
        int page = int.Parse(ViewBag.CurrentPage.ToString());
        int pagingStart = ((page - 1) * pageSize) + 1;
        int pagingEnd = ((page * pageSize) >= currentTabApprovalCount) ? currentTabApprovalCount : (page * pageSize);
    }
   <p class="pull-left alignCentre" id="fileCount">Total files &nbsp|&nbsp <span style="color: #049cdb">@pagingEnd</span> / @currentTabApprovalCount</p>
    <div id="headerRightSection" class="pull-right tooltip-wrapper">
        <span  data-toggle="tooltip"  data-original-title="@Resources.btnFileCompare" rel="tooltip">
            <button id="btnMultiFileCompare" class="btn approval-action" action="StudioHtml" disabled="disabled" type="button" value="FileCompare">
                <i class="icon-picture"></i>
            </button>
        </span>

            <button id="btn-SummaryView" type="button" class="btn" onclick="showDashboardView('@Model.DashboardViewTypes.ElementAt(0).Key');"
                    data-original-title="@Resources.btnTitleSummaryView" rel="tooltip">
                <i class="icon-th-large"></i>
            </button>
            <button id="btn-StatusView" type="button" class="btn" onclick="showDashboardView('@Model.DashboardViewTypes.ElementAt(1).Key');" data-original-title="@Resources.btnTitleStatusView" rel="tooltip">
                <i class="icon-th-list"></i>
            </button>
            
            @if (tab != -8)
            {
                <button type="button" name="action" class="btn" id="btnChooseFolder" widget-toggle="foldertree" widget-display-folder="true"
                        onclick="@string.Format("LoadFoldersTreePopup('{0}', this, true", Url.Action("LoadFolderTree", "Widget", new { @showPanel = false, @moveFiles = false, @currentTab = tab })))"
                        data-original-title="@Resources.btnTitleChooseFolder" rel="tooltip">
                    <i class="icon-folder-close"></i>
                </button>
                if ((Model.LoggedUserRole != Role.RoleName.AccountViewer && Model.LoggedUserRole != Role.RoleName.AccountRetoucher && tab != -3 && tab != -5) || (tab == -3 && (Model.LoggedUserRole == Role.RoleName.AccountAdministrator || Model.LoggedUserRole == Role.RoleName.AccountManager)))
                {
                    <span data-original-title="@Resources.btnTitleMoveFilesToFolder" rel="tooltip">
                        <button type="button" name="action" class="btn" id="btnMoveFilesToFolder" disabled="disabled" widget-toggle="foldertree"
                                onclick="@string.Format("LoadFoldersTreePopup('{0}', this, false", Url.Action("LoadFolderTree", "Widget", new { @showPanel = false, @moveFiles = true, @currentTab = tab })))" >
                            <img alt="color_swatch" src="../../Content/img/move-to-folder.png" class="img-menu-item" />
                        </button>
                    </span>
                }
            }
            @if (((Model.LoggedUserRole != Role.RoleName.AccountViewer && Model.LoggedUserRole != Role.RoleName.AccountRetoucher && tab != -3) || (tab == -3 && Model.LoggedUserRole == Role.RoleName.AccountAdministrator && ViewBag.ShowAllFilter)))
            {
                <span data-original-title="@Resources.btnTitleDelete" rel="tooltip">
                    <button id="btnMultiDelete" class="btn" data-method="delete" data-disable-with="Deleting..."
                            disabled="disabled" onclick="$('#modelDialogDeleteConfirmation_8').modal({ backdrop: 'static', keyboard: false });"
                            type="button" value="MultipleDelete" >
                        <i class="icon-trash"></i>
                    </button>
                </span>
            }
            @if (Model.LoggedUserRole != GMGColorDAL.Role.RoleName.AccountViewer)
            {
                <span data-original-title="@Resources.btnTitleDownload" rel="tooltip">
                    <button id="btnMultiDownload" class="btn" disabled="disabled" data-loading-text="@Resources.btnDownloading" type="button" value="MultiDownload">
                        <i class="icon-download-alt"></i>
                    </button>
                </span>
            }
            @if (Model.LoggedUserRole != GMGColorDAL.Role.RoleName.AccountViewer && tab != -5)
            {
                <span data-original-title="@Resources.btnTitleAnnotationsReport" rel="tooltip">
                    <button id="btnMultiDocumentReport" class="btn" disabled="disabled" type="button" onclick="openReportFilterPopup(this, false)">
                        <i class="icon-list-alt"></i>
                    </button>
                </span>
            }

            @if (Model.LoggedUserRole != Role.RoleName.AccountViewer && Model.LoggedUserRole != Role.RoleName.AccountRetoucher && Model.LoggedUserRole != Role.RoleName.AccountContributor)
            {
                <button id="btnLinkForRetoucher" class="btn hide" disabled="disabled" type="button" onclick="openCreateLinkForRetoucherPopup()"
                        data-original-title="@Resources.btnTitleRetoucher" rel="tooltip">
                    <img alt="color_swatch" src="../../Content/img/copy-to-clipboard.png" class="img-menu-item" />
                </button>
            }

            @if (deliverRole != GMGColorDAL.Role.RoleName.AccountNone && hasDeliverSubscriptionPlan && Model.AnyAvailableValidInstances)
            {
                <button id="btnSubmitToDeliver" class="btn" data-loading-text="@Resources.btnDeliverLoading" disabled="disabled" type="button"
                        onclick="$('#modalDialogSubmitToDeliver').modal({ backdrop: 'static', keyboard: false });$('#AddDeliverJob')[0].innerHTML = '@Resources.btnAddColorProofInstance';">
                    <i class="icon-print"></i>&nbsp;@Resources.btnDeliver
                </button>
            }
            @if (Model.LoggedUserRole != Role.RoleName.AccountViewer && tab != -5)
            {
                <div style="margin-left:4px" class="btn-group pull-right">
                    <a href="javascript:void(0);" data-toggle="dropdown" class="btn dropdown-toggle ellipsisButton">
                        <i class="icon-ellipsis-horizontal"></i>
                    </a>
                    <ul class="dropdown-menu pull-right">
                        @if (Model.LoggedUserRole == Role.RoleName.AccountAdministrator || Model.LoggedUserRole == Role.RoleName.AccountManager)
                        {
                            <li>
                                <a id="btnMarkMultiPhaseAsCompleted" disabled="disabled" class="btn approval-action" action="MarkPhaseAsCompleted" type="button" href="javascript:void(0);" rel="nofollow">
                                    <i class="icon-check"></i>&nbsp;@Resources.lblPhaseComplete
                                </a>
                            </li>
                        }
                        <li>
                            <a id="btnMarkApprovalAsApproved" disabled="disabled" class="btn approval-action " action="MarkApprovalAsApproved" type="button" href="javascript:void(0);" rel="nofollow">
                                <i class="icon-check"></i>&nbsp;@Resources.lblApproved
                            </a>
                        </li>
                        <li>
                            <a id="btnMarkApprovalAsRejected" disabled="disabled" class="btn approval-action " action="MarkApprovalAsRejected" type="button" href="javascript:void(0);" rel="nofollow">
                                <i class="icon-check"></i>&nbsp;@Resources.lblChangesRequired
                            </a>
                        </li>
                        <li>
                            <a id="btnMultipleArchive" disabled="disabled" class="btn approval-action" action="ArchiveApproval" type="button" href="javascript:void(0);" rel="nofollow">
                                <i class="icon-briefcase"></i>&nbsp;@Resources.lblArchive_PresentTense
                            </a>
                        </li>
                        <li>
                            <a id="btnMultiAccess" disabled="disabled" class="btn" type="button" href="javascript:void(0);"
                               onclick="@string.Format("LoadPermissions(event, '{0}', '{1}', this, -1", Url.Action("ApprovalPermissions", "Widget", new { @refresh = false, @showPanel = false, @approvalid = 0 }), Url.Action("GetApprovalCollaborators", "Approvals"))) "
                               title="@Resources.lblAccessPlusUser" widget-toggle="collaboratoraccess" widget-type="approval" widget-exdisabled="" widget-external="" widget-users="" widget-groups="">
                                <i class="icon-lock"></i>&nbsp;@Resources.lblAccessPlusUser
                            </a>
                        </li>
                    </ul>
                </div>
            }
</div>
</div>
    }
}
@if ((tab == -1 && (ViewBag.AllAppCount > 0 || Model.LoggedUserRole == Role.RoleName.AccountAdministrator || (Model.LoggedUserRole == Role.RoleName.AccountManager && Model.ShowAllFilesToManagers))) ||
        (showFilter && tab != -6)
    )
{
<div class="filter-bar">
    @using (Html.BeginForm("", "Approvals", FormMethod.Post, new { @class = "form-horizontal relative", id = "formFilters" }))
    {
        @Html.AntiForgeryToken()
        string newClass = (status == JobStatu.Status.New) ? "active" : string.Empty;
        string creqClass = (status == JobStatu.Status.ChangesRequired) ? "active" : string.Empty;
        string chcomClass = (status == JobStatu.Status.ChangesComplete) ? "active" : string.Empty;
        string comClass = (status == JobStatu.Status.Completed) ? "active" : string.Empty;

        if (showActions)
        {
            <ul class="nav nav-pills pull-right">
                <li id="iconSizeFilter" class="dropdown" style="display: none;">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                        Icon Size<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu pull-right">
                        <li>
                            <a href="javascript:void(0);" class="iconSize smallIcon">
                                <i class="icon-ok" style="display: none;"></i> Small
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="iconSize mediumIcon">
                                <i class="icon-ok" style="display: none;"></i> Medium
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="iconSize largeIcon">
                                <i class="icon-ok" style="display: none;"></i> Large
                            </a>
                        </li>
                    </ul>
                </li>
                @if (tab != -5 && tab != -6 && disableTagwordsInDashbord) {
                <li style="margin-right:5px;">
                    <a href="#" class="dropdown-toggle lightGrey" onclick="openApprovalFilterPopup(@tab);" data-original-title="@Resources.lblFilter" rel="tooltip">
                        <i class="icon-filter"></i><span>&nbsp;@Resources.lblFilter</span>
                    </a>
                    
                </li>
                }
                   <li class="dropdown" style="margin-bottom: 3px;">
                     <a href="#" data-toggle="dropdown" class="dropdown-toggle lightGrey">
                        @if (tab == -6)
                        {
                            if (ViewBag.FilterType < 4)
                            {
                                ViewBag.FilterType = 4;
                            }
                            @Model.dicFilters[ViewBag.FilterType];
                        }
                        else if (tab == -5)
                        {
                            ViewBag.FilterType = 2;
                            @Html.Raw(Resources.lblDateArchived)
                        }
                        else
                        {
                            if (ViewBag.FilterType > 4 && ViewBag.FilterType != 10 && ViewBag.FilterType != 11)
                            {
                                ViewBag.FilterType = 0;
                            }
                            @Model.dicFilters[ViewBag.FilterType]
                        }
                        <i class="icon-angle-down icon-large"></i>
                    </a>
                    <ul class="dropdown-menu pull-right">
                        @if (tab == -6)
                        {
                            <li>
                                <a href="javascript:void(0);" onclick="$('#hdnSelectedFilter')[0].value = '4';$('#btnFilter').click();">
                                    @if (ViewBag.FilterType == 4)
                                    {<i class="icon-ok"></i>}
                                    @Model.dicFilters[4]
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" onclick="$('#hdnSelectedFilter')[0].value = '2';$('#btnFilter').click();">
                                    @if (ViewBag.FilterType == 2)
                                    {<i class="icon-ok"></i>}
                                    @Model.dicFilters[5]
                                </a>
                            </li>
                        }
                        else if (tab == -5)
                        {
                            <li>
                                <a href="javascript:void(0);" onclick="$('#hdnSelectedFilter')[0].value = '2';$('#btnFilter').click();">
                                    @if (ViewBag.FilterType == 2)
                                    {<i class="icon-ok"></i>}
                                    @Resources.lblDateArchived
                                </a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="javascript:void(0);" onclick="$('#hdnSelectedFilter')[0].value = '0';$('#btnFilter').click();">
                                    @if (ViewBag.FilterType == 0)
                                    {<i class="icon-ok"></i>}
                                    @Model.dicFilters[0]
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" onclick="$('#hdnSelectedFilter')[0].value = '1';$('#btnFilter').click();">
                                    @if (ViewBag.FilterType == 1)
                                    {<i class="icon-ok"></i>}
                                    @Model.dicFilters[1]
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" onclick="$('#hdnSelectedFilter')[0].value = '2';$('#btnFilter').click();">
                                    @if (ViewBag.FilterType == 2)
                                    {<i class="icon-ok"></i>}
                                    @Model.dicFilters[2]
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" onclick="$('#hdnSelectedFilter')[0].value = '3';$('#btnFilter').click();">
                                    @if (ViewBag.FilterType == 3)
                                    {<i class="icon-ok"></i>}
                                    @Model.dicFilters[3]
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" onclick="$('#hdnSelectedFilter')[0].value = '4';$('#btnFilter').click();">
                                    @if (ViewBag.FilterType == 4)
                                    {<i class="icon-ok"></i>}
                                    @Model.dicFilters[4]
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" onclick="$('#hdnSelectedFilter')[0].value = '10';$('#btnFilter').click();">
                                    @if (ViewBag.FilterType == 10)
                                    {<i class="icon-ok"></i>}
                                    @Model.dicFilters[10]
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" onclick="$('#hdnSelectedFilter')[0].value = '11';$('#btnFilter').click();">
                                    @if (ViewBag.FilterType == 11)
                                    {<i class="icon-ok"></i>}
                                    @Model.dicFilters[11]
                                </a>
                            </li>
                        }
                        <li class="divider"></li>
                        <li>
                            <a href="javascript:void(0);" onclick="$('#hdnSortingOrder')[0].value = '0';$('#btnSortingOrder').click();">
                                @if (ViewBag.SortingOrder == false)
                                {<i class="icon-ok"></i>}
                                @Resources.lblAscending
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" onclick="$('#hdnSortingOrder')[0].value = '1';$('#btnSortingOrder').click();">
                                @if (ViewBag.SortingOrder == true)
                                {<i class="icon-ok"></i>}
                                @Resources.lblDescending
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        }
        <ul class="nav nav-pills pull-right">
            @if (tab == -8 && Model.OutOfOfficeUsers.List_OutOfOfficeUsers.Count() > 0)
            {
                <li class="dropdown">
                    @if (ViewBag.OutofOfficeUserID == 0)
                    {<a href="#" data-toggle="dropdown" class="dropdown-toggle">@Resources.lblSelectOutOfOfficeUser<b class="caret"></b></a> }
                else
                {
                    foreach (var i in Model.OutOfOfficeUsers.List_OutOfOfficeUsers)
                    {
                        if (@i.ID == ViewBag.OutofOfficeUserID)
                        { <a href="#" data-toggle="dropdown" class="dropdown-toggle">@i.Name <i class="icon-angle-down icon-large"></i></a>}
                }
            }
                    <ul class="dropdown-menu pull-right">
                        @foreach (var item in Model.OutOfOfficeUsers.List_OutOfOfficeUsers)
                        {
                            <li>
                                <a href="javascript:void(0);" onclick="$('#hdnOoouser')[0].value = @item.ID ;$('#btnOutOfOfficeUser').click();">
                                    @if (@item.ID == ViewBag.OutofOfficeUserID)
                                    {<i class="icon-ok"></i>} @item.Name
                                </a>
                            </li>
                        }
                    </ul>
                </li>
            }
        </ul>
        if (tab > -5)
        {
            <ul data-toggle="buttons-radio" class="nav nav-pills pull-left">
                @if (Model.LoggedUserRole != Role.RoleName.AccountRetoucher)
                {
                    <li class="@newClass">
                        <a href="javascript:void(0);" onclick=" $('#hdnSelectedStatus')[0].value = '1';$('#btnStatus').click(); ">
                            @Resources.lblNew
                        </a>
                    </li>
                }
                <li class="@creqClass">
                    <a href="javascript:void(0);" onclick="$('#hdnSelectedStatus')[0].value = '2';$('#btnStatus').click();">
                        @(ViewBag.RetoucherWrflwEnabled ? Resources.lblChangesRequired : Resources.lblInProgress)
                    </a>
                </li>
                @if (ViewBag.RetoucherWrflwEnabled)
                {
                    <li class="@chcomClass">
                        <a href="javascript:void(0);" onclick=" $('#hdnSelectedStatus')[0].value = '5';$('#btnStatus').click(); ">
                            @Resources.lblChangesComplete
                        </a>
                    </li>
                }
                @if (Model.LoggedUserRole != Role.RoleName.AccountRetoucher)
                {
                    <li class="@comClass">
                        <a href="javascript:void(0);" onclick=" $('#hdnSelectedStatus')[0].value = '3';$('#btnStatus').click(); ">
                            @Resources.lblCompleted
                        </a>
                    </li>
                }
                @if (tab == (int)GMGColor.Common.Utils.ApprovalTab.AllApprovals && (Model.LoggedUserRole == Role.RoleName.AccountAdministrator || (Model.LoggedUserRole == Role.RoleName.AccountManager && Model.ShowAllFilesToManagers)) && ViewBag.ShowAllFilter)
                {
                    <li id="lnkViewAll" class="@(ViewBag.ViewAll == true ? "active" : String.Empty)">
                        <a data-form-method="post" href="@Url.Action("ViewAllApprovals", "Approvals")" onclick="$('#hdnViewAll')[0].value = !$('#lnkViewAll').hasClass('active');">@Resources.lblAll</a>
                    </li>
                }
            </ul>
        }
        <label class="checkbox pull-left checkboxPosition">
            <input class="choose_item_all" type="checkbox" /> Select All
        </label>
        @Html.Hidden("SelectedPage", tab, new { id = "hdnSelectedPage", data_val = "false" })
        @Html.Hidden("SelectedFilter", 0, new { id = "hdnSelectedFilter", data_val = "false" })
        @Html.Hidden("SelectedStatus", (int)status, new { id = "hdnSelectedStatus", data_val = "false" })
        @Html.Hidden("SortingOrder", 0, new { id = "hdnSortingOrder", data_val = "false" })
        @Html.Hidden("ViewAll", false, new { id = "hdnViewAll", data_val = "false" })
        @Html.Hidden("OutOfOfficeUser", 0, new { id = "hdnOoouser", data_val = "false" })

        <div class="hide">
            <button id="btnFilter" class="cancel" name="action" type="submit" value="SetFilter">
                Filter
            </button>
            <button id="btnStatus" class="cancel" name="action" type="submit" value="SetStatus">
                Status
            </button>
            <button id="btnSortingOrder" class="cancel" name="action" type="submit" value="SetSortingOrder">
                SortingOrder
            </button>
            <button id="btnDashboardViewType" name="action" type="submit" value="SetDashboardView"></button>
            <button id="btnOutOfOfficeUser" class="cancel" name="action" type="submit" value="SetOutOfOfficeUser">
                OutOfOfficeUser
            </button>
        </div>
    }
</div>
}
@if ((tab == -5 && ViewBag.RecentlyArchivedCount > 0) || (tab == -6 && ViewBag.RecycleBinCount > 0))
{
    <div style="margin: 10px 0;" class="alert alert-info text-center">
        @if (tab == -5)
        {<strong>@Resources.lblApprovalPlural</strong> @String.Format(Resources.txtInTheArchived, ViewBag.archiveTimeLimit)}
        else
        {<strong>@Resources.txtApprovalsAndFolders</strong> @String.Format(Resources.txtInTheRecyclingBin, GMGColorDAL.GlobalSetting.GetGlobalSetting(GMGColorDAL.GlobalSetting.Setting.StroreInRecycleBin, context).Value)}
    </div>
}

@using (Html.BeginForm("Index", "Approvals", FormMethod.Post, new { @class = "form-horizontal", id = "formMain" }))
{
    @Html.AntiForgeryToken()
    if (Model.ApprovalsPageView.Count > 0)
    {
        int page = int.Parse(ViewBag.CurrentPage.ToString());
        <div id="gridContainer">
            <div id = "summaryView" class="visibilityHidden">
                @{ Html.RenderPartial("CollaborateSummaryView", Model); }
            </div>
            <div id = "statusView" class="visibilityHidden">
                @{ Html.RenderPartial("CollaborateStatusView", Model); }
            </div>
        </div>
    <div class="clearfix">
    </div>    
    <div class="filter-bar-bottom">
        <ul class="nav nav-pills" style="margin-bottom: 0;">
            <li class="dropdown dropup"><a class="dropdown-toggle" data-toggle="dropdown" href="#">
                @Model.dicPageSizes[ViewBag.PageSize] <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="javascript:void(0);" onclick="$('#hdnSelectedPageSize')[0].value = '10';$('#btnPageSize').click();">
                        @if (ViewBag.PageSize == 10)
                        {<i class="icon-ok"></i> }
                        @Model.dicPageSizes[10]</a></li>
                    <li><a href="javascript:void(0);" onclick="$('#hdnSelectedPageSize')[0].value = '20';$('#btnPageSize').click();">
                        @if (ViewBag.PageSize == 20)
                        {<i class="icon-ok"></i> }
                        @Model.dicPageSizes[20]</a></li>
                    <li><a href="javascript:void(0);" onclick="$('#hdnSelectedPageSize')[0].value = '30';$('#btnPageSize').click();">
                        @if (ViewBag.PageSize == 30)
                        {<i class="icon-ok"></i> }
                        @Model.dicPageSizes[30]</a></li>
                    <li><a href="javascript:void(0);" onclick="$('#hdnSelectedPageSize')[0].value = '50';$('#btnPageSize').click();">
                        @if (ViewBag.PageSize == 50)
                        {<i class="icon-ok"></i> }
                        @Model.dicPageSizes[50]</a></li>
                </ul>
            </li>
        </ul>
    </div> 
    <div class="pagination pagination-centered">
        @if ((decimal.Parse(currentTabApprovalCount.ToString()) / decimal.Parse(pageSize.ToString())) > 1)
        {
            @Html.Pager(page, currentTabApprovalCount, new { @action = "Populate", @topLinkID = tab, sort = sort, sortDir = sortDir }, pageSize)
        }
    </div>
    }
    else
    {
    <div class="row-fluid blank-state" visible="false">
        @if (showEmptySearchContent)
        {
            <div class="span4 blank-state-icon">
                <i class="icon-search"></i>
            </div>
            <div class="span7">
                <h3>
                    @Resources.lblNoResultReport</h3>
                <p>
                    @Resources.pharagraphEmptySearchResult
                </p>
            </div>
        }
        else
        {
            switch (tab)
            {
                case -7: // Open Approvals
                    {   
            <div class="span4 blank-state-icon">
                <i class="icon-unlock"></i>
            </div>
            <div class="span7">
                <h3>
                    @Resources.lblEmptyOpenApprovals</h3>
                <p>
                    @Resources.paragraphEmptyOpenApprovals
                </p>
            </div>
                        break;
                    }
                case -6: // Recycle
                    {   
            <div class="span4 blank-state-icon">
                <i class="icon-trash"></i>
            </div>
            <div class="span7">
                <h3>
                    @Resources.lblEmptyRecycleBinMsg</h3>
                <p>
                    @Resources.pharagraphEmptyRecycleBinMsg
                </p>
            </div>
                        break;
                    }
                case -5: // Archive
                    {
            <div class="span4 blank-state-icon">
                <i class="icon-briefcase"></i>
            </div>
            <div class="span7">
                <h3>
                    @Resources.lblEmptyArchiveApprovalMsg</h3>
                <p>
                    @Resources.pharagraphEmptyArchiveApprovalMsg
                </p>
            </div>
                        break;
                    }
                case -8: // Substituted
                    {
                        <div class="span4 blank-state-icon">
                            <i class="icon-exchange"></i>
                        </div>
                        <div class="span7">
                            <h3>
                                @Resources.lblEmptySubstitutedApprovalMsg
                            </h3>
                            <p>
                                @Resources.pharagraphEmptySubstitutedApprovalMsg
                            </p>
                        </div>
                        break;
                    }
                case -4: // Recently Viewed
                    {
            <div class="span4 blank-state-icon">
                <i class="icon-eye-open"></i>
            </div>
            <div class="span7">
                <h3>
                    @Resources.lblEmptyRecentlyViewedApprovalMsg</h3>
                <p>
                    @Resources.pharagraphEmptyRecentlyViewedApprovalMsg
                </p>
            </div>
                        break;
                    }
                case -3: // Shared with me
                    {
                        int statusFilter = (int)Session[Constants.ApprovalStatus];
                                        
                        <div class="span4 blank-state-icon">
                            <i class="icon-retweet"></i>
                        </div>
                        <div class="span7">
                            <h3>
                                @string.Format("{0}", statusFilter > 0 ? Resources.lblNoApprovalsForYourFilter : Resources.lblEmptySharedApprovalsMsg)</h3>
                            <p>
                                @string.Format("{0}", statusFilter > 0 ? Resources.lblRemoveStatusFilter : Resources.pharagraphEmptySharedApprovalsMsg)
                            </p>
                        </div>
                        break;
                    }
                case -2: // Own by me
                    {
                        int statusFilter = (int)Session[Constants.ApprovalStatus];
                                        
                        <div class="span4 blank-state-icon">
                            <i class="icon-user"></i>
                        </div>
                        <div class="span7">
                            <h3>
                                @string.Format("{0}", statusFilter > 0 ? Resources.lblNoApprovalsForYourFilter : Resources.lblEmptyOwnedByYouApprovalsMsg)</h3>
                            <p>
                                @string.Format("{0}", statusFilter > 0 ? Resources.lblRemoveStatusFilter : Resources.pharagraphEmptyOwnedByYouApprovalsMsg)
                            </p>
                        </div>
                        break;
                    }
                case -1: // Search Results
                    {
                        int statusFilter = (int)Session[Constants.ApprovalStatus];
                        <div class="span4 blank-state-icon">
                            <i class="icon-picture"></i>
                        </div>
                        <div class="span7">
                            <h3>@string.Format("{0}", statusFilter > 0 ? Resources.lblNoApprovalsForYourFilter : Resources.lblYouDntHaveAnyProofsInYourLibrary)</h3>
                            @if (Model.LoggedUserRole != Role.RoleName.AccountViewer && Model.LoggedUserRole != Role.RoleName.AccountContributor && Model.LoggedUserRole != Role.RoleName.AccountRetoucher)
                            {
                                <p>@string.Format("{0}", statusFilter > 0 ? Resources.lblRemoveStatusFilter : Resources.pharagraphEmpyApprovals)</p>
                                <p>
                                    @if (statusFilter == 0)
                                    {
                                        <a class="btn btn-primary" href="@(Url.Action("NewApproval", "Approvals"))">@Resources.lblGetStarted</a>
                                    }
                                </p>
                            }
                        </div>  
                            break;
                    }
                default: // All Folders
                    {
                        int statusFilter = (int)Session[Constants.ApprovalStatus];
                        <div class="span4 blank-state-icon">
                            <i class="icon-folder-open"></i>
                        </div>
                        <div class="span7">
                            <h3>@string.Format("{0}", statusFilter == 0 ? Resources.lblNoApprovalsForYourFilter : Resources.lblEmptyFolderMsg)</h3>
                            @if (Model.LoggedUserRole != GMGColorDAL.Role.RoleName.AccountViewer && Model.LoggedUserRole != GMGColorDAL.Role.RoleName.AccountContributor)
                            {
                                <p>@string.Format("{0}", statusFilter == 0 ? Resources.lblRemoveStatusFilter : Resources.pharagraphEmptyFolderMsg)</p>
                                <p>
                                    @if (statusFilter == 0)
                                    {
                                        <a class="btn btn-primary" href="@(Url.Action("NewApproval", "Approvals"))">@Resources.lblGetStarted</a>
                                    }
                                </p>
                            }
                        </div>
                            break;
                    }
            }
        }
    </div>
    }

    <div class="hide">
        @Html.Hidden("SelectedPageSize", 0, new { id = "hdnSelectedPageSize" })
        @Html.Hidden("SelectedPage", tab, new { id = "hdnSelectedPage" })
        <button id="dynamicAction" class="hide" name="action" type="submit" value="">
        </button>
        <button id="btnPageSize" class="cancel" name="action" type="submit" value="SetPageSize">
            PageSize
        </button>
    </div>
    
    @Html.Hidden("SelectedApproval", 0, new { id = "hdnSelectedApproval", @data_val = false })
    @Html.HiddenFor(m => m.HiddenSelectedApprovals, new { id = "hdnSelectedApprovals", @Value = Model.HiddenSelectedApprovals, @data_val = false })
    @Html.HiddenFor(m => m.HiddenSelectedFolders, new { id = "hdnSelectedFolders", @Value = Model.HiddenSelectedFolders, @data_val = false }) 

    DeleteConfirmation archiveApprovalConfirmation = new DeleteConfirmation(1, "ArchiveApproval");
    archiveApprovalConfirmation.DeleteMessageTitle = Resources.lblArchive_PresentTense;
    archiveApprovalConfirmation.DeleteMessageHeading = Resources.lblArchiveMessageHeading;
    archiveApprovalConfirmation.DeleteMessage = String.Format(Resources.lblArchiveMessage_Approval, ViewBag.archiveTimeLimit);
    archiveApprovalConfirmation.DeleteMessagePleaseNote = string.Empty;
    archiveApprovalConfirmation.LoadingText = Resources.btnArchiving;
    @Html.Partial("DeleteConfirmationDialog", archiveApprovalConfirmation)

    DeleteConfirmation restoreArchivedApprovalConfirmation = new DeleteConfirmation(3, "RestoreArchivedApproval");
    restoreArchivedApprovalConfirmation.DeleteMessageTitle = Resources.lblRestore;
    restoreArchivedApprovalConfirmation.DeleteMessageHeading = Resources.lblRestoreArchivedMessageHeading;
    restoreArchivedApprovalConfirmation.DeleteMessage = Resources.lblRestoreArchivedMessage_Approval;
    restoreArchivedApprovalConfirmation.DeleteMessagePleaseNote = string.Empty;
    restoreArchivedApprovalConfirmation.LoadingText = Resources.lblRestoring;
    @Html.Partial("DeleteConfirmationDialog", restoreArchivedApprovalConfirmation)

    DeleteConfirmation deleteVersionConfirmation = new DeleteConfirmation(2, "DeleteVersion", "DeleteVersionPermanent");
    deleteVersionConfirmation.DeleteMessage = Resources.lblDeleteMessage_Version;
    deleteVersionConfirmation.DeleteSecondMessage = Resources.lblDeleteMessage_VersionSecondMessage;
    deleteVersionConfirmation.SecondActionLabel = Resources.lblRecycleBin;
    deleteVersionConfirmation.DeleteMessagePleaseNote = string.Empty;
    @Html.Partial("DeleteConfirmationDialog", deleteVersionConfirmation)

    DeleteConfirmation deleteApprovalConfirmation = new DeleteConfirmation(9, "DeleteApproval");
    deleteApprovalConfirmation.DeleteMessage = Resources.lblDeleteMessage_Approval;
    deleteApprovalConfirmation.DeleteMessagePleaseNote = string.Empty;
    @Html.Partial("DeleteConfirmationDialog", deleteApprovalConfirmation)

    DeleteConfirmation deleteApprovalPermanent = new DeleteConfirmation(5, "DeleteApprovalPermanent");
    @Html.Partial("DeleteConfirmationDialog", deleteApprovalPermanent)

    DeleteConfirmation markPhaseAsCompleted = new DeleteConfirmation(10, "MarkPhaseAsCompleted");
    markPhaseAsCompleted.DeleteMessageTitle = Resources.lblPhaseComplete;
    markPhaseAsCompleted.DeleteMessageHeading = Resources.lblPhaseCompleteMessageHeading;
    markPhaseAsCompleted.DeleteMessage = Resources.lblPhaseCompleteConfirmation;
    markPhaseAsCompleted.LoadingText = Resources.lblCompletingThePhase;
    @Html.Partial("DeleteConfirmationDialog", markPhaseAsCompleted)

    DeleteConfirmation deleteMultiApprovalConfirmation = new DeleteConfirmation(8, "MultipleDelete");
    deleteMultiApprovalConfirmation.DeleteMessage = Resources.lblDeleteMessage_Jobs;
    deleteMultiApprovalConfirmation.DeleteMessagePleaseNote = string.Empty;
    @Html.Partial("DeleteConfirmationDialog", deleteMultiApprovalConfirmation)

    if (tab == -6)
    {
        DeleteConfirmation emptyRecycleBin = new DeleteConfirmation(7, "EmptyRecycleBin");
    @Html.Partial("DeleteConfirmationDialog", emptyRecycleBin)
    }

    inProgressApprovalIDs = !string.IsNullOrEmpty(Model.InProgressApprovalsIds) ? Model.InProgressApprovalsIds : string.Empty;
    if (inProgressApprovalIDs.Length > 0)
    {
        inProgressApprovalIDs = inProgressApprovalIDs.Substring(0, inProgressApprovalIDs.Length - 1);
    }
}

@if (deliverRole != GMGColorDAL.Role.RoleName.AccountNone && hasDeliverSubscriptionPlan && Model.AnyAvailableValidInstances)
{
    <div id="modalDialogSubmitToDeliver" class="modal hide">
        @using (Ajax.BeginForm("Index", "Approvals", new AjaxOptions() { OnComplete = "AddDeliverJobCompleted" }, new { id = "formAddDeliverJob", @class = "form-horizontal", autocomplete = "off" }))
        {
            @Html.AntiForgeryToken()
            <div class="modal-header">
                <a href="javascript:void(0);" class="close" data-dismiss="modal" title="@Resources.btnClose" widget-toggle="closedeliverpopup" onclick="ResetDeliverModel();">
                    &times;</a>
                <h3>@Resources.btnAddNewDeliverJob</h3>
            </div>
            <div class="modal-body">
                @*Filled by Asynchronous call*@
                @Html.Image("deliverPopUpLoading", "~/Content/img/loading-icon.gif", @Resources.lblLoading, new { @class = "hide" }, 30, 30)
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="submit" name="action" id="AddDeliverJob" value="AddDeliverJob" data-loading-text="@Resources.btnSaving">@Resources.btnAddColorProofInstance</button>
            </div>
            @Html.Hidden("SelectedApprovalJobs", 0, new { @data_val = false })
        }
    </div>
}

@using (Html.BeginForm("ApplyFolderPermissions", "Approvals", FormMethod.Post, new { @class = "form-vertical", id = "formApplyFolderPermissions" }))
{
    @Html.AntiForgeryToken()
    <div id="modalDialogApplyFolderPermissionsConfirmation" class="modal hide">
        <div class="modal-header">
            <h3 class="widget-title">
                @Resources.lblApplyFolderPermissions
            </h3>
        </div>
        <div class="modal-body">
            <p><strong>@Resources.lblApplyFolderPermissionsMessageHeading</strong></p>
            <p>@Resources.lblApplyFolderPermissionsMessage <em>@Resources.lblApplyFolderPermissionsMessagePleaseNote</em></p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" type="submit">@Resources.btnNo</button>
            <button class="btn btn-primary" type="submit" name="action" data-loading-text="@Resources.btnApplying">@Resources.btnYes</button>
        </div>
    </div>
    @Html.Hidden("selectedFolder", 0, new { @data_val = false })
}

@if (Model.AnnotationsReportFilters != null)
{
    Model.AnnotationsReportFilters.IsFromDashboard = true;
    Model.AnnotationsReportFilters.AnnotationsPerPage = 10;
    @Html.Partial("AnnotationsReportFilters", Model.AnnotationsReportFilters)
}

    
    @Html.Partial("FilterApprovals", Model.ApprovalsFilter)

<script type="text/javascript">
    // pass input data to approval-grid js
    var getApprovalsPageCountUrl = '@Url.Action("GetApprovalsPageCount", "Approvals")';
    var trAddColorProofInstance = '@Resources.btnAddColorProofInstance';
    var inProgressApprovalIDs = '@inProgressApprovalIDs';

    $(document).ready(function() {
        var isManager = '@isManagerRole' == 'True';
        loadCustomSearches(@tab, isManager);
    });
</script>


@{Html.RenderPartial("FileDownload", (FileDownloadViewModel) ViewBag.FileDownload);}

@if (Request.IsAjaxRequest())
{
    <script src="../Scripts/jquery.unobtrusive-ajax.min.js" type="text/javascript"> </script>
}

<div id="modalAdvancedSearch" class="modal hide">
    @using (Html.BeginForm("AdvancedSearch", "Approvals", FormMethod.Post, new { id = "formAdvancedSearch" }))
    {
        @Html.AntiForgeryToken()
        <div class="modal-header">
            <a href="javascript:void(0);" class="close" data-dismiss="modal" title="@Resources.btnClose">
                &times;</a>
            <h3>@Resources.lblAdvancedSearch</h3>
        </div>
        <div class="modal-body">
            @*Filled by Asynchronous call*@
            @Html.Image("advancedSearchPopUpLoading", "~/Content/img/loading-icon.gif", @Resources.lblLoading, new { @class = "hide" }, 30, 30)
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="submit" name="action" id="ApplyAdvSearch" value="ApplySearch" data-loading-text="@Resources.btnAdvSApply">@Resources.btnAdvSApply</button>
            @if (isManagerRole)
            {
                <button class="btn btn-primary" type="button" id="SaveAdvSearch" value="SaveSearch" data-loading-text="@Resources.btnAdvSSave">@Resources.btnAdvSSave</button>
            }
            
            <button class="btn btn-primary" type="button" name="action" id="CancelAdvSearch" value="CancelSearch" data-loading-text="@Resources.btnAdvSCancel" onclick="javascript:void(0);" data-dismiss="modal">@Resources.btnAdvSCancel</button>
        </div>
    }
</div>

@Html.Hidden("days", @Resources.lblDays)
@Html.Hidden("hours", @Resources.lblHours)
@Html.Hidden("overdue", @Resources.lblOverDue)
@Html.Hidden("due", @Resources.lblDue)
@Html.Hidden("awaitPdm", @Resources.lblAwaitingPDM)
@Html.Hidden("statusCompleted", @Resources.lblCompleted)

