﻿
@{
    ViewBag.Title = "ApprovalDecisionMakers";
    string s = ViewBag.DecisionMakers;
    bool IsLoadAll_DecisionMakers = ViewBag.IsLoadAllDecisionMakers;
    int Approval = ViewBag.ApprovalID;
    int current_Phase = ViewBag.currentPhase;
    int pdm = ViewBag.PDM;
    bool IsExtenal_pdm = ViewBag.ExternalPDM > 0;

}


@if (IsLoadAll_DecisionMakers)
{
@Html.Raw(GetDecisionMakers(@s))
}
else
{
    @Html.Raw(GetDecisionMakersOnLoad(@Approval, @current_Phase, @pdm, @IsExtenal_pdm, @s))
}
@functions {

    private string GetDecisionMakers(string item)
    {
        System.Text.StringBuilder html = new System.Text.StringBuilder();
        if (item != "" && item != null)
        {
            int i = 1;
            var DicisionMakerlist = item.Split(',');
            html.Append("<div   class=\"scrollable well well-small\"  style=\"min-height:95px; height:16px; max-height: 110px; \"> <ul>");
            foreach (var dm in DicisionMakerlist)
            { if(i != DicisionMakerlist.Count())
                {
                    html.Append("<li title=\"" + dm + " \">" + dm + "</li>");
                }
                else
                {
                    html.Append("<li style=\"line-height: 15px;\"  title=\"" + dm + " \">" + dm + " <span title=\"Total  " + DicisionMakerlist.Count() + "\"  class=\"badge  pull-right\"> " + DicisionMakerlist.Count() + " </span> </li>");
                }
                i++;
            }
            html.Append("</ul> </div>");
        }

        return html.ToString();
    }

    private string GetDecisionMakersOnLoad(int Approval, int current_Phase ,int pdm , bool IsExtenal_pdm, string item  )
    {
        System.Text.StringBuilder html = new System.Text.StringBuilder();
        if (item != "" && item != null)
        {
            var DicisionMakerlist = item.Split(',');
            if (DicisionMakerlist.Count() == 1)
            {
                html.Append("<div  id=\"DecisionMakersOnLoad-" + Approval + "\">");
                foreach (var dm in DicisionMakerlist)
                {
                    html.Append("<span style=\"line-height: 20px;\" title=\"" + dm + " \">" + dm + "</span>");
                }
                html.Append("</div>");
            }
            else
            {
                html.Append("<div  id=\"DecisionMakersOnLoad-" + Approval + "\"> <ul>");
                foreach (var dm in DicisionMakerlist)
                {
                    html.Append("<li style=\"line-height: 12px;\" title=\"" + dm + " \">" + dm + "</li>");
                }
                html.Append("</ul> </div>");
            }
        }

        return html.ToString();
    }

}

