﻿@model GMGColorDAL.CustomModels.ApprovalVersionWorkflowDetails
@using GMGColor.HtmlHelpers
@using GMGColor.Resources
@using GMGColorDAL.Common
@{
    var context = HttpContext.Current.Items[GMGColorDAL.DALUtils.DatabaseContext] as GMGColorBusinessLogic.DbContextBL;
}
<script src="../../Content/js/approval-details.js" type="text/javascript"></script>

<div class="row-fluid" id="workflowPartial@(Model.Id)">
    <div id="workflowPartialContainer"class="span12">
        <table id="workflowPartiaTable" class="table table-striped table-user-activity">
            <tbody>
                @{
                    foreach (var phase in Model.Phases)
                    {
                        var phaseIdentifier = String.Format("{0}_{1}", Model.Id, phase.ID);
                        <tr class="workflow-phase-header span6">
                            <th class="workflow-phase-header-bg span6">
                                @Resources.lblPhase<br />
                                <small>@phase.Name</small>
                            </th>
                            <th class="workflow-phase-header-bg span6">
                                @Resources.lblDeadline<br />
                                <small>
                                    @if (phase.Deadline > default(DateTime))
                                    {
                                        DateTime deadLine = GMGColorFormatData.GetUserTimeFromUTC(phase.Deadline.Value, Model.objLoggedAccount.TimeZone);
                                         <div class="existingPhaseDeadline@(phaseIdentifier) deadLinePos">
                                            @GMGColorFormatData.GetFormattedDate(deadLine, Model.objLoggedAccount, context),
                                            @GMGColorFormatData.GetFormattedTime(deadLine, Model.objLoggedAccount)                            
                                        </div>
                                        }
                                    else
                                    {
                                         <div class="existingPhaseDeadline@(phaseIdentifier) deadLinePos"> - </div>
                                    }
                                    <div id="newPhaseDeadline@(phaseIdentifier)" class="pull-left">
                                    @{
                                        string dateFormat = Model.objLoggedAccount.DateFormat1.Pattern;
                                        var deadline = DateTime.Now;
                                        if (phase.Deadline != null)
                                        {
                                            deadline = GMGColorFormatData.GetUserTimeFromUTC(phase.Deadline.Value, Model.objLoggedAccount.TimeZone);
                                        }
                                        
                                        var inputDeadlineClass = String.Format("input-deadline{0}", phaseIdentifier);
                                    }

                                    @Html.HiddenFor(m => m.objLoggedAccount.DateFormat1.Pattern, new { id = "dateFormat" + phaseIdentifier })
                                    @Html.HiddenFor(m => m.objLoggedAccount.TimeFormat, new { id = "timeFormat" + phaseIdentifier })
                                    <div class="date-picker@(phaseIdentifier) input-append date" data-date="@String.Format("{0:" + dateFormat + "}", GMGColorFormatData.GetFormattedDate(deadline, Model.objLoggedAccount, context))" data-date-format="@dateFormat.ToLower()">
                                        @Html.TextBoxFor(e => phase.Deadline, new { @class = "input-small pointerCursor " + inputDeadlineClass, @Value = GMGColorFormatData.GetFormattedDate(deadline, Model.objLoggedAccount, context), @size = "16", @readonly = "" })
                                        <span class="add-on"><i class="icon-calendar"></i></span>
                                    </div>
                                    <select name="DeadlineTime" id="PhaseDeadlineTime@(phaseIdentifier)" class="@(inputDeadlineClass) input-small">
                                        @{
                                    string deadLineTime = new string(GMGColorFormatData.GetFormattedTime(deadline, Model.objLoggedAccount).TakeWhile(c => c != ' ').ToArray());
                                    string amPm = GMGColorFormatData.GetFormattedTime(deadline, Model.objLoggedAccount).Split(' ').Last();
                                        }
                                        <option value="@deadLineTime" selected="selected">@deadLineTime</option>
                                        @if (Model.objLoggedAccount.TimeFormat == 1)
                                        {
                                            for (int i = 1; i < 13; i++)
                                            { 
                                                <option value="@i:00">@i:00</option>
                                                <option value="@i:30">@i:30</option>
                                            }
                                        }
                                        else
                                        {
                                            for (int i = 0; i < 24; i++)
                                            { 
                                                <option value="@i:00">@i:00</option>
                                                <option value="@i:30">@i:30</option>
                                            }
                                        }
                                    </select>
                                    @if (Model.objLoggedAccount.TimeFormat == 1)
                                    {
                                        <select name="DeadlineTimeMeridiem" id="PhaseDeadlineTimeMeridiem@(phaseIdentifier)" class="@(inputDeadlineClass) input-mini">
                                            @if (amPm == "AM")
                                            {
                                                <option value="AM" selected="selected">AM</option>
                                                <option value="PM">PM</option>                                               
                                            }
                                            else
                                            {
                                                <option value="AM">AM</option>
                                                <option value="PM" selected="selected">PM</option>                                               
                                            }   
                                    
                                        </select>
                                    }
                                </div>
                                @{
                                    if (Model.CanEditPhaseDeadline && phase.Status != Resources.lblPhaseStatusCompleted && phase.Status != Resources.lblPhaseStatusRejected)
                                    {
                                        <div>
                                            <div id="editPhaseDeadline@(phaseIdentifier)" class="pull-left">
                                                <button approval-phase="@(phaseIdentifier)" class="editPhaseBtn btn" rel="tooltip" type="button" data-original-title="@Resources.lblEdit">
                                                    <i class="icon-pencil" ></i>
                                                </button>
                                            </div>
                                            <div id="savePhaseDeadline@(phaseIdentifier)" style="margin-left:5px">
                                                <button id="saveBtn" class="pull-right btn" rel="tooltip" type="button" data-original-title="@Resources.btnSave" onclick="updatePhaseDeadLine(this,@(Model.Id), @phase.ID)">
                                                    <i class="icon-save" style="vertical-align: sub"></i>
                                                </button>
                                            </div>
                                        </div>
                                    }
                                }
                                </small>
                            </th >
                            <th class="workflow-phase-header-bg round-top-right-corner span6">
                                @Resources.lblStatus<br />
                                <label id="phase-@(phase.ID)"><small class="@(!phase.IsActive && phase.InPending ? "inactiveStatusColor" : string.Empty)">@phase.Status</small></label>
                                @if (@phase.ForceApproved != false)
                                {
                                    <small><b>(@Resources.lblManuallyPhaseCompleated)</b></small>
                                }
                            </th>
                            <th class="workflow-phase-header-bg round-top-right-corner span7">
                                <div style="margin-top: 11px;">
                                    @if (!phase.PhaseVersionDetails.DisableSOADIndicator)
                                    {
                                        @Html.Partial("PhaseSOADIndicator", new GMGColorDAL.CustomModels.PhaseSOADIndicator { ApprovalId = Model.Id, PhaseId = phase.ID })
                                    }                                   
                                </div>
                            </th>
                            <th class="workflow-phase-header-bg round-top-right-corner span3">
                                @if (Model.IsMaxVersion && (phase.ID != Model.CurrentPhase || phase.ID == Model.CurrentPhase && Model.IsMaxPhaseCompleted) && Model.LoggedUserIsJobOwner)
                                {       
                                    <div>
                                        @if (phase.InPending && Model.CurrentPhasePosition < phase.Position)
                                        {
                                            <button style="margin-top:8px;" type="button" rel="tooltip" data-html="true" class="btn workflow-actions @(phase.IsActive ? string.Empty : "hide")" id="deactivatePhase-@(phase.ID)" onclick="activateOrDeactivatePhase(@phase.ID, false, @Model.CurrentPhasePosition, @phase.Position, @Model.IsMaxPhaseCompleted.ToString().ToLower()); return false;" data-original-title="@Resources.btnDeactivate">
                                                <img rel="tooltip" src="/Content/img/off-icon.png" data-html="true" />
                                            </button>
                                            <button style="margin-top:8px;" type="button" rel="tooltip" data-html="true" class="btn workflow-actions @(phase.IsActive ? "hide" : string.Empty)" id="activatePhase-@(phase.ID)" onclick="activateOrDeactivatePhase(@phase.ID, true, @Model.CurrentPhasePosition, @phase.Position, @Model.IsMaxPhaseCompleted.ToString().ToLower()); return false;" data-original-title="@Resources.btnActivate">
                                                <img src="/Content/img/on-icon.png" />
                                            </button>
                                        }
                                        else
                                        {
                                            <button style="margin-top:8px;" type="button" rel="tooltip" data-placement="top" class="btn workflow-actions" onclick="workflowRerun(@phase.ID, @phase.IsActive.ToString().ToLower(), @Model.Id)" id="phaseMenu_@(phase.ID)" data-original-title="@Resources.btnRerunFromThisPhase">
                                                <i class="icon-retweet"></i>
                                            </button>
                                        }
                                    </div> 
                                }
                            </th>
                        </tr>
                        <tr>
                            <td class="straight-right-top-corner workflow-phase-user-activity">
                                @{
                                Html.RenderPartial("UserActivity", phase.PhaseVersionDetails);
                                }
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

@Html.Hidden("inactivePhase", GMGColor.Resources.Resources.lblInactive)
@Html.Hidden("pendingPhase", GMGColor.Resources.Resources.lblPending)
@Html.Hidden("inProressPhase", GMGColor.Resources.Resources.lblInProgress)

<script type="text/javascript">
    var activateOrDeactivateApprovalPhaseUrl = '@Html.Raw(@Url.Action("ActivateOrDeactivateApprovalPhase", "ApprovalWorkflow"))';
</script> 
