﻿@using GMGColor.Resources
@using GMGColorDAL
@using GMGColorDAL.Common
@model GMGColorDAL.CustomModels.ApprovalsGrid
<table id="tblStatusView" class="table table-bordered table-responsive resizable approvals-table">
    <thead>
        <tr class="adjust-widths">
            <th>
            </th>
            <th>
                @Resources.lblDeliverJobName<br />
                <small class="medium-gray-color">@Resources.lblOwner</small>
            </th>
            <th>
                @Resources.lblPDM<br />
                <div style="margin-top: 10px;">
                </div>
            </th>
            <th>
                @Resources.lblCurrentPhase<br />
                <small class="medium-gray-color">@Resources.lblWorkflow</small>
            </th>
            <th>
                @Resources.lblPhaseDeadline<br />
            </th>
            <th>
                @Resources.lblNextPhase<br />
            </th>
            <th>
                @Resources.lblStatus<br />
                <small class="medium-gray-color">@Resources.lblWhoAreWaitingFor</small>
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            string accountDomain = Model.LoggedAccount.IsCustomDomainActive ? Model.LoggedAccount.CustomDomain : Model.LoggedAccount.Domain;
            var lstCustomDecisions = (List<GMGColorDAL.CustomModels.AccountSettings.ApprovalCustomDecision>)(ViewBag.CustomDecisions);
        }
        @foreach (var item in Model.ApprovalsPageView)
        {
            if (item.Approval > 0)
            {
                Approval.ProcessingStatus appStatus = Approval.GetApprovalStatusByProgress((int)item.Progress);
                bool inProgress = (ViewBag.Tab != -6) && (appStatus != Approval.ProcessingStatus.Success);
                bool isVideoFile = item.ApprovalType == (int)Approval.ApprovalTypeEnum.Movie;
                JobStatu.Status jobStatus = JobStatu.GetJobStatus(item.Status);
            <tr id="lblApproval@((int)item.Approval)" class="lblApp lblApproval@((int)item.Approval)">
                <td>
                    <div class="table-thumbnail">
                            <div class="approval">
                                <div class="approval-status-view">
                                    <a id="aThumb@((int)item.Approval)" href="javascript:void(0);" title="@Resources.lblStudio" class="aThumb@((int)item.Approval) approval-action@((inProgress || (bool)item.IsDeleted) ? " locked" : string.Empty)" approval="@((int)item.Approval)">
                                        <div class="img-frame">
                                            @switch (appStatus)
                                            {
                                                case GMGColorDAL.Approval.ProcessingStatus.Queued:
                                                case GMGColorDAL.Approval.ProcessingStatus.Processing:
                                                    {
                                                        <img id="imgThumb@((int)item.Approval)" class="imgThumb@((int)item.Approval)" alt="@Resources.lblApproval" src="/Content/img/noimage-240px-135px.png" />
                                                        break;
                                                    }
                                                default:
                                                case GMGColorDAL.Approval.ProcessingStatus.Success:
                                                    {
                                                        <img id="imgThumb@(item.Approval)" class="backup_picture imgThumb@((int)item.Approval)" rel="tooltip" data-html="true" alt="@Resources.lblApproval" src="@(isVideoFile ? GMGColorDAL.Approval.GetVideoImagePath(item.Guid, Model.LoggedAccount.Region, accountDomain) : GMGColorDAL.Approval.GetApprovalImage(accountDomain, Model.LoggedAccount.Region, item.Guid, item.FileName, Approval.ImageType.Thumbnail))" />
                                                        break;
                                                    }
                                                case GMGColorDAL.Approval.ProcessingStatus.Error:
                                                    {
                                                        <img width="128" height="128" alt="@Resources.lblApproval" src="/Content/img/noimagError-128.png" />
                                                        break;
                                                    }
                                            }
                                        </div>
                                    </a>
                                </div>
                                @if ((!(bool)item.IsDeleted) && ((appStatus == GMGColorDAL.Approval.ProcessingStatus.Queued) || (appStatus == GMGColorDAL.Approval.ProcessingStatus.Processing)))
                                {
                                    Model.InProgressApprovalsIds += item.Approval.ToString() + ",";
                                    <span id="h3Processing@(item.Approval)" class="processing h3Processing@(item.Approval)">
                                        <div class="progress progress-striped active status-view-progress">
                                            <div id="dvProgress@(item.Approval)" class="bar dvProgress@(item.Approval)" style="width: 100%;">
                                            </div>
                                        </div>
                                    </span>
                                }
                            </div>
                    </div>
                </td>
                <td>
                    @item.Title
                    <br />
                    <small class="medium-gray-color owner-col-@(item.Approval)">@item.OwnerName</small>
                    @if (item.Tagwords != "" && item.Tagwords != null) {
                         var tagwords = item.Tagwords.Split(',');
                    <div id='jobnameTagwords'>
                        <div class='jobnameTagwordsRow'>
                            <ul>
                                @foreach(var tagword in tagwords)
                                {
                                <li> @tagword </li>
                                }
                            </ul>
                        </div>
                    </div>
                    }
                </td>
                <td>
                    <p>@(item.DecisionType > 0 && item.DecisionType == (int)ApprovalPhase.ApprovalDecisionType.ApprovalGroup ? "-" : item.PrimaryDecisionMaker > 0 ? item.PrimaryDecisionMakerName : "-")</p>
                </td>
                <td>@(!string.IsNullOrEmpty(item.PhaseName) ? item.PhaseName : Resources.lblDefault)<br />
                    <small class="medium-gray-color">@(!string.IsNullOrEmpty(item.WorkflowName) ? item.WorkflowName : "-")</small>
                </td>
                <td>
                    <p class="cell-align phasedeadline-col-@(item.Approval)"><span>-</span></p>                   
                </td>
                <td>
                    <p>@(!string.IsNullOrEmpty(item.NextPhase) ? item.NextPhase : "-")</p>
                </td>
                <td>
                    @{
                                if (item.DecisionType > 0 && item.IsLocked.GetValueOrDefault())
                                {
                                    <span class="redColor"> @Resources.lblCompleted <br />
                                    <small class="medium-gray-color">@item.DecisionMakers</small></span>
                                }
                                else
                                {
                                    <span class="status-col-@(item.Approval)">@(item.DecisionType > 0 ? (item.DecisionType == (int)ApprovalPhase.ApprovalDecisionType.PrimaryDecisionMaker ? @Html.Raw(Resources.lblAwaitingPDMDecision) : @Html.Raw(Resources.lblAwaitingGroupApproval)) : 
                                      (string.IsNullOrEmpty(item.DecisionMakers) ? @Html.Raw("-") : (!string.IsNullOrEmpty(item.Decision) && item.Decision != "0" && ApprovalDecision.GetApprovalDecision(item.Decision) != ApprovalDecision.Decision.Pending ? @Html.Raw("<span class=\"redColor\">" + Resources.lblCompleted + "</span>") : @Html.Raw(Resources.lblAwaitingPDM))))
                                        
                                        <br />

                                    <small class="medium-gray-color">@item.DecisionMakers</small></span>
                        
                                        if (jobStatus != JobStatu.Status.Completed)
                                        {
                                            ApprovalDecision.Decision decision = ApprovalDecision.GetApprovalDecision(item.Decision);

                                            string approvalDecisionText = lstCustomDecisions.Any(d => d.Key == item.Decision && !string.IsNullOrEmpty(d.Name))
                                                                              ? lstCustomDecisions.FirstOrDefault(d => d.Key == item.Decision).Name
                                                                              : ApprovalDecision.GetLocalizedApprovalDecision(decision);
                                            bool showDecisionText = (decision != GMGColorDAL.ApprovalDecision.Decision.NotApplicable && decision != GMGColorDAL.ApprovalDecision.Decision.Pending);

                                            if (!String.IsNullOrEmpty(item.Decision) && showDecisionText)
                                            {
                                            <div class="decisions">
                                                <span class="label label-@decision.ToString().ToLower()">@approvalDecisionText</span>
                                            </div>
                                            }
                                        }
                                        else
                                        {
                                        <div class="decisions">
                                            <span class="label label-approved">@Resources.lblCompleted</span>
                                        </div>
                                        }
                                }
                     }
                </td>
            </tr>
            }
        }
    </tbody>
</table>