﻿@using GMGColor.Resources
@using GMGColorBusinessLogic
@using GMGColorDAL
@using GMGColorDAL.Common
@model GMGColorDAL.CustomModels.ApprovalsGrid
@{
    DbContextBL context = HttpContext.Current.Items[DALUtils.DatabaseContext] as DbContextBL;
    int tab = ViewBag.Tab;
    string ApprovalType = string.Empty;

    DateTime userCurTime = GMGColorFormatData.GetUserTimeFromUTC(DateTime.UtcNow, Model.objLoggedAccount.TimeZone);
    string accountDomain = Model.LoggedAccount.IsCustomDomainActive ? Model.LoggedAccount.CustomDomain : Model.LoggedAccount.Domain;
    var lstCustomDecisions = (List<GMGColorDAL.CustomModels.AccountSettings.ApprovalCustomDecision>)(ViewBag.CustomDecisions);
    
   }
<div class="thumbnail-view">
    <ul class="approval-grid">
        @Html.Hidden("lblWorkflow", Resources.lblWorkflow)
        @Html.Hidden("lblPhase", Resources.lblPhase)
        @Html.Hidden("lblStatus", Resources.lblStatus)
        @foreach (var item in Model.ApprovalsPageView)
        {
            if (item.Approval > 0)
            {
                Approval.ProcessingStatus appStatus = Approval.GetApprovalStatusByProgress((int)item.Progress);
                bool inProgress = (ViewBag.Tab != -6) && (appStatus != Approval.ProcessingStatus.Success) && (appStatus != Approval.ProcessingStatus.Error);
                string cssQueued = ((appStatus != Approval.ProcessingStatus.Error) && inProgress && (appStatus != Approval.ProcessingStatus.Queued)) ? " hide" : string.Empty;
                string progressClass = (inProgress && (appStatus != Approval.ProcessingStatus.Error)) ? " render" : string.Empty;
                string canSelect = (inProgress ? string.Empty : "choose_item");
                string cssClass = (inProgress ? " hide" : string.Empty);
                bool isVideoFile = item.ApprovalType == (int)Approval.ApprovalTypeEnum.Movie;
                bool isZipFile = item.ApprovalType == (int)Approval.ApprovalTypeEnum.Zip;
                string IsLandscape = (bool)item.IsLandscapeImage ? "LandScape" : "Portrait";
                JobStatu.Status jobStatus = JobStatu.GetJobStatus(item.Status);

                <li class="block@(progressClass)">
                    <div class="thumbnail">

                        @if ((!(bool)item.IsDeleted) && ((appStatus == Approval.ProcessingStatus.Queued) || (appStatus == Approval.ProcessingStatus.Processing)))
                        {


                            Model.InProgressApprovalsIds += item.Approval.ToString() + ",";

                            @*<span id="h3Processing@((int)item.Approval)" class="processing h3Processing@((int)item.Approval)">
                <div class="progress progress-striped active">
                    <div id="dvProgress@((int)item.Approval)" class="bar dvProgress@((int)item.Approval)" style="width: 0%;">
                    </div>
                </div>
            </span>*@

                            <div class="page" style="background-color: #F8F8FA;">
                                <div id="h3Processing@((int)item.Approval)"  class="h3Processing@((int)item.Approval) clearfix">
                                    <div id="dvProgress@((int)item.Approval)"  class="c100 small">
                                        <span id="perProgress@((int)item.Approval)">0%</span>
                                        <div class="slice">
                                            <div class="bar"></div>
                                            <div class="fill"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                            <label id="lblApprovalID@((int)item.Approval)" class="lblApp lblApproval@((int)item.Approval) @cssClass" approval="@((int)item.Approval)">
                                @if (Model.LoggedUserRole != Role.RoleName.AccountViewer)
                                {
                                    if (!(((int)item.Owner != Model.LoggedUser.ID && Model.LoggedUserRole != Role.RoleName.AccountAdministrator) && (bool)item.IsDeleted))
                                    {
                                        <div class="btn-group dvThumb@((int)item.Approval)">
                                            <!--PBD: On client request 2013/07/22 class="btn-group@(cssQueued)-->
                                            <a href="javascript:void(0);" data-toggle="dropdown" class="ellipsisButton">
                                                <i class="icon-ellipsis-horizontal"></i>
                                            </a>
                                            <ul class="dropdown-menu pull-right">
                                                @if (jobStatus != JobStatu.Status.Archived && !(bool)item.IsDeleted && appStatus != Approval.ProcessingStatus.Error)
                                                {
                                                    <li>
                                                        <a href="@Url.Action("Details", new { selectedApproval = item.Approval, topLinkID = tab })" class="@cssClass" title="@Resources.lblViewDetails" approval="@((int)item.Approval)">
                                                            <i class="icon-picture"></i>&nbsp;@Resources.lblViewDetails
                                                        </a>
                                                    </li>
                                                    if ((bool)item.AllowDownloadOriginal)
                                                    {
                                                        <li>
                                                            <a href="javascript:void(0);" title="@Resources.lblDownload" class="approval-action@(cssClass)" action="DownloadApproval" approval="@((int)item.Approval)">
                                                                <i class="icon-download-alt"></i>&nbsp;@Resources.lblDownload
                                                            </a>
                                                        </li>
                                                    }

                                                    if (jobStatus != JobStatu.Status.Completed || (jobStatus == JobStatu.Status.Completed && item.Decision == "CHR"))
                                                    {
                                                        if (Model.LoggedUserRole != Role.RoleName.AccountRetoucher)
                                                        {
                                                            if (item.MaxVersion == item.Version && Model.LoggedUserRole != Role.RoleName.AccountContributor && (item.CurrentPhase == 0 || (item.CurrentPhase > 0 && item.IsLocked.GetValueOrDefault() == false)) && (tab != (int)GMGColor.Common.Utils.ApprovalTab.AllApprovals || (item.IsCollaborator.GetValueOrDefault() || item.Owner == Model.LoggedUser.ID)))
                                                            {
                                                                <li>
                                                                    <a href="javascript:void(0);" title="@Resources.lblAddNewVersion" class="approval-action@(cssClass)" action="VersionApproval" approval="@item.Job">
                                                                        <i class="icon-magic"></i>&nbsp;@Resources.lblAddNewVersion
                                                                    </a>
                                                                </li>
                                                            }
                                                        }
                                                    }
                                                    if (jobStatus != JobStatu.Status.Completed)
                                                    {
                                                        if (Model.LoggedUserRole != Role.RoleName.AccountRetoucher)
                                                        {
                                                            if (((item.AllowOtherUsersToBeAdded.GetValueOrDefault() && item.JobOwner == Model.LoggedUser.ID && item.CurrentPhase > 0) || (Model.LoggedUserRole == Role.RoleName.AccountAdministrator && ViewBag.ShowAllFilter && item.CurrentPhase > 0)
                                                                || ((item.Owner == Model.LoggedUser.ID) || (Model.LoggedUserRole == Role.RoleName.AccountAdministrator && ViewBag.ShowAllFilter) || (Model.LoggedUserRole == Role.RoleName.AccountManager && ViewBag.ShowAllFilter))
                                                                ) && (!item.PrivateAnnotations))
                                                            {
                                                                <li>
                                                                    <a href="javascript:void(0);" onclick="@string.Format("ApprovalExternalPermissions('{0}', '{1}', this", Url.Action("ApprovalShare", "Widget", new { @ShowPanel = false }), Url.Action("GetExternalCollaborators", "Approvals", new { @id = item.Approval }))) " title="@Resources.lblShare" class="@(cssClass)" widget-task="all" widget-toggle="collaboratorshare" widget-type="approval" widget-id="@((int)item.Approval)" widget-external="" widget-phase="@(item.CurrentPhase)">
                                                                        <i class="icon-share-alt"></i>&nbsp;@Resources.lblShare
                                                                    </a>
                                                                </li>
                                                            }
                                                        }
                                                        if ((item.AllowOtherUsersToBeAdded.GetValueOrDefault() && item.JobOwner == Model.LoggedUser.ID && item.CurrentPhase > 0 && Model.LoggedUserRole != Role.RoleName.AccountContributor && Model.LoggedUserRole != Role.RoleName.AccountViewer) || (Model.LoggedUserRole == Role.RoleName.AccountAdministrator && ViewBag.ShowAllFilter && item.CurrentPhase > 0)
                                                            || ((item.Owner == Model.LoggedUser.ID && Model.LoggedUserRole != Role.RoleName.AccountContributor && Model.LoggedUserRole != Role.RoleName.AccountViewer) || (Model.LoggedUserRole == Role.RoleName.AccountAdministrator && ViewBag.ShowAllFilter) || (Model.LoggedUserRole == Role.RoleName.AccountManager && ViewBag.ShowAllFilter))
                                                            )
                                                        {
                                                            <li>
                                                                <a href="javascript:void(0);"
                                                                   onclick="@string.Format("LoadPermissions(event, '{0}', '{1}', this", Url.Action("ApprovalPermissions", "Widget", new { @refresh = false, @showPanel = false, @approvalid = (int)item.Approval }), Url.Action("GetApprovalCollaborators", "Approvals", new { @id = item.Approval }))) "
                                                                   title="@Resources.lblAccess" class="@(cssClass)" widget-toggle="collaboratoraccess" widget-type="approval" widget-id="@((int)item.Approval)" widget-creator="@((int)item.Creator)" widget-decision="@((int)item.PrimaryDecisionMaker)" widget-is-external="@Json.Encode(item.IsExternalPrimaryDecisionMaker)"
                                                                   widget-owner="@(item.CurrentPhase > 0 ? item.JobOwner : item.Owner)" widget-exdisabled="" widget-external="" widget-users="" widget-groups="" widget-phase="@(item.CurrentPhase)" widget-decision-type="@(item.DecisionType)">
                                                                    <i class="icon-lock"></i>&nbsp;@Resources.lblAccess
                                                                </a>
                                                            </li>
                                                        }
                                                    }

                                                    <li>
                                                        <a href="@Url.Action("UserActivityReport", new { selectedApproval = item.Approval })" class="@cssClass" title="UserActivityReport" approval="@((int)item.Approval)">
                                                            <i class="icon-group"></i>&nbsp; @Resources.lblUserActivityReport
                                                        </a>
                                                    </li>

                                                    <!--Check if approval has user or ex user annotations on it-->
                                                    if (item.HasAnnotations.GetValueOrDefault() && (!isVideoFile || item.IsVideoReportEnabled > 0) && (!isZipFile))
                                                    {
                                                        <li>
                                                            <a id="contact-support" title="@Resources.lblAnnotationsReport" href="javascript:void(0)" onclick="openReportFilterPopup(this, false)" approval="@((int)item.Approval)">
                                                                @*<li><a href="@Url.Action("Annotations", new { SelectedApproval = item.Approval, isFromDashboard = true })" title="@Resources.lblAnnotationsReport" class="@cssClass" approval="@((int)item.Approval)">*@
                                                                <i class="icon-list-alt"></i>&nbsp;@Resources.lblAnnotationsReport
                                                            </a>
                                                        </li>
                                                    }

                                                    if (((item.JobOwner == Model.LoggedUser.ID || ((Model.LoggedUserRole == Role.RoleName.AccountAdministrator || Model.LoggedUserRole == Role.RoleName.AccountManager) && ViewBag.ShowAllFilter)) && item.CurrentPhase > 0 && item.IsLocked.GetValueOrDefault() == false))
                                                    {
                                                        <li>
                                                            <a title="@Resources.lblPhaseComplete" href="javascript:void(0)" class="approval-action" action="MarkPhaseAsCompleted" approval="@((int)item.Approval)">
                                                                <i class="icon-check"></i>&nbsp;@Resources.lblPhaseComplete
                                                            </a>
                                                        </li>
                                                    }

                                                    if (jobStatus == JobStatu.Status.Completed)
                                                    {
                                                        <li class="divider@(cssClass)"></li>
                                                        <li>
                                                            <a href="javascript:void(0);" title="@Resources.lblArchive_PastTense" class="approval-action@(cssClass)" action="ArchiveApproval" approval="@((int)item.Approval)">
                                                                <i class="icon-briefcase"></i>&nbsp;@Resources.lblArchive_PresentTense
                                                            </a>
                                                        </li>
                                                    }

                                                }
                                                @if ((jobStatus != JobStatu.Status.Completed && jobStatus != JobStatu.Status.Archived && (bool)item.IsDeleted))
                                                {
                                                    <li>
                                                        <a href="javascript:void(0);" title="@Resources.btnRestore" class="approval-action" action="RestoreApproval" approval="@((int)item.Approval)">
                                                            <i class="icon-refresh"></i>&nbsp;@Resources.btnRestore
                                                        </a>
                                                    </li>
                                                }
                                                @if ((jobStatus == JobStatu.Status.Archived && ((Model.LoggedUserRole == Role.RoleName.AccountAdministrator && ViewBag.ShowAllFilter) || item.Owner == Model.LoggedUser.ID) || (bool)item.IsDeleted))
                                                {
                                                    <li>
                                                        <a href="javascript:void(0);" title="@Resources.lblDelete" class="approval-action" action="DeleteApprovalPermanent" approval="@((int)item.Approval)">
                                                            <i class="icon-trash"></i>&nbsp;@Resources.lblDelete
                                                        </a>

                                                    </li>
                                                }
                                                @if (jobStatus == JobStatu.Status.Archived && !(bool)item.IsDeleted)
                                                {
                                                    <li>
                                                        <a href="javascript:void(0);" title="@Resources.lblRestore" class="approval-action" action="RestoreArchivedApproval" approval="@((int)item.Approval)">
                                                            <i class="icon-refresh"></i>&nbsp;@Resources.lblRestore
                                                        </a>
                                                    </li>
                                                }
                                                @if (((Model.LoggedUserRole == Role.RoleName.AccountAdministrator && ViewBag.ShowAllFilter) || item.Owner == Model.LoggedUser.ID || item.JobOwner == Model.LoggedUser.ID) && (jobStatus != JobStatu.Status.Archived) && !(bool)item.IsDeleted)
                                                {
                                                    bool hasMultipleApprovals = false;
                                                    if (jobStatus != JobStatu.Status.Completed && appStatus != Approval.ProcessingStatus.Error)
                                                    {
                                                        <li class="divider@(cssClass)"></li>
                                                    }
                                                    if (item.Version > 1)
                                                    {
                                                        hasMultipleApprovals = (item.ApprovalsCount > 1);

                                                        if ((!item.IsLocked.GetValueOrDefault() && hasMultipleApprovals || (Model.LoggedUserRole == Role.RoleName.AccountAdministrator && ViewBag.ShowAllFilter)))
                                                        {
                                                            <li>
                                                                <a href="javascript:void(0);" title="@Resources.btnDeleteVersion" class="approval-action" action="DeleteVersion" approval="@((int)item.Approval)">
                                                                    <i class="icon-trash"></i>&nbsp;@Resources.btnDeleteVersion
                                                                </a>
                                                            </li>
                                                        }
                                                    }
                                                    if (((item.JobOwner == Model.LoggedUser.ID || item.Owner == Model.LoggedUser.ID) || (Model.LoggedUserRole == Role.RoleName.AccountAdministrator && ViewBag.ShowAllFilter)))
                                                    {
                                                        <li>
                                                            <a href="javascript:void(0);" title="@Resources.lblDelete" class="approval-action" action=@(hasMultipleApprovals || (Model.LoggedUserRole == Role.RoleName.AccountAdministrator && ViewBag.ShowAllFilter) ? "DeleteApproval" : "DeleteVersion") approval="@((int)item.Approval)">
                                                                <i class="icon-trash"></i>&nbsp;@Resources.lblDelete
                                                            </a>
                                                        </li>
                                                    }
                                                }
                                                @if ((ViewBag.LoggedUserFileTransferRole == Role.RoleName.AccountAdministrator || ViewBag.LoggedUserFileTransferRole == Role.RoleName.AccountManager))
                                                {
                                                    <li>
                                                        <a href="javascript:void(0);" title="@Resources.lblRestore" class="approval-action" action="FileTransferApproval" approval="@item.Approval">
                                                            <i class="icon-refresh"></i>&nbsp;@Resources.lblTransferApproval
                                                        </a>
                                                    </li>
                                                }

                                            </ul>
                                        </div>
                                    }
                                }
                                @if (!((item.Owner != Model.LoggedUser.ID) && (bool)item.IsDeleted))
                                {
                                    <div class="customCheckBox">
                                        <input class="@(canSelect)@(cssClass) chkThumb@((int)item.Approval) @(item.AllowDownloadOriginal.GetValueOrDefault() ? string.Empty : "no-download")
                                        @((Model.LoggedUserRole == Role.RoleName.AccountAdministrator && ViewBag.ShowAllFilter) || item.Owner == Model.LoggedUser.ID ? string.Empty : "no-delete")
                                        @(((Model.LoggedUserRole == Role.RoleName.AccountAdministrator || Model.LoggedUserRole == Role.RoleName.AccountManager) && item.IsCollaborator.GetValueOrDefault()) || (item.Owner == Model.LoggedUser.ID && (Model.LoggedUserRole == Role.RoleName.AccountContributor || Model.LoggedUserRole == Role.RoleName.AccountModerator)) ? string.Empty : "no-moveToFolder")
                                        @(item.HasAnnotations.GetValueOrDefault() ? string.Empty : "no-report")
                                        @(jobStatus == JobStatu.Status.Completed ? string.Empty : "no-archive")
                                        @(((jobStatus != JobStatu.Status.Archived && !(bool)item.IsDeleted && appStatus != Approval.ProcessingStatus.Error) ? (jobStatus != JobStatu.Status.Completed) ? ((item.AllowOtherUsersToBeAdded.GetValueOrDefault() && item.JobOwner == Model.LoggedUser.ID && item.CurrentPhase > 0 && Model.LoggedUserRole != Role.RoleName.AccountContributor && Model.LoggedUserRole != Role.RoleName.AccountViewer) || (Model.LoggedUserRole == Role.RoleName.AccountAdministrator && ViewBag.ShowAllFilter && item.CurrentPhase > 0)
                                                        || ((item.Owner == Model.LoggedUser.ID && Model.LoggedUserRole != Role.RoleName.AccountContributor && Model.LoggedUserRole != Role.RoleName.AccountViewer) || (Model.LoggedUserRole == Role.RoleName.AccountAdministrator && ViewBag.ShowAllFilter) || (Model.LoggedUserRole == Role.RoleName.AccountManager && ViewBag.ShowAllFilter))
                                                        ) : false : false) ? string.Empty : "no-access")
                                        @(((item.JobOwner == Model.LoggedUser.ID || (Model.LoggedUserRole == Role.RoleName.AccountAdministrator && ViewBag.ShowAllFilter)) && item.CurrentPhase > 0 && item.IsLocked.GetValueOrDefault() == false) ? string.Empty : "no-phase-complete")
                                        @(isVideoFile ? "video" : "other-type")" approval="@((int)item.Approval)" autocomplete="off" type="checkbox" />
                                        <i id="chkThumb@((int)item.Approval)" class="checkbox chkThumb@((int)item.Approval)"></i>
                                    </div>
                                }
                                @{
                                    string leftPos = (!item.IsCollaborator.GetValueOrDefault() || item.CurrentPhase > 0) ? "approval" : "approval";
                                }

                                <div class="@(leftPos)">
                                    <div id="thumnailViewIcons">
                                        <div class="thumnailViewIconsRow">
                                    <span rel="tooltip" data-placement="top" data-original-title="@item.ApprovalTypeColour"  class="assetType assetTypeVideo" style="background-color:@item.StyleColor">
                                    @if (item.ApprovalTypeColour != null){ApprovalType = Approval.GetApprovalTypeChar(item.ApprovalTypeColour);}
                                     @ApprovalType
                                    </span>
                                            @if (ViewBag.RetoucherWrflwEnabled && jobStatus == JobStatu.Status.ChangesComplete)
                                            {
                                                <span class="SVG-fa-Icon" rel="tooltip" data-placement="top" data-original-title="@JobStatu.Status.ChangesComplete">
                                                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="thumbs-up" class="fa-thumbs-up" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="#4BB680" d="M104 224H24c-13.255 0-24 10.745-24 24v240c0 13.255 10.745 24 24 24h80c13.255 0 24-10.745 24-24V248c0-13.255-10.745-24-24-24zM64 472c-13.255 0-24-10.745-24-24s10.745-24 24-24 24 10.745 24 24-10.745 24-24 24zM384 81.452c0 42.416-25.97 66.208-33.277 94.548h101.723c33.397 0 59.397 27.746 59.553 58.098.084 17.938-7.546 37.249-19.439 49.197l-.11.11c9.836 23.337 8.237 56.037-9.308 79.469 8.681 25.895-.069 57.704-16.382 74.757 4.298 17.598 2.244 32.575-6.148 44.632C440.202 511.587 389.616 512 346.839 512l-2.845-.001c-48.287-.017-87.806-17.598-119.56-31.725-15.957-7.099-36.821-15.887-52.651-16.178-6.54-.12-11.783-5.457-11.783-11.998v-213.77c0-3.2 1.282-6.271 3.558-8.521 39.614-39.144 56.648-80.587 89.117-113.111 14.804-14.832 20.188-37.236 25.393-58.902C282.515 39.293 291.817 0 312 0c24 0 72 8 72 81.452z"></path></svg>
                                                </span>
                                            }
                                            else
                                            {
                                                int n;
                                                if (!Int32.TryParse(item.Decision, out n))
                                                {
                                                    ApprovalDecision.Decision decision = ApprovalDecision.GetApprovalDecision(item.Decision);

                                                    string approvalDecisionText = lstCustomDecisions.Any(d => d.Key == item.Decision && !string.IsNullOrEmpty(d.Name))
                                                        ? lstCustomDecisions.FirstOrDefault(d => d.Key == item.Decision).Name
                                                        : ApprovalDecision.GetLocalizedApprovalDecision(decision);

                                                    bool showDecisionText = (decision != ApprovalDecision.Decision.Pending);

                                                    if (!String.IsNullOrEmpty(item.Decision))
                                                    {
                                                        if (showDecisionText)
                                                        {
                                                            if (decision == ApprovalDecision.Decision.Approved)
                                                            {
                                                                <span class="SVG-fa-Icon" rel="tooltip" data-placement="top" data-original-title="@decision">
                                                                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="thumbs-up" class="fa-thumbs-up" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="#4BB680" d="M104 224H24c-13.255 0-24 10.745-24 24v240c0 13.255 10.745 24 24 24h80c13.255 0 24-10.745 24-24V248c0-13.255-10.745-24-24-24zM64 472c-13.255 0-24-10.745-24-24s10.745-24 24-24 24 10.745 24 24-10.745 24-24 24zM384 81.452c0 42.416-25.97 66.208-33.277 94.548h101.723c33.397 0 59.397 27.746 59.553 58.098.084 17.938-7.546 37.249-19.439 49.197l-.11.11c9.836 23.337 8.237 56.037-9.308 79.469 8.681 25.895-.069 57.704-16.382 74.757 4.298 17.598 2.244 32.575-6.148 44.632C440.202 511.587 389.616 512 346.839 512l-2.845-.001c-48.287-.017-87.806-17.598-119.56-31.725-15.957-7.099-36.821-15.887-52.651-16.178-6.54-.12-11.783-5.457-11.783-11.998v-213.77c0-3.2 1.282-6.271 3.558-8.521 39.614-39.144 56.648-80.587 89.117-113.111 14.804-14.832 20.188-37.236 25.393-58.902C282.515 39.293 291.817 0 312 0c24 0 72 8 72 81.452z"></path></svg>
                                                                </span>
                                                            }
                                                            if (decision == ApprovalDecision.Decision.ApprovedwithChanges)
                                                            {
                                                                <span class="SVG-fa-Icon" rel="tooltip" data-placement="top" data-original-title="@decision">
                                                                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="thumbs-up" class="fa-thumbs-up" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="#4BB680" d="M104 224H24c-13.255 0-24 10.745-24 24v240c0 13.255 10.745 24 24 24h80c13.255 0 24-10.745 24-24V248c0-13.255-10.745-24-24-24zM64 472c-13.255 0-24-10.745-24-24s10.745-24 24-24 24 10.745 24 24-10.745 24-24 24zM384 81.452c0 42.416-25.97 66.208-33.277 94.548h101.723c33.397 0 59.397 27.746 59.553 58.098.084 17.938-7.546 37.249-19.439 49.197l-.11.11c9.836 23.337 8.237 56.037-9.308 79.469 8.681 25.895-.069 57.704-16.382 74.757 4.298 17.598 2.244 32.575-6.148 44.632C440.202 511.587 389.616 512 346.839 512l-2.845-.001c-48.287-.017-87.806-17.598-119.56-31.725-15.957-7.099-36.821-15.887-52.651-16.178-6.54-.12-11.783-5.457-11.783-11.998v-213.77c0-3.2 1.282-6.271 3.558-8.521 39.614-39.144 56.648-80.587 89.117-113.111 14.804-14.832 20.188-37.236 25.393-58.902C282.515 39.293 291.817 0 312 0c24 0 72 8 72 81.452z"></path></svg>
                                                                </span>
                                                            }
                                                            if (decision == ApprovalDecision.Decision.ChangesRequired)
                                                            {
                                                                <span class="SVG-fa-Icon" rel="tooltip" data-placement="top" data-original-title="@decision">
                                                                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="thumbs-down" class="fa-thumbs-down" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="#E50A0A" d="M0 56v240c0 13.255 10.745 24 24 24h80c13.255 0 24-10.745 24-24V56c0-13.255-10.745-24-24-24H24C10.745 32 0 42.745 0 56zm40 200c0-13.255 10.745-24 24-24s24 10.745 24 24-10.745 24-24 24-24-10.745-24-24zm272 256c-20.183 0-29.485-39.293-33.931-57.795-5.206-21.666-10.589-44.07-25.393-58.902-32.469-32.524-49.503-73.967-89.117-113.111a11.98 11.98 0 0 1-3.558-8.521V59.901c0-6.541 5.243-11.878 11.783-11.998 15.831-.29 36.694-9.079 52.651-16.178C256.189 17.598 295.709.017 343.995 0h2.844c42.777 0 93.363.413 113.774 29.737 8.392 12.057 10.446 27.034 6.148 44.632 16.312 17.053 25.063 48.863 16.382 74.757 17.544 23.432 19.143 56.132 9.308 79.469l.11.11c11.893 11.949 19.523 31.259 19.439 49.197-.156 30.352-26.157 58.098-59.553 58.098H350.723C358.03 364.34 384 388.132 384 430.548 384 504 336 512 312 512z"></path></svg>
                                                                </span>
                                                            }
                                                            if (decision == ApprovalDecision.Decision.NotApplicable)
                                                            {
                                                                <span class="SVG-fa-Icon" rel="tooltip" data-placement="top" data-original-title="@decision">
                                                                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="thumbs-down" class="fa-thumbs-down" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="#FF7F00" d="M0 56v240c0 13.255 10.745 24 24 24h80c13.255 0 24-10.745 24-24V56c0-13.255-10.745-24-24-24H24C10.745 32 0 42.745 0 56zm40 200c0-13.255 10.745-24 24-24s24 10.745 24 24-10.745 24-24 24-24-10.745-24-24zm272 256c-20.183 0-29.485-39.293-33.931-57.795-5.206-21.666-10.589-44.07-25.393-58.902-32.469-32.524-49.503-73.967-89.117-113.111a11.98 11.98 0 0 1-3.558-8.521V59.901c0-6.541 5.243-11.878 11.783-11.998 15.831-.29 36.694-9.079 52.651-16.178C256.189 17.598 295.709.017 343.995 0h2.844c42.777 0 93.363.413 113.774 29.737 8.392 12.057 10.446 27.034 6.148 44.632 16.312 17.053 25.063 48.863 16.382 74.757 17.544 23.432 19.143 56.132 9.308 79.469l.11.11c11.893 11.949 19.523 31.259 19.439 49.197-.156 30.352-26.157 58.098-59.553 58.098H350.723C358.03 364.34 384 388.132 384 430.548 384 504 336 512 312 512z"></path></svg>
                                                                </span>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <span class="SVG-fa-Icon label-hidden" rel="tooltip" data-placement="top" data-original-title="@decision">
                                                                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="thumbs-up" class="fa-thumbs-up" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="#4BB680" d="M104 224H24c-13.255 0-24 10.745-24 24v240c0 13.255 10.745 24 24 24h80c13.255 0 24-10.745 24-24V248c0-13.255-10.745-24-24-24zM64 472c-13.255 0-24-10.745-24-24s10.745-24 24-24 24 10.745 24 24-10.745 24-24 24zM384 81.452c0 42.416-25.97 66.208-33.277 94.548h101.723c33.397 0 59.397 27.746 59.553 58.098.084 17.938-7.546 37.249-19.439 49.197l-.11.11c9.836 23.337 8.237 56.037-9.308 79.469 8.681 25.895-.069 57.704-16.382 74.757 4.298 17.598 2.244 32.575-6.148 44.632C440.202 511.587 389.616 512 346.839 512l-2.845-.001c-48.287-.017-87.806-17.598-119.56-31.725-15.957-7.099-36.821-15.887-52.651-16.178-6.54-.12-11.783-5.457-11.783-11.998v-213.77c0-3.2 1.282-6.271 3.558-8.521 39.614-39.144 56.648-80.587 89.117-113.111 14.804-14.832 20.188-37.236 25.393-58.902C282.515 39.293 291.817 0 312 0c24 0 72 8 72 81.452z"></path></svg>
                                                            </span>
                                                        }
                                                    }
                                                }
                                            }
                                            @if (item.IsCollaborator.GetValueOrDefault() == false)
                                            {
                                                <span class="webIcon">
                                                    <img alt="@Resources.lblApproval" class="approval-icon" src="/Content/img/globe.png" />
                                                </span>
                                            }
                                            @if (item.CurrentPhase > 0 && !string.IsNullOrEmpty(item.WorkflowName))
                                            {
                                                <span class="workflow-tooltip-@(item.Approval)" style="padding:0; display: inline-block; margin-bottom: 1px; margin-right: 12px;"><img rel="tooltip" src="/Content/img/green-workflow.png" class="approval-icon phase-icon" data-html="true" /></span>
                                            }
                                            <span class="SVG-fa-Icon chatIocn newComments@(item.Approval)" style="display: none;">
                                                @{Html.RenderPartial("NewAnnotationsNo", item.Approval);}
                                                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="comment" class="fa-comment" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="#E34C65" d="M256 32C114.6 32 0 125.1 0 240c0 49.6 21.4 95 57 130.7C44.5 421.1 2.7 466 2.2 466.5c-2.2 2.3-2.8 5.7-1.5 8.7S4.8 480 8 480c66.3 0 116-31.8 140.6-51.4 32.7 12.3 69 19.4 107.4 19.4 141.4 0 256-93.1 256-208S397.4 32 256 32z"></path></svg>
                                            </span>
                                        </div>
                                    </div>
                                    @if (!ViewBag.DisableVisualIndicator)
                                    {
                                        @Html.Partial("IndicatorBarVertical", item.Approval);
                                    }

                                    <div class="cell">
                                        <a id="aThumb@((int)item.Approval)" href="javascript:void(0);" title="@Resources.lblStudio" class="aThumb@((int)item.Approval) approval-action@((inProgress || (bool)item.IsDeleted) ? " locked" : string.Empty)" action="StudioHtml" approval="@((int)item.Approval)">
                                            <div class="img-frame">
                                                @switch (appStatus)
                                                {
                                                    case Approval.ProcessingStatus.Queued:
                                                    case Approval.ProcessingStatus.Processing:
                                                        {
                                                            <img id="imgThumb@((int)item.Approval)" class="imgThumb@((int)item.Approval)" alt="@Resources.lblApproval" src="/Content/img/noimage-240px-135px.png" />
                                                            break;
                                                        }
                                                    default:
                                                        {
                                                            if (!isZipFile)
                                                            {
                                                                if((bool)item.IsLandscapeImage || item.ApprovalType == 1)
                                                                { 
                                                                    <img style="width:220px"  id="imgThumb@((int)item.Approval)" class="backup_picture imgThumb@((int)item.Approval)" rel="tooltip" data-html="true" alt="@Resources.lblApproval" src="@(isVideoFile ? Approval.GetVideoImagePath(item.Guid, Model.LoggedAccount.Region, accountDomain) : Approval.GetApprovalImage(accountDomain, Model.LoggedAccount.Region, item.Guid, item.FileName, Approval.ImageType.Thumbnail))" />
                                                                }
                                                                else
                                                                {
                                                                    <img style="height:220px" id="imgThumb@((int)item.Approval)" class="backup_picture imgThumb@((int)item.Approval)" rel="tooltip" data-html="true" alt="@Resources.lblApproval" src="@(isVideoFile ? Approval.GetVideoImagePath(item.Guid, Model.LoggedAccount.Region, accountDomain) : Approval.GetApprovalImage(accountDomain, Model.LoggedAccount.Region, item.Guid, item.FileName, Approval.ImageType.Thumbnail))" />

                                                                }
                                                            }
                                                            else
                                                            {
                                                                <img style="height:220px; width:220px" id="imgThumb@((int)item.Approval)" class="imgThumb@((int)item.Approval)" alt="@Resources.lblApproval" src="~/Content/img/html.gif" />

                                                            }
                                                            break;
                                                        }
                                                    case Approval.ProcessingStatus.Error:
                                                        {
                                                            <img width="128" height="128" alt="@Resources.lblApproval" title="@Resources.lblError" src="/Content/img/noimagError-128.png" />
                                                            break;
                                                        }
                                                }
                                            </div>
                                        </a>
                                    </div>

                                </div>
                                <div class="caption">
                                    <h3 class="title">
                                        <span style="@(item.IsCollaborator.GetValueOrDefault() == false ? "margin-left: 20px" : "margin-left: 0px")">@item.Title </span>
                                    </h3>
                                    <div style="display: flex; height: 20px; padding: 5px 5px 5px 5px; position: relative;">
                                        @if (appStatus == Approval.ProcessingStatus.Error)
                                        {
                                            <span class="label label-important">
                                                @Resources.lblError
                                            </span>
                                        }
                                        else
                                        {
                                            <div class="decisions">
                                                @if (item.MaxVersion > 1)
                                                {
                                                    if (item.Version > 1)
                                                    {
                                                        <span class="label alignCentre">@("v" + item.Version)</span>
                                                    }
                                                }
                                                @if (item.PhaseName != "")
                                                {
                                                    if (item.IsLocked != null)
                                                    {
                                                        <span class="label alignCentre">@item.PhaseName</span>
                                                    }
                                                }
                                                <div class="indicatorBar-@item.Approval indicatorBarCount">
                                                    <div class="usersBarIndicatorVert label alignCentre"></div>
                                                </div>
                                            </div>
                                            if (item.ApprovalApprovedDate == null)
                                            {
                                                <span id="spDue@((int)item.Approval)" style="position: absolute; right: 5px; line-height: 20px;" class="meta@(cssClass)">@Html.Raw(GetDeadLineDuration((DateTime)item.ModifiedDate, userCurTime, (bool)item.IsDeleted, item.Deadline))</span>
                                            }
                                            else
                                            {
                                                @Html.Raw(ApprovalBL.GetFormattedApprovedDate(item.ApprovalApprovedDate.Value, userCurTime, Model.LoggedAccount.TimeZone, ViewBag.AccountDateFormat))
                                            }


                                        }
                                    </div>
                                </div>
                            </label>

                    </div>
                </li>
            }
            else if (item.Folder > 0)
            {
                string folderLink = ((bool)item.IsDeleted) ? "javascript:void(0)" : Url.Action("Populate", "Approvals", new { topLinkID = @item.Folder });
                string canSelect = "choose_item";
                <li class="block">
                    <div class="thumbnail">
                        <label id="lblFolder@((int)item.Folder)" class="lblApp">
                            <div class="btn-group">
                                @if (Model.LoggedUserRole != Role.RoleName.AccountViewer)
                                {
                                    <a href="javascript:void(0);" class="btn btn-mini dropdown-toggle ellipsisButtonList" data-toggle="dropdown">
                                        <i class="icon-ellipsis-horizontal"></i></a>
                                    <ul class="dropdown-menu pull-right">
                                        @if (((bool)item.IsDeleted && Model.LoggedUserRole != Role.RoleName.AccountContributor && Model.LoggedUserRole != Role.RoleName.AccountRetoucher))
                                        {
                                            <li>
                                                <a href="javascript:void(0);" title="@Resources.btnRestore" class="folder-action" action="RestoreFolder" folder="@((int)item.Folder)">
                                                    <i class="icon-refresh"></i>&nbsp;@Resources.btnRestore
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);" title="@Resources.lblDelete" class="folder-action" action="DeleteFolderPermanent" folder="@((int)item.Folder)">
                                                    <i class="icon-trash"></i>&nbsp;@Resources.lblDelete
                                                </a>
                                            </li>
                                        }
                                        else
                                        {
                                            if (Model.LoggedUserRole != Role.RoleName.AccountContributor)
                                            {
                                                <li>
                                                    <a href="javascript:void(0);" title="@Resources.lblNewFolder" class="folder-action" action="CreateFolder" folder="@((int)item.Folder)" private="false">
                                                        <i class="icon-folder-close"></i>&nbsp;@Resources.lblNewFolder
                                                    </a>
                                                </li>

                                                if (item.Creator == Model.LoggedUser.ID)
                                                {
                                                    <li>
                                                        <a href="javascript:void(0);" title="@Resources.lblEdit" class="folder-action" data-alldecisionrequired="@item.AllCollaboratorsDecisionRequired" action="RenameFolder" folder="@((int)item.Folder)">
                                                            <i class="icon-pencil"></i>&nbsp;@Resources.lblEdit
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="javascript:void(0);" title="@Resources.lblDownload" class="folder-action" action="DownloadFolder" folder="@((int)item.Folder)">
                                                            <i class="icon-download-alt"></i>&nbsp;@Resources.lblDownload
                                                        </a>
                                                    </li>
                                                }

                                                if ((item.Creator == Model.LoggedUser.ID || Model.LoggedUserRole != Role.RoleName.AccountModerator))
                                                {
                                                    <li>
                                                        <a href="javascript:void(0);" onclick="@string.Format("LoadFolderPermissions(event, " + item.Folder + ",'{0}', '{1}', this", Url.Action("ApprovalPermissions", "Widget", new { @refresh = false, @showPanel = false, @approvalid = (int)item.Approval }), Url.Action("GetFolderCollaborators", "Approvals", new { @id = item.Folder }))); " title="@Resources.lblAccess" widget-toggle="collaboratoraccess" widget-type="folder" widget-id="@((int)item.Folder)" widget-creator="@((int)item.Creator)" widget-users="" widget-groups="">
                                                            <i class="icon-lock"></i>&nbsp;@Resources.lblAccess
                                                        </a>
                                                    </li>
                                                }
                                            }

                                            if ((Model.LoggedUserRole == Role.RoleName.AccountAdministrator || Model.LoggedUserRole == Role.RoleName.AccountManager || item.Creator == Model.LoggedUser.ID))
                                            {
                                                <li>
                                                    <a href="javascript:void(0);" title="@Resources.lblMoveFolder" widget-toggle="foldertree" widget-folders="" widget-folder="@((int)item.Folder)" onclick="@string.Format("LoadFoldersTreePopup('{0}', this, false", Url.Action("LoadFolderTree", "Widget", new { @showPanel = false, @moveFiles = false })))">
                                                        <img alt="color_swatch" src="../../Content/img/move-to-folder.png" class="img-menu-item" />&nbsp;@Resources.lblMoveFolder
                                                    </a>
                                                </li>
                                            }

                                            <li>
                                                <a title="@Resources.lblAnnotationsReport" href="javascript:void(0)" onclick="openReportFilterPopup(this, false)" folder="@((int)item.Folder)">
                                                    <i class="icon-list-alt"></i>&nbsp;@Resources.lblAnnotationsReport
                                                </a>
                                            </li>

                                            if (Model.LoggedUserRole == Role.RoleName.AccountAdministrator)
                                            {
                                                <li>
                                                    <a href="javascript:void(0);" onclick="applyFolderPermissionsConfirmation(@(item.Folder))" title="@Resources.lblApplyFolderPermissions" type="button">
                                                        <i class="icon-lock"></i>&nbsp;@Resources.lblApplyFolderPermissions
                                                    </a>
                                                </li>
                                            }
                                            if (item.Creator == Model.LoggedUser.ID && Model.LoggedUserRole != Role.RoleName.AccountContributor)
                                            {
                                                <li class="divider"></li>
                                                <li>
                                                    <a href="javascript:void(0);" title="@Resources.lblDelete" class="folder-action" action="@(Folder.IsFolderHasApprovals((int)item.Folder, context) ? "DeleteFolder" : "DeleteFolderPermanent")" folder="@((int)item.Folder)">
                                                        <i class="icon-trash"></i>&nbsp;@Resources.lblDelete
                                                    </a>
                                                </li>
                                            }
                                            if ((ViewBag.LoggedUserFileTransferRole == Role.RoleName.AccountAdministrator || ViewBag.LoggedUserFileTransferRole == Role.RoleName.AccountManager))
                                            {

                                                <li>
                                                    <a href="javascript:void(0);" title="@Resources.lblTransferFolder" class="folder-action" action="TransferFolder" folder="@((int)item.Folder)">
                                                        <i class="icon-folder-close"></i>&nbsp;@Resources.lblTransferFolder
                                                    </a>
                                                </li>
                                            }
                                        }
                                    </ul>
                                }
                            </div>
                            <input id="chkFolder@((int)item.Folder)" class="@(canSelect) @(item.Creator == Model.LoggedUser.ID && Model.LoggedUserRole != Role.RoleName.AccountContributor ? string.Empty : "no-download") 
                                    @(item.Creator == Model.LoggedUser.ID ? string.Empty : "no-delete")
                                    @(Model.LoggedUserRole == Role.RoleName.AccountAdministrator || Model.LoggedUserRole == Role.RoleName.AccountManager || (item.Creator == Model.LoggedUser.ID && (Model.LoggedUserRole == Role.RoleName.AccountContributor || Model.LoggedUserRole == Role.RoleName.AccountModerator)) ? string.Empty : "no-moveToFolder")
                                    " folder="@((int)item.Folder)" autocomplete="off" type="checkbox"  />
                            <div class="approval">
                                <div class="cell">
                                    <a class="action" href="@folderLink">
                                        <img width="210" height="210" alt="folder" src="/Content/img/folder_128.png" />
                                    </a>
                                </div>
                            </div>
                            <div class="block-content caption">
                                @if ((bool)item.IsDeleted)
                                { 
                                    <h3 class="title">@(item.Title)</h3>
                                }
                                else
                                {
                                    <h3 class="title">
                                        <a class="action" href="@folderLink">@(item.Title)</a> <small class="items">(@(item.SubFoldersCount))</small>
                                    </h3>
                                }
                                <div class="meta">
                                    <span class="deadline">@(item.ApprovalsCount)&nbsp;@Resources.lblFiles</span>
                                </div>
                            </div>
                        </label>
                    </div>
                </li>
            }
        }
    </ul>
</div>
<script>
    $("*[rel=tooltip]").tooltip();
</script>
@functions {
    private string GetDeadLineDuration(DateTime ModifiedDate, DateTime userCurTime, bool IsDeleted, DateTime? Deadline)
    {
        System.Text.StringBuilder html = new System.Text.StringBuilder();

        ModifiedDate = GMGColorFormatData.GetUserTimeFromUTC(ModifiedDate, Model.LoggedAccount.TimeZone);

        if (IsDeleted)
        {
            html.Append("<span class=\"deadline\">" +
                        "<strong>" + Resources.lblDeleted + ":</strong> " + GMGColorFormatData.GetFormattedDate(ModifiedDate, ViewBag.AccountDateFormat) + " " + Resources.lblAt + " " + ModifiedDate.ToString("h:mm tt") +
                        "</span>");
        }
        else if (Deadline != null && Deadline > default(DateTime))
        {
            Deadline = GMGColorFormatData.GetUserTimeFromUTC(Deadline.Value, Model.LoggedAccount.TimeZone);

            int days = (Deadline.Value - userCurTime).Days;
            int hours = Math.Abs((Deadline.Value.Hour - userCurTime.Hour));
            bool isOverDue = Deadline < userCurTime;

            html.Append("<span class=\"deadline " + (isOverDue ? "overdue" : "") + "\">" +
                        "<strong>" + (isOverDue ? Resources.lblOverDue : Resources.lblDue) + ":&nbsp;</strong>" +
                        "<span rel=\"tooltip\" class=\"\" data-original-title=\"" + Deadline.Value.ToString("h:mm tt") + " (" + Math.Abs(days) + " " + Resources.lblDays + ", " + hours + " " + Resources.lblHours + ")" + "\">" + GMGColorFormatData.GetFormattedDate(Deadline.Value, ViewBag.AccountDateFormat)+ "</span>" +
                        "</span>");
        }
        else
        {
            if (Deadline == null)
            {
                int days = (ModifiedDate.AddDays(30) - userCurTime).Days;
                int hours = Math.Abs((ModifiedDate.AddDays(30).Hour - userCurTime.Hour));

                html.Append("<span class=\"meta\">" +
                            "<span class=\"deadline\">" +
                            "<i data-original-title=\"" + ModifiedDate.ToString("h:mm tt") + " (" + Math.Abs(days) + " " + Resources.lblDays + ", " + hours + " " + Resources.lblHours + ")\" class=\"icon-time\" rel=\"tooltip\"></i>" +
                            GMGColorFormatData.GetFormattedDate(ModifiedDate, ViewBag.AccountDateFormat) +
                            "</span>" +
                            "</span>");
            }
        }

        return html.ToString();
    }

}
