﻿@model ApprovalDetailsModel
@using GMG.CoZone.Collaborate.UI
@using GMGColor.Resources;
@using GMGColorDAL
@using GMGColor.HtmlHelpers;
@using GMGColorDAL.CustomModels
@{
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
    Bundles.Reference("responsivetables");
    Bundles.Reference("datetimepicker");
    Bundles.Reference("widget");
    Bundles.Reference("html5Player");
    Bundles.Reference("html5PlayerCSS");
    Bundles.Reference("filedownload");
    Bundles.Reference("quill");
    Bundles.Reference("quillStyles");

    if (Model.DefaultViewingConditions != null)
    {
        Bundles.Reference("jobdetails");
    }
    GMGColorDAL.Role.RoleName loggedUserRole = ViewBag.LoggedUserRole;
}
@section HeaderCSS{
    <link href="@Url.Content("~/Content/css/font-awesome-min.css")" rel="stylesheet" media="screen" />
}
<meta name="viewport" content="width=device-width, initial-scale=1">
<p class="breadcrumb">
    <a style="color: #45566D;" href="@Url.Action("Index", "Approvals")">@Resources.lblApprovalJobs</a>
</p>
<div class="widget">
    <div class="widget-header">
        <div class="row-fluid">
            <div class="span7">
                <h3>@Model.Title</h3>
            </div>
            <div class="span5">
                @using (Html.BeginForm("", "Approvals", FormMethod.Post, new { @class = "form-horizontal dirtyignore", id = "formStatus" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.Job, new { @data_val = false })
                    if (loggedUserRole != GMGColorDAL.Role.RoleName.AccountViewer)
                    {
                    <div style="margin: 11px 18px 0 0; float: right;">
                        <div class="btn-group">
                            <a href="#" data-toggle="dropdown" class="btn dropdown-toggle">@Model.LocalizedJobStatus
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu pull-right">
                                @foreach (var status in Model.AvailableStatusesKeys)
                                {
                                    <li><a href="javascript:void(0);" onclick="$('#hdnJobStatus')[0].value = @status.Key;$('#btnSaveJobStatus').click();">@status.Value</a></li>
                                }
                            </ul>
                        </div>
                        @if (ViewBag.CanRenameApproval)
                        {
                            <button class="btn" data-target="#dvRenameApproval" data-toggle="modal" rel="tooltip" title="@Resources.lblEdit" type="button" >
                                <i class="icon-pencil"></i>
                            </button>
                        }
                    </div>
                    @Html.Hidden("SelectedJobStatus", null, new { id = "hdnJobStatus" })
                               
                    <button id="btnSaveJobStatus" class="btn hidden" rel="tooltip" title="@Resources.btnSave" name="action" type="submit" value="SetJobStatus">
                    </button>
                    }
                }
            </div>
        </div>
    </div>
    <!-- /widget-header -->
    <div class="widget-content">
        @if (Model.DefaultViewingConditions != null)
        {
            using (Ajax.BeginForm("SaveViewingConditions", "Approvals", new { Model.Job }, new AjaxOptions() { HttpMethod = "POST", OnComplete = "saveCompleted", LoadingElementId = "imgSavingLoader" }, new { @class = "form-horizontal", id = "formViewingCond" }))
            {
                @Html.AntiForgeryToken()
                <div class="row-fluid">
                    <h3>@Resources.lblDefaultViewingConditions</h3>
                    <div class="control-group">
                        <label class="control-label">@Resources.lblSimulationProfile</label>
                        <div class="controls">
                            @Html.DropDownListExFor(m => m.DefaultViewingConditions.SelectedSimulationProfile, new SelectList(Model.DefaultViewingConditions.SimulationProfiles, "ID", "Name", Model.DefaultViewingConditions.SelectedSimulationProfile), Resources.lblNoProfile)
                            @Html.ValidationMessageFor(m => m.DefaultViewingConditions.SelectedSimulationProfile)
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">@Resources.lblPaperTint</label>
                        <div class="controls">
                            @Html.DropDownListExFor(m => m.DefaultViewingConditions.SelectedPaperTint, new SelectList(Model.DefaultViewingConditions.PaperTints, "ID", "Name", Model.DefaultViewingConditions.SelectedPaperTint), Resources.lblNoPaperTint)
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">CIE &Delta;<sup>2000</sup></label>
                        <div class="controls">
                            @Html.TextBox("delta2000", "", new { @disabled = "disabled" })
                            <span class="hide" id="deltaWarning" style="font-size: large;">
                                <i class="icon-exclamation-sign"></i>
                            </span>
                        </div>
                    </div>
                    <div class="alert alert-warning hide" id="mediaCategoryMismatchAlert">
                    </div>
                    <div class="alert alert-warning hide" id="measurementCondMismatchAlert">
                    </div>
                    <div class="form-actions">
                        <button id="btnSaveViewingConditions" class="btn btn-primary" data-loading-image="imgSavingLoader" data-text="@Resources.btnSaveChanges" data-loading-text="@Resources.btnSaving" type="submit">
                            @(Model.DefaultViewingConditions.SelectedSimulationProfile > 0 ? Resources.btnSaveChanges : Resources.btnSave)
                        </button>
                        @Html.Image("imgSavingLoader", "~/Content/img/loading-icon.gif", @Resources.lblLoading, new { @class = "hide" }, 30, 30)
                    </div>
                </div>
            }
            @Html.Hidden("SerializedPaperTints", (string)ViewBag.PaperTintsJSON)
        }
        @using (Html.BeginForm("Index", "Approvals", FormMethod.Post, new { @class = "form-horizontal", id = "formMain" }))
        {
            @Html.AntiForgeryToken()
            @Html.Hidden("SelectedApproval", "0", new { id = "hdnSelectedApproval", @data_val = false })
            @Html.Hidden("SelectedUser", "0", new { id = "hdnSelectedUser", @data_val = false })
            <div style="display: none">
                <button id="btnEdit" class="cancel" type="submit" name="action" value="Details">@Resources.btnEdit</button>
                <button id="btnAddVersion" class="cancel" type="submit" name="action" value="VersionApproval">@Resources.btnAddVersion</button>
            </div>
            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    @foreach (ApprovalDetailsModel.VersionInfoModel objItem in Model.Versions)
                    {
                        string appHeader = string.Empty;
                        appHeader = "v" + @objItem.Version.ToString();
                        
                        bool canAccessVersion = (loggedUserRole == Role.RoleName.AccountAdministrator && ViewBag.ShowAllFilter) || objItem.IsLoggedUserCollaborator || Model.JobOwner == Model.LoggedUserID; 
                        <li class="@((Model.ID == objItem.ID) ? "active" : string.Empty)" approval="@(objItem.ID)"><a onclick ="@(canAccessVersion ? String.Format("changeVersion({0}, {1})", objItem.ID, objItem.Version) : String.Empty)" href="#Version@(objItem.Version)" data-toggle="@(canAccessVersion ? "tab" : "")">@appHeader</a></li>
                   
                    }
                    @if (Model.CanAddVersion)
                    {
                        <li class="nav-tabs-btn"><a href="javascript:void(0);" onclick=" $('#hdnSelectedApproval')[0].value = @Model.Job;$('#btnAddVersion').click(); ">
                                                     <i class="icon-plus"></i></a></li>
                    }
                </ul>
            </div>
            <button style="display: none" id="btnRemoveDecisionMaker" type="submit" data-toggle="button"
                    name="action" value="RemovePrimaryDecisionMaker">
            </button>
            <div class="tab-content">
                <div id="loadingGrid" style="text-align:center;">
                    
                    <label>@Resources.lblLoading</label>
                    @Html.Image("versionsDetailsLoader", "~/Content/img/loading-icon.gif", @Resources.lblLoading, new { @style = "margin:auto;" }, 50, 50)
                </div>

                @*Filled by asynchronous call*@
            </div>
            
            @Html.HiddenFor(m => m.HiddenSelectedApprovals, new { id = "hdnSelectedApprovals", @Value = Model.HiddenSelectedApprovals, @data_val = false })
            @(Html.ConfirmationPopup("phase")
                  .Title(Resources.lblPhaseRerunTitle)
                  .Heading(Resources.lblPhaseRerunHeading)
                  .Message(Resources.lblPhaseRerunMessage)
                  .PleaseNoteMessage(Resources.lblPhaseRerunPleaseNote)
                  .Url(Url.Action("RerunWorkflowFromSpecifiedPhase", "ApprovalWorkflow")))
           
                   
                    DeleteConfirmation deleteMultiApprovalConfirmation = new DeleteConfirmation(1, "DeleteVersion", "DeleteVersionPermanent");
                    deleteMultiApprovalConfirmation.DeleteMessage = Resources.lblDeleteMessage_Version;
                    deleteMultiApprovalConfirmation.DeleteSecondMessage = Resources.lblDeleteMessage_VersionSecondMessage;
                    deleteMultiApprovalConfirmation.SecondActionLabel = Resources.lblRecycleBin;
                    deleteMultiApprovalConfirmation.DeleteMessagePleaseNote = string.Empty;
            @Html.Partial("DeleteConfirmationDialog", deleteMultiApprovalConfirmation)
        }
        
        @{ @Html.Partial("FileDownload", (FileDownloadViewModel)ViewBag.FileDownload);}

    </div>
    <!-- /widget-content -->
    <div class="form-actions">
        <a class="btn btn-primary upper pull-right" href="@Url.Action("Index", "Approvals")">@Resources.btnOk</a>
    </div>
</div>
<!-- /widget -->
@using (Html.BeginForm("RenameApproval", "Approvals", FormMethod.Post, new { @class = "form-vertical dirtyignore", id = "formRenameApproval" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(mdl => mdl.ID, new { @data_val = false })
    <div id="dvRenameApproval" class="modal hide">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
                ×</button>
            <h3>
                @Resources.lblEditApproval</h3>
        </div>
        <div class="modal-body">
            <div class="control-group">
                <label class="control-label">
                    @Resources.lblName</label>
                <div class="controls">
                    @Html.TextBoxFor(mdl => mdl.Title, new { @class = "approval-title", @Value = Model.Title })
                    @Html.ValidationMessageFor(mdl => mdl.Title)
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" data-loading-text="@Resources.btnSaving" name="action" type="submit" value="RenameApproval">
                @Resources.btnSave
            </button>
        </div>
    </div>
}
@if (Model.AnnotationsReportFilters != null)
{
    @Html.Partial("AnnotationsReportFilters", Model.AnnotationsReportFilters)
}
@using (Html.BeginForm("ModifyPermissions", "Widget", FormMethod.Post, new { @class = "form-vertical dirtyignore", id = "formPermissions" }))
{
    @Html.AntiForgeryToken()
    //Filled by asynchronous call
}
@using (Html.BeginForm("SendAndShare", "Widget", FormMethod.Post, new { @class = "form-vertical dirtyignore", id = "formShare" }))
{
    @Html.AntiForgeryToken()
    //Filled by asynchronous call
}

@Html.Hidden("mediaCategoryMismatch", Resources.lblPrintSubstrateMismatchProofStudio)
@Html.Hidden("measurementConditionMismatch", Resources.lblMeasurementCondMismatchProofStudio)
@Html.Hidden("lblCalculating", Resources.lblCalculating)
@Html.Hidden("lblErrorLabel", Resources.lblErrorOccured)

@section PageScript
{
    <script type="text/javascript">
        var getUserSOADIndicatorData = '@Html.Raw(@Url.Action("GetUserSoadData", "AppService"))';
        var getPhaseOADIndicatorData = '@Html.Raw(@Url.Action("GetPhaseSoadData", "AppService"))';

        $(document).ready(function() {
            // Go to Studio Flex
            $(document).on('click', '.goto-studio', function() {
                var id = $(this).attr('approval') || 0;
                if (id > 0) {
                    $.ajax({
                        type: "POST",
                        url: '/Approvals/Studio?isHtml=true&Ids=' + id + '&url=' + window.location,
                        data: { __RequestVerificationToken: $("#formStatus input").val() },
                        success: function(ulr) {
                            window.location = ulr;
                        }
                    });
                }
            });

            getVersionDetails(@Model.ID);
        });

        function getVersionDetails(versionId, item) {
            if (typeof(item) != "undefined") {
                $('.row-fluid.tab-pane').removeClass('active');
            }
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetApprovalVersionDetails", "Approvals")' + "?versionId=" + versionId + '&jobStatus=' + '@Model.JobStatus' + '&loggedUserRole=' + '@ViewBag.LoggedUserRole' + '&showAllFilter=' + '@ViewBag.ShowAllFilter' + '&topLinkID=' + '@ViewBag.TopLinkID',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(versionDetails) {
                    $('#loadingGrid').hide();
                    $('div.tab-content').append(versionDetails.Content);
                    if (typeof(item) != "undefined") {
                        $('#' + item).addClass('active');
                    }
                    $("[rel='tooltip']").tooltip();
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    if (jqXHR.readyState == 0 || jqXHR.status == 0) {
                        return;
                    } else {
                        $('#loadingGrid').replaceWith('<label>Error Loading Approvals Grid ' + textStatus + ' ' + errorThrown + '</label>');
                    }
                }
            });
        }

        function changeVersion(versionId, versionNr) {
            var versionDivId = 'Version' + versionNr;
            //$('#activityStatus'+ versionId +' > li:first').trigger('click');
            if ($('div.tab-content').find($('#' + versionDivId)).length == 0) {
                $('#loadingGrid').show();
                getVersionDetails(versionId, versionDivId);
            }
        }

        function sendRequest(approval) {
            $('#downloadVersionType').attr("disabled", true);
            $("#FileIds").val(approval);
            $("#modalFileDownload").modal({ backdrop: 'static', keyboard: false });
            $("#modalFileDownload .modal-body .control-group .controls").removeAttr("style");
        }
    </script>
     @if (Model.DefaultViewingConditions != null)
     {
    <script type="text/javascript" src="@Url.Content("~/Content/js/deltae/deltae.global.min.js")"></script>
}
}


