﻿@model GMGColorDAL.CustomModels.ApprovalsModel
@using GMGColor.Common
@using GMGColor.HtmlHelpers;
@using GMGColor.Resources;
@using GMGColorBusinessLogic
@using GMGColorDAL
@using GMGColorDAL.Common
@using GMGColorDAL.CustomModels
@using GMG.CoZone.Common;
@{
    Layout = "~/Views/Shared/_LayoutTablet.cshtml";
    Bundles.Reference("widget");
  
    GMGColorBusinessLogic.DbContextBL context = HttpContext.Current.Items[GMGColorDAL.DALUtils.DatabaseContext] as GMGColorBusinessLogic.DbContextBL;

    int tab = int.Parse(TempData["SelectedTab"].ToString());

    GMGColorDAL.Role.RoleName loggedUserRole = ViewBag.LoggedUserRole;

    string inProgressApprovalIDs = String.Empty;
}

<div id="approvals-sidebar-wrapper" class="hide" >
    <ul class="sidebar-nav nav nav-pills nav-stacked nav-colored">
        <li class="@((tab == -1) ? "active" : string.Empty)"><a href="@(Url.Action("Populate", new { @topLinkID = "-1" }))">
            <i class="icon-picture"></i>@Resources.lblAllApprovels
            @if (ViewBag.AllAppCount > 0)
            {<span class="badge @((tab == -1) ? "badge-inverse" : string.Empty) pull-right">@ViewBag.AllAppCount</span>}
        </a></li>
        <li class="@((tab == -2) ? "active" : string.Empty)"><a href="@(Url.Action("Populate", new { @topLinkID = "-2" }))">
            <i class="icon-user"></i>@Resources.lblOwnedByMe
            @if (ViewBag.MyAppCount > 0)
            {<span class="badge @((tab == -2) ? "badge-inverse" : string.Empty) pull-right">@ViewBag.MyAppCount</span>}
        </a></li>
        <li class="@((tab == -3) ? "active" : string.Empty)"><a href="@(Url.Action("Populate", new { @topLinkID = "-3" }))">
            <i class="icon-retweet"></i>@Resources.lblSharedWithMe
            @if (ViewBag.SharedAppCount > 0)
            {<span class="badge @((tab == -3) ? "badge-inverse" : string.Empty) pull-right">@ViewBag.SharedAppCount</span>}
        </a></li>
        <li class="@((tab == -4) ? "active" : string.Empty)"><a href="@(Url.Action("Populate", new { @topLinkID = "-4" }))">
            <i class="icon-eye-open"></i>@Resources.lblRecentlyViewed
            @if (ViewBag.RecentlyViewedCount > 0)
            {<span class="badge @((tab == -4) ? "badge-inverse" : string.Empty) pull-right">@ViewBag.RecentlyViewedCount</span>}
        </a></li>
        <li class="@((tab == -5) ? "active" : string.Empty)"><a href="@(Url.Action("Populate", new { @topLinkID = "-5" }))">
            <i class="icon-briefcase"></i>@Resources.lblRecentlyArchived
            @if (ViewBag.RecentlyArchivedCount > 0)
            {<span class="badge @((tab == -5) ? "badge-inverse" : string.Empty) pull-right">@ViewBag.RecentlyArchivedCount</span>}
        </a></li>
        <li class="@((tab == -8) ? "active" : string.Empty)">
            <a href="@(Url.Action("Populate", new { @topLinkID = "-8" }))">
                <i class="icon-exchange"></i>@Resources.lblOutOfOfficeApprovals
                @if (ViewBag.SubstitutedApprovalsCount > 0)
            {<span class="badge @((tab == -8) ? "badge-inverse" : string.Empty) pull-right">@ViewBag.SubstitutedApprovalsCount</span>}
            </a>
        </li>
    </ul>
    <ul class="nav nav-pills nav-stacked nav-colored">
        @if (loggedUserRole != GMGColorDAL.Role.RoleName.AccountViewer)
        {
            <li class="@((tab == -6) ? "active" : string.Empty)"><a href="@(Url.Action("Populate", new { @topLinkID = "-6" }))">
                                                                     <i class="icon-trash"></i>@Resources.lblRecycleBin
                                                                     @if (ViewBag.RecycleBinCount > 0)
                                                                     {<span class="badge @((tab == -6) ? "badge-inverse" : string.Empty) pull-right">@ViewBag.RecycleBinCount</span>}
                                                                 </a></li>
        }
    </ul>
    @if (!GMGColorConfiguration.AppConfiguration.IsHideFolderFunctionality && (tab != -5) && (tab != -6))
    {                   
        <div class="sidenav-header">
            <h3>@Resources.lblFolders</h3>
        </div>
        <div class="well well-small well-foldertree">
            <ul class="foldertree">
                @Html.Raw(GMGColorBusinessLogic.FolderBL.PopulateFolders(Model.FolderID, ViewBag.LoggedUser.ID, loggedUserRole, 0, Model.FolderPermissionsAutoInheritanceEnabled, context, true))
            </ul>
        </div>
    }
</div>
<!-- /sidebar -->

<div class="widget">
    <div class="row-fluid">
        <div id ="approvals">
            <div id="loadingGrid" style="text-align:center;">
                    <label>@Resources.lblLoading</label>
                    @Html.Image("approvalsGridLoader", "~/Content/img/loading-icon.gif", @Resources.lblLoading , new { @style = "margin:auto;" }, 50, 50)
                </div>
        </div>
    </div>
    <!-- /row-fluid -->
</div>
<!-- /widget -->

@using (Html.BeginForm("", "Approvals", FormMethod.Post, new { @class = "form-horizontal", id = "formEvents" }))
{
    @Html.AntiForgeryToken()
    DeleteConfirmation archiveFolderConfirmation = new DeleteConfirmation(3, "ArchiveFolder");
    archiveFolderConfirmation.DeleteMessage = string.Empty;
    archiveFolderConfirmation.DeleteMessagePleaseNote = string.Empty;
    @Html.Partial("DeleteConfirmationDialog", archiveFolderConfirmation)

    DeleteConfirmation deleteFolderConfirmation = new DeleteConfirmation(4, "DeleteFolder");
    deleteFolderConfirmation.DeleteMessage = Resources.lblDeleteMessage_Folder;
    deleteFolderConfirmation.DeleteMessagePleaseNote = string.Empty;
    @Html.Partial("DeleteConfirmationDialog", deleteFolderConfirmation)

    DeleteConfirmation deleteFolderPermanent = new DeleteConfirmation(6, "DeleteFolderPermanent");
    @Html.Partial("DeleteConfirmationDialog", deleteFolderPermanent)

    <button id="btnRestoreFolder" class="hide" name="action" type="submit" value="RestoreFolder">
    </button>

    @Html.HiddenFor(mdl => mdl.objFolderCR.ID, new { @id = "hdnSelectedFolder", @Value = 0 })
}

@if (loggedUserRole != GMGColorDAL.Role.RoleName.AccountViewer)
{
    using (Html.BeginForm("", "Widget", FormMethod.Post, new { @class = "form-vertical", id = "formFolderCR" }))
    {
        @Html.AntiForgeryToken()
        <div id="modalDialogFolderCR" class="modal hide">
            <div class="modal-header">
                <a href="javascript:void(0);" class="close" data-dismiss="modal" title="@Resources.btnClose" onclick="ResetModel();">&times;</a>
                <h3 class="create hide">@Resources.lblNew @Resources.lblFolder</h3>
                <h3 class="rename hide">@Resources.lblEdit @Resources.lblFolderProperties</h3>
            </div>
            <div class="modal-body">
                @Html.HiddenFor(m => m.objFolderCR.ID, new { @id = "hdnFolderID" })
                @Html.HiddenFor(m => m.objFolderCR.Parent, new { @id = "hdnFolderParent" })
                @Html.HiddenFor(m => m.objFolderCR.IsPrivate, new { @id = "hdnFolderIsPrivate" })
                <div class="control-group">
                    <label class="control-label">@Resources.lblName</label>
                    <div class="controls">
                        @Html.TextBoxFor(m => m.objFolderCR.Name)
                        @Html.ValidationMessageFor(m => m.objFolderCR.Name)
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="create hide btn btn-primary" data-loading-text="@Resources.btnSaving" name="action" type="submit" value="CreateFolder" >
                    @Resources.btnCreateFolder
                </button>
                <button class="rename hide btn btn-primary" data-loading-text="@Resources.btnSaving" name="action" type="submit" value="RenameFolder" >
                    @Resources.btnSave
                </button>
            </div>
        </div>
    }
    using (Html.BeginForm("ModifyPermissions", "Widget", FormMethod.Post, new { @class = "form-vertical", id = "formPermissions" }))
    {
        @Html.AntiForgeryToken()
        //Filled by asynchronous call
    }
    using (Html.BeginForm("SendAndShare", "Widget", FormMethod.Post, new { @class = "form-vertical", id = "formShare" }))
    {
        @Html.AntiForgeryToken()
        //Filled by asynchronous call
    }
}
@if (ViewBag.ShowCanntDelete)
{
    <script type="text/javascript">
        this.modelDialog = 'cannotDelete';
    </script>
}
<div id="cannotDelete" class="modal hide">
    <div class="modal-header">
        <h3 class="widget-title">@Resources.headerCanntDeleteApproval</h3>
    </div>
    <div class="globaldelete-base modal-body">
        <p>
            <strong>@Html.Raw(Resources.paragraphCanntDeleteApproval1)</strong>
        </p>
        <p>@Html.Raw(Resources.paragraphCanntDeleteApproval2)</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" type="button">@Resources.btnOk</button>
    </div>
</div>

@{
    var folderId = ViewBag.FolderID;
    if (folderId > 0) {
        ViewBag.TopLinkID = folderId;
    }
}
<script type="text/javascript">
    var getApprovalPhaseDeadlineUrl = '@Html.Raw(@Url.Action("GetApprovalsPhaseDeadline", "Approvals"))';
    var inProgressApprovalIDs = '@inProgressApprovalIDs';
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: '@Html.Raw(@Url.Action("PopulateApprovalsGrid", "Approvals", new { topLinkID = @ViewBag.TopLinkID, page = @ViewBag.Page, folderID = @ViewBag.FolderID, loggedUserRole = @ViewBag.LoggedUserRole, hasAccessToFtp = false, archivedCount = @ViewBag.RecentlyArchivedCount, recycleBinCount = @ViewBag.RecycleBinCount, currentTabCount = @ViewBag.CurrentTabCount, sort = @ViewBag.Sort, sortdir = @ViewBag.SortDir }))',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (approvals) {
                $('#loadingGrid').remove();
                $('#approvals').append(approvals.Content);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                if (jqXHR.readyState == 0 || jqXHR.status == 0) {
                    return;
                }
                else {
                    $('#loadingGrid').replaceWith('<label>Error Loading Approvals Grid ' + textStatus + ' ' + errorThrown + '</label>');
                }
            }
        });
    });
</script> 
