﻿@model ApprovalsModel
@using GMGColor.HtmlHelpers;
@using GMGColor.Resources;
@using GMGColorDAL
@using GMGColorDAL.CustomModels
@{
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
    Bundles.Reference("widget");
    Bundles.Reference("chosen");
    Bundles.Reference("datetimepicker");
    Bundles.Reference("filedownload");
    Bundles.Reference("quill");
    Bundles.Reference("quillStyles");

    int tab = int.Parse(TempData["SelectedTab"].ToString());

    Role.RoleName loggedUserRole = ViewBag.LoggedUserRole;
    bool hasAccessToAddJob = loggedUserRole != Role.RoleName.AccountViewer &&
                             loggedUserRole != Role.RoleName.AccountContributor &&
                             loggedUserRole != Role.RoleName.AccountRetoucher;
}

@Html.Hidden("hdnShowAllFilesAndFolder", ViewBag.ViewAll != null ? (bool)ViewBag.ViewAll : false)
<div class="widget">
    <div class="widget-header">
        @if (hasAccessToAddJob && tab != -8)
        {
            <ul class="widget-links">
                <li>@Html.ActionLink(Resources.lblNewApproval, "NewApproval", null, null, new { @class = "btn btn-primary font12" })</li>
            </ul>
        }
        <h3>@ViewBag.Header @*<small>@ViewBag.HeaderSmall</small>*@</h3>
    </div>
    <!-- /widget-header -->
    <div class="widget-content minSApprovalGridize">
        <div class="row-fluid">
            <div class="span12" id="approvals">
                @*<div class="approval-header">
                    <ul class="approval-crumbs">
                        @if (ViewBag.FolderID > 0)
                        {
                            @Html.Raw(Model.BreadCrum)
                        }
                        else
                        {
                            <li>@TempData["SelectedTabName"]</li>
                        }
                    </ul>
                </div>*@
                <div id="sliderButton" class="slide-toggle noselect" style="display: none;">
                    <div id="icon"><i class="icon-chevron-right"></i></div>
                </div>
                <div id="sliderMenu" style="display: none;">
                    <div class="box-container">
                        @{ Html.RenderPartial("IndexSideBar", Model); }
                    </div>
                </div>
                <div id="loadingGrid" style="text-align:center;">
                    <label>@Resources.lblLoading</label>
                    @Html.Image("approvalsGridLoader", "~/Content/img/loading-icon.gif", @Resources.lblLoading, new { @style = "margin:auto;" }, 50, 50)
                </div>
                @*Approvals Grid goes here , Filled by asynchronous Request*@
            </div>
        </div>
        <!-- /row-fluid -->
    </div>
    <!-- /widget-content -->
</div>
<!-- /widget -->

@using (Html.BeginForm("", "Approvals", FormMethod.Post, new { @class = "form-horizontal", id = "formEvents" }))
{
    @Html.AntiForgeryToken()
    DeleteConfirmation archiveFolderConfirmation = new DeleteConfirmation(3, "ArchiveFolder");
    archiveFolderConfirmation.DeleteMessage = string.Empty;
    archiveFolderConfirmation.DeleteMessagePleaseNote = string.Empty;
    @Html.Partial("DeleteConfirmationDialog", archiveFolderConfirmation)

    DeleteConfirmation deleteFolderConfirmation = new DeleteConfirmation(4, "DeleteFolder");
    deleteFolderConfirmation.DeleteMessage = Resources.lblDeleteMessage_Folder;
    deleteFolderConfirmation.DeleteMessagePleaseNote = string.Empty;
    @Html.Partial("DeleteConfirmationDialog", deleteFolderConfirmation)

    DeleteConfirmation deleteFolderPermanent = new DeleteConfirmation(6, "DeleteFolderPermanent");
    @Html.Partial("DeleteConfirmationDialog", deleteFolderPermanent)

    DeleteConfirmation deleteSearchFilterConfirmation = new DeleteConfirmation(11, "AdvancedSearchDelete");
    deleteSearchFilterConfirmation.DeleteMessage = Resources.lblDeleteMessage;
    deleteSearchFilterConfirmation.DeleteMessagePleaseNote = string.Empty;
    @Html.Partial("DeleteConfirmationDialog", deleteSearchFilterConfirmation)

    <input type="hidden" id="n" value="@Session["LoggedUserId"]" />

    <button id="btnRestoreFolder" class="hide" name="action" type="submit" value="RestoreFolder"></button>

    <button id="btnTransferFolder" class="hide" name="action" type="submit" value="TransferFolder"></button>

    @Html.HiddenFor(mdl => mdl.objFolderCR.ID, new { @id = "hdnSelectedFolder", @Value = 0 })
    @Html.Hidden("TopLinkID", 0, new { id = "hdnSelectedTopLinkID" });
}

@if (loggedUserRole != Role.RoleName.AccountViewer && loggedUserRole != Role.RoleName.AccountRetoucher)
{
    if (loggedUserRole != Role.RoleName.AccountContributor)
    {
        using (Html.BeginForm("", "Widget", FormMethod.Post, new { @class = "form-vertical dirtyignore", id = "formFolderCR" }))
        {
            @Html.AntiForgeryToken()
            <div id="modalDialogFolderCR" class="modal hide">
                <div class="modal-header">
                    <a href="javascript:void(0);" class="close" data-dismiss="modal" title="@Resources.btnClose" onclick=" ResetModel(); ">&times;</a>
                    <h3 class="create hide">@Resources.lblNew @Resources.lblFolder</h3>
                    <h3 class="rename hide">@Resources.lblEdit @Resources.lblFolderProperties</h3>
                </div>
                <div class="modal-body">
                    @Html.HiddenFor(m => m.objFolderCR.ID, new { @id = "hdnFolderID", @data_val = "false" })
                    @Html.HiddenFor(m => m.objFolderCR.Parent, new { @id = "hdnFolderParent", @data_val = "false" })
                    @Html.HiddenFor(m => m.objFolderCR.IsPrivate, new { @id = "hdnFolderIsPrivate", @data_val = "false" })
                    <div class="control-group">
                        <label class="control-label">@Resources.lblName</label>
                        <div class="controls">
                            @Html.TextBoxFor(m => m.objFolderCR.Name, new { @class = "cancel" })
                            @Html.ValidationMessageFor(m => m.objFolderCR.Name)
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="checkbox">
                            @Html.CheckBoxFor(model => model.objFolderCR.AllCollaboratorsDecisionRequired)
                            @Resources.lblAllCollaboratorsDecisionSetting
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="create hide btn btn-primary" data-loading-text="@Resources.btnSaving" name="action" type="submit" value="CreateFolder">
                        @Resources.btnCreateFolder
                    </button>
                    <button class="rename hide btn btn-primary" data-loading-text="@Resources.btnSaving" name="action" type="submit" value="RenameFolder">
                        @Resources.btnSave
                    </button>
                </div>
            </div>
        }
        using (Html.BeginForm("ModifyPermissions", "Widget", FormMethod.Post, new { @class = "form-vertical dirtyignore", id = "formPermissions" }))
        {
            @Html.AntiForgeryToken()
            //Filled by asynchronous call
        }
    }
    using (Html.BeginForm("SendAndShare", "Widget", FormMethod.Post, new { @class = "form-vertical dirtyignore", id = "formShare" }))
    {
        @Html.AntiForgeryToken()
        //Filled by asynchronous call
    }
}
@using (Html.BeginForm("MoveToFolder", "Widget", FormMethod.Post, new { @class = "form-vertical dirtyignore", id = "formMoveToFolder" }))
{
    @Html.AntiForgeryToken()
    //Filled by asynchronous call
}
@if (ViewBag.ShowCanntDelete)
{
    <script type="text/javascript">
        this.modelDialog = 'cannotDelete';
    </script>
}
<div id="cannotDelete" class="modal hide">
    <div class="modal-header">
        <h3 class="widget-title">@Resources.headerCanntDeleteApproval</h3>
    </div>
    <div class="globaldelete-base modal-body">
        <p>
            <strong>@Html.Raw(Resources.paragraphCanntDeleteApproval1)</strong>
        </p>
        <p>@Html.Raw(Resources.paragraphCanntDeleteApproval2)</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" type="button">@Resources.btnOk</button>
    </div>
</div>


<div id="modalCreateLinkForRetoucher" class="modal hide">
    <div class="modal-header">
        <h3 class="widget-title">
            @Resources.lblLinkForRetoucher
        </h3>
    </div>
    <div class="modal-body">
        <input id="currentFolderUrl" class="input-xlarge" type="text" style="width: 513px!important" />
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" type="reset">@Resources.btnCancel</button>
    </div>
</div>

<div id="modalCreateLink" class="modal hide">
    <div class="modal-header">
        <h3 class="widget-title">
            @Resources.btnCreateLink
        </h3>
    </div>
    <div class="modal-body">
        <input id="folderUrl" class="input-xlarge" type="text" style="width: 513px!important" />
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" type="reset">@Resources.btnCancel</button>
    </div>
</div>

@{
    var folderId = ViewBag.FolderID;
    if (folderId > 0)
    {
        ViewBag.TopLinkID = folderId;
    }
}
<script type="text/javascript">
    var approvalDecisionsUrl = '@Html.Raw(@Url.Action("GetApprovalsDecisions", "Approvals"))';
    var propulateApprovalsGridUrl = '@Html.Raw(@Url.Action("PopulateApprovalsGrid", "Approvals", new { topLinkID = @ViewBag.TopLinkID, page = @ViewBag.Page, folderID = @ViewBag.FolderID, loggedUserRole = @ViewBag.LoggedUserRole, hasAccessToFtp = false, archivedCount = @ViewBag.RecentlyArchivedCount, recycleBinCount = @ViewBag.RecycleBinCount, currentTabCount = @ViewBag.CurrentTabCount, sort = @ViewBag.Sort, sortdir = @ViewBag.SortDir }))';
    var popupateFoldersUrl = '@Html.Raw(@Url.Action("PopulateFoldersAsync", "AppService", new { ActiveFolder = @Model.FolderID, UserID = @Model.LoggedUserID, Parent = '0', userRole = @ViewBag.LoggedUserRole, folderPermissionsAutoInheritanceEnabled = @Model.FolderPermissionsAutoInheritanceEnabled }))';

    var collaboratorDecisionsUrl = '@Url.Action("GetAllCollDecisionSetting")';
    var folderTransferUrl = '@Url.Action("TransferFolder")';
    var getApprovalRetouchersUrl = '@Html.Raw(@Url.Action("GetApprovalsRetouchers", "Approvals"))';
    var getApprovalAnnotationsNotViewedUrl = '@Html.Raw(@Url.Action("GetApprovalsNotViewedAnnotations", "Approvals"))';
    var getVisualIndicatorData = '@Html.Raw(@Url.Action("GetApprovalsVisualBarData", "AppService"))';
    var getSOADIndicatorData = '@Html.Raw(@Url.Action("GetApprovalsSoadData", "AppService"))';
    var getApprovalPhaseDeadlineUrl = '@Html.Raw(@Url.Action("GetApprovalsPhaseDeadline", "Approvals"))';
    var getUserSOADIndicatorData = '@Html.Raw(@Url.Action("GetUserSoadData", "AppService"))';
</script>

@{
    Bundles.Reference("approvals-dashboard");
}

<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.signalR-2.2.1.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/signalr/hubs")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/hub.js?v=3")"></script>
