﻿@model ApprovalsModel
@using GMGColor.Common
@using GMGColor.HtmlHelpers;
@using GMGColor.Resources;
@using GMGColorDAL
@using GMGColorDAL.CustomModels
@{ 
    int tab = int.Parse(TempData["SelectedTab"].ToString());
    Role.RoleName loggedUserRole = ViewBag.LoggedUserRole;
    bool hasAccessToAddJob = loggedUserRole != Role.RoleName.AccountViewer &&
                             loggedUserRole != Role.RoleName.AccountContributor &&
                             loggedUserRole != Role.RoleName.AccountRetoucher;
    int loggedUserId = ViewBag.LoggedUserId;
}
<div class="box-inner">
    <section id="collaborateSidebar">
        <div class="approvals-left-navigation">
            <div class="collaborateSidebarTop">
            <ul class="nav nav-pills nav-stacked nav-colored">
                <li class="@((tab == (int)Utils.ApprovalTab.AllApprovals) ? "active" : string.Empty)" id="topLinkIdAllApprovals">
                    <a href="@(Url.Action("Populate", new { @topLinkID = (int)Utils.ApprovalTab.AllApprovals }))" class="selctedTopLinkId1">
                        <i class="icon-picture"></i>@Resources.lblAllApprovels
                        @if (ViewBag.AllAppCount > 0)
                        {
                            <span class="badge @((tab == (int)Utils.ApprovalTab.AllApprovals) ? "badge-inverse" : string.Empty) pull-right">@ViewBag.AllAppCount</span>
                        }
                    </a>
                </li>
                 <li class="@((tab == (int)Utils.ApprovalTab.MyOpenApprovals) ? "active" : string.Empty)" id="topLinkIdMyopenApprovals">
                    <a href="@(Url.Action("Populate", new { @topLinkID = (int)Utils.ApprovalTab.MyOpenApprovals }))" class="selctedTopLinkId7">
                        <i class="icon-picture"></i>@Resources.lblMyOpenApprovals
                        @if (ViewBag.MyOpenApprovalsCount > 0)
                        {
                            <span class="badge @((tab == (int)Utils.ApprovalTab.MyOpenApprovals) ? "badge-inverse" : string.Empty) pull-right">@ViewBag.MyOpenApprovalsCount</span>
                        }
                    </a>
                </li>
                <li class="@((tab == (int)Utils.ApprovalTab.OverdueApprovals) ? "active" : string.Empty)" id="topLinkIdOverdueApprovals">
                    <a href="@(Url.Action("Populate", new { @topLinkID = (int)Utils.ApprovalTab.OverdueApprovals }))" class="selctedTopLinkId">
                        <i class="icon-calendar"></i>@Resources.lblOpenOverdueApprovals
                        @if (ViewBag.OverdueApprovalsCount > 0)
                        {
                            <span class="badge @((tab == (int)Utils.ApprovalTab.OverdueApprovals) ? "badge-inverse" : string.Empty) pull-right">@ViewBag.OverdueApprovalsCount</span>
                        }
                    </a>
                </li>
                <li class="@((tab == (int)Utils.ApprovalTab.OwnedByMe) ? "active" : string.Empty)">
                    <a href="@(Url.Action("Populate", new { @topLinkID = (int)Utils.ApprovalTab.OwnedByMe }))" class="selctedTopLinkId">
                        <i class="icon-user"></i>@Resources.lblOwnedByMe
                        @if (ViewBag.MyAppCount > 0)
                        {
                            <span class="badge @((tab == (int)Utils.ApprovalTab.OwnedByMe) ? "badge-inverse" : string.Empty) pull-right">@ViewBag.MyAppCount</span>
                        }
                    </a>
                </li>
                <li class="@((tab == (int)Utils.ApprovalTab.SharedWithMe) ? "active" : string.Empty)">
                    <a href="@(Url.Action("Populate", new { @topLinkID = (int)Utils.ApprovalTab.SharedWithMe }))" class="selctedTopLinkId">
                        <i class="icon-retweet"></i>@Resources.lblSharedWithMe
                        @if (ViewBag.SharedAppCount > 0)
                        {
                            <span class="badge @((tab == (int)Utils.ApprovalTab.SharedWithMe) ? "badge-inverse" : string.Empty) pull-right">@ViewBag.SharedAppCount</span>
                        }
                    </a>
                </li>
                <li class="@((tab == (int)Utils.ApprovalTab.RecentlyViewed) ? "active" : string.Empty)">
                    <a href="@(Url.Action("Populate", new { @topLinkID = (int)Utils.ApprovalTab.RecentlyViewed }))" class="selctedTopLinkId">
                        <i class="icon-eye-open"></i>@Resources.lblRecentlyViewed
                        @if (ViewBag.RecentlyViewedCount > 0)
                        {
                            <span class="badge @((tab == (int)Utils.ApprovalTab.RecentlyViewed) ? "badge-inverse" : string.Empty) pull-right">@ViewBag.RecentlyViewedCount</span>
                        }
                    </a>
                </li>
                @if (loggedUserRole != Role.RoleName.AccountRetoucher)
                {
                    <li class="@((tab == (int)Utils.ApprovalTab.Archive_PastTense) ? "active" : string.Empty) recentlyArchived">
                        <a href="@(Url.Action("Populate", new { @topLinkID = (int)Utils.ApprovalTab.Archive_PastTense }))" class="selctedTopLinkId">
                            <i class="icon-briefcase"></i>@Resources.lblRecentlyArchived
                            @if (ViewBag.RecentlyArchivedCount > 0)
                            {
                                <span class="badge @((tab == (int)Utils.ApprovalTab.Archive_PastTense) ? "badge-inverse" : string.Empty) pull-right">@ViewBag.RecentlyArchivedCount</span>
                            }
                        </a>
                    </li>
                }
                <li class="@((tab == (int)Utils.ApprovalTab.SubstitutedApprovals) ? "active" : string.Empty)">
                    <a href="@(Url.Action("Populate", new { @topLinkID = (int)Utils.ApprovalTab.SubstitutedApprovals }))" class="selctedTopLinkId8">
                        <i class="icon-exchange"></i>@Resources.lblOutOfOfficeApprovals
                        @if (ViewBag.SubstitutedApprovalsCount > 0)
                        {
                            <span class="badge @((tab == (int)Utils.ApprovalTab.SubstitutedApprovals) ? "badge-inverse" : string.Empty) pull-right">@ViewBag.SubstitutedApprovalsCount</span>
                        }
                    </a>
                </li>
            </ul>
            
            <ul id="customSearch" class="nav nav-pills nav-stacked nav-colored">
              
            </ul>
           
            <ul class="nav nav-pills nav-stacked nav-colored">
                @if (loggedUserRole != GMGColorDAL.Role.RoleName.AccountViewer && loggedUserRole != Role.RoleName.AccountRetoucher)
                {
                    <li class="@((tab == (int)Utils.ApprovalTab.RecycleBin) ? "active" : string.Empty)">
                        <a href="@(Url.Action("Populate", new { @topLinkID = (int)Utils.ApprovalTab.RecycleBin }))" class="selctedTopLinkId">
                            <i class="icon-trash"></i>@Resources.lblRecycleBin
                            @if (ViewBag.RecycleBinCount > 0)
                            {
                                <span class="badge @((tab == (int)Utils.ApprovalTab.RecycleBin) ? "badge-inverse" : string.Empty) pull-right">@ViewBag.RecycleBinCount</span>
                            }
                        </a>
                    </li>
                }
            </ul>
            </div>
            @if (!GMGColorConfiguration.AppConfiguration.IsHideFolderFunctionality && (tab != -5))
            {                   
                <div class="sidenav-header">
                    @if (hasAccessToAddJob)
                    {
                        <button class="folder-action btn btn-primary pull-right btn-mini" action="CreateFolder" folder="0" private="False">
                            <i class="icon-plus-sign"></i>
                        </button>
                    }
                    <h3>@Resources.lblFolders</h3>
                </div>
                <div class="scrollable well well-small" id="approvalsFoldersSideBar">
                    <ul class="foldertree" id="folders">
                        <div id="loadingFoldersTree" style="text-align:center;">
                            <label>@Resources.lblLoading</label>
                            @Html.Image("foldersTreeLoader", "~/Content/img/loading-icon.gif", @Resources.lblLoading, new { @style = "margin:auto;" }, 50, 50)
                        </div>
                    </ul>
                </div>
            }
            <div id="sidebarPin" class="pin-alignment"  user="@(loggedUserId)">
                <i class="icon-pushpin pull-right" style="cursor: pointer"  onclick="changePinState();"></i>
            </div>
        </div>
    </section>
</div>

<script type="text/javascript">
    $('.selctedTopLinkId1').on('click', function () {
        var Id = -1;
        localStorage.setItem('dashboardTopLinkID', parseInt(Id));
    });
    $('.selctedTopLinkId7').on('click', function () {
        var Id = -7;
        localStorage.setItem('dashboardTopLinkID', parseInt(Id));
    });
    $('.selctedTopLinkId').on('click', function () {
        localStorage.setItem('dashboardTopLinkID', null);
    });
</script>
