﻿
@model List<ApprovalUserActivityReportViewData>
@using GMGColor.Resources;
@using GMGColorDAL.Common
@using GMGColorDAL.CustomModels
@{
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
    Bundles.Reference("tableHTMLExport");
}

@if (ViewBag.IsfromProjectFolder)
{
    <p class="breadcrumb">
        <a href="@Url.Action("ProjectFolderApprovalsIndex", "ProjectFolders")">@Resources.lblApprovalPlural</a>
    </p>
}
else
{
    <p class="breadcrumb">
        <a href="Index">@Resources.lblApprovalPlural</a>
    </p>
}


<div class="widget">
    <div class="widget-header">
            <ul class="widget-links">
                <li><a id="download" class="export-btn download btn btn-primary" fileName= @ViewBag.JobName >@Resources.lblDownload</a></li>
            </ul>
        <h3>User Activity Report - @ViewBag.JobName  </h3>
    </div>
    <div id="dvColorProofInstanaces" class="tab-pane">

        @{ var grid = new WebGrid(Model, canPage: false, canSort: false); }
        @{
            var gridColumns = new List<WebGridColumn>();

            gridColumns.Add(grid.Column("Collaborator", format: @<text>@item.FullName</text>));
            gridColumns.Add(grid.Column("Username", format: @<text>@item.UserName</text>));
            gridColumns.Add(grid.Column("File Name", format: @<text>@item.FileName</text>));
            gridColumns.Add(grid.Column("Decision", format: @<text>@item.Decision</text>));
            gridColumns.Add(grid.Column("Version", format: @<text> V @item.Version</text>));
            if (ViewBag.IsHasPhase)
            {
                gridColumns.Add(grid.Column("Phase", format: @<text>@item.Phase</text>));
            }
            gridColumns.Add(grid.Column("AnnotationCount", format: @<text>@item.AnnotationCount</text>));
            gridColumns.Add(grid.Column("ReplyCount", format: @<text>@item.AnnotationReplayCount</text>));
        }
        @grid.GetHtml(tableStyle: "table table-striped table-bordered table-responsive", columns: grid.Columns(gridColumns.ToArray()))
    </div>
</div>

<!-- Table HTML Export Js -->

<script>
$(document).ready(function () {
    $(".export-btn").click(function () {
        var fileName = $('#download').attr("fileName");
        $(".table-responsive").tableHTMLExport({
            type: 'csv',
            filename: 'UserActivityReport_' + fileName + '.csv',
        });
    });
});
</script>



