﻿@model GMG.CoZone.Settings.UI.ViewModels.SsoViewModel
@using GMGColor.Resources;
@using GMGColor.FileUpload;

<div class="ssoSettings" id="samlSettings" style="display:none">
    @Html.HiddenFor(model => model.Saml.CertificateName)
    <div class="control-group">
        <label class="control-label">@Resources.lblEntityId</label>
        <div class="controls">
            @Html.TextBoxFor(m => m.Saml.EntityId, new { @class = "largeinputs" })
            @Html.ValidationMessageFor(m => m.Saml.EntityId)
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">@Resources.lblIdpIssuerUrl</label>
        <div class="controls">
            @Html.TextBoxFor(m => m.Saml.IdpIssuerUrl, new { @class = "largeinputs" })
            @Html.ValidationMessageFor(m => m.Saml.IdpIssuerUrl)
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">@Resources.lblCertificate</label>
        <div id="fileUploadContainer">
            @{
                var upCertFile = new FileUploadModel(ViewBag.AccountRegion);
                upCertFile.Key = 1;
                upCertFile.AcceptFileTypes = "/(crt)$/i";
                upCertFile.DispalyName = !string.IsNullOrEmpty(Model.Saml.CertificateName) ? Model.Saml.CertificateName : string.Empty;
                upCertFile.HelpBlockHtml = Resources.lblCertificateHelp + ": <strong>.crt</strong>&nbsp;</span>";
            }
            @Html.Partial("FileUpload", upCertFile)
            @Html.Partial("FileUploadTemplates", FileUploadModel.FileUploadTemplates((string)ViewBag.PathToTempFolder, (string)ViewBag.AccountRegion))
        </div>
    </div>
    <div class="alert" id="permisionsWarning">@Resources.ssoCertificateWarning</div>
</div>