﻿@using GMGColor.Resources
@using GMG.CoZone.Common.Module.Enums
@model SsoOptionsEnum


<div class="form-switch">
    <div class="input-append">
        <button id="SwitcTohAuth0" class="btn btn-primary" name="action" value="SwitcTohAuth0" onclick="javascript:void(0);" disabled=@(Model == SsoOptionsEnum.Auth0 ? true : false)>@Resources.lblSsoAuth0</button>
        <button id="SwitchToSaml" class="btn btn-primary" name="action" value="SwitchToSaml" onclick="javascript:void(0);" disabled="@(Model == SsoOptionsEnum.Auth0 ? false : true)">@Resources.lblSsoSaml</button>
    </div>
</div>
