﻿@model GMG.CoZone.Settings.UI.ViewModels.SsoViewModel
@using GMGColor.Resources;

<div class="ssoSettings" id="auth0Settings" style="display:none">
    <div class="control-group">
        <label class="control-label">@Resources.lblSsoAuth0Domain</label>
        <div class="controls">
            @Html.TextBoxFor(m => m.Auth0.Domain, new { @class = "largeinputs" })
            @Html.ValidationMessageFor(m => m.Auth0.Domain)
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">@Resources.lblSsoAuth0ClientId</label>
        <div class="controls">
            @Html.TextBoxFor(m => m.Auth0.ClientId, new { @class = "largeinputs" })
            @Html.ValidationMessageFor(m => m.Auth0.ClientId)
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">@Resources.lblSsoAuth0ClientSecrect</label>
        <div class="controls">
            @Html.TextBoxFor(m => m.Auth0.ClientSecret, new { @class = "largeinputs secret" })
            @Html.ValidationMessageFor(m => m.Auth0.ClientSecret)
            <label class="showSecret">
                <input id="showSecretChk" type="checkbox" value="" disabled>@Resources.lblSsoAuth0ShowSecret
            </label>
        </div>
    </div>
</div>
