﻿@using GMGColor.Resources;
@using GMGColorDAL

@{
    GMGColorBusinessLogic.DbContextBL context = HttpContext.Current.Items[GMGColorDAL.DALUtils.DatabaseContext] as GMGColorBusinessLogic.DbContextBL;
    Layout = null;
    GMGColorDAL.Account objAccount = ViewBag.LoggedAccount;

    string colorTheme = "default";
    if (objAccount != null)
    {
        var colorScheme = (Theme.ColorScheme)ViewBag.LoggedAccountTheme;
        switch (colorScheme)
        {
            case GMGColorDAL.Theme.ColorScheme.Splash:
                colorTheme = "pink";
                break;
            case GMGColorDAL.Theme.ColorScheme.Juicy:
                colorTheme = "green";
                break;
            case GMGColorDAL.Theme.ColorScheme.Fresh:
                colorTheme = "blue";
                break;
            case GMGColorDAL.Theme.ColorScheme.Moody:
                colorTheme = "white";
                break;
            case GMGColorDAL.Theme.ColorScheme.Default:
            default:
                colorTheme = "default";
                break;
        }
    }
}
<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta name="author" content="GMG coZone" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.SiteName</title>
    <link href="@Url.Content("~/Content/css/styles-basic.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/css/styles-responsive.css")" rel="stylesheet">

    @switch (colorTheme)
    {
        case "green":
        {
            <link rel="stylesheet/less" type="text/less" href="/Content/less/themes/theme-green.less" />
            break;
        }
        case "pink":
        {
            <link rel="stylesheet/less" type="text/less" href="/Content/less/themes/theme-pink.less" />
            break;
        }
        case "blue":
        {
            <link rel="stylesheet/less" type="text/less" href="/Content/less/themes/theme-blue.less" />
            break;
        }
        case "white":
        {
            <link rel="stylesheet/less" type="text/less" href="/Content/less/themes/theme-white.less" />
            break;
        }
        default:
        {
            <link rel="stylesheet/less" type="text/less" href="/Content/less/themes/theme-default.less" />
            break;
        }
        
    }
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
    <script src="@Url.Content("//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")" type="text/javascript"></script>
    <script type="text/javascript">
        if (typeof jQuery === 'undefined') {
            document.write(unescape('%3Cscript%20src%3D%22/Scripts/jquery-1.8.3.min.js%22%3E%3C/script%3E'));
        }
    </script>
    <script src="@Url.Content("~/Scripts/modernizr-2.5.3-respond-1.1.0.min.js")"></script>
    <script src="/Content/js/less/less.min.js" type="text/javascript"></script>
</head>
<body>
    <!--[if lt IE 7]><div class="alert alert-block chromeframe"><a data-dismiss="alert" class="close">&times;</a> 
	<strong>Your browser is <em>ancient!</em></strong> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</div><![endif]-->
    <div id="centered-column">
        <div class="valignCol">
            <div class="login-container">
                <div class="row-fluid">
                    <div class="span12">
                        <div class="row-fluid">
                            <div class="span8">
                                <div id="login-banner">
                                    <div class="logo">
                                        <img alt="logo" src="@GMGColorDAL.Account.GetLogoPath(objAccount.ID, GMGColorDAL.Account.LogoType.LoginLogo, context)" />
                                    </div>
                                    <p>
                                        @Html.Raw(@ViewBag.SharedMessage)</p>
                                    <a class="btn btn-primary" type="submit" data-loading-text="@Resources.btnSigningIn" href="@Url.Action("Login", "Auth")">
                                        @Resources.lblSignIn
                                    </a>
                                </div>
                                <!--/login-banner -->
                            </div>
                        </div>
                        <!--/row-fluid -->
                    </div>
                    <!--/span12 -->
                </div>
                <!--/row-fluid -->
            </div>
            <!--/activate-container-->
            @if (!objAccount.IsRemoveAllGMGCollaborateBranding)
            {
                <div id="gmg-tab">
                    <a target="_blank" href="javascript:void(0);"></a>
                </div>
            }
        </div>
    </div>
    <!-- Scripts -->
    @{
        Bundles.Reference("bootstrap");
    }
    @Bundles.RenderScripts()
</body>
</html>
