﻿@model GMGColorDAL.CustomModels.XMLEngine.XMLTemplateModel
@using GMGColor.Resources;
@using GMGColor.HtmlHelpers;
@using GMGColorDAL.CustomModels;
@{    
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
    Bundles.Reference("UploadEngineNewXMLTemplate");
}
<p class="breadcrumb">
    <a href="@Url.Action("UploadEngineTemplates", new { type = Enums.UploadEngineTemplatesType.XMLTemplates, page = Model.page })">@Resources.lblXMLTemplates</a>
</p>
<div class="widget">
    <div class="widget-header">
        <h3>@ViewBag.Header @*<small>@(Model.SelectedCustomFields != null ? Resources.lblEditXMLTemplate : Resources.lblNewXMLTemplate)</small>*@</h3>
    </div>
    <!-- /widget-header -->
    <div class="widget-content">
        @Html.ValidationSummary(true)
        @using (Ajax.BeginForm("SaveXMLTemplatesChanges", "Settings", new AjaxOptions { HttpMethod = "POST", OnComplete = "saveCompleted", LoadingElementId = "imgSavingLoader" }, new { @class = "form-horizontal", id = "formMain" }))
        {
            @Html.AntiForgeryToken()
             @Html.HiddenFor(m => m.ID, new { @data_val = "false" })
             @Html.HiddenFor(m => m.page, new { @data_val = "false" })
             <legend>@Resources.lblDetails</legend>
           <div class="control-group">
                <label class="control-label required">@Resources.lblName</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.Name)
                    @Html.ValidationMessageFor(m => m.Name)
                </div>
            </div>
            <div>
                <legend>@Resources.lblCustomXMLFields</legend>
                <table id="XMLCustomFieldsTable" class="table table-striped table-bordered span11">
                    <thead>
                        <tr>
                            <th class = "span3" scope="col">@Resources.lblJobField</th>
                            <th class = "span3" scope="col">@Resources.lblXPath</th>
                        </tr>
                    </thead>
                    <tbody>
                    @if (Model.SelectedCustomFields != null)
                    {
                        for (int row = 0; row < Model.SelectedCustomFields.Count; row++)
                        {
                            <tr id="CustomField-@(row)">
                                 @Html.HiddenFor(model => model.SelectedCustomFields[row].ID, new { @data_val = "false" })
                                <td class="span5">
                                    <label id='defaultNodeName_@(row)'>@Model.SelectedCustomFields[row].DefaultXMLTemplateNodeName</label>
                                   <input data-val='false' id='defaultNodeID_@(row)' name='SelectedCustomFields[@(row)].DefaultXMLTemplateID' type='hidden' value='@(Model.SelectedCustomFields[row].DefaultXMLTemplateID)'>
                                   <input data-val='false' id='customFieldIsDeleted_@(row)' name='SelectedCustomFields[@(row)].IsDeleted' type='hidden' value='false'>
                                </td>
                                <td class="span8">
                                    @Html.TextBoxFor(model => model.SelectedCustomFields[row].XPath, new { @class = "span7"})
                                    @Html.ValidationMessageFor(model => model.SelectedCustomFields[row].XPath)
                                </td>
                                <td class="span1">
                                    <button class="btn btn-danger pull-right" id="delete-CustomField-@(row)" onclick="deleteRow(@(row)); return false;" ><i class="icon-white icon-trash"></i></button>
                                </td>
                            </tr>
                        }
                    }
                    </tbody>
                </table>
            </div>
            <div class= "pull-right" style="margin-bottom:10px;">
                @{
                Dictionary<string, object> selectionDropdownHtmlAttributes = new Dictionary<string, object>();
                selectionDropdownHtmlAttributes.Add("id", "SelectionDropdown");
                if (ViewBag.AllFieldsSelected)
                {
                    selectionDropdownHtmlAttributes.Add("class", "hide");
                }
                 }
                @Html.DropDownList("SelectionDropdown", new SelectList(Model.DefaultFieldsList, "ID", "NodeName"), @selectionDropdownHtmlAttributes)
                @Html.DropDownList("XPathDropdown", new SelectList(Model.AllDefaultTemplatesList, "ID", "XPath"), new { @id = "XPathDropdown", @class="hide" })
                <button id="btnNewCustomField" class="btn" onclick="AddNewCustomField(GenerateNewCustomFieldKey(),'@Resources.errTooManyCharactors', '@Resources.reqCustomNodeName', '@Resources.reqXPath'); return false;" @(ViewBag.AllFieldsSelected ? "style=display:none;" : "")><i class="icon-plus"></i> @Resources.lblAdd</button>
            </div>
            <div class="form-actions clearboth">
            <button id="btnXMLTemplatesSaveChanges" class="btn btn-primary" type="submit" name="action" value="SaveXMLTemplates" data-text="@Resources.btnSaveChanges" data-loading-text="@Resources.btnSaving">  @Resources.btnSaveChanges</button>
                @Html.Image("imgSavingLoader", "~/Content/img/loading-icon.gif", @Resources.lblLoading, new { @class = "hide" }, 30, 30)
            </div>
        }
    </div>
    <!-- /widget-content -->
</div>
<!-- /widget -->

