﻿@model ColorProofSettings.ColorProofInstances
@using GMGColor.Common;
@using GMGColor.Resources;
@using GMGColorBusinessLogic
@using GMGColorDAL
@using GMGColorDAL.CustomModels
@{
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";

    bool isEditMode = Model.ColorProofInstance != null && Model.ColorProofInstance.ID > 0;
    bool isPairingLogin = !isEditMode || Model.ColorProofInstance.PairingCode != null;
}

<p class="breadcrumb">
    <a href="@Url.Action("DeliverSettings", "Settings", new { type = Enums.DeliverSettingsType.ColorProofInstances, Model.page })">@Resources.lblColorProofSwitchInstances</a>
</p>

@using (Html.BeginForm("AddEditColorProofInstance", "Settings", new { type = Enums.DeliverSettingsType.ColorProofInstances, Model.page }, FormMethod.Post, new { id = "formUpdateColorProofInstance", @class = "form-horizontal", autocomplete = "off" }))
{
    @Html.AntiForgeryToken()
    <div class="widget">
        <div class="widget-header">
            <h3>@(isEditMode ? Resources.lblColorProofEditInstances : Resources.btnAddNewColorProofInstance)</h3>
        </div>
        <!-- /widget-header -->
        <div class="widget-content">
            @Html.ValidationSummary(true)
            @Html.HiddenFor(m => m.ColorProofInstance.ID)
            @Html.HiddenFor(m => m.page, new { @data_val = false})
            <div class="control-group">
                <label class="control-label required">@Resources.lblColorProofInstanceConnectionDetailsCoZoneName</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.ColorProofInstance.CoZoneName)
                    @Html.ValidationMessageFor(m => m.ColorProofInstance.CoZoneName)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label required">@Resources.lblColorProofInstanceAdminName</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.ColorProofInstance.AdminName)
                    @Html.ValidationMessageFor(m => m.ColorProofInstance.AdminName)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label required">@Resources.lblColorProofInstanceAdminEmail</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.ColorProofInstance.Email)
                    @Html.ValidationMessageFor(m => m.ColorProofInstance.Email)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label required">@Resources.lblColorProofInstanceLocation</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.ColorProofInstance.Address)
                    @Html.ValidationMessageFor(m => m.ColorProofInstance.Address)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">@Resources.lblUsePairing</label>
                <div class="controls">
                    <div class="input-append">
                        <button id="btnOn" type="button" class="btn">@Resources.lblOn</button>
                        <button id="btnOff" type="button" class="btn" >@Resources.lblOff</button>
                    </div>
                    <div class="input-append">
                        <button id="newPairingCode" type="button" class="btn" onclick="changePairingCode()"><i class="icon-cog" style="padding-right: 19px;"></i>New Code</button>
                    </div>
                </div>
                @Html.HiddenFor(m => m.ColorProofInstance.IsUserPassLogin, new { @id = "IsUserPassLogin", @data_val = "false" })
            </div>
            <div id="usernamePwdFields">
                @if (!isEditMode)
                {
                    <div class="control-group">
                        <label class="control-label required">@Resources.lblColorProofInstanceConnectionDetailsUsername</label>
                        <div class="controls">
                            @Html.TextBoxFor(m => m.ColorProofInstance.ColorProofUsername, new { @class = "valid-user" })
                            @Html.ValidationMessageFor(m => m.ColorProofInstance.ColorProofUsername)
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label required">@Resources.lblColorProofInstanceConnectionDetailsPassword</label>
                        <div class="controls">
                            @Html.PasswordFor(m => m.ColorProofInstance.ColorProofPassword, new { @class = "valid-password" })
                            @Html.ValidationMessageFor(m => m.ColorProofInstance.ColorProofPassword)
                        </div>
                    </div>
                }
                else
                {
                    <div id="username-login" class="control-group">
                        <label class="control-label">@Resources.lblUserName</label>
                        <div class="controls">
                            @Html.TextBoxFor(m => m.ColorProofInstance.ColorProofUsername, new { @id = "Username", @class = "valid-user", @disabled = "disabled" })
                            @Html.ValidationMessageFor(m => m.ColorProofInstance.ColorProofUsername)
                            <a href="#" id="login-change">@Resources.lblChangeLogin</a>
                        </div>
                    </div>
                    <div id="password-login" class="control-group" style="display: none;">
                        <label class="control-label">@Resources.lblPassword</label>
                        <div class="controls">
                            @Html.PasswordFor(m => m.ColorProofInstance.ColorProofPassword, new { @id = "Password", @class = "valid-password" })
                            @Html.ValidationMessageFor(m => m.ColorProofInstance.ColorProofPassword)
                        </div>
                    </div>
                    @Html.HiddenFor(m => m.ColorProofInstance.IsChangeLogin, new { @id = "IsChangeLogin", @data_val = "false" })
                    @Html.HiddenFor(m => m.ColorProofInstance.OldUserName, new { @id = "OldUserName", @data_val = "false" })
                }
            </div>
            <div id="pairingFields" >
                <div class="control-group">
                    <label class="control-label">@Resources.lblColorProofInstancePaitingCode</label>
                    <div class="controls">
                        @Html.TextBoxFor(m => m.ColorProofInstance.PairingCode, new Dictionary<string, object>() { { "readonly", "true" } })
                        @Html.ValidationMessageFor(m => m.ColorProofInstance.PairingCode)
                        @Html.Hidden("PairingCodeRegion", GMGColorConfiguration.AppConfiguration.ColorProofPairingCodeRegion, new { @data_val = "false" })
                        @if (!isEditMode)
                        {
                            <p class="help-block">@Resources.lblColorProofInstancePaitingCodeExpirationTimeout</p>
                        }
                    </div>
                </div>
                @if (isEditMode)
                {
                    <div class="control-group">
                        <label class="control-label">@Resources.lblPairingCodeStatus</label>
                        <div class="controls">
                            <input type="text" readonly="readonly" disabled="disabled" value="@Html.Raw(SettingsBL.GetPairingCodeStatus(Model.ColorProofInstance.ManualStateKey,
                                                                                                  Model.ColorProofInstance.PairingCode, Model.ColorProofInstance.PairingCodeExpirationDate))"/>
                        </div>
                    </div>
                }
            </div>
            @if (isEditMode)
            {
                <div class="control-group">
                    <label class="control-label">@Resources.lblColorProofInstanceConnectionDetailsVersion</label>
                    <div class="controls">
                        @Html.TextBoxFor(m => m.ColorProofInstance.Version, new Dictionary<string, object>() { { "readonly", "true" }, { "disabled", "disabled" } })
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">@Resources.lblColorProofInstanceConnectionDetailsSerialNumber</label>
                    <div class="controls">
                        @Html.TextBoxFor(m => m.ColorProofInstance.SerialNumber, new Dictionary<string, object>() { { "readonly", "true" }, { "disabled", "disabled" } })
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">@Resources.lblColorProofInstanceConnectionDetailsManualStats</label>
                    <div class="controls">
                        <input type="text" readonly="readonly" disabled="disabled" value="@Html.Raw(SettingsBL.GetCPConnectionStatus(Model.ColorProofInstance.ManualStateKey, Model.ColorProofInstance.IsOnline,
                                                                                              Model.ColorProofInstance.PairingCode, Model.ColorProofInstance.PairingCodeExpirationDate, true))"/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">@Resources.lblColorProofInstanceConnectionDetailsLastSeen</label>
                    <div class="controls">
                        <input type="text" readonly="readonly" disabled="disabled" value="@Html.Raw(Model.ColorProofInstance.LastSeen.GetValueOrDefault() > 0 ?
                            Utils.GetDateTimeFromTicks(Model.ColorProofInstance.LastSeen.GetValueOrDefault()).AddMinutes(Model.TimezoneOffset * (-1)).ToString("dd.MM.yyyy HH:mm:ss") : "")"/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">@Resources.lblStatus</label>
                    <div class="controls">
                        <input type="text" readonly="readonly" disabled="disabled" value="@Html.Raw(GetStateLabel(Model.ColorProofInstance.ManualStateKey))"/>
                    </div>
                </div>
            }
            <div class="form-actions">
                @if (isEditMode)
                {
                    if (Model.ColorProofInstance.ManualStateKey == (int)GMGColorDAL.ColorProofInstance.ColorProofInstanceStateEnum.Stopped || Model.ColorProofInstance.ManualStateKey == (int)GMGColorDAL.ColorProofInstance.ColorProofInstanceStateEnum.Ready)
                    {
                        <a class="btn btn-primary" type="button" href="@Url.Action("ActivateColorProofInstance", new { Model.ColorProofInstance.ID, Model.page })" data-form-method="post">@Resources.btnActivate</a>
                    }
                }
                <button class="btn btn-primary" type="submit" >@(isEditMode ? Resources.btnSaveChanges : Resources.btnSave)</button>
            </div>
        </div>
        <!-- /widget-content -->
    </div>
    <!-- /widget -->
}

@functions{
    private string GetStateLabel(int stateKey)
    {
        string returnValue = string.Empty;
        switch ((GMGColorDAL.ColorProofInstance.ColorProofInstanceStateEnum)stateKey)
        {
            case GMGColorDAL.ColorProofInstance.ColorProofInstanceStateEnum.Running:
                {
                    returnValue = Resources.lblColorProofInstancesManualStatsRunning;
                    break;
                }
            case GMGColorDAL.ColorProofInstance.ColorProofInstanceStateEnum.Ready:
                {
                    returnValue = Resources.lblColorProofInstancesManualStatsReady;
                    break;
                }
            case GMGColorDAL.ColorProofInstance.ColorProofInstanceStateEnum.Pending:
                {
                    returnValue = Resources.lblColorProofInstancesManualStatsPending;
                    break;
                }
            case GMGColorDAL.ColorProofInstance.ColorProofInstanceStateEnum.Stopped:
                {
                    returnValue = Resources.lblColorProofInstancesManualStatsStopped;
                    break;
                }
        }
        return returnValue;
    }

}

@section PageScript 
{
    <script type="text/javascript">
        $(document).ready(function() {
            if ('@isPairingLogin' === 'True') {
                //Show Pairing code fields 
                $('#btnOn').trigger('click');
            } else {
                // Show password and user fields
                $('#btnOff').trigger('click');
            }

            $.validator.addMethod("userRequired", $.validator.methods.required, '@Resources.reqColorProofUsernameRequired');
            $.validator.addMethod("passwordRequired", $.validator.methods.required, '@Resources.reqColorProofPasswordRequired');
            // alias maxlength, too
            $.validator.addMethod("Maxlength", $.validator.methods.maxlength, '@Resources.errTooManyCharactors');
        });


        $('#btnOn').on('click', function() {
            $(this).attr('disabled', true);
            $('#btnOff').attr('disabled', false);
            $('#pairingFields').show();
            $('#usernamePwdFields').hide();
            $('#ColorProofInstance_UsePairing').val(true);

            if ('@isEditMode' === 'False') {
                $('#ColorProofInstance_ColorProofPassword').val('');
                $('#ColorProofInstance_ColorProofUsername').val('');
                $('#newPairingCode').css('visibility', 'hidden');
            } else {
                $('#newPairingCode').css('visibility', 'visible');
                //Generate Pairing code for edit mode when changing from user/pass to pairing and pairingcode is null
                if ($('#ColorProofInstance_PairingCode').val() == '') {
                    changePairingCode();
                }
            }

            $.validator.addClassRules("valid-user", { userRequired: false });
            $.validator.addClassRules("valid-password", { passwordRequired: false });
            $("#IsUserPassLogin").val(false);
        });

        $('#btnOff').on('click', function() {
            $(this).attr('disabled', true);
            $('#btnOn').attr('disabled', false);
            $('#usernamePwdFields').show();
            $('#pairingFields').hide();
            $('#newPairingCode').css('visibility', 'hidden');
            $('#ColorProofInstance_UsePairing').val(false);

            // combine the rules for both fileds, including the parameter for maxlength
            $.validator.addClassRules("valid-user", { userRequired: true, Maxlength: 64 });

            if ('@isEditMode' === 'True' && $("#password-login").is(':hidden')) {
                //remove validation for edit mode when change login option is not selected
                $.validator.addClassRules("valid-password", { passwordRequired: false });
            } else {
                $.validator.addClassRules("valid-password", { passwordRequired: true, Maxlength: 64 });
            }
            $("#IsUserPassLogin").val(true);
        });

        $('#login-change').click(function() {
            var isVisible = $('#password-login').is(':visible');

            if (isVisible) {
                $("#username-login :input").prop('disabled', true);
                $("#password-login").hide();
                $("#username-login a:last").text('@Resources.lblChangeLogin');
                $("#IsChangeLogin").val(false);
                $('#Username').val($('#OldUserName').val());

                //check whether the username field is displaying the error message and remove it if cancel button was pressed
                if ($("#Username").valid() !== true) {
                    $.validator.removeClassRules("valid-user");
                    $.validator.removeClassRules("valid-password");
                }

                $('#Password').val('');
                $.validator.addClassRules("valid-password", { passwordRequired: false });
            } else {
                $("#username-login :input").prop('disabled', false);
                $("#password-login").show();
                $("#username-login a:last").text('@Resources.btnDeliverJobCancel');
                $("#IsChangeLogin").val(true);
                $.validator.addClassRules("valid-password", { passwordRequired: true, Maxlength: 64 });
            }
        });

        function changePairingCode() {
            $('#newPairingCode').blur();
            //Generate random number with fixed length = 6
            var paringCode = Math.floor(Math.random() * 89999 + 10000);
            $('#ColorProofInstance_PairingCode').val($('#PairingCodeRegion').val() + paringCode);
        }
    </script>
}