﻿@model ColorProofSettings.ColorProofWorkflow
@using GMGColor.Resources;
@using GMGColorDAL.CustomModels
@{    
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
    bool isNotOwner = Model.SelectedWorkflow != null && ViewBag.IsWorkflowShared && !ViewBag.IsFromCurrentAccount;
    bool? isCPWorkflowActive = ViewBag.IsCPWorkflowActivated;
}
<p class="breadcrumb">
    <a href="@Url.Action("DeliverSettings", "Settings", new { type = Enums.DeliverSettingsType.ColorProofWorkflows, Model.page })">@Resources.lblColorProofSwitchWorkflows</a>
</p>
 @if (Model != null)
 {
     using (Html.BeginForm("", "Settings", FormMethod.Post, new { id = "formUpdateColorProofInstance", @class = "form-horizontal", autocomplete = "off" }))
     {
        @Html.AntiForgeryToken()
         <div class="widget">
             <div class="widget-header">
                 <h3>@(Model.SelectedWorkflow != null ? Resources.lblColorProofEditWorkflows : Resources.btnAddNewColorProofWorkflow)</h3>
             </div>
             <!-- /widget-header -->
             <div class="widget-content">
                 <div class="pages-ctrl-left">
                     <legend>@Resources.lblColorProofWorkflowConnectioDetails</legend>
                     @Html.ValidationSummary(true)
                     @Html.HiddenFor(m => m.ID)
                     <div class="control-group">
                         <label class="control-label required">@Resources.lblColorProofWorkflowName</label>
                         <div class="controls">
                             @Html.TextBoxFor(m => m.Name, isNotOwner ? new Dictionary<string, object>() { { "disabled", "disabled" } } : new Dictionary<string, object>())
                             @Html.ValidationMessageFor(m => m.Name)
                         </div>
                     </div>
                     <div class="control-group">
                         <label class="control-label required">@Resources.lblColorProofRegistration</label>
                         <div class="controls">
                             @Html.DropDownListFor(m => m.SelectedCPServerId, new SelectList(Model.ListServers, "ID", "SystemName"), Resources.lblDeliverSelectAColorProofInstance, Model.SelectedWorkflow != null ? new Dictionary<string, object>() { { "disabled", "disabled" } } : new Dictionary<string, object>())
                             @Html.ValidationMessageFor(m => m.SelectedCPServerId)
                         </div>
                     </div>
                     <div class="control-group">
                         <label class="control-label required">@Resources.lblColorProofPublishedWorkflow</label>
                         <div class="controls">
                             @Html.DropDownListFor(m => m.SelectedCPWorkflowId, new SelectList(Model.ListWorkflows, "ID", "Name"), Resources.lblDeliverSelectAColorProofWorkflow, Model.SelectedWorkflow != null ? new Dictionary<string, object>() { { "disabled", "disabled" } } : new Dictionary<string, object>())
                             @Html.ValidationMessageFor(m => m.SelectedCPWorkflowId)
                         </div>
                     </div>
                     <div class="control-group">
                         <label class="control-label required">@Resources.lblColorProofWorkflowStatus</label>
                         <div class="controls">
                             @Html.EditorFor(m => m.IsAvailable, "NullableBool", new { TrueText = Resources.lblActive, FalseText = Resources.lblInactive, IsDisabled = isNotOwner || ( Model.SelectedWorkflow != null && !isCPWorkflowActive.GetValueOrDefault()) })
                             @Html.ValidationMessageFor(m => m.IsAvailable)
                         </div>
                     </div>
                     <div class="control-group">
                         <label class="control-label">@Resources.lblColorProofWorkflowProofStandard</label>
                         <div class="controls">
                             @Html.TextBoxFor(m => m.ProofStandard, new Dictionary<string, object>() { { "readonly", "true" }, { "disabled", "disabled" } })
                         </div>
                     </div>
                     <div class="control-group">
                         <label class="control-label">@Resources.lblColorProofMaximumPaper</label>
                         <div class="controls">
                             @Html.TextBoxFor(m => m.MaximumUsablePaperWidth, new Dictionary<string, object>() { { "readonly", "true" }, { "disabled", "disabled" } })
                         </div>
                     </div>
                     <div class="control-group">
                         <label class="control-label">@Resources.lblColorProofControlSupport</label>
                         <div class="controls">
                             @(Model.SelectedWorkflow == null ? Html.TextBoxFor(m => m.IsInlineProofVerificationSupported, new Dictionary<string, object>() {{"readonly", "true"}, {"disabled", "disabled"}}) : Html.TextBoxFor(m => m.IsInlineProofVerificationSupported, new Dictionary<string, object>() {{"readonly", "true"}, {"disabled", "disabled"}, {"value", @Html.Raw(Model.IsInlineProofVerificationSupported ? Resources.lblColorProofWorkflowInlineProofEnabled : Resources.lblColorProofWorkflowInlineProofDisabled)}}))
                         </div>
                     </div>
                     <div class="control-group">
                         <label class="control-label">@Resources.lblColorProofSupportedSpotColors</label>
                         <div class="controls">
                             <div id="SupportedSpotColors" class="disabled-label input-large">@( string.IsNullOrEmpty(Model.SupportedSpotColors) ? Html.Raw("&nbsp;") : Html.Raw(Model.SupportedSpotColors))</div>
                         </div>
                     </div>
                     <div class="control-group">
                         <label class="control-label required" style="width: 162px">@Resources.lblColorProofTransmissionTimeout</label>
                         <div class="controls">
                             @Html.TextBoxFor(m => m.TransmissionTimeout, isNotOwner ? new Dictionary<string, object>() { { "disabled", "disabled" }} : new Dictionary<string, object>(){ { "class", "iintiger" }})
                             @Html.ValidationMessageFor(m => m.TransmissionTimeout)
                         </div>
                     </div>

                 </div>
                 <div class="sharedWfOwnerInfo">
                 <legend>@Resources.lblColorProofWorkflowSecurityDetails</legend>
                     <div class="control-group">
                         <label class="control-label">@Resources.lblColorProofGroupAccess</label>
                         <div class="controls">
                             <div class="form-panel" style="width: 220px;" id="ListUserGroups">
                                 @Html.EditorFor(m => m.ListUserGroups, new { showPrimaryGroup = false })
                             </div>
                         </div>
                     </div>
                 </div>
                 <div class="clearboth"></div>
                 @if (Model.SelectedWorkflow != null && ViewBag.IsWorkflowShared)
                 {
                    <legend>@Resources.lblExternalShares</legend>
                    if (ViewBag.IsFromCurrentAccount)
                    {
                        Html.RenderAction("GetSharedWorkflowDetails", "Settings", new {@workflowID = Model.SelectedWorkflow.Value}); 
                    }
                    else
                    {
                        @Html.Raw(@ViewBag.SharedOwnerInfo)
                    }
                 }
                
             </div>
                 @Html.HiddenFor(m => m.page)
                 @if (Model.SelectedWorkflow != null)
                 {
                      @Html.HiddenFor(m => m.SelectedCPServerId)
                      @Html.HiddenFor(m => m.SelectedCPWorkflowId)
                 }
                 <div class="form-actions">
                     <button class="btn btn-primary" type="submit" name="action" value="SaveWorkflowChanges" data-loading-text="@Resources.btnSaving">@Resources.btnUpdateColorProofWorkflow</button>
                 </div>
         </div>
         <!-- /widget -->
     }
 }
 
@section PageScript
{
    <script type="text/javascript" defer="defer">
        function DeliverFillData(selectedOption) {
            if (typeof (selectedOption) == 'undefined' || selectedOption == null) {
                $("#ProofStandard").val(' ');
                $("#SupportedSpotColors").html('&nbsp;');
                $("#MaximumUsablePaperWidth").val(' ');
                $("#IsInlineProofVerificationSupported").val(' ');
            } else {
                $("#ProofStandard").val(selectedOption.attr("proofstandard"));
                $("#SupportedSpotColors").html(selectedOption.attr("SpotColors"));
                $("#MaximumUsablePaperWidth").val(selectedOption.attr("MaxPaperWidth"));
                $("#IsInlineProofVerificationSupported").val(selectedOption.attr("InlineProof"));
            }
        }

        $('#SelectedCPServerId').change(function() {
            var currentTextValue = $("#SelectedCPWorkflowId option[value='']").text();
            $("#SelectedCPWorkflowId option[value='']").text('@Resources.lblLoading');
            $.ajax({
                url: '@Url.Action("GetWorkflows", "Settings")',
                type: 'POST',
                data: JSON.parse("{'SelectedCPServerId':" + $(this).val() + ", \"__RequestVerificationToken\" : \"" + $("#formUpdateColorProofInstance input").val() + "\"}"),
                success: function(result) {
                    if (typeof (result.workflows) != 'undefined') {
                        $("#SelectedCPWorkflowId option[value!='']").remove();
                        for (var i = 0; i < result.workflows.length; i++) {
                            $("#SelectedCPWorkflowId").append("<option value=\"" + result.workflows[i].ID + "\" proofstandard=\"" + result.workflows[i].ProofStandard + "\" SpotColors=\"" + result.workflows[i].SpotColors + "\" MaxPaperWidth=\"" + result.workflows[i].MaxPaperWidth + "\" InlineProof=\"" + result.workflows[i].InlineProof + "\" >" + result.workflows[i].Name + "</option>");
                        }
                        DeliverFillData(null);
                    }
                    $("#SelectedCPWorkflowId option[value='']").text(currentTextValue);
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    $("#SelectedCPWorkflowId option[value!='']").remove();
                    DeliverFillData(null);
                    $("#SelectedCPWorkflowId option[value='']").text(currentTextValue);
                }
            });
        });
        $("#SelectedCPWorkflowId").change(function() {
            var selectedValue = $("#SelectedCPWorkflowId").val();
            if (selectedValue.length > 0) {
                var currentItem = $("#SelectedCPWorkflowId option[value='" + $("#SelectedCPWorkflowId").val() + "']");
                DeliverFillData(currentItem);
            } else
                DeliverFillData(null);
        });

        function ResetWorkflowModel() {
            DeliverFillData(null);
            $("#SelectedCPWorkflowId").find("option[value!='']").remove();
            $("span[data-valmsg-for='WorkflowInstance.Name']").removeClass('field-validation-error');
            $("span[data-valmsg-for='WorkflowInstance.Name']").text('');
            ResetModelCustom();
            $("TransmissionTimeout").val(1);
        }
    </script>
}