﻿@model GMGColorDAL.CustomModels.Checklists.ChecklistItemViewModel
@using GMGColor.HtmlHelpers
@using GMGColor.Resources
@using GMGColorDAL
@using GMGColorDAL.Common

@{
    ViewBag.Title = "AddEditChecklistItem";
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
    Bundles.Reference("widget");
    Bundles.Reference("checklistItem");
    Bundles.Reference("datetimepicker");
    GMGColorBusinessLogic.DbContextBL context = HttpContext.Current.Items[GMGColorDAL.DALUtils.DatabaseContext] as GMGColorBusinessLogic.DbContextBL;
}

<p class="breadcrumb">
    <a href="@Url.Action("CheckLists", "Settings")">@Resources.lblChecklistTitle</a>
</p>
<div class="widget-header">
    <h3>@(Model.ID > 0 ? Resources.lblEditCheckListItem : Resources.lblNewCheckListItem)</h3>
</div>

<!-- /widget-header -->
<div class="widget-content">
    <div class="row-fluid">
        @using (Html.BeginForm("AddEditChecklistItem", "Settings", FormMethod.Post, new { @class = "form-horizontal", @id = "itemForm" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.HiddenFor(m => m.ID, new { @data_val = false })
            @Html.HiddenFor(m => m.Checklist, new { @data_val = false })
            @Html.HiddenFor(m => m.Position, new { @data_val = false })

            <div class="widget">
                @Html.Partial("_AddEditChecklistItemDetails", Model)
            </div>

            <div class="form-actions">
                <button id="savePhase" type="submit" class="btn btn-primary pull-right" data-text="@Resources.btnUploadSettingsSaveChanges" data-loading-text="@Resources.btnSaving">@Resources.btnUploadSettingsSaveChanges</button>
                @Html.Image("imgSavingLoader", "~/Content/img/loading-icon.gif", @Resources.lblLoading, new { @class = "hide pull-right" }, 30, 30)
            </div>
        }
        <!-- /row-fluid -->
    </div>
    <!-- /widget-content -->
</div>
<!-- /widget -->