﻿@model GMGColorDAL.CustomModels.XMLEngine.ProfileModel
@using GMGColor.Resources;
@using GMGColor.HtmlHelpers;
@using GMGColorDAL.CustomModels;
@{    
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
}
<p class="breadcrumb">
    <a href="@Url.Action("UploadEngineTemplates", new { type = Enums.UploadEngineTemplatesType.Profiles, page = Model.page })">@Resources.lblProfiles</a>
</p>
<div class="widget">
    <div class="widget-header">
        <h3>@ViewBag.Header @*<small>@(Model.ID > 0 ? Resources.lblEditProfile : Resources.lblNewProfile)</small>*@</h3>
    </div>
    <!-- /widget-header -->
    <div class="widget-content">
        @using (Html.BeginForm("SaveProfileChanges", "Settings", FormMethod.Post, new { @class = "form-horizontal", autocomplete = "off", @id = "profilesForm" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.ID, new { @data_val = "false" })
            @Html.HiddenFor(m => m.page, new { @data_val = "false" })
            @Html.ValidationSummary(true)
            <div id="stepReq" style="display: none;" class="validation-summary-errors">
                 <ul>
                    <li>@Resources.reqProfileStep</li>
                 </ul>
            </div>
        <div class="row-fluid">
            <div class="control-group">
                <label class="control-label required">@Resources.lblName</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.Name)
                    @Html.ValidationMessageFor(m => m.Name)
                </div>
            </div>
            @{
            Dictionary<string, object> htmlAttributes = new Dictionary<string, object>();
            if (!Model.HasInputSettings)
            {
                htmlAttributes.Add("disabled", "disabled");
            }
            }
            <div class="control-group">
                <label class="control-label">@Resources.lblInputSetting</label>
                <div class="controls">
                    @Html.CheckBoxFor(m => m.HasInputSettings)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">@Resources.lblXMLTemplate</label>
                <div class="controls">
                    @Html.DropDownListFor(m => m.XMLTemplate, new SelectList(Model.ListXMLTemplates, "Key", "Value"), Resources.lblDefault, @htmlAttributes)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">@Resources.lblOutputSetting</label>
                <div class="controls">
                    @Html.DropDownListFor(m => m.OutputPreset, new SelectList(Model.ListPresets, "Key", "Value"), Resources.lblNotRequired)
                </div>
            </div>
        </div>
        <div class="form-actions">
                    <button id="btnAddEditPrOFILE" class="btn btn-primary" data-loading-image="imgSavingLoader" data-loading-text="@Resources.btnSaving" name="action" type="submit" value="SaveProfileChanges">
                        @(Model.ID > 0 ? Resources.btnSaveChanges : Resources.btnSave)
                    </button>
                    @Html.Image("imgSavingLoader", "~/Content/img/loading-icon.gif", @Resources.lblLoading, new { @class = "hide" }, 30, 30)
        </div>
        }
    </div>
    <!-- /widget-content -->
</div>
<!-- /widget -->

<script type="text/javascript">
    $('#HasInputSettings').click(function () {
        if (!$('#HasInputSettings').is(':checked')) {
            $('#XMLTemplate').attr('disabled', 'disabled');
            $('#XMLTemplate option[value=""]').attr("selected", true);
        }
        else {
            $('#XMLTemplate').removeAttr('disabled');
        }
    });

    $('#btnAddEditPrOFILE').click(function () {
        if (!$('#HasInputSettings').is(':checked') && $('#OutputPreset').val() == '') {
            $('#stepReq').show();
            return false;
        }
    });

    $('#XMLTemplate, #OutputPreset').change(function () {
        if ($(this).val() != '') {
            $('#stepReq').hide();
        }
    });

</script>
