﻿@model GMGColorDAL.CustomModels.AccountSettings.AddEditUser
@using GMGColor.Resources;
@{    
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
}
<p class="breadcrumb">
    <a href="Users">@Resources.lblUsers</a>
</p>
<div class="widget">
    <div class="widget-header">
        <h3>@ViewBag.Header @*<small>@(Model.objUsers.objEditUser != null ? Resources.lblEditUser : Resources.lblNewUser)</small>*@</h3>
    </div>
    <!-- /widget-header -->
    <div class="widget-content">
        @Html.ValidationSummary(true)
        @Html.Hidden("btnSave", Resources.btnSave)
        @Html.Hidden("btnSendInvite", Resources.btnSendInvite)
        @Html.Hidden("btnSaveChanges", Resources.btnSaveChanges)

        @if (Model.objUsers.objEditUser != null)
        {
            Model.objUsers.objEditUser.UploaderKey = 1;
            @Html.EditorFor(mdl => mdl.objUsers.objEditUser, new { model = Model.objUsers.objEditUser })
        }
        else if (Model.objUsers.objNewUser != null)
        {
            Model.objUsers.objNewUser.UploaderKey = 1;
            @Html.EditorFor(mdl => mdl.objUsers.objNewUser, new { model = Model.objUsers.objNewUser })
        }
    </div>
    <!-- /widget-content -->
</div>
<!-- /widget -->
@section PageScript
{
    <script src="../../Content/js/accountSettings%20-%20addEditUser.js?v=1" type="text/javascript"></script>
    <script src="../../Content/js/requiredIfValidation.js" type="text/javascript"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            if (parseInt($("#drpCollaborate").val(), 10) == 4) {
                $(".form-panel").find(".ManagerView").prop('disabled', false)
            }
            else {
                $(".form-panel").find(".ManagerView").prop('disabled', true)
            }
        });

        $('.userGroupUser').on('click', function () {
            var groupId = $(this).nextAll('.group-id').val();
            var primaryRadio = $("input[name='SelectedPrimaryGroup'][value='" + groupId + "']");
            if ($(this).is(':checked')) {
                $(primaryRadio).removeAttr('disabled');
            } else {
                $(primaryRadio).attr('disabled', 'disabled');
                $(primaryRadio).removeAttr('checked');
            }
        });

        $("#drpCollaborate").change(function () {
            if (parseInt($("#drpCollaborate").val(), 10) == 4) {
                $(".form-panel").find(".ManagerView").prop('disabled', false)
            }
            else {
                $(".form-panel").find(".ManagerView").prop('disabled', true)
            }
            if (parseInt($("#drpCollaborate").val(), 10) > 4) {
                $("#drpReport option[value='32']").hide();
            }
            else {
                $("#drpReport option[value='32']").show();
            }
        });

</script>
}

@Html.Hidden("userApplicationPermissionsWarning", Resources.lblUserApplicationPermissionWarning)
