﻿@using GMGColor.Resources
@using GMGColorDAL
@using GMGColorDAL.CustomModels
@model NotificationPresets
@{
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";

    bool isEditMode = Model.NotificationPreset != null && Model.NotificationPreset.ID > 0;

}
<p class="breadcrumb">
    <a href="@Url.Action("GlobalNotifications", "Settings", new { type = Enums.Notification.Presets, Model.page })">@Resources.lblCustomPresets</a>
</p>
<div class="widget">
    <div class="widget-header">
        <h3>@ViewBag.Header @*<small>@(isEditMode ? Resources.lblGlobalNotificationEditPreset : Resources.lblGlobalNotificatioNewPreset)</small>*@</h3>
    </div>
    <!-- /widget-header -->
    @using (Html.BeginForm("", "Settings", FormMethod.Post, new { id = "formAddEditNotificationPreset", @class = "form-horizontal", autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
        <div class="widget-content">
            @Html.ValidationSummary(true)
            @Html.HiddenFor(m => m.NotificationPreset.ID)
            @Html.HiddenFor(m => m.page, new { @data_val = false })
            <div class="control-group">
                <label class="control-label required">@Resources.lblName</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.NotificationPreset.Name)
                    @Html.ValidationMessageFor(m => m.NotificationPreset.Name)
                </div>
            </div>
             <div class="control-group">
                <div class="controls">
                    <label class="checkbox">
                         <input type="checkbox" id="allEvents" checked="checked"/>
                         @Resources.lblSelectAll
                     </label>
                    <label class="checkbox">
                        @Html.CheckBoxFor(m => m.NotificationPreset.DisablePersonalNotifications)
                        @Resources.lblDisablePersonalNotifications
                     </label>
                </div>
            </div>
            @Html.ValidationMessage("error", new { id = "event" })
            <fieldset>
                @if (Model.NotificationPreset != null)
                {
                    for (int i = 0; i < Model.NotificationPreset.NotificationModules.Count(); i++)
                    {
                        string h = Model.NotificationPreset.NotificationModules[i].EventGroups.Count() == 0 ? "hide" : string.Empty;
                    <legend class=@h>@Model.NotificationPreset.NotificationModules[i].ModuleName</legend>
                    @Html.HiddenFor(m => m.NotificationPreset.NotificationModules[i].ModuleName)
                    @Html.Hidden("eventTypesCount", Model.NotificationPreset.NotificationModules.SelectMany(module => module.EventGroups).Sum(eventGroup => eventGroup.EventTypes.Count))
                        for (int j = 0; j < Model.NotificationPreset.NotificationModules[i].EventGroups.Count(); j++)
                        {
                            <div class="control-group">
                                <label class="control-label">
                                    <strong>@Model.NotificationPreset.NotificationModules[i].EventGroups[j].GroupName</strong>
                                    @Html.HiddenFor(m => m.NotificationPreset.NotificationModules[i].EventGroups[j].GroupName)
                                </label>
                                <div class="controls">
                                    @for (int n = 0; n < Model.NotificationPreset.NotificationModules[i].EventGroups[j].EventTypes.Count(); n++)
                                    {
                                        if (!(GMGColorConfiguration.AppConfiguration.IsHideFolderFunctionality))
                                        {
                                            if (@Model.NotificationPreset.NotificationModules[i].EventGroups[j].EventTypes[n].ID != @ViewBag.ChecklistEdited)
                                            {
                                            string s = Model.NotificationPreset.NotificationModules[i].EventGroups[j].EventTypes[n].Description;
                                            <label class="checkbox">
                                                @Html.CheckBoxFor(m => m.NotificationPreset.NotificationModules[i].EventGroups[j].EventTypes[n].IsChecked, new { @class = "chbEvents", @title = @s , @rel= "tooltip" })
                                                @Model.NotificationPreset.NotificationModules[i].EventGroups[j].EventTypes[n].Name
                                                @Html.HiddenFor(m => m.NotificationPreset.NotificationModules[i].EventGroups[j].EventTypes[n].ID)
                                                @Html.HiddenFor(m => m.NotificationPreset.NotificationModules[i].EventGroups[j].EventTypes[n].Name)
                                            </label>
                                            }
                                        }
                                    }
                                </div>
                            </div>
                        }
                    }
                }
            </fieldset>
            <div class="form-actions">
                <a class="btn btn-primary" type="button"  data-form-method="post" href="@Url.Action("AddEditNotificationPreset", "Settings", new { type = Enums.Notification.Presets, Model.page })" >@(isEditMode ? Resources.btnUpdateColorProofInstance : Resources.btnSave)</a>
            </div>
        </div>
        <!-- /widget-content -->
    }
</div>
<!-- /widget -->
<script type="text/javascript">
    $("input[class='chbEvents']").on("change", function () {

        //uncheck "Select all" option if at least one event is unchecked
        if ($('#eventTypesCount').val() != $('.chbEvents:checked').length) {
            $('#allEvents').removeAttr('checked');
        } else {
            $('#allEvents').attr('checked', true);
        }
        
        if ($('input:checkbox:checked').length > 0) {
            $("#event").removeClass('field-validation-error').addClass('field-validation-valid');
            return true;
        }
        $("#event").removeClass('field-validation-valid').addClass('field-validation-error');
        $("#event").text('@Resources.lblAtleastOneEvent');
        return false;
    });

    $(document).ready(function () {

        if ($('#eventTypesCount').val() != $('.chbEvents:checked').length || $("#event").hasClass('field-validation-error')) {
            $('#allEvents').removeAttr('checked');
        }

        $('#allEvents').on('change', function () {
            if (this.checked) { // check select status
                $('.chbEvents').each(function () { //loop through each checkbox
                    this.checked = true;  //select all checkboxes with class "chbEvents"               
                });
            } else {
                $('.chbEvents').each(function () { //loop through each checkbox
                    this.checked = false; //deselect all checkboxes with class "chbEvents"                       
                });
            }
        });
    });
</script>
