﻿@model AddEditNotificationScheduleViewModel
@using GMGColor.Resources;
@using GMGColorDAL.CustomModels;
@{    
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
    Bundles.Reference("settings-notificationschedule");
    string noValue = "-";
}
<p class="breadcrumb">
    <a href="@Url.Action("GlobalNotifications", new { type = Enums.Notification.Schedule, page = ViewBag.page })">@Resources.lblNotificationSchedules</a>
</p>
<div class="widget">
    <div class="widget-header">
        <h3>@ViewBag.Header @*<small>@(Model.ID > 0 ? Resources.lblEditSchedule : Resources.lblNewSchedule)</small>*@</h3>
    </div>
    <!-- /widget-header -->
    <div class="widget-content">
        @using (Html.BeginForm("SaveNotificationScheduleChanges", "Settings", FormMethod.Post, new { @id = "notScheduleForm", @class = "form-horizontal", autocomplete = "off" }))
        {
            @Html.AntiForgeryToken()
            <span id="userReq" class="validation-summary-errors" style="display:none;">
                @Resources.reqUserorGroup
            </span>
            @Html.HiddenFor(m => m.ID, new { @data_val = "false" })
            @Html.Hidden("page", (int)ViewBag.page, new { @data_val = "false" })
            @Html.Hidden("userError", (bool)ViewBag.userError, new { @data_val = "false" })
            @Html.ValidationSummary(true)
            <div class="row-fluid">
                <legend>@Resources.lblGeneral</legend>
                <div class="control-group">
                    <label class="control-label ">@Resources.lblNotificationPreset</label>
                    <div class="controls">
                         @Html.DropDownListFor(m => m.SelectedPreset, new SelectList(Model.NotificationPresetList, "ID", "Name"))
                         @Html.ValidationMessageFor(m => m.SelectedPreset)
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">@Resources.lblFrequency</label>
                    <div class="controls">
                        <select id="SelectedFrecvency" name="SelectedFrecvency">
                            @foreach (var freq in Model.NotificationFrequencyList)
                            {
                                <option @(freq.ID == Model.SelectedFrecvency ? "selected=selected" : "") value="@freq.ID" data-key="@freq.Key">@freq.Name</option>
                            }
                        </select>
                        @Html.ValidationMessageFor(m => m.SelectedFrecvency)
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">@Resources.lblNotificationsPerProofStudioSessions</label>
                    <div class="controls">
                        @Html.CheckBoxFor(m => m.NotificationPerPSSession, new { id = "NotificationPerPSSession" })
                    </div>
                </div>

                <legend>@Resources.lblCollaborateReminders</legend>
                <div id="CollaborateReminders">
                    <div class="control-group">
                        <div class="pull-left">
                            <label class="control-label">@Resources.lblScheduleNumber</label>
                            <div class="controls">
                               @Html.DropDownListFor(m => m.SelectedUnitValue, new SelectList(Enumerable.Range(1, 12)), noValue)
                            </div>
                        </div>
                        <div class="pull-left">
                            <div class="controls">
                                  @Html.DropDownListFor(m => m.SelectedUnit, new SelectList(Model.NotificationCollaborateUnitList, "ID", "Name"))
                            </div>
                        </div>
                    </div>
                        <div class="control-group">
                            <label class="control-label">@Resources.lblWhen</label>
                            <div class="controls">
                                @Html.DropDownListFor(m => m.SelectedTrigger, new SelectList(Model.NotificationCollaborateTriggerList, "ID", "Name"))
                            </div>
                        </div>
                </div>
                 <legend>@Resources.lblUsersAndGroups</legend>
                <div class="control-group">
                    <div class="control-group">
                        <label class="control-label">@Resources.lblUserGroup</label>
                        <div class="controls">
                            <div class="form-panel" style="width: 220px;" id="ListUserGroups">
                                @Html.EditorFor(m => m.UserGroups, new { showPrimaryGroup = false })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <div class="control-group">
                        <label class="control-label">@Resources.lblUser</label>
                        <div class="controls">
                            <div class="form-panel" style="width: 220px;" id="ListUsers">
                                @Html.EditorFor(m => m.Users, new { showPrimaryGroup = false })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="form-actions">
            <button id="btnAddEditPreset" class="btn btn-primary" data-loading-image="imgSavingLoader" data-loading-text="@Resources.btnSaving" name="action" type="submit" value="SavePresetChanges">
                @(Model.ID > 0 ? Resources.btnSaveChanges : Resources.btnSave)
            </button>
        </div>
        }
    </div>
    <!-- /widget-content -->
</div>
<!-- /widget -->