﻿@model GMGColorDAL.CustomModels.XMLEngine.PresetModel
@using GMGColor.Resources;
@using GMGColor.HtmlHelpers;
@using GMGColorDAL.CustomModels;
@{    
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
}
<p class="breadcrumb">
    <a href="@Url.Action("UploadEngineTemplates", new { type = Enums.UploadEngineTemplatesType.Presets, page = Model.page })">@Resources.lblPresets</a>
</p>
<div class="widget">
    <div class="widget-header">
        <h3>@ViewBag.Header @*<small>@(Model.ID > 0 ? Resources.btnEditPreset : Resources.bntNewPreset)</small>*@</h3>
    </div>
    <!-- /widget-header -->
    <div class="widget-content">
        @using (Html.BeginForm("SavePresetChanges", "Settings", FormMethod.Post, new { @id = "frmaddEditPreset", @class = "form-horizontal", autocomplete = "off" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.ID, new { @data_val = "false" })
            @Html.HiddenFor(m => m.page, new { @data_val = "false" })
            @Html.ValidationSummary(true)
        <div class="row-fluid">
            <div class="control-group">
                <label class="control-label required">@Resources.lblName</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.Name)
                    @Html.ValidationMessageFor(m => m.Name)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">@Resources.lblDownloadSettings</label>
                <div class="controls">
                    <label class="checkbox">
                         @Html.CheckBoxFor(m => m.IsEnabledInCollaborate)
                         @Resources.lblEnabledCollaborate
                     </label>
                    <label class="checkbox">
                        @Html.CheckBoxFor(m => m.IsEnabledInDeliver)
                        @Resources.lblEnabledDeliver
                     </label>
                </div>
            </div>
            <legend>@Resources.lblFTPSettings</legend>
            <div class="control-group">
                <div class="pull-left">
                    <label class="control-label required">@Resources.lblHost</label>
                    <div class="controls">
                        <div class="input-prepend">
                            <span class="add-on">ftp://</span>
                            @Html.TextBoxFor(m => m.Host, new { @style="width:170px;" })
                        </div>
                        @Html.ValidationMessageFor(m => m.Host)
                    </div>
                </div>
                <div class="pull-left">
                    <label class="control-label required">@Resources.lblPort</label>
                    <div class="controls">
                        @Html.TextBoxFor(m => m.Port, new { @class = "iintiger" })
                        @Html.ValidationMessageFor(m => m.Port)
                    </div>
                </div>
            </div>
            <!-- Change username and password -->
            @if (Model.ID == 0)
            {
                <div class="control-group">
                    <label class="control-label">@Resources.lblUserName</label>
                    <div class="controls">
                        @Html.TextBoxFor(m => m.Username)
                        @Html.ValidationMessageFor(m => m.Username)
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">@Resources.lblPassword</label>
                    <div class="controls">
                        @Html.PasswordFor(m => m.Password)
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                </div>
            }
            else
            {
                <div id="username-login" class="control-group">
                    <label class="control-label">@Resources.lblUserName</label>
                    <div class="controls">
                        @Html.TextBoxFor(m => m.Username, new {@disabled="disabled"} )
                        @Html.ValidationMessageFor(m => m.Username)
                        <a href="#" id="login-change">@Resources.lblChangeLogin</a>
                    </div>
                </div>
                <div id="password-login" class="control-group" style="display: none;">
                    <label class="control-label">@Resources.lblPassword</label>
                    <div class="controls">
                        @Html.PasswordFor(m => m.Password)
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                </div>
                @Html.HiddenFor(m => m.IsChangeLogin, new { @data_val="false" })
                @Html.HiddenFor(m => m.OldUserName, new { @data_val = "false" })
            }
            <div class="control-group">
                <div class="pull-left">
                    <label class="control-label">@Resources.lblDefaultDirectory</label>
                    <div class="controls">
                        @Html.TextBoxFor(m => m.DefaultDirectory)
                        @Html.ValidationMessageFor(m => m.DefaultDirectory)
                    </div>
                </div>
                 <div class="pull-left">
                    <div class="controls">
                        <label class="checkbox">
                            @Html.CheckBoxFor(m => m.ReplicateCoZoneFolders)
                            @Resources.lblReplicateCozoneFolders
                        </label>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">@Resources.lblProtocol</label>
                <div class="controls">
                    @Html.DropDownListFor(m => m.Protocol, new SelectList(Model.ProtocolList, "ID", "Name"))
                    @Html.ValidationMessageFor(m => m.Protocol)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">@Resources.lblTransferMode</label>
                <div class="controls">
                    @Html.DropDownListFor(m => m.IsActiveTransferMode, new SelectList(
                    new[] 
                    { 
                        new { Value = "true", Text = @Resources.lblActive },
                        new { Value = "false", Text = @Resources.lblPassive },
                    },
                    "Value",
                    "Text"
                ))
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                   <button id="btnCheckConnectivity" class="btn btn-primary" data-loading-image="imgSavingLoader" data-loading-text="@Resources.lblChecking" onclick="checkConnectivity(); return false;">
                        @Resources.lblCheck
                    </button>
                     @Html.Image("imgCheckingLoader", "~/Content/img/loading-icon.gif", @Resources.lblLoading, new { @class = "hide" }, 30, 30)
                     <span id="connectionFailed" class="help-inline field-validation-error" style="display: none;">@Resources.lblFTPConnectionFailed</span>
                     <span id="connectionSuccess" class="help-inline success valid" style="display: none;">@Resources.lblFTPConnectionSuccess</span>
                     <span id="hostReq" class="help-inline field-validation-error" style="display: none;">@Resources.lblHostRequired</span>
                </div>
            </div>
        </div>
        <div class="form-actions">
                    <button id="btnAddEditPreset" class="btn btn-primary" data-loading-image="imgSavingLoader" data-loading-text="@Resources.btnSaving" name="action" type="submit" value="SavePresetChanges">
                        @(Model.ID > 0 ? Resources.btnSaveChanges : Resources.btnSave)
                    </button>
                    @Html.Image("imgSavingLoader", "~/Content/img/loading-icon.gif", @Resources.lblLoading, new { @class = "hide" }, 30, 30)
        </div>
        }
    </div>
    <!-- /widget-content -->
</div>
<!-- /widget -->

<script type="text/javascript">

    $('#login-change').click(function () {
        var isVisible = $('#password-login').is(':visible');

        if (isVisible) {
            $("#username-login :input").prop('disabled', true);
            $("#password-login").hide();
            $("#username-login a:last").text('@Resources.lblChangeLogin');
            $("#IsChangeLogin").val(false);
            $('#Username').val($('#OldUserName').val());
            $('#Password').val('');
        } else {
            $("#username-login :input").prop('disabled', false);
            $("#password-login").show();
            $("#username-login a:last").text('@Resources.btnDeliverJobCancel');
            $("#IsChangeLogin").val(true);
        }
        return false;
    });

    function checkConnectivity() {
        var host = $('#Host').val().trim();
        var port = $('#Port').val().trim();
        var userName = $('#Username').val().trim();
        var password = $('#Password').val();
        var protocol = $('#Protocol option:selected').val();
        var transferMode = $('#IsActiveTransferMode option:selected').val();
        var ID = $('#ID').val();
        var IsChangeLogin;
        if ($('#IsChangeLogin').length > 0) {
            IsChangeLogin = $('#IsChangeLogin').val();
        }
        var defaultDirectory = $('#DefaultDirectory').val();

        if (host != '' && port != '') {
            $('#connectionSuccess, #connectionFailed, #hostReq').hide();
            var message = '';
            $('#imgCheckingLoader').show();
            var dataObject = {
                __RequestVerificationToken: $("#frmaddEditPreset input").val(),
                host: host,
                port: port,
                userName: userName,
                password: password,
                protocol: protocol,
                IsActiveTransfer: transferMode,
                defaultDirectory: defaultDirectory,
                id: ID,
                isChangeLogin: IsChangeLogin
            }

            $.ajax({
                type: 'POST',
                url: '/Settings/CheckFTPConnectivity',
                data: dataObject,
                success: function (data) {
                    message = data;
                },
                complete: function (data) {
                    $('#imgCheckingLoader').hide();

                    if (message) {
                        $('#connectionSuccess').parents('.control-group').addClass('success');
                        $('#connectionSuccess').show();
                    } else {
                        $('#connectionFailed').parents('.control-group').removeClass('success');
                        $('#connectionFailed').show();
                    }
                }
            });
        }
        else {
            $('#connectionSuccess, #connectionFailed').hide();
            $('#hostReq').show();
        }
    }
</script>
