﻿@model GMGColorDAL.CustomModels.AccountSettings.BrandingPreset
@using GMGColor.Common
@using GMGColor.FileUpload;
@using GMGColor.Resources;
@using GMGColorBusinessLogic
@{
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
    Bundles.Reference("fileupload");
    Bundles.Reference("colorpicker");
}
<p class="breadcrumb">
    <a href="@Url.Action("BrandingCustomization", "Settings", new { page = Session[GMGColorConstants.AccountBrandingPagination] })">@Resources.lblBrandingPresets</a>
</p>
<div class="widget">
    <div class="widget-header">
        <h3>@ViewBag.Header@*&nbsp;<small>@(Model.ID > 0 ? Resources.navEditBrandigPreset : ViewBag.HeaderSmall)</small>*@</h3>
    </div>
    <!-- /widget-header -->
    <div class="widget-content">
        <div class="row-fluid">
            <div class="span12">
                @using (Html.BeginForm("AddEditBrandingPreset", "Settings", FormMethod.Post, new { @class = "form-horizontal", id = "brandingPresetForm" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(m => m.ID)
                    @Html.HiddenFor(m => m.Page)
                    <span id="userReq" class="validation-summary-errors" style="display:none;">
                        @Resources.reqGroup
                    </span><br/>
                     @Html.ValidationMessage("Error", new { @class = "validation-summary-errors" })
                    <fieldset>
                        <legend>@Resources.lblAppearance</legend>
                        <div class="control-group">
                            <label class="control-label required">@Resources.lblName</label>
                            <div class="controls">
                                @Html.TextBoxFor(m => m.Name)
                                @Html.ValidationMessageFor(m => m.Name)
                            </div>
                        </div>
                         <div class="control-group">
                            <div class="control-group">
                                <label class="control-label required">@Resources.lblUserGroup</label>
                                <div class="controls">
                                    <div class="form-panel" style="width: 220px;" id="ListUserGroups">
                                        @Html.EditorFor(m => m.UserGroups, new { showPrimaryGroup = false })
                                        @Html.ValidationMessageFor(m => m.UserGroups)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">@Resources.lblColorScheme</label>
                            <div class="controls">
                                <div id="themeChooser">
                                    <ul class="colorscheme  @(Model.objCustomise.ShowSelectedTheme ? "styleswitch" : string.Empty)">
                                        @for (int i = 0; i < Model.objCustomise.objColorSchema.Count ; i++)
                                        {
                                            Html.RenderPartial("_ColorPickerList", 
                                                                Model.objCustomise.objColorSchema[i], 
                                                                new ViewDataDictionary { TemplateInfo = new TemplateInfo { HtmlFieldPrefix = "objCustomise.objColorSchema[" + i + "]",}});
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>@Resources.lblBranding</legend>
                        <p>@Resources.lblBrandingInfo</p>
                        <h6>@Resources.lblApplication</h6>
                        <div class="control-group">
                            <label class="control-label">@Resources.lblHeaderLogo</label>
                            @{ FileUploadModel fupHeaderLogo = new FileUploadModel(Model.objCustomise.objAccount.Region);
                                fupHeaderLogo.Key = 1;
                                fupHeaderLogo.DefaultImagePath = Model.objCustomise.objAccount.HeaderLogoPath;
                                fupHeaderLogo.HelpBlockHtml = Resources.lblDownloadOur + " <a href=\"../../Content/templates/ps-header-template.psd\">" + Resources.lblPhotoshop + "</a> " + Resources.lblFileToGetStarted;
                                fupHeaderLogo.HelpInlineHtml = Resources.lblMaxHeight + ": <strong>33</strong>&nbsp;" + Resources.lblPixels + "</span>";                               
                            }
                            @Html.Partial("FileUpload", fupHeaderLogo)
                        </div>
                        <h6>@Resources.lblEmail</h6>
                        <div class="control-group">
                            <label class="control-label">@Resources.lblEmailLogo</label>
                            @{FileUploadModel fupEmailLogo = new FileUploadModel(Model.objCustomise.objAccount.Region);
                                fupEmailLogo.Key = 3;
                                fupEmailLogo.DefaultImagePath = Model.objCustomise.objAccount.EmailLogoPath;
                                fupEmailLogo.HelpBlockHtml = Resources.lblDownloadOur + " <a href=\"../../Content/templates/ps-email-template.psd\">" + Resources.lblPhotoshop + "</a> " + Resources.lblFileToGetStarted;
                                fupEmailLogo.HelpInlineHtml = Resources.lblMaxDimensions + ": <strong>160 x 60</strong>&nbsp;" + Resources.lblPixels + "</span>";                              
                            }
                            @Html.Partial("FileUpload", fupEmailLogo)
                        </div>
                        <h6>@Resources.lblFavIcon</h6>
                        <div class="control-group">
                            <label class="control-label">@Resources.lblFavIcon</label>
                            @{var fupFavIconLogo = new FileUploadModel(Model.objCustomise.objAccount.Region)
                              {
                                  Key = 4, 
                                  DefaultImagePath = Model.objCustomise.objAccount.FavIconPath,
                                  HelpBlockHtml = Resources.lblDownloadOur + " <a href=\"../../Content/templates/favicon-template.psd\">" + Resources.lblPhotoshop + "</a> " + Resources.lblFileToGetStarted,
                                  HelpInlineHtml = Resources.lblMaxDimensions + ": <strong>32 x 32</strong>&nbsp;" + Resources.lblPixels + "</span>",
                                  AcceptFileTypes = "/(jpe?g|png|ico)$/i"
                              };
                             }
                            @Html.Partial("FileUpload", fupFavIconLogo)
                        </div>
                     </fieldset>
                    <div class="form-actions">
                        @if (Model.ID > 0)
                        {
                            <button id="btnUpdatePreset" class="btn btn-primary" name="action" type="submit" value="SaveChanges" data-loading-text="@Resources.btnUpdating">@Resources.btnUpdateAccount</button>
                        }
                        else
                        {
                            <button id="btnSavePreset" class="btn btn-primary" name="action" type="submit" value="SaveChanges" data-loading-text="@Resources.btnSaving">@Resources.btnSave</button>
                        }
                    </div>
                    @Html.Partial("FileUploadTemplates", FileUploadModel.FileUploadTemplates(Model.objCustomise.objCustomiseAccount.PathToTempFolder, Model.objCustomise.objAccount.Region))
                }
            </div>
        </div>
        <!-- /row-fluid -->
    </div>
    <!-- /widget-content -->
</div>
<!-- /widget -->

@section PageScript
{
    <script type="text/javascript">
        $('#brandingPresetForm').on('submit', function () {
            if ($("input[type=checkbox]:checked").length == 0) {
                $('#userReq').show();
                setTimeout(function () {
                    $('button[data-loading-text]').button('reset');
                }, 500);
                
                return false;
            }
        });
        $("input[type=checkbox]").on('change', function () {
            if ($("input[type=checkbox]:checked").length > 0) {
                $('#userReq').hide();
                return false;
            }
        });
    </script>
}
