﻿@model GMGColorDAL.CustomModels.AccountSettings.ApprovalStatus
@using System.Collections
@using GMGColor.Resources
@using GMGColorDAL
@using GMGColorDAL.CustomModels
@{
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
    Bundles.Reference("approval-status");
}

<div class="widget">
    <div class="widget-header">
        <h3>@ViewBag.Header@*&nbsp;<small>@ViewBag.HeaderSmall</small>*@</h3>
    </div>
    <!-- /widget-header -->
    <div class="widget-content">
        <div class="row-fluid">
            <div class="span3">
                @{Html.RenderAction("SecondaryNavigation", "Navigation");}
            </div>
            <div class="span9">
                @using (Html.BeginForm("AddEditApprovalCustomDecision", "Settings", FormMethod.Post, new { @class = "form-horizontal dirtyignore", id = "formMain" }))
                {
                    @Html.AntiForgeryToken()
                <!-- Regional Settings -->
                <fieldset>
                    <legend>@Resources.lblApprovalStatus</legend>
                        <div class="control-group">
                            <label class="control-label">@Resources.lblLanguage</label>
                            <div class="controls">
                                @Html.DropDownListFor(m => m.LoadedUserLanguage, new SelectList(ViewBag.Languages, "Key", "Value"))    
                            </div>
                            
                            @Html.HiddenFor(model => model.Account, new { @data_val = "false" })
                        </div>
                    
                    @for (int i = 0; i < Model.CustomDecisions.Count; i++)
                    {
                        <div class="control-group pull-left">
                            @Html.HiddenFor(model => model.CustomDecisions[i].DecisionId, new { @data_val = "false" })
                            @Html.HiddenFor(model => model.CustomDecisions[i].Key, new { @data_val = "false" })
                        </div>
                        <div class="control-group pull-left">
                            <label class="control-label">@ApprovalDecision.GetLocalizedApprovalDecision(Model.CustomDecisions[i].Key)</label>
                            <div class="controls">  
                                @{
                                    var currentCustomDec = Model.CustomDecisions[i].CustomDecisionLanguages.FirstOrDefault(p => p.Locale == Model.LoadedUserLanguage);
                                }
                                @Html.TextBox(String.Format("DecisionTxtBox{0}", Model.CustomDecisions[i].DecisionId), (currentCustomDec != null ? currentCustomDec.Name : String.Empty))
                                   
                            </div> 
                        </div>
                        <button class="btn btn-danger pull-left demo-info-margin" onclick="clearDecision(@Model.CustomDecisions[i].DecisionId); return false;" ><i class="icon-white icon-trash"></i></button>
                        <div class="clearboth"></div>
                    }
                </fieldset>
                }
            </div>
        </div>
        <!-- /row-fluid -->
    </div>
    <!-- /widget-content -->
</div>
<!-- /widget -->
 @using (Html.BeginForm("AddEditApprovalCustomDecision", "Settings", FormMethod.Post, new { @class = "form-horizontal", id = "statusForm" }))
 {
    @Html.AntiForgeryToken()
    @Html.Hidden("StatusesModel", (string)ViewBag.StatusTranslations)
        <div class="form-actions">
            <button type="submit" class="btn btn-primary pull-right" data-loading-text="@Resources.btnSave">
                @Resources.btnSave</button>
        </div>
 }