﻿@using GMGColor.Resources;
@using GMGColorDAL.CustomModels;
@using GMGColor.HtmlHelpers
@model List<BouncedEmailUsers>

@{
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
    Bundles.Reference("bouncedEmailUsers");
}

<div class="widget">
    <div class="widget-header">
        <h3>@ViewBag.Header @*<small>@ViewBag.HeaderSmall</small>*@</h3>
    </div>
    <!-- /widget-header -->
    <div class="widget-content">
        <div class="row-fluid">
            <div class="span3">
                @{Html.RenderAction("SecondaryNavigation", "Navigation");}
            </div>
            @using (Html.BeginForm("", "Settings", FormMethod.Post, new { @class = "form-horizontal", id = "formMain" }))
            {
                @Html.AntiForgeryToken()
                if (Model.Count == 0)
                {
                    <div class="row-fluid blank-state" visible="false">
                        <div class="span4 blank-state-icon">
                            <i class="icon-envelope"></i>
                        </div>
                        <div class="span7">
                            <h3>@Resources.lblNoBouncedEmails</h3>
                        </div>
                    </div>
                }
                else
                {
                <div id="bouncedEmailUsersListContainer">
                    @{var bouncedEmailUsersList = new WebGrid(Model, rowsPerPage: 10, canSort: true);}
                    @bouncedEmailUsersList.GetHtml(
                        tableStyle: "table table-striped table-bordered table-responsive",
                        htmlAttributes: new { id = "bouncedEmailUsers-table" },
                        columns:
                            bouncedEmailUsersList.Columns(
                                bouncedEmailUsersList.Column(columnName: "Email", header: @Resources.lblEmail, style: "email"),
                                bouncedEmailUsersList.Column(columnName: "Message", header: @Resources.lblMessage, style: "message"),
                                bouncedEmailUsersList.Column(columnName: "", format: @<text>@Html.Raw(GetActionButtons(item.ID, item.IsExternal))</text>)
                            )
                    )
                    @Html.Hidden("selectedMessageId", 0, new { id = "hdnSelectedMessage", @data_val = false })
                    @Html.Hidden("isExternal", false, new { id = "hdnIsUserExternal", @data_val = false })
                    @{DeleteConfirmation deleteBounceBlockConfirmation = new DeleteConfirmation(1, "DeleteBounceBlock");}
                    @Html.Partial("DeleteConfirmationDialog", deleteBounceBlockConfirmation)
                </div>
                }
            }
        </div>
        <!-- /row-fluid -->
    </div>
    <!-- /widget-content -->
</div>
<!-- /widget -->

@functions{

    private string GetActionButtons(int id, bool isExternal)
    {
        System.Text.StringBuilder html = new System.Text.StringBuilder();

        html.Append("<div class=\"btn-group pull-right\">");
        html.Append("   <a href=\"javascript:void(0);\" data-toggle=\"dropdown\" class=\"btn btn-mini dropdown-toggle ellipsisButtonList\"><i class=\"icon-ellipsis-horizontal\"></i></a>");
        html.Append("   <ul class=\"dropdown-menu pull-right\">");
        html.Append("  <li><a href=\"javascript:void(0);\" onclick=\"$('#hdnSelectedMessage')[0].value = " + id + "; $('#hdnIsUserExternal')[0].value = " + isExternal.ToString().ToLower() + ";$('#modelDialogDeleteConfirmation_1').modal({ backdrop: 'static', keyboard: false });\" rel=\"nofollow\" data-method=\"delete\" data-disable-with=\"Deleting...\" ><i class=\"icon-trash\"></i>" + Resources.lblRemoveBounceBlock + "</a></li>");
        html.Append("   </ul>");
        html.Append("</div>");

        return html.ToString();
    }
}
