﻿@model AccountSettings.Branding
@using GMGColor.Common
@using GMGColor.Resources;
@using GMGColorDAL.CustomModels
@{
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
    GMGColorBusinessLogic.DbContextBL context = HttpContext.Current.Items[GMGColorDAL.DALUtils.DatabaseContext] as GMGColorBusinessLogic.DbContextBL;
    Bundles.Reference("accountStyles");
}
<div class="widget">
    <div class="widget-header">
        <ul class="widget-links">
            <li><a class="btn btn-primary" data-toggle="modal" data-backdrop="static" data-keyboard="false" href="@Url.Action("AddEditBrandingPreset", new { Model.Page })">@Resources.btnAddNewBrandingPreset</a></li>
        </ul>
        <h3>@ViewBag.Header @*<small>@ViewBag.HeaderSmall</small>*@</h3>
    </div>
    <!-- /widget-header -->
    <div class="widget-content">
        <div class="row-fluid">
            <div class="span3">
                @{Html.RenderAction("SecondaryNavigation", "Navigation");}
            </div>
            <div class="span9">
                @using (Html.BeginForm("", "Settings", FormMethod.Post, new { @class = "form-horizontal", id = "formMain" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.objLoggedAccount.ID)
                    <div class="clearboth"></div>
                    <legend>@Resources.lblBrandingPresets</legend>
                    <div id="dvGroups" class="tab-pane">
                        @if (Model.ListBrandingPresets.Count > 0)
                        {
                            <div class="display-field">
                                @{var grid = new WebGrid(Model.ListBrandingPresets, rowsPerPage: 10);}
                                @grid.GetHtml(
                                    tableStyle: "table table-striped",
                                    columns: grid.Columns(
                                    grid.Column(columnName: "Name", header: Resources.lblName, format: @<text><a href="@Url.Action("AddEditBrandingPreset", new { selectedPreset = item.ID, page = Model.Page })">@item.Name</a></text>),
                                    grid.Column(header: Resources.lblGroupsCount, format: @<text>@Html.Raw(this.GetBrandingPresetGroups(item.ID))</text>),
                                    grid.Column(format: @<text>@Html.Raw(this.GetActionButtons(item.ID, Model.Page))</text>)
                                ))
                            </div>
                            @Html.Hidden("SelectedPreset", "0", new { id = "hdnSelectedPreset" })
                                  DeleteConfirmation deleteUserConfirmation = new DeleteConfirmation(1, "DeleteBrandingPreset");
                            @Html.Partial("DeleteConfirmationDialog", deleteUserConfirmation)
                            @Html.ValidationSummary(true)
                        }
                        else
                        { 
                            <div class="row-fluid blank-state" visible="false">
                                <div class="span4 blank-state-icon">
                                    <i class="icon-th"></i>
                                </div>
                                <div class="span7">
                                    <h3>@Resources.lblAddYourFirstBrandingPreset</h3>
                                    <p>@Resources.lblYouCanAddAsManyPresetsAsYouLike</p>
                                    <p>
                                        <a href="@Url.Action("AddEditBrandingPreset", new { Model.Page })" class="btn btn-primary" title="@Resources.lblAddYourFirstBrandingPreset">@Resources.btnAddNewBrandingPreset</a></p>
                                </div>
                            </div>
                        }
                    </div>
                    <script type="text/javascript">
                        $(document).ready(function () {
                            $('.cfca-popover').popover({ html: true, trigger: 'hover' });
                        });
                    </script>
                }
            </div>
        </div>
        <!-- /row-fluid -->
    </div>
    <!-- /widget-content -->
</div>
<!-- /widget -->

@functions{
    private string GetBrandingPresetGroups(int id)
    {

        GMGColorDAL.BrandingPreset objBrandings = Model.ListBrandingPresets.FirstOrDefault(t => t.ID == id);

        string[] brandingGroups = objBrandings.BrandingPresetUserGroups.Select(t => t.UserGroup1).Select(o => string.Format("{0}", o.Name)).ToArray();
        string groups = @Resources.lblNoCollaborators;
        if (brandingGroups.Any())
        {
            groups = brandingGroups.Aggregate((x, y) => x + "<br>" + y);
        }
        string html = "<span data-content=\"" + groups + "\" data-original-title=\"" + Resources.lblGroups + "\" class=\"badge badgePink cfca-popover\">" +
                      brandingGroups.Count() +
                      "</span>";
        return html;
    }

    private string GetActionButtons(int id, int? page)
    {
        System.Text.StringBuilder html = new System.Text.StringBuilder();
        var pageNr = page == null ? 1 : page;

        html.Append("<div class=\"btn-group pull-right\">");
        html.Append("   <a href=\"javascript:void(0);\" data-toggle=\"dropdown\" class=\"btn btn-mini dropdown-toggle ellipsisButtonList\"><i class=\"icon-ellipsis-horizontal\"></i></a>");
        html.Append("   <ul class=\"dropdown-menu pull-right\">");
        html.Append("      <li><a href=\"/Settings/AddEditBrandingPreset?selectedPreset=" + id + "&page=" + pageNr + "\"><i class=\"icon-pencil\"></i>" + Resources.btnEdit + "</a></li>");
        html.Append("  <li><a href=\"javascript:void(0);\" onclick=\"$('#hdnSelectedPreset')[0].value = " + id + ";$('#modelDialogDeleteConfirmation_1').modal({ backdrop: 'static', keyboard: false });\" rel=\"nofollow\" data-method=\"delete\" data-disable-with=\"Deleting...\" ><i class=\"icon-trash\"></i>" + Resources.btnDelete + "</a></li>");
        html.Append("   </ul>");
        html.Append("</div>");

        return html.ToString();
    }
}

