﻿@model GMGColorDAL.CustomModels.Checklists.ChecklistItemsDashboardModel
@using GMGColor.Resources
@using GMGColorDAL.CustomModels
@{
    var checklistItemGroup = String.Format("checklist{0}_Item", Model.Checklist);
    var settingschecklistitems = new WebGrid(Model.ChecklistItemDetails);
}
<script src="../../Content/js/bootstrap/bootstrap-datepicker.js" type="text/javascript"></script>
<script src="../../Content/js/checklist-item.js" type="text/javascript"></script>

@settingschecklistitems.GetHtml(
    tableStyle: "table table-striped table-bordered",
    htmlAttributes: new { id = checklistItemGroup },
    columns:
        settingschecklistitems.Columns(
            settingschecklistitems.Column(format: @<text><ul class="pull-left upAndDownButtons" phase="@item.ID">
                    <li><a href="#" class="up" rel="nofollow"><i class="icon-angle-up"></i></a></li>
                    <li><a href="#" class="down" rel="nofollow"><i class="icon-angle-down"></i></a></li>
                </ul>
            </text>),
            settingschecklistitems.Column(columnName: "Name", header: Resources.lblName, canSort: false, format: @<text><a href="@Url.Action("AddEditChecklistItem", new { selectedItem = item.ID})">@item.Name</a></text>),
           settingschecklistitems.Column(format: @<text>@Html.Raw(GetActionButtons(item.ID))</text>)
            )
        )

@Html.Hidden("selectedItem", 0, new { id = "hdnSelectedPhase", @data_val = false })

@{ DeleteConfirmation deleteUserConfirmation = new DeleteConfirmation(2, "DeleteChecklistItem"); }
@Html.Partial("DeleteConfirmationDialog", deleteUserConfirmation)

@functions{
    private string GetActionButtons(int id)
    {
        System.Text.StringBuilder html = new System.Text.StringBuilder();
        html.Append("<div class=\"btn-group pull-right\">");
        html.Append("   <a href=\"javascript:void(0);\" data-toggle=\"dropdown\" class=\"btn btn-mini dropdown-toggle ellipsisButtonList\"><i class=\"icon-ellipsis-horizontal\"></i></a>");
        html.Append("   <ul class=\"dropdown-menu pull-right\">");
        html.Append("      <li><a href=" + @Url.Action("AddEditChecklistItem", new { selectedItem = id }) + "><i class=\"icon-pencil\"></i>" + Resources.btnEdit + "</a></li>");
        html.Append("      <li><a href=\"javascript:void(0);\" onclick=\"$('#hdnSelectedPhase')[0].value = " + id + ";$('#modelDialogDeleteConfirmation_2').modal({ backdrop: 'static', keyboard: false });\" rel=\"nofollow\" data-method=\"delete\" data-disable-with=\"Deleting...\" ><i class=\"icon-trash\"></i>" + Resources.btnDelete + "</a></li>");
        html.Append("   </ul>");
        html.Append("</div>");

        return html.ToString();
    }
}