﻿@model GMGColorDAL.CustomModels.Checklists.ChecklistDashboardModel
@using System.Collections
@using GMGColor.Resources
@using GMGColorDAL
@using GMGColorDAL.CustomModels

@{
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
    Bundles.Reference("checklist");
}



<div class="widget">
    <div class="widget-header">
        <ul class="widget-links">
            <li><a class="btn btn-primary" href="javascript:void(0)" onclick="$('#modalNewChecklist').modal({ backdrop: 'static', keyboard: false });">@Resources.lblNewCheckList</a></li>
        </ul>
        <h3>@ViewBag.Header @*<small>@ViewBag.HeaderSmall</small>*@</h3>
    </div>
    <!-- /widget-header -->
    <div class="widget-content">
        <div class="row-fluid">
            <div class="span3">
                @{Html.RenderAction("SecondaryNavigation", "Navigation");}
            </div>
            <div class="span9">
                @using (Html.BeginForm("CheckLists", "Settings", FormMethod.Post, new { @class = "form-horizontal dirtyignore", id = "formMain" }))
                {
                    @Html.AntiForgeryToken()
                    <div id="dvCheckList" class="tab-pane">
                        @if (Model.Checklists.Count > 0 || !string.IsNullOrEmpty(Model.SearchText))
                        {
                            <legend>@Resources.lblChecklistTitle</legend>
                            <div class="display-field">
                                @if (Model.Checklists.Count > 0)
                                {
                                    <div>
                                        <div id="errOccured" style="display: none;" class="validation-summary-errors">
                                            <ul>
                                                <li>@Resources.errServerError</li>
                                            </ul>
                                        </div>
                                        <table class="table table-striped table-bordered table-responsive resizable" id="checklistItemes">
                                            @foreach (var item in Model.Checklists)
                                            {
                                                <tr>
                                                    @if (item.HasItems)
                                                    {
                                                        <td class="span10 accordion-toggle" id="@string.Format("trigger{0}", item.ID)" onclick="@string.Format("rowToogleChecklist({0}, '{1}');", item.ID, @Url.Action("GetChecklistsItems", new {checklistId = item.ID}))">
                                                            <i class="icon-caret-right icon"></i>
                                                            @item.Name
                                                        </td>
                                                    }
                                                    else
                                                    {
                                                        <td class="span10">
                                                            @item.Name
                                                        </td>
                                                    }
                                                    <td>
                                                        <div id="dvAction@((int)item.ID)" class="btn-group pull-right">
                                                            <a href="javascript:void(0);" data-toggle="dropdown" class="btn btn-mini dropdown-toggle ellipsisButtonList">
                                                                <i class="icon-ellipsis-horizontal"></i>
                                                            </a>
                                                            <ul class="dropdown-menu pull-right">
                                                                <li>
                                                                    <a href="javascript:void(0);" onclick="renameChecklist('@(item.Name)', @(item.ID), false)" title="@Resources.btnEdit">
                                                                        <i class="icon-pencil"></i>&nbsp;@Resources.btnEdit
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="javascript:void(0);" onclick="$('#hdnChecklist')[0].value = @(item.ID);$('#modelDialogDeleteConfirmation_1').modal({ backdrop: 'static', keyboard: false });" rel="nofollow" data-method="delete">
                                                                        <i class="icon-trash"></i>&nbsp;@Resources.lblDelete
                                                                    </a>
                                                                </li>
                                                                <li><a href="@Url.Action("AddEditCheckListItem", new { SelectedCheckList = item.ID })" title="@Resources.lblAddNewItem"><i class="icon-list-ol"></i>&nbsp;@Resources.lblAddNewItem</a> </li>
                                                            </ul>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="hide" colspan="2" id="@string.Format("checklist{0}", item.ID)">
                                                        <img alt="Loading ..." height="30" id="@string.Format("imgChecklistLoading{0}", item.ID)" src="@Url.Content("~/Content/img/loading-icon.gif")" width="30" />
                                                    </td>
                                                </tr>
                                            }
                                        </table>
                                    </div>
                                }
                            </div>
                            @Html.Hidden("selectedChecklistId", 0, new { id = "hdnChecklist" })
                            DeleteConfirmation deleteAccountConfirmation = new DeleteConfirmation(1, "DeleteChecklist");
                            @Html.Partial("DeleteConfirmationDialog", deleteAccountConfirmation)
                        }
                        else
                        {
                            <div class="row-fluid blank-state" visible="false">
                                <div class="span4 blank-state-icon">
                                    <i class="icon-th"></i>
                                </div>
                                <div class="span7">
                                    <h3>@Resources.lblAddYourFirstChecklist</h3>
                                    <p>@Resources.lblYoyCanAddAsManyChecklistAsYouLike</p>
                                    <p>
                                        <a class="btn btn-primary" title="@Resources.lblAddYourFirstChecklist" onclick="$('#modalNewChecklist').modal({ backdrop: 'static', keyboard: false });">@Resources.lblNewCheckList</a>
                                    </p>
                                </div>
                            </div>
                        }
                    </div>
                }

            </div>
        </div>
        <!-- /row-fluid -->
    </div>
    <!-- /widget-content -->
</div>
<!-- /widget -->

<div id="modalNewChecklist" class="modal hide">
    @using (Html.BeginForm("AddEditChecklist", "Settings", FormMethod.Post, new { id = "formNewCheckList", @class = "form-horizontal dirtyignore", autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(mdl => mdl.Checklist.ID, new { @data_val = false, id = "hdnChecklistId" })
        <div class="modal-header">
            <a href="javascript:void(0);" class="close" data-dismiss="modal" title="@Resources.btnClose" onclick="ResetModel();">&times;</a>
            <a onclick="@string.Format("rowToogleChecklistAdd();", @Url.Action("AddEditChecklist", new {checklistId = 4}))"> </a>
            <h3 class="create">@Resources.lblNewCheckList</h3>
            <h3 class="rename hide">@Resources.lblEditCheckList</h3>
        </div>
        @Html.ValidationSummary(true)
        <div class="modal-body">
            <div class="control-group">
                <label class="control-label">@Resources.lblName</label>
                <div class="controls">
                    @Html.TextBoxFor(mdl => mdl.Checklist.Name, new { @Value = Model.Checklist.Name })
                    @Html.ValidationMessageFor(mdl => mdl.Checklist.Name)
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button class="create btn btn-primary" data-loading-text="@Resources.btnSaving" type="submit">@Resources.btnCreateFolder</button>
            <button class="rename hide btn btn-primary" data-loading-text="@Resources.btnSaving" type="submit">@Resources.btnSave</button>
        </div>
    }
</div>


