﻿@model GMGColorDAL.CustomModels.AccountSettings.ExternalUsers
@using GMGColor.Resources;
@using GMGColorDAL
@using GMGColorDAL.Common
@using GMGColorDAL.CustomModels
@{
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
    GMGColorBusinessLogic.DbContextBL context = HttpContext.Current.Items[GMGColorDAL.DALUtils.DatabaseContext] as GMGColorBusinessLogic.DbContextBL;
}
<div class="widget">
    <div class="widget-header">
        <ul class="widget-links">
            @*<li><a data-toggle="modal" data-backdrop="static" data-keyboard="false" href="#modalDialogInviteUser">@Resources.btnAddNewUser</a></li>*@
        </ul>
        <h3>@ViewBag.Header @*<small>@ViewBag.HeaderSmall</small>*@</h3>
    </div>
    <!-- /widget-header -->
    <div class="widget-content">
        <div class="row-fluid">
            <div class="span3">
                @{Html.RenderAction("SecondaryNavigation", "Navigation");}
            </div>
            <div class="span9">
                @using (Html.BeginForm("ExternalUsers", "Settings", FormMethod.Post, new { @class = "form-horizontal dirtyignore", id = "formMain" }))
                {
                    @Html.AntiForgeryToken()
                    <div id="dvUsers" class="tab-pane">
                            <div class="pull-right">
                                @Html.Partial("ExternalUsersSwitch", Enums.ExternalUserType.Collaborate)
                            </div>
                             <div class="clearboth"></div>
                        <legend>@Resources.lblExternalUserCollaborate</legend>
                        @if (Model.ListExternalUsers.Count > 0 || !string.IsNullOrEmpty(Model.SearchText))
                        {
                            <div class="well form-search clearboth">
                                <div class="input-append">
                                    @Html.Hidden("SearchText", "0", new { id = "hdnSearchText" })
                                    @Html.TextBoxFor(model => model.SearchText, new { id = "txtSearch", @class = "input-medium search-query" })
                                    <button id="btnSearchUser" type="submit" class="btn cancel" name="action" value="SearchCollaborateExUser" onclick="$('#hdnSearchText')[0].value = $('#txtSearch').val();">
                                        @Resources.btnSearch</button>
                                </div>
                            </div>
                            <div class="display-field">
                                @{var accountUsers = new WebGrid(Model.ListExternalUsers, rowsPerPage: 10);}
                                @accountUsers.GetHtml(
                                    tableStyle: "table table-striped table-bordered",
                                    columns:
                                        accountUsers.Columns(
                                            accountUsers.Column(columnName: "Email", header: Resources.lblEmail, format: @<text><a href="@Url.Action("EditExternalCollaborator", new { item.ID, ViewBag.page, userType = Enums.ExternalUserType.Collaborate })">@item.Email</a></text>),
                                            accountUsers.Column(columnName: "Name", header: Resources.lblName, format: @<text>@item.Name</text>),
                                            accountUsers.Column(columnName: "LastLogin", header: Resources.lblLastLogin, format: @<text>@GMGColorFormatData.GetFormattedDate((DateTime?)item.LastLogin, Model.objLoggedAccount, context)</text>),
                                            accountUsers.Column(columnName: "IsAccessRevoked", header: Resources.btnRevokeAccess, format: @<text>@item.AccessRevoked</text>, canSort: true),
                                            accountUsers.Column(format: @<text>@Html.Raw(GetActionButtons(item.ID, item.IsAccessRevoked))</text>)
                                        ))
                            </div>
                            @Html.Hidden("SelectedUser", "0", new { id = "hdnSelectedUser" })
                                  DeleteConfirmation deleteUserConfirmation = new DeleteConfirmation(1, "DeleteExUser");
                            @Html.Partial("DeleteConfirmationDialog", deleteUserConfirmation)

                                  DeleteConfirmation revokeAccessConfirmation = new DeleteConfirmation(2, "RevokeAccess");
                                  revokeAccessConfirmation.DeleteMessageTitle = Resources.btnRevokeAccess;
                                  revokeAccessConfirmation.DeleteMessageHeading = Resources.lblRevokeAccessHeading;
                                  revokeAccessConfirmation.DeleteMessage = Resources.lblRevokeAccessMessage;
                                  revokeAccessConfirmation.DeleteMessagePleaseNote = string.Empty;
                                  revokeAccessConfirmation.LoadingText = Resources.btnSaving;

                                  DeleteConfirmation grantAccessConfirmation = new DeleteConfirmation(3, "GrantAccess");
                                  grantAccessConfirmation.DeleteMessageTitle = Resources.lblGrantAccess;
                                  grantAccessConfirmation.DeleteMessageHeading = Resources.lblGrantAccessHeading;
                                  grantAccessConfirmation.DeleteMessage = Resources.lblGrantAccessMessage;
                                  grantAccessConfirmation.DeleteMessagePleaseNote = string.Empty;
                                  grantAccessConfirmation.LoadingText = Resources.btnSaving;
                                  
                            @Html.Partial("DeleteConfirmationDialog", revokeAccessConfirmation)
                            @Html.Partial("DeleteConfirmationDialog", grantAccessConfirmation)
                            @Html.ValidationSummary(true)
                        }
                        else
                        {
                            <div class="row-fluid blank-state" visible="false">
                                <div class="span4 blank-state-icon">
                                    <i class="icon-signout"></i>
                                </div>
                                <div class="span7">
                                    <h3>@Resources.lblNoExternalUsersFound</h3>
                                    <p>@Resources.lblExternalUsersDescription</p>
                                </div>
                            </div>
                        }
                    </div>
                    <script type="text/javascript">
                        this.modelDialog = '@ViewBag.ModelDialog';                
                    </script>
                }
            </div>
        </div>
        <!-- /row-fluid -->
    </div>
    <!-- /widget-content -->
</div>
@functions{
    private string GetActionButtons(int id, bool isAccessRevoked)
    {
        System.Text.StringBuilder html = new System.Text.StringBuilder();
        string confermationDialog = isAccessRevoked ? "modelDialogDeleteConfirmation_3" : "modelDialogDeleteConfirmation_2";

        html.Append("<div class=\"btn-group pull-right\">");
        html.Append("   <a href=\"javascript:void(0);\" data-toggle=\"dropdown\" class=\"btn btn-mini dropdown-toggle ellipsisButtonList\"><i class=\"icon-ellipsis-horizontal\"></i></a>");
        html.Append("   <ul class=\"dropdown-menu pull-right\">");
        html.Append("      <li><a href=" + @Url.Action("EditExternalCollaborator", new { id, ViewBag.page, userType = Enums.ExternalUserType.Collaborate }) + "><i class=\"icon-pencil\"></i>" + Resources.btnEdit + "</a></li>");
        html.Append("      <li><a href=\"javascript:void(0);\" onclick=\"$('#hdnSelectedUser')[0].value = " + id + ";$('#" + confermationDialog + "').modal({ backdrop: 'static', keyboard: false });\"><i class=\"icon-pencil\"></i>" + (isAccessRevoked ? Resources.lblGrantAccess : Resources.btnRevokeAccess) + "</a></li>");
        html.Append("      <li><a href=\"javascript:void(0);\" onclick=\"$('#hdnSelectedUser')[0].value = " + id + ";$('#modelDialogDeleteConfirmation_1').modal({ backdrop: 'static', keyboard: false });\" rel=\"nofollow\" data-method=\"delete\" data-disable-with=\"Deleting...\" ><i class=\"icon-trash\"></i>" + Resources.btnDelete + "</a></li>");
        html.Append("   </ul>");
        html.Append("</div>");

        return html.ToString();
    }
}
<script type="text/javascript">
    $('#txtSearch').on('keydown', function (e) {
        if (e.which == 13) {
            $('#btnSearchUser').click();
            return false;
        }
        return true;
    });
</script>
