﻿@model GMGColorDAL.CustomModels.AccountSettings.CollaborateGlobalSettings
@using GMGColor.FileUpload
@using GMGColor.Resources;
@{
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
}
<div class="widget">
    <div class="widget-header">
        <h3>@ViewBag.Header@*&nbsp;<small>@ViewBag.HeaderSmall</small>*@</h3>
    </div>
    <!-- /widget-header -->
    <div class="widget-content">
        <div class="row-fluid">
            <div class="span3">
                @{Html.RenderAction("SecondaryNavigation", "Navigation");}
            </div>
            <div class="span9">
                @using (Html.BeginForm("CollaborateGlobalSettings", "Settings", FormMethod.Post, new { @class = "form-horizontal", id = "formMain" }))
                {
                    @Html.AntiForgeryToken()
                    <!-- Regional Settings -->
                    <fieldset>
                        <legend>@Resources.lblGeneralSettings</legend>
                        <!-- Default Language -->
                        <div class="control-group">
                            <label class="checkbox">
                                @Html.CheckBoxFor(model => model.AllCollaboratorsDecisionRequired)
                                @Resources.lblAllCollaboratorsDecisionSetting
                            </label>
                        </div>
                        <div class="control-group">
                            <label class="checkbox">
                                @Html.CheckBoxFor(model => model.HideCompletedApprovalsInDashboard)
                                @Resources.lblHideCompletedApprovalsInDashboars
                            </label>
                        </div>
                        @if (ViewBag.IsAccountOwner)
                        {
                            <div class="control-group">
                                <label class="checkbox">
                                    @Html.CheckBoxFor(model => model.ShowAllFilesToAdmins)
                                    @Resources.lblShowAllFilesToAdmins
                                </label>
                            </div>
                        <div class="control-group">
                            <label class="checkbox">
                                @Html.CheckBoxFor(model => model.ShowAllFilesToManagers)
                                @Resources.lblShowAllFilesToManager
                            </label>
                        </div>
                        }
                        <div class="control-group">
                            <label class="checkbox">
                                @Html.CheckBoxFor(model => model.ProofStudioShowAnnotationsForExternalUsers)
                                @Resources.lblProofStudioShowAnnotationsForExternalUsers
                            </label>
                        </div>
                        <div class="control-group">
                            <label class="checkbox">
                                @Html.CheckBoxFor(model => model.ShowSubstrateFromICCProfileInProofStudio)
                                @Resources.lblShowSubstrateFromICCProfileInProofStudio
                            </label>
                        </div>
                        <div class="control-group">
                            <label class="checkbox">
                                @Html.CheckBoxFor(model => model.EnableProofStudioZoomlevelFitToPageOnload)
                                @Resources.lblEnableApprovalZoomLevelChangesInProofStudio
                            </label>
                        </div>
                        <div class="control-group">
                            <label class="checkbox">
                                @Html.CheckBoxFor(model => model.EnableRetoucherWorkflow, Model.RetoucherUserExists ? (object)new { disabled = "disabled" } : new { })
                                @Resources.lblEnableRetoucherSet
                            </label>
                        </div>
                        <div class="control-group">
                            <label class="checkbox">
                                @Html.CheckBoxFor(model => model.DisplayRetouchers, !Model.EnableRetoucherWorkflow ? (object)new { disabled = "disabled" } : new { })
                                @Resources.lblDisplayRetouchers
                            </label>
                        </div>
                        <div class="control-group">
                            <label class="checkbox">
                                @Html.CheckBoxFor(model => model.ShowBadges)
                                @Resources.lblShowBadges
                            </label>
                        </div>

                         <div class="control-group">
                            <label class="checkbox">
                                @Html.CheckBoxFor(model => model.InheritParentFolderPermissions)
                                @Resources.lblAutomaticallyInheritParentFolderPermissions
                            </label>
                        </div>
                        <div class="control-group">
                            <label class="checkbox">
                                @Html.CheckBoxFor(model => model.DisableSOADIndicator)
                                @Resources.lblDisableSOADIndicator
                            </label>
                        </div>
                        <div class="control-group">
                            <label class="checkbox">
                                @Html.CheckBoxFor(model => model.DisableTagwordsInDashbord)
                                @Resources.lblDisableTagwordsInDashbord
                            </label>
                        </div>
                        <div class="control-group">
                            <label class="checkbox">
                                @Html.CheckBoxFor(model => model.DisableVisualIndicator)
                                @Resources.lblDisableVisualIndicator
                            </label>
                        </div>
                          <div class="control-group">
                            <label class="checkbox">
                                @Html.CheckBoxFor(model => model.DisableExternalUsersEmailIndicator)
                                @Resources.lblDisableVisualIndicatorOnExternalUsersEmail
                            </label>
                          </div>
                        <div class="control-group">
                            <label class="checkbox">
                                @Html.CheckBoxFor(model => model.KeepExternalUsersWhenUploadingNewVersion)
                                @Resources.lblKeepExternalUsersWhenUploadingNewVersion
                            </label>
                        </div>
                        <div class="control-group">
                            <label class="checkbox">
                                @Html.CheckBoxFor(model => model.EnableArchiveTimeLimit, new { Style = "margin-top:7px;" })
                                @Resources.lblAccountSettingsArchiveTimeLimit
                                <div class="spinner-group spinner spinnerArchiveTime">
                                    @Html.TextBoxFor(model => model.ArchiveTimeLimit, new { @class = "czn-spinner" })
                                    <div class="input-group-btn-vertical">
                                        <button class="btn btn-default"><i class="icon-caret-up"></i></button>
                                        <button class="btn btn-default"><i class="icon-caret-down"></i></button>
                                    </div>
                                </div>
                                @Html.DropDownListFor(model => model.ArchiveTimeLimitFormat, new List<SelectListItem>
                                             {
                                                new SelectListItem{ Text="Days", Value = "1" },
                                                new SelectListItem{ Text="Months", Value = "2" },
                                                new SelectListItem{ Text="Years", Value = "3" },
                                             })
                            </label>
                        </div>
                        <div class="control-group">
                            <label>
                                @Resources.lblAccountSettingsProofStudioPenWidth
                                <div class="spinner-group spinner spinnerPenWidth">
                                    @Html.TextBoxFor(model => model.ProofStudioPenWidth, new { @class = "czn-spinner" })
                                    <div class="input-group-btn-vertical">
                                        <button class="btn btn-default"><i class="icon-caret-up"></i></button>
                                        <button class="btn btn-default"><i class="icon-caret-down"></i></button>
                                    </div>
                                </div>
                                @Html.ValidationMessageFor(m => m.ProofStudioPenWidth)
                            </label>
                        </div>
                       @if (ViewBag.IsCustomProfileEnabled)
                       {
                           <div class="control-group">
                               <label class="checkbox">
                                   @Html.CheckBoxFor(model => model.EnableCustomProfile)
                                   @Resources.lblEnableCustomICC
                               </label>
                           </div>
                           <div id="customProfileSec">
                               <div class="control-group">
                                   <label class="control-label">@Resources.lblDefaultProfiles :</label>
                                   <div class="controls">
                                       <label style="padding-top: 5px;">@Model.CustomProfileModel.DefaultProfiles</label>
                                   </div>
                               </div>
                               <div class="control-group">
                                   <label class="control-label">@Resources.lblCustomProfile :</label>
                                   @{
                                       FileUploadModel cstmProfile = new FileUploadModel(ViewBag.LoggedAccount.Region);
                                       cstmProfile.Key = 1;
                                       cstmProfile.AcceptFileTypes = "/(icc|icm)$/i";
                                       cstmProfile.DispalyName = Model.CustomProfileModel.Name;
                                       cstmProfile.MaxFileSize = 10 * 1024;
                                       cstmProfile.HelpBlockHtml = Model.CustomProfileModel.IsValid.HasValue ? Model.CustomProfileModel.IsValid.Value ? "<span class=\"successLabel\">" + Model.CustomProfileModel.InfoMessage + "</span>"
                                           : "<span class=\"field-validation-error\">" + Model.CustomProfileModel.InfoMessage + "</span>"
                                           : Model.CustomProfileModel.InfoMessage;
                                   }
                                   @Html.Partial("FileUpload", cstmProfile)
                               </div>
                               @Html.Partial("FileUploadTemplates", FileUploadModel.FileUploadTemplates((string) ViewBag.PathToTempFolder, (string) ViewBag.LoggedAccount.Region))
                           </div>
                           <div class="control-group">
                                    <label class="control-label">@Resources.lblSoftProofingMediaCategory</label>    
                                    <div class="controls">
                                        @Html.DropDownListFor(model => model.CustomProfileModel.SelectedPaperSubstrate, new SelectList(ViewBag.PaperSubstrates, "ID", "MediaCategoryName", Model.CustomProfileModel.SelectedPaperSubstrate), Resources.lblNoPaperSubstrate) 
                                    </div>
                            </div>
                       }
                        @Html.ValidationMessage("error", new { id = "error" })
                        <div class="control-group">
                            <label class="checkbox">
                                @Html.CheckBoxFor(model => model.DisableFileDueDateinUploader)
                                @Resources.lblDisableFileDueDateinUploader
                            </label>
                        </div>
                        <div id="customApprovalStatus">
                            <label class="control-label">@Resources.lblDisabledApprovalStatuses</label>
                            <div class="controls">
                                @for (int i = 0; i < Model.ApprovalDecisions.Count; i++)
                                {
                                    <label class="checkbox">
                                        @Html.CheckBoxFor(m => m.ApprovalDecisions[i].IsChecked, new { id = "approvalStatusCheckBox" + Model.ApprovalDecisions[i].Id })
                                        @Html.HiddenFor(m => m.ApprovalDecisions[i].Id)
                                        @Html.DisplayFor(m => m.ApprovalDecisions[i].Name)
                                    </label>
                                }
                            </div>
                        </div>
                    </fieldset>
                     <div class="form-actions">
                        <button type="submit" class="btn btn-primary" data-loading-text="@Resources.btnUpdating">
                            @Resources.btnUpdateAccount</button>
                    </div>
                }
            </div>
        </div>
        <!-- /row-fluid -->
    </div>
    <!-- /widget-content -->
</div>
<!-- /widget -->

@section PageScript
{
    <script type="text/javascript">
        (function($) {
            $('input').blur();

            $('.spinnerPenWidth .btn:first-of-type').on('click', function () {
                $(this).blur();
                if (parseInt($('.spinnerPenWidth input').val(), 10) < 99) {
                    $('.spinnerPenWidth input').val(parseInt($('.spinnerPenWidth input').val(), 10) + 1);
                }
                return false;
            });
            $('.spinnerPenWidth .btn:last-of-type').on('click', function () {
                $(this).blur();
                if (parseInt($('.spinnerPenWidth input').val(), 10) > 1) {
                    $('.spinnerPenWidth input').val(parseInt($('.spinnerPenWidth input').val(), 10) - 1);
                }
                return false;
            });

            $('.spinnerArchiveTime .btn:first-of-type').on('click', function () {
                $(this).blur();
                if (parseInt($('.spinnerArchiveTime input').val(), 10) < 999) {
                    $('.spinnerArchiveTime input').val(parseInt($('.spinnerArchiveTime input').val(), 10) + 1);
                }
                return false;
            });
            $('.spinnerArchiveTime .btn:last-of-type').on('click', function () {
                $(this).blur();
                if (parseInt($('.spinnerArchiveTime input').val(), 10) > 1) {
                    $('.spinnerArchiveTime input').val(parseInt($('.spinnerArchiveTime input').val(), 10) - 1);
                }
                return false;
            });

        })(jQuery);

        $('#EnableRetoucherWorkflow').on('click', function() {
            if (!$(this).is(':checked')) {
                $('#DisplayRetouchers').attr('disabled', 'disabled').removeAttr('checked');
            } else {
                $('#DisplayRetouchers').removeAttr('disabled');
            }
        });

        $('#EnableCustomProfile').on('click', function () {
            if (!$(this).is(':checked')) {
                $('#customProfileSec input').attr('disabled', 'disabled');
            } else {
                $('#customProfileSec input').removeAttr('disabled');
            }
        });
    </script>
}