﻿@model GMGColorDAL.CustomModels.ColorProofSettings.ColorProofWorkflows
@using GMGColor.Resources;
@using GMGColor.HtmlHelpers;
@using GMGColorDAL.CustomModels
@{
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
    GMGColorBusinessLogic.DbContextBL context = HttpContext.Current.Items[GMGColorDAL.DALUtils.DatabaseContext] as GMGColorBusinessLogic.DbContextBL;
}
<div class="widget">
    <div class="widget-header">
        <ul class="widget-links">
            <li><a class="btn btn-primary" data-toggle="modal" data-backdrop="static" data-keyboard="false" href="@Url.Action("AddEditColorProofWorkflow", new { Model.page })">@Resources.btnAddNewColorProofWorkflow</a></li>
        </ul>
        <h3>@ViewBag.Header @*<small>@ViewBag.HeaderSmall</small>*@</h3>
    </div>
    <!-- /widget-header -->
    <div class="widget-content">
        <div class="row-fluid">
            <div class="span3">
                @{Html.RenderAction("SecondaryNavigation", "Navigation");}
            </div>
            <div class="span9">
                @using (Html.BeginForm("DeliverSettings", "Settings", FormMethod.Post, new { @class = "form-horizontal dirtyignore", id = "formMain" }))
                {
                    @Html.AntiForgeryToken()
                    <div id="dvColorProofWorkflows" class="tab-pane">
                        @if (Model.Workflows.Count > 0 || !string.IsNullOrEmpty(Model.SearchText))
                        {
                            <div class="pull-right">
                                @Html.Partial("ColorProofSwitch", Enums.DeliverSettingsType.ColorProofWorkflows)
                            </div>
                            <div class="clearboth"></div>
                            <legend>@Resources.lblColorProofWorkflowTitle</legend>
                            <div class="well form-search clearboth">
                                <div class="input-append">
                                    @Html.Hidden("SearchText", "0", new { id = "hdnSearchText", @data_val = false })
                                    @Html.TextBoxFor(model => model.SearchText, new { id = "txtSearch", @class = "input-medium search-query" })
                                    <button id="btnSearchWorkflow" type="submit" class="btn cancel" name="action" value="SearchColorProofWorkflow" onclick="$('#hdnSearchText')[0].value = $('#txtSearch').val();">
                                        @Resources.btnSearch</button>
                                </div>
                            </div>
                            <div class="display-field">
                                @{ var colorProofWorkflows = new WebGrid(Model.Workflows, rowsPerPage: 10); }
                                @colorProofWorkflows.GetHtml(
                                    tableStyle: "table table-striped table-bordered table-responsive",
                                    columns:
                                         colorProofWorkflows.Columns(
                                            colorProofWorkflows.Column(format: @<text><span class="badge shared-icon">@(item.IsFromCurrentAccount ? "" : "S")</span></text>),
                                            colorProofWorkflows.Column(columnName: "CoZoneName", header: Resources.lblColorProofWorkflowName, format: @<text><a href="@Url.Action("AddEditColorProofWorkflow", new { SelectedWorkflow = item.ColorProofCoZoneWorkflowID, Model.page, isFromCurrentAccount = item.IsFromCurrentAccount })">@item.CoZoneName</a></text>),
                                            colorProofWorkflows.Column(columnName: "CoZoneName", header: Resources.lblColorProofWorkflowCoZoneServer, format: @<text>@item.SystemName</text>),
                                            colorProofWorkflows.Column(columnName: "ProofStandard", header: Resources.lblColorProofWorkflowProofStandard),
                                            colorProofWorkflows.Column(columnName: "IsInlineProofVerificationSupported", header: Resources.lblColorProofWorkflowInlineProof, format: @<text>@string.Format("{0}", Convert.ToBoolean(item.IsInlineProofVerificationSupported) ? @Resources.lblColorProofWorkflowInlineProofEnabled : @Resources.lblColorProofWorkflowInlineProofDisabled)</text>),
                                            colorProofWorkflows.Column(columnName: "IsAvailable", header: Resources.lblColorProofWorkflowStatus, format: @<text>@(item.IsFromCurrentAccount ? string.Format("{0}", Convert.ToBoolean(item.IsAvailable) ? Resources.lblColorProofWorkflowActive : Resources.lblColorProofWorkflowInactive) : Resources.lblColorProofInstancesConnectionStatusShared)</text>),
                                            colorProofWorkflows.Column(format: @<text>@Html.Raw(GetActionButtons(item.ColorProofCoZoneWorkflowID, item.IsAvailable, item.IsActivated, item.IsFromCurrentAccount))</text>)
                                        ))
                            </div>
                            @Html.Hidden("SelectedInstance", "0", new { id = "hdnInstance", @data_val = false })
                            //Hidden field needed for deleting shared wfs
                            @Html.Hidden("isOwner", false, new { @data_val = false })
                            @Html.HiddenFor(m => m.page, new { @data_val = false })
                            <button id="btnActivate" class="cancel" type="submit" name="action" value="ActivateColorProofWorkflow"
                                    hidden="hidden">
                                Activate</button>
                            <button id="btnDeactivate" class="cancel" type="submit" name="action" value="DeactivateColorProofWorkflow"
                                    hidden="hidden">
                                Deactivate</button>
                        }
                        else
                        { 
                            <div class="pull-right">
                                @Html.Partial("ColorProofSwitch", Enums.DeliverSettingsType.ColorProofWorkflows)
                            </div>
                            <div class="clearboth"></div>
                            <div class="row-fluid blank-state" visible="false">
                                <div class="span4 blank-state-icon">
                                    <i class="icon-print"></i>
                                </div>
                                <div class="span7">
                                    <h3>@Resources.lblAddYourFirstColorProofWorkflow</h3>
                                    <p>@Resources.lblYouCanAddAsManyColorWorkflowsAsYouLike</p>
                                    <p>
                                        <a data-toggle="modal" data-backdrop="static" data-keyboard="false" href="@Url.Action("AddEditColorProofWorkflow")" class="btn btn-primary" title="@Resources.lblAddYourFirstColorProofWorkflow" >@Resources.btnAddNewColorProofWorkflow</a></p>
                                </div>
                            </div>
                        }
                        @{
                        DeleteConfirmation deleteUserConfirmation = new DeleteConfirmation(1, "DeleteColorProofWorkflow");
                        DeleteConfirmation deleteShareConfirmation = new DeleteConfirmation(2, "DeleteSharedColorProofWorkflow");
                        }
                        @Html.Partial("DeleteConfirmationDialog", deleteUserConfirmation)
                        @Html.Partial("DeleteConfirmationDialog", deleteShareConfirmation)
                    </div>
                }
            </div>
        </div>
        <!-- /row-fluid -->
    </div>
    <!-- /widget-content -->
</div>
<!-- /widget -->

<div id="modalShareWorkflow" class="modal hide">
    <div class="modal-header">
        <a href="javascript:void(0);" class="close" data-dismiss="modal" title="@Resources.btnClose" onclick="ResetWorkflowSharepopup();">
            &times;</a>
        <h3>@Resources.lblNewShareWorkflowPopup</h3>
    </div>
    <div class="modal-body">
        <p class="collaboratorshare-message">@Resources.paragraphWorkflowShare</p>
        
        <div class="controls">
            
            <div class="a-user-selector compact">
                <ul class="block-grid external two-up" id='usersBlock'>
                    
                </ul>
            </div>

            <div class="block form-inline">
                <div id="ModelErrors" style="display: none;" class="validation-summary-errors">
                    <ul id="errorsList">
                    </ul> 
                </div>
                <input id="shareWithEmail" class="input-medium" placeholder="@Resources.lblEmail" tabindex="3" type="text" />
                <button id="btnGetUsers" class="btn btn-success" type="button" value="insert" onclick="getUsersByEmail();">@Resources.lblAdd</button>
                @Html.Image("imgAddingUsersLoader", "~/Content/img/loading-icon.gif", @Resources.lblLoading, new { @class = "hide" }, 30, 30)
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn" href="javascript:void(0);" data-dismiss="modal" onclick="ResetWorkflowSharepopup();" title="@Resources.btnCancel">@Resources.btnCancel</a>
        <a class="btn btn-primary" type="submit" data-form-method="post" data-loading-image="imgSavingLoader" data-loading-text="@Resources.btnSharing" id="btnShareWorkflow" onclick="shareWorkflowWithUsers();" href="">
            @Resources.lblShare
        </a>
         @Html.Image("imgShareWorkflowLoader", "~/Content/img/loading-icon.gif", @Resources.lblLoading, new { @class = "hide" }, 30, 30)
    </div>
</div>

<li id="userWidgetTemplate" class="block user active share-template" style="display:none;">
    <dl>
        <dt class="user-block-name">##NAME##</dt>
        <dd class="user-block-company a-meta">##COMPANY##</dd>
        <dd class="user-block-email a-meta">##EMAIL##</dd>
        
        <dd class="workflow-share-action" >
            <div class="btn-group pull-right">
                <a href="javascript:void(0);" data-toggle="dropdown" class="btn btn-mini dropdown-toggle ellipsisButtonList">
                    <i class="icon-ellipsis-horizontal"></i></a>
                <ul class="dropdown-menu pull-right">
                    <li ><a href="javascript:void(0);" title="@Resources.lblRemove" onclick="removeUserWidget(this);">
                             <span class="icon-remove"></span>&nbsp;@Resources.lblRemove</a></li>
                </ul>
            </div>
        </dd>
        <dd class="a-avatar workflow-share-a-avatar">
        </dd>
    </dl>
</li>

@functions{
    private string GetActionButtons(int id, bool? isAvailable, bool? isActivated, bool isFromCurrentAccount)
    {
        System.Text.StringBuilder html = new System.Text.StringBuilder();

        html.Append("<div class=\"btn-group pull-right\">");
        html.Append("<a href=\"javascript:void(0);\" data-toggle=\"dropdown\" class=\"btn btn-mini dropdown-toggle ellipsisButtonList\"><i class=\"icon-ellipsis-horizontal\"></i></a>");
        html.Append("<ul class=\"dropdown-menu pull-right\">");

        if (isActivated.GetValueOrDefault())
        {
            html.Append("<li><a href=" + @Url.Action("AddEditColorProofWorkflow", new { SelectedWorkflow = id, page = Model.page, isFromCurrentAccount }) + "><i class=\"icon-pencil\"></i>" + Resources.btnEdit + "</a></li>");

            if (isFromCurrentAccount)
            {
                if (!isAvailable.GetValueOrDefault())
                {
                    html.Append("  <li><a href=\"javascript:void(0);\" onclick=\"$('#hdnInstance')[0].value = " + id + ";$('#btnActivate').click();\"><i class=\"icon-check\"></i>" + Resources.btnActivate + "</a></li>");
                }
                else
                {
                    html.Append("  <li><a href=\"javascript:void(0);\" onclick=\"$('#hdnInstance')[0].value = " + id + ";$('#btnDeactivate').click();\"><i class=\"icon-check-empty\"></i>" + Resources.btnDeactivate + "</a></li>");
                }
            }
        }
        if (isFromCurrentAccount)
        {
            html.Append("  <li><a href=\"javascript:void(0);\" onclick=\"$('#hdnInstance')[0].value = " + id + ";$('#modelDialogDeleteConfirmation_1').modal({ backdrop: 'static', keyboard: false });\" rel=\"nofollow\" data-method=\"delete\" data-disable-with=\"Deleting...\" ><i class=\"icon-trash\"></i>" + Resources.btnDelete + "</a></li>");
            if (ViewBag.IsDeliverAdministrator && isAvailable.GetValueOrDefault())
            {
                html.Append("  <li><a href=\"javascript:void(0);\" onclick='shareWorkflow(" + id + ")'><i class=\"icon-share-alt\"></i>" + Resources.lblShare + "</a></li>");
            }
        }
        else
        {
            html.Append("  <li><a href=\"javascript:void(0);\" onclick=\"$('#hdnInstance')[0].value = " + id + ";$('#modelDialogDeleteConfirmation_2').modal({ backdrop: 'static', keyboard: false });\" rel=\"nofollow\" data-method=\"delete\" data-disable-with=\"Deleting...\" ><i class=\"icon-trash\"></i>" + Resources.lblDeleteShare + "</a></li>");
        }
        html.Append("   </ul>");
        html.Append("</div>");

        return html.ToString();
    }
}

@section PageScript
{
    <script type="text/javascript">

        var sharedWorkflow;

        function shareWorkflow(id) {
            $('#modalShareWorkflow').modal({ backdrop: 'static', keyboard: false });
            sharedWorkflow = id;
        }

        function getUsersByEmail() {
            $('#btnGetUsers').attr('disabled', 'disabled');
            $('#imgAddingUsersLoader').show();
            resetErrorList();
            $.ajax({
                url: '@Url.Action("GetUsersByEmail", "Settings")' + '?email=' + $(shareWithEmail).val() + '&workflow=' + sharedWorkflow,
                type: 'GET',
                contentType: "application/json; charset=utf-8",
                success: getUsersByEmailSuccess,
                error: getUsersByEmailError,
                complete: function() {
                    $('#btnGetUsers').removeAttr('disabled');
                    $('#imgAddingUsersLoader').hide();
                    $('#shareWithEmail').val('');
                }
            });
            return;
        }

        function getUsersByEmailSuccess(result) {
            if (result && result.Status) {
                if (result.Status == '400') {
                    if (result.Content && result.Content.length > 0) {

                        for (var i = 0; i < result.Content.length; i++) {
                            var user = result.Content[i];
                            var givenName = user['GivenName'];
                            var familyName = user['FamilyName'];
                            var email = user['Email'];
                            var company = user['Company'];
                            var userID = user['ID'];
                            var avatar = user['UserAvatar'];

                            var userBlockID = 'userBlock_' + userID;

                            if (!document.getElementById(userBlockID)) {

                                var newUserWidget = $("#userWidgetTemplate").clone();
                                $("#usersBlock").append(newUserWidget);

                                $(newUserWidget).attr("id", userBlockID);
                                $(newUserWidget).attr("userIdentifier", userID);
                                $('#' + userBlockID + ' .user-block-name').text(givenName + ' ' + familyName);
                                $('#' + userBlockID + ' .user-block-email').text(email);
                                $('#' + userBlockID + ' .user-block-company').text(company);
                                $('#' + userBlockID + ' .a-avatar').append("<img src='" + avatar + "' alt='default-avatar-user' width='24' height = '24' />");

                                newUserWidget.show();
                            }
                        }

                    } else {
                        showShareMessage('@Resources.txtNoUsersWithSpecifiedEmail');
                    }
                } else {
                    showShareMessage(result.Content);
                }
            }
        }

        function getUsersByEmailError() {
            showShareMessage('@Resources.errRetrieveUserByEmailFailed');
        }

        function ResetWorkflowSharepopup() {
            $("#usersBlock").empty();
            $('#shareWithEmail').val('');
            resetErrorList();
        }

        function showShareMessage(message) {
            $('#errorsList').empty();
            $('#errorsList').append('<li>' + message + '</li>');
            $('#ModelErrors').show();
        }

        function removeUserWidget(item) {
            $(item).closest('.share-template').remove();
        }

        function resetErrorList()
        {
            $('#ModelErrors').hide();
            $('#errorsList').empty();
        }

        function shareWorkflowWithUsers() {
            if ($('#usersBlock').children().length > 0) {
                var users = new Array();
                $('#usersBlock .share-template').each(function() {
                    users.push($(this).attr('userIdentifier'));
                });

                $('#btnShareWorkflow').attr('disabled', 'disabled');
                $('#imgShareWorkflowLoader').show();
                resetErrorList();
                $.ajax({
                    url: '@Url.Action("ShareColorProofWorkflow", "Settings")' + '?workflow=' + sharedWorkflow,
                    type: 'POST',
                    data: JSON.stringify({ users: users, __RequestVerificationToken: $("#formMain input").val() }),
                    success: function (result) {
                        if (result.Status == '300' && result.Content && result.Content.length > 0) {
                            showShareMessage(result.Content);
                        } else {
                            $('#modalShareWorkflow').modal('hide');
                            ResetWorkflowSharepopup();
                        }
                    },
                    error: function(result) {
                        if (result.Content && result.Content.length > 0) {
                            showShareMessage(result.Content);   
                        }
                    },
                    complete: function() {
                        $('#btnShareWorkflow').removeAttr('disabled');
                        $('#imgShareWorkflowLoader').hide();
                    }
                });
            } else {
                showShareMessage('@Resources.errNoUserAdded');
            }
        }

        $('#txtSearch').on('keydown', function (e) {
            if (e.which == 13) {
                $('#btnSearchWorkflow').click();
                return false;
            }
            return true;
        });
    </script>
}