﻿@using GMGColor.Resources
@using GMGColorDAL.CustomModels
@model GMGColorDAL.CustomModels.Enums.DeliverSettingsType?

<div class="form-switch">
    <div class="input-append">
        <button type="submit" class="btn btn-primary" name="action" value="SwitchToInstances" onclick="javascript:void(0);" @Html.Raw(GetDisabledState(Enums.DeliverSettingsType.ColorProofInstances))>@Resources.lblColorProofSwitchInstances</button>
        <button type="submit" class="btn btn-primary" name="action" value="SwitchToWorkflows" onclick="javascript:void(0);" @Html.Raw(GetDisabledState(Enums.DeliverSettingsType.ColorProofWorkflows))>@Resources.lblColorProofSwitchWorkflows</button>
    </div>
</div>
@functions{

    private string GetDisabledState(Enums.DeliverSettingsType currentView)
    {
        return currentView == Model ? "disabled=\"disabled\"" : string.Empty;
    }
}