﻿@model ColorProofSettings.ColorProofInstances
@using GMGColor.Resources;
@using GMGColorBusinessLogic
@using GMGColorDAL
@using GMGColorDAL.CustomModels
@{
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
}
<div class="widget">
    <div class="widget-header">
        @if (ViewBag.AvailableCPConnections > 0)
        {
            <ul class="widget-links">
                <li><a class="btn btn-primary" href="@Url.Action("AddEditColorProofInstance", new { page = Model.page})">@Resources.btnAddNewColorProofInstance</a></li>
            </ul>
        }
        <h3>@ViewBag.Header @*<small>@ViewBag.HeaderSmall</small>*@</h3>
    </div>
    <!-- /widget-header -->
    <div class="widget-content">
        <div class="row-fluid">
            <div class="span3">
                @{Html.RenderAction("SecondaryNavigation", "Navigation");}
            </div>
            <div class="span9">
                @using (Html.BeginForm("DeliverSettings", "Settings", FormMethod.Post, new { @class = "form-horizontal dirtyignore", id = "formMain" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.TimezoneOffset)
                    <div id="dvColorProofInstanaces" class="tab-pane">
                        @if (Model.ListInstances.Count > 0 || !string.IsNullOrEmpty(Model.SearchText))
                        {
                            <div class="pull-right">
                                @Html.Partial("ColorProofSwitch", Enums.DeliverSettingsType.ColorProofInstances)
                            </div>
                            <div class="clearboth"></div>
                            <legend>@Resources.lblColorProofInstanceTitle</legend>
                            <div class="well form-search clearboth">
                                <div class="input-append">
                                    @Html.Hidden("SearchText", "0", new { id = "hdnSearchText" })
                                    @Html.TextBoxFor(model => model.SearchText, new { id = "txtSearch", @class = "input-medium search-query" })
                                    <button id="btnSearchText" type="submit" class="btn cancel" name="action" value="SearchColorProofInstance" onclick="$('#hdnSearchText')[0].value = $('#txtSearch').val();">
                                        @Resources.btnSearch</button>
                                </div>
                            </div>
                            <div class="display-field">
                                <div>
                                    <strong>
                                        @Html.Raw(string.Format(Resources.lblCPConnectionsAvailable, ViewBag.AvailableCPConnections, ViewBag.TotalConnections))
                                    </strong>
                                </div>
                                <br />
                                @{ var cpInstances = new WebGrid(Model.ListInstances); }
                                @cpInstances.GetHtml(
                                    tableStyle: "table table-striped table-bordered table-responsive",
                                    columns:
                                         cpInstances.Columns(
                                            cpInstances.Column(format: @<text><span class="badge shared-icon">@(item.IsFromCurrentAccount ? "" : "S")</span></text>),
                                            cpInstances.Column(columnName: "SystemName", header: Resources.lblColorProofInstanceCoZoneName, format: @<text><a href="@(item.IsFromCurrentAccount ? Url.Action("AddEditColorProofInstance", new { item.ID, Model.page }) : "javascript:void(0)")" onclick="$('#hdnInstance')[0].value = @item.ID;$('#btnEdit').click();" style="@(item.IsFromCurrentAccount ? "" : "text-decoration:none; cursor:text")">@item.SystemName</a></text>, style: "span2"),
                                            cpInstances.Column(columnName: "Address", header: Resources.lblColorProofInstanceLocation, style: "span3"),
                                            cpInstances.Column(columnName: "Version", header: Resources.lblColorProofInstanceVersion, format:@<text>@(item.IsFromCurrentAccount ? item.Version : "")</text>),
                                            cpInstances.Column(columnName: "State", header: Resources.lblColorProofInstanceManualStats, format: @<text>@Html.Raw(GetStateLabel(item.State))</text>),
                                            cpInstances.Column(columnName: "IsOnline", header: Resources.lblColorProofInstanceConnectionStatus, format: @<text>@Html.Raw(SettingsBL.GetCPConnectionStatus(item.State, item.IsOnline, item.PairingCode, item.PairingCodeExpirationDate, item.IsFromCurrentAccount))</text>, style: "connectionStatus"),
                                            cpInstances.Column(format: @<text>@Html.Raw(GetActionButtons(item.ID, item.ColorProofInstanceState, item.SystemName, item.Address, item.PairingCodeExpirationDate, item.IsFromCurrentAccount))</text>)
                                            ))
                            </div>
                            @Html.HiddenFor(m => m.page, new { @data_val = "false" })
                            @Html.Hidden("PairingCodeRegion", GMGColorConfiguration.AppConfiguration.ColorProofPairingCodeRegion, new { @data_val = "false" })
                            @Html.Hidden("InstanceId")
                            @Html.Hidden("SelectedInstance", "0", new { id = "hdnInstance", @data_val = "false" })
                            <button id="btnActivate" class="cancel" type="submit" name="action" value="ActivateColorProofInstance"
                                    hidden="hidden">
                                Activate</button>
                            <button id="btnDeactivate" class="cancel" type="submit" name="action" value="DeactivateColorProofInstance"
                                    hidden="hidden">
                                Deactivate</button>
                                   DeleteConfirmation deleteUserConfirmation = new DeleteConfirmation(1, "DeleteColorProofInstance");
                            @Html.Partial("DeleteConfirmationDialog", deleteUserConfirmation)
                        }
                        else
                        { 
                            <div class="row-fluid blank-state" visible="false">
                                <div class="span4 blank-state-icon">
                                    <i class="icon-print"></i>
                                </div>
                                <div class="span7">
                                    <strong>
                                        @Html.Raw(string.Format(Resources.lblCPConnectionsAvailable, ViewBag.AvailableCPConnections, ViewBag.TotalConnections))
                                    </strong>
                                    <h3>@Resources.lblAddYourFirstColorProofInstance</h3>
                                    <p>@Resources.lblYouCanAddAsManyColorProofInstanceAsYouLike</p>
                                     @if (ViewBag.AvailableCPConnections > 0)
                                     {
                                         <p>
                                             <a class="btn btn-primary" title="@Resources.lblAddYourFirstColorProofInstance" href="@Url.Action("AddEditColorProofInstance")">@Resources.btnAddNewColorProofInstance</a>
                                         </p>
                                     }
                                </div>
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
        <!-- /row-fluid -->
    </div>
    <!-- /widget-content -->
</div>
<!-- /widget -->

<div id="modalDialogNewPairingCode" class="modal hide">
    @using (Html.BeginForm("DeliverSettings", "Settings", FormMethod.Post, new { id = "formNewPairingCode", @class = "form-horizontal", autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
        <div class="modal-header">
            <h3>@Resources.lblColorProofInstanceNewPairingCode</h3>
        </div>
        @Html.ValidationSummary(true)
        <div class="modal-body">
             <label class="empty-block-email-exists alert alert-error" id="errorMesage" style="display: none; text-align: center;">@Resources.lblFailedCreateNewPairingCode</label>
            <div class="control-group">
                <label class="control-label">@Resources.lblColorProofInstanceConnectionDetailsCoZoneName</label>
                <div class="controls">
                    <input id="cozoneName" type="text" readonly="readonly" disabled="disabled"/>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">@Resources.lblColorProofInstanceLocation</label>
                <div class="controls">
                    <input id="location" type="text" readonly="readonly" disabled="disabled"/>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">@Resources.lblColorProofInstancePaitingCode</label>
                <div class="controls">
                    <input id="pairingCode" type="text" readonly="readonly" disabled="disabled"/>
                </div>
            </div>
            <div class="control-group" style="margin-top: -17px;">
                <div class="controls">
                    <label class="control-label">@Resources.lblColorProofInstancePaitingCodeExpirationTimeout</label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a class="btn" href="javascript:void(0);" data-dismiss="modal" onclick="ResetModelCustom();" title="@Resources.btnCancel">@Resources.btnCancel</a>
            <a class="btn btn-primary" type="submit" data-form-method="post" data-loading-text="@Resources.btnOk" href="javascript:void(0)" onclick="savePairingCode();" id="btnSavePairingCode">@Resources.btnOk</a>
        </div>
    }
</div>

@functions{

    private string GetActionButtons(int id, GMGColorDAL.ColorProofInstanceState state, string cozoneName, string address, DateTime? pairingCodeExpirationDate, bool isFromCurrentAccount)
    {
        System.Text.StringBuilder html = new System.Text.StringBuilder();

        html.Append("<div class=\"btn-group pull-right\" cpId=\"" + id + "\">");
        if (isFromCurrentAccount)
        {
            html.Append("   <a href=\"javascript:void(0);\" data-toggle=\"dropdown\" class=\"btn btn-mini dropdown-toggle ellipsisButtonList\"><i class=\"icon-ellipsis-horizontal\"></i></a>");
        }
        else
        {
            html.Append("   <a href=\"javascript:void(0);\" class=\"btn btn-mini dropdown-toggle ellipsisButtonList\" disabled><i class=\"icon-ellipsis-horizontal\"></i></a>");
        }
        html.Append("   <ul class=\"dropdown-menu pull-right\" disabled>");
        html.Append("      <li><a href=" + @Url.Action("AddEditColorProofInstance", new { ID = id, Model.page }) + "><i class=\"icon-pencil\"></i>" + Resources.btnEdit + "</a></li>");
        if (state.Key != (int)GMGColorDAL.ColorProofInstance.ColorProofInstanceStateEnum.Pending)
        {
            if (state.Key == (int)GMGColorDAL.ColorProofInstance.ColorProofInstanceStateEnum.Stopped || state.Key == (int)GMGColorDAL.ColorProofInstance.ColorProofInstanceStateEnum.Ready)
            {
                html.Append("  <li><a href=" + @Url.Action("ActivateColorProofInstance", new { id, Model.page }) + " data-form-method=\"post\"><i class=\"icon-check\"></i>" + Resources.btnActivate + "</a></li>");
            }
            if (state.Key == (int)GMGColorDAL.ColorProofInstance.ColorProofInstanceStateEnum.Running)
            {
                html.Append("  <li><a href=" + @Url.Action("DeactivateColorProofInstance", new { id, Model.page }) + " data-form-method=\"post\"><i class=\"icon-check-empty\"></i>" + Resources.btnDeactivate + "</a></li>");
            }
        }
        else if (SettingsBL.IsPairingCodeExpired(pairingCodeExpirationDate))
        {
            html.Append("  <li class=\"pairingCodeOption\"><a href=\"javascript:void(0);\" onclick=\"generateNewPairingCode(\'" + cozoneName + "\',\'" + address + "\',\'" + id + "\');\"><i class=\"icon-link\"></i>" + Resources.btnNewPairnigCode + "</a></li>");
        }
        html.Append("  <li><a href=\"javascript:void(0);\" onclick=\"$('#hdnInstance')[0].value = " + id + ";$('#modelDialogDeleteConfirmation_1').modal({ backdrop: 'static', keyboard: false });\" rel=\"nofollow\" data-method=\"delete\" data-disable-with=\"Deleting...\" ><i class=\"icon-trash\"></i>" + Resources.btnDelete + "</a></li>");
        html.Append("   </ul>");
        html.Append("</div>");

        return html.ToString();
    }

    private string GetStateLabel(GMGColorDAL.ColorProofInstanceState state)
    {
        return state != null ? GetStateLabel(state.Key) : string.Empty;
    }

    private string GetStateLabel(int stateKey)
    {
        string returnValue = string.Empty;
        switch ((GMGColorDAL.ColorProofInstance.ColorProofInstanceStateEnum)stateKey)
        {
            case GMGColorDAL.ColorProofInstance.ColorProofInstanceStateEnum.Running:
                {
                    returnValue = Resources.lblColorProofInstancesManualStatsRunning;
                    break;
                }
            case GMGColorDAL.ColorProofInstance.ColorProofInstanceStateEnum.Ready:
                {
                    returnValue = Resources.lblColorProofInstancesManualStatsReady;
                    break;
                }
            case GMGColorDAL.ColorProofInstance.ColorProofInstanceStateEnum.Pending:
                {
                    returnValue = Resources.lblColorProofInstancesManualStatsPending;
                    break;
                }
            case GMGColorDAL.ColorProofInstance.ColorProofInstanceStateEnum.Stopped:
                {
                    returnValue = Resources.lblColorProofInstancesManualStatsStopped;
                    break;
                }
        }
        return returnValue;
    }
}

@section PageScript
{
    <script type="text/javascript">

        $(document).ready(function () {
            // send timezoneoffset to the server
            $("#TimezoneOffset").val(new Date().getTimezoneOffset());
        });

        function generateNewPairingCode(cozoneName, address, id) {
            resetModalFields();
            $("#modalDialogNewPairingCode").modal("show");
            $("#cozoneName").val(cozoneName);
            $('#location').val(address);
            $('#InstanceId').val(id);
            
            //Generate random number with fixed length = 6
            var paringCode = Math.floor(Math.random() * 89999 + 10000);
            $('#pairingCode').val($('#PairingCodeRegion').val() + paringCode);
        }

        function savePairingCode() {
            var pairingCode = $('#pairingCode').val();
            var instanceId = $('#InstanceId').val();
            $.ajax({
                url: '@Url.Action("CreateNewPairingCode", "Settings")',
                type: 'POST',
                data: JSON.parse("{ 'code':\'" + pairingCode + "\', 'instanceId':\'" + instanceId + "\', \"__RequestVerificationToken\" : \"" + $("#formNewPairingCode input").val() + "\"}"),
                success: function (result) {
                    if (result.Status === 300) {
                        $('#errorMesage').css('display', 'block');
                    } else {
                        $("#modalDialogNewPairingCode").modal("hide");
                        resetModalFields();
                        $("div[cpId='" + instanceId + "']").parents("tr:first").find("td.connectionStatus").text('@Resources.lblPairingConnectionStatus ' + pairingCode);
                        $("div[cpId='" + instanceId + "']").find("li.pairingCodeOption").remove();
                    }
                },
                error: function (jqXHR, ajaxOptions, thrownError) {
                    if (jqXHR.readyState == 0 || jqXHR.status == 0) {
                        return;
                    }
                    else {
                        $('#errorMesage').css('display', 'block');
                    }
                }
            });
        }

        function resetModalFields() {
            $('#btnSavePairingCode').removeClass('disabled');
            $('#btnSavePairingCode').removeAttr('disabled');
            $("#cozoneName").val("");
            $('#location').val("");
            $('#InstanceId').val("");
            $('#errorMesage').css('display', 'none');
        }

        $('#txtSearch').on('keydown', function (e) {
            if (e.which == 13) {
                $('#btnSearchText').click();
                return false;
            }
            return true;
        });
    </script>
}
