﻿@model GMG.CoZone.Settings.UI.ViewModels.SmtpSettingsViewModel
@using GMGColor.Resources;

@{
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
}

@{ Bundles.Reference("settingsCustomSmtpStyles"); }
<div class="widget">
    <div class="widget-header">
        <h3>@ViewBag.Header @*<small>@ViewBag.HeaderSmall</small>*@</h3>
    </div>
    <!-- /widget-header -->
    <div class="widget-content">
        <div class="row-fluid">
            <div class="span3">
                @{Html.RenderAction("SecondaryNavigation", "Navigation");}
            </div>
            <div class="span9">                
                @using (Html.BeginForm("CustomSmtpServer", "Settings", FormMethod.Post, new { @class = "form-horizontal dirtyignore", id = "smtpServerForm" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("testSmtpUrl", @Url.Action("TestCustomSmtpServer", "Settings"))
                    @Html.Hidden("IsPasswordEnabled", Model.IsPasswordEnabled);
                    @Html.Hidden("IsEnabled", Model.IsEnabled);
                    @Html.Hidden("ChangePasswordText", Resources.btnChangePassword);
                    @Html.Hidden("CancelPasswordText", Resources.btnDeliverJobCancel);
                    @Html.Hidden("SmtpSuccessConnection", Resources.smtpConnectionSuccess);
                    @Html.Hidden("SmtpFailedConnection", Resources.smtpConnectionFailed);

                    <legend>@Resources.navCustomSmtpServer</legend>
                    <div class="control-group">
                        <label class="control-label">@Resources.lblSmtpServer</label>
                        <div class="controls">
                            @Html.TextBoxFor(m => m.ServerName, new { @class = "smtpSetting", @placeholder = "E.g: smtp.gmail.com" })
                            @Html.ValidationMessageFor(m => m.ServerName)
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">@Resources.lblPort</label>
                        <div class="controls">
                            @Html.TextBoxFor(m => m.Port, new { @class = "smtpSetting", @placeholder = "E.g: 587" })
                            @Html.ValidationMessageFor(m => m.Port)
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">@Resources.lblSmtpEnableSsl</label>
                        <div class="controls">
                            @Html.CheckBoxFor(m => m.EnableSsl, new { @class = "smtpSetting" })
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">@Resources.lblEmail</label>
                        <div class="controls">
                            @Html.TextBoxFor(m => m.EmailAddress, new { @class = "smtpSetting", @placeholder = "E.g: your_email@gmail.com" })
                            @Html.ValidationMessageFor(m => m.EmailAddress)
                            <a href="javascript:void(0)" class="hide" id="passwordField">@Resources.btnChangePassword</a>
                        </div>
                    </div>
                    <div class="control-group smtpSettings-password hide">
                        <label class="control-label">@Resources.lblPassword</label>
                        <div class="controls">
                            @Html.TextBoxFor(m => m.Password, new { type = "password", @class = "smtpSetting", @placeholder = "E.g: Gmail or App password" })
                            @Html.ValidationMessageFor(m => m.Password)
                        </div>
                    </div>
                    <div class="control-group smtpSettings-password hide">
                        <label class="control-label">@Resources.lblConfirmPassword</label>
                        <div class="controls">
                            @Html.TextBoxFor(m => m.ConfirmPassword, new { type = "password", @class = "smtpSetting", @placeholder = "E.g: Gmail or App password" })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword)
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <button type="button" class="btn btn-primary" id="btnTestConnection" name="action" value="TestCustomSmtp" data-loading-text="@Resources.lblChecking" disabled>
                                @Resources.btnCheckConnection
                            </button>
                            <img id="testCustomSmptLoadingIcon" class="hide" src=@Url.Content("~/Content/img/loading.gif") style = "width:30px; height:30px"/>
                        </div>
                    </div>

                    @*<div class="alert" id="permisionsWarning">@Resources.lblSmtpWarning</div>
                    <div class="alert" id="permisionsWarning">@Resources.smtpCheckConnectionWarnning</div>*@

                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary" name="action" value="AddUpdateSmtp" data-loading-text="@Resources.btnUpdating">
                            @Resources.btnUpdateAccount
                        </button>
                        <button type="submit" class="btn cancel" id="btnDisableCustomSmtp" name="action" value="DisableCustomSmtp" data-loading-text="@Resources.btnUpdating" disabled>
                            <i class="icon-remove icon-white"></i>
                            @Resources.btnDisableCustomSmtp
                        </button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@{ Bundles.Reference("validate");}
@{ Bundles.Reference("settingsCustomSmtp");}
@{ Bundles.Reference("requiredIfScript");}