﻿@model GMGColorDAL.CustomModels.AccountSettings.Customise
@using GMGColor.FileUpload;
@using GMGColor.Resources;
@using GMGColorDAL
@{
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
    Bundles.Reference("fileupload");
    Bundles.Reference("colorpicker");
    GMGColorBusinessLogic.DbContextBL context = HttpContext.Current.Items[GMGColorDAL.DALUtils.DatabaseContext] as GMGColorBusinessLogic.DbContextBL;
}
<div class="widget">
    <div class="widget-header">
        <h3>@ViewBag.Header@*&nbsp;<small>@ViewBag.HeaderSmall</small>*@</h3>
    </div>
    <!-- /widget-header -->
    <div class="widget-content">
        <div class="row-fluid">
            <div class="span3">
                @{Html.RenderAction("SecondaryNavigation", "Navigation");}
            </div>
            <div class="span9">
                @using (Html.BeginForm("Customize", "Settings", FormMethod.Post, new { @class = "form-horizontal", id = "formMain" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.objCustomise.objAccount.ID)
                    @Html.HiddenFor(m => m.objCustomise.objCompany.ID)                                       
                    <fieldset>
                        <legend>@Resources.lblAppearance</legend>
                        <div class="control-group">
                            <label class="control-label">@Resources.lblSiteName</label>
                            <div class="controls">
                                @Html.TextBoxFor((m => m.objCustomise.objAccount.SiteName), new { placeholder = Resources.lblEnterYourOrganisationNameHere })
                                @Html.ValidationMessageFor(m => m.objCustomise.objAccount.SiteName)
                                <p class="help-block">
                                    @Resources.pharagraphSettingsCustomise1
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">@Resources.lblColorScheme</label>
                            <div class="controls">
                                <div id="themeChooser">
                                    <ul class="colorscheme  @(Model.objCustomise.ShowSelectedTheme ? "styleswitch" : string.Empty)">
                                        @for (int i = 0; i < Model.objCustomise.objColorSchema.Count; i++)
                                        {
                                            Html.RenderPartial("_ColorPickerList", 
                                                                Model.objCustomise.objColorSchema[i], 
                                                                new ViewDataDictionary { TemplateInfo = new TemplateInfo { HtmlFieldPrefix = "objCustomise.objColorSchema[" + i + "]",}});
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>@Resources.lblBranding</legend>
                        <p>@Resources.lblBrandingInfo</p>
                        <h6>@Resources.lblApplication</h6>
                        <div class="control-group">
                            <label class="control-label">@Resources.lblHeaderLogo</label>
                            @{ FileUploadModel fupHeaderLogo = new FileUploadModel(Model.objCustomise.objAccount.Region);
                               fupHeaderLogo.Key = 1;
                               fupHeaderLogo.DefaultImagePath = GMGColorDAL.Account.GetLogoPath(Model.objCustomise.objAccount, GMGColorDAL.Account.LogoType.HeaderLogo, false, false);
                               fupHeaderLogo.HelpBlockHtml = Resources.lblDownloadOur + " <a href=\"../../Content/templates/ps-header-template.psd\">" + Resources.lblPhotoshop + "</a> " + Resources.lblFileToGetStarted;
                               fupHeaderLogo.HelpInlineHtml = Resources.lblMaxHeight + ": <strong>33</strong>&nbsp;" + Resources.lblPixels + "</span>";                               
                            }
                            @Html.Partial("FileUpload", fupHeaderLogo)
                        </div>
                        <h6>@Resources.lblLogin</h6>
                        <div class="control-group">
                            <label class="control-label">@Resources.lblLoginLogo</label>
                            @{ FileUploadModel fupLoginLogo = new FileUploadModel(Model.objCustomise.objAccount.Region);
                               fupLoginLogo.Key = 2;
                               fupLoginLogo.DefaultImagePath = GMGColorDAL.Account.GetLogoPath(Model.objCustomise.objAccount, GMGColorDAL.Account.LogoType.LoginLogo, false, false);
                               fupLoginLogo.HelpBlockHtml = Resources.lblDownloadOur + " <a href=\"../../Content/templates/ps-login-template.psd\">" + Resources.lblPhotoshop + "</a> " + Resources.lblFileToGetStarted;
                               fupLoginLogo.HelpInlineHtml = Resources.lblMaxWidth + ": <strong>200</strong>&nbsp;" + Resources.lblPixels + "</span>";                               
                            }
                            @Html.Partial("FileUpload", fupLoginLogo)
                        </div>
                        <h6>@Resources.lblEmail</h6>
                        <div class="control-group">
                            <label class="control-label">@Resources.lblEmailLogo</label>
                            @{FileUploadModel fupEmailLogo = new FileUploadModel(Model.objCustomise.objAccount.Region);
                                fupEmailLogo.Key = 3;
                                fupEmailLogo.DefaultImagePath = GMGColorDAL.Account.GetLogoPath(Model.objCustomise.objAccount, GMGColorDAL.Account.LogoType.EmailLogo, false, false);
                                fupEmailLogo.HelpBlockHtml = Resources.lblDownloadOur + " <a href=\"../../Content/templates/ps-email-template.psd\">" + Resources.lblPhotoshop + "</a> " + Resources.lblFileToGetStarted;
                                fupEmailLogo.HelpInlineHtml = Resources.lblMaxDimensions + ": <strong>160 x 60</strong>&nbsp;" + Resources.lblPixels + "</span>";                              
                            }
                            @Html.Partial("FileUpload", fupEmailLogo)
                        </div>
                        <h6>@Resources.lblFavIcon</h6>
                        <div class="control-group">
                            <label class="control-label">@Resources.lblFavIcon</label>
                            @{var fupFavIconLogo = new FileUploadModel(Model.objCustomise.objAccount.Region)
                              {
                                  Key = 4, 
                                  DefaultImagePath = GMGColorDAL.Account.GetLogoPath(Model.objCustomise.objAccount,
                                  GMGColorDAL.Account.LogoType.FavIconLogo, false, false), 
                                  HelpBlockHtml = Resources.lblDownloadOur + " <a href=\"../../Content/templates/favicon-template.psd\">" + Resources.lblPhotoshop + "</a> " + Resources.lblFileToGetStarted,
                                  HelpInlineHtml = Resources.lblMaxDimensions + ": <strong>32 x 32</strong>&nbsp;" + Resources.lblPixels + "</span>",
                                  AcceptFileTypes = "/(jpe?g|png|ico)$/i"
                              };
                            }
                            @Html.Partial("FileUpload", fupFavIconLogo)
                        </div>
                    </fieldset>
                    <div class="form-actions">
                        <button class="btn btn-primary" name="action" type="submit" value="SaveChanges" data-loading-text="@Resources.btnUpdating">@Resources.btnUpdateAccount</button>
                    </div>
                    @Html.Partial("FileUploadTemplates", FileUploadModel.FileUploadTemplates(Model.objCustomise.objCustomiseAccount.PathToTempFolder, Model.objCustomise.objAccount.Region))
                }
            </div>
        </div>
        <!-- /row-fluid -->
    </div>
    <!-- /widget-content -->
</div>
<!-- /widget -->
@{ Bundles.Reference("settingsCustomise"); }