﻿@model GMGColorDAL.CustomModels.AccountSettings.DeliverExternalUsers
@using GMGColor.Resources;
@using GMGColorDAL
@using GMGColorDAL.Common
@using GMGColorDAL.CustomModels
@{
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
    GMGColorBusinessLogic.DbContextBL context = HttpContext.Current.Items[GMGColorDAL.DALUtils.DatabaseContext] as GMGColorBusinessLogic.DbContextBL;
}
<div class="widget">
    <div class="widget-header">
        <ul class="widget-links"></ul>
        <h3>@ViewBag.Header @*<small>@ViewBag.HeaderSmall</small>*@</h3>
    </div>
    <!-- /widget-header -->
    <div class="widget-content">
        <div class="row-fluid">
            <div class="span3">
                @{Html.RenderAction("SecondaryNavigation", "Navigation");}
            </div>
            <div class="span9">
                @using (Html.BeginForm("ExternalUsers", "Settings", FormMethod.Post, new { @class = "form-horizontal dirtyignore", id = "formMain" }))
                {
                    @Html.AntiForgeryToken()
                    <div id="dvUsers" class="tab-pane">
                            <div class="pull-right">
                                @Html.Partial("ExternalUsersSwitch", Enums.ExternalUserType.Deliver)
                            </div>
                             <div class="clearboth"></div>
                        <legend>@Resources.lblExternalUserDeliver</legend>
                        @if (Model.ListDeliverExternalUsers.Count > 0 || !string.IsNullOrEmpty(Model.SearchText))
                        {
                            <div class="well form-search clearboth">
                                <div class="input-append">
                                    @Html.Hidden("SearchText", "0", new { id = "hdnSearchText" })
                                    @Html.TextBoxFor(model => model.SearchText, new { id = "txtSearch", @class = "input-medium search-query" })
                                    <button id="btnSearchUser" type="submit" class="btn cancel" name="action" value="SearchDeliverExUser" onclick="$('#hdnSearchText')[0].value = $('#txtSearch').val();">
                                        @Resources.btnSearch</button>
                                </div>
                            </div>
                            <div class="display-field">
                                @{var deliverUsers = new WebGrid(Model.ListDeliverExternalUsers, rowsPerPage: 10);}
                                @deliverUsers.GetHtml(
                                 tableStyle: "table table-striped table-bordered",
                                    columns:
                                     deliverUsers.Columns(
                                         deliverUsers.Column(format: @<text><span class="badge @(item.IsDeliverExternalUser ? "notification-icon" : "shared-icon")">@(item.IsDeliverExternalUser ? "N" : "S")</span></text>),
                                                           deliverUsers.Column(columnName: "Email", header: Resources.lblEmail, format: @<text>@if (item.IsDeliverExternalUser)
                                                                                                                                               {
                                                                                                                                                   <text><a href="@Url.Action("EditExternalCollaborator", new {item.ID, ViewBag.page, userType = Enums.ExternalUserType.Deliver})">@item.Email </a> </text>
                                                                                                                                               }
                                                                                                                                               else
                                                                                                                                               { @item.Email}</text>),
                                                           deliverUsers.Column(columnName: "Name", header: Resources.lblName, format: @<text>@item.Name</text>),
                                                           deliverUsers.Column(columnName: "Company", header: Resources.lblCompanyName, format: @<text>@item.Company</text>),
                                                           deliverUsers.Column(format: @<text>@Html.Raw(GetActionButtons(item.ID, item.IsDeliverExternalUser))</text>)
                                                  ))
                            </div>
                            @Html.Hidden("selectedUser", 0, new { id = "hdnSelectedUser" })
                            @Html.Hidden("isDeliverExternalUser", false, new { id = "hdnIsDeliverExternalUser" })
                                  DeleteConfirmation deleteUserConfirmation = new DeleteConfirmation(1, "DeleteDeliverExUser");
                            @Html.Partial("DeleteConfirmationDialog", deleteUserConfirmation)
                           
                        }
                        else
                        {
                            <div class="row-fluid blank-state" visible="false">
                                <div class="span4 blank-state-icon">
                                    <i class="icon-signout"></i>
                                </div>
                                <div class="span7">
                                    <h3>@Resources.lblNoDeliverExternalUsers</h3>
                                </div>
                            </div>
                        }
                    </div>
                    <script type="text/javascript">
                        this.modelDialog = '@ViewBag.ModelDialog';                
                    </script>
                }
            </div>
        </div>
        <!-- /row-fluid -->
    </div>
    <!-- /widget-content -->
</div>
@functions{
    private string GetActionButtons(int id, bool isDeliverExternalUser)
    {
        System.Text.StringBuilder html = new System.Text.StringBuilder();
        html.Append("<div class=\"btn-group pull-right\">");
        html.Append("   <a href=\"javascript:void(0);\" data-toggle=\"dropdown\" class=\"btn btn-mini dropdown-toggle ellipsisButtonList\"><i class=\"icon-ellipsis-horizontal\"></i></a>");
        html.Append("   <ul class=\"dropdown-menu pull-right\">");
        if (isDeliverExternalUser)
        {
            html.Append("      <li><a href=" + @Url.Action("EditExternalCollaborator", new {id, ViewBag.page, userType = Enums.ExternalUserType.Deliver}) + "><i class=\"icon-pencil\"></i>" + Resources.btnEdit + "</a></li>");
        }
        html.Append("      <li><a href=\"javascript:void(0);\" onclick=\"$('#hdnSelectedUser')[0].value = " + id + ";$('#hdnIsDeliverExternalUser')[0].value = " + isDeliverExternalUser.ToString().ToLower() + ";$('#modelDialogDeleteConfirmation_1').modal({ backdrop: 'static', keyboard: false });\" rel=\"nofollow\" data-method=\"delete\" data-disable-with=\"Deleting...\" ><i class=\"icon-trash\"></i>" + Resources.btnDelete + "</a></li>");
        html.Append("   </ul>");
        html.Append("</div>");

        return html.ToString();
    }
}

<script type="text/javascript">
    $('#txtSearch').on('keydown', function (e) {
        if (e.which == 13) {
            $('#btnSearchUser').click();
            return false;
        }
        return true;
    });
</script>
