﻿@model GMGColorDAL.CustomModels.AccountSettings.DNSAndCustomDomain
@using GMGColor.Resources;
@using GMGColorDAL
@using GMGColorDAL.CustomModels
@{
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
}
<div class="widget">
    <div class="widget-header">
        <h3>@ViewBag.Header @*<small>@ViewBag.HeaderSmall</small>*@</h3>
    </div>
    <!-- /widget-header -->
    <div class="widget-content">
        <div class="row-fluid">
            <div class="span3">
                @{Html.RenderAction("SecondaryNavigation", "Navigation");}
            </div>
            <div class="span9">
                @using (Html.BeginForm("DNSAndCustomDomain", "Settings", FormMethod.Post, new { @class = "form-vertical", id = "formMain" }))
                {    
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.objLoggedAccount.ID)
                    <fieldset>
                        <legend>@Resources.lblSiteAddress <small>@Resources.txtDNSTheseAreTheDomains</small></legend>

                        <p>@Resources.paragraphDNSDomain1</p>
                        <p>@Resources.paragraphDNSDomain2</p>
                        <p>@Resources.paragraphDNSDomain3</p>
                        <p>@Resources.paragraphDNSDomain4 <span class="badge badge-success">Ok</span>.</p>
                        <p>@Resources.paragraphDNSDomain5</p>

                        @if (Model.objLoggedAccountType == GMGColorDAL.AccountType.Type.GMGColor)
                        {
                            <div class="control-group">
                                <label class="control-label">@Resources.lblAccountUrl</label>
                                <div class="controls">
                                    @{string domian = Model.objLoggedAccount.Domain; }
                                    @Html.TextBox("objAccount.Domain", domian, new { @disabled = "disabled" })
                                    @if ((GMGColorConfiguration.AppConfiguration.Environment == "prod"))
                                    {
                                        <span class="help-inline">@GMGColorConfiguration.AppConfiguration.HostAddress</span>
                                    }
                                </div>
                            </div>
                        }
                        else
                        {
                            <button class="hide" name="action" type="submit" value="DeleteDomain" id="DeleteDomain"
                                    onclick="$('#modelDialogDeleteConfirmation_1').modal({ backdrop: 'static', keyboard: false }); return false;">
                            </button>
                            DeleteConfirmation deleteDomainConfirmation = new DeleteConfirmation(1, "DeleteDomain");
                                @Html.Partial("DeleteConfirmationDialog", deleteDomainConfirmation)
                            <div class="display-field">
                                @{var grid = new WebGrid(Model.objDNSAndCustomDomain.AccountDomains, rowsPerPage: 10);}
                                @grid.GetHtml(
                                    tableStyle: "table",
                                    columns: grid.Columns(
                                        grid.Column(columnName: "DomainName", header: Resources.lblDomain, canSort: false),
                                        grid.Column(columnName: "IsAvilable", header: Resources.lblDNS, canSort: false, format: @<text>@Html.Raw(item.IsAvilable ? "<span class=\"dns-check badge badge-success\">" + Resources.btnOk + "</span>" : "<span class=\"dns-check badge badge-important\">" + Resources.lblFailed + "</span>")</text>),
                                        grid.Column(columnName: "IsPrimary", header: string.Empty, canSort: false, format: @<text>@Html.Raw(item.IsPrimary ? "<strong>" + Resources.lblPrimaryDomain + "</strong>" : (item.IsAvilable ? "<button class=\"btn btn-primary\" name=\"action\" type=\"submit\" value=\"ChangeDomain\">" + Resources.lblMakeThisPrimary + "</button>" : string.Empty) + (item.IsOriginalDomain ? "" : GetActionButtons()))</text>)
                                    )
                                )
                            </div>
                                  if (String.IsNullOrEmpty(Model.objLoggedAccount.CustomDomain))
                                  {
                            <div class="form-actions">
                                <div id="dns-primary"  @(!ViewData.ModelState.IsValid ? "style= display:none;" : "style=display: block;")>
                                    <button class="btn btn-primary" onclick="$('#dns-primary').hide(); $('#dns-custom').show();"
                                            type="button">@Resources.lblAddCusomDomain</button>
                                </div>
                                @{
                                      bool a = ViewData.ModelState.IsValid;
                                }
                                <div id="dns-custom" @(ViewData.ModelState.IsValid ? "style= display:none;" : "")>
                                    <div class="control-group">
                                        <label class="control-label">
                                            @Resources.lblEnterYourDomainNameBelow</label>
                                        <div class="controls">
                                            <div class="input-prepend">
                                                <span class="add-on">http://</span>
                                                @Html.TextBoxFor(mdl => mdl.objLoggedAccount.CustomDomain, new { @class = "text_box single_line", @Value = Model.objLoggedAccount.CustomDomain })
                                            </div>
                                             @Html.ValidationMessageFor(mdl => mdl.objLoggedAccount.CustomDomain)
                                        </div>
                                    </div>
                                    <button class="btn btn-primary" name="action" type="submit" value="ClaimDomain">@Resources.lblClaimThisDomain</button>
                                    <button class="btn btn-link" onclick="$('#dns-primary').show(); $('#dns-custom').hide();" type="button">@Resources.btnCancel</button>
                                </div>
                            </div>
                                  }
                        }
                    </fieldset>
                }
            </div>
        </div>
        <!-- /row-fluid -->
    </div>
    <!-- /widget-content -->
</div>
<!-- /widget -->
@functions{

    private string GetActionButtons()
    {
        System.Text.StringBuilder html = new System.Text.StringBuilder();
        html.Append("<div class=\"btn-group pull-right\" > ");
        html.Append("   <a href=\"javascript:void(0);\" data-toggle=\"dropdown\" class=\"btn btn-mini dropdown-toggle ellipsisButtonList\"><i class=\"icon-ellipsis-horizontal\"></i></a>");
        html.Append("   <ul class=\"dropdown-menu pull-right\">");
        html.Append("      <li class=\"delete-domain\"><a href=\"javascript:void(0);\" onclick=\"$('#DeleteDomain').click();\"><i class=\"icon-trash\"></i>" + Resources.btnDelete + "</a></li>");
        html.Append("   </ul>");
        html.Append("</div>");
        return html.ToString();
    }

}