﻿@model ExternalUserDetails
@using GMGColor.Resources;
@using GMGColor.HtmlHelpers;
@using GMGColorDAL.CustomModels;
@{
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
}
<p class="breadcrumb">
    <a href="@Url.Action("ExternalUsers", new { ViewBag.page })">@Resources.lblExternalUsers</a>
</p>
<div class="widget">
    <div class="widget-header">
        <h3>@Resources.lblExternalUsers @*<small>@Resources.lblEditUser</small>*@</h3>
    </div>
    <!-- /widget-header -->
    <div class="widget-content">
        @using (Html.BeginForm("UpdateExternalCollaborator", "Settings", new { Model.ID, ViewBag.page, UserType = Enums.ExternalUserType.Collaborate }, FormMethod.Post, new { @class = "form-horizontal", autocomplete = "off" }))
        {
            @Html.AntiForgeryToken()
            <div class="row-fluid">
            <!-- Default Language -->
                <div class="control-group">
                    <label class="control-label">@Resources.lblDefaultLanguage</label>
                    <div class="controls">
                        @Html.DropDownListFor(model => model.Locale, new SelectList(Model.Languages, "Key", "Value"))
                        @Html.ValidationMessageFor(model => model.Locale)
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <button id="btnSaveChanges" class="btn btn-primary" data-loading-image="imgSavingLoader" data-loading-text="@Resources.btnSaving" type="submit">
                    @Resources.btnSaveChanges
                </button>
                @Html.Image("imgSavingLoader", "~/Content/img/loading-icon.gif", @Resources.lblLoading, new { @class = "hide" }, 30, 30)
            </div>
        }
    </div>
    <!-- /widget-content -->
</div>
<!-- /widget -->

