﻿@using GMGColor.Resources
@using GMGColorDAL.CustomModels
@model GMGColorDAL.CustomModels.Enums.ExternalUserType?

<div class="form-switch">
    <div class="input-append">
        <button type="submit" class="btn btn-primary" name="action" value="SwitchToCollaborate" onclick="javascript:void(0);" @Html.Raw(GetDisabledState(Enums.ExternalUserType.Collaborate))>@Resources.lblExternalUserCollaborate</button>
        <button type="submit" class="btn btn-primary" name="action" value="SwitchToDeliver" onclick="javascript:void(0);" @Html.Raw(GetDisabledState(Enums.ExternalUserType.Deliver))>@Resources.lblExternalUserDeliver</button>
    </div>
</div>
@functions{

    private string GetDisabledState(Enums.ExternalUserType currentView)
    {
        return currentView == Model ? "disabled=\"disabled\"" : string.Empty;
    }
}