﻿@model GMGColorDAL.CustomModels.Settings
@using GMGColor.Resources;
@using GMGColorDAL.CustomModels
@{
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
}
<div class="widget">
    <div class="widget-header">
        <h3>@ViewBag.Header @*<small>@ViewBag.HeaderSmall</small>*@</h3>
    </div>
    <!-- /widget-header -->
    <div class="widget-content">
        <div class="row-fluid">
            <div class="span3">
                @{Html.RenderAction("SecondaryNavigation", "Navigation", new { secondaryNavType = SecondaryNavigationTypeEnum.AdminSettings });}
            </div>
            <div class="span9">
                @using (Html.BeginForm("", "Settings", FormMethod.Post, new { @class = "form-horizontal", id = "formMain" }))
                {
                    @Html.AntiForgeryToken()
                    <fieldset>
                        <legend>@Resources.lblApplication</legend>
                        <div class="control-group">
                            <label class="control-label">@Resources.lblStoreCompletedFor</label>
                            <div class="controls">
                                @Html.TextBoxFor(mdl => mdl.StoreCompletedFor, new { @class = "input-small" })
                                @Html.ValidationMessageFor(mdl => mdl.StoreCompletedFor)
                                <span class="help-inline">@Resources.lblDays</span>
                                <p class="help-block">@Resources.pharagraphStoreCompletedFor</p>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">@Resources.lblStoreArchivedFor</label>
                            <div class="controls">
                                @Html.TextBoxFor(mdl => mdl.StoreArchivedFor, new { @class = "input-small" })
                                @Html.ValidationMessageFor(mdl => mdl.StoreArchivedFor)
                                <span class="help-inline">@Resources.lblDays</span>
                                <p class="help-block">@Resources.pharagraphStoreArchivedFor</p>
                            </div>
                        </div>
                    </fieldset>                  
                    <div class="form-actions">
                        <button class="btn btn-primary" name="action" type="submit" value="SaveSettings" data-loading-text="@Resources.btnUpdating">@Resources.btnUpdateAccount</button>
                    </div>
                }
            </div>
        </div>
        <!-- /row-fluid -->
    </div>
    <!-- /widget-content -->
</div>
<!-- /widget -->
