﻿@model GMGColorDAL.CustomModels.NotificationPresets
@using GMGColor.Resources;
@using GMGColorDAL.CustomModels;
@{
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
}
<div class="widget">
    <div class="widget-header">
        <ul class="widget-links">
            <li><a class="btn btn-primary" href="@Url.Action("AddEditNotificationPreset", new { page = Model.page })">@Resources.lblNewPreset</a></li>
        </ul>
        <h3>@ViewBag.Header @*<small>@ViewBag.HeaderSmall</small>*@</h3>
    </div>
    <!-- /widget-header -->
    <div class="widget-content">
        <div class="row-fluid">
            <div class="span3">
                @{Html.RenderAction("SecondaryNavigation", "Navigation");}
            </div>
            <div class="span9">
               @using (Html.BeginForm("", "Settings", new { @class = "form-horizontal", id = "formMain" }))
               {
                @Html.AntiForgeryToken()
                   <div class="pull-right">
                       @Html.Partial("GlobalNotificationsSwitch", Enums.Notification.Presets)
                   </div>
                    <div class="clearboth"></div>
                    <legend>@Resources.lblNotificationPresets</legend>
                    <div id="dvNotificationPresets" class="tab-pane">
                        @if (Model.NotificationPresetsList.Count > 0)
                        {
                           <div class="display-field">
                                @{ var presets = new WebGrid(Model.NotificationPresetsList, rowsPerPage: 10); }
                                @presets.GetHtml(
                                    tableStyle: "table table-striped table-bordered table-responsive",
                                     mode: WebGridPagerModes.All,
                                     firstText: "<< ",
                                     lastText: " >>",
                                    columns:
                                           presets.Columns(
                                           presets.Column(columnName: "Name", header: Resources.lblName, format: @<text><a href="@Url.Action("AddEditNotificationPreset", new { SelectedInstance = item.ID, Model.page })">@item.Name</a></text>, style: "span6"),
                                                              presets.Column(format: @<text>@Html.Raw(GetActionButtons(item.ID, item.CanBeDeleted))</text>)
                                        ))
                            </div>
                            @Html.Hidden("SelectedInstance", "0", new { id = "hdnInstance" })
                            @Html.HiddenFor(m => m.page, new { @data_val = "false" })
                            <button id="btnDelete" class="cancel" type="submit" name="action" value="DeleteXMLEngineProfile"
                                    hidden="hidden">@Resources.btnDelete</button>
                        }
                        else
                        { 
                            <div class="row-fluid blank-state" visible="false">
                                <div class="span4 blank-state-icon">
                                    <i class="icon-th"></i>
                                </div>
                                <div class="span7">
                                    <h3>@Resources.lblAddYourFirstCustomPreset</h3>
                                    <p>@Resources.lblOrganizePresets</p>
                                    <p>
                                        <a class="btn btn-primary" href="@Url.Action("AddEditNotificationPreset")" class="btn btn-primary" title="@Resources.lblAddYourFirstPreset" >@Resources.lblNewPreset</a></p>
                                </div>
                            </div>
                        }
                        @{DeleteConfirmation deleteUserConfirmation = new DeleteConfirmation(1, "DeleteAccountNotificationPreset");}
                        @Html.Partial("DeleteConfirmationDialog", deleteUserConfirmation)
                    </div>
                }
            </div>
        </div>
        <!-- /row-fluid -->
    </div>
    <!-- /widget-content -->
</div>
<!-- /widget -->

@functions{

    private string GetActionButtons(int id, bool canBeDeleted)
    {
        System.Text.StringBuilder html = new System.Text.StringBuilder();

        html.Append("<div class=\"btn-group pull-right\">");
        html.Append("   <a href=\"javascript:void(0);\" data-toggle=\"dropdown\" class=\"btn btn-mini dropdown-toggle ellipsisButtonList\"><i class=\"icon-ellipsis-horizontal\"></i></a>");
        html.Append("   <ul class=\"dropdown-menu pull-right\">");
        html.Append("      <li><a href=" + @Url.Action("AddEditNotificationPreset", new { SelectedInstance = id, Model.page }) + "><i class=\"icon-pencil\"></i>" + Resources.btnEdit + "</a></li>");
        if (canBeDeleted)
        {
            html.Append("  <li><a href=\"javascript:void(0);\" onclick=\"$('#hdnInstance')[0].value = " + id + ";$('#modelDialogDeleteConfirmation_1').modal({ backdrop: 'static', keyboard: false });\" rel=\"nofollow\" data-method=\"delete\" data-disable-with=\"Deleting...\" ><i class=\"icon-trash\"></i>" + Resources.btnDelete + "</a></li>");
        }
        html.Append("   </ul>");
        html.Append("</div>");

        return html.ToString();
    }
}
