﻿@model GMGColorDAL.CustomModels.NotificationSchedules
@using GMGColor.Resources;
@using GMGColorDAL.CustomModels;
@{
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
}
<div class="widget">
    <div class="widget-header">
        <ul class="widget-links">
            <li><a class="btn btn-primary" data-toggle="modal" data-backdrop="static" data-keyboard="false" href="@Url.Action("AddEditNotificationSchedule", new { ViewBag.page })">@Resources.lblNewSchedule</a></li>
        </ul>
        <h3>@ViewBag.Header @*<small>@ViewBag.HeaderSmall</small>*@</h3>
    </div>
    <!-- /widget-header -->
    <div class="widget-content">
        <div class="row-fluid">
            <div class="span3">
                @{Html.RenderAction("SecondaryNavigation", "Navigation");}
            </div>
            <div class="span9">
               @using (Html.BeginForm("", "Settings", new { @class = "form-horizontal", id = "formMain" }))
               {
                @Html.AntiForgeryToken()
                   <div class="pull-right">
                       @Html.Partial("GlobalNotificationsSwitch", Enums.Notification.Schedule)
                   </div>
                   <div class="clearboth"></div>
                   <legend>@Resources.lblGlobalNotificationSchedule</legend>
                    <div id="dvNotificationSchedules" class="tab-pane">
                        @if (Model.NotificationSchedulesList.Count > 0)
                        {
                            <div class="display-field">
                                @{ var schedules = new WebGrid(Model.NotificationSchedulesList, rowsPerPage: 10); }
                                @schedules.GetHtml(
                                    tableStyle: "table table-striped table-bordered table-responsive",
                                        mode: WebGridPagerModes.All,
                                        firstText: "<< ",
                                        lastText: " >>",
                                    columns:
                                            schedules.Columns(
                                                    schedules.Column(columnName: "NotificationPreset", header: Resources.lblNotificationPreset, format: @<text><a href="@Url.Action("AddEditNotificationSchedule", new { SelectedInstance  = @item.ID})">@item.NotificationPreset</a></text>, style: "span4"),
                                                    schedules.Column(columnName: "Frequency", header: Resources.lblFrequency, format: @<text>@item.Frequency</text>, style: "span2"),
                                                    schedules.Column(columnName: "UnitMeasure", header: Resources.lblNo, format: @<text>@item.UnitMeasure</text>, style: "span2"),
                                                    schedules.Column(columnName: "Unit", header: Resources.lblStartFinish, format: @<text>@item.Unit</text>, style: "span2"),
                                                    schedules.Column(columnName: "Trigger", header: Resources.lblWhen, format: @<text>@item.Trigger</text>, style: "span2"),
                                                    schedules.Column(format: @<text>@Html.Raw(GetActionButtons(item.ID))</text>)
                                        ))
                            </div>
                            @Html.Hidden("SelectedInstance", "0", new { id = "hdnInstance" })
                            @Html.Hidden("page", (int)ViewBag.page, new { @data_val = "false" })
                            <button id="btnDelete" class="cancel" type="submit" name="action" value="DeleteNotificationSchedule"
                                    hidden="hidden">@Resources.btnDelete</button>
                        }
                        else
                        { 
                            <div class="row-fluid blank-state" visible="false">
                                <div class="span4 blank-state-icon">
                                    <i class="icon-th"></i>
                                </div>
                                <div class="span7">
                                    <h3>@Resources.lblAddYourFirstSchedule</h3>
                                    <p>@Resources.lblOrganizeSchedule</p>
                                    <p>
                                        <a data-toggle="modal" data-backdrop="static" data-keyboard="false" href="@Url.Action("AddEditNotificationSchedule")" class="btn btn-primary" title="@Resources.lblAddYourFirstSchedule" >@Resources.lblNewSchedule</a></p>
                                </div>
                            </div>
                        }
                      
                        @{DeleteConfirmation deleteUserConfirmation = new DeleteConfirmation(1, "DeleteNotificationSchedule");}
                        @Html.Partial("DeleteConfirmationDialog", deleteUserConfirmation)
                    </div>
                }
            </div>
        </div>
        <!-- /row-fluid -->
    </div>
    <!-- /widget-content -->
</div>
<!-- /widget -->

@functions{

    private string GetActionButtons(int id)
    {
        System.Text.StringBuilder html = new System.Text.StringBuilder();

        html.Append("<div class=\"btn-group pull-right\">");
        html.Append("   <a href=\"javascript:void(0);\" data-toggle=\"dropdown\" class=\"btn btn-mini dropdown-toggle ellipsisButtonList\"><i class=\"icon-ellipsis-horizontal\"></i></a>");
        html.Append("   <ul class=\"dropdown-menu pull-right\">");
        html.Append("      <li><a href=" + @Url.Action("AddEditNotificationSchedule", new { SelectedInstance = id, ViewBag.page }) + "><i class=\"icon-pencil\"></i>" + Resources.btnEdit + "</a></li>");
        html.Append("  <li><a href=\"javascript:void(0);\" onclick=\"$('#hdnInstance')[0].value = " + id + ";$('#modelDialogDeleteConfirmation_1').modal({ backdrop: 'static', keyboard: false });\" rel=\"nofollow\" data-method=\"delete\" data-disable-with=\"Deleting...\" ><i class=\"icon-trash\"></i>" + Resources.btnDelete + "</a></li>");
        html.Append("   </ul>");
        html.Append("</div>");

        return html.ToString();
    }
}
