﻿@using GMGColor.Resources
@using GMGColorDAL.CustomModels
@model Enums.Notification

<div class="form-switch">
    <div class="input-append">
        <button type="submit" class="btn cancel" name="action" value="SwitchToSchedules" onclick="javascript:void(0);" @Html.Raw(GetDisabledState(Enums.Notification.Schedule))>@Resources.lblSchedule</button>
        <button type="submit" class="btn cancel" name="action" value="SwitchToPresets" onclick="javascript:void(0);" @Html.Raw(GetDisabledState(Enums.Notification.Presets))>@Resources.lblPresets</button>
    </div>
</div>
@functions{

    private string GetDisabledState(Enums.Notification currentView)
    {
        return currentView == Model ? "disabled=\"disabled\"" : string.Empty;
    }
}
