﻿@model GMGColorDAL.CustomModels.AccountSettings.Summary
@using GMGColor.Resources;
@using GMGColorDAL.CustomModels
@using GMGColorDAL
@{
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
}
<div class="widget">
    <div class="widget-header">
        <h3>@ViewBag.Header@*&nbsp;<small>@ViewBag.HeaderSmall</small>*@</h3>
    </div>
    <!-- /widget-header -->
    <div class="widget-content">
        <div class="row-fluid">
            <div class="span3">
                <div class="subnav accoutnSettingdNav">
                    @{Html.RenderAction("SecondaryNavigation", "Navigation");}
                </div>
            </div>
            <div class="span9">
                @if (Model.objLoggedAccountType != GMGColorDAL.AccountType.Type.GMGColor && Model.objLoggedAccount.NeedSubscriptionPlan)
                {
                    ViewBag.DateFormat = Model.objLoggedAccount.DateFormat1.Pattern;
                    AccountSubscriptionDetails accountSubscription = ViewBag.AccountSubscriptionDetails as AccountSubscriptionDetails;
                    AccountBillingPlansInUse accountBillingPlans = ViewBag.AccountBillingPlans as AccountBillingPlansInUse;
                    <!-- Start Collaborate -->
                    AccountSubscriptionPlan collaborateSubscriptionPlan = accountSubscription.CollaborateSubscriptionPlan;
                    bool isAccountInCollaborateFreePlan = accountBillingPlans != null && accountBillingPlans.CollaborateBillingPlan != null && accountBillingPlans.CollaborateBillingPlan.Price == 0;
                    
                    if (collaborateSubscriptionPlan != null)
                    {
                        AccountSettings.AccountSummary collaborateModel = new AccountSettings.AccountSummary
                        {
                            appModule = GMG.CoZone.Common.AppModule.Collaborate,
                            objAccountSubscriptionPlan = collaborateSubscriptionPlan,
                            objBillingPlan = accountBillingPlans.CollaborateBillingPlan,
                            objAccountStorage = Model.objSummary.objStorage,
                            objSoftProofingWorkStations = Model.objSummary.objSoftProofingWorkStations,
                            objProofs = Model.objSummary.objCollaborateProofs,
                            IsAccountInFreePlan = isAccountInCollaborateFreePlan,
                            ModuleAnualTotal = Model.objSummary.objInformation.CollaborateAnualTotal,
                            ModuleAnualTotalMessage = Model.objSummary.objInformation.CollaborateAnualTotalMessage,
                            GPP = Model.objSummary.objInformation.GPP,
                            ModuleName = Resources.lblCollaboratePlan,
                            ModuleCurrentPlan = Model.objSummary.objInformation.CollaborateCurrentPlan,
                            objAccountUserCount = Model.objSummary.objAccountUserCount,
                            AccountStatus = GMGColorDAL.AccountStatu.Status.Active
                        };

                        Html.RenderPartial("AccountSummary", collaborateModel);
                    }
                    else if (accountSubscription.CollaborateSubscriberPlan != null)
                    {
                        AccountSettings.AccountSummary collaborateModel = new AccountSettings.AccountSummary
                        {
                            appModule = GMG.CoZone.Common.AppModule.Collaborate,
                            objAccountSubscriberPlan = accountSubscription.CollaborateSubscriberPlan,
                            objBillingPlan = accountBillingPlans.CollaborateBillingPlan,
                            objAccountStorage = Model.objSummary.objStorage,
                            objSoftProofingWorkStations = Model.objSummary.objSoftProofingWorkStations,
                            objProofs = Model.objSummary.objCollaborateProofs,
                            IsAccountInFreePlan = isAccountInCollaborateFreePlan,
                            ModuleAnualTotal = Model.objSummary.objInformation.CollaborateAnualTotal,
                            ModuleAnualTotalMessage = Model.objSummary.objInformation.CollaborateAnualTotalMessage,
                            GPP = Model.objSummary.objInformation.GPP,
                            ModuleName = Resources.lblCollaboratePlan,
                            ModuleCurrentPlan = Model.objSummary.objInformation.CollaborateCurrentPlan,
                            objAccountUserCount = Model.objSummary.objAccountUserCount,
                            AccountStatus = GMGColorDAL.AccountStatu.Status.Active
                        };

                        Html.RenderPartial("AccountSummary", collaborateModel);
                    }
                    <!-- End Collaborate -->
                                       
                    <!-- Start Deliver -->
                    AccountSubscriptionPlan deliverSubscriptionPlan = accountSubscription.DeliverSubscriptionPlan;
                    bool isAccountInDeliverFreePlan = accountBillingPlans != null && accountBillingPlans.DeliverBillingPlan != null && accountBillingPlans.DeliverBillingPlan.Price == 0;
                    
                    if (deliverSubscriptionPlan != null)
                    {
                        AccountSettings.AccountSummary deliverModel = new AccountSettings.AccountSummary
                        {
                            appModule = GMG.CoZone.Common.AppModule.Deliver,
                            objAccountSubscriptionPlan = deliverSubscriptionPlan,
                            objBillingPlan = accountBillingPlans.DeliverBillingPlan,
                            objProofs = Model.objSummary.objDeliverProofs,
                            objColorProofConnections = Model.objSummary.objColorProofConnections,
                            IsAccountInFreePlan = isAccountInDeliverFreePlan,
                            ModuleAnualTotal = Model.objSummary.objInformation.DeliverAnualTotal,
                            ModuleAnualTotalMessage = Model.objSummary.objInformation.DeliverAnualTotalMessage,
                            GPP = Model.objSummary.objInformation.GPP,
                            ModuleName = Resources.lblDeliverPlan,
                            ModuleCurrentPlan = Model.objSummary.objInformation.DeliverCurrentPlan,
                            AccountStatus = GMGColorDAL.AccountStatu.Status.Active
                        };

                        Html.RenderPartial("AccountSummary", deliverModel);
                    }
                    else if (accountSubscription.DeliverSubscriberPlan != null)
                    {
                        AccountSettings.AccountSummary deliverModel = new AccountSettings.AccountSummary
                        {
                            appModule = GMG.CoZone.Common.AppModule.Deliver,
                            objAccountSubscriberPlan = accountSubscription.DeliverSubscriberPlan,
                            objBillingPlan = accountBillingPlans.DeliverBillingPlan,
                            objProofs = Model.objSummary.objDeliverProofs,
                            objColorProofConnections = Model.objSummary.objColorProofConnections,
                            IsAccountInFreePlan = isAccountInDeliverFreePlan,
                            ModuleAnualTotal = Model.objSummary.objInformation.DeliverAnualTotal,
                            ModuleAnualTotalMessage = Model.objSummary.objInformation.DeliverAnualTotalMessage,
                            GPP = Model.objSummary.objInformation.GPP,
                            ModuleName = Resources.lblDeliverPlan,
                            ModuleCurrentPlan = Model.objSummary.objInformation.DeliverCurrentPlan,
                            AccountStatus = GMGColorDAL.AccountStatu.Status.Active
                        };

                        Html.RenderPartial("AccountSummary", deliverModel);
                    }
                     <!-- End Deliver -->
                }
            </div>
        </div>
        <!-- /row-fluid -->
    </div>
    <!-- /widget-content -->
</div>
<!-- /widget -->
