﻿@using GMGColor.Resources
@using GMGColorDAL.CustomModels
@model GlobalNotificationSettings.NotificationSchedules

@{
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
}

<p class="breadcrumb">
    <a href="@Url.Action("GlobalNotificationSettings", "Settings", new { type = Enums.Notification.Schedule, Model.page })">@Resources.lblSchedule</a>
</p>

@using (Html.BeginForm("", "Settings", FormMethod.Post, new { id = "formNotificationSchedule", @class = "form-horizontal", autocomplete = "off" }))
{
    <div class="widget">
        <div class="widget-header">
            <h3>Schedule</h3>
        </div>
        <!-- /widget-header -->
        <div class="widget-content">
            @Html.ValidationSummary(true)
        </div>
        <!-- /widget-content -->
    </div>
    <!-- /widget -->
}

