﻿@model GMGColorDAL.CustomModels.PredefinedTagwords.PredefinedTagwordsOnDashboard
@using System.Collections
@using GMGColor.Resources
@using GMGColorDAL
@using GMGColorDAL.CustomModels
@using GMGColor.FileUpload;

@{
     Bundles.Reference("fileupload");
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
}



<div class="widget">
    <div class="widget-header">
        <ul class="widget-links">
            <li><a class="btn btn-primary" href="javascript:void(0)" onclick="$('#modalNewTagword').modal({ backdrop: 'static', keyboard: false });">@Resources.lblNewTagWord</a></li>
        </ul>
        <h3>@ViewBag.Header</h3>
    </div>
    <!-- /widget-header -->
    <div class="widget-content">
        <div class="row-fluid">
            <div class="span3">
                @{Html.RenderAction("SecondaryNavigation", "Navigation");}
            </div>
            <div class="span9">
                @using (Html.BeginForm("Predefinedtagwords", "Settings", FormMethod.Post, new { @class = "form-horizontal dirtyignore", id = "formMain" }))
                {
                    @Html.AntiForgeryToken()
                    <div id="dvPredefinedtagword" class="tab-pane">
                        @if (Model.predefinedTagwords.Count() > 0 || !string.IsNullOrEmpty(Model.SearchText))
                        {
                            <div id="marginId" >
                                @{
                                    FileUploadModel fupModel = new FileUploadModel(Model.region);
                                    fupModel.Key = 1;
                                    fupModel.IsImportXls = true;
                                    fupModel.AcceptFileTypes = Model.AcceptedFiles;
                                    fupModel.UploadButtonCaption = Resources.lblImportasxls;
                                }
                                    @Html.Partial("FileUpload", fupModel)
                                    @Html.Partial("FileUploadTemplates", FileUploadModel.FileUploadTemplates(Model.PathToTempFolder, Model.region))
                            <button style="float:right;font-weight: 500;" class="btn btn-primary" type="submit" name="action" value="DownloadPredefineTagwords">@Resources.lblExportasxls</button>
                                <legend>@Resources.navPredefinedtagwords</legend>
                        </div>
                            <div class="well form-search clearboth">
                                <div class="input-append">
                                    @Html.Hidden("SearchText", "0", new { id = "hdnSearchText" })
                                    @Html.TextBoxFor(model => model.SearchText, new { id = "txtSearch", @class = "input-medium search-query" })
                                    <button id="btnSearchText" type="submit" class="btn cancel" name="action" value="SearchPredefinedTagwords" onclick="$('#hdnSearchText')[0].value = $('#txtSearch').val();">
                                        @Resources.btnSearch
                                    </button>
                                </div>
                            </div>
                            foreach (var item in Model.predefinedTagwords)
                            {
                                <div style="float:left; width:175px; margin-bottom:15px;">
                                <span style="background-color:#e5e5e5; padding:5px; border-radius: 15px;">
                                    <span style="padding:10px;">@item.tagword</span>
                                    <a href="javascript:void(0);" onclick="$('#hdnpredefinedTagword')[0].value = @(item.Id);$('#modelDialogDeleteConfirmation_1').modal({ backdrop: 'static', keyboard: false });" rel="nofollow" data-method="delete">
                                        <i class="icon-remove"></i>
                                    </a>
                                </span>
                            </div>
                            }
                            @Html.Hidden("selectedPredefineTagwordId", 0, new { id = "hdnpredefinedTagword" })
                            DeleteConfirmation deleteAccountConfirmation = new DeleteConfirmation(1, "DeletePredefinedTagword");
                            @Html.Partial("DeleteConfirmationDialog", deleteAccountConfirmation)
                        }
                        else
                        {
                            <div class="row-fluid blank-state" visible="false">
                                <div class="span4 blank-state-icon">
                                    <i class="icon-th"></i>
                                </div>
                                <div class="span7">
                                    <h3>@Resources.lblAddYourFirstPredefineTagword</h3>
                                    <p>@Resources.lblYoyCanAddAsManyPredefineTagwordsAsYouLike</p>
                                    <p>
                                        <a class="btn btn-primary" title="@Resources.lblAddYourFirstPredefineTagword" onclick="$('#modalNewTagword').modal({ backdrop: 'static', keyboard: false });">@Resources.lblNewPredefinedTagword</a>
                                    </p>
                                </div>
                            </div>
                        }
                    </div>
                }

            </div>
        </div>
        <!-- /row-fluid -->
    </div>
    <!-- /widget-content -->
</div>
<!-- /widget -->

<div id="modalNewTagword" class="modal hide">
    @using (Html.BeginForm("AddPredefinedtagwords", "Settings", FormMethod.Post, new { id = "formNewpredefinedtagword", @class = "form-horizontal dirtyignore", autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(mdl => mdl.predefinedtagword.Id, new { @data_val = false, id = "hdnpredefinedtagwordId" })
        <div class="modal-header">
            <a href="javascript:void(0);" class="close" data-dismiss="modal" title="@Resources.btnClose" onclick="ResetModel();">&times;</a>
            <a onclick="@string.Format("rowTooglePredefinedtagwordAdd();", @Url.Action("AddPredefinedtagwords"))"> </a>
            <h3 class="create">@Resources.lblNewPredefinedTagword</h3>
        </div>
        @Html.ValidationSummary(true)
        <div class="modal-body">
            <div class="control-group">
                <label class="control-label">@Resources.lblTagword</label>
                <div class="controls">
                    @Html.TextBoxFor(mdl => mdl.predefinedtagword.tagword, new { @Value = Model.predefinedtagword.tagword })
                    @Html.ValidationMessageFor(mdl => mdl.predefinedtagword.tagword)
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button class="create btn btn-primary" data-loading-text="@Resources.btnSaving" type="submit">@Resources.btnCreateFolder</button>
        </div>
    }
</div>


<script type="text/javascript">

    var enableReload = false;
   
    function testFunction (){
        setInterval( function(){
            if(enableReload){
                window.location.reload();
            }
        }, 2000);
    };
    testFunction();
</script>

