﻿@model GMGColorDAL.CustomModels.AccountSettings.Profile
@using GMG.CoZone.Common
@using GMGColor.HtmlHelpers;
@using GMGColor.Resources;
@using GMGColorDAL
@{
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
    GMGColorBusinessLogic.DbContextBL context = HttpContext.Current.Items[GMGColorDAL.DALUtils.DatabaseContext] as GMGColorBusinessLogic.DbContextBL;
}
<div class="widget">
    <div class="widget-header">
        <h3>@ViewBag.Header@*&nbsp;<small>@ViewBag.HeaderSmall</small>*@</h3>
    </div>
    <!-- /widget-header -->
    <div class="widget-content">
        <div class="row-fluid">
            <div class="span3">
                @{Html.RenderAction("SecondaryNavigation", "Navigation");}
            </div>
            <div class="span9">
                @using (Html.BeginForm("Profile", "Settings", FormMethod.Post, new { @class = "form-horizontal", id = "formMain" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.objProfile.objAccount.ID)
                    @Html.HiddenFor(m => m.objProfile.objCompany.ID)
                    
                    <fieldset>
                        <legend>@Resources.lblAccInfo</legend>
                        <!-- Company Name -->
                        <div class="control-group">
                            <label class="control-label">@Resources.lblCompanyName</label>
                            <div class="controls">
                                @Html.TextBoxFor(m => m.objProfile.objCompany.Name)
                                @Html.ValidationMessageFor(m => m.objProfile.objCompany.Name)
                            </div>
                        </div>
                        <!-- / -->
                        @if (GMGColorDAL.AccountType.GetAccountType(Model.objLoggedAccount.ID, context) != GMGColorDAL.AccountType.Type.GMGColor)
                        {
                            <!--Dealer Number -->
                            <div class="control-group">
                                <label class="control-label">@Resources.lblDealerNumber</label>
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.objProfile.objAccount.DealerNumber, new { @class = "idouble" })
                                    @Html.ValidationMessageFor(m => m.objProfile.objAccount.DealerNumber)
                                </div>
                            </div>
                            <!-- / -->
                            <!--Customer Number -->
                            <div class="control-group">
                                <label class="control-label">@Resources.lblCustomerNumber</label>
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.objProfile.objAccount.CustomerNumber, new { @class = "idouble" })
                                    @Html.ValidationMessageFor(m => m.objProfile.objAccount.CustomerNumber)
                                </div>
                            </div>
                            <!-- / -->
                            <!--VAT Number -->
                            <div class="control-group">
                                <label class="control-label">@Resources.lblVATNumber</label>
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.objProfile.objAccount.VATNumber, new { @class = "idouble" })
                                    @Html.ValidationMessageFor(m => m.objProfile.objAccount.VATNumber)
                                </div>
                            </div>
                        }
                    </fieldset>
                    <fieldset>
                        <legend>@Resources.lblAccountOwner</legend>
                        <div class="control-group">
                            @{
                                List<GMGColorDAL.User> lstAccoountOwners = Model.objProfile.objAccount.Users.Where(o => o.UserStatu.Key == "A" &&
                                       o.UserRoles.Select(r => GMGColorDAL.Role.GetRole(r.Role, context)).All(r =>
                                           r == GMGColorDAL.Role.RoleName.AccountAdministrator || r == GMGColorDAL.Role.RoleName.GMGAdministrator)).ToList();
                            }
                            <label class="control-label">
                                 <img class ="userAvatar" src="@(GMGColorDAL.User.GetImagePath(Model.objProfile.objAccount.Owner.GetValueOrDefault(), context))" alt="avatar_placeholder" width="54" height="54" />
                            </label>
                            <div class="controls">
                                <address>
                                    <strong>@Html.DisplayFor(m => m.objProfile.objAccount.OwnerUser.GivenName)
                                        @Html.DisplayFor(m => m.objProfile.objAccount.OwnerUser.FamilyName)</strong><br />
                                    @Model.objProfile.objAccount.OwnerUser.EmailAddress
                                </address>
                                @if (Model.objLoggedAccount.Owner == Model.objProfile.objLoggedUser.ID)
                                {
                                    <p class="help-block" style="margin-bottom: 0;">
                                        <a href="javascript:void(0);" onclick="$('#dvChangeAccountOwner').hasClass('hide') ? $('#dvChangeAccountOwner').removeClass('hide') : $('#dvChangeAccountOwner').addClass('hide');">@Resources.lblChangeAccOwner</a>
                                    </p>
                                }
                            </div>
                        </div>
                        <!--Change Account Owner-->
                        <div class="control-group hide" id="dvChangeAccountOwner">
                            <label class="control-label">
                                @Resources.lblNewAccountOwner</label>
                            <div class="controls">
                                @{Dictionary<int, string> dicAccOwners = new Dictionary<int, string>();
                                  foreach (var item in lstAccoountOwners)
                                  {
                                      dicAccOwners.Add(item.ID, item.GivenName + " " + item.FamilyName);
                                  }                                  
                                }
                                @Html.DropDownListFor((m => m.objProfile.objAccount.Owner), new SelectList(dicAccOwners, "Key", "Value", Resources.lblSelectUser))
                                @Html.ValidationMessageFor(m => m.objProfile.objAccount.Owner)
                                <p class="help-block" style="margin-top: 9px;">
                                    @Resources.pharagraphSettingsGeneral1
                                </p>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>@Resources.lblBillingInfo</legend>
                        <!--Address1-->
                        <div class="control-group">
                            <label class="control-label">@Resources.lblAddress1</label>
                            <div class="controls">
                                @Html.TextBoxFor(m => m.objProfile.objCompany.Address1)
                                @Html.ValidationMessageFor(m => m.objProfile.objCompany.Address1)
                            </div>
                        </div>
                        <!--Address2-->
                        <div class="control-group">
                            <label class="control-label">@Resources.lblAddress2</label>
                            <div class="controls">
                                @Html.TextBoxFor(m => m.objProfile.objCompany.Address2)
                                @Html.ValidationMessageFor(m => m.objProfile.objCompany.Address2)
                            </div>
                        </div>
                        <!--City-->
                        <div class="control-group">
                            <label class="control-label">@Resources.lblCity</label>
                            <div class="controls">
                                @Html.TextBoxFor(m => m.objProfile.objCompany.City)
                                @Html.ValidationMessageFor(m => m.objProfile.objCompany.City)
                            </div>
                        </div>
                        <!--State-->
                        <div class="control-group">
                            <label class="control-label">@Resources.lblState</label>
                            <div class="controls">
                                @Html.TextBoxFor(m => m.objProfile.objCompany.State)
                                @Html.ValidationMessageFor(m => m.objProfile.objCompany.State)
                            </div>
                        </div>
                        <!--Postcode/Zipcode-->
                        <div class="control-group">
                            <label class="control-label">@Resources.lblPostCode</label>
                            <div class="controls">
                                @Html.TextBoxFor(m => m.objProfile.objCompany.Postcode)
                                @Html.ValidationMessageFor(m => m.objProfile.objCompany.Postcode)
                            </div>
                        </div>
                        <!--Coutry-->
                        <div class="control-group">
                            <label class="control-label">@Resources.lblCountry</label>
                            <div class="controls">
                                @Html.DropDownListFor((m => m.objProfile.objCompany.Country), new SelectList(DALUtils.SearchObjects<GMGColorDAL.Country>(o => o.ID > 0, context).OrderBy(o => o.ShortName).AsEnumerable(), "ID", "ShortName"), Resources.lblSelectCountry)
                                @Html.ValidationMessageFor(m => m.objProfile.objCompany.Country)
                            </div>
                        </div>
                    </fieldset>
                     <div class="well">
                        @Resources.lblAccountWasCreatedBy <strong>@Model.objProfile.AccountCreator </strong> 
                        @Resources.lblAccountCreatedOn
                        @Model.objProfile.AccountCreatedDate                       
                    </div>
                    <div class="form-actions">
                        <button class="btn btn-primary" type="submit" name="action" value="SaveChanges" data-loading-text="@Resources.btnUpdating">@Resources.btnUpdateAccount</button>
                    </div>            
                }
            </div>
        </div>
        <!-- /row-fluid -->
    </div>
    <!-- /widget-content -->
</div>
<!-- /widget -->