﻿@model GMGColorDAL.CustomModels.AccountSettings.ReservedDomains
@using GMGColor.Resources;
@using GMGColorDAL.CustomModels
@{    
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
    Bundles.Reference("widget");
}
<div class="widget">
    <div class="widget-header">
        @if (Model.ListReservedDomains.Count > 0)
        {
            <ul class="widget-links">
                <li><a class="btn btn-primary" href="javascript:void(0);" onclick="javascript:$('#btnAddDomain').click();">@Resources.btnAddNewSubDomain</a></li>
            </ul>
        }
        <h3>@ViewBag.Header @*<small>@ViewBag.HeaderSmall</small>*@</h3>
    </div>
    <!-- /widget-header -->
    <div class="widget-content">
        <div class="row-fluid">
            <div class="span3">
                @{Html.RenderAction("SecondaryNavigation", "Navigation", new { secondaryNavType = SecondaryNavigationTypeEnum.AdminSettings });}
            </div>
            <div class="span9">
                @using (Html.BeginForm("", "Settings", FormMethod.Post, new { @class = "form-horizontal", id = "formMain" }))
                {
                    @Html.AntiForgeryToken()
                    <div style="display: none">
                        <button id="btnAddDomain" class="cancel" data-toggle="modal" data-backdrop="static"
                            data-keyboard="false" data-target="#modalDialogAddNewDomain" type="button" onclick="javascript:ClearText();">
                            @Resources.btnAddNewSubDomain</button>
                        @Html.Hidden("SelectedDomain", "0", new { id = "hdnSelectedDomain" })
                    </div>
                    <div id="dvGroups" class="tab-pane">
                        @if (Model.ListReservedDomains.Count > 0)
                        {
                            <div class="display-field">
                                @{var grid = new WebGrid(Model.ListReservedDomains, rowsPerPage: 50);}
                                @grid.GetHtml(
                                    tableStyle: "table table-striped",
                                    columns: grid.Columns(
                                    grid.Column(columnName: "Name", header: Resources.lblName,
                                        format: @<text><a href="javascript:void(0);" onclick="$('#hdnSelectedDomain')[0].value = @item.ID;$('#btnEdit').click();">@item.Name</a></text>),
                                    grid.Column(format: @<text>@Html.Raw(this.GetActionButtons(item.ID))</text>)
                                ))
                            </div>
                            <button id="btnEdit" class="cancel" type="submit" name="action" value="EditReservedDomain" hidden="hidden">
                                Edit Domain</button>
                                  DeleteConfirmation deleteConfirmation = new DeleteConfirmation(1, "DeleteReservedDomain");
                            @Html.Partial("DeleteConfirmationDialog", deleteConfirmation)
                        }
                        else
                        { 
                            <div class="row-fluid blank-state" visible="false">
                                <div class="span4 blank-state-icon">
                                    <i class="icon-group"></i>
                                </div>
                                <div class="span7">
                                    <h3>@Resources.lblNoDomainsHaveBeenReserved</h3>
                                    <p>
                                        <a href="javascript:void(0);" class="btn btn-primary" title="@Resources.lblAddYourFirstUserGroup" onclick="javascript:$('#btnAddDomain').click();">@Resources.btnAddNewSubDomain</a></p>
                                </div>
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
        <!-- /row-fluid -->
    </div>
    <!-- /widget-content -->
</div>
<!-- /widget -->
<div id="modalDialogAddNewDomain" class="modal hide">
    @using (Html.BeginForm("AddEditReserveDomain", "Settings", FormMethod.Post, new { @class = "form-vertical dirtyignore" }))
    {
        @Html.AntiForgeryToken()
        <div class="modal-header">
            <a href="javascript:void(0);" class="close" data-dismiss="modal" title="@Resources.btnClose">
                &times;</a>
            <h3>@Resources.lblAddNewSubDomain</h3>
        </div>
        <div class="modal-body">
            <div class="control-group">
                <label class="control-label">@Resources.lblSubDomain</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.Domain)
                    @Html.ValidationMessageFor(m => m.Domain)
                </div>
            </div>
        </div>
        <div class="modal-footer">
            @Html.HiddenFor(m => m.ID, new { @value = "0" })
            <button class="btn btn-primary" type="submit" data-loading-text="@Resources.btnSaving">@Resources.btnSave</button>
        </div>
    }
</div>
<script type="text/javascript">
    this.modelDialog = '@ViewBag.ModelDialog';

    function ClearText() {
        $('#hdnSelectedDomain')[0].value = '0';
        $('#Domain').val('');
    }
</script>
@functions{
    private string GetActionButtons(int id)
    {
        System.Text.StringBuilder html = new System.Text.StringBuilder();

        html.Append("<div class=\"btn-group pull-right\">");
        html.Append("   <a href=\"javascript:void(0);\" data-toggle=\"dropdown\" class=\"btn btn-mini dropdown-toggle ellipsisButtonList\"><i class=\"icon-ellipsis-horizontal\"></i></a>");
        html.Append("   <ul class=\"dropdown-menu pull-right\">");
        html.Append("      <li><a href=\"javascript:void(0);\" onclick=\"$('#hdnSelectedDomain')[0].value = " + id + ";$('#btnEdit').click();\"><i class=\"icon-pencil\"></i>" + Resources.btnEdit + "</a></li>");
        html.Append("  <li><a href=\"javascript:void(0);\" onclick=\"$('#hdnSelectedDomain')[0].value = " + id + ";$('#modelDialogDeleteConfirmation_1').modal({ backdrop: 'static', keyboard: false });\" rel=\"nofollow\" data-method=\"delete\" data-disable-with=\"Deleting...\" ><i class=\"icon-trash\"></i>" + Resources.btnDelete + "</a></li>");
        html.Append("   </ul>");
        html.Append("</div>");

        return html.ToString();
    }
}
