﻿@model List<ColorProofSettings.SharedColorProofWorkflowDetails>
@using GMGColor.Resources;
@using GMGColorDAL.CustomModels

<div id="dvSharedWorkflowDetails" class="tab-pane">
    @{ var sharedColorProofWorkflows = new WebGrid(Model, rowsPerPage: 10); }
    @sharedColorProofWorkflows.GetHtml(
        tableStyle: "table table-striped table-bordered table-responsive",
        columns:
            sharedColorProofWorkflows.Columns(
                sharedColorProofWorkflows.Column(columnName: "UserName", header: Resources.lblName, style: "span2"),
                sharedColorProofWorkflows.Column(columnName: "CompanyName", header: Resources.lblCompanyName, style: "span2"),
                sharedColorProofWorkflows.Column(columnName: "AccountName", header: Resources.lblAccountName, style: "span2"),
                sharedColorProofWorkflows.Column(columnName: "AccountUrl", header: Resources.lblAccountUrl, style: "span3"),
                sharedColorProofWorkflows.Column(columnName: "Email", header: Resources.lblEmail, style: "span3"),
                sharedColorProofWorkflows.Column(columnName: "InviteStatus", header: Resources.lblInviteStatus),
                sharedColorProofWorkflows.Column(columnName: "Status", header: Resources.lblStatus, format: @<text>@(item.IsEnabled ? Resources.lblEnable : Resources.lblRevokedStatus)</text>),
                sharedColorProofWorkflows.Column(format: @<text>@Html.Raw(GetSharedWfActionButtons(item.ID, item.IsEnabled, item.IsAccepted))</text>)
                ))
</div>
@Html.Hidden("sharedWorkflowId", 0, new { @id = "hdnInstance", @data_val = false })
@Html.Hidden("isOwner", true, new { @data_val = false })
@{DeleteConfirmation deleteUserConfirmation = new DeleteConfirmation(1, "DeleteSharedColorProofWorkflow");}
@Html.Partial("DeleteConfirmationDialog", deleteUserConfirmation)
@functions{

    private string GetSharedWfActionButtons(int sharedWorkflowId, bool isEnabled, bool? isAccepted)
    {
        System.Text.StringBuilder html = new System.Text.StringBuilder();

        html.Append("<div class=\"btn-group pull-right\" >");
        html.Append("   <a href=\"javascript:void(0);\" data-toggle=\"dropdown\" class=\"btn btn-mini dropdown-toggle ellipsisButtonList\"><i class=\"icon-ellipsis-horizontal\"></i></span></a>");
        html.Append("   <ul class=\"dropdown-menu pull-right\" >");
        if (isAccepted.HasValue && isAccepted.Value == false)
        {
            html.Append("  <li><a href=" + @Url.Action("ResendShareWorkflowInvitation", new {sharedId = sharedWorkflowId}) + " data-form-method=\"post\"><i class=\"icon-share-alt\"></i>" + Resources.btnResendInvite + "</a></li>");
        }
        else
        {
            html.Append("  <li><a href=" + @Url.Action("EnableRevokeSharedWorkflow", new { sharedId = sharedWorkflowId, isEnabled }) + " data-form-method=\"post\"><i class=\"icon-check\"></i>" + (isEnabled ? Resources.btnRevokeAccess : Resources.lblGrantAccess) + "</a></li>");
        }
        html.Append("  <li><a href=\"javascript:void(0);\" onclick=\"$('#hdnInstance')[0].value = " + sharedWorkflowId + ";$('#modelDialogDeleteConfirmation_1').modal({ backdrop: 'static', keyboard: false });\" rel=\"nofollow\" data-method=\"delete\" data-disable-with=\"Deleting...\" ><i class=\"icon-trash\"></i>" + Resources.lblDeleteShare + "</a></li>");
        html.Append("   </ul>");
        html.Append("</div>");

        return html.ToString();
    }
}
