﻿@model GMG.CoZone.Settings.UI.ViewModels.SsoViewModel
@using GMGColor.Resources;
@using GMG.CoZone.Common.Module.Enums
@using GMG.CoZone.Common.DomainModels

@using GMGColorDAL.CustomModels;

@{
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
}

<div class="widget">
    <div class="widget-header">
        <h3>@ViewBag.Header @*<small>@ViewBag.HeaderSmall</small>*@
        </h3>
    </div>
   
    <!-- /widget-header -->
    <div class="widget-content">
        <div class="row-fluid">
            <div class="span3">
                @{Html.RenderAction("SecondaryNavigation", "Navigation");}
            </div>
            <div class="span9">
                <div id="dvSsoImplementations" class="tab-pane">
                    <div class="pull-right">
                        @Html.Partial("_SsoSwitchPartial", SsoOptionsEnum.Auth0)
                    </div>
                </div>
                @using (Html.BeginForm("SingleSignOn", "Settings", FormMethod.Post, new { @class = "form-horizontal", id = "ssoServerForm" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.ActiveConfiguration);
                    DeleteConfirmation deleteSsoSettingsConfirmation = new DeleteConfirmation(1, "DisableSso");
                    deleteSsoSettingsConfirmation.DeleteMessageTitle = Resources.lblDisableSsoTitle;
                    deleteSsoSettingsConfirmation.DeleteMessageHeading = Resources.lblDisableSsoHeading;
                    deleteSsoSettingsConfirmation.DeleteSecondMessage = Resources.lblDisableSsoSecondMessage;

                    @Html.Partial("DeleteConfirmationDialog", deleteSsoSettingsConfirmation)

                    <legend>@Resources.navSso</legend>

                    @Html.HiddenFor(m => m.ActiveConfiguration)
                    Html.RenderPartial("_SsoAuth0SettingsPartial", Model);
                    Html.RenderPartial("_SsoSamlSettingsPartial", Model);

                    <div class="form-actions">
                        <button type="submit" id="addUpdateSoo" class="btn btn-primary" name="action" value="AddUpdateSso" data-loading-text="@Resources.btnUpdating" disabled>
                            @Resources.btnUpdateAccount
                        </button>
                        <button type="submit" class="btn cancel" id="btnDisableSSO" name="action" value="DisableSso" data-loading-text="@Resources.btnUpdating" disabled>
                            <i class="icon-remove icon-white"></i>
                            @Resources.btnDisableSso
                        </button>
                    </div>
                }
                @Html.Partial("_ActionConfirmationModal", new ActionConfirmationModel { ModalTitle = Resources.lblFormChangesTitle, ModalText = Resources.txtSsoSwitch, StayText = Resources.lblStayHere, LeaveText = Resources.lblLeavePage })
            </div>
        </div>
    </div>
</div>

@{ 
    Bundles.Reference("validate");
    Bundles.Reference("ssoSettings");
}
