﻿@model GMGColorDAL.CustomModels.AccountSettings.SiteSettings
@using GMGColor.Common;
@using GMGColor.Resources;
@using GMGColorDAL
@{
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
    GMGColorBusinessLogic.DbContextBL context = HttpContext.Current.Items[GMGColorDAL.DALUtils.DatabaseContext] as GMGColorBusinessLogic.DbContextBL;
}
<div class="widget">
    <div class="widget-header">
        <h3>@ViewBag.Header@*&nbsp;<small>@ViewBag.HeaderSmall</small>*@</h3>
    </div>
    <!-- /widget-header -->
    <div class="widget-content">
        <div class="row-fluid">
            <div class="span3">
                @{Html.RenderAction("SecondaryNavigation", "Navigation");}
            </div>
            <div class="span9">
                @using (Html.BeginForm("SiteSettings", "Settings", FormMethod.Post, new { @class = "form-horizontal", id = "formMain" }))
                {
                    @Html.AntiForgeryToken()
                    <!-- Regional Settings -->
                    <fieldset>
                        <legend>@Resources.lblRegionalSettings</legend>
                        <!-- Default Language -->
                        <div class="control-group">
                            <label class="control-label">@Resources.lblDefaultLanguage</label>
                            <div class="controls">
                                @Html.DropDownListFor(model => model.objSiteSettings.objAccount.Locale, new SelectList(GMGColorDAL.Locale.GetLocalizeLocaleNames(context), "Key", "Value"), Resources.lblSelectDefaultLanguage)
                                @Html.ValidationMessageFor(model => model.objSiteSettings.objAccount.Locale)
                            </div>
                            <label class="checkbox controls">
                                 @Html.CheckBoxFor(m => m.objSiteSettings.ApplyLanguageToAllUsers)
                                 @Resources.lblApplyLanguageToAllUsers
                             </label>
                        </div>
                        <!-- / -->
                        <!-- Default Currency -->
                        <div class="control-group">
                            <label class="control-label">@Resources.lblDefaultCurrency</label>
                            <div class="controls">
                                @{List<string> currencyTypeName = new List<string> { GMGColorDAL.Currency.GetLocalizedCurrencyNames(context).Single(o => o.Key == Model.objSiteSettings.objAccount.CurrencyFormat).Value };}
                                @*@{int currencyTypeId = (new GMGColorDAL.Currency()).SearchObjects(o => o.ID == Model.objSiteSettings.objAccount.CurrencyFormat).Single().ID;}*@
                                @Html.HiddenFor(model => model.objSiteSettings.objAccount.CurrencyFormat, new { @Value = Model.objSiteSettings.objAccount.CurrencyFormat })
                                @Html.DropDownList("currencyType", new SelectList(currencyTypeName), new { disabled = "disabled" })
                            </div>
                        </div>
                        <!-- / -->
                        <!-- Date Format -->
                        <div class="control-group">
                            <label class="control-label">@Resources.lblDateFormat</label>
                            <div class="controls">
                                @Html.DropDownListFor(model => model.objSiteSettings.objAccount.DateFormat, new SelectList(GMGColorDAL.DALUtils.SearchObjects<GMGColorDAL.DateFormat>(o => o.ID > 0, context).AsEnumerable(), "ID", "Result"), Resources.lblSelectDateFormat, new { @id = "ddDateFormat" })
                                @Html.ValidationMessageFor(model => model.objSiteSettings.objAccount.DateFormat)
                            </div>
                        </div>
                        <!-- / -->
                        <!-- Time Format -->
                        <div class="control-group">
                            <label class="control-label">@Resources.lblTimeFormat</label>
                            <div class="controls">
                                @foreach (GMGColorDAL.TimeFormat item in GMGColorDAL.DALUtils.SearchObjects<GMGColorDAL.TimeFormat>(o => o.ID > 0, context))
                                {
                                    <label class="radio">
                                        @Html.RadioButtonFor(m => m.objSiteSettings.objAccount.TimeFormat, item.ID)
                                        @item.Pattern (e.g. @item.Result )
                                    </label>
                                }
                            </div>
                        </div>
                        <!-- / -->
                        <!-- TimeZone -->
                        <div class="control-group">
                            <label class="control-label">@Resources.lblTimeZone</label>
                            <div class="controls">
                                @Html.DropDownListFor((m => m.objSiteSettings.objAccount.TimeZone), new SelectList(BaseController.TimeZones.AsEnumerable(), "ID", "Name", Model.objSiteSettings.objAccount.TimeZone), Resources.lblSelectTimeZone)
                                @Html.ValidationMessageFor(m => m.objSiteSettings.objAccount.TimeZone)
                            </div>
                        </div>
                        <!-- / -->
                        <div class="control-group">
                            <label class="control-label">@Resources.lblMeasurementType</label>
                            <div class="controls">
                                @Html.DropDownListFor(model => model.objSiteSettings.MeasurementType, new List<SelectListItem>
                                             {
                                                new SelectListItem{ Text="Millimeter", Value = "false" },
                                                new SelectListItem{ Text="Inches", Value = "true" }
                                             })
                                </div>
                            </div>
                    </fieldset>
                    <div class="form-actions">
                        @Html.HiddenFor(model => model.objSiteSettings.objAccount.ID)
                        <button type="submit" class="btn btn-primary" name="action" value="SiteSettings" data-loading-text="@Resources.btnUpdating">
                            @Resources.btnUpdateAccount</button>
                    </div>
                }
            </div>
        </div>
        <!-- /row-fluid -->
    </div>
    <!-- /widget-content -->
</div>
<!-- /widget -->
