﻿@using GMGColor.Resources
@using GMGColorDAL.CustomModels
@model GMGColorDAL.CustomModels.Enums.UploadEngineTemplatesType?

<div class="form-switch">
    <div class="input-append">
        <a class ="btn btn-primary" href="@Url.Action("UploadEngineTemplates", new { type = Enums.UploadEngineTemplatesType.Profiles })" @Html.Raw(GetDisabledState(Enums.UploadEngineTemplatesType.Profiles))">@Resources.lblProfiles</a> 
        <a class ="btn btn-primary" href="@Url.Action("UploadEngineTemplates", new { type = Enums.UploadEngineTemplatesType.XMLTemplates })" @Html.Raw(GetDisabledState(Enums.UploadEngineTemplatesType.XMLTemplates))">@Resources.lblXMLTemplates</a>
        <a class ="btn btn-primary" href="@Url.Action("UploadEngineTemplates", new { type = Enums.UploadEngineTemplatesType.Presets })" @Html.Raw(GetDisabledState(Enums.UploadEngineTemplatesType.Presets))">@Resources.lblPresets</a>
    </div>
</div>
@functions{

    private string GetDisabledState(Enums.UploadEngineTemplatesType currentView)
    {
        return currentView == Model ? "disabled=\"disabled\"" : string.Empty;
    }
}