﻿@model GMGColorDAL.CustomModels.XMLEngine.UploadEngineProfiles
@using GMGColor.Resources;
@using GMGColorDAL.CustomModels;
@{
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
}
<div class="widget">
    <div class="widget-header">
        <ul class="widget-links">
            <li><a class="btn btn-primary" data-toggle="modal" data-backdrop="static" data-keyboard="false" href="@Url.Action("AddEditProfile", new { page = Model.page })">@Resources.lblNewProfile</a></li>
        </ul>
        <h3>@ViewBag.Header @*<small>@ViewBag.HeaderSmall</small>*@</h3>
    </div>
    <!-- /widget-header -->
    <div class="widget-content">
        <div class="row-fluid">
            <div class="span3">
                @{Html.RenderAction("SecondaryNavigation", "Navigation");}
            </div>
            <div class="span9">
                <div class="pull-right">
                     @Html.Partial("UploadEngineTemplatesSwitch", Enums.UploadEngineTemplatesType.Profiles)
                </div>
               @using (Html.BeginForm("UploadEngineTemplates", "Settings", new { @class = "form-horizontal", id = "formMain" }))
               {
                    <div id="dvUploadEngineProfiles" class="tab-pane">
                        @if (Model.ListProfiles.Count > 0)
                        {
                            <div class="clearboth"></div>
                            <legend>@Resources.lblProfiles</legend>
                            <div class="display-field">
                                @{ var profiles = new WebGrid(Model.ListProfiles, rowsPerPage: 10); }
                                @profiles.GetHtml(
                                    tableStyle: "table table-striped table-bordered table-responsive",
                                     mode: WebGridPagerModes.All,
                                     firstText: "<< ",
                                     lastText: " >>",
                                    columns:
                                          profiles.Columns(
                                          profiles.Column(columnName: "Name", header: Resources.lblName, format: @<text><a href="@Url.Action("AddEditProfile", new { SelectedInstance = item.ID, page = Model.page })">@item.Name</a></text>, style: "span2"),
                                          profiles.Column(columnName: "HasInputSettings", header: Resources.lblInputTemplate, style: "span3"),
                                          profiles.Column(columnName: "OutputPreset", header: Resources.lblOutputTemplate, format: @<text> @(String.IsNullOrEmpty(item.OutputPreset) ? String.Empty : item.OutputPreset)</text>),
                                          profiles.Column(columnName: "XMLTemplate", header: Resources.lblXMLTemplate, format: @<text> @(String.IsNullOrEmpty(item.XMLTemplate) ? item.HasInputSettings ? Resources.lblDefault : String.Empty : item.XMLTemplate)</text>),
                                          profiles.Column(columnName: "IsActive", header: Resources.lblStatus, format: @<text> @(item.IsActive ? Resources.lblActive : Resources.lblInactive)</text>),
                                          profiles.Column(format: @<text>@Html.Raw(GetActionButtons(item.ID, item.IsActive))</text>)
                                        ))
                            </div>
                            @Html.Hidden("SelectedInstance", "0", new { id = "hdnInstance" })
                            @Html.HiddenFor(m => m.page, new { @data_val = "false" })
                            <button id="btnDelete" class="cancel" type="submit" name="action" value="DeleteXMLEngineProfile"
                                    hidden="hidden">
                                Delete</button>
                            <button id="btnActivate" class="cancel" type="submit" name="action" value="ActivateXMLEngineProfile"
                                    hidden="hidden">
                                Activate</button>
                            <button id="btnDeactivate" class="cancel" type="submit" name="action" value="DeactivateXMLEngineProfile"
                                    hidden="hidden">
                                Deactivate</button>
                        }
                        else
                        { 
                            <div class="row-fluid blank-state" visible="false">
                                <div class="span4 blank-state-icon">
                                    <i class="icon-print"></i>
                                </div>
                                <div class="span7">
                                    <h3>@Resources.lblAddYourFirstProfile</h3>
                                    <p>@Resources.lblOrganizeProfiles</p>
                                    <p>
                                        <a data-toggle="modal" data-backdrop="static" data-keyboard="false" href="@Url.Action("AddEditProfile")" class="btn btn-primary" title="@Resources.lblAddYourFirstProfile" >@Resources.lblNewProfile</a></p>
                                </div>
                            </div>
                        }
                        @{DeleteConfirmation deleteUserConfirmation = new DeleteConfirmation(1, "DeleteXMLEngineProfile");}
                        @Html.Partial("DeleteConfirmationDialog", deleteUserConfirmation)
                    </div>
                }
            </div>
        </div>
        <!-- /row-fluid -->
    </div>
    <!-- /widget-content -->
</div>
<!-- /widget -->

@functions{

    private string GetActionButtons(int id, bool isActive)
    {
        System.Text.StringBuilder html = new System.Text.StringBuilder();

        html.Append("<div class=\"btn-group pull-right\">");
        html.Append("   <a href=\"javascript:void(0);\" data-toggle=\"dropdown\" class=\"btn btn-mini dropdown-toggle ellipsisButtonList\"><i class=\"icon-ellipsis-horizontal\"></i></a>");
        html.Append("   <ul class=\"dropdown-menu pull-right\">");
        html.Append("      <li><a href=" + @Url.Action("AddEditProfile", new { SelectedInstance = id, page = Model.page }) + "><i class=\"icon-pencil\"></i>" + Resources.btnEdit + "</a></li>");
        if (!isActive)
        {
            html.Append("  <li><a href=\"javascript:void(0);\" onclick=\"$('#hdnInstance')[0].value = " + id + ";$('#btnActivate').click();\"><i class=\"icon-check\"></i>" + Resources.btnActivate + "</a></li>");
        }
        else
        {
            html.Append("  <li><a href=\"javascript:void(0);\" onclick=\"$('#hdnInstance')[0].value = " + id + ";$('#btnDeactivate').click();\"><i class=\"icon-check-empty\"></i>" + Resources.btnDeactivate + "</a></li>");
        }
        html.Append("  <li><a href=\"javascript:void(0);\" onclick=\"$('#hdnInstance')[0].value = " + id + ";$('#modelDialogDeleteConfirmation_1').modal({ backdrop: 'static', keyboard: false });\" rel=\"nofollow\" data-method=\"delete\" data-disable-with=\"Deleting...\" ><i class=\"icon-trash\"></i>" + Resources.btnDelete + "</a></li>");
        html.Append("   </ul>");
        html.Append("</div>");

        return html.ToString();
    }
}
