﻿@model GMGColorDAL.CustomModels.XMLEngine.UploadEnginePresets
@using GMGColor.Resources;
@using GMGColorDAL.CustomModels;
@{
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
}
<div class="widget">
    <div class="widget-header">
        <ul class="widget-links">
            <li><a class="btn btn-primary" data-toggle="modal" data-backdrop="static" data-keyboard="false" href="@Url.Action("AddEditPreset", new { page = Model.page})">@Resources.bntNewPreset</a></li>
        </ul>
        <h3>@ViewBag.Header @*<small>@ViewBag.HeaderSmall</small>*@</h3>
    </div>
    <!-- /widget-header -->
    <div class="widget-content">
        <div class="row-fluid">
            <div class="span3">
                @{Html.RenderAction("SecondaryNavigation", "Navigation");}
            </div>
            <div class="span9">
                <div class="pull-right">
                     @Html.Partial("UploadEngineTemplatesSwitch", Enums.UploadEngineTemplatesType.Presets)
                </div>
               @using (Html.BeginForm("UploadEngineTemplates", "Settings", new { @class = "form-horizontal", id = "formMain" }))
                {
                    <div id="dvColorProofInstanaces" class="tab-pane">
                        @if (Model.ListPresets.Count > 0)
                        {
                            <div class="clearboth"></div>
                            <legend>@Resources.lblPresets</legend>
                            <div class="display-field">
                                @{ var presets = new WebGrid(Model.ListPresets, rowsPerPage: 10); }
                                @presets.GetHtml(
                                    tableStyle: "table table-striped table-bordered table-responsive",
                                    mode: WebGridPagerModes.All,
                                    firstText: "<< ",
                                    lastText: " >>",
                                    columns:
                                         presets.Columns(
                                             presets.Column(columnName: "Name", header: Resources.lblName, format: @<text><a href="@Url.Action("AddEditPreset", new {SelectedInstance = item.ID, page = Model.page})">@item.Name</a></text>, style: "span2"),
                                             presets.Column(columnName: "Host", header: Resources.lblHost, style: "span3"),
                                             presets.Column(columnName: "Protocol", header: Resources.lblProtocol, format: @<text> @(item.FTPProtocol.Key == (int)GMG.CoZone.Common.FTPProtocol.FTP ? "FTP" : "FTPS")</text>),
                                             presets.Column(columnName: "DefaultDirectory", header: Resources.lblDefaultDirectory, format: @<text> @(String.IsNullOrEmpty(item.DefaultDirectory) ? String.Empty : item.DefaultDirectory)</text>),
                                             presets.Column(format: @<text>@Html.Raw(GetActionButtons(item.ID, item.CanBeDeleted))</text>)
                                        ))
                            </div>
                            @Html.Hidden("SelectedInstance", "0", new { id = "hdnInstance" })
                            @Html.HiddenFor(m => m.page)
                            <button id="btnDelete" class="cancel" type="submit" name="action" value="DeletePreset"
                                    hidden="hidden">
                                Delete</button>
                        }
                        else
                        { 
                            <div class="row-fluid blank-state" visible="false">
                                <div class="span4 blank-state-icon">
                                    <i class="icon-print"></i>
                                </div>
                                <div class="span7">
                                    <h3>@Resources.lblAddYourFirstPreset</h3>
                                    <p>@Resources.lblOrganizePresets</p>
                                    <p>
                                        <a data-toggle="modal" data-backdrop="static" data-keyboard="false" href="@Url.Action("AddEditPreset")" class="btn btn-primary" title="@Resources.lblAddYourFirstPreset" >@Resources.bntNewPreset</a></p>
                                </div>
                            </div>
                        }
                        @{DeleteConfirmation deleteUserConfirmation = new DeleteConfirmation(1, "DeletePreset");}
                        @Html.Partial("DeleteConfirmationDialog", deleteUserConfirmation)
                    </div>
                }
            </div>
        </div>
        <!-- /row-fluid -->
    </div>
    <!-- /widget-content -->
</div>
<!-- /widget -->

@functions{

    private string GetActionButtons(int id, bool canBeDeleted)
    {
        System.Text.StringBuilder html = new System.Text.StringBuilder();

        html.Append("<div class=\"btn-group pull-right\">");
        html.Append("   <a href=\"javascript:void(0);\" data-toggle=\"dropdown\" class=\"btn btn-mini dropdown-toggle ellipsisButtonList\"><i class=\"icon-ellipsis-horizontal\"></i></a>");
        html.Append("   <ul class=\"dropdown-menu pull-right\">");
        html.Append("      <li><a href=" + @Url.Action("AddEditPreset", new { SelectedInstance = id, page = Model.page}) + "><i class=\"icon-pencil\"></i>" + Resources.btnEdit + "</a></li>");
        if(canBeDeleted)
        {
            html.Append("  <li><a href=\"javascript:void(0);\" onclick=\"$('#hdnInstance')[0].value = " + id + ";$('#modelDialogDeleteConfirmation_1').modal({ backdrop: 'static', keyboard: false });\" rel=\"nofollow\" data-method=\"delete\" data-disable-with=\"Deleting...\" ><i class=\"icon-trash\"></i>" + Resources.btnDelete + "</a></li>");
        }
        html.Append("   </ul>");
        html.Append("</div>");

        return html.ToString();
    }
}
