﻿@model GMGColorDAL.CustomModels.XMLEngine.UploadEngineAccountSettings
@using GMG.CoZone.Common
@using GMGColor.Resources;
@using GMGColorBusinessLogic
@{
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
    DbContextBL context = HttpContext.Current.Items[GMGColorDAL.DALUtils.DatabaseContext] as DbContextBL;
}

<div class="widget">
    <div class="widget-header">
        <h3>@ViewBag.Header @*<small>@ViewBag.HeaderSmall</small>*@</h3>
    </div>
    <!-- /widget-header -->
    <div class="widget-content">
        <div class="row-fluid">
            <div class="span3">
                @{Html.RenderAction("SecondaryNavigation", "Navigation");}
            </div>
            <div class="span9">
                @using (Html.BeginForm("SaveUploadEngineSettings", "Settings", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <legend>@Resources.lblUploadSettings</legend>
                    <!-- Duplicate file name upload settings -->
                    <div class="control-group">
                        <label class="control-label">@Resources.lblUploadSettingsDuplicateFileName</label>
                        <div class="controls upload-settings-control-group">
                            @{
                    var parentCreated = false;
                    foreach (GMGColorDAL.UploadEngineDuplicateFileName uploadEngineDuplicateFileOption in XMLEngineBL.GetDuplicateFileNameUploadOptions(context))
                    {
                        var htmlAttributes = new Dictionary<string, object>();
                        if (uploadEngineDuplicateFileOption.Key == (int)FileUploadDuplicateName.MatchFileNameExactly || uploadEngineDuplicateFileOption.Key == (int)FileUploadDuplicateName.FileWithSuffix_vX)
                        {
                            if (!parentCreated)
                            {
                                htmlAttributes.Add("id", "newVersionParent");
                                if (Model.DuplicateFileOption.Key == (int)FileUploadDuplicateName.MatchFileNameExactly || Model.DuplicateFileOption.Key == (int)FileUploadDuplicateName.FileWithSuffix_vX)
                                {
                                    htmlAttributes.Add("checked", "checked");
                                }
                                            <div class="controls">
                                                <label class="radio inline">
                                                    @Html.RadioButton(Resources.lblUploadSettingsDuplicateFileNameCreateNewVersion, false, @htmlAttributes)
                                                    @Resources.lblUploadSettingsDuplicateFileNameCreateNewVersion
                                                </label>
                                            </div>
                                parentCreated = true;
                                htmlAttributes.Clear();
                            }
                            htmlAttributes.Add("class", "newVersionChild");
                            if (Model.DuplicateFileOption.Key == uploadEngineDuplicateFileOption.Key)
                            {
                                htmlAttributes.Add("checked", "checked");
                            }
                            if (Model.DuplicateFileOption.Key != (int)FileUploadDuplicateName.MatchFileNameExactly && Model.DuplicateFileOption.Key != (int)FileUploadDuplicateName.FileWithSuffix_vX)
                            {
                                htmlAttributes.Add("disabled", "disabled");
                            }
                                        <div class="controls" style="margin-left: 20px;">
                                            <label class="radio inline">
                                                @Html.RadioButtonFor(m => m.DuplicateFileOption.ID, uploadEngineDuplicateFileOption.ID, @htmlAttributes)
                                                @GMGColor.Common.Utils.GetLabelForUploadEngineDuplicateFileName((FileUploadDuplicateName)uploadEngineDuplicateFileOption.Key)
                                            </label>
                                        </div>
                        }
                        else
                        {
                            htmlAttributes.Add("class", "parentOptions");
                            if (Model.DuplicateFileOption.Key == uploadEngineDuplicateFileOption.Key)
                            {
                                htmlAttributes.Add("checked", "checked");
                            }
                                        <div class="controls">
                                        <label class="radio inline">
                                            @Html.RadioButtonFor(m => m.DuplicateFileOption.ID, uploadEngineDuplicateFileOption.ID, @htmlAttributes)
                                            @GMGColor.Common.Utils.GetLabelForUploadEngineDuplicateFileName((FileUploadDuplicateName)uploadEngineDuplicateFileOption.Key)
                                        </label>
                                    </div>
                        }
                    }
                            }
                        </div>
                    </div>
                    <!-- Version upload settings -->
                    <div class="control-group">
                        <label class="control-label">@Resources.lblUploadSettingsVersionName</label>
                        <div class="controls upload-settings-control-group">
                            @foreach (GMGColorDAL.UploadEngineVersionName uploadEngineVersionName in XMLEngineBL.GetUploadVersionNameOptions(context))
                            {
                                Dictionary<string, object> htmlAttributes = new Dictionary<string, object>();
                                htmlAttributes.Add("id", ((VersionUploadName)uploadEngineVersionName.Key).ToString());
                                if (Model.VersionNameOption.Key == uploadEngineVersionName.Key)
                                {
                                    htmlAttributes.Add("checked", "checked");
                                }
                                <div>
                                    <label class="radio inline">
                                        @Html.RadioButtonFor(m => m.VersionNameOption.ID, uploadEngineVersionName.ID, @htmlAttributes)
                                        @GMGColor.Common.Utils.GetLabelForUploadVersionName((VersionUploadName)uploadEngineVersionName.Key)
                                    </label>

                                    @if ((VersionUploadName)uploadEngineVersionName.Key == VersionUploadName.AppendvXAtPosition)
                                    {
                                        <div class="version-number-location">
                                            @{
                                        Dictionary<string, object> htmlAttributesNumberPosition = new Dictionary<string, object>();
                                        htmlAttributesNumberPosition.Add("class", "input-medium iintiger");
                                        if ((VersionUploadName)Model.VersionNameOption.Key != VersionUploadName.AppendvXAtPosition)
                                        {
                                            htmlAttributesNumberPosition.Add("disabled", "disabled");
                                        }
                                            }

                                            @Html.TextBoxFor(m => m.VersionNumberPosition, @htmlAttributesNumberPosition)

                                            @{
                                        Dictionary<string, object> htmlAttributesFromStart = new Dictionary<string, object>();
                                        Dictionary<string, object> htmlAttributesFromEnd = new Dictionary<string, object>();
                                        htmlAttributesFromStart.Add("class", "positionFromStart");
                                        htmlAttributesFromEnd.Add("class", "positionFromStart");
                                        if (Model.VersionNumberPositionFromStart == false)
                                        {
                                            htmlAttributesFromEnd.Add("checked", "checked");
                                        }
                                        else
                                        {
                                            htmlAttributesFromStart.Add("checked", "checked");
                                        }
                                        if ((VersionUploadName)Model.VersionNameOption.Key != VersionUploadName.AppendvXAtPosition)
                                        {
                                            htmlAttributesFromStart.Add("disabled", "disabled");
                                            htmlAttributesFromEnd.Add("disabled", "disabled");
                                        }
                                            }

                                            <div class="version-number-location">
                                                <div>
                                                    <label class="radio inline">
                                                        @Html.RadioButtonFor(m => m.VersionNumberPositionFromStart, false, @htmlAttributesFromEnd)
                                                        @Resources.lblUploadSettingsAddvxAtLocationFromEnd
                                                    </label>
                                                </div>
                                                <div>
                                                    <label class="radio inline">
                                                        @Html.RadioButtonFor(m => m.VersionNumberPositionFromStart, true, @htmlAttributesFromStart)
                                                        @Resources.lblUploadSettingsAddvxAtLocationFromStart
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            }
                        </div>
                    </div>
                    <!-- Allowed filetypes -->
                    <div class="control-group">
                        <label class="control-label">@Resources.lblUploadSettingsAllowedFileTypes</label>
                        <div class="upload-settings-control-group container-fluid allowed-file-types">
                            <div class="row-fluid">
                                <label class="span2 checkbox">
                                    @Html.CheckBoxFor(m => m.AllowPDF)
                                    @Resources.lblUploadSettingsPDFFileType
                                </label>
                                <label class="span2 checkbox">
                                    @Html.CheckBoxFor(m => m.AllowImage)
                                    @Resources.lblUploadSettingsImageFileType
                                </label>
                                <label class="span2 checkbox">
                                    @Html.CheckBoxFor(m => m.AllowDoc)
                                    @Resources.lblUploadSettingsDocumentFileType
                                </label>
                                @if (Model.IsEnabledMediaTools)
                                {
                                    <label class="span2 checkbox">
                                        @Html.CheckBoxFor(m => m.AllowVideo)
                                        @Resources.lblUploadSettingsVideoFileType
                                    </label>
                                    <label class="span2 checkbox">
                                        @Html.CheckBoxFor(m => m.AllowSWF)
                                        @Resources.lblUploadSettingsSWFFileType
                                    </label>
                                }
                            </div>
                        </div>
                    </div>
                    <!-- Allowed filetypes -->
                    <div class="control-group">
                        <div >
                            <label >
                                @Resources.lblUploadSettingsZipFilesWhenDownloading
                                @Html.CheckBoxFor(m => m.ZipFilesWhenDownloading, new { @class = "right-positioned-checkbox" })
                            </label>
                        </div>
                    </div>
                    <div class="control-group">
                        <div >
                            <label >
                                @Resources.lblApplyUploadSettingsForNewApproval
                                @Html.CheckBoxFor(m => m.ApplyUploadSettingsForNewApproval, new { @class = "right-positioned-checkbox" })
                            </label>
                        </div>
                    </div>
                    <div class="control-group">
                        <div >
                            <label >
                                @{
                                Dictionary<string, object> useUplAttibutes = new Dictionary<string, object>();
                                useUplAttibutes.Add("class", "right-positioned-checkbox");
                                if (!Model.ApplyUploadSettingsForNewApproval)
                                {
                                    useUplAttibutes.Add("disabled", "disabled");
                                }
                                }
                                @Resources.lblAccountSettingPreviousVersionSettings
                                @Html.CheckBoxFor(m => m.UseUploadSettingsFromPreviousVersion, @useUplAttibutes)
                            </label>
                        </div>
                    </div>
                    <div class="control-group">
                        <div >
                            <label >
                                @{
                                    Dictionary<string, object> uplAttibutes = new Dictionary<string, object>();
                                    uplAttibutes.Add("class", "right-positioned-checkbox");
                                    if (!Model.ApplyUploadSettingsForNewApproval)
                                    {
                                        uplAttibutes.Add("disabled", "disabled");
                                    }
                                }
                                @Resources.lblEnableVersionMirroring
                                @Html.CheckBoxFor(m => m.EnableVersionMirroring, @uplAttibutes)
                            </label>
                        </div>
                    </div>
                    <div class="control-group">
                             <label>@Resources.lblPostStatusUpdatesURL
                             <div class="input-prepend">
                                 @Html.TextBoxFor(m => m.PostStatusUpdatesURL, new { @style = "width:350px;" })
                             </div>
                             </label>
                          @Html.ValidationMessageFor(m => m.PostStatusUpdatesURL)
                    </div>

                    <div class="control-group">
                        <div class="upload-settings-control-group container-fluid allowed-file-types">
                            <div class="row-fluid">
                                <label class="span2 checkbox">
                                    @Html.CheckBoxFor(m => m.AllowApiStatusUpdate)
                                    @Resources.lblColorProofInstanceManualStats
                                </label>
                                <label class="span2 checkbox">
                                    @Html.CheckBoxFor(m => m.AllowApiApprovalDueDate)
                                    @Resources.lblApprovalDueDate
                                </label>
                                <label class="span2 checkbox">
                                    @Html.CheckBoxFor(m => m.AllowApiPhaseDueDate)
                                    @Resources.lblPhaseDueDate
                                </label>
                                <label class="span2 checkbox">
                                    @Html.CheckBoxFor(m => m.AllowApiOnAnnotation)
                                    @Resources.lblAnnotationComment
                                </label>
                            </div>
                        </div>
                    </div>


                    <label>@Resources.lblEnablePermission</label>
                    <div class="display-field">
                        @{ var userGroups = new WebGrid(Model.userGroupPermission, rowsPerPage: 10); }
                        @userGroups.GetHtml(
                            tableStyle: "table table-striped table-bordered table-responsive",
                                mode: WebGridPagerModes.All,
                                firstText: "<< ",
                                lastText: " >>",
                            columns:
                            userGroups.Columns(
                            userGroups.Column(columnName: "UserGroupName", header: Resources.lblGroups, format: @<text><input name="allCheckbox" type="checkbox" @(item.AllPermissionsChecked == true ? "checked" : "") value="@item.UserGroupID" />  @item.UserGroupName</text>),
                            userGroups.Column(header: @Resources.lblUploaderPermission, format: @<text><input class="singleCheckBox" name="UploaderPermission" type="checkbox"  @(item.Uploader == true ? "checked" : "") value="@item.UserGroupID" /></text>),
                            userGroups.Column(header: @Resources.lblDownloadFromCollaborate, format: @<text><input class="singleCheckBox" name="DownloadFromCollaboratePermission" type="checkbox"  @(item.DownloadFromCollaborate == true ? "Checked" : null) value="@item.UserGroupID" /></text>, style: "span2"),
                            userGroups.Column(header: @Resources.lblDownloadFromDeliver, format: @<text><input class="singleCheckBox" name="DownloadFromDeliverPermission" type="checkbox"  @(item.DownloadFromDeliver == true ? "Checked" : null) value="@item.UserGroupID" /></text>, style: "span2")                           
                            ))
                    </div>

                    <div class="form-actions">
                        <button class="btn btn-primary" type="submit" name="action" value="SaveUploadEngineSettings" data-loading-text="@Resources.btnUpdating">@Resources.btnUploadSettingsSaveChanges</button>
                    </div>
                }
            </div>
            <!-- /row-fluid -->
        </div>
        <!-- /widget-content -->
    </div>
    <!-- /widget -->
</div>

@section PageScript
{
    <script type="text/javascript">

        $("input[name='VersionNameOption.ID']").change(function() {
            if ($(this).attr("id") == '@VersionUploadName.AppendvXAtPosition.ToString()') {
                $("#VersionNumberPosition").removeAttr('disabled');
                $(".positionFromStart").removeAttr('disabled');
            } else {
                $("#VersionNumberPosition").attr('disabled', 'disabled');
                $(".positionFromStart").attr('disabled', 'disabled');
            }
        });

        $("input[name='allCheckbox']").change(function() {
            if ($(this).is(':checked')) {
                $('input[class=singleCheckBox][value=' + $(this).val() + ']').attr('checked', 'checked');
            } else {
                $('input[class=singleCheckBox][value=' + $(this).val() + ']').removeAttr('checked');
            }
        });

        $("input[class='singleCheckBox']").change(function() {
            if ($('input[class=singleCheckBox][value=' + $(this).val() + ']').length == $('input[checked][class=singleCheckBox][value=' + $(this).val() + ']').length) {
                $('input[name=allCheckbox][value=' + $(this).val() + ']').attr('checked', 'checked');
            } else {
                $('input[name=allCheckbox][value=' + $(this).val() + ']').removeAttr('checked');
            }
        });

        $('.parentOptions').on('click', function() {
            $('#newVersionParent').removeAttr('checked');
            $('.newVersionChild').attr('disabled', 'disabled');
        });

        $('#newVersionParent').on('click', function() {
            $('.newVersionChild:first').attr('checked', 'checked');
            $('.newVersionChild').removeAttr('disabled');
        });

        $('#ApplyUploadSettingsForNewApproval').on('click', function () {
            if ($(this).is(':checked')) {
                $('#UseUploadSettingsFromPreviousVersion').removeAttr('disabled');
                $('#EnableVersionMirroring').removeAttr('disabled');
            } else {
                $('#UseUploadSettingsFromPreviousVersion').attr('disabled', 'disabled');
                $('#UseUploadSettingsFromPreviousVersion').removeAttr('checked');

                $('#EnableVersionMirroring').attr('disabled', 'disabled');
                $('#EnableVersionMirroring').removeAttr('checked');
            }
        });
    </script>
}