﻿@model GMGColorDAL.CustomModels.XMLEngine.UploadEngineXMLTemplates
@using GMGColor.Resources;
@using GMGColorDAL.CustomModels;
@{
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
}
<div class="widget">
    <div class="widget-header">
        <ul class="widget-links">
            <li><a class="btn btn-primary" data-toggle="modal" data-backdrop="static" data-keyboard="false" href="@Url.Action("AddEditXMLTemplate", new { page = Model.page })">@Resources.lblNewXMLTemplate</a></li>
        </ul>
        <h3>@ViewBag.Header @*<small>@ViewBag.HeaderSmall</small>*@</h3>
    </div>
    <!-- /widget-header -->
    <div class="widget-content">
        <div class="row-fluid">
            <div class="span3">
                @{Html.RenderAction("SecondaryNavigation", "Navigation");}
            </div>
            <div class="span9">
                <div class="pull-right">
                     @Html.Partial("UploadEngineTemplatesSwitch", Enums.UploadEngineTemplatesType.XMLTemplates)
                </div>
                 @using (Html.BeginForm("UploadEngineTemplates", "Settings", new { @class = "form-horizontal", id = "formMain" }))
               {
                    <div id="dvUploadEngineProfiles" class="tab-pane">
                        @if (Model.ListXMLTemplates.Count > 0)
                        {
                            <div class="clearboth"></div>
                            <legend>@Resources.lblXMLTemplates</legend>
                            <div class="display-field">
                                @{ var xmlTemplates = new WebGrid(Model.ListXMLTemplates, rowsPerPage: 10); }
                                @xmlTemplates.GetHtml(
                                    tableStyle: "table table-striped",
                                     mode: WebGridPagerModes.All,
                                     firstText: "<< ",
                                     lastText: " >>",
                                     columns:
                                           xmlTemplates.Columns(
                                           xmlTemplates.Column(columnName: "Name", header: Resources.lblName, format: @<text><a href="@Url.Action("AddEditXMLTemplate", new { SelectedInstance = item.ID, page = Model.page })">@item.Name</a></text>, style: "span2"),
                                           xmlTemplates.Column(format: @<text>@Html.Raw(GetActionButtons(item.ID, item.CanBeDeleted))</text>)
                                        ))
                            </div>
                            @Html.Hidden("SelectedInstance", "0", new { id = "hdnInstance" })
                            @Html.HiddenFor(m => m.page, new { @data_val = "false" })
                            <button id="btnDelete" class="cancel" type="submit" name="action" value="DeleteXMLTemplate"
                                    hidden="hidden">
                                Delete</button>
                        }
                        else
                        { 
                            <div class="row-fluid blank-state" visible="false">
                                <div class="span4 blank-state-icon">
                                    <i class="icon-print"></i>
                                </div>
                                <div class="span7">
                                    <h3>@Resources.lblAddYourFirstXMLTemplate</h3>
                                    <p>@Resources.lblOrganizeXMLTemplates</p>
                                    <p>
                                        <a data-toggle="modal" data-backdrop="static" data-keyboard="false" href="@Url.Action("AddEditXMLTemplate")" class="btn btn-primary" title="@Resources.lblAddYourFirstXMLTemplate" >@Resources.lblNewXMLTemplate</a></p>
                                </div>
                            </div>
                        }
                        @{DeleteConfirmation deleteUserConfirmation = new DeleteConfirmation(1, "DeleteXMLTemplate");}
                        @Html.Partial("DeleteConfirmationDialog", deleteUserConfirmation)
                    </div>
                }
            </div>

        </div>
        <!-- /row-fluid -->
    </div>
    <!-- /widget-content -->
</div>
<!-- /widget -->

@functions{

    private string GetActionButtons(int id, bool canBeDeleted)
    {
        System.Text.StringBuilder html = new System.Text.StringBuilder();

        html.Append("<div class=\"btn-group pull-right\">");
        html.Append("   <a href=\"javascript:void(0);\" data-toggle=\"dropdown\" class=\"btn btn-mini dropdown-toggle ellipsisButtonList\"><i class=\"icon-ellipsis-horizontal\"></i></a>");
        html.Append("   <ul class=\"dropdown-menu pull-right\">");
        html.Append("      <li><a href=" + @Url.Action("AddEditXMLTemplate", new { SelectedInstance = id, page = Model.page }) + "><i class=\"icon-pencil\"></i>" + Resources.btnEdit + "</a></li>");
        if(canBeDeleted)
        {
            html.Append("  <li><a href=\"javascript:void(0);\" onclick=\"$('#hdnInstance')[0].value = " + id + ";$('#modelDialogDeleteConfirmation_1').modal({ backdrop: 'static', keyboard: false });\" rel=\"nofollow\" data-method=\"delete\" data-disable-with=\"Deleting...\" ><i class=\"icon-trash\"></i>" + Resources.btnDelete + "</a></li>");
        }
        html.Append("   </ul>");
        html.Append("</div>");

        return html.ToString();
    }
}


