﻿@model GMGColorDAL.CustomModels.AccountSettings.Users
@using GMGColor.Resources;
@using GMGColorDAL.Common
@using GMGColorDAL.CustomModels
@using MigraDoc.DocumentObjectModel.Tables
@{
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
}
<div class="widget">
    <div class="widget-header">
        <ul class="widget-links">
            <li><a class="btn btn-primary" data-toggle="modal" class="btn btn-primary" data-backdrop="static" data-keyboard="false" href="@Url.Action("AddEditUser", "Settings")">@Resources.btnAddNewUser</a></li>
        </ul>
        <h3>@ViewBag.Header @*<small>@ViewBag.HeaderSmall</small>*@</h3>
    </div>
    <!-- /widget-header -->
    <div class="widget-content">
        <div class="row-fluid">
            <div class="span3">
                @{Html.RenderAction("SecondaryNavigation", "Navigation");}
            </div>
            <div class="span9">
                @using (Html.BeginForm("Users", "Settings", FormMethod.Post, new { @class = "form-horizontal dirtyignore", id = "formMain" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.objUsers.objAccount.ID)
                    <div id="dvUsers" class="tab-pane">
                        <div class="well form-search">
                            <div class="input-append">
                                @Html.Hidden("SearchText", "0", new { id = "hdnSearchText" })
                                @Html.TextBoxFor(model => model.objUsers.SearchText, new { id = "txtSearch", @class = "input-medium search-query" })
                                <button id="btnSearchUser" type="submit" class="btn cancel" name="action" value="SearchUser" onclick="$('#hdnSearchText')[0].value = $('#txtSearch').val();">
                                    @Resources.btnSearch</button>
                            </div>
                             <div class="control-group pull-right">
                                 <label>
                                     @Resources.lblShowAllUsers
                                     @Html.CheckBoxFor(model => model.objUsers.ShowAllUsers, new { @id = "showAllCheck", @style = " margin-left: 10px !important; margin-top:0px !important;" })
                                 </label>
                            </div>
                        </div>
                        <div class="display-field">
                            @{
                                var accountUsers = new WebGrid(Model.objUsers.ListUsers, canPage: !Model.objUsers.ShowAllUsers);
                            }
                            @if (ViewBag.LoggedAccountType == GMGColorDAL.AccountType.Type.GMGColor)
                            {
                                @accountUsers.GetHtml(
                                    tableStyle: "table table-striped table-bordered table-responsive",
                                    htmlAttributes: new { id = "users-table" },
                                    columns:
                                        accountUsers.Columns(
                                            accountUsers.Column(header: Resources.lblName, format: @<text><a href="javascript:void(0);" onclick="$('#hdnSelectedUser')[0].value = @item.ID;$('#btnEdit').click();">
                                                        @item.GivenName
                                            @item.FamilyName
                                        </a></text>, style: "span2"),
                                 accountUsers.Column(columnName: "UserName", header: Resources.lblUserName, style: "span2"),
                                 accountUsers.Column(columnName: "EmailAddress", header: Resources.lblEmail, style: "span2"),
                                 accountUsers.Column(columnName: "DateLastLogin", header: Resources.lblLastLogin, format: @<text>@GetLastLoginDate(item.DateLastLogin)</text>),
                     accountUsers.Column(columnName: "SysAdminRole", header: Resources.lblSysAdminRole, format: @<text>@item.SysAdminRole</text>),
             accountUsers.Column(format: @<text>@Html.Raw(GetActionButtons(item.ID, item.UserStatus))</text>)
         ))
                            }
                            else
                            {
                                @accountUsers.GetHtml(
                                    tableStyle: "table table-striped table-bordered table-responsive",
                                    htmlAttributes: new { id = "users-table" },
                                    columns:
                                        accountUsers.Columns(
                                            accountUsers.Column(header: Resources.lblName, format: @<text><a href="javascript:void(0);" onclick="$('#hdnSelectedUser')[0].value = @item.ID;$('#btnEdit').click();">
                                                        @item.GivenName
                                            @item.FamilyName
                                        </a></text>, style: "span2"),
        accountUsers.Column(columnName: "UserName", header: Resources.lblUserName, style: "span2"),
        accountUsers.Column(columnName: "EmailAddress", header: Resources.lblEmail, style: "span2"),
        accountUsers.Column(columnName: "DateLastLogin", header: Resources.lblLastLogin, format: @<text>@GetLastLoginDate(item.DateLastLogin)</text>),
        accountUsers.Column(columnName: "CollaborateRole", header: Resources.lblCollaborateRole, format: @<text>@item.CollaborateRole</text>),
        accountUsers.Column(columnName: "DeliverRole", header: Resources.lblDeliverRole, format: @<text>@item.DeliverRole</text>),
        accountUsers.Column(columnName: "AdminRole", header: Resources.lblAdminRole, format: @<text>@item.AdminRole</text>),
        accountUsers.Column(columnName: "FileTransferRole", header: Resources.lblFileTransferRole, format: @<text>@item.FileTransferRole</text>),
        accountUsers.Column(columnName: "ReportRole", header: Resources.lblReportRole, format: @<text>@item.ReportRole</text>),
        accountUsers.Column(columnName: "PrivateAnnotations", header: Resources.lblPrivateAnnotationsRole, format: @<text>@item.PrivateAnnotations</text>),
        accountUsers.Column(columnName: "UserStatus", header: Resources.lblUserStatus, format: (item) =>
        {
            if (item.UserStatus == "I")
            {
                return Html.Raw(string.Format("<text>TRUE</text>"));
            }
            else
            {
                return Html.Raw(string.Format("<text>-</text>"));
            }
        }),

        accountUsers.Column(columnName: "IsUserLoginLocked", header: "LOC", format: (@item) =>
        {
            if (item.IsUserLoginLocked == true)
            {
                //return Html.Raw(string.Format("<a href=\"javascript:void(0);\" onclick=\"$('#hdnSelectedUser')[0].value = " + item.id + ";$('#btnLock').click();\"><i class=\"icon-lock\"></i></a>"));
                return Html.Raw(string.Format("<i class=\"icon-lock\"></i>"));

            }
            else
            {
                return Html.Raw(string.Format("-"));
            }
        }
        ),
        accountUsers.Column(format: @<text>@Html.Raw(GetActionButtons(item.ID, item.UserStatus))</text>)
     ))
                            }
                        </div>
                        @Html.Hidden("SelectedUser", "0", new { id = "hdnSelectedUser", @data_val = false })
                        <button id="btnEdit" class="cancel" type="submit" name="action" value="EditUser"
                            hidden="hidden">
                            Edit User</button>
                        <button id="btnInvite" class="cancel" type="submit" name="action" value="ReSendInvite"
                            hidden="hidden">
                            Send Invite</button>
                        <button id="btnDeactivate" class="cancel" type="submit" name="action" value="DeactivateUser"
                                hidden="hidden">
                            Deactivate User
                        </button>
                        <button id="btnActivate" class="cancel" type="submit" name="action" value="ActivateUser"
                                hidden="hidden">
                            Activate User
                        </button>
                        <button id="btnLock" class="cancel" type="submit" name="action" value="UnlockUser"
                             hidden="hidden">
                             Unlock User</button>
                        @{DeleteConfirmation deleteUserConfirmation = new DeleteConfirmation(1, "DeleteUser");}
                        @Html.Partial("DeleteConfirmationDialog", deleteUserConfirmation)
                        @Html.ValidationSummary(true)
                        @if (Model.objUsers.ListUsers.Count == 0 && string.IsNullOrEmpty(Model.objUsers.SearchText))
                        {
                            <div class="" visible="false">
                                <h3>
                                    <a data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#modalDialogInviteUser" href="javascript:void(0);" title="@Resources.lblAddYourFirstUser">
                                        @Resources.lblAddYourFirstUser
                                    </a>
                                </h3>
                                <p>
                                    @Resources.lblYouCanAddAsManyUsersAsYouLike
                                </p>
                            </div>
                        }
                    </div>
                    <script type="text/javascript">
                        this.modelDialog = '@ViewBag.ModelDialog';
                    </script>
                }
            </div>
        </div>
        <!-- /row-fluid -->
        @Html.Partial("DuplicateUser", (DuplicateUser)ViewBag.DuplicateUserModel)
    </div>
    <!-- /widget-content -->
</div>
<!-- /widget -->
@functions{
    private string GetActionButtons(int userId, string userStatusKey)
    {
        GMGColorDAL.UserStatu.Status status = GMGColorDAL.UserStatu.GetUserStatus(userStatusKey);

        System.Text.StringBuilder html = new System.Text.StringBuilder();

        html.Append("<div class=\"btn-group pull-right\">");
        html.Append("   <a href=\"javascript:void(0);\" data-toggle=\"dropdown\" class=\"btn btn-mini dropdown-toggle ellipsisButtonList\"><i class=\"icon-ellipsis-horizontal\"></i></a>");
        html.Append("   <ul class=\"dropdown-menu pull-right\">");
        html.Append("      <li><a href=\"javascript:void(0);\" onclick=\"$('#hdnSelectedUser')[0].value = " + userId + ";$('#btnEdit').click();\"><i class=\"icon-pencil\"></i>" + Resources.btnEdit + "</a></li>");
        html.Append("      <li><a href=\"javascript:void(0);\" onclick=\"$('#DuplicatedUser')[0].value = " + userId + ";$('#modalDuplicateUser').modal({ backdrop: 'static', keyboard: false });\"><i class=\"icon-user\"></i>" + Resources.lblDuplicateUser + "</a></li>");
        if (status == GMGColorDAL.UserStatu.Status.Invited)
            html.Append("  <li><a href=\"javascript:void(0);\" onclick=\"$('#hdnSelectedUser')[0].value = " + userId + ";$('#btnInvite').click();\"><i class=\"icon-envelope-alt\"></i>" + Resources.btnResendInvite + "</a></li>");
        if (Model.objUsers.objAccount.Owner != userId)
            html.Append("  <li><a href=\"javascript:void(0);\" onclick=\"$('#hdnSelectedUser')[0].value = " + userId + ";$('#modelDialogDeleteConfirmation_1').modal({ backdrop: 'static', keyboard: false });\" rel=\"nofollow\" data-method=\"delete\" data-disable-with=\"Deleting...\" ><i class=\"icon-trash\"></i>" + Resources.btnDelete + "</a></li>");
        if(userStatusKey != "I")
            html.Append("      <li><a href=\"javascript:void(0);\" onclick=\"$('#hdnSelectedUser')[0].value = " + userId + ";$('#btnDeactivate').click();\"><i class=\"icon-lock\"></i>" + Resources.btnDeactivate + "</a></li>");
        if (userStatusKey == "I")
            html.Append("      <li><a href=\"javascript:void(0);\" onclick=\"$('#hdnSelectedUser')[0].value = " + userId + ";$('#btnActivate').click();\"><i class=\"icon-unlock\"></i>" + Resources.btnActivate + "</a></li>");
        html.Append("   </ul>");
        html.Append("</div>");

        return html.ToString();
    }

    private string GetLastLoginDate(DateTime? dateLastLogin)
    {
        string lastDate = string.Empty;

        if (dateLastLogin != null)
        {
            DateTime utcDate = GMGColorFormatData.GetUserTimeFromUTC(dateLastLogin.Value, Model.objLoggedAccount.TimeZone);
            lastDate = GMGColorFormatData.GetFormattedDate(utcDate, Model.objLoggedAccount.DateFormat1.Pattern) + " " + GMGColorFormatData.GetFormattedTime(utcDate, Model.objLoggedAccount);
        }
        return lastDate;
    }
}
@section PageScript 
{
    <script type="text/javascript">
        function ResetNewUserCustom() {
            ResetModelCustom();
        }


        $('#showAllCheck').on('click', function () {
            var isChecked = $(this).is(":checked");
            var url = window.location;
            $.ajax({
                url: '/Settings/ShowHideAllUsers',
                type: 'POST',
                data: JSON.parse("{ \"showAllUsers\" : \"" + isChecked + "\",\"__RequestVerificationToken\" : \"" + $("#formMain input").val() + "\"}"),
                success: function () {
                    window.location = url;
                }
            });
        });
        
        $('#txtSearch').on('keydown', function(e) {
            if (e.which == 13) {
                $('#btnSearchUser').click();
                return false;
            }
            return true;
        });
        $("#modalDuplicateUser .btn:contains('@Resources.btnCancel')").on("click", function () {
            $('.field-validation-error').remove();
        });
        $(".close").on("click", function () {
            $('.field-validation-error').remove();
        });
    </script>
}