﻿@model GMGColorDAL.CustomModels.AccountSettings.UserGroups
@using GMGColor.Resources;
@using GMGColorDAL.CustomModels
@{    
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
    Bundles.Reference("widget");
    Bundles.Reference("collaboratorgroup");
}
<div class="widget">
    <div class="widget-header">

            <ul class="widget-links">
                <li><a class="btn btn-primary" href="javascript:void(0);" onclick="javascript:$('#btnAddGroup').click();">@Resources.btnAddNewGroup</a></li>
            </ul>
        <h3>@ViewBag.Header @*<small>@ViewBag.HeaderSmall</small>*@</h3>
    </div>
    <!-- /widget-header -->
    <div class="widget-content">
        <div class="row-fluid">
            <div class="span3">
                @{Html.RenderAction("SecondaryNavigation", "Navigation");}
            </div>
            <div class="span9">
                @using (Html.BeginForm("", "Settings", FormMethod.Post, new { @class = "form-horizontal", id = "formMain" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.objLoggedAccount.ID)
                    <div style="display: none">
                        <button id="btnAddGroup" class="cancel" type="submit" name="action" value="NewGroup">
                            @Resources.btnAddNewGroup</button>
                    </div>
                    <div id="dvGroups" class="tab-pane">
                        @if (Model.ListUserGroups.Count > 0)
                        {
                            <div class="display-field">
                                @{var grid = new WebGrid(Model.ListUserGroups, rowsPerPage: 10);}
                                @grid.GetHtml(
                                    tableStyle: "table table-striped",
                                    columns: grid.Columns(
                                    grid.Column(columnName: "Name", header: Resources.lblName,
                                        format: @<text><a href="javascript:void(0);" onclick="$('#hdnSelectedGroup')[0].value = @item.ID;$('#btnEdit').click();">@item.Name</a></text>),
                                    grid.Column(header: Resources.lblUserCount, format: @<text>@Html.Raw(this.GetCollaborators(item.ID))</text>),
                                    grid.Column(format: @<text>@Html.Raw(this.GetActionButtons(item.ID))</text>)
                                ))
                            </div>
                            @Html.Hidden("SelectedGroup", "0", new { id = "hdnSelectedGroup" })
                            <button id="btnEdit" class="cancel" type="submit" name="action" value="EditGroup"
                                hidden="hidden">
                                Edit Group</button>
                                  DeleteConfirmation deleteUserConfirmation = new DeleteConfirmation(1, "DeleteGroup");
                            @Html.Partial("DeleteConfirmationDialog", deleteUserConfirmation)
                            @Html.ValidationSummary(true)
                        }
                        else
                        { 
                            <div class="row-fluid blank-state" visible="false">
                                <div class="span4 blank-state-icon">
                                    <i class="icon-group"></i>
                                </div>
                                <div class="span7">
                                    <h3>@Resources.lblAddYourFirstUserGroup</h3>
                                    <p>@Resources.lblYouCanAddAsManyUserGroupsAsYouLike</p>
                                    <p>
                                        <a href="javascript:void(0);" class="btn btn-primary" title="@Resources.lblAddYourFirstUserGroup" onclick="javascript:$('#btnAddGroup').click();">@Resources.btnAddNewGroup</a></p>
                                </div>
                            </div>
                        }
                    </div>
                    <script type="text/javascript">
                        $(document).ready(function () {
                            $('.cfca-popover').popover({ html: true, trigger: 'hover' });
                        });
                    </script>
                }
            </div>
        </div>
        <!-- /row-fluid -->
    </div>
    <!-- /widget-content -->
</div>
<!-- /widget -->
@functions{
    private string GetCollaborators(int id)
    {
        //TODO this method should be moved to controller
        GMGColorDAL.UserGroup objGroup = Model.ListUserGroups.FirstOrDefault(t => t.ID == id);

        string[] groupUsers = objGroup.UserGroupUsers.Select(t => t.User1).Where(o => !(new string[] { "D", "I" }).Contains(o.UserStatu.Key)).Select(o => string.Format("{0} {1}", o.GivenName, o.FamilyName)).ToArray();
        string members = @Resources.lblNoCollaborators;
        if (groupUsers.Any())
        {
            members = groupUsers.Aggregate((x, y) => x + "<br>" + y);
        }
        string html = "<span data-content=\"" + members + "\" data-original-title=\"" + Resources.lblMembers + "\" class=\"badge badge-inverse cfca-popover\">" +
                      groupUsers.Count() +
                      "</span>";
        return html;
    }
    private string GetActionButtons(int id)
    {
        GMGColorDAL.UserGroup objGroup = Model.ListUserGroups.FirstOrDefault(t => t.ID == id);
        var canDelete = objGroup.ApprovalCollaboratorGroups.All(a => a.Approval1.DeletePermanently);

        System.Text.StringBuilder html = new System.Text.StringBuilder();

        html.Append("<div class=\"btn-group pull-right\">");
        html.Append("   <a href=\"javascript:void(0);\" data-toggle=\"dropdown\" class=\"btn btn-mini dropdown-toggle ellipsisButtonList\"><i class=\"icon-ellipsis-horizontal\"></i></a>");
        html.Append("   <ul class=\"dropdown-menu pull-right\">");
        html.Append("      <li><a href=\"javascript:void(0);\" onclick=\"$('#hdnSelectedGroup')[0].value = " + id + ";$('#btnEdit').click();\"><i class=\"icon-pencil\"></i>" + Resources.btnEdit + "</a></li>");
        if (canDelete)
            html.Append("  <li><a href=\"javascript:void(0);\" onclick=\"$('#hdnSelectedGroup')[0].value = " + id + ";$('#modelDialogDeleteConfirmation_1').modal({ backdrop: 'static', keyboard: false });\" rel=\"nofollow\" data-method=\"delete\" data-disable-with=\"Deleting...\" ><i class=\"icon-trash\"></i>" + Resources.btnDelete + "</a></li>");
        html.Append("   </ul>");
        html.Append("</div>");

        return html.ToString();
    }
}
