﻿@model GMGColorDAL.CustomModels.AccountSettings.WhiteLabelSettings
@using GMGColor.Resources;
@using GMGColorDAL
@{
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
    Bundles.Reference("WhiteLabelSettings");
    GMGColorBusinessLogic.DbContextBL context = HttpContext.Current.Items[GMGColorDAL.DALUtils.DatabaseContext] as GMGColorBusinessLogic.DbContextBL;
}
<div class="widget">
    <div class="widget-header">
        <h3>@ViewBag.Header@*&nbsp;<small>@ViewBag.HeaderSmall</small>*@</h3>
    </div>
    <!-- /widget-header -->
    <div class="widget-content">
        <div class="row-fluid">
            <div class="span3">
                @{Html.RenderAction("SecondaryNavigation", "Navigation");}
            </div>
            <div class="span9">
                @using (Html.BeginForm("WhiteLabelSettings", "Settings", FormMethod.Post, new { @class = "form-horizontal", id = "formMain" }))
                {
                    @Html.AntiForgeryToken()
                    <legend>@Resources.lblWhiteLabelSettings</legend>
                        <h6>@Resources.lblEmail</h6>
                        <!-- JOEL removed as you can't verify the custom email address for sending
                        <div class="control-group">
                            <label class="control-label">@Resources.lblCustomEmailAddress</label>
                            <div class="controls">
                                @Html.TextBoxFor(m => m.objWhiteLabelSettings.CustomFromEmail)
                                @Html.ValidationMessageFor(m => m.objWhiteLabelSettings.CustomFromEmail)
                                <p class="help-block">
                                    @Resources.lblChangeTheFromAddressForNotificationEmailsSentToAccountUsers</p>
                            </div>
                        </div> -->
                        <!-- Custom From Name -->
                    <div class="control-group">
                        <label class="control-label">@Resources.lblCustomFromName</label>
                        <div class="controls">
                            @Html.TextBoxFor(m => m.objWhiteLabelSettings.CustomFromName)
                            @Html.ValidationMessageFor(m => m.objWhiteLabelSettings.CustomFromName)
                            <p class="help-block">
                                @Resources.lblChangeTheFromNameForNotificationEmailsSentToAccountUses</p>
                        </div>
                    </div>
                     <div class="control-group">
                        <label class="control-label">@Resources.lblContactSupportEmail</label>
                        <div class="controls">
                            @Html.TextBoxFor(m => m.objWhiteLabelSettings.ContactSupportEmail)
                            @Html.ValidationMessageFor(m => m.objWhiteLabelSettings.ContactSupportEmail)
                            <p class="help-block">
                                @Resources.lblContactSupportEmailDescription</p>
                        </div>
                    </div>
                    if (Model.objLoggedAccount != null && GMGColorDAL.AccountType.GetAccountType(Model.objLoggedAccount.ID, context) != GMGColorDAL.AccountType.Type.GMGColor)
                    {
                        <h6>@Resources.lblLandingPage</h6>
                        <div class="control-group">
                            <label class="control-label">@Resources.lblDisableLandingPage</label>
                            <div class="controls">
                                @Html.CheckBoxFor(m => m.objWhiteLabelSettings.DisableLandingPage)
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">@Resources.lblDashboardToShow</label>
                            <div class="controls">
                                @if(ViewBag.AccountSubscriptionDetails.HasCollaborateSubscriptionPlan)
                                {
                                    <label class="radio inline">
                                        @Html.RadioButtonFor(m => m.objWhiteLabelSettings.DashboardToShow, GMG.CoZone.Common.AppModule.Collaborate, new { @checked = "checked" })
                                        @Resources.lblCollaborateModuleName
                                    </label>
                                }
                                @if(ViewBag.AccountSubscriptionDetails.HasDeliverSubscriptionPlan) 
                                {
                                    <label class="radio inline">
                                        @Html.RadioButtonFor(m => m.objWhiteLabelSettings.DashboardToShow, GMG.CoZone.Common.AppModule.Deliver)
                                        @Resources.lblDeliverModuleName
                                    </label>
                                }
                            </div>
                        </div>
                    }
                    <div class="form-actions">
                        @Html.HiddenFor(m => m.objWhiteLabelSettings.AccountID)
                        <button type="submit" class="btn btn-primary" name="action" value="WhiteLabelSettings" data-loading-text="@Resources.btnUpdating">
                            @Resources.btnUpdateAccount</button>
                    </div>
                }
            </div>
        </div>
        <!-- /row-fluid -->
    </div>
    <!-- /widget-content -->
</div>
<!-- /widget -->
