﻿@model GMGColorDAL.CustomModels.Deliver.DeliverModel
@using GMGColor.Common
@using GMGColor.Controllers
@using GMGColor.Resources;
@using GMG.CoZone.Common;
@using GMGColorBusinessLogic
@using GMGColorDAL
@using GMGColorDAL.Common
@using GMGColorDAL.CustomModels
@{
    bool isJobNameSelectable = Model.DeliverRole == GMGColorDAL.Role.RoleName.AccountAdministrator || Model.DeliverRole == GMGColorDAL.Role.RoleName.AccountManager;
    bool isTabletBrowser = ViewBag.UserDeviceInfo.DeviceType == GMGColorEnums.BrowserType.Tablet || ViewBag.UserDeviceInfo.DeviceType == GMGColorEnums.BrowserType.SmartphonePhone;
}

    <link href="@Url.Content("~/Content/css/columnwidths-default.css")" rel="stylesheet" media="screen" />
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery/colResizable-1.3.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/resizable-columns.js")"></script>

@using (Html.BeginForm("Index", "Deliver", FormMethod.Post, new { @class = "form-horizontal", id = "formMain" }))
{
    @Html.AntiForgeryToken()
    <div id="dvColorProofInstanaces" class="tab-pane">
        @if (Model.ListJobs.Count > 0 || !string.IsNullOrEmpty(Model.SearchText))
        {
            DeleteConfirmation deleteDeliverJobConfirmation = new DeleteConfirmation(1, "DeleteJob");
            @Html.Partial("DeleteConfirmationDialog", deleteDeliverJobConfirmation)
            <div class="text-right tool-bar well clearboth" style="margin-bottom:20px;">
                <div class="form-search pull-left">
                    <div class="input-append">
                        @Html.HiddenFor(m => m.SearchText, new { @data_val = false })
                        @Html.TextBoxFor(model => model.SearchText, new { id = "txtSearch", @class = "input-medium search-query" })
                        <button id="btnSearchText" type="submit" class="btn cancel" name="action" value="SearchDeliverJobs" onclick="$('#SearchText')[0].value = $('#txtSearch').val();">
                            @Resources.btnSearch</button>
                        @Html.HiddenFor(m => m.RowsPerPage)
                    </div>
                </div>

                @if (isJobNameSelectable)
                {
                    <button id="btnMultiDelete" class="btn"  data-method="delete" data-loading-text="@Resources.btnDeleting" disabled="disabled" type="button" value="DeleteMultipleJobs">
                        <i class="icon-trash"></i>&nbsp;@Resources.lblDelete
                    </button>
                     @Html.Hidden("deliverJobIds", string.Empty, new { @data_val = false })
                    <button id="btnMultiDownload" class="btn" data-loading-text="@Resources.btnDownloading" disabled="disabled" type="button" value="MultiDownload" class="pull-right">
                        <i class="icon-download-alt"></i>&nbsp;@Resources.lblDownload
                    </button>
                }
                
            </div>
            <button class="hide" id="btnDeleteJob" name="action" value="DeleteJob" onclick="$('#modelDialogDeleteConfirmation_1').modal({ backdrop: 'static', keyboard: false }); return false;"></button>
            <div class="display-field">
                @{  
                var deliverJobs = new WebGrid(Model.ListJobs, rowsPerPage: @Model.RowsPerPage);

                var gridColumns = new List<WebGridColumn>();
                if (isJobNameSelectable)
                {
                    gridColumns.Add(deliverJobs.Column(header: "{CheckBoxHeading}", format: @<input class="DeliverSingleCheckbox cell-align" type="checkbox" value="@item.ID" shared="@(item.IsShared)"/>));
                }

                gridColumns.Add(deliverJobs.Column(columnName: DeliverController.TitleColumn, header: Resources.lblDeliverIndexGridJobName, format: @<text> @if (isJobNameSelectable)
                                                                                                                                                            {<span class="badge shared-icon" style="margin: 0 5px 0 0px; float:left;">@(item.IsShared ? "S" : string.Empty)</span><p class="cell-align" style="float: left"><a href="javascript:void(0);" onclick="$('#hdnInstance')[0].value = @item.ID;$('#hdnIsShared')[0].value = @item.IsShared.ToString().ToLower();$('#btnJobDetail').click();">@item.Title</a></p>}
                                                                                                                                                            else
                                                                                                                                                            {
                                                                                                                                                             <span class="badge shared-icon" style="margin-left: 5px;">@(item.IsShared ? "S" : "")</span><p class="cell-align" style="float: left">@item.Title</p>}</text>));
                gridColumns.Add(deliverJobs.Column(columnName: DeliverController.UserColumn, header: Resources.lblDeliverIndexGridOwner, format: @<p class="cell-align">@item.User</p>));
                gridColumns.Add(deliverJobs.Column(columnName: DeliverController.PagesColumn, header: Resources.lblDeliverIndexGridPages, format: @<p class="cell-align">@Html.Raw(GMGColor.Common.Utils.GetPagesLabel(item.Pages))</p>));
                gridColumns.Add(deliverJobs.Column(columnName: DeliverController.CpNameColumn, header: Resources.lblDeliverIndexGridColorProofServer, format: @<p class="cell-align">@item.CPName</p>));
                gridColumns.Add(deliverJobs.Column(columnName: DeliverController.WorkflowColumn, header: Resources.lblDeliverIndexGridWorkflow, format: @<p class="cell-align">@item.Workflow</p>));
                gridColumns.Add(deliverJobs.Column(columnName: DeliverController.CreatedDateColumn, header: Resources.lblDeliverIndexGridSubmitted, format: @<p class="cell-align">@GMGColorFormatData.GetFormattedDate(GMGColorFormatData.GetUserTimeFromUTC(item.CreatedDate, Model.LoggedAccountTimeZone), Model.objLoggedAccount.DateFormat1.Pattern) @GMGColorFormatData.GetFormattedTime(GMGColorFormatData.GetUserTimeFromUTC(item.CreatedDate, Model.LoggedAccountTimeZone), Model.objLoggedAccount)</p>));
                gridColumns.Add(deliverJobs.Column(columnName: DeliverController.StatusKeyColumn, header: Resources.lblDeliverIndexGridStatus, format: @<p class="cell-align">@Html.Raw(GMGColor.Common.Utils.GetJobStatusLabel((DeliverJobStatus)item.StatusKey))</p>, style: "jobStatus"));
                gridColumns.Add(deliverJobs.Column(format: @<text>@Html.Raw(GetActionButtons(item.ID, item.IsShared))</text>));
                    }

                @MvcHtmlString.Create(deliverJobs.GetHtml(
                    tableStyle: "table table-striped table-bordered table-responsive resizable",
                    mode: WebGridPagerModes.All,
                    firstText: "<< ",
                    lastText: " >>",
                    htmlAttributes: new { id = "deliver-index" },
                     columns: deliverJobs.Columns(gridColumns.ToArray())
                    ).ToString().Replace("{CheckBoxHeading}", "<input type='checkbox' class='DeliverAllCheckbox'/>"))

                @{
                WebGridNavigationModel modelNavigation = new WebGridNavigationModel(Model.PageNr, Model.TotalRows, Model.RowsPerPage);
                modelNavigation.ControllerName = "Deliver";
                modelNavigation.ActionName = "Index";
                Html.RenderPartial("WebGridNavigation", modelNavigation);
                }
            </div>
            @Html.Hidden("SelectedInstance", "0", new { id = "hdnInstance" })
            @Html.Hidden("isSharedJob", false, new { id = "hdnIsShared" })
            @Html.HiddenFor(m => m.PageNr)
                if (Model.DeliverRole == GMGColorDAL.Role.RoleName.AccountAdministrator || Model.DeliverRole == GMGColorDAL.Role.RoleName.AccountManager)
                {
                <button id="btnJobDetail" class="cancel" type="submit" name="action" value="JobDetail"
                        hidden="hidden">
                    @Resources.btnDeliverJobDetail</button>
                }
        }
        else if (Model.DeliverRole != GMGColorDAL.Role.RoleName.AccountContributor)
        { 
            <div class="row-fluid blank-state" visible="false">
                <div class="span4 blank-state-icon">
                    <i class="icon-print"></i>
                </div>
                <div class="span7">
                    <h3>@Resources.lblAddYourFirstDeliverJob</h3>
                    @if (!isTabletBrowser)
                    {
                        <p>@Resources.lblYouCanAddAsManyDeliverJobAsYouLike</p>
                        if (Model.DeliverRole != GMGColorDAL.Role.RoleName.AccountContributor)
                         {
                             <p>
                                 @if (Model.ValidServerAvailable)
                                 {
                                     <a data-toggle="modal" data-backdrop="static" data-keyboard="false" href="@Url.Action("NewDeliver", "Deliver", Common.GetCurrentQueryStrings(Request.QueryString))" class="btn btn-primary">@Resources.lblGetStarted</a>
                                 }
                                 else
                                 {
                                     <a data-toggle="modal" data-backdrop="static" data-keyboard="false" href="#" class="btn disabled">@Resources.lblGetStarted</a>
                                 }
                             </p>
                         }
                    }
                </div>
            </div>
        }
        else if (Model.DeliverRole == GMGColorDAL.Role.RoleName.AccountContributor)
        {
            <div class="row-fluid blank-state" visible="false">
                <div class="span4 blank-state-icon">
                    <i class="icon-print"></i>
                </div>
                <div class="span7">
                    <h3>@Resources.lblAddYourFirstDeliverJob</h3>
                    <p>@Resources.lblYouAreNotAllowedToAddJobs</p>
                </div>
            </div>
        }
    </div>
    <script type="text/javascript">
        this.modelDialog = '@ViewBag.ModelDialog';
    </script>
    
        DeleteConfirmation deleteMultipleJobsConfirmation = new DeleteConfirmation(2, "DeleteMultipleJobs");
    @Html.Partial("DeleteConfirmationDialog", deleteMultipleJobsConfirmation)
}

@functions{
    private string GetActionButtons(int id, bool isSharedJob)
    {
        System.Text.StringBuilder html = new System.Text.StringBuilder();

        if (Model.DeliverRole == GMGColorDAL.Role.RoleName.AccountAdministrator || Model.DeliverRole == GMGColorDAL.Role.RoleName.AccountManager)
        {

            html.Append("<div class=\"btn-group pull-right margin-right5x\" jobId=\"" + id + "\"> ");
            html.Append("   <a href=\"javascript:void(0);\" data-toggle=\"dropdown\" class=\"btn btn-mini dropdown-toggle ellipsisButtonList\"><i class=\"icon-ellipsis-horizontal\"></i></a>");
            html.Append("   <ul class=\"dropdown-menu pull-right\">");
            html.Append("      <li class=\"job-details-menu\"><a href=\"javascript:void(0);\" onclick=\"$('#hdnInstance')[0].value = " + id + ";$('#hdnIsShared')[0].value = " + isSharedJob.ToString().ToLower() + ";$('#btnJobDetail').click();\"><i class=\"icon-pencil\"></i>" + Resources.btnDeliverJobDetail + "</a></li>");
            html.Append("      <li jobId=\"" + id + "\" class=\"job-details-menu\"><a href=\"javascript:void(0);\" onclick=downloadJobs(\"" + id + "\");><i class=\"icon-download-alt\"></i>" + Resources.lblDownload + "</a></li>");
            html.Append("      <li class=\"disabled job-cancel-requested-menu\"><a><i class=\"icon-remove\"></i>" + Resources.btnDeliverJobCancelRequested + "</a></li>");
            if (!isSharedJob)
            {
                html.Append("      <li class=\"job-cancel-menu\"><a href=\"javascript:void(0);\" onclick=\"javascript:cancelJob(" + id + ");\"><i class=\"icon-remove\"></i>" + Resources.btnDeliverJobCancel + "</a></li>");
                html.Append("      <li class=\"job-details-menu\"><a href=\"javascript:void(0);\" onclick=\"$('#hdnInstance')[0].value = " + id + ";$('#btnDeleteJob').click();\"><i class=\"icon-trash\"></i>" + Resources.lblDelete + "</a></li>");
            }
            html.Append("   </ul>");
            html.Append("</div>");
        }
        else
        {
            html.Append("<div jobId=\"" + id + "\"></div>");
        }

        return html.ToString();
    }
}

<script type="text/javascript">
    $(document).ready(function() {
        updateDelivers();
    });

    $('.DeliverSingleCheckbox').click(function () {

        if ($(this).is(':checked')) {
            $('#btnMultiDownload').removeAttr('disabled');
            if ($('.DeliverSingleCheckbox').length == $('.DeliverSingleCheckbox:checked').length) {
                $('.DeliverAllCheckbox').attr('checked', 'checked');
            }
        } else {
            $('.DeliverAllCheckbox').removeAttr('checked');
        }
        //the Timeout is needed in order disable/enable 'Multiple Delete' button only after '$('#allCheckBox_DeliverJobs')' click event from WebGridHelper.cs is executed
        //beacuse the jobs checkboxes are checked/unchecked by this event
        setTimeout(function () {
            enableDisableMultiDeleteBtn();
        }, 200);
    });

    function enableDisableMultiDeleteBtn() {
        if ($('.DeliverSingleCheckbox:checked').length > 0) {
            $('#btnMultiDelete').removeAttr('disabled');
            $("input[type='checkbox']:checked").each(function (index, value) {
                if ($(this).attr('shared') == "True") {
                    $('#btnMultiDelete').attr('disabled', 'disabled');
                }
            });
        } else {
            $('#btnMultiDownload').attr('disabled', 'disabled');
            $('#btnMultiDelete').attr('disabled', 'disabled');
        }
        
   }
   $('.DeliverAllCheckbox').click(function () {
       if ($(this).is(':checked')) {
           $('#btnMultiDownload').removeAttr('disabled');
           $('.DeliverSingleCheckbox').attr('checked', 'checked');
       } else {
           $('.DeliverSingleCheckbox').removeAttr('checked');
       }
       //the Timeout is needed in order disable/enable 'Multiple Delete' button only after '$('#allCheckBox_DeliverJobs')' click event from WebGridHelper.cs is executed
       //beacuse the jobs checkboxes are checked/unchecked by this event
       setTimeout(function () {
           enableDisableMultiDeleteBtn();
       }, 200);
   });

    $('#btnMultiDownload').click(function() {
        var IDs = $('input.DeliverSingleCheckbox:checked').map(function () { return $(this).attr('value'); }).get().join(',');
        downloadJobs(IDs);

        if ($('.DeliverAllCheckbox:checked')) {
            $('.DeliverAllCheckbox').attr('checked', false);
            $('.DeliverSingleCheckbox').attr('checked', false);
            $('#btnMultiDownload').attr('disabled', 'disabled');
            $('#btnMultiDelete').attr('disabled', 'disabled');
        }
    });

    $('#btnMultiDelete').click(function () {
        var selectedDeliverJobs = [];
        $('input.DeliverSingleCheckbox:checked').each(function () {
            selectedDeliverJobs.push($(this).val());
        });

        $(this).closest("form").attr("action", "DeleteMultipleJobs");
        $('#deliverJobIds').val(JSON.stringify(selectedDeliverJobs));
        $('#modelDialogDeleteConfirmation_2').modal({ backdrop: 'static', keyboard: false });

        if ($('.DeliverAllCheckbox:checked')) {
            $('.DeliverAllCheckbox').attr('checked', false);
            $('.DeliverSingleCheckbox').attr('checked', false);
            $('#btnMultiDownload').attr('disabled', 'disabled');
            $('#btnMultiDelete').attr('disabled', 'disabled');
        }
    });

    //Fix for the webgrid header columns to generate the correct url (needed after loading async the grid)
    $('th a').on('click', function() {
        $(this).attr('href', $(this).attr('href').replace('GetDeliverJobs', 'Index'));
    });

    $('#txtSearch').on('keydown', function(e) {
        if (e.which == 13) {
            $('#btnSearchText').click();
            return false;
        }
        return true;
    });
</script>
