﻿@model GMGColorDAL.CustomModels.Deliver.JobDetailsInstance

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.SiteName</title>
    @{
        Bundles.Reference("bootstrapCss");
        Bundles.Reference("bootstrapResponsiveCss");
        Bundles.Reference("styles");
        Bundles.Reference("responsiveStyles");
        Bundles.Reference("modernizr");
    }
    @Bundles.RenderStylesheets("head")

    <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
    <script src="@Url.Content("//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")" type="text/javascript"></script>
    <script type="text/javascript">
        if (typeof jQuery === 'undefined') {
            document.write(unescape('%3Cscript%20src%3D%22/Scripts/jquery-1.8.3.min.js%22%3E%3C/script%3E'));
        }
    </script>
    @Bundles.RenderScripts("head")
</head>
    <body>
        <div class="container">
            @{ Html.RenderPartial("JobDetails", Model, new ViewDataDictionary { { "IsExternal", true } }); }
        </div>

    @Bundles.RenderScripts()
    @Bundles.RenderStylesheets()
    </body>
</html>
