﻿@using GMG.CoZone.Collaborate.UI
@using GMGColor.Common
@using GMGColor.Resources;
@using GMG.CoZone.Common;
@using GMGColorDAL.CustomModels
@using GMGColor.HtmlHelpers;
@{
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
    Bundles.Reference("fileupload");
    Bundles.Reference("filedownload");
    
    bool isJobNameSelectable = ViewBag.DeliverRole == GMGColorDAL.Role.RoleName.AccountAdministrator || ViewBag.DeliverRole == GMGColorDAL.Role.RoleName.AccountManager;
    bool isTabletBrowser = ViewBag.UserDeviceInfo.DeviceType == GMGColorEnums.BrowserType.Tablet || ViewBag.UserDeviceInfo.DeviceType == GMGColorEnums.BrowserType.SmartphonePhone;
}
<div class="widget">
    <div class="widget-header">
        <ul class="widget-links">
            @if (ViewBag.DeliverRole != GMGColorDAL.Role.RoleName.AccountContributor && ViewBag.AnyServerAvailable)
            {
                if (!isTabletBrowser)
                {
                    <li><a class="btn btn-primary" data-toggle="modal" data-backdrop="static" data-keyboard="false" href="@Url.Action("NewDeliver", "Deliver", Common.GetCurrentQueryStrings(Request.QueryString))">@Resources.btnAddNewDeliverJob</a></li>
                }
            }
            else if (ViewBag.DeliverRole != GMGColorDAL.Role.RoleName.AccountContributor)
            {
                <li class="bold">@Resources.lblNoDeliverSettings</li>
            }
        </ul>
        <h3>@ViewBag.Header @*<small>@ViewBag.HeaderSmall</small>*@</h3>
    </div>
    <!-- /widget-header -->
    <div class="widget-content">
        <div class="row-fluid">
            <div class="span12" id="deliverJobs">
                <div id="loadingGrid" style="text-align:center;">
                    <label>@Resources.lblLoading</label>
                    @Html.Image("manageJobsGridLoader", "~/Content/img/loading-icon.gif", @Resources.lblLoading , new { @style = "margin:auto;" }, 50, 50)
                </div>
                @*Deliver Jobs Grid goes here , Filled by asynchronous Request*@
            </div>
        </div>
        <!-- /row-fluid -->
    </div>
    <!-- /widget-content -->
</div>
<!-- /widget -->


@if (isJobNameSelectable)
{
    Html.RenderPartial("FileDownload", (FileDownloadViewModel)ViewBag.FileDownload);
}

<script type="text/javascript">
    var jobStausTimeout = 3000; // in miliseconds
    
    function updateDelivers() {
        var list = new Array();
        $("div[jobid]").each(function(index, value) {
            list[list.length] = $(value).attr("jobId");
        });

        if (list.length > 0) {
            $.ajax({
                type: "GET",
                traditional: true,
                url: '@Url.Action("GetJobsStatuses", "Deliver")',
                data: {'jobIdList': list },
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                error: function(req, status, error) {
                    //alert("error on GetJobsStatuses");
                },
                success: function(result) {
                    if (result.d != false) {
                        if (result.statuses.length > 0) {
                            for (var i = 0; i < result.statuses.length; i++) {
                                $("div[jobId='" + result.statuses[i].Id + "']").parents("tr:first").find("td.jobStatus").text(result.statuses[i].TranslatedStatus);

                                var jobDetailsMenu = $("div[jobId='" + result.statuses[i].Id + "']").find("li.job-details-menu");
                                if (result.statuses[i].ShowJobDetailsMenu) {
                                    jobDetailsMenu.show();
                                } else {
                                    jobDetailsMenu.hide();
                                }

                                var jobCancelMenu = $("div[jobId='" + result.statuses[i].Id + "']").find("li.job-cancel-menu");
                                if (result.statuses[i].ShowJobCancelMenu) {
                                    jobCancelMenu.show();
                                } else {
                                    jobCancelMenu.hide();
                                }

                                var jobCancelRequestedMenu = $("div[jobId='" + result.statuses[i].Id + "']").find("li.job-cancel-requested-menu");
                                if (result.statuses[i].ShowJobCancelRequestedMenu) {
                                    jobCancelRequestedMenu.show();
                                } else {
                                    jobCancelRequestedMenu.hide();
                                }
                            }
                        }
                    }
                     $("table.resizable").find('th:first').trigger('resize');
                    setTimeout("updateDelivers();", jobStausTimeout);
                }
            });
        }
        else {
             $("table.resizable").find('th:first').trigger('resize');
            setTimeout("updateDelivers();", jobStausTimeout);
        }
    }
    @if (ViewBag.DeliverRole == GMGColorDAL.Role.RoleName.AccountAdministrator || ViewBag.DeliverRole == GMGColorDAL.Role.RoleName.AccountManager)
    {

    @: function cancelJob(jobId) {
    @:    $.ajax({
    @:      type: "POST",
    @:        url: '@Url.Action("JobCancel", "Deliver")',
    @:        data: "{'jobId':" + jobId + "}",
    @:        dataType: "json",
    @:        contentType: "application/json; charset=utf-8",
    @:        error: function (req, status, error) {
    @:            //alert("error on JobCancel");
    @:        },
    @:        success: function (result) {
    @:            if (result.d != false) {
    @:                if (result.status != false) {
    @:
    @:                    var list = new Array();
    @:                    $("div[jobid]").each(function(index, value) {
    @:                        list[list.length] = $(value).attr("jobId");
    @:                    });
    @:
    @:                    $.ajax({
    @:                        type: "GET",
    @:                        traditional: true,
    @:                        url: '@Url.Action("GetJobsStatuses", "Deliver")',
    @:                        data: {'jobIdList': list },
    @:                        dataType: "json",
    @:                        contentType: "application/json; charset=utf-8",
    @:                        error:  function (jqXHR, textStatus, errorThrown) {
    @:                                    if(jqXHR.readyState == 0 || jqXHR.status == 0) 
    @:                                    {
    @:                                        return;
    @:                                    }
    @:                                    else
    @:                                    {
    @:                                        $('#loadingGrid').replaceWith('<label>Error Loading Deliver Dashboard '+ textStatus + ' ' + errorThrown + '</label>');
    @:                                   }
    @:                                },
    @:                        success: function (result) {
    @:                            if (result.d != false) {
    @:                                if (result.statuses.length > 0) {
    @:                                    for (var i = 0; i < result.statuses.length; i++) {
    @:                                        $("div[jobId='" + result.statuses[i].Id + "']").parents("tr:first").find("td.jobStatus").text(result.statuses[i].TranslatedStatus);
    @:
    @:                                        var jobDetailsMenu = $("div[jobId='" + result.statuses[i].Id + "']").find("li.job-details-menu");
    @:                                        if (result.statuses[i].ShowJobDetailsMenu) {
    @:                                            jobDetailsMenu.show();
    @:                                        } else {
    @:                                            jobDetailsMenu.hide();
    @:                                        }
    @:
    @:                                        var jobCancelMenu = $("div[jobId='" + result.statuses[i].Id + "']").find("li.job-cancel-menu");
    @:                                        if (result.statuses[i].ShowJobCancelMenu) {
    @:                                            jobCancelMenu.show();
    @:                                        } else {
    @:                                            jobCancelMenu.hide();
    @:                                        }
    @:
    @:                                        var jobCancelRequestedMenu = $("div[jobId='" + result.statuses[i].Id + "']").find("li.job-cancel-requested-menu");
    @:                                        if (result.statuses[i].ShowJobCancelRequestedMenu) {
    @:                                            jobCancelRequestedMenu.show();
    @:                                        } else {
    @:                                            jobCancelRequestedMenu.hide();
    @:                                        }
    @:                                    }
    @:                                }
    @:                            }
    @:                        }
    @:                    });
    @:                }
    @:            }
    @:        }
    @:    });
    @: }
    @:
    @: function downloadJobs(files) {
    @:    $("#FileIds").val(files);
    @:    $("#modalFileDownload").modal({ backdrop: 'static', keyboard: false });
    @: }
    }

    $( document ).ready(function() {
            $.ajax({
                        type: "GET",
                        url: '@Html.Raw(@Url.Action("GetDeliverJobs", "Deliver", new { page = @ViewBag.Page, search = @ViewBag.Search, sort = @ViewBag.Sort, sortdir = @ViewBag.SortDir,
                                                                                       rowsPerPage = @ViewBag.RowsPerPage, deliverRole = @ViewBag.DeliverRole, validServerAvailable = @ViewBag.AnyServerAvailable }))',
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        cache: false,
                        success: function (deliverJobs) {
                                $('#loadingGrid').remove();
                                $('#deliverJobs').html(deliverJobs.Content);
                            },
                        error: function (jqXHR, textStatus, errorThrown) {
                                if(jqXHR.readyState == 0 || jqXHR.status == 0) 
                                {
                                    return;
                                }
                                else
                                {
                                    $('#loadingGrid').replaceWith('<label>Error Loading Deliver Jobs Grid '+ textStatus + ' ' + errorThrown + '</label>');
                                }
                        }
                    });
        });
</script>