﻿@model GMGColorDAL.CustomModels.Deliver.JobDetailsInstance
@using GMGColor.Resources;
@{    
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
    string backUrl = Url.Action("Index", "Deliver");
    if (Model.PageNr > 0)
    {
        backUrl += (backUrl.Contains("?") ? "&" : "?") + "page=" + Convert.ToString(Model.PageNr);
    }
    if (Model.RowsPerPage > 0)
    {
        backUrl += (backUrl.Contains("?") ? "&" : "?") + "rowsperpage=" + Convert.ToString(Model.RowsPerPage);
    }
    if (!string.IsNullOrEmpty(Model.SearchText))
    {
        backUrl += (backUrl.Contains("?") ? "&" : "?") + "search=" + Model.SearchText;
    }
}
<p class="breadcrumb">
    <a href="@backUrl">@Resources.lblDeliverJobs</a>
</p>
@{ Html.RenderPartial("JobDetails", Model, new ViewDataDictionary { { "IsExternal", false }, { "backUrl", backUrl} }); }
