﻿@model Deliver.JobDetailsInstance
@using GMGColor.Common;
@using GMGColor.Resources;
@using GMGColorDAL.CustomModels
@{    
    GMGColorBusinessLogic.DbContextBL context = HttpContext.Current.Items[GMGColorDAL.DALUtils.DatabaseContext] as GMGColorBusinessLogic.DbContextBL;
    bool isExternalUser = Convert.ToBoolean(ViewData["IsExternal"]);
    const int minLength = 34;
    const int maxLength = 40;
}

@using (Html.BeginForm("Index", "Deliver", FormMethod.Post, new { id = "formJobDetails", @class = "form-horizontal", autocomplete = "off" }))
{
    @Html.AntiForgeryToken()
    <div class="widget">
        <div class="widget-header">
            <h3>@Resources.lblDeliverJobSummary</h3>
        </div>
        <!-- /widget-header -->
        <div class="widget-content">
            @Html.HiddenFor(m => m.Id)

            <legend>@Resources.lblDeliverJobInformation</legend>
            @if (Model.IsSharedJob)
            {
                <div class="pages-ctrl-left">
                    <div class="control-group">
                        <label class="control-label">@Resources.lblUserName</label>
                        <div class="controls">
                            <input type="text" class="input-large" readonly="readonly" disabled="disabled" value="@Html.Raw(Model.Username)"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">@Resources.lblEmail</label>
                        <div class="controls">
                            <input type="text" class="@(Model.Email.Length > minLength ? (Model.Email.Length < maxLength ? "input-xlarge" : "input-medium-large") : "input-large")" readonly="readonly" disabled="disabled" value="@Html.Raw(Model.Email)"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">@Resources.lblAccountUrl</label>
                        <div class="controls">
                            <input type="text" class="@(Model.AccountUrl.Length > minLength ? (Model.AccountUrl.Length < maxLength ? "input-xlarge" : "input-medium-large") : "input-large")" readonly="readonly" disabled="disabled" value="@Html.Raw(Model.AccountUrl)"/>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="pages-ctrl-left">
                    <div class="control-group">
                        <label class="control-label">@Resources.lblDeliverJobName</label>
                        <div class="controls">
                            <input type="text" class="input-large" readonly="readonly" disabled="disabled" value="@Html.Raw(Model.JobName)"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">@Resources.lblDeliverJobFileName</label>
                        <div class="controls">
                            <input type="text" class="input-large" readonly="readonly" disabled="disabled" value="@Html.Raw(Model.Filename)"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">@Resources.lblDeliverJobColorProofId</label>
                        <div class="controls">
                            <input type="text" class="input-large" readonly="readonly" disabled="disabled" value="@Html.Raw(Model.ColorProofId)"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">@Resources.lblDeliverJobOwner</label>
                        <div class="controls">
                            <input type="text" class="input-large" readonly="readonly" disabled="disabled" value="@Html.Raw(Model.Owner)"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">@Resources.lblDeliverJobPages</label>
                        <div class="controls">
                            <input type="text" class="input-large" readonly="readonly" disabled="disabled" value="@Html.Raw(Utils.GetPagesAsStringCSV(Model.Pages))"/>
                        </div>
                    </div>
                </div>
            }
            <div class="pages-ctrl-left">
                <div class="control-group">
                    <div class="controls">
                        <img id="imgThumb@(Model.Id)" class="deliverThumb" alt="@Resources.lblDeliver" src="@GMGColorDAL.DeliverJob.GetThumbnailImagePath(Model.Id, context)" />
                    </div>
                </div>
            </div>
            <div class="clearboth"></div>
            @if(!Model.IsSharedJob){
            <legend>@Resources.lblDeliverJobDetails</legend>
            <div class="pages-ctrl-left">
                <div class="control-group">
                    <label class="control-label">@Resources.lblDeliverJobStatus</label>
                    <div class="controls">
                        <input type="text" class="input-large" readonly="readonly" disabled="disabled" value="@Html.Raw(Model.JobStatus)"/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">@Resources.lblDeliverJobColorProofServerName</label>
                    <div class="controls">
                        <input type="text" class="input-large" readonly="readonly" disabled="disabled" value="@Html.Raw(Model.ColorProofServerName)"/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">@Resources.lblLocation</label>
                    <div class="controls">
                        <input type="text" class="input-large" readonly="readonly" disabled="disabled" value="@Html.Raw(Model.Location)"/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">@Resources.lblDeliverJobWorkflowName</label>
                    <div class="controls">
                        <input type="text" class="input-large" readonly="readonly" disabled="disabled" value="@Html.Raw(Model.WorkflowName)"/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">@Resources.lblProofControlInline</label>
                    <div class="controls">
                        <input type="text" class="input-large" readonly="readonly" disabled="disabled" value="@Html.Raw(Model.ProofControlInline)"/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">@Resources.lblDeliverJobProofStandard</label>
                    <div class="controls">
                        <input type="text" class="input-large" readonly="readonly" disabled="disabled" value="@Html.Raw(Model.ProofStandard)"/>
                    </div>
                </div>           
                <div class="control-group">
                    <label class="control-label">@Resources.lblDeliverJobMaximumUsablePaperWidth</label>
                    <div class="controls">
                        <input type="text" class="input-large" readonly="readonly" disabled="disabled" value="@Html.Raw(Model.MaximumUsablePaperWidth)"/>
                    </div>
                </div>
            </div>
            <div class="pages-ctrl-left">
                <div class="control-group">
                    <label class="control-label">@Resources.lblDeliverJobSpotColors</label>
                    <div class="controls jobDetails">
                        <div class="disabled-label input-large" id="SpotColors">@Html.Raw(Model.SpotColors)</div>
                    </div>
                </div>
            </div>
            <div class="clearboth"></div>
                if (Model.ResultsPages.Count > 0)
                {
                <legend>@Resources.lblColorProofImageStatus</legend>
                <div class="deliverJobDetailsContainer">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">@Resources.lblImageName</th>
                                <th scope="col">@Resources.lblStatus</th>
                                <th scope="col">@Resources.lblMessage</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int row = 0; row < Model.ResultsPages.Count; row++)
                            {
                                Deliver.JobDetailsPage page = Model.ResultsPages[row];
                                <tr>
                                    <td class="span2"> <i class="@string.Format("{0}", !page.Results.Any() ? "displayNone" : " ") icon-caret-down icon-2x" childId="@string.Format("JobDeliverRow_{0}", @row)" onclick=" DeliverJobDetailsCollapseRow(this); " ></i>
                                        @page.PageName
                                    </td>
                                    <td class="span3">@Utils.GetDeliverPageStatusLabel(@page.Status)
                                        @if (page.Results.Count > 0)
                                        {
                                            if (page.Results.Any(o => o.VerificationResult.HasValue && !o.VerificationResult.Value))
                                            {
                                                <img src="/Content/img/verification-failed-16px.png" width="16px" alt="" align="middle"/>
                                            }
                                            else
                                            {
                                                <img src="/Content/img/verification-passed-16px.png" width="16px" alt="" align="middle"/>
                                            }
                                        }
                                    </td>
                                    <td class="span7">@page.PageResultMessage</td>
                                </tr>
                                        if (page.Results.Count > 0)
                                        {
                                    <tr id="@string.Format("JobDeliverRow_{0}", @row)">
                                        <td class="span2">&nbsp;</td>
                                        <td colspan="2">
                                            <table class="table table-striped table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">@Resources.lblPassOrFail</th>
                                                        <th scope="col">@Resources.lblMaxDeltaE</th>
                                                        <th scope="col">@Resources.lblAverageDeltaE</th>
                                                        <th scope="col">@Resources.lblWedge</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (Deliver.JobDetailVerificationResult result in page.Results)
                                                    {
                                                        <tr>
                                                            <td class="image-col span1">
                                                                @if (result.AllowedAvgDelta.HasValue && result.AllowedMaxDelta.HasValue)
                                                                {
                                                                    if (result.VerificationResult.GetValueOrDefault())
                                                                    {
                                                                        <img src="/Content/img/verification-passed-16px.png" width="16px" alt=""/>
                                                                    }
                                                                    else
                                                                    {
                                                                        <img src="/Content/img/verification-failed-16px.png" width="16px" alt="" />
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    <label>N/A</label>
                                                                }
                                                            </td>
                                                            <td class="span2">
                                                                <span class="@string.Format("{0}", result.MaxDelta.HasValue && result.AllowedMaxDelta.HasValue ? (result.MaxDelta.Value < result.AllowedMaxDelta.Value ? "greenColor" : "redColor") : "")">
                                                                    @string.Format("{0}", result.MaxDelta.HasValue ? string.Format("{0:N2}", result.MaxDelta.Value) : "N/A")
                                                                </span>
                                                        
                                                                @if (result.MaxDelta.HasValue && result.AllowedMaxDelta.HasValue)
                                                                {
                                                                    string.Format("(<{0})", string.Format("{0:N2}", result.AllowedMaxDelta.Value));
                                                                }
                                                            </td>
                                                            <td class="span2">
                                                                <span class="@string.Format("{0}", result.AvgDelta.HasValue && result.AllowedAvgDelta.HasValue ? (result.AvgDelta.Value < result.AllowedAvgDelta.Value ? "greenColor" : "redColor") : "")">
                                                                    @string.Format("{0}", result.AvgDelta.HasValue ? string.Format("{0:N2}", result.AvgDelta.Value) : "N/A")
                                                                </span>
                                                                @if (result.AvgDelta.HasValue && result.AllowedAvgDelta.HasValue)
                                                                {
                                                                    string.Format("(<{0})", string.Format("{0:N2}", result.AllowedAvgDelta.Value));
                                                                }
                                                            </td>
                                                            <td class="span5">@result.StripName</td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                        }
                            }
                        </tbody>
                    </table>
                </div>
                }
                if (!isExternalUser)
                {
                    var deliverUsers = new WebGrid(Model.DeliverExternalUsers, rowsPerPage: 10);
                    if (deliverUsers.TotalRowCount > 0)
                    {
                     <legend>@Resources.lblExternalCollaborators</legend>
                     <div class="display-field">
                   
                         @deliverUsers.GetHtml(
                             tableStyle: "table table-striped table-bordered",
                             columns:
                                 deliverUsers.Columns(
                                     deliverUsers.Column(columnName: "Email", header: Resources.lblEmail, format: @<text>@item.Email</text>, canSort: true),
                                     deliverUsers.Column(columnName: "Name", header: Resources.lblName, format: @<text>@item.Name</text>),
                                     deliverUsers.Column(columnName: "Company", header: Resources.lblCompanyName, format: @<text>@item.Company</text>)
                                     ))
                     </div>
                    }
                }
            }
            
        </div>
        @if (!isExternalUser)
        {
            <div class="form-actions">
                <a class="btn btn-primary upper pull-right" href="@ViewData["backUrl"].ToString()">@Resources.btnOk</a>
            </div>
        }
    </div>
    <!-- /widget -->
    <script type="text/javascript">
        function DeliverJobDetailsCollapseRow(obj) {
            var rowId = $(obj).attr("childId");
            if ($("#" + rowId).is(":visible")) {
                $("#" + rowId).hide();
            } else {
                $("#" + rowId).show();
            }
            if ($(obj).hasClass('icon-caret-down')) {
                $(obj).removeClass('icon-caret-down');
                $(obj).addClass('icon-caret-right');
            } else {
                $(obj).removeClass('icon-caret-right');
                $(obj).addClass('icon-caret-down');
            }
        }
    </script>
}
