﻿@model GMGColorDAL.CustomModels.Deliver.DeliverModel
@using GMGColor.HtmlHelpers;
@using GMGColor.Resources;
@using GMGColorDAL
@{
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
    Bundles.Reference("fileupload");

}
<div class="widget">
    <div class="widget-header">
        <h3>@ViewBag.Header @*<small>@ViewBag.HeaderSmall</small>*@</h3>
    </div>
    <!-- /widget-header -->
    <div class="widget-content">
        <div class="row-fluid">
            @using (Html.BeginForm("Index", "Deliver", FormMethod.Post, new { id = "formAddDeliverJob", @class = "form-horizontal", autocomplete = "off" }))
            {
                @Html.AntiForgeryToken()
                <div id="dvColorProofInstanaces" class="tab-pane">
                    @{ Html.RenderPartial("DeliverAddJob", Model.PopupModel); }
                </div>
                <script type="text/javascript">
                    this.modelDialog = '@ViewBag.ModelDialog';
                </script>
                <div class="form-actions">
                    <button id="btnAddDeliver" class="btn btn-primary" data-loading-image="imgSavingLoader" data-loading-text="@Resources.btnSaving" disabled="disabled" name="action" type="submit" value="AddDeliverJob">
                        @Resources.btnSubmitDeliverJob
                    </button>
                    @Html.Image("imgSavingLoader", "~/Content/img/loading-icon.gif", @Resources.lblLoading, new { @class = "hide" }, 30, 30)
                </div>
            }
        </div>
        <!-- /row-fluid -->
    </div>
    <!-- /widget-content -->
</div>
<!-- /widget -->