﻿
<!-- page header -->
<table id="content" border="0" cellpadding="0" cellspacing="0" width="638" style="border-left-width: 1px;
    border-left-color: #CCCCCC; border-left-style: solid; border-right-style: solid;
    border-right-color: #CCCCCC; border-right-width: 1px; mso-table-lspace: 0pt;
    mso-table-rspace: 0pt; background-color: #FFF;" bgcolor="#FFF">
    <tbody>
        <tr>
            <td width="29" bgcolor="#000000">
            </td>
            <td width="580" bgcolor="#000000">
                <div id="headline">
                    <h1 style="font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif; font-size: 26px;
                        text-align: left; font-weight: bold; line-height: 28px; color: #FFF !important;"
                        align="left">
                        <$title$> <$date$></h1>
                </div>
            </td>
            <td width="29" bgcolor="#000000">
            </td>
        </tr>
        <tr>
            <td width="29" height="10">
            </td>
            <td width="580">
            </td>
            <td width="29">
            </td>
        </tr>
    </tbody>
</table>
<!-- /page header  -->
<!-- content -->
<table id="content" border="0" cellpadding="0" cellspacing="0" width="638" style="border-left-width: 1px;
    border-left-color: #CCCCCC; border-left-style: solid; border-right-style: solid;
    border-right-color: #CCCCCC; border-right-width: 1px; mso-table-lspace: 0pt;
    mso-table-rspace: 0pt; background-color: #FFF;" bgcolor="#FFF">
    <tbody>
        <tr>
            <td width="29">
            </td>
            <td width="580">
                <h2 style="font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif; color: black !important;
                    display: <$is_comments_visible$>">
                    <$comments$> <small style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;">
                        (<$comments_count$>)</small></h2>
                <div style="display: <$is_comments_visible$>">
                    <$comments_html$></div>
                <br />
                <h2 style="font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif; color: black !important;
                    display: <$is_approvals_visible$>">
                    <$approvals$> <small style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;">
                        (<$approvals_count$>)</small></h2>
                <div style="display: <$is_approvals_visible$>">
                    <$approvals_html$>
                </div>
                <br />
                <h2 style="font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif; color: black !important; display: <$is_users_visible$>">
                    <$users$> <small style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;">(<$users_count$>)</small></h2>
                <div style="display: <$is_users_visible$>">
                    <$users_html$>
                </div>
                <br />
                <h2 style="font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif; color: black !important;  display: <$is_groups_visible$>">
                    <$groups$> <small style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;">
                        (<$groups_count$>)</small></h2>
                <div style="display: <$is_groups_visible$>">
                    <$groups_html$>
                </div>
                <br />
                <h2 style="font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif; color: black !important; display: <$is_account_visible$>">
                    <$account$> <small style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;">
                        (<$account_count$>)</small></h2>
                <div style="display: <$is_account_visible$>">
                    <$account_html$>
                </div>
                <br />
				<h2 style="font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif; color: black !important; display: <$is_manage_visible$>">
                    <$manage$> <small style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;">
                        (<$manage_count$>)</small></h2>
                <div style="display: <$is_manage_visible$>">
                    <$manage_html$>
                </div>
                <br />
				<h2 style="font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif; color: black !important; display: <$is_deliver_visible$>">
                    <$deliver$> <small style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;">
                        (<$deliver_count$>)</small></h2>
                <div style="display: <$is_deliver_visible$>">
                    <$deliver_html$>
                </div>
                 <br />
				<h2 style="font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif; color: black !important; display: <$is_inviteduser_visible$>">
                    <$inviteduser$> <small style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;">
                        (<$inviteduser_count$>)</small></h2>
                <div style="display: <$is_inviteduser_visible$>">
                    <$inviteduser_html$>
                </div>
                <br />
                <h2 style="font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif; color: black !important; display: <$is_hostadmin_visible$>">
                    <$hostadmin$> <small style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;">
                        (<$hostadmin_count$>)</small></h2>
                <div style="display: <$is_hostadmin_visible$>">
                    <$hostadmin_html$>
                </div>
                <br />
				<h2 style="font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif; color: black !important; display: <$is_datacapture_visible$>">
                    <$datacapture$> <small style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;">
                        (<$datacapture_count$>)</small></h2>
                <div style="display: <$is_datacapture_visible$>">
                    <$datacapture_html$>
                </div>
                <br />	
            </td>
            <td width="29">
            </td>
        </tr>
        <tr>
            <td colspan="3" height="20" width="638">
            </td>
        </tr>
        <tr>
            <td width="29">
            </td>
            <td width="580" style="border-top-width: 1px; border-top-color: #ddd; border-top-style: solid;
                font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">
                <p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; line-height: 18px;
                    font-size: 14px; margin-top: 1em; margin-right: 0; margin-bottom: 1em; margin-left: 0;">
                    <a href="<$ServerProtocol$>://<$UserAccountURL$>" style="color: #1997c4; text-decoration: none;"><$UserAccountURL$></a></p>
            </td>
            <td width="29">
            </td>
        </tr>
        <tr>
            <td colspan="3" height="20" width="638">
            </td>
        </tr>
    </tbody>
</table>
<!-- /content -->