﻿<table id="page-header" border="0" cellpadding="0" cellspacing="0" width="638" style="border-left-width: 1px;
    border-left-color: #CCCCCC; border-left-style: solid; border-right-style: solid;
    border-right-color: #CCCCCC; border-right-width: 1px; mso-table-lspace: 0pt;
    mso-table-rspace: 0pt; background-color: #FFF; table-layout-fixed; width: 640px;" bgcolor="#FFF">
    <tbody>
        <!-- page header -->
        <tr>
            <td width="29">&nbsp;</td>
            <td width="580" style="border-top-width: 1px; border-top-color: #ddd; border-top-style: solid;
                font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">
                <div id="headline" style="padding-top: 10px;">
                    <h1 style="font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif; font-size: 26px;
                        text-align: left; font-weight: bold; line-height: 28px; color: black !important;"
                        align="left">
                        <$title$></h1>
                </div>
            </td>
            <td width="29">&nbsp;</td>
        </tr>
        <tr>
            <td width="29" height="10">&nbsp;</td>
            <td width="580">&nbsp;</td>
            <td width="29">&nbsp;</td>
        </tr>
        <!-- /page header  -->
    </tbody>
</table>

<!-- content -->
<table id="content" border="0" cellpadding="0" cellspacing="0" width="638" style="border-left-width: 1px;
    border-left-color: #CCCCCC; border-left-style: solid; border-right-style: solid;
    border-right-color: #CCCCCC; border-right-width: 1px; mso-table-lspace: 0pt;
    mso-table-rspace: 0pt; background-color: #FFF; table-layout-fixed; width: 640px;" bgcolor="#FFF">
    <tbody>
        <tr>
            <td width="29">&nbsp;</td>
            <td width="580">
                <!-- body -->
                <$body$>
                <!-- /body -->
            </td>
            <td width="29">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="3" height="20" width="640">&nbsp;</td>
        </tr>
        <tr>
            <td width="29">&nbsp;</td>
            <td width="580" style="border-top-width: 1px; border-top-color: #ddd; border-top-style: solid;
                font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;" align="left">
                <p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; line-height: 18px;
                    font-size: 14px; margin-top: 1em; margin-right: 0; text-align: left; margin-bottom: 1em;
                    margin-left: 0;">
                    <a href="<$ServerProtocol$>://<$UserAccountURL$>" style="color: #1997c4; text-decoration: none;"><$UserAccountURL$></a></p>
            </td>
            <td width="29">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="3" height="20" width="580">&nbsp;</td>
        </tr>
    </tbody>
</table>
<!-- /content -->
