﻿tr.pagination
    {
        width: 100%;
    }
    tr.pagination > td
    {
        text-align: center;
        vertical-align: middle;
    }
    tr.pagination > td a, tr.pagination > td span
    {
        float: none;
        padding: 4px 12px;
        line-height: 20px;
        text-decoration: none;
        background-color: #ffffff;
        border: 1px solid #dddddd;
        border-left-width: 0;
    }
    tr.pagination > td a:hover, tr.pagination > .active a, tr.pagination > .active span
    {
        background-color: #f5f5f5;
    }
    tr.pagination > .active a, tr.pagination > .active > span
    {
        color: #999999;
        cursor: default;
    }
    tr.pagination > .disabled a, tr.pagination > .disabled a:hover, tr.pagination > .disabled span
    {
        color: #999999;
        background-color: transparent;
        cursor: default;
    }
    tr.pagination > td:first-child a, tr.pagination > td:first-child span
    {
        border-left-width: 1px;
        -webkit-border-top-left-radius: 4px;
        -moz-border-radius-topleft: 4px;
        border-top-left-radius: 4px;
        -webkit-border-bottom-left-radius: 4px;
        -moz-border-radius-bottomleft: 4px;
        border-bottom-left-radius: 4px;
    }
    tr.pagination > td:last-child a, tr.pagination > td:last-child span
    {
        -webkit-border-top-right-radius: 4px;
        -moz-border-radius-topright: 4px;
        border-top-right-radius: 4px;
        -webkit-border-bottom-right-radius: 4px;
        -moz-border-radius-bottomright: 4px;
        border-bottom-right-radius: 4px;
    }