﻿button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: 19.5px;
}

button.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

div.panel {
    padding: 0 18px;
    background-color: white;
    margin-top: 20px;
}

div.panel.show {
    display: none;
}

.custom-validation-error-message{
    margin-bottom:0
}

#saveAndNewAdHocPhase{
    margin-right: 10px;
}

#adhocPhaseContainer, #adHocWorkflow .accordion{
    /*width:40%;*/
}

ul.nav__list { list-style: none }

.adhoc-nav li.adHoc-phase {
    display: block;
    margin-left: -24px;

}
.adhoc-nav li.adHoc-phase > label   
{
    padding: .60rem;
    color: #000;
    background-color: #eeeeee;
    margin-bottom: 0px;
}

.phaseHeaderContainer
{
    background-color: #eeeeee;
}
.adHocPhaseLabel{
    background-color: #eeeeee;
    padding-top: 5px;
}
.adHoc-phase{
    background-color: #eeeeee;
    border-bottom: 1px solid #DCDCDC;
}
.adHoc-phase.current{
    border-bottom: 0;
}

#adHocWorkflow .adhoc-nav #adHocPhases .adHoc-phase >label
{
    display: inline-block;
    width: 90%;
    padding: 10px;
}

.adhoc-nav li.adHoc-phase > label { cursor: pointer; }
.adhoc-phaseActions{
    display: none;
}
#adhocPhaseContainer
{
    margin-top: 0;
    padding-top: 10px;
}

.upAndDownButtons{
    width: 20px;
    height: 20px;
}

.arrow{
    float:left;
}
.upAndDownButtons
{
    margin-left: 10px;
    color: Black;
}

#adHocPhases li:not(:last-child) label
{
    padding-left: 0;
}

[id^=phaseAction]
{
    margin-right: 10px;
    margin-top: 10px;
}

#adhocPhaseDetailsContainer .icon-caret-up,
#adhocPhaseDetailsContainer .icon-caret-down
{
    width: 11px;
}