﻿ #modalAnnotationsReportFilter div.control-group span.field-validation-valid {
     display: none;
 }
 #modalAnnotationsReportFilter div.control-group.error span.field-validation-error {
     color: #b94a48;
     display: inline-block;
     vertical-align: middle;
     padding-left: 5px;
 }
 #modalAnnotationsReportFilter div.control-group.error {
     color: #b94a48;
 }
 #modalAnnotationsReportFilter .control-group.error .checkbox, 
 #modalAnnotationsReportFilter .control-group.error .radio, 
 #modalAnnotationsReportFilter .control-group.error input, 
 #modalAnnotationsReportFilter .control-group.error select, 
 #modalAnnotationsReportFilter .control-group.error textarea {
     color: #b94a48;
 }
 #modalAnnotationsReportFilter .control-group.error input, 
 #modalAnnotationsReportFilter .control-group.error select, 
 #modalAnnotationsReportFilter .control-group.error textarea {
     border-color: #b94a48;
     -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
     box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
 }
 #modalAnnotationsReportFilter .czn-spinner {
     width: 60px;
     display: inline-table;
     border: 1px solid #ccc;
 }
 #modalAnnotationsReportFilter .control-label {
     float: left;
     width: 220px;
     padding-top: 5px;
     text-align: right;
     font-weight: normal;
     line-height: 24px;
 }
 #modalAnnotationsReportFilter .controls {
     margin-left: 235px;
     margin-top: 9px;
 }
 
 #modalAnnotationsReportFilter .spinner input {
     text-align: right;
     width: 50px;
     border-top-right-radius: 0px;    
     border-bottom-right-radius: 0px;
     line-height: 15px;
     display: inline;
 }
 #modalAnnotationsReportFilter .input-group-btn-vertical {
     position: relative;
     white-space: nowrap;
     width: 18px;
     vertical-align: middle;
     display: inline-block;
     height: 37px;
 }
 #modalAnnotationsReportFilter .input-group-btn-vertical > .btn {
   display: block;
   float: none;
   width: 100%;
   max-width: 100%;
   padding: 7px;
   margin-left: -5px;
   position: relative;
   border-radius: 0;
 }
 #modalAnnotationsReportFilter .input-group-btn-vertical > .btn:first-child {
   border-top-right-radius: 4px;
 }
 #modalAnnotationsReportFilter .input-group-btn-vertical > .btn:last-child {
   margin-top: -2px;
   border-bottom-right-radius: 4px;
 }
 #modalAnnotationsReportFilter .input-group-btn-vertical i{
   position: absolute;
   top: 0;
   left: 4px;
 }
 #modalAnnotationsReportFilter .spinner-group {
     width: 78px;
     display: inline-block;
     margin-left: 14px;
     margin-top: 2px;
 }
 #modalAnnotationsReportFilter .czn-select {
     margin-top: 7px;
     width: 197px;
 }
 #modalAnnotationsReportFilter .btn-spinner {
     height: 18px;
 }
 
 #modalAnnotationsReportFilter .error-position {
     margin-left: 10px;
     margin-top: 12px;
 }
 
 #modalAnnotationsReportFilter #spinnerGroup {
     margin-bottom: 3px;
 }
 #modalAnnotationsReportFilter .listbox {
     width: 200px;
     max-height: 100px;
     height: auto;
     scroll:auto;
 }
 
 #modalAnnotationsReportFilter .form-panel {
   height: 20px;
   margin-bottom: 0px;
   margin-left: 0px;
   font-size: 13px;
   line-height: 20px;
   color: #555555;
   background-color: #ffffff;
   border: 1px solid #cccccc;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   padding: 5px 8px 10px;
   overflow: auto;
   height: auto;
   max-height: 170px;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
 }
 
 #modalAnnotationsReportFilter .listbox-options {
     margin-left: 23px;
     width: 142px;
     float: left;
 }

 #modalAnnotationsReportFilter .modal-position {
     position: absolute;
     left: 45%;
     margin-left: -213px;
     top: 23%;
     margin-top: -69px;
 }
 .czn-modal-overlay{
     background-color: #000;
     opacity: 0.8;
     position: absolute;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     overflow: hidden;
     z-index: 1049;
     display: none;
 }
 
 #modalAnnotationsReportFilter .btn {
      color: black;
      background-color: inherit;
      background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
      background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
      background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
      background-image: -o-linear-gradient(top,#fff,#e6e6e6);
      background-image: linear-gradient(to bottom,#fff,#e6e6e6);
      background-repeat: repeat-x;
      border: 1px solid #ccc;
      border-color: #e6e6e6 #e6e6e6 #bfbfbf;
      border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
      border-bottom-color: #b3b3b3;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      font-size: 13px!important;
 }
 
 #modalAnnotationsReportFilter .modal-footer 
 {
      padding: 14px 15px 15px;
      margin-bottom: 0;
      text-align: right;
      background-color: #f5f5f5;
      border-top: 1px solid #ddd;
      -webkit-border-radius: 0 0 6px 6px;
      -moz-border-radius: 0 0 6px 6px;
      border-radius: 0 0 6px 6px;
      -webkit-box-shadow: inset 0 1px 0 #fff;
      -moz-box-shadow: inset 0 1px 0 #fff;
      box-shadow: inset 0 1px 0 #fff;
      }

#modalAnnotationsReportFilter .btn-primary[value="default"]
{
      font-size: 13px!important;
      color: #ffffff;
      background-color: #4b4b4b;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
      background-image: -moz-linear-gradient(top, #555555, #3b3b3b);
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#555555), to(#3b3b3b));
      background-image: -webkit-linear-gradient(top, #555555, #3b3b3b);
      background-image: -o-linear-gradient(top, #555555, #3b3b3b);
      background-image: linear-gradient(to bottom, #555555, #3b3b3b);
      background-repeat: repeat-x;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff555555', endColorstr='#ff3b3b3b', GradientType=0);
      border-color: #3b3b3b #3b3b3b #151515;
      border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
      filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
 #modalAnnotationsReportFilter label, .czn-select, input {font-size: 13px;}
 
#modalAnnotationsReportFilter .btn-primary[value="pink"]{
     font-size: 13px!important;
     color: #ffffff;
     text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
     background-color: #4b4b4b;
     background-image: -moz-linear-gradient(top, #555555, #3b3b3b);
     background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#555555), to(#3b3b3b));
     background-image: -webkit-linear-gradient(top, #555555, #3b3b3b);
     background-image: -o-linear-gradient(top, #555555, #3b3b3b);
     background-image: linear-gradient(to bottom, #555555, #3b3b3b);
     background-repeat: repeat-x;
     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff555555', endColorstr='#ff3b3b3b', GradientType=0);
     border-color: #3b3b3b #3b3b3b #151515;
     border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
     *background-color: #3b3b3b;
     /* Darken IE7 buttons by default so they stand out more given they won't have borders */

     filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

#modalAnnotationsReportFilter .btn-primary[value="green"]{
     font-size: 13px!important;
     color: #ffffff;
     text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
     background-color: #ea7817;
     background-image: -moz-linear-gradient(top, #f58220, #d8690a);
     background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f58220), to(#d8690a));
     background-image: -webkit-linear-gradient(top, #f58220, #d8690a);
     background-image: -o-linear-gradient(top, #f58220, #d8690a);
     background-image: linear-gradient(to bottom, #f58220, #d8690a);
     background-repeat: repeat-x;
     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff58220', endColorstr='#ffd8690a', GradientType=0);
     border-color: #d8690a #d8690a #8f4506;
     border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
     *background-color: #d8690a;
     /* Darken IE7 buttons by default so they stand out more given they won't have borders */

     filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);  
}
 
#modalAnnotationsReportFilter .btn-primary[value="blue"]{
      font-size: 13px!important;
      color: #ffffff;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
      background-color: #115c92;
      background-image: -moz-linear-gradient(top, #1368a4, #0e4b76);
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1368a4), to(#0e4b76));
      background-image: -webkit-linear-gradient(top, #1368a4, #0e4b76);
      background-image: -o-linear-gradient(top, #1368a4, #0e4b76);
      background-image: linear-gradient(to bottom, #1368a4, #0e4b76);
      background-repeat: repeat-x;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1368a4', endColorstr='#ff0e4b76', GradientType=0);
      border-color: #0e4b76 #0e4b76 #062032;
      border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
      *background-color: #0e4b76;
      /* Darken IE7 buttons by default so they stand out more given they won't have borders */

      filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

#modalAnnotationsReportFilter .btn-primary[value="white"]{
      font-size: 13px!important;
      color: #ffffff;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
      background-color: #db134f;
      background-image: -moz-linear-gradient(top, #ed1556, #c00f44);
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ed1556), to(#c00f44));
      background-image: -webkit-linear-gradient(top, #ed1556, #c00f44);
      background-image: -o-linear-gradient(top, #ed1556, #c00f44);
      background-image: linear-gradient(to bottom, #ed1556, #c00f44);
      background-repeat: repeat-x;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffed1556', endColorstr='#ffc00f44', GradientType=0);
      border-color: #c00f44 #c00f44 #79092b;
      border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
      *background-color: #c00f44;
      /* Darken IE7 buttons by default so they stand out more given they won't have borders */

      filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

#modalAnnotationsReportFilter .czn-select {
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 4px 6px;
}

#summaryCheck, #includeAllVersions  {
    line-height: 30px;
    margin: 3px 4px 2px;
}

input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly] {
  cursor: not-allowed;
  background-color: #eee;
}

 #modalAnnotationsReportFilter .modal-body {
   height: 400px;
   overflow-y: auto;
 }