﻿#bouncedEmailUsersListContainer
{
    max-width: 75%;
    margin-left: 20px;
    display:inline-block;
}

.message
{
    width: 80%;
}
.email
{
    width: 20%;
}

.span4.blank-state-icon
{
    width: 25%;
}

.row-fluid.blank-state .span7
{
    width: 45%;
}

.row-fluid.blank-state .span7 h3
{
    line-height: 30px;
}
