﻿@media (min-width: 1200px)
{   
    #deliver-index td:nth-child(1), #deliver-index th:nth-child(1) { width: 212px; }
    #deliver-index td:nth-child(2), #deliver-index th:nth-child(2) { width: 260px; }
    #deliver-index td:nth-child(3), #deliver-index th:nth-child(3) { width: 49px; }
    #deliver-index td:nth-child(4), #deliver-index th:nth-child(4) { width: 119px; }
    #deliver-index td:nth-child(5), #deliver-index th:nth-child(5) { width: 169px; }
    #deliver-index td:nth-child(6), #deliver-index th:nth-child(6) { width: 136px; }
    #deliver-index td:nth-child(7), #deliver-index th:nth-child(7) { width: 63px; }
    #deliver-index td:nth-child(8), #deliver-index th:nth-child(8) { width: 31px; }   
    #approvals-index td:nth-child(1), #approvals-index th:nth-child(1) { width: 70px; }
    #approvals-index td:nth-child(2), #approvals-index th:nth-child(2) { width: 117px; }
    #approvals-index td:nth-child(3), #approvals-index th:nth-child(3) { width: 57px; }
    #approvals-index td:nth-child(4), #approvals-index th:nth-child(4) { width: 110px; }
    #approvals-index td:nth-child(5), #approvals-index th:nth-child(5) { width: 113px; }
    #approvals-index td:nth-child(6), #approvals-index th:nth-child(6) { width: 152px; }
    #approvals-index td:nth-child(7), #approvals-index th:nth-child(7) { width: 166px; }
    #approvals-index td:nth-child(8), #approvals-index th:nth-child(8) { width: 118px; }
    #approvals-index td:nth-child(9), #approvals-index th:nth-child(9) { width: 96px; }
    #approvals-index td:nth-child(10), #approvals-index th:nth-child(10) { width: 60px; }

     #filetransfer-index td:nth-child(1), #filetransfer-index th:nth-child(1) { width:  70px; }
    #filetransfer-index td:nth-child(2), #filetransfer-index th:nth-child(2) { width: 210px;}
    #filetransfer-index td:nth-child(3), #filetransfer-index th:nth-child(3) { width: 170px; }
    #filetransfer-index td:nth-child(4), #filetransfer-index th:nth-child(4) { width: 250px ; }
    #filetransfer-index td:nth-child(5), #filetransfer-index th:nth-child(5) { width: 300px; }  
    #filetransfer-index td:nth-child(6), #filetransfer-index th:nth-child(6) { width: 190px; }  
    #filetransfer-index td:nth-child(7), #filetransfer-index th:nth-child(7) { width: 340px; }  
     
}
@media (min-width: 980px) and (max-width: 1199px)
{   
    #deliver-index td:nth-child(1), #deliver-index th:nth-child(1) { width: 150px; }
    #deliver-index td:nth-child(2), #deliver-index th:nth-child(2) { width: 150px; }
    #deliver-index td:nth-child(3), #deliver-index th:nth-child(3) { width: 49px; }
    #deliver-index td:nth-child(4), #deliver-index th:nth-child(4) { width: 100px; }
    #deliver-index td:nth-child(5), #deliver-index th:nth-child(5) { width: 120px; }
    #deliver-index td:nth-child(6), #deliver-index th:nth-child(6) { width: 136px; }
    #deliver-index td:nth-child(7), #deliver-index th:nth-child(7) { width: 63px; }
    #deliver-index td:nth-child(8), #deliver-index th:nth-child(8) { width: 31px; }  
    #approvals-index td:nth-child(1), #approvals-index th:nth-child(1) { width: 70px; }
    #approvals-index td:nth-child(2), #approvals-index th:nth-child(2) { width: 117px; }
    #approvals-index td:nth-child(3), #approvals-index th:nth-child(3) { width: 57px; }
    #approvals-index td:nth-child(4), #approvals-index th:nth-child(4) { width: 110px; }
    #approvals-index td:nth-child(5), #approvals-index th:nth-child(5) { width: 113px; }
    #approvals-index td:nth-child(6), #approvals-index th:nth-child(6) { width: 152px; }
    #approvals-index td:nth-child(7), #approvals-index th:nth-child(7) { width: 166px; }
    #approvals-index td:nth-child(8), #approvals-index th:nth-child(8) { width: 118px; }
    #approvals-index td:nth-child(9), #approvals-index th:nth-child(9) { width: 96px; }
    #approvals-index td:nth-child(10), #approvals-index th:nth-child(10) { width: 60px; }

     #filetransfer-index td:nth-child(1), #filetransfer-index th:nth-child(1) { width: 80px; }
    #filetransfer-index td:nth-child(2), #filetransfer-index th:nth-child(2) { width: 63px; }
    #filetransfer-index td:nth-child(3), #filetransfer-index th:nth-child(3) { width: 110px; }
    #filetransfer-index td:nth-child(4), #filetransfer-index th:nth-child(4) { width: 70px; }
    #filetransfer-index td:nth-child(5), #filetransfer-index th:nth-child(5) { width: 120px; }  
    #filetransfer-index td:nth-child(6), #filetransfer-index th:nth-child(6) { width: 120px; }  
    #filetransfer-index td:nth-child(7), #filetransfer-index th:nth-child(7) { width: 60px; }  
   
}
@media (max-width: 979px)
{    
    #deliver-index td:nth-child(1), #deliver-index th:nth-child(1) { width: 150px; }
    #deliver-index td:nth-child(2), #deliver-index th:nth-child(2) { display: none; }
    #deliver-index td:nth-child(3), #deliver-index th:nth-child(3) { width: 49px; }
    #deliver-index td:nth-child(4), #deliver-index th:nth-child(4) { display: none; }
    #deliver-index td:nth-child(5), #deliver-index th:nth-child(5) { width: 120px; }
    #deliver-index td:nth-child(6), #deliver-index th:nth-child(6) { width: 136px; }
    #deliver-index td:nth-child(7), #deliver-index th:nth-child(7) { width: 63px; }
    #deliver-index td:nth-child(8), #deliver-index th:nth-child(8) { width: 31px; }    
    #approvals-index td:nth-child(1), #approvals-index th:nth-child(1) { width: 70px; }
    #approvals-index td:nth-child(2), #approvals-index th:nth-child(2) { width: 117px; }
    #approvals-index td:nth-child(3), #approvals-index th:nth-child(3) { width: 57px; }
    #approvals-index td:nth-child(4), #approvals-index th:nth-child(4) { width: 110px; }
    #approvals-index td:nth-child(5), #approvals-index th:nth-child(5) { width: 113px; }
    #approvals-index td:nth-child(6), #approvals-index th:nth-child(6) { width: 152px; }
    #approvals-index td:nth-child(7), #approvals-index th:nth-child(7) { width: 166px; }
    #approvals-index td:nth-child(8), #approvals-index th:nth-child(8) { width: 118px; }
    #approvals-index td:nth-child(9), #approvals-index th:nth-child(9) { width: 96px; }
    #approvals-index td:nth-child(10), #approvals-index th:nth-child(10) { width: 60px; }

    #filetransfer-index td:nth-child(1), #filetransfer-index th:nth-child(1) { width: 90px; }
    #filetransfer-index td:nth-child(2), #filetransfer-index th:nth-child(2) { width: 63px; }
    #filetransfer-index td:nth-child(3), #filetransfer-index th:nth-child(3) { width: 100px; }
    #filetransfer-index td:nth-child(4), #filetransfer-index th:nth-child(4) { width: 90px; }
    #filetransfer-index td:nth-child(5), #filetransfer-index th:nth-child(5) { width: 90px; }  
     #filetransfer-index td:nth-child(6), #filetransfer-index th:nth-child(6) { width: 96px; }  
    #filetransfer-index td:nth-child(7), #filetransfer-index th:nth-child(7) { width: 100px !important;}  
  
}