﻿.media-list .video a>img,
.media-list .manual a,
.media-list .download a {
    width: 80px;
}
.media-list .manual a>img,
.media-list .download a>img {
    width: 40px;
    margin: 0px auto;
}
.landing, .landing-announcement {
    width: 335px;
    float:left;
    clear:none;
    margin-left: 10px;
    margin-right: 10px;
}

.landing-announcement {
    width: 374px;
}

.training-videos, 
.feature-videos {
    height: 245px;
    overflow: hidden;
}
.media-list .video .media-body small,
.media-list .manual .media-body small,
.media-list .download .media-body small 
{
    font-size: 10px;
    height: 40px;
    overflow: hidden;
    display: block;
}
.media-list .video .media-heading,
.media-list .manual .media-heading,
.media-list .download .media-heading {
    display: block;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 13px;
}
.small-legend {
    font-size: 12px;
    font-weight: bold;
    color: #999;
    text-transform: uppercase;
    margin-bottom: 10px !important;
    display: block;
}
.homepage legend{
    margin-bottom: 10px;
}
.homepage .media-list {
    margin: 0px;
}

.media-list .video>a:hover {
    opacity: 0.75;
}
.small-manuals, .small-downloads {
    margin-top: 10px;
}
.announcements 
{
    height: 600px;
    overflow: hidden;
}

.left-right-sides {
    max-height: 600px;
    height: 100%;
}
 
.manuals, 
.downloads{
    height: 245px;
    overflow: hidden;
}
.training-videos,
.feature-videos {
    margin-bottom: 10px;
}
.announcements:hover,
.training-videos:hover, 
.feature-videos:hover,
.manuals:hover, 
.downloads:hover{
    overflow: auto;
}
@media (min-width: 1200px) 
{
    .media-list .video .media-body, .media-list .video>a,
    .media-list .manual .media-body, .media-list .manual>a,
    .media-list .download .media-body, .media-list .download>a {
        float: left;
        width: 85px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .media-list .video .media-body,
    .media-list .manual .media-body,
    .media-list .download .media-body {
        width: 190px;
    }
    .media-list .announcement {
        width: 312px;
    }
}
@media (min-width: 980px) and (max-width: 1199px)
{
    .media-list .video,
    .media-list .manual,
    .media-list .download {
        width: 190px;
    }
    .media-list .video .media-body, .media-list .video>a,
    .media-list .manual .media-body, .media-list .manual>a,
    .media-list .download .media-body, .media-list .download>a {
        float: left;
        width: 105px;
        overflow: hidden;
    }
    .media-list .video>a, 
    .media-list .manual>a,
    .media-list .download>a {
        width: 85px;
    }
    
    .landing-announcement {
        width: 320px;
    }

    .landing {
        width: 280px;
    }
    .landing, .landing-announcement {
        margin-left: 10px;
        margin-right: 10px;
    }
    .media-list .announcement {
        width: 259px;
    }
}
@media (max-width: 980px) 
{
    .media-list .video .media-body,
    .media-list .manual .media-body,
    .media-list .download .media-body {
        width: 190px;
    }
    
    .landing-announcement, .landing {
        width: 680px;
    }
}
@media (min-width: 768px) and (max-width: 979px)
{
    .media-list .video .media-body, .media-list .video>a,
    .media-list .manual .media-body, .media-list .manual>a,
    .media-list .download .media-body, .media-list .download>a {
        float: left;
        width: 85px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .media-list .video .media-body,
    .media-list .manual .media-body,
    .media-list .download .media-body {
        width: 190px;
    }
    
    .training-videos, 
    .feature-videos,
    .manuals, 
    .downloads{
        height: 155px;
        overflow: hidden;
    }
    
    .media-list .video,
    .media-list .manual,
    .media-list .download {
        width: 300px;
        float: left;
    }
    .media-list .announcement{
         width: 620px;
    }
    
    .announcements {
        height: 350px;
    }
}
@media (max-width: 767px)
{
    .media-list .video .media-body, .media-list .video>a,
    .media-list .manual .media-body, .media-list .manual>a,
    .media-list .download .media-body, .media-list .download>a {
        float: left;
        width: 85px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .media-list .video .media-body,
    .media-list .manual .media-body,
    .media-list .download .media-body {
        width: 190px;
    }
    
    .training-videos, 
    .feature-videos,
    .manuals, 
    .downloads{
        height: 100px;
        overflow: hidden;
    }
    
    .media-list .video,
    .media-list .manual,
    .media-list .download {
        width: 300px;
        float: left;
    }
    
    .media-list .announcement{
         width: 620px;
    }
     .announcements {
        height: 300px;
    }
}

@media (max-width: 743px)
{
    .media-list .video .media-body,
    .media-list .manual .media-body,
    .media-list .download .media-body {
        width: 395px;
    }
    
    .media-list .announcement {
        width: 490px;
    }
    
    .media-list .video,
    .media-list .manual,
    .media-list .download {
        width: 480px;
    }
    
     .announcements {
        height: 300px;
    }
    
    .landing-announcement, .landing {
        width: 550px;
    }
}

@media (max-width: 650px)
{
    .media-list .video .media-body,
    .media-list .manual .media-body,
    .media-list .download .media-body {
        width: 316px;
    }
    
    .media-list .video,
    .media-list .manual,
    .media-list .download {
        width: 410px;
    }
    
    .media-list .announcement {
        width: 416px;
    }
    
     .announcements {
        height: 300px;
    }
    
     .landing-announcement, .landing {
        width: 480px;
    }
}

@media (max-width: 600px)
{
    .media-list .video .media-body,
    .media-list .manual .media-body,
    .media-list .download .media-body {
        width: 200px;
    }
    
    .media-list .video,
    .media-list .manual,
    .media-list .download {
        width: 310px;
    }
    
    .media-list .announcement {
        width: 313px;
    }
     .announcements {
        height: 300px;
    }
    
     .landing-announcement, .landing {
        width: 380px;
    }
}

@media (max-width: 450px)
{
    .media-list .video .media-body,
    .media-list .manual .media-body,
    .media-list .download .media-body {
        width: 100px;
        overflow: hidden;
    }
    
    .media-list .video,
    .media-list .manual,
    .media-list .download {
        width: 190px;
    }
    
    .media-list .announcement {
        width: 192px;
    }
     .announcements {
        height: 300px;
    }
    
     .landing-announcement, .landing {
        width: 250px;
    }
}


@media (min-height: 901px)
{
    .announcements {
        height: 600px;
    }
    .training-videos, 
    .feature-videos {
        height: 270px;
    }
 
    .manuals, 
    .downloads{
        height: 220px;
        overflow: hidden;
    }
}

@media (max-height: 836px) 
{
    .announcements {
        height: 460px;
    }
    .manuals, 
    .downloads{
        height: 105px;
        overflow: hidden;
    }
}

@media (min-height: 836px) and (max-height: 1000px) 
{
    .announcements {
        height:600px;
    }
    
    .training-videos, 
    .feature-videos {
        height: 270px;
    }
    
    .manuals, 
    .downloads{
        height: 220px;
        overflow: hidden;
    }
}

@media (min-height: 836px) and (max-width: 974px)
{
    .announcements {
        height: 300px;
    }
    .training-videos, 
    .feature-videos {
        height: 150px;
    }
 
    .manuals, 
    .downloads{
        height: 150px;
    }
}

h5 {
    color: #999;
}

  .nav-collapse.in.collapse {
    height: auto !important;
    overflow: visible !important;
  }
  
  #navContainer {
      justify-content: center;
      display: flex;
  }