﻿#modalDialogSubmitToDeliverFromPS div.control-group span.field-validation-valid {
    display: none;
}

#modalDialogSubmitToDeliverFromPS .modal-body
{
    overflow-y: scroll;
}

#modalDialogSubmitToDeliverFromPS div.control-group.error {
    color: #b94a48;
}
#modalDialogSubmitToDeliverFromPS .control-group.error .checkbox, 
#modalDialogSubmitToDeliverFromPS .control-group.error .radio, 
#modalDialogSubmitToDeliverFromPS .control-group.error input, 
#modalDialogSubmitToDeliverFromPS .control-group.error select, 
#modalDialogSubmitToDeliverFromPS .control-group.error textarea {
    color: #b94a48;
}
#modalDialogSubmitToDeliverFromPS .control-group.error input, 
#modalDialogSubmitToDeliverFromPS .control-group.error select, 
#modalDialogSubmitToDeliverFromPS .control-group.error textarea {
    border-color: #b94a48;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}
 
 
#modalDialogSubmitToDeliverFromPS div.control-group.error span.field-validation-error {
    color: #b94a48;
    display: inline-block;
    vertical-align: middle;
    padding-left: 5px;
}
 
#modalDialogSubmitToDeliverFromPS .modal-body 
{
    max-height: 590px;
}
#modalDialogSubmitToDeliverFromPS .modal-position {
    position: absolute;
    left: 45%;
    margin-left: -213px;
    top: 15%;
    margin-top: -69px;
    bottom:15%;
}
 
.czn-modal-overlay{
    background-color: #000;
    opacity: 0.8;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1049;
    display: none;
} 

#modalDialogSubmitToDeliverFromPS .czn-select {
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 4px 6px;
    width: 220px;
}
 
#modalDialogSubmitToDeliverFromPS .controls {
    margin-left: 180px;
    margin-top: 9px;
}
 
#modalDialogSubmitToDeliverFromPS .modal-footer 
{
    padding: 14px 15px 15px;
    margin-bottom: 0;
    text-align: right;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    -webkit-box-shadow: inset 0 1px 0 #fff;
    -moz-box-shadow: inset 0 1px 0 #fff;
    box-shadow: inset 0 1px 0 #fff;
}
 
 #modalDialogSubmitToDeliverFromPS label, .czn-select, input {font-size: 13px;}
 
#modalDialogSubmitToDeliverFromPS .control-label {
    float: left;
    width: 160px;
    padding-top: 5px;
    text-align: right;
    font-weight: normal;
    line-height: 24px;
    font-size: 13px;
}

#modalDialogSubmitToDeliverFromPS .radioLabel{
    font-weight:normal;
}

input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly] {
  cursor: not-allowed;
  background-color: #eee;
}

#modalDialogSubmitToDeliverFromPS div.modal-header
{
    padding-bottom: 9px;
    padding-top: 9px;
    font-size: 20px;
}
#modalDialogSubmitToDeliverFromPS .modal-title
{
    line-height:30px;
    font-size: 20px;
    font-weight: bold;
}

#PagesRangeValue
{
    width:162px;  
    display:inline-block; 
}

.alert.alert-danger
{
    padding-top:9px !Important;
    padding-bottom:9px !Important;
    margin-bottom:20px;
}

#modalDialogSubmitToDeliverFromPS div.control-group
{
    padding-bottom:10px;
}

#notificationContainer h3
{
    font-size: 19.5px
}
#notificationContainer h3 small
{
    font-size: small;
}
.collaboratorshare-control.modal-clear .modal-header,
.collaboratorshare-control.modal-clear .collaboratorshare-message{
  display: none;
}

.collaboratorshare-control.modal-clear .modal-header,
.collaboratorshare-control.modal-clear .collaboratorshare-message,
.collaboratorshare-control.modal-clear .collaboratorshare-filters,
.collaboratorshare-control.modal-clear .collaboratorshare-fields,
.collaboratorshare-control.modal-clear .collaboratorshare-events,
.collaboratorshare-blocks .block.remove,
.collaboratorshare-blocks .block-template,
.collaboratorshare-data {
  display: none;
}

.collaboratorshare-control.modal-clear .a-user-selector.compact {
  margin-right: 180px;
}
.collaboratorshare-blocks .block.active {
  display: block;
}
.collaboratoraccess-control.modal-clear .modal-header,
.collaboratoraccess-control.modal-clear .collaboratoraccess-filters,
.collaboratoraccess-control.modal-clear .collaboratoraccess-blocks .block,
.collaboratoraccess-control.modal-clear .collaboratoraccess-blocks .block-header.group,
.collaboratoraccess-control.modal-clear .collaboratoraccess-blocks .block-grid.group,
.collaboratoraccess-control.modal-clear .collaboratoraccess-blocks .block-header.user,
.collaboratoraccess-control.modal-clear .collaboratoraccess-blocks .block-header.external,
.collaboratoraccess-control.modal-clear .collaboratoraccess-blocks .block-grid.external,
.collaboratoraccess-control.modal-clear .collaboratoraccess-events,
.collaboratoraccess-control.modal-clear .collaboratoraccess-blocks .block.disabled .role-selector .actions,
.collaboratoraccess-control .collaboratoraccess-blocks .block .role-selector .actions,
.collaboratoraccess-control.modal-clear .collaboratoraccess-blocks .block.disabled .preset-selector .actions,
.collaboratoraccess-control .collaboratoraccess-blocks .block .preset-selector .actions,
.collaboratoraccess-control .collaboratoraccess-phases.tabs-container,
.collaboratoraccess-control.modal-clear .collaboratoraccess-phases.tabs-container.phase,
.collaboratoraccess-data {
  display: none;
}
/* .a-user-selector.compact.newApproval : This class shoud be like below */
.collaboratoraccess-control.modal-clear .a-user-selector.compact {
  margin-right: 180px;
}
.collaboratoraccess-control.modal-clear {
  display: block !important;
}
.collaboratoraccess-control .collaboratoraccess-phases.tabs-container.phase,
.collaboratoraccess-control.modal-clear .collaboratoraccess-blocks .block.active,
.collaboratoraccess-control.modal-clear .collaboratoraccess-blocks .block .role-selector .actions,
.collaboratoraccess-control.modal-clear .collaboratoraccess-blocks .block .preset-selector .actions {
  display: block;
}

#modalDialogSubmitToDeliverFromPS .collaboratoraccess-control .a-user-selector .compact h6 {
  margin: 0 0 10px 0;
  padding: 10px 0 5px;
  line-height: 20px;
  border-bottom: 1px solid #e5e5e5;
}

.a-user-selector.compact h6 {
  font-size: 11px;
  color: #999999;
  text-transform: uppercase;
  line-height: 20px;
  font-weight:bold;
  margin-bottom:0; 
}

hr
{
    margin-bottom:0
}

.add-user-control {
  margin: 10px 0 20px 0;
}
.collaboratorshare-blocks .block.active {
  display: block;
}

.externalInputs
{
    width:15% !Important;
    display:inline-block !Important;
}
.inlineControls
{
    display:inline;
}
.email
{
  width:15%!Important;
}
#ext-language
{
    width:16%!Important;
    height:34px!Important;
}

#deliverMessage
{
    width: 367.453px;
}
.pages-ctrl-left
{
    font-weight: normal;
}
#IncludeProofMetaInformation, #LogProofControlResults
{
    margin-bottom:5px;
    vertical-align: middle;
}

#deliverPopUpLoading
{
    width:30px;
    height:30px;
}
@media (min-device-height: 760px) and (max-device-height: 900px)
{
    #modalDialogSubmitToDeliverFromPS {
        top: 10px !important;
    }
    #modalDialogSubmitToDeliverFromPS .modal-body {
        overflow: auto;
    }
    .addjob-details {
        display: none;
    }
    .addjob-settings {
        margin-bottom: 0px;
        line-height: 20px;
    }
}
@media (min-device-height: 760px) and (max-device-height: 799px) 
{
    #modalDialogSubmitToDeliverFromPS .modal-body {
        max-height: 450px;
    }
}
@media (min-device-height: 800px) and (max-device-height: 864px) 
{
    #modalDialogSubmitToDeliverFromPS .modal-body {
        max-height: 500px;
    }
}
@media (min-device-height: 865px) and (max-device-height: 900px) 
{
    #modalDialogSubmitToDeliverFromPS .modal-body {
        max-height: 610px;
    }
}

.validation-summary-errors {
  font-weight: bold;
  color: #b94a48;
}

.pages-row.PagesSingle input[type='radio'], .pages-row.PagesRange input[type='radio']{
    margin:0;
}

.pages-row.PagesSinglee input[type='radio'], label{   
   display:inline;
   vertical-align:top;
}

.pages-row.PagesRange input[type='radio'], label{   
   display:inline;
   vertical-align:top;
}

#Pages_Range, #Pages_All
{
    margin-top:10px;
}
.pages-row.PagesRange label{ line-height:34px;}
#page_all_label{ line-height:34px;}
#pages{padding-top: 8px;}

#LogProofControlResults, #IncludeProofMetaInformation{line-height: 22px;}    

#detailsContainer h3
{
    margin-top:0!Important;
    margin-bottom:0!Important;
}
#detailsContainer hr
{
    margin-top:0!Important;
    margin-bottom:10px;
}

.user-selector-container.a-active-only .a-user-selector .block-grid > li {
  display: none;
}
.user-selector-container.a-active-only .a-user-selector .block-grid > li.active {
  display: block;
}
.user-selector-container.a-search-only .a-user-selector .block-grid > li {
  display: none;
}
.user-selector-container.a-search-only .a-user-selector .block-grid > li.active-search {
  display: block;
}
.user-selector-container.a-active-only.a-search-only .a-user-selector .block-grid > li {
  display: none;
}
.user-selector-container.a-active-only.a-search-only .a-user-selector .block-grid > li.active.active-search {
  display: block;
}

.a-user-selector .block-grid {
  padding: 0 !important;
  list-style: none;
  margin: 0;
  display: block;
  *zoom: 1;
}
.a-user-selector .block-grid:before,
.a-user-selector .block-grid:after {
  display: table;
  content: "";
  line-height: 0;
}
.a-user-selector .block-grid:after {
  clear: both;
}
.a-user-selector .block-grid > li {
  display: block;
  height: auto;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.a-user-selector .block-grid.one-up {
  margin: 0;
  margin: 0 -8px;
}
.a-user-selector .block-grid.one-up > li {
  width: 100%;
  padding: 0 0 15px;
  padding: 0 8px 8px;
}
.a-user-selector .block-grid.two-up {
  margin: 0 -15px;
  margin: 0 -8px;
}
.a-user-selector .block-grid.two-up > li {
  width: 50%;
  padding: 0 15px 15px;
  padding: 0 8px 8px;
}
.a-user-selector .block-grid.two-up > li:nth-child(2n+1) {
  clear: both;
}
.a-user-selector .block-grid.three-up {
  margin: 0 -12px;
  margin: 0 -8px;
}
.a-user-selector .block-grid.three-up > li {
  width: 33.33333%;
  padding: 0 12px 12px;
  padding: 0 8px 8px;
}
.a-user-selector .block-grid.three-up > li:nth-child(3n+1) {
  clear: both;
}
.a-user-selector h6 {
  margin: 0 0 10px 0;
  padding: 10px 0 5px;
  line-height: 20px;
  border-bottom: 1px solid #e5e5e5;
}
.a-user-selector .search-results {
  margin: 20px 0 0 0;
  padding: 0;
}
.a-user-selector dl {
  background-color: #F5F5F5;
  border: 1px solid #E3E3E3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 10px 7px 70px;
  margin: 0 0 0 0;
  position: relative;
  *zoom: 1;
}
.a-user-selector dl:before,
.a-user-selector dl:after {
  display: table;
  content: "";
  line-height: 0;
}
.a-user-selector dl:after {
  clear: both;
}
.a-user-selector dl:hover {
  background-color: #ededed;
  border: 1px solid #d9d9d9;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.a-user-selector dl dt {
  font-weight: bold;
  margin: 0 30px 0 0;
  padding: 0;
  color: #333333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.a-user-selector dl dt .label {
  padding: 0px 4px 0px;
  font-size: 9px;
  line-height: 12px;
  text-transform: uppercase;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.a-user-selector dl dd {
  font-size: 12px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #666;
}
.a-user-selector dl dd.groupNo {
  position: absolute;
  right: 5px;
  top: -10px;
}
.a-user-selector dl dd.a-meta {
  white-space: nowrap;
}
.a-user-selector dl dd.a-avatar {
  float: left;
  margin: -44px 0 0 -63px;
  width: 54px;
  height: 54px;
}
.a-user-selector dl dd.role-selector,
.a-user-selector dl dd.preset-selector  {
  overflow: visible !important;
  float: right;
  margin: -14px -3px 0 0 !important;
}
.a-user-selector dl dd.role-selector.dropdown-menu,
.a-user-selector dl dd.preset-selector.dropdown-menu {
  margin: 2px 0 0;
}
.a-user-selector dl dd.role-selector.dropdown-menu li,
.a-user-selector dl dd.preset-selector.dropdown-menu li {
  float: none;
  margin: 2px 0;
  width: auto;
}
.a-user-selector .role-selector,
.a-user-selector .preset-selector {
  overflow: visible !important;
  float: right;
  margin: -34px 10px 0 0 !important;
}
.a-user-selector .role-selector.dropdown-menu,
.a-user-selector .preset-selector.dropdown-menu {
  margin: 2px 0 0;
}
.a-user-selector .role-selector.dropdown-menu li,
.a-user-selector .preset-selector.dropdown-menu li {
  float: none;
  margin: 2px 0;
  width: auto;
}
.a-user-selector.compact.newApproval {
  margin-right: 180px;
}
.a-user-selector.compact dl {
  padding: 5px 10px 7px 40px;
  *zoom: 1;
}
.a-user-selector.compact dl:before,
.a-user-selector.compact dl:after {
  display: table;
  content: "";
  line-height: 0;
}
.a-user-selector.compact dl:after {
  clear: both;
}
.a-user-selector.compact dl dt {
  font-weight: normal;
}
.a-user-selector.compact dl dt.group {
  font-weight: bold;
  line-height: 28px;
}
.a-user-selector.compact dl dd {
  font-size: 10px;
  line-height: 12px;
}
.a-user-selector.compact dl dd.a-avatar {
  margin: -27px 0 0 -32px;
  width: 24px;
  height: 24px;
}
.a-user-selector li.vCard dl {
  background-color: none;
  border-color: none;
  padding: 0;
  width: auto;
  max-width: 100%;
  margin: 0;
  float: none;
}
.a-user-selector li.active dl {
  background-color: #dff4ff;
  border-color: #93daff;
}
.a-user-selector li.active dl:hover {
  background-color: #d5f0ff;
  border: 1px solid #60c8ff;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.a-user-selector li.active.disabled dl {
  background-color: #dff4ff;
  border-color: #93daff;
  cursor: not-allowed;
}
.a-user-selector li.disabled dl {
  background-color: #dff4ff;
  border-color: #93daff;
  cursor: not-allowed;
}
.add-user-control {
  margin: 10px 0 20px 0;
}
.avatar-100 {
  width: 100px;
  height: 100px;
  max-width: 100px;
}
.btn-group > .btn,
.btn-group > .dropdown-menu,
.btn-group > .popover {
  font-size: 13px;
}
.btn-group > .btn-mini {
  font-size: 9.75px;
}

.btn-group.open .btn-primary.dropdown-toggle {
  background-color: #ca1048;
}
.pull-right {
  float: right;
}
[class^="icon-"].pull-right,
[class*=" icon-"].pull-right {
  margin-left: .3em;
}

.block external > .preset-selector .btn-group.pull-right
{
    background-color: #f5f5f5!Important;
}

.btn-group.pull-right{
    border: 1px solid black;
    border-radius: 5px;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    height: 22px;
    background: linear-gradient(rgb(255, 255, 255), rgb(230, 230, 230));
}

div.btn-group.pull-right:hover{ background: #EBEBEB; }

.btn-group.pull-right a{
    top: 0px;
    border-top-width: 0px;
    padding-top: 4px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    padding-right: 6px;
    padding-left: 6px;
    padding-bottom: 0px;
}

.btn-group.pull-right a .caret
{
    margin-left: 2px;
    color: black;
}

.btn-group.pull-right .fa.fa-cog{ color: black; }

.actions.remove a
{
    padding-left: 20px!Important;
    padding-right: 20px!Important;
    padding-top: 3px!Important;
    padding-bottom: 3px!Important;
}
.dropdown-menu.pull-right{ border-radius: 6px;}

.data-selector.btn.dropdown-toggle
{
    background: linear-gradient(rgb(255, 255, 255), rgb(230, 230, 230));
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
}

.data-selector.btn.dropdown-toggle:hover{ background: #EBEBEB; }

#ext-language{cursor:pointer;}

.empty-block-user.alert.alert-error, .empty-block-email.alert.alert-error.alert-danger, .empty-block-email-exists.alert.alert-error
{
    margin-bottom: 20px;
    font-size:13px;
}

.message.message-option-input.form-control{resize:vertical;}


#modalDialogSubmitToDeliverFromPS #formAddDeliverJob .modal-sm.modal-position .modal-body .collaboratorshare-fields.control-group.row-fluid div h6{
  font-size: 11px;
  color: #999999;
  text-transform: uppercase;
  line-height: 20px;
  font-weight:bold;
}

#modalDialogSubmitToDeliverFromPS #formAddDeliverJob .modal-body #widgetDeliverShare .collaboratorshare-blocks .block.active.add-user-control.form-inline .first-name.input-mini.form-control.externalInputs,
#modalDialogSubmitToDeliverFromPS #formAddDeliverJob .modal-body #widgetDeliverShare .collaboratorshare-blocks .block.active.add-user-control.form-inline .last-name.input-mini.form-control.externalInputs,
#modalDialogSubmitToDeliverFromPS #formAddDeliverJob .modal-body #widgetDeliverShare .collaboratorshare-blocks .block.active.add-user-control.form-inline .email.input-small.form-control.externalInputs,
#modalDialogSubmitToDeliverFromPS #formAddDeliverJob .modal-body #widgetDeliverShare .collaboratorshare-blocks .block.active.add-user-control.form-inline .btn-group .data-selector.btn.dropdown-toggle,
#modalDialogSubmitToDeliverFromPS #formAddDeliverJob .modal-body #widgetDeliverShare .collaboratorshare-blocks .block.active.add-user-control.form-inline #ext-language
{
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 6px;
    padding-right: 6px;
    height: 30px!Important;
}

#modalDialogSubmitToDeliverFromPS .modal-body .alert.alert-danger
{
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
    font-size:13px;
}

#modalDialogSubmitToDeliverFromPS .modal-body .alert.alert-danger strong{ font-weight: bold; }

#modalDialogSubmitToDeliverFromPS .modal-body #widgetDeliverShare .collaboratorshare-control.modal-clear .collaboratorshare-base .collaboratorshare-blocks .a-user-selector.compact .block-grid.external.two-up .block.external.active dl .preset-selector .btn-group.pull-right.open .dropdown-menu.pull-right .preset.nav-header,
#modalDialogSubmitToDeliverFromPS .modal-body #widgetDeliverShare .collaboratorshare-control.modal-clear .collaboratorshare-base .collaboratorshare-blocks .a-user-selector.compact .block-grid.external.two-up .block.external .preset-selector .btn-group.pull-right.open .dropdown-menu.pull-right .preset.nav-header
{
    display: block;
    padding: 3px 15px;
    font-size: 11px;
    font-weight: bold;
    line-height: 20px;
    color: #999;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    text-transform: uppercase;
}

#modalDialogSubmitToDeliverFromPS .modal-body #widgetDeliverShare .collaboratorshare-control.modal-clear .collaboratorshare-base .collaboratorshare-blocks .a-user-selector.compact .block-grid.external.two-up .block.external.active dl .preset-selector .btn-group.pull-right.open .dropdown-menu.pull-right .preset a,
#modalDialogSubmitToDeliverFromPS .modal-body #widgetDeliverShare .collaboratorshare-control.modal-clear .collaboratorshare-base .collaboratorshare-blocks .a-user-selector.compact .block-grid.external.two-up .block.external .preset-selector .btn-group.pull-right.open .dropdown-menu.pull-right .preset a
{
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 20px;
    color: #333;
    white-space: nowrap;
}

#modalDialogSubmitToDeliverFromPS .modal-body .collaboratorshare-fields.control-group.row-fluid .message.message-option-input.form-control
{
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 4px;
    padding-bottom: 4px;
    color: #999;
    font-size: 13px;
}

