﻿#stmpSettingsLabel{
    padding-left: 20px;
    max-width: 210px;
    min-width: 210px;
}

#stmpSettingsLabel label{
    width: 190px;
}

#IsEnabled{
    margin-bottom: 4px;
}

#enadbleDisableGroup{
    padding-top: 4px;
    padding-left: 5px;
}
#showPasswordFields {
    color: #049cdb!important;
}
