﻿li[id^="theme"]
{
    height: 30px;
    width: 100%;
}

.styleswitch { display: inline!Important; }

.hide { display: none; }

.display { display: block; }

.openList  
{
    height: 220px!Important; 
    width: 700px!important;
}

.color  
{
    display: inline-block!Important; 
    padding-left: 10px;
    width: 220px;
}

.themeColorList li label 
{
    display: inline-block!Important;
    width: 15%; 
}

.themeColorList 
{
    padding-top: 5px!Important;
    padding-left: 25px!Important;
}

.themeColorList li { padding-top: 5px!Important;}

.themeColorList .active { border: 0!Important; }

.colorSchemeLabel
{
    width: 50px!important;
    text-align: left;
    vertical-align: middle;
}

.colorSchemeGroup
{
    display: inline-block;
}

.centerlabel{ text-align: center!important;}

.colorListName { max-width: 192px!Important; }

.oneColor 
{
    padding-left: 60px;
    width: 210px;
}
.cursorPointer{ cursor: default!Important;}

.colorscheme ul li { width : 100%!Important;}

label.styleswitch
{
    padding-left: 16px;
    width: 40px!Important;
}