﻿/*
 * Styles for tablet only
*/
#approvals-sidebar-wrapper {
  margin-right: -240px;
  margin-top: 0px;
  padding-left: 15px;
  padding-top: 20px;
  right: 0;
  width: 223px;
  background: #FFFFFF;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  border-left: 2px;
  border-left-style:solid;
  border-color: #D9D9D9;  
}
#menu-sidebar-wrapper {
  margin-right: -240px;
  margin-top: 0px;
  padding-left: 15px;
  padding-top: 20px;
  right: 0;
  width: 223px;
  background: #FFFFFF;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  border-left: 2px;
  border-left-style:solid;
  border-color: #D9D9D9;  
}
#approvals-sidebar-wrapper.active {
  right: 250px;
  width: 250px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
#menu-sidebar-wrapper.active {
    right: 250px;
    width: 250px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
body {
    background: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
body, body * {
    -webkit-tap-highlight-color: transparent;
}
.navbar-tablet .nav-collapse-tablet ul.pull-right li i {
    line-height: 50px;
}
.tablet-menus {
    list-style-type: none !important;
    margin: 0px;
}
.tablet-menus li a {
    padding: 0px !important;
}
.thumbnail {
    margin: 1px;
}
.thumbnail-view .approval-grid li.block {
    margin-bottom: 1px;
}
.thumbnail-view .approval-grid li.block .thumbnail label:hover input, .thumbnail-view .approval-grid li.block .thumbnail label.selected input, .thumbnail-view .approval-grid li.block .thumbnail label:hover .btn-group, .thumbnail-view .approval-grid li.block .thumbnail label input {
    visibility: hidden;
    display: none;
}
    .thumbnail-view .approval-grid li.block .thumbnail label.selected {
        -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.2), 0 3px 10px 0 rgba(0,0,0,.17);
        -moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,.2),0 3px 10px 0 rgba(0,0,0,.17);
        box-shadow: 0 2px 4px 0 rgba(0,0,0,.2), 0 3px 10px 0 rgba(0,0,0,.17);
        background-color: #fff;
    }
.pagination-tablet{
    border-top: none;
    padding-bottom: 0px;
}
.thumbnail-view 
{
    margin-left: 10px;
    width: auto;
}
#approvals-sidebar-wrapper, #menu-sidebar-wrapper
{
    margin-top: -10px;
}
@media (orientation : landscape)
{
    body {
        margin-top: 60px;
    }
}
@media (orientation : portrait)
{
    body {
        margin-top: 70px;
    }
}
.tablet-icon {
    font-size: 3em;
}
.tablet-icon.icon-share-alt {
    font-size: 2em;
}
.tablet-icon.icon-spinner {
    font-size: 2em;
}
.tablet-icon-disabled {
    color: #D9D9D9;
    opacity: 0.5;
}
.tablet-icon-hide {
    display: none !important;
}
.navbar-fixed-top
{
    margin-bottom: 0px;
    position: fixed !important;
}
.thumbnail-view .approval-grid li.block .thumbnail label:hover {
    background-color: #FFFFFF;
}
.thumbnail-view .approval-grid li.block .thumbnail label.lblApp.selected:hover {
    background-color: #fff;
}
#tblStatusView tr:hover {
    background-color: #FFFFFF;
}
#tblStatusView tr.lblApp.selected,
#tblStatusView tr.lblApp:hover {
    background-color: #F9F9F9;
}
#header .navbar {
    padding-top: 0px;
}
.navbar .container {
    width: auto;
}
.navbar-fixed-bottom .container {
    width: auto;
}
.navbar-inner 
{
    width: auto !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}
label.lblApp, label.lblApp:hover, #tblStatusView tr,#tblStatusView tr:hover {
    cursor: pointer;
}
.navbar .brand img {
    height: 30px;
}
.navbar-inner {
    min-height: 50px;
    max-height: 50px;
    height: 50px;
}
.well-foldertree {
    height: 380px;
    overflow-y: scroll; /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
}
.well-foldertree ul.foldertree li, .well-foldertree * {
    position: relative;
    -webkit-transform: translate3d(0, 0, 0);
}
@media (orientation : landscape)
{
    .well-foldertree {
        height: 300px;
    }
}
@media (orientation : portrait)
{
    .well-foldertree {
        height: 550px;
    }
}
div.pagination-tablet li a {
    padding: 2px 25px;
    margin: 0px;
    font-size: 15px;
    line-height: 40px;
    height: 40px;
}
.pagination-tablet ul > li > a:hover, 
.pagination-tablet ul > li > a:focus
{
    background-color: #FFF;
}
.keyboardOn .modal-backdrop.in,
.keyboardOn .modal.in {
    position: absolute !important;
}
.keyboardOn .thumbnail-view,
.keyboardOn .pagination-tablet,
.keyboardOn .navbar-tablet {
    visibility: hidden !important;
}
.keyboardOn {
    background-color: #000 !important;
}
.modal-backdrop.in {
    top: 0px !important;
    left: 0px !important;
    bottom: 0px !important;
    right: 0px !important;
    position: fixed;
    z-index: 1040;
}
/*.thumbnail-view .approval-grid li.block.render .thumbnail label .btn-group {
    visibility: hidden !important;
}*/
.nav-colored .badge {
    display: block;
}
.navbar .brand {
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 0 0 -5px;
}

#thumnailViewIcons .thumnailViewIconsRow {
    position: relative;
    top: 1px;
    justify-content: flex-end;
}

.thumbnail-view .approval-grid li.block .thumbnail label .btn-group {
    right: -2px;
    top: 2px;
}

.thumbnail-view .approval-grid li.block {
    margin-bottom: 10px;
}

.thumbnail-view .approval-grid li.block .thumbnail label {
    border: 0px;
}

.thumbnail-view .approval-grid .thumbnail label.lblApp {
    width: 244px;
    height: 305px !important;
}

.thumbnail-view .approval-grid li.block .approval {
    display: inline-block;
    height: 247px;
}

.thumbnail-view .approval-grid .thumbnail label.lblApp .approval .cell {
    width: 316px;
    height: 220px;
}

    .thumbnail-view .approval-grid .thumbnail label.lblApp .approval .cell a.approval-action {
        display: none;
    }

    .thumbnail-view .approval-grid .thumbnail label.lblApp .approval .cell .img-frame {
        width: 244px;
        height: 220px;
    }

        .thumbnail-view .approval-grid .thumbnail label.lblApp .approval .cell .img-frame img {
            max-width: 244px;
            max-height: 220px;
        }

.thumbnail .label.alignCentre {
    position: relative;
    top: 3px;
}

.thumbnail .decisions {
    margin: 0px 0 0 5px;
}

.SVG-fa-Icon {
    margin-right: 10px;
}

#thumnailViewIcons {
    width: 234px;
}