﻿.media-list .video a>img,
.media-list .manual a,
.media-list .download a {
    width: 80px;
}
.media-list .manual a>img,
.media-list .download a>img {
    width: 40px;
    margin: 0px auto;
}
@media (min-width: 1200px) 
{
    .media-list .video, 
    .media-list .manual,
    .media-list .download {
        width: 240px;
    }
    .media-list .video .media-body, .media-list .video>a,
    .media-list .manual .media-body, .media-list .manual>a,
    .media-list .download .media-body, .media-list .download>a {
        float: left;
        width: 85px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .media-list .video .media-body,
    .media-list .manual .media-body,
    .media-list .download .media-body {
        width: 150px;
    }
}
@media (min-width: 980px) and (max-width: 1199px)
{
    .media-list .video,
    .media-list .manual,
    .media-list .download {
        width: 190px;
    }
    .media-list .video .media-body, .media-list .video>a,
    .media-list .manual .media-body, .media-list .manual>a,
    .media-list .download .media-body, .media-list .download>a {
        float: left;
        width: 100px;
        overflow: hidden;
    }
    .media-list .video>a, 
    .media-list .manual>a,
    .media-list .download>a {
        width: 85px;
    }
}
@media (max-width: 980px) 
{
    .media-list .video .media-body, .media-list .video>a,
    .media-list .manual .media-body, .media-list .manual>a,
    .media-list .download .media-body, .media-list .download>a {
        width: 95px;
        text-overflow: ellipsis;
        display: block;
        white-space: nowrap;
    }
}
@media (min-width: 768px) and (max-width: 979px)
{
    .media-list .video,
    .media-list .manual,
    .media-list .download {
        width: 130px;
    }
}
@media (max-width: 767px)
{
    .first-column,
    .third-column {
        display: none !important;
    }
}
.media-list .video .media-body small,
.media-list .manual .media-body small,
.media-list .download .media-body small 
{
    font-size: 10px;
    height: 40px;
    overflow: hidden;
    display: block;
}
.media-list .video .media-heading,
.media-list .manual .media-heading,
.media-list .download .media-heading {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 13px;
}
.small-legend {
    font-size: 12px;
    font-weight: bold;
    color: #999;
    text-transform: uppercase;
    margin-bottom: 10px !important;
    display: block;
}
.homepage legend{
    margin-bottom: 10px;
}
.homepage .media-list {
    margin: 0px;
}

.media-list .video>a:hover {
    opacity: 0.75;
}
.small-manuals, .small-downloads {
    margin-top: 10px;
}
.training-videos,
.feature-videos {
    margin-bottom: 10px;
}
.homepage {
    padding-left: 10px;
}
.announcements {
    height: 625px;
    overflow: auto;
}
.training-videos, 
.manuals, 
.downloads, 
.feature-videos {
    height: 305px;
    overflow: auto;
}