@page  {
  margin: 0cm;
}
@page rotated {
  size: landscape;
}
* {
  background: none !important;
  color: black !important;
  text-shadow: none !important;
  filter: none !important;
  -ms-filter: none !important;
}
html,
body {
  height: auto !important;
}
body {
  font-size: 10pt;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  margin-left: 0mm;
  margin-right: 0mm;
}
/* Opera Fix*/
body:before {
  display: none;
}
.container {
  width: 100%;
}
.row-fluid [class*="span"] {
  -moz-box-sizing: none;
  display: block;
  float: none;
  margin-left: 0;
  min-height: auto;
  width: 100%;
}
#print {
  margin: 0;
}
#print .page {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 0 !important;
}
.page-header {
  border-bottom: 1pt solid #EEEEEE;
  margin: 0 0 20px;
  padding-bottom: 0;
}
.widget {
  width: 90% !important;
}
.widget-header {
  background: none;
  border: 1px solid #d4d4d4;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  -webkit-background-clip: none;
  -moz-background-clip: none;
  background-clip: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.widget-header h3 {
  color: #000000;
  font-size: 14pt;
  text-shadow: none;
}
.widget-header .widget-links {
  display: none;
}
.widget-header .btn-group {
  display: none;
}
.widget-content {
  background: none;
}
.grand-total {
  border-top: 1px solid #EEEEEE;
  margin: 20px 0 0px;
  padding-top: 0;
}
a,
a:visited {
  text-decoration: underline;
}
/* a[href]:after {
	    content: " (" attr(href) ")"
	}*/
abbr[title]:after {
  content: " (" attr(title) ")";
}
.ir a:after,
a[href^="javascript:"]:after,
a[href^="#"]:after {
  content: "";
}
pre,
blockquote {
  border: 1px solid #999;
  page-break-inside: avoid;
}
img {
  page-break-inside: avoid;
  max-width: 100%;
}
table {
  page-break-after: auto;
}
tr {
  page-break-inside: avoid;
  page-break-after: auto;
}
td {
  page-break-inside: avoid;
  page-break-after: auto;
}
thead {
  display: table-header-group;
}
tfoot {
  display: table-footer-group;
}
.btn,
.meta-count,
header,
footer,
.page-sort {
  display: none;
}
.approval-details-section {
  page-break-after: always;
  page-break-inside: avoid;
}
.approval-page-section {
  page-break-inside: avoid;
  border-bottom: 0px dashed #dddddd;
}
.approval-page-section .print-table {
  display: table;
}
.approval-page-section .print-table .image-col {
  width: 50%;
  display: table-cell;
  vertical-align: top;
}
.approval-page-section .print-table .image-col img {
  width: auto;
  display: block;
  margin: auto;
  
}
.img-polaroid {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin: 0px !important;
  padding: 0px !important;
  height: auto;
  width: auto;
  max-width: 210mm !important;
}
@media print and (min-width: 19cm) and (min-height: 28cm) and (max-width: 22cm) and (max-height: 30cm) {
    .img-polaroid {
        max-width: 29cm;
        max-height: 20cm;
    }
    @page {
       margin: 0;
    }
    .page {
        margin: 0;
    }
}
@media print and (min-width: 28cm) and (min-height: 20cm) and (max-width: 30cm) and (max-height: 22cm) {
    .img-polaroid {
        max-width: 29cm;
        max-height: 20cm;
    }
    @page {
       margin: 0;
    }
    .page {
        margin: 0;
    }
}
.approval-page-section .print-table .comment-col {
  width: 50%;
  display: table-cell;
  vertical-align: top;
  padding: 0 0 0 5%;
}
.approval-page-section-container {
	width: auto;
	height: auto;
	page-break-after: always;
	padding: 0 !important;
	margin: 0 auto !important;
    max-width: 210mm !important;
}
.print-page-header{
	display: inline-block;
	width: 100%;
	padding: 0;
	margin: 0;
}
.print-page-header h3{
	margin: 0;
	padding: 0;
}
.approval-page-section{
	padding: 0 !important;
}
.canvas-preview{
	display: none;
	visibility: hidden;
}
.comment-list li.comment {
  border-bottom: 1px solid #DDDDDD;
  page-break-inside: avoid;
}
.comment-list li.comment dl dt {
  font-size: 8pt;
}
.comment-list li.comment dl dd {
  font-size: 8pt;
  line-height: 10pt;
}
.comment-list li.comment dl dd p {
  margin: 0 0 4pt;
}
.comment-list li.comment dl dd.timestamp {
  font-size: 5pt;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

