.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a {
  color: #666666;
}
a:hover {
  color: #404040;
}
.wizard-steps {
  /*
	.completed-step a {
	    background: @pinkThemelinkColor;
	}
	.completed-step a:before, {
	    border-top: 19px solid @pinkThemelinkColor;
	    border-bottom: 19px solid @pinkThemelinkColor;
	}
	.completed-step a:after {
	    border-left: 19px solid @pinkThemelinkColor;
	}
*/

}
.wizard-steps .active-step a {
  background: #666666;
}
.wizard-steps .active-step a:before {
  border-top: 19px solid #666666;
  border-bottom: 19px solid #666666;
}
.wizard-steps .active-step a:after {
  border-left: 19px solid #666666;
}
.navbar-inner {
    background-color: #049CDB !important;
    /*background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
  background-image: -o-linear-gradient(top, #ffffff, #ffffff);
  background-image: linear-gradient(to bottom, #ffffff, #ffffff);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffffffff', GradientType=0);*/
}
.navbar {
  color: #555555;
}
.navbar .brand {
  color: #555555;
}
.navbar .navbar-link {
  color: #555555;
}
.navbar .navbar-link:hover {
  color: #333333;
}
.navbar-search .search-query {
  color: #ffffff;
  background-color: #ffffff;
  border: 1px solid #b3b3b3;
}
.navbar-search .search-query:-moz-placeholder {
  color: #cccccc;
}
.navbar-search .search-query:-ms-input-placeholder {
  color: #cccccc;
}
.navbar-search .search-query::-webkit-input-placeholder {
  color: #cccccc;
}
.navbar-search .search-query:focus,
.navbar-search .search-query.focused {
  color: #333333;
  background-color: #ffffff;
}
.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  background-color: transparent;
  color: #333333;
  text-decoration: none;
}
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  color: #555555;
  background-color: #f2f2f2;
}
.navbar .divider-vertical {
  background-color: #ffffff;
  border-right: 1px solid #ffffff;
}
.navbar .nav li.dropdown > a:hover .caret {
  border-top-color: #555555;
  border-bottom-color: #555555;
}
.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: #f2f2f2;
  color: #555555;
}
.navbar .nav li.dropdown > .dropdown-toggle .caret {
  border-top-color: #2f2f2f;
  border-bottom-color: #2f2f2f;
}
.navbar .nav li.dropdown.open > .dropdown-toggle .caret,
.navbar .nav li.dropdown.active > .dropdown-toggle .caret,
.navbar .nav li.dropdown.open.active > .dropdown-toggle .caret {
  border-top-color: #555555;
  border-bottom-color: #555555;
}
.nav-list > .active > a,
.czn-approval-item.czn-profile.active,
.nav-list > .active > a:hover {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  background-color: #666666;
}
.nav-pills > .active > a,
.nav-pills > .active > a:hover {
    color: #ffffff;
    background-color: #049CDB !important;
}
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a,
.czn-add-approvals-right li:hover{
  text-decoration: none;
  color: #ffffff;
  background-color: #666666;
  background-color: #616161;
  background-image: -moz-linear-gradient(top, #666666, #595959);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#666666), to(#595959));
  background-image: -webkit-linear-gradient(top, #666666, #595959);
  background-image: -o-linear-gradient(top, #666666, #595959);
  background-image: linear-gradient(to bottom, #666666, #595959);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff666666', endColorstr='#ff595959', GradientType=0);
}
.nav-tabs .dropdown-toggle .caret,
.nav-pills .dropdown-toggle .caret {
  border-top-color: #666666;
  border-bottom-color: #666666;
}
.nav-tabs .dropdown-toggle:hover .caret,
.nav-pills .dropdown-toggle:hover .caret {
  border-top-color: #404040;
  border-bottom-color: #404040;
}
.navbar .btn-navbar {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
  background-image: -o-linear-gradient(top, #ffffff, #ffffff);
  background-image: linear-gradient(to bottom, #ffffff, #ffffff);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffffffff', GradientType=0);
  border-color: #ffffff #ffffff #d9d9d9;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #ffffff;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.navbar .btn-navbar:hover,
.navbar .btn-navbar:focus,
.navbar .btn-navbar:active,
.navbar .btn-navbar.active,
.navbar .btn-navbar.disabled,
.navbar .btn-navbar[disabled] {
  color: #ffffff;
  background-color: #ffffff;
  *background-color: #f2f2f2;
}
.navbar .btn-navbar:active,
.navbar .btn-navbar.active {
  background-color: #e6e6e6;
}
a.thumbnail:hover {
  border-color: #666666;
}
.thumbnail-view .approval-grid li.block .thumbnail .approval .cell a .img-frame:hover {
  border-color: #666666;
}
.btn-primary,
.btn-primary:hover {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn-primary.active {
  color: rgba(255, 255, 255, 0.75);
}
.btn-primary {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #049CDB !important;
    /*background-image: -moz-linear-gradient(top, #555555, #3b3b3b);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#555555), to(#3b3b3b));
  background-image: -webkit-linear-gradient(top, #555555, #3b3b3b);
  background-image: -o-linear-gradient(top, #555555, #3b3b3b);
  background-image: linear-gradient(to bottom, #555555, #3b3b3b);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff555555', endColorstr='#ff3b3b3b', GradientType=0);
  border-color: #3b3b3b #3b3b3b #151515;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #3b3b3b;
   Darken IE7 buttons by default so they stand out more given they won't have borders 

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);*/
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  color: #ffffff;
  background-color: #3b3b3b;
  *background-color: #2f2f2f;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #222222 \9;
}
.widget-header .widget-links li a:hover {
  color: #404040;
}
.chzn-container .chzn-results .highlighted {
  background-color: #555555;
  background-color: #4b4b4b;
  background-image: -moz-linear-gradient(top, #555555, #3b3b3b);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#555555), to(#3b3b3b));
  background-image: -webkit-linear-gradient(top, #555555, #3b3b3b);
  background-image: -o-linear-gradient(top, #555555, #3b3b3b);
  background-image: linear-gradient(to bottom, #555555, #3b3b3b);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff555555', endColorstr='#ff3b3b3b', GradientType=0);
  color: #fff;
}
.chzn-container-active .chzn-choices {
  border: 1px solid #666666;
}
@media (max-width: 979px) {
  .nav-collapse .nav .nav-header {
    color: #555555;
  }
  .nav-collapse .nav > li > a,
  .nav-collapse .dropdown-menu a {
    color: #555555;
  }
  .nav-collapse .nav > li > a:hover,
  .nav-collapse .dropdown-menu a:hover {
    background-color: #ffffff;
  }
  .nav-collapse .navbar-form,
  .nav-collapse .navbar-search {
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
  }
}
.primary-menu > li > a 
{
    color: #000;
}

.navbar .nav.czn-profiles-menu > li > a:focus span,
.navbar .nav.czn-profiles-menu > li > a:hover span{
    color: #FFFFFF !important;
}
.navbar .nav.czn-profiles-menu > li.active > a span{
    color: #555555 !important;
}
.navbar .nav.czn-profiles-menu > li.active > a:focus span,
.navbar .nav.czn-profiles-menu > li.active > a:hover span{
    color: #FFFFFF !important;
}