.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a {
  color: #1368a4;
}
a:hover {
  color: #0b3d5f;
}
.wizard-steps {
  /*
	.completed-step a {
	    background: @blueThemelinkColor;
	}
	.completed-step a:before, {
	    border-top: 19px solid @blueThemelinkColor;
	    border-bottom: 19px solid @blueThemelinkColor;
	}
	.completed-step a:after {
	    border-left: 19px solid @blueThemelinkColor;
	}
*/

}
.wizard-steps .active-step a {
  background: #1368a4;
}
.wizard-steps .active-step a:before {
  border-top: 19px solid #1368a4;
  border-bottom: 19px solid #1368a4;
}
.wizard-steps .active-step a:after {
  border-left: 19px solid #1368a4;
}
.navbar-inner {
    background-color: #049CDB !important;
    /*background-image: -moz-linear-gradient(top, #115c92, #0e4e7b);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#115c92), to(#0e4e7b));
  background-image: -webkit-linear-gradient(top, #115c92, #0e4e7b);
  background-image: -o-linear-gradient(top, #115c92, #0e4e7b);
  background-image: linear-gradient(to bottom, #115c92, #0e4e7b);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff115c92', endColorstr='#ff0e4e7b', GradientType=0);
  border-bottom: 1px solid #0c3f64;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);*/
}
.navbar {
  color: #ffffff;
}
.navbar .brand {
  color: #ffffff;
}
.navbar .navbar-link {
  color: #ffffff;
}
.navbar .navbar-link:hover {
  color: #ffffff;
}
.navbar-search .search-query {
  color: #ffffff;
  background-color: #2494e5;
  border: 1px solid #0c3f64;
}
.navbar-search .search-query:-moz-placeholder {
  color: #cccccc;
}
.navbar-search .search-query:-ms-input-placeholder {
  color: #cccccc;
}
.navbar-search .search-query::-webkit-input-placeholder {
  color: #cccccc;
}
.navbar-search .search-query:focus,
.navbar-search .search-query.focused {
  color: #333333;
  background-color: #ffffff;
}
.navbar .nav > li > a {
  color: #cccccc;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  background-color: transparent;
  color: #ffffff;
  text-decoration: none;
}
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  color: #ffffff;
  background-color: #0c3f64;
}
.navbar .nav li.dropdown > a:hover .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.navbar .divider-vertical {
  background-color: #0e4e7b;
  border-right: 1px solid #115c92;
}
.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: #0c3f64;
  color: #ffffff;
}
.navbar .nav li.dropdown > .dropdown-toggle .caret {
  border-top-color: #cccccc;
  border-bottom-color: #cccccc;
}
.navbar .nav li.dropdown.open > .dropdown-toggle .caret,
.navbar .nav li.dropdown.active > .dropdown-toggle .caret,
.navbar .nav li.dropdown.open.active > .dropdown-toggle .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.nav-list > .active > a,
.nav-list > .active > a:hover {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  background-color: #1368a4;
}
.nav-pills > .active > a,
.czn-approval-item.czn-profile.active,
.nav-pills > .active > a:hover {
    color: #ffffff;
    background-color: #049CDB !important;
}
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a,
.czn-add-approvals-right li:hover{
  text-decoration: none;
  color: #ffffff;
  background-color: #1368a4;
  background-color: #12629b;
  background-image: -moz-linear-gradient(top, #1368a4, #105a8d);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1368a4), to(#105a8d));
  background-image: -webkit-linear-gradient(top, #1368a4, #105a8d);
  background-image: -o-linear-gradient(top, #1368a4, #105a8d);
  background-image: linear-gradient(to bottom, #1368a4, #105a8d);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1368a4', endColorstr='#ff105a8d', GradientType=0);
}
.nav-tabs .dropdown-toggle .caret,
.nav-pills .dropdown-toggle .caret {
  border-top-color: #1368a4;
  border-bottom-color: #1368a4;
}
.nav-tabs .dropdown-toggle:hover .caret,
.nav-pills .dropdown-toggle:hover .caret {
  border-top-color: #0b3d5f;
  border-bottom-color: #0b3d5f;
}
.navbar .btn-navbar {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #105689;
  background-image: -moz-linear-gradient(top, #115c92, #0e4e7b);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#115c92), to(#0e4e7b));
  background-image: -webkit-linear-gradient(top, #115c92, #0e4e7b);
  background-image: -o-linear-gradient(top, #115c92, #0e4e7b);
  background-image: linear-gradient(to bottom, #115c92, #0e4e7b);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff115c92', endColorstr='#ff0e4e7b', GradientType=0);
  border-color: #0e4e7b #0e4e7b #062237;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #0e4e7b;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.navbar .btn-navbar:hover,
.navbar .btn-navbar:focus,
.navbar .btn-navbar:active,
.navbar .btn-navbar.active,
.navbar .btn-navbar.disabled,
.navbar .btn-navbar[disabled] {
  color: #ffffff;
  background-color: #0e4e7b;
  *background-color: #0c3f64;
}
.navbar .btn-navbar:active,
.navbar .btn-navbar.active {
  background-color: #09314d \9;
}
.widget-header .widget-links li a:hover {
  color: #0b3d5f;
}
a.thumbnail:hover {
  border-color: #1368a4;
}
.thumbnail-view .approval-grid li.block .thumbnail .approval .cell a .img-frame:hover {
  border-color: #1368a4;
}
.btn-primary,
.btn-primary:hover {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn-primary.active {
  color: rgba(255, 255, 255, 0.75);
}
.btn-primary {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #049CDB !important;
    /*background-image: -moz-linear-gradient(top, #1368a4, #0e4b76);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1368a4), to(#0e4b76));
  background-image: -webkit-linear-gradient(top, #1368a4, #0e4b76);
  background-image: -o-linear-gradient(top, #1368a4, #0e4b76);
  background-image: linear-gradient(to bottom, #1368a4, #0e4b76);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1368a4', endColorstr='#ff0e4b76', GradientType=0);
  border-color: #0e4b76 #0e4b76 #062032;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #0e4b76;
   Darken IE7 buttons by default so they stand out more given they won't have borders 

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);*/
}
/*.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  color: #ffffff;
  background-color: #0e4b76;
  *background-color: #0b3d5f;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #082e49 \9;
}*/
.chzn-container .chzn-results .highlighted {
  background-color: #0e4e7b;
  background-color: #105689;
  background-image: -moz-linear-gradient(top, #115c92, #0e4e7b);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#115c92), to(#0e4e7b));
  background-image: -webkit-linear-gradient(top, #115c92, #0e4e7b);
  background-image: -o-linear-gradient(top, #115c92, #0e4e7b);
  background-image: linear-gradient(to bottom, #115c92, #0e4e7b);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff115c92', endColorstr='#ff0e4e7b', GradientType=0);
}
.chzn-container-active .chzn-choices {
  border: 1px solid #1368a4;
}
@media (max-width: 979px) {
  .nav-collapse .nav .nav-header {
    color: #ffffff;
  }
  .nav-collapse .nav > li > a,
  .nav-collapse .dropdown-menu a {
    color: #ffffff;
  }
  .nav-collapse .nav > li > a:hover,
  .nav-collapse .dropdown-menu a:hover {
    background-color: #0e4e7b;
  }
  .nav-collapse .navbar-form,
  .nav-collapse .navbar-search {
    border-top: 1px solid #0e4e7b;
    border-bottom: 1px solid #0e4e7b;
  }
}
.primary-menu > li > a 
{
    color: #fff;
}
.navbar .dropdown-toggle > b.caret {
    border-top: 4px solid #FFF;
}
.dropdown-menu li.czn-version:hover{
    background-color: #1368a4 !important;    
}
.navbar .nav.czn-profiles-menu > li > a:focus span,
.navbar .nav.czn-profiles-menu > li > a:hover span{
    color: #ffffff !important;
}
.navbar .nav.czn-profiles-menu > li.active > a span,
.navbar .nav.czn-profiles-menu > li.active > a:focus span,
.navbar .nav.czn-profiles-menu > li.active > a:hover span{
    color: #ffffff !important;
}