/* USE FOR CUSTOM HEADER BACKGROUND COLOR */

.navbar-inner {
  background: #headerBackground;
}
.navbar .nav .active > a,
.navbar .nav .active > a:hover {
  background-color: rgba(0,0,0,.25);
}
