.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a {
  color: #ed1556;
}
a:hover {
  color: #a90d3c;
}
.wizard-steps {
  /*
	.completed-step a {
	    background: @clearThemelinkColor;
	}
	.completed-step a:before, {
	    border-top: 19px solid @clearThemelinkColor;
	    border-bottom: 19px solid @clearThemelinkColor;
	}
	.completed-step a:after {
	    border-left: 19px solid @clearThemelinkColor;
	}
*/

}
.wizard-steps .active-step a {
  background: #ed1556;
}
.wizard-steps .active-step a:before {
  border-top: 19px solid #ed1556;
  border-bottom: 19px solid #ed1556;
}
.wizard-steps .active-step a:after {
  border-left: 19px solid #ed1556;
}
.navbar-inner {
    background-color: #049CDB !important;
    /*background-image: -moz-linear-gradient(top, #333333, #111111);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#111111));
  background-image: -webkit-linear-gradient(top, #333333, #111111);
  background-image: -o-linear-gradient(top, #333333, #111111);
  background-image: linear-gradient(to bottom, #333333, #111111);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff333333', endColorstr='#ff111111', GradientType=0);
  border-bottom: 1px solid #222222;*/
}
.navbar {
  color: #999999;
}
.navbar .brand {
  color: #999999;
}
.navbar .navbar-link {
  color: #999999;
}
.navbar .navbar-link:hover {
  color: #ffffff;
}
.navbar-search .search-query {
  color: #ffffff;
  background-color: #515151;
  border: 1px solid #111111;
}
.navbar-search .search-query:-moz-placeholder {
  color: #cccccc;
}
.navbar-search .search-query:-ms-input-placeholder {
  color: #cccccc;
}
.navbar-search .search-query::-webkit-input-placeholder {
  color: #cccccc;
}
.navbar-search .search-query:focus,
.navbar-search .search-query.focused {
  color: #333333;
  background-color: #ffffff;
}
.navbar .nav > li > a {
  color: #8a8a8a;
  text-shadow: 0 1px 0 #333333;
}
.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  background-color: transparent;
  color: #ffffff;
  text-decoration: none;
}
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  color: #ffffff;
  background-color: #111111;
}
.navbar .divider-vertical {
  background-color: #111111;
  border-right: 1px solid #333333;
}
.navbar .nav li.dropdown > a:hover .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: #111111;
  color: #ffffff;
}
.navbar .nav li.dropdown > .dropdown-toggle .caret {
  border-top-color: #999999;
  border-bottom-color: #999999;
}
.navbar .nav li.dropdown.open > .dropdown-toggle .caret,
.navbar .nav li.dropdown.active > .dropdown-toggle .caret,
.navbar .nav li.dropdown.open.active > .dropdown-toggle .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.nav-list > .active > a,
.czn-approval-item.czn-profile.active,
.nav-list > .active > a:hover {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  background-color: #ed1556;
}
.nav-pills > .active > a,
.nav-pills > .active > a:hover {
    color: #ffffff;
    background-color: #049CDB !important;
}
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a,
.czn-add-approvals-right li:hover{
  text-decoration: none;
  color: #ffffff;
  background-color: #ed1556;
  background-color: #e51352;
  background-image: -moz-linear-gradient(top, #ed1556, #d8114d);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ed1556), to(#d8114d));
  background-image: -webkit-linear-gradient(top, #ed1556, #d8114d);
  background-image: -o-linear-gradient(top, #ed1556, #d8114d);
  background-image: linear-gradient(to bottom, #ed1556, #d8114d);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffed1556', endColorstr='#ffd8114d', GradientType=0);
}
.nav-tabs .dropdown-toggle .caret,
.nav-pills .dropdown-toggle .caret {
  border-top-color: #ed1556;
  border-bottom-color: #ed1556;
}
.nav-tabs .dropdown-toggle:hover .caret,
.nav-pills .dropdown-toggle:hover .caret {
  border-top-color: #a90d3c;
  border-bottom-color: #a90d3c;
}
.navbar .btn-navbar {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #252525;
  background-image: -moz-linear-gradient(top, #333333, #111111);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#111111));
  background-image: -webkit-linear-gradient(top, #333333, #111111);
  background-image: -o-linear-gradient(top, #333333, #111111);
  background-image: linear-gradient(to bottom, #333333, #111111);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff333333', endColorstr='#ff111111', GradientType=0);
  border-color: #111111 #111111 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #111111;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.navbar .btn-navbar:hover,
.navbar .btn-navbar:focus,
.navbar .btn-navbar:active,
.navbar .btn-navbar.active,
.navbar .btn-navbar.disabled,
.navbar .btn-navbar[disabled] {
  color: #ffffff;
  background-color: #111111;
  *background-color: #040404;
}
.navbar .btn-navbar:active,
.navbar .btn-navbar.active {
  background-color: #000000 \9;
}
a.thumbnail:hover {
  border-color: #ed1556;
}
.thumbnail-view .approval-grid li.block .thumbnail .approval .cell a .img-frame:hover {
  border-color: #ed1556;
}
.btn-primary,
.btn-primary:hover {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn-primary.active {
  color: rgba(255, 255, 255, 0.75);
}
.btn-primary {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #049CDB !important;
    /*background-image: -moz-linear-gradient(top, #ed1556, #c00f44);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ed1556), to(#c00f44));
  background-image: -webkit-linear-gradient(top, #ed1556, #c00f44);
  background-image: -o-linear-gradient(top, #ed1556, #c00f44);
  background-image: linear-gradient(to bottom, #ed1556, #c00f44);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffed1556', endColorstr='#ffc00f44', GradientType=0);
  border-color: #c00f44 #c00f44 #79092b;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #c00f44;
   Darken IE7 buttons by default so they stand out more given they won't have borders 

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);*/
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  color: #ffffff;
  background-color: #c00f44;
  *background-color: #a90d3c;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #910b33 \9;
}
.widget-header .widget-links li a:hover {
  color: #a90d3c;
}
@media (max-width: 979px) {
  .nav-collapse .nav .nav-header {
    color: #999999;
  }
  .nav-collapse .nav > li > a,
  .nav-collapse .dropdown-menu a {
    color: #999999;
  }
  .nav-collapse .nav > li > a:hover,
  .nav-collapse .dropdown-menu a:hover {
    background-color: #111111;
  }
  .nav-collapse .navbar-form,
  .nav-collapse .navbar-search {
    border-top: 1px solid #111111;
    border-bottom: 1px solid #111111;
  }
}
.primary-menu > li > a 
{
    color: #fff;
}
.navbar .dropdown-toggle > b.caret {
    border-top: 4px solid #FFF;
}
.tablet-icon {
    color: #FFFFFF;
}
.dropdown-menu li.czn-version > a:hover{
    background-color: #ed1556 !important;
}

.navbar .nav.czn-profiles-menu > li > a:focus span,
.navbar .nav.czn-profiles-menu > li > a:hover span{
    color: #ffffff !important;
}
.navbar .nav.czn-profiles-menu > li.active > a span,
.navbar .nav.czn-profiles-menu > li.active > a:focus span,
.navbar .nav.czn-profiles-menu > li.active > a:hover span{
    color: #ffffff !important;
}

.czn-version .czn-checkbox-icon.fa.fa-check-square-o{
    color:#111111!important;
}