.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a {
  color: #049cdb;
}
a:hover {
  color: #036690;
}
.wizard-steps {
  /*
	.completed-step a {
	    background: @greenThemelinkColor;
	}
	.completed-step a:before, {
	    border-top: 19px solid @greenThemelinkColor;
	    border-bottom: 19px solid @greenThemelinkColor;
	}
	.completed-step a:after {
	    border-left: 19px solid @greenThemelinkColor;
	}
*/

}
.wizard-steps .active-step a {
  background: #049cdb;
}
.wizard-steps .active-step a:before {
  border-top: 19px solid #049cdb;
  border-bottom: 19px solid #049cdb;
}
.wizard-steps .active-step a:after {
  border-left: 19px solid #049cdb;
}
.navbar-inner {
    background-color: #049CDB !important;
    /*background-image: -moz-linear-gradient(top, #78a352, #6c9249);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#78a352), to(#6c9249));
  background-image: -webkit-linear-gradient(top, #78a352, #6c9249);
  background-image: -o-linear-gradient(top, #78a352, #6c9249);
  background-image: linear-gradient(to bottom, #78a352, #6c9249);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff78a352', endColorstr='#ff6c9249', GradientType=0);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);*/
}
.chzn-container .chzn-results .highlighted {
  background-color: #049cdb;
  background-color: #0495d1;
  background-image: -moz-linear-gradient(top, #049cdb, #048ac2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#049cdb), to(#048ac2));
  background-image: -webkit-linear-gradient(top, #049cdb, #048ac2);
  background-image: -o-linear-gradient(top, #049cdb, #048ac2);
  background-image: linear-gradient(to bottom, #049cdb, #048ac2);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff049cdb', endColorstr='#ff048ac2', GradientType=0);
  color: #fff;
}
.chzn-container-active .chzn-choices {
  border: 1px solid #049cdb;
}
.navbar {
  color: #ffffff;
}
.navbar .brand {
  color: #ffffff;
}
.navbar .navbar-link {
  color: #ffffff;
}
.navbar .navbar-link:hover {
  color: #ffffff;
}
.navbar-search .search-query {
  color: #ffffff;
  background-color: #acc893;
}
.navbar-search .search-query:-moz-placeholder {
  color: #cccccc;
}
.navbar-search .search-query:-ms-input-placeholder {
  color: #cccccc;
}
.navbar-search .search-query::-webkit-input-placeholder {
  color: #cccccc;
}
.navbar-search .search-query:focus,
.navbar-search .search-query.focused {
  color: #333333;
  background-color: #ffffff;
}
.navbar .nav > li > a {
  color: #d9d9d9;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  background-color: transparent;
  color: #ffffff;
  text-decoration: none;
}
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus
{
  color: #ffffff;
  background-color: #5f8141;
}
.navbar .nav li.dropdown > a:hover .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.navbar .divider-vertical {
  background-color: #6c9249;
  border-right: 1px solid #78a352;
}
.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: #5f8141;
  color: #ffffff;
}
.navbar .nav li.dropdown > .dropdown-toggle .caret {
  border-top-color: #d9d9d9;
  border-bottom-color: #d9d9d9;
}
.navbar .nav li.dropdown.open > .dropdown-toggle .caret,
.navbar .nav li.dropdown.active > .dropdown-toggle .caret,
.navbar .nav li.dropdown.open.active > .dropdown-toggle .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.nav-list > .active > a,
.czn-approval-item.czn-profile.active,
.nav-list > .active > a:hover {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  background-color: #049cdb;
}
.nav-pills > .active > a,
.nav-pills > .active > a:hover {
    color: #ffffff;
    background-color: #049CDB !important;
}
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a,
.czn-add-approvals-right li:hover{
  text-decoration: none;
  color: #ffffff;
  background-color: #049cdb;
  background-color: #0495d1;
  background-image: -moz-linear-gradient(top, #049cdb, #048ac2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#049cdb), to(#048ac2));
  background-image: -webkit-linear-gradient(top, #049cdb, #048ac2);
  background-image: -o-linear-gradient(top, #049cdb, #048ac2);
  background-image: linear-gradient(to bottom, #049cdb, #048ac2);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff049cdb', endColorstr='#ff048ac2', GradientType=0);
}
.btn-group.open .btn-primary.dropdown-toggle {
  background-color: #d8690a;
}
.nav-tabs .dropdown-toggle .caret,
.nav-pills .dropdown-toggle .caret {
  border-top-color: #049cdb;
  border-bottom-color: #049cdb;
}
.nav-tabs .dropdown-toggle:hover .caret,
.nav-pills .dropdown-toggle:hover .caret {
  border-top-color: #036690;
  border-bottom-color: #036690;
}
.navbar .btn-navbar {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #739c4f;
  background-image: -moz-linear-gradient(top, #78a352, #6c9249);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#78a352), to(#6c9249));
  background-image: -webkit-linear-gradient(top, #78a352, #6c9249);
  background-image: -o-linear-gradient(top, #78a352, #6c9249);
  background-image: linear-gradient(to bottom, #78a352, #6c9249);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff78a352', endColorstr='#ff6c9249', GradientType=0);
  border-color: #6c9249 #6c9249 #465f30;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #6c9249;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.navbar .btn-navbar:hover,
.navbar .btn-navbar:focus,
.navbar .btn-navbar:active,
.navbar .btn-navbar.active,
.navbar .btn-navbar.disabled,
.navbar .btn-navbar[disabled] {
  color: #ffffff;
  background-color: #6c9249;
  *background-color: #5f8141;
}
.navbar .btn-navbar:active,
.navbar .btn-navbar.active {
  background-color: #537038 \9;
}
a.thumbnail:hover {
  border-color: #049cdb;
}
.thumbnail-view .approval-grid li.block .thumbnail .approval .cell a .img-frame:hover {
  border-color: #049cdb;
}
.btn-primary,
.btn-primary:hover {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn-primary.active {
  color: rgba(255, 255, 255, 0.75);
}
.btn-primary {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #049CDB !important;
    /*background-image: -moz-linear-gradient(top, #f58220, #d8690a);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f58220), to(#d8690a));
  background-image: -webkit-linear-gradient(top, #f58220, #d8690a);
  background-image: -o-linear-gradient(top, #f58220, #d8690a);
  background-image: linear-gradient(to bottom, #f58220, #d8690a);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff58220', endColorstr='#ffd8690a', GradientType=0);
  border-color: #d8690a #d8690a #8f4506;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #d8690a;
   Darken IE7 buttons by default so they stand out more given they won't have borders 

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);*/
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  color: #ffffff;
  background-color: #d8690a;
  *background-color: #c05d09;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #a75108 \9;
}
.widget-header .widget-links li a:hover {
  color: #036690;
}
@media (max-width: 979px) {
  .nav-collapse .nav .nav-header {
    color: #ffffff;
  }
  .nav-collapse .nav > li > a,
  .nav-collapse .dropdown-menu a {
    color: #ffffff;
  }
  .nav-collapse .nav > li > a:hover,
  .nav-collapse .dropdown-menu a:hover {
    background-color: #6c9249;
  }
  .nav-collapse .navbar-form,
  .nav-collapse .navbar-search {
    border-top: 1px solid #6c9249;
    border-bottom: 1px solid #6c9249;
  }
}
.primary-menu > li > a 
{
    color: #fff;
}
.dropdown-menu li.czn-version > a:hover{
    background-color: #049cdb !important;
}
.navbar .nav.czn-profiles-menu > li > a:focus span,
.navbar .nav.czn-profiles-menu > li > a:hover span{
    color: #ffffff !important;
}
.navbar .nav.czn-profiles-menu > li.active > a span,
.navbar .nav.czn-profiles-menu > li.active > a:focus span,
.navbar .nav.czn-profiles-menu > li.active > a:hover span{
    color: #ffffff !important;
}