﻿@model GMGColorDAL.CustomModels.Plans
@using GMGColor.Resources

@{
    GMGColorBusinessLogic.DbContextBL context = HttpContext.Current.Items[GMGColorDAL.DALUtils.DatabaseContext] as GMGColorBusinessLogic.DbContextBL;
}
<div id="modalDialogAddEditBillingPlanType" class="modal hide">
    @using (Html.BeginForm("SaveBillingPlanType", "Plans", FormMethod.Post, new { @class = "dirtyignore" }))
    {
        @Html.AntiForgeryToken()
        <div class="modal-header">
            <a href="javascript:void(0);" class="close" data-dismiss="modal" title="@Resources.btnClose" onclick="clearText();ResetModel();">
                &times;</a>
            <h3 id="modelHeader">
                @((Model.objBillingPlanType.ID == 0) ? Resources.headerAddBillingPlanType : Resources.headerEditBillingPlanType)</h3>
        </div>
        <div class="modal-body">
            <div class="control-group AppModule @(Model.objBillingPlanType.ID == 0 ? string.Empty : "hide")">
                <label class="control-label">@Resources.ProductType</label>
                <div class="controls">
                    @Html.DropDownListFor(m => m.objBillingPlanType.AppModule, new SelectList(ViewBag.AvailableModules, "ID", "Name"))
                    @Html.ValidationMessageFor(m => m.objBillingPlanType.AppModule)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">@Resources.lblName</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.objBillingPlanType.Name)
                    @Html.ValidationMessageFor(m => m.objBillingPlanType.Name)
                </div>
            </div>
            <div class="control-group CollaborateSettings">
                <label class="control-label">@Resources.lblMediaService</label>
                <div class="controls">
                    @Html.DropDownListFor(m => m.objBillingPlanType.MediaService, new SelectList(GMGColorDAL.DALUtils.SearchObjects<GMGColorDAL.MediaService>(o => o.ID > 0, context), "ID", "Name"))
                    @Html.ValidationMessageFor(m => m.objBillingPlanType.MediaService)
                </div>
            </div>
            <div class="control-group CollaborateSettings">
                <p>
                    @Resources.lblPlanFeaturesExtending:</p>
                <div class="controls">
                    <label class="checkbox">
                        @Html.CheckBoxFor(m => m.objBillingPlanType.EnablePrePressTools, Model.IsPrePressOptionDisabled ? (object)new { disabled = "disabled" } : new { })
                        @Resources.lblPrePress
                    </label>
                    <p class="help-block muted">
                        <span class="muted">@Resources.lblPrePressDescription</span></p>
                </div>
                <div class="controls">
                    <label class="checkbox">
                        @Html.CheckBoxFor(m => m.objBillingPlanType.EnableMediaTools, Model.IsMultimediaOptionDisabled ? (object)new { disabled = "disabled" } : new { })
                        @Resources.lblMultimedia
                    </label>
                    <p class="help-block muted">
                        <span class="muted">@Resources.lblMultimediaDescription</span></p>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            @Html.HiddenFor(model => model.objBillingPlanType.ID)
            <button type="submit" id="buttonSaveEditBillingPlanType" class="btn btn-primary" data-loading-text="@Resources.btnSaving">@((Model.objBillingPlanType.ID == 0) ? Resources.btnSave : Resources.btnSaveChanges)</button>
        </div>
        <script type="text/javascript">
            this.modelDialog = '@ViewBag.ModelDialog';
            $(document).ready(function () {
                ($('#objBillingPlanType_AppModule').val() == "1") ? $('.CollaborateSettings').show() : $('.CollaborateSettings').hide();
            });

            function clearText() {
                $('#hdnSelected').val('0');
                $('#objBillingPlanType_Name').val('');
                $('#objBillingPlanType_ID').val('0');
                $('#modelHeader')[0].innerHTML = '@Resources.headerAddBillingPlanType';
                $('#buttonSaveEditBillingPlanType')[0].innerHTML = '@Resources.btnSave';
                $(".AppModule").show();
            }

            $('#objBillingPlanType_AppModule').change(function () {
                ($(this).val() == "1") ? $('.CollaborateSettings').show() : $('.CollaborateSettings').hide();
            });
        </script>
    }
</div>