﻿@model GMGColorDAL.CustomModels.NewCollaborateBillingPlanViewModel
@using GMGColor.Resources;
@{    
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";  
}

@Html.Hidden("collaborateModuleId", (int)(@ViewBag.CollaborateModuleId != null ? @ViewBag.CollaborateModuleId : default(int)))
@Html.Hidden("currencySymbol", Model.Currency)

<ul class="breadcrumb">
    <li>
    <a href="Index">@Resources.lblPlans</a>  @(Model.ID > 0 ? "/  " + Model.BillingPlanName : "/")
    </li>
</ul>
<div class="widget">
    <div class="widget-header">        
        <h3>
            @((Model.ID > 0) ? Resources.lblEditNewCollaborateBillingPlan : Resources.lblAddNewCollaborateBillingPlan)
        </h3>
    </div>
    <!-- /widget-header -->
    <div class="widget-content">
        <div class="row-fluid">
            @using (Html.BeginForm("SaveNewCollaborateBillingPlan", "Plans", FormMethod.Post, new { @class = "form-horizontal", id = "saveNewBillingPlanForm" }))
            {
                @Html.AntiForgeryToken()
                <fieldset>
                    <div class="control-group">
                        <label class="control-label">@Resources.ProductType</label>
                        <div class="controls" >
                        @{
                            @Html.TextBoxFor(m => m.ProductType, new {disabled = "disabled" })
                        }
                        </div>
                    </div>
                    <div id="planType" class="control-group">
                        <label class="control-label">@Resources.lblType</label>
                        <div class="controls">
                            @Html.DropDownListFor((m => m.SelectedBilingPlanType), new SelectList(Model.BillingPlanTypes, "ID", "Name", Model.SelectedBilingPlanType), Resources.lblSelectProductType)
                            @Html.ValidationMessageFor(m => m.SelectedBilingPlanType)
                        </div>
                    </div>
                    <div id="planName" class="control-group">
                        <label class="control-label">@Resources.lblName</label>
                        <div class="controls">
                            @Html.TextBoxFor(m => m.BillingPlanName)
                            @Html.ValidationMessageFor(m => m.BillingPlanName)
                        </div>
                    </div>
                    <div class="control-group" style="display: inline-flex">
                        <div class="controls">
                            <label id="fixedPriceLabel" class="checkbox">
                                @Html.CheckBoxFor(m => m.isFixedPlan, new { id = "chkIsFixed" })
                                @Resources.lblIsFixedPricePlan
                            </label>
                        </div>
                        <div class="controls" style="margin-left: 35px;">
                            <label class="checkbox">
                                @Html.CheckBoxFor(m =>m.isDemoPlan, new { id = "chkIsDemo" })
                                @Resources.lblIsDemoPlan
                            </label>
                        </div>
                    </div>
                    <div id="dvMu" class="control-group" style="@(Model.isFixedPlan ? "display:none;" : "display:block;")">
                        <label class="control-label">@Resources.lblMaxUsers</label>
                        <div class="controls">
                            @Html.TextBoxFor((m => m.MaxUsers), new { @class = "iintiger", @id = "MaxUsers" })
                            @Html.ValidationMessageFor(m => m.MaxUsers)
                        </div>
                    </div>
                    <div id="dvMs" class="control-group" style="@(Model.isFixedPlan ? "display:none;" : "display:block;")">
                        <label class="control-label">@Resources.lblMaxUsedStorage</label>
                        <div class="controls">
                            @Html.TextBoxFor((m => m.MaxStorageInGb), new { @class = "iintiger", @id = "MaxStorageInGb" })
                            @Html.ValidationMessageFor(m => m.MaxStorageInGb)
                        </div>
                    </div>
                    
                    <div class="control-group">
                        <label class="control-label">@Resources.lblPricePerMonth</label>
                        <div class="controls">
                            @Html.TextBoxFor((m => m.Price), new { @class = "idouble" })
                            @Html.ValidationMessageFor(m => m.Price)
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">@Resources.lblPricePerYear</label>
                        <div class="controls">
                            <input id="txtPricePerYear" readonly="readonly" type="text" value="@Model.Currency" />
                        </div>
                    </div>
                   <div id="cpConnections" class="control-group hide">
                        <label class="control-label">@Resources.lblCpConnections</label>
                        <div class="controls">
                            @Html.TextBoxFor(m => m.ColorProofConnections, new { @class = "iintiger", @maxlength = "5" })
                        </div>
                    </div>
                </fieldset>
                <div class="form-actions">
                    @Html.HiddenFor(m => m.ID)
                    <button type="submit" id="btnSaveChangesBillingPlan" class="btn btn-primary" name="action" value="SaveNewCollaborateBillingPlan" data-loading-text="@Resources.btnSaving">@(Model.ID == 0 ? Resources.btnSave : Resources.btnSaveChanges)</button>
                </div>
            }
        </div>
        <!-- /row-fluid -->
    </div>
    <!-- /widget-content -->
</div>
<!-- /widget -->

@{
    Bundles.Reference("plan-newCollaborateBillingPlan");
}