﻿@model GMGColorDAL.CustomModels.Plans
@using GMGColor.Resources;
@using GMGColorBusinessLogic
@using GMGColorDAL
@using GMGColorDAL.Common
@{    
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
    GMGColorBusinessLogic.DbContextBL context = HttpContext.Current.Items[GMGColorDAL.DALUtils.DatabaseContext] as GMGColorBusinessLogic.DbContextBL;
    var accountFilteringId = Model.objLoggedAccountType == AccountType.Type.GMGColor ? null : (int?) Model.objLoggedAccount.ID;    
}

<ul class="breadcrumb">
    <li><a href="@Url.Action("Index")">@Resources.lblPlans</a>  @(Model.objBillingPlan.ID > 0 ? "/  " + Model.objBillingPlan.Name : "/")</li>
</ul>
<div class="widget">
    <div class="widget-header">        
        <h3>@((Model.objBillingPlan.ID > 0) ? Resources.lblEditBillingPlan : Resources.lblAddBillingPlan)</h3>
    </div>
    <!-- /widget-header -->
    <div class="widget-content">
        <div class="row-fluid">
            @Html.ValidationSummary(true)
            @using (Html.BeginForm("", "Plans", FormMethod.Post, new {@id="frmAddEditBilling", @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()
                <fieldset>
                    <div class="control-group">
                        <label class="control-label">@Resources.ProductType</label>
                        <div class="controls" >
                            @{
                                object displayMode = (Model.objBillingPlan.ID == 0) ? null : new { disabled = "disabled" };
                                @Html.DropDownListFor((m => m.objBillingPlanType.AppModule), new SelectList(PlansBL.GetAccountAvailableModules(Model.objLoggedAccountType, Model.objLoggedAccount.ID, context), "ID", "Name"), Resources.lblSelectProductType, displayMode)
                                @Html.ValidationMessageFor(m => m.objBillingPlanType.AppModule)
                            }
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">@Resources.lblType</label>
                        <div class="controls">
                            @Html.DropDownListFor((m => m.objBillingPlan.Type), new SelectList(GMGColorDAL.DALUtils.SearchObjects<GMGColorDAL.BillingPlanType>(o => o.AppModule == Model.objBillingPlanType.AppModule && o.Account == accountFilteringId, context), "ID", "Name", Model.objBillingPlan.Type), Resources.lblSelectBillingPlan)
                            @Html.ValidationMessageFor(m => m.objBillingPlan.Type)
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">@Resources.lblName</label>
                        <div class="controls">
                            @Html.TextBoxFor(m => m.objBillingPlan.Name)
                            @Html.ValidationMessageFor(m => m.objBillingPlan.Name)
                        </div>
                    </div>
                    <div class="control-group" style="display: inline-flex">
                        <div class="controls">
                            <label id="fixedPriceLabel" class="checkbox">
                                @Html.CheckBoxFor(m => m.objBillingPlan.IsFixed, new { id = "chkIsFixed" })
                                @Resources.lblIsFixedPricePlan
                            </label>
                        </div>
                        <div class="controls" style="margin-left: 35px;">
                            <label class="checkbox">
                                @Html.CheckBoxFor(m => m.objBillingPlan.IsDemo, new { id = "chkIsDemo" })
                                @Resources.lblIsDemoPlan
                            </label>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">@Resources.lblPricePerMonth</label>
                        <div class="controls">
                            @Html.TextBoxFor((m => m.objBillingPlan.Price), new { @class = "idouble" })
                            @Html.ValidationMessageFor(m => m.objBillingPlan.Price)
                        </div>
                    </div>
                    <div id="dvPPM" class="control-group" style="@(Model.objBillingPlan.IsFixed ? "display:none;" : "display:block;")">
                        <label class="control-label">@Resources.lblProofsPerMonth</label>
                        <div class="controls">
                            @Html.TextBoxFor((m => m.objBillingPlan.Proofs), new { @class = "iintiger", value = "0" })
                            @Html.ValidationMessageFor(m => m.objBillingPlan.Proofs)
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">@Resources.lblPricePerYear</label>
                        <div class="controls">
                            <input id="txtPricePerYear" readonly="readonly" type="text" value="@ReturnPricePerYear(context)" />
                        </div>
                    </div>
                    <div id="dvCPP" class="control-group" style="@(Model.objBillingPlan.IsFixed ? "display:none;" : "display:block;")">
                        <label class="control-label">@Resources.lblCostPerProof</label>
                        <div class="controls">
                            <input id="txtCostPerProof" readonly="readonly" type="text" value="@ReturnCostPerProof(context)" />
                            <span class="help-inline"><i rel="popover" data-placement="right" data-original-title="@Resources.lblCostPerProofFormula"
                                                         data-content="@Resources.lblCPPFormula" class="icon-popover icon-info-sign"></i>
                            </span>
                        </div>
                    </div>
                    <div id="cpConnections" class="control-group hide">
                        <label class="control-label">@Resources.lblCpConnections</label>
                        <div class="controls">
                            @Html.TextBoxFor(m => m.objBillingPlan.ColorProofConnections, new { @class = "iintiger", @maxlength = "5" })
                        </div>
                    </div>
                    @Html.HiddenFor(m => m.objAccount.ID)
                </fieldset>
                <div class="form-actions">
                    @Html.HiddenFor(m => m.objBillingPlan.ID)
                    <button type="submit" id="btnSaveChangesBillingPlan" class="btn btn-primary" name="action" 
                            value="SaveBillingPlan" data-loading-text="@Resources.btnSaving">@(Model.objBillingPlan != null && Model.objBillingPlan.ID == 0 ? Resources.btnSave : Resources.btnSaveChanges)</button>
                </div>   
                <script type="text/javascript">
                    function HideDeliverSettings() {
                        $("#objBillingPlan_ColorProofConnections").val('0');
                        $("#cpConnections").addClass('hide');
                    }
                    
                    function EnableFixedPricePlan() {
                        $('#fixedPriceLabel').show();
                    }
                    
                    function HandleCurrentBPType() {
                        var currentBPType = $('#objBillingPlanType_AppModule').val();

                        if (currentBPType ==  '@ViewBag.CollaborateModuleId') {
                            HideDeliverSettings();
                            EnableFixedPricePlan();
                        } else if (currentBPType == '@ViewBag.DeliverModuleId') {
                            $("#cpConnections").removeClass('hide');
                            EnableFixedPricePlan();
                        } 
                        else {
                            HideDeliverSettings();
                            EnableFixedPricePlan();
                        }
                    }
                    var currencySymble = '@(Model.objAccount.Currency.Symbol)';

                    $('#chkIsFixed').click(function () {
                        if ($(this)[0].checked) {
                            $('#dvPPM').hide();
                            $('#dvCPP').hide();
                        }
                        else {
                            $('#dvPPM').show();
                            $('#dvCPP').show();
                        }
                    });

                    $('#objBillingPlan_Price').keyup(function () {
                        var ppm = ($('#objBillingPlan_Proofs').val()) ? $('#objBillingPlan_Proofs').val() : '1';
                        ppm = ppm == '0' ? 1 : ppm;
                        $('#txtCostPerProof')[0].value = currencySymble + ' ' + (Number($('#objBillingPlan_Price').val()) / Number(ppm)).toFixed(2);
                        $('#txtPricePerYear')[0].value = currencySymble + ' ' + Number($('#objBillingPlan_Price').val()) * 12;
                    });

                    $('#objBillingPlan_Proofs').keyup(function () {
                        var ppm = ($('#objBillingPlan_Proofs').val()) ? $('#objBillingPlan_Proofs').val() : '1';
                        ppm = ppm == '0' ? 1 : ppm;
                        //$('#txtPricePerYear')[0].value = Number($('#objBillingPlan_Proofs').val()) * 12;
                        $('#txtCostPerProof')[0].value = currencySymble + ' ' + (Number($('#objBillingPlan_Price').val()) / Number(ppm)).toFixed(2);
                    });

                    $(document).ready(function () {
                        // tooltips
                        $('.tooltip-demo.well').tooltip({
                            selector: "a[rel=tooltip]"
                        });

                        // popovers
                        $("i[rel=popover], a[rel=popover]").popover().click(function (e) {
                            e.preventDefault();
                        });
                        HandleCurrentBPType();
                    });

                    @if (Model.objBillingPlan.ID == 0)
                    {
                        <text>
                    $('#objBillingPlanType_AppModule').change(function () {
                        HandleCurrentBPType();
                        var currentTextValue = $("#objBillingPlan_Type option[value='']").text();
                        $("#objBillingPlan_Type option[value='']").text('@Resources.lblLoading');
                        if ($(this).val() != "")
                        {
                            $.ajax({
                                url: '@Url.Action("GetProductTypes", "Plans")',
                                type: 'POST',
                                data: JSON.parse("{'AppModule':" + $(this).val() + ", \"__RequestVerificationToken\" : \"" + $("#frmAddEditBilling input").val() + "\"}"),
                                success: function (result) {
                                    if (typeof (result.planTypes) != 'undefined') {
                                        $("#objBillingPlan_Type option[value!='']").remove();
                                        for (var i = 0; i < result.planTypes.length; i++) {
                                            $("#objBillingPlan_Type").append("<option value=\"" + result.planTypes[i].ID + "\" >" + result.planTypes[i].Name + "</option>");
                                        }
                                    }
                                    $("#objBillingPlan_Type option[value='']").text(currentTextValue);
                                },
                                error: function (xhr, ajaxOptions, thrownError) {
                                    $("#objBillingPlan_Type option[value!='']").remove();
                                    $("#objBillingPlan_Type option[value='']").text(currentTextValue);
                                }
                            });
                        }
                        else
                        {
                            $("#objBillingPlan_Type option[value!='']").remove();
                            $("#objBillingPlan_Type option[value='']").text(currentTextValue);
                        }
                    });
                    </text>
                    }
                </script>
            }
        </div>
        <!-- /row-fluid -->
    </div>
    <!-- /widget-content -->
</div>
<!-- /widget -->
@functions{    
    private string ReturnPricePerYear(DbContextBL context)
    {
        decimal perYear = 0;
        if ((Model.objBillingPlan != null) && (Model.objBillingPlan.Price > 0))
        {
            perYear = (Model.objBillingPlan.Price * (decimal)12);
        }

        return GMGColorFormatData.GetFormattedCurrency(perYear, Model.objLoggedAccount.ID, context);
    }

    private string ReturnCostPerProof(DbContextBL context)
    {
        decimal perProof = 0;
        if ((Model.objBillingPlan != null) && (Model.objBillingPlan.Price > 0) && (Model.objBillingPlan.Proofs > 0))
        {
            perProof = (Model.objBillingPlan.Price / (decimal)Model.objBillingPlan.Proofs);
        }

        return GMGColorFormatData.GetFormattedCurrency(perProof, Model.objLoggedAccount.ID, context);
    }
}