﻿@model Plans
@using GMGColor.Resources;
@using GMGColorBusinessLogic
@using GMGColorDAL
@using GMGColorDAL.Common
@using GMGColorDAL.CustomModels
@{    
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
    GMGColorBusinessLogic.DbContextBL context = HttpContext.Current.Items[GMGColorDAL.DALUtils.DatabaseContext] as GMGColorBusinessLogic.DbContextBL;
    var accountCurrenySymbol = Model.CurrencySymbol;
    var loggedAccountCurrency = GMGColorFormatData.GetCurrencySymbol(Model.objAccount.ID, context);
}
<div class="widget">
    <div class="widget-header">
        <h3>@ViewBag.Header</h3>
    </div>
    <!-- /widget-header -->
    <div class="widget-content">
        <div class="row-fluid">
            @if (Model.objLoggedAccountType == AccountType.Type.Client)
            {
                <div class="pull-right">
                    @Html.Partial("PlansViewSwitch", GMG.CoZone.Common.PlanViewType.Attached)
                </div>
            }
            @using (Html.BeginForm("", "Plans", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("SelectedID", "0", new { id = "hdnSelected" })
                @Html.HiddenFor(m => m.objLoggedAccountType)
                @Html.HiddenFor(m => m.objBillingPlan.ID, new { value = "0" })
                if (ViewBag.ChangePlanMessages.Count > 0)
                {
                    <div class="alert fade in clearboth">
                        <button data-dismiss="alert" class="close" type="button" onclick="$('#btnRemoveNotification').click();">
                            ×</button>
                        <button id="btnRemoveNotification" class="cancel" type="submit" name="action" value="RemoveNotification"
                                hidden="hidden">
                            ×</button>
                        @Resources.lblBillingPlanChangedMessage
                    </div>
                }
                if (Model.objAccount.CurrencyFormat != Model.objAccount.ParentAccount.CurrencyFormat)
                {
                    <div class="alert alert-success">
                        @Resources.lblCurrentPricesShownAreBasedOnTheFollowingConversionRate<br />
                        <strong style="font-size: 21px;">@Model.CurrencyConversionRateString</strong>
                    </div>
                }
                int groupIndex = -1;
                @Html.HiddenFor(model => model.objEditPlanPrice.SelectedPrice)
                @Html.HiddenFor(model => model.objEditPlanPrice.SelectedProof)
                @Html.HiddenFor(model => model.objEditPlanPrice.NewPrice)
                @Html.HiddenFor(model => model.objEditPlanPrice.NewProof)

                List<GMGColorDAL.AppModule> lstAppModule = GMGColorDAL.DALUtils.SearchObjects<GMGColorDAL.AppModule>(item => item.Key != (int)GMG.CoZone.Common.AppModule.Admin, context).ToList();
                foreach (GMGColorDAL.AppModule appModule in lstAppModule)
                {
                    List<BillingPlanTypePlans> billingPlans = Model.objEditPlanPrice.BillingPlans.Where(item => item.BillingPlanTypeAppModuleID == appModule.ID).ToList();

                    if (billingPlans.Count > 0)
                    {                                
                        <fieldset>
                            <legend>@appModule.Name</legend>
                        </fieldset>
                
                        string adjustedLabel = null;
                        string baseCostperLabel = null;
                        string basePerLabel = null;
                        if (billingPlans[0].BillingPlanTypeAppModuleKey == (int)GMG.CoZone.Common.AppModule.Collaborate)
                        {
                            adjustedLabel = Resources.lblAdjustedCostPerProof;
                            baseCostperLabel = Resources.lblBaseCostPerProof;
                            basePerLabel = Resources.lblBaseProofsPerMonth;
                        }
                        else if (billingPlans[0].BillingPlanTypeAppModuleKey == (int)GMG.CoZone.Common.AppModule.Deliver)
                        {
                            adjustedLabel = Resources.lblAdjustedCostperHardproof;
                            baseCostperLabel = Resources.lblBaseCostPerHardProof;
                            basePerLabel = Resources.lblBaseHardProofperMonth;
                        }                       

                        foreach (var planCollection in billingPlans)
                        {
                            groupIndex++;
                            <div class="plan-header plan-type">
                                <h4>@planCollection.BillingPlanTypeName</h4>
                            </div> 
                            <div class="display-field plan-type">
                                @{var gridLoggedBillingPlans = new WebGrid(planCollection.BillingPlans, fieldNamePrefix: planCollection.BillingPlanTypeID.ToString());}
                        
                                @gridLoggedBillingPlans.GetHtml(
                                    tableStyle: "table table-bordered table-striped table-hover table-responsive",
                                    headerStyle: "plan-header-edit",
                                    columns: gridLoggedBillingPlans.Columns(
                                        gridLoggedBillingPlans.Column(columnName: "Name", header: Resources.lblPlan, canSort: false,
                                            format: @<text>@Html.Raw(this.GetPlanName(item.ID, item.Account, item.Name, context))</text>),
                                        gridLoggedBillingPlans.Column(columnName: "Price", header: Resources.lblBasePricePerMonth, canSort: false,
                                            format: @<text>@GMGColorFormatData.GetFormattedCurrency(item.Price, accountCurrenySymbol)</text>),
                                        gridLoggedBillingPlans.Column(columnName: "Discount", header: Resources.lblDiscount + " (" + Model.objAccount.GPPDiscount + "%)", canSort: false,
                                            format: @<text>@GMGColorFormatData.GetFormattedCurrency(item.DiscountedPrice, accountCurrenySymbol)</text>),
                                        gridLoggedBillingPlans.Column(columnName: "Proofs", header: basePerLabel, canSort: false,
                                            format: @<text>@String.Format("{0}", GMGColorDAL.BillingPlan.GetProofCount(item.Proofs, item.IsFixed))</text>),
                                        gridLoggedBillingPlans.Column(columnName: string.Empty, header: Resources.lblBasePricePerYear, canSort: false,
                                            format: @<text>@GMGColorFormatData.GetFormattedCurrency(item.PricePerYear, accountCurrenySymbol)</text>),
                                        gridLoggedBillingPlans.Column(columnName: string.Empty, header: baseCostperLabel, canSort: false,
                                            format: @<text>@GMGColorDAL.BillingPlan.GetCostPerProof(item.CostPerProof, item.IsFixed, accountCurrenySymbol)</text>),
                                        gridLoggedBillingPlans.Column(columnName: string.Empty, header: Resources.lblAdjustedPricePerMonth, canSort: false,
                                            format: @<text><label class="@this.IsEnteredUnderValueForPrice(item.Price, item.AdjustedPrice)">@GMGColorFormatData.GetFormattedCurrency(item.AdjustedPrice, loggedAccountCurrency)</label>@Html.Raw(GetEditPriceHtml(item.ID, item.Price, item.AdjustedPrice, groupIndex))</text>),
                                        gridLoggedBillingPlans.Column(columnName: string.Empty, header: adjustedLabel, canSort: false,
                                            format: @<text><label class="@this.IsEnteredUnderValueForCostPerProof(item.CostPerProof, item.AdjustedCostPerProof, item.IsModifiedProofPrice)">@GMGColorDAL.BillingPlan.GetCostPerProof(item.AdjustedCostPerProof, item.IsFixed, loggedAccountCurrency)</label>@Html.Raw(GetEditProofHtml(item.ID, groupIndex, item.IsFixed, item.CostPerProof, item.AdjustedCostPerProof))</text>)
                                        ))
                        
                            </div>
                        }
                    }
                }
            }
        </div>
        <!-- /row-fluid -->
    </div>
    <!-- /widget-content -->
</div>
<!-- /widget -->
@section PageScript {
    <script type="text/javascript">
        $('label.plan-changed').each(function() {
            $(this).parent('td').parent('tr').addClass('error');
        });

        function EditPrice(e) {
            $('.edit-price-panel').hide();
            $('.edit-price-panel').parent('td').children('label').show();
            $('.edit-price').show();

            $('.edit-proof-panel').hide();
            $('.edit-proof-panel').parent('td').children('label').show();
            $('.edit-proof').show();

            $(e).parent('div').next('div').show();
            $(e).parent('div').hide();
            $(e).parent('div').parent('td').children('label').hide();
        }

        function EditProof(e) {
            $('.edit-proof-panel').hide();
            $('.edit-proof-panel').parent('td').children('label').show();
            $('.edit-proof').show();

            $(e).parent('div').next('div').show();
            $(e).parent('div').hide();
            $(e).parent('div').parent('td').children('label').hide();

            EditPrice(e);
        }

        $('.edit-price, .edit-proof').keyup(function() {
            var price = parseFloat($(this).attr('price'));
            var editedPrice = parseFloat($(this).val());

            if (editedPrice < price) {
                $(this).attr('style', 'background-color:#F2DEDE;color:#9D261D;');
            } else {
                $(this).removeAttr('style');
            }
        });
    </script>
}
    @functions{
        private int index = -1;

        private int GetIndex(bool plus)
        {
            if (plus)
            {
                index++;
            }
            return index;
        }

        private bool IsUnderValuePrice(decimal price, decimal adjustedPrice, out decimal updatedPrice)
        {
            if (ViewBag.ParentAccountType == GMGColorDAL.AccountType.Type.GMGColor)
            {
                price = Math.Round(price*Model.CurrencyConversionRate, 2, MidpointRounding.AwayFromZero);
            }

            updatedPrice = price;
            return (adjustedPrice < price);
        }

        private string IsEnteredUnderValueForPrice(decimal price, decimal adjustedPrice)
        {
            string style = string.Empty;
            bool isUnderValue = this.IsUnderValuePrice(price, adjustedPrice, out price);

            style = (isUnderValue) ? "negative" : string.Empty;
            return style;
        }

        private string IsEnteredUnderValueForCostPerProof(decimal costPerProof, decimal adjustedCostPerProof, bool isModifiedProofPrice)
        {
            string style = string.Empty;

            if (!isModifiedProofPrice)
            {
                bool isUnderValue = adjustedCostPerProof < costPerProof;
                style = (isUnderValue) ? "negative" : string.Empty;
            }

            return style;
        }

        private string GetPlanName(int billingPlanId, int? account, string planName, DbContextBL context)
        {
            string planChanged = string.Empty;
            var objAPPC = ViewBag.ChangePlanMessages as List<AccountPricePlanChangedMessage>;

            if (objAPPC != null && objAPPC.Count > 0)
            {
                if (ViewBag.ParentAccountType == GMGColorDAL.AccountType.Type.GMGColor || account == Model.objLoggedAccount.Parent)
                {
                    planChanged = objAPPC.Select(o => o.ChangedBillingPlan1.BillingPlan).Contains(billingPlanId) ? "plan-changed" : string.Empty;
                }
                else
                {
                    GMGColorDAL.AttachedAccountBillingPlan objAttachedBP = GMGColorDAL.DALUtils.SearchObjects<GMGColorDAL.AttachedAccountBillingPlan>(o => o.BillingPlan == billingPlanId && o.Account == objAPPC[0].ChangedBillingPlan1.Account, context).SingleOrDefault();
                    if (objAttachedBP != null)
                    {
                        int aabpId = objAttachedBP.ID;
                        planChanged = objAPPC.Select(o => o.ChangedBillingPlan1.AttachedAccountBillingPlan).Contains(aabpId) ? "plan-changed" : string.Empty;
                    }
                }
            }

            return "<label class=\"" + planChanged + "\">" + planName + "</label>";
        }

        private string GetEditPriceHtml(int billingPlanId, decimal price, decimal adjustedPrice, int groupIndex)
        {
            bool isUnderValue = this.IsUnderValuePrice(price, adjustedPrice, out price);
            string cssClass = (isUnderValue) ? "class=\"idouble edit-price negative input-mini\"" : "class=\"idouble edit-price input-mini\"";
            string updatedPrice = price.ToString();
            string html = string.Empty;

            html = "<div class=\"edit-price\">" +
                   "<button type=\"button\" class=\"btn btn-mini cancel\" id=\"ancEdit_" + billingPlanId + "\" onclick=\"EditPrice(this)\">" + Resources.btnEdit + "</button>" +
                   "</div>" +
                   "<div id=\"dvEditPrice_" + billingPlanId + "\" class=\"edit-price-panel input-append\" style=\"display:none\">" +
                   "<input name=\"objEditPlanPrice.ListBillingPlanCollection[" + groupIndex + "].ListBillingPlans[" + GetIndex(true) + "].Price\" type=\"text\" " + cssClass + " price=\"" + updatedPrice + "\" value=\"" + adjustedPrice.ToString("f2") + "\"/>" +
                   "<button type=\"submit\" class=\"btn cancel\" name=\"action\" value=\"Price\"  onclick=\"" +
                   "$('#objEditPlanPrice_SelectedPrice')[0].value = " + billingPlanId + ";" +
                   "$('#objEditPlanPrice_NewPrice')[0].value = $(this).parent('div').children('input')[0].value;\">" + Resources.btnSave + "</button>" +
                   "</div>";

            return html;
        }

        private string GetEditProofHtml(int billingPlanId, int groupIndex, bool isFixed, decimal costPerProof, decimal adjustedCostPerProof)
        {
            if (!isFixed)
            {
                bool isUnderValue = adjustedCostPerProof < costPerProof;
                string cssClass = (isUnderValue) ? "class=\"idouble edit-proof negative input-mini\"" : "class=\"idouble edit-proof input-mini\"";
                string updatedPrice = costPerProof.ToString("0.00");
                string html = string.Empty;

                html = "<div class=\"edit-proof\">" +
                       "<button type=\"button\" class=\"btn btn-mini cancel\" id=\"ancEdit_" + billingPlanId + "\" onclick=\"EditProof(this)\">" + Resources.btnEdit + "</button>" +
                       "</div>" +
                       "<div id=\"dvEditPrice_" + billingPlanId + "\" class=\"edit-proof-panel input-append\" style=\"display:none\">" +
                       "<input name=\"objEditPlanPrice.ListBillingPlanCollection[" + groupIndex + "].ListBillingPlans[" + GetIndex(true) + "].Proofs\" type=\"text\" " + cssClass + " price=\"" + updatedPrice + "\" value=\"" + adjustedCostPerProof.ToString("f2") + "\"/>" +
                       "<button type=\"submit\" class=\"btn cancel\" name=\"action\" value=\"CostPerProof\" " +
                       "onclick=\"$('#objEditPlanPrice_SelectedProof')[0].value = " + billingPlanId + ";" +
                       "$('#objEditPlanPrice_NewProof')[0].value = $(this).parent('div').children('input')[0].value;\">" + Resources.btnSave + "</button>" +
                       "</div>";

                return html;
            }
           
            return string.Empty;
            
        }

    }
