﻿@model Plans
@using GMGColor.Resources;
@using GMGColorDAL
@using GMGColorDAL.Common
@using GMGColorDAL.CustomModels
@{
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
}
<div class="widget">
    <div class="widget-header">
        <ul class="widget-links">
            <li><a class="btn btn-primary" href="@Url.Action("AddEditBillingPlan")">@Resources.btnAddNewPlan</a></li>
             @if (Model.objLoggedAccountType == AccountType.Type.GMGColor || Model.HasNewCollaborateBillingPlan)
             {
                 <text> &#47;</text>
                 <li><a href="@Url.Action("AddEditNewCollaborateBillingPlan")">@Resources.lblAddNewCollaborateBillingPlan</a></li>
             }
        </ul>
        <h3>@ViewBag.Header</h3>
    </div>
    <!-- /widget-header -->
    <div class="widget-content">
        <div class="row-fluid">
            @if (Model.objLoggedAccountType != AccountType.Type.GMGColor)
            {
                <div class="pull-right">
                    @Html.Partial("PlansViewSwitch", GMG.CoZone.Common.PlanViewType.Owned)
                </div>
            }
            @using (Html.BeginForm("", "Plans", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("SelectedID", "0", new { id = "hdnSelected" })
            
                List<PlansPerModuleViewModel> lstBillingPlansMoudles = ViewBag.OwnedBillingPlans;
                if (lstBillingPlansMoudles.Count > 0)
                {                  
                        <button id="btnEditPlanType" type="submit" name="action" value="EditPlanType" hidden="hidden">
                            Edit Plan Type</button>
                        <button id="btnEditPlan" type="submit" name="action" value="EditPlan" hidden="hidden">
                            Edit Plan</button>
                        <button id="btnEditNewCollaboratePlan" type="submit" name="action" value="EditNewCollaborateBillingPlan" hidden="hidden">
                            Edit New Collaborate Plan</button>
                    // Admin Plans

                    foreach (var module in lstBillingPlansMoudles)
                    {
                            <fieldset>
                                <legend>@module.ModuleName</legend>
                            </fieldset>
                        if (module.PlanTypes.Count > 0)
                        {
                            foreach (var planType in module.PlanTypes)
                            {     
                                    <div class="plan-header plan-type">
                                        @Html.Raw(GetPlanTypesActionButtons(planType.ID, planType.Plans.Any(t => t.Status == Resources.lblActive)))
                                        <h4>@planType.Type</h4>
                                    </div>

                                planType.Plans.Sort((a, b) => (System.String.Compare(a.Name, b.Name, System.StringComparison.OrdinalIgnoreCase)));
                                if (planType.Plans.Count > 0)
                                {
                                        <div class="display-field plan-type">
                                            @{ var gridBillingPlans = new WebGrid(planType.Plans, fieldNamePrefix: planType.ID.ToString()); }
                                               
                                            @gridBillingPlans.GetHtml(
                                                tableStyle: "table table-bordered table-striped table-hover table-responsive",
                                                headerStyle: "plan-header",
                                                columns: gridBillingPlans.Columns(
                                                    gridBillingPlans.Column(columnName: "Name", header: Resources.lblPlan, canSort: false,
                                                        format:
                                                            @<text>
                                                                 @if (item.MaxUsers != null)
                                                                 {
                                                                     <a href="javascript:void(0);" onclick=" $('#hdnSelected')[0].value = @item.ID; $('#btnEditNewCollaboratePlan').click(); ">@item.Name</a>
                                                                 }
                                                                 else
                                                                 {
                                                                     <a href="javascript:void(0);" onclick=" $('#hdnSelected')[0].value = @item.ID; $('#btnEditPlan').click(); ">@item.Name</a>
                                                                 }
                                                             </text>),
                                                    gridBillingPlans.Column(columnName: "Price", header: Resources.lblPricePerMonth, canSort: false, format: @<text>@item.Price</text>),
                                                    gridBillingPlans.Column(columnName: "Proofs", header: planType.Label, canSort: false, format: @<text>@item.Proofs</text>),
                                                    gridBillingPlans.Column(columnName: string.Empty, header: Resources.lblPricePerYear, canSort: false, format: @<text>@item.PricePerYear</text>),
                                                    gridBillingPlans.Column(columnName: string.Empty, header: Resources.lblCostPerProof, canSort: false, format: @<text>@item.CostPerProof</text>),
                                                    gridBillingPlans.Column(columnName: "MaxUsers", header: Resources.lblMaxUsers, canSort: false, format: @<text>@item.MaxUsers</text>),
                                                    gridBillingPlans.Column(columnName: "MaxStorageInGb", header: Resources.lblMaxUsedStorageDashboard, canSort: false, format: @<text>@item.MaxStorageInGb</text>),
                                                    gridBillingPlans.Column(columnName: "Status", header: Resources.lblStatus, canSort: false, format: @<text>@item.Status</text>),
                                                    gridBillingPlans.Column(columnName: string.Empty, header: string.Empty, canSort: false, format: @<text>@Html.Raw(this.GetPlansActionButtons(item.ID, (bool)(item.Status != Resources.lblActive), item.MaxUsers))</text>)
                                                    ))
                                                
                                        </div>
                                               DeleteConfirmation deleteConfirmation = new DeleteConfirmation(1, "DeletePlanType");
                                               @Html.Partial("DeleteConfirmationDialog", deleteConfirmation)
                                }
                                else
                                {
                                        <div class="well plan-type">
                                            <p>
                                                <strong>@Resources.emptyHeaderBillingPlan</strong></p>
                                            <a href="AddEditBillingPlan" class="btn" onclick=" $('#hdnSelected')[0].value = 0; ">@Resources.btnAddNewPlan
                                                &rarr;</a>
                                        </div>
                                }
                            }
                        }
                        else
                        {
                                <div class="well plan-type">
                                    <p>
                                        <strong>@Resources.emptyHeaderBillingPlanType</strong></p>                    
                                </div>
                        }
                    }
                }
                else
                {     
                        <div class="row-fluid blank-state">
                            <div class="span4 blank-state-icon">
                                <i class="icon-credit-card"></i>
                            </div>
                            <div class="span7">
                                <h3>@Resources.emptyHeaderBillingPlanType</h3>
                                <p>@Resources.emptyBodyBillingPlanType</p>
                                <p>
                                    <a data-id="0" data-toggle="modal" class="btn btn-primary" data-backdrop="static"
                                       data-keyboard="false" href="#modalDialogAddEditBillingPlanType">@Resources.btnAddPlanType</a></p>
                            </div>
                        </div>  
                }
                if (lstBillingPlansMoudles.Count != 0)
                {
                        <div class="form-actions">
                            <input type="button" value="@Resources.btnAddPlanType" id="btnAddEditBillingPlanType" data-target="#modalDialogAddEditBillingPlanType" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-id="0" class="btn btn-primary iadd-plantype" />
                        </div>
                }
            }                        
        </div>
        <!-- /row-fluid -->
    </div>
    <!-- /widget-content -->
</div>
<!-- /widget -->
@{ Html.RenderPartial("AddEditBillingPlanType", Model);}

@functions{   
    private string GetPlanTypesActionButtons(int billingPlanType, bool canNotBeDeleted)
    {
        System.Text.StringBuilder html = new System.Text.StringBuilder();

        html.Append("<div class=\"btn-group pull-right\">");
        html.Append("<a href=\"javascript:void(0);\" data-toggle=\"dropdown\" class=\"btn btn-mini btn-inverse dropdown-toggle ellipsisButtonList\"><i class=\"icon-ellipsis-horizontal\"></i></a>");
        html.Append("<ul class=\"dropdown-menu pull-right\">");
        html.Append("<li><a href=\"javascript:void(0);\" onclick=\"$('#hdnSelected')[0].value = " + billingPlanType + ";$('#btnEditPlanType').click();\"><i class=\"icon-pencil\"></i>" + Resources.btnEdit + "</a></li>");
        if (!canNotBeDeleted)
            html.Append("<li><a href=\"javascript:void(0);\" onclick=\"$('#hdnSelected')[0].value = " + billingPlanType + ";$('#modelDialogDeleteConfirmation_1').modal({ backdrop: 'static', keyboard: false });\" rel=\"nofollow\" data-method=\"delete\" data-disable-with=\"Deleting...\" ><i class=\"icon-trash\"></i>" + Resources.btnDelete + "</a></li>");
        html.Append("</ul>");
        html.Append("</div>");

        return html.ToString();
    }

    private string GetPlansActionButtons(int billingPlanId, bool canDelete, string maxUsers)
    {
        System.Text.StringBuilder html = new System.Text.StringBuilder();

        html.Append("<div class=\"btn-group pull-right\">");
        html.Append("<a href=\"javascript:void(0);\" data-toggle=\"dropdown\" class=\"btn btn-mini dropdown-toggle ellipsisButtonList\"><i class=\"icon-ellipsis-horizontal\"></i></a>");
        html.Append("<ul class=\"dropdown-menu pull-right\">");
        if (!string.IsNullOrEmpty(maxUsers))
        {
            html.Append("<li><a href=\"javascript:void(0);\" onclick=\"$('#hdnSelected')[0].value = " + billingPlanId + ";$('#btnEditNewCollaboratePlan').click();\"><i class=\"icon-pencil\"></i>" + Resources.btnEdit + "</a></li>");
        }
        else
        {
            html.Append("<li><a href=\"javascript:void(0);\" onclick=\"$('#hdnSelected')[0].value = " + billingPlanId + ";$('#btnEditPlan').click();\"><i class=\"icon-pencil\"></i>" + Resources.btnEdit + "</a></li>");
        }
        if (canDelete)
            html.Append("<li><a href=\"javascript:void(0);\" onclick=\"$('#hdnSelected').val('" + billingPlanId + "');$('#modelDialogDeleteConfirmation_1').modal({ backdrop: 'static', keyboard: false });$('.delete-yes').attr('value','DeletePlan');\" rel=\"nofollow\" data-method=\"delete\" data-disable-with=\"Deleting...\" ><i class=\"icon-trash\"></i>" + Resources.btnDelete + "</a></li>");
        html.Append("</ul>");
        html.Append("</div>");

        return html.ToString();
    }
}
