﻿@using GMGColor.Resources
@model GMG.CoZone.Common.PlanViewType?

<div class="form-switch">
    <div class="input-append">
        <a class ="btn cancel" href="@Url.Action("Index", new { viewType = GMG.CoZone.Common.PlanViewType.Owned })" @Html.Raw(GetDisabledState(GMG.CoZone.Common.PlanViewType.Owned))">@Resources.lblOwned</a> 
        <a class ="btn cancel" href="@Url.Action("Index", new { viewType = GMG.CoZone.Common.PlanViewType.Attached })" @Html.Raw(GetDisabledState(GMG.CoZone.Common.PlanViewType.Attached))">@Resources.lblAttached</a>
    </div>
</div>
@functions{

    private string GetDisabledState(GMG.CoZone.Common.PlanViewType currentView)
    {
        return currentView == Model ? "disabled=\"disabled\"" : string.Empty;
    }
}