{{#if isEnableSoftProofing}}
	<section class="czn-separations" id="czn-separations">
	    <header>{{t "lblSeparations"}}</header>
	    <button type="button" class="close" {{action "hideSeparations"}}>&times;</button>
	    <ul class="czn-comments-list list-unstyled">
	        <li class="hidden">
	            <a href="javascript:void(0);" {{action "showAllSeparation" }} {{bind-attr class="allSeparations:active"}}>
	                <span {{bind-attr class=":czn-separation-color :czn-color-white"}}></span>{{t "lblAll"}}
	            </a>
	        </li>
	        {{#each separation in separations}}
	            {{render "image/separations/item" separation}}
	        {{else}}
              <div class="loading-icon"></div>
	        {{/each}}
	    </ul>
	    <button type="button" {{bind-attr class=":btn :btn-primary :btn-xs isEnableButton:enabled:disabled :pull-right"}} {{action "selectSeparation"}}>{{t "btnOk"}}</button>
	</section>
{{/if}}
