<li {{action "selectChannel" Name }}>
   <a href="javascript:void(0)" {{bind-attr class="isActive:active"}}>
     <span {{bind-attr class="cubeClassName :czn-separation-color" style="style"}}>
         {{#if selected}}
              <i class="fa fa-check"></i>
         {{/if}}
     </span>
     {{separationName}}
   </a>
</li>
