<span class="czn-controls-divider"></span>
 <button {{bind-attr class=":btn :btn-default :btn-sm :czn-font :hidden-sm :hidden-xs isVertical:active"}} {{action 'setVertical'}} {{bind-attr title="lblSplitVertical"}}>
     <span class="fa fa-arrows-v"></span>
 </button>
 <button {{bind-attr class=":btn :btn-default :btn-sm :czn-font :hidden-xs :hidden-sm isHorizontal:active"}} {{action 'setHorizontal'}} {{bind-attr title="lblSplitHorizontal"}}>
     <span class="fa fa-arrows-h"></span>
 </button>

 <button {{bind-attr class=":btn :btn-sm :hidden-sm :hidden-xs :czn-font" style="backgroundColor"}} {{bind-attr title="lblSyncZoom"}} {{action 'toggleSyncPageZoom'}}>
 {{#if isSyncZoomSelected}}
     <span class="fa fa-lock"></span>
     <span class="fa fa-search"></span>
 {{else}}
     <span class="fa fa-unlock"></span>
     <span class="fa fa-search"></span>
 {{/if}}
 </button>

<button {{bind-attr class=":btn :btn-sm :hidden-sm :hidden-xs :czn-font" style="backgroundColorPageSync"}} {{bind-attr title="lblSyncPages"}} {{action 'togglePageSync'}}>
    {{#if isPageSyncSelected}}
        <span class="fa fa-lock"></span>
        <span class="fa fa-file-o"></span>
    {{else}}
        <span class="fa fa-unlock"></span>
        <span class="fa fa-file-o"></span>
    {{/if}}
</button>
<button class="btn btn-default btn-sm czn-font hidden-sm hidden-xs" {{bind-attr title="lblSync"}} {{action 'toggleSync'}}>
    <span class="czn-split-button-icon"></span>
</button>
