<span class="czn-controls-divider hidden-sm"></span>
{{#unless isFeaturePixelCompareSelected}}
<span class="czn-font hidden-sm hidden-xs">{{t "lblAlpha"}}</span>
&nbsp;
<span class="badge czn-verion-container hidden-xs hidden-sm hidden-md">
    {{{overlayLabels.firstPageVersionLabel}}}
</span>
&nbsp;

{{view 'utils/alpha' renderer=renderer}}

&nbsp;
<span class="badge czn-verion-container hidden-xs hidden-sm hidden-md">
    {{{overlayLabels.secondPageVersionLabel}}}
</span>
{{/unless}}

&nbsp;
<button {{bind-attr class=":btn :btn-default :btn-sm :czn-font :hidden-xs :hidden-sm"}} {{bind-attr title="lblOverlayFlip"}} {{action 'overlayFlip'}}>
    <span class="czn-overlay-flip-icon"></span>
</button>

{{#unless isFeaturePixelCompareSelected}}
<button {{bind-attr class=":btn :btn-default :btn-sm isSwipe:czn-swipe:czn-not-swipe :hidden-xs :hidden-sm"}} {{action 'swipeOnOff'}} {{bind-attr title="lblSwipe"}}><i class="fa fa-exchange" aria-hidden="true"></i></button>

<span class="czn-controls-divider hidden-xs hidden-sm"></span>
{{/unless}}
