{{#each page in model.pages}}
    <li {{ bind-attr class="page.active:active"}} {{action "gotoPage" page.id }}>
        <img {{bind-attr src="page.SmallThumbnailPath" }} />
        <span class="czn-page-number">{{page.PageNumber}}</span>
        {{#if page.hasAnnotations}}
            <div class="leaflet-div-icon czn-annotation-markers">{{page.markersCount}}</div>
        {{/if}}
    </li>
{{/each}}
{{#each page in unProcessedPages}}
    <li>
        <span class="czn-un-processed-page">
	        <i class="fa fa-file-o">
                <i class="fa fa-refresh"></i>
            </i>
        </span>
        <span class="czn-page-number">{{page.PageNumber}}</span>
    </li>
{{/each}}