{{#if totalPages }}
<span {{bind-attr class=":czn-pager-btn :fa :fa-lg :fa-chevron-circle-left prevDisabled::selectable prevDisabled:disabled"}} {{action 'prevPage'}}></span>
<span class="badge badge-background-color">
	{{t "lblPagerCurrentPage" currentPageBinding="currentPageNumber" }} {{t "lblPagerTotalPages" totalPagesBinding="totalPages" }}
	{{#if totalPagesUnProcessed}}
        <span>&nbsp;/&nbsp;&nbsp;{{totalPagesUnProcessed}}</span>
	{{/if}}
</span>
<span {{bind-attr class=":czn-pager-btn :fa :fa-lg :fa-chevron-circle-right nextDisabled::selectable nextDisabled:disabled"}} {{action 'nextPage'}}></span>
{{/if}}
