<section class="czn-controls-toolbar btn-toolbar">
    <section {{bind-attr class=":pull-left"}}>
      {{#if isCompareMode}}
        {{partial "image/controls/version-toolbar"}}
      {{/if}}

        <button {{bind-attr class=":btn :btn-default :btn-sm :btnShowPagination showPagination:active"}} {{bind-attr title="lblPage"}} {{action 'togglePagination'}}>
            <i class="fa fa-file-o"></i>
        </button>

    {{#unless isCompareMode}}
        {{#if hasNoTickets}}
            <button {{bind-attr class=":btn :btn-default :btn-sm showAllTickets:active :disabled" title="lblAllTickets"}}>
                <span class="fa fa-reorder"></span>
            </button>
        {{else}}
          {{#if showAnnotationButtons}}
              <button {{bind-attr class=":btn :btn-default :btn-sm showAllTickets:active :disabled" title="lblAllTickets"}}>
                  <span class="fa fa-reorder"></span>
              </button>
          {{else}}
              <button {{bind-attr class=":btn :btn-default :btn-sm showAllTickets:active" title="lblAllTickets"}} {{action 'showHideAllTickets'}}>
                  <span class="fa fa-reorder"></span>
              </button>
          {{/if}}
        {{/if}}
      {{/unless}}

      {{#unless isDifferenceSelected}}
        {{#if isCompareMode}}
          {{#unless isCopyAnnotationsHidden}}
              <button class="btn btn-default btn-sm" {{bind-attr title="lblCopyAnnotations"}} {{action 'copyAnnotation'}}>
                  <span class="fa fa-copy"></span>
              </button>
          {{/unless}}
        {{/if}}
      {{/unless}}

    </section>


    <section class="pull-right">
      {{#unless model.generateTilesInProgress}}
        {{#if hasPrePressTools}}
            <button class="btn btn-default btn-sm hidden-sm hidden-xs" {{action 'rotate'}} {{bind-attr title="lblRotate"}}>
                <span class="fa fa-rotate-right"></span>
            </button>
        {{/if}}
          <button class="btn btn-default btn-sm hidden-sm hidden-xs" {{action 'fit'}} {{bind-attr title="lblFitToPage"}}>
              <span class="czn-fit-icon"></span>
          </button>

          {{image/controls/zoom-percentages currentResolution=renderer.currentResolution minZoomResolution=renderer.minRezolution maxZoomResolution=renderer.maxRezolution restrictedZoom=renderer.restrictedZoom isHighResolution=isHighResolution zoomToResolution="zoomToResolution" changeToHighResolution="changeToHighResolution"}}


          <button {{ bind-attr class=":btn :btn-default :btn-sm hideMiniMap:active :hidden-sm :hidden-xs"}} {{bind-attr title="lblNavigator"}} {{action 'showOrHideMiniMap'}}>
              <span class="fa fa-compass fa-lg"></span>
          </button>

      {{/unless}}
      {{#if isCompareMode}}
          <span class="czn-controls-divider hidden-sm hidden-xs"></span>
          <button class="btn btn-default btn-sm czn-font" {{action 'viewLatestVersion'}}>{{t "lblDone"}}</button>
      {{/if}}
    </section>
</section>
