<button {{bind-attr class=":btn :btn-default :btn-sm :czn-font :hidden-sm :hidden-xs active::active"
data-toggle="button"}} {{action 'toggleCompare'}} {{bind-attr title="lblSideBySideCompare"}}>
    <span class="czn-compare-icon"></span>
</button>

<button {{bind-attr class=":btn :btn-default :btn-sm :czn-font :hidden-sm :hidden-xs active:active overlayDisabled:disabled" data-toggle="button"}} {{action 'toggleDifference'}} {{bind-attr title="lblOverlayCompare"}}>
    <span class="czn-compare-overlay-icon"></span>
</button>

<button {{bind-attr class=":btn :btn-default :btn-sm :czn-font :hidden-sm :hidden-xs  overlayDisabled:disabled" style="backgroundColorFeaturePixelCompare"
data-toggle="button"}} {{action 'toggleFeaturePixelCompare'}} {{bind-attr title="lblPixelCompare"}}>
    <span class="czn-compare-pixel-icon"></span>
</button>

{{#if isFeaturePixelCompareSelected}}

      <button {{bind-attr class=":btn :btn-default :btn-sm :hidden-sm :hidden-xs "
      data-toggle="button"}} {{bind-attr title="lblPixelCompareOptions"}}  onclick="if (myPixelComparePopup.style.display=='block') myPixelComparePopup.style.display='none'; else myPixelComparePopup.style.display='block';">
            <span class="czn-compare-pixel-color" id="myprm_DiffColor_div2" ></span>
      </button>


      <div id="myPixelComparePopup" style="display:none;background-color: #9E9E9E; width:263px; height: 240px;position:absolute;top:-240px;left:90px;">


          <div style="position:absolute;left:20px;top:120px;">Opacity:</div> <span style="position:absolute;left:110px;top:110px;">{{view 'utils/opacity-slider'}}</span>

          <div style="position:absolute;left:20px;top:160px;">Background:</div>  <span style="position:absolute;left:110px;top:150px;">{{view 'utils/background-slider'}}</span>

          <div style="position:absolute;left:20px;top:200px;">Threshold:</div> <span style="position:absolute;left:110px;top:190px;" id="my">{{view 'utils/threshold-slider'}}</span>


          <div class="diffColorPicker" style="left:20px;top:10px;background-color:rgb(255,255,255);" onclick="myChangeSelectedColor(this);" {{action 'changeDiffColor'}}></div>
          <div class="diffColorPicker" style="left:50px;top:10px;background-color:rgb(233,141,41);" onclick="myChangeSelectedColor(this);"  {{action 'changeDiffColor'}}></div>
          <div  class="diffColorPicker diffColorPickerSelected" style="left:80px;top:10px;background-color:rgb(255,0,0);" onclick="myChangeSelectedColor(this);"  {{action 'changeDiffColor'}}></div>
          <div  class="diffColorPicker" style="left:110px;top:10px;background-color:rgb(109,213,21);" onclick="myChangeSelectedColor(this);"  {{action 'changeDiffColor'}}></div>
          <div  class="diffColorPicker" style="left:140px;top:10px;background-color:rgb(93,231,243);" onclick="myChangeSelectedColor(this);"  {{action 'changeDiffColor'}}></div>
          <div  class="diffColorPicker" style="left:170px;top:10px;background-color:rgb(26,51,255);" onclick="myChangeSelectedColor(this);"  {{action 'changeDiffColor'}}></div>
          <div  class="diffColorPicker" style="left:200px;top:10px;background-color:rgb(230,85,252);" onclick="myChangeSelectedColor(this);"  {{action 'changeDiffColor'}}></div>

          <div  class="diffColorPicker" style="left:20px;top:40px;background-color:rgb(234,185,40);" onclick="myChangeSelectedColor(this);"  {{action 'changeDiffColor'}}></div>
          <div  class="diffColorPicker" style="left:50px;top:40px;background-color:rgb(250,164,87);" onclick="myChangeSelectedColor(this);"  {{action 'changeDiffColor'}}></div>
          <div  class="diffColorPicker" style="left:80px;top:40px;background-color:rgb(224,92,78);" onclick="myChangeSelectedColor(this);"  {{action 'changeDiffColor'}}></div>
          <div  class="diffColorPicker" style="left:110px;top:40px;background-color:rgb(129,176,109);" onclick="myChangeSelectedColor(this);"  {{action 'changeDiffColor'}}></div>
          <div  class="diffColorPicker" style="left:140px;top:40px;background-color:rgb(65,173,177);" onclick="myChangeSelectedColor(this);"  {{action 'changeDiffColor'}}></div>
          <div  class="diffColorPicker" style="left:170px;top:40px;background-color:rgb(131,188,231);" onclick="myChangeSelectedColor(this);"  {{action 'changeDiffColor'}}></div>
          <div  class="diffColorPicker" style="left:200px;top:40px;background-color:rgb(50,39,45);" onclick="myChangeSelectedColor(this);"  {{action 'changeDiffColor'}}></div>

          <div class="diffColorPicker" style=left:20px;top:70px;background-color:rgb(184,129,21);" onclick="myChangeSelectedColor(this);"  {{action 'changeDiffColor'}}></div>
          <div class="diffColorPicker" style="left:50px;top:70px;background-color:rgb(232,106,30);" onclick="myChangeSelectedColor(this);"  {{action 'changeDiffColor'}}></div>
          <div class="diffColorPicker" style="left:80px;top:70px;background-color:rgb(145,31,22);" onclick="myChangeSelectedColor(this);"  {{action 'changeDiffColor'}}></div>
          <div class="diffColorPicker" style="left:110px;top:70px;background-color:rgb(47,92,19);" onclick="myChangeSelectedColor(this);"  {{action 'changeDiffColor'}}></div>
          <div class="diffColorPicker" style="left:140px;top:70px;background-color:rgb(46,112,114);" onclick="myChangeSelectedColor(this);"  {{action 'changeDiffColor'}}></div>
          <div class="diffColorPicker" style="left:170px;top:70px;background-color:rgb(59,90,163);" onclick="myChangeSelectedColor(this);" {{action 'changeDiffColor'}}></div>
          <div class="diffColorPicker" style="left:200px;top:70px;background-color:rgb(121,40,114);" onclick="myChangeSelectedColor(this);" {{action 'changeDiffColor'}}></div>




  </div>
{{/if}}

{{#if isCompareSelected}}
    {{partial "image/controls/compare"}}
{{/if}}
{{#if isDifferenceSelected}}
    {{partial "image/controls/overlay"}}
{{/if}}
