<div class="modal-overlay-filter-approvals">
</div>
<div id="filterApprovalsDialog" class="unselectable filterApprovalsModal modal-sm" tabindex="-1" role="dialog" data-backdrop="false" aria-hidden="true">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Close" {{action "cancel"}}><span aria-hidden="true">&times;</span></button>
            <h4 class="widget-title">{{title}}</h4>
        </div>

        <div class="modal-body czn-filter-approvals-body" >
            <div class="czn-approvaltype-name">ApprovalType</div>
            <div class="approvalType-name">
                <div>
                    {{#if isApprovalTypeImageChecked}}
                    <i class="fa fa-check-square-o czn-approvalType-image" {{action "selectedApprovalType" 'image'}}></i>
                    {{else}}
                    <i class="fa fa-square-o czn-approvalType-image" {{action "selectedApprovalType" 'image'}}></i>
                    {{/if}}
                   {{!-- <input type="checkbox" class="czn-approvalType-image" name="image" {{action "selectedApprovalType"}}/> --}}
                   <span>Image</span>
                   <span class="czn-approvalTypeImage-results">0 results</span>
                </div>
                <div>
                    {{#if isApprovalTypeDocumentChecked}}
                   <i class="fa fa-check-square-o czn-approvalType-document" {{action "selectedApprovalType" 'document'}}></i>
                   {{else}}
                    <i class="fa fa-square-o czn-approvalType-document" {{action "selectedApprovalType" 'document'}}></i>
                    {{/if}}
                   {{!-- <input type="checkbox" class="czn-approvalType-document" name="document" {{action "selectedApprovalType"}}/> --}}
                   <span>Document</span>
                   <span class="czn-approvalTypeDocument-results">0 results</span>
                </div>
                <div>
                    {{#if isApprovalTypeVideoChecked}}
                   <i class="fa fa-check-square-o czn-approvalType-video" {{action "selectedApprovalType" 'video'}}></i>
                   {{else}}
                  <i class="fa fa-square-o czn-approvalType-video" {{action "selectedApprovalType" 'video'}}></i>
                   {{/if}}
                   {{!-- <input type="checkbox" class="czn-approvalType-video" name="video" {{action "selectedApprovalType"}}/> --}}
                   <span>Video</span>
                   <span class="czn-approvalTypeVideo-results">0 results</span>
                </div>
                <div>
                    {{#if isApprovalTypeHTMLChecked}}
                   <i class="fa fa-check-square-o czn-approvalType-html" {{action "selectedApprovalType" 'html'}}></i>
                   {{else}}
                   <i class="fa fa-square-o czn-approvalType-html" {{action "selectedApprovalType" 'html'}}></i>
                   {{/if}}
                   {{!-- <input type="checkbox" class="czn-approvalType-html" name="html" {{action "selectedApprovalType"}}/> --}}
                   <span>HTML</span>
                   <span class="czn-approvalTypeHTML-results">0 results</span>
                </div>
            </div>
            <hr style="margin: 0 -15px;">
            <div class="czn-tagwordstitle">
                <div style="margin-bottom: 10px;">
                    <h4 style="display: inline;">Tag words</h4>
                    <a style="margin-left: 10px; display: none;"id="clearAllSelectedtagwords" {{action "clearAll"}}>clearAll</a>
                </div>
            </div>
            <div class="czn-projectFolder-tagwords">
                <div class="czn-filteredtagwordsdiv"></div>
                 {{#each tag in tagwords}}
                <span class="czn-unselectedtagword" {{action "selectTagword" tag}}>
                    <span class="czn-tagwordText">{{tag.tagword}}</span>
                    <span class="czn-tagwordCount">{{tag.count}}</span>
                </span>
                {{/each}}
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" {{action "cancel"}}>{{no}}</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" {{action "filterApproval"}}>{{yes}}</button>
        </div>
    </div>

</div>
