<section id="projectFolders" class="czn-projects">
    <header class="h4 unselectable">
        <span class="czn-project-name">{{selectedProjectName}}</span>
          <i class="fa fa-filter czn-filter-icon" style="float:right;" {{action "openFilterPopup"}}></i>
          <i {{bind-attr class=":fa :fa-caret-left :unselectable :czn-group-icon :dropdown-toggle"}} {{action "projectNameDropDown"}} href="javascript:void(0)" data-toggle="dropdown" id="projectFolderNames" style="float: right;"></i>&nbsp; 
          <ul class="dropdown-menu" role="menu" aria-labelledby="projectFolderNames" id="projectFolderNames-list" style="top: 35px; min-width: 100%;">
             {{#each proj in projectFolderNames}}
                 <li>
                   <a {{action "changeSelectedProject" proj.ID}}>
                      {{proj.Name}}
                   </a>
                 </li>
             {{/each}}
          </ul>
    </header>
    {{#each project in initProjectFolders}}
    <li role="presentation" {{bind-attr class=":czn-projectApproval-list project.ApprovalType"}} style="list-style-type: none;">
      <a role="menuitem" href="javascript:void(0);">
        <label class="czn-version-item czn-project-approvals czn-subversions-menu selectable" {{action "selectedApproval" project.ID}}>
          <img {{bind-attr src="project.ApprovalThumbnailPath"}}>
        </label>
      </a>
      <div style="text-align: center; font-weight:600;">{{project.ApprovalName}}</div>
    </li>
     {{/each}}
</section>
