/*!
 * Account / New
 */


.account-confirmation {
	.control-group {
		margin:0 0 @baseLineHeight;
	}
	.control-label {
		font-weight: bold;
			color: #999999;
	    font-size: 11px;
	    line-height: 20px;
	    text-transform: uppercase;
	    	margin:0 0 0;
	}

	.controls {
		//font-size: 15px;
		padding-top: 5px;
	}
	h2 {
		margin:0;
		padding: 0;
		font-weight: normal;
	}

}



 
// Wizard
// ---------------


/* = STEPS CONTAINER
----------------------------*/

.wizard-steps {
    margin:0px 0px @baseLineHeight 20px;
    padding:0px;
    position: relative;
    clear:both;
    list-style: none;
    font-weight: bold;
    .clearfix();
    
    li {
    	position:relative;
    	
    	a {
		    position:relative;
		    display:block;
		    width:25%;
		    height:38px;
		   	.box-sizing (border-box);
		    margin-right: 0;
		    //padding:0px 10px 0px 3px;
		    padding: 0 2.8em 0 1.5em;
		    float:left;
		    line-height:38px;
		    color: @gray;
		    background: #f2f2f2;
		    text-decoration:none;
		/*     text-shadow:1px 1px 1px rgba(255,255,255, 0.5); */
		}
	   a:before {
		    width:0px;
		    height:0px;
		    border-top: 19px solid #f2f2f2;
		    border-bottom: 19px solid #f2f2f2;
		    border-left:19px solid transparent;
		    position: absolute;
		    content: "";
		    top: 0px;
		    left: -19px;
	    }
	    a:after {
		    width: 0;
		    height: 0;
		    border-top: 19px solid transparent;
		    border-bottom: 19px solid transparent;
		    border-left:19px solid #f2f2f2;
		    position: absolute;
		    content: "";
		    top: 0px;
		    right: -19px;
	    }
					
    }//li
    
    /* = FIRST STEP
	----------------------------*/
	.first-step {
		margin-left:-20px;
	}
	.first-step a:before {
	    border-top: 0px;
	    border-bottom: 0px;
	}
	.completed-step.first-step a:before {
	    border-top: 0;
	    border-bottom: 0;
	}
	
	/*
	
	.wizard-steps .last-step a:after {
	    border-top: 0;
	    border-bottom: 0;
	}
	.wizard-steps .completed-step.last-step a:after {
	    border-top: 0;
	    border-bottom: 0;
	}
	*/


	/* = COMPLETED STEPS
	----------------------------*/
	 
	.completed-step a {
	 	color:@white;
	    background: @grayLight;
	}
	.completed-step a:before, {
	    border-top: 19px solid @grayLight;
	    border-bottom: 19px solid @grayLight;
	}
	.completed-step a:after {
	    border-left: 19px solid @grayLight;
	}
	
	
	/* = ACTIVE STEPS
	----------------------------*/
	
	.active-step a {
	    color:@white;
	    background: @linkColor;
/* 	    text-shadow:1px 1px 1px rgba(0,0,0, 0.3); */
	}
	.active-step a:before {
	    border-top: 19px solid @linkColor;
	    border-bottom: 19px solid @linkColor;
	}
	.active-step a:after {
	    border-left: 19px solid @linkColor;
	}

	.active-step.first-step a:before {
	    border-top: 0px;
	    border-bottom: 0px;
	}
	
	/* = HOVER STATES
	----------------------------
	
	.completed-step:hover a, 
	.active-step:hover a {
	    color:#fff;
	    background: @linkColor;
	    text-shadow:1px 1px 1px rgba(0,0,0, 0.3);
	}
	.completed-step:hover a:before, 
	.active-step:hover a:before {
	    border-top: 19px solid @linkColor;
	    border-bottom: 19px solid @linkColor;
	}
	.completed-step.first-step:hover a:before, 
	.active-step.first-step:hover a:before {
	    border-top: 0px;
	    border-bottom: 0px;
	}
	.completed-step:hover a:after, 
	.active-step:hover a:after {
	    border-left: 19px solid @linkColor;
	}
	
*/
}// .wizard-steps





