/*!
 * Account / Summary
 */

.meter {

    margin: 0 0 @baseLineHeight;
    padding: 0;
    
    h3 {
		font-size: 11px;
		line-height:@baseLineHeight;
		padding: 0;
		margin: 0;
		text-transform: uppercase;
		white-space: nowrap;
		span {
		    color: #999;
		    font-weight: normal;
		}
    }

 

 .progress {
	  overflow: hidden;
	  height: 30px;
	  margin-bottom: @baseLineHeight;
	   background: #FFFFFF;
	  .box-shadow(none);
	  .border-radius(0px);
	}
	

	/*
.progress .bar {
	  width: 0%;
	  height: 100%;
	  color: @white;
	  float: left;
	  font-size: 12px;
	  text-align: center;
	  text-shadow: none;
	  background: #EEEEEE;
	  .box-shadow(none);
	  .box-sizing(border-box);
	}
	.progress .bar + .bar {
	  .box-shadow(none);
	}
	.progress .bar .allowed {
    	color: #B4B4B4;
    }
    .progress .bar.bar-success {
	    background:  #cfe9dd;
	    border: 1px solid #78c0a0;
    }
    .progress .bar.bar-danger {
	    background: #f1d3d0;
	    border: 1px solid #d97971;
    }
*/


}

#message {
    background: none repeat scroll 0 0 #FBF5CD;
    border: 2px solid #FFFFFF;
    border-radius: 4px;
    box-shadow: 0 1px 1px #D6D6D6;
    margin: 0px 0 @baseLineHeight;
    padding: 10px 15px;
    text-align: center;
    width: auto;
}
#message span {
    color: #999999;
    font-size: 12px;
}




