﻿@model GMGColorDAL.CustomModels.Reports
@using GMGColor.Resources;
@using GMGColorBusinessLogic
@using GMGColorDAL.CustomModels
@{    
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
    Bundles.Reference("chosen");
    Bundles.Reference("account-report");  
    GMGColorBusinessLogic.DbContextBL context = HttpContext.Current.Items[GMGColorDAL.DALUtils.DatabaseContext] as GMGColorBusinessLogic.DbContextBL;
}
<p class="breadcrumb">
    <a href="@Url.Action("Index")">@Resources.navReportsIndex</a>
</p>
<div class="widget">
    <div class="widget-header">
        @if (ViewBag.ShowResults == "true")
        {
            <ul class="widget-links">
                <li><a target="_blank" class="print btn btn-primary" href="@(Url.Action("Print", new { @type = @Model.ReportType }))">@Resources.lblPrintBlock</a></li>
            </ul>
        }
        <h3>@ViewBag.Header @*<small>@Resources.lblAccountsReport</small>*@</h3>
    </div>
    <!-- /widget-header -->
    <div class="widget-content">
        <div class="row-fluid">
            <div class="span12">
                @using (Html.BeginForm("AccountReportDetails", "Reports", FormMethod.Post, new { @id = "mainForm", @class = "dirtyignore" }))
                {
                    @Html.AntiForgeryToken()
                    Html.HiddenFor(m => m.ReportType, new { @Value = Model.ReportType, @data_Val = "false" });
                    @Html.HiddenFor(m => m.page, new { @data_Val = "false" })
                    <div class="well">
                        <div class="row-fluid">
                            <div class="span3">
                                <label>
                                    @Resources.lblType
                                </label>
                                <div class="controls">
                                    <select name="SelectedAccountTypes" multiple="multiple" data-placeholder="@Resources.lblAnyAccountTypes" class="chzn-select" >
                                        @foreach (KeyValuePair<int, string> objAccountType in Model.ListAccountTypes)
                                        {
                                            string selected = (Model.SelectedAccountTypes != null && Model.SelectedAccountTypes.Contains(objAccountType.Key.ToString())) ? "selected=\"selected\"" : "";
                                            <option value="@objAccountType.Key" @selected>@GMGColorDAL.AccountType.GetLocalizedAccountTypeName(objAccountType.Value)</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="span3" id="dvLocations">
                                <label>
                                    @Resources.lblLocation</label>
                                <div class="controls">
                                    <select name="SelectedLocations" multiple="multiple" data-placeholder="@Resources.lblAllLocations" class="chzn-select">
                                        @foreach (KeyValuePair<int, string> objCountry in Model.ListLocations)
                                        {
                                            string selected = (Model.SelectedLocations != null && Model.SelectedLocations.Contains(objCountry.Key.ToString())) ? "selected=\"selected\"" : "";
                                            <option value="@objCountry.Key" @selected>@objCountry.Value</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="span3">
                                <label>
                                    @Resources.lblStatus</label>
                                <div class="controls">
                                    <select name="SelectedAccountStatuses" multiple="multiple" data-placeholder="@Resources.lblAnyStatus" class="chzn-select" >
                                        @foreach (KeyValuePair<int, string> objStatus in Model.ListAccountStatuses)
                                        {
                                            string selected = (Model.SelectedAccountStatuses != null && Model.SelectedAccountStatuses.Contains(objStatus.Key.ToString())) ? "selected=\"selected\"" : "";
                                            <option value="@objStatus.Key" @selected>@GMGColorDAL.AccountStatu.GetLocalizedAccountStatus(objStatus.Key, context)</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="span3">
                                <label>
                                    @Resources.lblPlans</label>
                                <div class="controls">
                                    <select name="SelectedBillingPlans" multiple="multiple" data-placeholder="@Resources.lblAnyPlans" class="chzn-select"  >
                                        @foreach (KeyValuePair<int, string> objBillingPlan in Model.ListBillingPlans)
                                        {
                                            string selected = (Model.SelectedBillingPlans != null && Model.SelectedBillingPlans.Contains(objBillingPlan.Key.ToString())) ? "selected=\"selected\"" : "";
                                            <option value="@objBillingPlan.Key" @selected>@objBillingPlan.Value</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div>
                            <button type="submit" name="action" class="btn btn-primary" value="LoadAccountReport" data-loading-text="@Resources.btnSearching">
                                <i class="icon-search icon-white"></i>@Resources.btnSearch</button>
                        </div>
                    </div>
                    
                    <div id="dvResults">
                        @if (ViewBag.ShowResults == "true")
                        {
                            <div class="page-header">
                                <h4>
                                    <div class="pull-right">
                                        <small>@Resources.lblDisplaying <b>@Model.ListAccountReportDetails.Count</b> </small>
                                    </div>
                                    @Model.ListAccountReportDetails.Count @Resources.lblAccounts <small>@Resources.lblReportgeneratedon
                                                                                                     @String.Format("{0:dd/MM/yyyy hh:mm tt}", DateTime.Now)</small>
                                </h4>
                            </div>
                            <div class="report-results">
                                @if (Model.ListAccountReportDetails.Count > 0)
                                {
                                    if (Model.IsAdminUser && Model.IsSysAdminAccount)
                                    {
                                        <div class="tool-bar text-right">
                                            <a href="javascript:void(0)" id="btnMultiDelete" class="btn" data-loading-text="@Resources.btnDeleting" disabled="disabled" type="button" >
                                                <i class="icon-trash"></i>&nbsp;@Resources.btnDelete
                                            </a>
                                            <a href="@Url.Action("SuspendMultipleAccounts", "Reports")" data-form-method="post" id="btnMultiSuspend" class="btn" data-loading-text="@Resources.btnSuspending" disabled="disabled" type="button">
                                                <i class="icon-remove"></i>&nbsp;@Resources.btnSuspend
                                            </a>
                                             <a href="@Url.Action("RestoreMultipleAccounts", "Reports")" data-form-method="post" id="btnMultiRestore" class="btn" data-loading-text="@Resources.btnSuspending" disabled="disabled" type="button">
                                                <i class="icon-refresh"></i>&nbsp;@Resources.btnRestore
                                            </a>
                                        </div>
                                        <div class="clearboth"></div>
                                        <br/>
                                    }
                                    <div >
                                        @Html.Hidden("selectedAccountId", null, new { id = "hdnSelectedAccount", @data_val = false })
                                        @{
                                    var gridAccountDetails = new WebGrid(Model.ListAccountReportDetails, canPage: false);
                                    var gridColumns = new List<WebGridColumn>();

                                    if (Model.IsAdminUser && Model.IsSysAdminAccount)
                                    {
                                        gridColumns.Add(gridAccountDetails.Column(header: "{CheckBoxHeading}", format: @<text><input class="AccountSingleCheckbox" name="AccountChechbox" type="checkbox" value="@item.ID" /></text>));
                                    }
                                    gridColumns.Add(gridAccountDetails.Column(header: Resources.lblName, format: @<text><a href="@Url.Action("AccountReportDetails", new { selectedAccountId = item.ID })">@item.Name</a></text>));
                                    gridColumns.Add(gridAccountDetails.Column(columnName: "AccountTypeName", header: Resources.lblType));                                   
                                    gridColumns.Add(gridAccountDetails.Column(columnName: "AccountPath", header: Resources.lblAccountPath));
                                    gridColumns.Add(gridAccountDetails.Column(columnName: "CreatedDate", header: Resources.lblCreated, format: @<text>@string.Format("{0: dd MMM, yyyy}", item.CreatedDate)</text>));
                                    gridColumns.Add(gridAccountDetails.Column(columnName: "LastActivity", header: Resources.lblLastActivity, format: @<text>@string.Format("{0: dd MMM, yyyy}", item.LastActivity ?? "")</text>));
                                    gridColumns.Add(gridAccountDetails.Column(columnName: "Plans", header: Resources.lblPlans));
                                    gridColumns.Add(gridAccountDetails.Column(columnName: "StatusName", header: Resources.lblStatus));
                                    gridColumns.Add(gridAccountDetails.Column(columnName: "ApprovalsCount", header: Resources.lblCollaborateApprovalsNumber));
                                    gridColumns.Add(gridAccountDetails.Column(string.Empty, string.Empty, format: @<text>@((Model.IsAdminUser && Model.IsSysAdminAccount) ? Html.Raw(this.GetActionButtons(item.ID, item.Key)) : string.Empty)</text>));
                                        }

                                        @MvcHtmlString.Create(gridAccountDetails.GetHtml(
                                            tableStyle: "table",
                                            columns: gridAccountDetails.Columns(gridColumns.ToArray())
                                            ).ToString().Replace("{CheckBoxHeading}", "<input type='checkbox' class='AccountsAllCheckbox'/>"))
                                    </div>

                                    <button id="btnSuspendAccount" type="submit" name="action" value="SuspendAccount" hidden="hidden" 
                                            onclick=" javascript:$('#mainForm').attr('data-ajax', 'false'); ">
                                        Restore</button>
                                    <button id="btnRestore" type="submit" name="action" value="RestoreAccount" hidden="hidden"
                                            onclick=" javascript:$('#mainForm').attr('data-ajax', 'false'); ">
                                        Restore</button>

                                    DeleteConfirmation deleteAccountConfirmation = new DeleteConfirmation(1, "DeleteAccount");
                                    @Html.Partial("DeleteConfirmationDialog", deleteAccountConfirmation)

                                    DeleteConfirmation deleteMultipleAccountConfirmation = new DeleteConfirmation(2, "DeleteMultipleAccounts");
                                    @Html.Partial("DeleteConfirmationDialog", deleteMultipleAccountConfirmation)
                                }
                                else
                                {
                                    <h6 class="text-center">
                                        @Resources.lblNoResultReport</h6>
                                }
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
        <!-- /row-fluid -->
    </div>
    <!-- /widget-content -->
</div>
<!-- /widget -->
@functions{
    private string GetActionButtons(int id, string accStatusKey)
    {
        GMGColorDAL.AccountStatu.Status accountStatus = GMGColorDAL.AccountStatu.GetAccountStatus(accStatusKey);
        System.Text.StringBuilder html = new System.Text.StringBuilder();

        html.Append("<div class=\"btn-group pull-right\">");
        html.Append("<a href=\"javascript:void(0);\" data-toggle=\"dropdown\" class=\"btn btn-mini dropdown-toggle ellipsisButtonList\"><i class=\"icon-ellipsis-horizontal\"></i></a>");
        html.Append("<ul class=\"dropdown-menu pull-right\">");

        if (accountStatus == GMGColorDAL.AccountStatu.Status.Inactive || (accountStatus == GMGColorDAL.AccountStatu.Status.Suspended /*&& IsCanDelete(id)*/) || accountStatus == GMGColorDAL.AccountStatu.Status.Draft)
            html.Append("<li><a href=\"javascript:void(0);\" onclick=\"$('#hdnSelectedAccount')[0].value = " + id + ";$('#modelDialogDeleteConfirmation_1').modal({ backdrop: 'static', keyboard: false });\" rel=\"nofollow\" data-method=\"delete\" data-disable-with=\"Deleting...\" ><i class=\"icon-trash\"></i> " + Resources.btnDelete + "</a></li>");

        if (accountStatus == GMGColorDAL.AccountStatu.Status.Suspended)
        {
            html.Append("<li><a href=\"javascript:void(0);\" onclick=\"$('#hdnSelectedAccount')[0].value = " + id + ";$('#btnRestore').click();\"><i class=\"icon-refresh\"></i> " + Resources.btnRestore + "</a></li>");
        }
        else
        {
            html.Append("<li><a href=\"javascript:void(0);\" onclick=\"$('#hdnSelectedAccount')[0].value = " + id + ";$('#btnSuspendAccount').click();\"><i class=\"icon-refresh\"></i> " + Resources.btnSuspend + "</a></li>");
        }

        html.Append("</ul>");
        html.Append("</div>");

        return html.ToString();
    }

}
