﻿@model GMGColorDAL.CustomModels.AccountReportDetails
@using GMGColor.Resources
@{    
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
}
<ul class="breadcrumb">
    <li ><a href="AccountReport">@Resources.lblAccountsReport</a><span class="divider">/</span></li>
    <li class="active">@(Model.AccountName)</li>
</ul>
<div class="widget">
    <div class="widget-header">
        <h3>@Resources.lblAccountDetails</h3>
    </div>
    <!-- /widget-header -->
    <div class="widget-content">
        <div class="row-fluid">
         <div class="span3">
                @{Html.RenderAction("SecondaryNavigation", "Navigation", new { secondaryNavType = GMGColorDAL.CustomModels.SecondaryNavigationTypeEnum.EditAccountReports });}
            </div>
            <div class="span9">
            @using (Html.BeginForm("", "Reports", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()
                <fieldset>
                    <legend>@Resources.lblAccountInformation</legend>
                    <div class="control-group">
                        <label class="control-label">@Resources.lblAccountName</label>
                        <div class="controls">
                            @Html.TextBoxFor(m => m.AccountName, new { @readonly = true })
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">@Resources.lblAccountUrl</label>
                        <div class="controls">
                            <a class="links" href= "http://@Model.AccountURL">@Model.AccountURL</a>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">@Resources.lblOwnerName</label>
                        <div class="controls">
                            @Html.TextBoxFor(m => m.OwnerName, new { @readonly = true })
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">@Resources.lblOwnerEmail</label>
                        <div class="controls">
                            <a class="links" href="mailto:@Model.OwnerEmail" >@Model.OwnerEmail</a>
                        </div>
                    </div>
                    @if (Model.ListBillingPlans.Count > 0)
                    {
                        <legend>@Resources.lblPlans</legend>
                        foreach (KeyValuePair<int, string> objBillingPlan in Model.ListBillingPlans)
                         {
                             string label = null;
                             if (objBillingPlan.Key == (int)GMG.CoZone.Common.AppModule.Collaborate)
                             {
                                 label = Resources.lblCollaboratePlan;
                             }                            
                             else if (objBillingPlan.Key == (int)GMG.CoZone.Common.AppModule.Deliver)
                             {
                                 label = Resources.lblDeliverPlan;
                             }                            
                             <div class="control-group">
                                 <label class="control-label">@label</label>
                                 <div class="controls">
                                     <input readonly="True" type="text" value="@objBillingPlan.Value">
                                 </div>
                             </div>
                         }
                    }
                </fieldset>
            }
            </div>
        </div>
        <!-- /row-fluid -->
    </div>
    <!-- /widget-content -->
</div>
<!-- /widget -->
