﻿@model GMGColorDAL.CustomModels.Reports
@using GMGColor.Resources;
@using GMGColorDAL.Common
@using GMGColorDAL.CustomModels
@{    
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
    Bundles.Reference("chosen");
    Bundles.Reference("datetimepicker");

    GMGColorDAL.Account objAcc = ViewBag.LoggedAccount;

    string dateFormat = objAcc.DateFormat1.Pattern;
}
<p class="breadcrumb">
    <a href="Index">@Resources.navReportsIndex</a>
</p>
<div class="widget">
    <div class="widget-header">
        @if (ViewBag.ShowResults == "true" && Model.ListAccountBillingReportDetails.Count > 0)
        {
            <ul class="widget-links">
                <li><a target="_blank" class="email btn btn-primary" data-toggle="modal" data-backdrop="static" data-keyboard="false"
                    href="#modalEmailReport">@Resources.lblEmail</a></li>
                <li><a class="download btn btn-primary" href="javascript:void(0);" onclick="$('#btnDownload').click();">@Resources.lblDownload</a></li>
                <li><a target="_blank" class="print btn btn-primary" href=@(Url.Action("Print", new { @type = @Model.ReportType }))>@Resources.lblPrintBlock</a></li>
            </ul>

            using (Html.BeginForm("", "Reports", FormMethod.Post, new { @style = "display:none" }))
            {
                @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.ReportType)
            <button id="btnDownload" type="submit" name="action" class="btn" value="Download">
                Download</button>
            }
        }
        <h3>@ViewBag.Header @*<small>@Resources.lblBillingReport</small>*@</h3>
    </div>
    <!-- /widget-header -->
    <div class="widget-content">
        <div class="row-fluid">
            <div class="span12">
                <div class="well">
                    @using (Html.BeginForm("", "Reports", FormMethod.Post, new { @id = "mainForm", @autocomplete = "off", @class = "dirtyignore" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.CurrentDate)
                        <div class="row-fluid" id="dvControls">
                            <div class="span3">
                                <div class="control-group">
                                    <label class="control-label">@Resources.lblType</label>
                                    <div class="controls">
                                        <select name="SelectedAccountTypes" multiple="multiple" data-placeholder="@Resources.lblAnyAccountTypes" class="chzn-select" >
                                            @foreach (KeyValuePair<int, string> objAccountType in Model.ListAccountTypes)
                                            {
                                                string selected = (Model.SelectedAccountTypes != null && Model.SelectedAccountTypes.Contains(objAccountType.Key.ToString())) ? "selected=\"selected\"" : "";
                                                <option value="@objAccountType.Key" @selected>@GMGColorDAL.AccountType.GetLocalizedAccountTypeName(objAccountType.Value)</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="span3" id="dvLocations">
                                <div class="control-group">
                                    <label class="control-label">@Resources.lblLocation</label>
                                    <div class="controls">
                                        <select name="SelectedLocations" multiple="multiple" data-placeholder="@Resources.lblAllLocations" class="chzn-select">
                                            @foreach (KeyValuePair<int, string> objCountry in Model.ListLocations)
                                            {
                                                string selected = (Model.SelectedLocations != null && Model.SelectedLocations.Contains(objCountry.Key.ToString())) ? "selected=\"selected\"" : "";
                                                <option value="@objCountry.Key" @selected>@objCountry.Value</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="span3" id="dvAccounts">
                                <div class="control-group">
                                    <label class="control-label">@Resources.lblAccounts</label>
                                    <div class="controls">
                                        <select name="SelectedAccounts" multiple="multiple" data-placeholder="@Resources.lblAllAccounts" class="chzn-select" >
                                            @foreach (KeyValuePair<int, string> objAccount in Model.ListAccounts)
                                            {
                                                string selected = (Model.SelectedAccounts != null && Model.SelectedAccounts.Contains(objAccount.Key.ToString())) ? "selected=\"selected\"" : "";
                                                <option value="@objAccount.Key" @selected>@objAccount.Value</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="span3" id="dvPlans">
                                <div class="control-group">
                                    <label class="control-label">@Resources.lblPlans</label>
                                    <div class="controls">
                                        <select name="SelectedBillingPlans" multiple="multiple" data-placeholder="@Resources.lblAnyPlans" class="chzn-select"  >
                                            @foreach (KeyValuePair<int, string> objBillingPlan in Model.ListBillingPlans)
                                            {
                                                string selected = (Model.SelectedBillingPlans != null && Model.SelectedBillingPlans.Contains(objBillingPlan.Key.ToString())) ? "selected=\"selected\"" : "";
                                                <option value="@objBillingPlan.Key" @selected>@objBillingPlan.Value</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span3">
                                <div class="control-group">
                                    <label class="control-label">@Resources.lblStartDate</label>
                                    <div class="controls">
                                        <div class="input-append date-picker date" id="dtFromPicker" data-date-format="@dateFormat.ToLower()">
                                            @Html.TextBoxFor(model => model.FromDate, new { @Value = String.Format("{0:" + dateFormat + "}", Model.FromDate), @size = "16", @class = "input-small", @readonly = "" })
                                            <span class="add-on"><i class="icon-calendar"></i></span>
                                        </div>
                                        <span id="dtFromPickerAlert" class="help-inline" style="display: none;">@Resources.reqStartDate</span>
                                    </div>
                                </div>
                            </div>
                            <div class="span3">
                                <div class="control-group">
                                    <label class="control-label">@Resources.lblEndDate</label>
                                    <div class="controls">
                                        <div class="input-append date-picker date" id="dtToPicker" data-date="@String.Format("{0:" + dateFormat + "}", Model.ToDate)" data-date-format="@dateFormat.ToLower()" >
                                            @Html.TextBoxFor(model => model.ToDate, new { @Value = String.Format("{0:" + dateFormat + "}", Model.ToDate), @size = "16", @class = "input-small", @readonly = "" })
                                            <span class="add-on"><i class="icon-calendar"></i></span>
                                        </div>
                                        <span id="dtToPickerAlert" class="help-inline" style="display: none;">@Resources.reqEndDate</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @Html.Hidden("MinStartDate", 0, new { @id = "minStartDate", @data_val = false})
                        <div class="form-actions small">
                            <div id="alert" class="alert alert-error" style="display: none;">
                                <strong>@Resources.lblNoAccountSubscriptionFound</strong>
                            </div>
                            <button id="btnSubmit" type="submit" name="action" class="btn btn-primary" value="LoadBillingReport" data-loading-text="@Resources.btnSearching" autocomplete="off">
                                <i class="icon-search icon-white"></i>&nbsp;@Resources.btnSearch</button>
                            @if (
                                (Model.SelectedAccountTypes != null && Model.SelectedAccountTypes.Any()) ||
                                (Model.SelectedLocations != null && Model.SelectedLocations.Any()) ||
                                (Model.SelectedAccounts != null && Model.SelectedAccounts.Any()) ||
                                (Model.SelectedBillingPlans != null && Model.SelectedBillingPlans.Any())||
                                (Model.ToDate != Model.CurrentDate) ||
                                (Model.FromDate != Model.CurrentDate)
                                )
                            {
                                <button id="btnResetFilter" type="submit" name="action" class="btn" value="ResetFilters" data-loading-text="@Resources.btnResetingFilters">
                                    <i class="icon-remove icon-white"></i>&nbsp;@Resources.btnResetFilters</button>
                            }
                        </div>
                    }
                </div>
                @if (ViewBag.ShowResults == "true")
                {
                    DateTime userCurTime = GMGColorFormatData.GetUserTimeFromUTC(DateTime.UtcNow, objAcc.TimeZone);

                    <div class="page-header">
                        <h3>
                            <span class="pull-right"><small>@Resources.lblDisplaying <b>@Model.ListAccountBillingReportDetails.Count</b> @Resources.lblBillingAccount</small>
                            </span>
                            @Model.ListAccountBillingReportDetails.Count @Resources.lblBillingAccounts <small>@Resources.lblReportgeneratedon
                                @GMGColorFormatData.GetFormattedDate(userCurTime, dateFormat) @GMGColorFormatData.GetFormattedTime(userCurTime, objAcc)</small>
                        </h3>
                    </div>
                    <div id="report-results">
                        @if (Model.ListAccountBillingReportDetails.Count > 0)
                        {
                            foreach (ListAccountReportDetails lstAccReport in Model.ListAccountBillingReportDetails)
                            {

                                var gridAccBillingDetails = new WebGrid(lstAccReport.AccountBillingDetails, canSort: false, canPage: false);
                                var stringhtml = gridAccBillingDetails.GetHtml(
                                tableStyle: "table table-bordered table-striped table-responsive",
                                    columns: gridAccBillingDetails.Columns(
                              gridAccBillingDetails.Column(columnName: "Name", header: Resources.lblName, format: @<text><a href="@Url.Action("AccountReportDetails", new {selectedAccountId = item.ID})">@item.Name</a></text>, style: "span2"),
                              gridAccBillingDetails.Column(columnName: "Type", header: Resources.lblType, style: "span2"),
                              gridAccBillingDetails.Column(string.Empty, header: Resources.lblAccountPath, format: @<text>@Html.Raw(item.AccountPath)</text>, style: "span2"),
                              gridAccBillingDetails.Column(columnName: "ModuleName", header: Resources.lblModule),
                              gridAccBillingDetails.Column(columnName: "Plan", header: Resources.lblPlan + " (" + (Resources.lblVOD) + ")", format: @<text>@Html.Raw(item.Plan)</text>),
                              gridAccBillingDetails.Column(columnName: "BillingMonth", header: Resources.lblBillingMonth),
                              gridAccBillingDetails.Column(columnName: "ContractStartDate", header: Resources.lblContractStart),
                              gridAccBillingDetails.Column(columnName: "ContractEndDate", header: Resources.lblContractEnd),
                              gridAccBillingDetails.Column(columnName: "BillingFrequency", header: Resources.lblBillingFrequency),
                              gridAccBillingDetails.Column(columnName: "PricePerMonth", header: Resources.lblMonthlyFee),
                              gridAccBillingDetails.Column(columnName: "Usage", header: Resources.lblUsage),
                              gridAccBillingDetails.Column(string.Empty, header: Resources.lblCostPerProof, format: @<text>@Html.Raw(item.ExceededProofsString)</text>),
                                        gridAccBillingDetails.Column(columnName: "Amount", header: Resources.lblAmount, format: @<text><label class="@(item.IsExpired ? "expired" : "")">@item.Amount</label></text>)
                              ));

                                var sbTotalsTable = new System.Text.StringBuilder();
                                sbTotalsTable.Append("<tfoot>");
                                sbTotalsTable.Append("<tr>");
                                sbTotalsTable.Append("<th colspan=\"11\">&nbsp;</th>");
                                sbTotalsTable.Append("<th>" + Resources.lblTotal + "</th>");
                                sbTotalsTable.Append("<th>" + lstAccReport.Total + "</th>");
                                sbTotalsTable.Append("</tr>");
                                sbTotalsTable.Append("</tfoot>");
                                sbTotalsTable.Append("</table>");
                                                                 
                            <div class="plan-header">
                                <h3>
                                    @lstAccReport.SubAccountName</h3>
                            </div>
                            
                            @MvcHtmlString.Create(stringhtml.ToString().Replace("</table>", sbTotalsTable.ToString()))     
                            }
                            <div class="pull-right">
                                <h2>
                                    <small>@Resources.lblGrandTotal</small> @Model.GrandTotal</h2>
                            </div>
                        }
                        else
                        {
                            <h6 class="text-center">
                                @Resources.lblNoResultReport</h6>
                        }
                    </div>
                   
                }
            </div>
        </div>
        <!-- Email  -->
        <div class="modal hide" id="modalEmailReport">
            @using (Html.BeginForm("EmailReport", "Reports", FormMethod.Post, new { @class = "form-horizontal", id = "formEmail", }))
            {
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        &times;</button>
                    <h3>@Resources.lblEmailReport</h3>
                </div>
                <div class="modal-body">
                    <div class="control-group">
                        <label class="control-label">
                            @Resources.lblTo</label>
                        <div class="controls">
                            @Html.ListBoxFor((m => m.EmailReport.SelectedUsers), new SelectList(Model.EmailReport.ListUsers, "ID ", "Name"), new { @class = "chzn-select", @multiple = "multiple", @data_placeholder = " " })
                            @Html.ValidationMessageFor(m => m.EmailReport.SelectedUsers)
                            @*<label class="checkbox">
                                @Html.CheckBoxFor(m => m.EmailReport.IsSendToMyself)
                                @Resources.lblSendtomyself</label>*@
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">
                            @Resources.lblSubject</label>
                        <div class="controls">
                            @Html.TextBoxFor(m => m.EmailReport.Subject)
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">
                            @Resources.lblMessage</label>
                        <div class="controls">
                            @Html.TextAreaFor(m => m.EmailReport.Message)
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary" value="@Resources.lblSend" data-loading-text="@Resources.btnSending" />
                    <input type="submit" class="btn" value="@Resources.btnCancel" data-dismiss="modal" />
                </div>
            }
        </div>
        <!-- /row-fluid -->
        @{
            int startDateYear = int.Parse(ViewBag.startDateYear.ToString());
            int startDateMonth = int.Parse(ViewBag.startDateMonth.ToString());
            int startDateDay = int.Parse(ViewBag.startDateDay.ToString());
            int endDateYear = int.Parse(ViewBag.endDateYear.ToString());
            int endDateMonth = int.Parse(ViewBag.endDateMonth.ToString());
            int endDateDay = int.Parse(ViewBag.endDateDay.ToString());

            DateTime minStartDate= DateTime.MinValue;
            if (ViewBag.MinStartDate != null)
            {
                minStartDate = (DateTime) ViewBag.MinStartDate;
            }
        }
        
        @section PageScript
        {
            <script type="text/javascript">
                $(document).ready(function() {
                    $(".chzn-select").chosen({ width: "100%" }).change(function() {
                        $('#btnSubmit').attr('disabled', 'disabled');
                        updateBillingPeriod();
                    });
                    $(".chzn-select-deselect").chosen({ allow_single_deselect: true });
                });

                $(function() {

                    $('label.expired').each(function () {
                        $(this).parent('td').parent('tr').addClass('error');
                    });

                    var startDate = new Date(@startDateYear, @startDateMonth, @startDateDay);
                    var endDate = new Date(@endDateYear, @endDateMonth, @endDateDay);

                    $('#dtFromPicker').datepicker()
                        .on('changeDate', function(ev) {
                            if (ev.date.valueOf() > endDate.valueOf()) {
                                $('#dtFromPickerAlert').show();
                                $('#dtFromPicker').parent().parent().addClass("error");
                                $('#btnSubmit').attr('disabled', 'disabled');
                                startDate = new Date(ev.date);
                            } else {
                                $('.help-inline').hide();
                                $('.date').parent().parent().removeClass("error");
                                startDate = new Date(ev.date);
                                $('#btnSubmit').removeAttr('disabled');
                            }
                            $('#dtFromPicker').datepicker('hide');
                        });

                    var minStartDate = new Date(@(minStartDate.Year), @(minStartDate.Month - 1), @(minStartDate.Day));
                    $('#dtFromPicker').data('datepicker').setStartDate(minStartDate);


                    $('#dtToPicker').datepicker()
                        .on('changeDate', function(ev) {

                            if (ev.date.valueOf() < startDate.valueOf()) {
                                $('#dtToPickerAlert').show();
                                $('#dtToPicker').parent().parent().addClass("error");
                                $('#btnSubmit').attr('disabled', 'disabled');
                                endDate = new Date(ev.date);
                            } else {
                                $('.help-inline').hide();
                                $('.date').parent().parent().removeClass("error");
                                endDate = new Date(ev.date);
                                $('#btnSubmit').removeAttr('disabled');
                            }
                            $('#dtToPicker').datepicker('hide');
                        });

                });

                function updateBillingPeriod() {
                    var selectedAccounts = $("select[name='SelectedAccounts']").val();
                    var selectedAccountTypes = $("select[name='SelectedAccountTypes']").val();
                    var selectedLocations = $("select[name='SelectedLocations']").val();
                    var selectedBillingPlans = $("select[name='SelectedBillingPlans']").val();

                    if (selectedAccounts != null || selectedAccountTypes != null || selectedLocations != null || selectedBillingPlans != null) {
                        $.ajax({
                            type: "GET",
                            url: '@Url.Action("GetValidBillingPeriod", "Reports")',
                            data: {
                                'SelectedAccounts': selectedAccounts,
                                'SelectedAccountTypes': selectedAccountTypes,
                                'SelectedLocations': selectedLocations,
                                'SelectedBillingPlans': selectedBillingPlans
                            },
                            dataType: "json",
                            traditional: true,
                            contentType: "application/json; charset=utf-8",
                            success: function(result) {
                                if (result.isFound) {
                                    var minDate = new Date(parseInt(result.minimStartDate.substr(6)));

                                    var startDatePicker = $('#dtFromPicker').data('datepicker');

                                    if (minDate > startDatePicker.getDate()) {
                                        startDatePicker.update(minDate);
                                    }

                                    startDatePicker.setStartDate(minDate);

                                    $('#alert').hide();
                                    $('#minStartDate').val(minDate.toUTCString());
                                } else {
                                    $('#alert').show();
                                    $('#minStartDate').val('');
                                }
                            },
                            complete: function() {
                                $('#btnSubmit').removeAttr('disabled');
                            }
                        });
                    } else {
                        $('#dtFromPicker').data('datepicker').setStartDate(null);
                        $('#minStartDate').val('');
                        $('#btnSubmit').removeAttr('disabled');
                    }
                }
            </script>
        }
    </div>
    <!-- /widget-content -->
</div>
<!-- /widget -->
