﻿@model GMGColorDAL.CustomModels.Reports
@using GMGColor.Resources;
@using GMGColorDAL.Common
@using GMGColorDAL.CustomModels
@{
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
    Bundles.Reference("chosen");
    Bundles.Reference("datetimepicker");

    GMGColorDAL.Account objAcc = ViewBag.LoggedAccount;

    string dateFormat = objAcc.DateFormat1.Pattern;
}
@if (!ViewBag.IsOpenedFromReportAppIndex)
{
    <p class="breadcrumb">
        <a href="Index">@Resources.navReportsIndex</a>
    </p>
}
else
{
    <p class="breadcrumb">
        <a href="ReportAppIndex">@Resources.navReportsIndex</a>
    </p>
}
<div class="widget">
    <div class="widget-header">
        @if (ViewBag.ShowResults == "true" && Model.ListFileReportDetails.Count > 0)
        {
                <ul class="widget-links">
                <li><a class="download btn btn-primary" href="javascript:void(0);" onclick="$('#btnDownload').click();">@Resources.lblDownload</a></li>
            </ul>

            using (Html.BeginForm("", "Reports", FormMethod.Post, new { @style = "display:none" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.ReportType)
                <button id="btnDownload" type="submit" name="action" class="btn" value="FileReportDownload">
                    Download
                </button>
            }
        }
        <h3>@ViewBag.Header @*<small>@Resources.lblFileReport</small>*@</h3>
    </div>
    <!-- /widget-header -->
    <div class="widget-content">
        <div class="row-fluid">
            <div class="span12">
                <div class="well">
                    @using (Html.BeginForm("", "Reports", FormMethod.Post, new { @id = "mainForm", @autocomplete = "off", @class = "dirtyignore" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.CurrentDate)
                        <div class="row-fluid" id="dvControls">
                            <div class="span3" id="dvAccounts">
                                <div class="control-group">
                                    <label class="control-label">@Resources.lblAccounts</label>
                                    <div class="controls">
                                        @if (ViewBag.ShowAccounts)
                                        {
                                            <select id="listSelectedAccount" name="SelectedAccounts" multiple="multiple" data-placeholder="@Resources.lblAllAccounts" class="chzn-select">
                                                @foreach (KeyValuePair<int, string> objAccount in Model.ListAccounts)
                                                {
                                                    string selected = (Model.SelectedAccounts != null && Model.SelectedAccounts.Contains(objAccount.Key.ToString())) ? "selected=\"selected\"" : "";
                                                    <option value="@objAccount.Key" @selected>@objAccount.Value</option>
                                                }
                                            </select>
                                        }
                                        else
                                        {
                                            <label class="control-label">
                                                <b>@ViewBag.AccountName</b>
                                            </label>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="span3" id="dvReportType">
                                <div class="control-group">
                                    <label class="control-label">@Resources.lblReportType</label>
                                    <div class="controls">
                                        @Html.DropDownList("FileReportType", new List<SelectListItem>
                                             {
                                                new SelectListItem{ Text="Select All", Value = "0" },
                                                new SelectListItem{ Text="Active", Value = "1" },
                                                new SelectListItem{ Text="Archive", Value = "2" },
                                                new SelectListItem{ Text="Deleted", Value = "3" },
                                                new SelectListItem{ Text="OverDue", Value = "4" },
                                             })
                                    </div>
                                </div>
                            </div>
                            <div class="span3" id="dvUserGroups">
                                <div class="control-group">
                                    <label class="control-label">@Resources.lblUserGroup</label>
                                    <div class="controls">
                                        <select id="listUserGroups" name="SelectedUserGroup" multiple="multiple" data-placeholder="@Resources.lblUserGroup" class="chzn-select">
                                            @foreach (KeyValuePair<int, string> objUserGroups in Model.ListUserGroups)
                                            {
                                                string selected = (Model.SelectedUserGroup != null && Model.SelectedUserGroup.Contains(objUserGroups.Key.ToString())) ? "selected=\"selected\"" : "";
                                                <option value="@objUserGroups.Key" @selected>@objUserGroups.Value</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span3">
                                <div class="control-group">
                                    <label class="control-label">@Resources.lblStartDate</label>
                                    <div class="controls">
                                        <div class="input-append date-picker date" id="dtFromPicker" data-date-format="@dateFormat.ToLower()">
                                            @Html.TextBoxFor(model => model.FromDate, new { @Value = String.Format("{0:" + dateFormat + "}", Model.FromDate), @size = "16", @class = "input-small", @readonly = "" })
                                            <span class="add-on"><i class="icon-calendar"></i></span>
                                        </div>
                                        <span id="dtFromPickerAlert" class="help-inline" style="display: none;">@Resources.reqStartDate</span>
                                    </div>
                                </div>
                            </div>
                            <div class="span3">
                                <div class="control-group">
                                    <label class="control-label">@Resources.lblEndDate</label>
                                    <div class="controls">
                                        <div class="input-append date-picker date" id="dtToPicker" data-date="@String.Format("{0:" + dateFormat + "}", Model.ToDate)" data-date-format="@dateFormat.ToLower()">
                                            @Html.TextBoxFor(model => model.ToDate, new { @Value = String.Format("{0:" + dateFormat + "}", Model.ToDate), @size = "16", @class = "input-small", @readonly = "" })
                                            <span class="add-on"><i class="icon-calendar"></i></span>
                                        </div>
                                        <span id="dtToPickerAlert" class="help-inline" style="display: none;">@Resources.reqEndDate</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @Html.Hidden("MinStartDate", 0, new { @id = "minStartDate", @data_val = false })
                        <div class="form-actions small">
                            <div id="alert" class="alert alert-error" style="display: none;">
                                <strong>@Resources.lblNoAccountSubscriptionFound</strong>
                            </div>
                            <button id="btnSubmit" type="submit" name="action" class="btn btn-primary" value="LoadFileReport" data-loading-text="@Resources.btnSearching" autocomplete="off">
                                <i class="icon-search icon-white"></i>&nbsp;@Resources.btnSearch
                            </button>

                        </div>
                    }
                </div>
                @if (ViewBag.ShowResults == "true")
                {
                    DateTime userCurTime = GMGColorFormatData.GetUserTimeFromUTC(DateTime.UtcNow, objAcc.TimeZone);

                    <div class="page-header">
                        <h3>
                            <span class="pull-right">
                                <small>@Resources.lblDisplaying <b>@Model.ListFileReportDetails.Count </b> @Resources.lblFileReport</small>
                            </span>
                            @Model.ListFileReportDetails.Count @Resources.lblFileReport <small>
                                @Resources.lblReportgeneratedon
                                @GMGColorFormatData.GetFormattedDate(userCurTime, dateFormat) @GMGColorFormatData.GetFormattedTime(userCurTime, objAcc)
                            </small>
                        </h3>
                    </div>

                    <div class="report-results">
                        @if (Model.ListFileReportDetails.Count > 0)
                        {
                            <div>

                                @{
                                    var grid = new WebGrid(Model.ListFileReportDetails, canPage: false, canSort: false);}


                                @{
                                    var gridColumns = new List<WebGridColumn>();

                                    gridColumns.Add(grid.Column("AccountName", format: @<text>@item.Account</text>));
                                    gridColumns.Add(grid.Column("OwnerName", Resources.lblOwnerName));
                                    gridColumns.Add(grid.Column("OwnerGroupMembership", Resources.lblGroupMembership));
                                    gridColumns.Add(grid.Column("FileName", Resources.lblFileName));
                                    gridColumns.Add(grid.Column("V1PageCount", Resources.lblV1Count));
                                    gridColumns.Add(grid.Column("NumberOfVersion", Resources.lblNumberofVersions));
                                    gridColumns.Add(grid.Column("UploadDate", Resources.lblUploadDate));
                                    if(Model.FileReportType == "0" || Model.FileReportType == "4")
                                    {
                                        gridColumns.Add(grid.Column("OverDue", Resources.lblOverDue + " " + Resources.lblDate + "/" + Resources.lblTime ));
                                    }
                                    if (Model.FileReportType != "4")
                                    {
                                        gridColumns.Add(grid.Column("CompletedDate", Resources.lblCompletedDate));
                                    }
                                    gridColumns.Add(grid.Column("V1Users", Resources.lblV1Users));
                                    gridColumns.Add(grid.Column("LatestVersionUsers", Resources.lblLatestVersionUsers));

                                    if (Model.FileReportType == "0" || Model.FileReportType == "2")
                                    {
                                        gridColumns.Add(grid.Column("Modifier", Resources.lblArchivedBy));
                                        gridColumns.Add(grid.Column("ModifiedDate", Resources.lblArchivedDate));
                                    }

                                    if (Model.FileReportType == "0" || Model.FileReportType == "3")
                                    {
                                        gridColumns.Add(grid.Column("DeletedByUser", Resources.lblDeleted +" "+ Resources.lblBy));
                                        gridColumns.Add(grid.Column("DeletedDate", Resources.lblDeletedDate));
                                    }


                                    }

                                @grid.GetHtml(tableStyle: "table table-striped table-bordered table-responsive",  columns: grid.Columns(gridColumns.ToArray()))

                            </div>
                                    }
                                    else
                                    {
                                        <h6 class="text-center">
                                            @Resources.lblNoResultReport
                                        </h6>
                                    }
                    </div>

                 }
            </div>
        </div>
    </div>
    <!-- /row-fluid -->
    @{
        int startDateYear = int.Parse(ViewBag.startDateYear.ToString());
        int startDateMonth = int.Parse(ViewBag.startDateMonth.ToString());
        int startDateDay = int.Parse(ViewBag.startDateDay.ToString());
        int endDateYear = int.Parse(ViewBag.endDateYear.ToString());
        int endDateMonth = int.Parse(ViewBag.endDateMonth.ToString());
        int endDateDay = int.Parse(ViewBag.endDateDay.ToString());

        DateTime minStartDate = DateTime.MinValue;
        if (ViewBag.MinStartDate != null)
        {
            minStartDate = (DateTime)ViewBag.MinStartDate;
        }
    }

    @section PageScript
        {
        <script type="text/javascript">
            $(document).ready(function () {
                $(".chzn-select").chosen();
                $(".chzn-select-deselect").chosen({ allow_single_deselect: true });
            });

            $(function() {

                $('label.expired').each(function () {
                    $(this).parent('td').parent('tr').addClass('error');
                });

                var startDate = new Date(@startDateYear, @startDateMonth, @startDateDay);
                var endDate = new Date(@endDateYear, @endDateMonth, @endDateDay);

                $('#dtFromPicker').datepicker()
                    .on('changeDate', function(ev) {
                        if (ev.date.valueOf() > endDate.valueOf()) {
                            $('#dtFromPickerAlert').show();
                            $('#dtFromPicker').parent().parent().addClass("error");
                            startDate = new Date(ev.date);
                        } else {
                            $('.help-inline').hide();
                            $('.date').parent().parent().removeClass("error");
                            startDate = new Date(ev.date);
                            $('#btnSubmit').removeAttr('disabled');
                        }
                        $('#dtFromPicker').datepicker('hide');
                    });

                var minStartDate = new Date(@(minStartDate.Year), @(minStartDate.Month - 1), @(minStartDate.Day));
                $('#dtFromPicker').data('datepicker').setStartDate(minStartDate);


                $('#dtToPicker').datepicker()
                    .on('changeDate', function(ev) {

                        if (ev.date.valueOf() < startDate.valueOf()) {
                            $('#dtToPickerAlert').show();
                            $('#dtToPicker').parent().parent().addClass("error");
                            endDate = new Date(ev.date);
                        } else {
                            $('.help-inline').hide();
                            $('.date').parent().parent().removeClass("error");
                            endDate = new Date(ev.date);
                            $('#btnSubmit').removeAttr('disabled');
                        }
                        $('#dtToPicker').datepicker('hide');
                    });

                $("#listSelectedAccount").change(function() {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("FillUserGroups")', // we are calling json method
                        dataType: 'json',
                        data: JSON.parse( { AccountId: $("#listSelectedAccount").val() == null ? "" : $("#listSelectedAccount").val().toString(),__RequestVerificationToken: $("#mainForm input").val() }),
                        success: function (response) {
                            $('#listUserGroups').html("").trigger('liszt:updated');
                            $.each(response.userGroups, function (i, usrGrp) {
                                $('#listUserGroups').append('<option value="' + usrGrp.ID + '">' + usrGrp.Name + '</option>');
                            });
                            $('#listUserGroups').trigger('liszt:updated');
                        },
                        error: function (ex) {
                            alert('Failed to retrieve states.' + ex);
                        }
                    });


                });

            });

        </script>
    }
</div>
<!-- /widget-content -->
<!-- /widget -->
