﻿@model GMGColorDAL.CustomModels.ReportsIndex
@using GMGColor.Resources
@{    
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
}
<div class="widget">
    <div class="widget-header">
        <h3>@ViewBag.Header</h3>
    </div>
    <!-- /widget-header -->
    <div class="widget-content">
        <div class="row-fluid">
            <div class="span12">
                <ul class="thumbnails report_items">
                    <li>
                        <h4>
                            <a href="@(Url.Action("BillingReport"))"><i class="icon-credit-card"></i>
                                <br />@Resources.lblBillingReport</a>
                        </h4>
                    </li>
                    <li>
                        <h4>
                            <a href="@(Url.Action("UserReport"))"><i class="icon-group"></i>
                                <br />@Resources.lblAdminReport</a>
                        </h4>
                    </li>
                    <li>
                        <h4>
                            <a href="@(Url.Action("NewUserReport"))">
                                <i class="icon-user"></i>
                                <br />User Report
                            </a>
                        </h4>
                    </li>
                    <li>
                        <h4>
                            <a href="@(Url.Action("FileReport"))">
                                <i class="icon-file"></i>
                                <br />@Resources.lblFileReport
                            </a>
                        </h4>
                    </li>
                     @if (Model.ShowAccountReports)
                     {
                         <li class="span3">
                             <h4>
                                 <a href="@(Url.Action("AccountReport"))"><i class="icon-briefcase"></i>
                                     <br />@Resources.lblAccountsReport</a>
                             </h4>
                         </li>
                     }
                </ul>
            </div>
        </div>
        <!-- /row-fluid -->
    </div>
    <!-- /widget-content -->
</div>
<!-- /widget -->
