﻿@model GMGColorDAL.CustomModels.Reports
@using GMGColor.Resources;
@using GMGColorDAL.Common
@using GMGColorDAL.CustomModels
@{
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
    Bundles.Reference("chosen");
    Bundles.Reference("datetimepicker");
    Bundles.Reference("tableHTMLExport");

    GMGColorDAL.Account objAcc = ViewBag.LoggedAccount;

    string dateFormat = objAcc.DateFormat1.Pattern;
}
@if (!ViewBag.IsOpenedFromReportAppIndex)
{
    <p class="breadcrumb">
        <a href="Index">@Resources.navReportsIndex</a>
    </p>
}
else
{ 
    <p class="breadcrumb">
        <a href="ReportAppIndex">@Resources.navReportsIndex</a>
    </p>
}

<div class="widget">
    <div class="widget-header">
        @if (ViewBag.ShowResults == "true" && Model.ListAccountUserReportDetails.Count > 0)
        {
            <ul class="widget-links">
                @if (Model.ListAccountUserReportDetails.Count > 0 && Model.UserReportType == "0")
                {
                <li><a class="download btn btn-primary" href="javascript:void(0);" onclick="$('#btnDownload').click();">@Resources.lblDownload</a></li>
                }
                else if(Model.ApprovalUserActivityReportView_Data.Count > 0 && Model.UserReportType != "0")
                {
                 <li><a class="export-btn download btn btn-primary" href="javascript:void(0);" >@Resources.lblDownload</a></li>
                }
            </ul>

            using (Html.BeginForm("", "Reports", FormMethod.Post, new { @style = "display:none" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.ReportType)
                <button id="btnDownload" type="submit" name="action" class="btn" value="NewUserReportDownload">
                    Download
                </button>
            }
        }
        <h3>@ViewBag.Header @*<small>@Resources.lblUserReport</small>*@</h3>
    </div>
    <!-- /widget-header -->
    <div class="widget-content">
        <div class="row-fluid">
            <div class="span12">
                <div class="well">
                    @using (Html.BeginForm("", "Reports", FormMethod.Post, new { @id = "mainForm", @autocomplete = "off", @class = "dirtyignore" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.CurrentDate)
                        <div class="row-fluid" id="dvControls">
                            <div class="span3" id="dvAccounts">
                                <div class="control-group">
                                    <label class="control-label">@Resources.lblAccounts</label>
                                    <div class="controls">
                                        @if (ViewBag.ShowAccounts)
                                        {
                                        <select id="listSelectedAccount" name="SelectedAccounts" multiple="multiple" data-placeholder="@Resources.lblAllAccounts" class="chzn-select">
                                            @foreach (KeyValuePair<int, string> objAccount in Model.ListAccounts)
                                            {
                                                string selected = (Model.SelectedAccounts != null && Model.SelectedAccounts.Contains(objAccount.Key.ToString())) ? "selected=\"selected\"" : "";
                                            <option value="@objAccount.Key" @selected>@objAccount.Value</option>
                                            }
                                        </select>
                                        }
                                        else
                                        {
                                        <label class="control-label">
                                            <b>@ViewBag.AccountName</b>
                                        </label>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="span3" id="dvUserGroups">
                                <div class="control-group">
                                    <label class="control-label">@Resources.lblUserGroup</label>
                                    <div class="controls">
                                        <select id="listUserGroups" name="SelectedUserGroup" multiple="multiple" data-placeholder="@Resources.lblUserGroup" class="chzn-select">
                                            @foreach (KeyValuePair<int, string> objUserGroups in Model.ListUserGroups)
                                        {
                                            string selected = (Model.SelectedUserGroup != null && Model.SelectedUserGroup.Contains(objUserGroups.Key.ToString())) ? "selected=\"selected\"" : "";
                                        <option value="@objUserGroups.Key" @selected>@objUserGroups.Value</option>
                                        }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="span3" id="dvReportType">
                                <div class="control-group">
                                    <label class="control-label">@Resources.lblReportType</label>
                                    <div class="controls">
                                        @Html.DropDownList("UserReportType", new List<SelectListItem>
                                             {
                                                new SelectListItem{ Text="General Report", Value = "0" },
                                                new SelectListItem{ Text="User Activity Report", Value = "1" }
                                             })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span3">
                                <div class="control-group">
                                    <label class="control-label">@Resources.lblStartDate</label>
                                    <div class="controls">
                                        <div class="input-append date-picker date" id="dtFromPicker" data-date-format="@dateFormat.ToLower()">
                                            @Html.TextBoxFor(model => model.FromDate, new { @Value = String.Format("{0:" + dateFormat + "}", Model.FromDate), @size = "16", @class = "input-small", @readonly = "" })
                                            <span class="add-on"><i class="icon-calendar"></i></span>
                                        </div>
                                        <span id="dtFromPickerAlert" class="help-inline" style="display: none;">@Resources.reqStartDate</span>
                                        <span id="dtFromPickerMaxOneMonthAlert" class="help-inline" style="display: none;">@Resources.reqDateRangeShouldBeLimitedToMonth</span>
                                    </div>
                                </div>
                            </div>
                            <div class="span3">
                                <div class="control-group">
                                    <label class="control-label">@Resources.lblEndDate</label>
                                    <div class="controls">
                                        <div class="input-append date-picker date" id="dtToPicker" data-date="@String.Format("{0:" + dateFormat + "}", Model.ToDate)" data-date-format="@dateFormat.ToLower()">
                                            @Html.TextBoxFor(model => model.ToDate, new { @Value = String.Format("{0:" + dateFormat + "}", Model.ToDate), @size = "16", @class = "input-small", @readonly = "" })
                                            <span class="add-on"><i class="icon-calendar"></i></span>
                                        </div>
                                        <span id="dtToPickerAlert" class="help-inline" style="display: none;">@Resources.reqEndDate</span>
                                        <span id="dtToPickerMaxOneMonthAlert" class="help-inline" style="display: none;">@Resources.reqDateRangeShouldBeLimitedToMonth</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @Html.Hidden("MinStartDate", 0, new { @id = "minStartDate", @data_val = false })
                        <div class="form-actions small">
                            <div id="alert" class="alert alert-error" style="display: none;">
                                <strong>@Resources.lblNoAccountSubscriptionFound</strong>
                            </div>
                            <button id="btnSubmit" type="submit" name="action" class="btn btn-primary" value="LoadNewUserReport" data-loading-text="@Resources.btnSearching" autocomplete="off">
                                <i class="icon-search icon-white"></i>&nbsp;@Resources.btnSearch
                            </button>
                
                        </div>
                    }
                </div>
                @if (ViewBag.ShowResults == "true")
                {
                    DateTime userCurTime = GMGColorFormatData.GetUserTimeFromUTC(DateTime.UtcNow, objAcc.TimeZone);

                <div class="report-results">
                    
                    @if (Model.ApprovalUserActivityReportView_Data != null ? (Model.ApprovalUserActivityReportView_Data.Count > 0 && Model.UserReportType != "0") : false)
                    {
                        <div class="page-header">
                            <h3>
                                <span class="pull-right">
                                    <small>@Resources.lblDisplaying <b>@Model.ApprovalUserActivityReportView_Data.Count </b> User Activity Report</small>
                                </span>
                                    @Resources.lblUserActivityReport  <small>
                                    @Resources.lblReportgeneratedon
                                    @GMGColorFormatData.GetFormattedDate(userCurTime, dateFormat) @GMGColorFormatData.GetFormattedTime(userCurTime, objAcc)
                                </small>
                            </h3>
                        </div>
                        <div>
                           @{ var grid = new WebGrid(Model.ApprovalUserActivityReportView_Data, canPage: false, canSort: false); }
                        @{
                            var gridColumns = new List<WebGridColumn>();

                            gridColumns.Add(grid.Column("Collaborator", format: @<text>@item.FullName</text>));
                            gridColumns.Add(grid.Column("Username", format: @<text>@item.UserName</text>));
                            gridColumns.Add(grid.Column("File Name", format: @<text>@item.FileName</text>));
                            gridColumns.Add(grid.Column("Decision", format: @<text>@Html.Raw(GetDecision(item.DecisionId))</text>));
                            gridColumns.Add(grid.Column("Date", format: @<text> @GMGColorFormatData.GetUserFormattedDate(@item.date, dateFormat)</text>));
                            gridColumns.Add(grid.Column("Version", format: @<text> V @item.Version</text>));
                            gridColumns.Add(grid.Column("Phase", format: @<text>@item.Phase</text>));
                            gridColumns.Add(grid.Column("AnnotationCount", format: @<text>@item.AnnotationCount</text>));
                            gridColumns.Add(grid.Column("ReplyCount", format: @<text>@item.AnnotationReplayCount</text>));
                        }
                        @grid.GetHtml(tableStyle: "table exportToExcel table-striped table-bordered table-responsive", columns: grid.Columns(gridColumns.ToArray()))
                        </div>
                     }

                    @if (Model.ListAccountUserReportDetails.Count > 0 && Model.UserReportType == "0")
                    {
                        <div class="page-header">
                            <h3>
                                <span class="pull-right">
                                    <small>@Resources.lblDisplaying <b>@Model.ListAccountUserReportDetails.Count </b> User Report</small>
                                </span>
                                    @Resources.lblUserReport  <small>
                                    @Resources.lblReportgeneratedon
                                    @GMGColorFormatData.GetFormattedDate(userCurTime, dateFormat) @GMGColorFormatData.GetFormattedTime(userCurTime, objAcc)
                                </small>
                            </h3>
                        </div>
                        <div>
                            @{var wgUserDetails = new WebGrid(Model.ListAccountUserReportDetails, canPage: false, canSort: false);}
                            @wgUserDetails.GetHtml(
                                 tableStyle: "table table table-striped table-bordered table-responsive",
                                 columns:
                                          wgUserDetails.Columns(
                                          wgUserDetails.Column(header: "AccountName", format: @<text>@item.Account</text>),
                                                    wgUserDetails.Column(columnName: "Name", header: Resources.lblName),
                                                    wgUserDetails.Column(columnName: "UserName", header: Resources.lblUserName),
                                                    wgUserDetails.Column(columnName: "EmailAddress", header: Resources.lblEmailAddress),
                                                    wgUserDetails.Column(columnName: "NumberOfApprovals", header: Resources.lblNumberOfApprovals),
                                                    wgUserDetails.Column(columnName: "NumberOfUploads", header: Resources.lblNumberOfUploads),
                                                    wgUserDetails.Column(columnName: "LastLoginDate", header: Resources.lblLastLoginDate),
                                                    wgUserDetails.Column(columnName: "GroupMembership", header: Resources.lblGroupMembership)
                             ));
                        </div>
                      }
                        @if (Model.ListAccountUserReportDetails.Count == 0 && Model.UserReportType == "0")
                        {
                            <h6 class="text-center">
                                @Resources.lblNoResultReport
                            </h6>
                        }
                </div>

                 }
            </div>
        </div>
        </div>
        <!-- /row-fluid -->
        @{
            int startDateYear = int.Parse(ViewBag.startDateYear.ToString());
            int startDateMonth = int.Parse(ViewBag.startDateMonth.ToString());
            int startDateDay = int.Parse(ViewBag.startDateDay.ToString());
            int endDateYear = int.Parse(ViewBag.endDateYear.ToString());
            int endDateMonth = int.Parse(ViewBag.endDateMonth.ToString());
            int endDateDay = int.Parse(ViewBag.endDateDay.ToString());

            DateTime minStartDate = DateTime.MinValue;
            if (ViewBag.MinStartDate != null)
            {
                minStartDate = (DateTime)ViewBag.MinStartDate;
            }
        }

        @section PageScript
        {
            <script type="text/javascript">
                $(document).ready(function () {
                    $(".chzn-select").chosen();
                    $(".chzn-select-deselect").chosen({ allow_single_deselect: true });
                });

                $(function() {

                    $('label.expired').each(function () {
                        $(this).parent('td').parent('tr').addClass('error');
                    });

                    var startDate = new Date(@startDateYear, @startDateMonth, @startDateDay);
                    var endDate = new Date(@endDateYear, @endDateMonth, @endDateDay);

                    $('#dtFromPicker').datepicker()
                        .on('changeDate', function(ev) {
                            if (ev.date.valueOf() > endDate.valueOf()) {
                                $('#dtFromPickerAlert').show();
                                $('#dtFromPicker').parent().parent().addClass("error");
                                $('#btnSubmit').attr('disabled', 'disabled');
                                startDate = new Date(ev.date);
                            } else {
                                $('.help-inline').hide();
                                $('.date').parent().parent().removeClass("error");
                                startDate = new Date(ev.date);
                                $('#btnSubmit').removeAttr('disabled');
                            }
                            
                            if($("#UserReportType :selected").val() == "1")
                            {
                                const _MS_PER_DAY = 1000 * 60 * 60 * 24;
                                const start_date = Date.UTC(ev.date.getFullYear(), ev.date.getMonth(), ev.date.getDate());
                                const end_date = Date.UTC(endDate.getFullYear(), endDate.getMonth(), endDate.getDate());
                                var days = Math.floor((end_date - start_date) / _MS_PER_DAY);

                                if (days > 30) {
                                    $('#dtFromPickerMaxOneMonthAlert').show();
                                    $('#dtFromPicker').parent().parent().addClass("error");
                                    $('#btnSubmit').attr('disabled', 'disabled');
                                    startDate = new Date(ev.date);
                                }
                            }

                            $('#dtFromPicker').datepicker('hide');
                        });

                    var minStartDate = new Date(@(minStartDate.Year), @(minStartDate.Month - 1), @(minStartDate.Day));
                    $('#dtFromPicker').data('datepicker').setStartDate(minStartDate);


                    $('#dtToPicker').datepicker()
                        .on('changeDate', function(ev) {

                            if (ev.date.valueOf() < startDate.valueOf()) {
                                $('#dtToPickerAlert').show();
                                $('#dtToPicker').parent().parent().addClass("error");
                                $('#btnSubmit').attr('disabled', 'disabled');
                                endDate = new Date(ev.date);
                            } else {
                                $('.help-inline').hide();
                                $('.date').parent().parent().removeClass("error");
                                endDate = new Date(ev.date);
                                $('#btnSubmit').removeAttr('disabled');
                            }

                            if($("#UserReportType :selected").val() == "1")
                            {
                                const _MS_PER_DAY = 1000 * 60 * 60 * 24;
                                const  start_date = Date.UTC(startDate.getFullYear(), startDate.getMonth(), startDate.getDate());
                                const end_date = Date.UTC(ev.date.getFullYear(), ev.date.getMonth(), ev.date.getDate());
                                var days = Math.floor((end_date - start_date) / _MS_PER_DAY);
                            
                                if (days > 30) {
                                    $('#dtToPickerMaxOneMonthAlert').show();
                                    $('#dtToPicker').parent().parent().addClass("error");
                                    $('#btnSubmit').attr('disabled', 'disabled');
                                    endDate = new Date(ev.date);
                                }
                            }

                            $('#dtToPicker').datepicker('hide');
                        });

                    $("#UserReportType").change(function () {
                        if($("#UserReportType :selected").val() == "1"){
                            const _MS_PER_DAY = 1000 * 60 * 60 * 24;
                            const  start_date = startDate;
                            const end_date = endDate;
                            var days = Math.floor((end_date - start_date) / _MS_PER_DAY);
                            
                            if (days > 30) {
                                $('#dtToPickerMaxOneMonthAlert').show();
                                $('#dtToPicker').parent().parent().addClass("error");
                                $('#btnSubmit').attr('disabled', 'disabled');
                                endDate = new Date(ev.date);
                            }
                        }
                        else{
                            $('#dtToPickerMaxOneMonthAlert').hide();
                            $('#dtToPicker').parent().parent().removeClass("error");
                            $('#btnSubmit').removeAttr('disabled');
                        } 
                    });

                });

                $("#listSelectedAccount").change(function() {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("FillUserGroups")', // we are calling json method
                        dataType: 'json',
                        data: JSON.parse( { AccountId: $("#listSelectedAccount").val() == null ? "" : $("#listSelectedAccount").val().toString(),__RequestVerificationToken: $("#mainForm input").val() }),
                        success: function (response) {
                            $('#listUserGroups').html("").trigger('liszt:updated');
                            $.each(response.userGroups, function (i, usrGrp) {
                                $('#listUserGroups').append('<option value="' + usrGrp.ID + '">' + usrGrp.Name + '</option>');
                            });
                            $('#listUserGroups').trigger('liszt:updated');
                        },
                        error: function (ex) {
                            alert('Failed to retrieve states.' + ex);
                        }
                    });
                });
            
            </script>
    <script>
        $(document).ready(function () {
            $(".export-btn").click(function () {
                $(".exportToExcel").tableHTMLExport({
                    type: 'csv',
                    filename: 'UserActivityReport.csv',
                });
            });
        });
    </script>
        }
    </div>
@functions {
    private string GetDecision(int decision )
    {
        System.Text.StringBuilder html = new System.Text.StringBuilder();
        switch (decision)
        {
            case 0: { html.Append("No Interaction"); break; }
            case 1: { html.Append("Pending"); break; }
            case 2: { html.Append("Changes Required"); break; }
            case 3: { html.Append("Approved with Changes"); break; }
            case 4: { html.Append("Approved"); break; }
            case 5: { html.Append("Not Applicable"); break; }
            case 6: { html.Append("Opened"); break; }
            default:  { html.Append("No Interaction"); break; }

        }
        return html.ToString();
    }
}
<!-- /widget-content -->
<!-- /widget -->
