﻿@model GMGColorDAL.CustomModels.Reports
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@ViewBag.SiteName</title>
    
    <link href="@Url.Content("~/Content/css/bootstrap.min.css")" rel="stylesheet" media="screen" />
    <link href="@Url.Content("~/Content/css/bootstrap-responsive.min.css")" rel="stylesheet" />

    <link href="@Url.Content("~/Content/css/styles.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/css/styles-responsive.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/css/styles-print.css")" rel="stylesheet" media="print">
</head>
<body>
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <div id="print">
                    <div class="page">
                        @Html.Partial("ReportResult", Model)
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function printReport() {
            window.print();
        }
    </script>
</body>
</html>
