﻿@model GMGColorDAL.CustomModels.Reports
@using GMGColor.Resources;
@using GMGColorDAL
@using GMGColorDAL.Common
@using GMGColorDAL.CustomModels
@{
    GMGColorBusinessLogic.DbContextBL context = HttpContext.Current.Items[GMGColorDAL.DALUtils.DatabaseContext] as GMGColorBusinessLogic.DbContextBL;
}
@if (Model.ReportType == "Account")
{
    <div class="page-header">
        <a href="javascript:void(0);" class="btn btn-primary pull-right print" title="Print"
            onclick="printReport()"><i class="icon-print"></i>@Resources.lblPrint</a>
        <h4>
            @Model.ListAccountReportDetails.Count @Resources.lblAccounts <small>@Resources.lblReportgeneratedon
                @String.Format("{0:dd/MM/yyyy}", DateTime.Now)</small>
        </h4>
    </div>      
    <div class="report-results">
        @if (Model.ListAccountReportDetails.Count > 0)
        {
            <div>
                @{var gridAccountDetails = new WebGrid(Model.ListAccountReportDetails, rowsPerPage: 10);}
                @gridAccountDetails.GetHtml(
                    tableStyle: "table",
                    columns: gridAccountDetails.Columns(
                                gridAccountDetails.Column(columnName: "Name", header: Resources.lblName),
                                gridAccountDetails.Column(columnName: "AccountTypeName", header: Resources.lblType),
                                gridAccountDetails.Column(columnName: "GivenName", header: Resources.lblOwner, format: @<text>@string.Format("{0} {1}", item.GivenName, item.FamilyName)</text>),
                                gridAccountDetails.Column(columnName: "ChildAccounts", header: "ChildAccounts", style: "span2"),
                                gridAccountDetails.Column(columnName: "CreatedDate", header: Resources.lblCreated, format: @<text>@string.Format("{0: dd MMM, yyyy}", item.CreatedDate)</text>),
                                gridAccountDetails.Column(columnName: "LastActivity", header: Resources.lblLastActivity, format: @<text>@string.Format("{0: dd MMM, yyyy}", item.LastActivity ?? "")</text>),
                                gridAccountDetails.Column(columnName: "StatusName", header: Resources.lblStatus),
                                gridAccountDetails.Column(columnName: "ApprovalsCount", header: Resources.lblCollaborateApprovalsNumber, style: "text-center")
                                                                      ))
            </div>
        }
        else
        {
            <h6 class="text-center">@Resources.lblNoResultReport</h6>
        }
    </div>
}
else if (Model.ReportType == "User")
{
    int userCount = Model.ListUserReportDetails.Count;
    GMGColorDAL.Account objAcc = GMGColorDAL.DALUtils.GetObject<GMGColorDAL.Account>(Model.LoggedAccount, context);

    DateTime userCurTime = GMGColorFormatData.GetUserTimeFromUTC(DateTime.UtcNow, objAcc.TimeZone);
    
    <div class="page-header">
        <a href="javascript:void(0);" class="btn btn-primary pull-right print" title="Print"
            onclick="printReport()"><i class="icon-print"></i>@Resources.lblPrint</a>
        <h2>
            @Resources.lblUserReport</h2>
    </div>
    <div class="report-results">
        <h3>@userCount @Resources.lblUsers <small>@Resources.lblReportgeneratedon
            @GMGColorFormatData.GetFormattedDate(userCurTime, objAcc, context) @GMGColorFormatData.GetFormattedTime(userCurTime, objAcc)</small>
        </h3>
        @if (Model.ListUserReportDetails.Count > 0)
        {
            <div>
                @{var wgUserDetails = new WebGrid(Model.ListUserReportDetails, canPage: false, canSort: false);}
                @wgUserDetails.GetHtml(
                                    tableStyle: "table",
                                    columns:
                                             wgUserDetails.Columns(
                                             wgUserDetails.Column(header: Resources.lblName, format: @<text>@item.Name</text>),
                                             wgUserDetails.Column(columnName: "UserName", header: Resources.lblUserName),
                                             wgUserDetails.Column(columnName: "Status", header: Resources.lblStatus),
                                             wgUserDetails.Column(columnName: "EmailAddress", header: Resources.lblEmail),
                                             wgUserDetails.Column(columnName: "DateLastLogin", header: Resources.lblLastLogin),
                                             wgUserDetails.Column(columnName: "CollaborateApprovalsNumber", header: Resources.lblCollaborateApprovalsNumber, style: "text-center"),
                                             wgUserDetails.Column(columnName: "DeliverJobsNumber", header: Resources.lblDeliverJobsNumber, style: "text-center")

                                ))
            </div>
        }
        else
        { 
            <h6 class="text-center">@Resources.lblNoResultReport</h6>
        }
    </div>
}
else if (Model.ReportType == "Billing")
{
    int accountCount = 0;

    GMGColorDAL.Account objAcc = GMGColorDAL.DALUtils.GetObject<GMGColorDAL.Account>(Model.LoggedAccount, context);

    DateTime userCurTime = GMGColorFormatData.GetUserTimeFromUTC(DateTime.UtcNow, objAcc.TimeZone);

    if (Model.ListAccountBillingReportDetails.Count > 0)
    {
        foreach (ListAccountReportDetails lstAccReport in Model.ListAccountBillingReportDetails)
        {
            accountCount += 1;
        }
    }   
    <div class="page-header">
        <a href="javascript:void(0);" class="btn btn-primary pull-right print" title="Print"
            onclick="printReport()"><i class="icon-print"></i>@Resources.lblPrint</a>
        <h2>
            @Resources.lblBillingReportfor @GMGColorFormatData.GetFormattedDate(Model.FromDate, objAcc, context)
            - @GMGColorFormatData.GetFormattedDate(Model.ToDate, objAcc, context)</h2>
    </div>
    <div id="report-results">
        <h3>@accountCount @Resources.lblBillingAccounts <small>@Resources.lblReportgeneratedon
            @GMGColorFormatData.GetFormattedDate(userCurTime, objAcc, context) @GMGColorFormatData.GetFormattedTime(userCurTime, objAcc)</small>
        </h3>
        @if (Model.ListAccountBillingReportDetails.Count > 0)
        {
            foreach (ListAccountReportDetails lstAccReport in Model.ListAccountBillingReportDetails)
            {
                string planHeader = Resources.lblPlan + " (" + Resources.lblVOD + ")";
            <div class="plan-header">
                <h3>@lstAccReport.SubAccountName</h3>
            </div>
            <table class="table table-bordered table-striped table-responsive">
                <thead>
                    <tr>
                        <th scope="col">
                            @Resources.lblName
                        </th>
                        <th scope="col">
                            @Resources.lblType
                        </th>
                        <th scope="col">
                            @Resources.lblAccountPath
                        </th>
                        <th scope="col">
                            @Resources.lblModule
                        </th>
                        <th scope="col">
                            @planHeader
                        </th>
                        <th scope="col">
                            @Resources.lblBillingMonth
                        </th>
                        <th scope="col">
                            @Resources.lblContractStart
                        </th>
                        <th scope="col">
                            @Resources.lblContractEnd
                        </th>
                        <th scope="col">
                            @Resources.lblBillingFrequency
                        </th>
                        <th scope="col">
                            @Resources.lblPricePerMonth
                        </th>
                        <th scope="col">
                            @Resources.lblUsage
                        </th>
                        <th scope="col">
                            @Resources.lblCostPerProof
                        </th>
                        <th scope="col">
                            @Resources.lblAmount
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (AccountBillingDetails billingRow in lstAccReport.AccountBillingDetails)
                    {
                        <tr>
                            <td class="span2">
                                @billingRow.Name
                            </td>
                             <td  class="span2">
                                @billingRow.Type
                            </td>
                            <td  class="span2">
                                <ul class="unstyled">
                                   @billingRow.AccountPath
                                </ul>
                            </td>
                            <td>
                                @Html.Raw(billingRow.ModuleName)
                            </td>
                            <td>
                                @Html.Raw(billingRow.Plan)
                            </td>
                            <td>
                                @Html.Raw(billingRow.BillingMonth)
                            </td>
                            <td>
                                @Html.Raw(billingRow.ContractStartDate)
                            </td>
                            <td>
                                @Html.Raw(billingRow.ContractEndDate)
                            </td>
                            <td>
                                @Html.Raw(billingRow.BillingFrequency)
                            </td>
                            <td>
                                @billingRow.PricePerMonth
                            </td>
                            <td>
                                @billingRow.Usage
                            </td>
                            <td>
                                @(!billingRow.BillingPlanIsFixed ? Html.Raw(Model.GetExceededProofsString(Model.LoggedAccount, billingRow.CostPerProof, billingRow.TotalExceededProofs, context)) : Html.Raw("-"))
                            </td>
                            <td>
                                @billingRow.Amount
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="11">
                            &nbsp;
                        </th>
                        <th>
                            @Resources.lblTotal
                        </th>
                        <th>
                            @lstAccReport.Total
                        </th>
                    </tr>
                    <tr>
                    </tr>
                </tfoot>
            </table>
            }
            <div class="grand-total text-right">
                <h2>
                    <small>@Resources.lblGrandTotal</small> @Model.GrandTotal</h2>
            </div>                       
        }
        else
        {
            <h6 class="text-center">@Resources.lblNoResultReport</h6>
        }
    </div>  
}