﻿@model GMGColorDAL.CustomModels.Reports
@using GMGColor.Resources;
@using GMGColorDAL
@using GMGColorDAL.Common
@{    
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
    Bundles.Reference("chosen");
    GMGColorBusinessLogic.DbContextBL context = HttpContext.Current.Items[GMGColorDAL.DALUtils.DatabaseContext] as GMGColorBusinessLogic.DbContextBL;

    GMGColorDAL.Account objAcc = GMGColorDAL.DALUtils.GetObject<GMGColorDAL.Account>(Model.LoggedAccount, context);
}
<p class="breadcrumb">
    <a href="Index">@Resources.navReportsIndex</a>
</p>
<div class="widget">
    <div class="widget-header">
        @if (ViewBag.ShowResults == "true")
        {
            <ul class="widget-links">
                <li><a target="_blank" class="print btn btn-primary" href=@(Url.Action("Print", new { @type = @Model.ReportType }))>@Resources.lblPrintBlock</a></li>
            </ul>
        }
        <h3>@ViewBag.Header @*<small>@Resources.lblAdminReport</small>*@</h3>
    </div>
    <!-- /widget-header -->
    <div class="widget-content">
        <div class="row-fluid">
            <div class="span12">
                <div class="well">
                    @using (Html.BeginForm("", "Reports", FormMethod.Post, new { @id = "mainForm", @class = "dirtyignore" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="row-fluid">
                            <div class="span3">
                                <label>
                                    @Resources.lblType</label>
                                <div class="controls">
                                    <select name="SelectedAccountTypes" multiple="multiple" data-placeholder="@Resources.lblAnyAccountTypes" class="chzn-select" >                                       
                                         @foreach (KeyValuePair<int, string> objAccountType in Model.ListAccountTypes)
                                            {
                                                string selected = (Model.SelectedAccountTypes != null && Model.SelectedAccountTypes.Contains(objAccountType.Key.ToString())) ? "selected=\"selected\"" : "";
                                                <option value="@objAccountType.Key" @selected>@GMGColorDAL.AccountType.GetLocalizedAccountTypeName(objAccountType.Key, context)</option>
                                            }
                                    </select>
                                </div>
                            </div>
                            <div class="span3" id="dvLocations">
                                <label>
                                    @Resources.lblLocation</label>
                                <div class="controls">
                                    <select name="SelectedLocations" multiple="multiple" data-placeholder="@Resources.lblAllLocations" class="chzn-select">
                                        @foreach (KeyValuePair<int, string> objCountry in Model.ListLocations)
                                            {
                                                string selected = (Model.SelectedLocations != null && Model.SelectedLocations.Contains(objCountry.Key.ToString())) ? "selected=\"selected\"" : "";
                                                <option value="@objCountry.Key" @selected>@objCountry.Value</option>
                                            }
                                    </select>
                                </div>
                            </div>
                            <div class="span3">
                                <label>
                                    @Resources.lblAccounts</label>
                                <div class="controls">
                                    <select name="SelectedAccounts" multiple="multiple" data-placeholder="@Resources.lblAllAccounts" class="chzn-select" >
                                        @foreach (KeyValuePair<int, string> objAccount in Model.ListAccounts)
                                            {
                                                string selected = (Model.SelectedAccounts != null && Model.SelectedAccounts.Contains(objAccount.Key.ToString())) ? "selected=\"selected\"" : "";
                                                <option value="@objAccount.Key" @selected>@objAccount.Value</option>
                                            }
                                    </select>
                                </div>
                            </div>
                            <div class="span3">
                                <label>
                                    @Resources.lblStatus</label>
                                <div class="controls">
                                    <select name="SelectedUserStatuses" multiple="multiple" data-placeholder="@Resources.lblAnyStatus" class="chzn-select" >
                                        @foreach (KeyValuePair<int, string> objStatus in Model.ListUserStatuses)
                                        {
                                            string selected = (Model.SelectedUserStatuses != null && Model.SelectedUserStatuses.Contains(objStatus.Key.ToString())) ? "selected=\"selected\"" : "";
                                            <option value="@objStatus.Key" @selected>@GMGColorDAL.UserStatu.GetLocalizedUserStatusName(objStatus.Key, context)</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>                      
                        <div class="form-actions small">
                            <div id="alert" class="alert alert-error" style="display: none;">
                                <strong></strong>
                            </div>
                            <button id="btnSubmit" type="submit" name="action" class="btn btn-primary" value="LoadUserReport" data-loading-text="@Resources.btnSearching">
                                <i class="icon-search icon-white"></i>&nbsp;@Resources.btnSearch</button>
                        </div>
                    }
                </div>
                <div id="dvResults">
                    @if (ViewBag.ShowResults == "true")
                    {
                        DateTime userCurTime = GMGColorFormatData.GetUserTimeFromUTC(DateTime.UtcNow, objAcc.TimeZone);
                        
                        <div class="page-header">
                            <h3>
                                <div class="pull-right">
                                    <small>@Resources.lblDisplaying <b>@Model.ListUserReportDetails.Count</b> @Resources.lblUserAccounts.ToLower()</small>
                                    <!-- <small> Displaying <b>all 2</b> accounts </small> -->
                                </div>
                                @Model.ListUserReportDetails.Count @Resources.lblUserAccounts <small>@Resources.lblReportgeneratedon
                                    @GMGColorFormatData.GetFormattedDate(userCurTime, objAcc, context) @GMGColorFormatData.GetFormattedTime(userCurTime, objAcc)</small>
                            </h3>
                        </div>
                        <div class="report-results">
                            @if (Model.ListUserReportDetails.Count > 0)
                            {
                                <div>
                                    @{var wgUserDetails = new WebGrid(Model.ListUserReportDetails, canPage: false, canSort: false);}
                                    @wgUserDetails.GetHtml(
                                    tableStyle: "table",
                                    columns:
                                             wgUserDetails.Columns(
                                             wgUserDetails.Column(header: Resources.lblName, format: @<text>@item.Name</text>),
                                    wgUserDetails.Column(columnName: "UserName", header: Resources.lblUserName),
                                    wgUserDetails.Column(columnName: "AccountPath", header: Resources.lblAccountPath),
                                                                       wgUserDetails.Column(columnName: "Status", header: Resources.lblStatus),
                                                                       wgUserDetails.Column(columnName: "EmailAddress", header: Resources.lblEmail),
                                                                       wgUserDetails.Column(columnName: "CollaborateApprovalsNumber", header: Resources.lblCollaborateApprovalsNumber),
                                                                       wgUserDetails.Column(columnName: "DeliverJobsNumber", header: Resources.lblDeliverJobsNumber),
                                                                       wgUserDetails.Column(columnName: "DateLastLogin", header: Resources.lblLastLogin)

                                ))
                                </div>
                            }
                            else
                            { 
                                <h6 class="text-center">
                                    @Resources.lblNoResultReport</h6>
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
        <!-- /row-fluid -->
        <script type="text/javascript">
            $(document).ready(function () {
                $(".chzn-select").chosen();
                $(".chzn-select-deselect").chosen({ allow_single_deselect: true });
            });
        </script>
    </div>
    <!-- /widget-content -->
</div>
<!-- /widget -->
