@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace local "*";
@namespace skins "skins.*";
@namespace components "com.gmgcolor.components.*";
@namespace components1 "components.*";

@font-face {
	src: url("assets/fonts/HelveticaNeueLTStd-Roman.otf");
	fontFamily: "HelveticaNeue";
	font-weight: normal;
	fontAntiAliasType: advanced;
	/* 	unicode-range: U+0021-U+007B;
		embed-as-cff: true; */
	font-sharpness: 0;
}

@font-face {
	src: url("assets/fonts/HelveticaNeueLTStd-Md.otf");
	fontFamily: "HelveticaNeue";
	font-weight: bold;
	fontAntiAliasType: advanced;
	font-sharpness: 0;
}

@font-face {
	src: url("assets/fonts/HelveticaNeueLTStd-Bd.otf");
	fontFamily: "HelveticaNeueBold";
	font-weight: bold;
	fontAntiAliasType: advanced;
	font-sharpness: 0;
}

global {
	fontSize: 13px;
	fontFamily: "HelveticaNeue";
	color: #333333;
	font-weight: normal;
}

mx|ToolTip {
	backgroundAlpha: 0.8;
	backgroundColor: black;
	color: white;
	cornerRadius: 4;
	fontSize: 11;
	fontFamily: Arial;
}

s|RichEditableText {
	fontFamily: "HelveticaNeue";
	fontSize: 13;
}

components1|ThemedCommentButton {
	skinClass: ClassReference("com.gmgcolor.components.CommentButtonSkin");
}

components1|ThemedCommentButton.close {
	icon: ClassReference("assets.graphics.icons.Close");
}

components|ThemedCommentButton.eye {
	icon: ClassReference("assets.graphics.icons.Eye");
}

components|ThemedCommentButton.trash {
	icon: ClassReference("assets.graphics.icons.Trash");
}

components|ThemedCommentButton.leftArrow {
	icon: ClassReference("assets.graphics.icons.LeftArrow");
}

components|ThemedCommentButton.rightArrow {
	icon: ClassReference("assets.graphics.icons.RightArrow");
}

components1|ThemedCommentToggleButton {
	skinClass: ClassReference("com.gmgcolor.components.CommentButtonToggleSkin");
}

components|ThemedCommentToggleButton.lock {
	upIcon: ClassReference("assets.graphics.icons.Lock");
	selectedUpIcon: ClassReference("assets.graphics.icons.Unlock");
}

s|HScrollBar {
	skinClass: ClassReference("com.gmgcolor.components.CustomHScroller");
}

s|VScrollBar {
	skinClass: ClassReference("com.gmgcolor.components.CustomVScroller");
}

components|CustomIconButton {
	/*skinClass : ClassReference("com.gmgcolor.components.CustomIconButtonSkin");*/
}

components|CustomIconToggleButton {
	/*	skinClass : ClassReference("com.gmgcolor.components.PageControlsToggleButtonSkin");*/
}
components|CustomIconButton {
	skinClass : ClassReference("com.gmgcolor.components.BasicBtnSkin");
}

components|CustomIconButton.close {
	skinClass : ClassReference("com.gmgcolor.components.CloseBtnSkin");
}

components|CustomIconButton.normal {
	skinClass : ClassReference("com.gmgcolor.components.NormalBtnSkin");
}

components|CustomIconToggleButton {
	skinClass : ClassReference("com.gmgcolor.components.BasicToggleBtn");
}

components|CustomIconToggleButton.plain {
	skinClass : ClassReference("com.gmgcolor.components.PlainBtnToggleSkin");
}

components|CustomIconToggleButton.locked {
	skinClass : ClassReference("com.gmgcolor.components.LockedBtnToggleSkin");
}


components|CustomIconToggleButton.dropDown {
	skinClass : ClassReference("com.gmgcolor.components.DropDownToggleSkin");
}