<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>CoZone Proof Studio</title>
  <meta name="description" content="">
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

  {{content-for 'head'}}

  <link rel="stylesheet" href="/assets/vendor.min.css"/>
  <link rel="stylesheet" href="/assets/app.min.css"/>
  {{content-for 'head-footer'}}

</head>
<body>
    <script>
      window.Appkit = window.AppkitENV ={
        hostname: 'http://api.gmgcozonelocal.com',
        namespace: 'v1',
        key: '8F63809B-ADA0-4D0A-A35D-97E2B5AC3B7D',
        user_key: '25961351-7ffa-4174-bad6-44dc62567a47', // administrator
        user_name:"",
        singularModels: ['user', 'account', 'approvaldecision', 'softproofingstatus', 'versionlocking', 'copy-annotation',
          'update-annotation-status', 'update-annotation-comment'],//'collaborators-and-group'],//, 'approval-list'],
        is_external_user: false,
        URL: 'http://cozone-dev2.gmgcozonelocal.com/',
        tablet: false,
        //approvals: "4",
        //versionsIds: "4",
        approvals: "333958",
        versionsIds: "333958",
        approvalFirstPageId: "836056",
        //approvalType: 'Movie',
        approvalType: 'Image',
        //approvalType: 'Zip',
        //explicitVersionsToCompare:"2017,2015",// the versionsIds and approvals are available when these are available
        session_key: 'b6086c5f-e395-42ff-b420-7f4fa10dcf5c',
        NewVersionUrl: 'http://debug.gmgcozoneeu.com/Approvals/NewApproval?JobId=7130',
        DownloadFileUrl: 'http://api.debug.gmgcozoneeu.com/v1/download?apiKey=8F63809B-ADA0-4D0A-A35D-97E2B5AC3B7D&userKey=0724bb17-6231-471b-8c51-f2677f042d3c&isExternal=false',
        PrintVersionUrl: 'http://debug.gmgcozoneeu.com/Approvals/Annotations',
        version: 'v1.18.0.730',
        singleRecord: 'singleRecord',
        firstApprovalId: "333958",
        HasDeliverAccess:true,
        approval_id: "333958",
        approval_guid: "",
        substituteLoggedUser:['0','0',''],
        default_locale:"en-US",
        ExternalSessionKey:true,
        selectedHtmlPageId: "0",
        IsfromProjectFolder: false,
        ProjectFolderID: "0",
        SelectedApprovalTypes: "",
        ScrollTop: "0",
        SelectedAnnotationID: "0",
        ApprovalZoomLevel: "0",
        IsApprovalZoomLevelChangesEnabled: "0",
        ShowSubstrateFromICCProfile: false,
        IsMeasurementsInInches:false,
        html2CanvasStringBase64: "",
      };
    </script>
    {{content-for 'body'}}
    <script src="/assets/vendor.min.js"></script>
    <script>jQuery.noConflict();</script>
    <script src="/assets/app.min.js"></script>
  <!--[if lt IE 8]>
    <p class="browsehappy">
      You are using an <strong>outdated</strong> browser. Please
      <a href="http://browsehappy.com/">upgrade your browser</a>
      to improve your experience.
    </p>
  <![endif]-->
  <!--<script>-->
      <!--window.Appkit = require('appkit/app')['default'].create(AppkitENV.APP);-->
  <!--</script> -->
  <div class="modal czn-loading-screen" id="czn-loading-screen" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="loading-icon" style="align-self: center;"></div>
  </div>
  <div class="modal czn-no-access-screen" id="czn-no-access-screen" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Approval not found</h4>
        </div>
        <div class="modal-body">
            Approval not found or the logged user is not a collaborator on this approval.
        </div>
        <div class="modal-footer">
          <button class="btn btn-default btn-cancel btn-danger">Go back</button>
        </div>
      </div>
    </div>
  </div>
    {{content-for 'body-footer'}}
  <script type="application/javascript">
    window.showAnnotationsReportFilters = function(versionId){
        alert('versionId = ' + versionId.toString());
    }
  </script>
</body>
</html>
