<span>
{{#if hasIcon}}
    <i {{action 'toggle'}} {{bind-attr class="iconClass"}}></i>
{{else}}
    <a {{action 'toggle'}} class="text">*</a>
{{/if}}
</span>

{{#if tree.in-multi-selection}}
    <span class="em-tree-node-multiselection">
    {{#if multi-selected}}
        <i {{action toggleSelection}} {{bind-attr class="tree.selected-icon"}}></i>
    {{else}}
        <i {{action toggleSelection}} {{bind-attr class="tree.unselected-icon"}}></i>
    {{/if}}
    </span>
{{/if}}

<span {{action 'select'}} {{bind-attr class="nodeSelectedClasses :title"}}>
{{model.title}}
{{#if tree.hovered-actions}}
    <span class="actions">
    {{#each hAction in hoveredActions}}
        {{em-tree-node-icon-action meta=hAction model=controller.model}}
    {{/each}}
    </span>
{{/if}}
</span>

{{#if expanded}}
    {{em-tree-branch model=model tree=tree async=async targetObject=targetObject}}
{{/if}}
