﻿@model GMGColorDAL.CustomModels.SoftProofingSettings
@using GMGColor.Resources;
@using GMGColorDAL.CustomModels
@using GMGColorDAL

@{
    var searchType = string.Empty;
    if (Model.Type == SoftProofingSwitchEnum.PaperTint)
    {
        searchType = "SearchPaperTint";
    }
    else
    {
        searchType = "SearchSimulationProfile";
    }

    <div class="well form-search clearboth">
        <div class="input-append">
            @Html.TextBoxFor(model => model.SearchText, new { id = "txtSearch", @class = "input-medium search-query" })
            <button id="btnSearchText" type="submit" class="btn cancel" name="action" value="@searchType">@Resources.btnSearch</button>
        </div>
        @if (Model.DisplayAgentDownload)
        {
            <div class="pull-right" id="download-spagent-bar">
                <p class="pull-left" style="margin-right: 5px;">
                    @Resources.lblDownloadSoftProofingAgent
                </p>
                <div class="download-spagent-button">
                    <i class="icon-download-alt iSPAgentDownload"></i>
                    <a href="@GMGColorConfiguration.AppConfiguration.WIN64SoftProofingAgentUrl">
                        <span class="btnSPAgentDownload">@Resources.btnWindows</span>
                    </a>
                </div>
                <div class="download-spagent-button">
                    <i class="icon-download-alt iSPAgentDownload"></i>
                    <a href="@GMGColorConfiguration.AppConfiguration.MAC64SoftProofingAgentUrl">
                        <span class="btnSPAgentDownload">@Resources.btnMacOS</span>
                    </a>
                </div>
            </div>
        }
    </div>
}