﻿@using GMGColor.Resources
@using GMGColorDAL.CustomModels
@using GMGColor.HtmlHelpers
@using System.Configuration
@model List<SimulationProfileDashBoardViewModel>

@Html.Hidden("hdnSimProfIdListWithNoLab", (string)ViewBag.SmpIdList)  
@Html.Hidden("hdnGetSimProfLabValues", @Url.Action("GetSimulationProfilesLabValues","SoftProofing")) 
<div id="simulationProfileContainer">
  @{ var simulationProfiles = new WebGrid(Model, rowsPerPage: 10, canSort: true); }
  @simulationProfiles.GetHtml(
                              tableStyle: "table table-striped table-bordered table-responsive",
                              htmlAttributes: new { id = "simulationProfile-table" },
                              columns:
                                    simulationProfiles.Columns(
                                    simulationProfiles.Column(format: @<text>@Html.Raw(SoftProofingGridHelper.GetValidationHtml(item.IsValid))</text>),
                                    simulationProfiles.Column(columnName: "ProfileName",
                                                                header: Resources.lblName,
                                                                format: @<text> @if ((!item.IsDefaultProfile || ViewBag.isSysAdmin) && !(item.ProfileName + ".icc" == ConfigurationManager.AppSettings["InputProfile"]))
                                                                                {
                                                                                    <text><a href="@Url.Action("AddEditSimulationProfile", new { id = @item.ID, isSysAdmin = ViewBag.isSysAdmin })">@item.ProfileName</a></text>
                                                                                }
                                                                                else { @item.ProfileName }</text>),
                                    simulationProfiles.Column(columnName: "FileName", header: Resources.lblFile),
                                    simulationProfiles.Column(columnName: "MediaCategory", header: Resources.lblSoftProofingMediaCategory),
                                    simulationProfiles.Column(columnName: "Measurement Conditions", format: @<text>@Html.Raw(SoftProofingGridHelper.GetMeasurementConditionsName(item.MeasurementConditions))</text>),
                                    simulationProfiles.Column(columnName: "L", format: @<text>@Html.Raw(SoftProofingGridHelper.GetMeasurementConditionsLab(item.MeasurementConditions, "L"))</text>),
                                    simulationProfiles.Column(columnName: "a", format: @<text>@Html.Raw(SoftProofingGridHelper.GetMeasurementConditionsLab(item.MeasurementConditions, "a"))</text>),
                                    simulationProfiles.Column(columnName: "b", format: @<text>@Html.Raw(SoftProofingGridHelper.GetMeasurementConditionsLab(item.MeasurementConditions, "b"))</text>),
                                    simulationProfiles.Column(columnName: "", format: @<text> @if(ViewBag.isSysAdmin || !item.IsDefaultProfile) {@Html.Raw(SoftProofingGridHelper.GetActionButtons(item.ProfileName, item.ID, ViewBag.isSysAdmin, !item.IsDefaultProfile, "AddEditSimulationProfile"))}</text>))
                             )       
</div>
 
@Html.Hidden("ID", "0", new { id = "hdnSimulationProfileId" })
@Html.Hidden("isSysAdmin", (bool)ViewBag.isSysAdmin)

@{
    DeleteConfirmation deleteSimulationProfileConfirmation = new DeleteConfirmation(1, "DeleteSimulationProfile", false);
    deleteSimulationProfileConfirmation.DeleteMessageHeading = Resources.lblDeleteMessageHeading;
    deleteSimulationProfileConfirmation.DeleteMessage = Resources.lblDeleteSimulationProfileMessage  + " " + Resources.lblDeleteMessage + " " + Resources.lblDeleteMessagePleaseNote;
}

@Html.Partial("DeleteConfirmationDialog", deleteSimulationProfileConfirmation)

<button id="btnDelete" class="cancel" type="submit" name="action" value="DeleteSimulationProfile"
hidden="hidden">
Delete</button>
@{Bundles.Reference("simulationprofilelist");}