﻿@using GMGColor.Resources
@using GMGColorDAL.CustomModels
@using GMGColor.HtmlHelpers
@model List<PaperTintDashBoardViewModel>

<div id="paperTintContainer">
    @{ var paperTints = new WebGrid(Model, rowsPerPage: 10, canSort: true); }
    @paperTints.GetHtml(
            tableStyle: "table table-striped table-bordered table-responsive",
            columns:
                paperTints.Columns(
                                    paperTints.Column(columnName: "Name",
                                                      header: Resources.lblName,
                                                      format: @<text><a href="@Url.Action("AddEditPaperTint", new { id = @item.ID })">@item.Name</a></text>),
                                    paperTints.Column(columnName: "MediaCategory", header: Resources.lblSoftProofingMediaCategory),
                                    paperTints.Column(columnName: "Measurement Conditions", format: @<text>@Html.Raw(SoftProofingGridHelper.GetMeasurementConditionsName(item.MeasurementConditions))</text>),
                                    paperTints.Column(columnName: "L", format: @<text>@Html.Raw(SoftProofingGridHelper.GetMeasurementConditionsLab(item.MeasurementConditions, "L"))</text>),
                                    paperTints.Column(columnName: "a", format: @<text>@Html.Raw(SoftProofingGridHelper.GetMeasurementConditionsLab(item.MeasurementConditions, "a"))</text>),
                                    paperTints.Column(columnName: "b", format: @<text>@Html.Raw(SoftProofingGridHelper.GetMeasurementConditionsLab(item.MeasurementConditions, "b"))</text>),
                                    paperTints.Column(columnName: "", format: @<text>@Html.Raw(SoftProofingGridHelper.GetActionButtons(string.Empty, item.ID, false, true, "AddEditPaperTint"))</text>)
                                    )
                        )
</div>
    
@Html.Hidden("ID", "0", new { id = "hdnPaperTintId" })
@{
    DeleteConfirmation deletePaperTintConfirmation = new DeleteConfirmation(1, "DeletePaperTint", false);
    deletePaperTintConfirmation.DeleteMessageHeading = Resources.lblDeleteMessageHeading;
    deletePaperTintConfirmation.DeleteMessage = Resources.lblDeleteSimulationProfileMessage + " " + Resources.lblDeleteMessage + " " + Resources.lblDeleteMessagePleaseNote;
}

@Html.Partial("DeleteConfirmationDialog", deletePaperTintConfirmation)

<button id="btnDelete" class="cancel" type="submit" name="action" value="DeleteWorkstation"
hidden="hidden">
Delete</button>