﻿@model MediaCategoryViewModel
@using GMGColor.Resources;
@using GMGColor.HtmlHelpers;
@using GMGColorDAL.CustomModels;
@{    
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
}
<p class="breadcrumb">
    <a href="@Url.Action("PrintSubstrates", new { type = Enums.UploadEngineTemplatesType.Profiles, ViewBag.page })">@Resources.lblSoftProofingMediaCategory</a>
</p>
<div class="widget">
    <div class="widget-header">
        <h3>@ViewBag.Header @*<small>@(Model.ID > 0 ? Resources.lblEditProfile : Resources.lblNewProfile)</small>*@</h3>
    </div>
    <!-- /widget-header -->
    <div class="widget-content">
        @using (Html.BeginForm("AddEditPrintSubstrate", "SoftProofing", FormMethod.Post, new { @class = "form-horizontal", autocomplete = "off" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.ID, new { @data_val = "false" })
            @Html.Hidden("page", (int?)ViewBag.page, new { @data_val = "false" })
            @Html.ValidationSummary(true)
        <div class="row-fluid">
            <div class="control-group">
                <label class="control-label required">@Resources.lblName</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.MediaCategoryName)
                    @Html.ValidationMessageFor(m => m.MediaCategoryName)
                </div>
            </div>
        </div>
        <div class="form-actions">
                    <button id="btnAddEditPrintSubstrate" class="btn btn-primary" data-loading-image="imgSavingLoader" data-loading-text="@Resources.btnSaving" type="submit" >
                        @(Model.ID > 0 ? Resources.btnSaveChanges : Resources.btnSave)
                    </button>
                    @Html.Image("imgSavingLoader", "~/Content/img/loading-icon.gif", @Resources.lblLoading, new { @class = "hide" }, 30, 30)
        </div>
        }
    </div>
    <!-- /widget-content -->
</div>
<!-- /widget -->


