﻿@model GMGColorDAL.CustomModels.SimulationProfileViewModel
@using GMGColor.Resources;
@using GMGColor.FileUpload
@using GMGColorDAL.CustomModels;

@{
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
    bool isEditMode = Model != null && Model.ID > 0;
    Bundles.Reference("simulationprofile");
    Bundles.Reference("simulationProfileStyles");
}
<p class="breadcrumb">
    <a href="@Url.Action(ViewBag.isSysAdmin ? "DefaultSimulationProfiles" : "Settings" , "SoftProofing", new { type = SoftProofingSwitchEnum.SimulationProfile })">@Resources.lblSoftProofingSwitchSimulationProfile</a>
</p>

@using (Html.BeginForm("AddEditSimulationProfile", "SoftProofing", FormMethod.Post, new { id = "formAddUpdateSimulationProfile", @class = "form-horizontal", autocomplete = "off" }))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("isSysAdmin", (bool)ViewBag.isSysAdmin)
    <div class="widget">
        <div class="widget-header">
            <h3>
                @Resources.navSoftProofingSettings
                <small>
                    @(isEditMode ? Resources.lblSoftProofingEditSimulationProfile : Resources.lblSoftProofingNewSimulationProfile)
                </small>
            <h3>
        </div>
        <div class="widget-content">
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.ID)
            @Html.HiddenFor(model => model.FileName, new { @id = "hdnFileName" })
            <div class="control-group">
                <label class="control-label required">@Resources.lblName</label>    
                <div class="controls">
                    @Html.TextBoxFor(model => model.ProfileName)
                    @Html.ValidationMessageFor(model => model.ProfileName)
                </div>
            </div>
            <div class="control-group customControlGroup">
                <label class="control-label required">@Resources.lblSoftProofingSimulationUploadProfile</label>
                    <div class="controlls">
                        @{
                            FileUploadModel cstmProfile = new FileUploadModel(ViewBag.LoggedAccount.Region);
                            cstmProfile.Key = 1;
                            cstmProfile.DispalyName = Model.FileName;
                            cstmProfile.AcceptFileTypes = "/(icc|icm)$/i";
                            cstmProfile.MaxFileSize = 10 * 1024;
                        }
                        @Html.Partial("FileUpload", cstmProfile)
                    </div>
                @Html.Partial("FileUploadTemplates", FileUploadModel.FileUploadTemplates((string)ViewBag.PathToTempFolder, (string)ViewBag.LoggedAccount.Region))
            </div>
            <div class="control-group">
                <label class="control-label required">@Resources.lblSoftProofingMediaCategory</label>    
                <div class="controls">
                    @Html.DropDownListFor(model => model.SelectedMediaCategory, new SelectList(Model.MediaCategories, "ID", "MediaCategoryName", Model.SelectedMediaCategory)) 
                    @Html.ValidationMessageFor(model => model.SelectedMediaCategory)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label required">@Resources.lblSoftProofingMeasurementCondition</label>    
                <div class="controls">
                    @Html.DropDownListFor(model => model.SelectedMeasurementCondition, new SelectList(Model.MeasurementConditions, "ID", "Name", Model.SelectedMeasurementCondition)) 
                    @Html.ValidationMessageFor(model => model.MeasurementConditions)
                </div>
            </div>
             <div class="alert alert-info">
                 <label>@Resources.lblSimulationProfileValidConditions</label>    
            </div>
            <div class="form-actions">
                <button class="btn btn-primary" id="addEditSimulationProfile" type="submit" value="Submit">@(isEditMode ? Resources.lblSoftProofingEditPaperTint : Resources.btnSave)</button>
            </div>
        </div>
    </div>
}