﻿@model GMGColorDAL.CustomModels.PaperTintViewModel
@using GMGColor.Resources;
@using GMGColorDAL.CustomModels;

@{
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
    bool isEditMode = Model != null && Model.ID > 0;
}
<p class="breadcrumb">
    <a href="@Url.Action("Settings", "SoftProofing", new { type = SoftProofingSwitchEnum.PaperTint })">@Resources.lblSoftProofingSwitchPaperTint</a>
</p>

@using (Html.BeginForm("AddEditPaperTint", "SoftProofing", FormMethod.Post, new { id = "formAddUpdatePaperTint", @class = "form-horizontal", autocomplete = "off" }))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("hdnPaperTint", (string)ViewBag.PaperTint)                                                                   
    <div class="widget">
        <div class="widget-header">
            <h3>
                @Resources.navSoftProofingSettings
                <small>
                    @(isEditMode ? Resources.lblSoftProofingEditPaperTint : Resources.lblSoftProofingNewPaperTint)
                </small>
            <h3>
        </div>
        <div class="widget-content">
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.ID)
            <div class="control-group">
                <label class="control-label required">@Resources.lblName</label>    
                <div class="controls">
                    @Html.TextBoxFor(model => model.Name)
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label required">@Resources.lblSoftProofingMediaCategory</label>    
                <div class="controls">
                    @Html.DropDownListFor(model => model.SelectedMediaCategory, new SelectList(Model.MediaCategories, "ID", "MediaCategoryName", Model.SelectedMediaCategory)) 
                    @Html.ValidationMessageFor(model => model.MediaCategories)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label required">@Resources.lblSoftProofingMeasurementCondition</label>    
                <div class="controls">
                    @Html.DropDownListFor(model => model.SelectedMeasurementCondition, new SelectList(Model.MeasurementConditions, "ID", "Name", Model.SelectedMeasurementCondition)) 
                    @Html.ValidationMessageFor(model => model.MeasurementConditions)
                </div>
            </div>
            <div class="control-group">
                    <label class="control-label required">@Resources.lblSoftProofingLabValueL</label>    
                <div class="controls">
                    @Html.Editor("L", null, new { @class = "numericValues", @type="number" , @step="0.00000000001"})
                    <span class="field-validation-valid" data-valmsg-for="L" data-valmsg-replace="true">The L filed is required.</span>
                </div>
            </div> 
            <div class="control-group">
                <label class="control-label required">@Resources.lblSoftProofingLabValuea</label>
                <div class="controls">
                    @Html.Editor("a", null, new { @class = "numericValues", @type = "number", @step = "0.00000000001" })
                    <span class="field-validation-valid" data-valmsg-for="L" data-valmsg-replace="true">The a filed is required.</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label required">@Resources.lblSoftProofingLabValueb</label>
                <div class="controls">
                    @Html.Editor("b", null, new { @class = "numericValues", @type = "number", @step = "0.00000000001"})
                    <span class="field-validation-valid" data-valmsg-for="L" data-valmsg-replace="true">The b filed is required.</span>
                </div>
            </div>
            <div class="empty-block-user alert alert-error alert-danger hide">@Resources.lblMissingPaperTintLabValues</div>
            <div class="form-actions">
                <button class="btn btn-primary" type="submit" value="Submit">@(isEditMode ? Resources.lblSoftProofingEditPaperTint : Resources.btnSave)</button>
            </div>
        </div>
    </div>
}
@{
    Bundles.Reference("softProofinfPPT");
    Bundles.Reference("softproofing-papertint");
}