﻿@model List<SimulationProfileDashBoardViewModel>
@using GMGColor.Resources;
@using GMGColorDAL.CustomModels;

@{
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
}
<div class="widget">
    <div class="widget-header">
        <ul class="widget-links">
            <li><a class="btn btn-primary" data-toggle="modal" data-backdrop="static" data-keyboard="false" href="@Url.Action("AddEditSimulationProfile", null, new {ViewBag.isSysAdmin })">@Resources.lblSoftProofingNewSimulationProfile</a></li>
        </ul>
        <h3>@ViewBag.Header @*<small>@ViewBag.HeaderSmall</small>*@</h3>
    </div>
    <!-- /widget-header -->
    <div class="widget-content">
        <div class="row-fluid">
            <div class="span3">
                @{ Html.RenderAction("SecondaryNavigation", "Navigation", new {secondaryNavType = SecondaryNavigationTypeEnum.AdminSettings});}
            </div>
            <div class="span9">
                @using (Html.BeginForm("DefaultSimulationProfiles", "SoftProofing", FormMethod.Post, new { @class = "form-horizontal dirtyignore", id = "formMain" }))
                {
                    @Html.AntiForgeryToken()
                    <legend>@Resources.lblSoftProofingSimulationProfile</legend>
                    @Html.Partial("_SoftProofingSimulationProfilePartial", Model)
                }
            </div>
        </div>
    </div>
</div>