﻿@model List<MediaCategoryViewModel>
@using GMGColor.Resources;
@using GMGColorDAL.CustomModels;
@{
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
}
<div class="widget">
    <div class="widget-header">
        <ul class="widget-links">
            <li><a class="btn btn-primary" data-toggle="modal" data-backdrop="static" data-keyboard="false" href="@Url.Action("AddEditPrintSubstrate", new { ViewBag.page })">@Resources.lblNewPrintSubstrate</a></li>
        </ul>
        <h3>@ViewBag.Header @*<small>@ViewBag.HeaderSmall</small>*@</h3>
    </div>
    <!-- /widget-header -->
    <div class="widget-content">
        <div class="row-fluid">
            <div class="span3">
                @{ Html.RenderAction("SecondaryNavigation", "Navigation", new {secondaryNavType = SecondaryNavigationTypeEnum.AdminSettings});}
            </div>
            <div class="span9">
                @Html.ValidationSummary(true)
                @using (Html.BeginForm("DeletePrintSubstrate", "SoftProofing", FormMethod.Post, new { @class = "form-horizontal", id = "formMain" }))
                {
                    @Html.AntiForgeryToken()
                    <div id="dvUploadEngineProfiles" class="tab-pane">
                        @if (Model.Count > 0)
                        {
                            <div class="clearboth"></div>
                            <legend>@Resources.lblSoftProofingMediaCategory</legend>
                            <div class="display-field">
                                @{ var profiles = new WebGrid(Model); }
                                @profiles.GetHtml(
                                    tableStyle: "table table-striped table-bordered table-responsive",
                                    mode: WebGridPagerModes.All,
                                    firstText: "<< ",
                                    lastText: " >>",
                                    columns:
                                        profiles.Columns(
                                            profiles.Column(columnName: "MediaCategoryName", header: Resources.lblName, format: @<text><a href="@Url.Action("AddEditPrintSubstrate", new { id = item.ID, ViewBag.page })">@item.MediaCategoryName</a></text>),
                                            profiles.Column(format: @<text>@Html.Raw(GetActionButtons(item.ID))</text>)
                                            ))
                            </div>
                            @Html.Hidden("id", "0", new { id = "hdnInstance" })
                            @Html.Hidden("page", (int?)ViewBag.page, new { @data_val = "false" })
                            <button id="btnDelete" class="cancel" type="submit" name="action" value="DeletePaperSubstrate"
                                    hidden="hidden">
                                Delete</button>
                        }
                        else
                        { 
                            <div class="row-fluid blank-state" visible="false">
                                <div class="span4 blank-state-icon">
                                    <i class="icon-print"></i>
                                </div>
                                <div class="span7">
                                    <h3>@Resources.lblAddYourFirstPrintSubstrate</h3>
                                    <p>
                                        <a data-toggle="modal" data-backdrop="static" data-keyboard="false" href="@Url.Action("AddEditPrintSubstrate")" class="btn btn-primary" title="@Resources.lblAddYourFirstPrintSubstrate" >@Resources.lblNewPrintSubstrate</a></p>
                                </div>
                            </div>
                        }
                        @{DeleteConfirmation deleteUserConfirmation = new DeleteConfirmation(1, "DeletePrintSubstrate");}
                        @Html.Partial("DeleteConfirmationDialog", deleteUserConfirmation)
                    </div>
                }
            </div>
        </div>
        <!-- /row-fluid -->
    </div>
    <!-- /widget-content -->
</div>
<!-- /widget -->

@functions{

    private string GetActionButtons(int id)
    {
        var html = new System.Text.StringBuilder();

        html.Append("<div class=\"btn-group pull-right\">");
        html.Append("   <a href=\"javascript:void(0);\" data-toggle=\"dropdown\" class=\"btn btn-mini dropdown-toggle ellipsisButtonList\"><i class=\"icon-ellipsis-horizontal\"></i></a>");
        html.Append("   <ul class=\"dropdown-menu pull-right\">");
        html.Append("      <li><a href=" + @Url.Action("AddEditPrintSubstrate", new { id, ViewBag.page }) + "><i class=\"icon-pencil\"></i>" + Resources.btnEdit + "</a></li>");
        html.Append("  <li><a href=\"javascript:void(0);\" onclick=\"$('#hdnInstance')[0].value = " + id + ";$('#modelDialogDeleteConfirmation_1').modal({ backdrop: 'static', keyboard: false });\" rel=\"nofollow\" data-method=\"delete\" data-disable-with=\"Deleting...\" ><i class=\"icon-trash\"></i>" + Resources.btnDelete + "</a></li>");
        html.Append("   </ul>");
        html.Append("</div>");

        return html.ToString();
    }
}
