﻿@model GMGColorDAL.CustomModels.SoftProofingSettings
@using GMGColor.Resources;
@using GMGColorBusinessLogic
@using GMGColorDAL.CustomModels
@{
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
    Bundles.Reference("chosen");
    Bundles.Reference("datetimepicker");
}
<div class="widget">
    <div class="widget-header">
        <ul class="widget-links">
            @if (Model.Type == SoftProofingSwitchEnum.Reports && Model.Reports.Any())
            {
                <li><a class="btn btn-primary" data-toggle="modal" data-backdrop="static" data-keyboard="false" href="javascript:void(0);"
                    onclick="$('#btnExportData').click(); return false;">@Resources.btnExportToCSV</a></li>
            }
            else if (Model.Type == SoftProofingSwitchEnum.PaperTint)
            {
                <li><a class="btn btn-primary" id="addNewPaperTint" href="@Url.Action("AddEditPaperTint")">@Resources.lblSoftProofingNewPaperTint</a></li>
            }
            else if (Model.Type == SoftProofingSwitchEnum.SimulationProfile)
            {
                <li><a class="btn btn-primary" href="@Url.Action("AddEditSimulationProfile", new { isSysAdmin = false })">@Resources.lblSoftProofingNewSimulationProfile</a></li>
            }
        </ul>
        <h3>@ViewBag.Header @*<small>@ViewBag.HeaderSmall</small>*@</h3>
    </div>
    <!-- /widget-header -->
    <div class="widget-content">
        <div class="row-fluid">
            <div class="span3">
                @{Html.RenderAction("SecondaryNavigation", "Navigation");}
            </div>
            <div class="span9">
                @using (Html.BeginForm("Settings", "SoftProofing", FormMethod.Post, new { @class = "form-horizontal dirtyignore", id = "formMain" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.TimezoneOffset, new { @data_val = false })
                    <div id="dvColorProofInstanaces" class="tab-pane">
                    @if (Model.Type == SoftProofingSwitchEnum.Reports ||
                        Model.Type == SoftProofingSwitchEnum.PaperTint ||
                        Model.Type == SoftProofingSwitchEnum.SimulationProfile ||
                        (Model.Type == SoftProofingSwitchEnum.Workstations || !string.IsNullOrEmpty(Model.SearchText)))
                    {
                        <div class="pull-right">
                            @Html.Partial("SoftProofingSwitch", new GMGColorBusinessLogic.SoftProofingBL.SoftProofingSwitch() { WorkstationType = Model.Type })
                        </div>
                    }
                        <div class="clearboth">
                        </div>
                        @Html.HiddenFor(m => m.Page, new { @data_val = false })
                        @Html.HiddenFor(m => m.SortDir, new { @data_val = false })
                        @Html.HiddenFor(m => m.SortField, new { @data_val = false })
                        @Html.HiddenFor(m => m.Type, new { @data_val = false })
                        @Html.HiddenFor(m => m.TotalRowsNr, new { @data_val = false })
                        @Html.HiddenFor(m => m.RowsPerPage, new { @data_val = false })
                                               
                        @if (Model.Type == SoftProofingSwitchEnum.Workstations)
                                {
                                    Model.DisplayAgentDownload = true;
                            <legend>@Resources.lblSoftProofingWorkstationsTitle</legend>
                            @Html.Partial("_SoftProofingSearchPartial")
                            <div class="display-field">
                                @{ var workstations = new WebGrid(Model.Workstations, rowsPerPage: 10, canSort: true); }
                        @workstations.GetHtml(
                                        tableStyle: "table table-striped table-bordered table-responsive",
                                        columns:
                                            workstations.Columns(
                                                workstations.Column(columnName: "Name", header: Resources.lblSoftProofingWorkstationName, format: @<text><a href="javascript:void(0);" onclick="EditSoftProofingWorkstation(@item.ID);return false;">@item.Name</a></text>),
                                                workstations.Column(columnName: "Username", header: Resources.lblSoftProofingWorkstationUsername),
                                                workstations.Column(columnName: "MachineId", header: Resources.lblSoftProofingWorkstationMachineId),
                                                workstations.Column(columnName: "DisplayProfileName", header: Resources.lblMonitorICC),
                                                workstations.Column(columnName: "CalibrationSoftware", header: Resources.lblSoftProofingWorkstationSoftware),
                                                workstations.Column(columnName: "CalibrationDate", header: Resources.lblSoftProofingWorkstationLastVerificationDate, format: @<text>@Html.Raw(item.LastVerificationDate)</text>),
                                                workstations.Column(columnName: "", format: @<text>@Html.Raw(GetActionButtons(item.ID))</text>)
                                            ))
                            </div>
                            @Html.Hidden("SelectedInstance", "0", new { id = "hdnInstance" })                            

                                   DeleteConfirmation deleteUserConfirmation = new DeleteConfirmation(1, "DeleteWorkstation");
                            @Html.Partial("DeleteConfirmationDialog", deleteUserConfirmation)
                           
                            <button id="btnDelete" class="cancel" type="submit" name="action" value="DeleteWorkstation"
                                hidden="hidden">
                                Delete</button>
                            <label>@Resources.lblSoftProofingWorkstationCalibrationTimeoutDays</label>
                            @Html.TextBoxFor(m => m.CalibrationTimeoutDays, new { @class = "iintiger input-small", @maxlength = "4" })
                            <button id="btnSaveCalibrationTimeout" class="btn" type="submit" name="action" value="SaveCalibrationTimeout">
                                @Resources.btnSave</button>
                            
                           
                        }
                        else if (Model.Type == SoftProofingSwitchEnum.Reports)
                        {
                            <legend>@Resources.lblSoftProofingReportsTitle</legend>
                            
                            <div class="display-field softproofing-reports">
                                <div class="well">
                                    <div class="row-fluid">
                                        <div class="span6">
                                            <label>@Resources.lblSoftProofingWorkstationName</label>
                                            <div class="controls-filters">
                                                <select name="Filters.SelectedWorkstations" multiple="multiple" data-placeholder="@Resources.lblAnySoftProofingWorkstationName" class="chzn-select">
                                                    @foreach (string workstation in Model.Filters.ListWorkstations)
                                                    {
                                                        string selected = (Model.Filters.SelectedWorkstations != null && Model.Filters.SelectedWorkstations.Contains(workstation)) ? "selected=\"selected\"" : "";
                                                        <option value="@workstation" @selected>@workstation</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="span6">
                                            <label>@Resources.lblSoftProofingWorkstationUsername</label>
                                            <div class="controls-filters">
                                                <select name="Filters.SelectedUsers" multiple="multiple" data-placeholder="@Resources.lblAnySoftProofingWorkstationUsername" class="chzn-select">
                                                    @foreach (KeyValuePair<int, string> user in Model.Filters.ListUsers)
                                                    {
                                                        string selected = (Model.Filters.SelectedUsers != null && Model.Filters.SelectedUsers.Contains(user.Key)) ? "selected=\"selected\"" : "";
                                                        <option value="@user.Key" @selected>@user.Value</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row-fluid">
                                        <div class="span6">
                                            <label>@Resources.lblSoftProofingWorkstationCalibrationStartDate</label>
                                            <div class="controls-filters">
                                                <div class="input-append date-picker date" data-date="@Model.Filters.CalibrationStartString" data-date-format="@Model.Filters.DateTimeFormat.ToLower()">
                                                    @Html.TextBoxFor(m => m.Filters.CalibrationStartString, new { @class = "input-small valid", @readonly = "readonly", size = 16 })
                                                    <span class="add-on"><i class="icon-calendar"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="span6">
                                            <label>@Resources.lblSoftProofingWorkstationCalibrationEndDate</label>
                                            <div class="controls-filters">
                                                <div class="input-append date-picker date" data-date="@Model.Filters.CalibrationEndString" data-date-format="@Model.Filters.DateTimeFormat.ToLower()">
                                                    @Html.TextBoxFor(m => m.Filters.CalibrationEndString, new { @class = "input-small valid", @readonly = "readonly", size = 16 })
                                                    <span class="add-on"><i class="icon-calendar"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <button id="btnSubmit" type="submit" name="action" class="btn btn-primary" value="SearchReports" data-loading-text="@Resources.btnSearching">
                                        <i class="icon-search icon-white"></i>&nbsp;@Resources.btnSearch</button>
                                    @if (
                                        (Model.Filters.SelectedUsers != null && Model.Filters.SelectedUsers.Any()) ||
                                        (Model.Filters.SelectedWorkstations != null && Model.Filters.SelectedWorkstations.Any()) ||
                                        (Model.Filters.CalibrationEndDate.GetValueOrDefault().Date != Model.Filters.MaxCalibrationDate.GetValueOrDefault().Date) ||
                                        (Model.Filters.CalibrationStartDate.GetValueOrDefault().Date != Model.Filters.MinCalibrationDate.GetValueOrDefault().Date)
                                        )
                                    {
                                        <button id="btnResetFilter" type="submit" name="action" class="btn" value="ResetFilters" data-loading-text="@Resources.btnResetingFilters">
                                            <i class="icon-remove icon-white"></i>&nbsp;@Resources.btnResetFilters</button>
                                    }
                                </div>
                                @{ var reports = new WebGrid(Model.Reports, canSort: true, canPage: false); }
                                @reports.GetHtml(
                                    tableStyle: "table table-striped table-bordered table-responsive",
                                    columns:
                                        reports.Columns(
                                            reports.Column(columnName: "Name", header: Resources.lblSoftProofingWorkstationName, format: @<text>@item.Name</text>),
                                            reports.Column(columnName: "Username", header: Resources.lblSoftProofingWorkstationUsername),
                                            reports.Column(columnName: "CalibrationDate", header: Resources.lblSoftProofingWorkstationLastVerificationDate, format: @<text>@Html.Raw(item.LastCalibrationDate)</text>),
                                            reports.Column(columnName: "ResultsString", header: Resources.lblSoftProofingReportsResults, format: @<text>@Html.Raw(item.ResultsString)</text>, style: "workstationReportResults")
                                        ))
                                @{
                                   WebGridNavigationModel modelNavigation = new WebGridNavigationModel(Model.Page, Model.TotalRowsNr, Model.RowsPerPage);
                                   modelNavigation.ControllerName = "SoftProofing";
                                   modelNavigation.ActionName = "Settings";
                                   Html.RenderPartial("WebGridNavigation", modelNavigation);
                                }
                            </div>
                            <button id="btnExportData" class="cancel" type="submit" name="action" value="ExportReportsToCSV"
                                hidden="hidden">
                                ExportToCSV</button>
                            @Html.HiddenFor(m => m.Filters.MaxCalibrationDate, new { @data_val = false })
                            @Html.HiddenFor(m => m.Filters.MinCalibrationDate, new { @data_val = false })
                        }
                        else if (Model.Type == SoftProofingSwitchEnum.PaperTint)
                        {
                            <legend>@Resources.lblSoftProofingSwitchPaperTint</legend>
                            @Html.Partial("_SoftProofingSearchPartial")
                            Html.RenderAction("GetPaperTintsList", "SoftProofing", Model);
                        }
                        else if (Model.Type == SoftProofingSwitchEnum.SimulationProfile)
                        {
                            <legend>@Resources.lblSoftProofingSwitchSimulationProfile</legend>
                            @Html.Partial("_SoftProofingSearchPartial")
                            Html.RenderAction("GetSimulationProfilesList", "SoftProofing", Model);
                        }
                        else
                        {
                            // display no reports screen
                            <div class="row-fluid blank-state" visible="false">
                                <div class="span4 blank-state-icon">
                                    <i class="icon-random"></i>
                                </div>
                                <div class="span7">
                                    <h3>@Resources.lblNoSoftProofingWorkstations</h3>
                                    <p>@Resources.lblNoSoftProofingWorkstationsMsg</p>
                                </div>
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
        <!-- /row-fluid -->
    </div>
    <!-- /widget-content -->
</div>
<!-- /widget -->
@functions
{
    private string GetActionButtons(int workstationId)
    {
        System.Text.StringBuilder html = new System.Text.StringBuilder();

        html.Append("<div class=\"btn-group pull-right\">");
        html.Append("<a href=\"javascript:void(0);\" data-toggle=\"dropdown\" class=\"btn btn-mini dropdown-toggle ellipsisButtonList\"><i class=\"icon-ellipsis-horizontal\"></i></a>");
        html.Append("<ul class=\"dropdown-menu pull-right\">");
        html.Append("<li><a href=\"javascript:void(0);\" onclick=\"EditSoftProofingWorkstation(" + workstationId + ");return false;\"><i class=\"icon-pencil\"></i>" + Resources.btnEdit + "</a></li>");
        html.Append("  <li><a href=\"javascript:void(0);\" onclick=\"$('#hdnInstance')[0].value = " + workstationId + ";$('#modelDialogDeleteConfirmation_1').modal({ backdrop: 'static', keyboard: false });\" rel=\"nofollow\" data-method=\"delete\" data-disable-with=\"Deleting...\" ><i class=\"icon-trash\"></i>" + Resources.btnDelete + "</a></li>");
        html.Append("</ul>");
        html.Append("</div>");

        return html.ToString();
    }

                    }
@{ Html.RenderPartial("Settings-EditWorkstation", new GMGColorDAL.CustomModels.WorkstationEdit()); }
<script type="text/javascript">
    $(document).ready(function () {
        $(".chzn-select").chosen();
        $(".chzn-select-deselect").chosen({ allow_single_deselect: true });
        $('.date-picker').datepicker().on('changeDate', function (ev) { $('.date-picker').datepicker('hide'); });
    });

    $('#txtSearch').on('keydown', function (e) {
        if (e.which == 13) {
            $('#btnSearchText').click();
            return false;
        }
        return true;
    });

    $('#CalibrationTimeoutDays').on('keydown', function() {
        $('form').dirtyForms('setDirty');
    });
</script>