﻿@using GMGColor.HtmlHelpers
@using GMGColor.Resources
@model GMGColorDAL.CustomModels.WorkstationEdit
<div id="modalDialogEditWorkstation" class="modal hide">
    @using (Ajax.BeginForm("Settings", "SoftProofing", new AjaxOptions() { OnComplete = "EditSoftProofingWorkstationCompleted", HttpMethod = "POST", UpdateTargetId = "Result", LoadingElementId = "imgSavingLoader" }, new { id = "formEditSoftProofingWorkstation", @class = "form-horizontal", autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
        <div class="modal-header">
            <a href="javascript:void(0);" class="close" data-dismiss="modal" title="@Resources.btnClose" onclick="ResetSoftProofingWorkstationModel();">
                &times;</a><h3>@Resources.btnEditWorkstation</h3>
        </div>
        <div class="modal-body">
            @Html.ValidationSummary(true)
            <div class="control-group">
                <label class="control-label">@Resources.lblSoftProofingWorkstationName</label>
                <div class="controls">
                    @Html.HiddenFor(m => m.ID)
                    @Html.TextBoxFor(m => m.Name)
                    @Html.ValidationMessageFor(m=>m.Name)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">@Resources.lblSoftProofingWorkstationUsername</label>
                <div class="controls">
                    <select name="SelectedUserId" id="SelectedUserId">
                    </select>
                    @Html.ValidationMessageFor(m=>m.SelectedUserId)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">@Resources.lblSoftProofingWorkstationMachineId</label>
                <div class="controls">
                    @Html.HiddenFor(m => m.MachineId)
                    <input id="MachineIdHidden" name="MachineIdHidden" type="text" value="@Model.MachineId" disabled="disabled" readonly="readonly"/>
                    @Html.ValidationMessageFor(m=>m.MachineId)
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="submit" name="action" id="SaveWorkstation" value="SaveWorkstation" data-loading-text="@Resources.btnSaving">@Resources.btnSaveChanges</button>
            @Html.Image("imgSavingLoader", "~/Content/img/loading-icon.gif", @Resources.lblLoading, new { @class = "hide" }, 30, 30)
        </div>
    }
</div>
<script type="text/javascript">
    function ResetSoftProofingWorkstationModel() {
        $("#Location").val("");
        resetSubmitButton();

        $("#modalDialogEditWorkstation span.field-validation-error").each(function (i, v) {
            $(v).removeClass('field-validation-error');
            $(v).addClass('field-validation-valid');
            $(v).find("span").remove();
        });
        $(".control-group.error").removeClass("error");
        $("input.input-validation-error").removeClass("input-validation-error");
    }
    function resetSubmitButton() {
        $("#SaveWorkstation").text("@Resources.btnSaveChanges");
        $("#SaveWorkstation").removeAttr("disabled");
        $("#SaveWorkstation").removeClass("disabled");
    }
    function EditSoftProofingWorkstationCompleted(data) {
        var response = eval("(" + data.responseText + ")");
        if (response.saved == true) {
            $("#modalDialogEditWorkstation").modal("hide");
            ResetSoftProofingWorkstationModel();
            $('form').dirtyForms('setClean');
            location.reload();
        } else if (response.errors != null) {
            var errors = new Array;
            for (var key in response.errors) {
                if (key == '') {
                    for (var i = 0; i < response.errors[key].length; i++) {
                        errors[errors.length] = "<li>" + response.errors[key][i] + "</li>";
                    }
                } else {
                    $("#modalDialogEditWorkstation input[name='" + key + "']").addClass('input-validation-error');
                    $("#modalDialogEditWorkstation span[data-valmsg-for='" + key + "']").removeClass('field-validation-valid');
                    $("#modalDialogEditWorkstation span[data-valmsg-for='" + key + "']").addClass('field-validation-error');

                    $("#modalDialogEditWorkstation span[data-valmsg-for='" + key + "']").html("<span for=\"" + key + "\" generated=\"true\" class=\"\">" + response.errors[key][0] + "</span>");
                }
            }
            $("#modalDialogEditWorkstation .modal-body .validation-summary-errors").remove();
            $("#modalDialogEditWorkstation .modal-body .control-group:first").before("<div class=\"validation-summary-errors\" data-valmsg-summary=\"false\"><ul>" + errors.join("\n") + "</ul></div>");
        }
        resetSubmitButton();
    }
    function EditSoftProofingWorkstation(workstationId) {
        ResetSoftProofingWorkstationModel();
        $.ajax({
            url: '@Url.Action("GetWorkstation", "SoftProofing")',
            type: 'POST',
            data: JSON.parse("{'workstationId':" + workstationId + ", \"__RequestVerificationToken\" : \"" + $("#formEditSoftProofingWorkstation input").val() + "\"}"),
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                if (result.workstation != null && result.users != null) {
                    $("#Name").val(result.workstation.Name);
                    $("#Username").val(result.workstation.Username);
                    $("#Software").val(result.workstation.Software);
                    $("#MachineId").val(result.workstation.MachineId);
                    $("#MachineIdHidden").val(result.workstation.MachineId);
                    $("#Location").val(result.workstation.Location);
                    $("#ID").val(result.workstation.ID);

                    $("#SelectedUserId option[value!='0']").remove();
                    for (var i = 0; i < result.users.length; i++) {
                        $("#SelectedUserId").append("<option value='" + result.users[i].Key + "'>" + result.users[i].Value + "</option>");
                    }
                    $("#SelectedUserId").val(result.workstation.SelectedUserId);

                    $("#modalDialogEditWorkstation").modal({ backdrop: 'static', keyboard: false , show: true});
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
            }
        });
    }
</script>
