﻿@using GMGColor.Resources
@using GMGColorDAL.CustomModels
@model GMGColorBusinessLogic.SoftProofingBL.SoftProofingSwitch

<div class="form-switch">
    <div class="input-append">
        <a class="btn btn-primary" @Html.Raw(GetDisabledState(SoftProofingSwitchEnum.SimulationProfile))>@Resources.lblSoftProofingSimulationProfile</a>
        <a class="btn btn-primary" @Html.Raw(GetDisabledState(SoftProofingSwitchEnum.PaperTint))>@Resources.lblSoftProofingSwitchPaperTint</a>
        <a class="btn btn-primary" @Html.Raw(GetDisabledState(SoftProofingSwitchEnum.Workstations))>@Resources.lblSoftProofingSwitchWorkstations</a>
        <a class="btn btn-primary" @Html.Raw(GetDisabledState(SoftProofingSwitchEnum.Reports))>@Resources.lblSoftProofingSwitchReports</a>
    </div>
</div>
@functions{

    private string GetDisabledState(SoftProofingSwitchEnum currentView)
    {
        return currentView == Model.WorkstationType ? " disabled=\"disabled\" " : " href=\"" + Url.Action("Settings", "SoftProofing", new {type = currentView}) + "\" ";
    }
}