﻿@using GMGColor.Resources;
@using GMGColorDAL.CustomModels
@model GMGColorDAL.CustomModels.Home
@{    
    Layout = "~/Views/Shared/_LayoutTablet.cshtml";
}
@section HeaderCSS{
    <link href="@Url.Content("~/Content/css/YoutubeVideos.css")" rel="stylesheet" media="screen" />
    <link href="@Url.Content("~/Content/css/styles-tablet-home.css")" rel="stylesheet" media="screen" />
}
<div class="homepage">
        <div class="row-fluid">
            <div class="span12">
                <div class="span3 pull-left first-column">
                    <legend>@Resources.lblGettingStarted</legend>
                    <!-- Start training videos -->
                    <div class="training-videos">
                        @if (Model.TrainingVideos.Any())
                        {
                            <span class="small-legend">@Resources.lblCoZoneTrainingVideos</span>
                            <ul class="media-list span12">
                                @foreach (var video in Model.TrainingVideos)
                                {
                                    <li class="media video">
                                        <a class="" href="@video.Url" target="_blank">
                                            <img class="media-object" src="@video.Preview" alt="@video.Title" />
                                        </a>
                                        <div class="media-body">
                                            <h6 class="media-heading" title="@video.Title">@video.Title</h6>
                                            <small title="@video.Description">@video.Description</small>
                                        </div>
                                    </li>
                                }
                            </ul>
                        }
                        else
                        {
                            <h3>@Resources.lblNoTrainingVideosAvailable</h3>
                        }
                    </div>
                    <!-- End training videos -->

                    <!-- Start manuals -->
                    <div class="manuals">
                        @if (Model.Manuals.Any())
                        {
                            <span>&nbsp;</span>
                            <span class="small-legend small-manuals">@Resources.lblCoZoneManuals</span>
                            <ul class="media-list span12">
                                @foreach (var manual in Model.Manuals)
                                {
                                    <li class="media manual">
                                        <a class="" href="@Model.AbsoluteFilesPath@manual.Url" target="_blank">
                                            <img class="media-object" src="@Url.Content("~/Content/img/pdf.gif")" alt="@manual.Name" />
                                        </a>
                                        <div class="media-body">
                                            <h6 class="media-heading" title="@manual.Name">@manual.Name</h6>
                                            <small title="@manual.Description">@manual.Description</small>
                                        </div>
                                    </li>
                                }
                            </ul>
                        }
                        else
                        {
                            <h3>@Resources.lblNoManualsAvailable</h3>
                        }
                    </div>
                    <!-- End manuals -->
                </div>
                <div class="span6 pull-left second-column">
                    <!-- Start announcements -->
                    <legend>@Resources.lblCMSAnnouncement</legend>
                    @if (Model.Announcements.Any())
                    {
                        <div class="announcements">
                            <ul class="media-list span12">
                                @foreach (var announcement in Model.Announcements)
                                {
                                    <li class="media">
                                        <div class="media-body span12">
                                            @Html.Raw(announcement.Content)
                                            <hr/>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    }
                    else
                    {
                        <div class="announcements">
                            <h3>@Resources.lblNoAnnouncementsAvailable</h3>
                        </div>
                    }
                    <!-- End announcements -->
                </div>
                <div class="span3 pull-left third-column">
                    <!-- Start features videos -->
                    <legend>@Resources.lblCoZoneFeaturingVideos</legend>
                    <div class="feature-videos">
                        @if (Model.TrainingVideos.Any())
                        {
                            <ul class="media-list span12">
                                @foreach (var video in Model.FeatureVideos)
                                {
                                    <li class="media video">
                                        <a class="" href="@video.Url" target="_blank">
                                            <img class="media-object" src="@video.Preview" alt="@video.Title" />
                                        </a>
                                        <div class="media-body">
                                            <h6 class="media-heading" title="@video.Title">@video.Title</h6>
                                            <small title="@video.Description">@video.Description</small>
                                        </div>
                                    </li>
                                }
                            </ul>
                        }
                        else
                        {
                            <h3>@Resources.lblNoFeatureVideosAvailable</h3>
                        }
                    </div>
                    <!-- End features videos -->

                    <!-- Start downloads -->
                    <div class="downloads">
                        @if (Model.Downloads.Any())
                        {
                            <span>&nbsp;</span>
                            <legend>@Resources.lblCoZoneDownloads</legend>
                            <ul class="media-list span12">
                                @foreach (var download in Model.Downloads)
                                {
                                    <li class="media download">
                                        <a class="" href="@Model.AbsoluteFilesPath@download.Url" target="_blank">
                                            <img class="media-object" src="@Url.Content("~/Content/img/html.gif")" alt="@download.Name" />
                                        </a>
                                        <div class="media-body">
                                            <h6 class="media-heading" title="@download.Name">@download.Name</h6>
                                            <small title="@download.Description">@download.Description</small>
                                        </div>
                                    </li>
                                }
                            </ul>
                        }
                        else
                        {
                            <h3>@Resources.lblNoDownloadsAvailable</h3>
                        }
                    </div>
                    <!-- End downloads -->
                </div>
            </div>
        </div>
    </div>