﻿@using GMGColor.Resources;
@using GMGColorDAL
@using GMGColorDAL.CustomModels
@model GMGColorDAL.CustomModels.Home
@{
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
}
@section HeaderCSS{
    <link href="@Url.Content("~/Content/css/YoutubeVideos.css")" rel="stylesheet" media="screen" />
    <link href="@Url.Content("~/Content/css/home.css")" rel="stylesheet" media="screen" />
}
<div id="navContainer">
    <div class="widget landing">
        <div class="widget-header">
            <h3>@Resources.lblGettingStarted</h3>
        </div>
        <div class="widget-content homepage">
            <div class="row-fluid">
                <div class="span12">
                    <div class="span12 pull-left first-column left-right-sides">
                        <h5>@Resources.lblVideos.ToUpper()</h5>
                        <!-- Start training videos -->
                        <div class="training-videos">
                            @if (Model.TrainingVideos.Any())
                            {
                                <ul class="media-list span12">
                                    @foreach (var video in Model.TrainingVideos)
                                    {
                                        <li class="media video">
                                            <a class="" href="@video.Url" target="_blank">
                                                <img class="media-object" src="@video.Preview" alt="@video.Title" />
                                            </a>
                                            <div class="media-body">
                                                <h6 class="media-heading" title="@video.Title">@video.Title</h6>
                                                <small title="@video.Description">@video.Description</small>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            }
                            else
                            {
                                <h5>@Resources.lblNoTrainingVideosAvailable</h5>
                            }
                        </div>
                        <!-- End training videos -->
                        <!-- Start manuals -->
                        @if (Model.Manuals.Any())
                        {
                            <span>&nbsp;</span>
                            <h5>@Resources.lblCoZoneManuals.ToUpper()</h5>
                            <div class="manuals">
                                <ul class="media-list span12">
                                    @foreach (var manual in Model.Manuals)
                                    {
                                        <li class="media manual">
                                            <a class="" href="@Model.AbsoluteFilesPath@manual.Url" target="_blank">
                                                <img class="media-object" src="@Url.Content("~/Content/img/pdf.gif")" alt="@manual.Name" />
                                            </a>
                                            <div class="media-body">
                                                <h6 class="media-heading" title="@manual.Name">@manual.Name</h6>
                                                <small title="@manual.Description">@manual.Description</small>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                        }
                        <!-- End manuals -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="widget landing-announcement">
        <div class="widget-header">
            <h3>@Resources.lblCMSAnnouncement</h3>
        </div>
        <div class="widget-content homepage">
            <div class="row-fluid">
                <div class="span12">
                    <div class="span12 pull-left second-column left-right-sides">
                        <!-- Start announcements -->
                        @if (Model.Announcements.Any())
                        {
                            <div class="announcements">
                                <ul class="media-list span12">
                                    @foreach (var announcement in Model.Announcements)
                                    {
                                        <li class="media announcement">
                                            <div class="media-body span12">
                                                @Html.Raw(announcement.Content)
                                                <hr />
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                        }
                        else
                        {
                            <div class="announcements">
                                <h5>@Resources.lblNoAnnouncementsAvailable</h5>
                            </div>
                        }
                        <!-- End announcements -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="widget landing">
        <div class="widget-header">
            <h3>@Resources.lblCoZoneFeaturingVideos</h3>
        </div>
        <div class="widget-content homepage">
            <div class="row-fluid">
                <div class="span12">
                    <div class="span12 pull-left third-column left-right-sides">
                        <!-- Start features videos -->
                        <h5>@Resources.lblVideos.ToUpper()</h5>
                        <div class="feature-videos">
                            @if (Model.FeatureVideos.Any())
                            {
                                <ul class="media-list span12">
                                    @foreach (var video in Model.FeatureVideos)
                                    {
                                        <li class="media video">
                                            <a class="" href="@video.Url" target="_blank">
                                                <img class="media-object" src="@video.Preview" alt="@video.Title" />
                                            </a>
                                            <div class="media-body">
                                                <h6 class="media-heading" title="@video.Title">@video.Title</h6>
                                                <small title="@video.Description">@video.Description</small>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            }
                            else
                            {
                                <h5>@Resources.lblNoFeatureVideosAvailable</h5>
                            }
                        </div>
                        <!-- End features videos -->
                        <!-- Start downloads -->
                        @if (Model.Downloads.Any())
                        {
                            <span>&nbsp;</span>
                            <h5>@Resources.lblCoZoneDownloads.ToUpper()</h5>
                            <div class="downloads">
                                <ul class="media-list span12">
                                    @foreach (var download in Model.Downloads)
                                    {
                                        <li class="media download">
                                            <a class="" href="@Model.AbsoluteFilesPath@download.Url" target="_blank">
                                                <img class="media-object" src="@Url.Content(download.mimetype)" alt="@download.Name" />
                                            </a>
                                            <div class="media-body">
                                                <h6 class="media-heading" title="@download.Name">@download.Name</h6>
                                                <small title="@download.Description">@download.Description</small>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                        }

                        <!-- End downloads -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        setTimeout(setManualsAndTrainingVideosHeight(), 100);
        setTimeout(setDownloadsAndFeatureVideosHeight(), 100);
    });

    function setManualsAndTrainingVideosHeight() {
        // If manuals tab is not displayed
        if ($('.manuals').length == 0) {
            $('.training-videos').css('height', 550);
        }

        if ($('.manuals').length == 1) {
            // Diference from actually set to computed needed space of training videos
            var difference = 0;
            var trainingVideosNumber = $('.training-videos li').length;

            // 3 is the number of items which decides to split in half the full height of the widget
            if (trainingVideosNumber <= 3) {
                // Diference from actually set to computed needed space of training videos
                // chrome || firefox || safari
                var traningVideosHeight = $('.training-videos')["0"].clientHeight || $('.training-videos')["0"].getBoundingClientRect().height || $('.training-videos').height();
                difference = traningVideosHeight - trainingVideosNumber * 75;
                var bottomPaddingIfNoVideo;

                if (trainingVideosNumber != 0) {
                    // Set space actually needed
                    $('.training-videos').css('height', trainingVideosNumber * 75);
                    bottomPaddingIfNoVideo = 0;
                } else {
                    // If no video, put 30 in order to allow no video message to be displayed
                    $('.training-videos').css('height', 30);
                    bottomPaddingIfNoVideo = 30;
                }

                var manualsHeight = $('.manuals')["0"].clientHeight || $('.manuals')["0"].getBoundingClientRect().height || $('.manuals').height();
                $('.manuals').css('height', manualsHeight + difference - bottomPaddingIfNoVideo);
            }

            var manualsNumber = $('.manuals li').length;

            // 3 is the number of items which decides to split in half the full height of the widget
            // For trainingVideosNumber equal to 0, update only manuals part
            if (manualsNumber <= 2 && trainingVideosNumber > 0) {
                $('.training-videos').css('height', trainingVideosNumber * 72);

                if (manualsNumber == 2) {
                    if (trainingVideosNumber > 5) {
                        $('.training-videos').css('height', 5 * 72);
                    }
                }
            }
        }
    }

    function setDownloadsAndFeatureVideosHeight() {
        // If manuals tab is not displayed
        if ($('.downloads').length == 0) {
            $('.feature-videos').css('height', 550);
        }

        if ($('.downloads').length == 1) {
            // Diference from actually set to computed needed space of training videos
            var difference = 0;
            var featureVideosNumber = $('.feature-videos li').length;

            // 3 is the number of items which decides to split in half the full height of the widget
            if (featureVideosNumber <= 3) {
                // Diference from actually set to computed needed space of training videos
                // chrome || firefox || safari
                var featureVideosHeight = $('.feature-videos')["0"].clientHeight || $('.feature-videos')["0"].getBoundingClientRect().height || $('.feature-videos').height();
                difference = featureVideosHeight - featureVideosNumber * 75;
                var bottomPaddingIfNoVideo;
                if (featureVideosNumber != 0) {
                    // Set space actually needed
                    $('.feature-videos').css('height', featureVideosNumber * 75);
                    bottomPaddingIfNoVideo = 0;
                } else {
                    // If no video, put 30 in order to allow no video message to be displayed
                    $('.feature-videos').css('height', 30);
                    bottomPaddingIfNoVideo = 30;
                }

                // chrome || firefox || safari
                var downloadsHeight = $('.downloads')["0"].clientHeight || $('.downloads')["0"].getBoundingClientRect().height || $('.downloads').height();
                $('.downloads').css('height', downloadsHeight + difference - bottomPaddingIfNoVideo);
            }

            var downloadsNumber = $('.downloads li').length;

            // 3 is the number of items which decides to split in half the full height of the widget
            // For trainingVideosNumber equal to 0, update only manuals part
            if (downloadsNumber <= 2 && featureVideosNumber > 0) {
                $('.feature-videos').css('height', featureVideosNumber * 72);

                if (downloadsNumber == 2) {
                    if (featureVideosNumber > 5) {
                        $('.feature-videos').css('height', 5 * 72);
                    }
                }
            }
        }
    }
</script>