﻿@model GMGColorDAL.CustomModels.Authentication
@using GMGColor.Resources;
@using GMGColorBusinessLogic
@using GMGColorDAL

@{
    Layout = null;

    GMGColorBusinessLogic.DbContextBL context = HttpContext.Current.Items[GMGColorDAL.DALUtils.DatabaseContext] as GMGColorBusinessLogic.DbContextBL;

    string colorTheme = "default";
    if (Model.objAccount != null)
    {
        var colorScheme = GMGColorDAL.Theme.GetColorScheme(GMGColorBusinessLogic.ThemeBL.GetAccountGlobalColorScheme(Model.objAccount.ID, context).Where(c => c.Active == true).FirstOrDefault().Key);
        switch (colorScheme)
        {
            case GMGColorDAL.Theme.ColorScheme.Splash: colorTheme = "pink";
                break;
            case GMGColorDAL.Theme.ColorScheme.Juicy: colorTheme = "green";
                break;
            case GMGColorDAL.Theme.ColorScheme.Fresh: colorTheme = "blue";
                break;
            case GMGColorDAL.Theme.ColorScheme.Moody: colorTheme = "white";
                break;
            default: colorTheme = "default";
                break;
        }
    }

    switch (colorTheme)
    {
        case "green":
            {
                    <link rel="stylesheet/less" type="text/less" href="/Content/less/themes/theme-green.less" />
                    break;
                }
            case "pink":
                {
                    <link rel="stylesheet/less" type="text/less" href="/Content/less/themes/theme-pink.less" />
                    break;
                }
            case "blue":
                {
                    <link rel="stylesheet/less" type="text/less" href="/Content/less/themes/theme-blue.less" />
                    break;
                }
            case "white":
                {
                    <link rel="stylesheet/less" type="text/less" href="/Content/less/themes/theme-white.less" />
                    break;
                }
            default:
                {
                    <link rel="stylesheet/less" type="text/less" href="/Content/less/themes/theme-default.less" />
                break;
            }
    }
    var anftoken = Html.AntiForgeryToken();
}
<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta name="author" content="GMG coZone" />
    <meta name="viewport" content="width=device-width" />
    <meta name="keywords" content="@GMGColorConfiguration.AppConfiguration.DataFolderName(Model.objAccount.Region), @GMGColorConfiguration.AppConfiguration.PathToDataFolder(Model.objAccount.Region), @GMGColorConfiguration.AppConfiguration.ApprovalJobQueueName">
    <title>@ViewBag.SiteName</title>
    <link href="@Url.Content("~/Content/css/styles-basic.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/css/styles-responsive.css")" rel="stylesheet">
    @if (Model.objAccount != null)
    {
        <link rel="shortcut icon" href="@UserBL.GetUserFavIconPath(Model.objAccount, ViewBag.LoggedUserFavIcon)" />
    }

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if IE 7]>
      <link rel="stylesheet" href="Content/css/font-awesome-ie7.css">
    <![endif]-->

    <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
    <script src="@Url.Content("//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")" type="text/javascript"></script>
    <script type="text/javascript">
        if (typeof jQuery === 'undefined') {
            document.write(unescape('%3Cscript%20src%3D%22/Scripts/jquery-1.8.3.min.js%22%3E%3C/script%3E'));
        }
    </script>

    <script src="@Url.Content("~/Scripts/modernizr-2.5.3-respond-1.1.0.min.js")"></script>
    <script src="https://cdn.auth0.com/js/lock/10.15/lock.min.js" type="text/javascript"></script>
    <script src="/Content/js/less/less.min.js" type="text/javascript"></script>
</head>
<body>
    <!--[if lt IE 7]><div class="alert alert-block chromeframe"><a data-dismiss="alert" href="#" class="close">&times;</a> 
    <strong>Your browser is <em>ancient!</em></strong> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</div><![endif]-->
<div id="centered-column">
    <div class="valignCol">
        <div class="login-container">
            <div class="row-fluid">
                <div class="span12">
                    <div class="row-fluid">
                        <div class="span6">
                            <div id="login-banner">
                                <div class="logo">
                                    <img alt="@Resources.lblLoginLogo" src="@GMGColorDAL.Account.GetLogoPath(Model.objAccount, GMGColorDAL.Account.LogoType.LoginLogo)"/>
                                </div>

                                <div id="dvSTO" class="alert hide">
                                    <strong>@Resources.lblInactiveUser</strong> @Resources.lblInactiveUserMessage
                                </div>
                            </div>
                            <!--/login-banner -->
                        </div>
                        <!--/span6 -->
                        <div class="span6">
                            <div id="login-form">
                                @{
                                    if (Model.SsoAuth0 != null)
                                    {
                                        @Html.Hidden("AccountSsoSettings", Json.Encode(Model.SsoAuth0));
                                    }
                                    else
                                    {
                                        @Html.Hidden("AccountSsoSettings", Json.Encode(Model.SsoSaml));
                                    }
                                }

                                @if (GMGColorDAL.AccountStatu.GetAccountStatus(Model.objAccount.ID, context) == GMGColorDAL.AccountStatu.Status.Suspended)
                                {
                                    string contactEmail = Model.objAccount.OwnerUser.EmailAddress;
                                    string contactName = Model.objAccount.OwnerUser.GivenName + " " + Model.objAccount.OwnerUser.FamilyName;
                                    if (Model.objAccount.Parent != null && Model.objAccount.Parent > 0)
                                    {
                                        GMGColorDAL.Account objAccount = DALUtils.GetObject<GMGColorDAL.Account>((int) Model.objAccount.Parent, context);

                                        contactEmail = objAccount.OwnerUser.EmailAddress;
                                        contactName = objAccount.OwnerUser.GivenName + " " + objAccount.OwnerUser.FamilyName;
                                    }
                                    <div class="alert alert-block alert-error">
                                        <h4>@Resources.lblAccountSuspendedMessage</h4>
                                        @Resources.lblPleaseContactYour <a href="mailto:@contactEmail">@contactName</a>
                                        @Resources.lblForAccess
                                    </div>
                                }
                                @using (Html.BeginForm("Login", "Auth", FormMethod.Post, new { @class = "form-vertical", id = "formLogin" }))
                                {
                                    @anftoken
                                    @Html.HiddenFor(model => model.objUser.IsSsoUser)
                                    ;
                                    if (Model.IsNewPasswordSent)
                                    {
                                        <div>
                                            <h5 onload="$('#formLogin').hide();$('#formForgotPassword').show();" style="font-weight: 400;">
                                                We sent a reset password email to
                                                @Model.EmailIdOfNewPasswordSent.
                                                Please click the Activate new password link to set your new password.
                                            <a class="btn-link" id="back_to_login" onclick="backToLoginPage();">@Resources.lblLogin</a>
                                             </h5>
                                        </div>
                                    }
                                    else { 
                                    if (Model.UserPermissionsHaveBeenChanged.GetValueOrDefault() > 0)
                                    {
                                        <div class="alert">
                                            <strong>@Resources.lblReloginMessage</strong>
                                        </div>
                                    }
                                    if (Model.DisplayLoginError && !Model.IsPermanentlyLocked &&  !Model.IsTemporarilyLocked && !Model.IsPasswordResetRequired)
                                    {
                                        <div class="alert alert-error">
                                            <a class="close" data-dismiss="alert">&times;</a>
                                            <h4 class="alert-heading">
                                                @Resources.lblIncorrectPassword
                                            </h4>
                                            @Resources.lblIncorrectPasswordMessage
                                        </div>
                                    }
                                    if (Model.IsTemporarilyLocked)
                                    {
                                        <div class="alert alert-error">
                                            <a class="close" data-dismiss="alert">&times;</a>
                                            <h4 class="alert-heading">
                                                @Resources.lblTemporarilyLockedMessage
                                            </h4>   
                                        </div>
                                    }
                                    if (Model.IsPermanentlyLocked)
                                    {
                                            <div id="loginPageInLocked" class="hide">
                                                <div class="control-group">
                                                    <label class="control-label">@Resources.lblUserNameOrEmail</label>
                                                    <div class="controls">
                                                        @Html.TextBoxFor(m => m.objUser.Username, new { @class = "cancel input-xlarge", @tabindex = "1" })
                                                        @Html.ValidationMessageFor(m => m.objUser.Username)
                                                    </div>
                                                </div>
                                                <!--Password-->
                                                <div class="control-group">
                                                    <label class="control-label">@Resources.lblPassword</label>
                                                    <small><a class="pull-right" href="javascript:void(0);" onclick=" $('#formLogin').hide();$('#formForgotPassword').show(); ">@Resources.lblForgotyourpassword</a></small>
                                                    <div class="controls">
                                                        @Html.PasswordFor(m => m.objUser.Password, new { @class = "cancel input-xlarge", @tabindex = "2" })
                                                        @Html.ValidationMessageFor(m => m.objUser.Password)
                                                    </div>
                                                </div>
                                                <div class="control-group">
                                                    <div class="controls">
                                                        <label class="checkbox">
                                                            @Html.CheckBoxFor(m => m.RememberMe)
                                                            @Resources.lblRememberMe
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="form-actions">
                                                    <button id="logIn" class="btn btn-primary btn-block btn-large" data-loading-text="@Resources.btnSigningIn" tabindex="3" type="submit">
                                                        @Resources.lblSignIn
                                                    </button>
                                                </div>
                                            </div>

                                        <div id="userLocked">
                                            <h4 onload="$('#formLogin').hide();$('#formForgotPassword').show();" style="width: 77%;">
                                                    Your account has been locked. Please 
                                                    <a href="javascript:void(0);" onclick=" $('#formLogin').hide();$('#formForgotPassword').show();$('.forgot_password_label').hide(); ">click here</a>
                                                     to request a new password.
                                            </h4>
                                        </div>
                                    }
                                    if (Model.IsPasswordResetRequired)
                                    {
                                        <div class="alert alert-error">
                                            <a class="close" data-dismiss="alert">&times;</a>
                                            <h4 class="alert-heading" onload="$('#formLogin').hide();$('#formForgotPassword').show();">
                                                @Resources.reqPasswordResetRequired
                                            </h4>
                                        </div>
                                    }
                                    if (Model.DisplayLoginInactive)
                                    {
                                        <div class="alert alert-error">
                                            <strong>@Resources.lblAccountInactiveMessage</strong>
                                            <a href="mailto:@Model.objAccount.OwnerUser.EmailAddress">
                                                @Resources.lblPleaseContactYour @Resources.lblSupport
                                                @Resources.lblForAccess
                                            </a>
                                        </div>
                                    }
                                    <!--Username-->
                                        if (!Model.IsPermanentlyLocked)
                                        {
                                                <div class="control-group">
                                                    <label class="control-label">@Resources.lblUserNameOrEmail</label>
                                                    <div class="controls">
                                                        @Html.TextBoxFor(m => m.objUser.Username, new { @class = "cancel input-xlarge", @tabindex = "1" })
                                                        @Html.ValidationMessageFor(m => m.objUser.Username)
                                                    </div>
                                                </div>
                                                <!--Password-->
                                                <div class="control-group">
                                                    <label class="control-label">@Resources.lblPassword</label>
                                                    <small><a class="pull-right" href="javascript:void(0);" onclick=" $('#formLogin').hide();$('#formForgotPassword').show(); ">@Resources.lblForgotyourpassword</a></small>
                                                    <div class="controls">
                                                        @Html.PasswordFor(m => m.objUser.Password, new { @class = "cancel input-xlarge", @tabindex = "2" })
                                                        @Html.ValidationMessageFor(m => m.objUser.Password)
                                                    </div>
                                                </div>
                                                <div class="control-group">
                                                    <div class="controls">
                                                        <label class="checkbox">
                                                            @Html.CheckBoxFor(m => m.RememberMe)
                                                            @Resources.lblRememberMe
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="form-actions">
                                                    <button id="logIn" class="btn btn-primary btn-block btn-large" data-loading-text="@Resources.btnSigningIn" tabindex="3" type="submit">
                                                        @Resources.lblSignIn
                                                    </button>
                                                </div>
                                        }
                                        if (GMGColorDAL.AccountStatu.GetAccountStatus(Model.objAccount.ID, context) == GMGColorDAL.AccountStatu.Status.Suspended)
                                        {
                                        <script type="text/javascript">
                                                $(document).ready(function() {
                                                $('a, button, input').attr('disabled', 'disabled').removeAttr('onclick').val('');
                                              });
                                        </script>
                                        }
                                    }
                                }
                                @using (Html.BeginForm("ForgotPassword", "Auth", FormMethod.Post, new { @class = "form-vertical hide", id = "formForgotPassword" }))
                                {
                                    @*@anftoken*@
                                    <h3 class="forgot_password_label">
                                        @Resources.lblForgotyourpassword
                                    </h3>
                                        <p>
                                            @Resources.lblForgorPasswordMessage
                                        </p>
                                    if (Model.EmailNotFound)
                                    {
                                        <div class="alert alert-error">
                                            <strong>@Resources.lblForgorPasswordAlert1</strong> @Resources.lblForgorPasswordAlert2
                                        </div>
                                    }
                                    <!--EmailAddress-->
                                    <div class="control-group">
                                        <label class="control-label">@Resources.lblEmail</label>
                                        <div class="controls">
                                            @Html.TextBoxFor(m => m.objUser.EmailAddress, new {@class = "resetemail input-xlarge", @tabindex = "1" })
                                            @Html.ValidationMessageFor(m => m.objUser.EmailAddress)
                                        </div>
                                        <div class="form-actions">
                                            <button class="btn btn-primary reset" data-loading-text="@Resources.btnSending" tabindex="2" type="submit">
                                                @Resources.lblSend
                                            </button>
                                            <button class="btn btn-link" onclick=" javascript:$('#formForgotPassword').hide();$('#userLocked').hide();$('#loginPageInLocked').show();$('#formLogin').show();"
                                                    tabindex="3" type="button">
                                                @Resources.btnCancel
                                            </button>
                                        </div>
                                    </div>
                                }
                                <script type="text/javascript">
                                    var showReset = @Model.EmailNotFound.ToString().ToLower();
                                    if (showReset) {
                                        $('#formLogin').hide();
                                        $('#formForgotPassword').show();
                                    } else {
                                        $('#formForgotPassword').hide();
                                        $('#formLogin').show();
                                    }
                                </script>
                            </div>
                            <!--/login-form -->
                        </div>
                        <!--/span6 -->
                    </div>
                    <!--/row-fluid -->
                </div>
                <!--/span12 -->
            </div>
            <!--/row-fluid -->
        </div>
        <!--/login-container-->
        @if (!Model.objAccount.IsRemoveAllGMGCollaborateBranding)
        {
            <div id="gmg-tab">
                <a target="_blank" href="javascript:void(0);"></a>
            </div>
        }
    </div>
</div>
    

    @Html.Hidden("checkIFUserIsSso", @Url.Action("IsSsoUser", "Auth"))
    <!--/centered-column-->
    <!-- Scripts -->
    @{
        Bundles.Reference("validate");
        Bundles.Reference("bootstrap");
        Bundles.Reference("customscripts");
        Bundles.Reference("dirtyForms");
        Bundles.Reference("themes");
        Bundles.Reference("ssoLoginCheck");
    }
    @Bundles.RenderScripts()
    <script type="text/javascript">
        var querystring = location.search.replace('?', '').split('&');
        var queryObj = {};
        for (var i = 0; i < querystring.length; i++) {
            var name = querystring[i].split('=')[0];
            var value = querystring[i].split('=')[1];
            queryObj[name] = value;
        }
        if (queryObj["isto"] === "true") {
            $('#dvSTO').show();
        } 
        function backToLoginPage(){
            window.location.reload();
        }
    </script>
</body>
</html>
