﻿@model GMGColorDAL.CustomModels.UserInfo
@using GMGColor.Resources;
@using GMGColorDAL.CustomModels

@{
    GMGColorBusinessLogic.DbContextBL context = HttpContext.Current.Items[GMGColorDAL.DALUtils.DatabaseContext] as GMGColorBusinessLogic.DbContextBL;
    Layout = null;
    GMGColorDAL.Account objAccount = ViewBag.LoggedAccount;
    
    string colorTheme = "default";
    if (objAccount != null)
    {
        var colorScheme = (GMGColorDAL.Theme.ColorScheme)ViewBag.AccountTheme;
        switch (colorScheme)
        {
            case GMGColorDAL.Theme.ColorScheme.Splash: colorTheme = "pink";
                break;
            case GMGColorDAL.Theme.ColorScheme.Juicy: colorTheme = "green";
                break;
            case GMGColorDAL.Theme.ColorScheme.Fresh: colorTheme = "blue";
                break;
            case GMGColorDAL.Theme.ColorScheme.Moody: colorTheme = "white";
                break;
            case GMGColorDAL.Theme.ColorScheme.Default:
            default: colorTheme = "default";
                break;
        }
    }
    switch (colorTheme)
    {
        case "green":
            {
                <link rel="stylesheet/less" type="text/less" href="/Content/less/themes/theme-green.less" />
                break;
            }
        case "pink":
            {
                <link rel="stylesheet/less" type="text/less" href="/Content/less/themes/theme-pink.less" />
                break;
            }
        case "blue":
            {
                <link rel="stylesheet/less" type="text/less" href="/Content/less/themes/theme-blue.less" />
                break;
            }
        case "white":
            {
                <link rel="stylesheet/less" type="text/less" href="/Content/less/themes/theme-white.less" />
                break;
            }
        default:
            {
                <link rel="stylesheet/less" type="text/less" href="/Content/less/themes/theme-default.less" />
                break;
            }
    }
}
<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta name="author" content="GMG coZone" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.SiteName</title>

    <link href="@Url.Content("~/Content/css/styles-basic.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/css/styles-responsive.css")" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Removed Google CDN's jQuery to support China access, use another CDN jQuery -->
    <script src="@Url.Content("//code.jquery.com/jquery-1.8.3.min.js")" type="text/javascript"></script>
    <script type="text/javascript">
        if (typeof jQuery === 'undefined') {
            document.write(unescape('%3Cscript%20src%3D%22/Scripts/jquery-1.8.3.min.js%22%3E%3C/script%3E'));
        }
    </script>
    <script src="@Url.Content("~/Scripts/modernizr-2.5.3-respond-1.1.0.min.js")"></script>
    <script src="/Content/js/less/less.min.js" type="text/javascript"></script>
</head>
<body>
    <!--[if lt IE 7]><div class="alert alert-block chromeframe"><a data-dismiss="alert" class="close">&times;</a> 
	<strong>Your browser is <em>ancient!</em></strong> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</div><![endif]-->
    <div id="centered-column">
        <div class="valignCol">
            <div class="login-container">
                <div class="row-fluid">
                    <div class="span12">
                        <div class="row-fluid">
                            @if (Model.LoggedAccountHasNoSubscription)
                            {
                                <div class="span6">
                                    <div id="login-banner">
                                        <div class="logo">
                                            <img alt="logo" src="@GMGColorDAL.Account.GetLogoPath(Model.AccountID, GMGColorDAL.Account.LogoType.LoginLogo, context)" />
                                        </div>
                                    </div>
                                    <!--/login-banner -->
                                </div>
                                <!--/span6 -->
                                <div class="span6">
                                    <div class="alert alert-error">
                                        <strong>@Resources.lblAccountInactiveMessage</strong> @Resources.lblPleaseContactYour
                                        <a href="mailto:@objAccount.OwnerUser.EmailAddress">@(objAccount.OwnerUser.GivenName + " " + objAccount.OwnerUser.FamilyName)</a>
                                        @Resources.lblForAccess
                                    </div>
                                </div>
                                <!--/span6 -->
                            }
                            else
                            {
                                <div class="span6">
                                    <div id="login-banner">
                                        <div class="logo">
                                            <img alt="logo" src="@GMGColorDAL.Account.GetLogoPath(Model.AccountID, GMGColorDAL.Account.LogoType.LoginLogo, context)" />
                                        </div>
                                        <div class="alert alert-info">
                                            <h3>@Resources.lblCreateYourPassword</h3>
                                        </div>
                                        <p>
                                            @Resources.lblCreateYourPasswordDescription</p>
                                        <p>
                                            @Resources.lblWelcomeMessage</p>
                                    </div>
                                    <!--/login-banner -->
                                </div>
                                <!--/span6 -->
                                <div class="span6">
                                    <div id="login-form">
                                        @using (Html.BeginForm("Welcome", "Auth", FormMethod.Post, new { @class = "form-vertical" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            <fieldset>
                                                <!--User Name -->
                                                @Html.HiddenFor(model => model.objUser.ID)
                                                @Html.HiddenFor(model => model.objUser.Guid)
                                                <div class="control-group">
                                                    <label class="control-label">@Resources.lblUserName</label>
                                                    <div class="controls">
                                                        @Html.TextBoxFor(m => m.objUser.Username, new { @class = "input-xlarge", @tabindex = "1" })
                                                        @Html.ValidationMessageFor(m => m.objUser.Username)
                                                    </div>
                                                </div>
                                                <!--First Name -->
                                                <div class="control-group">
                                                    <label class="control-label">@Resources.lblFirstName</label>
                                                    <div class="controls">
                                                        @Html.TextBoxFor(model => model.objUser.FirstName, new { @class = "input-xlarge", @tabindex = "2" })
                                                        @Html.ValidationMessageFor(model => model.objUser.FirstName)
                                                    </div>
                                                </div>
                                                <!--Last Name -->
                                                <div class="control-group">
                                                    <label class="control-label">@Resources.lblLastName</label>
                                                    <div class="controls">
                                                        @Html.TextBoxFor(model => model.objUser.LastName, new { @class = "input-xlarge", @tabindex = "3" })
                                                        @Html.ValidationMessageFor(model => model.objUser.LastName)
                                                    </div>
                                                </div>
                                                <!--New Password-->
                                                <div class="control-group">
                                                    <label class="control-label">@Resources.lblNewPassword</label>
                                                    <div class="controls">
                                                        @Html.PasswordFor(model => model.objChangePassword.NewPassword, new { @class = "input-xlarge passwordStrength", @tabindex = "4" })
                                                        @Html.ValidationMessageFor(model => model.objChangePassword.NewPassword)
                                                    </div>
                                                </div>
                                                <!--Confirm Password-->
                                                <div class="control-group">
                                                    <label class="control-label">@Resources.lblConfirmPassword</label>
                                                    <div class="controls">
                                                        @Html.PasswordFor(model => model.objChangePassword.ConfirmPassword, new { @class = "input-xlarge", @tabindex = "5" })
                                                        @Html.ValidationMessageFor(model => model.objChangePassword.ConfirmPassword)
                                                    </div>
                                                </div>
                                                <!--Terms & conditions-->
                                                <div class="control-group">
                                                    <div class="controls">
                                                        <label class="checkbox">
                                                            @Html.CheckBoxFor(model => model.IsAggreeToTermsAndConditions, new { id = "chkTermsAndConditions" })
                                                            @Resources.lblAggreeToThe <a data-toggle="modal" href="#modalDialogTermsConditions"
                                                                                         data-backdrop="static" data-keyboard="false">@Resources.lblTermsAndConditions</a>.
                                                        </label>
                                                    </div>
                                                </div>
                                                @{ TermsAndConditions objTermsAndConditions = new TermsAndConditions(Model.AccountID, context); }
                                                @Html.Partial("TermsAndConditions", objTermsAndConditions)
                                                <div class="form-actions">
                                                    <button id="btnCreateAccount" class="btn btn-block btn-large btn-primary" type="submit" data-loading-text="@Resources.btnSaving"
                                                            disabled="disabled">
                                                        @Resources.btnActivateandLogin</button>
                                                </div>
                                                <script type="text/javascript">
                                                    $('#chkTermsAndConditions').change(function() {
                                                        if (this.checked) {
                                                            $('#btnCreateAccount').removeAttr('disabled');
                                                        } 
                                                        else {
                                                            $('#btnCreateAccount').attr('disabled', 'disabled');
                                                        }
                                                    });
                                                </script>
                                            </fieldset>
                                        }
                                    </div>
                                    <!--/login-form -->
                                </div>
                                <!--/span6 -->
                            }
                        </div>
                        <!--/row-fluid -->
                    </div>
                    <!--/span12 -->
                </div>
                <!--/row-fluid -->
            </div>
            <!--/activate-container-->
            @if (!objAccount.IsRemoveAllGMGCollaborateBranding)
            {
                <div id="gmg-tab">
                    <a target="_blank" href="javascript:void(0);"></a>
                </div>
            }
        </div>
    </div>
    <!-- Scripts -->
    @{
        Bundles.Reference("validate");
        Bundles.Reference("bootstrap");
        Bundles.Reference("passwordstrength");
        Bundles.Reference("customscripts");
        Bundles.Reference("dirtyForms");
        Bundles.Reference("themes");
    }
    @Bundles.RenderScripts()
    <script type="text/javascript">
        $(document).ready(function () {
            $('.passwordStrength').pstrength({
                verdects: ['@Resources.lblVeryWeak', '@Resources.lblWeak', '@Resources.lblMedium', '@Resources.lblStrong', '@Resources.lblVeryStrong'],
                minChar: 6,
                txtminchar: '@Resources.lblMinNoOfCharatersIs',
                txttooshort: '@Resources.lblTooShort',
                txtunsafe: '@Resources.lblUnsafePassword'
            });
        });
    </script>
</body>
</html>
