/*!
 * Account / Index
 */
 
// Plan Summary
// ---------------


.plan-block {	
	h2 {
		
		margin: 0 0 @baseLineHeight / 2;
	} 
	h3 {
	    font-size: 18px;
	    line-height: 20px;
	    .text-overflow();
	    font-weight: bold;
	    
	}
	h6 {

	      font-size: 12px;
	      
	  
	}
	
	
	.plan-footer {
		line-height: 24px;
	}
	

}


