/*!
 * Settings / Users
 */
 
// Description Lists Role
// ---------------------


dl.description-roles  {
  	margin-bottom: @baseLineHeight;
	dt {
	  font-weight: bold;
	  font-size: 15px;
	  span {
		   font-weight: normal;
		    font-size: 12px;
		    color:@grayLight;
	  }
	}
	dd {
	  margin-left: 0;
	  margin-bottom: @baseLineHeight;
	}
}
