﻿@model GMGColorDAL.CustomModels.AddNewOutOfOffice
@using GMGColor.Resources
@{
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
    Bundles.Reference("chosen");
    Bundles.Reference("datetimepicker");

    GMGColorDAL.Account objAcc = ViewBag.LoggedAccount;
    string dateFormat = objAcc.DateFormat1.Pattern;
}
<p class="breadcrumb">
    <a href="OutOfOffice">@Resources.lblPersonalOutofOffice</a>
</p>
@using (Html.BeginForm("AddNewOutOfOffice", "PersonalSettings", FormMethod.Post, new { @class = "form-horizontal", id = "formInformation" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.ID)
    <div class="widget-content">
        <div class="control-group">
            <label class="control-label"> @Resources.lblSelectDeputyUsers &nbsp;</label>
            <div id="listSelectedAccount" class="control">
                @Html.DropDownListFor(model => model.UserId, new SelectList(Model.SubstituteUser, "ID", "Name", Model.UserId),new { @id = "selectedUser" })
            </div>
        </div>
        <div class="row-fluid">
            <div class="span3">
                <div class="control-group">
                    <label class="control-label">@Resources.lblStartDate</label>
                    <div class="controls">
                        <div class="input-append date-picker date" id="dtFromPicker" data-date-format="@dateFormat.ToLower()">
                            @Html.TextBoxFor(model => model.StartDate, new { @Value = String.Format("{0:" + dateFormat + "}", Model.StartDate), @size = "16", @class = "input-small", @readonly = "" })
                            <span class="add-on"><i class="icon-calendar"></i></span>
                        </div>
                        <span id="dtFromPickerAlert" class="help-inline" style="display: none;">@Resources.reqStartDate</span>
                    </div>
                </div>
            </div>
            <div class="span3">
                <div class="control-group">
                    <label class="control-label">@Resources.lblEndDate</label>
                    <div class="controls">
                        <div class="input-append date-picker date" id="dtToPicker" data-date="@String.Format("{0:" + dateFormat + "}", Model.EndDate)" data-date-format="@dateFormat.ToLower()">
                            @Html.TextBoxFor(model => model.EndDate, new { @Value = String.Format("{0:" + dateFormat + "}", Model.EndDate), @size = "16", @class = "input-small", @readonly = "" })
                            <span class="add-on"><i class="icon-calendar"></i></span>
                        </div>
                        <span id="dtToPickerAlert" class="help-inline" style="display: none;">@Resources.reqEndDate</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">@Resources.lblOutOfOfficeDescription</label>
            <div class="controls">
                @Html.TextBoxFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>
              
        <div class="form-actions">
            <button class="btn btn-primary" id="btnSubmit" type="submit" name="action" value="AddNewOutOfOffice">@Resources.btnSave</button>
        </div>

        @if (ViewBag.error != null)
        {
        <div class="span5">
            <label style="color:red">@ViewBag.error</label>
        </div>
        }

    </div>

    
}
@{
    int startDateYear = int.Parse(ViewBag.startDateYear.ToString());
    int startDateMonth = int.Parse(ViewBag.startDateMonth.ToString());
    int startDateDay = int.Parse(ViewBag.startDateDay.ToString());
    int endDateYear = int.Parse(ViewBag.endDateYear.ToString());
    int endDateMonth = int.Parse(ViewBag.endDateMonth.ToString());
    int endDateDay = int.Parse(ViewBag.endDateDay.ToString());
    DateTime s = ViewBag.MinStartDate;

    DateTime minStartDate = DateTime.MinValue;
    if (ViewBag.MinStartDate != null)
    {
        minStartDate = (DateTime)ViewBag.MinStartDate;
    }
}
@section PageScript
        {
    <script type="text/javascript">

            $(function() {

                $('label.expired').each(function () {
                    $(this).parent('td').parent('tr').addClass('error');
                });

                var startDate = new Date(@startDateYear, @startDateMonth - 1, @startDateDay);
                var endDate = new Date(@endDateYear, @endDateMonth - 1, @endDateDay);

                $('#dtFromPicker').datepicker()
                    .on('changeDate', function(ev) {
                        if (ev.date.valueOf() > endDate.valueOf()) {
                            $('#dtFromPickerAlert').show();
                            $('#dtFromPicker').parent().parent().addClass("error");
                            $('#btnSubmit').attr('disabled', 'disabled');
                            startDate = new Date(ev.date);
                        }else{
                            $('.help-inline').hide();
                            $('.date').parent().parent().removeClass("error");
                            startDate = new Date(ev.date);
                            $('#btnSubmit').removeAttr('disabled');
                        }
                        $('#dtFromPicker').datepicker('hide');
                    });

                var minStartDate = new Date(@(minStartDate.Year), @(minStartDate.Month - 1), @(minStartDate.Day));
                $('#dtFromPicker').data('datepicker').setStartDate(minStartDate);


                $('#dtToPicker').datepicker()
                    .on('changeDate', function(ev) {

                        if (ev.date.valueOf() < startDate.valueOf()) {
                            $('#dtToPickerAlert').show();
                            $('#dtToPicker').parent().parent().addClass("error");
                            $('#btnSubmit').attr('disabled', 'disabled');
                            endDate = new Date(ev.date);
                        } else {
                            $('.help-inline').hide();
                            $('.date').parent().parent().removeClass("error");
                            endDate = new Date(ev.date);
                            $('#btnSubmit').removeAttr('disabled');
                        }
                        $('#dtToPicker').datepicker('hide');
                    });
                var minEndDate = new Date(@(minStartDate.Year), @(minStartDate.Month - 1), @(minStartDate.Day));
                $('#dtToPicker').data('datepicker').setStartDate(minEndDate);
                               
            });
       </script>

}
