﻿@model GMGColorDAL.CustomModels.OwnerUser
@using GMGColor.Resources
@{    
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
}
<div class="widget">
    <div class="widget-header">
        <h3>@ViewBag.Header@*&nbsp;<small>@ViewBag.HeaderSmall</small>*@</h3>
    </div>
    <!-- /widget-header -->
    <div class="widget-content">
        <div class="row-fluid">
            <div class="span3 accoutnSettingdNav">
                <ul class="nav nav-tabs nav-stacked">
                    <li class="active"><a href="Index">@Resources.lblPersonal</a></li>
                    <li><a href="Photo">@Resources.lblPersonalLabel</a></li>
                    <li><a href="Password">@Resources.lblPersonalPassword</a></li>
                    @if (Model.HasNotifications)
                    {
                        <li><a href="Notifications">@Resources.lblPersonalNotifications</a></li>
                    }
                   <li><a href="OutOfOffice">@Resources.lblPersonalOutofOffice</a></li>
                </ul>
            </div>
            <div class="span9">
                @using (Html.BeginForm("Information", "PersonalSettings", FormMethod.Post, new { @class = "form-horizontal", id = "formInformation" }))
                {             
                    @Html.AntiForgeryToken()
                    <fieldset>
                        <legend>@Resources.lblPersonalInformation</legend>
                        <div class="control-group">
                            <label class="control-label">@Resources.lblFirstName</label>
                            <div class="controls">
                                @Html.TextBoxFor(model => model.FirstName)
                                @Html.ValidationMessageFor(model => model.FirstName)
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">@Resources.lblLastName</label>
                            <div class="controls">
                                @Html.TextBoxFor(model => model.LastName)
                                @Html.ValidationMessageFor(model => model.LastName)
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">@Resources.lblPhone</label>
                            <div class="controls">
                                @Html.TextBoxFor(model => model.HomeTelephoneNumber)
                                @Html.ValidationMessageFor(model => model.HomeTelephoneNumber)
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">@Resources.lblMobile</label>
                            <div class="controls">
                                @Html.TextBoxFor(model => model.MobileTelephoneNumber)
                                @Html.ValidationMessageFor(model => model.MobileTelephoneNumber)
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">@Resources.lblUserName</label>
                            <div class="controls">
                                @Html.TextBoxFor(model => model.Username)
                                @Html.ValidationMessageFor(model => model.Username)
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">@Resources.lblEmail</label>
                            <div class="controls">
                                @Html.TextBoxFor(model => model.EmailAddress)
                                @Html.ValidationMessageFor(model => model.EmailAddress)
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">@Resources.lblLanguage</label>
                            <div class="controls">
                                    @Html.DropDownListFor(model => model.SelectedLanguage, new SelectList(Model.Languages, "Key", "Value"))
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>@Resources.lblPersonalRole</legend>
                        <div class="control-group">
                            @{ Model.ModulePermisions.ForEach(m => m.ReadOnly = true); }
                            @Html.EditorFor(m=>m.ModulePermisions)
                        </div>
                    </fieldset>                    
                    @Html.HiddenFor(model => model.ID)
                    <div class="form-actions">
                        <input id="btnSaveChangesInformation" class="btn btn-primary" type="submit" value="@Resources.btnSaveChanges"  data-loading-text="@Resources.btnSaving"/>
                    </div>
                }
            </div>
        </div>
        <!-- /row-fluid -->
    </div>
    <!-- /widget-content -->
</div>
<!-- /widget -->
