﻿@model GMGColorDAL.CustomModels.NotificationsModel
@using GMGColor.Resources
@using GMGColorDAL
@{    
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
    GMGColorBusinessLogic.DbContextBL context = HttpContext.Current.Items[GMGColorDAL.DALUtils.DatabaseContext] as GMGColorBusinessLogic.DbContextBL;
}
<div class="widget">
    <div class="widget-header">
        <h3>@ViewBag.Header@*&nbsp;<small>@ViewBag.HeaderSmall</small>*@</h3>
    </div>
    <!-- /widget-header -->
    <div class="widget-content">
        <div class="row-fluid">
            <div class="span3">
                <div class="subnav accoutnSettingdNav">
                    <ul class="nav nav-tabs nav-stacked">
                        <li><a href="Index">@Resources.lblPersonal</a></li>
                        <li><a href="Photo">@Resources.lblPersonalLabel</a></li>
                        <li><a href="Password">@Resources.lblPersonalPassword</a></li>
                        @if (Model.HasNotifications)
                        {
                            <li class="active"><a href="Notifications">@Resources.lblPersonalNotifications</a></li>
                        }
                        <li><a href="OutOfOffice">@Resources.lblPersonalOutofOffice</a></li>
                    </ul>
                </div>
            </div>
            <div class="span9">
                @using (Html.BeginForm("", "PersonalSettings", FormMethod.Post, new { @class = "form-horizontal", id = "formNotifications" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.DisablePersonalNotifications)
                    if (Model.DisablePersonalNotifications)
                    {
                        <p class="validation-summary-errors">@Resources.lblYourPersonalNotificationsAreDisabled</p>
                    }
                 
                    <fieldset>
                        <legend>@Resources.lblNotification</legend>
                        <p>
                            @Resources.pharagraphPersonalSettingsNotification1</p>
                        <!-- Send Emails -->
                        <div class="control-group">
                            <label class="control-label">@Resources.lblSendEmail</label>
                            <div class="controls">
                                @Html.DropDownListFor(model => model.objUser.NotificationFrequency, new SelectList(GMGColorDAL.NotificationFrequency.GetLocalizedNotificationFrequencyNames(context), "Key", "Value", Model.objUser.NotificationFrequency), new { id = "ddlNFreq" })
                            </div>
                        </div>
                    </fieldset>
                    <div id="dvCustomiseNotificationEvents" style="@((GMGColorDAL.NotificationFrequency.GetNotificationFrequency(Model.objUser.NotificationFrequency, context) == GMGColorDAL.NotificationFrequency.Frequency.Never) ? "display:none;" : "display:block");">
                        <div class="controls" style="margin-top: 5px;">
                                <label class="checkbox">
                                    @Html.CheckBoxFor(model => model.objUser.IncludeMyOwnActivity)
                                    @Resources.lblIncludeMyOwnActivity
                                </label>
                            </div>
                        <fieldset>
                            <legend>@Resources.lblCustomiseYourNotificationEvents</legend>
                                @Html.ValidationSummary(true)
                            <p>
                                @Resources.pharagraphPersonalSettingsNotificatin2</p>
                            <div class="control-group">
                                <label class="control-label">@Resources.lblPreset</label>
                                <div class="controls">
                                    @Html.DropDownListFor(model => model.objUser.Preset, new SelectList(GMGColorDAL.Preset.GetLocalizedPresetNames(context), "Key", "Value", Model.objUser.Preset), new { onchange = "javascript:$('#btnPresetChange').click();" })
                                    <button type="submit" id="btnPresetChange" name="action" value="GetEvents" style="display: none">
                                        GetEvents</button>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            @{Dictionary<string, object> isDisabled = new Dictionary<string, object>();
                              if (GMGColorDAL.Preset.GetPreset(Model.objUser.Preset, context) != GMGColorDAL.Preset.PresetType.Custom)
                              {
                                  isDisabled.Add("disabled", "disabled");
                              }
                              List<int> modules = GMGColorBusinessLogic.ApplicationModuleBL.GetModulesExceptSysAdmin(context);
                              for (int j = 0; j < modules.Count(); j++)
                              {
                                  List<GMGColorDAL.CustomModels.NotificationsModel.EventGroup> evntGroups = Model.EventGroups.Where(t => t.ModuleID == modules[j]).ToList();
                                  if (evntGroups.Count > 0)
                                  {
                                        <legend>@GMGColor.Common.Utils.GetModuleNameByKey(GMGColorBusinessLogic.ApplicationModuleBL.GetModuleKeyById(modules[j], context))</legend>
                                      for (int i = 0; i < evntGroups.Count(); i++)
                                      {
                                        <div class="control-group">
                                            <label class="control-label">
                                                <strong>@evntGroups[i].Name</strong>
                                            </label>
                                            <div class="controls">
                                                @for (int n = 0; n < evntGroups[i].EventTypes.Count; n++)
                                                {
                                                    if (!(GMGColorConfiguration.AppConfiguration.IsHideFolderFunctionality))
                                                    {
                                                    <label class="checkbox groupevent">
                                                        @Html.CheckBoxFor(m => m.EventGroups[Model.EventGroups.IndexOf(evntGroups[i])].EventTypes[n].IsChecked, isDisabled)
                                                        @evntGroups[i].EventTypes[n].Name
                                                        @Html.HiddenFor(m => m.EventGroups[Model.EventGroups.IndexOf(evntGroups[i])].EventTypes[n].ID)
                                                    </label>
                                                    }
                                                }
                                            </div>
                                        </div>
                                      }
                                  }
                              }
                            }
                        </fieldset>
                    </div>
                    <div class="form-actions">
                        @Html.HiddenFor(model => model.objUser.ID)
                        <button type="submit" id="btnSaveChangesNotification" class="btn btn-primary" name="action"
                            value="SaveNotifications" data-loading-text="@Resources.btnSaving">@Resources.btnSaveChanges</button>
                    </div>
                }
            </div>
        </div>
        <!-- /row-fluid -->
    </div>
    <!-- /widget-content -->
</div>
<!-- /widget -->
@{
    int notificationNever = GMGColorDAL.NotificationFrequency.GetNotificationFrequency(GMGColorDAL.NotificationFrequency.Frequency.Never, context).ID;
}
<script type="text/javascript">
    var never = '@notificationNever';
    $('#ddlNFreq').change(function (e) {
        if ($(this).val() == never) {
            $('#dvCustomiseNotificationEvents').hide();
        }
        else {
            $('#dvCustomiseNotificationEvents').show();
        }
    });

    $(document).ready(function () {
        //disable all page controls if at least one "Disable personal notifications" option is set, for logged user,
        //from Account Settings > Global Notifications > Notificications Presets
        if ($('#DisablePersonalNotifications').val() == "True") {
            $("form :input").attr("disabled", "disabled");
        }
    });
</script>
