﻿@model GMGColorDAL.CustomModels.OutOfOfficeModel
@using GMGColor.Resources
@using GMGColorDAL.Common
@using GMGColorDAL.CustomModels
@{
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
    GMGColorBusinessLogic.DbContextBL context = HttpContext.Current.Items[GMGColorDAL.DALUtils.DatabaseContext] as GMGColorBusinessLogic.DbContextBL;
    GMGColorDAL.Account objAcc = ViewBag.LoggedAccount;

    string dateFormat = objAcc.DateFormat1.Pattern;

}
<div class="widget">
    <div class="widget-header">
        <ul class="widget-links">
            <li><a class="btn btn-primary" data-toggle="modal" data-backdrop="static" data-keyboard="false" href="@Url.Action("AddNewOutOfOffice")">@Resources.lblNewOutOfOffice</a></li>
        </ul>
        <h3>@ViewBag.Header@*&nbsp;<small>@ViewBag.HeaderSmall</small>*@</h3>
    </div>
    <!-- /widget-header -->
    <div class="widget-content">
        <div class="row-fluid">
            <div class="span3 accoutnSettingdNav">
                <ul class="nav nav-tabs nav-stacked">
                    <li><a href="Index">@Resources.lblPersonal</a></li>
                    <li><a href="Photo">@Resources.lblPersonalLabel</a></li>
                    <li><a href="Password">@Resources.lblPersonalPassword</a></li>
                    @if (Model.HasNotifications)
                    {
                        <li><a href="Notifications">@Resources.lblPersonalNotifications</a></li>
                    }
                    <li class="active"><a href="OutOfOffice">@Resources.lblPersonalOutofOffice</a></li>
                </ul>
            </div>
            <div class="span9">
                @using (Html.BeginForm("", "PersonalSettings", FormMethod.Post, new { @class = "form-horizontal", id = "formNotifications" }))
                {
                    @Html.AntiForgeryToken()
                    if (Model.OutOfOfficeData.Count > 0)
                    {
                        <fieldset>
                            <legend>@Resources.lblPersonalOutofOffice</legend>
                        </fieldset>


                        foreach (var item in Model.OutOfOfficeData)
                        {
                            <fieldset style="background-color:#f5f5f5">

                                <div id="dvAction@((int)item.ID)" class="btn-group pull-right padding10x">
                                    <a href="javascript:void(0);" data-toggle="dropdown" class="btn btn-mini dropdown-toggle ellipsisButton">
                                        <i class="icon-ellipsis-horizontal"></i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li>
                                            <a data-toggle="modal" data-backdrop="static" data-keyboard="false" href="@Url.Action("AddNewOutOfOffice", new { outOfOfficeId = item.ID })">
                                                <i class="icon-pencil"></i>&nbsp;@Resources.btnEdit
                                            </a>
                                        </li>

                                        <li>
                                            <a href="javascript:void(0);" onclick="$('#hdnOutOfOffice')[0].value = @(item.ID);$('#modelDialogDeleteConfirmation_1').modal({ backdrop: 'static', keyboard: false });" rel="nofollow" data-method="delete">
                                                <i class="icon-trash"></i>&nbsp;@Resources.lblDelete
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="control-group">

                                    <label class="control-label">
                                        <img class="userAvatar" src="@(GMGColorDAL.User.GetImagePath(item.SubstituteUserId, context))" alt="avatar_placeholder" width="100" height="100" />
                                    </label>
                                    <div class="controls" style="margin-top:25px">
                                        <address>
                                            <strong>@item.SubstituteUser</strong><br>
                                            <span>@GMGColorFormatData.GetFormattedDate(@item.FromDate, dateFormat)  @Resources.lblTo  @GMGColorFormatData.GetFormattedDate(@item.ToDate, dateFormat)</span><br />
                                        </address>
                                    </div>
                                </div>

                            </fieldset>
                            <br />
                        }
                    }
                    else
                    {

                        <div class="row-fluid blank-state" visible="false">
                            <div class="span4 blank-state-icon">
                                <i class="icon-th"></i>
                            </div>
                            <div class="span7">
                                <h3>@Resources.lblAddyourFirstOutOfOffice</h3>
                                <p>
                                    <a class="btn btn-primary" data-toggle="modal" data-backdrop="static" data-keyboard="false" href="@Url.Action("AddNewOutOfOffice")">@Resources.lblNewOutOfOffice</a>
                                </p>
                            </div>
                        </div>


                    }



                    @*@Html.Hidden("outOfOfficeId", "0", new { id = "hdneditOutOfOffice" })
                        <button id="btnEdit" class="cancel" type="submit" name="action" value="EditOutOfOffice"
                            hidden="hidden">
                                  Edit Group
                        </button>*@
                    @Html.Hidden("selectedOutOfOfficeId", 0, new { id = "hdnOutOfOffice" })
                    DeleteConfirmation deleteAccountConfirmation = new DeleteConfirmation(1, "DeleteOutOfOffice");
                    @Html.Partial("DeleteConfirmationDialog", deleteAccountConfirmation)

                }

            </div>
        </div>
        <!-- /row-fluid -->
    </div>
    <!-- /widget-content -->
</div>
<!-- /widget -->
@*@functions{

        private string GetActionButtons(int id)
        {
            GMGColorDAL.CustomModels.GetOutOfOfficeData objGroup = Model.OutOfOfficeData.FirstOrDefault(t => t.ID == id);

            System.Text.StringBuilder html = new System.Text.StringBuilder();

            html.Append("<div class=\"btn-group pull-right\">");
            html.Append("   <a href=\"javascript:void(0);\" data-toggle=\"dropdown\" class=\"btn btn-mini dropdown-toggle\"><i class=\"icon-cog\"></i><span class=\"caret\"></span></a>");
            html.Append("   <ul class=\"dropdown-menu pull-right\">");
            html.Append("      <li><a href=\"javascript:void(0);\" onclick=\"$('#hdneditOutOfOffice')[0].value = " + id + ";$('#btnEdit').click();\"><i class=\"icon-pencil\"></i>" + Resources.btnEdit + "</a></li>");
            html.Append("  <li><a href=\"javascript: void(0); \" onclick=\"$('#hdnOutOfOffice')[0].value ="+ id +";$('#modelDialogDeleteConfirmation_1').modal({ backdrop: 'static', keyboard: false }); \" rel=\"nofollow\" data-method=\"delete\"><i class=\"icon-trash\"></i>" + @Resources.lblDelete + "</a></li>");
            html.Append("   </ul>");
            html.Append("</div>");

            return html.ToString();
        }
    }*@


