﻿@model GMGColorDAL.CustomModels.ChangePassword
@using GMGColor.Resources
@{    
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
    Bundles.Reference("passwordstrength");
}
<div class="widget">
    <div class="widget-header">        
        <h3>@ViewBag.Header@*&nbsp;<small>@ViewBag.HeaderSmall</small>*@</h3>
    </div>
    <!-- /widget-header -->
    <div class="widget-content">
        <div class="row-fluid">
            <div class="span3">
                <div class="subnav accoutnSettingdNav">
                    <ul class="nav nav-tabs nav-stacked">
                        <li><a href="Index">@Resources.lblPersonal</a></li>
                        <li><a href="Photo">@Resources.lblPersonalLabel</a></li>
                        <li class="active"><a href="Password">@Resources.lblPersonalPassword</a></li>
                        @if (Model.HasNotifications)
                        {
                            <li><a href="Notifications">@Resources.lblPersonalNotifications</a></li>
                        }
                        <li><a href="OutOfOffice">@Resources.lblPersonalOutofOffice</a></li>
                    </ul>
                </div>
            </div>
            <div class="span9">
                @using (Html.BeginForm("ChangePassword", "PersonalSettings", FormMethod.Post, new { @class = "form-horizontal", id = "formChangePassword" }))
                {
                    @Html.AntiForgeryToken()
                    <fieldset>
                        <legend>@Resources.lblUpdateYourPassword</legend>
                        <span class="field-validation-error" style="display:none"><span id="OldNewSame-error" class="">@Resources.reqPasswordShouldNotBeOldPassword</span></span>
                        <div class="control-group">
                            <label class="control-label">@Resources.lblNewPassword</label>
                            <div class="controls">
                                @Html.PasswordFor(model => model.NewPassword, new { autocomplete = "off", @class = "passwordStrength" })
                                @Html.ValidationMessageFor(model => model.NewPassword)
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">@Resources.lblConfirmPassword</label>
                            <div class="controls">
                                @Html.PasswordFor((model => model.ConfirmPassword), new { autocomplete = "off" })
                                @Html.ValidationMessageFor(model => model.ConfirmPassword)
                            </div>
                        </div>
              
                        <div class="control-group">
                            <label class="control-label">@Resources.lblOldPassword</label>
                            <div class="controls">
                                @Html.PasswordFor((model => model.OldPassword), new { autocomplete = "off" })
                                @Html.ValidationMessageFor(model => model.OldPassword)
                				<p class="help-block">
                                    @Resources.lblEnterYourCurrentPasswordToConfirmChanges
                                </p>
                            </div>
                        </div>
                    </fieldset>
                    @Html.HiddenFor(model => model.UserID)
                    <div class="form-actions">
                        <input id="btnSaveChangesPassword" class="btn btn-primary" type="submit" value="@Resources.btnChangePassword" />
                    </div>                    
                    <script type="text/javascript">
                        $(document).ready(function () {
                            $('.passwordStrength').pstrength({
                                verdects: ['@Resources.lblVeryWeak', '@Resources.lblWeak', '@Resources.lblMedium', '@Resources.lblStrong', '@Resources.lblVeryStrong'],
                                minChar: 8,
                                txtminchar: '@Resources.lblMinNoOfCharatersIs',
                                txttooshort: '@Resources.lblTooShort',
                                txtunsafe: '@Resources.lblUnsafePassword'
                            });
                        });

                        $("#btnSaveChangesPassword").click(function (e) {
                            if ($("#NewPassword").val() != "" && ($("#NewPassword").val() == $("#OldPassword").val())) {
                                $("#OldNewSame-error").parent().css("display", "block");
                                e.preventDefault();
                                $("#btnSaveChangesPassword").prop("disabled", false);
                            }
                        });

                    </script>
                }
            </div>
        </div>
        <!-- /row-fluid -->
    </div>
    <!-- /widget-content -->
</div>
<!-- /widget -->
