﻿@model GMGColorDAL.CustomModels.ChangePhoto
@using GMGColor.FileUpload
@using GMGColor.Resources
@using GMGColorDAL
@{    
    Bundles.Reference("fileupload");
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
    GMGColorBusinessLogic.DbContextBL context = HttpContext.Current.Items[GMGColorDAL.DALUtils.DatabaseContext] as GMGColorBusinessLogic.DbContextBL;
    ViewBag.ProofStudioColor = Model.ProofStudioColor;
}
<div class="widget">
    <div class="widget-header">
        <h3>@ViewBag.Header@*&nbsp;<small>@ViewBag.HeaderSmall</small>*@</h3>
    </div>
    <!-- /widget-header -->
    <div class="widget-content">
        <div class="row-fluid">
            <div class="span3">
                <div class="subnav accoutnSettingdNav">
                    <ul class="nav nav-tabs nav-stacked">
                        <li><a href="Index">@Resources.lblPersonal</a></li>
                        <li class="active"><a href="Photo">@Resources.lblPersonalLabel</a></li>
                        <li><a href="Password">@Resources.lblPersonalPassword</a></li>
                        @if (Model.HasNotifications)
                        {
                            <li><a href="Notifications">@Resources.lblPersonalNotifications</a></li>
                        }
                        <li><a href="OutOfOffice">@Resources.lblPersonalOutofOffice</a></li>
                    </ul>
                </div>
            </div>
            <div class="span9">
                @using (Html.BeginForm("ChangePhoto", "PersonalSettings", FormMethod.Post, new { @class = "form-horizontal", id = "formChangePhoto" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.UserID)
                    <fieldset>
                        @Html.Partial("_UserColor")
                        <legend>@Resources.lblUploadPhoto</legend>
                        <div class="control-group">
                            @{string userImagePath = GMGColorDAL.User.GetImagePath(Model.UserID, false, context);
                              FileUploadModel fupModel = new FileUploadModel(Model.AccountRegion);
                              fupModel.Key = 1;
                              fupModel.DefaultImagePath = userImagePath;
                              fupModel.HelpBlockHtml = Resources.lblYourImageFileShouldBeInPNGOrGIFFormat;
                              fupModel.HelpInlineHtml = Resources.lblMaxDimensions + ": <strong>48 x 48</strong> " + @Resources.lblPixels + "</span>";
                              fupModel.AcceptFileTypes = "/(JPG|PNG|GIF)$/i";
                            }
                            @Html.Partial("FileUpload", fupModel)
                        </div>
                    </fieldset>
                    <div class="form-actions">
                        <input id="btnSaveChangesChangePhoto" class="btn btn-primary" type="submit" value="@Resources.btnSaveChanges" data-loading-text="@Resources.btnSaving" />
                    </div>
                    @Html.HiddenFor(model => model.ProofStudioColor)
                    @Html.Partial("FileUploadTemplates", FileUploadModel.FileUploadTemplates(Model.PathToTempFolder, Model.AccountRegion))
                }
            </div>
        </div>
        <!-- /row-fluid -->
    </div>
    <!-- /widget-content -->
</div>
<!-- /widget -->