﻿@model GMGColorDAL.CustomModels.ModulePermision
<div class="control-group">
    <label class="usersPageLabel">
        @Model.ModuleName</label>
    <div class="usersPagecontrols">
        @{
            IDictionary<string, object> htmlAttributes = new RouteValueDictionary();
            if (Model.ReadOnly)
            {
                htmlAttributes.Add("readonly", "readonly");
                htmlAttributes.Add("disabled", "disabled");
            }
            htmlAttributes.Add("class", "inputUsers");
            htmlAttributes.Add("id", "drp" + @Model.ModuleName.Replace(" ", string.Empty));

         }
        @Html.DropDownListFor(m => m.SelectedRole, new SelectList(Model.Roles, "RoleId", "RoleName", Model.SelectedRole), @htmlAttributes )
    </div>
</div>
    @Html.HiddenFor(m => m.ModuleId, new { @data_val = "false" })
    @Html.HiddenFor(m => m.ModuleName, new { @data_val = "false" })
    @Html.HiddenFor(m => m.ModuleType, new { @data_val = "false" })
    @if (Model.ReadOnly)
    {
        @Html.HiddenFor(m => m.SelectedRole, new { @data_val = "false" })
    }