﻿@using GMGColorDAL.CustomModels
@model GMGColorDAL.CustomModels.NavigationItem
@{
    string parentId = string.Format("parent-{0}", Model.MenuId);
    string parentUlClass = string.Format("{0}", string.IsNullOrEmpty(Model.Action) && string.IsNullOrEmpty(Model.Controller) ? ("nav-children" + " nav-children-" + (Model.Level + 1) ) : string.Empty);

    if (string.IsNullOrEmpty(Model.Action) && string.IsNullOrEmpty(Model.Controller) && Model.AnyChildWithControllerAndAction)
    {
    <li><a href="javascript:void(0);" class="navigation-collapse-trigger">@Model.DisplayName</a>
        @if (Model.Childs.Any())
        {
            string hideClass = Model.Childs.Any(o => o.ActiveChild) ? string.Empty : "nav-children-hide";
            
            <ul class="nav nav-tabs nav-stacked @parentUlClass @hideClass" id="@parentId" level="@Model.Level" key="menu-@Model.MenuId">
                @for (int i = 0; i < Model.Childs.Count(); i++)
                {
                    @Html.EditorFor(m => m.Childs[i])
                }
            </ul>
        }
    </li>
    }
    else if (!string.IsNullOrEmpty(Model.Action) && !string.IsNullOrEmpty(Model.Controller))
    {
        string strStyle = Model.Active || Model.ActiveChild ? "active" : string.Empty;
    <li class="@strStyle">
        @Html.ActionLink(Model.DisplayName, Model.Action, Model.Controller)
    </li>
        if (Model.Childs.Any())
        {
    <ul class="nav nav-tabs nav-stacked @parentUlClass" id="@parentId" level="0">
        @for (int i = 0; i < Model.Childs.Count(); i++)
        {
            @Html.EditorFor(m => m.Childs[i])
        }
    </ul>
        }
    }
}
