﻿@using GMGColor.Resources;
@using GMGColorDAL
@using GMGColorDAL.CustomModels
@model GMGColorDAL.CustomModels.SubscriberPlanPerModule
@{
    Bundles.Reference("datetimepicker");
    GMGColorBusinessLogic.DbContextBL context = HttpContext.Current.Items[GMGColorDAL.DALUtils.DatabaseContext] as GMGColorBusinessLogic.DbContextBL;
    GMGColorDAL.Account objAccount = GMGColorDAL.DALUtils.GetObject<GMGColorDAL.Account>(Model.AccountId, context);
    AccountType.Type loggedAccountType = GMGColorDAL.AccountType.GetAccountType(Model.objLoggedAccount, context);
    string dateFormat = objAccount.DateFormat1.Pattern;
}
@Html.HiddenFor(m=>m.SelectedPlans)
@Html.ValidationMessageFor(m=>m.SelectedPlans)

@Html.HiddenFor(m=>m.AccountId)
@{

    SubscriberPlanInfo deliverSubscriberPlan = objAccount.DeliverSubscriberPlan(context);
    SubscriberPlanInfo collaborateSubscriberPlan = objAccount.CollaborateSubscriberPlan(context);
   
}
@Html.HiddenFor(m => m.SelectedCollaboratePlanIsFixed)
@Html.HiddenFor(m => m.SelectedDeliverPlanIsFixed)

<!-- Start of Collaborate -->
<legend>@Resources.lblCollaborateModuleName</legend>
<div class="control-group">
    <label class="control-label">@Resources.lblPlan</label>
    <div class="controls">
        <select data-val="true" id="SubscriberPlans_CollaborateBillingPlanId" name="SubscriberPlans.CollaborateBillingPlanId" class="valid">
            <option value="">@Resources.lblNoSubscription</option>
            @foreach(BillingPlanItem item in Model.CollaborateBillingPlans)
            {
                string fixedPrice = item.IsFixedPrice ? "1" : "0";
                if (item.Id == Model.CollaborateBillingPlanId)
                {
                    <option value="@item.Id" fixedPrice="@fixedPrice" price="@item.Price" cpp="@item.Cpp" selected="selected" data-demo-plan="@item.IsDemo" data-storage="@item.MaxStorage">@item.Title</option>
                }
                else
                {
                    <option value="@item.Id" fixedPrice="@fixedPrice" price="@item.Price" cpp="@item.Cpp" data-demo-plan="@item.IsDemo" data-storage="@item.MaxStorage">@item.Title</option>
                }
            }
        </select>
        @Html.ValidationMessageFor(m => m.CollaborateBillingPlanId)
        @if(Model.CollaborateDemoRemainingDays != null)
        {
            if (Model.CollaborateDemoRemainingDays > 0)
            {
                <span class="demo-info-margin collabRemainingDays">@(String.Format(Resources.lblDemoPlanRemainingDays, Model.CollaborateDemoRemainingDays))</span>
            }
            else if (Model.CollaborateDemoRemainingDays < 0)
            {
                <span class="demo-info-margin collabRemainingDays">@Resources.lblDemoPlanIsExpired</span>
            }
            else
            {
                <span class="demo-info-margin collabRemainingDays">@Resources.lblDemoPlanExpiresToday</span>
            }
        }
    </div>
</div>
<div class="control-group collaborate-overdraw">
    <label class="control-label">@Resources.lblAllowOverdraw</label>
    <div class="controls">
        <label class="checkbox">
            @Html.CheckBoxFor(model => model.CollaborateAllowOverdraw)
        </label>
    </div>
</div>
<div class="control-group collaborate-LimitIsExceeded">
    <label class="control-label">@Resources.lblIfLimitIsExceeded</label>
    <div class="controls">
        <label class="checkbox">
            @Html.CheckBoxFor(model => model.CollaborateChargeCostPerProofIfExceeded)
            @Html.Raw(string.Format(Resources.lblBillingMsg2, "<span id=\"cpp\" class=\"badge badge-info badge-collaborate\">" + Model.CollaborateCostPerProof + "</span>"))
        </label>
    </div>
</div>
@if (Model.objLoggedAccount != null && loggedAccountType == GMGColorDAL.AccountType.Type.Client)
{
    <div class="collaborateNotFixedPlan">
        <div class="control-group">
            <label class="control-label">@Resources.lblSubscriberCreditAllocation</label>
            <div class="controls">
                <label class="radio inline">
                    @Html.RadioButtonFor(model => model.CollaborateCreditAllocationType, CreditAllocationTypeEnum.Quota, new { @id = "valuetrue" })
                    <label>@Resources.lblQuota</label>
                </label>
                <label class="radio inline">
                    @Html.RadioButtonFor(model => model.CollaborateCreditAllocationType, CreditAllocationTypeEnum.Floating, new { @id = "valuefalse" })
                    <label>@Resources.lblFloating</label>
                </label>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">@Resources.lblNoOfCredits</label><div class="controls">
                @Html.TextBoxFor(model => model.CollaborateNrOfCredits, new { @class = "iintiger" })
                @Html.ValidationMessageFor(model => model.CollaborateNrOfCredits, Resources.reqCollaborateNrOfCredits)
            </div>
        </div>
    </div>
}
else
{
    @Html.TextBoxFor(model => model.CollaborateNrOfCredits, new { @class = "iintiger hide", @value = "0" })
    @Html.RadioButtonFor(model => model.CollaborateCreditAllocationType, CreditAllocationTypeEnum.Floating, new { @id = "valuefalse", @class = "hide", @checked = "checked" })
}
@if (string.IsNullOrEmpty(Model.CollaborateContractStartDate))
{
    <div class="control-group">
        <label class="control-label">@Resources.lblContractStartDate</label>
        <div class="controls">
            @{
                Dictionary<int, string> dsCollaborate = new Dictionary<int, string>();
                Model.ContractStartDate.Keys.ToList().ForEach(o => dsCollaborate.Add(o, Model.ContractStartDate[o]));

                if (collaborateSubscriberPlan == null &&
                    (
                        (
                            deliverSubscriberPlan != null &&
                            deliverSubscriberPlan.ContractStartDate != null
                        )
                    ))
                {
                    dsCollaborate.Remove((int)ContractStartDateEnum.WhenModuleIsActivated);
                }

                if (ViewData["isAccountActive"] != null && Convert.ToBoolean(ViewData["isAccountActive"]))
                {
                    dsCollaborate.Remove((int)ContractStartDateEnum.WhenModuleIsActivated);
                }
            }
            @Html.DropDownListFor(model => model.CollaborateContractStartDateNow, new SelectList(@dsCollaborate, "key", "value", Model.CollaborateContractStartDateNow))
            @Html.ValidationMessageFor(model => model.CollaborateContractStartDateNow)
        </div>
    </div>
}
else
{
    <div class="control-group">
        <label class="control-label">@Resources.lblContractStartDate</label>
        <div class="controls">
            <div class="input-append date-picker date" id="colStartDatePicker" data-date="@String.Format("{0:" + dateFormat + "}", Model.CollaborateContractStartDate)" data-date-format="@dateFormat.ToLower()">
             @Html.TextBoxFor(model => model.CollaborateContractStartDate, new { @Value = String.Format("{0:" + dateFormat + "}", Model.CollaborateContractStartDate), @size = "16", @class = "input-small" })                          
                <span class="add-on"><i class="icon-calendar"></i></span>
            </div>
            <span id="dtFromPickerAlert" class="help-inline" style="display: none;">@Resources.reqStartDate</span>
        </div>
    </div>   
}
<!-- End of Collaborate -->

<!-- Start of Deliver -->
<legend>@Resources.lblDeliverModuleName</legend>
<div class="control-group">
    <label class="control-label">@Resources.lblPlan</label>
    <div class="controls">
        <select data-val="true" id="SubscriberPlans_DeliverBillingPlanId" name="SubscriberPlans.DeliverBillingPlanId" class="valid">
            <option value="">@Resources.lblNoSubscription</option>
            @foreach (BillingPlanItem item in Model.DeliverBillingPlans)
            {
                string fixedPrice = item.IsFixedPrice ? "1" : "0";
                if (item.Id == Model.DeliverBillingPlanId)
                {
                    <option value="@item.Id" fixedPrice="@fixedPrice" price="@item.Price" cpp="@item.Cpp" selected="selected" data-demo-plan="@item.IsDemo">@item.Title</option>
                }
                else
                {
                    <option value="@item.Id" fixedPrice="@fixedPrice" price="@item.Price" cpp="@item.Cpp" data-demo-plan="@item.IsDemo">@item.Title</option>
                }
            }
        </select>
        @Html.ValidationMessageFor(m => m.DeliverBillingPlanId)
        @if (Model.DeliverDemoRemainingDays != null)
        {
            if (Model.DeliverDemoRemainingDays > 0)
            {
                <span class="demo-info-margin deliverRemainingDays">@(String.Format(Resources.lblDemoPlanRemainingDays, Model.DeliverDemoRemainingDays))</span>   
            }
            else if (Model.DeliverDemoRemainingDays < 0)
            {
                <span class="demo-info-margin deliverRemainingDays">@Resources.lblDemoPlanIsExpired</span>
            }
            else
            {
                <span class="demo-info-margin deliverRemainingDays">@Resources.lblDemoPlanExpiresToday</span>
            }
        }
    </div>
</div>
<div class="control-group deliver-overdraw">
    <label class="control-label">@Resources.lblAllowOverdraw</label>
    <div class="controls">
        <label class="checkbox">
            @Html.CheckBoxFor(model => model.DeliverAllowOverdraw)
        </label>
    </div>
</div>
<div class="control-group deliver-LimitIsExceeded">
    <label class="control-label">@Resources.lblIfLimitIsExceeded</label>
    <div class="controls">
        <label class="checkbox">
            @Html.CheckBoxFor(model => model.DeliverChargeCostPerProofIfExceeded)
            @Html.Raw(string.Format(Resources.lblBillingMsg2, "<span id=\"cpp\" class=\"badge badge-info badge-deliver\">" + Model.DeliverCostPerProof + "</span>"))
        </label>
    </div>
</div>
@if (Model.objLoggedAccount != null && loggedAccountType == GMGColorDAL.AccountType.Type.Client)
{
    <div class="deliverNotFixedPlan">
        <div class="control-group">
            <label class="control-label">@Resources.lblSubscriberCreditAllocation</label>
            <div class="controls">
                <label class="radio inline">
                    @Html.RadioButtonFor(model => model.DeliverCreditAllocationType, CreditAllocationTypeEnum.Quota, new { @id = "valuetrue" })
                    <label>@Resources.lblQuota</label>
                </label>
                <label class="radio inline">
                    @Html.RadioButtonFor(model => model.DeliverCreditAllocationType, CreditAllocationTypeEnum.Floating, new { @id = "valuefalse" })
                    <label>@Resources.lblFloating</label>
                </label>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">@Resources.lblNoOfCredits</label>
            <div class="controls">
                @Html.TextBoxFor(model => model.DeliverNrOfCredits, new { @class = "iintiger" })
                @Html.ValidationMessageFor(model => model.DeliverNrOfCredits, Resources.reqCollaborateNrOfCredits)
            </div>
        </div>
    </div>
}
else
{
    @Html.TextBoxFor(model => model.DeliverNrOfCredits, new { @class = "iintiger hide", @value = "0" })
    @Html.RadioButtonFor(model => model.DeliverCreditAllocationType, CreditAllocationTypeEnum.Floating, new { @id = "valuefalse", @class = "hide", @checked = "checked" })
}
@if (string.IsNullOrEmpty(Model.DeliverContractStartDate))
{
    <div class="control-group">
        <label class="control-label">@Resources.lblContractStartDate</label>
        <div class="controls">
            @{
                Dictionary<int, string> dsDeliver = new Dictionary<int, string>();
                Model.ContractStartDate.Keys.ToList().ForEach(o => dsDeliver.Add(o, Model.ContractStartDate[o]));

                if (deliverSubscriberPlan == null &&
                    (
                        (
                            collaborateSubscriberPlan != null &&
                            collaborateSubscriberPlan.ContractStartDate != null
                        )
                    ))
                {
                    dsDeliver.Remove((int)ContractStartDateEnum.WhenModuleIsActivated);
                }

                if (ViewData["isAccountActive"] != null && Convert.ToBoolean(ViewData["isAccountActive"]))
                {
                    dsDeliver.Remove((int)ContractStartDateEnum.WhenModuleIsActivated);
                }
            }
            
            
            @Html.DropDownListFor(model => model.DeliverContractStartDateNow, new SelectList(@dsDeliver, "key", "value", Model.DeliverContractStartDateNow))
            @Html.ValidationMessageFor(model => model.DeliverContractStartDateNow)
        </div>
    </div>
}
else
{
    <div class="control-group">
        <label class="control-label">@Resources.lblContractStartDate</label>
        <div class="controls">
            <div class="input-append date-picker date" id="delStartDatePicker" data-date="@String.Format("{0:" + dateFormat + "}", Model.DeliverContractStartDate)" data-date-format="@dateFormat.ToLower()">
                @Html.TextBoxFor(model => model.DeliverContractStartDate, new { @Value = String.Format("{0:" + dateFormat + "}", Model.DeliverContractStartDate), @size = "16", @class = "input-small" })
                <span class="add-on"><i class="icon-calendar"></i></span>
            </div>
            <span id="dtFromPickerAlert" class="help-inline" style="display: none;">@Resources.reqStartDate</span>
        </div>
    </div>   
}
<!-- End of Deliver -->

    @Html.HiddenFor(m => m.CollaborateSelectedContractStartDate)
    @Html.HiddenFor(m => m.DeliverSelectedContractStartDate)

<script type="text/javascript">
    function EnableDisableControls(isPageLoaded) {
        var collaborateValue = $("#SubscriberPlans_CollaborateBillingPlanId").val();
        

        if (collaborateValue == "") {
            $(".collaborate-LimitIsExceeded").hide();
            $(".collaborate-overdraw").hide();
            $("[name='SubscriberPlans.CollaborateCreditAllocationType']").parents(".control-group:first").hide();
            $("#SubscriberPlans_CollaborateNrOfCredits").parents(".control-group:first").hide();
            $("#SubscriberPlans_CollaborateContractStartDateNow").parents(".control-group:first").hide();
        } else {
            var fixedprice = parseFloat($("#SubscriberPlans_CollaborateBillingPlanId option[value='" + collaborateValue + "']").attr("fixedprice"));
            var price = parseFloat($("#SubscriberPlans_CollaborateBillingPlanId option[value='" + collaborateValue + "']").attr("price"));
            var cpp = parseFloat($("#SubscriberPlans_CollaborateBillingPlanId option[value='" + collaborateValue + "']").attr("cpp"));
            var storage = parseInt($("#SubscriberPlans_CollaborateBillingPlanId option[value='" + collaborateValue + "']").attr("data-storage"));
            if ((price > 0 && cpp > 0 || storage > 0) || fixedprice == 0 && (price == 0 || storage == 0)) {
                $(".collaborate-overdraw").show();
                if ($('#SubscriberPlans_CollaborateAllowOverdraw').is(':checked')) {
                    $(".collaborate-LimitIsExceeded").show();
                    $(".badge-collaborate").text($("#SubscriberPlans_CollaborateBillingPlanId option[value='" + collaborateValue + "']").attr("cpp"));
                } else {
                    $(".collaborate-LimitIsExceeded").hide();
                }
                $(".collaborateNotFixedPlan").show();
            } else {
                $(".collaborate-LimitIsExceeded").hide();
                $(".collaborateNotFixedPlan").hide();
                $(".collaborate-overdraw").hide();
            }
            $("[name='SubscriberPlans.CollaborateCreditAllocationType']").parents(".control-group:first").show();
            $("#SubscriberPlans_CollaborateNrOfCredits").parents(".control-group:first").show();
            $("#SubscriberPlans_CollaborateContractStartDateNow").parents(".control-group:first").show();
            $('#SubscriberPlans_SelectedCollaboratePlanIsFixed').val(fixedprice === 1 ? 'True' : 'False');

            if ($("[name='SubscriberPlans.CollaborateCreditAllocationType'][value='Quota']").is(":checked")) {
                $("#SubscriberPlans_CollaborateNrOfCredits").parents(".control-group:first").show();
            } else {
                $("#SubscriberPlans_CollaborateNrOfCredits").parents(".control-group:first").hide();
            }
        }

        //show/hide Contract Start Date dropdown and "Yearly" option based on selected value from Plan dropdown
        var isCollaborateDemoPlan = $('option:selected', $("#SubscriberPlans_CollaborateBillingPlanId")).attr('data-demo-plan');
        if (isCollaborateDemoPlan == "False") {
            $('.collabRemainingDays').hide();
            $('#SubscriberPlans_CollaborateContractStartDateNow').removeAttr("disabled");
        } else {
            $('#SubscriberPlans_CollaborateContractStartDateNow').attr("disabled", "disabled");
            $('#SubscriberPlans_CollaborateContractStartDateNow').val($("#SubscriberPlans_CollaborateContractStartDateNow").find("option:eq(0)").val());

            if (isPageLoaded) {
                $('.collabRemainingDays').show();
            }
        }
        $('#SubscriberPlans_CollaborateSelectedContractStartDate').val($("#SubscriberPlans_CollaborateContractStartDateNow").find(":selected").text());
        
        var deliverValue = $("#SubscriberPlans_DeliverBillingPlanId").val();
        if (deliverValue == "") {
            $(".deliver-LimitIsExceeded").hide();
            $(".deliver-overdraw").hide();
            $("[name='SubscriberPlans.DeliverCreditAllocationType']").parents(".control-group:first").hide();
            $("#SubscriberPlans_DeliverNrOfCredits").parents(".control-group:first").hide();
            $("#SubscriberPlans_DeliverContractStartDateNow").parents(".control-group:first").hide();
        } else {

            var fixedprice = parseFloat($("#SubscriberPlans_DeliverBillingPlanId option[value='" + deliverValue + "']").attr("fixedprice"));
            var price = parseFloat($("#SubscriberPlans_DeliverBillingPlanId option[value='" + deliverValue + "']").attr("price"));
            var cpp = parseFloat($("#SubscriberPlans_DeliverBillingPlanId option[value='" + deliverValue + "']").attr("cpp"));
            if (price > 0 && cpp > 0 || fixedprice == 0 && price == 0) {
                $(".deliver-overdraw").show();
                if ($('#SubscriberPlans_DeliverAllowOverdraw').is(':checked')) {
                    $(".deliver-LimitIsExceeded").show();
                    $(".badge-deliver").text($("#SubscriberPlans_DeliverBillingPlanId option[value='" + deliverValue + "']").attr("cpp"));
                } else {
                    $(".deliver-LimitIsExceeded").hide();
                }
                $(".deliverNotFixedPlan").show();
            } else {
                $(".deliver-LimitIsExceeded").hide();
                $(".deliverNotFixedPlan").hide();
                $(".deliver-overdraw").hide();
            }        
            
            $("[name='SubscriberPlans.DeliverCreditAllocationType']").parents(".control-group:first").show();
            $("#SubscriberPlans_DeliverNrOfCredits").parents(".control-group:first").show();
            $("#SubscriberPlans_DeliverContractStartDateNow").parents(".control-group:first").show();
            $('#SubscriberPlans_SelectedDeliverPlanIsFixed').val(fixedprice === 1 ? 'True' : 'False');

            if ($("[name='SubscriberPlans.DeliverCreditAllocationType'][value='Quota']").is(":checked")) {
                $("#SubscriberPlans_DeliverNrOfCredits").parents(".control-group:first").show();
            } else {
                $("#SubscriberPlans_DeliverNrOfCredits").parents(".control-group:first").hide();
            }
        }

        //show/hide Contract Start Date dropdown and "Yearly" option based on selected value from Plan dropdown
        var isDemoPlan = $('option:selected', $("#SubscriberPlans_DeliverBillingPlanId")).attr('data-demo-plan');
        if (isDemoPlan == "False") {
            $('.deliverRemainingDays').hide();
            $('#SubscriberPlans_DeliverContractStartDateNow').removeAttr("disabled");
        } else {
            $('#SubscriberPlans_DeliverContractStartDateNow').attr("disabled", "disabled");
            $('#SubscriberPlans_DeliverContractStartDateNow').val($("#SubscriberPlans_DeliverContractStartDateNow").find("option:eq(0)").val());

            if (isPageLoaded) {
                $('.deliverRemainingDays').show();
            }
        }
        $('#SubscriberPlans_DeliverSelectedContractStartDate').val($("#SubscriberPlans_DeliverContractStartDateNow").find(":selected").text());    
    }

    function updateFieldForClientSideValidation() {
        var collaborateSubscriptionPlan = $("#SubscriberPlans_CollaborateBillingPlanId").val();
        var deliverSubscriptionPlan = $("#SubscriberPlans_DeliverBillingPlanId").val();

        $("#SubscriberPlans_SelectedPlans").val(
            (collaborateSubscriptionPlan != "" ? (collaborateSubscriptionPlan + "|") : "") +          
            (deliverSubscriptionPlan != "" ? (deliverSubscriptionPlan + "|") : "")
        );
    }

    $("#SubscriberPlans_CollaborateBillingPlanId, #SubscriberPlans_CollaborateAllowOverdraw").change(function () {
        EnableDisableControls(false);
        updateFieldForClientSideValidation();
    });
    $("[name='SubscriberPlans.CollaborateCreditAllocationType']").click(function () {
        EnableDisableControls(false);
        updateFieldForClientSideValidation();
    });
    $("#SubscriberPlans_DeliverBillingPlanId, #SubscriberPlans_DeliverAllowOverdraw").change(function () {
        EnableDisableControls(false);
        updateFieldForClientSideValidation();
    });
    $("[name='SubscriberPlans.DeliverCreditAllocationType']").click(function () {
        EnableDisableControls(false);
        updateFieldForClientSideValidation();
    });

    $(document).ready(function () {
        EnableDisableControls(true);

        $('.date-picker').datepicker({ autoclose: true });
    });
</script>