﻿@using GMGColor.Resources
@using GMGColorDAL
@using GMGColorDAL.CustomModels
@model GMGColorDAL.CustomModels.SubscriptionPlanPerModule
@{  
    Bundles.Reference("datetimepicker");
    GMGColorBusinessLogic.DbContextBL context = HttpContext.Current.Items[GMGColorDAL.DALUtils.DatabaseContext] as GMGColorBusinessLogic.DbContextBL;
    GMGColorDAL.Account objAccount = GMGColorDAL.DALUtils.GetObject<GMGColorDAL.Account>(Model.AccountId, context);
    string dateFormat = objAccount.DateFormat1.Pattern;
}

@Html.HiddenFor(m => m.SelectedPlans)
@Html.ValidationMessageFor(m => m.SelectedPlans)

@Html.HiddenFor(m => m.AccountId)

<!-- Start of Collaborate -->
<legend>@Resources.lblCollaborateModuleName</legend>
<div class="control-group">
    <label class="control-label">@Resources.lblPlan</label>
    <div class="controls">
        <select data-val="true" id="PlanPerModule_CollaborateBillingPlanId" name="PlanPerModule.CollaborateBillingPlanId" class="valid">
            <option value="">@Resources.lblNoSubscription</option>
            @foreach (BillingPlanItem item in Model.CollaborateBillingPlans)
            {
                string fixedPrice = item.IsFixedPrice ? "1" : "0";
                if (item.Id == Model.CollaborateBillingPlanId)
                {
                    <option value="@item.Id" fixedPrice="@fixedPrice" price="@item.Price" cpp="@item.Cpp" data-demo-plan="@item.IsDemo" data-storage="@item.MaxStorage" selected="selected">@item.Title</option>
                }
                else
                {
                    <option value="@item.Id" fixedPrice="@fixedPrice" price="@item.Price" data-demo-plan="@item.IsDemo" cpp="@item.Cpp" data-storage="@item.MaxStorage">@item.Title</option>
                }
            }
        </select>
        @Html.ValidationMessageFor(m => m.CollaborateBillingPlanId)
        @if (Model.CollaborateDemoRemainingDays != null)
        {
            if (Model.CollaborateDemoRemainingDays > 0)
            {
                <span class="demo-info-margin collabRemainingDays">@(String.Format(Resources.lblDemoPlanRemainingDays, Model.CollaborateDemoRemainingDays))</span>
            }
            else if (Model.CollaborateDemoRemainingDays < 0)
            {
                <span class="demo-info-margin collabRemainingDays">@Resources.lblDemoPlanIsExpired</span>
            }
            else
            {
                <span class="demo-info-margin collabRemainingDays">@Resources.lblDemoPlanExpiresToday</span>
            }
        }
    </div>
</div>
<div class="control-group collaborate-overdraw">
    <label class="control-label">@Resources.lblAllowOverdraw</label>
    <div class="controls">
        <label class="checkbox">
            @Html.CheckBoxFor(model => model.CollaborateAllowOverdraw)
        </label>
    </div>
</div>
<div class="control-group collaborate-LimitIsExceeded">
    <label class="control-label">@Resources.lblIfLimitIsExceeded</label>
    <div class="controls">
        <label class="checkbox">
            @Html.CheckBoxFor(model => model.CollaborateChargeCostPerProofIfExceeded)
            @Html.Raw(string.Format(Resources.lblBillingMsg2, "<span id=\"cpp\" class=\"badge badge-info badge-collaborate\">" + Model.CollaborateCostPerProof + "</span>"))
        </label>
    </div>
</div>

@{
    AccountSubscriptionPlan collaborateSubscriptionPlan = objAccount.CollaborateSubscriptionPlan(context);
    AccountSubscriptionPlan deliverSubscriptionPlan = objAccount.DeliverSubscriptionPlan(context);
}

<div class="control-group">
    <label class="control-label">@Resources.lblBillingFrequency</label>
    <div class="controls" id="collaborateBillingFrequency">
        <label class="radio inline">
            @Html.RadioButtonFor(m => m.CollaborateIsMonthlyBillingFrequency, Enums.BillingFrequency.Monthly)
            <label>@Resources.lblMonthly</label>
        </label>
        <label class="radio inline">
            @Html.RadioButtonFor(m => m.CollaborateIsMonthlyBillingFrequency, Enums.BillingFrequency.Yearly)
            <label>@Resources.lblYearly</label>
        </label>
        <div class="clearboth"></div>
        @Html.ValidationMessageFor(m => m.CollaborateIsMonthlyBillingFrequency)
    </div>
</div>
@if (string.IsNullOrEmpty(Model.CollaborateContractStartDate))
{
    <div class="control-group">
        <label class="control-label">@Resources.lblContractStartDate</label>
        <div class="controls">
            @{
                Dictionary<int, string> ds = new Dictionary<int, string>();
                Model.ContractStartDate.Keys.ToList().ForEach(o => ds.Add(o, Model.ContractStartDate[o]));
                if (
                        (collaborateSubscriptionPlan != null &&
                        collaborateSubscriptionPlan.ContractStartDate != null
                        ) ||
                        (
                            deliverSubscriptionPlan != null &&
                            deliverSubscriptionPlan.ContractStartDate != null
                        )
                    )
                {
                    ds.Remove((int)ContractStartDateEnum.WhenModuleIsActivated);
                }

                if (ViewData["isAccountActive"] != null && Convert.ToBoolean(ViewData["isAccountActive"]))
                {
                    ds.Remove((int)ContractStartDateEnum.WhenModuleIsActivated);
                }

            }
            @Html.DropDownListFor(model => model.CollaborateContractStartDateNow, new SelectList(@ds, "key", "value", Model.CollaborateContractStartDateNow))
            @Html.ValidationMessageFor(model => model.CollaborateContractStartDateNow)
        </div>
    </div>
}
else
{
    <div class="control-group">
        <label class="control-label">@Resources.lblContractStartDate</label>
        <div class="controls">
            <div class="input-append date-picker date" id="colStartDatePicker" data-date-format="@dateFormat.ToLower()">
                @Html.TextBoxFor(model => model.CollaborateContractStartDate, new { @Value = String.Format("{0:" + dateFormat + "}", Model.CollaborateContractStartDate), @size = "16", @class = "input-small" })
                <span class="add-on"><i class="icon-calendar"></i></span>
            </div>
            <span id="dtFromPickerAlert" class="help-inline" style="display: none;">@Resources.reqStartDate</span>
        </div>
    </div>   
}

<!-- End of Collaborate -->

<!-- Start of Deliver -->
<legend>@Resources.lblDeliverModuleName</legend>
<div class="control-group">
    <label class="control-label">@Resources.lblPlan</label>
    <div class="controls">
        <select data-val="true" id="PlanPerModule_DeliverBillingPlanId" name="PlanPerModule.DeliverBillingPlanId" class="valid">
            <option value="">@Resources.lblNoSubscription</option>
            @foreach (BillingPlanItem item in Model.DeliverBillingPlans)
            {
                string fixedPrice = item.IsFixedPrice ? "1" : "0";
                if (item.Id == Model.DeliverBillingPlanId)
                {
                    <option value="@item.Id" fixedPrice="@fixedPrice" price="@item.Price" cpp="@item.Cpp" data-demo-plan="@item.IsDemo" selected="selected">@item.Title</option>
                }
                else
                {
                    <option value="@item.Id" fixedPrice="@fixedPrice" price="@item.Price" cpp="@item.Cpp" data-demo-plan="@item.IsDemo">@item.Title</option>
                }
            }
        </select>
        @Html.ValidationMessageFor(m => m.DeliverBillingPlanId)
        @if (Model.DeliverDemoRemainingDays != null)
        {
            if (Model.DeliverDemoRemainingDays > 0)
            {
               <span class="demo-info-margin deliverRemainingDays">@(String.Format(Resources.lblDemoPlanRemainingDays, Model.DeliverDemoRemainingDays))</span>
            }
            else if (Model.DeliverDemoRemainingDays < 0)
            {
                <span class="demo-info-margin deliverRemainingDays">@Resources.lblDemoPlanIsExpired</span>
            }
            else
            {
                <span class="demo-info-margin deliverRemainingDays">@Resources.lblDemoPlanExpiresToday</span>
            }
        }
    </div>
</div>
<div class="control-group deliver-overdraw">
    <label class="control-label">@Resources.lblAllowOverdraw</label>
    <div class="controls">
        <label class="checkbox">
            @Html.CheckBoxFor(model => model.DeliverAllowOverdraw)
        </label>
    </div>
</div>
<div class="control-group deliver-LimitIsExceeded">
    <label class="control-label">@Resources.lblIfLimitIsExceeded</label>
    <div class="controls">
        <label class="checkbox">
            @Html.CheckBoxFor(model => model.DeliverChargeCostPerProofIfExceeded)
            @Html.Raw(string.Format(Resources.lblBillingMsg2, "<span id=\"cpp\" class=\"badge badge-info badge-deliver\">" + Model.DeliverCostPerProof + "</span>"))
        </label>
    </div>
</div>

<div class="control-group">
    <label class="control-label">@Resources.lblBillingFrequency</label>
    <div class="controls" id="deliverBillingFrequency">
        <label class="radio inline">
            @Html.RadioButtonFor(m => m.DeliverIsMonthlyBillingFrequency, Enums.BillingFrequency.Monthly)
            <label>@Resources.lblMonthly</label>
        </label>
        <label class="radio inline">
            @Html.RadioButtonFor(m => m.DeliverIsMonthlyBillingFrequency, Enums.BillingFrequency.Yearly)
            <label>@Resources.lblYearly</label>
        </label>
        <div class="clearboth"></div>
        @Html.ValidationMessageFor(m => m.DeliverIsMonthlyBillingFrequency)
    </div>
</div>
@if (string.IsNullOrEmpty(Model.DeliverContractStartDate))
{
    <div class="control-group">
        <label class="control-label">@Resources.lblContractStartDate</label>
        <div class="controls">
            @{
                Dictionary<int, string> ds = new Dictionary<int, string>();
                Model.ContractStartDate.Keys.ToList().ForEach(o => ds.Add(o, Model.ContractStartDate[o]));
                if (deliverSubscriptionPlan == null &&
                    (
                        (
                            collaborateSubscriptionPlan != null &&
                            collaborateSubscriptionPlan.ContractStartDate != null
                        )
                    ))
                {
                    ds.Remove((int)ContractStartDateEnum.WhenModuleIsActivated);
                }

                if (ViewData["isAccountActive"] != null && Convert.ToBoolean(ViewData["isAccountActive"]))
                {
                    ds.Remove((int)ContractStartDateEnum.WhenModuleIsActivated);
                }
            }
            @Html.DropDownListFor(model => model.DeliverContractStartDateNow, new SelectList(@ds, "key", "value", Model.DeliverContractStartDateNow))
            @Html.ValidationMessageFor(model => model.DeliverContractStartDateNow)
        </div>
    </div>
}
else
{
    <div class="control-group">
        <label class="control-label">@Resources.lblContractStartDate</label>
        <div class="controls">
            <div class="input-append date-picker date" id="delStartDatePicker" data-date-format="@dateFormat.ToLower()">
                @Html.TextBoxFor(model => model.DeliverContractStartDate, new { @Value = String.Format("{0:" + dateFormat + "}", Model.DeliverContractStartDate), @size = "16", @class = "input-small" })
                <span class="add-on"><i class="icon-calendar"></i></span>
            </div>
            <span id="dtFromPickerAlert" class="help-inline" style="display: none;">@Resources.reqStartDate</span>
        </div>
    </div>   
}

<!-- End of Deliver -->
    
@Html.HiddenFor(m => m.CollaborateSelectedContractStartDate)
@Html.HiddenFor(m => m.DeliverSelectedContractStartDate)

        <script type="text/javascript">
            function updateFieldForClientSideValidation() {
                var needSubscriptionPlan = $("#chkAccNeedSubsPlan").is(":checked");

                var collaborateSubscriptionPlan = $("#PlanPerModule_CollaborateBillingPlanId").val();
                var deliverSubscriptionPlan = $("#PlanPerModule_DeliverBillingPlanId").val();

                if (needSubscriptionPlan) {
                    $("#PlanPerModule_SelectedPlans").val(
                        (collaborateSubscriptionPlan != "" ? (collaborateSubscriptionPlan + "|") : "") +                        
                        (deliverSubscriptionPlan != "" ? (deliverSubscriptionPlan + "|") : "")
                    );
                } else {
                    $("#PlanPerModule_SelectedPlans").val("no required");
                }
            }

            $("#PlanPerModule_CollaborateBillingPlanId, #PlanPerModule_CollaborateAllowOverdraw").change(function() {
                EnableDisableCollaborateControls(false);
                $(".collaborate-LimitIsExceeded").find(":checkbox").removeAttr("checked");
                updateFieldForClientSideValidation();
            });
          
            $("#PlanPerModule_DeliverBillingPlanId, #PlanPerModule_DeliverAllowOverdraw").change(function() {
                EnableDisableDeliverControls(false);
                $(".deliver-LimitIsExceeded").find(":checkbox").removeAttr("checked");
                updateFieldForClientSideValidation();
            });
           
            $(document).ready(function() {
                EnableDisableCollaborateControls(true);               
                EnableDisableDeliverControls(true);
            });

            function EnableDisableCollaborateControls(isPageLoaded) {
                var selectedValue = $("#PlanPerModule_CollaborateBillingPlanId").val();
                if (selectedValue == "") {
                    $("[name='PlanPerModule.CollaborateIsMonthlyBillingFrequency']:first").click();
                    $("[name='PlanPerModule.CollaborateIsMonthlyBillingFrequency']").parents(".control-group:first").hide();

                    $("#PlanPerModule_CollaborateContractStartDateNow").val($("#PlanPerModule_CollaborateContractStartDateNow options[value='@ContractStartDateEnum.WhenModuleIsActivated']").val());
                    $("#PlanPerModule_CollaborateContractStartDateNow").parents(".control-group:first").hide();
                    $(".collaborate-LimitIsExceeded").hide();
                    $(".collaborate-overdraw").hide();
                } else {
                    if (isPageLoaded) {
                        $("[name='PlanPerModule.CollaborateIsMonthlyBillingFrequency']").parents(".control-group:first").hide();
                    } else {
                        $("[name='PlanPerModule.CollaborateIsMonthlyBillingFrequency']").parents(".control-group:first").show();
                    }

                    $("#PlanPerModule_CollaborateContractStartDateNow").parents(".control-group:first").show();

                    var fixedprice = parseFloat($("#PlanPerModule_CollaborateBillingPlanId option[value='" + selectedValue + "']").attr("fixedprice"));
                    var price = parseFloat($("#PlanPerModule_CollaborateBillingPlanId option[value='" + selectedValue + "']").attr("price"));
                    var cpp = parseFloat($("#PlanPerModule_CollaborateBillingPlanId option[value='" + selectedValue + "']").attr("cpp"));
                    var storage = parseInt($("#PlanPerModule_CollaborateBillingPlanId option[value='" + selectedValue + "']").attr("data-storage"));
                    if ((price > 0 && cpp > 0 || storage > 0) || fixedprice == 0 && (price == 0 || storage == 0)) {
                        $(".collaborate-overdraw").show();
                        if ($('#PlanPerModule_CollaborateAllowOverdraw').is(':checked')) {
                            $(".collaborate-LimitIsExceeded").show();
                            $(".badge-collaborate").text($("#PlanPerModule_CollaborateBillingPlanId option[value='" + selectedValue + "']").attr("cpp"));
                        } else {
                            $(".collaborate-LimitIsExceeded").hide();
                        }
                    } else {
                        $(".collaborate-LimitIsExceeded").hide();
                        $(".collaborate-overdraw").hide();
                    }
                }

                var isCollaborateDemoPlan = $('option:selected', $("#PlanPerModule_CollaborateBillingPlanId")).attr('data-demo-plan');
                if (isCollaborateDemoPlan == "False") {
                    $('.collabRemainingDays').hide();
                    $('#PlanPerModule_CollaborateContractStartDateNow').removeAttr("disabled");
                    $("#collaborateBillingFrequency label[class='radio inline']:eq(1)").show(); //show "Yearly" option if plan is not demo
                } else {
                    $('#PlanPerModule_CollaborateContractStartDateNow').val($("#PlanPerModule_CollaborateContractStartDateNow").find("option:eq(0)").val());
                    if (isPageLoaded) {
                        $('.collabRemainingDays').show();
                    }

                    $('#PlanPerModule_CollaborateContractStartDateNow').attr("disabled", "disabled");
                    $("#collaborateBillingFrequency label[class='radio inline']:eq(1)").hide(); //hide "Yearly" option if demo plan is selected
                }

                $('#PlanPerModule_CollaborateSelectedContractStartDate').val($("#PlanPerModule_CollaborateContractStartDateNow").find(":selected").text());
            }
          
            function EnableDisableDeliverControls(isPageLoaded) {
                var selectedValue = $("#PlanPerModule_DeliverBillingPlanId").val();
                if (selectedValue == "") {
                    $("[name='PlanPerModule.DeliverIsMonthlyBillingFrequency']:first").click();
                    $("[name='PlanPerModule.DeliverIsMonthlyBillingFrequency']").parents(".control-group:first").hide();

                    $("#PlanPerModule_DeliverContractStartDateNow").val($("#PlanPerModule_DeliverContractStartDateNow options[value='@ContractStartDateEnum.WhenModuleIsActivated']").val());
                    $("#PlanPerModule_DeliverContractStartDateNow").parents(".control-group:first").hide();
                    $(".deliver-LimitIsExceeded").hide();
                    $(".deliver-overdraw").hide();
                } else {
                    if (isPageLoaded) {
                        $("[name='PlanPerModule.DeliverIsMonthlyBillingFrequency']").parents(".control-group:first").hide();
                    } else {
                        $("[name='PlanPerModule.DeliverIsMonthlyBillingFrequency']").parents(".control-group:first").show();
                    }
                    $("#PlanPerModule_DeliverContractStartDateNow").parents(".control-group:first").show();

                    var fixedprice = parseFloat($("#PlanPerModule_DeliverBillingPlanId option[value='" + selectedValue + "']").attr("fixedprice"));
                    var price = parseFloat($("#PlanPerModule_DeliverBillingPlanId option[value='" + selectedValue + "']").attr("price"));
                    var cpp = parseFloat($("#PlanPerModule_DeliverBillingPlanId option[value='" + selectedValue + "']").attr("cpp"));
                    if (price > 0 && cpp > 0 || fixedprice == 0 && price == 0) {
                        $(".deliver-overdraw").show();
                        if ($('#PlanPerModule_DeliverAllowOverdraw').is(':checked')) {
                            $(".deliver-LimitIsExceeded").show();
                            $(".badge-deliver").text($("#PlanPerModule_DeliverBillingPlanId option[value='" + selectedValue + "']").attr("cpp"));
                        } else {
                            $(".deliver-LimitIsExceeded").hide();
                        }
                    } else {
                        $(".deliver-LimitIsExceeded").hide();
                        $(".deliver-overdraw").hide();

                    }
                }

                var isDeliverDemoPlan = $('option:selected', $("#PlanPerModule_DeliverBillingPlanId")).attr('data-demo-plan');
                if (isDeliverDemoPlan == "False") {
                    $('.deliverRemainingDays').hide();
                    $('#PlanPerModule_DeliverContractStartDateNow').removeAttr("disabled");
                    $("#deliverBillingFrequency label[class='radio inline']:eq(1)").show(); //show "Yearly" option if demo plan is selected
                } else {
                    $('#PlanPerModule_DeliverContractStartDateNow').val($("#PlanPerModule_DeliverContractStartDateNow").find("option:eq(0)").val());
                    if (isPageLoaded) {
                        $('.deliverRemainingDays').show();
                    }
                    $('#PlanPerModule_DeliverContractStartDateNow').attr("disabled", "disabled");
                    $("#deliverBillingFrequency label[class='radio inline']:eq(1)").hide(); //hide "Yearly" option if demo plan is selected
                }
                $('#PlanPerModule_DeliverSelectedContractStartDate').val($("#PlanPerModule_DeliverContractStartDateNow").find(":selected").text());
            }
            $(function () {
                $('.date-picker').datepicker({ autoclose: true });
            });
        </script>
