﻿@model GMGColorDAL.CustomModels.UserGroupsInUser
<div style="position:relative">
    <label class="checkbox inline">
        @Html.CheckBoxFor(x => x.IsUserGroupInUser, new { @class = "userGroupUser" })
        <label title="@Model.objUserGroup.Name" class="grupMembershipName">@Model.objUserGroup.Name</label>
        @Html.HiddenFor(x => x.objUserGroup.ID, new { @data_val = false, @class="group-id"})
        @Html.HiddenFor(x => x.objUserGroup.Name, new { @data_val = false })   @*Added for the Validation of the Model*@
    </label>
     @if (Convert.ToBoolean(ViewData["showPrimaryGroup"]))
    {
        <label class="radio inline" style ="float:none;vertical-align:text-bottom; position:absolute; top:0px;">
            <input type="radio" name="SelectedPrimaryGroup" value="@Model.objUserGroup.ID"
                @(Convert.ToInt32(ViewData["SelectedPrimaryGroup"]) == Model.objUserGroup.ID ? "checked=\"checked\"" : "")
                @(!Model.IsUserGroupInUser ? "disabled=\"disabled\"" : "")/>
        </label>
   
    <label class="checkbox inline"  style ="float:right;">

        <label class="checkbox inline" style="float:right;padding-top: 0px;">
          @Html.CheckBoxFor(x => x.IsUserGroupInVisibility, new { @class = "ManagerView" })
        </label>
    </label>
    }

</div>


