﻿@model GMGColorDAL.CustomModels.UserInfo
@using GMGColor.Resources;
@using GMGColorDAL
@using GMGColorDAL.Common
@{
    GMGColorBusinessLogic.DbContextBL context = HttpContext.Current.Items[GMGColorDAL.DALUtils.DatabaseContext] as GMGColorBusinessLogic.DbContextBL;
}

@using (Html.BeginForm("", @Model.Controller, FormMethod.Post, new { @id = "formUserInformation", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    <div class="user-header">
        <div class="control-group">
            <label class="control-label">
                <img class="userAvatar" src="@(Model.objUser.ID > 0 ? GMGColorDAL.User.GetImagePath(Model.objUser.ID, context) : GMGColorDAL.User.GetDefaultImagePath(ViewBag.LoggedAccount.Domain))" alt="avatar_placeholder" class="avatar-100 img-polaroid" /></label>
            <div class="controls">
                <h3>@Model.objUser.FirstName @Model.objUser.LastName</h3>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        @{
            GMGColorDAL.Account objLoggedAcc = ViewBag.LoggedAccount;
            GMGColorDAL.User objUser = GMGColorDAL.DALUtils.GetObject<GMGColorDAL.User>(Model.objUser.ID, context);
        }
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.objUser.ID)
        @Html.HiddenFor(model => model.objUser.Account)
        @Html.Hidden("ssoNamesWarning", @Resources.lblSsoNamesWarning)
        
        <fieldset id="fsUserDetails">
            <div class="pull-left spanPermissions">
            <legend>@Resources.lblUserDetails</legend>
                <div class="control-group">
                    <label class="usersPageLabel" >
                        @Resources.lblFirstName</label>
                    <div class="usersPagecontrols">
                        @Html.TextBoxFor(model => model.objUser.FirstName, new { @class = "inputUsers" })
                        @Html.ValidationMessageFor(model => model.objUser.FirstName)
                    </div>
                </div>
                <div class="control-group">
                    <label class="usersPageLabel">
                        @Resources.lblLastName</label>
                    <div class="usersPagecontrols">
                        @Html.TextBoxFor(model => model.objUser.LastName, new { @class = "inputUsers" })
                        @Html.ValidationMessageFor(model => model.objUser.LastName)
                    </div>
                </div>
                <div class="control-group">
                    <label class="usersPageLabel">
                        @Resources.lblEmail</label>
                    <div class="usersPagecontrols">
                        @Html.TextBoxFor(model => model.objUser.EmailAddress, new { @class = "inputUsers" })
                        @Html.ValidationMessageFor(model => model.objUser.EmailAddress)
                    </div>
                </div>              
                @if (objUser != null)
                {
                    <div class="control-group">
                        <label class="usersPageLabel">
                        @Resources.lblUserName</label>
                        <div class="usersPagecontrols">
                        @Html.TextBoxFor(model => model.objUser.Username, new { @class = "inputUsers" })
                        @Html.ValidationMessageFor(model => model.objUser.Username)
                        </div>
                    </div>
                    if (GMGColorDAL.UserStatu.GetUserStatus(objUser.UserStatu.Key) != GMGColorDAL.UserStatu.Status.Invited && !objUser.IsSsoUser)
                    {
                        <div class="control-group">
                            <label class="usersPageLabel">
                                @Resources.lblPassword</label>
                            <div class="usersPagecontrols">
                                <button type="submit" class="btn" name="action" value="ResetPassword" data-loading-text="@Resources.btnSending">
                                    @Resources.lblResetPassword</button>
                            </div>
                        </div>
                    }
                }
                @{
                    var hideSSO = "hidden";
                }
                @if (ViewBag.AccountHasSsoEnabled || (objUser != null && objUser.IsSsoUser))
                {
                    hideSSO = string.Empty;
                }
                    <div class="control-group @hideSSO">
                        <label class="usersPageLabel">@Resources.lbllsSsoUser</label>
                        <div class="usersPagecontrols">
                            @Html.CheckBoxFor(model => model.objUser.IsSsoUser, new { @class = "inputUsers"})
                        </div>
                    </div>
                 <div class="control-group">
                    <label class="usersPageLabel">@Resources.lblEnablePassword</label>
                    <div class="usersPagecontrols">
                        @Html.CheckBoxFor(model => model.objUser.HasPasswordEnabled, new { @class = "inputUsers" })
                    </div>
                </div>
                <div class="control-group">
                    <label class="usersPageLabel">
                        @Resources.lblSetPassword</label>
                    <div class="usersPagecontrols">
                        @Html.PasswordFor(model => model.objUser.Password, new { @class = "inputUsers", @disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.objUser.Password)
                    </div>
                </div>
                <div class="control-group">
                    <label class="usersPageLabel">
                        @Resources.lblConfirmPassword</label>
                    <div class="usersPagecontrols">
                        @Html.PasswordFor(model => model.objUser.ConfirmPassword, new { @class = "inputUsers", @disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.objUser.ConfirmPassword)
                    </div>
                </div>
                
                @if (objUser != null) 
                {
                    <!-- Default Language -->
                    <div class="control-group">
                        <label class="usersPageLabel">@Resources.lblLanguage</label>
                        <div class="usersPagecontrols">
                            @Html.DropDownListFor(model => model.Locale, new SelectList(GMGColorDAL.Locale.GetLocalizeLocaleNames(context), "Key", "Value", objUser.Locale))
                        </div>
                    </div>
                }
            </div>
            @if (Model.UserGroupsInUserList != null && Model.UserGroupsInUserList.Any())
            {
                <div class="control-group pull-left spanPermissions">
                    <legend>@Resources.lblGroupMembership</legend>
                    <div>
                        <div class="form-panel" style="width:330px;">
                            <div style="display:flex; float:right;">
                               <label style="padding-right:25px;">@Resources.lblPrimaryGroup</label>
                               <label style="float:right;">@Resources.lblVisibility</label>
                            </div>
                            <div class="clearboth"></div>
                            @Html.EditorFor(model => model.UserGroupsInUserList, new { model = Model.UserGroupsInUserList, Model.SelectedPrimaryGroup, showPrimaryGroup = true })
                        </div>
                    </div>
                    <i>@Resources.lblPrimaryGroupMembership</i>
                </div>
            }
            <div class="control-group pull-left spanPermissions">
            <legend>@Resources.lblApplicationPermissions</legend>
                <div class="">
                    @Html.EditorFor(m => m.ModulePermisions)
                </div>
            </div>
            @Html.ValidationMessage("ValidPermissionsRequired")
            <div class="pull-left spanPermissions">
                @Html.Partial("_UserColor")

                <div class="control-group">
                    <legend>@Resources.lblPrivateAnnotations</legend>
                    <div>
                        <label class="usersPagePrivateAnnotations">@Resources.lblCannotSeePrivateAnnotations</label>
                        @Html.CheckBoxFor(model => model.objUser.PrivateAnnotations)
                    </div>
                </div>
            </div>
            <div class="clearboth"></div>
            @if (objUser != null)
            {
                <div class="well">
                    @Resources.lblThisUserWasCreatedBy <strong>@objUser.CreatorUser.GivenName @objUser.CreatorUser.FamilyName</strong>
                    @GMGColorFormatData.GetTimeDifference(objUser.CreatedDate)
                    @Resources.lblAt @GMGColorFormatData.GetFormattedTime(objUser.CreatedDate, objLoggedAcc).
                    @Resources.lblItWasLastUpdated
                    @Resources.lblBy <strong>@objUser.ModifierUser.GivenName @objUser.ModifierUser.FamilyName</strong>
                    @GMGColorFormatData.GetTimeDifference(objUser.ModifiedDate)
                    @Resources.lblAt @GMGColorFormatData.GetFormattedTime(objUser.ModifiedDate, objLoggedAcc).
                </div>
            }
            else
            {
                <div id="welcomEmailWarning" class="alert">
                @Resources.pharagraphSettingsInviteUser1</div>
            }
        </fieldset>
        <div class="form-actions">
            <button class="btn btn-primary" type="submit" name="action" value="AddEditUserInformation" data-loading-text="@Resources.btnSaving">
                @(objUser != null ? Resources.btnSaveChanges : Resources.btnSendInvite)</button>
        </div>
    </div>
}


