﻿@using GMG.CoZone.Common.DomainModels
@model ActionConfirmationModel

<div id="actionConfirmation" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">@Model.ModalTitle</h4>
            </div>
            <div class="modal-body">
                <p>@Model.ModalText</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@Model.StayText</button>
                <button id="confirmAction" type="button" class="btn btn-primary">@Model.LeaveText</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->