﻿ @using GMGColor.HtmlHelpers
 @using GMGColor.Resources
 @model GMGColorDAL.CustomModels.ApprovalWorkflows.PhaseViewModel
           


<fieldset>
    <legend>@Resources.lblPhaseDetails</legend>
    <div class="pull-left" >
        <div class="control-group">
            <label class="control-label required">@Resources.lblName</label>
            <div class="controls">
                @Html.TextBoxFor(m => m.PhaseName)
                @Html.ValidationMessageFor(m => m.PhaseName)
            </div>
        </div>
        <div class="controls checkbox">
            @Html.CheckBoxFor(m => m.ShowAnnotationsToUsersOfOtherPhases)
            @Resources.lblShowAnnotationsToUsersOfOtherPhases
        </div>
        <div class="controls checkbox">
            @Html.CheckBoxFor(m => m.ShowAnnotationsOfOtherPhasesToExternalUsers)
            @Resources.lblShowAnnotationsOfOtherPhasesToExternalUsers
        </div>
        <div class="control-group" style="margin-top: 30px;">
            <label id="phaseDeadline" class="control-label">@Resources.lblDeadline</label>
            <div class="controls">
                <div class="btn-group" data-toggle="buttons">
                    <label>
                        @Html.RadioButton("SelectedDeadlineType", 0, (Model.SelectedDeadlineType == (int)GMG.CoZone.Common.DeadlineType.NoDeadline)) &nbsp;@Resources.lblNoDeadline
                    </label>
                    <label>
                        @Html.RadioButton("SelectedDeadlineType", 1, (Model.SelectedDeadlineType == (int)GMG.CoZone.Common.DeadlineType.FixDate)) &nbsp;@Resources.lblFixDate
                    </label>
                    <div id="deadlineDate" class="controls" style="margin-left: 19px;">
                        @{
                            string dateFormat = Model.LoggedAccount.DateFormat1.Pattern;
                        }
                        <div class="input-append date-picker date" style="margin-right: 3px;" data-val="false" data-date="@String.Format("{0:" + dateFormat + "}", DateTime.Now)" data-date-format="@dateFormat.ToLower()">
                            @Html.TextBoxFor(mdl => mdl.DeadlineDate, new { @class = "input-small pointerCursor", @Value = Model.DeadlineDate, @size = "16", @readonly = "" })
                            <span class="add-on"><i class="icon-calendar"></i></span>
                        </div>
                        <select name="DeadlineTime" style="margin-right: 3px;" data-val="false"  id="DeadlineTime" class="input-small">
                        <option value="@(Model.DeadlineTime)" selected="selected">@Model.DeadlineTime</option>
                            @if (Model.LoggedAccount.TimeFormat == 1)
                            {
                                for (int i = 1; i < 13; i++)
                                { 
                                    <option value="@i:00">@i:00</option>
                                    <option value="@i:30">@i:30</option>
                                }
                            }
                            else
                            {
                                for (int i = 0; i < 24; i++)
                                { 
                                    <option value="@i:00">@i:00</option>
                                    <option value="@i:30">@i:30</option>
                                }
                            }
                        </select>
                        @if (Model.LoggedAccount.TimeFormat == 1)
                        {
                            <select name="DeadlineTimeMeridiem" style="margin-right: 3px;" data-val="false"  id="DeadlineTimeMeridiem" class="input-mini">
                                @if(Model.DeadlineTimeMeridiem == "AM")
                                {
                                    <option value="AM" selected="selected">AM</option>
                                    <option value="PM">PM</option>                                               
                                }
                                else
                                {
                                    <option value="AM">AM</option>
                                    <option value="PM" selected="selected">PM</option>                                               
                                }   
                            </select>
                        }
                    </div>
                    <label style="margin-top:14px">
                        @Html.RadioButton("SelectedDeadlineType", 2, (Model.SelectedDeadlineType == (int)GMG.CoZone.Common.DeadlineType.Automatic))&nbsp; @Resources.lblAutomaticPhaseDeadline
                    </label> 
                    <div style="margin-left: 19px;">
                        <div class="pull-left">
                            <div class="spinner">
                                @Html.TextBoxFor(model => model.SelectedUnitValue, new { @Id="selectedUnit", @class = "czn-spinner", @style="text-align:center;", @data_val="true" })
                                <div class="input-group-btn-vertical">
                                    <button class="btn btn-default">
                                        <i class="icon-caret-up"></i>
                                    </button>
                                    <button class="btn btn-default">
                                        <i class="icon-caret-down"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="pull-left" style="margin-left:-2px;">
                            <div >
                                @Html.DropDownListFor(m => m.SelectedUnit, new SelectList(Model.PhaseDeadlineUnitList, "Key", "Value"), new { @class = "input-small", @data_val = "false" })
                            </div>
                        </div>
                        <div class="pull-left" style="margin-left:3px;">
                            <div>
                                @Html.DropDownListFor(m => m.SelectedTrigger, new SelectList(Model.PhaseDeadlineTriggerList, "Key", "Value"), new{ @data_val = "false" })
                            </div>
                        </div>
                    </div>
                </div>
                <label id="numberMustBeBetweenRange" style="display: none;">@Resources.numberMustBeBetweenRange</label>
                <label id="valueMustBeNumber" style="display: none;">@Resources.errTheValueMustBeANumber</label>
            </div>
        </div>
    </div>
</fieldset>
<fieldset>
    <legend>@Resources.lblAccess <small>@Resources.lblChooseWhoWillHaveAccessToThePhase</small></legend>
    <div class="phasePermissions-align">
        @Html.ValidationMessage("AccessError", new { @class = "errAccess" })<br/>
        @if (Model.ID > 0 || Model.IsCopyPhase || Model.ApprovalPhaseCollaboratorInfo.CollaboratorsWithRole != null || Model.ApprovalPhaseCollaboratorInfo.ExternalCollaboratorsWithRole != null)
        {
            var serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
                        
            <a class="btn btn-primary" id="aApprovalTrigger" style="font-weight: bold;" href="javascript:void(0);" title="@Resources.lblModifyAccessForThisPhase" widget-toggle="collaboratoraccess" widget-type="approval" widget-id="0" widget-creator="" widget-decision="0" widget-owner="" 
                widget-external="@serializer.Serialize(Model.ApprovalPhaseCollaboratorInfo.ExternalCollaboratorsWithRole)" widget-users="@serializer.Serialize(Model.ApprovalPhaseCollaboratorInfo.CollaboratorsWithRole)" widget-disabled=""
                widget-groups="@serializer.Serialize(Model.ApprovalPhaseCollaboratorInfo.Groups)">@Resources.lblAddExistingUserstoThisPhase</a>
        }
        else
        {
            <a class="ignoredirty btn btn-primary" id="aApprovalTrigger" style="font-weight: bold;" href="javascript:void(0);" title="@Resources.lblModifyAccessForThisPhase" widget-toggle="collaboratoraccess" widget-type="approval" widget-id="" widget-creator="" widget-owner="">
                @Resources.lblAddExistingUserstoThisPhase</a>
        }
        <!-- / Sahre -->
    </div>
    @{Html.RenderAction("Permissions", "Widget", new { @refresh = false, @showPanel = true, @isFromNewApprovalScreen = false, @isPhaseScreen = true });}
    @{Html.RenderAction("Share", "Widget", new { @showPanel = true, @isPhaseScreen = true });}
</fieldset>
<fieldset>
    <legend>@Resources.lblDecisions</legend>
    <div class="pull-left" >
        <div id="decisionType" class="control-group">
            <label class="control-label required">@Resources.lblDecisionType</label>
            <div class="controls">
                @Html.DropDownListFor(m => m.SelectedDecisionType, new SelectList(Model.DecisionTypes, "Key", "Value"), Resources.lblSelectOne)
                @Html.ValidationMessageFor(m => m.SelectedDecisionType)
            </div>
        </div>
        <div id="decisionMaker" class="control-group">
            <label class="control-label">@Resources.lblDecisionMaker</label>
            <div class="controls">
                <select data-val="true" id="primaryDecisionMaker" name="PhaseViewModel.SelectedPrimaryDecisionMaker">
                    <option value="0">@Resources.lblSelectOne</option>
                    @for (int index = 0; index < Model.DecisionMakers.Count; index++)
                    {
                        if (Model.DecisionMakers[index].IsSelected)
                        {
                            <option value="@Model.DecisionMakers[index].ID" is-external="@Model.DecisionMakers[index].IsExternal.ToString().ToLower()" index="@index" selected="selected">@Model.DecisionMakers[index].Name</option>
                        }
                        else
                        {
                            <option value="@Model.DecisionMakers[index].ID" is-external="@Model.DecisionMakers[index].IsExternal.ToString().ToLower()" index="@index">@Model.DecisionMakers[index].Name</option>
                        }
                    }
                </select>
                @Html.ValidationMessage("PDMRequired", new { @id = "errPdmRequired" })
            </div>
            @for (int index = 0; index < Model.DecisionMakers.Count; index++)
            {
                @Html.HiddenFor(mdl => mdl.DecisionMakers[index].ID, new { data_val = "false" })
                @Html.HiddenFor(mdl => mdl.DecisionMakers[index].IsExternal, new { data_val = "false" })
                @Html.HiddenFor(mdl => mdl.DecisionMakers[index].IsSelected, new { data_val = "false" })
                @Html.HiddenFor(mdl => mdl.DecisionMakers[index].Name, new { data_val = "false" })
            }
        </div>
        <div>
            <label class="control-label">@Resources.lblApprovalTrigger</label>
            <div class="controls">
                @for (int i = 0; i < Model.SelectedApprovalPhaseTrigger.Count; i++)
                {
                    <label class="checkbox">
                        @if (Model.SelectedApprovalPhaseTrigger[i].Id == 4)
                        {
                            @Html.CheckBoxFor(m => m.SelectedApprovalPhaseTrigger[i].IsChecked, new { id = "approvalStatusCheckBox" + Model.SelectedApprovalPhaseTrigger[i].Id, @disabled = "disabled"})
                        }
                        else
                        {
                            @Html.CheckBoxFor(m => m.SelectedApprovalPhaseTrigger[i].IsChecked, new { id = "approvalStatusCheckBox" + Model.SelectedApprovalPhaseTrigger[i].Id })
                        }
                        @Html.HiddenFor(m => m.SelectedApprovalPhaseTrigger[i].Id)
                        @Html.DisplayFor(m => m.SelectedApprovalPhaseTrigger[i].Name)
                    </label>
                }
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">@Resources.lblApprovalShouldBeViewedByAll</label>
            <div class="controls">
                @Html.CheckBoxFor(m => m.ApprovalShouldBeViewedByAll)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">@Resources.lblLockProofWhenAllDecisionsMade</label>
            <div class="controls">
                @Html.CheckBoxFor(m => m.DecisionsShoulBeMadeByAll)
            </div>
        </div>
    </div>
</fieldset>