﻿@using GMGColor.HtmlHelpers
@using GMGColor.Resources
@model GMGColorDAL.CustomModels.Checklists.ChecklistItemViewModel

<fieldset>
    <legend>@Resources.lblChecklistItemDetails</legend>
    <div class="pull-left">
        <div class="control-group">
            <label class="control-label required">@Resources.lblName</label>
            <div class="controls">
                @Html.TextBoxFor(m => m.ItemName)
                @Html.ValidationMessageFor(m => m.ItemName)
            </div>
        </div>
    </div>
</fieldset>
