﻿@using GMGColor.Resources;
@using GMGColor.HtmlHelpers;
@model GMGColorDAL.CustomModels.ThemeColorSchema

@{ Bundles.Reference("accountThemeStyles"); }
    
<li id="theme_@(Model.ThemeName)" class="@(Model.Active ? "active" : "")">
    
    <!-- Color Bar Indicators based on Account Theme Colors -->
    <dl class="clearfix">
        @foreach (var color in Model.Colors)
        {
            <dd style="background-color: @color.TopColor"></dd>
        }
    </dl>
    
    @Html.HiddenFor(m => m.ID)
    @Html.HiddenFor(m => m.Active, new { @class = "themeStatus"})
    @Html.HiddenFor(m => m.Key)

    <label class= "styleswitch">@Model.ThemeName</label>
    @if (Model.ThemeName != Enum.GetName(typeof(GMGColorDAL.Theme.ColorScheme), 0))
    {
        <span class="pull-right">
            <button class="btn edit-delete-advs" type="button"><i class="icon-pencil"></i></button>
        </span>   
    }

    <!-- Theme Editable Colors -->
    <ul class="themeColorList hide">  
        <li>
            <div class="control-group styleswitch"> 
                <label class="styleswitch">@Resources.lblName</label>
                @Html.TextBoxFor(m => m.ThemeName)
                @Html.ValidationMessageFor(m => m.ThemeName)
            </div>
        </li>
        @for (int i = 0; i < Model.Colors.Count; i++)
        {
            Html.RenderPartial("_ColorList", 
                                Model.Colors[i], 
                                new ViewDataDictionary { TemplateInfo = new TemplateInfo { HtmlFieldPrefix =  @ViewData.TemplateInfo.HtmlFieldPrefix + ".Colors[" + i + "]"} });
        }
    </ul>
</li> 
@{ Bundles.Reference("accountThemeScripts"); }