﻿@model GMGColorDAL.CustomModels.ThemeColors
@using GMGColor.Resources;
@using GMGColor.HtmlHelpers;


@Html.HiddenFor(m => m.ID)
@Html.HiddenFor(m => m.Name)
<li class="themeColorListItem">
    <div class="input-append color">
        <div class="colorSchemeGroup">
            <label class = "colorSchemeLabel centerlabel">@Model.Name</label>
        </div>
        <div class="colorSchemeGroup">
            @Html.TextBoxFor(m => m.TopColor, new { @id = "themeHeader", @class = "span7 colorPicker", data_color_format = "rgb" })
		    <span class="add-on cursorPointer"><i class="cursorPointer" style="background-color: @Model.TopColor"></i></span>
        </div>
	</div>
    @if (!string.IsNullOrEmpty(Model.BottomColor))
    {
        <div class="input-append color">
            <div class="colorSchemeGroup">
                <label class = "colorSchemeLabel centerlabel">@Model.Name</label>
            </div>
            <div class="colorSchemeGroup">
		        @Html.TextBoxFor(m => m.BottomColor, new { @id = "themeHeader", @class = "span7 colorPicker",  data_color_format = "rgb" })
		        <span class="add-on cursorPointer"><i class="cursorPointer" style="background-color: @Model.BottomColor"></i></span>
            </div>
	    </div>   
    }
    else
    {
        @Html.HiddenFor(m => m.BottomColor)
    }
</li>