﻿@using GMGColor.Common;
@using GMGColor.Controllers
@using GMGColor.Resources;
@using GMGColorBusinessLogic
@using GMGColorDAL
@using GMGColorDAL.CustomModels
@{
    string accountRegion = string.Empty;

    GMGColorDAL.Account objAccount = null;
    if (Session["gmg_aid"] != null)
    {
        objAccount = ViewBag.LoggedAccount;
        accountRegion = objAccount.Region;
    }

    GMGColorDAL.User objUser = null;
    if ((objAccount != null && objAccount.ID > 0) && ViewBag.LoggedUser != null)
    {
        objUser = ViewBag.LoggedUser;
    }

    AccountSupport accSupModel = null;
    if (objUser != null && objUser.ID > 0 && objAccount != null)
    {
        accSupModel = new AccountSupport(objUser, objAccount.Region, GMGColorDAL.User.GetUserTempFolderPath(objUser.ID, objAccount.ID, objAccount.Region));
    }

    string colorTheme = "default";

    if (objAccount != null)
    {
        var colorScheme = (Theme.ColorScheme)ViewBag.LoggedAccountTheme;
        switch (colorScheme)
        {
            case GMGColorDAL.Theme.ColorScheme.Splash:
                colorTheme = "pink";
                break;
            case GMGColorDAL.Theme.ColorScheme.Juicy:
                colorTheme = "green";
                break;
            case GMGColorDAL.Theme.ColorScheme.Fresh:
                colorTheme = "blue";
                break;
            case GMGColorDAL.Theme.ColorScheme.Moody:
                colorTheme = "white";
                break;
            case GMGColorDAL.Theme.ColorScheme.Default:
            default:
                colorTheme = "default";
                break;
        }
    }

    string version = string.Empty;
    if (Session[AuthController.VersionSessionKey] == null)
    {
        version = typeof(GMGColor.Controllers.HomeController).Assembly.GetName().Version.ToString();
        Session[AuthController.VersionSessionKey] = version;
    }
    else
    {
        version = Convert.ToString(Session[AuthController.VersionSessionKey]);
    }

    bool isTabletBrowser = ViewBag.UserDeviceInfo.DeviceType == GMGColorEnums.BrowserType.Tablet || ViewBag.UserDeviceInfo.DeviceType == GMGColorEnums.BrowserType.SmartphonePhone;
}
<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.SiteName</title>
    <meta name="description" content="" />
    <meta name="author" content="GMG Color" />

    @*Temporary fix for all pages that does not have the tablet layout*@
    @if (isTabletBrowser)
    {
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    }
    else
    {
        <meta name="viewport" content="width=device-width" />
    }
    <meta name="keywords" content="@GMGColorConfiguration.AppConfiguration.DataFolderName(accountRegion), @GMGColorConfiguration.AppConfiguration.PathToDataFolder(accountRegion), @GMGColorConfiguration.AppConfiguration.ApprovalJobQueueName">

    <link href="@Url.Content("~/Content/css/bootstrap.min.css")" rel="stylesheet" media="screen" />
    <link href="@Url.Content("~/Content/css/bootstrap-responsive.min.css")" rel="stylesheet" />
    <link rel="shortcut icon" href="@UserBL.GetUserFavIconPath(ViewBag.LoggedAccount, ViewBag.LoggedUserFavIcon)" />

    <link rel="stylesheet/less" type="text/less" href="/Content/less/ThemeVariables.less" />

    @{
        Bundles.Reference("styles");
        Bundles.Reference("responsiveStyles");
        Bundles.Reference("printStyles");

        switch (colorTheme)
        {
            case "green":
                {
                    <link rel="stylesheet/less" type="text/less" href="/Content/less/themes/theme-green.less" />break;
                }
            case "pink":
                {
                    <link rel="stylesheet/less" type="text/less" href="/Content/less/themes/theme-pink.less" />break;
                }
            case "blue":
                {
                    <link rel="stylesheet/less" type="text/less" href="/Content/less/themes/theme-blue.less" />break;
                }
            case "white":
                {
                    <link rel="stylesheet/less" type="text/less" href="/Content/less/themes/theme-white.less" />break;
                }
            default:
                {
                    <link rel="stylesheet/less" type="text/less" href="/Content/less/themes/theme-default.less" />break;
                }
        }
    }

    @Bundles.RenderStylesheets("head")
    @RenderSection("HeaderCSS", required: false)
    <script src="/Content/js/less/less.min.js" type="text/javascript"></script>

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if (gte IE 6)&(lte IE 8)]>
      <script src="@Url.Content("~/Content/js/selectivizr/selectivizr-min.js")"></script>
    <![endif]-->
    <!--[if gte IE 8]>
        <style>
        .current-menu-item a,
        .primary-menu > li > a:hover {
            padding-bottom: 1px !important;
        }
        </style>
    <![endif]-->
    <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
    <script src="@Url.Content("//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")" type="text/javascript"></script>
    <script type="text/javascript">
        if (typeof jQuery === 'undefined') {
            document.write(unescape('%3Cscript%20src%3D%22/Scripts/jquery-1.8.3.min.js%22%3E%3C/script%3E'));
        }
    </script>

    <script src="@Url.Content("~/Scripts/modernizr-2.5.3-respond-1.1.0.min.js")"></script>
    @*Temporary fix for all pages that does not have the tablet layout*@
    @if (isTabletBrowser)
    {
        @Bundles.RenderStylesheets()
    }   
</head>
<body>
    @*Temporary fix for all pages that does not have the tablet layout*@
    @if (isTabletBrowser)
    {
        <div class="row-fluid">
            <div id="header">
                @{Html.RenderAction("Navigation", "Navigation");}
            </div>
        </div>
                    }
    <div id="wrapper">
        @*Temporary fix for all pages that does not have the tablet layout*@
        @if (!isTabletBrowser)
        {
            <div id="header">
                @{ Html.RenderAction("Navigation", "Navigation"); }
            </div>  }
        <div id="content">
            <div class="container-fluid">
                @RenderBody()
                <!-- Don't remove the "hdnLoadingText" hidden field -->
                <input id="hdnLoadingText" type="hidden" value="@Resources.btnSaving" />
                @{string sessionTimeOut = (Session["STO"] != null) ? Session["STO"].ToString() : "0";}
                <script type="text/javascript">
                    var sessionTimeOut = '@sessionTimeOut';
                    var secondaryTimeOut = 0;
                    if (parseFloat(sessionTimeOut) >= 0) {
                        var login = '/Auth/Login?do=' + location.href + '&isto=true';
                        var timeOut = parseFloat(sessionTimeOut) * 1000;
                        window.setTimeout(function () {
                            $('#modelDialogSessionTimeOut').modal({ backdrop: 'static', keyboard: false });
                            $('#hdnLoginDoUrl').val(location.href);
                            
                            $.ajax({
                                type: "GET",
                                url: '@Url.Action("ClearAPISession", "Auth")',
                                contentType: "application/json; charset=utf-8",
                                dataType: "json",
                                cache: false,
                                success: function (res) {
                                    document.cookie = "app_usid=; max-age=-1; path=/;";
                                },
                                error: function (jqXHR, textStatus, errorThrown) {
                                    document.cookie = "app_usid=; max-age=-1; path=/;";
                                    if (jqXHR.readyState == 0 || jqXHR.status == 0) {
                                        return;
                                    } else {
                                        return;
                                    }
                                }
                            });

                            secondaryTimeOut = 30 * 60 * 1000;
                            if (secondaryTimeOut > 0) {
                                window.setTimeout(function () {
                                    location.href = login;
                                }, secondaryTimeOut);
                            }
                        }, timeOut);
                    }
                </script>
            </div>
            <!-- /container -->
        </div>
        <!-- /content -->
        <div id="footer-pusher">
        </div>
        <!-- /footer-pusher -->
    </div>
    <!-- /wrapper -->
    <div id="footer">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span4">
                    @if (objAccount.AccountSettings.Where(x => x.Name == "ContactSupportEmail").Select(x => x.Value).First() != string.Empty)
                    {
                    <ul style="display: inline-block; float: left;">
                        <li>
                            <a id="contact-support" rel="tooltip" title="@Resources.titleContactSupport" data-toggle="modal" data-backdrop="static" data-keyboard="false" href="#modalContactSupport">
                                <i class="icon-comments-alt"></i>@Resources.lblContactSupport
                            </a>
                        </li>
                    </ul>
                    }
                    @using (Html.BeginForm("DownloadFile", "Base", FormMethod.Post, new { @class = "dirtyignore" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.Hidden("requestUrl", 0, new { id = "hdnRequestUrl", @data_val = false })
                        @Html.Hidden("downloadLink", 0, new { id = "hdnDownloadLink", @data_val = false })
                        <button id="downloadAction" class="hide" name="action" type="submit" value="GetDownloadProgress"></button>}
                    @using (Html.BeginForm("DownloadFilesAsZip", "Base", FormMethod.Post, new { @class = "dirtyignore" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.Hidden("moduleName", 0, new { id = "hdnModuleName", @data_val = false })
                        @Html.Hidden("requestUrl", 0, new { id = "hdnZipRequestUrl", @data_val = false })
                        @Html.Hidden("relativePaths", 0, new { id = "hdnRelativePaths", @data_val = false })
                        <button id="downloadAsZipAction" class="hide" name="action" type="submit"></button>}
                    <script type="text/javascript">
                        function getDownloadFile(url, moduleName) {
                          
                            
                            $('#hdnRequestUrl').val(window.location);
                            $('#hdnDownloadLink').val(url);
                            
                            $('#downloadAction').click();
                            if (moduleName == 'FileTransfer') {
                                
                                $('#btnMultiDownload').html('<i class="icon-download-alt"></i>&nbsp; ' + 'Download');
                            }
                           
                        }
                        function DownloadAsZip(relativePaths, moduleName) {
                            
                            var result = relativePaths.join(",");
                            $('#hdnModuleName').val(moduleName);
                            console.log(moduleName);
                            $('#hdnZipRequestUrl').val(window.location);
                            $('#hdnRelativePaths').val(result);
                            $('#downloadAsZipAction').click();
                            if (moduleName == 'FileTransfer') {
                                 $('#btnMultiDownload').html('<i class="icon-download-alt"></i>&nbsp; ' + 'Download');
                            }
                        }
                        function addDownloadNode(content) {
                            
                            
                            if (content.ContentType == "Zip") {
                                DownloadAsZip(content.RelativePaths, content.ModuleName);
                            } else {
                                var continueDownload = true;
                                if (content.RelativePaths.length > 1) {
                                    continueDownload = confirm('With large files some may NOT be downloaded. Press ok to continue with download?');                                    
                                } 
                                
                                if (continueDownload) {
                                    var modulename = content.ModuleName;
                                    $.each(content.RelativePaths, function (key, value) {
                                            window.setTimeout('getDownloadFile(\'' + value + '\',\'' + modulename + '\')', ((key + 1) * 5000));
                                       
                                    });
                                }
                            }
                        }
                    </script>
                </div>
                <!-- /span8 -->
                <div class="span8">
                    <ul class="copyright pull-right">
                            <li>
                                @Resources.lblCopyright &copy; - @DateTime.UtcNow.Year @Resources.lbl_By <a href="https://www.brandsystems.com"  target="_blank">@Resources.lblBrandsystems</a>, @Resources.lblPartOfTheWellcomWorldwideGroup - 
                                <a href="https://www.brandsystems.com/application-security"  target="_blank">@Resources.lblSecurityStatement</a> - <a href="https://www.brandsystems.com/privacy-policy"  target="_blank">@Resources.lblPrivacyPolicy</a>
                                                                                    </li>
                        <li class="bold">@string.Format(Resources.lblFooterVersionText, version)</li>
                    </ul>
                </div>
                <!-- /span8 -->
            </div>
            <!-- /row-fluid -->
        </div>
        <!-- /container-fluid -->
    </div>
    <!-- /footer -->
    <!-- Session time out pop up -->
    @using (Html.BeginForm("Login", "Auth", FormMethod.Post, new { @class = "dirtyignore" }))
    {
        @Html.AntiForgeryToken()
        <div class="modal hide" id="modelDialogSessionTimeOut">
            <div class="modal-header">
                <h3>@Resources.lblYourSessionTimedOut</h3>
            </div>
            <div class="modal-body">
                <div class="row-fluid">
                    <div class="span6">
                        <div class="control-group">
                            <label class="control-label">@Resources.lblUserName</label>
                            <div class="controls">
                                <input type="text" value="@objUser.Username" disabled="disabled" />
                                <input type="hidden" name="objUser.Username" value="@objUser.Username" />
                            </div>
                        </div>
                    </div>
                    <div class="span6">
                        <div class="control-group">
                            <label class="control-label">@Resources.lblPassword</label>
                            <div class="controls">
                                <input type="password" name="objUser.Password" id="objUser_Password" value="" class="cancel" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="hidden" id="hdnLoginDoUrl" name="LoginDoUrl" value="" />
                @*<button class="btn" type="button" data-dismiss="modal">@Resources.btnCancel</button>*@
                <button type="submit" class="btn btn-primary" data-loading-text="@Resources.btnSigningIn" id="fat-btn">@Resources.lblSignIn</button>
            </div>
        </div>
    }
    <!-- / -->
    <!-- Form changes will be lost modal -->
    <div id="dirtyFormsDialog" class="dirty-dialog modal hide" tabindex="-1" role="dialog" aria-labelledby="dirty-title">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title" id="dirty-title">@Resources.lblFormChangesTitle </h3>
                </div>
                <div class="modal-body">@Resources.lblFormChangesMessage</div>
                <div class="modal-footer">
                    <button type="button" class="dirty-continue btn btn-default btn-primary" data-dismiss="modal">@Resources.lblLeavePage</button>
                    <button type="button" class="dirty-cancel btn" data-dismiss="modal">@Resources.lblStayHere</button>
                </div>
            </div>
        </div>
    </div>
    <!-- / -->
    <!-- Modal Contact Support -->
    @if (accSupModel != null)
    {
        @Html.Partial("AccountSupport", accSupModel)
    }

    <!-- scripts concatenated and minified via build script -->
    @{
        Bundles.Reference("validate");
        Bundles.Reference("bootstrap");
        Bundles.Reference("pluginscripts");
        Bundles.Reference("cookie");
        Bundles.Reference("customscripts");
        Bundles.Reference("dirtyForms");
        Bundles.Reference("themes");
    }
    @Bundles.RenderScripts()
    @Bundles.RenderStylesheets()
    @RenderSection("PageScript", false)
    <!-- end scripts -->
</body>
</html>