﻿@using GMGColor.Common;
@using GMGColor.Controllers
@using GMGColor.Resources;
@using GMGColorDAL
@using GMGColorDAL.CustomModels
@{
    string accountRegion = string.Empty;

    GMGColorDAL.Account objAccount = null;
    if (Session["gmg_aid"] != null)
    {
        objAccount = ViewBag.LoggedAccount;
        accountRegion = objAccount.Region;
    }

    GMGColorDAL.User objUser = null;
    if ((objAccount != null && objAccount.ID > 0) && ViewBag.LoggedUser != null)
    {
        objUser = ViewBag.LoggedUser;
    }

    AccountSupport accSupModel = null;
    if (objUser != null && objUser.ID > 0 && objAccount != null)
    {
        accSupModel = new AccountSupport(objUser, objAccount.Region, GMGColorDAL.User.GetUserTempFolderPath(objUser.ID, objAccount.ID, objAccount.Region));
    }

    string colorTheme = "default";
    if (objAccount != null)
    {
        var colorScheme = (Theme.ColorScheme) ViewBag.LoggedAccountTheme;
        switch (colorScheme)
        {
            case GMGColorDAL.Theme.ColorScheme.Splash: colorTheme = "pink";
                break;
            case GMGColorDAL.Theme.ColorScheme.Juicy: colorTheme = "green";
                break;
            case GMGColorDAL.Theme.ColorScheme.Fresh: colorTheme = "blue";
                break;
            case GMGColorDAL.Theme.ColorScheme.Moody: colorTheme = "white";
                break;
            case GMGColorDAL.Theme.ColorScheme.Default:
            default: colorTheme = "default";
                break;
        }
    }
}
<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.SiteName</title>
    <meta name="description" content="" />
    <meta name="author" content="GMG Color" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords" content="@GMGColorConfiguration.AppConfiguration.DataFolderName(accountRegion), @GMGColorConfiguration.AppConfiguration.PathToDataFolder(accountRegion), @GMGColorConfiguration.AppConfiguration.ApprovalJobQueueName">
    
    <link href="@Url.Content("~/Content/css/bootstrap.min.css")" rel="stylesheet" media="screen" />
    <link href="@Url.Content("~/Content/css/bootstrap-responsive.min.css")" rel="stylesheet" />

    <link href="@Url.Content("~/Content/css/styles.css")" rel="stylesheet" media="screen" />
    <link href="@Url.Content("~/Content/css/styles-responsive.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/styles-print.css")" rel="stylesheet" media="print" />

    @RenderSection("HeaderCSS", required: false)

    <link href="@Url.Content("~/Content/css/theme-green.css")"  rel="@((colorTheme == "green") ? "stylesheet" : "alternate stylesheet")" title="green" media="screen"/>
    <link href="@Url.Content("~/Content/css/theme-pink.css")" rel="@((colorTheme == "pink") ? "stylesheet" : "alternate stylesheet")" title="pink" media="screen"/>
    <link href="@Url.Content("~/Content/css/theme-blue.css")" rel="@((colorTheme == "blue") ? "stylesheet" : "alternate stylesheet")" title="blue" media="screen"/>
    <link href="@Url.Content("~/Content/css/theme-white.css")" rel="@((colorTheme == "white") ? "stylesheet" : "alternate stylesheet")" title="white" media="screen"/>

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <!--[if (gte IE 6)&(lte IE 8)]>
      <script src="@Url.Content("~/Content/js/selectivizr/selectivizr-min.js")"></script>
    <![endif]-->
    
    <!--[if gte IE 8]>
        <style>
        .current-menu-item a,
        .primary-menu > li > a:hover {
            padding-bottom: 1px !important;
        }
        </style>
    <![endif]-->
  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
    <script src="@Url.Content("//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")" type="text/javascript"></script>
    <script type="text/javascript">
        if (typeof jQuery === 'undefined') {
            document.write(unescape('%3Cscript%20src%3D%22/Scripts/jquery-1.8.3.min.js%22%3E%3C/script%3E'));
        }
    </script>

    <script src="@Url.Content("~/Scripts/modernizr-2.5.3-respond-1.1.0.min.js")"></script>
    @Bundles.RenderStylesheets()
</head>
<body>
    <div class="row-fluid">
        <div id="header">
            @{Html.RenderAction("Navigation", "Navigation");}
        </div>
    </div>
    <div id="wrapper">
        <div id="content">
            @RenderBody()
            <!-- Don't remove the "hdnLoadingText" hidden field -->
            <input id="hdnLoadingText" type="hidden" value="@Resources.btnSaving" />
            @{string sessionTimeOut = (Session["STO"] != null) ? Session["STO"].ToString() : "0";}
            <script type="text/javascript">
                var sessionTimeOut = '@sessionTimeOut';
                var secondaryTimeOut = 0;
                if (parseFloat(sessionTimeOut) >= 0) {
                    var login = '/Auth/Login?do=' + location.href + '&isto=true';
                    var timeOut = parseFloat(sessionTimeOut) * 1000;
                    window.setTimeout(function () {
                        $('#modelDialogSessionTimeOut').modal({ backdrop: 'static', keyboard: false });
                        $('#hdnLoginDoUrl').val(location.href);
                        secondaryTimeOut = 30 * 60 * 1000;
                        if (secondaryTimeOut > 0) {
                            window.setTimeout(function () {
                                location.href = login;
                            }, secondaryTimeOut);
                        }
                    }, timeOut);
                }
            </script>            
        </div>
        <!-- /content -->

    </div>
    <!-- /wrapper -->
    <!-- Session time out pop up -->
    @using (Html.BeginForm("Login", "Auth", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="modal hide" id="modelDialogSessionTimeOut">
            <div class="modal-header">
                <h3>@Resources.lblYourSessionTimedOut</h3>
            </div>
            <div class="modal-body">
                <div class="row-fluid">
                    <div class="span6">
                        <div class="control-group">
                            <label class="control-label">@Resources.lblUserName</label>
                            <div class="controls">
                                <input type="text" value="@objUser.Username" disabled="disabled" />
                                <input type="hidden" name="objUser.Username" value="@objUser.Username" />
                            </div>
                        </div>
                    </div>
                    <div class="span6">
                        <div class="control-group">
                            <label class="control-label">@Resources.lblPassword</label>
                            <div class="controls">
                                <input type="password" name="objUser.Password" id="objUser_Password" value="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="hidden" id="hdnLoginDoUrl" name="LoginDoUrl" value="" />
                @*<button class="btn" type="button" data-dismiss="modal">@Resources.btnCancel</button>*@
                <button type="submit" class="btn btn-primary" data-loading-text="@Resources.btnSigningIn" id="fat-btn">@Resources.lblSignIn</button>
            </div>
        </div>
    }
    <!-- / -->
    <!-- Modal Contact Support -->
    @if (accSupModel != null)
    {
        @Html.Partial("AccountSupport", accSupModel)
    }
    
    <!-- scripts concatenated and minified via build script -->
    @{
        Bundles.Reference("validate");
        Bundles.Reference("bootstrap");
        Bundles.Reference("pluginscripts");
        Bundles.Reference("cookie");
        Bundles.Reference("customscripts");
        Bundles.Reference("dirtyForms");
    }
    @Bundles.RenderScripts()
    <!-- end scripts -->
</body>
</html>
