﻿@using GMGColor.Resources
@using GMGColorDAL

@if (ViewBag.AvailableColors != null)
{
    <legend>@Resources.lblUserColor</legend>
    <div class="control-group">
        <label class="control-label">@Resources.lblProofStudioUserColor</label>
        <div class="controls">
            <select name="colorpicker-picker-list">
                @foreach (ProofStudioUserColor item in ViewBag.AvailableColors)
                {
                    <option value="@item.HEXValue">@item.Name</option>   
                }
            </select>
        </div>
    </div>
    @Html.Hidden("ProofStudioColor", (object)ViewBag.ProofStudioColor)

}

@{
    Bundles.Reference("simpleColorPicker");
    Bundles.Reference("simpleColorPickerStyles");
}