﻿@model GMGColorDAL.CustomModels.AccountSupport
@using GMGColor.FileUpload;
@using GMGColor.Resources
@using GMGColorDAL
@{  
    Bundles.Reference("fileupload");
}
<div class="modal hide" id="modalContactSupport">
    @using (Html.BeginForm("AccountSupport", "Account", FormMethod.Post, new { @id = "formAccountSupport", enctype = "multipart/form-data", @class = "dirtyignore" }))
    {
        @Html.AntiForgeryToken()
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3>@Resources.lblContactSupport</h3>
        </div>
        <div class="modal-body">
            <div class="alert alert-block alert-info">
                <p><i class="icon-comments-alt"></i> <strong>@Resources.lblSendUsAMessage</strong><br />
                    @Resources.lblSendUsDescription</p>
            </div>
            <div class="form-horizontal">
                <div class="control-group">
                    <label class="control-label">
                        @Resources.lblYourname</label>
                    <div class="controls">
                        @Html.TextBoxFor(model => model.YourName)
                        @Html.ValidationMessageFor(model => model.YourName)
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">
                        @Resources.lblSubject</label>
                    <div class="controls">
                        @Html.TextBoxFor(model => model.Subject)
                        @Html.ValidationMessageFor(model => model.Subject)
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">
                        @Resources.lblMessage</label>
                    <div class="controls">
                        @Html.TextAreaFor(model => model.Message)
                        @Html.ValidationMessageFor(model => model.Message)
                    </div>
                </div>
                @if(false) { 
                <div id="dvUploader" class="control-group">
                    @Html.HiddenFor(m=>m.Region)
                    @Html.HiddenFor(m=>m.UserPathToTempFolder)
                    @if (Model != null){
                        FileUploadModel fupModel = new FileUploadModel(Model.Region);
                        fupModel.IsMultiple = true;
                        fupModel.Key = 123;
                        fupModel.CssClass = "icon-upload-alt";
                        fupModel.UseDropZone = false;
                        fupModel.IsRequired = false;
                        fupModel.AcceptFileTypes = ""; // all file types
                        fupModel.PathToTempFolder = Model.UserPathToTempFolder;
                        fupModel.MaxFileSize = GMGColorConfiguration.AppConfiguration.ApprovalMaxFileSize;
                        
                        FileUploadModel fileUploadModel = FileUploadModel.FileUploadTemplates(Model.UserPathToTempFolder, Model.Region);
                        fileUploadModel.UseLabelForFileName = true;
                        
                        @Html.Partial("FileUpload", fupModel)
                        @Html.Partial("FileUploadTemplates", fileUploadModel)
                    }
                </div>
                }
            </div>
        </div>
        <div class="modal-footer">
            <a href="javascript:void(0);" class="btn" data-dismiss="modal">@Resources.btnCancel</a>
            <button class="btn btn-primary" type="submit">
                @Resources.lblSend</button>
        </div>
    }
</div>