﻿@model GMGColorDAL.CustomModels.AccountSettings.AccountSummary
@using GMGColor.Resources;
@using GMGColorDAL.Common
<!-- Partial View Used To Render Account Subscription Plan details Per Module from Account Settings and Edit Account Summary Pages -->
@{
    var contractStartDate = Model.objAccountSubscriptionPlan != null ? Model.objAccountSubscriptionPlan.ContractStartDate
                                                                    : Model.objAccountSubscriberPlan.ContractStartDate;
}
<div class="subscription">
    <fieldset>
        <legend>@Model.ModuleName</legend>
        <div class="row-fluid">
            <div class="span6">
                <div class="plan-block">
                    <h6>
                        @Resources.lblCurrentPlan</h6>
                    <h2>
                        @Html.DisplayTextFor(m => m.ModuleCurrentPlan)</h2>
                    <div class="plan-footer">
                        <b>@Resources.lblContractStartDate : @(contractStartDate.HasValue ? @GMGColorFormatData.GetFormattedDate(contractStartDate.Value, ViewBag.DateFormat) : "-")</b>
                        <br/>
                        <b>@Resources.lblContractEndDate : @(contractStartDate.HasValue ? @GMGColorFormatData.GetFormattedDate(contractStartDate.Value.AddYears(1), ViewBag.DateFormat) : "-")</b>
                    </div>
                </div>
            </div>
            @if (!Model.IsAccountInFreePlan)
            {
                <div class="span6">
                    <div class="plan-block">
                        <h6>
                            @if (Model.objAccountSubscriptionPlan == null || Model.objAccountSubscriptionPlan.IsMonthlyBillingFrequency)
                            {
                                @Resources.lblMonthlyTotal
                            }
                            else
                            {
                                @Resources.lblAnualTotal
                            }
                        </h6>
                        <h2>
                            @Html.DisplayTextFor(m => m.ModuleAnualTotal)</h2>
                        <div class="plan-footer">
                            <span class="badge badge-info">VCD @Model.GPP</span><br />
                            @Model.ModuleAnualTotalMessage
                        </div>
                    </div>
                </div>
            }
        </div>
    </fieldset>

    @if (Model.objBillingPlan != null && !Model.objBillingPlan.IsFixed && Model.AccountStatus == GMGColorDAL.AccountStatu.Status.Active)
    {
        decimal exceededBarWidth = 0;
        decimal barWidth = 0;
        decimal userBarWidth = 0;
        decimal userExceededBarWidth = 0;

        if (Model.objAccountStorage != null)
        {
            if (Model.objAccountStorage.StorageUsed > Model.objAccountStorage.StorageTotal)
            {
                barWidth = ((decimal)Model.objAccountStorage.StorageTotal / (decimal)Model.objAccountStorage.StorageUsed) * 100;
                exceededBarWidth = 100 - barWidth;   
            }
            else
            {
                barWidth = (decimal)Model.objAccountStorage.StorageTotal > 0 ? (((decimal)Model.objAccountStorage.StorageUsed / (decimal)Model.objAccountStorage.StorageTotal) * 100) : 0;
            }
            if (Model.objAccountUserCount.CurrentNumberOfUsers > Model.objAccountUserCount.MaxNumberOfUsers)
            {
                userBarWidth = ((decimal)Model.objAccountUserCount.MaxNumberOfUsers / (decimal)Model.objAccountUserCount.CurrentNumberOfUsers) * 100;
                userExceededBarWidth = 100 - userBarWidth;
            }
            else
            {
                userBarWidth = (decimal)Model.objAccountUserCount.MaxNumberOfUsers > 0 ? ((decimal)Model.objAccountUserCount.CurrentNumberOfUsers / (decimal)Model.objAccountUserCount.MaxNumberOfUsers) * 100 : 0;
            }

        }
        else
        {

            if (Model.objProofs.ProofsUsed > Model.objProofs.ProofsTotal)
            {
                barWidth = (((decimal)Model.objProofs.ProofsTotal / (decimal)Model.objProofs.ProofsUsed) * 100);
                exceededBarWidth = 100 - barWidth;
            }
            else
            {
                barWidth = (decimal)Model.objProofs.ProofsTotal > 0 ? (((decimal)Model.objProofs.ProofsUsed / (decimal)Model.objProofs.ProofsTotal) * 100) : 0;
            }
        }

        <fieldset>
            <legend>@Resources.lblSummaryUsage</legend>
            @if (Model.objAccountStorage != null)
            {
                <h6>
                    @Resources.lblUsedStorage @(Model.objAccountStorage.StoragePercentage.ToString("0.000"))%&nbsp;@Resources.lblOf&nbsp;@(Model.objAccountStorage.StorageTotal) @Resources.lblStorageSizeInGB
                </h6>
                <div class="progress">
                    <div class="bar bar-success" style="width: @barWidth%;"></div>
                    @if (exceededBarWidth > 0)
                    {
                        <div class="bar bar-danger" style="width: @exceededBarWidth%;"></div>
                    }
                </div>
                <h6>
                    @Resources.lblAccountUsers @(Model.objAccountUserCount.CurrentNumberOfUsers)&nbsp;@Resources.lblOf&nbsp;@(Model.objAccountUserCount.MaxNumberOfUsers) 
                </h6>
                <div class="progress">
                    <div class="bar bar-success" style="width: @userBarWidth%;"></div>
                    @if (userExceededBarWidth > 0)
                    {
                        <div class="bar bar-danger" style="width: @userExceededBarWidth%;"></div>
                    }
                </div>
            }
            else
            {
                <h6>
                    @Resources.lblProofsUsed @(Model.objProofs.ProofsUsed)&nbsp;@Resources.lblOf&nbsp;@(Model.objProofs.ProofsTotal)
                </h6>
                <div class="progress">
                    <div class="bar bar-success" style="width: @barWidth%;"></div>
                    @if (exceededBarWidth > 0)
                    {
                        <div class="bar bar-danger" style="width: @exceededBarWidth%;"></div>
                    }
                </div>
            }
            
            @if (Model.appModule == GMG.CoZone.Common.AppModule.Deliver)
            {
                decimal exceedeCPConnectionsWidth = 0;
                decimal CPConnectionsWidth = 0;
                if (Model.objColorProofConnections.ProofsUsed > Model.objColorProofConnections.ProofsTotal)
                {
                    CPConnectionsWidth = (((decimal)Model.objColorProofConnections.ProofsTotal / (decimal)Model.objColorProofConnections.ProofsUsed) * 100);
                    exceedeCPConnectionsWidth = 100 - CPConnectionsWidth;
                }
                else
                {
                    CPConnectionsWidth = (decimal)Model.objColorProofConnections.ProofsTotal > 0 ? (((decimal)Model.objColorProofConnections.ProofsUsed / (decimal)Model.objColorProofConnections.ProofsTotal) * 100) : 0;
                }
                <h6>
                @Resources.lblCPConnectionsUsed @(Model.objColorProofConnections.ProofsUsed)&nbsp;@Resources.lblOf&nbsp;@(Model.objColorProofConnections.ProofsTotal)</h6>
                <div class="progress">
                    <div class="bar bar-success" style="width: @CPConnectionsWidth%;">
                    </div>
                    @if (exceedeCPConnectionsWidth > 0)
                    {
                        <div class="bar bar-danger" style="width: @exceedeCPConnectionsWidth%;">
                        </div>
                    }
                </div>
            }
        </fieldset>
    }
</div>