﻿@model GMGColorDAL.Account
@using GMGColor.Resources
@using GMGColor.Common
@{
    GMGColorBusinessLogic.DbContextBL context = HttpContext.Current.Items[GMGColorDAL.DALUtils.DatabaseContext] as GMGColorBusinessLogic.DbContextBL;
}
<div id="modalDialogWelcome" class="modal hide">
    @using (Html.BeginForm("GetStarted", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
                &times;</button>
            <h3>
                @String.Format(Resources.lblWelcomeTo, Model.Name), @Model.OwnerUser.GivenName @Model.OwnerUser.FamilyName!</h3>
        </div>
        <div class="modal-body">
            <ol>
                <li>@Resources.lblPleaseBookmarkThisPageSoYouCanReturnLater</li>
                <li>@Resources.lblMakeSureTheFollowingIsCorrect</li>
            </ol>
            <div class="control-group">
                <label class="control-label">@Resources.lblTimeZone</label>
                <div class="controls">
                    @Html.DropDownListFor((model => model.TimeZone), new SelectList(BaseController.TimeZones.AsEnumerable(), "ID", "Name"), Resources.lblSelectTimeZone)
                    @Html.ValidationMessageFor(model => model.TimeZone)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">@Resources.lblDateFormat</label>
                <div class="controls">
                    @Html.DropDownListFor(model => model.DateFormat, new SelectList(GMGColorDAL.DALUtils.SearchObjects<GMGColorDAL.DateFormat>(o => o.ID > 0, context).AsEnumerable(), "ID", "Result"), Resources.lblSelectDateFormat, new { @id = "ddDateFormat" })
                    @Html.ValidationMessageFor(model => model.DateFormat)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">@Resources.lblTimeFormat</label>
                <div class="controls">
                    @foreach (GMGColorDAL.TimeFormat item in GMGColorDAL.DALUtils.SearchObjects<GMGColorDAL.TimeFormat>(o => o.ID > 0, context))
                    {
                        <label class="radio">
                            @Html.RadioButtonFor(model => model.TimeFormat, item.ID, (item.ID == 1) ? new { @checked = "checked" } : null)
                            @item.Pattern (e.g. @item.Result )
                        </label>
                    }
                </div>
            </div>
        </div>
        <div class="modal-footer">
            @Html.HiddenFor(model => model.ID)
            <button class="btn btn-primary" type="submit" data-loading-text="@Resources.btnSaving">@Resources.btnOkLetsGetStarted</button>
        </div>
    }
</div>
