﻿@model GMGColorDAL.CustomModels.AccountSettings.UserGroups
@using GMGColor.Resources;
@using GMGColorDAL
@using GMGColorDAL.CustomModels
@{
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
    Bundles.Reference("widget");
    Bundles.Reference("collaboratorgroup");
    GMGColorBusinessLogic.DbContextBL context = HttpContext.Current.Items[GMGColorDAL.DALUtils.DatabaseContext] as GMGColorBusinessLogic.DbContextBL;
}
<p class="breadcrumb">
    <a href='@Url.Action("UserGroups", "Settings")'>@Resources.lblGroups</a>
</p>
<div class="widget">
    <div class="widget-header">
        <h3>@(Model.UserGroupID > 0 ? Resources.lblEditGroup : Resources.lblNewGroup)</h3>
    </div>
    <!-- /widget-header -->
    <div class="widget-content">
        <div class="row-fluid">
            @using (Html.BeginForm("Groups", "Widget", FormMethod.Post, new { @class = "form-horizontal", id = "formGroup" }))
            {
                @Html.AntiForgeryToken()
                GroupsModel objModel = null;
                if (Model.UserGroupID > 0)
                {
                    objModel = new GroupsModel(Model.objLoggedAccount.ID, Model.ShowModelDialog, Model.UserGroupID, context);
                }
                else
                {
                    objModel = new GroupsModel(Model.objLoggedAccount.ID, Model.ShowModelDialog, context);
                }

                if (ViewBag.SelectedUsers != null)
                {
                    List<GroupsModel.UsersInUserGroup> tempUsers = ViewBag.SelectedUsers;
                    for (int i = 0; i < objModel.CollaboratorsWhereThisIsCollaboratorGroup.Count; i++)
                    {
                        objModel.CollaboratorsWhereThisIsCollaboratorGroup[i].IsUserInGroup = tempUsers[i].IsUserInGroup;
                        objModel.CollaboratorsWhereThisIsCollaboratorGroup[i].IsPrimary = tempUsers[i].IsPrimary;
                    }
                    objModel.IsModelError = true;
                }
                @Html.Partial("Groups", objModel)
            }
        </div>
        <!-- /row-fluid -->
    </div>
    <!-- /widget-content -->
</div>
<!-- /widget -->
