﻿@model GMGColorDAL.CustomModels.AdvancedSearch
@using GMGColor.Resources;
@using GMGColorDAL
@{
    string dateFormat = ViewBag.AccountDateFormat;
    if (Html.ViewContext.FormContext == null)
    {
        Html.ViewContext.FormContext = new FormContext();
    }
}
<div class="row-fluid" id="asControls">
    <div>@Html.HiddenFor(m => m.ID)</div>
    @Html.ValidationSummary(true)
    @if (Model.IsManagerRole)
    {
        <div class="span12">
            <div class="control-group">
                <div class="span5">
                    <label class="control-label">@Resources.lblAdvSNameLabel</label>
                </div>
                <div class="controls span5">
                    @Html.TextBoxFor(m => m.AdvSName, new { @placeholder = Resources.lblAdvSName })
                    @Html.ValidationMessageFor(m => m.AdvSName)
                </div>
                <span id="advSNameAlert" class="help-inline offset4 span6 text-center" style="display: none;"></span>
            </div>
        </div>
        <br/>
        <h4 class="asSearchBy"><span>@Resources.lblSearchBy</span></h4>
    }
    
    <div class="span12">
        <div class="control-group">
            <div class="controls advsoverdue">
                <label class="checkbox pull-left">
                    @Html.CheckBoxFor(mdl => mdl.AdvSIsOverdue)@Resources.lblAdvSOverdue
                </label>
                <label class="checkbox pull-left">
                    @Html.CheckBoxFor(mdl => mdl.AdvSInProgress)@Resources.lblAdvSInProgress
                </label>
            </div>
        </div>
    </div>        
    <div class="span12">
        <div class="control-group">
                
            <div class="span4 advstimeframeslabel">
                <label class="checkbox">@Html.CheckBoxFor(mdl => mdl.AdvSWithinATimeframe)@Resources.lblAdvSDeadlines</label>
            </div>

            <div class="controls span7">
                
                <div class="control-group span6">
                    <div class="controls">
                        <div class="input-append date-picker date" id="dtFromPicker" data-date-format="@dateFormat.ToLower()">
                            @Html.TextBoxFor(model => model.AdvSTimeFrameMin, new { @Value = String.Format("{0:" + dateFormat + "}", Model.AdvSTimeFrameMin), @size = "16", @class = "input-small pointerCursor", @readonly = "" })
                            <span class="add-on"><i class="icon-calendar"></i></span>
                        </div>
                        <span id="dtFromPickerAlert" class="help-inline" style="display: none;">@Resources.reqStartDate</span>
                    </div>
                </div>
                <div class="control-group span6">
                                
                    <div class="controls">
                        <div class="input-append date-picker date" id="dtToPicker" data-date="@String.Format("{0:" + dateFormat + "}", Model.AdvSTimeFrameMax)" data-date-format="@dateFormat.ToLower()" >
                            @Html.TextBoxFor(model => model.AdvSTimeFrameMax, new { @Value = String.Format("{0:" + dateFormat + "}", Model.AdvSTimeFrameMax), @size = "16", @class = "input-small pointerCursor", @readonly = "" })
                            <span class="add-on"><i class="icon-calendar"></i></span>
                        </div>
                        <span id="dtToPickerAlert" class="help-inline" style="display: none;">@Resources.reqEndDate</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
     <div class="span12">
        <div class="control-group">
            <div class="span3">
                <label class="pull-left control-label">@Html.LabelFor(m => m.AdvSSearchByTitle)</label>
                <span class="pull-right"style="font-size: large;" data-original-title="@Resources.lblWildCardSupport" rel="tooltip">
                    <i class="icon-exclamation-sign"></i>
                </span>
            </div>
            <div class="controls span8">
                @Html.TextBoxFor(m => m.AdvSSearchByTitle, new { @class = "advSTextBox", @placeholder = Resources.lblJobTitle })
                @Html.ValidationMessageFor(m => m.AdvSSearchByTitle)
            </div>
        </div>
    </div>
    <div class="span12">
        <div class="control-group">
            <div class="span3">
                <label class="control-label">@Resources.lblAdvSGroups</label>
            </div>
            <div class="controls span8">
                <select name="AdvSSelectedGroups" multiple="multiple" data-placeholder="@Resources.lblAllGroups" class="chzn-select" style="display: inline">
                    @foreach (KeyValuePair<int, string> type in Model.AdvSGroups)
                    {
                        string selected = (Model.AdvSSelectedGroups != null && Model.AdvSSelectedGroups.Contains(type.Key)) ? "selected=\"selected\"" : "";
                        <option value="@type.Key" @selected>@type.Value</option>
                    }
                </select>
            </div>
        </div>

    </div>
    <div class="span12">
        <div class="control-group">
            <div class="span3">
                <label class="control-label">@Resources.lblAdvSUsers</label>
            </div>                        
            <div class="controls span8">
                <select name="AdvSSelectedUsers" multiple="multiple" data-placeholder="@Resources.lblAllUsers" class="chzn-select" style="display: inline">
                    @foreach (KeyValuePair<int, string> type in Model.AdvSUsers)
                    {
                        string selected = (Model.AdvSSelectedUsers != null && Model.AdvSSelectedUsers.Contains(type.Key)) ? "selected=\"selected\"" : "";
                        <option value="@type.Key" @selected>@type.Value</option>
                    }
                </select>
            </div>
        </div>

    </div>
    <div class="span12">
        <div class="control-group">
            <div class="span3">
                <label class="control-label">@Resources.lblAdvSWorkflow</label>
            </div>
            <div class="controls span8">
                <select name="AdvSSelectedWorkflows" multiple="multiple" data-placeholder="@Resources.lblAllWorkflows" class="chzn-select" style="display: inline">
                    @foreach (KeyValuePair<string, string> type in Model.AdvSWorkflows)
                    {
                        string selected = (Model.AdvSSelectedWorkflows != null && Model.AdvSSelectedWorkflows.Contains(type.Key)) ? "selected=\"selected\"" : "";
                        <option value="@type.Key" @selected>@type.Value</option>
                    }
                </select>
            </div>
        </div>
    </div>
            
    <div class="span12">
        <div class="control-group">
            <div class="span3">
                <label class="control-label">@Resources.lblAdvSPhase</label>
            </div>
            <div class="controls span8">
                <select name="AdvSSelectedPhases" multiple="multiple" data-placeholder="@Resources.lblAllPhases" class="chzn-select" style="display: inline;">
                    @foreach (KeyValuePair<int, string> type in Model.AdvSPhases)
                    {
                        string selected = (Model.AdvSSelectedPhases != null && Model.AdvSSelectedPhases.Contains(type.Key)) ? "selected=\"selected\"" : "";
                        <option value="@type.Key" @selected>@type.Value</option>
                    }
                </select>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('span[rel="tooltip"]').tooltip();
</script>