﻿@model GMGColorDAL.CustomModels.AccountSettings.CMSAnnouncements
@using GMGColor.Resources;
@using GMGColorDAL.CustomModels
@{
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
}
<div class="widget">
    <div class="widget-header">
        <ul class="widget-links">
        </ul>
        <h3>@ViewBag.Header @*<small>@ViewBag.HeaderSmall</small>*@</h3>
    </div>
    <!-- /widget-header -->
    <div class="widget-content">
        <div class="row-fluid">
             <div class="span3">
                @if (Model.isSysAdmin)
	                {
                        Html.RenderAction("SecondaryNavigation", "Navigation", new { secondaryNavType = SecondaryNavigationTypeEnum.AdminSettings });
	                }
                    else
	                {
                         Html.RenderAction("SecondaryNavigation", "Navigation", new { secondaryNavType = SecondaryNavigationTypeEnum.AccountSettings });
	                }
                 
            </div>
            <div class="span9">
                <div class="subnav">
                    <legend>@Resources.lblCMSAnnouncement</legend>
                    @if (Model.Announcements.Count > 0)
                    {
                        <ul class="nav nav-tabs nav-stacked CMSContainer">
                            @using (Html.BeginForm("DeleteAnnouncement", "CMS"))
                            {
                                @Html.AntiForgeryToken()
                                @Html.Hidden("announcementId")
                                <button class="hide" id="btnDeleteAnnouncement" name="action" value="DeleteAnnouncement"
                                        onclick="$('#modelDialogDeleteConfirmation_1').modal({ backdrop: 'static', keyboard: false }); return false;">
                                </button>
                                <button class="hide" id="btnEditAnnouncement" type="submit" name="action" value="EditAnnouncement">
                                </button>
                                DeleteConfirmation deleteAnnouncementConfirmation = new DeleteConfirmation(1, "DeleteAnnouncement");
                                @Html.Partial("DeleteConfirmationDialog", deleteAnnouncementConfirmation)
                                foreach (CMSAnnouncementModel announcement in Model.Announcements)
                                {
                                    <li class="borderBottomDDD">
                                        <div class="pull-left">@Html.Raw(announcement.Content)</div>
                                        <div class="btn-group pull-right paddingTopBottom5">
                                            <a href="javascript:void(0);" data-toggle="dropdown" class="btn btn-mini dropdown-toggle ellipsisButton">
                                                <i class="icon-ellipsis-horizontal"></i>
                                            </a>
                                            <ul class="dropdown-menu pull-right">
                                                <li><a href="#" onclick="$('#announcementId').val('@announcement.ID');$('#btnEditAnnouncement').click();">
                                                        <i class="icon-edit"></i>@Resources.lblEdit</a> </li>
                                                <li><a href="#" onclick="$('#announcementId').val('@announcement.ID');$('#btnDeleteAnnouncement').click();">
                                                        <i class="icon-remove"></i>@Resources.lblDelete</a> </li>
                                            </ul>
                                        </div>
                                        <div class="clearboth">
                                        </div>
                                    </li>
                                    <hr />
                                }
                            }
                        </ul>
                    }
                    else
                    {
                        <h3>@Resources.lblNoAnnouncementsAdded</h3>
                    }
                </div>
                @{ Html.RenderPartial("CMSNewAnnouncement", Model.NewAnnouncement);}
                @{ Html.RenderPartial("CMSEditAnnouncement", Model.EditAnnouncement);}
            </div>
        </div>
        <!-- /row-fluid -->
    </div>
    <!-- /widget-content -->
</div>
<!-- /widget -->
<script type="text/javascript">
    this.modelDialog = '@ViewBag.ModelDialog';
</script>
