﻿@model GMGColorDAL.CustomModels.CMSAnnouncementModel
@using GMGColor.Resources;

<div id="modalDialogEditAnnouncement" class="modal hide">
    @using (Html.BeginForm("UpdateAnnouncement", "CMS", FormMethod.Post, new { id = "formEditAnnouncement", @class = "form-vertical", autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.ID)
        <div class="modal-header">
            <a href="javascript:void(0);" class="close" data-dismiss="modal" title="@Resources.btnClose" >
                &times;</a>
            <h3>@Resources.lblEditAnnouncement</h3>
        </div>
        <div class="modal-body">
        @Html.TextAreaFor(m => m.Content, new { @rows = 10, @style="width:485px;" })
        @Html.ValidationMessageFor(m => m.Content)
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="submit" name="action" value="UpdateAnnouncement" data-loading-text="@Resources.btnSaving">@Resources.btnSaveChanges</button>
        </div>
    }
</div>