﻿@model GMGColorDAL.CustomModels.CMSAnnouncementModel
@using GMGColor.Resources;

@using (Html.BeginForm("SaveAnnouncement", "CMS", FormMethod.Post, new { @class = "form-vertical", id = "formMain" }))
{
    @Html.AntiForgeryToken()
    <div class="control-group">
        <label class="control-label">@Resources.lblAddNewAnnouncement</label>
        <div class="controls">
            @Html.TextAreaFor(m => m.Content)
            @Html.ValidationMessageFor(m => m.Content)
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button class="btn btn-primary" name="action" type="submit" value="SaveAnnouncement">@Resources.lblAdd</button>
        </div>
    </div>
}