﻿@using GMGColorDAL.CustomModels
@model GMGColorDAL.CustomModels.AccountSettings.CMSVideos

<div class="pull-left video-link-container">
    <div class="">
        <legend>@Model.Title</legend>
        @if (Model.Videos.Count > 0)
        {
            using (Html.BeginForm("DeleteVideo", "CMS"))
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("videoId")
                <button class="hide" id="btnDeleteVideo" name ="action" value="DeleteVideo" onclick="$('#modelDialogDeleteConfirmation_2').modal({ backdrop: 'static', keyboard: false }); return false;"></button>
                DeleteConfirmation deleteAnnouncementConfirmation = new DeleteConfirmation(2, "DeleteVideo");
                @Html.Partial("DeleteConfirmationDialog", deleteAnnouncementConfirmation)

                <ul class="nav row-fluid CMSContainer">
                    @foreach (CMSVideoModel video in Model.Videos)
                    {
                    <li class="span4 row-fluid" title="@video.Description" rel="tooltip">
                        <div class="pull-left span8">
                            <a class="yt-video-link" target="_blank" style="background-image: url('@video.Preview')" href="@video.Url">
                                <div class="yt-video-play span12"></div>
                            </a>
                        </div>
                        <div class="btn-group pull-left yt-video-menu span3">
                            <a href="javascript:void(0);" data-toggle="dropdown" class="btn btn-mini dropdown-toggle ellipsisButtonList">
                                <i class="icon-ellipsis-horizontal"></i>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li>
                                    <a href="#" onclick="$('#videoId').val('@video.ID');$('#btnDeleteVideo').click();"><i class="icon-remove"></i>Delete</a>
                                </li>
                            </ul>
                        </div>
                        <div class="clearboth"></div>
                        <div class="ytc-title">@video.Title</div>
                        <div class="ytc-description">@video.Description</div>
                    </li>
                    }
                </ul>
            }
        }
        else
        {
            <h3>@Model.NoVideoLabel</h3>
        }
    </div>   
</div>