﻿@model GMGColorDAL.CustomModels.CustomConfirmation
@using GMGColor.Resources;
<div class="modal hide" id="modelDialogCustomConfirmation_@(Model.Key)">
    <div class="modal-header">
        <h3 class="widget-title">
            @Model.CustomMessageTitle
        </h3>
    </div>
    <div class="globaldelete-base modal-body">
        <p>
            <strong>@Model.CustomMessageHeading</strong></p>
        <p>@Model.CustomMessage <em>@Model.CustomMessagePleaseNote</em></p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" type="submit">@Resources.btnNo</button>
        <button class="btn btn-primary delete-yes" type="submit" name="action" value="@Model.Action" data-loading-text="@Model.LoadingText">@Resources.btnYes</button>
    </div>
</div>
