﻿@model GMGColorDAL.CustomModels.DeleteConfirmation
@using GMGColor.Resources;
<div class="modal hide" id="modelDialogDeleteConfirmation_@(Model.Key)">
    <div class="modal-header">
        <h3 class="widget-title">
            @Model.DeleteMessageTitle
        </h3>
    </div>
    <div class="globaldelete-base modal-body">
        <p>
            <strong>@Model.DeleteMessageHeading</strong>
        </p>
        <p>
            @Model.DeleteMessage <em>@Model.DeleteMessagePleaseNote</em>
        </p>
        
        @if (!string.IsNullOrEmpty(Model.DeleteSecondMessage))
        { 
            <p>@Model.DeleteSecondMessage</p> 
        }
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" type="submit">@Resources.btnNo</button>
        <button class="btn btn-primary delete-yes" type="submit" name="action" value="@Model.Action" data-loading-text="@Model.LoadingText">@(!string.IsNullOrEmpty(Model.SecondAction) ? Model.SecondActionLabel : Resources.btnYes)</button>
        @if (!string.IsNullOrEmpty(Model.SecondAction))
        { 
            <button class="btn btn-primary delete-yes" type="submit" name="action" value="@Model.SecondAction" data-loading-text="@Model.LoadingText">@Resources.btnDelete</button>
        }
    </div>
</div>
