﻿@model GMGColorDAL.CustomModels.Deliver.AddInstance
@using GMGColor.FileUpload
@using GMGColor.Resources;
@using GMG.CoZone.Common;
@using GMGColorDAL
@{
    if (!Request.IsAjaxRequest())
    {
        Bundles.Reference("DeliverAddJob"); // TODO declare script section in application layout
    }
}

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <div class="alert alert-error">
        <strong>@Resources.lblWarning :</strong>
        @Model.ErrorMessage
    </div>
}

@if (Model.ShowUploader)
{
    <legend style="margin: 0;">@Resources.lblUpload <small>@Resources.lblUploadDeliverTypes</small></legend>
    <div id="dvUploader" class="control-group">
        @Html.HiddenFor(m => m.FileTitleValidator)
        @Html.ValidationMessageFor(m => m.FileTitleValidator)

        @{
    FileUploadModel fupModel = FileUploadModel.FileUploadTemplates(Model.PathToTempFolder, Model.objLoggedAccount.Region);
    fupModel.IsMultiple = true;
    fupModel.Key = 1;
    fupModel.CssClass = "icon-upload-alt";
    fupModel.UseDropZone = true;
    fupModel.IsRequired = true;
    fupModel.AcceptFileTypes = "/(jpe?g|tiff|eps|pdf)$/i";
    fupModel.MaxFileSize = GMGColorConfiguration.AppConfiguration.ApprovalMaxFileSize;
        }
        @Html.Partial("FileUpload", fupModel)
    </div>
    @Html.HiddenFor(m => m.PageNr, new { @data_Val = "false" })
    @Html.HiddenFor(m => m.RowsPerPage, new { @data_Val = "false" })
}
@Html.ValidationSummary(true)
<input type="hidden" id="SelectedApprovalsPageCounts" data-val="false" />
<legend class="addjob-details">@Resources.lblDeliverIndexPopupDetails</legend>
<div class="control-group">
    <label class="control-label">@Resources.lblDeliverIndexPopupColorProofServer</label>
    <div class="controls">
        @Html.DropDownListFor(m => m.SelectedCPServerId, new SelectList(Model.ListServers, "ID", "SystemName"), Resources.lblDeliverIndexSelectAColorProofServer)
        @Html.ValidationMessageFor(m => m.SelectedCPServerId)
    </div>
</div>
<div class="control-group">
    <label class="control-label">@Resources.lblDeliverIndexPopupColorProofWorkflow</label>
    <div class="controls">
        @Html.DropDownListFor(m => m.SelectedCPWorkflowId, new SelectList(Model.ListWorkflows, "ID", "Name"), Resources.lblDeliverIndexSelectAColorProofWorkflow)
        @Html.ValidationMessageFor(m => m.SelectedCPWorkflowId)
    </div>
</div>
<div class="control-group">
    <label class="control-label gray-color">@Resources.lblColorProofWorkflowProofStandard</label>
    <div class="controls">
        <div id="ProofStandard" class="gray-color">
            &nbsp;</div>
    </div>
</div>
<div class="control-group">
    <label class="control-label gray-color">@Resources.lblDeliverIndexMaxPaperWidth</label>
    <div class="controls">
        <div id="MaxPaperWidth" class="gray-color">
                &nbsp;</div>
    </div>
</div>
<div class="control-group">
    <label class="control-label gray-color">@Resources.lblDeliverIndexPopupSpotColors</label>
    <div class="controls">
        <div class="gray-color" id="SpotColors">
            &nbsp;</div>
    </div>
</div>
<div class="control-group">
    <label class="control-label">@Resources.lblDeliverIndexPopupColorProofPages</label>
    <div class="controls">
        <div class="pages-row PagesSingle">
            @Html.RadioButtonFor(m => m.PagesRadioButton, (int)PagesSelectionEnum.Single, new { id = "Pages_Single", @class = "pages-ctrl-left", @checked = "checked" })
            <label for="Pages_Single">@Resources.lblDeliverIndexPopupPagesSingle</label>
        </div>
        <div class="pages-row PagesRange">
            @Html.RadioButtonFor(m => m.PagesRadioButton, (int)PagesSelectionEnum.Range, new { id = "Pages_Range", @class = "pages-ctrl-left" })
            <label for="Pages_Range" class="pages-ctrl-left">@Resources.lblDeliverIndexPopupPagesRange</label>
            @Html.TextBoxFor(m => m.PagesRangeValue, new { @class = "input-medium", @readonly = "readonly" })
            
        </div>
        <div class="pages-row">
            @Html.RadioButtonFor(m => m.PagesRadioButton, (int)PagesSelectionEnum.All, new { id = "Pages_All", @class = "pages-ctrl-left" })
            <label for="Pages_All">@Resources.lblDeliverIndexPopupPagesAll</label>
        </div>
        @Html.ValidationMessageFor(m => m.PagesRangeValue)
        @Html.ValidationMessageFor(m => m.PagesRadioButton)

        @Html.HiddenFor(m => m.PagesRangeHiddenField)
        @Html.ValidationMessageFor(m => m.PagesRangeHiddenField)
        
        @Html.HiddenFor(m => m.PagesRangeMaxPageCountHiddenField)
        @Html.ValidationMessageFor(m => m.PagesRangeMaxPageCountHiddenField)
        <input type="hidden" data-val="false" id="lblPagesCountInfoResource" value="@Resources.lblPagesCountInfo"/>
        <div id="lblMaxPagesCount"></div>
    </div>
</div>
@if (ViewBag.DeliverRole != GMGColorDAL.Role.RoleName.AccountContributor)
{
  <fieldset>
    <legend>@Resources.lblNotification <small>@Resources.lblChooseWhoWillBeAbleToViewJob</small></legend>
    @{Html.RenderAction("Share", "Widget", new { @showPanel = true, @isFromDeliver = true, @showPopup = !Model.ShowUploader });}
    <!-- / Sahre -->
    <div class="collaboratorshare-fields control-group row-fluid">
        <div class="controls">
            <h6>@Resources.lblMessageDeliverNotification</h6>
            @Html.TextAreaFor((mdl => mdl.OptionalMessage), new { @id = "deliverMessage", @class = "message span5 message-option-input", @cols = "20", @rows = "4", @tabindex = "7" })
        </div>
    </div>
</fieldset>
}
<legend class="addjob-settings">@Resources.lblDeliverIndexPopupSettings</legend>
<div class="control-group">
    <div class="@string.Format("{0}", Model.ShowUploader ? "controls" : string.Empty)">
        <div class="pages-row">
            @Html.CheckBoxFor(m => m.IncludeProofMetaInformation, new { id = "IncludeProofMetaInformation", @class = "pages-ctrl-left" })
            <label for="IncludeProofMetaInformation" class="pages-ctrl-left">@Resources.lblDeliverIndexPopupIncludeProofMetaInformation</label>
            @Html.ValidationMessageFor(m => m.IncludeProofMetaInformation)
        </div>
        <div class="pages-row">
            @Html.CheckBoxFor(m => m.LogProofControlResults, new { id = "LogProofControlResults", @class = "pages-ctrl-left" })
            <label for="LogProofControlResults" class="pages-ctrl-left">@Resources.lblDeliverIndexPopupLogProofControlResults</label>
            @Html.ValidationMessageFor(m => m.LogProofControlResults)
        </div>
    </div>
</div>
@if (Model.ShowUploader)
{
    FileUploadModel fileUploadModel = FileUploadModel.FileUploadTemplates(Model.PathToTempFolder, Model.objLoggedAccount.Region);
    fileUploadModel.UseLabelForFileName = false;
    fileUploadModel.DispalyName = "<strong></strong> <span class=\"label\"></span>";
    @Html.Partial("FileUploadTemplates", fileUploadModel)
}
@Html.Hidden("getWorkflowsAction", @Url.Action("GetWorkflows", "Deliver"))
@Html.Hidden("ldgLbl", @Resources.lblLoading)
@if (Request.IsAjaxRequest())
{
<script src="@Url.Content("~/Scripts/DeliverAddJob.js")"></script>
}

