﻿@model GMGColorDAL.CustomModels.ShareModel
@using System.Diagnostics
@using GMGColor.Resources;
@using GMGColorDAL
@{
    if (!Request.IsAjaxRequest())
    {
        Bundles.Reference("collaboratorshare");
    }
    GMGColorBusinessLogic.DbContextBL context = HttpContext.Current.Items[GMGColorDAL.DALUtils.DatabaseContext] as GMGColorBusinessLogic.DbContextBL;
}
<style type="text/css">
    .collaboratorshare-blocks.disable-presets .block-grid .preset-selector .preset, .collaboratorshare-blocks.disable-presets .add-user-control .btn-group
    {
        display: none;
    }
</style>
<!-- The CSS classes begin with "collaboratorshare" and "user", "group" must have. -->
@{
    string cssClss = Model.ShowPanel ? " modal-clear" : string.Empty;
    string cssStyle = Model.ShowPanel ? "display: block;" : "display: none;";
}
<div id="widgetDeliverShare" class="collaboratorshare">
    <div class="collaboratorshare-control@(cssClss)" style="@cssStyle">
        <div class="modal-header">
            <h3 class="widget-title">@Resources.lblWhoCanShareWith</h3>
        </div>
        <div class="collaboratorshare-base">
            <p class="collaboratorshare-message">@Resources.paragraphShare</p>
            <div class="collaboratoraccess-filters user-selector-header"></div>
            @{
                
                var defaultPreset = Model.NotificationsPresets.Select(p => p.ID).FirstOrDefault();
                var presetName = Model.NotificationsPresets != null && Model.NotificationsPresets.Count > 0 ? Model.NotificationsPresets.Select(p => p.Name).FirstOrDefault() : Resources.lblNoPresetsRelatedToDeliver;  
            }
            <label class="widget-default">@Html.HiddenFor(mdl => defaultPreset)</label>
            <div class="collaboratorshare-blocks">
                <div class="controls">
                    <div class="a-user-selector compact">
                        <h6 style="border: 0px!important">@Resources.lblExternalCollaborators</h6>
                        <div id="errSelectExternalUser" class="alert alert-error hide">@Resources.errPleaseSelectOneExternalUser</div>
                        <div class="empty-block-share alert alert-error hide">@Resources.reqShareWithExternalUsers</div>
                        <div class="empty-block-user alert alert-error hide">@Resources.reqFirstLastEmailRequired</div>
                        <div class="empty-block-email alert alert-error hide">@Resources.reqEmailAddress</div>
                        <div class="empty-block-email-exists alert alert-error hide">@Resources.reqEmailExist</div>
                        
                        <ul class="block-grid external two-up">
                            @for (int i = 0; i < Model.ExistingExternalUsers.Count; i++)
                            {
                                string fullName = Model.ExistingExternalUsers[i].GivenName + " " + Model.ExistingExternalUsers[i].FamilyName;

                                <li class="block external" block-id="@Model.ExistingExternalUsers[i].ID" block-preset="@defaultPreset">
                                    <dl  class="user-selector">
                                        <dt class="block-name">@(fullName)</dt>
                                        <dt class="block-email hide">@(Model.ExistingExternalUsers[i].EmailAddress)</dt>
                                        <dd class="block-preset a-meta">
                                            @(presetName)
                                        </dd>
                                        <dd class="a-avatar">
                                            <img src="@GMGColorDAL.User.GetDefaultImagePath(Model.Domain)" alt="exteranl user" width="24" height="24"/>
                                        </dd>
                                    </dl>
                                    <div class="preset-selector" pre-preset="@defaultPreset">
                                        <div class="btn-group pull-right">
                                            <a href="javascript:void(0);" data-toggle="dropdown" class="btn btn-mini dropdown-toggle ellipsisButton">
                                                <i class="icon-ellipsis-horizontal"></i>
                                            </a>
                                            <ul class="dropdown-menu pull-right">
                                                @if (Model.NotificationsPresets != null && Model.NotificationsPresets.Count() > 1)
                                                {
                                                    <li class="preset nav-header">@Resources.lblPreset</li>
                                                    for (int j = 0; j < Model.NotificationsPresets.Count(); j++)
                                                    {
                                                        <li class="preset @(Model.NotificationsPresets[j].Name.Trim())"><a href="javascript:void(0);" block-preset="@Model.NotificationsPresets[j].ID" title="@Model.NotificationsPresets[j].Name.Trim()">
                                                                                                                            @Model.NotificationsPresets[j].Name.Trim()</a> </li>
                                                    }
                                                    <li class="divider preset actions"></li>
                                                }
                                                <li class="actions remove">
                                                    <a href="javascript:void(0);" block-preset="-3" title="@Resources.lblRemove"><span class="icon-remove"></span>&nbsp;@Resources.lblRemove</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                        <ul class="block-template">
                            <li id="##DOMID##_b_##INDEX##" class="##CLASS##" block-id="##ID##" block-preset="##PRESET##">
                                <dl>
                                    <dt class="block-name">##NAME##</dt>
                                    <dt class="block-email hide">##EMAIL##</dt>
                                    <dd class="preset-selector" pre-preset="##PRESET##">
                                        <div class="btn-group pull-right">
                                            <a href="javascript:void(0);" data-toggle="dropdown" class="btn btn-mini dropdown-toggle ellipsisButton">
                                                <i class="icon-ellipsis-horizontal"></i>
                                            </a>
                                            <ul class="dropdown-menu pull-right">
                                                @if (Model.NotificationsPresets != null)
                                                {
                                                    if (Model.NotificationsPresets.Count() > 1)
                                                    {
                                                        <li class="preset nav-header">@Resources.lblPreset</li>
                                                        for (int j = 0; j < Model.NotificationsPresets.Count(); j++)
                                                        {
                                                            <li class="preset @(Model.NotificationsPresets[j].Name.Trim())"><a href="javascript:void(0);" block-preset="@Model.NotificationsPresets[j].ID" title="@Model.NotificationsPresets[j].Name.Trim()">
                                                                                                                                @Model.NotificationsPresets[j].Name.Trim()</a> </li>
                                                        }
                                                        <li class="divider preset actions"></li>
                                                    }
                                                    <li class="actions remove">
                                                        <a href="javascript:void(0);" block-preset="-3" title="@Resources.lblRemove"><span class="icon-remove"></span>&nbsp;@Resources.lblRemove</a>
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    </dd>
                                    <dd class="block-preset a-meta">
                                        ##PRESETNAME##
                                    </dd>
                                    <dd class="a-avatar">
                                        <img src="@GMGColorDAL.User.GetDefaultImagePath(Model.Domain)" alt="exteranl user" width="24" height="24"/>
                                    </dd>
                                </dl>
                            </li>
                        </ul>
                    </div>
                    @{
                        var serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
                        var existingEmails = Model.ExistingExternalUsers.Select(e => e.EmailAddress).ToList();
                    }
                    <div class="block active add-user-control form-inline" block-id="0" block-preset="@defaultPreset">
                        <input class="first-name input-mini" placeholder="@Resources.lblFirst" tabindex="3" type="text" name="deliver_share_firstname"/>
                        <input class="last-name input-mini" placeholder="@Resources.lblLast" tabindex="4" type="text" name="deliver_share_lastname"/>
                        <div class="preset-selector input-append" pre-preset="@defaultPreset">
                            <input class="email input-small" name="deliver_share_email" data-items="4" data-provide="typeahead" data-source="@serializer.Serialize(existingEmails)" placeholder="@Resources.lblEmail" tabindex="5" type="text" />
                            <div class="btn-group">
                                <button class="data-selector btn dropdown-toggle" data-toggle="dropdown" type="button">
                                    <span class="block-preset">@presetName</span>&nbsp;<span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    @if (Model.NotificationsPresets != null && Model.NotificationsPresets.Count > 0)
                                    {
                                        for (int j = 0; j < Model.NotificationsPresets.Count(); j++)
                                        {
                                            <li class="preset"><a href="javascript:void(0);" block-preset="@Model.NotificationsPresets[j].ID" title="@Model.NotificationsPresets[j].Name">
                                                                   @Model.NotificationsPresets[j].Name</a> </li>
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                        <select id="ext-language" class="span2">
                            @foreach (var lang in GMGColorDAL.Locale.GetLocalizeLocaleNames(context))
                            {
                                <option value="@lang.Key" @(Model.DefaultLanguage == lang.Key ? "selected" : String.Empty)>@lang.Value</option>
                            }
                        </select>
                        <button class="btn btn-success" tabindex="6" type="button" value="insert">@Resources.lblAdd</button>
                    </div>
                </div>
            </div>
            <div class="collaboratorshare-data">
                <label class="widget-data-emails">@Html.HiddenFor(mdl => mdl.ExternalEmails)</label>
                <label class="widget-data-users">@Html.HiddenFor(mdl => mdl.ExternalUsers)</label>
                <label class="widget-id-approval">@Html.HiddenFor(mdl => mdl.Approval)</label>
                <label class="widget-text-approval">@Resources.lblApproval.ToLower()</label>
                <label class="widget-text-folder">@Resources.lblFolder.ToLower()</label>
                <label class="widget-type">@Html.HiddenFor(mdl => mdl.IsFolder)</label>
            </div>
        </div>
    </div>
</div>
@if (Request.IsAjaxRequest())
{
<script src="@Url.Content("~/Content/js/codeflex/codeflex.share.js")"></script>
}
<script type="text/javascript">    
    $(document).ready(function () {
        if($.DirtyForms != null) {
            $('a[href="javascript:void(0);"]').addClass($.DirtyForms.ignoreClass);
        }

        var hasPresets = '@(Model.NotificationsPresets != null && Model.NotificationsPresets.Count > 0)'.toString().toLowerCase() == "true";
      
        //disable all controls from Access section if no presets are available
        if (!hasPresets) {
            $('.collaboratorshare-base :input').attr('disabled', true);
            $('.block-grid, .block-template').css({ 'pointer-events': 'none' }); //disable all controls within div with class 'block-grid' and 'block-template''
            $('.a-user-selector').css({ cursor: 'not-allowed'});
            $('.message').attr('disabled', 'disabled').val('');
        }
      
        // if 'New Job' popup from collaborate is shown then remove 'controls' class in order to display external users section correctly
        if ('@(Model.IsPopupShown)'.toString().toLowerCase() == "true") {
            $('.collaboratorshare-control.modal-clear .a-user-selector.compact').css({ 'margin-right': '1px' });
            $('.collaboratorshare-blocks .controls').removeClass('controls');
            $('.collaboratorshare-fields .controls').removeClass('controls');
            $('.message').removeClass('span5').addClass('span9');
        }
        $('#widgetDeliverShare').collaboratorShare({showpanel:@(Model.ShowPanel.ToString().ToLower()), externaltrigger: $('#aApprovalTrigger'), isFromDeliver: true}); 
    });
</script>
