﻿@model GMGColorDAL.CustomModels.DuplicateUser
@using GMGColor.Resources;
<div id="modalDuplicateUser" class="modal hide">
    @{
        string controllerName = Model.IsFromEditAccount ? "Account" : "Settings";
    }
    @using (Html.BeginForm("DuplicateUser", controllerName, FormMethod.Post, new { @class = "form-horizontal dirtyignore" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.DuplicatedUser, new { @id = "DuplicatedUser" })
        <div class="modal-header">
            <a href="javascript:void(0);" class="close" data-dismiss="modal" title="@Resources.btnClose" onclick="ResetModel();">
                &times;</a>
            <h3>@Resources.lblNewUserDetails</h3>
        </div>
        <div class="modal-body">
            <div class="control-group">
                <label class="control-label">@Resources.lblFirstName</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.FirstName)
                    @Html.ValidationMessageFor(m => m.FirstName)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">@Resources.lblLastName</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.LastName)
                    @Html.ValidationMessageFor(m => m.LastName)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">@Resources.lblEmail</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.EmailAddress)
                    @Html.ValidationMessageFor(m => m.EmailAddress)
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" type="button" value="cancel" onclick="ResetModel();">@Resources.btnCancel</button>
                <button class="btn btn-primary" type="submit" data-loading-text="@Resources.btnSaving">@Resources.btnSave</button>
            </div>
        </div>
    }
</div>
