﻿@using GMGColor.Resources
@model GMG.CoZone.Collaborate.UI.FileDownloadViewModel

<div id="modalFileDownload" class="modal hide">
    @using (Ajax.BeginForm("GetDownloadFilePath", "Base", null, new AjaxOptions { OnSuccess = "downloadSuccess", OnFailure = "downloadFailed", OnComplete = "downloadComplete", HttpMethod = "POST" }, new { @class = "form-horizontal dirtyignore" }))
    {
        @Html.AntiForgeryToken()
        <div class="modal-header">
            <a href="javascript:void(0);" class="close" data-dismiss="modal" title="@Resources.btnClose" onclick="ResetFileDownloadModel();">
                &times;</a>
            <h3>@Resources.lblFileDownload</h3>
        </div>
        <div id="ModelErrors" style="display: none;" class="validation-summary-errors">
            <ul id="errorsList">
            </ul>
        </div>
        <div class="modal-body">
            @Html.HiddenFor(model => model.FileIds, new {@data_val = false})
            @Html.HiddenFor(model => model.FolderIds, new {@data_val = false})
            @Html.HiddenFor(model => model.ApplicationModule, new {@data_val = false})
            @Html.HiddenFor(model => model.ShowAllFilesToAdmins, new {@data_val = false})
            @Html.HiddenFor(model => model.IsZipFileWhenDownloadingEnabled, new {@data_val = false})
            <div class="controls">
                <div class="control-group">
                    <label class="download-label">
                        @Resources.lblVersions
                    </label>
                    <div class="download-dropdown">
                        @Html.EnumDropDownListFor(model => model.DownloadVersionTypes, new {@id = "downloadVersionType"})
                    </div>
                </div>
                @if (Model.AccountPressets.Count > 1)
                {
                    <div class="control-group">
                        <label class="download-label">
                            @Resources.lblDestination
                        </label>
                        <div class="download-dropdown">
                            @Html.DropDownListFor(model => model.SelectedPresetId, new SelectList(Model.AccountPressets, "Key", "Value", Model.SelectedPresetId), new {@id = "downloadDestination"})
                        </div>
                    </div>
                }
                <div class="control-group">
                    <label class="download-label">
                            @Resources.lblFileType
                    </label>
                    <div class="download-dropdown">
                        @Html.EnumDropDownListFor(model => model.DownloadFileTypes, new {@id = "downloadFileType"})
                    </div>
                    <span id="fileTypeInfo" class="pull-left hide" style="font-size: large; margin: 6px 7px;" data-placement="top" data-original-title="@(Model.IsZipFileWhenDownloadingEnabled ? @Resources.lblFtpDownloadTypeInfoNative : @Resources.lblFtpDownloadTypeInfoZip)" rel="tooltip">
                        <i class="icon-exclamation-sign"></i>
                    </span>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" type="button" value="cancel" onclick="ResetFileDownloadModel();">@Resources.btnCancel</button>
            <button class="btn btn-primary" type="submit" id="DownloadFile" data-loading-text="@Resources.btnDownloading">@Resources.btnDownload</button>
        </div>
    }
</div>