﻿@model FileUploadModel
@using GMGColor.FileUpload
@using GMGColor.HtmlHelpers;
@using GMGColor.Resources
<div id="fileUpload_@(Model.Key)" class="fileupload controls" key="@(Model.Key)" max-file-size="@(Model.MaxFileSize * 1024)" use-dropzone="@Model.UseDropZone" acceptFileTypes="@Model.AcceptFileTypes" maxNumberOfFiles="@Model.MaxNumberOfFiles" style="@(Model.IsImportXls ? "display: inline-block; float: right; position: relative; top: -5px; margin-left: 10px !important" : "")">
    @if (Model.IsRequired)
    {
        <div>
            @Html.ValidationMessage("fileValidator")
        </div>
    }
    <span id="spnUploadBtn_@(Model.Key)" class="btn btn-primary fileinput-button" style="@(Model.UseDropZone ? "display:none;" : "display:block;")" >@*<i class="@Model.CssClass"></i>*@
        <span style="font-weight: 500;">@Model.UploadButtonCaption</span>
        <input type="button" id="hidbutton_@(Model.Key)"/>
        <input id="btnUpload_@(Model.Key)" @((Model.IsMultiple) ? "multiple" : "multiple") type="file" />
    </span><span class="help-inline">@Html.Raw(@Model.HelpInlineHtml)</span>
    <div class="clearfix" style="margin-top: 18px;"></div>
    <p class="help-block">@Html.Raw(@Model.HelpBlockHtml)</p>
    <!-- Drop Zone  -->
    @if (Model.UseDropZone)
    {
        <div id="dropzone_@(Model.Key)" class="dropzone fade">
            @Resources.txtDragAndDropCopy
        </div>
        <!--[if IE]>
           @* @Resources.txtIEDragAndDrop*@
        <![endif]-->
        <script type="text/javascript">
            $(document).ready(function () {
                window.locale.fileupload.errors.maxNumberOfFiles = '@(String.Format(Resources.errMaxNrOfFiles, Model.MaxNumberOfFiles ))';
                var isIE10 = window.navigator.msPointerEnabled;
                if (window.navigator.appName == "Microsoft Internet Explorer" && !isIE10) {
                        $('#dropzone_@(Model.Key)').hide();
                        $('#spnUploadBtn_@(Model.Key)').show();
                        return false;
                }
                else
                    {
                        $(document).bind('dragover', function (e) {
                            if (!$('#btnUpload_@(Model.Key)').attr('disabled')) {
                                var dropZone = $('#dropzone_@(Model.Key)'),
                                timeout = window.dropZoneTimeout;
                                if (!timeout) {
                                    dropZone.addClass('in');
                                } else {
                                    clearTimeout(timeout);
                                }
                                if (e.target === dropZone[0]) {
                                    dropZone.addClass('hover');
                                } else {
                                    dropZone.removeClass('hover');
                                }
                                window.dropZoneTimeout = setTimeout(function () {
                                    window.dropZoneTimeout = null;
                                    dropZone.removeClass('in hover');
                                }, 100);
                            }
                        });
                        //disable the default browser action for file drops on the document
                        $(document).bind('drop dragover', function (e) {
                            e.preventDefault();
                        });
                    }
                $('#dropzone_@(Model.Key)').click(function () {
                    if (!$('#btnUpload_@(Model.Key)').attr('disabled')) {
                        $('#btnUpload_@(Model.Key)').click();
                    }
                });
            });
        </script>
    }
    <script type="text/javascript">
        $("#hidbutton_@(Model.Key)").click(function (e) {
                $('#btnUpload_@(Model.Key)').click();
            });
            //mark form as dirty when files are uploaded
            $('#fileUpload_@(Model.Key)').on('fileuploaddone fileuploadstart fileuploaddestroy', function () {
                $('#fileUpload_@(Model.Key)').dirtyForms('setDirty');
            });
    </script>
    <!-- / Drop Zone  -->
    <!-- The table listing the files available for upload/download -->
    @{string fileName = !String.IsNullOrEmpty(Model.DefaultImagePath) ? "|" + Path.GetFileName(Model.DefaultImagePath.Split('?')[0])
                                                                      : !String.IsNullOrEmpty(Model.DispalyName) ?  "|" + Model.DispalyName : string.Empty;}
    @Html.Hidden("hdnFileName_" + Model.Key, fileName)
    <div style="@(Model.IsImportXls ? "position:relative;" : "")">
   <table id="tblUpload@(Model.Key)" class="table-upload" multirow="false" style="@(Model.IsImportXls ? "position:absolute; right: 0px; width: 500px; top: 10px;" : "")">
        <tbody class="files">
            @if (!String.IsNullOrEmpty(Model.DefaultImagePath) || !String.IsNullOrEmpty(Model.DispalyName))
            {
                <tr class="template-download fade in" style="height: 62px;">
                    <td class="">
                        @if (!String.IsNullOrEmpty(Model.DefaultImagePath))
                        {
                            <a href="javascript:void(0)">
                                <img alt="@Model.DispalyName"  src="@Model.DefaultImagePath" /></a>
                        }
                    </td>
                    <td class="name">
                        <label >@Model.DispalyName</label>
                    </td>
                    <td class="size">
                        @*<span>@FilesStatus.ConvertBytesToMegabytes(new FileInfo(Model.DefaultImagePath).Length) KB</span>*@
                    </td>
                    <td colspan="2"></td>
                    @if (Model.ShowDeleteButton)
                    {
                        <td class="delete">
                            <button class="btn btn-danger" data-type="DELETE" file-name="@fileName" file-size="">
                                <i class="icon-trash icon-white"></i>&nbsp;@Resources.lblDelete
                            </button>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
        <div class="merging-pdf hide" data-loading-image="imgSavingLoader" data-loading-text="@Resources.btnMerging">
            <a class="btn btn-danger" id="merge-btn" disabled="disabled">merge</a>
            @Html.Image("imgSavingLoader", "~/Content/img/loading-icon.gif", @Resources.lblLoading, new { @class = "hide" }, 30, 30)
        </div>
</div>

    <!-- / Upload Table-->
</div>
<script type="text/javascript">
    $('.merging-pdf').on('click', function (e, data) {
            $('#merge-btn').attr('disabled', 'disabled');
            $('#imgSavingLoader').show();
            $('#btnAddApproval').attr('disabled', 'disabled');
            var guids = "";
            var fileNames = "";
            var fileSizes = "";

            $('.template-download.fade.displaysuccess.in').each(function (i, v) {
                if (guids == "" && fileNames == "") {
                    guids = $('.template-download.fade.displaysuccess.in')[i].attributes[3].value;
                    fileNames = $('.template-download.fade.displaysuccess.in')[i].attributes[2].value;
                    fileSizes = $('.template-download.fade.displaysuccess.in')[i].attributes[1].value;
                } else {
                    guids = guids + "," + $('.template-download.fade.displaysuccess.in')[i].attributes[3].value;
                    fileNames = fileNames + "," + $('.template-download.fade.displaysuccess.in')[i].attributes[2].value;
                    fileSizes = fileSizes + "," + $('.template-download.fade.displaysuccess.in')[i].attributes[1].value;
                }
            });

            


            $.ajax({
                url: "/approvals/MergePdfFiles?guid="+guids+"&fileName="+fileNames+"&fileSize="+fileSizes,
                type: "GET",
                dataType: "json",
                success: function (data) {
                  
                    $('.merging-pdf').hide();
                    $('.template-download').remove();
                    var body = $('.files');
                    var filesizeinbytes = "";
                    if (data.filesize / 1000000 > 1) {
                        filesizeinbytes = (data.filesize / 1000000).toFixed(2) + " MB";
                    } else {
                        filesizeinbytes = (data.filesize / 1000).toFixed(2) + " KB";
                    }

                    body.append(
                        "<tr class=\"template-download fade displaysuccess in noWidth\" file-size="+data.filesize+" file-name="+data.filename+" file-guid="+data.fileguid+" style=\"display: block; height: 76px;\">" +
                        "<td class=\"preview\">" +
                        "<div class=\"fileUpload-imgContainer\">" +
                        "<div class=\"fileUpload-img\">" +
                        "<img src=\"../../Content/img/pdf.gif\">" +
                        "</div>" +
                        "</div>" +
                        "</td>" +
                        "<td class=\"name\">" +
                        "<input type=\"text\" value="+data.filename+" style=\"white-space: nowrap; height: 23px;\" class=\"approval-title\" maxlength=\"128\" name=\"ApprovalTitle_0\" onkeypress=\"return InputKeyPress(event);\">" +
                        "<input type=\"hidden\" value="+data.filename+" name=\"ApprovalFileName_0\">" +
                        "<input type=\"hidden\" value="+data.filesize+" name=\"ApprovalSize_0\">" +
                        "<input type=\"hidden\" value=\"NewJob\" name=\"ApprovalFileStatus_0\">" +
                        "<input type=\"hidden\" maxpage=\"1\" value=\"2249a0b57ead00a1\" name=\"PdfPagesCount_0\">" +
                        "<input type=\"hidden\" value="+data.fileguid+" name=\"FileGuid_0\">" +
                        "</td>" +
                        "<td class=\"size no-Wrap\"><span class=\"fileUpload-size\">" + filesizeinbytes + "</span></td>" +
                        "<td class=\"control-group name\">" +
                        "<select class=\"myclass 3\" data-selected=\"3\" id=\"ApprovalType_"+data.fileguid+"\" name=\"ApprovalType0\" style=\"height:33px\"><option value=\"1\">Image</option>" +
                        "<option value=\"2\">Video</option>" +
                        "<option value=\"3\">Document</option>" +
                        "<option value=\"4\">Audio</option>" +
                        "<option value=\"5\">HTML</option>" +
                        "</select>" +
                        "</td>" +
                        "<td class=\"size no-Wrap tagWordsInputbox\">" +
                        "<select id=\"tags_"+data.fileguid+"\" name=\"tags_"+data.fileguid+"\" multiple=\"multiple\"></select>" +
                        "</td>" +
                        "<td class=\"delete no-Wrap\">" +
                        "<button class=\"btn btn-danger\" data-type=\"HEAD\" data-url=\"/FileUpload/UploadHandler.ashx?f="+data.filename+"\" file-name="+data.filename+" pathtotempfolder="+data.path+">" +
                        "<i class=\"icon-trash icon-white\"></i>" +
                        "<span>Delete</span>" +
                        "</button>" +
                        "</td>" +
                        "</tr>"
                    );

                    $('.myclass.3')[0].value = 3;
                    BindSelect2Tagwords(data.fileguid);
                    $('#btnAddApproval').removeAttr('disabled');
                    $('#error-adding-multipleversions').addClass('hide');
                   
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    if (jqXHR.readyState == 0 || jqXHR.status == 0) {
                        return;
                    }
                    else {
                        $('.merging-pdf').replaceWith('<label>Error Merging Approvals' + textStatus + ' ' + errorThrown + '</label>');
                    }
                }
            });
    });
</script>

