﻿@model GMGColorDAL.CustomModels.PermissionsModel
@using GMGColor.Resources;
@using GMGColorDAL.CustomModels
@{
    GMGColorBusinessLogic.DbContextBL context = HttpContext.Current.Items[GMGColorDAL.DALUtils.DatabaseContext] as GMGColorBusinessLogic.DbContextBL;
    if (!Request.IsAjaxRequest())
    {
        Bundles.Reference("filetransferaccess");
    }
}
<!-- The CSS classes begin with "widget", "filetransferaccess" and others must have. :) -->
@{string cssClss = Model.ShowPanel ? " modal-clear" : string.Empty; string cssStyle = Model.ShowPanel ? "display: block;" : "display: none;";
    }
<div id="widgetPermissions" class="collaboratoraccess controls">
    <div class="collaboratoraccess-control@(cssClss)" style="@cssStyle">
        <div class="modal-header">
            <a href="javascript:void(0);" class="close" data-dismiss="modal" value="close">&times;</a>
            <h3 class="widget-title">
                @Resources.lblWhoCanAccessThis 
            </h3>
        </div>
        <div class="collaboratoraccess-base">
            <div id="carousel" class="collaboratoraccess-phases tabs-container">
                <div class="pull-left left-arrow" id="left"><i class="icon-angle-left icon-2x"></i></div>
                <div class="pull-right right-arrow" id="right"><i class="icon-angle-right icon-2x"></i></div>
                <div class="scrolling-container">
                    <div id="ulDiv" class="pull-left">
                        <ul class="nav nav-tabs"></ul>
                    </div>
                </div>
            </div>
            <div class="collaboratoraccess-filters user-selector-header">
                <ul class="nav nav-pills">
                    <li class=""><a href="javascript:void(0);" data-filter="all">@Resources.lblAll</a></li>
                    <li class=""><a href="javascript:void(0);" data-filter="members">@Resources.lblMembers</a></li>
                    <li class="pull-right">
                        <input class="search-query" name="search-text" placeholder="@Resources.lblEnterNameEmailOrGroup" type="text" />
                    </li>
                </ul>
            </div>
            <!-- /filters -->
            <div class="collaboratoraccess-blocks user-selector-container">
                <div class="a-user-selector compact">
                    @{  var groups = Model.SelectedUsersAndGroups.Where(o => o.IsExternal == false && o.IsGroup == true).ToList();
                        var users = Model.SelectedUsersAndGroups.Where(o => o.IsExternal == false && o.IsGroup == false).ToList();
                        var externalusers = Model.SelectedUsersAndGroups.Where(o => o.IsExternal == true && o.IsGroup == false).ToList();

                        if (groups.Count > 0)
                        {
                            <h6 class="block-header group">@Resources.lblCollaboratorGroups</h6>

                            <ul class="block-grid group two-up">
                                @for (int i = 0; i < groups.Count; i++)
                                {
                                    string placement = (i % 2 == 0) ? "right" : "left";
                                    <li class="block group cfg@(Model.SelectedUsersAndGroups[i].ID)" block-id="@Model.SelectedUsersAndGroups[i].ID" block-role="@Model.SelectedUsersAndGroups[i].ApprovalRole">
                                        <dl class="user-selector">
                                            <dt class="group">
                                                @Model.SelectedUsersAndGroups[i].Name
                                            </dt>
                                            <dd class="a-avatar">
                                                <img src="/Content/img/default-avatar-group.png" alt="default-avatar-group" width="24"
                                                     height="24" />
                                            </dd>
                                            <dd class="block-status hide">
                                                @*Added data val to false to remove js validation for performance reasons*@
                                                @Html.HiddenFor(mdl => mdl.SelectedUsersAndGroups[i].ID, new { data_val = "false" })
                                                @Html.HiddenFor(mdl => mdl.SelectedUsersAndGroups[i].IsGroup, new { data_val = "false" })
                                                @Html.HiddenFor(mdl => mdl.SelectedUsersAndGroups[i].ApprovalRole, new { data_val = "false" })
                                                @Html.CheckBoxFor(mdl => mdl.SelectedUsersAndGroups[i].IsChecked, new { data_val = "false" })
                                            </dd>
                                        </dl>
                                        <div class="role-selector">
                                            <div class="btn-group pull-right">
                                                <span class="cfca-popover badge badge-inverse" data-placement="@(placement)" data-original-title="Collaborators" data-content="@Model.SelectedUsersAndGroups[i].Members">@Model.SelectedUsersAndGroups[i].Count</span>
                                            </div>
                                        </div>
                                    </li>
                                }
                                <li class="block-empty group search-results" style="display: none;">
                                    <h6 class="text-center">@Resources.lblNoResultsWereFound</h6>
                                </li>
                            </ul>
                        }
                        if (users.Count > 0)
                        {
                            <h6 class="block-header user">@Resources.lblCollaborators</h6>
                            <ul class="block-grid user two-up">
                                @for (int i = groups.Count; i < (groups.Count + users.Count); i++)
                                {
                                <li class="block user @(Model.SelectedUsersAndGroups[i].Members)" block-id="@Model.SelectedUsersAndGroups[i].ID" block-role="@Model.SelectedUsersAndGroups[i].ApprovalRole">
                                    <dl class="user-selector">
                                        <dt class="block-name">
                                            <span class="lblUsername">
                                                @Model.SelectedUsersAndGroups[i].Name
                                            </span>
                                        </dt>
                                        <dd>
                                            @Model.SelectedUsersAndGroups[i].EmailAddress
                                        </dd>
                                        <dd class="a-avatar filetransfer-avatar">
                                            <img class="userAvatar" src="@GMGColorDAL.User.GetImagePath(Model.SelectedUsersAndGroups[i].ID, context)" alt="default-avatar-user" width="24" height="24" />
                                        </dd>
                                        <dd class="block-status hide">
                                            @Html.HiddenFor(mdl => mdl.SelectedUsersAndGroups[i].ID, new { data_val = "false" })
                                            @Html.HiddenFor(mdl => mdl.SelectedUsersAndGroups[i].IsExternal, new { data_val = "false" })
                                            @Html.HiddenFor(mdl => mdl.SelectedUsersAndGroups[i].IsGroup, new { data_val = "false" })
                                            @Html.HiddenFor(mdl => mdl.SelectedUsersAndGroups[i].ApprovalRole, new { data_val = "false" })
                                            @Html.CheckBoxFor(mdl => mdl.SelectedUsersAndGroups[i].IsChecked, new { data_val = "false" })
                                        </dd>
                                    </dl>
                                    <div class="role-selector filetransfer" pre-role="@Model.SelectedUsersAndGroups[i].ApprovalRole">
                                        <div class="btn-group pull-right">
                                            <a href="javascript:void(0);" data-toggle="dropdown" class="btn btn-mini dropdown-toggle ellipsisButton">
                                                <i class="icon-ellipsis-horizontal"></i>
                                            </a>
                                            <ul class="dropdown-menu pull-right">

                                                <li class="actions remove">
                                                    <a href="javascript:void(0);" block-role="-3" title="@Resources.lblRemove">
                                                        <span class="icon-remove"></span>&nbsp;@Resources.lblRemove
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                }
                                <li class="block-empty user search-results" style="display: none;">
                                    <h6 class="text-center">@Resources.lblNoResultsWereFound</h6>
                                </li>
                            </ul>
                        }
                        if (externalusers.Count > 0)
                        {
                            <h6 class="block-header external">@Resources.lblExternalCollaborators</h6>
                            <ul class="block-grid external two-up">
                                @for (int i = (groups.Count + users.Count); i < (groups.Count + users.Count + externalusers.Count); i++)
                                {
                                    <li class="block external @(Model.SelectedUsersAndGroups[i].Members)" block-id="@Model.SelectedUsersAndGroups[i].ID" block-role="@Model.SelectedUsersAndGroups[i].ApprovalRole">
                                        <dl class="user-selector">
                                            <dt class="block-name">
                                                @Model.SelectedUsersAndGroups[i].Name
                                            </dt>
                                            <dd class="block-role a-meta">
                                                @Model.SelectedUsersAndGroups[i].Role
                                            </dd>
                                            <dd class="a-avatar filetransfer-avatar">
                                                <img src="@GMGColorDAL.User.GetDefaultImagePath(Model.Domain)" alt="default-avatar-user" width="24" height="24" />
                                            </dd>
                                            <dd class="block-status hide">
                                                @Html.HiddenFor(mdl => mdl.SelectedUsersAndGroups[i].ID, new { data_val = "false" })
                                                @Html.HiddenFor(mdl => mdl.SelectedUsersAndGroups[i].IsExternal, new { data_val = "false" })
                                                @Html.HiddenFor(mdl => mdl.SelectedUsersAndGroups[i].IsGroup, new { data_val = "false" })
                                                @Html.HiddenFor(mdl => mdl.SelectedUsersAndGroups[i].ApprovalRole, new { data_val = "false" })
                                                @Html.CheckBoxFor(mdl => mdl.SelectedUsersAndGroups[i].IsChecked, new { data_val = "false" })
                                            </dd>
                                        </dl>
                                        <div class="role-selector filetransfer" pre-role="@Model.SelectedUsersAndGroups[i].ApprovalRole">
                                            <div class="btn-group pull-right">
                                                <a href="javascript:void(0);" data-toggle="dropdown" class="btn btn-mini dropdown-toggle ellipsisButton">
                                                    <i class="icon-ellipsis-horizontal"></i>
                                                </a>
                                                <ul class="dropdown-menu pull-right">
                                                    <li class="actions remove">
                                                        <a href="javascript:void(0);" block-role="-3" title="@Resources.lblRemove">
                                                            <span class="icon-remove"></span>&nbsp;@Resources.lblRemove
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                }
                                <li class="block-empty external search-results" style="display: none;">
                                    <h6 class="text-center">@Resources.lblNoResultsWereFound</h6>
                                </li>
                            </ul>
                        }
                    }
                </div>
            </div>
            <!-- /blocks -->
            <div class="collaboratoraccess-data">
                @{ var serializer = new System.Web.Script.Serialization.JavaScriptSerializer() { MaxJsonLength = int.MaxValue }; }
                <label class="widget-default-users hidden">@(serializer.Serialize(Model.SelectedUsersAndGroups.Select(o => o.ID + "|" + Model.SelectedUsersAndGroups.Where(u => u.ID == o.ID && !u.IsGroup && !u.IsExternal).Select(r => r.ApprovalRole).FirstOrDefault()).ToArray()))</label>
                <label class="widget-text-approval">@Resources.lblApproval.ToLower()</label>
                <label class="widget-text-folder">@Resources.lblFolder.ToLower()</label>
                <label class="widget-dirty-data hidden"></label>
                @Html.HiddenFor(m => m.PhasesCollaborators)
            </div>
            <!-- /data -->
        </div>
        <div class="collaboratoraccess-events modal-footer">
            <div class="clearboth">
                @*<div id="approverAndReviewerErr" class="pull-left field-validation-error" style="max-width: 319px!important; text-align: left; display:none">
                    <strong>@Resources.lblNote</strong> @Resources.SelectAtLeastOneApproverAndReviewer
                </div>
                <div id="pdmApproverAndReviewerErr" class="pull-left field-validation-error" style="max-width: 319px!important; text-align: left; display:none">
                    <strong>@Resources.lblNote</strong> @Resources.PdmApproverAndReviewerErr
                </div>*@
                <div class="pull-right">
                    <button class="btn" data-dismiss="modal" type="button" value="cancel">
                        @Resources.btnCancel
                    </button>
                    <button class="btn btn-primary" action="ModifyPermissions" data-loading-text="@Resources.btnSaving" type="button" value="submit">
                        @Resources.btnSaveChanges
                    </button>
                </div>
            </div>
        </div>
    </div>
    @if (Model.ShowPanel)
    {
        <div class="collaboratoraccesse-panel">
            <p class="help-block" style="padding-top: 5px;">

            </p>
        </div>
    }
</div>
@if (Request.IsAjaxRequest())
{
    <script src="@Url.Content("~/Content/js/codeflex/codeflex.permissions.js")"></script>
}
<script type="text/javascript">
    var aptgr = $('#aApprovalTrigger');
    $(document).ready(function() {
        $('#widgetPermissions').fileTransferAccess({ creator: @(Model.Creator), modifier: @(Model.Modifier), showpanel: @(Model.ShowPanel.ToString().ToLower()), externaltrigger: aptgr, trigger: $('#aApprovalTrigger'), refresh: @(Model.Refresh.ToString().ToLower()), isPhaseScreen:@(Model.IsPhaseScreen.ToString().ToLower()), isNewApproval: @(Model.IsNewApproval.ToString().ToLower()), applyParentPermissions: @(Model.InheritParentFolderPermissions.ToString().ToLower())});
        $("#aApprovalTrigger").mouseover(function () {
            var selectedUserRoles = new Array();
            $("#widgetPermissions ul.user li.active").each(function(i, v) {
                selectedUserRoles[selectedUserRoles.length] = "\"" + $(v).attr("block-id") + "|" + $(v).attr("block-role") + "\"";
            });
            $(this).attr("widget-users", "[" + selectedUserRoles.join(",") + "]");
        });
        $('.cfca-popover').popover({ html : true , trigger: 'hover' });
    });

    $('#left').on('click', function() {
        var item = $('ul.nav-tabs').find('li.active');
        $('.scrolling-container').animate({ scrollLeft: '-=' + ($(item).outerWidth(true)  * 1) }, 400);

         window.setTimeout('showHideArrow()', 300);
    });

    $('#right').on('click', function() {
        var item = $('ul.nav-tabs').find('li.active');
        $('.scrolling-container').animate({ scrollLeft: '-=' + ($(item).outerWidth(true)  * (-1)) }, 400);

        window.setTimeout('showHideArrow()', 300);
    });

    function showHideArrow() {
        var lastTabRightPos = ($('ul.nav-tabs li:last').offset().left + $('ul.nav-tabs li:last').width());
        var firstTabLeftPos = $('ul.nav-tabs li:first').offset().left;
        var scrollingDivRighttPos = $('.scrolling-container').offset().left + $('.scrolling-container').width();

        if (lastTabRightPos == 0 || firstTabLeftPos == 0) {//this is the case when workflow is changed
             $('#right').css('display', 'block');
             $('#left').css('display', 'none');
        } else {
            $('.scrolling-container').width('489px');
            //hide/show next arrows
            if (lastTabRightPos > scrollingDivRighttPos) {
                $('#right').css('display', 'block');
            } else {
                $('#right').css('display', 'none');
            }

            //hide/show prev arrows
            if (firstTabLeftPos < $('.scrolling-container').offset().left) {
                $('#left').css('display', 'block');
            } else {
                $('#left').css('display', 'none');
                $('.scrolling-container').width('500px');
            }
        }
    }

</script>
