﻿@model FileUploadModel
@using GMGColor.FileUpload
@using GMGColor.Resources
<div class="hide">
    <!-- Account Region -->
    @Html.Hidden("accountRegion", Model.AccountRegion)
    <!-- The temporary folder path to upload files -->
    @Html.Hidden("pathToTempFolder", Model.PathToTempFolder)
    <!-- is new job version -->
    @Html.Hidden("isNewVersionRequest", Model.IsNewVersionRequest)
    <!-- Approval Folder Id -->
    @Html.Hidden("approvalFolderId", Model.ApprovalFolderId)
    <!-- Uploader User Id -->
    @Html.Hidden("uploader", Model.Uploader)
    <!-- Localization -->
    <label class="resource-error">@Resources.lblError</label>
    <label class="resource-cancel">@Resources.btnCancel</label>
    <label class="resource-destroy">@Resources.lblDelete</label>
</div>
<!-- The template to display files available for upload -->
<script type="text/javascript">
    function InputKeyPress(e) {
        if (!e)
            e = window.event;
        var keyCode = e.keyCode || e.which;
        if (keyCode == 13) {
            return false;
        }

        return true;
    }
</script>
<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
        <td class="preview"><span class="fade"></span></td>
        <td class="name"><strong>{%=file.name%}</strong></td>
        <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
        {% if (file.error) { %}
        @if(!Model.IsNewVersionRequest)
        {
        <td class="error" colspan="2">
            <span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}
        </td>
        }
        else
        {
        <td class="error" colspan="2">
            <span class="label label-important">{%=locale.fileupload.error%}</span> @Resources.errMoreThanOneFile
        </td>
        }
        {% } else if (o.files.valid && !i) { %}
        <td>
            <div class="progress progress-success progress-striped active">
                <div class="bar" style="width:0%;"></div>
            </div>
        </td>
        <td class="start">{% if (!o.options.autoUpload) { %}
            <button class="btn btn-primary">
                <i class="icon-upload icon-white"></i>
                <span>{%=locale.fileupload.start%}</span>
            </button>
        {% } %}
        </td>
        {% } else { %}
        <td colspan="2"></td>
        {% } %}
        <td class="cancel">{% if (!i) { %}
            <button class="btn btn-primary">
                <i class="icon-ban-circle icon-white"></i>
                <span>{%=locale.fileupload.cancel%}</span>
            </button>
        {% } %}
        </td>
    </tr>
{% } %}
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
{% enableReload = true; var re = /(.*)\.[^.]+$/; %}
{% var j = ($('table.table-upload tr.template-download').length) + ''; %}
{% for (var i=0, file; file=o.files[i]; i++) { %}
    
    {% var displayerror; if (file.error){ displayerror="";}else{ displayerror="display:none"; } %}
    {% var displaysuccess; if (file.error){ displaysuccess="display:none";}else{ displaysuccess="display:block"; } %}

    {% var fileHtmlList= file.fileHtmlDimensions != null ? file.fileHtmlDimensions.replace(/\\/g, "\\\\") : null ; %}
 
       {% var htmlFiles = ( (fileHtmlList != null) ? JSON.parse(fileHtmlList): null); %}


    <tr class="template-download fade displayerror noWidth" file-size="{%=file.size%}" file-name="{%=file.name%}" style="{%=displayerror%}">
        <td ></td>
        <td class="name no-Wrap"><span>{%=file.name%}</span></td>
        <td class="size no-Wrap"><span>{%=o.formatFileSize(file.size)%}</span></td>
        <td class="error no-Wrap" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
        
        <td class="delete no-Wrap">
            <button class="btn btn-danger" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}" file-name="{%=file.name%}" pathToTempFolder="@Model.PathToTempFolder{%=file.fileguid%}">
                <i class="icon-trash icon-white"></i>
                <span>{%=locale.fileupload.destroy%}</span>
            </button>            
        </td>
    </tr>

    <tr class="template-download fade displaysuccess" file-size="{%=file.size%}" file-name="{%=file.name%}" file-guid="{%=file.fileguid%}" style="{%=displaysuccess%}">
        <td class="preview">{% if (file.thumbnail_url) { %}
            <div class="fileUpload-imgContainer">
                <div class="fileUpload-img">
                    <img src="{%=file.thumbnail_url%}">
                </div>
            </div>    
        {% } %}</td>
        <td class="name">
            <input type="text" value="{%=re.exec(file.name)[1]%}" style="white-space: nowrap; height: 23px;" class="approval-title" maxlength="128" name="ApprovalTitle_{%=j%}" onkeypress="return InputKeyPress(event);" />

            @if (Model.UseLabelForFileName)
            {
                if (string.IsNullOrEmpty(Model.DispalyName))
                {
                    <span>{%=file.name%}</span>
                }
                else
                {
                    @Html.Raw(Model.DispalyName)
                }
                @*<input class="approvalTitle" type="hidden" value="{%=re.exec(file.name)[1]%}" name="ApprovalTitle_{%=j%}" />*@
            }
            @*else
            {
                <input type="text" value="{%=re.exec(file.name)[1]%}" style="white-space: nowrap; height: 23px;" class="approval-title" maxlength="128" name="ApprovalTitle_{%=j%}" onkeypress="return InputKeyPress(event);"/>
            }*@
            <input type="hidden" value="{%=file.name%}" name="ApprovalFileName_{%=j%}" />
            <input type="hidden" value="{%=file.size%}" name="ApprovalSize_{%=j%}" />
            <input type="hidden" value="{%=file.approvalFileStatus%}" name="ApprovalFileStatus_{%=j%}" />
            <input type="hidden" maxpage="{%=file.pagesCount%}" value="{%=file.encryptedPagesCount%}" name="PdfPagesCount_{%=j%}" />
            <input type="hidden" value="{%=file.fileguid%}" name="FileGuid_{%=j%}" />         
        </td>
        <td class="size no-Wrap"><span class="fileUpload-size">{%=o.formatFileSize(file.size)%}</span></td>
        <td class="control-group name">
            @Html.DropDownList("ApprovalType{%=j%}", new List<SelectListItem>
            {
                new SelectListItem{ Text="Image", Value = "1" },
                new SelectListItem{ Text="Video", Value = "2" },
                new SelectListItem{ Text="Document", Value = "3"  },
                new SelectListItem{ Text="Audio", Value = "4" },
                new SelectListItem{ Text="HTML", Value = "5" }
            }, new { @id = "ApprovalType_{%=file.fileguid%}", @class = "myclass {%=file.ApprovalTypeValue%}", @style ="height:33px", data_selected = "{%=file.ApprovalTypeValue%}" })
        </td>
        @if(Model.IsDisableTagwordsInDashbord)
        {
        <td class="size no-Wrap tagWordsInputbox">
            <select id="tags_{%=file.fileguid%}" name="tags_{%=file.fileguid%}" multiple="multiple"></select>
        </td>
        }
        <td class="delete no-Wrap">
            <button class="btn btn-danger" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}" file-name="{%=file.name%}" pathToTempFolder="@Model.PathToTempFolder{%=file.fileguid%}">
                <i class="icon-trash icon-white"></i>
                <span>{%=locale.fileupload.destroy%}</span>
            </button>            
        </td>
    </tr>


        {% if(htmlFiles != null){ for (var k=0, hfile; hfile=htmlFiles.htmlfileList[k]; k++){  %}

        <tr class="template-download fade displaysuccess" style="{%=displaysuccess%}" file-guid="{%=file.fileguid%}">
            <td class="ziphtmlfileSize"><span>{%=hfile.fileFolderPath%}</span></td>
            <td class="ziphtmlfilename">
                <input type="hidden" value="{%=hfile.filePath%}" name="HtmlFileDimensionlist_{%=j%}_{%=k+1%}" />
                {% if (hfile.Width == 0) { %}
                 W: <input type="text" value="{%=hfile.Width%}" class="approval-title" name="fileWidth_{%=j%}_{%=k+1%}" style="border: 1px solid #e62020;" />
                 H: <input type="text" value="{%=hfile.Height%}" class="approval-title" name="fileHeight_{%=j%}_{%=k+1%}" style="border: 1px solid #e62020;"/>
                {% } else { %}
                W: <input type="text" value="{%=hfile.Width%}" class="approval-title" name="fileWidth_{%=j%}_{%=k+1%}" />
                H: <input type="text" value="{%=hfile.Height%}" class="approval-title" name="fileHeight_{%=j%}_{%=k+1%}" />
                {% } %}
            </td>
        </tr>
        {% }} %}

        {% } %}
</script>

