﻿@model GMGColorDAL.CustomModels.ApprovalsFilterModel
@using GMGColor.Resources;
@{
    int tab = ViewBag.Tab;
    bool viewAll = ViewBag.ViewAll == null ? false : ViewBag.ViewAll;
}
<div id="modalTagwordsReportFilter" class="modal hide" style="width:1166px; margin-left: -583px;">
        <div class="modal-header">
            <a href="javascript:void(0);" class="close" data-dismiss="modal" title="@Resources.btnClose" onclick="ResetModelAlert();">&times;</a>
            <h3 style="display: inline;">@Resources.lbltagwordstitle </h3>
            <div class="form-search tagwordsSearchfilter">
                <div class="input-append">
                    @Html.Hidden("SearchText", "0", new { id = "hdnSearchText" })
                    @Html.TextBoxFor(model => model.SearchText, new { id = "txtSearch12", @class = "input-medium search-query" })
                    @*<button id="btnSearchText" type="submit" class="btn cancel" name="action" value="SearchPredefinedTagwords" onclick="$('#hdnSearchText')[0].value = $('#txtSearch').val();">
                        @Resources.btnSearch
                    </button>*@
                    <button id="btnSearch" class="btn cancel" onclick="searchRelatedTagword();">@Resources.btnSearch</button>
                </div>
            </div>
        </div>
        <div class="modal-body viewAlltagwords" style="min-height:450px; max-height:450px;">
           <div class="tagwordsAlphabetsOrder">
               <span class="alaphabetorder all filterActive" onclick="selectedAlphabet('All');">All</span><span class="alaphabetorder num" onclick="selectedAlphabet('#');">#</span><span class="alaphabetorder a" onclick="selectedAlphabet('A');">A</span><span class="alaphabetorder b" onclick="selectedAlphabet('B');">B</span><span class="alaphabetorder c" onclick="selectedAlphabet('C');">C</span><span class="alaphabetorder d" onclick="selectedAlphabet('D');">D</span><span class="alaphabetorder e" onclick="selectedAlphabet('E');">E</span><span class="alaphabetorder f" onclick="selectedAlphabet('F');">F</span><span class="alaphabetorder g" onclick="selectedAlphabet('G');">G</span>
               <span class="alaphabetorder h" onclick="selectedAlphabet('H');">H</span><span class="alaphabetorder i" onclick="selectedAlphabet('I');">I</span><span class="alaphabetorder j" onclick="selectedAlphabet('J');">J</span><span class="alaphabetorder k" onclick="selectedAlphabet('K');">K</span><span class="alaphabetorder l" onclick="selectedAlphabet('L');">L</span><span class="alaphabetorder m" onclick="selectedAlphabet('M');">M</span><span class="alaphabetorder n" onclick="selectedAlphabet('N');">N</span><span class="alaphabetorder o" onclick="selectedAlphabet('O');">O</span><span class="alaphabetorder p" onclick="selectedAlphabet('P');">P</span>
               <span class="alaphabetorder q" onclick="selectedAlphabet('Q');">Q</span><span class="alaphabetorder r" onclick="selectedAlphabet('R');">R</span><span class="alaphabetorder s" onclick="selectedAlphabet('S');">S</span><span class="alaphabetorder t" onclick="selectedAlphabet('T');">T</span><span class="alaphabetorder u" onclick="selectedAlphabet('U');">U</span><span class="alaphabetorder v" onclick="selectedAlphabet('V');">V</span><span class="alaphabetorder w" onclick="selectedAlphabet('W');">W</span><span class="alaphabetorder x" onclick="selectedAlphabet('X');">X</span><span class="alaphabetorder y" onclick="selectedAlphabet('Y');">Y</span><span class="alaphabetorder z" onclick="selectedAlphabet('Z');">Z</span>
           </div>
            <hr style="margin: 15px -15px 20px -15px;" />
            <div class="allTagwordsPopup">
                <div class="loopTagwords"></div>
                @*@foreach (var tagword in Model.allTagwords)
                {
                    <span class="unselectedtagwordinpopup @tagword.Id @tagword.tagword[0]-word" tagId="@tagword.Id" onclick="CheckinTagword(@tagword.Id, '@tagword.tagword[0]');">
                        <i class="icon-check-empty"></i>
                        <span style="padding:10px;">@tagword.tagword</span>
                        <span>@tagword.count</span>
                    </span>
                }*@
            </div>
        </div>
        <div class="foldertree-events modal-footer clearboth">
            <div class="pull-right" style="display:inline-flexbox">
                <a class="btn closepopup" href="javascript:void(0);" data-dismiss="modal" class="close" title="@Resources.btnCancel">@Resources.btnClose</a>
                <span class="btn btn-primary" onclick="SelectedTagwordsInAllPopup();">@Resources.lblAdd</span>
            </div>
        </div>
</div>


<script type="text/javascript">

    function LoadAllTagwords(data) {
        var tag = $('.allTagwordsPopup')
        tag.append("<div class=\"loopTagwords\"></div>");
        var tag1 = $('.loopTagwords');
        $.each(data.tagwords, function (index, item) {
            tag1.append("<span class=\"unselectedtagwordinpopup " + item.Id + " " + item.tagword[0] + "-word" + "\" tagId=" + item.Id + " onclick=\"CheckinTagword(" + item.Id + "," + "'" + item.tagword[0]+ "'" +");\">" +
                        "<i class=\"icon-check-empty\"></i>" +
                       "<span style=\"padding:10px;\">" + item.tagword + "</span>" +
                       "<span>" + item.count + "</span></span>");
        });
    }


    function searchRelatedTagword() {
        var text = $('#txtSearch12').val();
        $.ajax({
            type: "GET",
            url: '/Widget/GetSearchRelatedTagwords?&searchText=' + text,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            cache: false,
            success: function (data) {
                $('.unselectedtagwordinpopup').hide();
                $('.selectedtagwordinpopup').hide();
                $.each(data.tagwords, function (index, item) {
                    //class="unselectedtagwordinpopup 1 B-word"
                    $('.unselectedtagwordinpopup.' + item.Id + '.' + item.tagword[0] + '-word').show();
                    $('.selectedtagwordinpopup.' + item.Id + '.' + item.tagword[0] + '-word').show();
                });
            },
            error: function (jqXHR, textStatus, errorThrown) {
                if (jqXHR.readyState == 0 || jqXHR.status == 0) {
                    return;
                }
                else {
                    $('.allTagwordsPopup').replaceWith('<label>Error Loading list ' + textStatus + ' ' + errorThrown + '</label>');
                }
            }
        });
    }


    function selectedAlphabet(alphabet){
        if($('.filterActive').length > 0){
            var firstClassName = $('.filterActive')[0].classList[0];
            var secondClassName =  $('.filterActive')[0].classList[1];
            $('.filterActive')[0].className = firstClassName + " " + secondClassName;
        }
        if(alphabet == 'All'){
            $('.alaphabetorder.all')[0].className = "alaphabetorder all filterActive"
            $('.unselectedtagwordinpopup').show();
            $('.selectedtagwordinpopup').show();
        } else{
            if(alphabet == '#'){
                $('.alaphabetorder.num')[0].className = "alaphabetorder num filterActive"
                $('.unselectedtagwordinpopup').hide();
                $('.selectedtagwordinpopup').hide();
                $('.0-word').show();
                $('.1-word').show();
                $('.2-word').show();
                $('.3-word').show();
                $('.4-word').show();
                $('.5-word').show();
                $('.6-word').show();
                $('.7-word').show();
                $('.8-word').show();
                $('.9-word').show();
            } else{
                var aplha = alphabet.toLowerCase();
                $('.alaphabetorder.'+ aplha)[0].className = "alaphabetorder "+ aplha + " filterActive"
                $('.unselectedtagwordinpopup').hide();
                $('.selectedtagwordinpopup').hide();
                $('.'+alphabet+"-word").show();
                $('.'+aplha+"-word").show();
            }
        }
    }


    function CheckinTagword(id, alphabet) {
        if ($('.unselectedtagwordinpopup.' + id).length > 0) {
            if ($('.unselectedtagwordinpopup.' + id)[0].children[0].className == "icon-check-empty") {
                $('.unselectedtagwordinpopup.' + id)[0].children[0].className = "icon-check";
                $('.unselectedtagwordinpopup.' + id)[0].className = "selectedtagwordinpopup" + " " + id + " " + alphabet + "-word"
            }
        }
        else {
            if ($('.selectedtagwordinpopup.' + id)[0].children[0].className == "icon-check") {
                $('.selectedtagwordinpopup.' + id)[0].children[0].className = "icon-check-empty";
                $('.selectedtagwordinpopup.' + id)[0].className = "unselectedtagwordinpopup" + " " + id + " " + alphabet + "-word"
            }
        }
    }


    function SelectedTagwordsInAllPopup() {
        var currentTab = @tab;
        var sa = $('.tagwordstitle');
        var selectedApprovalTypes = '';
        var selectedTagwords = '';
        var selectedTagwordsCount = $('.selectedtagwordinpopup').length;
        if (selectedTagwordsCount > 0) {
            for (var i = 0; i < selectedTagwordsCount; i++) {
                var tagword = '';
                var tagwordCount = '';
                var id = $('.selectedtagwordinpopup')[i].attributes[1].value;
                if (selectedTagwords == '') {
                    selectedTagwords = id;
                } else {
                    selectedTagwords = selectedTagwords + ',' + id;
                }
                tagword = $('.selectedtagwordinpopup')[i].children[1].innerText;
                tagwordCount = $('.selectedtagwordinpopup')[i].children[2].innerText;
                sa.append("<span class=\"selectedtagword\" id=" + id + ">" +
                           "<span class=\"tagwordText\">"  + tagword + "</span>" +
                           "<span class=\"tagwordCount\">" + tagwordCount + "</span>");
            }
            $('#hdnSelectedTagwordIds').val(selectedTagwords);
            for(var i = 0; i < selectedTagwordsCount; i++){
                var id = $('.selectedtagwordinpopup')[0].attributes[1].value;
                tagword = $('.selectedtagwordinpopup')[0].children[1].innerText;
                $('.selectedtagwordinpopup')[0].children[0].className = "icon-check-empty";
                $('.selectedtagwordinpopup')[0].className = "unselectedtagwordinpopup" + " " + id + " " + tagword[0] + "-word";
            }
            $("#clearAll").show();
            var checkedInTypes = $('.approvaltypecheckbox').find('[type="checkbox"]:checked').length;
            if (checkedInTypes > 0) {
                for (var i = 0; i < checkedInTypes; i++) {
                    if (selectedApprovalTypes == '') {
                        selectedApprovalTypes = $('.approvaltypecheckbox').find('[type="checkbox"]:checked')[i].name;
                    } else {
                        selectedApprovalTypes = selectedApprovalTypes + ',' + $('.approvaltypecheckbox').find('[type="checkbox"]:checked')[i].name;
                    }
                }
            }
            GetTagwordsandApprovalTypeCount(selectedApprovalTypes, selectedTagwords, currentTab);

        }
        $('.unselectedtagwordinpopup').show();
        $('#txtSearch12')[0].value = "";
        $('.closepopup').click()
    }
    </script>