﻿@model GMGColorDAL.CustomModels.ApprovalsFilterModel
@using GMGColor.Resources;

@{ 
    int tab = ViewBag.Tab;
    bool viewAll = false;
    bool IsFromProjectFolder = tab == 0;
}

<div id="modalApprovalReportFilter" class="modal hide" style="margin-left:-225px; width:500px;">
        <div class="modal-header">
            <a href="javascript:void(0);" class="close" data-dismiss="modal" title="@Resources.btnClose" onclick="ResetModelAlert();">&times;</a>
            <h3>@Resources.lblFilter </h3>
        </div>
        <div class="foldertree-base modal-body" style="min-height:450px; max-height:500px;">
            @if (!IsFromProjectFolder)
            {
            <div style="height:160px;">
                <div class="text-center" style="margin: 0 14px;"></div>
                <strong style="margin-left:15px;">ApprovalType</strong>
                <label class="checkbox approvaltypecheckbox Image" style="margin-top:15px;" onclick="selectedApprovalType(1);">
                    @Html.CheckBoxFor(m => m.Image)
                    @Resources.lblimage
                    <span class="filterimageapprovaltypecount">@Model.NoOfImageApprovals  results</span>
                </label>
                <label class="checkbox approvaltypecheckbox Document" onclick="selectedApprovalType(2);">
                    @Html.CheckBoxFor(m => m.Document)
                    @Resources.lbldocument
                    <span class="filterdocumentapprovaltypecount">@Model.NoOfDocumentApprovals  results</span>
                </label>
                <label class="checkbox approvaltypecheckbox Video" onclick="selectedApprovalType(3);">
                    @Html.CheckBoxFor(m => m.Video)
                    @Resources.lblvideo
                    <span class="filtervideoapprovaltypecount">@Model.NoOfVideoApprovals results</span>
                </label>
                <label class="checkbox approvaltypecheckbox Html" onclick="selectedApprovalType(4);">
                    @Html.CheckBoxFor(m => m.HTML)
                    @Resources.lblhtml
                    <span class="filterhtmlapprovaltypecount">@Model.NoOfHTMLApprovals results</span>
                </label>
            </div>
            }
            <hr style="margin: 0 -15px;"/>
            <div class="tagwordstitle">
                <div style="margin-bottom: 10px;">
                    <h4 style="display: inline;">@Resources.lbltagwordstitle</h4>
                    <a class="hide" style="margin-left: 10px;" id="clearAll" onclick="clearSelectedTagwords()">clearAll</a>
                </div>
            </div>
            <div class="tagwordsDiv">
                <div class="filteredtagwordsdiv">
                    @foreach (var tagword in Model.tagwords)
                {
                        <span class="unselectedtagword @tagword.Id" id="@tagword.Id" onclick="selectedTagword(@tagword.Id);">
                            <span class="tagwordText">@tagword.tagword</span>
                            <span class="tagwordCount">@tagword.count</span>
                        </span>
                    }
                    <div class="hide">
                        <button class="btn pull-right btn-border" onclick="openTagwordsFilterPopup(this, false);" type="button">
                            @Resources.lblviewAllTagwords
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="foldertree-events modal-footer clearboth">
            <div class="pull-right" style="display:inline-flexbox">
                <a class="btn" href="javascript:void(0);" data-dismiss="modal" class="close" title="@Resources.btnCancel">@Resources.btnCancel</a>
                @using (Html.BeginForm("", "Approvals", FormMethod.Post, new { @class = "form-horizontal dirtyignore", id = "formSearch", style = "display: inline-block; margin-left: 5px;" }))
                {
                    @Html.AntiForgeryToken()
                    string searchText = ViewBag.SearchText;
                    <div class="form-search clearboth">
                        <div class="input-append">
                            @Html.Hidden("SelectedPage", tab, new { id = "hdnSelectedPageIdInFilterCount", @data_val = false })
                            @Html.Hidden("SelectedApprovalType", null, new { id = "hdnSelectedApprovalTypes", @data_val = false })
                            @Html.Hidden("SelectedTagword", null, new { id = "hdnSelectedTagwordIds", @data_val = false })
                            <button id="btnSearch" class="btn-primary btn cancel" type="submit" name="action" value="TagwordsSearch" style="border-radius: 3px;">
                                @Resources.lblApplyFilter
                            </button>
                        </div>
                    </div>
                }
</div>
        </div>
</div>
@Html.Partial("FilterTagwords", Model)


<script type="text/javascript">
    function filterApprovals(){
        alert();
        
    }


    function clearSelectedTagwords() {
        var currentTab = @tab;
        $('.selectedtagword').remove();
        $("#clearAll").hide();
        var selectedApprovalTypes = '';
        var selectedTagwords = '';
        var checkedInTypes = $('.approvaltypecheckbox').find('[type="checkbox"]:checked').length;
        if (checkedInTypes > 0) {
            for (var i = 0; i < checkedInTypes; i++) {
                if (selectedApprovalTypes == '') {
                    selectedApprovalTypes = $('.approvaltypecheckbox').find('[type="checkbox"]:checked')[i].name;
                } else {
                    selectedApprovalTypes = selectedApprovalTypes + ',' + $('.approvaltypecheckbox').find('[type="checkbox"]:checked')[i].name;
                }
            }
        }
        GetTagwordsandApprovalTypeCount(selectedApprovalTypes, selectedTagwords, currentTab);
    }


    function selectedApprovalType(approvaltypeId) {
        var currentTab = @tab;
        var selectedApprovalTypes = '';
        var selectedTagwords = '';

        var checkedInTypes = $('.approvaltypecheckbox').find('[type="checkbox"]:checked').length;
        if (checkedInTypes > 0)
        {
            for (var i = 0; i < checkedInTypes; i++) {
                if (selectedApprovalTypes == '') {
                    selectedApprovalTypes = $('.approvaltypecheckbox').find('[type="checkbox"]:checked')[i].name;
                } else {
                    selectedApprovalTypes = selectedApprovalTypes + ',' + $('.approvaltypecheckbox').find('[type="checkbox"]:checked')[i].name;
                }
            }
        }
        $('#hdnSelectedApprovalTypes').val(selectedApprovalTypes);
        var count = $('.selectedtagword').length;
        if (count > 0) {
            for (var i = 0; i < count; i++) {
                if (selectedTagwords == '') {
                    selectedTagwords = $('.selectedtagword')[i].id;
                } else {
                    selectedTagwords = selectedTagwords + ',' + $('.selectedtagword')[i].id;
                }
            }
        }

        GetTagwordsandApprovalTypeCount(selectedApprovalTypes, selectedTagwords, currentTab);
    }


    function LoadTagwords(data) {
        var tag = $('.tagwordsDiv')
        tag.append("<div class=\"filteredtagwordsdiv\"></div>");
        var tag1 = $('.filteredtagwordsdiv');
        $.each(data.tagwords, function (index, item) {
            tag1.append("<span class=\"unselectedtagword "+item.Id+"\" id=" + item.Id + " onclick=\"selectedTagword(" + item.Id + ");\">" +
                       "<span class=\"tagwordText\">" + item.tagword + "</span>" +
                       "<span class=\"tagwordCount\">" + item.count + "</span>");
        });
        tag1.append("<div style=\"width: 100%; float: left; margin-top: 10px;\">" +
            "<a onclick=\"openTagwordsFilterPopup(this, false);\">" + '@Resources.lblviewAllTagwords' + "</a>" +
                    "</div>");
    }


    function LoadApprovalsCount(data) {
        $('.filterimageapprovaltypecount')[0].innerText = data.NoOfImageApprovals + ' results';
        $('.filterdocumentapprovaltypecount')[0].innerText = data.NoOfDocumentApprovals + ' results';
        $('.filtervideoapprovaltypecount')[0].innerText = data.NoOfVideoApprovals + ' results';
        $('.filterhtmlapprovaltypecount')[0].innerText = data.NoOfHTMLApprovals + ' results';
    }


    function selectedTagword(id) {
        var currentTab = @tab;
        if ($('.selectedtagword.' + id).length == 0) {
            var sa = $('.tagwordstitle');
            var tagword = '';
            var tagwordCount = '';
            if ($("#" + id)[0].children.length == 2) {
                tagword = $("#" + id)[0].children[0].innerText;
                tagwordCount = $("#" + id)[0].children[1].innerText;
            }
            if ($("#" + id)[0].children.length == 3) {
                tagword = $("#" + id)[0].children[1].innerText;
                tagwordCount = $("#" + id)[0].children[2].innerText;
            }
            sa.append("<span class=\"selectedtagword " + id + "\" id=" + id + ">" +
                       "<span class=\"tagwordText\">"  + tagword + "</span>" +
                       "<span class=\"tagwordCount\">" + tagwordCount + "</span>");
            $("#clearAll").show();

            var selectedApprovalTypes = '';
            var selectedTagwords = '';

            var count = $('.selectedtagword').length;
            if (count > 0) {
                for (var i = 0; i < count; i++) {
                    if (selectedTagwords == '') {
                        selectedTagwords = $('.selectedtagword')[i].id;
                    } else {
                        selectedTagwords = selectedTagwords + ',' + $('.selectedtagword')[i].id;
                    }
                }
            }
            $('#hdnSelectedTagwordIds').val(selectedTagwords);
            var checkedInTypes = $('.approvaltypecheckbox').find('[type="checkbox"]:checked').length;
            if (checkedInTypes > 0) {
                for (var i = 0; i < checkedInTypes; i++) {
                    if (selectedApprovalTypes == '') {
                        selectedApprovalTypes = $('.approvaltypecheckbox').find('[type="checkbox"]:checked')[i].name;
                    } else {
                        selectedApprovalTypes = selectedApprovalTypes + ',' + $('.approvaltypecheckbox').find('[type="checkbox"]:checked')[i].name;
                    }
                }
            }
            GetTagwordsandApprovalTypeCount(selectedApprovalTypes, selectedTagwords, currentTab);
        }
    }


    function GetTagwordsandApprovalTypeCount(selectedApprovalTypes, selectedTagwords, currentTab) {
        $.ajax({
            type: "GET",
            url: '/Widget/GetTagwordsBasedOnSelectedApprovalType?selectedApprovalTypes=' + selectedApprovalTypes + '&selectedTagwords=' + selectedTagwords + '&currentTab=' + currentTab,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            cache: false,
            success: function (data) {
                $('.filteredtagwordsdiv').remove();
                LoadTagwords(data);
                LoadApprovalsCount(data);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                if (jqXHR.readyState == 0 || jqXHR.status == 0) {
                    return;
                }
                else {
                    $('.filteredtagwordsdiv').replaceWith('<label>Error Loading list ' + textStatus + ' ' + errorThrown + '</label>');
                }
            }
        });
    }

</script>

