﻿@model GMGColorDAL.CustomModels.FoldersModel
@using GMGColor.Resources;
@using GMGColorBusinessLogic
@using GMGColorDAL
@{
    Bundles.Reference("foldertree");
    int[] existingFolders = Model.ExistingFolders.Replace("[", string.Empty).Replace("]", string.Empty).Split(',').ToList().Select(o => int.Parse(o)).ToArray();
    GMGColorBusinessLogic.DbContextBL context = HttpContext.Current.Items[GMGColorDAL.DALUtils.DatabaseContext] as GMGColorBusinessLogic.DbContextBL;
}
<!-- The CSS classes begin with "foldertree", "folder-private", "folder-shared" must have. -->
<div id="widgetFolderTree" class="foldertree">
    @if (Model.ShowPanel)
    {    
        <div class="foldertree-panel control-group">
            <div class="controls">
                <span class="folder-label ">
                    <span>@Resources.lblSelectFolderForThisApproval</span>
                </span>
                <p class="help-block" style="padding-top: 5px;">
                    @if (Model.Folder > 0)
                    {
                        GMGColorDAL.Folder objFolder = GMGColorDAL.DALUtils.GetObject<GMGColorDAL.Folder>(Model.Folder, context);

                        int[] collaborators = objFolder.FolderCollaborators.Select(o => o.Collaborator).ToArray();
                        int[] collaboratorGroups = objFolder.FolderCollaboratorGroups.Select(o => o.CollaboratorGroup).ToArray();

                        var serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
                        <button class="label label-large" type="button" id="aFolderTrigger" title="@Resources.lblModifyAccessForThisApproval" widget-toggle="foldertree" widget-id="@objFolder.ID" widget-creator="@objFolder.Creator" widget-users="@serializer.Serialize(collaborators)" widget-groups="@serializer.Serialize(collaboratorGroups)">
                            <i class="icon-folder-close"></i>&nbsp;<span>@Resources.lblDestinationFolder</span>
                        </button>
                    }
                    else
                    {
                        <button class="label label-large" type="button" id="aFolderTrigger" title="@Resources.lblModifyAccessForThisApproval" widget-toggle="foldertree" widget-id="0" widget-creator="@Model.Creator">
                            <i class="icon-folder-close"></i>&nbsp;<span>@Resources.lblDestinationFolder</span>
                        </button>
                    }
                </p>
            </div>
        </div>
    }
    <div class="foldertree-control modal hide">
        <div class="modal-header">
            <a href="javascript:void(0);" class="close" data-dismiss="modal" title="@Resources.btnClose" onclick="ResetModelAlert();">&times;</a>
                <h3 class="widget-title">@Resources.lblSelectFolderForThisApproval </h3>
        </div>
        <div class="foldertree-base modal-body">
            <div class="foldertree-blocks folder-selector-container">
                <div class="text-center" style="margin: 0 14px;"></div>
                <ul class="foldertree browse folder-shared ">
                    @Html.Raw(FolderBL.PopulateFolders(Model.Folder, Model.LoggedUserId, existingFolders, Model.FolderPermissionsAutoInheritanceEnabled, context, Model.ShowPanel, Model.MoveFiles))
                </ul>
            </div>
            @if(Model.ShowPanel){
                <div class="foldertree-actions folder-selector-footer form-inline">
                    <input name="folder-name" id="foldername" placeholder="@Resources.lblEnterFolderName" type="text" class="input-medium" />
                    <button class="btn btn-danger pull-right" name="delete" title="@Resources.lblDelete" type="button">
                        <i class="icon-trash"></i>&nbsp;@Resources.lblDelete</button>
                    <button class="btn" name="create" title="@Resources.lblNewFolder" type="button">@Resources.btnCreateFolder</button>
                    <button class="hide btn btn-success" name="rename" title="@Resources.lblRename" type="button">@Resources.lblRename</button>
                    <div id="characterAlert" class="empty-block-toolong alert alert-error hide">@Resources.errTooManyCharactors</div>
                    <label id="allCollDec" class="checkbox hide" style="margin-top: 10px; margin-bottom: ">
                        @Html.CheckBoxFor(model => model.AllCollaboratorsDecisionRequired)
                        @Resources.lblAllCollaboratorsDecisionSetting
                    </label>
                </div>
            }
            <div class="foldertree-data">
                <div class="widget-creator">
                    @Html.HiddenFor(mdl => mdl.Creator, new { @data_val = false })
                </div>
                <div class="widget-existing">
                    @Html.HiddenFor(mdl => mdl.ExistingFolders, new { @data_val = false })
                </div>
                <div class="widget-id">
                    @Html.HiddenFor(mdl => mdl.Folder, new { @data_val = false })
                </div>
                <div class="widget-parent">
                    @Html.HiddenFor(mdl => mdl.Parent, new { @data_val = false })
                </div>
                <label class="widget-text-cannot-move">@Resources.lblThereAreNoFoldersToMove</label>
                <label class="widget-text-cannot-display">@Resources.lblNoFoldersToSelect</label>
                <label class="widget-title-moveFile">@Resources.lblMoveFiles</label>
                <label class="widget-title-moveFolder">@Resources.lblMoveFolder</label>
                <label class="widget-title-display">@Resources.lblChooseFolderToDisplay</label>
            </div>
        </div>
        <div class="foldertree-events modal-footer clearboth">
            <div class="pull-left moveFolder">
                @Resources.lblNoteMoveFolder
            </div>
            <div class="pull-right" style="display:inline-flexbox">
                 <button class="btn" data-dismiss="modal" type="button" onclick="ResetModelAlert();" value="cancel">
                    @Resources.btnCancel
                </button>
                <button id="submit-destination" class="btn btn-primary pull-right" data-dismiss="modal" type="button" value="submit">
                    <span class="widget-select hide">@Resources.lblSelectFolder</span> <span class="widget-apply">@Resources.lblApply</span>
                </button>
                <button id="displayFolder" class="btn btn-primary pull-right" action="DisplayFolder" data-dismiss="modal" type="button" value="submit" >
                    @Resources.lblApply
                </button>
                <button id="moveToFolder" class="btn btn-primary pull-right" action="MoveToFolder" data-dismiss="modal" type="button" value="submit" >
                    @Resources.btnMoveToFolder
                </button>
            </div>
        </div>
    </div>
</div>
@if (Request.IsAjaxRequest())
{
<script src="@Url.Content("~/Content/js/codeflex/codeflex.folders.js")"></script>
}
<script type="text/javascript">
    $(document).ready(function () {
        $('#widgetFolderTree').folderTree({activeoption: @(Model.IsPrivate ? 1 : 0), externaltrigger: $('#aApprovalTrigger'), trigger: $('#aFolderTrigger'), showpanel: @(Model.ShowPanel.ToString().ToLower()), refresh: @(Model.Refresh.ToString().ToLower()), currenttab:@(Model.CurrentTab) });
    });
    
    function ResetModelAlert() {
        $('#foldername').val('');
        $('#characterAlert').addClass('hide');
        $('#allCollDec').hide();
        }

    $('#foldername').on('focus', function() {
        $('#allCollDec').show();
    });

</script>
