﻿@model GMGColorDAL.CustomModels.GroupsModel
@using GMGColor.Resources;
@using GMGColorDAL
@using GMGColorDAL.Common
@{
    GMGColorBusinessLogic.DbContextBL context = HttpContext.Current.Items[GMGColorDAL.DALUtils.DatabaseContext] as GMGColorBusinessLogic.DbContextBL;
}
<!-- The CSS classes begin with "collaboratorgroup" must required. -->
<div id="widgetGroups" class="collaboratorgroup">
    <div class="collaboratorgroup-base">
        <div class="collaboratorgroup-fields">
            @Html.HiddenFor(mdl => mdl.Group)
            <div class="control-group">
                <label class="control-label">@Resources.lblName</label>
                <div class="controls">
                    @Html.TextBoxFor(mdl => mdl.Name)
                    @Html.ValidationMessageFor(mdl => mdl.Name)
                </div>
            </div>
            <div class="empty-blocks alert alert-error hide">
                @Resources.reqGroupCount
            </div>
        </div>
        <div class="collaboratorgroup-filters">
            <ul class="nav nav-pills pull-left">
                <li class=""><a href="javascript:void(0);" name="all">@Resources.lblAll</a></li>
                <li class=""><a href="javascript:void(0);" name="members">@Resources.lblMembers</a></li>
            </ul>
            <div class="form-search pull-right">
                <input class="input-medium search-query" name="search-text" type="text" />
            </div>
        </div>
        <div class="collaboratorgroup-blocks user-selector-container">
            <div class="a-user-selector">
                <ul class="block-grid group two-up">
                    @{for (int i = 0; i < Model.CollaboratorsWhereThisIsCollaboratorGroup.Count; i++)
                      {
                        <li class="block">
                            <dl>
                                <dt>
                                    @Model.CollaboratorsWhereThisIsCollaboratorGroup[i].objUser.GivenName @Model.CollaboratorsWhereThisIsCollaboratorGroup[i].objUser.FamilyName
                                </dt>
                                <dd class="a-meta">
                                    @Model.CollaboratorsWhereThisIsCollaboratorGroup[i].objUser.EmailAddress
                                </dd>
                                <dd class="a-avatar medium">
                                    <img class="userAvatar" src="@GMGColorDAL.User.GetImagePath(Model.CollaboratorsWhereThisIsCollaboratorGroup[i].objUser.ID, context)" alt="avatar_placeholder" width="54" height="54" />
                                </dd>
                                <dd class="hide">
                                    @Html.CheckBoxFor(x => x.CollaboratorsWhereThisIsCollaboratorGroup[i].IsUserInGroup)
                                    @Html.HiddenFor(x => x.CollaboratorsWhereThisIsCollaboratorGroup[i].objUser.ID)
                                     @Html.HiddenFor(x => x.CollaboratorsWhereThisIsCollaboratorGroup[i].IsPrimary)
                                </dd>
                            </dl>
                        </li>
                      }
                    }
                </ul>
                <div class="block-empty search-results" style="display: none;">
                    <h6 class="text-center">@Resources.lblNoResultsWereFound</h6>
                </div>
            </div>
        </div>
        <div class="collaboratorgroup-data hide">
            <label class="widget-text-members">@Resources.lblMembers</label>
        </div>
        @if (Model.Group > 0)
        {
            if (!string.IsNullOrEmpty(Model.BrandingPresetName))
            {
                <div class="well">
                    @Resources.lblThisGroupIsLinkedToPreset <strong>@Model.BrandingPresetName</strong> @Resources.lblBrandingPreset.ToLower().
                </div>
            }

            GMGColorDAL.UserGroup objUserGrp = GMGColorDAL.DALUtils.GetObject<GMGColorDAL.UserGroup>(Model.Group, context);
            
            <div class="well">
                @Resources.lblThisGroupWasCreatedBy <strong>@Model.Creator</strong>
                @GMGColorFormatData.GetTimeDifference(Model.CreatedDate)
                @Resources.lblAt @String.Format("{0:t}", GMGColorFormatData.GetUserTimeFromUTC(Model.CreatedDate, objUserGrp.Account1.TimeZone)).
                @Resources.lblItWasLastUpdatedBy
                <strong>@Model.Modifier</strong>
                @GMGColorFormatData.GetTimeDifference(Model.ModifiedDate)
                @Resources.lblAt @String.Format("{0:t}", GMGColorFormatData.GetUserTimeFromUTC(Model.ModifiedDate, objUserGrp.Account1.TimeZone)).
            </div>
        }
    </div>
    <div class="collaboratorgroup-actions form-actions">
        <button class="btn btn-primary" data-loading-text="@Resources.btnSaving" type="submit" value="save">@(Model.Group > 0 ? Resources.btnSaveChanges : Resources.btnSave)</button>
        @Html.HiddenFor(mdl => mdl.RedirectURL)
    </div>
</div>
<script type="text/javascript">
    var reset = @((!(Model.Group > 0 || Model.IsModelError)).ToString().ToLower());
    $(document).ready(function() {
        $('#widgetGroups').collaboratorGroup({ resetblocks: reset, redirect: '/Settings/UserGroups'});
    });
</script>
