﻿@model int?
<div class="indicatorBar-@Model verticalIndicatorBar">
    <div class="usersBarIndicatorVert" style="display: none;"></div>
    <div class="colorBarsIndicatorVert">
        <div class="whiteBarIndicator indicatorBar" rel="tooltip" data-html="true" data-placement="right"></div>
        <div class="greyBarIndicator indicatorBar" rel="tooltip" data-html="true" data-placement="right"></div>
        <div class="greenBarIndicator indicatorBar" rel="tooltip" data-html="true" data-placement="right"></div>
        <div class="redBarIndicator indicatorBar" rel="tooltip" data-html="true" data-placement="right"></div>
        <div class="orangeBarIndicator indicatorBar" rel="tooltip" data-html="true" data-placement="right"></div>
    </div>
</div>
