﻿@model GMGColorDAL.CustomModels.NavigationModel
@using GMGColor.Resources;
@using GMGColorBusinessLogic
@using GMGColorDAL
@using GMGColorDAL.CustomModels
@{
    Bundles.Reference("tablet-css");
    Bundles.Reference("tablet-js");
    Bundles.Reference("jquery-mobile");
    GMGColorBusinessLogic.DbContextBL context = HttpContext.Current.Items[GMGColorDAL.DALUtils.DatabaseContext] as GMGColorBusinessLogic.DbContextBL;
}
<div class="navbar navbar-tablet navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a title="Home" class="brand" href="@Model.HomePageUrl">
                 <img src="@UserBL.GetUserBrandingLogoPath(Model.objLoggedAccount, ViewBag.LoggedUserBrandingHeaderLogo, Account.LogoType.HeaderLogo, context)" alt="Logo" default="/content/img/nologo-122px-33px.png" />
            </a>
            @{
                string ulClassForHomePage = "nav";
            }
            <div class="nav-collapse-tablet">
                <ul class="pull-right tablet-menus @ulClassForHomePage">
                    <li><i id="tablet-loading" class="icon-spinner tablet-icon icon-spin tablet-icon-hide"></i></li>
                    @if (NavigationBL.IsApprovalDashboard(Model.ChildMenuItemID, context))
                    {
                        <li><i id="tablet-proof-studio" class="icon-pencil tablet-icon tablet-icon-disabled"></i></li>
                        <li><i id="tablet-details" class="icon-picture tablet-icon tablet-icon-disabled"></i></li>
                        <li><i id="tablet-delete" class="icon-trash tablet-icon tablet-icon-disabled"></i></li>
                        <li><i id="tablet-access" class="icon-lock tablet-icon tablet-icon-disabled"></i></li>
                        <li><i id="tablet-share" class="icon-share-alt tablet-icon tablet-icon-disabled"></i></li>
                        <li><i id="tablet-view-type" class="icon-th tablet-icon"></i></li>
                        <li><i id="tablet-approvals-sidebar" class="icon-reorder tablet-icon"></i></li>
                    }
                    @if (NavigationBL.IsApprovalDetailsDashboard(Model.ChildMenuItemID, context))
                    {
                        <li><i id="tablet-approvaldetails-back" class="icon-arrow-left tablet-icon"></i></li>
                    }
                    <li><i id="tablet-settings" class="icon-cog tablet-icon"></i></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
        <!-- /container -->
    </div>
    <!-- /navbar-inner -->
</div>
<!-- /navbar -->
<div id="menu-sidebar-wrapper" class="hide">
    <ul class="sidebar-nav nav nav-pills nav-stacked nav-colored">
        <li>
            <img alt="Gravatar" class="nav-gravatar img-circle userAvatar" src="@GMGColorDAL.User.GetImagePath(Model.LoggedUser.ID, context)" />
            @Model.LoggedUser.GivenName @Model.LoggedUser.FamilyName
        </li>
    </ul>
    @{
        Dictionary<string, List<UserMenuItemRoleView>> menus = NavigationBL.GetNavigationItems(context, Model.LoggedUser.ID);
        foreach (KeyValuePair<string, List<UserMenuItemRoleView>> menu in menus)
        {
            if (!string.IsNullOrEmpty(menu.Key) && menu.Value.Any())
            {
                <div class="sidenav-header">
                    <h3>@NavigationModel.GetLocalizedMenuName(menu.Key)</h3>
                </div>
            }
            <ul class="sidebar-nav nav nav-pills nav-stacked nav-colored">
                @foreach (UserMenuItemRoleView item in menu.Value)
                {
                    string strStyle = (((Model.ParentMenuItemID == (int)item.MenuItem)) ? "active" : string.Empty);
                    string linkText = NavigationModel.GetLocalizedMenuName(item.Key).Trim();
                    <li class="@strStyle">@Html.ActionLink(linkText, item.Action, item.Controller)</li>
                }
                @if (menu.Key == "PSIN")
                {
                    <li><a href="@Url.Action("Logout", "Auth")">@NavigationModel.GetLocalizedMenuName("LGOT")</a></li>
                }
            </ul>
        }
    }
</div>
