﻿@model GMGColorDAL.CustomModels.NavigationModel
@using GMGColor.Resources;
@using GMGColorBusinessLogic
@using GMGColorDAL
@using GMGColorDAL.CustomModels
@{
    GMGColorBusinessLogic.DbContextBL context = HttpContext.Current.Items[GMGColorDAL.DALUtils.DatabaseContext] as GMGColorBusinessLogic.DbContextBL;
}
<div class="navbar">
    <div class="navBarTheme navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span
                class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </a><a title="Home" class="brand" href="@Model.HomePageUrl">
                <img src="@UserBL.GetUserBrandingLogoPath(Model.objLoggedAccount, ViewBag.LoggedUserBrandingHeaderLogo, Account.LogoType.HeaderLogo, context)" alt="Logo" default="/content/img/nologo-122px-33px.png" />
            </a>
            @{
                string ulClassForHomePage = "nav";
            }
            <div class="nav-collapse">
                <ul class="pull-left @ulClassForHomePage">
                    @foreach (GMGColorDAL.UserMenuItemRoleView topMenu in Model.TopLeftMenuItems)
                    {
                        //TODO Move to database
                        if (topMenu.Key == "HOME")
                        {
                            continue;
                        }
                        string strStyle = (((topMenu.Controller != null) && (Model.ParentMenuItemID == (int)topMenu.MenuItem)) ? "active" : string.Empty);
                        string linkText = NavigationModel.GetLocalizedMenuName(topMenu.Key).Trim();
                        if (String.IsNullOrEmpty(linkText))
                        {
                            GMGColorLogging.log.ErrorFormat(null, Model.objLoggedAccount.ID, "Error occurred while populating Secondry Navigation. Resource value is empty. Key : " + topMenu.Key);
                            Response.Redirect("/Error/Cannotcontinued");
                        }
                        else
                        {                     
                        <li site="@Model.IsAdminApp.ToString().ToLower()" class="@strStyle">@Html.ActionLink(linkText, topMenu.Action, topMenu.Controller)</li>
                        }
                    }
                </ul>
                <ul class="pull-right @ulClassForHomePage">
                    @foreach (GMGColorDAL.UserMenuItemRoleView topMenu in Model.SettingsMenuItems)
                    {
                        string strStyle = (((topMenu.Controller != null) && (Model.ParentMenuItemID == (int)topMenu.MenuItem)) ? "active" : string.Empty);
                        string linkText = NavigationModel.GetLocalizedMenuName(topMenu.Key).Trim();
                        if (String.IsNullOrEmpty(linkText))
                        {
                            GMGColorLogging.log.ErrorFormat(null, Model.objLoggedAccount.ID, "Error occurred while populating Secondry Navigation. Resource value is empty. Key : " + topMenu.Key);
                            Response.Redirect("/Error/Cannotcontinued");
                        }
                        else
                        {  
                        <li site="@Model.IsAdminApp.ToString().ToLower()" class="@strStyle">@Html.ActionLink(linkText, topMenu.Action, topMenu.Controller)</li>
                        }
                    }
                    @if (Model.MenuItemsUnderAccount.Count > 0)
                    {
                        string strHtml = string.Empty;
                        <li class="dropdown" id="nav-settings"><a class="dropdown-toggle" data-toggle="dropdown"
                            href="javascript:void(0);">@Resources.navSettingsIndexTopMenu <b class="caret"></b>
                        </a>
                            <ul class="dropdown-menu">
                                @foreach (GMGColorDAL.UserMenuItemRoleView subMenu in Model.MenuItemsUnderAccount)
                                {
                                    if (subMenu.Key == GMGColorDAL.MenuItem.Divider)
                                    {
                                        <li class="divider"></li>
                                    }
                                    else
                                    {
                                        string linkText = NavigationModel.GetLocalizedMenuName(subMenu.Key).Trim();
                                        <li site="@Model.IsAdminApp.ToString().ToLower()"><a href="/@subMenu.Controller/@subMenu.Action">@Html.Raw(strHtml)@(linkText)</a></li>
                                    }
                                }
                            </ul>
                        </li>
                    }
                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);">
                        <img alt="Gravatar" class="nav-gravatar img-circle userAvatar" src="@GMGColorDAL.User.GetImagePath(Model.LoggedUser, Model.objLoggedAccount)" />
                        @Model.LoggedUser.GivenName @Model.LoggedUser.FamilyName <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            @foreach (GMGColorDAL.UserMenuItemRoleView subMenu in Model.MenuItemsUnderUser)
                            {
                                string linkText = NavigationModel.GetLocalizedMenuName(subMenu.Key).Trim();
                                if (String.IsNullOrEmpty(linkText))
                                {
                                    GMGColorLogging.log.ErrorFormat(null, Model.objLoggedAccount.ID, "Error occurred while populating Secondry Navigation. Resource value is empty. Key : " + subMenu.Key);
                                    Response.Redirect("/Error/Cannotcontinued");
                                }
                                else
                                { 
                                <li site="@Model.IsAdminApp.ToString().ToLower()">@Html.ActionLink(linkText, subMenu.Action, subMenu.Controller)</li>
                                }
                            }
                            <li class="divider"></li>
                            <li site="@Model.IsAdminApp.ToString().ToLower()">@Html.ActionLink(NavigationModel.GetLocalizedMenuName("LGOT"), "Logout", "Auth")</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
        <!-- /container -->
    </div>
    <!-- /navbar-inner -->
</div>
<!-- /navbar -->
