﻿@model GMGColorDAL.CustomModels.ProjectFolderModel.ProjectFoldersModel
@using GMGColor.Resources;
@using GMGColor.HtmlHelpers;
@using GMGColorDAL
@using GMGColorDAL.CustomModels
@using GMGColorDAL.Common;
@{
    Bundles.Reference("datetimepicker");
    Bundles.Reference("projectFolder");
    Bundles.Reference("addAdHocWorkflowStyles");
    GMGColorBusinessLogic.DbContextBL context = HttpContext.Current.Items[GMGColorDAL.DALUtils.DatabaseContext] as GMGColorBusinessLogic.DbContextBL;
    bool isPDM = false;
    int roleId = 0;
}
@using (Html.BeginForm("", "ProjectFolders", FormMethod.Post, new { @class = "form-horizontal dirtyignore", id = "addEditProjectFolder", style = "display: inline-block; margin-left: 5px;" }))
            {
    @Html.AntiForgeryToken()
<div id="modalNewProjectFolder" class="modal hide projectFolderModal">
    <div class="modal-header">
        <a href="javascript:void(0);" id="closePopup" class="close hide" data-dismiss="modal">&times;</a>
        <a href="javascript:void(0);" class="close" title="@Resources.btnClose" onclick="closeNewProjectFolderpopup();">&times;</a>
        <h3>@Resources.lblNewProjectFolder </h3>
        @Html.TextBoxFor(mdl => mdl.projectDetails.ID, new { @Value = Model.projectDetails.ID, @Id = "projectFolderId", @Class = "hidden" })
    </div>
    <div class="foldertree-base modal-body projectFolderModalBody">
        <div class="row-fluid">
            <div class="span6">
                <label class="projectFolderLabelControl">@Resources.lblProjectFolderName</label>
                <div style="display: flex;">
                    @Html.TextBoxFor(mdl => mdl.projectDetails.Name, new { @Value = Model.projectDetails.Name ,@Id = "projectFolderNameId",@Style = "width:100%;"})
                    @Html.ValidationMessageFor(mdl => mdl.projectDetails.Name)
                </div>
            </div>
            <div class="span6">
                <label class="projectFolderLabelControl">@Resources.lblDueDate</label>
                <div id="ProjectFolderDeadlineDate">
                    @{
                        string dateFormat = ViewBag.LoggedAccount.DateFormat1.Pattern;
                    }
                    <div class="input-append date-picker date" data-date="@String.Format("{0:" + dateFormat + "}", DateTime.Now)" data-date-format="@dateFormat.ToLower()" style="display: flex;">
                        @Html.TextBoxFor(mdl => mdl.projectDetails.DeadlineDate, new { @class = "input-small pointerCursor", @Id = "projectFolderDeadlineId", @Value = GMGColorFormatData.GetFormattedDate(DateTime.Now, ViewBag.LoggedAccount, context), @size = "16", @readonly = "" ,@Style = "width:100%; background-color: #ffffff;" })
                        <span class="add-on" style="background-color: #ffffff;"><i class="icon-calendar"></i></span>
                    </div>

                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <label class="projectFolderLabelControl">@Resources.lblOutOfOfficeDescription</label>
                <div>
                    @Html.TextAreaFor((mdl => mdl.projectDetails.Description), new { @class = "message span12", @Id = "projectFolderDescriptionId", @cols = "20", @rows = "4", @Value = Model.projectDetails.Description })
                    @Html.ValidationMessageFor(mdl => mdl.projectDetails.Description)
                </div>
            </div>
            </div>
        @*<div class="row-fluid">
            <div class="span6">
                <label class="projectFolderLabelControl">@Resources.lblNoOfPageGrids</label>
                <div class="projectFolderDisplayFlex"> 
                    @Html.TextBoxFor(mdl => mdl.projectDetails.PageGrid, new { @Value = Model.projectDetails.PageGrid, @Id = "projectFolderPageGridId", @Style = "width:100%;"})
                    @Html.ValidationMessageFor(mdl => mdl.projectDetails.PageGrid)
                </div>
            </div>
        </div>*@
        <div class="row-fluid">
            <div class="span12">
                <label class="projectFolderLabelControl">@Resources.lbltagwordstitle</label>
                <div class="size no-Wrap tagWordsInputbox" id="wrap-tagwords-inputBox">
                    <select id="tagsForNewProjectFolder" name="tagsForNewProjectFolder" multiple="multiple"></select>
                </div>
            </div>
        </div>
        </div>
        <div class="projectFolderBorderLine"></div>

    <div class="foldertree-base modal-body projectFolderMiddleBody">
        <div class="row-fluid">
            <div class="span12">
                <label class="projectFolderTeamMembers">@Resources.lblTeamMembers</label>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6">
                <div class="size no-Wrap collaboratorsInputbox" id="wrap-Projectfolder-collaborators-inputBox">
                    <select id="teamForNewProjectFolder" name="teamForNewProjectFolder"></select>
                </div>
            </div>
            <div class="span3">
                <div>
                    @Html.DropDownListFor(m => roleId, new SelectList(Model.projectCollaboratorRole, "ID", "Name"), Resources.lblSelectProjectCollaboratorRole, new { @data_val = "false", @id = "selectedCollaboratorRole", @Style = "width: 170px; height: 28px;" })
                </div>
            </div>
            <div class="span3">
                <div class="projectFolderPDM">
                    <label class="projectFolderPDMLabel">
                        @Resources.lblPDM
                        @Html.CheckBoxFor(mdl => isPDM, new { @Style = "width: 24px; margin-left: 10px; height: 24px; margin-right: 20px; margin-top: 0px;" })
                    </label>
                    <span class="btn-primary btn cancel" onclick="selectedCollaborator();">
                        @Resources.lblAdd
                    </span>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <ul class="block-grid external two-up projectFoldersTeamSelection" id="newProjectColloborators">
                <li class="NewProjectSelectedCollaborators span6 " + @ViewBag.LoggedUser.ID>
                    <a class="close closeSelectedCollaborator hide" title="@Resources.btnClose" onclick="RemoveSelectedCollaborator(@ViewBag.LoggedUser.ID);">&times;</a>
                    <div class="user-selector" collID=@ViewBag.LoggedUser.ID isPDM="false" collRoleId="1">
                          <div class="a-avatar span2 projectFolderAvatar">
                              <img src="@GMGColorDAL.User.GetDefaultImagePath(ViewBag.LoggedAccount.Domain)" alt="default-avatar-user" width=30 height=30 style="width: 30px; height: 30px; vertical-align: text-top;">
                          </div> 
                          <div class="span10" style="display: grid;">
                              <span class="block-name textOverflow" style="font-weight: 600;">@ViewBag.LoggedUser.GivenName  @ViewBag.LoggedUser.FamilyName  </span>
                              <span class="textOverflow">  @ViewBag.LoggedUser.EmailAddress </span>
                              <span class="block-role a-meta">Owner</span>
                          </div>
                    </div>
                </li>
           </ul>
    </div>
          </div>
        
    <div class="foldertree-events modal-footer clearboth">
        <div class="pull-right projectFolderDisplayFlex">
            <a class="btn" href="javascript:void(0);" class="close" onclick="closeNewProjectFolderpopup();" title="@Resources.btnCancel" style="margin-right: 10px;">@Resources.btnCancel</a>
                <div class="form-search clearboth">
                    <div class="input-append">
                        @Html.Hidden("SelectedUsers", null, new { id = "hdnSelectedUsers", @data_val = false })
                        @Html.Hidden("SelectedTagwords", null, new { id = "hdnSelectedTagwordIds", @data_val = false })
                        <button id="btnAddEditProjectFolder" class="btn-primary btn cancel" type="submit" name="action" value="AddEditProjectFolder" style="border-radius: 3px;" onclick="appendingSelectedCollaborators();" disabled="disabled">
                            @Resources.lblCreateProjectFolder
                        </button>
                    </div>
                </div>
        </div>
    </div>
</div>
            }



<script type="text/javascript">
   
    function LoadProjectFolderDetailsToEditPopup(data) {
        $('#projectFolderNameId')[0].value = data.ProjectName;
        $('#projectFolderDeadlineId')[0].value = data.ProjectDeadline;
        $('#projectFolderDescriptionId')[0].value = data.projectDescription;
        //$('#projectFolderPageGridId')[0].value = data.NoOfPageGrids;
        $('#projectFolderId')[0].value = data.ProjectFolderID;



        var tag = $('#tagsForNewProjectFolder');
        $.each(data.ProjectTagwords, function (index, item) {
            tag.append("<option value=\"" + index + "\" data-select2-id=\"" + item.ID + "\">" + item.Tagword + "</option>");
        });
        var tag1 = $('.select2-search.select2-search--inline');
        $('.select2-selection__rendered')[0].childNodes[0].children[0].attributes[9].value = "";
        $.each(data.ProjectTagwords, function (index, item) {
            tag1.append("<li class=\"select2-selection__choice " + item.ID +"\" title=\"" + item.Tagword + "\" data-select2-id=\"" + item.ID + "\">" +
                        "<span class=\"select2-selection__choice__remove\" onclick=\"RemoveSelectedTagword(" + item.ID + ");\" role=\"presentation\">×</span>" + item.Tagword + "</li>");
        });

        $('.NewProjectSelectedCollaborators').remove();
        var coll = $('#newProjectColloborators');
        $.each(data.ProjectCollaborators, function (index, item) {
            if (item.IsCollaboratorCreator) {
                coll.append("<li class=\"NewProjectSelectedCollaborators span6 " + item.CollaboratorID + "\">" +
                     "<a class=\"close closeSelectedCollaborator hide\" title=\"@Resources.btnClose\" onclick=\"RemoveSelectedCollaborator(" + item.CollaboratorID + ");\">&times;</a>" +
                        "<div class=\"user-selector\" collID=" + item.CollaboratorID + " isPDM=" + item.CollaboratorIsPDM + " collRoleId=" + item.CollaboratorRole + ">" +
                         "<div class=\"a-avatar span2 projectFolderAvatar\">" +
                         "<img src=\"@GMGColorDAL.User.GetDefaultImagePath(ViewBag.LoggedAccount.Domain)\" alt=\"default-avatar-user\" width=30 height=30  style=\" width: 30px; height: 30px; vertical-align: text-top;\"/></div>" +
                        "<div class=\"span10\" style=\"display: grid;\">" +
                        "<span class=\"block-name textOverflow\" style=\"font-weight: 600; \">" + item.CollaboratorName + "</span>" +
                        "<span class=\"textOverflow\">" + item.CollaboratorEmailAddress + "</span>" +
                        "<span class=\"block-role a-meta\">" + item.CollaboratorRoleName + "</span>" +
                         "</div></div></li>");
            } else {
                coll.append("<li class=\"NewProjectSelectedCollaborators span6 " + item.CollaboratorID + "\">" +
                        "<a class=\"close closeSelectedCollaborator\" title=\"@Resources.btnClose\" onclick=\"RemoveSelectedCollaborator(" + item.CollaboratorID + ");\">&times;</a>" +
                        "<div class=\"user-selector\" collID=" + item.CollaboratorID + " isPDM=" + item.CollaboratorIsPDM + " collRoleId=" + item.CollaboratorRole + ">" +
                         "<div class=\"a-avatar span2 projectFolderAvatar\">" +
                         "<img src=\"@GMGColorDAL.User.GetDefaultImagePath(ViewBag.LoggedAccount.Domain)\" alt=\"default-avatar-user\" width=30 height=30  style=\" width: 30px; height: 30px; vertical-align: text-top;\"/></div>" +
                        "<div class=\"span10\" style=\"display: grid;\">" +
                        "<span class=\"block-name textOverflow\" style=\"font-weight: 600; \">" + item.CollaboratorName + "</span>" +
                        "<span class=\"textOverflow\">" + item.CollaboratorEmailAddress + "</span>" +
                        "<span class=\"block-role a-meta\">" + item.CollaboratorRoleName + "</span>" +
                         "</div></div></li>");
            }
        });
        $('#btnAddEditProjectFolder')[0].disabled = false;
        $('#btnAddEditProjectFolder')[0].innerText = "Edit Project Folder";
    }


    function selectedCollaborator() {
        var coll = $('#newProjectColloborators');
        var collName = $('#select2-teamForNewProjectFolder-container')[0].textContent;
        var collDetails = $('#teamForNewProjectFolder')[0].value;
        var collRoleId = $('#selectedCollaboratorRole')[0].value;
        if (collDetails != "" && collRoleId != "") {
            var collID = collDetails.split(',')[0];
            var collEmailID = collDetails.split(',')[1];
            var collRole = "";
            if (collRoleId == 1) {
                collRole = "Owner";
            }
            if (collRoleId == 2) {
                collRole = "Editor";
            }
            if (collRoleId == 3) {
                collRole = "Internal Contributor";
            }
            if (collRoleId == 4) {
                collRole = "External Contributor";
            }
            var collPDM = $('#isPDM')[0].checked;
            coll.append("<li class=\"NewProjectSelectedCollaborators span6 " + collID + "\">" +
                        "<a class=\"close closeSelectedCollaborator\" title=\"@Resources.btnClose\" onclick=\"RemoveSelectedCollaborator(" + collID + ");\">&times;</a>" +
                        "<div class=\"user-selector\" collID=" + collID + " isPDM=" + collPDM + " collRoleId=" + collRoleId + ">" +
                         "<div class=\"a-avatar span2 projectFolderAvatar\">" +
                         "<img src=\"@GMGColorDAL.User.GetDefaultImagePath(ViewBag.LoggedAccount.Domain)\" alt=\"default-avatar-user\" width=30 height=30  style=\" width: 30px; height: 30px; vertical-align: text-top;\"/></div>" +
                        "<div class=\"span10\" style=\"display: grid;\">" +
                        "<span class=\"block-name textOverflow\" style=\"font-weight: 600; \">" + collName + "</span>" +
                        "<span class=\"textOverflow\">" + collEmailID + "</span>" +
                        "<span class=\"block-role a-meta\">" + collRole + "</span>" +
                         "</div></div></li>");
            $('#selectedCollaboratorRole')[0].value = "";
            $('#select2-teamForNewProjectFolder-container')[0].textContent = "";
            $('#select2-teamForNewProjectFolder-container')[0].title = "";
            var con = $('#select2-teamForNewProjectFolder-container');
            con.append("<span class=\"select2-selection__placeholder\">Enter name or email</span>");
            $('#teamForNewProjectFolder')[0][0].remove();
            $('#teamForNewProjectFolder')[0][0].remove();
            $('#isPDM')[0].checked = false;
            if ($('#projectFolderNameId')[0].value != "" && $('.NewProjectSelectedCollaborators').length > 0) {
                $('#btnAddEditProjectFolder')[0].disabled = false;
            } else {
                $('#btnAddEditProjectFolder')[0].disabled = true;
            }
        }
    }

</script>
