﻿@model GMGColorDAL.CustomModels.PermissionsModel
@using GMGColor.Resources;
@using GMGColorDAL.CustomModels
@{
    GMGColorBusinessLogic.DbContextBL context = HttpContext.Current.Items[GMGColorDAL.DALUtils.DatabaseContext] as GMGColorBusinessLogic.DbContextBL;
}
<!-- The CSS classes begin with "widget", "collaboratoraccess" and others must have. :) -->
@{string cssClss = Model.ShowPanel ? " modal-clear" : string.Empty; string cssStyle = Model.ShowPanel ? "display: block;" : "display: none;";
    int readOnlyCollaboratorRole = GMGColorDAL.ApprovalCollaboratorRole.GetRole(GMGColorDAL.ApprovalCollaboratorRole.ApprovalRoleName.ReadOnly, context).ID;
    int reviewerCollaboratorRole = GMGColorDAL.ApprovalCollaboratorRole.GetRole(GMGColorDAL.ApprovalCollaboratorRole.ApprovalRoleName.Reviewer, context).ID;
    int approverAndReviewerCollaboratorRole = GMGColorDAL.ApprovalCollaboratorRole.GetRole(GMGColorDAL.ApprovalCollaboratorRole.ApprovalRoleName.ApproverAndReviewer, context).ID;
    int retoucherCollaboratorRole = GMGColorDAL.ApprovalCollaboratorRole.GetRole(GMGColorDAL.ApprovalCollaboratorRole.ApprovalRoleName.Retoucher, context).ID;}
<div id="widgetPermissions" class="collaboratoraccess controls">
    <div class="collaboratoraccess-control@(cssClss)" style="@cssStyle">
        <div class="modal-header">
            <a href="javascript:void(0);" class="close" data-dismiss="modal" value="close">&times;</a>
            <h3 class="widget-title">
                @Resources.lblWhoCanAccessThis
            </h3>
        </div>
        <div id="workflowContainer" class="a-user-selector" style="padding-left:20px;display:block">
            <h6 class="block-header group">Workflow</h6>
            <div class="btn-group">
                <label class="pull-left all-roles">@Resources.lblTemplate</label>
                <select class="input-medium" name="ApprovalWorkflow" id="selectAccessWorkflow"></select>
            </div>
            <div class="btn-group">
                <label class="pull-left all-roles">@Resources.lblChecklist</label>
                <select class="input-medium" id="selectAccessChecklist"></select>
            </div>
        </div>
        <div class="collaboratoraccess-base">
            <div id="carousel" class="collaboratoraccess-phases tabs-container">
                <div class="pull-left left-arrow" id="left"><i class="icon-angle-left icon-2x"></i></div>
                <div class="pull-right right-arrow" id="right"><i class="icon-angle-right icon-2x"></i></div>
                <div class="scrolling-container">
                    <div id="ulDiv" class="pull-left">
                        <ul class="nav nav-tabs"></ul>
                    </div>
                </div>
            </div>
            <div class="collaboratoraccess-filters user-selector-header">
                <ul class="nav nav-pills">
                    <li class=""><a href="javascript:void(0);" data-filter="all">@Resources.lblAll</a></li>
                    <li class=""><a href="javascript:void(0);" data-filter="members">@Resources.lblMembers</a></li>
                    <li class="pull-right">
                        <input class="search-query" name="search-text" placeholder="@Resources.lblEnterNameEmailOrGroup" type="text" />
                    </li>
                </ul>
            </div>
            <!-- /filters -->
            <div class="collaboratoraccess-blocks user-selector-container">
                <div class="a-user-selector compact">
                    @{  var groups = Model.SelectedUsersAndGroups.Where(o => o.IsExternal == false && o.IsGroup == true).ToList();
                        var users = Model.SelectedUsersAndGroups.Where(o => o.IsExternal == false && o.IsGroup == false).ToList();
                        var externalusers = Model.SelectedUsersAndGroups.Where(o => o.IsExternal == true && o.IsGroup == false).ToList();

                        <div class="collaboratoraccess-filters pull-right" pre-role="@readOnlyCollaboratorRole">
                            <label class="pull-left all-roles">@Resources.lblChangeAllRoles</label>
                            <div class="btn-group pull-left">
                                <select class="pull-left input-medium">
                                    @if (Model.ShowRetoucherApprovalRole)
                                    {
                                        <option value="@retoucherCollaboratorRole">@Resources.resRoleRetoucher</option>
                                    }
                                    <option value="@readOnlyCollaboratorRole" selected="selected">@Resources.resRoleReadOnly</option>
                                    <option value="@reviewerCollaboratorRole">@Resources.resRoleReviewer</option>
                                    <option value="@approverAndReviewerCollaboratorRole">@Resources.resRoleApproverAndReviewer</option>
                                </select>
                            </div>
                            <button id="submitRoles" class="btn btn-primary pull-right btn-submit-margin" type="button">@Resources.lblApply</button>
                        </div>
                        if (groups.Count > 0)
                        {
                            <h6 class="block-header group">@Resources.lblCollaboratorGroups</h6>

                            <ul class="block-grid group two-up">
                                @for (int i = 0; i < groups.Count; i++)
                                {
                                    string placement = (i % 2 == 0) ? "right" : "left";
                                    <li class="block group cfg@(Model.SelectedUsersAndGroups[i].ID)" block-id="@Model.SelectedUsersAndGroups[i].ID" block-role="@Model.SelectedUsersAndGroups[i].ApprovalRole">
                                        <dl class="user-selector">
                                            <dt class="group">
                                                @Model.SelectedUsersAndGroups[i].Name
                                            </dt>
                                            <dd class="a-avatar">
                                                <img src="/Content/img/default-avatar-group.png" alt="default-avatar-group" width="24"
                                                     height="24" />
                                            </dd>
                                            <dd class="block-status hide">
                                                @*Added data val to false to remove js validation for performance reasons*@
                                                @Html.HiddenFor(mdl => mdl.SelectedUsersAndGroups[i].ID, new { data_val = "false" })
                                                @Html.HiddenFor(mdl => mdl.SelectedUsersAndGroups[i].IsGroup, new { data_val = "false" })
                                                @Html.HiddenFor(mdl => mdl.SelectedUsersAndGroups[i].ApprovalRole, new { data_val = "false" })
                                                @Html.CheckBoxFor(mdl => mdl.SelectedUsersAndGroups[i].IsChecked, new { data_val = "false" })
                                            </dd>
                                        </dl>
                                        <div class="role-selector">
                                            <div class="btn-group pull-right">
                                                <span class="cfca-popover badge badge-inverse" data-placement="@(placement)" data-original-title="Collaborators" data-content="@Model.SelectedUsersAndGroups[i].Members">@Model.SelectedUsersAndGroups[i].Count</span>
                                            </div>
                                        </div>
                                    </li>
                                }
                                <li class="block-empty group search-results" style="display: none;">
                                    <h6 class="text-center">@Resources.lblNoResultsWereFound</h6>
                                </li>
                            </ul>
                        }
                        if (users.Count > 0)
                        {
                            <h6 class="block-header user">@Resources.lblCollaborators</h6>
                            <ul class="block-grid user two-up">
                                @for (int i = groups.Count; i < (groups.Count + users.Count); i++)
                                {
                                    <li class="block user @(Model.SelectedUsersAndGroups[i].Members)" block-id="@Model.SelectedUsersAndGroups[i].ID" block-role="@Model.SelectedUsersAndGroups[i].ApprovalRole">
                                        <dl class="user-selector">
                                            <dt class="block-name">
                                                <span>
                                                    @Model.SelectedUsersAndGroups[i].Name
                                                </span>
                                            </dt>
                                            <dd>
                                                @Model.SelectedUsersAndGroups[i].EmailAddress
                                            </dd>
                                            <dd class="block-role a-meta">
                                                @Model.SelectedUsersAndGroups[i].Role
                                            </dd>
                                            <dd class="a-avatar">
                                                @if (Model.SelectedUsersAndGroups[i].PhotoPath.Length > 0)
                                                {
                                                    <img class="userAvatar" src="@GMGColorDAL.User.GetImagePath(Model.SelectedUsersAndGroups[i].ID, context)" alt="default-avatar-user" width="24" height="24" />
                                                }
                                            </dd>
                                            <dd class="block-status hide">
                                                @Html.HiddenFor(mdl => mdl.SelectedUsersAndGroups[i].ID, new { data_val = "false" })
                                                @Html.HiddenFor(mdl => mdl.SelectedUsersAndGroups[i].IsExternal, new { data_val = "false" })
                                                @Html.HiddenFor(mdl => mdl.SelectedUsersAndGroups[i].IsGroup, new { data_val = "false" })
                                                @Html.HiddenFor(mdl => mdl.SelectedUsersAndGroups[i].ApprovalRole, new { data_val = "false" })
                                                @Html.CheckBoxFor(mdl => mdl.SelectedUsersAndGroups[i].IsChecked, new { data_val = "false" })
                                            </dd>
                                        </dl>
                                        <div class="role-selector" pre-role="@Model.SelectedUsersAndGroups[i].ApprovalRole">
                                            <div class="btn-group pull-right">
                                                <a href="javascript:void(0);" data-toggle="dropdown" class="btn btn-mini dropdown-toggle ellipsisButton">
                                                    <i class="icon-ellipsis-horizontal"></i>
                                                </a>
                                                <ul class="dropdown-menu pull-right">
                                                    <li class="role nav-header">@Resources.lblRole</li>
                                                    @if (Model.ShowRetoucherApprovalRole)
                                                    {
                                                        <li class="role retoucher">
                                                            <a href="javascript:void(0);" block-role="@retoucherCollaboratorRole" title="@Resources.resRoleRetoucher">
                                                                @Resources.resRoleRetoucher
                                                            </a>
                                                        </li>
                                                    }
                                                    <li class="role readonly">
                                                        <a href="javascript:void(0);" block-role="@readOnlyCollaboratorRole" title="@Resources.resRoleReadOnly">
                                                            @Resources.resRoleReadOnly
                                                        </a>
                                                    </li>
                                                    <li class="role reviewer">
                                                        <a href="javascript:void(0);" block-role="@reviewerCollaboratorRole" title="@Resources.resRoleReviewer">
                                                            @Resources.resRoleReviewer
                                                        </a>
                                                    </li>
                                                    <li class="role approver">
                                                        <a href="javascript:void(0);" block-role="@approverAndReviewerCollaboratorRole" title="@Resources.resRoleApproverAndReviewer">
                                                            @Resources.resRoleApproverAndReviewer
                                                        </a>
                                                    </li>
                                                    <li class="divider role settings"></li>
                                                    @if (!Model.IsPhaseScreen)
                                                    {
                                                        <li class="settings nav-header">@Resources.lblSettings</li>
                                                        <li class="settings owner"><a href="javascript:void(0);" block-role="-1" title="@Resources.lblMakeOwner">@Resources.lblMakeOwner</a></li>
                                                        <li class="settings pdm"><a href="javascript:void(0);" block-role="-2" title="@Resources.lblMakePDM">@Resources.lblMakePDM</a></li>
                                                    }
                                                    <li class="divider settings actions"></li>
                                                    <li class="actions remove">
                                                        <a href="javascript:void(0);" block-role="-3" title="@Resources.lblRemove">
                                                            <span class="icon-remove"></span>&nbsp;@Resources.lblRemove
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                }
                                <li class="block-empty user search-results" style="display: none;">
                                    <h6 class="text-center">@Resources.lblNoResultsWereFound</h6>
                                </li>
                            </ul>
                        }
                        if (externalusers.Count > 0)
                        {
                            <h6 class="block-header external">@Resources.lblExternalCollaborators</h6>
                            <ul class="block-grid external two-up">
                                @for (int i = (groups.Count + users.Count); i < (groups.Count + users.Count + externalusers.Count); i++)
                                {
                                    <li class="block external @(Model.SelectedUsersAndGroups[i].Members)" block-id="@Model.SelectedUsersAndGroups[i].ID" block-role="@Model.SelectedUsersAndGroups[i].ApprovalRole">
                                        <dl class="user-selector">
                                            <dt class="block-name">
                                                @Model.SelectedUsersAndGroups[i].Name
                                            </dt>
                                            <dd>
                                                @Model.SelectedUsersAndGroups[i].EmailAddress
                                            </dd>
                                            <dd class="block-role a-meta">
                                                @Model.SelectedUsersAndGroups[i].Role
                                            </dd>
                                            <dd class="a-avatar">
                                                <img src="@GMGColorDAL.User.GetDefaultImagePath(Model.Domain)" alt="default-avatar-user" width="24" height="24" />
                                            </dd>
                                            <dd class="block-status hide">
                                                @Html.HiddenFor(mdl => mdl.SelectedUsersAndGroups[i].ID, new { data_val = "false" })
                                                @Html.HiddenFor(mdl => mdl.SelectedUsersAndGroups[i].IsExternal, new { data_val = "false" })
                                                @Html.HiddenFor(mdl => mdl.SelectedUsersAndGroups[i].IsGroup, new { data_val = "false" })
                                                @Html.HiddenFor(mdl => mdl.SelectedUsersAndGroups[i].ApprovalRole, new { data_val = "false" })
                                                @Html.CheckBoxFor(mdl => mdl.SelectedUsersAndGroups[i].IsChecked, new { data_val = "false" })
                                            </dd>
                                        </dl>
                                        <div class="role-selector" pre-role="@Model.SelectedUsersAndGroups[i].ApprovalRole">
                                            <div class="btn-group pull-right">
                                                <a href="javascript:void(0);" data-toggle="dropdown" class="btn btn-mini dropdown-toggle ellipsisButton">
                                                    <i class="icon-ellipsis-horizontal"></i>
                                                </a>
                                                <ul class="dropdown-menu pull-right">
                                                    <li class="role nav-header">@Resources.lblRole</li>
                                                    @if (Model.ShowRetoucherApprovalRole)
                                                    {
                                                        <li class="role retoucher">
                                                            <a href="javascript:void(0);" block-role="@retoucherCollaboratorRole" title="@Resources.resRoleRetoucher">
                                                                @Resources.resRoleRetoucher
                                                            </a>
                                                        </li>
                                                    }
                                                    <li class="role readonly">
                                                        <a href="javascript:void(0);" block-role="@readOnlyCollaboratorRole" title="@Resources.resRoleReadOnly">
                                                            @Resources.resRoleReadOnly
                                                        </a>
                                                    </li>
                                                    <li class="role reviewer">
                                                        <a href="javascript:void(0);" block-role="@reviewerCollaboratorRole" title="@Resources.resRoleReviewer">
                                                            @Resources.resRoleReviewer
                                                        </a>
                                                    </li>
                                                    <li class="role approver">
                                                        <a href="javascript:void(0);" block-role="@approverAndReviewerCollaboratorRole" title="@Resources.resRoleApproverAndReviewer">
                                                            @Resources.resRoleApproverAndReviewer
                                                        </a>
                                                    </li>
                                                    <li class="divider role actions"></li>
                                                    @if (!Model.IsPhaseScreen)
                                                    {
                                                        <li class="settings nav-header">@Resources.lblSettings</li>
                                                        <li class="settings pdm"><a href="javascript:void(0);" block-role="-2" title="@Resources.lblMakePDM">@Resources.lblMakePDM</a></li>
                                                    }
                                                    <li class="divider settings actions"></li>
                                                    <li class="actions remove">
                                                        <a href="javascript:void(0);" block-role="-3" title="@Resources.lblRemove">
                                                            <span class="icon-remove"></span>&nbsp;@Resources.lblRemove
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                }
                                <li class="block-empty external search-results" style="display: none;">
                                    <h6 class="text-center">@Resources.lblNoResultsWereFound</h6>
                                </li>
                            </ul>
                        }
                    }
                </div>
            </div>
            <!-- /blocks -->
            <div class="collaboratoraccess-data">
                @{ var serializer = new System.Web.Script.Serialization.JavaScriptSerializer() { MaxJsonLength = int.MaxValue }; }
                <label class="widget-default-users hidden">@(serializer.Serialize(Model.SelectedUsersAndGroups.Select(o => o.ID + "|" + Model.SelectedUsersAndGroups.Where(u => u.ID == o.ID && !u.IsGroup && !u.IsExternal).Select(r => r.ApprovalRole).FirstOrDefault()).ToArray()))</label>
                <label class="widget-id-owner">@Html.HiddenFor(mdl => mdl.Owner, new { data_val = "false" })</label>
                <label class="widget-id-pdm">@Html.HiddenFor(mdl => mdl.PDM, new { data_val = "false" })</label>
                <label class="widget-text-approval">@Resources.lblApproval.ToLower()</label>
                <label class="widget-text-folder">@Resources.lblFolder.ToLower()</label>
                <label class="widget-text-modifier">@Resources.lblMe</label>
                <label class="widget-text-owner">@Resources.lblOwner</label>
                <label class="widget-text-pdm">@Resources.lblPDM</label>
                <label class="widget-text-pdm hidden">@Resources.lblPDM</label>
                <label class="widget-dirty-data hidden"></label>
                @Html.HiddenFor(m => m.PhasesCollaborators)
            </div>
            <!-- /data -->
        </div>
        <div class="hide">
            @Html.HiddenFor(mdl => mdl.OptionalMessage)
        </div>
        <div class="" style="display:none" id="OptionalmsgTextBox">
          <div id="editor" style="height:8em; min-height:100%; overflow-y:auto"></div>
        </div>
        <div class="collaboratoraccess-events modal-footer">
            <div class="clearboth">
                <div id="approverAndReviewerErr" class="pull-left field-validation-error" style="max-width: 319px!important; text-align: left; display:none">
                    <strong>@Resources.lblNote</strong> @Resources.SelectAtLeastOneApproverAndReviewer
                </div>
                <div id="pdmApproverAndReviewerErr" class="pull-left field-validation-error" style="max-width: 319px!important; text-align: left; display:none">
                    <strong>@Resources.lblNote</strong> @Resources.PdmApproverAndReviewerErr
                </div>
    @if (!Model.IsNewApproval)
    {
        <div id="IncludeOptionalMsgInAcessDiv" style="display:none" class="pull-left">
            @Html.CheckBoxFor(model => model.IncludeAnOptionalMessage, new { @id = "IncludeOptionalMsgInAcess", @style = "margin-top:0px", @checked = false, @onclick = "toggeleQuillTextBox()" }) &nbsp;
            @Resources.lblIncludeAnOptionalMessageForNewMembers
        </div>
                <div class="pull-right">
                    <button class="btn" data-dismiss="modal" type="button" value="cancel">
                        @Resources.btnCancel
                    </button>
                    <button class="btn btn-primary" onclick="handleSubmit()" action="ModifyProjectGridPermissions" data-loading-text="@Resources.btnSaving" type="button" value="submit">
                        @Resources.btnSaveChanges
                    </button>
                </div>
    }
    else
    {
        <div class="pull-right">
            <button class="btn" data-dismiss="modal" type="button" value="cancel">
                @Resources.btnCancel
            </button>
            <button class="btn btn-primary" onclick="ModifyProjectGridPermissionsSubmit();"  action="ModifyProjectGridPermissions" data-loading-text="@Resources.btnSaving" type="button" value="submit">
                @Resources.btnSaveChanges
            </button>
        </div>
    }
            </div>
        </div>
    </div>
    @if (Model.ShowPanel)
    {
        <div class="collaboratoraccesse-panel">
            <p class="help-block" style="padding-top: 5px;">

            </p>
        </div>
    }
</div>
@if (Request.IsAjaxRequest())
{
    <script src="@Url.Content("~/Content/js/codeflex/codeflex.projectgridapprovals.js")"></script>
}
<script type="text/javascript">
    var aptgr = $('#aApprovalTrigger');
    $(document).ready(function() {
        $("#IncludeOptionalMsgInAcess").attr('disabled', 'disabled');
        $.ajax({
            type: "GET",
            url: "/ProjectFolders/GetWorkflowCheckListDetails",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function(dataRes) {
                var workflowObj = [];
                workflowObj.push('<option value="0">Not Required</option>');
                $.each(dataRes.workflowList, function(i, obj)
                {
                    workflowObj.push('<option value="'+ obj.ID +'">'+ obj.Name +'</option>');
                });
                $('#selectAccessWorkflow').html(workflowObj.join(''));

                var checklistObj = [];
                checklistObj.push('<option value="0">Not Required</option>');
                $.each(dataRes.checklist, function(i, obj)
                {
                    checklistObj.push('<option value="'+ obj.ID +'">'+ obj.Name +'</option>');
                });
                $('#selectAccessChecklist').html(checklistObj.join(''));
                
            },
            error: function(jqXHR, textStatus, errorThrown) {
                alert('Error Loading Workflow and Checklist', errorThrown);
            }
        });
        $('#widgetPermissions').collaboratorAccess({ creator: @(Model.Creator), modifier: @(Model.Modifier), showpanel: @(Model.ShowPanel.ToString().ToLower()), externaltrigger: aptgr, trigger: $('#aApprovalTrigger'), refresh: @(Model.Refresh.ToString().ToLower()), isPhaseScreen:@(Model.IsPhaseScreen.ToString().ToLower()), isNewApproval: @(Model.IsNewApproval.ToString().ToLower()), applyParentPermissions: @(Model.InheritParentFolderPermissions.ToString().ToLower())});
        $("#aApprovalTrigger").mouseover(function () {
            var selectedUserRoles = new Array();
            $("#widgetPermissions ul.user li.active").each(function(i, v) {
                selectedUserRoles[selectedUserRoles.length] = "\"" + $(v).attr("block-id") + "|" + $(v).attr("block-role") + "\"";
            });
            $(this).attr("widget-users", "[" + selectedUserRoles.join(",") + "]");
        });
        $('.cfca-popover').popover({ html : true , trigger: 'hover' });
    });
        
    var toolbarOptions = [
        ['bold', 'italic', 'underline']
    ]
    let jdQuill = new Quill('#editor', {
        theme: 'snow',
        modules: {
            toolbar: toolbarOptions
        }
    });

    function handleSubmit() {
        document.getElementById('OptionalMessage').value = jdQuill.root.innerHTML;
        document.getElementById("OptionalmsgTextBox").style.display = "none";
        $("#IncludeOptionalMsgInAcess").attr('disabled', 'disabled');
        jdQuill.root.innerHTML = "";
        document.getElementById("IncludeOptionalMsgInAcessDiv").style.display = "none";
        ModifyProjectGridPermissionsSubmit();
    };

    $('#left').on('click', function() {
        var item = $('ul.nav-tabs').find('li.active');
        $('.scrolling-container').animate({ scrollLeft: '-=' + ($(item).outerWidth(true)  * 1) }, 400);

         window.setTimeout('showHideArrow()', 300);
    });

    $('#right').on('click', function() {
        var item = $('ul.nav-tabs').find('li.active');
        $('.scrolling-container').animate({ scrollLeft: '-=' + ($(item).outerWidth(true)  * (-1)) }, 400);

        window.setTimeout('showHideArrow()', 300);
    });

    function showHideArrow() {
        var lastTabRightPos = ($('ul.nav-tabs li:last').offset().left + $('ul.nav-tabs li:last').width());
        var firstTabLeftPos = $('ul.nav-tabs li:first').offset().left;
        var scrollingDivRighttPos = $('.scrolling-container').offset().left + $('.scrolling-container').width();

        if (lastTabRightPos == 0 || firstTabLeftPos == 0) {//this is the case when workflow is changed
             $('#right').css('display', 'block');
             $('#left').css('display', 'none');
        } else {
            $('.scrolling-container').width('489px');
            //hide/show next arrows
            if (lastTabRightPos > scrollingDivRighttPos) {
                $('#right').css('display', 'block');
            } else {
                $('#right').css('display', 'none');
            }

            //hide/show prev arrows
            if (firstTabLeftPos < $('.scrolling-container').offset().left) {
                $('#left').css('display', 'block');
            } else {
                $('#left').css('display', 'none');
                $('.scrolling-container').width('500px');
            }
        }
    }
    function toggeleQuillTextBox() {
        var x = document.getElementById("OptionalmsgTextBox");
        if (x.style.display === "none") {
            document.getElementsByClassName("collaboratoraccess-base")[0].style.maxHeight = "300px";
            jdQuill.root.innerHTML = "";
            x.style.display = "block";
        } else {
            x.style.display = "none";
            document.getElementsByClassName("collaboratoraccess-base")[0].style.maxHeight = "400px";
        }
    }
</script>

