﻿@model GMGColorDAL.CustomModels.SecondaryNavigationModel
@{ Bundles.Reference("navigation-collapse"); }
<div class="subnav accoutnSettingdNav">
    <ul class="nav nav-tabs nav-stacked nav-parent">
        @for (int i = 0; i < Model.Menus.Count(); i++)
        {
            @Html.EditorFor(m => m.Menus[i])
        }
    </ul>
</div>

