﻿@model GMGColorDAL.CustomModels.ShareModel
@using GMGColor.Resources;
@{
    if (!Request.IsAjaxRequest())
    {
        Bundles.Reference("collaboratorshare");
    }
    string cssClss = Model.ShowPanel ? " modal-clear" : string.Empty; string cssStyle = Model.ShowPanel ? "display: block;" : "display: none;";
}
<style type="text/css">
    .collaboratorshare-blocks.disable-roles .block-grid .role-selector .role, .collaboratorshare-blocks.disable-roles .add-user-control .btn-group
    {
        display: none;
    }
</style>
<!-- The CSS classes begin with "collaboratorshare" and "user", "group" must have. -->

<div id="widgetShare" class="collaboratorshare">
    <div class="collaboratorshare-control@(cssClss)" style="@cssStyle">
        <div class="modal-header">
            <a href="javascript:void(0);" class="close" data-dismiss="modal" onclick="ResetModel();">&times;</a>
            <h3 class="widget-title">@Resources.lblWhoCanShareWith</h3>
        </div>
        <div class="collaboratorshare-base">
            <p class="collaboratorshare-message">@Resources.paragraphShare</p>
            <div class="collaboratorshare-filters control-group">
                <div class="controls">
                    <label class="checkbox inline">
                        @Html.CheckBoxFor((mdl => mdl.IsShareURL), new { @class = "share", @tabindex = "1" })&nbsp;@Resources.lblShareURL
                    </label>
                    <label class="checkbox inline">
                        @Html.CheckBoxFor((mdl => mdl.IsShareDownloadURL), new { @class = "download", @tabindex = "2" })&nbsp;@Resources.lblShareDownloadURL
                    </label>
                </div>
            </div>
            <div class="collaboratorshare-blocks">
                <div class="controls">
                    <h6>@Resources.lblExternalCollaborators</h6>
                    <div id="errSelectExternalUser" class="alert alert-error hide">@Resources.errPleaseSelectOneExternalUser</div>
                    <div class="empty-block-share alert alert-error hide">@Resources.reqShareWithExternalUsers</div>
                    <div class="empty-block-user alert alert-error hide">@Resources.reqFirstLastEmailRequired</div>
                    <div class="empty-block-email alert alert-error hide">@Resources.reqEmailAddress</div>
                    <div class="empty-block-email-exists alert alert-error hide">@Resources.reqEmailExist</div>
                    <div class="a-user-selector compact">
                        <ul class="block-grid external two-up">
                            @for (int i = 0; i < Model.ExistingExternalUsers.Count; i++)
                            {
                                string fullName = Model.ExistingExternalUsers[i].GivenName + " " + Model.ExistingExternalUsers[i].FamilyName;
                                
                                <li class="block external remove" block-id="@Model.ExistingExternalUsers[i].ID" block-role="@Model.ReadOnlyCollaboratorRole">
                                    <dl>
                                        <dt class="block-name">@(fullName)</dt>
                                        <dt class="block-email hide">@(Model.ExistingExternalUsers[i].EmailAddress)</dt>
                                        <dd class="role-selector" pre-role="@Model.ReadOnlyCollaboratorRole">
                                            <div class="btn-group pull-right">
                                                <a href="javascript:void(0);" data-toggle="dropdown" class="btn btn-mini dropdown-toggle ellipsisButton">
                                                    <i class="icon-ellipsis-horizontal"></i>
                                                </a>
                                                <ul class="dropdown-menu pull-right">
                                                    <li class="role nav-header">@Resources.lblRole</li>
                                                    @if (Model.ShowRetoucherApprovalRole)
                                                    {
                                                        <li class="role retoucher"><a href="javascript:void(0);" block-role="@Model.RetoucherCollaboratorRole" title="@Resources.resRoleRetoucher">
                                                                                       @Resources.resRoleRetoucher</a> </li>
                                                    }
                                                    <li class="role readonly"><a href="javascript:void(0);" block-role="@Model.ReadOnlyCollaboratorRole" title="@Resources.resRoleReadOnly">
                                                                                  @Resources.resRoleReadOnly</a> </li>
                                                    <li class="role reviewer"><a href="javascript:void(0);" block-role="@Model.ReviewerCollaboratorRole" title="@Resources.resRoleReviewer">
                                                                                  @Resources.resRoleReviewer</a> </li>
                                                    <li class="role approver"><a href="javascript:void(0);" block-role="@Model.ApproverAndReviewerCollaboratorRole" title="@Resources.resRoleApproverAndReviewer">
                                                                                  @Resources.resRoleApproverAndReviewer</a> </li>
                                                    <li class="divider role actions"></li>
                                                    <li class="actions remove"><a href="javascript:void(0);" block-role="-3" title="@Resources.lblRemove">
                                                                                   <span class="icon-remove"></span>&nbsp;@Resources.lblRemove</a></li>
                                                </ul>
                                            </div>
                                        </dd>
                                        <dd class="block-role a-meta">
                                            @Resources.resRoleReadOnly
                                        </dd>
                                        <dd class="a-avatar">
                                            <img src="@Model.DefaultImagePath" alt="exteranl user" width="24" height="24"/>
                                        </dd>
                                    </dl>
                                </li>
                            }
                        </ul>
                        <ul class="block-template">
                            <li id="##DOMID##_b_##INDEX##" class="##CLASS##" block-id="##ID##" block-role="##ROLE##">
                                <dl>
                                    <dt class="block-name hide">##NAME##</dt>
                                    <dt class="block-email">##EMAIL##</dt>
                                    <dd class="role-selector" pre-role="##ROLE##">
                                        <div class="btn-group pull-right">
                                            <a href="javascript:void(0);" data-toggle="dropdown" class="btn btn-mini dropdown-toggle ellipsisButton">
                                                <i class="icon-ellipsis-horizontal"></i>
                                            </a>
                                            <ul class="dropdown-menu pull-right">
                                                <li class="role nav-header">@Resources.lblRole</li>
                                                @if (Model.ShowRetoucherApprovalRole)
                                                {
                                                    <li class="role retoucher"><a href="javascript:void(0);" block-role="@Model.RetoucherCollaboratorRole" title="@Resources.resRoleRetoucher">
                                                                                   @Resources.resRoleRetoucher</a> </li>
                                                }
                                                <li class="role readonly"><a href="javascript:void(0);" block-role="@Model.ReadOnlyCollaboratorRole" title="@Resources.resRoleReadOnly">
                                                                              @Resources.resRoleReadOnly</a> </li>
                                                <li class="role reviewer"><a href="javascript:void(0);" block-role="@Model.ReviewerCollaboratorRole" title="@Resources.resRoleReviewer">
                                                                              @Resources.resRoleReviewer</a> </li>
                                                <li class="role approver"><a href="javascript:void(0);" block-role="@Model.ApproverAndReviewerCollaboratorRole" title="@Resources.resRoleApproverAndReviewer">
                                                                              @Resources.resRoleApproverAndReviewer</a> </li>
                                                <li class="divider role actions"></li>
                                                <li class="actions remove"><a href="javascript:void(0);" block-role="-3" title="@Resources.lblRemove">
                                                                               <span class="icon-remove"></span>&nbsp;@Resources.lblRemove</a></li>
                                            </ul>
                                        </div>
                                    </dd>
                                    <dd class="block-role a-meta">
                                        ##ROLENAME##
                                    </dd>
                                    <dd class="a-avatar">
                                        <img src="@Model.DefaultImagePath" alt="exteranl user" width="24" height="24"/>
                                    </dd>
                                </dl>
                            </li>
                        </ul>
                    </div>
                    @{
                        var serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
                        var existingEmails = Model.ExistingExternalUsers.Where(e => !e.IsDeleted).Select(e => e.EmailAddress).ToList();
                        var cssClass = Model.IsPhaseScreen ? "hide-user-data-input" : string.Empty;
                    }
                    <div class="block active add-user-control form-inline @(cssClass)" block-id="0" block-role="@Model.ReadOnlyCollaboratorRole">
                        <input class="first-name input-mini" placeholder="@Resources.lblFirst" tabindex="3" type="text" name="share_firstname"/>
                        <input class="last-name input-mini" placeholder="@Resources.lblLast" tabindex="4" type="text" name="share_lastname"/>
                        <div class="role-selector input-append" pre-role="@Model.ReadOnlyCollaboratorRole">
                            <input class="email input-small" name="share_email" data-items="4" data-provide="typeahead" data-source="@serializer.Serialize(existingEmails)" placeholder="@Resources.lblEmail" tabindex="5" type="text" />
                            <div class="btn-group">
                                <button class="data-selector btn dropdown-toggle" data-toggle="dropdown" type="button">
                                    <span class="block-role">@Resources.resRoleReadOnly</span>&nbsp;<span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    @if (Model.ShowRetoucherApprovalRole)
                                    {
                                        <li class="role retoucher"><a href="#" onclick="return false;" block-role="@Model.RetoucherCollaboratorRole" title="@Resources.resRoleRetoucher">
                                                                       @Resources.resRoleRetoucher</a> </li>
                                    }
                                    <li class="role readonly"><a href="#" onclick="return false;" block-role="@Model.ReadOnlyCollaboratorRole" title="@Resources.resRoleReadOnly">
                                                                  @Resources.resRoleReadOnly</a> </li>
                                    <li class="role reviewer"><a href="#" onclick="return false;" block-role="@Model.ReviewerCollaboratorRole" title="@Resources.resRoleReviewer">
                                                                  @Resources.resRoleReviewer</a> </li>
                                    <li class="role approver"><a href="#" onclick="return false;" block-role="@Model.ApproverAndReviewerCollaboratorRole" title="@Resources.resRoleApproverAndReviewer">
                                                                  @Resources.resRoleApproverAndReviewer</a> </li>
                                </ul>
                            </div>
                        </div>
                        <select id="ext-language" class="span2">
                            @foreach (var lang in Model.LocalizeLocaleNames)
                            {
                                <option value="@lang.Key" @(Model.DefaultLanguage == lang.Key ? "selected" : String.Empty)>@lang.Value</option>
                            }
                        </select>
                        <button class="btn btn-primary" tabindex="6" type="button" value="insert">@Resources.lblAdd</button>
                    </div>
                </div>
            </div>
            <div class="collaboratorshare-fields control-group row-fluid">
                <div class="controls">
                    <h6 class="messageCls">@Resources.lblMessage</h6> <span class="remainingCharactersCls"><span id="noOfLeftCharacters"></span> @Resources.lblCharactersLeft</span>
                    @Html.TextAreaFor((mdl => mdl.Message), new { @class = "message span12", @cols = "20", @disabled = "disabled", @rows = "4", @tabindex = "7", @onkeyup = "countChar(this)", @onpaste = "countCharOnPaste(this)" })
                </div>
            </div>
            <div class="collaboratorshare-data">
                <label class="widget-data-emails">@Html.HiddenFor(mdl => mdl.ExternalEmails)</label>
                <label class="widget-data-users">@Html.HiddenFor(mdl => mdl.ExternalUsers)</label>
                <label class="widget-id-approval">@Html.HiddenFor(mdl => mdl.Approval)</label>
                <label class="widget-text-approval">@Resources.lblApproval.ToLower()</label>
                <label class="widget-text-folder">@Resources.lblFolder.ToLower()</label>
                <label class="widget-type">@Html.HiddenFor(mdl => mdl.IsFolder)</label>
            </div>
        </div>
        <div class="collaboratorshare-events modal-footer">
            <button class="btn" data-dismiss="modal" type="button" value="cancel" onclick="clearSharePopupInputs();">
                @Resources.btnCancel
            </button>
            <button class="btn btn-primary" action="SendAndShare" data-loading-text="@Resources.btnSharing" type="button" value="submit">
                @Resources.lblShare
            </button>
        </div>
    </div>
</div>
@if (Request.IsAjaxRequest())
{
<script src="@Url.Content("~/Content/js/codeflex/codeflex.share.js")"></script>
}
<script type="text/javascript">
    var MaxCharactersInMessage = 1024;
    $('#noOfLeftCharacters').text(MaxCharactersInMessage);
    $(document).ready(function () {
        $('#maxNoOfCharacters').text(MaxCharactersInMessage);
        $('#widgetShare').collaboratorShare({showpanel:@(Model.ShowPanel.ToString().ToLower()), externaltrigger: $('#aApprovalTrigger'), isFromDeliver: false, isPhaseScreen: @(Model.IsPhaseScreen.ToString().ToLower())}); 
    });
    function countChar(val) {
        var len = val.value.length;
        if (len >= MaxCharactersInMessage) {
            val.value = val.value.substring(0, MaxCharactersInMessage);
        } 
        $('#noOfLeftCharacters').text(MaxCharactersInMessage - val.value.length);
    };

    function countCharOnPaste(val) {
        window.setTimeout(function() {
                countChar(val);// run the countChar after value was added
        }, 1);
    }
</script>
