﻿@using GMGColor.Resources;
@using GMGColorBusinessLogic
@using GMGColorDAL
@model String
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@Resources.titleSuspendedAccount</title>
    <link rel="shortcut icon" href="/favicon.ico" />
    <style type="text/css">
        body{background:#f2f2f2;padding-top:65px;text-align:center;font-family:Arial,Helvetica,sans-serif}
        a,a:hover{color:#185787}
        p{margin:0;padding:0 0 13px 0}
        .container{width:580px;background:#FFF}
        .cta{background:#f1fafe;font-size:14px;color:#1f1f1f;border-top:1px solid #dae3ea;border-bottom:1px solid #dae3ea;border-left:1px solid #DDD;border-right:1px solid #DDD;margin:0;padding:24px 19px 8px 39px;text-align:left}
        .cta h3{margin:-3px 0 14px 0}
        .cta p{font-size:12px;font-weight:normal;line-height:20px}
        .footer{color:#797c80;font-size:12px;border-left:1px solid #DDD;border-right:1px solid #DDD;padding-top:23px;padding-left:39px;padding-right:13px;padding-bottom:23px;text-align:left}
        .img_bottom{padding:0;margin:0}
        .reopen{padding:27px 39px 14px 39px;text-align:left;border-left:1px solid #DDD;border-right:1px solid #DDD;border-bottom:1px solid #ddd}
        .reopen h3{color:#5c5c5c;font-weight:bold;font-size:14px;padding:0;margin:0 0 18px 0}
        .reopen p{margin:0 0 15px 0;padding:0;font-size:12px;color:#4c4c4c;line-height:20px}
        .title{padding-top:26px;padding-left:39px;padding-right:39px;text-align:left;border-top:1px solid #ddd;border-left:1px solid #DDD;border-right:1px solid #DDD}
        .title h2{font-size:34px;color:#363636;font-weight:normal;margin:0 0 13px 0;padding:0;letter-spacing:0}
        .title h3{font-size:16px;color:#3e434a;font-weight:normal;margin:0 0 26px 0;padding:0;line-height:25px}
        .unsub{margin-top:100px;color:#f2f2f2}
        .byline{display:block;font-size:16px;color:#666;padding-top:5px;padding-bottom:7px}
    </style>
</head>
<body>
    <table class="container" align="center" cellspacing="0" border="0" cellpadding="0" width="580" bgcolor="#FFFFFF">
        <tr>
            <td class="title">
                <h2>@Resources.lblWhoops</h2>
                <h3>@string.Format(Resources.h3SuspendedAccount, string.Empty) @Html.Raw(Convert.ToString(Model))</h3>
            </td>
        </tr>
        <tr>
            <td class="reopen">     
                <p>@Resources.pharagraphNotConfigured <a href="mailto: @ViewBag.ContactEmailAdress?subject=@Resources.lblSuspendedEmailSubject">@Resources.lblSiteOwner.ToLower()</a>.</p>
            </td>
        </tr>
    </table>
</body>
</html>
