﻿@model GMGColorDAL.CustomModels.TermsAndConditions
@using GMGColor.Resources;
<div class="modal" id="modalDialogTermsConditions" style="display: none;">
    <div class="modal-header">
        <a data-dismiss="modal" aria-hidden="true" class="close" href="javascript:void(0);">&times;</a>
        <h3>@string.Format(Resources.lblSiteConditions, Model.SiteName)</h3>
    </div>
    <div class="modal-body">
        @Html.Raw(Model.ModelBody)
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal" onclick="$('#chkTermsAndConditions').removeAttr('checked');$('#btnCreateAccount').attr('disabled', 'disabled');">@Resources.btnCancel</a>
        <a href="#" class="btn btn-primary" data-dismiss="modal" onclick="$('#chkTermsAndConditions').attr('checked','checked');$('#btnCreateAccount').removeAttr('disabled');">@Resources.btnIAgree</a>
    </div>
</div>
