﻿@model WebGridNavigationModel

@using GMGColor.Resources
@using GMGColorDAL.CustomModels

<div class="filter-bar-bottom">
    <div class="display-message pull-right">
        @{
            int pagingStart = ((Model.PageNr - 1) * Model.RowsPerPage) + 1;
            int pagingEnd = ((Model.PageNr * Model.RowsPerPage) >= Model.TotalRows) ? Model.TotalRows : (Model.PageNr * Model.RowsPerPage);
        }
        @pagingStart - @pagingEnd @Resources.lblOf @Model.TotalRows
    </div>
    <ul class="nav nav-pills" style="margin-bottom: 0;">
        <li class="dropdown dropup">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                @string.Format("{0}", Model.DicPageSizes.ContainsKey(ViewBag.PageSize) ? Model.DicPageSizes[ViewBag.PageSize] : Model.DicPageSizes.First()) <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="@Url.Action(Model.ActionName, Model.ControllerName, Common.GetCurrentQueryStrings(Request.QueryString, "RowsPerPage", 10))">
                        @if (ViewBag.PageSize == 10)
                        {<i class="icon-ok"></i> }
                        @Model.DicPageSizes[10]
                    </a>
                </li>
                <li>
                    <a href="@Url.Action(Model.ActionName, Model.ControllerName, Common.GetCurrentQueryStrings(Request.QueryString, "RowsPerPage", 20))">
                        @if (ViewBag.PageSize == 20)
                        {<i class="icon-ok"></i> }
                        @Model.DicPageSizes[20]
                    </a>
                </li>
                <li>
                    <a href="@Url.Action(Model.ActionName, Model.ControllerName, Common.GetCurrentQueryStrings(Request.QueryString, "RowsPerPage", 30))">
                        @if (ViewBag.PageSize == 30)
                        {<i class="icon-ok"></i> }
                        @Model.DicPageSizes[30]
                    </a>
                </li>
                <li>
                    <a href="@Url.Action(Model.ActionName, Model.ControllerName, Common.GetCurrentQueryStrings(Request.QueryString, "RowsPerPage", 50))">
                        @if (ViewBag.PageSize == 50)
                        {<i class="icon-ok"></i> }
                        @Model.DicPageSizes[50]
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>

@if (Model.TotalRows > Model.RowsPerPage)
{
    <div class="pagination pagination-centered">
        <ul>
            @foreach (WebGridNavigationItem item in @Model.Items)
            {
                string linkUrl = Url.Action(Model.ActionName, Model.ControllerName, Common.GetCurrentQueryStrings(Request.QueryString, "page", item.Value));
                string textUrl = "";

                if (item.IsFirst)
                {
                    textUrl = "«";
                }
                else if (item.IsLast)
                {
                    textUrl = "»";
                }
                else
                {
                    textUrl = item.Value;
                }
                <li class="@string.Format("{0}", Model.PageNr.ToString() == item.Value ? "active" : "")" onclick=""><a href="@linkUrl" aaaaaaaa="@linkUrl">&nbsp;@textUrl&nbsp;</a></li>
            }
        </ul>
    </div>
}