/*!
 * Reports / Index
 */
 
// BILLING REPORT
// ----------


#print {
	margin: 0 0 0 0;
	.page {
	    background: @white;
	    .box-shadow(0 1px 4px rgba(0,0,0,.085));
	 	padding: 1em 3em 3em;
		background: @white;
		border: 0px solid @btnBorder;
	  	.border-radius(0px);
	    position: relative;
    }
}

.grand-total {
	border-top: 1px solid @tableBorder;
      margin: @baseLineHeight 0 @baseLineHeight;
    padding-top: (@baseLineHeight / 2) - 1;
}
  



.report_items li {
	a {
		border: 1px solid transparent;
		.border-radius(4px);
	    color: @grayDark;
	    text-decoration: none;
	    display: block;
	    min-height: 26px;
	    padding: 10px;
	    text-align: center;
	    i {
			font-size: 60px;
			line-height: 60px;
		}
		h4 {
		    padding: 0;
		    margin: 0;
	    }	
	}	
    a:hover {
	    border: 1px solid #eee;
		border: 1px solid rgba(0,0,0,.05);
	    background-color: #f2f2f2;
	    .box-shadow(inset 0 1px 1px rgba(0,0,0,.05));
    }
}
