﻿<!-- content -->
<table id="Table1" border="0" cellpadding="0" cellspacing="0" width="580">
    <tbody>
        <tr>
            <td width="30">
            </td>
            <td width="580">               
                <p style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; line-height: 18px;
                    font-size: 14px; margin-top: 1em; margin-right: 0; margin-bottom: 1em; margin-left: 0;">
                    <$pharagraphReminderMessage$></p>
                <table border="0" cellpadding="0" cellspacing="0" align="center" style="mso-table-lspace: 0pt;
                    mso-table-rspace: 0pt;">
                    <tr>
                        <td align="center" width="180" bgcolor="#ED1556" class="btn" style="background-color: #ED1556;
                            -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; color: #fff;
                            font-weight: bold; text-decoration: none; font-family: Helvetica, Arial, sans-serif;
                            display: block; font-size: 13px;">
                            <a href="<$approvalURL$>" style="color: #fff; text-decoration: none;
							 padding-top: 8px; padding-right: 10px; padding-bottom: 8px; padding-left: 10px; display: block;"><$btnView$></a>
                        </td>
                    </tr>
                </table>
            </td>
            <td width="30">
            </td>
        </tr>
        <tr>
            <td colspan="3" height="20" width="580">
            </td>
        </tr>
    </tbody>
</table>
<!-- /content -->
