﻿<!-- page header -->
<table id="page-header" border="0" cellpadding="0" cellspacing="0" width="640" style="border-left-width: 1px;
    border-left-color: #CCCCCC; border-left-style: solid; border-right-style: solid;
    border-right-color: #CCCCCC; border-right-width: 1px; mso-table-lspace: 0pt;
    mso-table-rspace: 0pt; background-color: #FFF;" bgcolor="#FFF">
    <tbody>
        <tr>
            <td width="30">&nbsp;
            </td>
            <td width="580" style="border-top-width: 1px; border-top-color: #ddd; border-top-style: solid;
                font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">
                <div id="headline">
                    <h1 style="font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif; font-size: 26px;
                        text-align: left; font-weight: bold; line-height: 28px; color: black !important;"
                        align="left">
                        <$title$></h1>
                </div>
            </td>
            <td width="30">&nbsp;
            </td>
        </tr>
        <tr>
            <td width="30" height="10">&nbsp;</td>
            <td width="580">&nbsp;</td>
            <td width="30">&nbsp;</td>
        </tr>
    </tbody>
</table>
<!-- /page header  -->
<!-- content -->
<table id="Table1" border="0" cellpadding="0" cellspacing="0" width="640" style="border-left-width: 1px;
    border-left-color: #CCCCCC; border-left-style: solid; border-right-style: solid;
    border-right-color: #CCCCCC; border-right-width: 1px; mso-table-lspace: 0pt;
    mso-table-rspace: 0pt; background-color: #FFF;" bgcolor="#FFF">
    <tbody>
        <tr>
            <td width="30">
            </td>
            <td width="580">
                <p style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; line-height: 18px;
                    font-size: 14px; margin-top: 1em; margin-right: 0; margin-bottom: 1em; margin-left: 0;">
                    <$pharagraphNewInstance$></p>
            </td>
            <td width="30">
            </td>
        </tr>
        <tr>
            <td colspan="3" height="20" width="640">
            </td>
        </tr>
        <tr>
            <td width="30">
            </td>
            <td width="580" style="border-top-width: 1px; border-top-color: #ddd; border-top-style: solid;
                font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">
                <p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; line-height: 18px;
                    font-size: 14px; margin-top: 1em; margin-right: 0; margin-bottom: 1em; margin-left: 0;">
                    <br />
                    <a href="<$accountURL$>" style="color: #1997c4; text-decoration: none;"><$UserAccountURL$></a></p>
            </td>
            <td width="30">
            </td>
        </tr>
        <tr>
            <td colspan="3" height="20" width="640">
            </td>
        </tr>
    </tbody>
</table>
<!-- /content -->
