﻿<!-- page header -->
<table id="page-header" border="0" cellpadding="0" cellspacing="0" width="640" style="border-left-width: 1px;
    border-left-color: #cccccc; border-left-style: solid; border-right-style: solid;
    border-right-color: #cccccc; border-right-width: 1px; mso-table-lspace: 0pt;
    mso-table-rspace: 0pt; background-color: #ffffff;" bgcolor="#ffffff">
    <tbody>
        <tr>
            <td width="30">
            </td>
            <td width="580" style="border-top-width: 1px; border-top-color: #ddd; border-top-style: solid;
                font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">
                <div id="headline" style="padding-top: 10px;">
                    <h1 style="font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif; font-size: 26px;
                        text-align: left; font-weight: bold; line-height: 28px; color: black !important;"
                        align="left">
                        <$title$></h1>
                </div>
            </td>
            <td width="30">
            </td>
        </tr>
        <tr>
            <td width="30">
            </td>
            <td width="580" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
                line-height: 18px; font-size: 14px; border-bottom-style: dashed; border-bottom-color: #dddddd;
                border-bottom-width: 1px; padding-bottom: 20px; text-align: left; margin-top: 1em;
                margin-right: 0; margin-bottom: 20px; margin-left: 0;">
                <$message$>
            </td>
            <td width="30">
            </td>
        </tr>
    </tbody>
</table>
<!-- /page header  -->
<!-- content -->
<table id="content" border="0" cellpadding="0" cellspacing="0" width="640" style="border-left-width: 1px;
    border-left-color: #CCCCCC; border-left-style: solid; border-right-style: solid;
    border-right-color: #CCCCCC; border-right-width: 1px; mso-table-lspace: 0pt;
    mso-table-rspace: 0pt; background-color: #FFF;" bgcolor="#FFF">
    <tbody>
        <tr>
            <td width="30">
            </td>
            <td width="580">
                <div id="report-results">
                    <$ReportDetails$>
                    <h2 class="grandtotal" style="font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
                        color: black !important; font-size: 28px; text-align: right;" align="right">
                        <small style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 13px;">
                            <$lblGrandTotal$></small> <$GrandTotal$></h2>
                </div>
            </td>
            <td width="30">
            </td>
        </tr>
        <tr>
            <td colspan="4" height="20" width="640">
            </td>
        </tr>
        <tr>
            <td width="30">
            </td>
            <td width="580" style="border-top-width: 1px; border-top-color: #ddd; border-top-style: solid;
                font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;" align="left">
                <p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; line-height: 18px;
                    font-size: 14px; margin-top: 1em; margin-right: 0; text-align: left; margin-bottom: 1em;
                    margin-left: 0;">
                    <br />
                    <a href="" style="color: #1997c4; text-decoration: none;"><$UserAccountURL$></a></p>
            </td>
            <td width="30">
            </td>
        </tr>
        <tr>
            <td colspan="4" height="20" width="640">
            </td>
        </tr>
    </tbody>
</table>
<!-- /content -->
