<i class="annMarker fa fa-plus-square-o leaflet-marker-icon plus-marker" style="display:none; position: relative; z-index: 3;"></i>

{{#if singleAnnotationView}}
    <!-- start annotation placeholder -->
    {{#if selectedAnnotation}}
      {{render "image/viewer/annotations/item" selectedAnnotation}}
    {{/if}}
    <!-- end annotation placeholder -->
{{else}}
    <!-- start annotations placeholder -->
    {{#each annotation in model.annotations}}
      {{render "image/viewer/annotations/item" annotation}}
    {{/each}}
    <!-- end annotations placeholder -->
{{/if}}
