﻿@model GMGColorDAL.CustomModels.FileTransferHistory.FileTransferHistoryModel
@using GMGColor.Common
@using GMGColor.Controllers
@using GMGColor.Resources;
@using GMGColorDAL.Common
@using GMGColorDAL.CustomModels
@{
    bool isJobNameSelectable = true;
    bool isTabletBrowser = ViewBag.UserDeviceInfo.DeviceType == GMGColorEnums.BrowserType.Tablet || ViewBag.UserDeviceInfo.DeviceType == GMGColorEnums.BrowserType.SmartphonePhone;
}

<link href="@Url.Content("~/Content/css/columnwidths-default.css")" rel="stylesheet" media="screen" />
<script type="text/javascript" src="@Url.Content("~/Content/js/jquery/colResizable-1.3.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/js/resizable-columns.js")"></script>

@using (Html.BeginForm("Index", "FileTransfer", FormMethod.Post, new { @class = "form-horizontal", id = "formMain" }))
{
    @Html.AntiForgeryToken()
    <div id="dvColorProofInstanaces" class="tab-pane">
        @if (Model.ListJobs.Count > 0 || !string.IsNullOrEmpty(Model.SearchText) || !string.IsNullOrEmpty(Model.SearchSenderText))
        {
            DeleteConfirmation deleteDeliverJobConfirmation = new DeleteConfirmation(1, "DeleteJob");
            @Html.Partial("DeleteConfirmationDialog", deleteDeliverJobConfirmation)
        <div class="text-right tool-bar well clearboth" style="margin-bottom:20px;">
            <div class="form-search pull-left">
                <div class="input-append">
                    @Html.HiddenFor(m => m.SearchText, new { @data_val = false })
                    @Html.TextBoxFor(model => model.SearchText, new { id = "txtSearch", @class = "input-medium search-query" , @placeholder = Resources.lblFileTransferHistoryGridAdministratorSearch })
                    <button id="btnSearchText" type="submit" class="btn cancel" name="action" value="SearchFileTransfers" onclick="$('#SearchText')[0].value = $('#txtSearch').val();">
                        @Resources.btnSearch
                    </button>
                    @Html.HiddenFor(m => m.RowsPerPage)
                </div>
            </div>
        

            @if (isJobNameSelectable)
            {

                if (ViewBag.Role)
                {
                    <button id="btnMultiDelete" class="btn" data-method="delete" data-loading-text="@Resources.btnDeleting" disabled="disabled" type="button" value="DeleteMultipleJobs">
                        <i class="icon-trash"></i>&nbsp;@Resources.lblDelete
                    </button>
                }
                @Html.Hidden("deliverJobIds", string.Empty, new { @data_val = false })
                <button id="btnMultiDownload" class="btn" data-loading-text="@Resources.btnDownloading" disabled="disabled" type="button" value="MultiDownload" class="pull-right">
                    <i class="icon-download-alt"></i>&nbsp;@Resources.lblDownload
                </button>
            }

        </div>
            <button class="hide" id="btnDeleteJob" name="action" value="DeleteJob" onclick="$('#modelDialogDeleteConfirmation_1').modal({ backdrop: 'static', keyboard: false }); return false;"></button>


            <div class="display-field">
                @{
                    var deliverJobs = new WebGrid(Model.ListJobs, rowsPerPage: @Model.RowsPerPage);

                    var gridColumns = new List<WebGridColumn>();


                    gridColumns.Add(deliverJobs.Column(
                        header: "{CheckBoxHeading}",
                        format:
                         @<input class="DeliverSingleCheckbox cell-align @Html.Raw(GetDecisionStatus(item))"  type="checkbox" value="@item.ID" />
                        ));
                    
                    gridColumns.Add(deliverJobs.Column(columnName: FileTransferController.FileNameColumn, header: Resources.lblFileTransferHistoryGridFileName, format: @<p class="cell-align">@item.FileName</p>));

                    gridColumns.Add(deliverJobs.Column(columnName: FileTransferController.CreatorColumn, header: Resources.lblFileTransferHistoryGridSender, format: @<p class="cell-align">@item.Creator</p>));

                    gridColumns.Add(deliverJobs.Column(columnName: FileTransferController.RecipientsColumn, header: Resources.lblFileTransferHistoryGridRecipients, format: @<p class="cell-align">@item.Recipients</p>));

                    gridColumns.Add(deliverJobs.Column(columnName: FileTransferController.OptionalMessageColumn, header: Resources.lblFileTransferHistoryGridOptionalMessage, format: @<p class="cell-align">@item.OptionalMessage</p>));

                    gridColumns.Add(deliverJobs.Column(columnName: FileTransferController.SentDateColumn, header: Resources.lblFileTransferHistoryGridCreatorSentDate, format: @<p class="cell-align">
                        @GMGColorFormatData.GetFormattedDate(GMGColorFormatData.GetUserTimeFromUTC(item.SentDate, Model.LoggedAccountTimeZone), Model.objLoggedAccount.DateFormat1.Pattern)
                        @GMGColorFormatData.GetFormattedTime(GMGColorFormatData.GetUserTimeFromUTC(item.SentDate, Model.LoggedAccountTimeZone), Model.objLoggedAccount)
                        </p>));

                    gridColumns.Add(deliverJobs.Column(format: @<text>@Html.Raw(GetApprovalMenuItem(item))</text>));



                }

                @MvcHtmlString.Create(deliverJobs.GetHtml(
                    tableStyle: "table table-striped table-bordered table-responsive filetransfers-table resizable",
              
                    mode: WebGridPagerModes.All,
                    firstText: "<< ",
                    lastText: " >>",
                    htmlAttributes: new { id = "filetransfer-index" },
                    columns: deliverJobs.Columns(gridColumns.ToArray())
                    ).ToString().Replace("{CheckBoxHeading}", "<input type='checkbox' class='DeliverAllCheckbox FileTransferCheckbox'/>"))

                @{
                    WebGridNavigationModel modelNavigation = new WebGridNavigationModel(Model.PageNr, Model.TotalRows, Model.RowsPerPage);
                    modelNavigation.ControllerName = "FileTransfer";
                    modelNavigation.ActionName = "Index";
                    Html.RenderPartial("WebGridNavigation", modelNavigation);
                }

                @Html.Hidden("loadActivityUrl", @Url.Action("LoadUserActivity", "FileTransfer"))
            </div>
            @Html.Hidden("SelectedInstance", "0", new { id = "hdnInstance" })
            @Html.HiddenFor(m => m.PageNr)

            
        }
        else
        {
            <div class="row-fluid blank-state" visible="false">
                <div class="span4 blank-state-icon">
                    <i class="icon-print"></i>
                </div>
                <div class="span7">
                    <h3>@Resources.lblAddYourFirstFileTransfer</h3>
                    @if (!isTabletBrowser)
                    {


                        <p>
                            <a data-toggle="modal" data-backdrop="static" data-keyboard="false" href="@Url.Action("NewFileTransfer", "FileTransfer")" class="btn btn-primary">@Resources.lblGetStarted</a>
                        </p>

                    }
                </div>
            </div>

        }

    </div>
    <script type="text/javascript">
        this.modelDialog = '@ViewBag.ModelDialog';
    </script>

    DeleteConfirmation deleteMultipleJobsConfirmation = new DeleteConfirmation(2, "DeleteMultipleJobs");
    @Html.Partial("DeleteConfirmationDialog", deleteMultipleJobsConfirmation)
}

<script id="detailsRowTemplate" type="text/x-custom-template">
    <tr class="userActivityDetails">
        <td>
            <img alt="Loading ..." height="30" src="/Content/img/loading-icon.gif" width="30" />
        </td>
        <td colspan="9" class="filetransfer-indexUserActivity"></td>
    </tr>
</script>

@functions {
    private string GetApprovalMenuItem(dynamic item)
    {
        System.Text.StringBuilder html = new System.Text.StringBuilder();
        html.Append("<div id=\"approvalMenuItem" + ((int)item.ID) + "\">");

        html.Append("<span class=\"pull-right expandableItem\"  data-item=\"" + item.ID + "\" style=\"width:50px; height:40px; text-align:center;\"><i class=\"icon-angle-down icon-large\"></i></span>");
        html.Append("</div>");
        return html.ToString();
    }

    private string GetDecisionStatus(dynamic item)
    {
        var notexprired = "notexpired";
        if(item.ExpirationDate < DateTime.UtcNow)
        {
            notexprired = "expired";
        }
        return notexprired;
    }


}


<script type="text/javascript">


    $('.DeliverSingleCheckbox').click(function () {

        if ($(this).is(':checked')) {

            if ($(this).hasClass("notexpired")) {
                $('#btnMultiDownload').removeAttr('disabled');


                if ($('.DeliverSingleCheckbox').length == $('.DeliverSingleCheckbox:checked').length) {
                    $('.DeliverAllCheckbox').attr('checked', 'checked');
                }
            }
        } else {
            $('.DeliverAllCheckbox').removeAttr('checked');
        }
        //the Timeout is needed in order disable/enable 'Multiple Delete' button only after '$('#allCheckBox_DeliverJobs')' click event from WebGridHelper.cs is executed
        //beacuse the jobs checkboxes are checked/unchecked by this event
        setTimeout(function () {
            enableDisableMultiDeleteBtn();
        }, 200);
    });

    function enableDisableMultiDeleteBtn() {
        if ($('.DeliverSingleCheckbox:checked').length > 0) {
            $('#btnMultiDelete').removeAttr('disabled');
            $("input[type='checkbox']:checked").each(function (index, value) {
                if ($(this).attr('shared') == "True") {
                    $('#btnMultiDelete').attr('disabled', 'disabled');
                }
            });
        } else {
            $('#btnMultiDownload').attr('disabled', 'disabled');
            $('#btnMultiDelete').attr('disabled', 'disabled');
        }

    }
    $('.DeliverAllCheckbox').click(function () {
        if ($(this).is(':checked')) {
            $('#btnMultiDownload').removeAttr('disabled');
            $('.DeliverSingleCheckbox').attr('checked', 'checked');
        } else {
            $('.DeliverSingleCheckbox').removeAttr('checked');
        }
        //the Timeout is needed in order disable/enable 'Multiple Delete' button only after '$('#allCheckBox_DeliverJobs')' click event from WebGridHelper.cs is executed
        //beacuse the jobs checkboxes are checked/unchecked by this event
        setTimeout(function () {
            enableDisableMultiDeleteBtn();
        }, 200);
    });

    $('#btnMultiDownload').click(function () {
        var IDs = $('input.DeliverSingleCheckbox:checked').map(function () { return $(this).attr('value'); }).get().join(',');
        downloadJobs(IDs);

        if ($('.DeliverAllCheckbox:checked')) {
            $('.DeliverAllCheckbox').attr('checked', false);
            $('.DeliverSingleCheckbox').attr('checked', false);
            $('#btnMultiDownload').attr('disabled', 'disabled');
            $('#btnMultiDelete').attr('disabled', 'disabled');
        }
    });

    $('#btnMultiDelete').click(function () {
        var selectedDeliverJobs = [];
        $('input.DeliverSingleCheckbox:checked').each(function () {
            selectedDeliverJobs.push($(this).val());
        });

        $(this).closest("form").attr("action", "DeleteMultipleJobs");
        $('#deliverJobIds').val(JSON.stringify(selectedDeliverJobs));
        $('#modelDialogDeleteConfirmation_2').modal({ backdrop: 'static', keyboard: false });

        if ($('.DeliverAllCheckbox:checked')) {
            $('.DeliverAllCheckbox').attr('checked', false);
            $('.DeliverSingleCheckbox').attr('checked', false);
            $('#btnMultiDownload').attr('disabled', 'disabled');
            $('#btnMultiDelete').attr('disabled', 'disabled');
        }
    });

    //Fix for the webgrid header columns to generate the correct url (needed after loading async the grid)
    $('th a').on('click', function () {
        $(this).attr('href', $(this).attr('href').replace('GetFileTransfersHistory', 'Index'));
    });

    $('#txtSearch').on('keydown', function (e) {
        if (e.which == 13) {
            $('#btnSearchText').click();
            return false;
        }
        return true;
    });




    $('.expandableItem').on('click', function () {
        
        var approval = $(this).attr('data-item');
        var row = $(this).parents('tr:first');
       
        var isDetailsLoaded = row.next().hasClass('userActivityDetails');
        if (isDetailsLoaded) {
            row.next().toggleClass('hide');
        } else {
            var newRowHtml = $('#detailsRowTemplate').html();
            var newRow = $(newRowHtml);
            row.after(newRow);
            $.ajax({
                type: "GET",
                url: $('#loadActivityUrl').val() + "?approval=" + approval,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (userActivity) {
                    if (userActivity.Status == 200) {
                        var cellText = $(newRow).children().eq(1).html();
                        if (cellText.trim() != userActivity.Content.trim()) {
                            $(newRow).children().eq(1).append(userActivity.Content);
                        }
                        $(newRow).find('img').remove();

                    } else {
                        $('#errOccured').show();
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    if (jqXHR.readyState == 0 || jqXHR.status == 0) {
                        return;
                    } else {
                        $('#errOccured').show();
                    }
                }
            });
        }

        //change arrow icon based on current state
        var icon = $(this).children('i');
        if (icon.hasClass('icon-angle-down')) {
            icon.removeClass('icon-angle-down').addClass('icon-angle-up');
        } else {
            icon.removeClass('icon-angle-up').addClass('icon-angle-down');
        }
    });
</script>
