﻿@using GMG.CoZone.Collaborate.UI
@using GMGColor.Common
@using GMGColor.Resources;
@using GMGColorDAL.CustomModels
@using GMGColor.HtmlHelpers;
@{
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
    Bundles.Reference("fileupload");
    Bundles.Reference("filedownload");

    bool isJobNameSelectable = true;
    bool isTabletBrowser = ViewBag.UserDeviceInfo.DeviceType == GMGColorEnums.BrowserType.Tablet || ViewBag.UserDeviceInfo.DeviceType == GMGColorEnums.BrowserType.SmartphonePhone;
}
<div class="widget">
    <div class="widget-header">
        <ul class="widget-links">
            @if (!isTabletBrowser)
                {
                    <li><a class="btn btn-primary" data-toggle="modal" data-backdrop="static" data-keyboard="false" href="@Url.Action("NewFileTransfer", "FileTransfer")">@Resources.btnAddNewFileTransfer</a></li>
                }
            
        </ul>
        <h3>@ViewBag.Header @*<small>@ViewBag.HeaderSmall</small>*@</h3>
    </div>
    <!-- /widget-header -->
    <div class="widget-content">
        <div class="row-fluid">
            <div class="span12" id="deliverJobs">
                <div id="loadingGrid" style="text-align:center;">
                    <label>@Resources.lblLoading</label>
                    @Html.Image("manageJobsGridLoader", "~/Content/img/loading-icon.gif", @Resources.lblLoading, new { @style = "margin:auto;" }, 50, 50)
                </div>
                @*Deliver Jobs Grid goes here , Filled by asynchronous Request*@
            </div>
        </div>
        <!-- /row-fluid -->
    </div>
    <!-- /widget-content -->
</div>
<!-- /widget -->


@if (isJobNameSelectable)
{
    Html.RenderPartial("FileDownload", (FileDownloadViewModel)ViewBag.FileDownload);
}

<script type="text/javascript">
    var jobStausTimeout = 3000; // in miliseconds
  
    
    function downloadJobs(files) {
        
        var dataObject = {
            __RequestVerificationToken: $("#formMain input").val(),
            fileIDs: files
        };

        $('#btnMultiDownload').html('<i class="icon-download-alt"></i>&nbsp; ' +  'Downloading');
         $.ajax({
                       type: "POST",
                       url: '@Url.Action("GetDownloadTransferFilePath", "Base")',
                        data: dataObject,
                       dataType: "json",
                       success: function (result) {
                           
                           downloadSuccess(result)
                           
                        },
                       done: function (result) {
                           downloadComplete(result)
                            
                        },
                       error: function (error) {
                          $('#btnMultiDownload').html('<i class="icon-download-alt"></i>&nbsp; ' + 'Download'),
                          downloadFailed(error)
                       }
         });
      
     }
    

    $( document ).ready(function() {
            $.ajax({
                        type: "GET",
                        url: '@Html.Raw(@Url.Action("GetFileTransfersHistory", "FileTransfer", new { page = @ViewBag.Page, search = @ViewBag.Search,
                             searchSender = @ViewBag.SearchSender,
                             sort = @ViewBag.Sort, sortdir = @ViewBag.SortDir,
                             rowsPerPage = @ViewBag.RowsPerPage }))',
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        cache: false,
                        success: function (deliverJobs) {
                                $('#loadingGrid').remove();
                                $('#deliverJobs').html(deliverJobs.Content);
                            },
                        error: function (jqXHR, textStatus, errorThrown) {
                                if(jqXHR.readyState == 0 || jqXHR.status == 0)
                                {
                                    return;
                                }
                                else
                                {
                                    $('#loadingGrid').replaceWith('<label>Error Loading Deliver Jobs Grid '+ textStatus + ' ' + errorThrown + '</label>');
                                }
                        }
                    });
        });
</script>