﻿@model NewApprovalModel
@using GMGColor.FileUpload;
@using GMGColor.HtmlHelpers;
@using GMGColor.Resources;
@using GMGColorDAL
@using GMGColorDAL.Common
@using GMGColorDAL.CustomModels
@using AppModule = GMG.CoZone.Common.AppModule
@{
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
    Bundles.Reference("fileupload");
    Bundles.Reference("datetimepicker");
    Bundles.Reference("filetransferindex");
    //Bundles.Reference("addAdHocWorkflowStyles");
    GMGColorBusinessLogic.DbContextBL context = HttpContext.Current.Items[GMGColorDAL.DALUtils.DatabaseContext] as GMGColorBusinessLogic.DbContextBL;
}
<div class="widget">
    <div class="widget-header">
        <h3>@ViewBag.Header</h3>
    </div>
    <!-- /widget-header -->
    <div class="widget-content">
        <div class="row-fluid">
            @using (Html.BeginForm("", "FileTransfer", FormMethod.Post, new { @class = "form-horizontal dirtyignore", id = "formAddNewApproval" }))
            {
                @Html.AntiForgeryToken()
                bool IsEnableMediaTools = Account.IsEnableMediaTools(Model.objLoggedAccount.ID, AppModule.Collaborate, context);

                @Html.HiddenFor(mdl => mdl.HasAdHocWorkflow)
                @Html.HiddenFor(mdl => mdl.Job)
                if (!string.IsNullOrEmpty(Model.ErrorMessage))
                {
                    <div class="alert alert-error">
                        <strong>@Resources.lblError :</strong>
                        @Model.ErrorMessage
                    </div>
                }
                if (Model.HasWarnings)
                {
                    <div class="alert alert-error">
                        <strong>@Resources.lblWarning :</strong>
                        @Html.ValidationMessage("warningMessage")
                    </div>
                }
                <!-- Upload -->
                <fieldset>
                    <legend style="margin: 0;">
                        @Resources.lblUpload  
                        <small>
                           
                            @if (!string.IsNullOrEmpty(Model.OriginalFileName))
                            {
                                <span id="originalFileName" class="pull-right truncate" title="@Model.OriginalFileName">
                                    @Model.OriginalFileName 
                                </span>
                            }
                        </small>
                    </legend>
                   
                    <div id="dvUploader" style="display: block" class="control-group">
                        @Html.HiddenFor(m => m.FileTitleValidator)
                        @Html.ValidationMessageFor(m => m.FileTitleValidator)
                        @{
                            FileUploadModel fupModel = new FileUploadModel(Model.objLoggedAccount.Region);
                            fupModel.IsMultiple = (Model.Job == 0);
                            fupModel.Key = 1;
                            fupModel.CssClass = "icon-upload-alt";
                            fupModel.UseDropZone = true;
                            fupModel.IsRequired = true;
                            fupModel.AcceptFileTypes = Model.AcceptedFiles;
                            fupModel.PathToTempFolder = Model.PathToTempFolder;
                            fupModel.MaxFileSize = GMGColorConfiguration.AppConfiguration.ApprovalMaxFileSize;
                            fupModel.MaxNumberOfFiles = GMGColorConfiguration.AppConfiguration.ApprovalsMaxNrOfFiles;
                        }
                        @Html.Partial("FileUpload", fupModel)
                    </div>
                    @{
                        FileUploadModel fileUploadModel = FileUploadModel.FileUploadTemplates(Model.PathToTempFolder, Model.objLoggedAccount.Region);
                        fileUploadModel.UseLabelForFileName = (Model.Job > 0);
                        fileUploadModel.ApprovalFolderId = Model.Folder;
                        fileUploadModel.IsNewVersionRequest = (Model.Job > 0);
                        fileUploadModel.Uploader = (ViewBag.LoggedUser as GMGColorDAL.User).ID;
                        fileUploadModel.DispalyName = "<strong class=\"initialName\">" + Model.Title + "</strong> <span class=\"label\">v" + Model.Version.ToString() + "</span>";
                    }
                    @Html.Partial("FileUploadTemplates", fileUploadModel)
                  
                    @Html.CheckBoxFor(mdl => mdl.IsUploadApproval, new { @style = "display : none ;", @id = "chkUpload" })
                    <div id="settingsOverrideMsg" class="alert alert-info" style="display: none" role="alert">
                        @Resources.lblOverrideSettingsFromPrvVers
                    </div>
                    @*<div class="control-group" id="updateFileName">
                        <div class="controls">
                            <label class="checkbox">
                                @Html.CheckBoxFor(mdl => mdl.KeepOriginalFileName) @Resources.lblKeepOriginalFileName
                            </label>
                        </div>
                    </div>*@
                </fieldset>
                <!-- Permissions & Share-->
                        <fieldset>
                            <legend>@Resources.lblNotifications <small>@Resources.lblChooseUsersForFileTransfer</small></legend>
                           
                            @Html.HiddenFor(mdl => mdl.ApprovalWorkflowId)
                          
                            <div id="adHocWorkflowContainer">
                                <div class="controls" id="LoadingImage">
                                    <img src="../../Content/img/loading-icon.gif" />
                                </div>
                            </div>

                            <div id="templateWorkflowAccess">
                                @if ((Model.ApprovalWorkflowId > 0 && Model.AllowOtherUsersToBeAdded) || Model.Job == 0 || (Model.Job > 0 && Model.ApprovalWorkflowId == 0))
                                {
                                    <div class="controls">
                                        @Html.ValidationMessage("collaboratorsAccess", new { @class = "errAccess" })
                                    </div>
                                    <div class="control-group">
                                        <div class="controls">
                                            @{
                                                var serializer = new System.Web.Script.Serialization.JavaScriptSerializer();

                                                if (Model.Job > 0)
                                                {
                                                    if (Model.ApprovalWorkflowId > 0)
                                                    {
                                                        <a class="btn btn-primary" id="aApprovalTrigger" style="font-weight: bold;" href="javascript:void(0);" title="@Resources.lblModifyAccessForThisApproval" widget-toggle="collaboratoraccess" widget-type="approval" widget-id="0" widget-decision="0" widget-users="" widget-groups="" widget-external="" widget-creator="@(Model.Creator)" widget-owner="@(Model.Owner)" widget-workflow-phases="@(Model.PhasesCollaborators)" widget-phases="@serializer.Serialize(Model.WorkflowPhases)" widget-phase="" widget-decision-type="0">
                                                            @Resources.lblAddExistingUserstoThisApproval
                                                        </a>
                                                    }
                                                    else
                                                    {
                                                        <a class="btn btn-primary" id="aApprovalTrigger" style="font-weight: bold;" href="javascript:void(0);" title="@Resources.lblModifyAccessForThisApproval" widget-toggle="collaboratoraccess" widget-type="approval" widget-id="0" widget-creator="@Model.Creator" widget-decision="0" widget-owner="@(Model.Owner)" widget-users="@serializer.Serialize(Model.ApprovalVersionCollaboratorInfo.CollaboratorsWithRole)" widget-external="@serializer.Serialize(Model.ApprovalVersionCollaboratorInfo.ExternalCollaboratorsWithRole)" widget-groups="@serializer.Serialize(Model.ApprovalVersionCollaboratorInfo.Groups)" widget-workflow-phases="" widget-phases="" widget-phase="" widget-decision-type="0">
                                                            @Resources.lblAddExistingUserstoThisApproval
                                                        </a>
                                                    }
                                                }
                                                else
                                                {
                                                    if (Model.ApprovalWorkflowId > 0 && !ViewData.ModelState.IsValid)
                                                    {
                                                        <a class="btn btn-primary" id="aApprovalTrigger" style="font-weight: bold;" href="javascript:void(0);" title="@Resources.lblModifyAccessForThisApproval" widget-toggle="collaboratoraccess" widget-type="approval" widget-id="0" widget-creator="0" widget-owner="0" widget-users="" widget-groups="" widget-decision="0" widget-external="" widget-workflow-phases="@(Model.PhasesCollaborators)" widget-phases="@serializer.Serialize(Model.WorkflowPhases)" widget-phase="" widget-decision-type="0">
                                                            @Resources.lblAddExistingUserstoThisApproval
                                                        </a>
                                                    }
                                                    else
                                                    {
                                                        <a class="btn btn-primary" id="aApprovalTrigger" style="font-weight: bold;" href="javascript:void(0);" title="@Resources.lblModifyAccessForThisApproval" widget-toggle="collaboratoraccess" widget-type="approval" widget-id="0" widget-creator="@(Model.Creator)" widget-owner="@(Model.Owner)" widget-decision="0" widget-workflow-phases="" widget-phases="" widget-phase="" widget-decision-type="0">
                                                            @Resources.lblAddExistingUserstoThisApproval
                                                        </a>
                                                    }
                                                }
                                            }
                                        </div>
                                    </div>
                                    <div>
                                        @{ Html.RenderAction("FileTransferPermissions", "Widget", new { @refresh = false, @showPanel = true, @isFromNewApprovalScreen = true, @isPhaseScreen = false, @approvalFolderId = Model.Folder }); }
                                    </div>
                            <!-- / Permissions -->
                                            <div>
                                                @{ Html.RenderAction("FileTransferShare", "Widget", new { @showPanel = true }); }
                                            </div>
                            <!-- / Sahre -->
                                                    <div class="collaboratorshare-fields control-group row-fluid">
                                                        <div class="controls">
                                                            <h6>@Resources.lblMessageUploadNotification</h6>
                                                            @Html.TextAreaFor((mdl => mdl.OptionalMessage), new { @class = "message span12 message-option-input", @cols = "20", @rows = "4", @tabindex = "7" })
                                                            @Html.ValidationMessageFor(m => m.OptionalMessage)
                                                        </div>
                                                    </div>
                                                    }
                                                    else
                                                    {
                                                        @Html.HiddenFor(mdl => mdl.PhasesCollaborators)
                                                        @Html.HiddenFor(mdl => mdl.Owner)
                                                    }
                            </div>
                        </fieldset>
                <!-- / -->
                                                  
                <!-- / -->

                <!-- Organise -->
                                                                 
                                                                               
                                                                                @*@Html.HiddenFor(m => m.ApprovalAdHocWorkflowName);*@
                <!-- / -->
                                                                                <div class="form-actions">
                                                                                    <button id="btnAddApproval" class="btn btn-primary" data-loading-image="imgSavingLoader" data-loading-text="@Resources.btnSaving" name="action" type="submit" value="NewFileTransfer">
                                                                                        @Resources.btnSendFileTransfer
                                                                                    </button>
                                                                                    @Html.Image("imgSavingLoader", "~/Content/img/loading-icon.gif", @Resources.lblLoading, new { @class = "hide" }, 30, 30)
                                                                                </div>
                                                                                @Html.Hidden("UsePreviousSettings", (bool)ViewBag.UseSettingsFromPreviousVerion, new { @data_val = false })
                                                                                @Html.Hidden("ApplyBatchUploadSettings", (bool)ViewBag.AppyApprovalBatchSettings, new { @data_val = false })
                                                                                @Html.Hidden("ModelVersion", Model.Version, new { @data_val = false })
                                                                                }
        </div>
        <!-- /row-fluid -->
    </div>
    <!-- /widget-content -->
</div>
<!-- /widget -->
<script type="text/javascript">
    var approvalCollaboratorRoleId = '@(ApprovalCollaboratorRole.GetRole(ApprovalCollaboratorRole.ApprovalRoleName.ApproverAndReviewer, context).ID)';
    var urlGetApprovalFileStatuses = '@Url.Action("GetApprovalFileStatuses", "Approvals")';
    var urlGetFolderCollaborators = '@Url.Action("GetFolderCollaborators", "Approvals")';
    var title = '@Model.Title';
    var urlPingSession = '@Url.Action("PingSession", "Approvals")';
</script>
