﻿@model NewFileTransferFolderModel
@using GMGColor.FileUpload;
@using GMGColor.HtmlHelpers;
@using GMGColor.Resources;
@using GMGColorDAL
@using GMGColorDAL.Common
@using GMGColorDAL.CustomModels
@using AppModule = GMG.CoZone.Common.AppModule
@{
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
    Bundles.Reference("fileupload");
    Bundles.Reference("datetimepicker");
    Bundles.Reference("filetransferindex");
    //Bundles.Reference("addAdHocWorkflowStyles");
    GMGColorBusinessLogic.DbContextBL context = HttpContext.Current.Items[GMGColorDAL.DALUtils.DatabaseContext] as GMGColorBusinessLogic.DbContextBL;
}
<div class="widget">
    <div class="widget-header">
        <h3>@ViewBag.Header</h3>
    </div>
    <!-- /widget-header -->
    <div class="widget-content">
        <div class="row-fluid">
            @using (Html.BeginForm("", "FileTransfer", FormMethod.Post, new { @class = "form-horizontal dirtyignore", id = "formAddNewApproval" }))
            {
                @Html.AntiForgeryToken()
                bool IsEnableMediaTools = Account.IsEnableMediaTools(Model.objLoggedAccount.ID, AppModule.Collaborate, context);


                @Html.HiddenFor(mdl => mdl.Folder)
                if (!string.IsNullOrEmpty(Model.ErrorMessage))
                {
                    <div class="alert alert-error">
                        <strong>@Resources.lblError :</strong>
                        @Model.ErrorMessage
                    </div>
                }
                if (Model.HasWarnings)
                {
                    <div class="alert alert-error">
                        <strong>@Resources.lblWarning :</strong>
                        @Html.ValidationMessage("warningMessage")
                    </div>
                }
                <!-- Upload -->
                <fieldset>
                    <legend style="margin: 0;">
                        Uploaded file transfer:

                    </legend>

                    <div class="collaboratorshare-fields control-group row-fluid">
                        <div class="controls">
                            <h3> @Model.OriginalFileName</h3>

                        </div>
                    </div>


                </fieldset>
                <!-- Permissions & Share-->
                <fieldset>
                    <legend>@Resources.lblNotifications <small>@Resources.lblChooseUsersForFileTransfer</small></legend>





                    <div id="templateWorkflowAccess">

                        <div class="controls">
                            @Html.ValidationMessage("collaboratorsAccess", new { @class = "errAccess" })
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                @{
                                    var serializer = new System.Web.Script.Serialization.JavaScriptSerializer();

                                   
                                        <a class="btn btn-primary" id="aApprovalTrigger" style="font-weight: bold;" href="javascript:void(0);" title="@Resources.lblModifyAccessForThisApproval" widget-toggle="collaboratoraccess" widget-type="approval" widget-id="0" widget-creator="@Model.Creator" widget-decision="0" widget-owner="@(Model.Owner)" widget-users="@serializer.Serialize(Model.ApprovalVersionCollaboratorInfo.CollaboratorsWithRole)" widget-groups="@serializer.Serialize(Model.ApprovalVersionCollaboratorInfo.Groups)" widget-workflow-phases="" widget-phases="" widget-phase="" widget-decision-type="0">
                                            @Resources.lblAddExistingUserstoThisApproval
                                        </a>

                                   
                                    

                                        @*<a id="aApprovalTrigger" style="font-weight: bold;" href="javascript:void(0);" title="@Resources.lblModifyAccessForThisApproval" widget-toggle="collaboratoraccess" widget-type="approval" widget-id="0" widget-creator="@(Model.Creator)" widget-owner="@(Model.Owner)" widget-decision="0" widget-workflow-phases="" widget-phases="" widget-phase="" widget-decision-type="0">
                                            @Resources.lblAddExistingUserstoThisApproval
                                        </a>*@

                                }
                            </div>
                        </div>
                        <div>
                            @{ Html.RenderAction("FileTransferPermissions", "Widget", new { @refresh = false, @showPanel = true, @isFromNewApprovalScreen = true, @isPhaseScreen = false, @approvalFolderId = Model.Folder }); }
                        </div>
                        <!-- / Permissions -->
                        <div>
                            @{ Html.RenderAction("FileTransferShare", "Widget", new { @showPanel = true }); }
                        </div>
                        <!-- / Share -->
                        <div class="collaboratorshare-fields control-group row-fluid">
                            <div class="controls">
                                <h6>@Resources.lblMessageUploadNotification</h6>
                                @Html.TextAreaFor((mdl => mdl.OptionalMessage), new { @class = "message span12 message-option-input", @cols = "20", @rows = "4", @tabindex = "7" })
                                @Html.ValidationMessageFor(m => m.OptionalMessage)
                            </div>
                        </div>

                    </div>
                </fieldset>
                
                <!-- Organise -->


                @*@Html.HiddenFor(m => m.ApprovalAdHocWorkflowName);*@
                <!-- / -->


                <div class="form-actions">
                    <button id="btnAddApproval" class="btn btn-primary" data-loading-image="imgSavingLoader" data-loading-text="@Resources.btnSaving" name="action" type="submit" value="NewFolderTransfer">
                        @Resources.btnSendFileTransfer
                    </button>
                    @Html.Image("imgSavingLoader", "~/Content/img/loading-icon.gif", @Resources.lblLoading, new { @class = "hide" }, 30, 30)
                </div>



            }
        </div>
        <!-- /row-fluid -->
    </div>
    <!-- /widget-content -->
</div>
<!-- /widget -->
<script type="text/javascript">
    var approvalCollaboratorRoleId = '@(ApprovalCollaboratorRole.GetRole(ApprovalCollaboratorRole.ApprovalRoleName.ApproverAndReviewer, context).ID)';
    var urlGetApprovalFileStatuses = '@Url.Action("GetApprovalFileStatuses", "Approvals")';
    var urlGetFolderCollaborators = '@Url.Action("GetFolderCollaborators", "Approvals")';
    var title = '@Model.Title';
    var urlPingSession = '@Url.Action("PingSession", "Approvals")';
</script>
