﻿@model FileTransferHistory.FileTransferDetailsModel
@using GMGColor.Resources
@using GMGColorDAL.Common
@using GMGColorDAL.CustomModels

@{
    var context = HttpContext.Current.Items[GMGColorDAL.DALUtils.DatabaseContext] as GMGColorBusinessLogic.DbContextBL;
}

<div class="subscription userPhaseContainer">
    <div class="row-fluid">
        <div class="span12">
            <h3>@Resources.lblUserActivity </h3>
            <table class="table table-striped table-bordered table-user-activity externalActivityTable">
                <thead>
                    <tr class="adjust-widths">
                        <th>
                            @Resources.lblName<br />
                            <small> @Resources.lblEmail</small>
                        </th>
                        <th>
                            @Resources.lblDownloaded<br />
                            <small>@Resources.lblTime</small>
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (FileTransferHistory.FileTransferDetailsCollaboratorActivity objActivity in Model.ColloaboratorActivities)
                    {
                        var date = Resources.txtNotDownloaded;
                        var time = string.Empty;
                        if (@objActivity.Downloaded != null)
                        {
                            DateTime dtSent = GMGColorFormatData.GetUserTimeFromUTC(@objActivity.Downloaded.Value, Model.objLoggedAccount.TimeZone);
                            date = @GMGColorFormatData.GetFormattedDate(dtSent, Model.objLoggedAccount, context);
                            time = @GMGColorFormatData.GetFormattedTime(dtSent, Model.objLoggedAccount);
                        }

                        <tr>
                            <td class="span3">
                               @if (objActivity.UserStatus == 3) { 
                                <strong>@objActivity.Name (@Resources.lblInactive) </strong>
                                <br />
                               }
                               else
                               {
                                <strong>@objActivity.Name </strong>
                                <br />
                               }
                                <small>@objActivity.EmailAddress</small>
                            </td>

                            <td class="span3">

                                @date
                                <br />
                                <small>@time</small>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    @if (Model.ExternalColloaboratorActivities != null && Model.ExternalColloaboratorActivities.Count > 0)
    {
        <div class="row-fluid">
            <div class="span12">
                <h3>@Resources.lblExternalUserActivity </h3>
                <table class="table table-striped table-bordered table-user-activity externalActivityTable">
                    <thead>
                        <tr class="adjust-widths">
                            <th>
                                @Resources.lblName<br />
                                <small> @Resources.lblEmail</small>
                            </th>
                            <th>
                                @Resources.lblDownloaded<br />
                                <small>@Resources.lblTime</small>
                            </th>
                           
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (FileTransferHistory.FileTransferDetailsCollaboratorActivity objActivity in Model.ExternalColloaboratorActivities)
                        {
                            var date = Resources.txtNotDownloaded;
                            var time = string.Empty;
                            if (@objActivity.Downloaded != null)
                            {
                                DateTime dtSent = GMGColorFormatData.GetUserTimeFromUTC(@objActivity.Downloaded.Value, Model.objLoggedAccount.TimeZone);
                                date = @GMGColorFormatData.GetFormattedDate(dtSent, Model.objLoggedAccount, context);
                                time = @GMGColorFormatData.GetFormattedTime(dtSent, Model.objLoggedAccount);
                            }

                            <tr>
                                <td class="span3">
                                    <strong>@objActivity.Name </strong>
                                    <br />
                                    <small>@objActivity.EmailAddress</small>
                                </td>
                                
                                <td class="span3">

                                    @date
                                    <br />
                                    <small>@time</small>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
</div>