/*!
 * Approvals / Details
 */
 

 .approval-detail {
	  .clearfix();
	  	margin-bottom: @baseLineHeight;	
 }
 
 // Special TABS
 //------------------
 
.tabs-container {
 	 background: #FFF;
	 margin: -20px -20px 0;
	 padding: 9px 0px 0;
	 .nav {
		padding:0px 20px;
	 }
 }
 
 .tools-bar{
	   margin: -10px 0 18px;
 }

.img-approval {
	   margin:0 0 18px;
	   background: #FFF;
	   
}