/*!
 * Approvals / Index
 */

.thumbnail-view { 
	.clearfix(); 
}
 
.approval-header {
	  padding-bottom: @baseLineHeight /2;
	  border-bottom: 1px solid #e5e5e5;
	    margin: 0 0 0;
	    .btn-group {
		  margin: 10px 0 0;  
	    }
}


.tool-bar {
 padding: 9px;
 margin: 0 0 0;
	min-height: 20px;
  background-color: @wellBackground;
  //border-bottom: 1px solid darken(@wellBackground, 7%);
  //.border-radius(3px);
  .box-shadow(inset 0 1px 1px rgba(0,0,0,.05));
  	text-align: center;
	.btn-toolbar{
		margin: 0;
	}

}




.filter-bar {
	  	padding: 3px 0;
	    border-bottom: 1px solid #e5e5e5;
	    margin: 0 0 @baseLineHeight /2;
	    .clearfix();
	    .nav {
		    margin-bottom: 0px;
		}
	    .btn-group {
		  margin: 0px 0 0;  
	    }
	    .checkbox {
		   	margin: 6px 10px 0 10px;  
	    }
}

.filter-bar-bottom {
	  	padding: 3px 0;
	    border-top: 1px solid #e5e5e5;
	    margin: 0 0;
	    .clearfix();
	     .nav {
		    margin-bottom: 0px;
		}
		.display-message {
			line-height: 32px;
			color: @gray;
		}

}

.approval-crumbs {
	margin: 0 0 8px;
	list-style: none;
	font-size: 21px;
	line-height: normal;
	.text-overflow();	
		small {
			font-size: 16px;
		}
		li {
			display: inline-block;
			.ie7-inline-block();
			font-weight: bold;
		}
		.divider {
			padding: 0 2px;
			color: @grayLight;
		}
		.active a {
			color: @grayDark;
		}
}


.tree-controls {
	border: 1px solid @inputBorder;
	border-top: 0;
	margin: 0px;
	margin-top: 0;
	padding: 5px 8px 5px;
	.box-sizing (border-box);
	.border-radius(0px 0px 4px 4px);

	background: @widgetBackground;
	#gradient > .vertical(@widgetBackgroundHighlight, @widgetBackground); 
	@shadow: inset 0 1px 0 rgba(255,255,255,.6);
	.box-shadow(@shadow);	

}

.tree-container {
  position: relative;
  margin-left: 0px;
  padding: 10px 10px 0 0;
  font-size: @baseFontSize;
  line-height: @baseLineHeight;
  color: @gray;
  background-color: @inputBackground;
  border: 1px solid @inputBorder;
  overflow:auto; 
  height:300px;
 .box-sizing (border-box);
}



/* Folder Tree */


ul.foldertree {
    margin: 0 0;
}

ul.foldertree, 
ul.foldertree ul {
    cursor: default;
    list-style: none;
    }
ul.foldertree ul {
    display: none;
    margin: 0 0 0 15px;	    
}

ul.foldertree li.block {
    clear: both;
    display: block;
    vertical-align: middle;
    margin: 0;
    padding: 0; 
    position: relative;
    white-space: nowrap;
     
    .block-content {
	    padding: 0;
	    margin:0;
    }
    .empty, 
	.toggler, 
	.folder {
	    display: inline-block;
	    float: left;
	  	.size(24px, 24px);
	  	.border-radius(4px);
	  	margin-right: 2px;
	  		
	 }
	.toggler {
	    background: url(../img/codeflex-foldertree.png) -3px 0 no-repeat;
	    cursor: pointer;
	    border: 1px solid darken(@wellBackground, 0%);
	    .size(24px, 15px);
	}
	 .empty  {
	     .size(24px, 15px);
	         border: 1px solid darken(@wellBackground, 0%);
	  		
	 }
	.folder {
	    background: url(../img/codeflex-foldertree.png) -48px 0 no-repeat;
	     
	}
	.title {   
	    padding: 0;
	    margin:0 0 0 0;
	    line-height: 1;
	    cursor: pointer;
	    overflow: hidden;
	    //background: darken(@wellBackground, 5%);
	    .action {
		    color: @grayDark;
		    outline: 0;
		    padding: 4px 4px 4px 1px;
		    position: relative;
		    text-decoration: none;
		    line-height: 24px; 
		    	    max-width: 100%;
	    overflow: hidden;
	    text-overflow: ellipsis; 
		}
		&:hover .item-group {		
			border: 1px solid transparent;
			background-color: #D9D9D9;
			background: rgba(0, 0, 0, 0.15);
			 &.active {    
			      #gradient > .vertical(@btnBackground, @btnBackgroundHighlight);
			      border: 1px solid @btnBorder;  
			 
		    }	
		}

	}

	.item-group {
		border: 1px solid transparent;
		display: inline-block;
		.border-radius(4px);
		margin-right: 23px;
		padding-right: 4px;
	    max-width: 100%;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    &.active {    
		    #gradient > .vertical(@btnBackground, @btnBackgroundHighlight);
		    border: 1px solid @btnBorder;
		    text-shadow: none;
	    }
	}

	
	
	 
	 
	.task {
		visibility: hidden;
	    position: absolute;
	    top:1px;
	    right:0px;
	    margin:0;	     
	}
	.title:hover > .task {
	 	visibility: visible;
	}
	.block-content.open > .toggler {
	    background-position: -28px 0;
	}
	
	.block-content.open > .title .folder {
	    background-position: -72px 0;
	}
	
	.block-content.open > ul {
	    display: block;
	}
}

.foldertree-actions {
	padding: 5px;
}
.foldertree-actions input[type=text] {
	margin-top: 0;
}

/*
.foldertree li.block .title input[type=text] {
    display: none;
    position: relative;
    top: -3px;
}
*/

/*
.foldertree.browse li.block .title .folder {
    border-width: 1px 0 1px 1px;
}
.foldertree.browse li.block .title .action {
    border-width: 1px 1px 1px 0;
}
*/

/*
.foldertree.browse li.block .title .folder,
.foldertree.browse li.block .title .action {
    border-color: transparent;
    border-style: solid;
}
*/



// SIDE BAR 


aside {
	border:1px solid red;
	height: 100%;
}
/* Opera Fix*/
aside:before { 
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;
}
#aside-wrapper {
    clear: both;
    height: auto !important;
    margin-bottom: -@footerHeight;
    min-height: 100%;
	    #aside-footer-pusher {
	    	height: @footerHeight * 1.5;
	    }
}
#aside-content {
    min-height: 402px;
}

#aside-footer {
    color: @grayLight;
    line-height: @footerHeight;
}




.sidenav-header {
  display: block;
  padding: @baseLineHeight/2 0px 0;
  border-top:1px solid #e5e5e5;
  h3 {
	  font-size: 11px;
	  color: @grayLight;
	  text-transform: uppercase;
	  margin: 0 0 5px;
	  padding: 0;
  }
}
.sidenav-header.form-search {
	border-top:0; 
	padding:0 0 18px;
}



.action-bar {
	border-top: 1px solid #e5e5e5;
    margin: @baseLineHeight /2 0 @baseLineHeight;
    padding-top: @baseLineHeight /2;
    clear:both;
}

#webCapture {
   margin: @baseLineHeight /2 0 0;
   padding-top: @baseLineHeight /2;
}