/*!
 *  Approvals / New Approval
 */

.folder-selector-container {
  position: relative;
  margin-bottom: 0;
  margin-top: @baseLineHeight /2;
  font-size: @baseFontSize;
  line-height: @baseLineHeight;
  color: @gray;
  background-color: @inputBackground;
 .box-sizing (border-box);
  height:280px;
  border: 1px solid @inputBorder;
  overflow:auto; 
  padding:15px 0 0;
}

.folder-selector-footer {
	border: 1px solid @inputBorder;
	border-top: 0;
	margin: 0;
	margin-bottom: @baseLineHeight /2;
	padding: 5px 10px;
	.box-sizing (border-box);
	.border-radius(0 0 4px 4px );
	background: @widgetBackground;
	/* #gradient > .vertical(@widgetBackgroundHighlight, @widgetBackground);  */
	@shadow: inset 0 1px 0 rgba(255,255,255,.6);
	.box-shadow(@shadow);
	
		
}


.or {
    font-family: Cambria,Georgia,Times,'Times New Roman',serif;
    font-size: 14px;
    font-style: italic;
    color:@grayLight;
	margin: 0 0;

}


// Base classes
/*
.label.label-large {	
 display: inline-block;
  .ie7-inline-block();
  padding: 4px 14px;
  font-size: @baseFontSize;
  line-height: @baseLineHeight;
  *line-height: @baseLineHeight;
  text-align: center;
  vertical-align: middle;
  .border-radius(4px);
  .ie7-restore-left-whitespace();
}
*/

   

.label.label-large {	
	border: 1px solid transparent;
	display: inline-block;
	.border-radius(4px);
	margin-right: 0;
    max-width: 100%;
      font-size: @baseFontSize;
    overflow: hidden;
    text-overflow: ellipsis;
    color: @grayDark;
    outline: 0;
    font-weight: normal;
    padding: 0px 10px 0px 3px;
    position: relative;
    text-decoration: none;
    line-height: 27px; 
    vertical-align: middle;
    #gradient > .vertical(@btnBackground, @btnBackgroundHighlight);
    border: 1px solid @btnBorder;
    text-shadow: none; 
    
    .folder {
	    display: inline-block;
	    float: left;
	  	.size(24px, 24px);
	  	margin-top: 2px;
	  	background: url(../img/codeflex-foldertree.png) -48px 0 no-repeat;
  	}
}


	
	
	