/*!
 * Approvals / Print Layout
 */

 
// Print header
// -------------------------

.print-header {
	padding-top: (@baseLineHeight / 2) - 1;
	margin: @baseLineHeight 0 @baseLineHeight / 2;
	border-top: 1px solid @tableBorder;
}

.approval-page-section {
	border-bottom: 0px dashed @tableBorder;
	margin-bottom: 0;
	padding-bottom: @baseLineHeight;
	.print-table {
		.image-col {
			img {
				width:100%;	
			}
		}
		.comment-col {
			padding: 0 0 0 20px;
		}
	}
}
.page-sort {
		margin-top: @baseLineHeight;
		padding-bottom: 13px;
}


.comment-list { 
	list-style: none;
	margin: 0;
	padding: 0;
	li.comment { 
		border-bottom: 1px solid #DDDDDD;
	    margin: 0;
	    padding: 8px 0;
	    dl.indent {
		    margin: 0 0 0 42px !important;
		    width: auto;
		}
	    dl {
			margin: 0;
			padding:0;
		  	dt {
		  		margin: 0 0 0 42px;
			    font-weight: normal;
			    .img {
				     float:left;
				     margin: 3px 0 0 -42px;
			    } 
		  	} 
		  	dd {
				margin: 0 0 0 42px;
				padding: 0;
			}
		  	dd p {
				margin: 0 0 0 0;
				padding: 0;
		  	}
		  	dd.timestamp {
		        color: #999;
		        font-size: 11px;
				margin: 0px 0 5px 42px;
		  	} 
	    }
	   /*
 dl.original-comment {
		  background-color: @warningBackground;
		  border: 1px solid @warningBorder;
		  .border-radius(4px);
	    }
*/
	}
	li.comment:last-child { 
		   border-bottom: 0;
	}
	
}
