﻿<div class="plan-header" style="padding-top: 5px;">
    <h3 style="font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif; text-align: left;
        color: black !important;">
        <$Accountname$></h3>
</div>
<table style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; max-width: 100%; border-collapse: collapse;
    border-spacing: 0; width: 100%; margin-bottom: 20px; background-color: transparent;"
    bgcolor="transparent">
    <thead>
        <tr>
            <th scope="col" style="line-height: 20px; text-align: left; vertical-align: bottom;
                font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif; font-size: 11px;
                border-collapse: separate; *border-collapse: collapse; font-weight: bold; padding-top: 4px;
                padding-right: 5px; padding-bottom: 4px; padding-left: 5px; border-top-color: #dddddd;
                border-right-color: #dddddd; border-bottom-color: #dddddd; border-left-color: #dddddd;
                border-top-style: solid; border-right-style: solid; border-bottom-style: solid;
                border-left-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px;
                border-left-width: 1px; background-color: #dddddd;" align="left" bgcolor="#dddddd"
                valign="bottom">
                <$lblName$>
            </th>
			<th scope="col" style="line-height: 20px; text-align: left; vertical-align: bottom;
                font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif; font-size: 11px;
                border-collapse: separate; *border-collapse: collapse; font-weight: bold; padding-top: 4px;
                padding-right: 5px; padding-bottom: 4px; padding-left: 5px; border-top-color: #dddddd;
                border-right-color: #dddddd; border-bottom-color: #dddddd; border-left-color: #dddddd;
                border-top-style: solid; border-right-style: solid; border-bottom-style: solid;
                border-left-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px;
                border-left-width: 1px; background-color: #dddddd;" align="left" bgcolor="#dddddd"
                valign="bottom">
                <$lblType$>
            </th>
            <th scope="col" style="line-height: 20px; text-align: left; vertical-align: bottom;
                font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif; font-size: 11px;
                border-collapse: separate; *border-collapse: collapse; font-weight: bold; padding-top: 4px;
                padding-right: 5px; padding-bottom: 4px; padding-left: 5px; border-top-color: #dddddd;
                border-right-color: #dddddd; border-bottom-color: #dddddd; border-left-color: #dddddd;
                border-top-style: solid; border-right-style: solid; border-bottom-style: solid;
                border-left-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px;
                border-left-width: 1px; background-color: #dddddd;" align="left" bgcolor="#dddddd"
                valign="bottom">
                <$lblAccountPath$>
            </th>            
            <th scope="col" style="line-height: 20px; text-align: left; vertical-align: bottom;
                font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif; font-size: 11px;
                border-collapse: separate; *border-collapse: collapse; font-weight: bold; padding-top: 4px;
                padding-right: 5px; padding-bottom: 4px; padding-left: 5px; border-top-color: #dddddd;
                border-right-color: #dddddd; border-bottom-color: #dddddd; border-left-color: #dddddd;
                border-top-style: solid; border-right-style: solid; border-bottom-style: solid;
                border-left-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px;
                border-left-width: 1px; background-color: #dddddd;" align="left" bgcolor="#dddddd"
                valign="bottom">
                <$lblModule$>
            </th>
            <th scope="col" style="line-height: 20px; text-align: left; vertical-align: bottom;
                font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif; font-size: 11px;
                border-collapse: separate; *border-collapse: collapse; font-weight: bold; padding-top: 4px;
                padding-right: 5px; padding-bottom: 4px; padding-left: 5px; border-top-color: #dddddd;
                border-right-color: #dddddd; border-bottom-color: #dddddd; border-left-color: #dddddd;
                border-top-style: solid; border-right-style: solid; border-bottom-style: solid;
                border-left-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px;
                border-left-width: 1px; background-color: #dddddd;" align="left" bgcolor="#dddddd"
                valign="bottom">
                <$lblPlan$>
            </th>
			<th scope="col" style="line-height: 20px; text-align: left; vertical-align: bottom;
                font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif; font-size: 11px;
                border-collapse: separate; *border-collapse: collapse; font-weight: bold; padding-top: 4px;
                padding-right: 5px; padding-bottom: 4px; padding-left: 5px; border-top-color: #dddddd;
                border-right-color: #dddddd; border-bottom-color: #dddddd; border-left-color: #dddddd;
                border-top-style: solid; border-right-style: solid; border-bottom-style: solid;
                border-left-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px;
                border-left-width: 1px; background-color: #dddddd;" align="left" bgcolor="#dddddd"
                valign="bottom">
                <$lblBillingMonth$>
            </th>
			<th scope="col" style="line-height: 20px; text-align: left; vertical-align: bottom;
                font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif; font-size: 11px;
                border-collapse: separate; *border-collapse: collapse; font-weight: bold; padding-top: 4px;
                padding-right: 5px; padding-bottom: 4px; padding-left: 5px; border-top-color: #dddddd;
                border-right-color: #dddddd; border-bottom-color: #dddddd; border-left-color: #dddddd;
                border-top-style: solid; border-right-style: solid; border-bottom-style: solid;
                border-left-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px;
                border-left-width: 1px; background-color: #dddddd;" align="left" bgcolor="#dddddd"
                valign="bottom">
                <$lblContractStartDate$>
            </th>
			<th scope="col" style="line-height: 20px; text-align: left; vertical-align: bottom;
                font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif; font-size: 11px;
                border-collapse: separate; *border-collapse: collapse; font-weight: bold; padding-top: 4px;
                padding-right: 5px; padding-bottom: 4px; padding-left: 5px; border-top-color: #dddddd;
                border-right-color: #dddddd; border-bottom-color: #dddddd; border-left-color: #dddddd;
                border-top-style: solid; border-right-style: solid; border-bottom-style: solid;
                border-left-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px;
                border-left-width: 1px; background-color: #dddddd;" align="left" bgcolor="#dddddd"
                valign="bottom">
                <$lblContractEndDate$>
            </th>
			<th scope="col" style="line-height: 20px; text-align: left; vertical-align: bottom;
                font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif; font-size: 11px;
                border-collapse: separate; *border-collapse: collapse; font-weight: bold; padding-top: 4px;
                padding-right: 5px; padding-bottom: 4px; padding-left: 5px; border-top-color: #dddddd;
                border-right-color: #dddddd; border-bottom-color: #dddddd; border-left-color: #dddddd;
                border-top-style: solid; border-right-style: solid; border-bottom-style: solid;
                border-left-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px;
                border-left-width: 1px; background-color: #dddddd;" align="left" bgcolor="#dddddd"
                valign="bottom">
                <$lblBillingFrequency$>
            </th>
            <th scope="col" style="line-height: 20px; text-align: left; vertical-align: bottom;
                font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif; font-size: 11px;
                border-collapse: separate; *border-collapse: collapse; font-weight: bold; padding-top: 4px;
                padding-right: 5px; padding-bottom: 4px; padding-left: 5px; border-top-color: #dddddd;
                border-right-color: #dddddd; border-bottom-color: #dddddd; border-left-color: #dddddd;
                border-top-style: solid; border-right-style: solid; border-bottom-style: solid;
                border-left-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px;
                border-left-width: 1px; background-color: #dddddd;" align="left" bgcolor="#dddddd"
                valign="bottom">
                <$lblPricepermonth$>
            </th>
            <th scope="col" style="line-height: 20px; text-align: left; vertical-align: bottom;
                font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif; font-size: 11px;
                border-collapse: separate; *border-collapse: collapse; font-weight: bold; padding-top: 4px;
                padding-right: 5px; padding-bottom: 4px; padding-left: 5px; border-top-color: #dddddd;
                border-right-color: #dddddd; border-bottom-color: #dddddd; border-left-color: #dddddd;
                border-top-style: solid; border-right-style: solid; border-bottom-style: solid;
                border-left-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px;
                border-left-width: 1px; background-color: #dddddd;" align="left" bgcolor="#dddddd"
                valign="bottom">
                <$lblUsage$>
            </th>
            <th scope="col" style="line-height: 20px; text-align: left; vertical-align: bottom;
                font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif; font-size: 11px;
                border-collapse: separate; *border-collapse: collapse; font-weight: bold; padding-top: 4px;
                padding-right: 5px; padding-bottom: 4px; padding-left: 5px; border-top-color: #dddddd;
                border-right-color: #dddddd; border-bottom-color: #dddddd; border-left-color: #dddddd;
                border-top-style: solid; border-right-style: solid; border-bottom-style: solid;
                border-left-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px;
                border-left-width: 1px; background-color: #dddddd;" align="left" bgcolor="#dddddd"
                valign="bottom">
                <$lblCostperproof$>
            </th>
            <th scope="col" style="line-height: 20px; text-align: left; vertical-align: bottom;
                font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif; font-size: 11px;
                border-collapse: separate; *border-collapse: collapse; font-weight: bold; padding-top: 4px;
                padding-right: 5px; padding-bottom: 4px; padding-left: 5px; border-top-color: #dddddd;
                border-right-color: #dddddd; border-bottom-color: #dddddd; border-left-color: #dddddd;
                border-top-style: solid; border-right-style: solid; border-bottom-style: solid;
                border-left-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px;
                border-left-width: 1px; background-color: #dddddd;" align="left" bgcolor="#dddddd"
                valign="bottom">
                <$lblAmount$>
            </th>
        </tr>
    </thead>
    <tbody>
        <$AccountRows$>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="11" style="padding-right: 5px; padding-top: 4px; padding-bottom: 4px;
                padding-left: 5px; line-height: 20px; text-align: left; vertical-align: top;
                font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif; font-size: 13px;
                border-top-color: #dddddd; border-left-width: 1px; border-bottom-width: 1px;
                border-right-color: #dddddd; border-bottom-color: #dddddd; border-left-color: #dddddd;
                border-top-style: solid; border-right-width: 1px; border-bottom-style: solid;
                border-left-style: solid; border-top-width: 1px; border-right-style: solid; border-collapse: separate;
                *border-collapse: collapse;" align="left" valign="top">
            </td>
            <td style="padding-right: 5px; padding-top: 4px; padding-bottom: 4px; padding-left: 5px;
                line-height: 20px; text-align: left; vertical-align: top; font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
                font-size: 13px; border-top-color: #dddddd; border-left-width: 1px; border-bottom-width: 1px;
                border-right-color: #dddddd; border-bottom-color: #dddddd; border-left-color: #dddddd;
                border-top-style: solid; border-right-width: 1px; border-bottom-style: solid;
                border-left-style: solid; border-top-width: 1px; border-right-style: solid; border-collapse: separate;
                *border-collapse: collapse;" align="left" valign="top">
                <$lblTotal$>
            </td>
            <td style="padding-right: 5px; padding-top: 4px; padding-bottom: 4px; padding-left: 5px;
                line-height: 20px; text-align: left; vertical-align: top; font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
                font-size: 13px; border-top-color: #dddddd; border-left-width: 1px; border-bottom-width: 1px;
                border-right-color: #dddddd; border-bottom-color: #dddddd; border-left-color: #dddddd;
                border-top-style: solid; border-right-width: 1px; border-bottom-style: solid;
                border-left-style: solid; border-top-width: 1px; border-right-style: solid; border-collapse: separate;
                *border-collapse: collapse;" align="left" valign="top">
                <$TotalAmount$>
            </td>
        </tr>
        <tr>
        </tr>
    </tfoot>
</table>
