﻿<tr>
    <td style="padding-right: 5px; padding-top: 4px; padding-bottom: 4px; padding-left: 5px;
        line-height: 20px; text-align: left; vertical-align: top; font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
        font-size: 13px; border-top-color: #dddddd; border-left-width: 1px; border-bottom-width: 1px;
        border-right-color: #dddddd; border-bottom-color: #dddddd; border-left-color: #dddddd;
        border-top-style: solid; border-right-width: 1px; border-bottom-style: solid;
        border-left-style: solid; border-top-width: 1px; border-right-style: solid; border-collapse: separate;
        *border-collapse: collapse;" align="left" valign="top">
        <$Name$>
    </td>
	<td style="padding-right: 5px; padding-top: 4px; padding-bottom: 4px; padding-left: 5px;
        line-height: 20px; text-align: left; vertical-align: top; font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
        font-size: 13px; border-top-color: #dddddd; border-left-width: 1px; border-bottom-width: 1px;
        border-right-color: #dddddd; border-bottom-color: #dddddd; border-left-color: #dddddd;
        border-top-style: solid; border-right-width: 1px; border-bottom-style: solid;
        border-left-style: solid; border-top-width: 1px; border-right-style: solid; border-collapse: separate;
        *border-collapse: collapse;" align="left" valign="top">
        <$Type$>
    </td>
    <td style="padding-right: 5px; padding-top: 4px; padding-bottom: 4px; padding-left: 5px;
        line-height: 20px; text-align: left; vertical-align: top; font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
        font-size: 13px; border-top-color: #dddddd; border-left-width: 1px; border-bottom-width: 1px;
        border-right-color: #dddddd; border-bottom-color: #dddddd; border-left-color: #dddddd;
        border-top-style: solid; border-right-width: 1px; border-bottom-style: solid;
        border-left-style: solid; border-top-width: 1px; border-right-style: solid; border-collapse: separate;
        *border-collapse: collapse;" align="left" valign="top">
        <$AccountPath$>
    </td>   
    <td style="padding-right: 5px; padding-top: 4px; padding-bottom: 4px; padding-left: 5px;
        line-height: 20px; text-align: left; vertical-align: top; font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
        font-size: 13px; border-top-color: #dddddd; border-left-width: 1px; border-bottom-width: 1px;
        border-right-color: #dddddd; border-bottom-color: #dddddd; border-left-color: #dddddd;
        border-top-style: solid; border-right-width: 1px; border-bottom-style: solid;
        border-left-style: solid; border-top-width: 1px; border-right-style: solid; border-collapse: separate;
        *border-collapse: collapse;" align="left" valign="top">
        <$Module$>
    </td>
    <td style="padding-right: 5px; padding-top: 4px; padding-bottom: 4px; padding-left: 5px;
        line-height: 20px; text-align: left; vertical-align: top; font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
        font-size: 13px; border-top-color: #dddddd; border-left-width: 1px; border-bottom-width: 1px;
        border-right-color: #dddddd; border-bottom-color: #dddddd; border-left-color: #dddddd;
        border-top-style: solid; border-right-width: 1px; border-bottom-style: solid;
        border-left-style: solid; border-top-width: 1px; border-right-style: solid; border-collapse: separate;
        *border-collapse: collapse;" align="left" valign="top">
        <$Plan$>
    </td>
	<td style="padding-right: 5px; padding-top: 4px; padding-bottom: 4px; padding-left: 5px;
        line-height: 20px; text-align: left; vertical-align: top; font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
        font-size: 13px; border-top-color: #dddddd; border-left-width: 1px; border-bottom-width: 1px;
        border-right-color: #dddddd; border-bottom-color: #dddddd; border-left-color: #dddddd;
        border-top-style: solid; border-right-width: 1px; border-bottom-style: solid;
        border-left-style: solid; border-top-width: 1px; border-right-style: solid; border-collapse: separate;
        *border-collapse: collapse;" align="left" valign="top">
        <$BillingMonth$>
    </td>
	<td style="padding-right: 5px; padding-top: 4px; padding-bottom: 4px; padding-left: 5px;
        line-height: 20px; text-align: left; vertical-align: top; font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
        font-size: 13px; border-top-color: #dddddd; border-left-width: 1px; border-bottom-width: 1px;
        border-right-color: #dddddd; border-bottom-color: #dddddd; border-left-color: #dddddd;
        border-top-style: solid; border-right-width: 1px; border-bottom-style: solid;
        border-left-style: solid; border-top-width: 1px; border-right-style: solid; border-collapse: separate;
        *border-collapse: collapse;" align="left" valign="top">
        <$ContractStartDate$>
    </td>
	<td style="padding-right: 5px; padding-top: 4px; padding-bottom: 4px; padding-left: 5px;
        line-height: 20px; text-align: left; vertical-align: top; font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
        font-size: 13px; border-top-color: #dddddd; border-left-width: 1px; border-bottom-width: 1px;
        border-right-color: #dddddd; border-bottom-color: #dddddd; border-left-color: #dddddd;
        border-top-style: solid; border-right-width: 1px; border-bottom-style: solid;
        border-left-style: solid; border-top-width: 1px; border-right-style: solid; border-collapse: separate;
        *border-collapse: collapse;" align="left" valign="top">
        <$ContractEndDate$>
    </td>
	<td style="padding-right: 5px; padding-top: 4px; padding-bottom: 4px; padding-left: 5px;
        line-height: 20px; text-align: left; vertical-align: top; font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
        font-size: 13px; border-top-color: #dddddd; border-left-width: 1px; border-bottom-width: 1px;
        border-right-color: #dddddd; border-bottom-color: #dddddd; border-left-color: #dddddd;
        border-top-style: solid; border-right-width: 1px; border-bottom-style: solid;
        border-left-style: solid; border-top-width: 1px; border-right-style: solid; border-collapse: separate;
        *border-collapse: collapse;" align="left" valign="top">
        <$BillingFrequency$>
    </td>
    <td style="padding-right: 5px; padding-top: 4px; padding-bottom: 4px; padding-left: 5px;
        line-height: 20px; text-align: left; vertical-align: top; font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
        font-size: 13px; border-top-color: #dddddd; border-left-width: 1px; border-bottom-width: 1px;
        border-right-color: #dddddd; border-bottom-color: #dddddd; border-left-color: #dddddd;
        border-top-style: solid; border-right-width: 1px; border-bottom-style: solid;
        border-left-style: solid; border-top-width: 1px; border-right-style: solid; border-collapse: separate;
        *border-collapse: collapse;" align="left" valign="top">
        <$PricePerMonth$>
    </td>
     <td style="padding-right: 5px; padding-top: 4px; padding-bottom: 4px; padding-left: 5px;
        line-height: 20px; text-align: left; vertical-align: top; font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
        font-size: 13px; border-top-color: #dddddd; border-left-width: 1px; border-bottom-width: 1px;
        border-right-color: #dddddd; border-bottom-color: #dddddd; border-left-color: #dddddd;
        border-top-style: solid; border-right-width: 1px; border-bottom-style: solid;
        border-left-style: solid; border-top-width: 1px; border-right-style: solid; border-collapse: separate;
        *border-collapse: collapse;" align="left" valign="top">
        <$Usage$>
    </td>
    <td style="padding-right: 5px; padding-top: 4px; padding-bottom: 4px; padding-left: 5px;
        line-height: 20px; text-align: left; vertical-align: top; font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
        font-size: 13px; border-top-color: #dddddd; border-left-width: 1px; border-bottom-width: 1px;
        border-right-color: #dddddd; border-bottom-color: #dddddd; border-left-color: #dddddd;
        border-top-style: solid; border-right-width: 1px; border-bottom-style: solid;
        border-left-style: solid; border-top-width: 1px; border-right-style: solid; border-collapse: separate;
        *border-collapse: collapse;" align="left" valign="top">
        <$CostPerProof$>
    </td>
    <td style="padding-right: 5px; padding-top: 4px; padding-bottom: 4px; padding-left: 5px;
        line-height: 20px; text-align: left; vertical-align: top; font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
        font-size: 13px; border-top-color: #dddddd; border-left-width: 1px; border-bottom-width: 1px;
        border-right-color: #dddddd; border-bottom-color: #dddddd; border-left-color: #dddddd;
        border-top-style: solid; border-right-width: 1px; border-bottom-style: solid;
        border-left-style: solid; border-top-width: 1px; border-right-style: solid; border-collapse: separate;
        *border-collapse: collapse;" align="left" valign="top">
        <$Amount$>
    </td>
</tr>
