﻿@using GMG.CoZone.Common
@using GMGColor.Resources
@using GMGColorDAL
@using GMGColorDAL.CustomModels
@model AnnotationsReportFilters
@{
    Bundles.Reference("annotation-report-filters");

    GMGColorDAL.Account objAccount = null;
    if (Session["gmg_aid"] != null)
    {
        objAccount = ViewBag.LoggedAccount;
    }

    string colorTheme = "default";
    if (objAccount != null)
    {
        var colorScheme = (Theme.ColorScheme)ViewBag.LoggedAccountTheme;
        switch (colorScheme)
        {
            case GMGColorDAL.Theme.ColorScheme.Splash: colorTheme = "pink";
                break;
            case GMGColorDAL.Theme.ColorScheme.Juicy: colorTheme = "green";
                break;
            case GMGColorDAL.Theme.ColorScheme.Fresh: colorTheme = "blue";
                break;
            case GMGColorDAL.Theme.ColorScheme.Moody: colorTheme = "white";
                break;
            case GMGColorDAL.Theme.ColorScheme.Default:
            default: colorTheme = "default";
                break;
        }
    }
}

<div id="modalAnnotationsReportFilter" class="modal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    @using (Html.BeginForm("Annotations", "Approvals", FormMethod.Post, new { target = "_blank", id = "formStudioAnnotations" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.SelectedApproval, new { @data_val = false })
        @Html.HiddenFor(m => m.IsFromDashboard, new { @data_val = false })

        <div class="modal-sm modal-position">
            <div class="modal-content" style="width: 540px">
                <div class="modal-header">
                    <h3 class="modal-title" style="width: auto; display: inline">@Resources.lblAnnotationsReport</h3>
                </div>
                <div class="modal-body">
                    <div class="control-group">
                        <div class="controls">
                            <label class="radio-inline">
                                <input  name="ReportFormatType"  type="radio" value="1" />
                                @Resources.lblUploadSettingsPDFFileType
                            </label>
                            <label class="radio-inline">
                                 <input name="ReportFormatType"  type="radio" value="2" checked="checked" />
                                @Resources.lblDetailView
                            </label>
                            <label class="radio-inline">
                                <input name="ReportFormatType" type="radio" value="3" />
                                @Resources.lblListView
                            </label>
                        </div>
                    </div>
                    <div class="control-group" id="spinnerGroup">
                        <label class="control-label large-label">@Resources.lblNumberOfCommentsPerPage</label>
                        <div id="annotationsPerPage" class="controls spinner-group spinner">
                            @Html.TextBoxFor(model => model.AnnotationsPerPage, new { @class = "czn-spinner" })
                            <div class="input-group-btn-vertical">
                                <button class="btn btn-default btn-spinner">
                                    <i class="fa fa-caret-up"></i>
                                </button>
                                <button class="btn btn-default btn-spinner ">
                                    <i class="fa fa-caret-down"></i>
                                </button>
                            </div>
                        </div>
                        <span class="field-validation-valid error-position" data-valmsg-for="AnnotationsPerPage" data-valmsg-replace="true" id="invalidNumber">
                            <span for="AnnotationsPerPage" generated="true" class="">@Resources.lblAnnotationsPerPageMustBeNumeric</span>
                        </span>
                        <span class="field-validation-valid error-position" data-valmsg-for="AnnotationsPerPage" data-valmsg-replace="true" id="invalidRange">
                            <span for="AnnotationsPerPage" generated="true" class="">@Resources.numberMustBeBetweenOneAndFifteen</span>
                        </span>
                    </div>
                    <div class="control-group">
                        <label class="control-label large-label">@Resources.lblSortBy</label>
                        <div id="sortBy" class="controls dropdown">
                            @Html.DropDownListFor((m => m.ReportGroupingID), AnnotationsReportFilters.ListOf<AnnotationReportGrouping>(), new { @class = "czn-select" })
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label large-label">@Resources.lblDisplayOptions</label>
                        <div id="reportType" class="controls">
                            @Html.DropDownListFor((m => m.ReportTypeID), AnnotationsReportFilters.ListOf<AnnotationReportType>(), new { @class = "czn-select" })
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label large-label">@Resources.lblFilterBy</label>
                        <div id="filterby" class="controls">
                            @Html.DropDownListFor((m => m.ReportFilteringID), AnnotationsReportFilters.ListOf<AnnotationReportFiltering>(), new { @id = "filterBy" , @class = "czn-select"})
                        </div>
                    </div>
                    <div class="control-group" id="listboxGroup">
                        <div id="dinamycLists">
                            <div id="InternalUser" class="control-group">
                                <label class="control-label large-label">@Resources.lblInternalUsers <br /> @Resources.lblAll @Html.CheckBoxFor(model => model.IncludeAllInternalUsers, new { @id = "includeAllInternalUsers_s", @style = "margin-top:0px" })</label>
                                <div class="controls" style="margin-left:235px;"><div id="listBoxes_InternalUser"></div></div>
                            </div>

                            <div id="ExternalUser" class="control-group">
                                <label class="control-label large-label">@Resources.lblExternalUsers <br /> @Resources.lblAll @Html.CheckBoxFor(model => model.IncludeAllExternalUsers, new { @id = "includeAllExternalUsers_s", @style = "margin-top:0px" })</label>
                                <div class="controls" style="margin-left:235px;"><div id="listBoxes_ExternalUser"></div></div>
                            </div>

                            <div id="Group" class="control-group">
                                <label class="control-label large-label">@Resources.lblGroup <br />All @Html.CheckBoxFor(model => model.IncludeAllGroups, new { @id = "includeAllGroups_s", @style = "margin-top:0px" })</label>
                                <div class="controls" style="margin-left:235px;"><div id="listBoxes_Group"></div></div>
                            </div>

                            <div id="Phase" class="control-group">
                                <label class="control-label large-label">@Resources.lblPhase <br /> @Resources.lblAll @Html.CheckBoxFor(model => model.IncludeAllPhases, new { @id = "includeAllPhases_s", @style = "margin-top:0px" })</label>
                                <div class="controls" style="margin-left:235px;"><div id="listBoxes_Phase"></div></div>
                            </div>

                        </div>
                        <span class="field-validation-valid error-position" data-valmsg-for="ID" data-valmsg-replace="true" id="noUserSelected">
                            <span for="ID" generated="true" class="">@Resources.errChooseUser</span>
                        </span>
                        <span class="field-validation-valid error-position" data-valmsg-for="ID" data-valmsg-replace="true" id="noGroupSelected">
                            <span for="ID" generated="true" class="">@Resources.errChooseGroup</span>
                        </span>
                        <span class="field-validation-valid error-position" data-valmsg-for="ID" data-valmsg-replace="true" id="noPhaseSelected">
                            <span for="ID" generated="true" class="">@Resources.errChoosePhase</span>
                        </span>
                    </div>
                    <div class="control-group">
                    <label class="control-label large-label">@Resources.lblVersion </label>
                        <div id="selectVersion_Style" class="controls"><lable id="selectedVersiondiv"></lable><lable>&ensp;@Html.CheckBoxFor(model => model.IncludeAllVersions, new { @id = "includeAllVersions", @style = "margin-top:0px" }) &ensp; @Resources.lblIncludeAllVersions</lable></div>
                    </div>
                    <div class="control-group">
                        <label class="control-label large-label" style="padding-top: 0px;">@Resources.lblSummaryPage</label>
                        <div class="controls">
                            @Html.CheckBoxFor(model => model.ShowSummaryPage, new { @id = "summaryCheck" })
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn" href="javascript:void(0);" data-dismiss="modal" onclick="closeModal();" title="@Resources.btnCancel">@Resources.btnCancel</a>
                    <button class="btn btn-primary" type="button" id="exportFile" value="@colorTheme">@Resources.btnOk</button>
                </div>
            </div>
        </div>
    }
</div>
<script type="text/javascript">
    var cnt = 0;
    var filterByOption = "";
    var approvalId = 0;

    if ($("option:selected", this).text() === '@Resources.lblGroups') {
        $('#Group').show();
    } else {
        $('#Group').hide();
    }

    function showAnnotationsReportFilters(selectedApproval) {
        approvalId = selectedApproval;
        $('#summaryCheck').attr('checked', 'checked');

        //Clear previous listbox
        $("#listBoxes_InternalUser").empty();
        $("#listBoxes_ExternalUser").empty();
        $("#listBoxes_Group").empty();
        $("#listBoxes_Phase").empty();
        $("#selectedVersiondiv").empty();
        LoadListBox(selectedApproval);

        $(".czn-modal-overlay").show();
    }

    function closeModal() {
        $('#modalAnnotationsReportFilter').hide();
        $(".czn-modal-overlay").hide();
    }

    $('#filterBy').on('change', function () {
        removeListBoxesErrors();
        filterByOption = $("option:selected", this).text();

        if (filterByOption === '@Resources.lblGroups') {
            if ($("#listBoxes_Group").html().length) {
                $('#Group').show();
            }
            $('#InternalUser').hide();
            $('#ExternalUser').hide();
        } else {
            if ($("#listBoxes_InternalUser").html().length){
                $('#InternalUser').show();
            }
            if ($("#listBoxes_InternalUser").html().length) {
                $('#ExternalUser').show();
            }
            $('#Group').hide();
        }

    });

    $("input[name='ReportFormatType']").change(function () {
        if ($(this).val().toLowerCase() == '1') {
            $("#summaryCheck").attr('disabled', 'disabled');
            $("#ReportTypeID").attr('disabled', 'disabled');
            $("#AnnotationsPerPage").attr('disabled', 'disabled');
        } else if ($(this).val().toLowerCase() == '2') {
            $("#summaryCheck").removeAttr('disabled');
            $("#ReportTypeID").removeAttr('disabled');
            $("#AnnotationsPerPage").removeAttr('disabled');
        } else {
            $("#summaryCheck").attr('disabled', 'disabled');
            $("#ReportTypeID").attr('disabled', 'disabled');
            $("#AnnotationsPerPage").attr('disabled', 'disabled');
        }
    });

    function LoadListBox(selectedApproval) {
        $('#filterBy option:first').attr("selected", "selected");
        filterByOption = $("#filterBy option:selected").text();
        removeListBoxesErrors();

        //Remove the error message
        $('.errormsg').empty();

        $.ajax({
            type: "GET",
            url: '@Html.Raw(@Url.Action("PopulateAnnotationsReportListBox", "Approvals"))?selectedApprovals=' + selectedApproval + '&selectedFolders=',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            cache: false,
            success: function (data) {
                cnt = -1;
                $("#listBoxes_InternalUser").empty();
                $("#listBoxes_ExternalUser").empty();
                $("#listBoxes_Group").empty();
                $("#listBoxes_Phase").empty();
                $("#selectedVersiondiv").empty();
                $('input:checkbox').removeAttr('checked');

                $("#includeAllInternalUsers_s").prop('checked', true);
                $("#includeAllExternalUsers_s").prop('checked', true);
                $("#includeAllGroups_s").prop('checked', true);
                $("#includeAllPhases_s").prop('checked', true);

                if (data.Users !== 'undefined' && data.Users.length > 0) {
                    $("#InternalUser").show();
                    createInternalUsersListBox("InternalUser", '@Resources.lblInternalUsers', data.Users);
                } else {
                    $("#InternalUser").hide();
                }

                if (data.ExternalUsers !== 'undefined' && data.ExternalUsers.length > 0) {
                    $("#ExternalUser").show();
                    createExternalUsersListBox("ExternalUser", '@Resources.lblExternalUsers', data.ExternalUsers);
                } else {
                    $("#ExternalUser").hide();
                }

                if (data.Groups !== 'undefined' && data.Groups.length > 0) {
                    createGroupsListBox(data.Groups);
                } else {
                    $("#filterBy option[value=1]").remove();
                }

                if (data.Phases != null && data.Phases.length > 0) {
                    $("#Phase").show();
                    createPhasesListBox(data.Phases);
                } else {
                    $("#Phase").hide();
                }

                $("#filterBy option[value=0]").prop('selected', 'selected');
                $('#summaryCheck').prop('checked', true);

                if (data.LastVersion != null && data.LastVersion > 0) {
                    createSelectedVersionBox();
                    $("#select_Version").val(data.SelectedApprovalVersion);
                }

                (function ($) {
                    $('input').blur();

                    $('#selectedVersiondiv .btn:first-of-type').on('click', function () {
                        $(this).blur();
                        if (parseInt($('#selectedVersiondiv input').val(), 10) < parseInt(data.LastVersion)) {
                            $('#selectedVersiondiv input').val(parseInt($('#selectedVersiondiv input').val(), 10) + 1);
                        }
                        return false;
                    });
                    $('#selectedVersiondiv .btn:last-of-type').on('click', function () {
                        $(this).blur();
                        if (parseInt($('#selectedVersiondiv input').val(), 10) > 1) {
                            $('#selectedVersiondiv input').val(parseInt($('#selectedVersiondiv input').val(), 10) - 1);
                        }
                        return false;
                    });
                })(jQuery);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                if (jqXHR.readyState == 0 || jqXHR.status == 0) {
                    return;
                }
                else {
                    $('#dinamycLists').replaceWith('<label>Error Loading list ' + textStatus + ' ' + errorThrown + '</label>');
                }
            }
        });
    }

    function createInternalUsersListBox(userType, listName, data) {
        $('#listBoxes_' + userType).append('<div class="form-panel listbox" id="selectListBox_' + userType + '"></div>');

        // Iterates through a collection
        $.each(data, function (index, item) {
            cnt++;
            $('#selectListBox_' + userType).append('<label class="checkbox inline listbox-options"><input id="item_' + cnt + '" onclick="UnselectIncludeInternalUsersAll(this);" checked ="checked" value="true" name="AnnotationsReportUsers[' + cnt + '].IsSelected" type="checkbox" /><input type="hidden" name="user_' + cnt + '" value="' + item.ID + '"/> <label style="padding-left:2px">' + item.Name + '</label></label> <br/>');
            if (item.IsExternal) {
                $('#selectListBox_' + userType).append('<input type="hidden" name="AnnotationsReportUsers[' + cnt + '].IsExternal" value="true"/>');
            }
        });
    }

    function createExternalUsersListBox(userType, listName, data) {
        $('#listBoxes_' + userType).append('<div class="form-panel listbox" id="selectListBox_' + userType + '"></div>');

        // Iterates through a collection
        $.each(data, function (index, item) {
            cnt++;
            $('#selectListBox_' + userType).append('<label class="checkbox inline listbox-options"><input id="item_' + cnt + '" onclick="UnselectIncludeExternalUsersAll(this);" checked ="checked" value="true" name="AnnotationsReportUsers[' + cnt + '].IsSelected" type="checkbox" /><input type="hidden" name="user_' + cnt + '" value="' + item.ID + '"/> <label style="padding-left:2px">' + item.Name + '</label></label> <br/>');
            if (item.IsExternal) {
                $('#selectListBox_' + userType).append('<input type="hidden" name="AnnotationsReportUsers[' + cnt + '].IsExternal" value="true"/>');
            }
        });
    }

    function createGroupsListBox(data) {
        $('#listBoxes_Group').append('<div class="form-panel listbox" id="selectListBox_Group"></div>');

        // Iterates through a collection
        $.each(data, function (index, item) {
            $('#selectListBox_Group').append('<label class="checkbox inline listbox-options"><input id="item_' + index + '" onclick="UnselectIncludeGroupsAll(this);" checked ="checked" value="true" name="AnnotationsReportGroups[' + index + '].IsSelected" type="checkbox" /><input type="hidden" name="group_' + index + '" value="' + item.ID + '"/> <label style="padding-left:2px">' + item.Name + '</label></label> <br/>');
        });
    }

    function createPhasesListBox(data) {
        $('#listBoxes_Phase').append('<div class="form-panel listbox" id="selectListBox_Phase"></div>');

        // Iterates through a collection
        $.each(data, function (index, item) {
            $('#selectListBox_Phase').append('<label class="checkbox inline listbox-options"><input id="phase_' + index + '" onclick="UnselectIncludePhasesAll(this);" checked ="checked" value="true" name="AnnotationsReportPhases[' + index + '].IsSelected" type="checkbox" /><input type="hidden" name="phaseId_' + index + '" value="' + item.ID + '"/> <label style="padding-left:2px">' + item.Name + '</label></label> <br/>');
        });
    }

    function createSelectedVersionBox() {
        $("#selectedVersiondiv").append('<div class="controls spinner-group spinner">@Html.TextBoxFor(model => model.SelectedVersion, new { @class = "czn-spinner" , @id = "select_Version" })<div class="input-group-btn-vertical"><button class="btn btn-default btn-spinner"><i class="fa fa-caret-up"></i></button><button class="btn btn-default btn-spinner "><i class="fa fa-caret-down"></i></button></div></div>');
        $('#selectVersion_Style').addClass('SelectVersion_style').css('margin-left', '215px');
    }

    (function ($) {
        $('input').blur();

        $('#annotationsPerPage .btn:first-of-type').on('click', function () {
            $(this).blur();
            if (parseInt($('#annotationsPerPage input').val(), 10) < 40) {
                $('#annotationsPerPage input').val(parseInt($('#annotationsPerPage input').val(), 10) + 1);
            }
            return false;
        });
        $('#annotationsPerPage .btn:last-of-type').on('click', function () {
            $(this).blur();
            if (parseInt($('#annotationsPerPage input').val(), 10) > 1) {
                $('#annotationsPerPage input').val(parseInt($('#annotationsPerPage input').val(), 10) - 1);
            }
            return false;
        });
    })(jQuery);

    function UnselectIncludeInternalUsersAll(e) {
        if (!e.checked) {
            $("#includeAllInternalUsers_s").attr('checked', false);
        }
    }

    function UnselectIncludeExternalUsersAll(e) {
        if (!e.checked) {
            $("#includeAllExternalUsers_s").prop('checked', false);
        }
    }

    function UnselectIncludeGroupsAll(e) {
        if (!e.checked) {
            $("#includeAllGroups_s").prop('checked', false);
        }
    }

    function UnselectIncludePhasesAll(e) {
        if (!e.checked) {
            $("#includeAllPhases_s").prop('checked', false);
        }
    }

    $("#includeAllVersions").change(function () {
        if (this.checked) {
            $('#selectListBox_InternalUser').find('[type="checkbox"]').prop('checked', true);
            $('#selectListBox_InternalUser').find('[type="checkbox"]').attr('disabled', 'disabled');
            $('#selectListBox_ExternalUser').find('[type="checkbox"]').prop('checked', true);
            $('#selectListBox_ExternalUser').find('[type="checkbox"]').attr('disabled', 'disabled');
            $('#selectListBox_Group').find('[type="checkbox"]').prop('checked', true);
            $('#selectListBox_Group').find('[type="checkbox"]').attr('disabled', 'disabled');
            $('#selectListBox_Phase').find('[type="checkbox"]').prop('checked', true);
            $('#selectListBox_Phase').find('[type="checkbox"]').attr('disabled', 'disabled');

            $('#includeAllInternalUsers_s').prop('checked', true);
            $('#includeAllInternalUsers_s').attr('disabled', 'disabled');
            $('#includeAllExternalUsers_s').prop('checked', true);
            $('#includeAllExternalUsers_s').attr('disabled', 'disabled');
            $('#includeAllGroups_s').prop('checked', true);
            $('#includeAllGroups_s').attr('disabled', 'disabled');
            $('#includeAllPhases_s').prop('checked', true);
            $('#includeAllPhases_s').attr('disabled', 'disabled');

            $("#select_Version").attr('disabled', 'disabled');
        } else {
            $('#selectListBox_InternalUser').find('[type="checkbox"]').prop('checked', false);
            $('#selectListBox_InternalUser').find('[type="checkbox"]').removeAttr('disabled');
            $('#selectListBox_ExternalUser').find('[type="checkbox"]').prop('checked', false);
            $('#selectListBox_ExternalUser').find('[type="checkbox"]').removeAttr('disabled');
            $('#selectListBox_Group').find('[type="checkbox"]').prop('checked', false);
            $('#selectListBox_Group').find('[type="checkbox"]').removeAttr('disabled');
            $('#selectListBox_Phase').find('[type="checkbox"]').prop('checked', false);
            $('#selectListBox_Phase').find('[type="checkbox"]').removeAttr('disabled');

            $('#includeAllInternalUsers_s').prop('checked', false);
            $('#includeAllInternalUsers_s').removeAttr('disabled');
            $('#includeAllExternalUsers_s').prop('checked', false);
            $('#includeAllExternalUsers_s').removeAttr('disabled');
            $('#includeAllGroups_s').prop('checked', false);
            $('#includeAllGroups_s').removeAttr('disabled');
            $('#includeAllPhases_s').prop('checked', false);
            $('#includeAllPhases_s').removeAttr('disabled');

            $("#select_Version").removeAttr('disabled');
        }
    });

    $("#includeAllInternalUsers_s").change(function () {
        if (this.checked) {
            $('#selectListBox_InternalUser').find('[type="checkbox"]').prop('checked', true);
        } else {
            $('#selectListBox_InternalUser').find('[type="checkbox"]').prop('checked', false);
        }
    });

    $("#includeAllExternalUsers_s").change(function () {
        if (this.checked) {
            $('#selectListBox_ExternalUser').find('[type="checkbox"]').prop('checked', true);
        } else {
            $('#selectListBox_ExternalUser').find('[type="checkbox"]').prop('checked', false);
        }
    });

    $("#includeAllGroups_s").change(function () {
        if (this.checked) {
            $('#selectListBox_Group').find('[type="checkbox"]').prop('checked', true);
        } else {
            $('#selectListBox_Group').find('[type="checkbox"]').prop('checked', false);
        }
    });

    $("#includeAllPhases_s").change(function () {
        if (this.checked) {
            $('#selectListBox_Phase').find('[type="checkbox"]').prop('checked', true);
        } else {
            $('#selectListBox_Phase').find('[type="checkbox"]').prop('checked', false);
        }
    });

    $('#exportFile').on('click', function () {
        var annPerPage = parseInt($('#AnnotationsPerPage').val().trim(), 10);

        if (isNaN(annPerPage) && !isFinite(annPerPage)) {
            $('#invalidNumber').removeClass('field-validation-valid').addClass('field-validation-error');
            $('#spinnerGroup').addClass('error');
            return false;
        } else {
            if (annPerPage > 40 || annPerPage < 1) {
                $('#invalidRange').removeClass('field-validation-valid').addClass('field-validation-error');
                $('#spinnerGroup').addClass('error');
                return false;
            }
        }

        filterByOption = $("#filterBy option:selected").text();
        if (filterByOption === '@Resources.lblUsers') {
            var users = $('#selectListBox_InternalUser').find('[type="checkbox"]:checked').length;
            var externalUsers = $('#selectListBox_ExternalUser').find('[type="checkbox"]:checked').length;

            if (users === 0 && externalUsers === 0) {
                //Display the error message for user
                $('#noUserSelected').removeClass('field-validation-valid').addClass('field-validation-error');
                $('#listboxGroup').addClass('error');
                $('.listbox').css('border-color', '#b94a48');
                return false;
            }
            $('#selectListBox_Group').find('input:checkbox').removeAttr('checked');
        }


        if (filterByOption === '@Resources.lblGroups') {
            var groups = $('#selectListBox_Group').find('[type="checkbox"]:checked').length;

            if (groups === 0) {
                //Display the error message for group
                $('#noGroupSelected').removeClass('field-validation-valid').addClass('field-validation-error');
                $('#listboxGroup').addClass('error');
                $('.listbox').css('border-color', '#b94a48');
                return false;
            }
            $('#selectListBox_InternalUser').find('input:checkbox').removeAttr('checked');
            $('#selectListBox_ExternalUser').find('input:checkbox').removeAttr('checked');
        }

        var includeAllVersions = $('#includeAllVersions').is(':checked');

        if ($('#selectListBox_Phase').length > 0 && !includeAllVersions) {
            var selectedPhases = $('#selectListBox_Phase').find('[type="checkbox"]:checked').length;
            if (selectedPhases === 0) {
                //Display the error message for phase
                $('#noPhaseSelected').removeClass('field-validation-valid').addClass('field-validation-error');
                $('#listboxGroup').addClass('error');
                return false;
            }
        }

        openReportPage();
        closeModal();
    });

    $('#dinamycLists').on('change', function () {
        //Remove the error message
        removeListBoxesErrors();
    });

    $('#AnnotationsPerPage').on('keydown', function () {
        removeSpinnerErrorMessage();
    });

    $('.btn-spinner').on('click', function () {
        removeSpinnerErrorMessage();
    });

    function removeSpinnerErrorMessage() {
        //Remove the error message
        $('#spinnerGroup').removeClass('error');
        $('#invalidNumber').removeClass('field-validation-error').addClass('field-validation-valid');
        $('#invalidRange').removeClass('field-validation-error').addClass('field-validation-valid');
    }

    function removeListBoxesErrors() {
        $('.listbox').css('border-color', '#cccccc');
        $('#listboxGroup').removeClass('error');
        $('#noUserSelected').removeClass('field-validation-error').addClass('field-validation-valid');
        $('#noGroupSelected').removeClass('field-validation-error').addClass('field-validation-valid');
        $('#noPhaseSelected').removeClass('field-validation-error').addClass('field-validation-valid');
    }

    function openReportPage() {
        var path = window.AppkitENV.PrintVersionUrl;
        var parameters = {
            SelectedApprovals: approvalId,
            IsFromDashboard: false,
            AnnotationsPerPage: $('#AnnotationsPerPage').val().trim(),
            ReportGroupingID: $("#ReportGroupingID option:selected").val(),
            ReportTypeID: $("#ReportTypeID option:selected").val(),
            ReportFilteringID: $("#filterBy option:selected").val(),
            ReportFormatType: $("input[name='ReportFormatType']:checked").val(),
            IncludeAllVersions: $('#includeAllVersions').is(':checked'),
            ShowSummaryPage : $('input[name="ShowSummaryPage"]:checked').length > 0 ? true : false,
            IncludeAllInternalUsers: $('#includeAllInternalUsers_s').is(':checked'),
            IncludeAllExternalUsers: $('#includeAllExternalUsers_s').is(':checked'),
            IncludeAllGroups: $('#includeAllGroups_s').is(':checked'),
            IncludeAllPhases: $('#includeAllPhases_s').is(':checked'),
            SelectedVersion: $('#select_Version').val().trim(),
            __RequestVerificationToken: $("#formStudioAnnotations input").val()
        };

        if (filterByOption === '@Resources.lblGroups') {
            var arr = $('#selectListBox_Group').find('[type="checkbox"]:checked');

            $.each(arr, function (index) {
                var id = this.id.split('_');
                var groupId = $('input[name=group_' + id[1] + ']').val();
                parameters["AnnotationsReportGroups[" + index + "].IsSelected"] = true;
                parameters["AnnotationsReportGroups[" + index + "].ID"] = groupId;
            });

        } else {
            var userCnt = 0;

            //add internal users to url
            var arr = $('#selectListBox_InternalUser').find('[type="checkbox"]:checked');
            $.each(arr, function () {
                var id = this.id.split('_');
                var userId = $('input[name=user_' + id[1] + ']').val();
                parameters["AnnotationsReportUsers[" + userCnt + "].IsSelected"] = true;
                parameters["AnnotationsReportUsers[" + userCnt + "].ID"] = userId;

                userCnt++;
            });

            //if any, add external users
            var arrExternal = $('#selectListBox_ExternalUser').find('[type="checkbox"]:checked');
            $.each(arrExternal, function () {
                var id = this.id.split('_');
                var userId = $('input[name=user_' + id[1] + ']').val();

                parameters["AnnotationsReportUsers[" + userCnt + "].IsSelected"] = true;
                parameters["AnnotationsReportUsers[" + userCnt + "].IsExternal"] = true;
                parameters["AnnotationsReportUsers[" + userCnt + "].ID"] = userId;

                userCnt++;
            });
        }

        if ($('#selectListBox_Phase').length > 0) {
            var selectedPhases = $('#selectListBox_Phase').find('[type="checkbox"]:checked');
            $.each(selectedPhases, function (index, item) {
                var id = item.id.split('_');
                var phaseId = $('input[name=phaseId_' + id[1] + ']').val();

                parameters["AnnotationsReportPhases[" + index + "].IsSelected"] = true;
                parameters["AnnotationsReportPhases[" + index + "].ID"] = phaseId;
            });
        }

        CallApprovalControllerAnnotations(path, parameters);

        // Post to the provided URL with the specified parameters.
        function CallApprovalControllerAnnotations(path, parameters) {
                var form = $('<form></form>');
                form.attr("method", "post");
                form.attr("action", path);
                form.attr("target", "_blank");

                $.each(parameters, function (key, value) {
                    var field = $('<input></input>');

                    field.attr("type", "hidden");
                    field.attr("name", key);
                    field.attr("value", value);

                    form.append(field);
                });

                // The form needs to be a part of the document in
                // order for us to be able to submit it.
                $(document.body).append(form);
                form.submit();
            }

    }
</script>

