﻿@model GMGColorDAL.CustomModels.Deliver.AddInstance
@using GMGColor.FileUpload
@using GMGColor.Resources;
@using GMG.CoZone.Common;
@using GMGColorDAL

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <div class="alert alert-danger" role="alert">
        <strong>@Resources.lblWarning :</strong>
        @Model.ErrorMessage
    </div>
}

@Html.ValidationSummary(true)
<input type="hidden" id="SelectedApprovalsPageCounts" data-val="false" />
<div id="detailsContainer"><h3>@Resources.lblDeliverIndexPopupDetails</h3><hr/></div>
<div class="control-group">
    <label class="control-label large-label">@Resources.lblDeliverIndexPopupColorProofServer</label>
    <div class="controls dropdown">
        @Html.DropDownListFor(m => m.SelectedCPServerId, new SelectList(Model.ListServers, "ID", "SystemName"), Resources.lblDeliverIndexSelectAColorProofServer, new { @class = "czn-select" })
        @Html.ValidationMessageFor(m => m.SelectedCPServerId)
    </div>
</div>
<div class="control-group">
    <label class="control-label">@Resources.lblDeliverIndexPopupColorProofWorkflow</label>
    <div class="controls dropdown">
        @Html.DropDownListFor(m => m.SelectedCPWorkflowId, new SelectList(Model.ListWorkflows, "ID", "Name"), Resources.lblDeliverIndexSelectAColorProofWorkflow, new { @class = "czn-select" })
        @Html.ValidationMessageFor(m => m.SelectedCPWorkflowId)
    </div>
</div>
<div class="control-group">
    <label class="control-label">@Resources.lblDeliverIndexPopupColorProofPages</label>
    <div class="controls" id="pages">
        <div class="pages-row PagesSingle">
            @Html.RadioButtonFor(m => m.PagesRadioButton, (int)PagesSelectionEnum.Single, new { id = "Pages_Single", @class = "pages-ctrl-left", @checked = "checked" })
            <label class="radioLabel" for="Pages_Single">@Resources.lblDeliverIndexPopupPagesSingle</label>
        </div>
        <div class="pages-row PagesRange">
            @Html.RadioButtonFor(m => m.PagesRadioButton, (int)PagesSelectionEnum.Range, new { id = "Pages_Range", @class = "pages-ctrl-left" })
            <label class="radioLabel" for="Pages_Range" class="pages-ctrl-left">@Resources.lblDeliverIndexPopupPagesRange</label>
            @Html.TextBoxFor(m => m.PagesRangeValue, new { @class = "form-control input-sm", @readonly = "readonly" })
            
        </div>
        <div class="pages-row">
            @Html.RadioButtonFor(m => m.PagesRadioButton, (int)PagesSelectionEnum.All, new { id = "Pages_All", @class = "pages-ctrl-left" })
            <label class="radioLabel" id="page_all_label"  for="Pages_All">@Resources.lblDeliverIndexPopupPagesAll</label>
        </div>
        @Html.ValidationMessageFor(m => m.PagesRangeValue)
        @Html.ValidationMessageFor(m => m.PagesRadioButton)

        @Html.HiddenFor(m => m.PagesRangeHiddenField)
        @Html.ValidationMessageFor(m => m.PagesRangeHiddenField)
        
        @Html.HiddenFor(m => m.PagesRangeMaxPageCountHiddenField)
        @Html.ValidationMessageFor(m => m.PagesRangeMaxPageCountHiddenField)
        <input type="hidden" data-val="false" id="lblPagesCountInfoResource" value="@Resources.lblPagesCountInfo"/>
        <div id="lblMaxPagesCount"></div>
    </div>
</div>
@if (ViewBag.DeliverRole != GMGColorDAL.Role.RoleName.AccountContributor)
{
    <div>
        <div id="notificationContainer"><h3>@Resources.lblNotification <small class="text-muted">@Resources.lblChooseWhoWillBeAbleToViewJob</small></h3></div>
        <hr/>
        @{Html.RenderAction("Share", "Widget", new { @showPanel = true, @isFromDeliver = true, @showPopup = !Model.ShowUploader });}
        <!-- / Sahre -->
        <div class="collaboratorshare-fields control-group row-fluid">
            <div class="controls">
                <h6>@Resources.lblMessageDeliverNotification</h6>
                @Html.TextAreaFor((mdl => mdl.OptionalMessage), new { @id = "deliverMessage", @class = "message span5 message-option-input", @cols = "20", @rows = "4", @tabindex = "7" })
            </div>
        </div>
    </div>
}
<div id="detailsContainer"><h3>@Resources.lblDeliverIndexPopupSettings</h3><hr/></div>
<div class="control-group">
    <div class="@string.Format("{0}", Model.ShowUploader ? "controls" : string.Empty)">
        <div class="pages-row">
            @Html.CheckBoxFor(m => m.IncludeProofMetaInformation, new { id = "IncludeProofMetaInformation", @class = "pages-ctrl-left" })
            <label id="IncludeProofMetaInformation" for="IncludeProofMetaInformation" class="pages-ctrl-left">@Resources.lblDeliverIndexPopupIncludeProofMetaInformation</label>
            @Html.ValidationMessageFor(m => m.IncludeProofMetaInformation)
        </div>
        <div class="pages-row">
            @Html.CheckBoxFor(m => m.LogProofControlResults, new { id = "LogProofControlResults", @class = "pages-ctrl-left" })
            <label id="LogProofControlResults" for="LogProofControlResults" class="pages-ctrl-left">@Resources.lblDeliverIndexPopupLogProofControlResults</label>
            @Html.ValidationMessageFor(m => m.LogProofControlResults)
        </div>
    </div>
</div>

@Html.Hidden("getWorkflowsAction", @Url.Action("GetWorkflows", "Deliver"))
@Html.Hidden("ldgLbl", @Resources.lblLoading)

<script src="@Url.Content("~/Scripts/DeliverAddJob.js")"></script>


