﻿@using GMGColor.Controllers
@using GMGColorDAL
@using GMGColorDAL.CustomModels

@{
    GMGColorBusinessLogic.DbContextBL context = HttpContext.Current.Items[GMGColorDAL.DALUtils.DatabaseContext] as GMGColorBusinessLogic.DbContextBL;

    string colorTheme = "default";
    int accountId = 0;
    string accountRegion = string.Empty;

    GMGColorDAL.Account objAccount = null;
    if (Session["gmg_aid"] != null)
    {
        accountId = int.Parse(Session["gmg_aid"].ToString());
        objAccount = DALUtils.GetObject<GMGColorDAL.Account>(accountId, context);

        accountRegion = objAccount.Region;
    }

    GMGColorDAL.User objUser = null;
    if ((objAccount != null && objAccount.ID > 0) && (Session["gmg_uid"] != null))
    {
        objUser = DALUtils.GetObject<GMGColorDAL.User>(int.Parse(Session["gmg_uid"].ToString()), context);
    }

    AccountSupport accSupModel = null;
    if (objUser != null && objUser.ID > 0 && objAccount != null)
    {
        accSupModel = new AccountSupport(objUser, objAccount.Region, GMGColorDAL.User.GetUserTempFolderPath(objUser.ID, objAccount.ID, objAccount.Region));
    }

    if (objAccount != null)
    {
        var colorScheme = (Theme.ColorScheme)ViewBag.LoggedAccountTheme;
        switch (colorScheme)
        {
            case GMGColorDAL.Theme.ColorScheme.Splash:
                colorTheme = "pink";
                break;
            case GMGColorDAL.Theme.ColorScheme.Juicy:
                colorTheme = "green";
                break;
            case GMGColorDAL.Theme.ColorScheme.Fresh:
                colorTheme = "blue";
                break;
            case GMGColorDAL.Theme.ColorScheme.Moody:
                colorTheme = "white";
                break;
            case GMGColorDAL.Theme.ColorScheme.Default:
            default:
                colorTheme = "default";
                break;
        }
    }

    string version = string.Empty;
    if (Session["VERSION"] == null)
    {
        version = typeof(GMGColor.Controllers.HomeController).Assembly.GetName().Version.ToString();
        Session[AuthController.VersionSessionKey] = version;
    }
    else
    {
        version = Convert.ToString(Session["VERSION"]);
    }
}
<!DOCTYPE html>
<html>
<head>
<title>@ViewBag.SiteName</title>
    <meta name="description" content="" />
    <meta name="author" content="GMG Color" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="@GMGColorConfiguration.AppConfiguration.DataFolderName(accountRegion), @GMGColorConfiguration.AppConfiguration.PathToDataFolder(accountRegion), @GMGColorConfiguration.AppConfiguration.ApprovalJobQueueName">
    <meta http-equiv="Content-Type" charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="@Url.Content("~/Content/ProofStudio/tablet/app.min.css")" rel="stylesheet" media="screen" />
    <script src="@Url.Content("~/Content/ProofStudio/tablet/config.min.js")"></script>
    <script src="@Url.Content("~/Content/ProofStudio/tablet/vendor.min.js")"></script>
    <script src="@Url.Content("~/Content/ProofStudio/tablet/app.min.js")"></script>

    @switch (colorTheme)
    {
        case "green":
        {
            <link rel="stylesheet/less" type="text/less" href="/Content/less/themes/theme-green.less" />
            break;
        }
        case "pink":
        {
            <link rel="stylesheet/less" type="text/less" href="/Content/less/themes/theme-pink.less" />
            break;
        }
        case "blue":
        {
            <link rel="stylesheet/less" type="text/less" href="/Content/less/themes/theme-blue.less" />
            break;
        }
        case "white":
        {
            <link rel="stylesheet/less" type="text/less" href="/Content/less/themes/theme-white.less" />
            break;
        }
        default:
        {
            <link rel="stylesheet/less" type="text/less" href="/Content/less/themes/theme-default.less" />
            break;
        }
    }
    <script src="/Content/js/less/less.min.js" type="text/javascript"></script>

    @{
        string sessionKey = ((Session["SessionKey"] != null) ? Session["SessionKey"].ToString() : "0");
        string sessionTimeOut = (Session["STO"] != null) ? Session["STO"].ToString() : "0";
    }
    <script>
        jQuery.extend(window.ENV, {
            approval_id: '@((Session["StudioApproval_" + sessionKey] != null) ? Session["StudioApproval_" + sessionKey].ToString() : "0")',
            hostname: '@ViewBag.RestApiHostURL',
            namespace: '@ViewBag.Namespace',
            key: '@ViewBag.SecurityKey',
            user_key: '@ViewBag.UserKey',
            URL: '@((Session["StudioReturnURL_" + sessionKey] != null) ? Session["StudioReturnURL_" + sessionKey].ToString() : "/Auth/Login")',
            default_locale: 'en-US',
        });            
    </script>
    @{
        string logoPath = accountId > 0 ? @GMGColorDAL.Account.GetLogoPath(accountId, GMGColorDAL.Account.LogoType.HeaderLogo, context) : "/content/img/nologo-122px-33px.png";
    }
    <style type="text/css">
        .czn-logo {
            background: url('@logoPath') no-repeat 50% 50%;
        }
    </style>

</head>
<body>
  <!--[if lte IE 8]>
    <p class="browsehappy">
      You are using an <strong>outdated</strong> browser. Please
      <a href="http://browsehappy.com/">upgrade your browser</a>
      to improve your experience.
    </p>
  <![endif]-->

  <script>
      window.App = require('appkit/main')['default']('appkit');
  </script>
    <div class="modal czn-loading-screen" id="czn-loading-screen" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Loading...</h4>
                </div>
                <div class="modal-body">
                    <div class="progress progress-striped active">
                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>