﻿@using System.Web.Mvc.Html
@using GMGColorBusinessLogic
@using GMGColor.Resources
@using GMGColorDAL.CustomModels

<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.SiteName</title>
        <meta name="description" content="" />
        <meta name="author" content="GMG Color" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="GMGCozone">
        <meta http-equiv="Content-Type" charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

        <link rel="shortcut icon" href="@UserBL.GetUserFavIconPath(ViewBag.LoggedAccount, ViewBag.LoggedUserFavIcon)"/>

        @{
            Bundles.Reference("proofStudioVendorCss");
            Bundles.Reference("proofStudioAppCss");
            Bundles.Reference("proofStudioVendor");
            Bundles.Reference("proofStudioApp");
        }
        
        @Bundles.RenderStylesheets("head")

        @{ 
            string colorTheme = ViewBag.ColorTheme;

            switch (colorTheme)
            {
                case "green":
                    {
                        <link rel="stylesheet/less" type="text/less" href="/Content/less/themes/theme-green.less" />
                        break;
                    }
                case "pink":
                    {
                        <link rel="stylesheet/less" type="text/less" href="/Content/less/themes/theme-pink.less" />
                        break;
                    }
                case "white":
                    {
                        <link rel="stylesheet/less" type="text/less" href="/Content/less/themes/theme-white.less" />
                        break;
                    }
                case "blue":
                    {
                        <link rel="stylesheet/less" type="text/less" href="/Content/less/themes/theme-blue.less" />
                        break;
                    }
                default:
                    {
                        <link rel="stylesheet/less" type="text/less" href="/Content/less/themes/theme-default.less" />
                        break;
                    }
            }
        }
    </head>
    <body>
        <!--[if lte IE 8]>
            <p class="browsehappy">
            You are using an <strong>outdated</strong> browser. Please
            <a href="http://browsehappy.com/">upgrade your browser</a>
            to improve your experience.
            </p>
        <![endif]-->

        <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
        <script src="@Url.Content("//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")" type="text/javascript"></script>
        <script type="text/javascript">
            if (typeof jQuery === 'undefined') {
                document.write(unescape('%3Cscript%20src%3D%22/Scripts/jquery-1.8.3.min.js%22%3E%3C/script%3E'));
            }
        </script>
        <script src="/Content/js/less/less.min.js" type="text/javascript"></script>
        <script src="/Content/js/themes.js" type="text/javascript"></script>
        <script src='@Url.Content("~/Scripts/jquery.signalR-2.2.1.min.js")'></script>
        <script src='@Url.Content("~/signalr/hubs")'></script>
        <script src='@Url.Content("~/Scripts/hub.js?v=1")'></script>

        <script type="text/javascript">
            window.ENV = window.AppkitENV = {
                "environment": "production",
                "baseURL": "none",
                "rootURL": "Studio/Html",
                "locationType": "hash",
                "EmberENV": {
                    "FEATURES": {}
                },
                "APP": {

                }
            };
            var signlR =
            window.Appkit = window.AppkitENV = {
                approval_id: '@ViewBag.ApprovalId',
                approval_guid: '@ViewBag.ApprovalKey',
                approvalFirstPageId: '@ViewBag.ApprovalFirstPageId',
                approvalType: '@ViewBag.ApprovalType',
                approvals:'@ViewBag.Approvals',
                versionsIds: '@ViewBag.VersionsIds',
                explicitVersionsToCompare: '@ViewBag.ExplicitVersionsToCompare',
                hostname: '@ViewBag.RestApiHostURL',
                namespace: '@ViewBag.Namespace',
                key: '@ViewBag.SecurityKey',
                user_key: '@ViewBag.UserKey',
                user_name: '@ViewBag.UserName',
                session_key: '@ViewBag.PSSessionKey',
                URL: '@ViewBag.Url',
                default_locale: '@ViewBag.UserLocaleName',
                singularModels: ['user', 'account', 'approvaldecision', 'softproofingstatus', 'versionlocking', 'copy-annotation', 'update-annotation-status', 'update-annotation-comment'],
                singleRecord: 'singleRecord',
                NewVersionUrl: '@ViewBag.NewVersionUrl',
                NewVersionUrlTemplate: '@ViewBag.NewVersionUrlTemplate',
                DownloadFileUrl: '@Html.Raw(ViewBag.DownloadFileUrl)',
                is_external_user: @(Convert.ToBoolean(ViewBag.IsExternal) ? "true" : "false"),
                PrintVersionUrl: '@(ViewBag.PrintVersionUrl)',
                HasDeliverAccess:  @(Convert.ToBoolean(ViewBag.HasAccessToDeliver) ? "true" : "false"),
                signalRConnection: $.connection,
                substituteLoggedUser: ['@ViewBag.substituteOwnerUser','@ViewBag.substituteLoggedUser','@ViewBag.substituteLoggedUserName'],
                version: 'v2.2.1.10',
                ExternalSessionKey: '@ViewBag.externalSessionKey',
                selectedHtmlPageId: '@ViewBag.selectedHtmlPageId',
                IsfromProjectFolder: @(Convert.ToBoolean(ViewBag.IsfromProjectFolder) ? "true" : "false"),
                ProjectFolderID: '@ViewBag.ProjectFolderID',
                SelectedApprovalTypes:  '@ViewBag.SelectedApprovalTypes',
                ScrollTop: '@ViewBag.ScrollTop',
                SelectedAnnotationID: '@ViewBag.SelectedAnnotationID',
                ShowSubstrateFromICCProfile: @(Convert.ToBoolean(ViewBag.ShowSubstrateFromICCProfileInProofStudio) ? "true" : "false"),
                ApprovalZoomLevel: '@ViewBag.ApprovalZoomLevel',
                IsApprovalZoomLevelChangesEnabled: '@ViewBag.IsApprovalZoomLevelChangesEnabled',
                IsMeasurementsInInches: @(Convert.ToBoolean(ViewBag.IsMeasurementsInInches) ? "true" : "false"),
                html2CanvasStringBase64: '',
            };

            

            if (window.addEventListener) {
                window.addEventListener("message", handleMessage);
            } else {
                
                window.attachEvent("onmessage", handleMessage);
            }
            function handleMessage(event) {
                window.AppkitENV.html2CanvasStringBase64 = event.data;
            }
                
        </script>

        @*library used for Windows 7 IE9 for CORS requests*@
        @*<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-ajaxtransport-xdomainrequest/1.0.3/jquery.xdomainrequest.min.js" type="text/javascript"></script>*@

        <div class="modal czn-loading-screen" id="czn-loading-screen" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
            <div class="loading-icon" style="align-self: center;"></div>
        </div>

        <div class="modal czn-no-access-screen" id="czn-no-access-screen" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">@Resources.lblNoAccessScreenTitle</h4>
                    </div>
                    <div class="modal-body">@Resources.lblNoAccessScreenBody</div>
                    <div class="modal-footer">
                        <button class="btn btn-default btn-cancel btn-danger">@Resources.lblNoAccessScreenButtonCaption</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="czn-modal-overlay"></div>
        
        @if ((bool)@ViewBag.HasAccessToDeliver)
        {
            @Html.Partial("ModalSubmitToDeliver", new ViewDataDictionary { { "approval_Id", (int)@ViewBag.ApprovalId } })
        }

        @Bundles.RenderScripts("head")
        @Html.Partial("AnnotationsReportFilters", new AnnotationsReportFilters() { IsFromDashboard = false, AnnotationsPerPage = 10 })

       
    </body>
</html>
