﻿@model GMGColorDAL.CustomModels.Dashboard
@{    
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
}
<div class="widget">
    <div class="widget-header">
        <h3>@ViewBag.Header</h3>
    </div>
    <!-- /widget-header -->
    <div class="widget-content">
        <div class="row-fluid">
            @using (Html.BeginForm(string.Empty, "Studio", FormMethod.Post, new { id = "formMain", @class = "form-vertical" }))
            {
                @Html.AntiForgeryToken()

            }
        </div>
        <!-- /row-fluid -->
    </div>
    <!-- /widget-content -->
</div>
<!-- /widget -->
@if (Model.IsWelcome)
{
    @Html.Partial("AccountWelcome", Model.objAccount)
    <script type="text/javascript">
        this.modelDialog = 'modalDialogWelcome';
    </script>
}