﻿@using GMGColor.Resources
@using GMGColor.HtmlHelpers
@using GMGColorDAL.CustomModels
@model GMGColorDAL.CustomModels.Deliver.AddInstance

@Html.Hidden("hdnGetApprovalsPageCount", @Url.Action("GetApprovalsPageCount", "Approvals")) 
@Html.Hidden("hdnLoadSubmitToDeliverPopup", @Url.Action("LoadSubmitToDeliverPopup", "Approvals")) 


@{
    Bundles.Reference("proofstudio-sendJobToDeliverStyles");
    Bundles.Reference("proofstudio-sendJobToDeliverScripts");
}

<div id="modalDialogSubmitToDeliverFromPS" class="modal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    @using (Ajax.BeginForm("AddDeliverJobFromPS", "Approvals", new { }, new AjaxOptions() { OnComplete = "AddDeliverJobCompleted" }, new { id = "formAddDeliverJob", @class = "form-horizontal", autocomplete = "off" }))
    {
            @Html.AntiForgeryToken()
            <div class="modal-sm modal-position">
                <div class="modal-content" style="width: 560px">
                    <div class="modal-header">
                        <h3 class="modal-title" style="width: auto; display: inline">@Resources.btnAddNewDeliverJob</h3>
                        <a href="javascript:void(0);" class="close" data-dismiss="modal" title="@Resources.btnClose" widget-toggle="closedeliverpopup" onclick="ResetDeliverModel()";>&times;</a>
                    </div>
                     <div class="modal-body">
                        @*Filled by Asynchronous call*@
                        <img id="deliverPopUpLoading" class="hidden" src="/Content/img/loading-icon.gif" alt="@Resources.lblLoading" />
                     </div>
                     <div class="modal-footer">
                        <button class="btn btn-primary" type="submit" id="AddDeliverJob" data-loading-text="@Resources.btnSaving">@Resources.btnAddColorProofInstance</button>
                    </div>
                </div>
                @Html.Hidden("SelectedApprovalJobs", ViewData["approval_Id"], new { @data_val = false })  
            </div>
    }
</div>