<button class="btn btn-default btn-sm" {{action 'zoomOut'}} {{bind-attr title="lblZoomOut"}}>
    <span class="fa fa-picture-o"></span>
</button>

<span class="percentagesValues">
    <span class="NotTileSizeZoom">
      {{input type="text" value=zoomInPercentages enter='changeZoomTo' focus-out='changeZoomTo'}}%
    </span>

  <ul class="percentages-dropdown-content">
    {{#each zoomLevel in zoomLevels}}
      {{#if zoomLevel.visible}}
        <li {{bind-attr class="zoomLevel.isChecked:checkedZoom:fractionalOrNonFractionalZoom"}} {{action "changeZoomTo" zoomLevel.zoom}}>
          {{#if zoomLevel.isChecked}}
            <i class="fa fa-check fa-fw" aria-hidden="true"></i>
          {{/if}}

          {{zoomLevel.displayedZoom}} %
        </li>
      {{/if}}
    {{/each}}
  </ul>
</span>

<button class="btn btn-default btn-sm" {{action 'zoomIn'}} {{bind-attr title="lblZoomIn"}}>
    <span class="fa fa-picture-o fa-lg"></span>
</button>

{{#if enableHighResolution}}
{{#if highResolution}}
    <button class="btn btn-default btn-sm czn-fa-disabled" {{bind-attr title="lblHighResOn"}}>
        <span class="fa fa-toggle-on fa-lg"> UHR</span>
    </button>
{{else}}
    <button class="btn btn-default btn-sm" {{action 'changeToHigherResolution'}} {{bind-attr title="lblHighResOff"}}>
        <span class="fa fa-toggle-off fa-lg"> UHR</span>
    </button>
{{/if}}
{{/if}}
