<div class="modal-overlay-add-approvals">
</div>
<div id="addApprovalsDialog" class="unselectable addApprovalsModal modal-sm" tabindex="-1" role="dialog" data-backdrop="false" aria-hidden="true">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Close" {{action "cancel"}}><span aria-hidden="true">&times;</span></button>
            <h4 class="widget-title">{{title}}</h4>
        </div>
        <div class="modal-body">
            <div class="clearfix" />
            {{#if showLoadingTreeData}}
                <div class="czn-add-approvals-left-centered pull-left">
                    <div class="loading-icon loading-small-size" style="margin: auto"></div>
                </div>
            {{else}}
                <div class="czn-add-approvals-left pull-left">
                    <div class="czn-tree-refresh-icon">
                    <span class="tooltipCustom czn-icon-container">
                        <span class="czn-refresh" {{action "refreshTree"}}>
                            <i class="fa fa-refresh"></i>
                        </span>
                        <span class="tooltiptext tooltiptextRefreshTree">
                          <span class="missmatch">{{loadTree}}</span>
                        </span>

                    </span>
                      </div>
                  <div class="czn-add-approvals-left-tree">
                    {{render "image/addapprovals/tree"}}
                  </div>
                </div>
            {{/if}}
            <div class="czn-vertical-line pull-left"></div>
            <div class="czn-select-approvals pull-right">
                <div class="czn-approvals-refresh-icon">
                    {{#unless showLoadingTreeData}}
                      <span class="tooltipCustom czn-refresh pull-left" {{action "refreshApprovals"}}>
                          <i class="fa fa-refresh"></i>&nbsp;
                          <span class="tooltiptext tooltiptextRefreshAllApprovals">
                            <span class="missmatch">{{loadAllApprovals}}</span>
                          </span>
                      </span>
                    {{/unless}}
                    <span class="pull-left noOfApprovals">({{noOfLoadedApprovals}})</span>

                    <span class="pull-left showLoadingApprovals">
                    {{#if showLoadingApprovals}}
                        <div class="loading-icon loading-small-size"></div>
                    {{/if}}
                    </span>

                    <div id="searchApprovalsInTree" class="pull-left form-group">
                        {{input id="searchInput" class="form-control" value=searchParameter placeholder=searchText}}
                    </div>
                </div>
                <div class="czn-approvals-list">
                  <ul class="nav czn-add-approvals-right center">
                    {{#each approval in filteredApprovals}}
                      {{render "image/addapprovals/approval-item" approval}}
                    {{/each}}

                    {{#if loadMoreCase}}
                      <li class="czn-button-more-approvals">
                          <button class="btn btn-default" {{action "loadMoreApprovals"}}>{{loadMore}}</button>
                      </li>
                    {{/if}}
                  </ul>
                </div>
            </div>
            <div class="clearfix" />
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal" {{action "loadApproval"}} {{bind-attr disabled=noApprovalIsSelected}}>{{yes}}</button>
            <button type="button" class="btn btn-default" data-dismiss="modal" {{action "cancel"}}>{{no}}</button>
        </div>
    </div>

</div>
