<li {{bind-attr class=":czn-approval-item :czn-profile isSelected:active"}} {{action "selectApproval" approval.id}} {{bind-attr title="approval.Name"}}>
    {{#if isSelected}}
        <div {{bind-attr class=":czn-approval-checkbox-container"}}>
          <span {{bind-attr class=":fa :fa-check-square-o"}}> </span>
        </div>
        <div {{bind-attr class=":czn-approval-thumbnail-container"}}>
          <img {{bind-attr src="approval.Thumbnail"}} {{bind-attr class=":czn-version-thumbnail"}}/>
        </div>
    {{else}}
        <div {{bind-attr class=":czn-approval-checkbox-container"}}>
          <span {{bind-attr class=":fa :fa-square-o"}}> </span>
        </div>
        <div {{bind-attr class=":czn-approval-thumbnail-container"}}>
          <img {{bind-attr src="approval.Thumbnail"}} {{bind-attr class=":czn-version-thumbnail"}}/>
        </div>
    {{/if}}
    <div {{bind-attr class=":czn-approval-details-container"}}>
      <span {{bind-attr class=":czn-approval-name"}}> {{approval.Name}} <br> <span {{bind-attr class=":czn-approval-owner"}}> {{approval.Owner}}</span></span>
    </div>
</li>

